[2017-10-05 13:28] Lojjs commented on #5002
Like @thobe wrote above, we in the Cypher Team have noticed this issue but it is only one of many items on a long list of feature requests. Right now, this is not a priority feature but let me come back to you if that changes.

[2017-10-05 13:52] Lojjs commented on #6589
@rationalism Are you still having an issue here or are you satisfied with the answers you got (I know it have been a long time since you posted this)? If I don't receive any answer from you I will close the issue, but feel free to re-open it or create a new issue if you need more help.

[2017-10-05 13:57] Lojjs commented on #6030
@dhimmel I'm very sorry about our extreme late reply, but I just want to notify you about that we in the Cypher team have noticed this issue and will review the priority of this and consider it for future development.

[2017-10-05 14:03] sherfert commented on #8353
We will review the priority of this and consider it for future development.

[2017-10-05 14:25] craigtaverner commented on #1961
This looks like it was fixed by the work we did last year in https://github.com/neo4j/neo4j/commit/2c5c3dd. This is similar to, but not the same work that we did for shortestPath the year before. The concept is that if we have `all()` or `none()` functions that apply to the relationships traversed in the varlength pattern, we can extract the inner predicate and apply it during traversal, with dram

[2017-10-05 14:25] #1961 closed

[2017-10-05 14:39] sherfert commented on #7593
This is heavily discussed be in Cypher Implementers Meetings. Have a look at https://github.com/opencypher/openCypher/issues/182 and http://www.opencypher.org/
It will have to go through there before we can implement that.

[2017-10-05 14:39] #7593 closed, assigned to nobody

[2017-10-05 14:42] sherfert commented on #7518
That was fixed here: https://github.com/neo4j/neo4j/pull/8892

[2017-10-05 14:42] #7518 closed, assigned to nobody

[2017-10-05 14:43] sherfert commented on #7593
Better link: https://github.com/boggle/openCypher/blob/CIP2017-06-18-multiple-graphs/cip/1.accepted/CIP2017-06-18-multiple-graphs.adoc

[2017-10-05 15:41] OliviaYtterbrink commented on #2556
Given the OpenCypher grammar this is the intended behaviour. Any request to change this should be directed to https://github.com/opencypher/openCypher

[2017-10-05 15:48] davidegrohmann commented on #2556
Can we at least provide a decent error message?

[2017-10-05 16:06] cleishm commented on #2556
@davidegrohmann That should be easy enough. If the AST ends up with a function named 'not', then it's an error.

[2017-10-05 16:07] OliviaYtterbrink commented on #2556
That we should be able to do

[2017-10-05 18:51] systay commented on #230
@jexp It's done during expansion, not after.

https://gist.github.com/systay/98ba8a4f81291736e354ecf7f4f39ede

[2017-10-06 07:56] #6790 closed, assigned to nobody

[2017-10-06 08:20] sherfert commented on #7024
Upgrading to newer versions usually improves the speed. This is quite old, do you still need assisstance @BoasE ?

[2017-10-06 08:41] chrisvest commented on #2620
The consistency checker takes a long time to run, so I can't imagine we'd ever want to do it on startup. At some point we'd like to make store upgrade an explicit neo4j-admin command (at least we've been contemplating this) and it would make sense to add it as an option there. Online backup has now had flags for consistency checking for a while, so Enterprise customers can do this today by just ta

[2017-10-06 08:45] sherfert commented on #6796
Hi. Let us look at the query you posted including the `WHERE` with multiple `OR`s:

[code]

Inside one and the same `MATCH` or `OPTIONAL MATCH` relationship uniqueness is enforced. Since you are repeating the same edge `[:Reference{Id:'F08'}]` twice there won't be a single MATCH (therefore the optional match returns null).

I don't fully understand what you are trying to achive with line 2 and 3 o

[2017-10-06 08:47] chrisvest commented on #2280
This was fixed in 2.2.0 by aaea4e1c8c3b42109ed7da966d49f1bac11b6c2c

[2017-10-06 08:47] #2280 closed

[2017-10-06 08:56] chrisvest commented on #6677
Closing because it looks like the original question got answered.

[2017-10-06 08:56] #6677 closed, assigned to nobody

[2017-10-06 09:00] sherfert commented on #6554
Thanks for the enhancement suggestion. This will probably not get a high priority in our workflow. Until then, please use the suggested workaround.

[2017-10-06 09:01] chrisvest commented on #8150
Looks like this has been fixed.

[2017-10-06 09:01] #8150 closed, assigned to nobody

[2017-10-06 09:02] chrisvest commented on #8096
Closing until we get a complete stack trace from a recent version.

[2017-10-06 09:02] #8096 closed, assigned to nobody

[2017-10-06 09:12] chrisvest commented on #8307
This should be helped by #9465. Deadlocks comes with the ACID transaction territory, though, especially now that we no longer have a single lock for the whole schema, but lock individual labels instead.

[2017-10-06 09:12] #8307 closed, assigned to nobody

[2017-10-06 09:46] thobe commented on #5092
This is now tracked as a Cypher feature request: opencypher/openCypher#260

[2017-10-06 10:02] Meatballs1 commented on #10107
Running with 8g/12g:

[code]

[code]

[2017-10-06 10:04] Meatballs1 commented on #10107
[code]

[2017-10-06 10:27] Meatballs1 commented on #10107
n.b. Im not familiar with netty but I would expect to see a call to buffer.release() at some point. I can see it in close() which removes this.buffer. However at:

https://github.com/neo4j/neo4j/blob/3.3/community/bolt/src/main/java/org/neo4j/bolt/v1/transport/ChunkedOutput.java#L74

we take a ref to `this.buffer` in `out` but never `out.release()` ?  Does `writeAndFlush` release out for us?

With

[2017-10-06 11:56] systay commented on #10153
This is a really interesting and cool query. I'm sure we could plan it faster, but I can't see a quick fix for this. Unfortunately, we might not get to this until some time in the future.

[2017-10-06 14:27] sherfert commented on #5901
I think a couple of things have changed since this has been reported, but the issue is still valid, unfortunately.

When giving your file to `cypher-shell` like: `cypher-shell < ~/Downloads/comment.cypher` that works and gives results.

In `neo4j-shell`, when typing the command without comments we get the same results, with comments we get the error message you have mentioned above: `Warning: Exit

[2017-10-06 14:48] sherfert commented on #4492
Am closing because of the lacking response. Feel free to reopen if that is still an issue

[2017-10-06 14:48] #4492 closed, assigned to sherfert

[2017-10-06 14:54] #10100 closed, assigned to OliviaYtterbrink

[2017-10-06 15:03] sherfert commented on #3911
@antonio-castellon Sorry for replying so late. Is this still an issue we can help with? If yes, please reopen.

[2017-10-06 15:03] #3911 closed

[2017-10-06 15:08] sherfert commented on #819
The remaining language feature request is something that should be re-directed to the opencypher repository: https://github.com/opencypher/openCypher

[2017-10-06 15:38] GiuliaBusnelli commented on #9597
Hi @chrisvest, @jexp
I am a colleague of @zunio and I am wondering if you can help us on our issue with cache warm-up.
I collected some other data, here they are:

### Neo4j v3.0.1, with graph imported through BatchInserter Java API v3.0.1

**Graph dimensions:**

- total: 19G
- /index folder: 4K
- /schema folder: 2.6G
- `*store.db*`: 17G of which 11G for neostore.propertystore.db file
- `*transact

[2017-10-06 17:15] Meatballs1 commented on #10107
n.b. I disabled TLS on the client and server for bolt as I saw some other netty issues with leaks with it enabled. It talks for a while then I get a massive spam of the following exceptions in the log:

[code]

Client gets the following and gives up.

[code]

[2017-10-06 20:11] freethejazz opened #10221 "neo4j-import: Support glob patterns"
When running `neo4j-import` (or it's eventual successor, `neoj-admin import`), it's possible to list several CSV files per node or relationship being created:
[code]

This feature is super helpful but I've found myself wanting to be able to add many CSVs programmatically, which can be quite cumbersome. For example, when writing CSVs using spark, you end up with a directory with many CSV files (`pa

[2017-10-07 01:04] Alan-R opened #10222 "Trivial operation hangs with timeout - new behavior with 3.2.6"
- USING PYTHON VERSION 2.7.12 (default, Nov 19 2016, 06:48:10)
- [GCC 5.4.0 20160609]
- USING NEO4J VERSION (3, 2, 6)
- USING py2neo VERSION 3.1.2
    "operating-system": "GNU/Linux",
    "machine": "x86_64",
    "processor": "x86_64",
    "hardware-platform": "x86_64",
    "kernel-name": "Linux",
    "kernel-release": "4.4.0-96-generic",
    "kernel-version": "#119-Ubuntu SMP Tue Sep 12 14:59:54

[2017-10-07 18:39] bradnussbaum opened #10223 "java.io.IOException: java.util.concurrent.TimeoutException: Idle timeout expired: 30000/30000 ms"
I've been seeing this issue for a while in debug logs and believe I tracked it to limited bandwidth connections loading the neo4j browser. Over a limited bandwidth connection the jetty server is terminating downloads that take too long to complete.

- Neo4j version: 3.3.0-rc1
- Operating system: Ubuntu 16.04

### Steps to reproduce
1. Limit web connection download speed so that app/vendor.js takes

[2017-10-07 21:03] graham-macleod commented on #7086
The way I resolved this was to manually create the /var/run/neo4j directory and chgrp to neo4j.

[2017-10-08 02:09] jexp commented on #9597
That doesn't load all the properties, e.g. heavy properties are only loaded on access.
Other properties are only loaded if their block is loaded, which doesn't happy if the requested property is found earlier.

[2017-10-09 06:48] sherfert commented on #997
First of all sorry for responding so late. Thanks for the report, this problem should have been fixed in more recent versions of neo4j.

[2017-10-09 06:48] #997 closed

[2017-10-09 06:52] sherfert commented on #10091
Yes, it seems fixed.

[2017-10-09 06:52] #10091 closed, assigned to nobody

[2017-10-09 06:57] sherfert commented on #9917
Hi @ddesna
I agree deleting this folder every time seems unreasonable. Have you tried updating to a newer version of neo4j and verify if the issue is gone there? If there is an actual issue with 2.3 it is unlikely going to get fixed.

[2017-10-09 07:05] sherfert commented on #9784
Hi. This has been fixed in 3.2.6.

[2017-10-09 07:05] #9784 closed, assigned to nobody

[2017-10-09 07:25] sherfert commented on #9571
Thanks for the report. It still occurs when using the rule planner, even on newer versions, though.

[2017-10-09 07:29] sherfert commented on #9361
Hi @naniya
Such questions are better redirected to Stackoverflow.

You can use a Cypher query for your purpose. It will look like:

`MATCH (n)-[*]-(m) RETURN n,m`

Be aware this operation does not limit the length of the path and can therefore be quite expensive in large graphs. For the Java API in general, consult the manual https://neo4j.com/developer/java/

[2017-10-09 07:29] #9361 closed, assigned to nobody

[2017-10-09 07:37] eastlondoner opened #10225 "OSX Build Instructions don't mention java8 requirement"
As of September java 9 is the current version of java. OSX users on who have installed jdk with homebrew will now have java 9.

This project uses maven plugins that are not compatible with java 9 and `mvn install` fails with java API exceptions when mvn is using java 9.

I think that wither the README should be changed to explicitly warn OSX users that they should be using java 8 or the maven plug

[2017-10-09 07:50] sherfert commented on #9170
Thanks for that feature request. It will be evaluated for future work.

[2017-10-09 07:51] #9109 closed, assigned to nobody

[2017-10-09 07:56] sherfert commented on #9035
Thanks for the report.

Please try a newer version of neo4j. I just tried 3.2.6 and the error does not appear there.

[2017-10-09 07:56] #9035 closed, assigned to nobody

[2017-10-09 08:09] sherfert commented on #9031
This is addressed in a CIR to openCypher: https://github.com/opencypher/openCypher/issues/174

[2017-10-09 08:09] #9031 closed, assigned to sherfert

[2017-10-09 08:36] zunio commented on #9597
Hi @jexp ,
is there a way to force the loading of all properties?

[2017-10-09 09:16] tim-hanssen opened #10230 "Database has encountered ... (tx recovery/restart) doesn't mark server offline"
When the Neo4j server runs out of disk space an exception "Database has encountered some problem, please perform necessary action (tx recovery/restart)" is triggered.

From that moment the server will not process any requests. But the server keeps marked as 'available' in the cluster.

**Config**
- Neo4j version: 3.2.2 Enterprise
- Operating system: Ubuntu 14.04 LTS (trusty) 64bit
- API/Driver: Cy

[2017-10-09 10:58] jexp commented on #9597
Depends for non-long strings / arrays you can use `call apoc.warmup.run(true)` which runs also in parallel.

[2017-10-09 12:01] zunio commented on #9597
we've tried also the apoc but the problem remains

[2017-10-09 12:41] chrisvest commented on #9597
After these warmups, do you see read IO when running queries, and if so, to what files?

[2017-10-09 12:52] TomMaier1 opened #10234 "Process dying after a few seconds due to missing regkey"
Hello,

I would like to report the following bug.

- Neo4j version: 3.2.6
- Operating system: Windows 10 RS2
- API/Driver: none
- **Steps to reproduce**
- Expected behavior
NeoJS launching successfully
- Actual behavior
Process NeoJS starting but dying after a few seconds

After a short troubleshooting I found out that NeoJS was trying to read a regkey that didn't exist

HKU\S-1-5-21-1659004503-20

[2017-10-09 15:29] zunio commented on #9597
No, I can't see any IO.

I checked with iotop (-p).

On the other hand, if I execute the pageRankWithCypher (with write: true )all the graph is cached.

[2017-10-09 15:57] albertoperdomo commented on #2620
Hey @chrisvest ! Thanks for looking at this old issue!

Agreed.

Explicit store upgrades seems good to me. I could also imagine having a config var that allows/disallows implicit store upgrades.

Makes sense.

This would be ideal. Is this feasible? The consistency check itself is pretty resource intensive, I don't know about the side effects it could have on a server running in parallel on the sam

[2017-10-09 16:11] petraselmer commented on #6585
@rationalism & @Lojjs  The following file (and associated PR) encompasses the `CREATE UNIQUE` -> `MERGE` pathway (along with a whole bunch of removal notices): [link to file](https://github.com/petraselmer/neo4j-documentation/blob/1d9275a098393353e03569a506904bc7b8f27ee9/cypher/cypher-docs/src/docs/dev/ql/create-unique/index.asciidoc )

It ought to be published very soon in the Developer Manual.

[2017-10-09 16:51] nicktrav opened #10238 "Thoughts on updating to Jetty 9.4.x or relocating the classes via shading rules"
Jetty 9.4 has been available for a while now (Jan 2017). The neo4j project currently uses the 9.2.x branch.

Internally we run services that depend on Neo4j in a monorepo setup, so all third-party dependencies are pinned to a specific version. We use Jetty as our web server, which means that to enable us to update to Jetty 9.4, we either have to shade out the version of Jetty used in neo4j, or upd

[2017-10-09 18:09] szarnyasg opened #10239 "Java driver cannot pass nodes as parameters"
I would like to use `WITH` to pass nodes (returned by previous queries) to the next query. It works fine in the embedded version, but does not work with the Java driver.

We had a [discussion](https://neo4j-users.slack.com/archives/C08J11DC6/p1507513663000043) on this in the Neo4j User slack with @jexp in #help-cypher.

- Neo4j version: 3.2.1
- Operating system: Ubuntu 16.04
- API/Driver: Cypher/J

[2017-10-10 08:18] chrisvest commented on #2620
@albertoperdomo We had a discussion about this internally, and because of the capabilities of online backup, we decided to not prioritise this for the time being 😕

[2017-10-10 08:29] chrisvest commented on #10238
In my opinion, that's the cost of embedding. You can in your own project create a module dedicating to pulling in the Neo4j dependencies and expose itself in whatever shaded form you prefer, and then the rest of your project depends on that. That way you shouldn't need to outright fork Neo4j. Likewise if you exclude Jetty from the transitive Neo4j dependencies and enforce your own version, assumin

[2017-10-10 08:55] technige commented on #10239
Nodes, relationships and paths were deliberately excluded from the list of supported parameter types when Bolt was introduced. The developer manual explicitly lists the types that are supported:
https://neo4j.com/docs/developer-manual/current/drivers/cypher-values/#driver-neo4j-type-system

While this works in embedded for historical reasons, the same functionality cannot be unambiguously applied

[2017-10-10 09:57] albertoperdomo commented on #2620
@chrisvest Understand! ¯\_(ツ)_/¯

[2017-10-10 10:17] LostKali commented on #1827
@jakewins so is it impossible to customize neo4j logging in version 3+?

[2017-10-10 11:26] lutovich commented on #10107
@Meatballs1 in Netty party that interacts with buffer last is responsible for releasing it. In case of outbound messages it'll be the last handler in the outbound pipeline, which is SslHandler. I guess it might fail to release because of the `OutOfDirectMemoryError`.

How many application threads do you have? Could you please attach full `debug.log` from run with disabled TLS?

It would be great i

[2017-10-10 15:49] ronlut opened #10251 "InterruptedException while creating index"
- Neo4j version: 3.2.6
- Operating system: Ubuntu 16.04.1
- Expected behavior: Index creation
- Actual behavior: Index creation fails after less than 2 minutes

So, I'm trying to create a simple single-property index on the _value_ property of _:Node_ using:
`create index on :Node(value)`
but after less than 3 minutes i'm getting an InterruptedException and it fails.

Log:

2017-10-10 15:36:26.549

[2017-10-10 16:19] nicktrav commented on #10238
Not exactly sure why this ticket was closed so hastily? I was hoping for an answer to my questions.

Opinions about other workflows and build styles aside, is there any plan to at least update the version of Jetty used in Neo4j?

While the 9.2.x branch is still actively developed, both 9.3 and 9.4 have been available for some time now. We're more than happy to offer a patch to update Neo4j to 9.4

[2017-10-10 20:10] senica opened #10254 "Missing bolt configuration documentation"
Here: https://neo4j.com/docs/operations-manual/3.1/reference/configuration-settings/

I know of three that are not documented on the website...at least not that I can see

This changes the address that the browser uses to connect to bolt
**dbms.connector.bolt.advertised_address=:7688**

This changes the address that the server listens to bolt on. This and the top address might be different, if say

[2017-10-11 09:54] sherfert commented on #2185
Closing now. Feel free to reopen if issue is still up to date.

[2017-10-11 09:54] #2185 closed

[2017-10-11 09:55] sherfert commented on #2308
Closing this issue for now. Please reopen if this is still an issue.

[2017-10-11 09:55] #2308 closed

[2017-10-11 09:56] sherfert commented on #1430
Closing for now. Please reopen if needed.

[2017-10-11 09:56] #1430 closed

[2017-10-11 10:06] chrisvest commented on #10238
We tried upgrading a while back ourselves a little while back and ran into problems in Jetty itself. We are waiting for them to produce a 9.4 release that includes this fix: https://github.com/eclipse/jetty.project/commit/7768a781bec1c0686906649f241ead99776a40cd

I think you can continue with your fork work around until we have a release out with Jetty 9.4.

A PR with your upgrade might interest @

[2017-10-11 10:56] #8201 closed, assigned to sherfert

[2017-10-11 11:23] spacecowboy commented on #8201
Fixed in https://github.com/neo4j/neo4j/pull/10249

[2017-10-11 15:44] chaudharyakash opened #10266 "Neo4j Match (n:Label) return n Empty result while such nodes are present in db."
- Neo4j version:  3.0.5
- Operating system: macOsSierra
- Neo4j `Match (n:Label) return n` Empty result while such nodes are present in db. but `Match (n) where "Label" in labels(n)  return n` returns nodes that have labels.
-  `127.0.0.1:7474` I click on Labels returns empty result .
-  This might be portability issue I created database using Neo4j version: 3.1.1.

[2017-10-11 17:55] nicktrav commented on #10238
That sounds reasonable, thanks!

fwiw - our Neo4j fork runs fine with Jetty 9.4.6. We ran into the same issues with 9.4.7.

[2017-10-12 07:16] #9571 closed, assigned to nobody

[2017-10-12 10:31] #2556 closed

[2017-10-12 10:32] alepee commented on #7203
You can use the HEALTHCHECK in your Dockerfile or docker-compose.yml

**Dockerfile**: [HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck)
**docker-compose**: [healthcheck](https://docs.docker.com/compose/compose-file/compose-file-v2/#healthcheck) combined with [depends_on and condition](https://docs.docker.com/compose/compose-file/compose-file-v2/#depends_on)

You may want

[2017-10-12 11:42] #10089 closed, assigned to nobody

[2017-10-12 12:53] botsie commented on #2725
+1

[2017-10-12 19:17] Alan-R commented on #10222
Below is the entire database at the time of the hang (as described above).
[neo4j.tar.gz](https://github.com/neo4j/neo4j/files/1380359/neo4j.tar.gz)

What hung was a simple "MATCH (a) DETACH DELETE a" operation to create an empty database before I ran the test. Before I created this tar file, I stopped the database. I tried running the query in the browser after the database was restarted and it c

[2017-10-12 19:52] Alan-R commented on #10222
I put in some more debugging so I could see exactly how I constructed the neo4j.Graph object:

URI:http://localhost:7474/db/data/ bolt:False, https:False, http:True, host:localhost, port=7474

I timed it this time, and it took about a minute to time out. I'd guess that the configured timeout is a minute. But it was much longer than the (slow) 17 seconds it took from the browser. Browser appears to

[2017-10-12 20:05] Alan-R commented on #10222
Something that appears to be a key part of this problem - all my tests use the same database connection. When I stop the tests just before it would have hung, and then run a separate program which does the same thing, it completes immediately (not even the 17 second delay).

[2017-10-12 20:26] TomGroves opened #10276 "Attempting to create a uniqueness constraint causes Neo4J to hang."
Attempting to create a uniqueness constraint causes Neo4J to hang.

**Neo4j Version:** 3.2.6
**Operating System:** Ubuntu 16.04
**API:** Cypher in web interface, also occurs from Py2Neo

### Steps to reproduce
1. With new, empty graph, enter in web interface
`CREATE CONSTRAINT ON (book:Book) ASSERT book.isbn IS UNIQUE`
### Expected behavior
Constraint should be created

### Actual behavior
Neo4J s

[2017-10-12 20:29] TomGroves commented on #10251
Possibly related?  [Attempting to create a uniqueness constraint causes Neo4J to hang.](https://github.com/neo4j/neo4j/issues/10276)
I don't even get anything nice like an exception, it just hangs. And it's not because it's busy - it's a brand new, empty graph.

[2017-10-12 21:27] Alan-R commented on #10222
OK. I've figured out what triggered this behavior... It seems likely it was something I did...

[2017-10-12 21:27] #10222 closed, assigned to nobody

[2017-10-13 12:06] sapiriou opened #10280 "[Test harness] Neo4jRule should start a graph DB with all the built-in procedures/functions"
I've tried using the Neo4jRule to test the execution of a procedure and it crashed because the built-in procedures are not included and cannot be.

**Neo4j version:** 3.2.6
**Operating system:** Mac OS Sierra (10.12.6)
**API/Driver:** Test harness

### Steps to reproduce
Write a test with the following setup:

[code]

### Expected behavior

The test should NOT crash.

### Actual behavior

The test

[2017-10-13 14:20] Clooney24 commented on #2725
+1

[2017-10-13 18:05] szarnyasg commented on #10239
Thank you for the insightful information. I think that the driver could throw more meaningful exceptions, i.e. it should check the parameters before even starting to communicate with the server. Do you think this would be a valuable addition? If so, I'd be happy to contribute this to the Java driver.

[2017-10-14 14:59] utkuc commented on #9757
This issue was moved to utkuc/neo4j#1

[2017-10-14 15:07] utkuc commented on #10251
This issue was moved to utkuc/neo4j#2

[2017-10-14 15:11] utkuc commented on #9413
This issue was moved to utkuc/neo4j#3

[2017-10-14 17:22] HassanHashemi opened #10285 "possible bug when returning boolean values"
i have this cypher query which yields to
`  (no changes, no records)`
if x is null

    Match(x:Music_Music) where x.musicID = 106565650 return x is not null as Exists;

if it is not null it returns as expected "Exists = true"

expected result "Exists = false"

[2017-10-16 03:30] nickcarenza commented on #7084
I am having this problem now as well neo4j 3.2.6. I am using period commit and my file is 4T. I have with no constraints or indices. Smaller sample of the file load fine. I am using default memory settings.

[code]

The lines of the file look like:

The error log from the last failure looks like:

2017-10-15 07:05:44.133+0000 WARN [o.n.k.i.c.MonitorGc] GC Monitor: Application threads blocked for 2

[2017-10-16 06:41] #10034 closed, assigned to nobody

[2017-10-16 09:03] chrisvest commented on #9757
@utkuc Please refrain from making comments like that. They make it look like you are officially representing the Neo4j development team, or some other organisation that is offering official support, which is not the case. The comment also make it sound like the discussion about this issue should move to your fork repository, which it should not.

As far as I can gather, you are a group of students

[2017-10-16 09:49] #2633 closed

[2017-10-16 10:31] tinwelint commented on #10221
It's supported already. The pattern you write will have to be regex, so in your example:

`--nodes:User user-headers.csv,users-data-.*\.csv`

or simply

`--nodes:User user-headers.csv,users-data-.*`

[2017-10-16 10:43] #1525 closed

[2017-10-16 11:30] meilechh commented on #10034
Thanks for the commit. Did it also fixed the problem in JavaScript driver?

[2017-10-16 13:12] fbiville commented on #10285
If nothing matches your pattern, no rows will be produced and the result will not contain any records.

Therefore, the expected result of your query is: no records.

[2017-10-16 13:28] Meatballs1 commented on #10107
Client normally has 20 threads, but running it in debug single threaded still received the error.  I need to get some free time to look into it more, but currently trying to run it with oracle java instead.

[2017-10-16 14:21] Meatballs1 commented on #10107
Ugh managed to watch the memory usage as it was processing. Had about 10Gb free after importing data in. During processing it dropped from 10Gb -> 100Mb in about 4 minutes. Errors started in debug log before system memory got to 0 and still loads of swap space left however.

[code]

[2017-10-16 14:23] Meatballs1 commented on #10107
I wonder if it isn't the client side doing something crazy - so I've had a number of exceptions thrown client side and it appears to have stalled. A thread dump from the process gives:

[code]

[2017-10-16 14:23] Meatballs1 commented on #10107
It looks like the bolt client is still trying something and eating up more and more memory

[2017-10-16 15:49] nickcarenza commented on #7084
I just noticed a warning in the browser ui that warned my merge query would perform poorly if there is no index on my match parameters. I am going to add one without a constraint.

[2017-10-16 21:42] archer247 commented on #9838
@tinwelint You saved my day buddy! great work out there! 👍

[2017-10-17 04:55] HassanHashemi commented on #10285
@fbiville if nothing matches the pattern then the variable "m" should be null and therefore the `x is not null` should be evaluated to false rather than nothing.
am i reasoning correctly?

[2017-10-17 08:13] fbiville commented on #10285
Think of the query result as a table.

`RETURN` produces as many rows as there are `Music_Music` matched nodes (as defined per your `MATCH` and `WHERE` clauses).

If nothing is matched, no rows are produced.
If you want to coalesce `x` as `null`, you should use `OPTIONAL MATCH`.

Does it make sense?

[2017-10-17 08:30] sherfert commented on #3546
We believe that this problem was fixed some time ago. I am closing thi snow. Please reopen if there is still a problem.

[2017-10-17 08:30] #3546 closed

[2017-10-17 08:49] MishaDemianenko commented on #10221
As @tinwelint pointed out it's already supported, so will close this issue. Feel free to reopen if the problem remains.

[2017-10-17 08:49] #10221 closed, assigned to nobody

[2017-10-17 09:03] HassanHashemi commented on #10285
@fbiville yeah, i think it makes sense now.

[2017-10-17 09:08] MishaDemianenko commented on #10041
@liketemple 2G is not a lot of memory indeed but it still should be possible to operate within those limits. Do you still have this problem?

[2017-10-17 09:11] MishaDemianenko commented on #9838
@bhalbert do you still have this problem or @tinwelint suggestion resolved it? If so can we close the issue?

[2017-10-17 09:15] MishaDemianenko commented on #9807
Hi @chrisfauerbach, I would assume @chrisvest suggestion did the trick right? If so can we close this issue?

[2017-10-17 09:25] HassanHashemi commented on #10285
@fbiville however what is the value of x if the predicate dose not match, should`nt it default to "null" ?

[2017-10-17 09:29] MishaDemianenko commented on #9721
Hi @khaled83, do you still have this problem? If so can you please run consistency checker to verify consistency of your production db and share results with us?

[2017-10-17 09:31] lutovich commented on #10107
@Meatballs1 you might be right, driver might do smth that makes database fail this way. I can't any problems with how C# driver handles connection after connect timeout. Looks like connection is always correctly closed after such timeout. Could you please try out newly released 1.5.0 version of the .NET driver?

[2017-10-17 09:43] MishaDemianenko commented on #7494
Hi @dmarkovitz you should follow @chrisvest advise and split huge transactions into separate smaller transactions and that should solve that kind of problems. If you do not mind I will close this issue since suggestion should solve your problem for some time already?

[2017-10-17 09:46] klaren commented on #2477
This was fixed in #2648.

[2017-10-17 09:46] #2477 closed

[2017-10-17 10:10] jexp commented on #7494
You can also use APOC for larger operations.

e.g.

[code]

[2017-10-17 10:11] burqen commented on #100
Dijkstra's algorithm is not defined for edges with negative cost. See https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm

[2017-10-17 10:11] #100 closed

[2017-10-17 10:13] #117 closed

[2017-10-17 11:09] burqen commented on #121
Issue added to backlog.

[2017-10-17 12:34] grv1207 opened #10301 "New Feature : Exploring paths against a given node"
Hi, I was wondering if there some API in neo4j that we can use to explore paths around a given node and then restrict our traversing to a particular depth? Because I'm using a cypher query to explore such paths but it takes a lot of time when the path length is more than 2 and also when we have multiple relations between same set of nodes

[2017-10-17 15:43] klaren commented on #3466
`ConsistencyCheckTool` is deprecated in favor of `neo4j-admin check-consistency` which exits with non-zero on inconsistencies. Writing progress to `stderr` can be avoided by checking `System.console()` before outputting the progress bar, it will return `null` if either `stdin` or `stdout` is redirected with a pipe.  I've created a PR that will be here momentarily. Thanks for the feedback!

[2017-10-17 15:43] #3466 closed

[2017-10-17 19:00] fbiville commented on #10285
If the pattern does not match, there won't be any x.
If you were to rephrase in a more imperative fashion:

 1. scan all nodes of label `Music_Music`
 2. filter these nodes by property `musicID`, it must equal 106565650
 3. **for each of the matching nodes**, project the column `Exists` as the result of the null check of each node

If the predicate does not match, your return is ignored and you ge

[2017-10-18 05:04] billscheidel opened #10307 "Publish SHA hash for Neo4j releases"
Currently, none of the download links on https://neo4j.com/download/other-releases/ include a SHA hash for verifying the integrity of the download.  It would be great if this information could be published along side the links (see https://www.elastic.co/downloads/elasticsearch or https://github.com/antirez/redis-hashes/blob/master/README for examples).

[2017-10-18 06:57] burqen commented on #148
Case insensitive feature is available for manual indexes. See https://neo4j.com/docs/java-reference/current/#indexing-create-advanced

[2017-10-18 07:01] burqen commented on #155
@sarmbruster Is this still relevant to you or can we close this ticket?

[2017-10-18 07:02] burqen commented on #174
Outdated

[2017-10-18 07:02] #174 closed

[2017-10-18 07:05] sarmbruster commented on #155
based on @burqen 's request I'm closing this one.
Can be easily implemented via APOC these days.

[2017-10-18 07:05] #155 closed

[2017-10-18 07:06] burqen commented on #176
Update: Still pending.

[2017-10-18 07:36] burqen commented on #224
This require a change in public API. Added to backlog for next major release, 4.0.

[2017-10-18 07:36] #224 closed

[2017-10-18 07:52] burqen commented on #240
There is no update on this feature request.

[2017-10-18 07:53] MishaDemianenko commented on #9838
@bhalbert closing as solved. Please feel free to reopen in case this is still an issue.

[2017-10-18 07:53] #9838 closed, assigned to nobody

[2017-10-18 07:54] MishaDemianenko commented on #9807
@chrisfauerbach closing this as solved. Please feel free o reopen in case this is still a problem

[2017-10-18 07:54] #9807 closed, assigned to nobody

[2017-10-18 07:55] MishaDemianenko commented on #7494
@dmarkovitz closing as answered, please feel free to reopen in case this is still an issue

[2017-10-18 07:55] #7494 closed, assigned to nobody

[2017-10-18 07:55] klaren commented on #4582
This looks like a bug in the implementation, I've created a PR to fix it. `failed()` is called after all the retries have failed or the thread is interrupted. Since this bug fix changes behavior, it will only go into the next release and not be backported.

Thanks for reporting!

[2017-10-18 07:55] #4582 closed, assigned to nobody

[2017-10-18 07:59] burqen commented on #250
Referring discussions about best practise to documentation and community. Public slack channel would be a good place to start. See https://neo4j.com/blog/public-neo4j-users-slack-group/
This answer on stack overflow might also be useful https://stackoverflow.com/questions/21558589/neo4j-sharding-aspect
Thank you for reporting!

[2017-10-18 07:59] #250 closed

[2017-10-18 07:59] MishaDemianenko commented on #7249
Closing as solved

[2017-10-18 07:59] #7249 closed, assigned to nobody

[2017-10-18 08:20] burqen commented on #4847
Issue solved by https://github.com/burqen/neo4j/commit/4712de476aabe69cd762233c9641dd3cf9f8361b

[2017-10-18 08:20] #4847 closed, assigned to nobody

[2017-10-18 08:21] burqen commented on #4847
Issue solved by https://github.com/neo4j/neo4j/pull/5018

[2017-10-18 08:23] MishaDemianenko commented on #8411
@cypressious fixed by https://github.com/neo4j/neo4j/pull/8721

[2017-10-18 08:23] #8411 closed, assigned to nobody

[2017-10-18 08:33] klaren commented on #3650
Seeing that this was a breaking change over two years ago and all currently supported versions have the same documentation and module structure in unit testing regard, I'm going to close this issue.

[2017-10-18 08:33] #3650 closed

[2017-10-18 08:46] klaren commented on #4751
As previously stated this is most likely due to a corrupt index. An online alternative would be to drop the index and create it anew. This does not work for the error reported in this issue which relates to the schema index that can't be dropped, but the drop-create approach work for other indexes you create through cypher.

[2017-10-18 08:46] #4751 closed, assigned to nobody

[2017-10-18 08:47] MishaDemianenko commented on #9809
Hi @AwesomeLemon it's hard to guess the exact reason of slowness here, in the same time it looks like it's related to the amount of bad data that we need to report so my first guess will be that https://github.com/neo4j/neo4j/pull/10302 should improve the situation as soon as it will be merged.
Please let us know if it's not the case.

[2017-10-18 10:02] burqen commented on #294
Hello! Going over old issues. Sorry for the super late answer.
Adding automatic value conversion magic does not seem like the correct way to handle this.
Suggested approach is to convert to a string array or decompose array into nodes and relationships, depending on use case.
Thank you for reporting!

[2017-10-18 10:02] #294 closed

[2017-10-18 11:08] chrisfauerbach commented on #9807
Yes, this saved the day.    Thank you, and my apologies for not responding.

[2017-10-18 11:41] HassanHashemi commented on #10285
@fbiville thanks, closing the issue.

[2017-10-18 11:41] #10285 closed, assigned to nobody

[2017-10-18 11:45] Meatballs1 opened #10310 "Cypher query doesn't use index when querying using property IN STR_ARRAY"
Profiling the following query gave a NodeLabelScan rather than a NodeIndexScan when using a WHERE statement IN a list of string values:

[code]

Michael suggested doing

[code]

which correctly did a NodeIndexSeek.

Note when allowedIDs was empty [] it did a NodeIndexSeek.

[2017-10-18 11:52] klaren commented on #4294
Sorry for the late answer. This is indeed a bug in how we handle removals of relationship properties. Using your code it was very easy to reproduce and fix, thanks for that!

PR #10311 is up and fix will be in the next release.

[2017-10-18 11:52] #4294 closed

[2017-10-18 13:06] klaren commented on #3708
Our current Lucene version is 5.5.0 where analyzers do have a default ctor. I'm closing this since it's not relevant anymore. Sorry for the late answer.

[2017-10-18 13:06] #3708 closed

[2017-10-18 13:58] klaren commented on #3917
This was fixed in #3962

[2017-10-18 13:58] #3917 closed

[2017-10-18 14:11] klaren commented on #4051
This is a very old issue and the current code is very different from the scenario described above. If there still is similar problems feel free to open a new issue.

[2017-10-18 14:11] #4051 closed

[2017-10-18 14:27] klaren commented on #3538
According to the internet:
[code]
How to actually change the maximum value differs from each major version, a semi-complete list can be found in the answers here:
https://superuser.com/questions/433746/is-there-a-fix-for-the-too-many-open-files-in-system-error-on-os-x-10-7-1

[2017-10-18 14:27] #3538 closed

[2017-10-18 14:34] nmervaillie commented on #10238
This is also an issue for SDN users who use recent Spring Boot versions and run tests with the test harness (`ClassNotFoundException`s).
Observed running Spring Boot `2.0.0.M5`, depending on jetty is `9.4.7.v20170914`.

[2017-10-18 14:38] klaren commented on #3183
Since the issue is old and the stack traces are not relevant anymore, we don't have `XAException` or `HeuristicRollbackException` for example, I'm going to close this issue. If you still have similar problems feel free to open a new issue.

[2017-10-18 14:38] #3183 closed

[2017-10-18 14:56] klaren commented on #2522
`TransactionManager` was rewritten and sadly, `XAResource` were not part of that change. Do you still want this feature or could we close the issue?

[2017-10-18 17:59] szarnyasg opened #10316 "Use of maps in patterns works inconsistently in WHERE clause"
In `MATCH` clauses, maps can be added to nodes/relationships to filter results. This also works in `WHERE`, but with some inconsistencies, as the examples demonstrate.

- Neo4j version: 3.2.6
- Operating system: Ubuntu 16.04
- API/Driver: web browser

### Steps to reproduce and actual behaviour

Create a sample dataset:

[code]

Run the following queries:

[code]

[code]

Both of these work fine a

[2017-10-18 19:11] Meatballs1 opened #10317 "Client triggered an unexpected error [UnknownError]: null, reference 23d7ba6e-88ce-4579-8429-bd53b1cce240"
[code]

Client 1.5.0
neo4j 3.2.5

[2017-10-19 08:24] klaren commented on #3125
Queries can only use the index for evaluation of the `WHERE` clause. `ORDER BY` have to load all nodes matching the `WHERE` clause and then sort the set internally in memory before returning, and `LIMIT` does not help here.

It is on the current roadmap to have index back `ORDER BY` as well, which will make your queries only load the desired 3000 nodes and execute in a timely fashion.

I'm going t

[2017-10-19 08:39] klaren commented on #4391
Since this issue was opened the `LazyProperty` loader has been removed. In the current release, you either manage to read the data or you get a `NotFoundException`. If you have race conditions like this you can take a read-lock on the node, `tx.acquireReadLock(node)`, and the `delete` will wait for all read queries to end.

[2017-10-19 08:39] #4391 closed, assigned to nobody

[2017-10-19 08:55] klaren commented on #2620
As the suggestion to have the consistency checker run online is not related to the issue, would you mind us closing it?

If you want to run the consistency checker before starting this could be done manually or through a script:
[code]
since the consistency checker is bundled with the server.

[2017-10-19 09:08] albertoperdomo commented on #2620
OK, with me.

[2017-10-19 09:13] #2620 closed

[2017-10-19 12:14] MishaDemianenko commented on #7771
The fix was merged long time ago, closing.

[2017-10-19 12:14] #7771 closed, assigned to nobody

[2017-10-19 12:16] giannello opened #10320 "[feature] Prometheus endpoint for metrics"
The current version of neo4j supports exposing metrics with CSV files or by pushing them to Graphite (https://neo4j.com/docs/operations-manual/3.2/monitoring/metrics/)

It would be great to have an http endpoint reporting metrics in the prometheus format (https://prometheus.io/docs/instrumenting/exposition_formats/) so that they can be collected.

[2017-10-19 13:03] MishaDemianenko commented on #8681
The database performs checkpointing periodically to guarantee that updates that are held in memory are applied to the persisted store. That is done to minimise the time that will gonna be required for recovery, in case of a not clean shutdown.
You can fully recover the database without checkpoints only if you have all the transaction logs that particular database ever produced.
"No check point fou

[2017-10-19 13:06] MishaDemianenko commented on #8681
Please open a new issue if you encountered a similar problem, closing since there is no news from the reporter for a while.

[2017-10-19 13:06] #8681 closed, assigned to nobody

[2017-10-19 13:23] MishaDemianenko commented on #9721
Closing since the issue was reported quite a while ago and no response from reporter. Feel free to reopen in case you will gonna have some additional information to share.

[2017-10-19 13:23] #9721 closed, assigned to nobody

[2017-10-19 13:48] MishaDemianenko commented on #10041
Closing since the issue was reported quite a while ago and no response from reporter. Feel free to reopen in case you will gonna have some additional information to share.

[2017-10-19 13:48] #10041 closed, assigned to nobody

[2017-10-19 15:16] MishaDemianenko commented on #8767
Fixed by https://github.com/neo4j/neo4j/pull/8966

[2017-10-19 15:16] #8767 closed, assigned to nobody

[2017-10-19 15:28] MishaDemianenko commented on #9787
Manual indexes as they are now is in support mode only for a long time already and we do not plan to add new features there.

[2017-10-19 15:28] #9787 closed, assigned to nobody

[2017-10-19 18:17] cheerfulstoic commented on #3125
;(

Shouldn't an issue stay open until it's fixed?  That way I could actually be notified when the change comes into a release.  It would make me a lot more excited about trying out an alpha / beta releases with the change

[2017-10-20 05:00] systay commented on #3125
You are right, @cheerfulstoic. I see no reason for not keeping this open and closing it once these queries can use this new functionality.
We do want you excited! :)

[2017-10-20 09:42] #5092 closed, assigned to thobe

[2017-10-20 12:08] tinwelint commented on #9809
Could you provide a thread dump at that moment?

[2017-10-20 12:14] AwesomeLemon commented on #9809
Sorry, I don't have access to that system and to that data anymore (and probably won't have it in the future).
For reference, I solved the problem by more careful data preparation (so that there were no 'bad' items at all).

[2017-10-20 13:01] MishaDemianenko commented on #9809
Thanks @AwesomeLemon, apologises that it took that long on our side. Would you mind if we will close this issue then?

[2017-10-20 13:03] AwesomeLemon commented on #9809
@jalaz in the first comment reported having the same issue, so maybe you could get some info from him.
As for me, I don't mind the issue being closed.

[2017-10-20 13:07] sherfert commented on #10317
Hi and thanks for reporting this error.
Do you know what Cypher query you were running at that time (and with what data)? That would help us tremendously reproducing the error locally.

[2017-10-20 13:09] sherfert commented on #9685
This fix will be part of 3.2.7

[2017-10-20 13:09] #9685 closed, assigned to sherfert

[2017-10-20 13:14] sherfert commented on #7024
Closing in lack of a response. Feel free to reopen.

[2017-10-20 13:14] #7024 closed, assigned to sherfert

[2017-10-20 13:15] sherfert commented on #6796
Closing because there is no to reply. Feel free to reopen.

[2017-10-20 13:15] #6796 closed, assigned to sherfert

[2017-10-20 13:28] sherfert commented on #970
Closing this in lack of a response.

[2017-10-20 13:28] #970 closed

[2017-10-20 13:31] Lojjs commented on #7027
Since we have asked for more information but haven’t received any reply, I will close this issue for now. Feel free to reopen it or create a new one if you still have troubles.
Best regards Louise, Neo4j Cypher Team

[2017-10-20 13:31] #7027 closed, assigned to Lojjs

[2017-10-20 13:33] Lojjs commented on #6589
@rationalism Since I haven't heard back from you I will close this issue for now. Feel free to reopen it or create a new one if you still have troubles.
Best regards Louise, Neo4j Cypher Team

[2017-10-20 13:34] Lojjs commented on #6589
@rationalism Since I haven't heard back from you I will close this issue for now. Feel free to reopen it or create a new one if you still have troubles.
Best regards Louise, Neo4j Cypher Team

[2017-10-20 13:34] #6589 closed, assigned to Lojjs

[2017-10-20 13:50] sherfert commented on #10310
Pretty good find, thank you!

Setup can be done with

[code]

Interestingly, this also produces the worse plan

[code]

[2017-10-20 14:05] sherfert commented on #10301
Hi @grv1207 and thanks for your question.

You can use a variable length path expression and then express predicates on nodes or relationships of that path path, e.g.

[code]

Would that work for your particular case?

[2017-10-20 14:09] sherfert commented on #10276
Duplicate of #10251

[2017-10-20 14:14] grv1207 commented on #10301
Hello @sherfert I\m already using a cypher query, but it is really slow when I give a path length of more than 2 and in many cases I my browser never returns result

[2017-10-20 14:16] grv1207 commented on #10301
I was using
 Match p =  (n{ConceptID: '<>'})-[*2..5]-(m)
WHERE ALL (r IN relationships(p) WHERE r.RelationLabel CONTAINS "<>")
RETURN p
and it is not very optimal when the graph is dense. In my case I have around 15 millions nodes and 27 relationships

[2017-10-20 14:27] sherfert commented on #9494
I think jexp explained what the problem with the query was. Closing.

[2017-10-20 14:27] #9494 closed, assigned to nobody

[2017-10-20 14:30] sherfert commented on #10317
I think this is a duplicate of #9492

[2017-10-20 14:30] #10317 closed, assigned to sherfert

[2017-10-20 14:51] sherfert commented on #9492
Thanks for the report, we will fix this.

[2017-10-20 14:52] #8612 closed, assigned to nobody

[2017-10-20 14:54] sherfert commented on #10316
Hi. You are right that the current state is inconsistent. There is a lot of work going on in openCypher to introduce subqueries which is very related and would add a new and consistent syntax.

Check out https://github.com/opencypher/openCypher/pull/217

[2017-10-20 14:57] sherfert commented on #10301
In that case you are not asking for an API (you basically found it) but rather experiencing a performance problem, did I get that right? Or is there anything you are missing from that syntax that you think could make the query execute this in a faster way?

[2017-10-20 15:21] grv1207 commented on #10301
@sherfert  I'm really not sure how I can speed up the query. I think  doing this at at low level(JAVA) would be fast.

[2017-10-20 15:42] Meatballs1 commented on #10107
Still having issues with 1.5.0 - although the client just gets into a cpu loop after the server has given up.

I'm wondering if the .net driver is failing to stream properly again, a few versions ago it didn't stream and buffered everything.

Basic pseudo code of what i'm doing is:

[code]

This was working for large datasets before, but either this data set is causing the problem, or I've made a

[2017-10-20 15:42] aileenrose commented on #10307
Yes, indeed. I will forward this request to our build team.  Thank you!

[2017-10-20 15:58] Meatballs1 commented on #10317
yes could well be, I am using an OPTIONAL MATCH

[2017-10-20 17:10] cheerfulstoic commented on #3125
❤️ Thank you!

[2017-10-20 20:39] lassewesth commented on #9045
Hey @fbiville,

There is no public account. And build details will not be made public.

 - Lasse

[2017-10-20 20:39] #9045 closed, assigned to nobody

[2017-10-20 21:51] Meatballs1 commented on #10107
So I cant reproduce this crash exactly, but I get a hung .net client with https://github.com/Meatballs1/TestCaseCrash. I assume something screwy is going on when I'm iterating over

Might be worth pointing out client is in mono :)

[2017-10-22 09:28] markk12 opened #10335 "question"
i d like to try neo4j . it is my first graph database. I m a curiosity about cypher language:
neo4j makes a index call for every vertex subquery and edge subquery present in the query? Pratically neo4j make many index calls for every query right?

[2017-10-22 17:55] chrisvest commented on #10335
No, Neo4j uses index-free adjacency to traverse directly between neighbouring vertices. This is called "expand" in query terminology. Prefix your queries with `PROFILE ` or `EXPLAIN ` to see what they do.

[2017-10-22 17:55] #10335 closed, assigned to nobody

[2017-10-23 00:40] #10021 closed, assigned to sherfert

[2017-10-23 08:35] fbiville opened #10336 "Brew install - impossible to log in"
**Neo4j version:** 3.2.6
**Operating system:** MacOS Sierra 10.12.6 (16G29)
**Homebrew:**
[code]
**Global JRE**
[code]

## Example bug report

I just installed neo4j on a freshly re-imaged workstation and I cannot connect to the server via Neo4j browser.

### Steps to reproduce
1. Install: `brew install neo4j`
2. Open `http://localhost:7474` in your favorite browser
3. Try logging in with the defa

[2017-10-23 08:39] fbiville commented on #10336
OK, I guess the issue is that `/usr/libexec/java_home` still points to JDK 9
[code]

Whereas `jenv` is globally configured to point to a JDK 8.

[2017-10-23 08:48] #10336 closed, assigned to nobody

[2017-10-23 11:31] yeoh-ong opened #10339 "Surprised error for unknown packed value"
Hello. Thank you for wonderful Neo4j graph database! My company use Neo4j graph database for reporting system. We use javascript program for sending data. Suddenly clients very often failing with error for unknown packed value. I attach error message. Can you tell me how to fix? We use latest Neo4j.

[cerberr.txt](https://github.com/neo4j/neo4j/files/1406878/cerberr.txt)

[2017-10-23 13:14] LostKali commented on #9475
I have the same issue: neo4j 3.2.0 on CentOS 7.2

[2017-10-23 17:58] Meatballs1 commented on #10107
I reverted back to 3.0.8 and all my problems went away...

[2017-10-23 22:42] smullins3000 commented on #6584
Jumping on the bandwagon for this, I was very surprised when I discovered this fact, that "order by" when used with "limit" is not at all scalable (due to not using the index on the sorted properties.
I agree with others that sorting and paging are table stakes for a number of applications including I believe mine.
My application needs to pull together a list of books and all the different ways th

[2017-10-26 11:59] contactprad commented on #9257
This solution worked for me on windows. Basically, move the neo4j to folder without any space in  the name.
https://stackoverflow.com/questions/38607283/failed-to-start-neo4j-service/42761350#42761350

[2017-10-26 12:51] grv1207 opened #10346 "Unable to start neo4j server with server plugin jar file"
I have created 2 server separate server plugins and copy them one by one to start neo4j server. With one jar file I'm able to start the server, but with other I'm unable to start the server and get error on CLI.

- Neo4j version: 3.2.0
- Operating system: (Ubuntu 16.04
- API/Driver: Java API

### Expected behavior
I should be able to start the server with any jar file

### Actual behavior
instead

[2017-10-27 07:23] danielmischler commented on #9787
Will there be a different approach than manual indexes or do we need tasks like this be handled by elasticsearch?
We're currently doing searches via apoc.

[2017-10-27 19:44] adamrothman commented on #10320
Alternatively, there could be a separate exporter (see https://prometheus.io/docs/instrumenting/exporters/). But +1! Would be awesome to get Neo4j metrics in Prometheus.

[2017-10-28 13:32] heavydawson opened #10353 ""Expected to be a property container" error for certain Cypher statements after 3.1.2 -> 3.3.0 upgrade"
I discovered that certain cypher queries were no longer working after an upgrade from 3.1.2 -> 3.3.0. the failures were the same with all clients
**Neo4j Version:** 3.3.0
**Operating System:** OSX / CentOS
**API:** neo4j-rb / neo4j browser

### Steps to reproduce
1. Queries of the following form previously worked without issue:
[code]
2. This was working without issue in Neo4j 3.1.2. However it fa

[2017-10-29 23:44] SharvariNagesh commented on #8347
@pksuf07 , with version 3.3.0, copying the jar file to lib did not work but copying it to /Library/Java/Extensions worked. Thanks for the answer

[2017-10-30 11:05] #3870 closed

[2017-10-31 02:17] chrisvest commented on #9787
@danielmischler What does it mean for the indexing and the querying to use different analyzers for the same index?

[2017-10-31 08:00] Lojjs commented on #6568
@ikwattro The error message has now been clarified and will be different depending on if you forget the colon or try to add multiple labels (which the old error message implied). This fix will be included in the next patch releases of version 3.1 - 3.3

[2017-10-31 08:00] #6568 closed, assigned to Lojjs

[2017-10-31 08:34] danielmischler commented on #9787
Here's a description of a situation where the use of two different analyzers can be useful:
https://mchernyavska.wordpress.com/2013/07/13/elasticsearch-why-have-index_analyzer-and-search_analyzer/
It is also referencing: https://stackoverflow.com/questions/15923480/elastic-search-search-analyzer-vs-index-analyzer

[2017-10-31 10:10] MishaDemianenko commented on #9787
@danielmischler thx!
We have different indexing enhancements in our roadmap that should make it possible to completely drop manual indexes in a lot of use cases
but unfortunately, I can't provide any timelines on that.
And right, apoc is the best option so far.

[2017-10-31 10:11] mihairaulea opened #10363 "BatchInserter max id value"
Although the startup database folder is always clean, this test fails. I think it has something to do with the underlying lucene index.

[code]

with

[code]

[2017-10-31 10:19] mihairaulea opened #10364 "BatchInserter max node id value?"
I am using Neo4j 3.1.4, on Mac OS X El Capitan, single machine. The database is always clean when running the test below.
Inserting nodes with large Long numbers fails. I think it has something to do with the underlying lucene index. If i change 4766131808L to a smaller number, the system behaves as expected. If not, the error bellow occurs.

[code]

Error:

[code]

[2017-10-31 12:35] MishaDemianenko commented on #9809
Hi, @jalaz do you still struggling with this? Can you provide to us some additional info: thread dumps, test case, etc?

[2017-10-31 14:05] fbiville commented on #10238
FWIW, same thing with Spring Boot 1.5.8.RELEASE (same Jetty version).

[2017-10-31 16:45] NickG123 commented on #10353
In case it helps narrow down the problem, I also experienced this issue when updating from 3.2.6 to 3.3.0.

[2017-11-01 05:40] scottastanley commented on #2725
+1

[2017-11-01 19:10] lfrancisxavier commented on #10353
Me too. the cypher which is working on 3.1.1 (CE) started throwing the above said error in 3.3.0 (CE)

[2017-11-02 03:51] InverseFalcon commented on #10353
This is related to a similar recently-fixed bug, the cypher team will be taking a look at this one to see if it requires a separate fix.

[2017-11-02 08:27] Lojjs commented on #10353
@heavydawson @NickG123 @lfrancisxavier Thanks for reporting this quite serious bug on our 3.3 community version. As @InverseFalcon noted we have been working on a related bug fix and I have confirmed that it also solves your problem. As soon as the next patch release is out your code will work as before, thanks for your patience! /Louise, Cypher team

[2017-11-02 09:49] heavydawson commented on #10353
@Lojjs thanks!

[2017-11-02 09:59] burqen commented on #339
Outdated

[2017-11-02 09:59] #339 closed

[2017-11-02 10:59] burqen commented on #508
@pietermartin Thank you for reporting! This remove one layer of wrapping https://github.com/neo4j/neo4j/pull/10373
Right now, the other layers are necessary for exception to be propagated from internals and out.

[2017-11-02 12:07] #10353 closed, assigned to Lojjs

[2017-11-02 12:52] burqen commented on #544
Thank you for reporting!
Issue confirmed and added to backlog.

[2017-11-02 13:03] burqen commented on #631
Closing this issue since there is a solution (https://github.com/neo4j/neo4j/pull/8062). Feel free to open this again if this solution is not sufficient.

[2017-11-02 13:03] #631 closed

[2017-11-02 13:22] burqen commented on #2080
@gm2012 You can set global transaction timeout with `dbms.transaction.timeout`. It was introduced in `3.0`.

[2017-11-02 13:22] #2080 closed

[2017-11-02 13:33] #9847 closed, assigned to sherfert

[2017-11-02 13:36] fickludd commented on #9847
This issue is fixed by https://github.com/neo4j/neo4j/pull/10214.

[2017-11-02 14:03] burqen commented on #1640
@Bohtvaroh @noam-paz Thank you for reporting!
I agree that it is quite awkward to do thought the Java API.

Seeing as the preferred way of using Neo4j is through Cypher and Drivers I don't see this being prioritised any time soon.

What you can do is to simple use `GraphDatabaseService.execute( String query )` to execute the merge query.

A comment on atomicity.
The atomicity (apply all or nothing

[2017-11-02 14:22] burqen commented on #2305
@terrafant Hi! The bug you describe is not caused by Neo4j but rather by incompatible data models. The suggested solution on stack overflow (https://stackoverflow.com/a/23095556) seems like a good way forward.

I would like to close this issue. Is that okay for you?

/Anton

[2017-11-02 16:00] chrisvest commented on #10364
Don't set explicit internal ids on the nodes or relationships you create. Let the database assign them for you, and instead (if you need those numbers) put your ids in a property and create an index for them — that's the way to fix this.

The internal ids correspond to physical record positions in our internal data structures, which means that these large numbers will cause our store files to beco

[2017-11-02 16:00] #10364 closed, assigned to nobody

[2017-11-02 16:00] chrisvest commented on #10363
Duplicate of #10364

[2017-11-02 16:00] #10363 closed, assigned to nobody

[2017-11-02 19:20] #2305 closed

[2017-11-03 14:19] petraselmer commented on #6585
The documentation for `CREATE UNIQUE` has now been published [here](https://neo4j.com/docs/developer-manual/current/cypher/clauses/create-unique/)

[2017-11-03 14:19] #6585 closed, assigned to petraselmer

[2017-11-04 21:48] Alan-R commented on #9847
Thanks @OliviaYtterbrink!

[2017-11-05 23:28] cyrilchapon commented on #266
Interesting discussion happening here

[2017-11-06 09:31] sherfert commented on #10301
Sorry for getting back so late. If you know the labels of `n` and `m` and your relationships, you can insert them in the query and that should speed up the query, at least somewhat.

E.g.

[code]

Using the low level API is usually faster, but it comes at the cost of less flexibility.

[2017-11-06 09:49] martinfurmanski commented on #9519
Resolved.

[2017-11-06 09:49] #9519 closed, assigned to nobody

[2017-11-06 10:32] MishaDemianenko commented on #9713
Hi @ArnaudBarre  even if framework allows you to do that kind of call A* should be used only to find the best-first path. In case if you need to find multiple paths please use Dijkstra's algorithm.

[2017-11-06 10:32] #9713 closed, assigned to nobody

[2017-11-06 12:03] systay commented on #2250
Neo4j has changed a lot since this issue was raised. Since we don't have the files to reproduce the problems locally, and our internal testing indicates that this is no longer a problem, I'll close this issue for now.

If the problem is still there and causing a problem, please re-open the issue, and we'll take another look at this.

[2017-11-06 12:03] #2250 closed

[2017-11-06 12:10] martinfurmanski commented on #2369
I don't know if this still is an issue, but it will not be fixed and it has been over 3 years, so I am closing it.

[2017-11-06 12:10] #2369 closed

[2017-11-06 12:12] martinfurmanski commented on #3267
I don't know if this still is an issue, but it is unlikely to be fixed and it has been over 3 years, so I am closing it.

[2017-11-06 12:12] #3267 closed

[2017-11-06 22:58] MinhNguyenDev commented on #7344
Hi guys, if I'm not mistaken, we have the feature to allow connection timeout but not query time out, is that correct ? I need the client to time out when running a slow query i.e more than 5 seconds, something like:
using (var session = Driver.Session(TimeSpan.FromSeconds(5))) (Set the time out so any RunAsync, ToListAsync function would time out after 5 seconds)

Please let me know if it's possi

[2017-11-07 09:05] sgehrig opened #10387 "Error with complex parameter in 3.3.0 (working in 3.2.6)"
**Neo4j Version:** 3.3.0-enterprise
**Operating System:** Docker Image and Ubuntu 16.04
**Driver:** PHP graphaware/neo4j-bolt-php 1.10.0

The following query

[code]

with these parameters

[code]

fails on 3.3.0 while it's working fine on 3.2.6.

The error log shows

[code]

Running the same query with the same parameters in the Neo4j browser works. Same is true if the query is prefixed with `cyp

[2017-11-07 09:19] akyuznurettin opened #10388 "Dot Problem in Query"
Hi, I have a problem that is specific. After I load the triples from RDF file with plugins, some properties or relations are look like

Relation Example ===>             [:Country.city]
Property Example ==>               city.name

there is a dot between these words. They can be created with plugins There is  no problem. But when i write query from this 127.0.0.1:7474 interface, i cant write dot '

[2017-11-07 09:51] chrisvest commented on #10388
You can quote the names with backticks. Something like this:

[code]

[2017-11-07 10:27] akyuznurettin commented on #10388
Thank you. It works. 👍

[2017-11-07 10:27] #10388 closed, assigned to nobody

[2017-11-07 11:13] sgehrig commented on #10387
Might also be a problem with the PHP Bolt driver in use (https://github.com/graphaware/neo4j-bolt-php) in combination with Neo4j 3.3.0. Still investigating.

[2017-11-07 12:58] SaschaPeukert commented on #10387
Hi and thanks for reporting this error.
We will look into it!

[2017-11-07 13:27] sgehrig commented on #10387
I'm still failing in building a reproducible test case outside our integration test suite. But still, one thing holds true: it's working with 3.2.6 (enterprise or not) or with a `cypher runtime=interpreted ...` prefix.

[2017-11-07 14:16] sgehrig commented on #10387
There's a lot more output in the debug log than I mentioned above:

[code]

[2017-11-07 19:08] Baschdl commented on #7086
@spacecowboy Couldn't you build in @jmouka's solution in  the setup process?

[2017-11-07 19:39] Baschdl opened #10393 "Querying relationship with startNode: -1 and endNode: -1 returns empty result"
- Neo4j version: 3.3.0
- Operating system: Ubuntu Server 16.04.3
- API/Driver: Cypher

We have a problem with a relationship in our database with the id X:
[code]
When we now query the database with
[code]
we would expect that it returns the relationship but it returns no result. Despite that there is probably an error in our data, this isn't the expected behaviour.

It is somehow part of the stac

[2017-11-07 21:57] craigtaverner commented on #10301
If you are happy writing Java code, the low level API is accessible in two ways, either directly when using Neo4j as an embedded library, or by writing a procedure.  The relevant part of the Java API for your case would be the TraversalDescriptor, which has a fluent API for creating a specification of graph traversal, which you then run starting at your start node. There are many examples online (

[2017-11-07 22:00] craigtaverner commented on #10301
Can we assume that the information on writing a procedure using the traversal API is a sufficient answer to your question?

On the other hand, the Cypher query you wrote should not produce memory issues, as Cypher uses a depth-first search to avoid maintaining too much state. Could you tell us which version of Neo4j you experienced this issue on?

[2017-11-08 04:01] cloudhuang opened #10395 "Poor write performance with neo4j 3.2.3"
For developing with neo4j, I need sync my data to neo4j on **online mode**, so seems what I can do is only execute the query via the session. ~LOAD CSV~ cypher shell or batch import etc... need the neo4j in offline mode.

The sample query is like

[code]
(the query is generated based on the real data )

So I used the pure ogm driver to execute the pre-parsed cypher query, no parameter indeed.

but

[2017-11-08 10:13] sgehrig commented on #10387
And another strange thing I noticed: as soon as I do a query-by-query step debugging on PHP side  and thus extending the time between two queries, the statement works.

[2017-11-08 10:25] stemar87 opened #10398 "[neo4j-community-3.3.0] Installation instructions don't work"
Following installation instructions provided at [here](https://neo4j.com/download-thanks/?edition=community&release=3.3.0&flavour=unix&_ga=2.167900257.1331039344.1510067832-1881734715.1510067832) does not yeld expected results.

### System information

- Neo4j version: 3.3.0
- Operating system: MacOS X 10.12.6
- API/Driver: Java

### Steps to reproduce

1. download Neo4j tar from [here](https://ne

[2017-11-08 12:11] Baschdl commented on #10398
@stemar87 #7086 has the solution, you have to change the group and write permissions of the folder

[2017-11-08 12:15] stemar87 commented on #10398
@Baschdl I imagine that will work for the latter issue I reported, what about the former? (`Error: Could not find or load main class org.neo4j.server.CommunityEntryPoint`)

[UPDATE] @Baschdl actually it doesn't even solve the latter issue...

[2017-11-08 16:02] Dan-McG opened #10404 ""IdGenerator is not initialised" error upgrading to 3.3.0 from 3.0.2"
Upgrading (database from 3.0.2 to 3.3.0 throws exception "IdGenerator is not initialized" at "Migrating Native label scan index (5/6)".  Database will not upgrade or spinup.  Database is largeish (500GB).

Version: 3.0.2 to 3.3.0 Community Single Instance
OS: Ubuntu 16.04.3 with 64GB RAM

Steps to reproduce:
Follow 3.3.0 Single Instance Upgrade instructions [here](http://neo4j.com/docs/operations-

[2017-11-08 19:12] mayanez commented on #8912
I am also seeing the same problem on Linux with Neo4j version: 3.2.6

[2017-11-09 13:42] sherfert commented on #10393
Hi and thanks for your report. Can you help us reproduce the error? A (small) dataset that we can load so that the above query fails would be nice.

[2017-11-09 16:09] petec-scribestar commented on #10404
I'm getting the same error upgrading from 2.3.11 to 3.3.0

[2017-11-12 16:06] luanne opened #10420 "Neo4j Desktop: Failure to restart- StoreLockException after database crash"
After the database crashes, for example, with an OutOfMemoryException, restarting the database via Neo4j Desktop, or even quitting and restarting Neo4j Desktop itself fails to start the database (StoreLockException)

- Neo4j version: 3.3.0
- Operating system: Mac OS 10.12.6
- API/Driver: Neo4j Desktop

- **Steps to reproduce**
1. Cause a database crash- I tried to set a property on 500k nodes with

[2017-11-13 10:27] pontusmelke commented on #10387
Hi @sgehrig, thanks for reporting this issue. I am so far unable to reproduce the failure, are you saying you only seen the error using the PHP driver? When you say "extending the time between the queries", what do you mean? Do you only see the error when running the query twice?

Could you try running with `dbms.logs.query.enabled=true` in `neo4j.conf` (only available in enterprise)? Since it see

[2017-11-13 10:39] sgehrig commented on #10387
Hi @pontusmelke,

by "extending the time between the queries" I meant that, the time between two queries is longer when we debug through the code (because the debugger stops at every step).

Even though I initially thought as well that the issue is to be found on the driver side, the fact that everything works as expected when we switch the Cypher runtime to `interpreted` (or when using 3.2.6)  hi

[2017-11-13 10:51] sgehrig commented on #10387
@pontusmelke How can I send you the log files?

[2017-11-13 10:52] chrisvest commented on #5086
This was fixed in 2.2.5 by #5130

[2017-11-13 10:52] #5086 closed, assigned to nobody

[2017-11-13 11:02] chrisvest commented on #5368
Hi @mmmmmrob, sorry for the late reply. Do you remember what version you were trying this on?

[2017-11-13 11:23] chrisvest commented on #5785
Since it's a "Perm Gen heap out of memory" error, I am also suspecting that the problem is with the Gremlin plugin. We don't support 1.9 or the Gremlin plugin anymore, so if Bulbs still relies on those then you probably have to stick with 1.9.6. At this point, we will not be making any more 1.9 releases, so I'm going to close this issue. If you are, however, able to upgrade to a more recent versio

[2017-11-13 11:23] #5785 closed, assigned to nobody

[2017-11-13 11:28] chrisvest commented on #6342
Hi @chiffa, sorry for the late reply. It is not clear to me from the picture, what exactly is wrong. Can you explain a bit more what we're looking at? Did you see an exception or a stack trace somewhere?

[2017-11-13 11:34] jexp commented on #10395
*You're missing a label in your queries. *

If you profile them you'll see nonindrx is used.

OGM is not the best for mass updates if you want to push all the data through. If you only call a proc or command it's fine though

Only neo4j-import needs offline, the rest not

You can use load csv with periodic commit easily

And if you want to parallelize check out load csv to drive the update in apoc

[2017-11-13 11:34] jexp commented on #10395
SEe also http://jexp.de/blog/2017/03/5-tips-tricks-for-fast-batched-updates-of-graph-structures-with-neo4j-and-cypher/

[2017-11-13 11:53] pontusmelke commented on #10387
You can just attach the log to the issue, please attach the debug.log as well.

So you're seeing the error when you run multiple queries? Are they all run in the same session/transaction?

[2017-11-13 11:57] sgehrig commented on #10387
These are the two log files: [query.log](https://github.com/neo4j/neo4j/files/1466722/query.log),  [debug.log](https://github.com/neo4j/neo4j/files/1466724/debug.log)

The error occurs reproducibly on an integration test that runs multiple queries in a single transaction.

[2017-11-13 12:26] pontusmelke commented on #10387
Ok, thanks!

[2017-11-13 12:45] pontusmelke commented on #10387
You couldn't by any chance send all the queries that are run in that transaction?

[2017-11-13 13:02] sgehrig commented on #10387
The transaction should start with the query in line `2017-11-13 10:48:25.173+0000 INFO...` in the query log. Or do you need the parameters as well?

[2017-11-13 13:04] sgehrig commented on #10387
Both logs have been created during a single run of the failing test.

[2017-11-13 14:11] pontusmelke commented on #10387
Ok, the query you posted is not in the query.log but that may be because it fails and doesn't write anything to the query.log, but I think I should be able to take the others from the log.

[2017-11-13 14:35] sgehrig commented on #10387
Yes that's true. That is the one that's failing. I've provided you with all the queries that are/should be executed during this one test:

[code]

[code]
with parameters:
[code]

[code]
with parameters:
[code]

[code]
with parameters:
[code]

[code]
with parameters:
[code]

[code]
with parameters:
[code]

[code]
with parameters:
[code]

That'a the one that fails at some point:
[code]
with paramete

[2017-11-13 15:13] chiffa commented on #6342
When I was using the built-in administration panel and looking for a specific type of nodes through an index (the command), a lot of nodes with other types were in the return results (`element_type` column).

Best,

Andrei

[2017-11-13 15:48] #9492 closed, assigned to sherfert

[2017-11-13 16:58] chrisvest commented on #5880
Thank you for reporting this bug. It will be fixed by #10432 once it goes out in a release.

[2017-11-14 06:20] cloudhuang commented on #10395
@jexp Thanks, its has the concrete label and I created the index for the necessary fields indeed.

[2017-11-14 07:54] sherfert commented on #9694
Hi @lenovopast17 . Do you have included APOC as a dependency? What does `RETURN apoc.version()` give you?

[2017-11-14 07:57] sherfert commented on #10266
Hi @chaudharyakash
Sorry for the late reply. Do you have any additional information we can use? Can you get us a copy of the corrupted store? Has the problem been resolved? Thanks

[2017-11-14 11:36] kdwykleingeld opened #10438 "browser very slow"
Hi, i am using latest version of neo4j on windows 7 using firefox as browser. I noticed for some time (also in earlyer versions) that the browser becomes very very very slow in response to typing in queries .. actually it seems to start behaving like that when syntax checking was introduced some time ago..

So is there a way to bypass this syntaxt directed edting / checking ? Maybe some parameters

[2017-11-14 13:04] pontusmelke commented on #10387
Thanks for providing all the info, I think finally was able to track down the issue https://github.com/neo4j/neo4j/pull/10437

The fix will go out in the next version of neo4j, thanks again for reporting and sorry for the inconvenience.
Regards,
Pontus

[2017-11-14 13:33] sgehrig commented on #10387
@pontusmelke Great! Thanks a lot! We really appreciate your effort!!!
Two questions:
1) What will be the release date for the next version?
2) Can you tell me a little bit more about the problem? What was the real cause and why was it so hard to reproduce the issue?

[2017-11-14 14:16] oskarhane commented on #10438
Thanks for the report @kdwykleingeld.
The browser repo is over at https://github.com/neo4j/neo4j-browser, could you please open the issue there instead?

Unfortunately there is currently no way of disabling the syntax checking completely yet, but we will provide such an option in the future.
We will also have a look at the general performance of the editor.

[2017-11-14 14:16] #10438 closed, assigned to nobody

[2017-11-14 15:53] jonpacker opened #10444 "QueryExecutionKernelException in 3.3.0 - Expression [x] has to type from semantic analysis"
Having an issue with a complicated (and admittedly hacky) cypher query.

- Neo4j version: 3.3.0
- Operating system: OSX 10.13.1
- API/Driver: Cypher via REST API
- Expected behavior: query succeeds
- Actual behavior: get error `org.neo4j.kernel.impl.query.QueryExecutionKernelException: Expression Property(Variable(  video@114),PropertyKeyName(rel)) has to type from semantic analysis`

I have query

[2017-11-14 16:34] tommichiels commented on #10238
Same issue here Spring Boot 2.0.0.M5 problems with test-harness.

[2017-11-14 16:47] tommichiels commented on #10238
By the way made a workaround by using tomcat as my servlet engine in test scope.

this is the definition i use to force the usage of tomcat.

@Configuration
@AutoConfigureBefore(ServletWebServerFactoryAutoConfiguration.class)
public class ForceTomcat {

    @Bean
    TomcatServletWebServerFactory tomcat() {
         return new TomcatServletWebServerFactory();
    }
}

[2017-11-14 23:03] zorgnax opened #10446 "Doc error on https://boltprotocol.org/v1/"
On the page at https://boltprotocol.org/v1/, it provides an example for sending an init message to bolt like this:

[code]

shouldn't that third byte be B2 not B1 since it is a structure containing two arguments? or am I following this wrong?

[2017-11-15 06:01] lvc opened #10447 "API changes report for Neo4j kernel"
Hi,

I'd like to share report on API changes and backward compatibility for the Neo4j kernel library: https://abi-laboratory.pro/java/tracker/timeline/neo4j-kernel/

BC — binary compatibility
SC — source compatibility

The report is generated by the https://github.com/lvc/japi-tracker tool according to the article https://wiki.eclipse.org/Evolving_Java-based_APIs_2.

Hope it will be helpful for us

[2017-11-15 07:20] agalazis opened #10448 "Feature request include start-up plugin loading in logs"
I would expect the server to log any plugins loaded at startup. If no plugins are loaded it should report the reason in the logs eg. plugin directory `<full path>` empty

- Neo4j version: up to 3.3.0
- Operating system: all (Linux in my case)
- **Steps to reproduce**
Start neo4j and find why plugins are not loaded
- Expected behavior
Logs should report which plugins where loaded with their full pa

[2017-11-15 07:27] agalazis commented on #10448
closing as I found a debug.log that contains the above information sorry for any inconvenience

[2017-11-15 07:27] #10448 closed, assigned to nobody

[2017-11-15 09:04] technige commented on #10446
Hi @zorgnax. Thanks for pointing this out but unfortuantely _boltprotocol.org_ is a fan site rather than an official Neo4j website. To that end, we can neither vouch for the accuracy of the information there nor make changes to fix any problems.

Your best bet for low-level protocol details is the demo driver in the boltkit repository:
https://github.com/neo4j-contrib/boltkit/blob/master/boltkit/d

[2017-11-15 09:04] #10446 closed, assigned to nobody

[2017-11-15 09:27] chrisvest commented on #10447
We are already tracking API compatibility with clirr (and investigating revapi), which integrates with our existing Maven based build setup. Because of this integration, I don't think there are compelling arguments for us to use japi-tracker instead. In case you are using this data for research, we are not considering `org.neo4j.storageengine` to be public API, so the reports in those packages are

[2017-11-15 09:27] #10447 closed, assigned to nobody

[2017-11-15 09:29] pontusmelke commented on #10387
It will most probably go out with 3.3.1, I cannot give you an exact date but it will go out pretty soon.

The problem was only for index scans so the database must be in a state where the cost planner computes it to be more efficient to do a scan than a unique index seek. If you remove the constraints on `:ROLE(id)` and `:REALM(id)` and instead use an index on these properties the error was a litt

[2017-11-15 09:31] sgehrig commented on #10387
OK - that's understood. Thanks so much for your support.

[2017-11-15 13:50] francescoinfante commented on #148
I don't understand why this issue was closed @burqen. Indeed this could be a great feature. The auto index is much easier to create than a manual index.

[2017-11-15 14:51] davidrapin commented on #148
@burqen please don't close issues so abruptly, this is a critical feature and, as far as I know, it's still impossible to enable case-insensitivity for automatic indices.

Either keep the issue open or provider some helpful information on how to enable case-insensitivity in this scenario (using Neo4j 3):
[code]

[2017-11-15 15:50] chrisvest commented on #6342
I wasn't able to reproduce the problem in a 1.9.9 installation. The image above says that only 1 row was returned, even though it is clearly displaying more than one row. If this is still relevant I would suggest trying to query through the console, directly to the REST API, to verify that the index only returns one row. If that's the case, then it must be the webadmin that's playing tricks, which

[2017-11-15 16:22] #5880 closed, assigned to nobody

[2017-11-16 08:17] burqen commented on #148
@francescoinfante @davidrapin Sorry! I was being to quick to judge here. Re-opening this issue and adding feature request to backlog.
Thank you for poking me about this! 😄

[2017-11-16 13:16] nmervaillie commented on #10098
https://jira.spring.io/browse/DATAGRAPH-995

[2017-11-16 21:11] mcolburn opened #10467 "Neo4j Version 3.3.0 docker - java.lang.IllegalArgumentException: Base directory for SSL policy with name 'default' does not exist"
**Neo4j Version:** 3.3 (Community)
**Operating System:** Ubuntu 16.04
**API:** Docker

### Steps to reproduce
1. Assuming that `/var/lib/neo4j` is the base directory for the conf, certificates, data, logs, etc....
2. In the certificates directory, create a directory named `default`, and within it, the subdirectories `revoked` and `trusted`.
3. Place your certificate file in the `default` directory

[2017-11-17 03:18] akshayB1993 commented on #5444
Thank you very much

[2017-11-17 07:05] perduamour opened #10468 "[neo4j-community-3.3.0] Crash on startup if dbms.memory.pagecache.size >= 512g"
- Neo4j version: 3.3.0 (Community)
- Operating system: RHEL7.4 / macOS High Sierra 10.13.1

### Steps to reproduce
1. set dbms.memory.pagecache.size = 512g in /etc/neo4j/neo4j.conf
2. start neo4j

### Expected behavior
neo4j server start successfully

### Actual behavior
crash on startup, and nothing left in debug.log, only a crash log file generated by java.
[crash.log](https://github.com/neo4j/n

[2017-11-17 08:58] burqen commented on #10276
Actually I think this is a different issue. This involves a uniqueness constraint and db ends up hanging. This is not what we see in #10251
Re-opening

[2017-11-17 09:29] cmaliwal commented on #9475
Same issue i am facing.

I don't have neo4j.log file I think.
log files in /var/log/neo4j/ :  query.log, security.log, debug.log

Neo4j enterprise 3.3.0

plugin : apoc-3.3.0.1-all.jar, graphaware-timetree-3.3.0.51.27.jar,  neo4j-spatial-0.25.2-neo4j-3.3.0-server-plugin.jar, graphaware-server-enterprise-all-3.3.0.51.jar,  graphaware-uuid-3.3.0.51.14.jar

[2017-11-17 09:56] burqen commented on #10251
@ronlut This indeed sound very strange. I have some questions:
- Have you been able to reproduce it? If so, how?
- Do you have the complete logs from the event? The most interesting one would be `debug.log`. The stacktrace that you provided only tells me _that_ it happened, but I can't see _how_.
- Are you running single instance or in a cluster? If you are running in a cluster, logs from other ma

[2017-11-17 10:21] chrisvest commented on #10468
Yes, you have found an integer overflow bug. It looks like 512 GiB is exactly the point where the bug occurs, so if you reduce your page cache to 511 GiB then you will work around it. We'll have a fix out for this soon.

[2017-11-17 13:01] sergejskovtuns opened #10472 "Incorrect warning pointer positioning"
**Neo4j Version:** 3.3.0
**Operating System:** Linux Mint 18.2
**API:** Neo4j Browser

### Steps to reproduce
1. Open Neo4j Browser
2. Run EXPLAIN on query with missing name label. Example:
`EXPLAIN MATCH p = (head:Topic) RETURN p`
3. Go to Warn tab

### Expected behavior
Pointer should point on the beginning of missing label.
[code]
### Actual behavior
Pointer is misleading and pointing on differ

[2017-11-17 14:48] sherfert commented on #10395
@cloudhuang have you been able to see any performance improvements when not using an OGM?

[2017-11-17 14:58] sherfert commented on #10444
Hi @jonpacker
That seems to be a bug. We will look into this. Thanks for the report.

[2017-11-17 15:58] mcolburn opened #10475 "Bolt erroneously accepts unencrypted connection"
**Neo4j Version:** 3.3 (Community)
**Operating System:** Ubuntu 16.04

### Goal
To confirm that the neo4j database instance is correctly configured to reject bolt connections that are not encrypted.  In this case, neo4j is running in the cloud on a server, and a local workstation is being used to connect via bolt using cypher-shell.

### Steps to reproduce
1. On the server, edit neo4j.conf by sett

[2017-11-17 17:48] Meatballs1 commented on #10107
https://github.com/neo4j/neo4j/pull/10433
https://github.com/neo4j/neo4j-dotnet-driver/issues/250

Maybe related?

[2017-11-18 15:48] Artgit commented on #10398
I got pretty much the same issue https://stackoverflow.com/questions/47367378/neo4j-linux-3-3-0-error-could-not-find-or-load-main-class-org-neo4j-server-comm

[2017-11-20 03:42] liketemple commented on #10041
Sorry relpy late, meet the problem again, yesterday 19th Nov.
[code]

[2017-11-20 10:16] chrisvest commented on #10041
@liketemple The exceptions don't say very much. We need to capture a heap-dump, like @jexp suggest earlier https://github.com/neo4j/neo4j/issues/10041#issuecomment-328743200, in order to investigate this further.

[2017-11-20 12:36] PavelNiedoba commented on #9739
I got the same after full disk problem. It's not first time I got corrupted DB when disk got full. Feels like neo is'n ACID after all

[2017-11-20 15:16] Lojjs commented on #10444
@jonpacker We have investigated this and it is a bug related to that one of your properties has the same name as a node (video). If you want to fix it now you can change the variable names in your query so that video doesn't have ambiguous meaning or you can wait for the next patch release of 3.3 where the bug fix will be included.

[2017-11-20 15:29] jonpacker commented on #10444
Awesome! That fixed it. Thanks everyone!

[2017-11-20 15:29] #10444 closed, assigned to sherfert

[2017-11-20 16:49] MishaDemianenko commented on #10404
Hi, @Dan-McG thx for reporting. Can you please confirm that you migrating backed up copy and not the original database?

[2017-11-20 17:53] codyAnivive commented on #10393
I am seeing this as well and I believe it is similar to #5542

[2017-11-20 18:24] codyAnivive commented on #5542
I have encountered a similar issue, here is the debug.log stack trace related to the issue

[code]

[2017-11-21 02:12] cloudhuang commented on #10395
@sherfert , due to the business requirements, I cannot dump the data to neo4j in offline mode, so seems LOAD CSV or CREATE/MERGE is the only way, but the performance still not good for now.

[2017-11-21 05:10] cloudhuang opened #10483 "heap and pagecache suggestion memory"
For huge data in neo4j with 200,000,000+ nodes and 200,000,000+ relationships, the db size is almost ~250GB, please suggest the minimum heap mem and pagecache mem, thanks.

[2017-11-21 06:06] jexp commented on #10395
Are you using parameters?
Why do you use `on match set`?

Did you change your import query to unwind of batches of $rows parameters?

[2017-11-21 06:56] cloudhuang commented on #10468
@pablopareja What the total PC memory ?

[2017-11-21 07:03] FaseelaParveen opened #10484 "Remove quotes (") in the file generated using apoc.export.csv.query. Neo4j Version-3.1"

[2017-11-21 07:33] cloudhuang commented on #10395
@jexp I also need to update the node properties after next run, so add the `on match set` to update the properties. no parameters used, I generated all the query with concrete data.
(Sorry for the sample cypher query and I updated it to remove the confusing)

[2017-11-21 09:46] chrisvest commented on #10483
You ideally want your page cache to fit the store, so 250 GiB for that.
Heap usage depends on your queries and transactions, and how many of them you are running concurrently. My guess would be 16-32 GiB in your case. See https://neo4j.com/docs/operations-manual/current/performance/#memory-tuning for more details.

[2017-11-21 09:46] #10483 closed, assigned to nobody

[2017-11-21 10:05] Dan-McG commented on #10404
@MishaDemianenko yes that's correct - it looked to pass the cursory integrity check i did on the backup

[2017-11-21 10:25] jexp commented on #9739
@PavelNiedoba which version did you run?

[2017-11-21 14:31] ali-ince commented on #10107
Hi @Meatballs1,

Both PR's are related to the `io.netty.util.internal.OutOfDirectMemoryError: failed to allocate XXXX byte(s) of direct memory...` errors. .NET driver had an issue with broken connections (i.e. unexpected end of stream) and https://github.com/neo4j/neo4j-dotnet-driver/issues/250 addresses that. We're planning to release .NET Driver 1.5.1 soon.

Thanks.

[2017-11-21 14:58] ragadeeshu commented on #10276
@TomGroves I am unable to reproduce. Are you still facing this issue? If so, could you please provide additional details of your setup?

[2017-11-21 15:16] TomGroves commented on #10276
Sadly not; I had to remove and reinstall Neo4J, which fixed it. Sorry.

[2017-11-21 20:37] Baschdl commented on #10393
Unfortunately we're working with confidential data of a project partner which we can't share.
But we realised that this behaviour only occurs if we have copied the database beforehand with `rsync` from one server to another, with `scp` it just works fine.

[2017-11-22 00:50] cloudhuang commented on #10483
Thanks.

[2017-11-22 07:22] chrisvest commented on #10393
Was the database running during the copying? Our `neo4j-admin` tool has `dump/load` (offline) and `backup` (online) sub-commands for taking backups:
https://neo4j.com/docs/operations-manual/current/tools/dump-load/
https://neo4j.com/docs/operations-manual/current/backup/

[2017-11-22 09:48] Baschdl commented on #10393
No, it wasn't running

[2017-11-22 10:20] petec-scribestar commented on #10404
The updated instructions here https://neo4j.com/docs/operations-manual/current/upgrade/deployment-upgrading/ worked for me!

[2017-11-22 13:11] #10468 closed, assigned to nobody

[2017-11-23 02:15] cloudhuang opened #10493 "not support `"resultDataContents" : [ "graph" ]` mode when using allShortestPaths?"
I there,
when I try to find the shortest path over the HTTP API, I found the `"resultDataContents" : [ "graph" ]` is not support in the response, it always return the "row" response.

Please and suggest is there any existing tool to transform the neo4j "row" response to "graph" format? (there is no relationship in the row format directly)

Neo4j Version: 3.2.3

Thanks.

[2017-11-23 06:30] schernolyas opened #10494 "Checking of empty embedded database is very slow"
- Neo4j version: 3.2.6
- Operating system: Ubuntu 17.04
- API/Driver: Java API

Start of application that uses embedded database is very slow.
See [debug.log](https://github.com/neo4j/neo4j/files/1498153/debug.log)

Code for create database:
GraphDatabaseBuilder builder = new GraphDatabaseFactory().newEmbeddedDatabaseBuilder( dbLocation );
		setConfigurationFromLocation( builder, configurationLoca

[2017-11-23 12:57] Dan-McG commented on #10404
Thanks @petec-scribestar - I followed the updated upgrade instructions from 2.x rather than 3.x (despite upgrading from a 3.x database), and it seems using `neo4j-admin import` rather than copying the old database did the trick and it worked

[2017-11-23 12:57] #10404 closed, assigned to nobody

[2017-11-23 15:19] FoysalOsmany commented on #10251
Facing similar issue when trying to create index on Big data set. I am trying to create an index where number of nodes in 18 Million. But the actual problem is I was able to create index for the same node with other properties. So some property is able to create index others didn't.

- Neo4j version: 3.2.2
- Operating system: Ubuntu 16
- AWS EC2 m4:2xl

![image](https://user-images.githubuserconte

[2017-11-23 15:23] burqen commented on #10251
@FoysalOsmany Thank you for reporting. I will ask the same thing from you to be able to continue investigation:

- Have you been able to reproduce it? If so, how?
- Do you have the complete logs from the event? The most interesting one would be debug.log. The stacktrace that you provided only tells me that it happened, but I can't see how.
- Are you running single instance or in a cluster? If you

[2017-11-24 09:41] oskarhane commented on #8830
Hi @Olorin92, can you try this on Neo4j `3.2.8`?
We have made some performance improvements in the Browser in that version.

[2017-11-24 13:52] ragadeeshu commented on #10276
We have been unable to reproduce this. This issue might be because of a half-applied constraint left over form previous interactions, and might also have something to do with the fact that you deleted the db without deleting the logs. If you crash while creating a constraint, recreating it should work fine. Please do notify us if you run into this again.

[2017-11-24 13:52] #10276 closed, assigned to nobody

[2017-11-25 06:38] FoysalOsmany commented on #10251
@burqen Still having the issue.

Have you been able to reproduce it? If so, how?

 Do you have the complete logs from the event? The most interesting one would be debug.log. The stacktrace that you provided only tells me that it happened, but I can't see how.

Are you running single instance or in a cluster?

What other activities was there at the time of the event?

How big is your store?

[2017-11-27 07:25] Lojjs commented on #10472
@sergejskovtuns Thanks for reporting, this seems like a bug. I will let you now when it's fixed.

[2017-11-27 13:44] burqen commented on #10251
@FoysalOsmany Thank you!

I should have been more specific about the possibility to reproduce. I meant to ask, **do you have a step by step process to reproduce the issue from an empty store so that I can continue the investigation locally on my end?**

I don't understand your answer about clustering. **Are you running in single instance mode or are you running in a cluster?**

Thanks for the debu

[2017-11-28 05:25] virtuald opened #10518 "Add BoltWorker.halt() to MonitoredWorker.SessionMonitor"
Some monitors might be interested in knowing when a monitored BoltWorker is halted. I imagine you could expose this in the metrics extension in addition to sessions started.

https://github.com/neo4j/neo4j/blob/3.4/community/bolt/src/main/java/org/neo4j/bolt/v1/runtime/MonitoredWorkerFactory.java#L106

[2017-11-28 06:34] Yalye opened #10519 "neo4j-import tools import relationships, not working, and not exit, no error message."
## Guidelines
I just use neo4j-import tool to import large data set into graphdb on Ubuntu, when it runs at 'Relationships, start' step, just 3 minutes, the step is done, but i have billions of relationship, it can't be that quick. Then i checked the graphdb directory, it's so small. I use the --stacktrace option， no error message.
- Neo4j version: 3.2.1
- Operating system: Ubuntu
- API/Driver:  n

[2017-11-28 09:33] chrisvest commented on #10519
There is probably a mistake in your command line arguments or your CSV headers. What do they look like? Did `neo4j-import` produce any log files?

[2017-11-29 08:44] pyzhou-talend opened #10534 "Some resource was not correct release after org.neo4j.unsafe.batchinsert.BatchInserter.shutdown()"
I'm using org.neo4j-3.2.6.jar . I got a java.io.Exception when I try to delete the whole database after shut dowm. It seems some file stream was not released. ```{databse.root}\schema\index\lucene\1\1``` this folder is the one which have been left and cause the java.io.Exception
Note that, this only occurs when a IndexEntryConfilctException was happening.

[2017-11-30 15:06] buzzdan commented on #340
need it too

[2017-11-30 20:12] drbayer commented on #10067
I ran into the same problem.  This occurs only if you're running on RHEL derivatives and have LSB installed.  I was able to update the has_lsb_init() function as follows to make it work & still be cross-platform compatible:
[code]

[2017-12-01 00:16] DFoxinator opened #10554 "Neo4j browser doesn't correctly handle inputted bolt address for connection"
**Neo4j Version:** 3.3.0
**Operating System:** Mac OS/Chrome

### Steps to reproduce
1. Go to the Neo4j browser
2. Set up the connection for a database where the bolt host is different from the IP of the instance itself. This use-case occurs for me when I'm using an SSH tunnel to access a Neo4j instance, so the browser wants to use the private IP of the instance, but I need to to use 127.0.0.1:por

[2017-12-01 08:29] oskarhane commented on #10554
Hi, thanks for the report @DFoxinator!
Would you mind opening the issue over at the [neo4j-browser repo](https://github.com/neo4j/neo4j-browser)?
The browser trusts what the server sends as `[your-connector].advertised_address`. Try to adjust that one and it should be automatic.

[2017-12-01 08:29] #10554 closed, assigned to nobody

[2017-12-01 09:18] sherfert commented on #10387
3.3.1 is out by the way, including the fix.

[2017-12-01 09:18] #10387 closed, assigned to SaschaPeukert

[2017-12-01 09:19] #10301 closed, assigned to sherfert

[2017-12-01 09:19] sherfert commented on #10266
No reply... feel free to reopen

[2017-12-01 09:19] #10266 closed, assigned to sherfert

[2017-12-01 09:19] sherfert commented on #9694
No response...

[2017-12-01 09:19] #9694 closed, assigned to sherfert

[2017-12-01 09:25] sgehrig commented on #10387
Great. We're only waiting for the 3.3.1 docker images to verify the fix.

[2017-12-01 10:09] sherfert commented on #9055
After over half a year of thoughtful consideration, we came to the conclusion this is a bug. I was able to reproduce it in 3.1.8-SNAPSHOT too. Thanks for the report!

[2017-12-01 10:48] Meatballs1 opened #10557 "org.neo4j.graphdb.TransactionFailureException"
## Example bug report

**Neo4j Version:** 3.4 commit 9c519ed18bbd5bc98c7026de5f2549d84e12dea3
**Operating System:** Debian 8.5
**API:** Docker

### Steps to reproduce
not sure :(

### Expected behavior
Not this

### Actual behavior
[code]

[2017-12-01 10:57] #10557 closed, assigned to nobody

[2017-12-01 15:18] LoranHayden commented on #8797
eyup, definitely something that would be helpful

[2017-12-02 03:32] DFoxinator commented on #10554
@oskarhane thanks for the response! I didn't realize there was a repo for browser specifically. I went ahead and created it there.

I don't think advertised_address can be used to solve this, if I understand correctly. Our cluster functions as expected and the members communicate on the IPs they need to. This problem is specifically with being able to access the Neo4j browser through an SSH tunnel

[2017-12-03 20:09] zmarty commented on #9257
Let's say you are using a popular cloud service that applies vulnerability patches automatically to your VMs. And let's say there is a Java vulnerability that gets patched automatically overnight. What would happen is that your neo4j machines would immediately stop working after being updated. Not good.

[2017-12-05 16:07] praveenag commented on #9663
Closing because of inactivity. Please reopen the issue if @benbc 's suggestion doesn't work.

[2017-12-05 16:07] #9663 closed, assigned to nobody

[2017-12-05 20:33] pbnjay commented on #6584
@Lojjs any word on this? My use case would REALLY benefit! Would be happy to beta-test...

[2017-12-06 09:12] cloudhuang opened #10591 "Master crashed in HA environment when copying huge data"
## Summary

I tried to setup a HA with two servers, server0 - master, server1-slave,

For the master server has 2,000,000,000+ nodes and ~3,000,000,000+ relationships, where almost 200+GB  disk store in master server.

### Problem
![image](https://user-images.githubusercontent.com/4601460/33654373-d735fafc-daaa-11e7-9773-ec3ecf29771d.png)

......

![image](https://user-images.githubusercontent.com

[2017-12-06 09:41] cloudhuang commented on #10591
The memory crashed, the OS has 64GB, heap = 8GB and pagecache=50GB, but when copying the neo4j memory over the system memory, so the master neo4j server crashed.

[2017-12-06 09:49] cloudhuang commented on #10591
Reduce the heap + pagecache memory solve this problem.

[2017-12-06 09:49] #10591 closed, assigned to nobody

[2017-12-06 12:54] zhenlineo commented on #8701
This issue is related to https://github.com/neo4j/neo4j-python-driver/issues/201 and https://github.com/neo4j/neo4j-python-driver/issues/165

The fix is https://github.com/neo4j/neo4j-python-driver/pull/206 and the fix will come in a 1.5 patch release soon.

[2017-12-06 19:56] Vaibhav1587 opened #10598 "Writing blocks to neo4j stopped abruptly with org.neo4j.kernel.impl.store.UnderlyingStorageException: java.io.IOException: Permission denied"
- Neo4j version: 3.3.0
- Operating system: Ubuntu 16.04
- API/Driver: Java API

Trying to read the blocks from node and writing it to Neo4j. Following is the Java code snippet to create the block.
`						StatementResult res = session.writeTransaction(new TransactionWork<StatementResult>() {
							public StatementResult execute(org.neo4j.driver.v1.Transaction tx) {
								StatementResult result =

[2017-12-07 15:32] chrisvest commented on #10598
What does this mean? What is a block in this context?

Does the user that the Neo4j database process run as, have the necessary access rights to write to the store files? Have any permissions on the database files been changed at some point? Is there more of this stack trace? It looks truncated.

[2017-12-07 15:53] Vaibhav1587 commented on #10598
Thanks for the reply..

Its a blockchain block. I'm storing blockchain2graph.

All permission's are given. That has been checked. Exception is happening in between the insertion.
Complete stack is as follows,

[2017-12-08 10:49] eebus commented on #10484
Hello
APOC has its own repository. Feel free to report  the issue over at https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues

[2017-12-08 10:49] #10484 closed, assigned to nobody

[2017-12-08 11:18] frant-hartm opened #10607 "Community version doesn't check parameters were provided"
Community version doesn't check parameters are provided when there is no match.

- Neo4j version: 3.3.0
- Operating system: Xubuntu 16.04
- API/Driver: Bolt and browser
- **Steps to reproduce**

I expect following code to fail on empty database (or a database with no `Person` nodes) because the parameter name is not provided:
[code]

- Expected behavior
Fail with
[code]
This fails as expected on e

[2017-12-08 14:14] eebus commented on #10607
@frant-hartm Thanks for reporting, this seems like a bug. I will let you know when it's fixed.

[2017-12-08 14:21] eebus commented on #10398
Hello
3.3.1 have just been released, are you having the same problem with it?

[2017-12-08 14:40] eebus commented on #10225
@eastlondoner
Thanks for the feedback.
We have some docs on the required version in the manual https://neo4j.com/docs/operations-manual/3.3/installation/requirements/ .

[2017-12-08 14:42] eebus commented on #10467
@mcolburn
Thanks for the feedback
This seems to be an issue with Neo4j for docker. Could you reopen the issue in https://github.com/neo4j/docker-neo4j/issues ?
Thanks

[2017-12-08 14:43] #10467 closed, assigned to nobody

[2017-12-08 14:52] eastlondoner commented on #10225
Hi @eebus

With the Ubuntu instructions it's made clear:

I'm talking about people who are using the GitHub repository to build Neo - I don't think it should be expected that they go spelunking the operations manual looking for information on how to build an open source project.

All I think you need to do is add a section in the readme OS X section warning people that java9 will cause problems. I

[2017-12-08 15:01] mcolburn commented on #10467
Done.

[2017-12-08 15:08] eebus commented on #10225
Oh
Agree that seems like something we should add.
Feel free to make a PR, will also forward to the team that has edited that part of the README.

[2017-12-08 15:09] eebus commented on #10225
![](https://github.trello.services/images/mini-trello-icon.png) [OSX Build Instructions don't mention java8 requirement](https://trello.com/c/mzdvHQSP/2778-osx-build-instructions-dont-mention-java8-requirement)

[2017-12-08 15:33] eebus commented on #9750
@Assiam
Hello
Have you tried to update to Neo4j 3.2.8 and see if that solves the issue?

[2017-12-08 15:57] eebus commented on #9675
@rmfwebmaster
I quite unsure what the problem seems to be could you submit a bit more information?

- Neo4j version: X.Y.Z
- Operating system: (for example Windows 95/Ubuntu 16.04)
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z)
- **Steps to reproduce**
- Expected behavior
- Actual behavior

[2017-12-08 17:07] senica opened #10611 "3.3.1-enterprise - Returning results from relationships that don't exist"
I posted this in slack. I ended up downgrading to 3.2.8 and everything works as expected. I don't have a good/short way to reproduce. I would be happy to set everything back up to 3.3.1 and show someone the error if it helped, but I mostly wanted to make this issue in case anyone else experiencing something similar there is a larger consensus.

My query - ran either direclty in the neo4j browser,

[2017-12-11 08:09] Lojjs commented on #10611
Thanks for reporting, this definitely sounds like a bug. We in the Cypher team will look at it as soon as possible.

[2017-12-11 08:31] klaren commented on #10320
PR #10613 is up. This will most likely be in the next alpha release, would be wonderful if you could give it a spin once it's available, I'll keep you posted.

[2017-12-11 08:57] giannello commented on #10320
Thanks @klaren , will roll it out in our staging environment as soon as the docker image is available.

[2017-12-11 14:51] tinwelint commented on #6331
@tkvogt Can this be closed bow since the related PR has been merged?

[2017-12-11 20:02] eebus commented on #9646
Hello @fsteinke
Have you tried with the latest 3.2.8? This seems have been fixed in #10407 .

[2017-12-11 23:35] mmcauliffe opened #10625 "Neo4j server doesn't start on NFS mounts due to lock issue"
I had an issue getting a Neo4j server to start on a NFS mounted drive in Debian 8.  It seems like locking is slightly problematic in NFS, but there might be something on your end that could be fixed?

**Neo4j Version:** 3.3.1
**Operating System:** Debian 8

### Steps to reproduce
1. Using the standalone install (https://go.neo4j.com/download-thanks.html?edition=community&release=3.3.1&flavour=unix

[2017-12-12 00:34] cloudhuang opened #10626 "Neo4j server crashed when load huge data by using LOAD CSV"
## Guidelines

I need to load the huge data by using LOAD CSV, by standard, load nodes, then load relationships,  but after load 100, 000, 000+ nodes & relationships, the neo4j server crashed

- Neo4j version: 3.2.3
- Operating system: Ubuntu 16.04 LTS
- 64GB OS Memory: 16GB Heap + 45GB page cache

**debug.log**
[code]
I'm using the default GC but seems GC take a lots of time.

**neo4j.log**
[code

[2017-12-12 08:14] tkvogt commented on #6331
OK

[2017-12-12 08:14] #6331 closed, assigned to nobody

[2017-12-12 09:32] chrisvest commented on #10625
First make sure that you only have a single Neo4j instance trying to access the store.

NFS protocol version 4 should support locking. If you are using that version, then I would expect `local_lock=all` (with `lock`/`nolock` unspecified) to work. If you can't get that to work, then you can try `nolock` or `local_lock=none`, but then it's up to you and your ops to ensure that no two Neo4j instances

[2017-12-12 15:49] schernolyas commented on #10494
Hi!
The same situation with 3.3.1 version.
[debug.log](https://github.com/neo4j/neo4j/files/1552214/debug.log)
_________
public class App {
	public static void main (String[] argv) {
		System.out.println("RUN"  );
		String dbLocation = "/home/osboxes/IdeaProjects/neo4jtest/target/db";
		long start = System.currentTimeMillis();
		GraphDatabaseBuilder builder = new GraphDatabaseFactory().newEmbedded

[2017-12-13 19:09] vstruchkov opened #10639 "apoc.index.search 'Node NNNN not found' in auto_update index"
Hello

I create auto_update index (NameIndex) with following parameters

{
 "autoUpdate": "true",
 "provider": "lucene",
 "type": "fulltext",
 "to_lower_case": "true",
 "keysForLabel:Name": "value",
 "labels": "Name"
}
and in my neo4j.conf I add string
apoc.autoIndex.enabled=true

Then I delete some node with query
MATCH (l:Locality)-[:Name]->(n:Name) WHERE id(l)={nodeId} DETACH DELETE n

After th

[2017-12-14 05:17] #10639 closed, assigned to nobody

[2017-12-14 05:17] vstruchkov commented on #10639
I remove it to apoc issues

[2017-12-14 09:05] zhenlineo commented on #8701
Hi @naisanza,

The bug in python driver around handing big result has been fixed in 1.5.3 python driver release. Please let us know if there is any reminding issues with your queries.

Zhen

[2017-12-14 10:15] lassewesth commented on #9654
Hey @aamanlamba,

I think you have run into https://neo4j.com/docs/operations-manual/current/installation/windows/#powershell-windows - does that help?

There is no difference in the build/ release/ publication process between 3.2.1 and later releases wrt the Powershell module, so I cannot explain why you suddenly see a change.

It is not something we are planning to change either.

Regards,

Lass

[2017-12-14 10:15] #9654 closed, assigned to nobody

[2017-12-14 10:16] angelov commented on #9675
@rmfwebmaster if you use `neo4j/neo4j-bundle` v0.3+ you should change the `schema` key under `neo4j.connections.default` in your configuration to `scheme`. Check [this](https://github.com/neo4j-contrib/neo4j-symfony/pull/23).

[2017-12-14 12:25] aamanlamba commented on #9654
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned does not help either, we have moved to using the Windows service option, which has a few other issues

[2017-12-14 15:52] naisanza commented on #8701
@zhenlineo thanks!

Using query parameters had solved it for me before, but if you say it has been fixed in the Python driver, then the above code should now work without using query parameters

[2017-12-14 19:41] mmcauliffe commented on #10625
Definitely one instance, this was the first time setting it up on this particular server, and I checked all the running processes and lsof.

It looks like the NFS is version 3, which is probably the issue (it doesn't support locking?).  I worked around it by installing it to an ext4 partition instead, since the NFS is maintained at the institution level.

[2017-12-14 21:48] computationdoc commented on #7225
I too am looking for indexing on relationship properties.

[2017-12-15 08:29] Lojjs commented on #10626
Thanks for reporting, we will take a look at this and see if it can be a bug.
/Louise, Neo4j Cypher Team

[2017-12-15 08:53] Lojjs commented on #10346
@grv1207 Thanks for reporting, this looks like a bug. We will investigate it and come back to you.
/Louise, Neo4j Cypher Team

[2017-12-15 09:42] OliviaYtterbrink commented on #10280
Instead of trying to load the AuthProcedures manually you should enable auth through setting the config.
`public Neo4jRule neo4jRule = new Neo4jRule().withConfig( GraphDatabaseSettings.auth_enabled, "true" );`

Enabling auth does require you to create the driver with an AuthToken as well, and you should change the password after logging in.

[code]

[2017-12-15 10:04] chrisvest commented on #10625
I _think_ NFS 3 can be configured in a way that allows Neo4j to run, but it might not be worth the hassle in your case since you found yourself a work-around.

On our end we have to insist on locking the files, because it prevents a lot of simple mistakes, like forgetting you already have Neo4j running and then you try to start it again on the same store, etc.

I think we can close this issue.

[2017-12-15 10:04] #10625 closed, assigned to nobody

[2017-12-15 10:13] #8701 closed, assigned to nobody

[2017-12-15 10:15] Lojjs commented on #6584
@pbnjay I don't have any news for now, but this is still a high prioritized feature. I will let you know when I have more details.

[2017-12-15 10:42] tinwelint commented on #10494
Some of this time seems to be spent opening the store files and rebuilding the `.id` files, which involves I/O, roughly 200-300 ms per store. I'd bet class loading in general takes some amount of this time too. Two questions:

- debug.log says that it's rebuilding the id files, was the store cleanly shut down?
- If you shut down the db and, in the same JVM, open it again... will it be faster the s

[2017-12-15 12:00] schernolyas commented on #10494
Hi @tinwelint !

1. I close JVM by System.exit().  No "kill -9" or "kill -6"
2. Yes. it faster.
RUN
1. 123 Fri Dec 15 14:50:19 MSK 2017
2. 9281 Fri Dec 15 14:50:28 MSK 2017
3. 2963 Fri Dec 15 14:50:33 MSK 2017
Point 3 is start in same JVM after shutdown by "graphDatabaseService.shutdown();"

I am contributor of project Hibernate OGM ( http://hibernate.org/ogm/ ) and we use Neo4j for testing too. D

[2017-12-15 12:49] eebus commented on #9645
@mongoose54
Had any success with the suggestions?

[2017-12-15 13:10] #9512 closed, assigned to nobody

[2017-12-15 13:19] eebus commented on #9473
@tarung1201
Did it work when using the query above?

[2017-12-15 13:22] ragadeeshu commented on #10494
Hello @schernolyas . Please make sure to always shutdown the database with graphDatabaseService.shutdown(); _before shutting down the jvm_. This should help reduce the startup times as you wouldn't need to go through recovery.

[2017-12-15 13:29] tinwelint commented on #10494
If you're using the db for testing only and don't require data to be persistent between runs then you _could_ use `ImpermanentGraphDatabase` which just lives in memory and is suitable for small data sizes.

[2017-12-15 13:31] schernolyas commented on #10494
Okey @tinwelint .

 A lot of thanks for consulting.

[2017-12-15 13:40] eebus commented on #9175
@hoangduchuu
Did @spacecowboy solution fix you issue?

[2017-12-15 13:48] schernolyas commented on #10494
Thanks @ragadeeshu  and @tinwelint !
I checked your idea. It helps!
It reduce startup time from 7 till 3 seconds.

[2017-12-15 13:48] #10494 closed, assigned to nobody

[2017-12-16 21:37] InverseFalcon commented on #10626
You'll need to add more here for there to be any useful analysis. Can you provide the LOAD CSV query, and the profile plan from an EXPLAIN of the query (with all elements of the plan expanded)

[2017-12-17 22:36] svkerr opened #10653 "Feature Request: Statistics for collection/list constructs"
Feature Request: There does not exist via one function call to calculate basic descriptive statistics like standard deviation or variation for a collection/list. There exist apoc calls for 'min', 'max' , 'avg'. Neo4j or apoc can be extended to address how graphs are described and analyzed via linear algebra by addressing basic vector operations.

[2017-12-18 02:59] The-Don-Himself commented on #10420
I believe I'm also running into this when trying to test out Neo4j.

Neo4j desktop crashes and cant be restarted, I can seem to find where the logs are stored though, any pointers so that I can add to this?

- Windows 7 64 Bit setup.

Neo4j desktop 1.07 but updated just before crash, no data at all in DB.

[2017-12-18 03:32] The-Don-Himself commented on #10420
Never mind, found it and investigating the crash now.
Thanks

[2017-12-18 07:45] burqen commented on #10534
@pyzhou-talend Thank you for reporting!
To make further investigations I'd like to ask you some questions:
- Have you got the full stack trace from the exception?
- Was the shutdown successful before deleting this store?
- Do you have any logs from the incident? Most notably the `debug.log` is of great interest.
- Have you found a reliable way to reproduce it?

[2017-12-18 10:48] InverseFalcon commented on #10653
Please replace the example comment/request with your title, and condense your title

[2017-12-18 11:13] jyotsna792 commented on #9646
Hey,

I am using Neo4j 3.3.1( x64 zip) but I am getting the exact same error. I am using windows 10 and Java 1.8.0_151.

I tried to change the directory to C:\Neo4j as mentioned in this answer(https://goo.gl/fQkZu8) but that does not work for me.

[2017-12-18 15:39] Lojjs commented on #10653
@svkerr Thanks for your feature request about standard deviation for lists. We have a long backlog right now but will consider the priority of this internally and get back to you. As a workaround, you may find use of https://neo4j.com/docs/developer-manual/current/cypher/functions/aggregating/#functions-stdev which is the corresponding function for properties.
Best regards Louise, Neo4j Cypher tea

[2017-12-18 18:33] peterfarabaugh opened #10656 "NullPointerReference when updating or deleting objects"
Something is corrupting nodes in my db. So far it is localized to one label 'User'. I can create them and set properties, eventually something happens and any attempt to set a value or delete the node hangs.
For example:
match (u:User {email: 'myuser@gmail.com'}) delete u

although:

match(u:User {email: 'myuser@gmail.com'}) return u

still works fine. If I make another user it works for a bit the

[2017-12-19 08:56] Lojjs commented on #10656
@peterfarabaugh thanks for reporting, this sounds like a serious bug related to updating and returning properties in the same query. We will investigate this and come back to you once it is solved.
Best regards Louise, Neo4j Cypher team

[2017-12-19 11:08] craigtaverner commented on #10346
@grv1207 Can you tell us more about this issue. The stack trace does not seem complete, as there is no actual error, only the last part of the stack trace. Could you do the following:

* Send the entire stack trace with error included (or attached the neo4j.log file)
* Tell us more about the plugins you installed, which ones and which versions

We know of an issue where plugins that depend on diff

[2017-12-19 11:28] mahaveer123 opened #10657 "Unable to restart replica"
Hi ,
Read replica became unresponsive during write, because of disk full issue.
I cleared some disk and restarted. but it was unable to start was throwing exception. had to delete data and restart.

[code]

[2017-12-19 11:52] grv1207 commented on #10346
@craigtaverner, I investigated the issue and found that because I was not properly initializing the class name inside the server plugin file that was causing such error.

 However it would be very useful if a full stack trace error  mechanism is implemented in future version as the error message that I have pasted above is the only thing that I see in my terminal and in many cases I'm clueless as

[2017-12-19 15:27] dosumis opened #10661 "Query via REST API => CypherExecutionException, same query via web interface does not."
- Neo4j version: 3.2.1 Enterprise
- Operating system: docker instance  https://hub.docker.com/r/rcourt/docker-neo4j-knowledgebase/
- API/Driver: REST API
- **Steps to reproduce**
[code]

### Expected behavior

Returns data - this works when the same query is run via the web endpoint and for other values of ds.label, e.g. 'Cachero2010', when the query is run via the API as above.

### Actual behavi

[2017-12-20 06:43] smullins3000 commented on #6584
Thank you. I could definitely see beta testing this as well.

On Dec 15, 2017 2:16 AM, "Louise Söderström" <notifications@github.com>
wrote:

[2017-12-20 09:26] Lojjs commented on #10661
@dosumis Thanks for reporting, this sounds like a bug. Full logs and a copy of the DB would be really helpful. You can send it to me at louise.soderstrom@neo4j.com if you don't want to post it here.
Best regards Louise, Neo4j Cypher team

[2017-12-20 10:34] MishaDemianenko commented on #9809
Closing it due to reporter inactivity, please feel free to reopen if it's still a problem.

[2017-12-20 10:34] #9809 closed, assigned to nobody

[2017-12-20 17:13] Euklios opened #10672 "Control flow"
I'm searching for an easy way to do something like this:
[code]
There is currently a workaround. It looks like this:
[code]
But this looks rather nasty and it's sometimes harder to debug.

[2017-12-20 22:21] pontusmelke commented on #10611
Thanks for reporting @senica

I'll look at it - however if you have the opportunity to provide the execution plan it would be great. Just run the query with EXPLAIN or PROFILE prepended and paste the plan here. Another thing you could try is to run the query but with `CYPHER runtime=interpreted` prepended to it and see if that makes any difference.

Regards,
Pontus

[2017-12-21 13:29] Lojjs commented on #10672
@javaWidmer  If you don't need to process all nodes `(n)` further after your query, you can rewrite it to
[code]
This will however lead to that you drop the access to the nodes that already had a sample_list.  There is a proposal on adding a `WHEN` statement to Cypher that will handle this kind of cases but this is currently in the hands of the Cypher Language Group. For now, if you need to do fur

[2017-12-21 16:01] Euklios commented on #10672
This is sadly not possible in my case. I search for specific nodes, but can't say for sure, if the list already exists or not. If the nodes don't have a sample list yet, the cypher should create one. Afterwards, in both cases, a value should be appended to the sample_list.

@Lojjs Could you provide a link to the proposal you mentioned?

[2017-12-21 16:36] senica commented on #10611
@pontusmelke I'll try and replicate locally today and give you the Profile results.

[2017-12-21 19:38] InverseFalcon commented on #10672
An alternative here is to use a SET using COALESCE:

[code]

If the property exists, it will be set with its same value. If it doesn't exist, it will be set to an empty list.

[2017-12-21 22:19] hnafar commented on #7052
Facing the same issue. Steps to reproduce:

Dockerfile:
[code]

Docker build output:
[code]

[2017-12-22 01:00] senica commented on #10611
@pontusmelke Here's the info you requested

Here is the entire query...just in case :)
[code]
With EXPLAIN:
![plan](https://user-images.githubusercontent.com/954952/34280729-cc968dd0-e66e-11e7-8c35-fa9842c844e2.png)

WITH PROFILE:
![plan 2](https://user-images.githubusercontent.com/954952/34280768-09d685d8-e66f-11e7-9bee-76fa97cbeea2.png)

Running with `CYPHER runtime=interpreted` returns the corr

[2017-12-22 08:24] Lojjs commented on #10672
@javaWidmer
The CLG proposal including ideas for how to do conditional updates can be found here: https://github.com/petraselmer/openCypher/blob/CIP-nested-subqueries/cip/1.accepted/CIP2016-06-22-nested-updating-and-chained-subqueries.adoc. Note that this proposal hasn't been accepted yet, so it is potentially subject to change.

The apoc library`when` function is described here: https://neo4j-con

[2017-12-25 08:51] cloudhuang commented on #10395
@sherfert Sorry for missing your message, as I need to update the data in online mode, so now I'm using LOAD CSV and the performance is better then using OGM as it can use the "batch" mode with PERIODIC COMMIT, thanks.

[2017-12-26 10:32] fbiville commented on #10238
@chrisvest the bugfix you mentioned seems to be included in release `jetty-9.4.8.v20171121`

[2017-12-28 00:14] ikwattro opened #10695 "Cypher throws "failed assertion" when comparing elements with <>"
**Neo4j Version:** 3.3.1 EE
**Operating System:** OS X
**API:** Browser

### Steps to reproduce

Given some nodes and relationships, run the following query :

[code]

*Notice* the `WHERE r <> r2` => it works.

Change to `WHERE r2 <> r` => Throws a `failed assertion exception`

### Expected behavior

The query should work independently of the position of identifiers in the comparison

### Actual b

[2017-12-28 06:35] johnpatil opened #10696 "GoogleVis or GGVis, build graphs with different database structure"
I'm a statistician in pharmaceutical industry. In my free-time I'm trying to learn some Shiny R programming and I would like to build something on some clinical research data (the main reason is that I understand the domain and I have a lot of data).

We usually work on **[SAS](https://tekslate.com/sas-clinical-training/)** datasets and I managed to import them in R as dataframe.

I'm in front of

[2017-12-28 08:40] lvc commented on #10447
The report has been fixed according to docs. Non-public packages have been excluded from the report: https://abi-laboratory.pro/java/tracker/timeline/neo4j-kernel/

Thank you.

[2017-12-31 09:10] pontusmelke commented on #10611
Thanks!
No this looks like a bug in the new default runtime, that is why it works when you force the database to use the old interpreted runtime using `runtime=interpreted`.

Will look into it as soon as possible.

[2018-01-01 23:32] internetscooter opened #10704 "2018 copyright issue"
Builds are failing because the date has changed to 2018

[code]

I presume there is a 2018 check  but all the headers have :

Copyright (c) 2002-2017 "Neo Technology,"

Quick fix is:

 `find . -type f -print0 |xargs -0 sed -i 's,2002-2017,2002-2018,'
`

[2018-01-02 03:25] internetscooter commented on #10704
I have created a PR to fix this but it might be a lot to go through. Here is the manual way:

Avoiding the .git dir
[code]

Everything is fixed when the following returns nothing

`grep -R "2002-2017" .`

[2018-01-02 08:05] #10672 closed, assigned to nobody

[2018-01-02 09:00] chrisvest commented on #10704
The correct way to fix this is to run `mvn license:format`. We'll do that soon. This happens every new year.

[2018-01-02 09:20] internetscooter commented on #10704
ok - thanks

[2018-01-02 10:39] #10704 closed, assigned to nobody

[2018-01-02 19:54] szarnyasg opened #10712 "Cumbersome aliasing and ORDER BY results in inconsistent results"
When abusing aliases in `RETURN ... ORDER BY ...`, it's possible to get surprising results. Users should not use aliases like this, to begin with, so this is not a critical issue. Still, I found it interesting and I think it's best if it's recorded here. I stumbled upon it while working on https://github.com/slizaa/slizaa-opencypher-xtext/issues/7.

**Neo4j Version:** 3.3.1
**Operating System:** U

[2018-01-03 09:04] #10395 closed, assigned to sherfert

[2018-01-03 10:08] #10346 closed, assigned to Lojjs

[2018-01-03 16:00] jorroll opened #10717 "bug: order of optional match's affecting result"
## Bug Report

It is my understanding that
[code]
and
[code]
should return the same result (i.e. the order of `OPTIONAL MATCH` clauses is irrelevant). For a specific query in my database, the order of the `OPTIONAL MATCH` clauses affects the return.

- Neo4j version: Community 3.3.1 & 3.1.5
- Operating system: Ubuntu 16.04
- API/Driver: The built-in web app running over bolt

### Expected Behavior

[2018-01-03 22:24] mcandocia-rmarkbio opened #10719 "properties() cannot be used to return node properties in a statement with a MERGE clause"
The `properties()` function cannot be used to return properties within a statement beginning with `MERGE`.

**Neo4j Version:** 3.3.0 (Enterprise)
**Operating System:** macOS Sierra 10.12.1
**API:** Neo4J Browser/Python
**Neo4j Desktop Version:** 1.0.9

### Steps to reproduce
1. Execute `MERGE (test:test_type {example_attr:"123"}) RETURN properties(test)`

### Expected behavior
The attributes shoul

[2018-01-03 23:34] InverseFalcon commented on #10717
Okay, I see what's going on. This isn't a bug. I'll explain.

The problem is in your last set of 3 OPTIONAL MATCHes. Note that you are using the same variable, `l` for each of these, and that this is the first introduction of the variable in the query.

If the first OPTIONAL MATCH succeeds, then `l` will be bound to a node, and it will continue to be reused in the subsequent OPTIONAL MATCHes (whic

[2018-01-04 00:14] InverseFalcon commented on #10719
Can confirm in 3.3.1 as well.

[2018-01-04 10:28] jorroll commented on #10717
Oooo, _great_ explanation @InverseFalcon!!!

So, if I understand you correctly...

### Example 1

Updating my query like so is a solution to the issue:

[code]

This is fine, and I can certainly work with that, but _ideally_ `list_1`, `list_2`, `list_3` would accumulate and return in just a `list` variable. ~~I imagine one way of accomplish this would be to use an apoc procedure like `apoc.coll.un

[2018-01-04 12:00] ollio opened #10722 "NoClassDefFoundError in DebugUtil::trackTest() in neo4j-kernel not catched"
* Neo4j version: 3.3.1
* Neo4j module: neo4j-kernel
* Operating system: MacOS 10.13.2

### Steps to reproduce:

I have written a TestNG Test in a Spring Boot application and have configured the embedded Neo4J driver. In the Instantiation Phase DebugUtil::trackTest() will be called. When iterating over the stack trace in line 330 a class `org.testng.TestRunner` will be found and throws Exeption of

[2018-01-04 17:55] amadfida opened #10727 "NullPointerException while indexing"
During an insert we noticed null pointer exceptions in debug.log. I don't have access to data or what was being created at the time but I do have stacktrace error that I am sharing here,

- Neo4j version: 3.1.1
- Operating system: Debian 8 (Jessie)
- API/Driver: Java driver 1.5.0

[code]

On the client side we get

[code]

We may be inserting `null` value, for a property which is indexes, but I di

[2018-01-05 05:44] InverseFalcon commented on #10717
### For Example 1

That's almost correct, though that return would get you all possible combinations of list_1 matches and list_2 matches and list_3 matches. Also, using that variable name probably isn't such a good idea, since a node variable is not a list, you would need a `collect()` in there for it to be a list/collection.

Since you're using the same pattern to match from all 3 of those node

[2018-01-05 08:15] #2522 closed

[2018-01-05 08:24] Lojjs commented on #10719
@mcandocia-rmarkbio This seems to be the same issue as https://github.com/neo4j/neo4j/issues/10656. Your query is a bit more spot on though. This is a 3.3 bug about updating properties in the same query as a calling the `properties()` function. We in the Cypher team are currently looking into it.

[2018-01-05 09:13] ImmortalZ commented on #9095
Has this problem been repaired？
- Neo4j version: neo4j 3.3.1 commumnity
- Operating system: CentOS 7 x64
- Installation method: yum

If I use  systemctl stop neo4j ,then use systemctl start neo4j will can't start neo4j , so when I modify config ,I use systemctl restart neo4j (not stop neo4j ,then start neo4j) to let the configuration take effect.

[2018-01-05 09:17] Lojjs commented on #10717
@thefliik Like @InverseFalcon has explained above this is not a bug. However it is a tricky case so we will try to add some more documentation around it in the Cypher docs (https://neo4j.com/docs/developer-manual/current/cypher/)

[2018-01-05 09:20] Lojjs commented on #10695
@ikwattro Can you please send us a copy of your database or some smaller set of nodes and relationships where this failure occurs for debugging?

[2018-01-05 09:21] spacecowboy commented on #9095
Yes it has.

In any case, the exit code would never prevent you from starting neo4j again. You must be experiencing another issue.

[2018-01-05 11:01] jorroll commented on #10717
@InverseFalcon & @Lojjs thank you!!!

[2018-01-05 11:02] jorroll commented on #10717
Actually, I'm not sure if you want this closed or not. Feel free to close if you do.

[2018-01-05 15:39] tinwelint commented on #10519
No reply in a month on this one. @Yalye ping.

[2018-01-05 17:31] szarnyasg commented on #10712
They are not very revealing, but I added the `EXPLAIN` plans for query 1 and query 2.

![plan](https://user-images.githubusercontent.com/1402801/34620655-8173b948-f246-11e7-8d79-6f69d8abbc77.png) `...` ![plan 1](https://user-images.githubusercontent.com/1402801/34620657-829ba290-f246-11e7-8d1f-4716317d9867.png)

[2018-01-05 18:36] ikwattro commented on #10695
@Lojjs Sure, I cannot share here publicly but I can send a link to a downloadable backup to your email, you can send me your address to `christophe` ( at ) `graphaware` dot com . Thanks

[2018-01-07 00:06] mdoering opened #10738 "BatchInserterImpl throws IllegalStateException, not IndexEntryConflictException"
After updating neo4j from 3.2.4 to 3.3.1 the BatchInserter in an embedded neo db now throws IllegalStateException instead of an expected RuntimeException wrapping a IndexEntryConflictException.

The IllegalStateException in neo 3.3.1 is thrown in the finally section of the BatchInserterImpl at line [1019](https://github.com/neo4j/neo4j/blob/3.3.1/community/kernel/src/main/java/org/neo4j/unsafe/bat

[2018-01-07 10:38] omerule opened #10739 "Fedora 27 cypher-shell "failed to construct terminal""
After update from Fedora 26 to 27, I get an error message when starting cypher-shell

- Neo4j version: neo4j-3.3.1-1.src.rpm
- Operating system: Fedora 27 on both  32 and 64 bit (upgraded with dnf from fedora 26)
- API/Driver: I think Java cypher-shell (bolt?)
- steps:
1) Fedora 26 add Neo4j repo.
 2) Install with dnf "dnf install neo4j"
 3) Systemd start neo4j
 4) Set password in browser localhos

[2018-01-07 20:49] szarnyasg commented on #10712
I dove into this a bit more. I got suspicious that the root of the problem is in the AST rewriters - [`normalizeWithClauses`](https://github.com/neo4j/neo4j/blob/3.4/community/cypher/frontend-3.4/src/main/scala/org/neo4j/cypher/internal/frontend/v3_4/ast/rewriters/normalizeWithClauses.scala) and/or [`normalizeReturnClauses`](https://github.com/neo4j/neo4j/blob/3.4/community/cypher/frontend-3.4/src

[2018-01-08 08:09] Lojjs commented on #10695
@ikwattro I have send you an email

[2018-01-08 08:11] Lojjs commented on #10717
@thefliik I will keep it open until we have updated the docs. Thanks for reporting.

[2018-01-08 09:51] yuri-karkh commented on #9646
confirm such behavior on win 10 neo4j 3.3.1 x64

[2018-01-08 10:13] ali-ince commented on #10107
Hi,

We consider this issue resolved with the release of [.NET Driver 1.5.2](https://github.com/neo4j/neo4j-dotnet-driver/releases/tag/1.5.2) that includes both https://github.com/neo4j/neo4j-dotnet-driver/issues/250 and https://github.com/neo4j/neo4j-dotnet-driver/issues/266, and #10433 merged in 3.4 branch.

Please report if this is not the case for you.

Thanks.

[2018-01-08 10:13] #10107 closed, assigned to nobody

[2018-01-08 10:21] jyotsna792 commented on #9646
@yuri-karkh I solved the problem. The issue was that my Java files were located in the Program Files(x86) folder. I just moved them to the Program Files folder and changed the environment variables and it worked after that!

[2018-01-08 12:13] yuri-karkh commented on #9646
thanks @jyotsna792 will try your solution as I see my Java files located in x86 too.

[2018-01-08 12:19] yuri-karkh commented on #9646
still facing the issue
![issue](https://user-images.githubusercontent.com/12514101/34670433-f529c4b0-f47e-11e7-8dcf-59485f747363.PNG)

[2018-01-08 12:22] jyotsna792 commented on #9646
@yuri-karkh Did you change your environment variable as well?

[2018-01-08 12:27] yuri-karkh commented on #9646
I just found that even after I set installation folder to PF without x86 it still installs it in x86 folder, so checking why so.

[2018-01-08 12:39] ollio opened #10747 "Gradle Compile Error mixed Java und Groovy sources"

[2018-01-08 12:40] #10747 closed, assigned to nobody

[2018-01-08 12:46] jyotsna792 commented on #9646
@yuri-karkh you do not need to install it again. Just copy the files to the PF folder and make sure you are getting the 64 bit version and it will be fine.

[2018-01-08 12:47] yuri-karkh commented on #9646
So the same, I have JAVA_HOME set,  also updated policy to Set-ExecutionPolicy -ExecutionPolicy Bypass and still can't install the service.
![issue](https://user-images.githubusercontent.com/12514101/34671319-c95e5b76-f482-11e7-90d8-55b637fa21f0.PNG)

[2018-01-08 12:48] yuri-karkh commented on #9646
same I get in installed desktop version of neo4j:
![issue](https://user-images.githubusercontent.com/12514101/34671375-01e44e24-f483-11e7-8c5e-aa9971b6aff7.PNG)

[2018-01-08 12:53] jyotsna792 commented on #9646
@yuri-karkh perhaps try to set the NEO4J_CONF variable to C:\neo4j\conf and try again?

[2018-01-08 12:57] yuri-karkh commented on #9646
just set and the same, do u maybe know what it tries to run from C:\Users...
![issue](https://user-images.githubusercontent.com/12514101/34671710-3f94f326-f484-11e7-9e90-eb9f9cc939ef.PNG)

[2018-01-08 13:18] yuri-karkh commented on #9646
![issue](https://user-images.githubusercontent.com/12514101/34672470-3263396c-f487-11e7-8f1b-7f69a6ad4178.PNG)

so it is kind an another issue not java...

[2018-01-08 14:35] sherfert commented on #10626
Closing for now. Please reopen with more information, if desired.

[2018-01-08 14:35] #10626 closed, assigned to Lojjs

[2018-01-08 16:34] fickludd commented on #10611
This will be solved by #10749. Thank you for reporting @senica, and please confirm that this solves your issue in `3.3.2`.

[2018-01-08 16:34] #10611 closed, assigned to Lojjs

[2018-01-08 16:55] nicktrav commented on #10238
Bump. @chrisvest - thoughts on updating Jetty now that the issue is resolved upstream?

[2018-01-08 20:30] davidlrosenblum commented on #9726
This bug still exists in 3.3.1.  There is only a straight line relation PART_OF from System to Data Center.  call db.schema
<img width="530" alt="screen shot 2018-01-08 at 12 39 23 pm" src="https://user-images.githubusercontent.com/21196824/34686298-21756b9c-f479-11e7-88ed-e3322a996356.png">

The schema really looks like this
![screen shot 2018-01-08 at 3 29 16 pm](https://user-images.githubuserco

[2018-01-08 23:53] 0xshippor opened #10752 "Java - getDegree() taking too long to find number of specified relationship"
- Neo4j version: 3.3.1
- Operating system: Win 10/Debian 9
- API/Driver: Java API

My database consists of 2 types of nodes Address and Transaction. A simple transaction looks like this:
![image](https://user-images.githubusercontent.com/14165372/34697393-2f12dda2-f4d3-11e7-810a-cc8eca7b65fa.png)
Usually (90% of the time) single address is used exactly once a sender and once a receiver in whole da

[2018-01-09 03:03] Alexyyek commented on #266
Six years, interesting team.

[2018-01-09 07:55] Lojjs commented on #10661
@dosumis Since we haven't got the required info from you to be able to debug this, I will close your issue for now Please feel free to re-open it later if you still need support on this.

[2018-01-09 07:55] #10661 closed, assigned to Lojjs

[2018-01-09 08:03] Lojjs commented on #10280
@sapiriou I will close this issue for now. If you need more help than Olivia's answer above, please feel free to re-open it.

[2018-01-09 08:03] #10280 closed, assigned to Lojjs

[2018-01-09 09:21] craigtaverner commented on #10607
This will come out in the next version of 3.3.x.

[2018-01-09 09:21] #10607 closed, assigned to eebus

[2018-01-09 09:49] fickludd commented on #10695
@ikwattro I am unable to reproduce this on `3.3.1`, `OSX 10.11.6` and

[code]

Both `r <> r2` and `r2 <> r` give the same result when I try. The fact that the assertion was failed by `scala.Predef` could possibly mean that it's a setup problem. Could you try to reproduce this on some other system?

[2018-01-09 09:50] ikwattro commented on #10695
@fickludd You mean been unable to reproduce with the db I have sent to @Lojjs ?

I can try to test on a nix server yes.

Btw, for my side - OSX 10.13.2 :
[code]

[2018-01-09 10:17] klaren commented on #10420
All locked files should be released by the OS once the owning process is killed. What happens in this issue is that when you encounter an out of memory exception the neo4j instance cannot be shut down cleanly and even if you instruct it to stop, it will still linger.

To get out of this you can locate the process id of the neo4j instance with
[code]
and then
[code]
This should release all the file

[2018-01-09 10:17] #10420 closed, assigned to nobody

[2018-01-09 10:58] alastai commented on #266
This issue is under active discussion in Neo4j product management/engineering. There are three overlapping approaches being examined, all of which are desirable in our view, but there are pluses and minuses for each, both in terms of features and cost of implementation.

It would be helpful to get views from the community on relative priorities, as additional comments on this issue. If anyone woul

[2018-01-09 12:04] sephib commented on #340
@cleishm when running a `MATCH` cypher query - is there a performance penalty for inserting the relationship type in the `WHERE` clause and not in the `[r]` itself?
[code]
vs. (that doesn't work today)
[code]

[2018-01-09 13:08] ceefour commented on #266
@alastai My hunch is most of the people in this bug, including myself, want no.3.

But even in no.3 you mentioned ambiguous term, "databases" or "schemas", if you're borrowing from SQL terminology, these are different terms. "Databases" is more like it, they're pretty much separate from each other, sometimes in the filesystem level. In both PostgreSQL and MongoDB, a cluster is a collection of data

[2018-01-09 13:33] fickludd commented on #10695
Yes, I used that db and the specified query. Your java/OSX setup seems very similar so maybe that's not it.

[2018-01-09 14:07] DeltaBravo commented on #266
Some of the technical terms are beyond my realm of clear understanding so I will respond with my use case. I think what I need is option three but aspects of option two sound very attractive (chaining, sub-queries, and multiple named graph support for example).

I have a SAAS product. I have multiple clients and all data is being stored in a single graph. **Backup and restore of a single client's

[2018-01-09 17:13] lhesterberg commented on #8347
Has anyone encountered this issue with Linux, and if so is there an equivalent fix?

[2018-01-10 12:41] ikwattro commented on #10695
@fickludd

I ported the db to an ubuntu server :

[code]

No issue here, despite the same java environment but not the OS.

[2018-01-10 12:55] fickludd commented on #10695
@ikwattro No issue as in the bug disappeared? What about plugins or extensions - do you have any of those in your local installation?

[2018-01-10 12:57] ikwattro commented on #10695
No issue as yes, the bug do not appear. However I haven't installed the plugins on the ubuntu server while I have 5 extensions locally. Let me check on the server with the plugins.

[2018-01-10 13:01] ikwattro commented on #10695
@fickludd So, on the ubuntu server, even with the plugins installed and loaded, the issue doesnt appear.

[2018-01-10 13:04] ikwattro commented on #10695
I just tried also locally without plugins :

[code]

[2018-01-10 14:14] fickludd commented on #10695
Hmm, I asked for more help on this, and it seems like this is actually an old bug in the slotted runtime (https://github.com/neo4j/neo4j/pull/10160/files#diff-99142750b9ec568699936e7fd156f2b5R150) which was solved in november (https://github.com/neo4j/neo4j/pull/10429). Could you confirm that this appears on a fresh `3.3.1` locally?

[2018-01-10 15:08] chrisvest commented on #5368
This does not look like a problem anymore. Closing.

[2018-01-10 15:08] #5368 closed, assigned to nobody

[2018-01-10 15:24] chrisvest commented on #6440
Annual update (if that's a thing, heh) on this.

Memory usage is something that we have been, and will continue to, focus on. Unfortunately there isn't "one thing" that when fixed, will make this problem go away. It requires a different, disciplined and systematic approach to memory management throughout the entire code base.

Our current plan is to continue to improve the situation throughout 201

[2018-01-10 15:25] chrisvest commented on #7029
Our plan is to upgrade to the latest Lucene version in 4.0, whenever that comes around.

[2018-01-10 18:19] shahidul2k9 opened #10776 "Like Cypher query not working when value of node property contains special characters"
- Neo4j version: 3.1.7
- Operating system: Windows 7
- API/Driver:  OGM bolt driver 3.0.2

suppose there is a node in DB called Student {subject: 'Data \nStructure'}
if I search with the following query MATCH (n:Student) WHERE n.subject=~ ".*ta.\*" RETURN n
Then it returns an empty result but it should have return the node.

[2018-01-11 07:49] cloudhuang opened #10778 "About the "Compressed storage""
## Guidelines
In the documentation,
https://neo4j.com/docs/operations-manual/current/performance/property-compression/

when neo4j will trigger the storage compress ? can I trigger it manually?

Thanks.

[2018-01-11 09:45] adadgio opened #10781 "Mac OS *dmg download"
Where is the MacOS DMG file download link ?

Its has been removed from your website. Why ? Did you drop this ?

[2018-01-11 09:50] chrisvest commented on #10778
That's always enabled and happens on the fly.

[2018-01-11 11:22] alastai commented on #266
@ceefour @DeltaBravo Thanks for the comments. Very useful.

[2018-01-11 11:27] shahidul2k9 commented on #10776
It is not neo4j bug just make it work add flag(?s). It was not working because . pattern excluding \n.

[2018-01-11 11:27] #10776 closed, assigned to nobody

[2018-01-11 11:54] WolfgangFahl commented on #10722
I get a java.lang.NoClassDefFoundError: org/apache/lucene/store/NRTCachingDirectory in a similar situation with the code:

[code]

is this the same or a different bug?

[2018-01-11 12:49] #10519 closed, assigned to nobody

[2018-01-11 14:39] chrisvest commented on #10598
I can only suggest that you check the permissions and owners on the files and parent directories again.

Are you running Neo4j inside a Docker container or something like that?

Is this happening right after the database starts, or only after it has been running and doing work for a while?

You can try creating a file in the relevant graph.db directory (or whatever it might be called) with the exa

[2018-01-11 16:13] ollio commented on #10722
Maybe the exception is the same and can also have the same reason.
Attached is the patched version of DebugUtil, you can give it a try.

[DebugUtil.java.zip](https://github.com/neo4j/neo4j/files/1623266/DebugUtil.java.zip)

[2018-01-11 16:16] WolfgangFahl commented on #10722
@ollio - in my case it was an incompatible apache lucence which was introduced by using  apache pdfbox-lucene. I manually added a newer lucene reference and all was well.

[2018-01-12 00:33] mikernorton opened #10792 "neo4j-admin backup does not handle IPv6"
neo4j-admin backup gives an error when passed an IPv6 address in the "--from" argument.

- Neo4j version: neo4j-enterprise 3.2.8
- Operating system: RHEL 7.3 (VM)
- API/Driver: neo4j-admin

- **Steps to reproduce**
This was tested in a causal cluster.
-Bind the backup port to an IPv6 address, in my case, fd00:ce10::2 (This step may not be needed since the error happens early in the command parsing

[2018-01-12 12:17] sherfert commented on #10719
There is a bugfix for this in the soon to be released 3.3.2

[2018-01-12 12:17] #10719 closed, assigned to Lojjs

[2018-01-12 12:21] sherfert commented on #10656
There is a bugfix for this in the soon to be released 3.3.2

[2018-01-12 12:21] #10656 closed, assigned to Lojjs

[2018-01-13 16:36] yuri-karkh commented on #9646
for me issue was related to TMP/TEMP env variables. It was set to User app data dir and application was not able to write to it, hope this helps.

[2018-01-15 14:51] ddesna opened #10812 "Can not start an object, expecting field name"
I'm trying to execute some statements via Neo4j Rest API that cause the following error:

[code]

Neo4j version: 3.3.1 (Community)

This is the full request:
[code]

What could be the reason of the following error ?

Thanks.

[2018-01-15 15:05] ddesna commented on #10812
I have tried to change statment from
`START r=rel({relIds}) FOREACH (row in filter(row in {rows} where row.relId = id(r)) | SET r += row.props) RETURN ID(r) as ref, ID(r) as id, {type} as type`
to
`MATCH ()-[r]-() WHERE id(r) IN {relIds} FOREACH (row in filter(row in {rows} where row.relId = id(r)) | SET r += row.props) RETURN ID(r) as ref, ID(r) as id, {type} as type`

and `START r=rel({relIds})

[2018-01-15 15:51] chrisp429 commented on #9646
@yuri-karkh  could you please explain better what you did? I think I am in the same situation:
![neo](https://user-images.githubusercontent.com/25708248/34950695-2f57410e-fa14-11e7-8e48-379c832907ca.jpg)

[2018-01-15 17:20] chrisp429 commented on #9646
I managed, it was easy indeed:
![image](https://user-images.githubusercontent.com/25708248/34954379-7d45d950-fa20-11e7-9bce-81ee9661ad94.png)
I just creater C:\Temp, opened Environment Variables and replaced the default TEMP and TMP path which was "%USERPROFILE%\AppData\Local\Temp" with it.

[2018-01-15 19:54] jjaderberg commented on #10781
The desktop packaging was completely reworked for Neo4j 3.3. You can download Neo4j Desktop at https://neo4j.com/download/ and read more about it at https://neo4j.com/product/#neo4j-desktop

Closing this issue, please reach out here or on the `neo4j-users` Slack if you have further questions.

[2018-01-15 19:54] #10781 closed, assigned to nobody

[2018-01-16 06:06] karpatit commented on #7188
Hello, I have many java version installed on my ubuntu system, as different applications require different java versions. I solved the issue by adding the following line at the beginning of _/etc/neo4j/neo4j.conf_:

`JAVA_HOME=/usr/lib/jvm/java-8-oracle`

After this it worked and I was able to connect to the web service...

[2018-01-16 07:59] Urr4 commented on #9622
Same problem

[2018-01-16 12:57] Lojjs commented on #10712
@szarnyasg This sounds like a bug, we will take a look at it.
//Louise, Neo4j Cypher Team

[2018-01-16 19:06] Seddryck commented on #6165
When trying to install neo4j on CI builds, it'd be really easier if these scripts were signed. Will you consider to get this back?

[2018-01-16 19:34] petermo13 commented on #266
Obviously, there is a Giant Demand to this Concurrent Multiple Active DB/Schema Feature. This feature would be Extremely helpful in every way. So Yes, +1 !

[2018-01-16 23:04] kewball commented on #266
No. 1, the **Multiple Clusters** sounds like an architectural plan. The other two seem more like after-thoughts.

[2018-01-17 15:08] izhangzhihao commented on #8832
Same issue here, Any update?

[2018-01-17 18:36] jmarton opened #10831 "REMOVE property from nodes returned by an expression"
Neo4j raises error when I try to remove a property from a node given by an expression.

- Neo4j version: 3.3.1, 3.2.3
- Operating system: Debian Linux 9
- API/Driver: bolt through webUI

## Steps to reproduce

1. Create 2 person nodes KNOWing each other in an empty database

[code]

2. Remove the age from the older one of Alice and Bob by running the query:

[code]

## Expected behavior

Feedback

[2018-01-18 08:32] ikwattro commented on #10695
@fickludd Sorry for the timeloss, it seems my local neo was on 3.3.0 :(

[2018-01-18 08:32] #10695 closed, assigned to Lojjs

[2018-01-18 12:46] developerrespig commented on #8183
Hi,

are there any news for this feature? I just have a use case where we need this too and I'm currently looking for a solution.

[2018-01-18 15:55] Lojjs commented on #10831
@jmarton Thanks for reporting, this sounds like a bug in our cost planner. We will investigate this as soon as possible.

Best regards Louise, Neo4j Cypher team

[2018-01-18 16:05] stormit-vn commented on #7591
Hi all,

I also encountering this problem. This problem seem occurs after setting default password using below command
neo4j-admin set-initial-password password

If I create new cluster without running above commant, Neo4j can start without any issue.

Does anyone has any resolution to fix this?

Thanks,
Hoang

[2018-01-20 17:36] tuddman opened #10858 "Retrieving properties(n) fails on basic CREATE"
- Neo4j version: 3.3.1
- Operating system: (Ubuntu 16.04)
- API/Driver: (Cypher/Java bolt driver 1.5.0)
### **Steps to reproduce**
`CREATE (n:Person {name: "john"}) RETURN properties(n)`
### Expected behavior
properties of the the newly created node to be returned
### Actual behavior
- using CYPHER / Browser:
query hangs indefinitely
- using java-bolt-driver
[code]

[2018-01-22 09:49] Lojjs commented on #10858
@tuddman This is an unfortunate, but known bug in Neo4j version 3.3.1. We have received bug reports for this and included a fix in Neo4j 3.3.2, which has just been released this morning. You can download the new version on https://neo4j.com/download/other-releases/#releases.
Best regards Louise, Neo4j Cypher team

[2018-01-22 09:49] #10858 closed, assigned to Lojjs

[2018-01-22 10:10] cloudhuang commented on #10778
thanks.

[2018-01-22 10:10] #10778 closed, assigned to nobody

[2018-01-22 11:01] systay commented on #10812
Hi @ddesna!

I'm pretty sure you found the problem and solved it yourself. It's a weird error message you are getting, but the solution is to not use `START`.

Thanks for letting us know!

[2018-01-22 11:01] #10812 closed, assigned to nobody

[2018-01-23 00:57] cloudhuang opened #10870 "Neo4j 3.2.2. crashed when executing bolt message failed"
## Guidelines
Neo4j crashed for wrong cypher, from the log, Expected STRING, received: NULL (0xff).
1. It is better to log the correspsonding cypher when throw the exception
2. Neo4j should keep running but not crashed

[code]

- Neo4j version: 3.2.2
- Operating system: Ubuntu 16.04 64bit
- API/Driver:  OGM 2.1.3

[2018-01-23 10:55] #10831 closed, assigned to Lojjs

[2018-01-23 11:43] maldonadoa opened #10873 "Starting Neo4j as non-root user inside Docker container"
## Problem

We are using the [official Neo4j Docker image](https://hub.docker.com/_/neo4j/). Afaik, the Neo4j process inside a new container is started as user `root`. However we have some data mounted that belongs to a specific technical user and we want that the DB process can only read the files that belong to this user and not all of them, e.g. for a CSV import. If we start Neo4j as `root`, th

[2018-01-23 14:02] #10712 closed, assigned to Lojjs

[2018-01-24 07:01] fickludd commented on #9445
Hi @jakinto
Do I understand it correctly that the only problem the stack-trace in the log, the procedure executes as expected?

Also to understand this issue further we would need to pinpoint the problem more. Does CustomProcedure generate the stack trace without the unmanaged extension. What about it you use only the unmanaged extension and a regular cypher query? Can you share the actual procedu

[2018-01-24 10:56] Lojjs commented on #9450
@ekkis  Hi and thanks for your feature request (and sorry for the late reply). I have send your suggestion over to the openCypher language group to have a look at.

[2018-01-24 11:01] Lojjs commented on #9052
Hi @fbiville and sorry for the late reply. Our performance team will have a look at this and come back to you.
Best regards Louise, Neo4j Cypher team

[2018-01-24 11:23] Lojjs commented on #10653
@svkerr Your suggestion have been handed over to the OpenCypher language group. They also have an CIR (https://github.com/opencypher/openCypher/issues/183) for aggregation on lists. However, they have a long backlog at the moment so it can take a while until they come around to look at it. I would consider to close this issue and instead re-open it on our APOC library github https://github.com/neo

[2018-01-24 15:40] Lojjs commented on #9131
@362466 While have not received the info requested by @jepx above, I will close this issue. If you still would have problems, feel free to re-open it or create a new one.

Best regards Louise, Neo4j Cypher team

[2018-01-24 15:40] #9131 closed, assigned to Lojjs

[2018-01-24 15:45] Lojjs commented on #3010
@ophileon Since we have not received the requested concise Cypher query I will close the github issue for now. Feel free to reopen it if/when you have more info for us.

Best regards Louise, Neo4j Cypher team

[2018-01-24 15:45] #3010 closed

[2018-01-24 19:15] fbiville commented on #9052
No worries, the PR was at a very very early stage.

The idea would consist in extracting a separate module with a common Neo4j extension model and common validation logic (i.e. 95+% of validation cases?), re-used by the reflective validation module and the compile-time one.

Then, find a way to plug custom validation logic (5+% of cases) where relevant.

In terms of validation differences, here ar

[2018-01-26 00:59] cjdaly commented on #9693
I recently got a [Rock64](https://www.pine64.org/?page_id=7147) board with 4GB RAM and 64GB eMMC storage.  I installed Ubuntu Xenial (16.04) and Oracle Java 8 and then installed the latest Neo4j and I see the same "Connection refused" behavior as with the rPi.  I then re-imaged the Rock64 and installed Neo4j 3.1.4 and confirmed that it seems to be working - I could connect with cypher-shell and cr

[2018-01-26 03:32] codeslubber commented on #8832
Moved on to orientdb..

[2018-01-26 08:44] SimonThordal opened #10898 "Syntax check and auto complete makes Firefox unresponsive"
Neo4j Browser version 3.1.4
Debian 9 Stretch
Firefox 57.01

When writing long queries in the Neo4j browser Firefox often becomes slow or unresponsive until syntax checking is completed. It would be great to have an option to turn it off in the same way that you can with auto-complete (which also seems to slow down Firefox a lot).

[2018-01-26 08:59] tomzeppenfeldt commented on #3010
Issue can be closed indeed, because  the example below now works

Thanks

[code]

[2018-01-26 09:24] eebus commented on #10898
Hello @SimonThordal
Thanks for reporting.
Could you reopen this issue in the browser repository? https://github.com/neo4j/neo4j-browser/issues

[2018-01-26 11:29] SimonThordal commented on #10898
Sure, didn't notice it had its own repo :)

[2018-01-26 11:29] #10898 closed, assigned to nobody

[2018-01-26 14:57] fickludd commented on #6894
Hi there @rationalism,

This is very interesting results you find, and I must say I have never seen such big changes in query execution time. Could you share the source for your benchmarks?

I tried to reproduce this with the following [jmh benchmark](http://openjdk.java.net/projects/code-tools/jmh/)

[code]

executed against a fresh Neo4j enterprise 3.3.2 which was just started.

In this setup I

[2018-01-26 21:02] freethejazz opened #10902 "3.3.1 causal cluster fails with misleading error on startup from 3.0.4 backup despite being a supported upgrade path"
Sorry for the long title, feel free to rename :)

The [upgrade docs for 3.3](https://neo4j.com/guides/upgrade/) state that `3.0.any` -> `3.3.1` is a supported path, but mentions no caveats. Additionally, the [3.3 Upgrade FAQ](https://neo4j.com/guides/upgrade/) says upgrading any `3.x version will be very straightforward`, with no mention of caveats.

However, I was unable to upgrade from 3.0.4 to

[2018-01-28 00:24] nikhil026 commented on #4334
Has this feature of parameterizing labels in a cypher query  been added ? If not then please guide me a work around for the same . I can't afford to have hard coded Labels.
Further it would be great if someone can explain the idea of not adding this feature even after so long.
@cleishm @terribleplan

Thanks in Advance
Cheers
Nikhil

[2018-01-28 01:11] cleishm commented on #4334
The concern with parametrized labels was that the actual label wouldn’t be available during query planning, and thus the query could not be optimised to use indexes, etc. That could result in serious performance issues for even simple queries, and the risk of that outweighed the benefit. Especially when the need for parametrized labels is more often than not a sign of a problem in the data modelin

[2018-01-28 09:25] billscheidel opened #10909 "Working Cypher Query in 3.2.3 broken in 3.3.2"
I recently started testing against 3.3.2 and found a query that is now failing.

The following query produces 1 result in 3.2.3 but 0 results in 3.3.2.  Basically I'm looking for a set of nodes with a particular set of labels.

### Steps to reproduce

- Neo4j version: 3.3.2
- Operating system: Ubuntu 16.04
- API/Driver: Browser using Bolt

[code]

### Expected behavior

1 result returned:  (:Foo)

[2018-01-28 09:28] billscheidel commented on #10909
Looks like the following query produces the expected results:

[code]

[2018-01-28 17:25] szarnyasg opened #10910 "Slotted runtime fails on OPTIONAL MATCH and double aggregation"
- Neo4j version: 3.4.0.alpha06 enterprise
- Operating system: Ubuntu 16.04
- API/Driver: any

I was experimenting with some queries on the LDBC Social Network Benchmark's data set and ran into an error when running a query. I managed to simplify it to this:

[code]

The error message is:

[code]

Prefixing the query with `CYPHER runtime=interpreted` makes the error go away, so this must be an issu

[2018-01-28 18:04] ecbftw commented on #108
This still appears to be a missing capability from Neo4j.  After quite a bit of searching, I've found numerous people who want this kind of feature, such as:
  https://stackoverflow.com/questions/40060000/cypher-all-paths-without-loops
  https://stackoverflow.com/questions/47198226/how-to-avoid-cycle-or-loop-in-path-neo4j-cypher
While it is possible to use the solutions above on small graphs, they

[2018-01-29 15:35] Dcanzano commented on #9258
regarding logging is employeeID, are you speaking of samAccountname, if so see https://neo4j.com/docs/operations-manual/current/security/authentication-authorization/ldap-integration/#_configure_the_ldap_auth_provider which contains a block on authenticating in with samAccountName.

[2018-01-29 19:15] szarnyasg commented on #10910
I also got a similar error with the following query:

[code]

Added the log to https://gist.github.com/szarnyasg/7c2bf5c026d3295116004946b193dbda#file-debug-2-log.

[2018-01-30 09:48] Lojjs commented on #10910
Thanks for your detailed bug report @szarnyasg We in the Cypher team will have a look at this and come back to you.

[2018-01-30 10:02] Lojjs commented on #10909
@billscheidel thanks for reporting. I have been able to reproduce it and as you say it is a bug in 3.3 but working as expected in 3.2. I will come back to you once we have solved it.

Best regards Louise, Neo4j Cypher team

[2018-01-30 10:08] Lojjs commented on #10831
@marton A fix for this bug will be included in the next patch releases for 3.2 and 3.3 (3.2.10 and 3.3.3)

[2018-01-30 10:10] Lojjs commented on #10712
@szarnyasg A bug fix for this will be included in 3.3.3

[2018-01-30 13:53] samuelcentaurm opened #10926 "Cannot start neo4j on restart of server"
- Neo4j version: community edition / neo4j 3.3.2
- Operating system: Ubuntu 16.04

**Steps to reproduce**
install neo4j / java 8 etc.. from apt-get on fresh install of ubuntu 16.04 lts (amazon ami) updated to all latest packages - following instructions on neo4j site for debian installs

- Expected behavior
install neo4j working
restart server for whatever reason sudo neo4j start - should start ne

[2018-01-31 10:08] rkaran4 opened #10937 "Neo4j plugin not working"
I get the following exception when I start neo4j server with a stored procedure jar in plugins directory.

Caused by: java.lang.VerifyError: class com.fasterxml.jackson.databind.deser.Settabl
eBeanProperty$Delegating overrides final method getDeclaringClass.()Ljava/lang/Class
;
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.jav

[2018-01-31 10:49] rkaran4 commented on #10937
Solved.
I was using apoc along with my plugin, apoc was using a different version of com.fasterxml.jackson.core:jackson-databind
Excluded this dependency from build target and now it works fine with apoc.
`
<plugin>
                <artifactId>maven-shade-plugin</artifactId>
                <executions>
                    <execution>
                        <phase>package</phase>

[2018-01-31 10:51] #10937 closed, assigned to nobody

[2018-02-01 00:06] mctouch commented on #9053
:play query template is not working for me in either the desktop or under linux and windows. Do I have to install something to get this to work?

[2018-02-01 12:32] dennisverspuij opened #10941 "Remove known property keys from database"
It would be great if one could CALL db.removeProperty([key]) to remove all properties set with given key from any nodes as well as the Neo4j indexes, so that subsequent CALL db.propertyKeys() won't include that key anymore. Or CALL db.removeUnusedPropertyKeys() to just drop all keys that are not in use. This would solve the annoyance as described [here](https://stackoverflow.com/questions/33982639

[2018-02-01 13:01] wubing101 commented on #9233
@spacecowboy  what to do in centos? thank you

[2018-02-01 13:35] spacecowboy commented on #9233
@bingwork this issue relates to a problem in the Docker container. If you have issues with CentOS please create a new issue and describe your problem

[2018-02-03 09:23] developerworks commented on #7608
In latest version of neo4j embedded mode, The inner class `GraphDatabaseSettings.BoltConnector` was deprecated, you should use BoltConnector like this:

[code]

[2018-02-03 20:02] rothn opened #10959 "Bug: Procedure gets called once for each item in a node list"
A custom procedure (Personalized PageRank) gets called for each item in its input node list with an input list of cardinality 1. Since it is a single *list*, the procedure should only get called once with the *full* input list. In other words, this is what happens:
CALL algo.personalizedPageRank.stream([a])
CALL algo.personalizedPageRank.stream([b])
CALL algo.personalizedPageRank.stream([c])
CALL

[2018-02-03 20:41] InverseFalcon commented on #10959
Not a bug.

In Cypher operations execute per row, including procedure calls.

The result of this: `MATCH p = (n)` is 8 rows, so your procedure will be called 8 times, once per row.

If you want your procedure to only execute once for all nodes in the graph, collect those nodes so you only have a single row with the node list.

[code]

[2018-02-05 16:11] szarnyasg commented on #9992
Version 3.3.1 still displays the error message as `_node` and not `_nodes`:

[code]

[2018-02-06 10:04] praveenag commented on #10238
@nicktrav https://github.com/neo4j/neo4j/pull/10927 :)

[2018-02-06 14:39] narutosanjiv commented on #5444
Its depend on OS and how you have installed Neo4J. If you are on Mac OS X and installed Neo4j using brew, then path may something like below:

`/usr/local/Cellar/neo4j/3.3.0/libexec/data/dbms/auth`

[2018-02-06 19:18] xenic commented on #10398
I'm having the problem with 3.3.2

[2018-02-06 21:31] allentiak commented on #10926
Also confirmed on Debian 'testing'.

[2018-02-07 19:36] Mahesh-gupta542 opened #10978 "REDUCE function giving error."
The REDUCE function is not able to execute when iterating over a concatenation of two sub lists. When I tried to get the sum of the elements of two separate lists it throws error of type mismatch.

**Neo4j Version:** 3.2.9
**Operating System:** Windows 10
**API:** The built-in web app running over bolt

### Steps to reproduce
1. Start the database service on your local system
2. Go to the neo4j co

[2018-02-08 00:25] ajaradv commented on #8347
@lhesterberg, I encountered a similar user, running as sudo allowed me to run the import tool from both neo4j-admin and neo4j-import...

[2018-02-08 07:20] kafkaguru commented on #9693
I created a Causal Cluster with v3.3.2 and only one out of 7 nodes had this issue. The rest have cypher-shell working just fine. Configurations are identical as well. Have not been able to solve this yet.

[2018-02-08 17:58] Meatballs1 opened #10987 "Escaping | char in cypher?"
Can't work out how:

[code]

[code]

I've tried blackslash, backticks, single and double quotes?

Should work like below:

[code]

[2018-02-08 18:12] dsevero commented on #5542
Just got a similar error:

`While loading relationships for Node[79] a Relationship[414474] was encountered that had startNode: 0 and endNode: 0, i.e. which had neither start nor end node as the node we're loading relationships for`

query:

[code]

[2018-02-08 19:40] jakewins commented on #5542
@daniel-severo while the error message is similar, ~~that is likely a different issue than this ticket. Would you mind opening a separate ticket, and include~~ Edit: Scratch that, you were totally right to add that note here. Could you please provide the following info to help further this ticket along:

- OS version (`uname -a` if you're on linux)
- JVM version (java -version)
- Output from runni

[2018-02-08 19:43] jakewins commented on #5542
@daniel-severo actually, I'm wrong, sorry - there's no reason to think your issue has a different cause, I'd forgotten the background to this ticket; don't open a new ticket. If you could supply the info here from the bullet list above it'd be super helpful,.

[2018-02-08 20:14] dsevero commented on #5542
[code]

Found something strange that I will investigate:

[code]

But when I run

[code]

Also, there were a few inconsistency reports in the docker workspace, the latest being [inconsistencies-2018-02-08.20.11.00.report](https://gist.githubusercontent.com/daniel-severo/6c1ddf213ec8ce1aa9d7ca6d39948c6d/raw/dee51c73206a5cfbc113bccbd3515b49cc6c3d3a/inconsistencies-2018-02-08.20.11.00.report)

[2018-02-08 22:12] Alan-R commented on #9992
Please accept this pull request which fixes the problem: https://github.com/neo4j/neo4j/pull/10988

[2018-02-09 07:15] #9170 closed, assigned to sherfert

[2018-02-09 07:29] sherfert commented on #9170
The feature will be available in 3.4.0 alpha08 and later

[2018-02-09 10:47] pontusmelke commented on #10909
Hi @billscheidel
You are right that it works in 3.2.3, however it shouldn't have - sorry about that 😞

`LABELS(n)` returns a list so you are basically checking if a list is contained in another list which should evaluate to `false` in this case but unfortunately didn't work as intended in 3.2.3 but has been fixed in later versions of 3.2 (and in 3.3).

The canonical way of doing this is by using

[2018-02-09 10:47] #10909 closed, assigned to Lojjs

[2018-02-09 11:53] dcbasso opened #10993 "How to buy NEO4J Enterprise?"
We try several times to buy the license but the sales of Neo4J never returns with the value of licenses.
We work for a huge company of Agricultural business and we really wont to buy the license, but as we not get the answer we are thinking to avoid this product.
Can anyone here help me get the answer we are looking for, a really good sales contact.

Thanks

[2018-02-11 09:56] dakra137 opened #11001 "neo4j-desktop-offline-1.0.13-x86_64.AppImage execution fails with "GLIBCXX_3.4.21 not defined in file libstdc++.so.6 with link time reference""
**Neo4j Version:** neo4j-desktop-offline-1.0.13-x86_64.AppImage
**Operating System:** Ubuntu 14.04
**API:** haven't gotten that far

**Steps to reproduce via GUI**
Execute from Nautilus by clicking or right clicking and selecting Run:

- Expected behavior
launch the installation sequence

- Actual behavior
produces no output, but leaves processes running:
	dakra     4530  1878  2 11:36 ?        00

[2018-02-12 07:27] oskarhane commented on #11001
Thanks for the detailed report!
Could you open this in the public neo4j-desktop repo instead, so we can track it there?
https://github.com/neo4j-apps/neo4j-desktop

[2018-02-12 07:27] #11001 closed, assigned to nobody

[2018-02-12 07:52] Lojjs commented on #10978
@Mahesh-gupta542 Thanks for reporting this bug. We will have a look at it and come back to you.

Best regards Louise, Neo4j Cypher team

[2018-02-12 08:00] Lojjs commented on #10987
@Meatballs1 Which version of Neo4j are you using?

In 3.3 your original query works exactly like your example with `&`, i.e.
[code]
returns
`["a", "b"]`

[2018-02-12 08:17] Lojjs commented on #10941
@dennisverspuij Thanks for your feature request, it sounds like a useful thing. We will review the priority of this and consider it for future development.

Best regards Louise, Neo4j Cypher team

[2018-02-12 09:52] chrisvest commented on #10598
I'm still suspecting that the problem is with the operating environment. Neo4j itself never modifies any permissions after installation. Closing until we get an indication to the contrary.

[2018-02-12 09:52] #10598 closed, assigned to nobody

[2018-02-12 19:58] ryguyrg commented on #10993
Hi there @dcbasso -- I believe we're now in touch through Kevin.  Feel free to reach out to devrel -at- neo4j.com at any time.

@jexp please close issue.

[2018-02-13 07:39] #10993 closed, assigned to nobody

[2018-02-13 14:20] #10959 closed, assigned to nobody

[2018-02-13 16:30] Meatballs1 commented on #10987
Somewhere in 3.4... I will try and get the commit

[2018-02-14 04:04] patricker commented on #7257
@ADTC I appreciate the code. I wish this allowed for querying composite indexes, but that looks like the limitation you mentioned with findNodes; no way to pass in multiple property names/values to even try querying a composite index.

[2018-02-14 09:01] Lojjs commented on #10987
@Meatballs1 Yes, it seems to be a bug in 3.4. We in the Cypher team will have a look at it and then come back to you.

[2018-02-14 13:18] frant-hartm opened #11018 "Expose Hazelcast's setPublicAddress settings"
## Cannot setup causal cluster where nodes are behind nat or similar network settings

In a deployment where node's public ip address doesn't match any of the machine interfaces it is not possible to setup causal cluster because hazelcast erroneously connects to itself.

Seems like discovery advertised address is not used to set Hazelcast's setPublicAddress settings
http://docs.hazelcast.org/docs/

[2018-02-15 08:55] fickludd commented on #9052
Hi again Florent!

I think everyone agree that this makes a lot of sense, but we just have too many other prioritized things to do to get around to this in a while. If you are passionate about pushing this we will gladly guide a PR, but no-one is available to drive this from Neo4j.

Would you mind closing the issue, or do you want it to remain open?

[2018-02-15 08:57] fickludd commented on #9445
I am closing this because of a lack of activity (from everyone!). Please re-open if there is still interest in this.

[2018-02-15 08:57] #9445 closed, assigned to nobody

[2018-02-15 09:11] fbiville commented on #9052
Let's close it for now. I can create a new issue when I have some available bandwidth again.

[2018-02-15 09:11] #9052 closed, assigned to Lojjs

[2018-02-15 16:58] fickludd commented on #6894
As I cannot currently reproduce the described problems this issue will be closed. If there's more information on how to achieve these warmup-problems though, post it here and we can re-open and continue finding the cause and possibly adding documentation. Thanks again for reporting!

[2018-02-15 16:58] #6894 closed, assigned to nobody

[2018-02-16 20:08] straumat opened #11038 "Using Java stream and driver 3.1.0 : The requested operation cannot be performed, because it has to be performed in a transaction"
- Neo4j version: 3.3.3
- Operating system: Ubuntu 16.04
- API/Driver: Java neo4j-ogm-embedded-driver / neo4j-ogm-bolt-driver 3.1.0

My project is working well with driver 3.0.2 but I get an exception after moving to driver 3.1.0

On my project [blockchain2graph](https://github.com/straumat/blockchain2graph), I'm using Spring boot and I'm doing something like this :
[code]
And this is the repositor

[2018-02-17 17:53] loritzm commented on #9646
I had the same problem with a “shortened” directory name in the TEMP variable, leading to an abort like @yuri-karkh and @chrisb429 mentioned. In English, the error message, given a user profile in C:\Users\user.name, was:

Debugging the script, I found the error raised in line 68 of `bin/Neo4j-Management/Confirm-JavaVersion.ps1`. Apparently, the script uses a temp file to store the output of “java

[2018-02-17 21:41] akash-gupt opened #11039 "unable to deploy neo4j enterprise"
i am unable to deploy

[2018-02-18 21:05] gotomgo opened #11040 "Incorrect query return behavior with REST HTTP API"
## Overview
The following query does not return expected result a majority of the time. It returns a valid result somewhat randomly, and infrequently. I was unable to deduce any discernible pattern across many small variations of what I returned from the query:

match (x:X{id:$id})-[:HAS]->(y:Y)
where y.prop=0
set y.prop=timestamp()
return true

It's counterpart exhibits the same issue:

match (x:

[2018-02-19 10:49] technige commented on #10870
Hi @cloudhuang - can you give us some details on what you were running when this happened?

[2018-02-19 10:52] technige commented on #10792
@mikernorton Did you try enclosing the entire address in quotes, i.e. `--from="[fd00:ce10::2]:6362"`?

[2018-02-19 10:59] technige commented on #10475
Thanks @mcolburn we'll have a look at this and try to recreate it.

[2018-02-19 11:01] technige commented on #10339
Hi @yeoh-ong - thanks for raising this, we'll have a look into it. Could I ask that you raise any future issues with the driver in the appropriate repository? Thanks :)

[2018-02-19 11:03] technige commented on #10239
Yes @szarnyasg I think the error could be more usefully presented here. We're working on adding new data types for Neo4j 3.4, some of which will be acceptable as parameters, so we'll address this at the same time.

[2018-02-19 11:31] ali-ince commented on #10518
Hi @virtuald,

We're planning to add couple of more monitor methods including `#connectionClosed` as part of our next release.

We'll keep this issue updated when the work is submitted as a PR.

Thanks.

[2018-02-19 11:34] technige commented on #9693
@cjdaly We don't regularly run tests on Raspberry Pi machines :) Which version of Java does your distro come with?

[2018-02-19 11:37] technige commented on #9683
Hi @pocesar - thanks for your thoughts on this. We do have flow control on our roadmap and it would likely appear at some point next year (2019) although the timings are obviously subject to change. At that point, we'd be able to incrementally consume or discard a stream as required from any of the drivers.

[2018-02-19 11:37] technige commented on #9683
![](https://github.trello.services/images/mini-trello-icon.png) [Flow control/Back pressure (Pull_n) [?]](https://trello.com/c/T60XILkt/24-flow-control-back-pressure-pulln)

[2018-02-19 11:47] technige commented on #9412
Hi @honeygidwani. The path `/db/data/81/path` shouldn't exist. Do you mean `/db/data/node/81/path` instead?

[2018-02-19 11:53] technige commented on #9151
Thanks, we'll look into this.

[2018-02-19 11:58] technige commented on #9098
Hi @darkshade9. What you're actually seeing there is Cypher, rather than JSON. While they do have a lot of superficial similarity, the differences go deeper than just quoting. Given also that what we're logging here is actually Cypher parameters, conversion to JSON would necessarily be lossy. For that reason, I'm afraid I'll have to close this as `wontfix`.

[2018-02-19 11:58] #9098 closed, assigned to nobody

[2018-02-19 12:00] technige commented on #6182
Closing as `wontfix`.

[2018-02-19 12:00] #6182 closed, assigned to nobody

[2018-02-19 12:06] technige commented on #5065
It's never too late @ikwattro! I'm just seeing this now but we can add it to the list for internal discussion.

[2018-02-19 12:09] technige commented on #4920
Closing as it's unclear what needs to be done (if anything). Please reopen if necessary.

[2018-02-19 12:09] #4920 closed, assigned to nobody

[2018-02-19 12:10] technige commented on #4450
Closing as this is an old thread discussing known type mapping quirks with no current action to take AFAICT.

[2018-02-19 12:10] #4450 closed, assigned to nobody

[2018-02-19 12:12] technige commented on #4430
Hi @davidrapin. Sorry but only just seeing this. Given this was against Neo4j 2.2, is this still relevant?

[2018-02-19 12:14] technige commented on #4214
Copying this issue over to an internal Trello card and closing the GitHub Issue.

[2018-02-19 12:14] #4214 closed

[2018-02-19 12:15] #3718 closed

[2018-02-19 12:16] #3421 closed

[2018-02-19 12:17] technige commented on #2837
Closing old thread. Please reopen if still an issue.

[2018-02-19 12:17] #2837 closed

[2018-02-19 13:53] technige commented on #2585
Confirmed that this issue no longer exists in 3.3. The location below (`Location: http://localhost:7474/db/data/transaction/6`) contains the port.
[code]

[2018-02-19 13:53] #2585 closed

[2018-02-19 14:36] technige commented on #2364
Closing this issue as it seems to contain a series of separate problems. Please open new issues for any problems that still exist.

[2018-02-19 14:36] #2364 closed

[2018-02-19 14:51] davidrapin commented on #4430
Haven't had this issue since, but I haven't tested 2.2 in a while.
Working daily with v2.1.6, 3.0.x and 3.3.x, never reproduced.

[2018-02-19 14:59] technige commented on #2272
Closing as issue is obsolete.

[2018-02-19 14:59] #2272 closed

[2018-02-19 15:00] technige commented on #2197
Closing as this only applies to a deprecated endpoint.

[2018-02-19 15:00] #2197 closed

[2018-02-19 15:01] technige commented on #2104
Closing as this applies to a deprecated endpoint.

[2018-02-19 15:01] #2104 closed

[2018-02-19 15:02] technige commented on #2074
Closing as this applies to an old and unsupported server version.

[2018-02-19 15:02] #2074 closed

[2018-02-19 15:03] technige commented on #1877
Closing as this applies to an old and unsupported version of the product. Please open a new ticket if the problem still exists.

[2018-02-19 15:03] #1877 closed

[2018-02-19 15:05] technige commented on #1812
This has now been added to our internal system for discussion.

[2018-02-19 15:05] #1812 closed

[2018-02-19 15:09] technige commented on #1262
Thanks, this has now been added to our internal system for discussion.

[2018-02-19 15:09] #1262 closed

[2018-02-19 15:12] technige commented on #906
Closing this as the batch endpoint should now be considered deprecated.

[2018-02-19 15:12] #906 closed

[2018-02-19 15:22] technige commented on #197
Closing as unlikely to still be relevant.

[2018-02-19 15:22] #197 closed

[2018-02-19 15:22] technige commented on #160
Closing as unlikely to still be relevant.

[2018-02-19 15:22] #160 closed

[2018-02-19 15:23] technige commented on #131
Closing as unlikely to still be relevant.

[2018-02-19 15:23] #131 closed

[2018-02-19 15:29] jakewins commented on #1103
So! Custom transaction isolation levels are not likely to come soon, but we've implemented [unique constraints](http://neo4j.com/docs/developer-manual/current/cypher/schema/constraints/#query-constraint-unique-nodes) that will ensure you don't get clashing ids; together with the automatic retry built into the new neo4j drivers, I believe this pattern will work:

    session.writeTransaction( (tx)

[2018-02-19 15:29] #1103 closed

[2018-02-19 17:31] deemeetree opened #11057 "Upgrade path from the latest Neo4J 2.0.x to 3.x is not supported"
### Bug description

I discovered that the upgrade path from the latest 2.0.x to 3.x is not supported even though it is claimed otherwise on http://neo4j.com/docs/operations-manual/3.3/upgrade/#upgrade-planning

**Neo4j Version:** 2.0.4
**Operating System:** Mac OS X  10.12.6

### Steps to reproduce
1. Download neo4j community 2.0.4
2. Create a database
3. Download neo4j community 3.3.3
4. Follow

[2018-02-19 21:11] technige commented on #6178
Old issue: closing. Please open a new issue if required.

[2018-02-19 21:11] #6178 closed, assigned to nobody

[2018-02-20 02:58] kyle-rader opened #11058 "TX log file build up in incremental backup directory"
## Incremental backups do not clean up tx log files and eats up disk space fast!

I discovered after starting to use nightly incremental backups that the older tx log files do not get cleaned up so each incremental backup adds all the tx log files since the last incremental backup growing the size of the backup directory _very_ quickly.

These are the transaction log files that get rotated and cle

[2018-02-20 08:13] eebus commented on #11039
Hello @akshacker
I need more information to be able to help you with your problems.
I would recommend that you follow https://neo4j.com/docs/operations-manual/current/installation/ .

[2018-02-20 08:31] eebus commented on #11038
Hello @straumat
This seems to be an issue with the  neo4j-ogm-bolt-driver could you reopen this issue at https://github.com/neo4j/neo4j-ogm/issues ?
Thanks

[2018-02-20 08:43] straumat commented on #11038
Done under https://github.com/neo4j/neo4j-ogm/issues/469
Thanks.

[2018-02-20 08:43] #11038 closed, assigned to nobody

[2018-02-20 08:53] #11039 closed, assigned to nobody

[2018-02-20 09:54] technige commented on #9551
@ikwattro Can you suggest a way for us to recreate this issue?

[2018-02-20 09:59] technige commented on #5065
We will factor this into our work on tracking statement and transaction execution.

[2018-02-20 09:59] #5065 closed, assigned to nobody

[2018-02-20 10:12] technige commented on #1807
Closing as this applies to an old, unsupported product.

[2018-02-20 10:12] #1807 closed

[2018-02-20 10:35] SaschaPeukert commented on #10910
Thank you for reporting. We managed to reproduce this on 3.4.0.alpha06 but not in 3.4.0.alpha08. Can you confirm that it is closed for you in 3.4.0.alpha08? Also, how long do you expect the second query to take? It's not crashed for me yet but isn't finished either

[2018-02-20 10:52] szarnyasg commented on #10910
I grabbed alpha08: the first query runs fine. The second indeed takes a lot of time (but it does not crash as it used to), as it does a big antijoin operation followed by a double optional match.

Anyways, I don't think that's a problem: I changed that query a lot since then (see its [commit history](https://github.com/ldbc/ldbc_snb_implementations/commits/master/cypher/queries-opencypher/bi-19.cy

[2018-02-20 12:02] #10910 closed, assigned to Lojjs

[2018-02-20 12:08] MPasadu commented on #9257
Any update on this?

[2018-02-20 16:21] #9151 closed, assigned to nobody

[2018-02-20 20:33] szarnyasg opened #11067 "Error in slotted runtime for complex OPTIONAL MATCH"
As a followup to #10910, I changed to Enterprise 3.4.0.alpha08 and continued testing the new runtime.

- Neo4j version: 3.4.0.alpha08 enterprise
- Operating system: Ubuntu 16.04
- API/Driver: any

I was experimenting with LDBC queries and ran into an error with [BI query 25](https://github.com/ldbc/ldbc_snb_implementations/blob/e3e08a1a72bb74d81d183e8125eee55f8585aa7c/cypher/queries-opencypher/bi-

[2018-02-21 01:03] matthewoates commented on #6584
Hi all,

This seems like a massive feature which if done poorly (or perhaps if done at all) could a divergence from the graph paradigm.

Nevertheless, I'd love to hear if there is any momentum on this, or if there's any way we can help out. (planning, contributing, testing, etc) We're a startup with 8 engineers and would like Neo4J to power our real time recommendations as well as application data

[2018-02-21 02:40] cjdaly commented on #9693
@technige, on the Raspberry Pi, running `java -version` returns this:

    java version "1.8.0_65"
    Java(TM) SE Runtime Environment (build 1.8.0_65-b17)
    Java HotSpot(TM) Client VM (build 25.65-b01, mixed mode)

and on the Rock64 I get this:

    java version "1.8.0_161"
    Java(TM) SE Runtime Environment (build 1.8.0_161-b12)
    Java HotSpot(TM) 64-Bit Server VM (build 25.161-b12, mixed m

[2018-02-21 10:10] zunio opened #11070 "[apoc subgraphAll] relationshipFilter not expected behavior"
[code]

With apoc "subgraphAll" and maxLevel=1,  the "relationshipFilter" is applied on the search of direct neighbors but not on the relationships between his neighbors.
Is this the expected behavior of this apoc?

**Apoc Version:** 3.2.3.5
**Neo4jVersion:** 3.2.6 Enterprise

[2018-02-21 10:14] jexp commented on #11070
Wrong repo: -> http://github.com/neo4j-contrib/neo4j-apoc-procedures

[2018-02-21 10:14] #11070 closed, assigned to nobody

[2018-02-21 12:24] pumpadump opened #11073 "Error in the Operations Manual"
Example 9.3. in the Operations Manual shows wrong commands:
[code]
Should be
[code]

the other command seems to be also wrong:
[code]
I don't have a quick correct solution at hand.

[2018-02-21 13:38] dakra137 opened #11074 "neo4j debian .deb neo4j_1%3a3.3.3_all.deb cannot install into Ubuntu 14.04"
- Neo4j version: 3.3.3 latest in the repository
- Operating system: Ubuntu 14.04 up to date
- Steps to reproduce
**sudo apt-get update**
- Expected behavior
**successful update**
- Actual behavior
**dpkg-deb: error: archive '/var/cache/apt/archives/neo4j_1%3a3.3.3_all.deb' has premature member 'control.tar.xz' before 'control.tar.gz', giving up**
dpkg: error processing archive /var/cache/apt/archi

[2018-02-21 13:44] rescuehero opened #11075 "Creating a new Database in Neo4j Desktop version 1.0.15 fails after upgrade"
I found out, that on the new Desktop version the Database creating does not work for me.

- Neo4j Desktop Version: 1.0.15
- Neo4j version: 3.3.3 CE
- Operating system: Win7, Win10
- Steps to reproduce : Upgrade from desktop version 1.0.14 to Desktop version 1.0.15
- Expected behavior: creating a new database works flawless in a few seconds
- Actual behavior: creates the folder of the database in n

[2018-02-21 14:44] chrisvest commented on #6155
Hey, sorry it took us so long to pick this up. We're going to add a setting for disabling the traversal endpoint script execution: #11078

[2018-02-21 15:28] chrisvest commented on #6924
Closing this because this basically by design. We have a bounded thread-pool for executing REST transactions, to avoid run-away resource usage. Stopping transactions _at commit time_ is not very realistic. Transactions that take too long will either run into the `dbms.transaction.timeout` setting, or the `dbms.lock.acquisition.timeout` setting.

[2018-02-21 15:28] #6924 closed, assigned to nobody

[2018-02-21 15:34] chrisvest commented on #6490
In 3.3 the error message is now much nicer. Making the transaction log interruption-safe is a bigger story that we are already tracking internally, so I will close this issue.

[2018-02-21 15:34] #6490 closed, assigned to nobody

[2018-02-21 15:45] chrisvest commented on #5091
@jonathancrosmer Have you tried any 3.x versions by any chance? Assuming this is still relevant…

[2018-02-21 16:23] chrisvest commented on #5091
@jonathancrosmer I upgraded your test case to use Neo4j 2.3.12, and this makes the test pass reliably.

I'm suspecting it might have something to do with the relationship iterator close change in 2.3.12: https://github.com/neo4j/neo4j/wiki/Neo4j-2.3-Community-changelog#2312

If I change the test case to use Neo4j 2.3.11, it reliably fails. This strengthens my belief that this issue is fixed in Neo

[2018-02-21 16:23] #5091 closed, assigned to nobody

[2018-02-21 16:31] #6342 closed, assigned to nobody

[2018-02-21 16:33] chrisvest commented on #6787
Closing since #8003 claims to fix this.

[2018-02-21 16:33] #6787 closed, assigned to nobody

[2018-02-21 16:47] chrisvest commented on #6761
I'm going to close this under the assumption that this has long since been taken care of via the support channels. Otherwise feel free to reopen if this is still an issue.

[2018-02-21 16:47] #6761 closed, assigned to nobody

[2018-02-21 20:18] spantazis opened #11083 "Dubious results"
I have been having some dubious results with the shortest path function with the attached dataset.

Here's what I get if I look for the shortest path with LIMIT 1 (which should be meaningless I suppose but is actually not):

![1-pic](https://user-images.githubusercontent.com/1118958/36503108-58047874-174c-11e8-951e-754c53906305.PNG)
![1-code](https://user-images.githubusercontent.com/1118958/36503

[2018-02-22 02:36] cloudhuang commented on #10870
@technige ennn, as the cypher was not appropriate logged, so unfortunately I cannot give more details except the logs above.

[2018-02-22 09:36] oskarhane commented on #11075
Thanks for the report! May I ask you to open this issue in the [neo4j-desktop](https://github.com/neo4j-apps/neo4j-desktop) repo instead since this isn't a Neo4j issue?

[2018-02-22 09:36] #11075 closed, assigned to nobody

[2018-02-22 09:46] rescuehero commented on #11075
yep right, sorry about that :)
thank you for noticing me about the other repo

[2018-02-22 14:27] Samathy opened #11087 "PageCacheStressTest.Builder does not have 'with' method to pass a PageCursorTracerSupplier."
The PageCacheStressTest.Builder class has a member `PageCursorTracerSupplier pageCursorTracerSupplier` but no `with` method to set it.

PageCursorTracerSupplier needs to be set to get interesting PageCacheCounters information out of stress test. (hits, faults, etc)

[2018-02-22 14:54] digitalstain commented on #11087
@chrisvest I think you may be interested in this - is the suggested change the proper way to go about this?

[2018-02-22 15:11] chrisvest commented on #11087
Yes, I've approved the PR.

[2018-02-22 16:04] ali-ince commented on #10475
Hi @mcolburn,

We were unable to reproduce the behavior you described with any of the `3.3.0`, `3.3.1` and `3.3.3` versions.

What we get when we invoke `bin/cypher-shell -a <IP Address> --encryption false` is the error `Connection terminated while receiving data. This can happen due to network instabilities, or due to restarts of the database. Expected 4 bytes, received none.`. We get asked for u

[2018-02-22 23:12] matthewoates commented on #6584
Does this PR cover this requested feature?

https://github.com/neo4j/neo4j/pull/10702

[2018-02-23 09:36] #11087 closed, assigned to nobody

[2018-02-23 10:28] lonelywm commented on #11074
same issue

[2018-02-23 17:26] mcolburn commented on #10475
I believe you can close this.  I suspect the problem was that I have multiple Neo4j instances on cloud services and apparently I was connecting to one that had  dbms.connector.bolt.tls_level=OPTIONAL. Sorry to trouble you.

[2018-02-23 21:14] ali-ince commented on #10475
No worries @mcolburn, closing the issue.

[2018-02-23 21:14] #10475 closed, assigned to nobody

[2018-02-23 21:49] mlwish opened #11094 "CSV import bug for 3.3.2+"
I used NEO4J 3.3.1 on my mac to use neo4j-admin import shell to built graphs from CSV files and everything works fine. (followed by https://neo4j.com/docs/operations-manual/current/tools/import/)

I wanted to build the same database on my Ubuntu box(14.04) with NEO4J 3.3.2 so I scp all the CSV files from mac to ubuntu box and used the same shell to import CSV.

However, the importing data failed a

[2018-02-24 13:27] HassanHashemi opened #11095 "Bolt connection issue"
can not connect to local Neo4j Server.
error message:
`Failed to Etablish encrypted connection with server bolt://127.0.0.1:7687`
`a cal to SSPI failed, the token supplied to the function is not valid.`
`version: 3.3.3`

but it is possible to connect to server remotely, via websocket.
Driver: C#
OS: Windows server 2012
config:
dbms.security.auth_enabled=false
dbms.connector.http.enabled=true
dbms.

[2018-02-25 08:56] tolomaus commented on #11094
Hi,

Your issue looks very similar to one I encountered a couple of days ago and was caused by a non Latin (but still valid utf-8) character in my csv file. I found a workaround for it by removing all non latin characters from the file.

Could you verify if this workaround also fixes your problem? If not it may still be a different issue I have alltogether.

See also the discussion about it on sla

[2018-02-26 09:49] technige commented on #10870
Closing issue as no more information is available. Please reopen if necessary.

[2018-02-26 09:49] #10870 closed, assigned to nobody

[2018-02-27 11:00] ninaqms opened #11114 "The query hang if the result contains circle?"
**Operating System: win64,
Run the following query in the  neo4j browser, and it hangs:

**MATCH (g:GROUP) WHERE g.SamAccountName="ABC"
WITH g
MATCH (sg:GROUP)<-[r*]-(user:User)
WHERE sg.SamAccountName = g.SamAccountName
RETURN user, r, sg**

This model describes the relationship between groups and users. For group ABC,
ABC <- DEF <- user1  (DEF is memberOf ABC, user1 is memberOf DEF)
ABC <- DEF <

[2018-02-27 11:49] ninaqms opened #11116 "[C# driver]Cannot break in the result foreach loop"
To help us understand your issue, please specify important details, primarily:

- Neo4j version: 1.5.2
- Operating system: windows 10
- API/Driver: .Net

Code:
using (var session = driver.Session())
                {
                    foreach(var sg in sgs)
                    {
                        var result = session.Run(string.Format(@"
                        MATCH path = (sg:GROUP)< -[*

[2018-02-27 14:01] hdk commented on #11083
Execute your query without the LIMIT statement and click on "Text view".
Neo4j finds 30 paths containing up to 2 :HAS_CONTACT relations - and LIMIT just limits the number of returned paths (the first one has length 2, the second one length 1)

[2018-02-27 19:50] #10987 closed, assigned to Lojjs

[2018-02-27 19:57] spantazis commented on #11083
Yes, this is exactly what happens, but why return paths containing 2 "HAS_CONTACT" relations if we are looking for the shortest path? If I understand the function definition correctly, it should only return a list of paths with 1 "HAS_CONTACT" relation. Or at least this is the result I would like to have.

EDIT: For even further clarification, I expected a list of four paths with length 1 as a res

[2018-02-27 21:21] hdk commented on #11083
You are looking for all (5) Matrix actors and for all (6) Top Gun actors, and then for the shortest paths between all of them => 30 shortest paths, 4 have length 1 and 26 have length 2.

[2018-02-27 21:22] chrisvest commented on #6155
The PR has been merged and the setting will appear in the next releases.

[2018-02-27 21:22] #6155 closed, assigned to chrisvest

[2018-02-27 21:37] cpieringer commented on #8912
I have the same problem with Neo4j Desktop version on Windows 10. I cannot import a csv file.

[2018-02-28 06:13] spantazis commented on #11083
This is what I got, but this is not what I am looking for :-) Ok, so shortestPath works on each of these thirty actor combinations (the first of Matrix & the first of Top Gun, then the first of Matrix and the second of Top Gun and so on). I guess that explains everything. Now I have to concentrate on somehow finding the shortest of these paths. Thanks a lot.