[2018-02-28 06:13] #11083 closed, assigned to nobody

[2018-03-05 08:20] mkrogh commented on #11074
Still no update after 12 days?

[2018-03-05 08:28] Lojjs commented on #11114
@ninaqms In order to help you we need to know which version of neo4j are you using.

Best regards Louise, Neo4j Cypher team

[2018-03-05 08:57] Lojjs commented on #11067
@szarnyasg Thanks for reporting! We will have a look as soon as possible.

[2018-03-05 10:17] IkKan commented on #11018
+1

Having the same issue with docker and causal cluster setup

[2018-03-05 10:20] sonu27 commented on #6895
Same thing happens if you have Java 1.9 installed. Why do I need to downgrade to 1.8?

[2018-03-05 10:38] apjanke commented on #6895
Java 9 is a significant change over Java 8, and Oracle has recently moved to a more aggressive 6 month release + "LTS" release cycle for the JDK. Now, you need to make more considered changes when migrating to a new version of the JDK, and it's reasonable for libraries to stick with older JDK versions. See http://www.oracle.com/technetwork/java/eol-135779.html and Google results for "Java LTS" for

[2018-03-05 11:18] spacecowboy commented on #6895
At this time Neo4j is not Java9 compatible

[2018-03-05 22:42] InverseFalcon commented on #11114
@ninaqms You aren't using variable-length relationships in your query, so it couldn't be an infinite loop issue (additionally, the mode of expansion that Cypher uses wouldn't allow that anyway...a relationships can ever only be traversed once in a matched path).

I would guess that this probably has to do with non-indexed lookup of your nodes. Can you tell us the indexes in your db for :GROUP node

[2018-03-06 00:49] InverseFalcon commented on #11083
@spantazis You can do this easily using [APOC's path expander procedures](https://neo4j-contrib.github.io/neo4j-apoc-procedures/#_expand_paths)

In the recent winter releases (3.2.3.6 and 3.3.0.2, depending on your version of Neo4j), we added the capability to define specific end nodes and terminator nodes for the expansion, and the procedures already support a limit and breadth-first-search expan

[2018-03-06 10:17] technige commented on #11116
@ninaqms To enable us to track this properly, please could you re-raise this issue against the .NET driver repository: https://github.com/neo4j/neo4j-dotnet-driver.

[2018-03-06 16:29] lutovich commented on #11116
Closing in favour of https://github.com/neo4j/neo4j-dotnet-driver/issues/276

[2018-03-06 16:29] #11116 closed, assigned to nobody

[2018-03-06 16:39] #10978 closed, assigned to Lojjs

[2018-03-06 16:55] ali-ince commented on #9646
Dear @loritzm,

We have tried to reproduce the issue in an attempt to verify your proposed fix, but it worked as expected in our test environments. We've tried with different user name combinations that would result in `8.3` folder names but it seems that it is not related with the problem itself.

Could you please send us the exact windows and powershell versions you've been using?

Thanks.

[2018-03-07 08:23] Sinisterish opened #11183 "transactions of 10000 items fails with Java Heap"
I'm doing some bench-marking and overall poc with neo4j, i have a very simple java program that takes a JSON file reads it and transforms it to a simple Create query of 10000 node items each transaction, it runs for a long period before throwing a java heap exception on first 10000 items iteration, from what i have read a transaction of 1M nodes is common and works well,
Thanks a lot in advance

#

[2018-03-07 08:53] chrisvest commented on #11183
It also depends on how many properties you add, and your VM does not have very much memory to begin with so that "1M nodes" rule of thumb might not apply there anyway.

Try making the transactions smaller.

[2018-03-07 09:15] Sinisterish commented on #11183
i have increased the vm to 16G mem and 4 vcpu's ,lets assume i have 20 properties per item, it shouldnt take more than 5 minutes for sure. it runs for 20 min now and disk is not in high usage at all from what i see

[2018-03-07 09:26] chrisvest commented on #11183
You'll need to profile to figure out where time is going, as always. It could just as well be that it's spending all its time parsing and planning your huge query. Transaction state is kept in memory until commit time, and then still kept in memory as long as we have room in the cache, so low IO is not necessarily indicate of no work being done.

[2018-03-07 15:45] henriknyman commented on #11067
@szarnyasg Thanks a lot for providing the `graph.db` to reproduce it with. Very helpful!

[2018-03-07 16:35] Sinisterish commented on #11183
some information/conclusions i came up with, for people encountering similar problems
1. building a huge query string (10000 items with 20 properties each) is bad, from what i have encountered it hammers the cpu, i guess because it parses all of it (which is still very odd imo as parsing shouldnt take so much)
2. tried creating a transaction and running each create separately, which was better but

[2018-03-07 17:42] hsmfedor commented on #11074
same issue

[2018-03-08 13:37] chrisvest commented on #10727
@amadfida Are you sure about your Neo4j 3.1.1 version? The line numbers in the stack trace don't line up with our 3.1.1 tag.

[2018-03-08 15:16] #11183 closed, assigned to nobody

[2018-03-08 15:23] chrisvest commented on #10238
Closing because we're using Jetty 9.4.8.v20171121 since Neo4j 3.4-alpha8.

[2018-03-08 15:23] #10238 closed, assigned to nobody

[2018-03-08 15:32] chrisvest commented on #9557
Closing since it sounds like the files might have been interfered with by external factors, which we have no idea about.

[2018-03-08 15:32] #9557 closed, assigned to nobody

[2018-03-08 17:06] HassanHashemi commented on #11095
after getting no response here, upgrading to windows server 2016 fixed for me, but the issue is still in place, because win server 2012 should have been enough.

[2018-03-08 17:07] #11095 closed, assigned to nobody

[2018-03-09 10:58] davidcdupuis opened #11207 "Import freeze on large dataset with duplicate nodes"
Hi,

I'm currently working with "Neo4j community version 3.3.3" with a server with the following configurations: Debian GNU/Linux version 9 with 500GB of RAM and 56 cores. (for research purposes)

I am importing a large dataset into Neo4j.
I use four files for this import:
- edges.csv which contains about 1.46B edges (25GB)
- nodes.csv which I created using a basic python script to extract nodes f

[2018-03-09 13:54] davidcdupuis commented on #11207
I can confirm that getting rid of duplicate nodes using a simple script prevented the import process from freezing. It managed to import the dataset in 19minutes.

[2018-03-09 14:56] dmikov commented on #266
My interest in this is rather small but painful, we need multiple databases to create and drop them on demand during testing, integration and user. Polluting main database or managing instances with security and network is just too big of a chore. Not to mention is forcing us to run tests one at a time to clean it up.
 As such, our requirement is to have droppable database specified by connection

[2018-03-09 21:19] mikernorton opened #11216 "Multi-site neo4j can't recover from site failure as operations manual says it can."
- Neo4j version: 3.2.9
- Operating system: Centos 7.3
- Steps to reproduce:

1. Create a causal cluster with two sites and three cores at each site, leader on the site 1
2. Block traffic between sites so that they become isolated.
3. Wait for Neo4j cores on site 2 to recognize that site 1 is unavailable
4. follow the procedure in https://neo4j.com/docs/operations-manual/3.2/clustering/causal-clust

[2018-03-09 22:22] davehagler opened #11217 "Query hangs in cypher 3.3"
Neo4j version: 3.3.3 enterprise
Operating system: CentOS 7

A query that works in previous versions of neo4j hangs in 3.3.  The query contains a SET and extract() method.  This is the query (simplified)

MATCH (a)-[]->(b)
OPTIONAL MATCH path=(b)<-[]-(c)
SET b.prop2 = b.prop1
WITH a,b,extract(x in nodes(path)| x.name) as names
RETURN a,b,names

If the SET line is removed the query works.
If the ext

[2018-03-09 22:48] mikernorton commented on #11216
Martin Furmanski helped me with this on slack. There is a missing step in the procedure, step 2.5: neo4j-admin unbind. That works. Could we update the docs?

[2018-03-09 22:58] relicmelex commented on #1580
@jacquibo Did you ever figure this out? I'm running into this issue and it's obnoxious that the Cypher Query can't add two numbers simply for me. How terrible!?

@mneedham They took down your work around, can you maybe follow up what you did here, of if you've heard of another solution to this floating point addition issue?

[2018-03-10 15:05] tolomaus opened #11218 "neo4j-admin import fails to parse csv"
- Neo4j version: 3.3.3-1 installed through yum
- Operating system: centos 7
- API/Driver: neo4j-admin import

I'm loading a large (1M+ records with 40 fields) csv file with the following (simplified) command:
neo4j-admin import \
    --nodes:Organization /path/to/organizations.csv \
    --multiline-fields=true \
    --ignore-duplicate-nodes=true \
    --ignore-missing-nodes=true \
    --array-deli

[2018-03-12 12:11] #11067 closed, assigned to Lojjs

[2018-03-12 12:40] klaren commented on #10657
Hi and thanks for reporting!

This is a known issue, where running out of disk space might cause the transaction log to be corrupt. It has already been addressed by #9956 and will make the database more resilient when running out of space. So this should already be fixed 3.4-alpha releases, what version are you running?

[2018-03-12 13:48] MishaDemianenko commented on #10752
Hi @cabrenn , thx for your report.
Without more detailed execution profile it's hard to see why its taking that long for you.
But as you correctly suspecting, it should not take that long.
To check performance on some test database I have created this simple test ( you can easily convert it to JMH test, but even this oversimplified test should be enough so far) :
[code]
by running it you should be

[2018-03-12 15:19] mikernorton commented on #10792
Sorry, didn't see the notification. Yes, I tried putting quotes around it as well as not using the brackets. The causal_clustering.initial_discovery_members doesn't allow the brackets but does work, and most parameters like dbms.connector.http.listen_address seem to like having brackets to seperate IPv6 from port, as it would be in a url, so it is a bit of a soup.

[2018-03-12 20:55] oskarhane commented on #8830
Closing this due to inactivity

[2018-03-12 20:55] #8830 closed, assigned to nobody

[2018-03-13 08:29] froschi commented on #11074
This was an issue in dpkg (https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627). A fix is now in the <yourdistro>-proposed repository in Ubuntu. I installed the version of dpkg from there (1.17.5ubuntu5.8) and was then able to successfully install the neo4j package.

[2018-03-13 08:38] mkrogh commented on #11074
@froschi Nice with a workaround, though it would be nice to not have the deb package use xz compression, before 14.04 is end of life.

[2018-03-13 09:42] MarcianoAvihay commented on #11217
I have had a similar issue with a query in 3.3 community ( a query hanged) and using the CYPHER 3.2 hint made it work. my query also contained a Match, an optional Match , List filtering  , and Reduce ( toInteger(round(REDUCE(s = 0.0, x IN associated_failures | s + x.disposition))  ... Reverted back to 3.2 because of it

[2018-03-13 17:57] tcfritchman opened #11242 "List concatenation causes unexpected type conversion"
Experiencing an issue with list concatenation in Cypher where using the '+' operator on lists of strings causes some unexpected type conversion.

This issue was introduced for us when upgrading from neo4j 3.2.3 to 3.3.3.

**Neo4j Version:** 3.3.3
**API:** Cypher

### Steps to reproduce
Run the following in Neo4j Browser:
`:params {skus: ['123', '234'], styles:['567'], pid:'3'}`
[code]

### Expecte

[2018-03-14 13:25] ronaldcornet commented on #11074
Hi all,
Update to dpkg is coming, according to this page:
https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1730627

If you don't want to wait, here is what I did (no guarantee to work for others, although I wouldn't know why). I basically followed this: https://wiki.ubuntu.com/Testing/EnableProposed

1. Add this line to /etc/apt/sources.list
deb http://archive.ubuntu.com/ubuntu/ trusty-proposed

[2018-03-14 14:52] andreikoval commented on #11058
@phughk can you pls check if this is the same issue as #11055  or #11068 ?

[2018-03-14 16:00] kyle-rader commented on #11058
@andreikoval After reading [this test](https://github.com/neo4j/neo4j/pull/11055/files#diff-6e04d14cf58caffed932f5753d592bd8R145) from #11055 I think this is the same error.

[2018-03-14 19:47] #11058 closed, assigned to nobody

[2018-03-14 22:53] martinfurmanski commented on #9248
Please upgrade to latest 3.2 (or later branch) and you should not see such issues.

[2018-03-14 22:53] #9248 closed, assigned to nobody

[2018-03-14 22:55] martinfurmanski commented on #10902
This is intended behaviour and you are doing the correct "workaround". I guess "please run the old version of the database on this store" could be slightly clearer. Database here refers to the database software. I will bring the feedback back to the team though.

[2018-03-14 22:55] #10902 closed, assigned to nobody

[2018-03-14 23:02] martinfurmanski commented on #11018
We have looked into these issues before, but not really found a good solution using hazelcast. I will try to bump the priority of finding another solution though. We have an old PR which we couldn't merge because it was causing other issues: https://github.com/neo4j/neo4j/pull/10017

[2018-03-14 23:05] martinfurmanski commented on #9378
@technige Sorry, but I think this is Bolt Server issue. Feel free to remove label again, but it will be without an owner then.

[2018-03-14 23:06] martinfurmanski commented on #10792
No progress, but FYI we are tracking this internally and a resolution will come.

[2018-03-14 23:11] martinfurmanski commented on #10230
Sorry about the slow response. I agree with your analysis and rough design of how it should work. This is unfortunately not a common problem in practice, so we haven't really got around to prioritising it. I will keep you informed of any progress though.

[2018-03-15 09:39] zhouhoo opened #11269 "neo4j-admin import parse array wrong."
Hi, guys,
I discovered that when I import data from csv with neo4j-admin import , the node array property was treated as scalar string type ! so import array property failed.

**Neo4j Version:** 3.1.2
**Java Version:** 1.8.0_101
**Operating System:** Ubuntu 14.04

### Steps to reproduce
1. stop the server
2. remove the graph.db folder.
3. exec the command: `neo4j-admin import --into ../data/databa

[2018-03-15 16:12] freethejazz commented on #10902
Thanks for your reply @martinfurmanski.

This may be intended behavior as you understand it, but that means there is a glaring omission in the documentation. The links in the initial post show that the documentation does not make any mention of exceptions to the supported upgrade path, however, this is definitely an exception. Can you link to me any official documentation that discusses this worka

[2018-03-16 01:04] mlwish commented on #11094
@tolomaus
I cannot remove non Latin characters because I have a lot of chinese characters(utf-8) in my csv files.

[2018-03-16 11:31] sherfert commented on #11217
We will have a look at this. Thanks for the report.

[2018-03-16 12:05] sherfert commented on #11242
Hey. I just tried reproducing it and I am quite sure this bugfix https://github.com/neo4j/neo4j/pull/11161 also fixed your issue. This fix is included in 3.3.4.

That being said, your query will set `pts.color` to `null`, since `split('123', ':')` (and the likes) has only size 1.

[2018-03-16 12:05] #11242 closed, assigned to sherfert

[2018-03-17 06:31] 444728248 opened #11295 "Okami Neo4j cpyher statistical problems"
In my graph database, how to query all related entity nodes from a node is also a question of how to count the number of graphs in my database. The problem is that neo4j doesn't seem to have such a mechanism.

[2018-03-19 07:54] eebus commented on #11295
Hello @444728248
It seems like this is a CAPS: Cypher for Apache Spark or Okami issue.
Could you reopen the issue in https://github.com/opencypher/cypher-for-apache-spark ?

[2018-03-19 08:15] 444728248 commented on #11295
Hello Okami
I do not have a large amount of data, but my data layer is very large, only 100 thousand nodes, the query speed is very slow. for example，
CQL  --- Match p = (n:CaseInfo { XKBH : '1000000' }) - [*1..5]-() return p
This is I query 5 layers of relationships, how to use a paging method to query all relationships?

[2018-03-19 08:16] 444728248 opened #11298 "Okami Match p = (n:CaseInfo { XKBH : '1000000' }) - [*1..5]-() return p optimization"
Hello Okami
I do not have a large amount of data, but my data layer is very large, only 100 thousand nodes, the query speed is very slow. for example，
CQL --- Match p = (n:CaseInfo { XKBH : '1000000' }) - [*1..5]-() return p
This is I query 5 layers of relationships, how to use a paging method to query all relationships?

[2018-03-19 09:00] #10722 closed, assigned to nobody

[2018-03-19 09:01] zhouhoo commented on #11269
Sorry, I used very old blog example, NOW change node csv file header declare as uri:string[],problem solved!

[2018-03-19 09:01] #11269 closed, assigned to nobody

[2018-03-19 13:09] Lojjs commented on #11114
@ninaqms we need the above requested info about neo4j version in order to help you. As @InverseFalcon wrote, also eventual indexes and PROFILE could be helpful. If I don't hear back from you within a couple of days I will close this issue for now. Feel free to re-open it or create a new one if you still have problems.

[2018-03-19 16:41] eastlondoner commented on #11018
I have found a workaround for this _if you are able to set up dns entries_ for each of your cluster members.

1) set up DNS A records to give each causal cluster member a unique hostname:

[code]

2) On each member change the advertised address and discovery members to use the member's hostname:

[code]

3) On each causal cluster member modify the `/etc/hosts` file so the advertised name points to

[2018-03-19 16:50] moxious commented on #11018
I have run into the same issue, but found a similar workaround to @eastlondoner 's.

Similar because it relies on DNS.  I have found that the node doesn't have to have `dbms.connectors.default_advertised_address` attached to any network interface.  The node will effectively parrot whatever it's told here, even if it can't prove it owns that address.

As a result, my work-around is to make `dbms.co

[2018-03-19 19:56] hodonsky commented on #7591
@stormit-vn You need to set your ENV VARs to match
NEO4J_AUTH=username/password

[2018-03-19 20:04] InverseFalcon commented on #6584
@matthewoates No, that looks like an unrelated PR.

I believe work on this feature is being tracked internally, there may not be a corresponding PR.

[2018-03-19 22:15] panthershark opened #11309 "3.3.x regression"
I'm not sure if this is a driver or server issue, but the more time I spend with the problem the more it seems there could be a server problem so submitting here also.

Related JS driver issue:
https://github.com/neo4j/neo4j-javascript-driver/issues/339

- Neo4j version: 3.3.0, 3.3.1, 3.3.2, 3.3.3
- Operating system: Mac OS, Alpine Linux in Docker
- API/Driver: JS driver

### Expected behavior
A q

[2018-03-19 22:50] john-li-zenith commented on #11094
Any update on this bug? I encountered exactly same issue. However, the issue still persists even after i remove all non-latin characters.

[2018-03-19 23:15] h3xstream commented on #10722
For users encountering the same bug..

If you get a NoClassDefFoundError with `com/google/inject/Module` or `com/google/inject/Injector`, this is caused by this bug.

[code]

## Workaround

Add the following dependency to your project.
[code]

## Background info

Neo4j was loading information of method definitions. Including the annotation. However, annotations are optional and Guice should be an

[2018-03-20 02:14] stormit-vn commented on #7591
@relicmelex  yeah, i figured out the root cause, it is because of the permission issue, I run above comment with root user, hence, neo4j does not have permission on /var/lib/neo4j/data/dbms/, so i have add a script to set permission for neo4j and cluster can run without any errors

[2018-03-20 15:37] Lojjs commented on #11094
Hi and sorry for the late answer @mlwish . Utf-8 characters should be supported, so this sound like a bug. Would it be possible for you to send the failing data (line  9385 of your file) over so we could have a look at which character(s) are causing the error? Also @tolomaus , which non Latin character(s) did you have when encountering this issue?

Best regards Louise, Neo4j Cypher team

[2018-03-20 15:43] tolomaus commented on #11094
Hi Louise,

The "non-latin" workaround turns out to be unrelated. In fact the error can be "fixed" temporarily by simply changing the column ordering or removing a random line from the input. But the next time, with other inputs, it may fail again.

See https://github.com/neo4j/neo4j/issues/11218 for more details. I created my own issue because I think it's unrelated to this one. At least I always

[2018-03-21 15:49] anguo-wenz opened #11334 "RepositoryOverview.asciidoc is missing"
the file RepositoryOverview.asciidoc in README.asciidoc is missing
URL https://github.com/neo4j/neo4j/blob/3.4/RepositoryOverview.asciidoc will return 404

[2018-03-21 16:46] mlwish commented on #11094
@Lojjs

I don't have the original data. However, I can regenerate the error with different data set.
Please see the below error message with the failing data.

It complained the **display_name** in the data, however I do not see any bad data(**RandomBy__5615718e6fa88c4aca323191**) here.

Error in input data
Caused by:ERROR in input
  data source: BufferedCharSeeker[source:/home/mlo/graph_2018-03-1

[2018-03-22 02:24] MysterAitch opened #11342 "debian version numbers - now with 1: prefix"
At some point during the last month or so (not sure precisely when as I've been away from this project for a small while), the version numbers within the debian repository seem to have gained a `1:` prefix. See below for a list of the available versions.

I have discovered the altered version numbers as they have broken some of my automated install scripts (used within vagrant to provision throwaw

[2018-03-22 13:06] fickludd commented on #11217
@davehagler this was a bug related to resource management and lazy evaluation of the `extract()` construct. It should be fixed with https://github.com/neo4j/neo4j/pull/11347, which will be part of `3.3.5`.

@MarcianoAvihay Although I fixes a similar issue with `filter()`, I'm haven't verified whether this solves your issue. I can do so if you provide the full query and a minimal graph if needed.

[2018-03-22 20:49] anandvikram212 commented on #9175
this might help u...

http://anandvikram212.blogspot.in/2018/03/neo4j-error-andor-exceptions-while.html

[2018-03-23 06:55] xznhj8129 opened #11362 "neo4j-admin DOES NOT EXIST on 3.2.3 CE Windows"
I need to dump the database and i have looked absolutely everywhere; and the admin tools, or any other kind of tool, are totally absent from the /bin in Program Files. All there is is the cypher-shell, which cannot do anything. Documentation refers to completely different things; nothing it says makes any sense for Community Edition and i cannot find any CE specific documentation. How do i get my

[2018-03-23 08:37] klaren commented on #10320
Docker images are available at https://hub.docker.com/r/neo4j/neo4j-experimental/tags/

[2018-03-23 08:58] giannello commented on #10320
Awesome, thanks

[2018-03-23 13:44] loritzm commented on #9646
I experienced this on Windows 10 Enterprise, v1703, OS Build 15063.909 with PowerShell 5.1.15063.909.
If you can’t reproduce, fine. At least, someone else with the same problem has one more lever to try ;)

[2018-03-23 21:52] tolomaus commented on #11218
downgraded to 3.3.1 and all seems to be working fine so far

[2018-03-24 22:58] bonham000 commented on #6584
Would love to see this feature!

[2018-03-26 03:47] prathle commented on #6584
tl;dr: This is an obvious and necessary feature. It's been prioritized and about 50% of the work has been done. It will land in Neo4j 3.5, which is targeted for EOY '18.

Let me explain below why it's taken as long as it has:

We've been in the midst of a major forklift of our indexing implementation over the last three releases (Neo4j 3.2, 3.3, and 3.4). We're doing this to address what is _by fa

[2018-03-26 09:32] Lojjs commented on #11309
@tommymessbauer Thanks for reporting! We in the Neo4j Cypher team will investigate this to see if it is a server problem. If it turns out to be a js driver issue, we will hand it over to our driver team.

[2018-03-26 10:23] tinwelint commented on #11218
Hello @tolomaus have you got a sample CSV file or means of generating one which produces this issue?

[2018-03-26 10:32] tolomaus commented on #11218
Hi @tinwelint ,

Unfortunately no. I tried to pinpoint the issue with a small subset of the data but could never reproduce the issue.

I could send you the complete 100+MB file if that helps.

[2018-03-26 16:15] szarnyasg commented on #11067
I tested this with the Enterprise `alpha10` release and it works fine. Thanks!

[2018-03-26 18:56] tinwelint commented on #11218
Alright, I think it's alright... I've most likely found the issue (see linked PR).

[2018-03-26 19:02] tolomaus commented on #11218
Cool! Would you like me to test your fix on my dataset? I could find some time later this week, just let me know.

[2018-03-26 19:04] agupta98 opened #11390 "Not able to configure neo4j etl to migrate data model from sql server to Neo4j using Neo4j deskstop"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-03-26 19:06] tinwelint commented on #11218
That would be absolutely brilliant, Niek. You'll probably get pinged when the PR is merged. Also I have to merge it forward to 3.3 and 3.4 so I can ping you when all is done.

[2018-03-28 06:51] kdwykleingeld opened #11406 "set password twice while creating new graph/database"
When you create a new database using Neo4j Desktop (3.3.4 in my case) you must set a password.

Since you only have to enter the password once there is a possibility for typos / mistakes.

I would suggest that the password must be entered twice to prevent this.

Regards Koen

[2018-03-28 08:47] mdrobulis opened #11408 "Cypher Query processing crashes the server"
## Cypher Query processing error

[code]

while executing this query
[code]

**Neo4j Version:** Neo4j 3.1.4
**Operating System:** Linux development 3.10.0-514.el7.x86_64 #1 SMP Tue Nov 22 16:42:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

### Steps to reproduce
1. Start neo4j SERVER
2. Open the web brower interface
3. Execute command listed above

### Expected behavior
` Neo.ClientError.Statement.S

[2018-03-28 12:40] Tin-Nguyen commented on #6584
@prathle Do we have any workaround for `ORDER BY` performance with indexing for `Neo4j 2.3.8`, as I know the version doesn't support `APOC` yet?

[2018-03-28 19:56] mlwish commented on #11094
When can we expect the fix to be deployed?

[2018-03-28 21:49] chirag912 opened #11417 "Connection to the server lost. Reconnecting..."
@oskarhane Im, having a very similar issue. This is my etc/neo4j/neo4j.conf data

#*****************************************************************
# Neo4j configuration
#
# For more details and a complete list of settings, please see
# https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/
#*****************************************************************

# The name

[2018-03-28 21:51] chirag912 commented on #7086
@spacecowboy Im, having a very similar issue. This is my etc/neo4j/neo4j.conf data

#*****************************************************************
# Neo4j configuration
#
# For more details and a complete list of settings, please see
# https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/
#*****************************************************************

# The nam

[2018-03-29 08:14] lutovich commented on #11309
Hi @tommymessbauer,

Thanks for reporting this issue and providing a reliable way to reproduce it!
It turned out to be a Cypher problem, which should now be fixed by https://github.com/neo4j/neo4j/pull/11347. Fix will be available in the next neo4j 3.3.5 release.

I'm closing this issue but please feel free to update it if necessary.

[2018-03-29 08:14] #11309 closed, assigned to Lojjs

[2018-03-29 13:41] sshah73 commented on #8797
Has this feature been added? Would be very helpful to keep visualizing the data without re-running the query.

[2018-03-29 13:44] incansvl opened #11429 "Windows platform- Database failed to create: Error: Could not change password"
- Neo4j version: Tested in Neo4J desktop 10.0.18 and 10.0.19 (engine 3.3.4)
- Operating system: Windows 10 64 bit
- API/Driver: N/a

**Issue Outline**
Although Neo4J Desktop installs and runs, attempting to create a database fails with the error-

_Database failed to create: Error: Could not change password_

I have tried various database names and passwords to prove that is not simply (say) a dat

[2018-03-29 15:40] panthershark commented on #11309
no problem. Thank you for the quick resolution. We'll upgrade to 3.3.x when this goes live. :)

[2018-03-30 09:38] sim51 opened #11433 "Calling `neo4j version` fails when JMX is configured"
## Description

On a neo4j server where `jmx` is enabled, calling `neo4j version` is not working :

[code]

**Neo4j Version:** 3.3.4 enterprise
**Operating System:** Linux Mint 18.3 Sylvia

### Steps to reproduce

1. Enable `JMX` by editing `neo4j.conf` :
[code]

2. Start the server :  `bsimard@pythagore:bin # ./neo4j start`

3. Run the command `neo4j version` : `bsimard@pythagore:bin # ./neo4j ve

[2018-03-31 00:06] prathle commented on #6584
@Tin-Nguyen you could try doing the same thing with an unmanaged extension.

That said, Neo4j 2.3 is > 2.5 years old. Neo4j 3.3 has, without exaggeration, hundreds of engineer-years worth of improvements over Neo4j 2.3. It is, in many respects a significantly different product.

As time goes on, velocity is accelerating. Neo4j increased the size of our full-time product engineering staff by 50% la

[2018-03-31 09:56] tinwelint commented on #11094
The fix is now merged, although timing of 3.3.5 release is unknown to me right now.

[2018-03-31 09:58] tinwelint commented on #11218
@tolomaus this has now been merged into 3.2, 3.3 and 3.4 version branches of neo4j. Maintenance releases of these versions will come later, don't know exactly when right now. But feel free to try this fix out on the 3.3 version branch if you want to.

[2018-03-31 21:27] Artgit commented on #7225
+1 for this feature. Do you have any idea when it can be implemented in Neo4j?

[2018-04-01 06:27] novikovag commented on #11429
The same problem. Windows 10 64 bit

[2018-04-02 02:42] ovictorain commented on #11429
The same error.

**Source of the problem:**
Some files Neo4j needed was interrupted by anti-virus software / firewall, e.g. java.exe

**My solution:**
`Remove related files from the isolation region or shutdowm anti-virus software.`

**Environment:**
Windows 7 64bit
Neo4j Desktop Version: 1.0.19

**Log:**
log.log:
[code]

[2018-04-02 06:48] guofangfang commented on #11429
我也遇到这个问题了。。关闭了杀毒软件也没用啊。。。

[2018-04-02 08:02] 444728248 opened #11435 "APOC ProcedureCallFailed"
#CQL
MATCH (user:CaseInfo) WHERE user.XKBH = 'K00001'
CALL apoc.path.subgraphAll(user, {maxLevel:2,relationshipFilter:'DNA串并'}) YIELD nodes, relationships
RETURN nodes, relationships;

## Neo.ClientError.Procedure.ProcedureCallFailed
Failed to invoke procedure `apoc.path.subgraphAll`: Caused by: java.lang.NoClassDefFoundError: org/apache/commons/collections/IteratorUtils

[2018-04-02 08:27] sim51 commented on #11435
You should open this issue on the APOC respository, not on the Neo4j one : https://github.com/neo4j-contrib/neo4j-apoc-procedures/

Moreover, can you give more details ? (neo4j version, apoc version, etc)

[2018-04-03 13:28] rishu5391 opened #11444 "multiple optional match takes too much time. Suggest better way"
MATCH (m:Merchant)-[:HAVING_CATEGORY]->(c:Category) WHERE ( m.status IN [1,2]) WITH m, c OPTIONAL MATCH (m)-[:HAVING_STORE]->(s:Store) WITH m,c,s OPTIONAL MATCH (s)-[:HAVING_COUPON]->(d:Coupon) WITH m,c,s, d OPTIONAL MATCH (u:User)-[rd:REDEEMED]->(d) WITH m, c, s, d, rd, u OPTIONAL MATCH (d)<-[f:HAVE_FAVORITE]-(fu:User)  OPTIONAL MATCH (v:Activity {activity:1, coupon_id:d.id}) OPTIONAL MATCH (rmp:

[2018-04-04 17:50] victoriastuart opened #11461 "[Neo4j Browser; Cypher] No captions on some nodes after LOAD CSV, MERGE ..."
- Neo4j version: 3.3.4
- Operating system: Arch Linux x86_64  |  XFCE
- API/Driver: Cypher { cypher-shell: .../neo4j-community-3.3.4/bin/neo4j-shell | cycli 0.7.6}
- Web browser: Firefox 59.0.2 (64-bit)
 -- ditto: Chrome 65.0.3325.181 (Official Build) (64-bit)  |  Opera 52.0.2871.40 
- Neo4j Browser version: 3.1.4

See attached screenshots.

I'm not sure if this is a bug (likely not; if that is th

[2018-04-04 18:07] rolandobermudez opened #11463 "Performance issue encountered with cypher query"
- Neo4j version: 3.3.4 Enterprise
- Operating system: CentOS 7
- API/Driver: Web Console/Cypher
- We reproduce it in our database
- Normal Performance
- Statement execution performing a database scan

## Bug report

We discovered that the queries were taking too long, too many db hits, specifically the following query.

`PROFILE MATCH (n:Identity:Principal:T4:Taggable:User:UserAccount)-[r:HAS_STAT

[2018-04-05 06:27] #11094 closed, assigned to Lojjs

[2018-04-05 07:08] oskarhane commented on #11461
Hi,

Thanks for the report.
If I understand correctly, I think this is expected behaviour. Nodes of a certain label can only show one caption at a time.
Two of your nodes with the label `GlycolysisRelations` have the `source` property set and the other two have the `target` property set. These cannot be show at the same time.

I also think the model looks a bit odd, source and target should probab

[2018-04-05 07:08] #11461 closed, assigned to nobody

[2018-04-05 11:45] jatincse19 commented on #8797
is there any way to enable or disable this feature, because this feature has now stopped working in my system.

[2018-04-05 16:39] ali-ince commented on #9646
Hi All,

This issue should have been resolved with #11469.

The fixed script will be included in upcoming releases. For the time being, you can override your `TEMP` and `TMP` environment variables with a path that doesn't contain MSDOS8.3 convention path entries (as suggested by @chrisp429 above).

Feel free to re-open the issue if you encounter the error again with new versions.

Thanks for repor

[2018-04-05 16:42] ali-ince commented on #11429
Hi All,

This issue should have been resolved with #11469.

The fixed script will be included in upcoming releases. For the time being, you can override your `TEMP` and `TMP` environment variables with a path that doesn't contain MSDOS8.3 convention path entries (as suggested by @chrisp429 in #9646).

Feel free to re-open the issue if you encounter the error again with new versions.

Thanks for re

[2018-04-05 17:27] victoriastuart commented on #5901
As explained below, I believe that this Issue also applies to cypher statements ending in semicolons that are commented out using the // preface.

This is a significant usability issue for me: when I use *.cypher scripts with Cycli, lines that I comment out in my script that terminate in a semicolon are interpreted (not ignored).

Thus, when I am writing scripts and and I want to comment out state

[2018-04-05 22:19] victoriastuart commented on #11461
@oskarhane: thank you; much appreciated ... I thought as much (a modeling issue).

I created a Slack account earlier today, but the free account has limited space (an uploaded PNG file exceeded storage quota), and I find that the chat forum format is not conducive to a complex QA discussion, in my opinion.  It looks like a great forum for quick QA, though!  ;-)

**Update / Solution:**

I posted th

[2018-04-06 19:21] loritzm commented on #9646
I can confirm that the change in #11469 works for me, too.

[2018-04-08 07:36] saiwaiyanyu opened #11490 "multiple spaces in query not work"
## Guidelines

- Neo4j version: 3.3.0
- Operating system: MAC OSX
- **Steps to reproduce**
- Expected behavior
- Actual behavior

Additionally, include (as appropriate) log-files, stacktraces, and other debug output.

---

## example 1
1. `neo4j-shell`
2. `RETURN LENGTH('1 2') AS L1;`
3. `RETURN LENGTH('1            2') AS L1;`

there`re **multiple spaces** between 1 and 2;

both results

[code]

[2018-04-08 08:07] sim51 commented on #11433
As a workaround, we can call `neo4j-admin --version` to obtain the version.

[2018-04-08 08:19] sim51 commented on #11417
You are doing a tunnel on the port `7474`, so you can access the browser, but you have forgotten the BOLT port `7687`. without it, the browser can't connect to the database.

[2018-04-09 07:49] #11114 closed, assigned to Lojjs

[2018-04-09 08:01] Lojjs commented on #11408
@mdrobulis Thanks for reporting, we in the Neo4j Cypher team will have a look.
Best regards Louise

[2018-04-09 08:29] Lojjs commented on #11463
@rolandobermudez Thanks for reporting, this sounds like a bug. We will take a look and come back to you.

Best regards Louise, Neo4j Cypher team

[2018-04-09 08:42] thobe commented on #6620
For those who might be following this issue. This feature has been implemented in Neo4j 3.4 which is in the process of being released.

[2018-04-09 08:42] #6620 closed, assigned to Lojjs

[2018-04-09 08:52] Lojjs commented on #11490
@saiwaiyanyu Thanks for reporting, this seems like a bug. We in the Neo4j Cypher team will have a look and come back to you.

Best regards Louise

[2018-04-09 09:12] Lojjs commented on #37
This has been completed this February according to @MishaDemianenko

[2018-04-09 09:12] #37 closed

[2018-04-09 09:41] #11217 closed, assigned to sherfert

[2018-04-09 11:05] yar-malik commented on #9838
@tinwelint  this saved me big time. Sending all good Karma your way. Bless up

[2018-04-09 11:10] InverseFalcon commented on #11444
I'll have to take a deeper look later, but from the look of this you only want this to be limited to 10 merchants (the rest of the data is aggregated).

If this is so, then you can move your ORDER BY and LIMIT up near the top:

[code]

This way you limit yourself to 10 nodes at the very beginning (assuming a merchant only has a single category), and the subsequent operations only act upon those 10

[2018-04-09 11:57] MishaDemianenko commented on #10752
Closing due to reporter inactivity. Please feel free to reopen if that's still a problem

[2018-04-09 11:57] #10752 closed, assigned to nobody

[2018-04-09 12:12] #10239 closed, assigned to nobody

[2018-04-10 12:56] #11218 closed, assigned to nobody

[2018-04-10 20:21] pdstanley opened #11508 "Labels not working in Cypher query"
Hello, I've run into a distressing problem that is making my company IT leadership reconsider the decision to use Neo4j. We're in the midst of trying to convince leadership to purchase the enterprise edition next month, but this specific issue we've run into is increasing query time exponentially and we can't figure out the origin of the issue.

Here it is, in a nutshell:

When I run a cyper query

[2018-04-11 15:28] chrisvest commented on #10727
Please reopen if this is still a problem, and we can get more information on diagnosing this.

[2018-04-11 15:28] #10727 closed, assigned to nobody

[2018-04-12 08:05] billscheidel commented on #11444
The short answer is to never use OPTIONAL MATCH.  You can use this syntax instead which does the standard match and then optionally matches additional nodes if they exist.

[code]

This query will optionally return the `bazes` that `m` has.  It will be null if there were none but the query will continue.

[2018-04-12 12:29] kirancodify opened #11532 "performance issue in importing file with cypher queries using cypher shell"
While trying to import data into neo4j using the cypher shell, the import takes a very long time to complete .

Neo4j DB:
  Version:  3.3.4
  Edition: Community

Environment:
  Ubuntu VM 64-bit
  CPU: 2 cores
  RAM: 8 GB

Neo4j configuration
    dbms.memory.heap.initial_size=4096m
    dbms.memory.heap.max_size=4096m
   dbms.memory.pagecache.size=2g

Graph info
   total nodes  524,917
   total rela

[2018-04-12 14:49] eayan opened #11535 "Cypher Querry (Problem) for relationship"
Hi,

I am just trying to use cypher query to visualize existent relationship but continuously have "error" message. Can someone look/check up my query?

![selection_054](https://user-images.githubusercontent.com/5304822/38684921-1080df8c-3e71-11e8-9e82-4a4871aa4281.png)

![selection_055](https://user-images.githubusercontent.com/5304822/38684928-16fbfdf6-3e71-11e8-9886-832ac583cd7e.png)

Best...
E

[2018-04-13 10:25] srinathganesh1 opened #11542 "NEO4J Cypher Query: Relationship Direction Bug in Where Clause"
Sample Graph:
![image](https://user-images.githubusercontent.com/11017158/38729992-83701118-3f32-11e8-9815-5a67489d71ae.png)

Sample Query:
[code]

**Objective: Finding some connections in the where clause**

Now lets write some variations to find A's not directly connected to B (a2 and b3)

[code]

Any idea why Q2, Q3 are not behaving the same way even if the direction is specified as bi-directio

[2018-04-15 18:57] ctytgat opened #11556 "org.neo4j.cypher.CypherExecutionException: Unable to load NODE with id xyz"
- Neo4j version: 3.3.4
- Operating system: Debian
- API/Driver: Embedded driver/ OGM 3.1

Since we moved from 3.1.6 to 3.3.4, we've been experiencing some flipping test scenarios.
It can't really provide a reproducible scenario for now, only some scary stacktraces. We never experienced this with 3.1.6 so it's a bit worrying.
The stacktrace below is from a read-only REST call, through a neo4j sprin

[2018-04-16 04:27] elenigen opened #11557 "Inaccurate RETURN statement with Neo4j in memory"
**Neo4j Version:** 3.3.5
**Operating System:** macOS Sierra 10.12.6
**API:** Spring Data 5.0.6.RELEASE / Driver 1.4.4

### Steps to reproduce
1- Start an in memory Neo4j (TestGraphDatabaseFactory)
2- Create 2 Nodes: `A` & `B` with a relationship `C` between
3- Build a custom query to select `A` (no reference to `B`) with a `RETURN *` (even `RETURN a` has the problem)

### Expected behavior
Only th

[2018-04-16 07:01] pawpawya opened #11558 "relationships cannot be added to nodes with a certain label"
our neo4j version is 3.2.1.

Sometimes relationships cannot be added to nodes with a certain label, when others are not, but the exists relationships attached to those nodes can be deleted.

And the only thing we can do to recover it is restarting our neo4j.
Our data is not very big, just fifty thounds nodes and twice relationships.

This has happened several times , is that a bug with the db lock

[2018-04-16 07:10] Lojjs commented on #11535
@eayan Which version of Neo4j are you using? In 3.3, I can run your query without error message.

Best regards Louise, Neo4j Cypher team

[2018-04-16 07:16] Lojjs commented on #11542
@SrinathG910 Thanks for reporting, in order to investigate this further, we need to know which version of Neo4j you are using?

Best regards Louise, Neo4j Cypher Team

[2018-04-16 09:26] eayan commented on #11535
Dear @Lojjs thank you for your response. I was using desktop version 1.0.21 and now installed server version 3.3.5 and imported my .rdf. I tried my query again and it is still the same error. 1st and 2nd querries do not work but 3rd one works. I did not get the difference between them since I am just trying to get the same output.

1.query-> MATCH p=(n:ns3__Object)-[r:ns4__P102_has_title]->(n:ns4_

[2018-04-16 12:58] systay commented on #11463
Hi @rolandobermudez!

This was an interesting bug. It's difficult to reproduce the problem on our end without a copy of the db. If you are able and willing to share the db, it would really help us figure out where the planning is going wrong.

Best, Andrés

[2018-04-16 17:22] elenigen commented on #11557
I found the root cause of the problem, it's not related to the in memory instance, but the caching mechanism that I was not aware of.  Basically, with spring data neo4j which is based on neo4j ogm, the recent queried/persisted nodes were cached, so in our tests when we were inserting some data, right after when we extract it, everything is still in cache so we get the requested node + all it's nei

[2018-04-16 17:22] #11557 closed, assigned to nobody

[2018-04-16 18:46] rolandobermudez commented on #11463
@systay @Lojjs Thank you for getting back on this, i will have a copy of the database soon to share.

[2018-04-16 22:23] deemeetree opened #11573 "Neo4J gets corrupted when runs out of disk space, no way to fix it."
- Neo4j version: 3.3.3
- Operating system: CentOS 7

I ran out of disk space and as a result the database got corrupted (it looks like).

It won't restart.

When I run neo4j-admin check-consistency it says only that:

unexpected error: null. At position LogPosition{logVersion=250, byteOffset=198709181} and entry version V3_0_10

So probably some transaction logs got corrupted.

I tried to run stor

[2018-04-17 03:48] cooperka commented on #7086
I'm running neo4j in a Docker container and none of the above workarounds helped me (there is no `neo4j` user on my system).

Running `sudo chmod -R 777 ~/neo4j` did the trick for now, though I still can't figure out why it needs these high permissions. Neither `770` or `766` are good enough for logging, apparently.

[2018-04-17 03:54] rolandobermudez commented on #11463
@systay i have a 489 MB db backup, let me know where should i put it for you to get it.

[2018-04-17 05:13] systay commented on #11463
If you contact me privately we'll figure something out: andres `at` neo4j `dot` com. Thanks for sharing!

[2018-04-17 07:34] srinathganesh1 commented on #11542
My neo4j is **neo4j-community-3.3.1** and based on the stackoverflow comments, discussions I doubt that this is version dependent.

[2018-04-17 09:04] benittes commented on #9726
This bug still exists in 3.3.4
**db.schema**
![neo4j-3-3-4-call-db-schema](https://user-images.githubusercontent.com/2580069/38859723-90b399d4-4226-11e8-8e76-b63d74ba0469.png)
**apoc.meta.graph**
![neo4j-3-3-4-call-db-apoc-meta-graph](https://user-images.githubusercontent.com/2580069/38859778-a98fc126-4226-11e8-83d8-d75072e382eb.png)

[2018-04-17 09:43] manbaum opened #11577 "Neo.DatabaseError.Statement.ExecutionFailed on certain Cypher statement"
The database started on Neo4j Desktop 1.0.18, a NodeJS client connect to the server through HTTP Restful API by using raw HTTP POST to `http://localhost:7474/db/data/`.

- Neo4j version: 3.3.3
- Operating system: macOS Sierra version 10.12.6
- API/Driver: HTTP Restful API

This Cypher statement will cause error:

[code]

Change to the following statement will get the correct answer:

[code]

Full

[2018-04-17 09:56] tinwelint commented on #10738
There's a lot going on that test. From what I can understand from your comments this is about type of exception thrown from `shutdown()` when there's a constraint violation building a uniqueness constraint, right?

I produced a small test to do only that, asserting that the cause of the thrown exception is `IndexEntyConflictException`. It goes like this:

[code]

It comes out green on 3.3. Am I mi

[2018-04-17 10:06] awaistune opened #11578 "How to find nodes with string type property(userid) in NEO4J?"
I have a label Users which has a property userid. So i want to fetch all nodes which have string type userid. Is it possible?

Like **MATCH (n:Users) where n.userid IS string RETURN n**

Thanks in advance

[2018-04-17 10:39] mdoering commented on #10738
Yes, your test is doing the right thing. But when I run this with neo4j 3.3.5 I do not get green lights but the mentioned IllegalStateException instead:

[code]

gives
[code]

How can that be different to yours? Does the filesystem play a role? This does not happen with 3.2.4

[2018-04-17 11:17] tinwelint commented on #10738
OK so that `IllegalStateException` seems to be a secondary failure somehow, which gets thrown later when trying to shut down the inserter. Lemme look more closely into that.

[2018-04-17 11:32] manbaum commented on #11577
Oh,  the error reproduces on Neo4j version 3.3.5 very strangely!

This statement gives error:

[code]

This one executes smoothly:

[code]

The only difference is the property name: one is "arg0" and another is "args".

The database (by neo4j-admin backup) has been attached.

[test.db-backup.tar.gz](https://github.com/neo4j/neo4j/files/1922719/test.db-backup.tar.gz)

The error dump as follows:

[c

[2018-04-17 12:42] sherfert commented on #11408
@mdrobulis The error on our end was that we swallow the actual error message and give a not very helpful `Neo.DatabaseError.General.UnknownError` instead. This is fixed in the referencing PR and will be included in the next release of 3.1

As you probably know, the problem is that the Strings are not quoted, i.e. one should write `"e85814d5-49a8-40c5-803b-14996501b662"` instead of `e85814d5-49a8-4

[2018-04-17 12:42] #11408 closed, assigned to Lojjs

[2018-04-17 13:02] awaistune commented on #11578
Found the Answer.
https://stackoverflow.com/questions/49875170/how-to-find-nodes-with-string-type-property-in-neo4j

[2018-04-17 13:02] #11578 closed, assigned to nobody

[2018-04-17 17:23] tinwelint commented on #10738
I find this index repopulation logic in `shutdown()` code rather peculiar since it's designed so that if one index fails then all fail. I think it'd be much better if `shutdown()` would just repopulate to the best of its ability, log failures and mark failed indexes as FAILED, but complete normally. Wouldn't you say?

I was able to reproduce btw...

[2018-04-17 20:41] bmayank7228 opened #11586 "While creating a new Local Graph it gives Error Saying "Database failed to create: Error: Could not change password neo4j" .........Windows 10 and Neo4j Updated 1.0.21  "
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-04-17 21:22] mdoering commented on #10738
I fully agree that would be a nice behaviour that allows code to deal with the failed index situation as it likes to

[2018-04-18 07:51] pawpawya commented on #11558
the problem happened again, but this time only the node with some certain properties cannot be create.
we have uniqueness constraint on our Label A(code) ,
my cypher is  like create (n:A {code:"a"}) . i execute it on the web with no response.
but when i change the state to  create (n:A {code:"b"}), it's ok.

S: we use neo4j-ogm in our java project, i find this problem always happened after some st

[2018-04-18 12:57] Lojjs commented on #11542
@SrinathG910, thanks I can reproduce it in earlier versions also, so will we aim for 3.1 (which is the earliest currently supported version) with the fix.

/Louise

[2018-04-18 22:21] billscheidel commented on #11342
I just hit this today as well.  Is this the new versioning scheme or will it be rolled back to standard version numbers again?

[2018-04-18 23:21] billscheidel opened #11601 "Neo4j 3.3.5 occasionally returns EOF error for valid request"
I'm running a query every 30 seconds and approximately 5% of the time, Neo4j returns a `NULL` response with an `EOF` error.  There is no information in the debug.log, query.log, or http.log indicating why the error was returned.  Is there any way to debug this?

I originally was seeing the problem on 3.3.2 and continue to see it on 1:3.3.5.

**Neo4j Version:** 1:3.3.5
**Operating System:** Ubuntu

[2018-04-19 06:33] kdwykleingeld opened #11603 "failed to install plugins"
Just upgraded to latest version of desktop and created a new db based on neo4j version 3.3.5 (but also happens with 3.3.4)

This happens for all 3 plugins (apoc / graph algo / ql)

When i install the plugins i get an error message :

Plugin failed to install. Error: EEXIST: file already exists, link 'C:\Users\xxxxx\AppData\Local\Temp\apoc-3.3.0.2.jar.tmp' -> 'C:\Users\xxxxx\AppData\Local\Temp\apoc

[2018-04-19 10:53] bonej079 opened #11608 "Neo4J Desktop Signin is disabled"
- Neo4j version: 3.3.5
- Neo4J desktop version: 1.0.22
- Operating system: Ubuntu 16.04.4 LTS (running MATE desktop)
- **Steps to reproduce**
Installed Neo4J Desktop
Signin button should be enabled

- Actual behavior
Signin button is disabled

On hover, the link shows "Offline"

Also, about box is blank, ie. it shows nothing.

Thanks,
JB
![neo4j-report](https://user-images.githubusercontent.com/11

[2018-04-20 13:37] webtic commented on #8484
Had a similar issue of labels not being stuck.
Found that for the labels which were stuck a CONSTRAINT was still defined.
After removing the constraint the label is removed automagically.

Browser: 3.1.4  Neo 3.3.4

[2018-04-20 14:05] phughk commented on #11058
@andreikoval  @kyle-rader sorry for the delay - yes, it is the same issue, we are working to fix it.

[2018-04-20 14:34] chrisvest commented on #11573
This will be fixed in 3.4 by #9956 — I see you already noticed this on StackOverflow. If you have a support contract, then that's the way to go. Truncating the log file manually is very risky, but if that's your only option then it boils down to `head -c 198709181 log.250.copy > log.250` or something like that. Finding the exact byte position to cut at is the hard part.

[2018-04-20 15:00] lapwat opened #11624 "Weird behaviour in load csv"
Hello, I am trying to load from a csv file with:

This query does not return anything
[code]

Whereas those one return something:
[code]
[code]

I don't understand what I do wrong because d and o are independant...

Thanks for your help,
lapwat

[2018-04-20 18:43] ThomPatterson commented on #9726
I'm seeing this bug in 3.4.0 beta 02 as well.

[2018-04-22 23:47] deemeetree commented on #11573
@chrisvest thanks! and what would be the right way to look for where to cut the file?

[2018-04-23 08:29] #11490 closed, assigned to Lojjs

[2018-04-23 08:32] craigtaverner commented on #11508
Hi @pdstanley. We have not been able to reproduce this locally. It certainly looks like unexpected behaviour, and you are right that the first query above is the normal way to query this, and should be much faster and give the same results. We must assume that there is something unique about your database that exposes this issue. Is there any chance you can share the database with us so we can inv

[2018-04-23 08:45] craigtaverner commented on #11490
The fix is in https://github.com/neo4j/neo4j/pull/11584 and should come out in the next maintenance releases of 3.1 and above.

[2018-04-23 22:41] ct-jzarrelli opened #11638 "Neo4j 2.3 fails to update to Neo4j 3.3.4"
- Neo4j version: 2.3.3 -> 3.3.4
- Operating system: Windows 10
- API/Driver: Java API
- Steps to reproduce: Launched the project while linked to 3.3.4 Neo4j jars while the database was still in an older store format, I had my properties file set to allow upgrade.
- Expected Behavior: Neo4j to successfully upgrade store version
- Actual Behavior: Neo4j crashes with the following error:
[code]
From

[2018-04-23 22:52] ct-jzarrelli commented on #11638
Upgrading to 2.3.12 first does not resolve this error - I get the exact same error message as I do when going from 2.3.3.

[2018-04-24 08:51] chrisvest commented on #11057
Hi @deemeetree. The manual page you link to says that upgrade from _2.3.latest_ is supported, not _2.0.x_. The upgrade document it links to is wrong in stating that this is possible. So "The database will not be imported from 2.0.4 because the storage 0.A.1 is not compatible with 0.A.8 (error message). So one has to upgrade the DB to 2.3.8 first and only then upgrade it to 3.3.3 using the neo4j-ad

[2018-04-24 09:03] chrisvest commented on #11638
Hi @ct-jzarrelli. How big is the store, and what are the odds that you'll be able to share it?

[2018-04-24 14:58] lutovich commented on #10339
Hi @yeoh-ong,

Do you still experience this problem? Could you please attach `debug.log` and `neo4j.log` to this issue? It would be valuable to see if database logs anything when such error happens in the driver.

I suspect this error can be caused by the same problem as described in https://github.com/neo4j/neo4j-javascript-driver/issues/328 and fixed in https://github.com/neo4j/neo4j/pull/11336.

[2018-04-24 16:59] ct-jzarrelli commented on #11638
I cannot share the store as it contains proprietary data, it is approximately 15GB in size. From the log:
[code]

[2018-04-24 18:24] yeoh-ong commented on #10339
Thank you for reply!! We fixed problem by removing all bytes properties from neo4j and using a other database for these datas.

[2018-04-24 20:54] lutovich commented on #10339
@yeoh-ong okay, glad you found a solution. We've recently added byte arrays support in the database https://github.com/neo4j/neo4j/pull/9150 which are exposed as `Int8Array`s in the JavaScript driver. You might want to experiment with them :)

I'll close this issue now. Please feel free to update it if this issue happens again.

[2018-04-24 20:54] #10339 closed, assigned to nobody

[2018-04-24 22:21] denebtech opened #11649 "Problems when starting -neo4j start-"
It does not start the neo4j service and when executing the following command, it gives me this result:

admin@admin-W240HU-W250HUQ:~$ sudo service neo4j status
● neo4j.service - Neo4j Graph Database
   Loaded: loaded (/lib/systemd/system/neo4j.service; disabled; vendor preset: enabled)
   Active: inactive (dead)

abr 24 19:09:20 topomix-W240HU-W250HUQ neo4j[13448]: Caused by: org.neo4j.kernel.life

[2018-04-24 23:20] InverseFalcon commented on #11444
@billscheidel Close, but when using [pattern comprehension](https://neo4j.com/docs/developer-manual/current/cypher/syntax/lists/#cypher-pattern-comprehension) as in your example, `bazes` is a collection, so if there are no such matches from the pattern, `bazes` will be an empty collection.

As you say, though, the query will continue, and this is a great way to avoid cardinality issues in a query

[2018-04-25 09:36] beautifulpage commented on #11094
Hi,Version 3.3.4 ,
![image](https://user-images.githubusercontent.com/5347165/39237434-1be5157c-48ae-11e8-80ae-b07f756f16cc.png)
it can not store punctuation “

[2018-04-25 11:00] beautifulpage commented on #5028
version 3.3.4 and version 3.3.5 still have this problem....
`./neo4j-import   --multiline-fields=true --into ../data/databases/graph.db -nodes ../import/user.csv`

![image](https://user-images.githubusercontent.com/5347165/39241893-ebfc7e88-48ba-11e8-822f-40feb4f7ab71.png)

[2018-04-25 13:48] sgehrig opened #11653 "Issue with variable length path query and conditions"
When running the following query we receive a `key not found:   UNNAMED60` error (`Neo.DatabaseError.General.UnknownError`):

[code]

The following query however works as expected:

[code]
Note the `WITH` clause between the path match and the *node-duplication* condition.

**Neo4j Version:** 3.3.4-enterprise
**Operating System:** Mac OS X using official Neo4j docker image
**API:** Neo4j browser /

[2018-04-26 06:39] jhb commented on #9726
The bug still exists in 3.3.5 community. If there is no time to fix the bug, maybe it could be mentioned in the documentation?

[2018-04-26 11:15] tinwelint commented on #11094
@beautifulpage I need your CSV data or at least a sample of it exhibiting this issue to be able to proceed. Also it looks like a new issue to me. Please create a new issue for it

[2018-04-26 11:15] tinwelint commented on #5028
Please create a new issue for it, it looks like a separate issue.

[2018-04-26 15:20] praveenag commented on #11342
Hi @MysterAitch and @billscheidel
Few weeks back we refactored our Debian packages to follow [Debian's policy](https://www.debian.org/doc/debian-policy/#s-f-version) Unfortunately this resulted in `3.3.3` being replaced with `1:3.3.3`.
Going forward we are adopting an epoch `1:` to our Debian packages to help us in getting the right order of upgrades.
More details on this can be found [here](https

[2018-04-26 18:25] dbertouille opened #11663 "Error using percentileDisc with no data"
I noticed that queries using the percentileDisc aggregation function would hang if there were no nodes matched. These queries worked (returned NULL) in 3.1, but started to appear after upgrading to 3.3. I tested on a fresh 3.3.5 install to confirm.

- Neo4j version: 3.3.5
- Operating system: Alpine Linux 3.7.0
- API/Driver:  Cypher

### Steps to reproduce:

1. Using the web interface, run `MATCH (

[2018-04-26 18:55] jasonnauta opened #11664 "Neo4j Enterprise is not starting on OSX [High Sierra]"
## Bug Report

I discovered that when attempting to start Neo4j after installation I was met with an unexpected error.

**Neo4j Version:** neo4j-enterprise-3.2.11
**Operating System:** OSX High Sierra  10.13.4 (17E199)
**API:** Cypher,APOC

**Steps to Reproduce**
1. Download the `neo4j-enterprise-3.2.11-unix.tar.gz` file.
2. Extract the archive into $NEO4J_HOME
3. Install/Confirm Java 1.8 and `$JA

[2018-04-26 19:31] kdwykleingeld commented on #11603
thanks, issue is resolved in latest version of desktop

[2018-04-26 19:31] #11603 closed, assigned to nobody

[2018-04-27 11:01] tinwelint commented on #11207
Hi, there have been great improvements for handling duplicate nodes in the 3.4 branch, which is in beta stage right now. Both memory usage, which is much lower, but also performance of it.

It would be interesting to see how much difference that makes in your case.

[2018-04-27 22:12] KernelPryanic commented on #266
Definitely the most necessary feature, how can it be in open state so far???

[2018-04-28 07:33] cjdaly commented on #9693
Adding another data point here: I got a new credit-card sized computer called the "UP board" that is more powerful than the rPi and Rock64, and it is x86 (Atom) instead of ARM.  It has 4GB RAM and 4 Atom cores. Here are the full specs: http://www.up-board.org/up/specifications/

I'm running Ubuntu 16.04 on this board and the Java version is "1.8.0_171" and says "64-Bit Server VM" (I can't easily c

[2018-04-30 11:05] MishaDemianenko commented on #11638
Hi @ct-jzarrelli it looks like that somehow your node label index was unfortunatelly corrupted. And to be able to migrate it that index needs to be rebuilt.

**Please make a copy of your store before proceeding with further steps.**
In 2.3 you can find that index in your_storeDir/schema/label directory. If you will remove this directory this label-node index will be recreated next time you will st

[2018-04-30 11:36] MishaDemianenko commented on #11638
@ct-jzarrelli also i have another theory on what can be wrong here, if above will not gonna help can you please run consistency checker on top of the store you tried to migrate and provide us the output. Thx in advance!

[2018-04-30 12:10] burqen commented on #10534
Closing this issue due to lack of answer. Please open again if you have additional information that would make investigation possible.

[2018-04-30 12:10] #10534 closed, assigned to nobody

[2018-04-30 12:12] burqen commented on #10251
Closing this issue due to lack of answer. Please feel free to open this again, should you feel the need to.

[2018-04-30 12:12] #10251 closed, assigned to nobody

[2018-04-30 13:26] chrisvest commented on #11573
You can run the `dump-logical-log` tool with the `--lenient` flag to see if there's any garbage at the end after a cut. Then it's just trial end error.

https://github.com/neo4j/neo4j/tree/3.3/tools

[2018-04-30 13:53] fpusch opened #11677 "Cypher performing allNodesScan instead of nodeByIdSeek"
When performing the following two queries cypher performs an allNodesScan instead of a nodeByIdSeek for the first one.

**Neo4j Version:** 3.3.5
**Operating System:** RHEL 7.3
**API:** Cypher

### Steps to reproduce
1. Let cypher explain this query:
[code]
2. Let cypher explain this query
[code]

### Expected behavior
Both queries should perform an id seek.

### Actual behavior
Only the second que

[2018-05-02 01:05] dterg commented on #5028
I get the same error:

![image](https://user-images.githubusercontent.com/18417945/39500535-1d1c6a68-4dad-11e8-88ad-d91dab2a3d51.png)

Going to the actual line number, this looks fine? (I have also replaced any "\n" characters within each line to be "safe"):

![image](https://user-images.githubusercontent.com/18417945/39500498-e040c47c-4dac-11e8-9018-4c13d15aa08b.png)

[2018-05-02 05:44] JunOkumura opened #11687 "Neo4j 3.3.5 LOAD CSV throw Neo.DatabaseError.Statement.ExecutionFailed"
**Neo4j Version:** 3.3.5
**Operating System:** OS X 10.13.4
**Driver:**  Cypher

### Steps to reproduce
1. Access to own Neo4j browser.
2. Run the below cypher.
[code]
### Expect behavior
Import finishes without error.

### Actual behavior
That return the error.
[code]

using file [here test.zip](https://github.com/neo4j/neo4j/files/1965963/test.zip)

[2018-05-02 07:26] ragadeeshu commented on #11207
@davidcdupuis Could you download the 3.4 rc1 and give your dataset a try?

[2018-05-02 15:23] remyleone opened #11698 "Log file not created during installation (/var/log/neo4j/debug.log)"
## Guidelines

- Neo4j version: 3.3.5
- Operating system: (Ubuntu 16.04)

### Steps to reproduce

From Ubuntu base image

[code]

### Expected behavior

`/var/log/neo4j/debug.log` is created and neo4j can write on it.

### Actual behavior

I get the following error when neo4j starts:

[code]

[2018-05-02 15:30] RashadSaleh commented on #6282
I’ve spent the last few days just trying to wrap my head around this limitation and considering my options and I still don’t think any of the propositions out there really solve the problem (hackish solutions are a maintenance nightmare even if they work).

It’s really sad because I like neo4j a lot and it might end up indispensable for my type of project.

So my question is: Is there a particular

[2018-05-02 16:00] RashadSaleh commented on #6282
This might be a dumb idea but maybe an inexpensive solution to implement would be to use a special relationship like a “HAS” relationship that is automatically created for queries that try to write nested properties, so that something like this:

[code]
gets translated into something like this:

[code]

And then when matching:

[code]
the query gets translated to:

[code]

The user doesn’t need to

[2018-05-02 19:10] tinwelint commented on #5028
@dterg sadly it's a known issue that line numbers aren't always correct.

[2018-05-02 22:17] Hronom commented on #7029
It's hard to survive till version of Neo4j 4.0.

So guys how it's going? We here in 2018 year got problem.

You know, we have here new release of `Apache Lucene 7.3.0`: https://lucene.apache.org/#4-april-2018-apache-lucene-730-and-apache-solr-730-available

Also even guys from `Elasticsearch` [upgraded to 7.2.1](https://search.maven.org/#artifactdetails%7Corg.elasticsearch%7Celasticsearch%7C6.2.4%

[2018-05-03 09:21] and1truong commented on #266
I have multiple applications running on neo4j, but I can't guarantee that application X have a bug that DELETE ALL NODES in graph.

Separated database is very nature & common in programming. Please make (3) happen.

Launch multiple docker instances maybe an option, but each of them use ~1GB RAM, which makes no sense to us.

[2018-05-04 12:21] #11463 closed, assigned to Lojjs

[2018-05-04 14:54] billscheidel commented on #11601
Any update on this one or additional debugging I can turn on?  I'm seeing thousands of errors a day due to this issue.

[2018-05-04 16:08] michaelahlers commented on #8832
Using Scala 2.12, I've run into this problem, too.

This program:

[code]

Yields this exception:

[code]

See also:

- [Java Reference § 4.14. Accessing Neo4j embedded via the Bolt protocol](https://neo4j.com/docs/java-reference/current/tutorials-java-embedded/#tutorials-java-embedded-bolt)
- [`org.neo4j.jdbc.bolt.Neo4jBoltRule`](https://github.com/neo4j-contrib/neo4j-jdbc/blob/master/neo4j-jdbc-

[2018-05-04 18:49] michaelahlers commented on #266
This is a frustrating limitation of Neo4j, for sure. Perhaps it matters less in production, but for integration testing it's a huge problem.

[2018-05-04 21:42] haemse commented on #11664
Same issue 3.3.5 on docker

[2018-05-07 11:29] cypressious opened #11728 "Java 10: Illegal reflective access by org.neo4j.io.pagecache.impl.SingleFilePageSwapper"
- Neo4j version: 3.4.0-RC01
- Operating system: Windows 10

When starting an embedded instance of Neo4j 3.4.0-RC01 on a JDK 10, the following warning is written to the console:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.neo4j.io.pagecache.impl.SingleFilePageSwapper (file:/C:/Users/Kirill/.gradle/caches/modules-2/files-2.1/org.neo4j/neo4j

[2018-05-07 11:40] chrisvest commented on #11728
We know about it. Neo4j 3.4 is based on Java 8, and we have no plans to change that until 4.0. Until then, you can either ignore the warning – it's harmless – or run Neo4j on Java 8.

[2018-05-07 11:40] #11728 closed, assigned to nobody

[2018-05-07 18:40] amadfida opened #11739 "Can't start 3.4.0-rc01 on macOS High Sierra : (Too many open files)"
- Neo4j version: /neo4j-community-3.4.0-rc01
- Operating system: macOS High Sierra 10.13.4
- Actual behavior

[code]

the output of ulimit

[code]

[2018-05-08 00:27] micahstubbs opened #11740 "text overlays icon at narrow width"
### Expected behavior
text does not overlay icon

### Actual behavior
text overlays icon

an opportunity to make the neo4j ui more responsive at narrow screen widths 😄
![neo4j_bolt___localhost_7687_-_neo4j_browser](https://user-images.githubusercontent.com/2119400/39731316-dd03fb3a-521b-11e8-8039-ccbf7512bccf.png)

[2018-05-08 08:58] SaschaPeukert commented on #11687
@JunOkumura Thanks for reporting. I could reproduce it and this seems like a bug to me. I will let you know when it's fixed.

Best regards
Sascha, Neo4j Cypher Team

[2018-05-08 09:15] SaschaPeukert commented on #11677
@fpusch Thanks for reporting. I could reproduce it and this seems like a bug to me. I will let you know when it's fixed.

Best regards
Sascha, Neo4j Cypher Team

[2018-05-08 09:34] SaschaPeukert commented on #11663
@dbertouille Thanks for reporting. We will investigate this!

Best regards
Sascha, Neo4j Cypher Team

[2018-05-08 11:41] SaschaPeukert commented on #11624
@lapwat Thanks for reporting, in order to investigate this further, could you provide us with a sample dataset (or some cypher statements to generate it) and a matching CSV file, where you observed this behavior? Also, could you tell us which version of Neo4j you are using?

[2018-05-08 11:58] SaschaPeukert commented on #11577
@manbaum Thanks for reporting. We will investigate this!

Best regards
Sascha, Neo4j Cypher Team

[2018-05-08 12:34] #11057 closed, assigned to nobody

[2018-05-08 12:50] chrisvest commented on #5542
I'm closing this because I believe the original issue was about not handling concurrently deleted records at runtime, and then another issue was mentioned about free id reuse being buggy. We've fixed bugs in both of these areas.

@daniel-severo You problem is an inconsistent store, and the inconsistencies cause exceptions to pop up that look like the other exceptions in this thread. However, the u

[2018-05-08 12:50] #5542 closed, assigned to nobody

[2018-05-08 13:06] chrisvest commented on #6823
Closing this because the specific error condition was fixed, even though the isolation level remain the same. A stronger isolation level can be reached with the experimental flag `unsupported.dbms.query.snapshot=true`. We'll close #37 once we have a productised and fully supported stronger isolation level.

[2018-05-08 13:06] #6823 closed, assigned to nobody

[2018-05-08 15:22] SaschaPeukert commented on #11556
@ctytgat  Thanks for reporting this. Could you try to run the consistency checker on your database and show us the report? https://neo4j.com/docs/operations-manual/current/tools/consistency-checker/

[2018-05-08 20:33] alastai commented on #266
We are actively pursuing plans for No. 3, and No. 1 is on the way very soon, in upcoming 3.4 release. Your feedback has been consistent, and we are paying attention. Thanks very much indeed.

[2018-05-09 00:08] marthinus-engelbrecht opened #11747 "Feature request: Create a uniqueness constraint for the relationship between all nodes that fall under two labels"
Essentially what I wrote in this stack overflow question [this](https://stackoverflow.com/questions/50219288/can-you-create-a-uniqueness-constraint-for-the-relationship-between-all-nodes-th)

TL;DR

I want to do something like:

[code]
The relational database analog would be a primary key that stretches over multiple foreign keys. For example, adding the below to table Product where table Brand ha

[2018-05-09 11:55] chrisvest commented on #5981
Looks like this was fixed in some 3.x version. Closing.

[2018-05-09 11:55] #5981 closed, assigned to nobody

[2018-05-09 12:05] chrisvest commented on #6336
We, uhh, should not get deadlocks during commit _at all_.

In two-phase locking, commit time should only release locks, not take them. If you somehow still have the complete stack trace, then that might be historically interesting. Looking at the code now, I don't think it's possible to get deadlocks during commit, but if it is then let's have an issue about that.

[2018-05-09 12:05] #6336 closed, assigned to nobody

[2018-05-09 18:11] AdaptiveThinking commented on #8183
Is there some Update on this? Implementation should be not too hard, because you can just prefix a filter-Expression in front of an user query. (See e.g. "Splunk", "LogInsight" ...)

So as a Role you would say 'if node.[fieldname] == "abc"', then a user with that role would only get nodes back if the node has a field with value "abc".

See e.g. https://blogs.vmware.com/management/files/2018/03/201

[2018-05-10 03:26] ideepblue commented on #10739
I met the same problem after freshly installing neo4j community edition 3.3.5 on Ubuntu 18.04.

[2018-05-10 10:13] lapwat commented on #11624
I am unable to give you the sample I am sorry. It has been a while and I have switched on a custom solution.
Thank you for your response.

[2018-05-10 10:13] #11624 closed, assigned to SaschaPeukert

[2018-05-10 22:49] arsanjea commented on #9622
FYI it's still not working. However, I used the following trick to still my goal:
I added the following ```.withConfig("dbms.directories.data", "location/to/existing/data")```, which will use the existing databases/graph.db sub-directory and will load the existing data.

[2018-05-11 06:30] dayo-adebanjo commented on #11740
This issue is reproduced on Mac 10.13.

[2018-05-11 18:29] micahstubbs commented on #11740
might be able to contribute a fix if a community member could point me to the right stylesheet or the right place in the source 😄

[2018-05-12 01:35] g3rd commented on #8939
For those getting here via google searches, and want to follow along with the progress of the request: https://github.com/opencypher/openCypher/issues/201

[2018-05-12 10:09] swayam18 commented on #7764
any updates on this issue?

[2018-05-12 16:35] mafshin commented on #11429
@ali-ince  I experienced the same error on the latest version. My `TEMP` and `TMP` variables also refer to `D:\TEMP`

**Environment:**
Windows 10 64bit
Neo4j Desktop 1.1.0
Neo4j : 3.3.0 and 3.3.5

[2018-05-13 05:04] novikovag commented on #11429
I drop down neo4j

[2018-05-13 10:15] tomzeppenfeldt opened #11764 "Can't pass a string to n[] anymore without downgrading cypher engine"
Version 3.3.5.

In the statement below , you have to downgrade the cypher, otherwise, you get an error when the property `keyname` does not exist.

Neo.DatabaseError.Schema.PropertyKeyAccessFailed: Property key 'No such property.' not found

[code]

Obviously, it should return `null` in case the property does not exist

[2018-05-13 16:36] freeeve commented on #7764
apoc helps these days:

[code]

[2018-05-14 07:58] SaschaPeukert commented on #11764
Thanks for reporting. I could reproduce it and this seems like a bug to me. I will let you know when it's fixed.

Best regards
Sascha, Neo4j Cypher Team

[2018-05-14 08:19] SaschaPeukert commented on #11747
Thanks for sharing that idea. We will review the priority of this and consider it for future development

[2018-05-14 08:52] SaschaPeukert commented on #11653
@sgehrig  Thanks for reporting. I could reproduce it and this seems like a bug to me. I will let you know when it's fixed.

Best regards
Sascha, Neo4j Cypher Team

[2018-05-14 10:10] SaschaPeukert commented on #11558
Hey @pawpawya , what edition of neo4j (community/enterprise) are you using? I tried to reproduce your problem with enterprise 3.2.11 but it worked for me so far. Could you try to update to 3.2.11 (or higher) and tell me how to reproduce the problem if it still occurs?

[2018-05-14 12:20] SaschaPeukert commented on #11535
Hi @eayan ,

Please correct me, if I am wrong, but looking at your queries, it wasn't intended that you assign the variable n to both nodes, correct? If that is the case, then this is your problem. The way that the first query, for example, is currently formulated, you are asking for this structure in the graph:
`(n:ns3__Object:ns4__E35_Title)-[r:ns4__P102_has_title]->(n)`
Since I don't see that i

[2018-05-14 12:28] SaschaPeukert commented on #11444
Are you happy with that approach @daflidafli ?

[2018-05-14 12:59] ctytgat commented on #11556
This stacktrace came from a spring boot test running on an in-memory DB, so unfortunately I can't provide a consistency report.
Is there anything we can do to rootcause these kind of failures?

[2018-05-14 17:56] rishu5391 commented on #11444
MATCH (m:Merchant)-[:HAVING_CATEGORY]->(c:Category)
WHERE m.status IN [1,2]
WITH m, c
ORDER BY m.created_date DESC
SKIP 0 LIMIT 10

this approach is good but in case if i want to add dynamic order by which is based on aggregation, its taking too much time

[2018-05-15 00:51] SundbergBrian opened #11771 "Neo4j and cypher-shell bug."
With no change to development environment cypher-shell suddenly no longer functioned. Cypher-shell, when running a cql file that has been reliable in the past, returns this error :

### ( Note 1 )This is with a fresh installation of neo4j after I used synaptic package manager to remove all neo4j related packages and reinstalled them, fresh and unadulterated.

- Neo4j version: 3.3.5
- Operating sys

[2018-05-15 04:15] raymond1985 commented on #7225
+1 waiting for this feature, hope it will be implemented soon

[2018-05-15 08:20] sherfert commented on #11508
@pdstanley I will close this for now. Please reopen if you can help us reproduce this. Thanks!

[2018-05-15 08:20] #11508 closed, assigned to craigtaverner

[2018-05-15 08:22] HastingsYoung commented on #9693
I came across the same issue, any solution so far?

[2018-05-15 14:01] mzoll opened #11778 "MERGE does not match on unique node"
Hej, I am quite new to Neo4j and Cypher, but I think I stumbled about a bug in the interpretation of my Cypher statement, which kind of does not behave as anticipated or documented.

Issue
-----
With the following statement i create a hierarchical structure of `Users-[:OPEN]->Sessions-[:GEN]->Clicks-[:ON]->Pages`, of Web-clicks:

[code]

Here `Page` should be a trunkated page-URL, where protocol a

[2018-05-15 15:01] glaulom opened #11779 "Neo4J-community-3.3.5 Unable to determine the version of the installation Neo4j-Management.psd1"
After downloading Neo4J 3.3.5 Community and unzipping the .zip, I tried to launch it with my console (as administrator) and encountered the following error :

<img width="536" alt="capture" src="https://user-images.githubusercontent.com/25532110/40064767-83ab098e-5860-11e8-95aa-f3b835d73aab.PNG">

**Neo4j Version:** 3.3.5
**Operating System:** Windows 10 Professional
**API:** jdk-8u171-windows-x64

[2018-05-15 16:23] majensen commented on #5620
In case someone happens on this (like I did):

Note the trace:
[code]

In my case, the offending column (file_size) was declared 'int' (i.e.)
[code]
but there were big numbers in there. When I declared it 'long' instead
[code]
problem was gone.

[2018-05-15 17:28] cjdaly commented on #9693
I am still stuck on the main issue described here, but I did find a way to workaround the issue with `neo4j-admin set-initial-password` (that happens to me sometimes, even on version 3.1.4) which results in this message:

    command failed: initial password was not set because live Neo4j-users were detected.

I found some info about this issue on [stack overflow](https://stackoverflow.com/questio

[2018-05-15 21:15] ikwattro opened #11784 "[Cypher][3.3.5][3.4] Node property not treated as null"
**Neo4j Version:** 3.3.5 and 3.4
**Operating System:** any
**API:** Browser

### Steps to reproduce

[code]

[code]

### Expected behavior

A new property `text` is assigned to the node with value `Hello World. `

### Actual behavior

No property `text` is assigned.

Note that the behaviour is the same if I use another non-existing property, for eg :

[code]

will have the same behavior

[2018-05-16 09:53] hdk commented on #11784
You are concatenating nulls (n.text is null) and so the resulting string is null!
see https://stackoverflow.com/questions/26107677/concatenating-nulls-in-cypher

use something like
.... SET n.text = n.title + ". " + coalesce(n.text,"")

[2018-05-16 11:24] Artgit opened #11789 "Incorrect behaviour of the explicit/manual indexes"
Neo4j version: Neo4j 3.3.5 Community Edition
APOC apoc-3.3.0.2-all.jar

I found the following issue with Neo4j manual indexes when the index is not updated(and lost their data) on relationship property update. Looks like this issue relates to the Neo4j core.

**How to reproduce the issue with APOC:**

I have created the following trigger:

    CALL apoc.trigger.add('TEST_TRIGGER', "UNWIND keys({as

[2018-05-16 12:43] glaulom commented on #11779
Even stranger, I've downloaded again the .zip, extracted it at the exact same path, and now

 is working perfectly... I can't see what could have changed between this time and the last one as I have not used the computer in between.

[2018-05-16 14:58] SJBertram commented on #8912
I'm currently hitting this with 3.3.5 from the Ubuntu repo. Even when I put the file in the import directory and allow CSV import from URLs then I still get "Couldn't load the external resource from…".

[2018-05-17 09:08] #11764 closed, assigned to SaschaPeukert

[2018-05-17 14:51] vikshe opened #11805 "Neo4j backup is not working when custom KernelExtensionFactory is used"
- Neo4j version: 3.3.5 Enterprise
- Operating system: (Unix)

- **Steps to reproduce**
- Write custom KernelExtensionFactory which has dependency for GraphDatabaseService
- Run backup

**Actual behavior
 Backup failed. Error message:
Initiating metrics...
command failed: Failed to do consistency check on backup: Component 'com.ubs.gdd.lineage.neo4j.procedures.config.MyLifecycle@5b9396d3' was succe

[2018-05-17 15:41] chrisvest commented on #11805
Call the `Dependencies.db()` method inside your `MyExtensionFactory.newInstance()` method.

Also, kernel extensions are not meant to be public API. If you can find a way to not use kernel extensions, then that would be for the better.

[2018-05-17 15:41] #11805 closed, assigned to nobody

[2018-05-17 17:38] Artgit commented on #11789
**How to reproduce this issue on Neo4j built-in procedures to manage and use explicit indexes:**

I have created the following trigger:

    CALL apoc.trigger.add('TEST_TRIGGER', "UNWIND keys({assignedRelationshipProperties}) AS key UNWIND {assignedRelationshipProperties}[key] AS map WITH map WHERE type(map.relationship) = 'LIVES_IN' CALL apoc.index.addRelationship(map.relationship, keys(map.relat

[2018-05-17 19:09] krizda commented on #9994
This is still actual now.
I need to write huge amount of data, but I cant.

EDIT.
Just found out that this only happens when using http driver. Bolt driver dosen't do that.

[2018-05-18 03:37] pawpawya commented on #11558
Thank you for your attention @SaschaPeukert . My neo4j version is  neo4j3.2.1-enterprise, using cypher.default_language_version=3.1.
We have fix this problem. It's a bug of neo4j-ogm2.1.2.When statement violating the uniqueness constraint it happened. But after updating to neo4j-ogm 3.0.0 ,it works fine.

[2018-05-18 03:39] #11558 closed, assigned to SaschaPeukert

[2018-05-18 07:44] rishu5391 opened #11812 "How i can extract week number from date using cypher"
I want to extract week number from date something like this

RETURN apoc.date.fields('2015-01-02 03:04:05 EET', 'yyyy-MM-dd HH:mm:ss zzz').weekdays

[2018-05-18 08:33] eebus commented on #11812
Hello @daflidafli
It seems like you have a problem with APOC, could you please reopen your issue in https://github.com/neo4j-contrib/neo4j-apoc-procedures/ ?

[2018-05-18 08:33] #11812 closed, assigned to nobody

[2018-05-18 10:45] fickludd commented on #11556
@ctytgat To understand what's going on it would be great with some more information. Could you briefly describe the workload of these tests, and if applicable share the query which fails?

[2018-05-18 11:30] ctytgat opened #11814 "Unexpected result with overlapping match clauses"
- Neo4j version: 3.3.4
- Operating system: MacOS
- Steps to reproduce

Create following nodes:

```CREATE (ann:Person {name:"Ann"})-[:KNOWS]->(john:Person {name:"John"})-[:KNOWS]->(jeff:Person {name: "Jeff"})```

And execute this query:

```MATCH (a:Person)-[:KNOWS]->(p:Person), (a:Person)-[:KNOWS]->(:Person)-[:KNOWS]->(p2:Person) return a, p, p2```

- Expected behavior

3 nodes are returned

- Ac

[2018-05-18 11:41] OliviaYtterbrink commented on #11677
This has been fixed by https://github.com/neo4j/neo4j/pull/11555, though the introduced setting is disabled by default for older versions as mentioned in the PR.

3.3.6 will contain this fix, disabled by default. In 3.4.0 it is enabled by default and your example query does indeed use the nodeByIdSeek operator.

[2018-05-18 11:41] #11677 closed, assigned to SaschaPeukert

[2018-05-18 15:04] cheerfulstoic opened #11819 "Bolt around large string values"
This might be my bug or your bug.  I'm not completely sure yet ;)

- Neo4j version: 3.3.4
- Operating system: Mac OS 10.12.6 (Neo4j running inside of Docker)
- API/Driver: Ruby (alpha version in `master` that I am developing)

## Example bug report

I have tests that cover the different adaptors in the `neo4j-core` gem (Bolt/HTTP/embedded) to make sure that they all support querying the same way.

[2018-05-18 15:14] cheerfulstoic commented on #11819
I just tried this query in Python and it seemed to work fine even with 100,000 `"bar"`s, so I'd currently suspect that this is something with the Ruby bolt implementation.  So my main question would be if this seems like anything familiar.

[2018-05-18 20:59] tomsherman opened #11820 "Receive UnknownError when MERGE attempted on two nodes ... preceding ~200K merges work"
I receive a `Neo.DatabaseError.General.UnknownError` upon trying to MERGE two particular nodes. Nothing seems special about these nodes. I'll include as much info as I can below, but I doubt this will be particularly helpful. Feel free to contact me to get more info.

Also [mentioned](https://neo4j-users.slack.com/archives/C08J1EZCH/p1525878783000619) in the Neo4j-users slack.

As background--I ha

[2018-05-19 06:45] jmsuhy opened #11821 "Modifying the AGPL License by adding restrictions is not allowed"
The AGPL license files had a restrictions added to it which I am pretty sure is not allowed by AGPL.
So it seems that you have either just made Neo4j Enterprise closed source - i.e. no longer AGPL - or you've made a mistake and accidentally added restrictions to it.

I am pretty sure the community would like to know what is going on with this.

https://github.com/neo4j/neo4j/blob/3.4/enterprise/se

[2018-05-19 10:59] tomzeppenfeldt opened #11822 "Need to use toInteger() to match id ?"
- Neo4j 3.2.6
- Ubuntu
- :7474/browser/

## Bug report

I get an unexpected

[code]

### Steps to reproduce

`:param ids:[185266]`

result :
[code]

[code]

result

[code]

### Workaround

[code]

returns the node correctly

### Expected behavior
node should be also returned without the toInteger() function

[2018-05-19 15:27] ikwattro commented on #11784
Yeah, thanks. My bad.

[2018-05-19 15:27] #11784 closed, assigned to nobody

[2018-05-20 13:49] chrisvest commented on #11820
@tomsherman Are there any suspicious looking stack traces in your `debug.log`?

[2018-05-20 17:11] InverseFalcon commented on #11814
Hello,

The reason why this doesn't work is due to [cypher's inherent uniqueness](https://neo4j.com/docs/developer-manual/current/cypher/introduction/uniqueness/#cypherdoc-uniqueness) when it comes to matched patterns:

Within a matched pattern, relationships must be unique, they cannot be reused. This is often very useful, and inherently it prevents infinite loops for variable-length match patter

[2018-05-20 17:23] InverseFalcon commented on #11778
Hello,

This is not a bug, this is correct behavior for MERGE. From the documentation:

There's a more in-depth breakdown and explanation in this knowledge base article on [understanding how MERGE works](https://neo4j.com/developer/kb/understanding-how-merge-works/).

In a nutshell, when the pattern does not exist in the graph, the entire pattern must be created. The only parts of the pattern that

[2018-05-20 17:34] InverseFalcon commented on #11362
I just downloaded 3.2.3 Community Edition for Windows, and in the unzipped file I can see `/bin/neo4j-admin.bin` is present, so the file is absolutely there.

Where did you download this, and how did you install it? Is this the zipped version for Windows, or is this via the Desktop app?

[2018-05-20 17:41] InverseFalcon commented on #10316
Just to note, the approach for these queries is not performant.

[code]

This will first perform an all nodes scan, and then attempt to filter them based upon the pattern. That will result in increasingly bad performance as the number of nodes in the database grows. We do not recommend using this approach for your queries.

[2018-05-21 08:09] mzoll commented on #11778
Okay , I see, then this is indeed no bug and correct behavior.
Still I wonder, why it is desiderable for MERGE to work in this 'all or nothing' fashion. Wouldn't partial matching, thus completion of a path by the shortest route, not be the more common use-case?

[2018-05-21 08:33] chrisvest commented on #11362
It's not included in the `.exe` installer. You need to grab the zip file, or download via the new (and completely different) Neo4j Desktop.

[2018-05-21 08:33] #11362 closed, assigned to nobody

[2018-05-21 09:00] lutovich commented on #11819
Hi @cheerfulstoic,

We have not seen such issues before. I tried long strings in Java and JavaScript drivers via cypher-shell and neo4j-browser respectively and everything seems to work fine.

[2018-05-21 09:09] InverseFalcon commented on #11778
@mzoll No, it would not. There needs to be a way to differentiate when the user wants a new node merged in vs reusing of an existing node.

Consider a graph of `:Student` nodes that can have `:ReportCard` nodes for a given term (in this case we'll model this with a `term` String property on the `:ReportCard` node).

Say that we know that all `:Student` nodes are in the graph, and we're in the proc

[2018-05-21 09:29] mzoll commented on #11778
Thanks for the explanation, I see the point in the scenario that you spin here.
However, I also find it worth to mention, that this problem of all students pointing to the same Report-card is due that the report cards themselves have no property that guaranties a unique distinction, aka holding the students name or registration-id, which could have been used in the MERGE statement as a unique iden

[2018-05-21 09:38] InverseFalcon commented on #11778
This does get into modeling issues, but we feel that if we're forced to add additional properties onto linked nodes (and not just at the first level, but at whatever depth we need for our model, which could get very cumbersome), then we're going in the face of graph modeling. At that point we've crossed from graph into something that seems much more like a relational db.

Certainly having some red

[2018-05-21 17:17] xizhao commented on #11821
To try to get ahead of any misunderstandings, the AGPL doesn't "disable-itself" if exceptions are added from the original licensor.  It simply becomes a new license.

The scope of license alteration restrictions (as well as these kinds of restrictions in all OSS licenses) is to disable the ability for "man-in-the-middle" sub-licensing, effectively ensuring that the license grant comes from the ori

[2018-05-21 17:50] cheerfulstoic commented on #11819
Yeah, I figured that might be the case.  Thanks Konstantin.  I'll close this issue, but if I get anymore information I might ask here `¯\_(ツ)_/¯`

[2018-05-21 17:50] #11819 closed, assigned to nobody

[2018-05-22 00:08] jmsuhy commented on #11821
The issue at hand is that you can not add restrictions to AGPL then misguide the community and committers as to what is happening.

Not only does AGPL forbid this,  it is not fair to committers and the community as a whole.

If your intention was to keep Neo4j free and open,  then you should know your restrictions are not allowed by AGPL and we can continue the 'debate' in that direction.

I think

[2018-05-22 11:04] feldoh opened #11835 "CachingInputIterable does not cache relationships"
I discovered that in the CachingInputIterable class it only caches nodes and always returns a node iterator despite appearing more generic. CachedInput generates a CachingInputIterable for both nodes and relationships but on Relationships it still only has the nodes cached (i.e. nothing) and returns a node iterable. This means in the InputIterable any vistor.endOfEntity calls result in NullPointer

[2018-05-22 13:21] digitalstain commented on #11821
Neo4j is a broad church. We have to balance the interests of our amazing community, our customers and the company too. We've done a lot of thinking about how to best align those interests in our licensing and made a choice to add the Commons Clause to the AGPL license. We think this is the best way we can ensure the long term viability of neo4j as both an open source project and as a commercial en

[2018-05-22 13:21] #11821 closed, assigned to nobody

[2018-05-22 16:20] mam404 opened #11838 "Can't install windows service in Community Version 3.4.0"
Typo @ Line 107 in the the Windows powershell script for Get-Neo4jPrunsrv.ps1:

is:
` {$_ -in @(...`

[2018-05-23 05:08] sbabashahi commented on #2725
+1

[2018-05-23 07:34] sherfert commented on #11653
Fix will appear in the next releases of 3.3 and 3.4.

[2018-05-23 07:34] #11653 closed, assigned to SaschaPeukert

[2018-05-23 07:45] ctytgat commented on #7225
+1

[2018-05-23 08:50] ericsantosn commented on #6584
Hey guys, what's the status of this feature, is there any estimation of when it will be released? I was looking for more information in the project but I couldn't find anything for it.

[2018-05-23 09:23] sgehrig opened #11842 "Unknown error when running query with "equals NULL" condition"
Given the following unique constraint

[code]

running the following query fails with a `Neo.DatabaseError.General.UnknownError`:

[code]

**Neo4j Version:** 3.4.0-enterprise
**Operating System:** Mac OS X using official Neo4j docker image
**API:** Neo4j browser / cypher shell

The same query given the same precondition (unique constraint) works on Neo4j 3.3.5-enterprise. And yes, I know that this

[2018-05-23 09:42] #6955 closed, assigned to nobody

[2018-05-23 10:04] Antti-Kaikkonen opened #11845 "percentileDisc(null, 0.5) BUG"
# Bug with percentileDisc(null, 0.5);

- Neo4j version: 3.3.5 community edition
- Operating system: Ubuntu 16.04
- API/Driver: Cypher via Neo4j browser

### Steps to reproduce
1. Open Neo4j browser
2. Run this cypher query: "RETURN percentileDisc(null, 0.5);"

### Expected behavior
returns null; (Even the [documentation](https://neo4j.com/docs/developer-manual/current/cypher/functions/aggregating/

[2018-05-23 10:20] #11573 closed, assigned to nobody

[2018-05-23 11:19] ericsantosn commented on #6584
Reading the thread I assume there's no timeline for this feature right? my case is just same as all guys, very poor performance when I sort by attribute on neo4j and we   it gets worst and worst, we're already at

[2018-05-23 12:02] chrisvest commented on #11334
Fixed by 657e740c71d54f00f7c1a71ac837e886a2c4e367

[2018-05-23 12:02] #11334 closed, assigned to nobody

[2018-05-23 12:07] chrisvest commented on #11207
3.4.0 has been released now, with many improvements to the handling of duplicates. I'm going to close this issue, but feel free to reopen if it's still a problem even on 3.4.

[2018-05-23 12:07] #11207 closed, assigned to nobody

[2018-05-23 12:08] #11342 closed, assigned to nobody

[2018-05-23 12:10] #10320 closed, assigned to klaren

[2018-05-23 12:15] chrisvest commented on #9413
I'm closing this because Neo4j Desktop has been rewritten and is now a rather different product.

[2018-05-23 12:15] #9413 closed, assigned to nobody

[2018-05-23 12:19] chrisvest commented on #9597
@zunio We have automatic page cache reheating as part of 3.4: https://neo4j.com/docs/operations-manual/current/performance/disks-ram-and-other-tips/#performance-page-cache-warmup

I'll close this, but feel free to reopen or create another issue if you run into any problems with this.

[2018-05-23 12:19] #9597 closed, assigned to nobody

[2018-05-23 12:21] chrisvest commented on #9669
I'm closing this because Neo4j Desktop is now a very different product, and includes a built-in settings editor.

[2018-05-23 12:21] #9669 closed, assigned to nobody

[2018-05-23 12:25] chrisvest commented on #9485
Most probably mismatching dependency versions. I'm closing this because we haven't heard back in a long while.

[2018-05-23 12:25] #9485 closed, assigned to nobody

[2018-05-23 12:27] chrisvest commented on #9394
Closing this because Neo4j Desktop let's you install APOC with one button click.

[2018-05-23 12:27] #9394 closed, assigned to nobody

[2018-05-23 12:37] chrisvest commented on #8555
So I'm guessing that either upgrading the OS, using Oracle supplied Java, or switching to the new and completely different Neo4j Desktop (or the tar version) would make this problem go away. Much of the software involved in the cause here is obsolete, so I'm going to close this issue.

[2018-05-23 12:37] #8555 closed, assigned to nobody

[2018-05-23 12:40] chrisvest commented on #8347
Lot's of different issues are floating around in the comments. The original problem is solved by the new Neo4j Desktop app, which is effectively just using the tar.gz version behind the nice user interface.

[2018-05-23 12:40] #8347 closed, assigned to nobody

[2018-05-23 12:44] chrisvest commented on #7874
This is handled better in the new Neo4j Desktop app.

[2018-05-23 12:44] #7874 closed, assigned to nobody

[2018-05-23 12:47] chrisvest commented on #7772
The memory usage of `neo4j-admin import` has been much improved in recent versions; especially in the newly released 3.4, and especially around the handling of duplicate data. I'm going to assume that that fixes this issue, but feel free to reopen if it's still a problem.

[2018-05-23 12:47] #7772 closed, assigned to nobody

[2018-05-23 12:54] chrisvest commented on #8115
I don't think we're going to address this niche, sorry.

[2018-05-23 12:54] #8115 closed, assigned to nobody

[2018-05-23 12:55] chrisvest commented on #7672
The new Neo4j Desktop does not have this problem.

[2018-05-23 12:55] #7672 closed, assigned to nobody

[2018-05-23 12:55] #7711 closed, assigned to nobody

[2018-05-23 12:57] chrisvest commented on #8087
This looks like it got solved.

[2018-05-23 12:57] #8087 closed, assigned to nobody

[2018-05-23 12:59] chrisvest commented on #8523
We no longer have the `org.neo4j.test.Digests`, so I'm closing this. We use Apache Commons Codecs instead.

[2018-05-23 12:59] #8523 closed, assigned to nobody

[2018-05-23 13:01] chrisvest commented on #8431
APOC or the Graph Algorithms library sounds like the right place for this. /cc @jexp

[2018-05-23 13:11] chrisvest commented on #7742
I'm pretty sure we've fixed multiple problems around "MasterClient214" related things, so I'll close this. Feel free to open another issue if this is still a problem in recent versions.

[2018-05-23 13:11] #7742 closed, assigned to nobody

[2018-05-23 13:18] chrisvest commented on #7603
Tokens like that are created on demand when they are mentioned in a query, even if the transaction that the query runs within is rolled back. That is probably what you are seeing the result of.

[2018-05-23 13:18] #7603 closed, assigned to nobody

[2018-05-23 13:35] chrisvest commented on #5139
Not sure when it got introduced, but we have `dbms.logs.query.rotation.*` settings now.

[2018-05-23 13:35] #5139 closed, assigned to nobody

[2018-05-23 13:39] chrisvest commented on #4776
I think it's better if we just stick to following the standard, and rely on people to filter out any custom CSV format extensions they might have, prior to importing.

[2018-05-23 13:39] #4776 closed, assigned to nobody

[2018-05-23 13:48] #508 closed

[2018-05-23 13:59] chrisvest commented on #60
This is from before we had schema indexes (for which there is an end-point like that), and before many other things. Closing because I don't think there is a demand for this feature any more.

[2018-05-23 13:59] #60 closed

[2018-05-23 19:48] fbiville commented on #8555
Fine by me :)

[2018-05-24 09:45] tinwelint commented on #7333
As seen in https://neo4j.com/docs/operations-manual/3.4/tools/import/options/ this is now supported for the `neo4j-admin import` (even the deprecated `neo4j-import` surface). The `neo4j-shell` (also deprecated in favor of the cypher shell) has a `--file` argument for a similar feature.

[2018-05-24 13:43] chrisvest commented on #9209
@dhimmel Did your updated memory settings fix this? Can we close this?

[2018-05-24 13:54] dhimmel commented on #9209
https://neo4j.het.io is currently running Neo4j version 3.2.3 and the issue is gone. IIRC, the issue was resolved with the 3.2 upgrade, so this may still be an active problem on the 3.1 branch. Since the 3.2 upgrade fixed things for us, it's not an active issue on our end. Hence, I'll close.

[2018-05-24 13:54] #9209 closed, assigned to nobody

[2018-05-25 08:32] SaschaPeukert commented on #11845
Hej!
Thanks for reporting. The good news is that this problem has already been reported in https://github.com/neo4j/neo4j/issues/11663 and was fixed a few days ago. Expect the fix in the next release of 3.3 and 3.4

[2018-05-25 08:32] #11845 closed, assigned to SaschaPeukert

[2018-05-25 09:03] SaschaPeukert commented on #11663
Thanks again for reporting @dbertouille
The bug fix is merged, expect to see it in the next release of 3.3 and 3.4

[2018-05-25 09:03] #11663 closed, assigned to SaschaPeukert

[2018-05-25 09:21] SaschaPeukert commented on #11842
@sgehrig Thanks for reporting this. We are already working on it :-)

[2018-05-25 11:05] majerr commented on #266
Really great to hear there is active development on this, thank you.

[2018-05-25 11:15] SaschaPeukert commented on #11822
@ophileon Thanks for reporting. I tried to replicate the problem according to your steps but couldn't get the error. I tried it with 3.3.3 and 3.3.5. Can you confirm this bug in 3.3.5? If so, could you please help me to reproduce it? I tried the following:

Started an empty instance and created some nodes:
[code]
Then
[code]
And
[code]

[2018-05-25 11:22] tomzeppenfeldt commented on #11822
@SaschaPeukert
checked again.. turns out that is in 3.2.6
sorry for the confusion.

[2018-05-25 12:02] SaschaPeukert commented on #11822
No problem, thanks for checking. Now I could reproduce it in 3.2.11 as well. We will look further into it!

[2018-05-25 12:35] sinswa28 commented on #8142
Hi,
Is there any fix available for this issue? If we want to keep both plugins working together how to go ahead with it? Please let us know if this issue has been fixed.

[2018-05-25 12:55] fickludd commented on #11820
@tomsherman This seems to be a duplicate of https://github.com/neo4j/neo4j/issues/11842 which is a problem related to index seeks of null in uniqueness constraint indexes. This is fixed by https://github.com/neo4j/neo4j/pull/11851.

Feel free to reponed this issue if you still experience it in `3.4.1`.

[2018-05-25 12:55] #11820 closed, assigned to fickludd

[2018-05-25 13:03] SaschaPeukert commented on #11789
Hej @Artgit !
Thanks for reporting. Its a bit tricky for me to decide if this is an apoc or neo4j issue. Could you provide us with steps to reproduce this without apoc in them? Also, your parameter "assignedRelationshipProperties" is not defined, which makes this a bit hard to understand/debug.

[2018-05-25 13:12] #11778 closed, assigned to nobody

[2018-05-25 15:44] ali-ince commented on #11429
Hi @mafshin & @novikovag,

Having `TEMP` and `TMP` variables referring to `D:\Temp` or any other folder that doesn't by default fall-back to `MSDOS8.3` style naming should work fine with any version. I suspect you are experiencing another problem and kindly ask you to check related log files (which should be under `C:\Users\<Your Username>\.Neo4jDesktop` folder) and provide more details about the

[2018-05-27 05:21] Artgit commented on #11789
Hi @SaschaPeukert , I apologize but I tried to reproduce it with pure Neo4j procedures but failed. Also, I'd like to add that this issue is gone with Neo4j 3.4.0 and last APOC version.

[2018-05-27 05:22] Artgit opened #11870 "Neo4j manual/explicit indexes and non-string range queries"
I was able to port my Neo4j 3.4.0 application to use manual indexes and APOC procedures instead of queries over the indexles relationship properties. Everything is working like a charm except one last thing - I ran into the issue with non-string Lucene range queries.

They are not working as expected, for example:

I'm applying the following Lucene query predicate in order to get all inclusive num

[2018-05-27 05:39] 0mp commented on #10739
I've had the same problem while opening `cypher-shell` in an [st terminal](https://www.freshports.org/x11/sterm/). Also, I'm getting the error no matter if I'm running `cypher-shell` inside a tmux session or not.

Here's the error message:

[code]

I do not experience this problem when using xterm without tmux. If I'm running cypher-shell in a tmux session, which has `TERM` set to `screen-256color

[2018-05-28 07:10] #11789 closed, assigned to SaschaPeukert

[2018-05-28 13:39] SaschaPeukert commented on #11870
Can you provide some steps to reproduce this issue? What has to be in the graph and what Neo4j surface do you use for your query?

[2018-05-28 13:56] Artgit commented on #11870
I use Neo4j 3.4.0, apoc-3.4.0.1-all.jar

I have created the following triggers which add all of the relationship properties into the manual index:

[code]

One of my relationship property contains Long timestamp values but looks like by default Neo4j Lucene index treats them as Strings and this is why when I call the query with the following Lucene predicate on this index: `value:[2 TO 6]`,  let's

[2018-05-29 12:59] praveenag commented on #7333
We haven't added this option to cypher-shell because it does not have a similar usecase. cypher-shell does not take a lot of parameters wherein it would make sense to accept parameters from a file.

[2018-05-29 12:59] #7333 closed, assigned to nobody

[2018-05-29 14:03] SaschaPeukert commented on #11535
I'll close this issue now because it does not seem to be an issue with Neo4j

[2018-05-29 14:03] #11535 closed, assigned to SaschaPeukert

[2018-05-29 14:20] eayan commented on #11535
Dear @SaschaPeukert ,

you can close it. thank you for your informative explanations.
best...

[2018-05-29 16:20] dterg opened #11888 "Import Error: Cursor org.neo4j.io.pagecache.impl.muninn.MuninnWritePageCursor"
- Neo4j version: 3.4.0
- Operating system: Windows 10 64 bit
- Neo4j Desktop: 1.1.2

Using the bulk csv import through neo4j desktop generated this error. As you may also see from the timings this importing had taken >20 hours. I had upgraded from neo4j 3.3.4 to attempt to get away with the slow speeds. Not sure if this error is related to the slow importing, but the full details are on [stackover

[2018-05-29 18:44] ctytgat commented on #11814
Ok thx for the info.

[2018-05-29 18:44] #11814 closed, assigned to SaschaPeukert

[2018-05-29 20:19] NaanProphet commented on #10336
Thanks for this! After uninstalling Java 9 and installing Java 8, I was able to login properly to Neo4j.

[2018-05-30 14:05] Joe2001 commented on #7225
+1

Graph DBs promote, that the real data is the structure, which should be modeled by the links/relationships. Relationships should be first-class-citizens! So I cannot understand, that indexes on relationships are currently not supported!

See this simply case:

Let's have sessions and products (or other target objects), linked by "actions". I want to query the most active products by the the ti

[2018-05-30 14:11] #11577 closed, assigned to SaschaPeukert

[2018-05-30 16:14] JamboBuenna commented on #2725
+1

[2018-05-31 07:43] tim-hanssen opened #11901 "Sort on non existing value"
Neo4j version: 3.4.0
Operating system: Unbuntu 16.4 LTS

In 3.4 the sorting is returning an error if you try to sort on a non existing value:
"Neo.ClientError.Statement.TypeError: Type mismatch: expected a map but was NO_VALUE"

**Steps to reproduce**
RETURN environment ORDER BY environment.environment_group.Name
If we don't set the enviroment_group to be in environment the query crashes:

**Expec

[2018-05-31 10:47] tomzeppenfeldt opened #11904 "MATCHing on negative integer throws error in 3.3"
**Neo4j Version:** 3.3.5.
**Operating System:** Ubuntu 15.10
**UI  :7474/browser

### Steps to reproduce

MATCH (n)
where id(n) = -1
RETURN n
### Expected behavior
(no changes, no records)
### Actual behavior

Neo.DatabaseError.General.UnknownError: Access to record Node[-1,used=false,rel=-1,prop=-1,labels=Inline(0x0:[]),light,secondaryUnitId=-1] went out of bounds of the page. The record size is

[2018-05-31 15:25] Shagni commented on #11838
The -IN operator is only available in powershell version 3.  I had the issue and found out my server is on powershell 2.0.

You might want to check that.

Neo4j needs to put in a #Require 3 to alert people of this issue.

[https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_comparison_operators?view=powershell-6](Powershell Operators)

[2018-06-01 02:17] DouglasLapsley commented on #11649
I'm getting this for the first time today too.  Did you find a solution please?

**Edit:**  Solved.  In my case I had just changed the folder name for the project and so the entry in /etc/neo4j/neo4j.conf was making it fail because it had the old path.  Doh!

[2018-06-01 10:40] Adarsh-kumar opened #11914 "Neo4j 3.4 does not start on Oracle 8/Ubuntu with plugins present"
I am on ubuntu (16.04) and running Neo4j (3.4.0, from tarball), and using Java 8 (HotSpot 1.8.0_171).

I have the following plugins:
1. graphaware-nlp-3.4.0.52.8.jar
2. nlp-stanfordnlp-3.4.0.52.8.jar
3. graphaware-server-enterprise-all-3.4.0.52.jar

I get the following error on startup:
[code]

This seems to be a class version error, where the library has been compiled against Java 9. However, Ora

[2018-06-01 11:01] chrisvest commented on #11914
Java 9 class files just won't work in a Java 8 JVM. That's what you have to solve. Either run on Java 9, or try your luck on Java 10, or have the plugin compiled with Java 8, or don't use that plugin.

[2018-06-01 11:01] #11914 closed, assigned to nobody

[2018-06-01 15:03] eduelias commented on #11764
Is there a prevision to release this fix?

[2018-06-02 11:57] YashMishra96 opened #11920 "not able to edit conf file in neo4j"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-06-02 23:21] lordnynex commented on #11820
@fickludd Is 3.4.1 published anywhere? Unfortunately I'm not seeing it in apt or the github release page

[2018-06-03 18:20] Zaryab-Arif opened #11921 "Creative Ideas for Research in Neo4j"
Hi Everyone,

I want to perform research in the domain of Neo4j. Any type of suggestion for research, or any new idea on which i can continue my research. It should be new and unique.

All fruitful suggestions are welcomed.

Thanks

[2018-06-04 07:54] RavenKe commented on #8912
the same problem on ubuntu 16.0.4 with Neo4j version: 3.4.0

[2018-06-04 15:34] ikwattro opened #11923 "Transitive dependencies of neo4j-codegen are built with 1.9 target"
**Version: 3.4**

Assume we are creating a Neo4j extension with the following dependency :

[code]

The extension will compile, however once deployed into the plugins directory of Neo4j the following exception prevents the server to start :

[code]

After some debugging, it appears the dependencies in conflict are the following :
[code]

The dependency tree shows that it comes from `neo4j-codegen`

[2018-06-04 18:54] MishaDemianenko commented on #11923
Hi @ikwattro thx for your report!
Asm 6.0 comes with support for modules (JSR 376) and since that is available only starting with java 9 module-info.class(s) are built with 'target' 9. In the same time, asm is still java 5 compatible.
Also, module-info classes will gonna be ignored by any JDK's that are not aware of them. So you should not have any problem with those classes if you do not do anyth

[2018-06-04 19:46] ikwattro commented on #11923
Thx for your reply.

Yes, as mentioned in the issue, if I do not exclude them explicitly, the
neo4j server fail to start once the jar is deployed in the plugins
directory of neo4j.

On Mon, 4 Jun 2018 at 20:54, MishaDemianenko <notifications@github.com>
wrote:

--
Christophe Willemsen | Graph Aware Limited

Phone: +44 (0) 333 444 7274 <javascript:void(0);> | Mobile: +32 (0) 489 687
208 <javascript

[2018-06-04 21:39] MishaDemianenko commented on #11923
@ikwattro ah I see that's because classpath scanning happens in the server and its using old shaded asm internally that we, unfortunately, can't change.
Also, that's correct that you will need to filter any server extension dependencies since with current version of jersey and friends scanned classes should be compiled with target 8 or bellow.

[2018-06-06 14:48] donatelloOo opened #11926 "additional classpath for standalone Neo4j server"
How to run a neo4j extension (REST API) which requires external JARs and configurations already provided by a product ?

Even though we can add jars to the `{NEO4J_HOME}/plugin/` directory, we want to rely on an already set-up environment including (for example) some `/opt/product/lib/` and `/var/opt/product/conf/` folders.

This is of course very simple when using Embedded Neo4j Server, but how t

[2018-06-07 04:58] YashMishra96 opened #11927 "Return count(*) not working, I have a graph with almost 2500 nodes and all of them come under the label "Art", there are 1.8 million relationships between these nodes.The edges have a weight called "ed_sc", when running the following query the result is displayed in 7 sec when limit is 10, even for limit 100k it shows that the query is executed in almost 7 sec .But when I try to return the count of the total number of rows, there is no response even after an hour. The query is : MATCH (a:Articles)-[r1]->(b:Articles)-[r2]->(c:Articles)-[r3]->(d:Articles)WHERE a.url<>c.url and b.url<>d.url and a.url<>d.url RETURN a.url,r1.ed_sc,b.url,r2.ed_sc,c.url,r3.ed_sc,d.url limit 10;"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-06-07 06:44] mariascharin commented on #10902
@freethejazz Thank you for your feedback! I have added notes in the documentation that an upgrade must be performed as an action separate from, for example, seeding a cluster. The updated docs will be published within a week.

[2018-06-07 16:55] PAX523 commented on #1103
Still inacceptable! Please consider:

https://stackoverflow.com/questions/30109292/how-to-manually-manage-neo4j-locks-in-spring-managed-transaction

https://stackoverflow.com/questions/50665958/neo4j-error-for-relationship-property-property-values-can-only-be-of-primitive

It seems that Neo4j isn't eligible for reasonable use with Spring Data. Unbelievable.

[2018-06-07 17:32] freethejazz commented on #10902
Awesome, thanks for an updating and adding details to the documentation!

[2018-06-08 09:43] hdk opened #11928 "Neo4j 3.1.9 Patch Released (June 5, 2018) - missing?"
I found this in my mail:

Neo4j 3.1.9 Patch Released (June 5, 2018)
Release Date: 06/05/2018
Neo4j 3.1.9 is a maintenance release, with important improvements.
......

but can't find this version here.

[2018-06-08 10:11] h-oll opened #11929 "Using Indexes with 'OR' filters"
When executing the following query :
[code]

where `_uuid` is indexed on `Entity` nodes, the planner does not use the index and hinting at it with `USING` does not work.

Expected behaviour would be using the index (or at least being able to hint its usage).

[2018-06-08 13:18] lucapaganotti opened #11930 "Neo4j 3.4.0"
Hi all, after upgrading to Neo4j Community edition 3.4.0 neo4j service is not starting anymore. I run the previous versions for months without problems on my debian 9 linux box.

Here are some hints about my environment

$ cat /etc/apt/sources.list.d/neo4j.list
deb https://debian.neo4j.org/repo stable/

$ java -version
openjdk version "1.8.0_171"
OpenJDK Runtime Environment (build 1.8.0_171-8u171-

[2018-06-08 18:04] tomzeppenfeldt opened #11931 "Feature request : pattern comprehension with multiple patterns"
Pattern comprehension now supports

[code]
but is does not support

[code]

[2018-06-09 23:15] LouisSayers opened #11932 "3.4.0 Multiple MATCH clauses with reference to previous MATCH variable"
- Neo4j version: 3.4.0
- Operating system:  MacOS High Sierra
- API/Driver: Cypher
- **Steps to reproduce**
## setup
[code]

## action
[code]

- Expected behavior
Returns only directors that have acted in a movie
actor1.name, movie.title

- Actual behavior
Returns any actor that has ACTED_IN relationship to a movie but not DIRECTED relationship
actor1.name, movie.title
actor1.name, movie.title
act

[2018-06-10 11:47] sofiane01234 opened #11933 "Can't find the .zip of Neo4j version 3.1.3 for windows"
I need the server version of Neo4j database to use but I can't find neither .exe nor .zip to install it.
I've looked for it in the official [website ](https://neo4j.com/download/other-releases/#releases) but i couldn't find it and in the gitub repo but I only found the source code.
Any one can help please !

[2018-06-11 12:10] TobiasLeo opened #11935 "Neo4j Browser 3.1.7 doesn't work with bolt on port 80"
It is not possible to connect to the Neo4j database through the web gui with bolt on port 80 with version 3.1.7 of the browser.
If Neo4j is configured to bind bolt to port 80 the web gui replaces port 80 with 7687 when connecting.
The problem only seems to be with the web gui, as older versions of the web gui (3.1.4 tested) are still able to connect to the newer server with bolt on port 80 without

[2018-06-11 17:21] mikeblum opened #11936 "[Enterprise 3.4] Silent db crash from transaction failure during backup"
- Neo4j version: Enterprise 3.4.0
- Operating system: Ubuntu 16.04
- API/Driver: Cypher/Java API Spring OGM

### Steps to reproduce
Possible culprits are:
- cronjob that runs every hour for backups:

[code]

If there is an open transaction during this window would that cause the tx log failure?

This issue has happened with a 3.1.5 as well as 3.4 instance of comparable size (around 500 MB data).

[2018-06-12 01:30] DouglasLapsley commented on #2725
+1

[2018-06-12 08:26] InverseFalcon commented on #11932
You may want to delete your graph and repopulate it and try again. Using your graph creation query and subsequent actor/director query, I could not reproduce your results.

[2018-06-12 08:28] InverseFalcon commented on #11927
Change your title...please. Short and concise. Put all this in your bug report description (looks like you're still using the default placeholder)

[2018-06-12 10:51] protheusfr opened #11938 "Neo4j Enterprise 3.3.5 : runtime issue"
- Neo4j version: neo4j:3.3.5-enerprise
- Operating system: Ubuntu 16.04
- API/Driver: Cypher
- Execution of specific cypher request.
- Expected behavior : use COST planner with COMPILED runtime
- Actual behavior: use COST planned but fail back to INTERPRETED runtime after 10 seconds

Accordingly to the official documentation (https://neo4j.com/docs/developer-manual/current/cypher/cypher-query-opti

[2018-06-12 12:04] xuhuigithub opened #11939 "dbms.transaction_timeout parameters do not work"
## Guidelines

- Neo4j version: 3.4.0
- Operating system: Centos7.2.1511
- API/Driver: Java API

This is our configuration file

[code]
  I have executed two super queries, and I can see clearly the increase in CPU usage.

- **Steps to reproduce**

- Expected behavior

When the time exceeds the specified time, the transaction will be killed.

- Actual behavior
The query is still in execution, The

[2018-06-12 17:35] gregcarlin opened #11940 "apoc.periodic.iterate fails when updating from a map"
I'm using `apoc.periodic.iterate` to update a large number of nodes at once. Specifically, each node has a property called "details" that contains a json object serialized as a string. I want to update each node so the key-value pairs in the json object become properties of the node. Specifically, I am wondering why the following query fails:

    CALL apoc.periodic.iterate('MATCH (n) RETURN n', '

[2018-06-12 21:57] kizhaev opened #11941 ""NOT path" clause doesn't work with pattern comprehension."
It seems like the 'NOT' keyword doesn't work in pattern comprehension context.

**Neo4j Version:** 3.3-3.4
**Operating System:** Ubuntu 16.04
**API:** ANY

### Steps to reproduce
1. Run the following query:

[code]

The point of the query is to fetch bonus for a movie by a director that user has not reviewed yet.
I would expect here `bonus` and `bonus1` to be equal.

### Expected behavior
bonus ==

[2018-06-13 08:47] mkrogh opened #11942 "Neo4j 3.4.1 on ubuntu 14.04 upgrade fails"
- Neo4j version: 3.4.1  (from http://debian.neo4j.org/)
- Operating system: Ubuntu 14.04
- Java version "1.8.0_171"

### Steps to reproduce

- Upgrade from `3.3.3` to `3.4.1` using apt-get upgrade.

### Expected behavior

The upgrade should just work.

### Actual behavior

When starting the neo4j service you get an error:

[code]

### Other info

Even when you delete the `graph.db` directory it st

[2018-06-13 10:24] systay commented on #11556
Closing because of lack of information. Please re-open if more information is available

[2018-06-13 10:24] #11556 closed, assigned to SaschaPeukert

[2018-06-13 11:36] SaschaPeukert commented on #11901
@tim-hanssen Thanks for reporting. We will look into it.

Best regards,
Sascha, Neo4j Cypher Team

[2018-06-13 11:53] SaschaPeukert commented on #11904
@ophileon Thanks for reporting this. We will take a look at this

Best regards,
Sascha, Neo4j Cypher Team

[2018-06-14 06:43] lucapaganotti commented on #11930
This issue has been solved upgrading from version 3.4.0. to 3.4.1. Thank you for watching.

[2018-06-14 09:23] #11930 closed, assigned to nobody

[2018-06-14 09:32] algarsi3 opened #11944 "Cypher does not use NodeIndexSeekByRange with projection"
- Neo4j version: 3.4.0
- Operating system: Debian 8 (Jessie)
- Cypher version: 3.0

When executing:
[code]
The following plan is executed:
![image](https://user-images.githubusercontent.com/14314257/41403667-b742323c-6fc5-11e8-86a4-db89b27d7129.png)

But when executing:
[code]
The following plan is executing:
![image](https://user-images.githubusercontent.com/14314257/41403781-039925d2-6fc6-11e8-8

[2018-06-15 07:54] francescoinfante opened #11945 "Can't reindex explicit node_auto_index"
I have encountered a regression in Neo4j 3.4. In Neo4j 3.3.x, if I had to reindex the explicit automatic index `node_auto_index` I would have run the following Cypher query:

```MATCH (p) SET p.`name` = p.`name` RETURN count(p)```

In Neo4j 3.4, this query doesn't reindex anymore existing nodes in `node_auto_index`. But, if I actually apply an update to the node:

```MATCH (p) SET p.`name` = 'lol'

[2018-06-15 14:34] sgehrig commented on #11842
Is this fix part of `3.4.1`?

[2018-06-16 15:19] immerlernen commented on #7086
I've read through this (and other) posts many times and got things to work once, but had to uninstall so am now starting from scratch. I'm running Ubuntu 17.10 and have followed all installation steps painstakingly. Undoubtedly my naivete with the ubuntu interface is part of the issue, but after 3-4 hours I'm pretty much begging for help on this.

1. There is no neo4j.pid file. Last time I remembe

[2018-06-17 13:24] billscheidel opened #11946 "Neo4j 3.4 Enterprise: Incremental Online backup fails with FileAlreadyExistsException"
I recently upgraded to 3.4 and incremental online backups are no longer working. If the named backup folder does not exist, the backup is created as expected. If the named backup already exists, the backup fails instead of doing an incremental backup.

**Neo4j Version:** 3.4 Enterprise Edition
**Operating System:** Ubuntu 16.04
**API:** neo4j-admin

### Steps to reproduce
Run the following command

[2018-06-18 10:15] LouisSayers commented on #11932
hmm... I did an update of Neo4j Browser, and retried this and it seems to be working correctly now.

I had a couple students that had the issue above which is why I started looking into it, but likewise unable to replicate atm.

Thanks for looking into it. I'll close this issue.

[2018-06-18 10:15] #11932 closed, assigned to nobody

[2018-06-18 11:29] SaschaPeukert commented on #11941
@kizhaev Thanks for reporting. We will look into it

[2018-06-18 11:32] razbar opened #11947 "Trigger is empty/null after upgrade to 3.4.0"
- Neo4j version: 3.4.0
- Operating system: AWS Linux

- **Steps to reproduce**
- Expected behaviour: Upgrade DB version from 3.2.9 -> 3.4.0 triggers should work as it was
- Actual behaviour: After the upgrade the trigger query is null

[2018-06-18 12:09] SaschaPeukert commented on #11944
@algarsi3 Thanks for reporting this. I have successfully reproduced this problem and we will look into it

[2018-06-18 12:40] #11928 closed, assigned to nobody

[2018-06-18 14:45] SaschaPeukert commented on #11842
Just checked, yes it is!

[2018-06-18 14:45] #11842 closed, assigned to SaschaPeukert

[2018-06-18 14:48] SaschaPeukert commented on #11764
The fix should be in the now availible 3.3.6

[2018-06-18 15:45] sgehrig commented on #11842
Can confirm the fix. At least our test suites are running fine against `3.4.1-enterprise` (while failing on `3.4.0-enterprise`). THX!

[2018-06-20 02:05] gacra commented on #11942
Hi, I had an error similar to yours when upgrading to version 3.4.1. For me, it worked to remove a plugin I had in Neo4j (which luckily I was not using anymore, but I had left the .jar in the plugins folder).
While people who really know Neo4j do not show up, I think it's worth trying to delete the plugins as a test.

[2018-06-20 07:34] mkrogh commented on #11942
Hmm weird. I am not using any plugins though, it is just a vanilla install of neo4j that has been upgraded from 3.2.x to 3.3.x and now fails on 3.4.0/3.4.1.

I might just try and do a full purge and reinstall to see if that fixes the problem.

[2018-06-20 11:36] mkrogh commented on #11942
Ok doing a `sudo apt-get remove --purge neo4j` and then installing neo4j again seems to have worked.

[2018-06-20 11:36] #11942 closed, assigned to nobody

[2018-06-20 14:01] fferegrino opened #11948 "How to set up a developer environment to contribute to neo4j"
Hello, I'm looking forward to contributing to the development of neo4j, however, I'm struggling to set up a working environment to work with the code base (specially having both Scala and Java in the same project). It would be great if you can share the details of the environment that you recommend to work with the neo4j codebase.

With the "environment", I'm talking about the IDE/Editor/Debugging

[2018-06-20 14:15] chrisvest commented on #11948
Intellij IDEA Community Edition with the Scala and Maven plugins work nicely. No special setup required. You just open the top-level directory as a project.

[2018-06-20 14:30] fferegrino commented on #11948
Thanks for replying.

That's what I've been doing, however, everything goes bad for me when it comes to actually run the project, can you tell me which configuration are you using?

<img width="209" alt="screen shot 2018-06-20 at 15 28 33" src="https://user-images.githubusercontent.com/1820946/41664912-a9ee8170-749e-11e8-8e7c-f714722a9d2b.png">

Sorry if this is a novice question but I've never wo

[2018-06-21 08:20] chrisvest commented on #11948
There is no such thing as "running (the whole) project". You pick tests to run, usually.

[2018-06-21 12:49] SimonThordal commented on #11822
@ophileon I've noticed that parameters need to be set using `:param ids => [12345]` to be cast as integers whereas using `:` gives you floats. Could this be it?

[2018-06-21 13:12] tomzeppenfeldt commented on #11822
@SimonThordal  I just tried it in 3.3.3  Community edition and I can reproduce the issue.

3.3.3 does  not accept
`:param ids => [3] `

in 3.5.0-alpha01   (the one that comes with Neo4j Desktop)

it works with both

`:param ids => [3] ` and `:param ids : [3] `

which is the correct behaviour I think.

[2018-06-21 13:14] tomzeppenfeldt commented on #11822
In 3.3.5 it works fine .. no error.

[2018-06-21 20:36] KeithOBrien-RGA opened #11949 "Neo4j 3.4.1 upgrading 3.1.1 db fails with Initialization loop"
## OverView
I was taking a dump from another debian Jessie server that was running neo4j 3.1.1 and loading it onto the new debian jessie server running neo4j 3.4.1

- Neo4j version: 3.4.1
- os: Debian Jessie 8.10
- Reproduce
   * Copy the DB dump from 3.1.1 server to 3.4.1.
   * Start the DB and it just enters an initialization loops and never tries to do the upgrade
- Expected Behavior
  * The DB

[2018-06-21 23:31] fferegrino commented on #11948
Oh, ok.

I'll try that. Thanks!
I'll close this issue now, however, I'd appreciate if you can help me if something comes up.

Thanks again.

[2018-06-21 23:31] #11948 closed, assigned to nobody

[2018-06-22 10:46] protheusfr commented on #11938
Hello team,

Any update regarding this issue ?

[2018-06-22 11:08] EvanKnowles commented on #6165
Still running into this one.

[2018-06-22 16:57] SOUMAJYOTI opened #11950 "Neo4j graph visualization in Gephi error: Node without property name "name" throwing an exception"
The issue is with using the APOC procedure for streaming data from Neo4j to Gephi for visualization. On using the **apoc.gephi.add()** procedure, if the nodes in the Neo4j graph database do not contain the property "name" (exactly this string), then it raises the cypher error :

Even if the node contains properties with the substring 'name' (example, "propertyname"), it throws the same error. On c

[2018-06-23 10:06] chrisvest commented on #11950
It doesn't look like your APOC version fully matches your Neo4j version. You can try upgrading it. Otherwise this sounds like a problem that should be reported to APOC first.

[2018-06-23 11:15] abhi2495 opened #11951 "Unable to access Neo4j database installed behind Nginx in AWS Cloud"
I have been trying to setup neo4j server in public cloud (installed in Amazon AWS EC2, Ubuntu 16 AMI) which I need to access from remote machine. Since I have to access it from a restricted Corporate Network,I decided to set up Nginx as proxy. I followed the Neo4j Doc and bunch of stackoverflow questions.With these I could hit the Neo4j server ,but couldnt connect to it's DB. Here is the Browser S

[2018-06-25 01:16] dysuwen opened #11952 "import large csv file problems"
v3.4.1 enterprise
I am testing the database performance, generated 17 CSV files, total size 2.7T, contains 7 billion nodes, 8 billion relationships, 12 billion propertys, my server memory is 512G, configuration neo4j-admin heap_size for 32G(too low report illegel seek ). in the import process, system not enough memory, /var/log/messages report

Jun 23 17:59:38 hostname Kernel:XFS:java (76613) Poss

[2018-06-25 05:04] jexp commented on #11952
Can you add your exact command line invocation

And all output from the tool

[2018-06-25 06:47] macroxmu opened #11953 "neo4j cann't login and print notice to restart database but cann't restart by neo4j restart"
- Neo4j version: 3.3.4
- Operating system: redhat 6.4
- API/Driver: cypher-shell
- **Steps to reproduce**
The problem would repeat every 2-3 weeks, cypher-shell cann't login to the master database of a ha-cluster and print notice: "The database has encountered a critical error, and needs to be restarted".
I found $NEO4J_HOME/logs/neo4j.log have the following log:
[code]

I grep the error code in a

[2018-06-25 06:48] macroxmu commented on #11953
pstack output (continue)
[code]

[2018-06-25 07:35] tinwelint commented on #11835
https://github.com/neo4j/neo4j/blob/3.5/community/kernel/src/test/java/org/neo4j/unsafe/impl/batchimport/input/InputCacheTest.java is green and it tests caching and retrieving both nodes and relationships. Do you have a test case showing the issue?

[2018-06-25 07:59] tinwelint commented on #11888
The node cache for your import should fit nicely in memory (as the importer says it requires 9GiB for it), but for some reason it opts for pagecache-backed caching, which slows down your import significantly. Also there seems to be an issue with the collision value handling when using that caching strategy that has to be fixed.

I'll see if I can add some output as to which caching strategy it cho

[2018-06-25 09:12] burqen commented on #10657
Problem has been addressed. Closing issue. Feel free to open it again if you disagree.

[2018-06-25 09:12] #10657 closed, assigned to nobody

[2018-06-25 10:19] dysuwen commented on #11952
my english not good, a part using google translation.

neo4j.conf main parameters:
dbms.memory.heap.initial_size=16g
dbms.memory.heap.max_size=16g
dbms.memory.pagecache.size=256g
dbms.record_format=high_limit

nodes csv format, average of 400-800 million lines.

id,name,num,desc1,desc2,desc3,date4,int5:int,float6:float,bln7:bollean,bln8:boolean
id0000000001,name0000000001,num0000000001,desc1000000

[2018-06-25 13:00] chrisvest commented on #11953
There should be one or more stack traces in `$NEO4J_HOME/logs/debug.log`. Please take a look and post what you find.

[2018-06-25 15:04] SOUMAJYOTI commented on #11950
The APOC version was not the error - it was a bug in the APOC version 3.2.03 which was fixed in 3.2.04 - so updating the APOC plugin to 3.2.04 fixed the error.
Reference the commit log: [link](https://github.com/neo4j-contrib/neo4j-apoc-procedures/commit/8b25b05fa461ae0177db1b0604f628b73f12e08d#diff-d27b3f05da2e50dbcd2c95ca367b0e65)

[2018-06-25 15:05] #11950 closed, assigned to nobody

[2018-06-26 06:48] macroxmu commented on #11953
while running "neo4j stop/restart" , there are no more logs print in logs/debug.log

[2018-06-26 21:42] rito-mg opened #11954 "Debian package for 3.4.1 does not create /var/run/neo4j"
## Bug report

The `/var/run/neo4j` directory is not created by the installer. If you run `systemctl start neo4j`, no pid file is created.

**Neo4j Version:** 3.4.1
**Operating System:** Ubuntu 16.04

### Steps to reproduce

#### Prepare to install
[code]
#### Log back in and verify ulimit for number of files has increased to 60000.
[code]

#### Install the neo4j repository.
[code]
#### Make sure

[2018-06-27 04:12] DouglasLapsley opened #11955 "The database has encountered a critical error"
- Neo4j version: 3.3.1
- Operating system: Ubuntu 16.04
- API/Driver: Python driver neo4j.v1 - neo4j-driver==1.5.3

Running on my local machine.  All has been fine until yesterday when I started getting the following error message.  It now happens every 20 minutes or so.

`DatabaseError: The database has encountered a critical error, and needs to be restarted. Please see database logs for more det

[2018-06-27 08:15] SaschaPeukert commented on #11938
Hej @protheusfr !

In Neo4j 3.3 falling back to the interpreted runtime is allowed and intended, depending on the query you are running. Generally speaking, the compiled runtime does not support all kinds of queries, thus this mechanism is necessary. If you look at the 3.3 version of the developer manual ( https://neo4j.com/docs/developer-manual/3.3/cypher/cypher-query-options/ ) it states the fol

[2018-06-27 10:37] nhmelo commented on #7225
+1

Currently working on a project strongly dependent on Neo4j and adding intermediate nodes would pollute the model immensely. I really don't like that solution and it seems like a needless workaround to actually having indexes on relationships.

Hopefully this feature becomes available soon! Thanks

[2018-06-27 20:23] leorodriguez opened #11956 "Filtering by relationship types is not working in cycles of length 1"
I have found an issue when filtering on relationship types over cycles of length 1 (self loops).

**Neo4j version:** 3.4.1 (causal cluster with 2 cores, no read replica)
**Operative system**: Debian 9
**API/Driver:** Cypher
**Steps to reproduce:**
_Create a self loop:_
`merge (x:V)-[:R]->(x)`
_Query for a non existing relationship type_
`match (x:V)-[:NON_EXISTENT]->(x) return x`
**Expected behavi

[2018-06-28 07:15] protheusfr commented on #11938
Thanks you Sascha.
Can I sent you request sample directly on a Neo4j support address ?

[2018-06-28 08:23] klaren commented on #11739
Hi @amadfida!

Does this happen on an empty database?

The new index implementation in 3.4 can use a lot of file descriptors so if you have a lot of indexes you have to increase the limit.

[2018-06-28 19:03] amadfida commented on #11739
No it only happens on an existing db and we did have to increase the default limit to significantly higher number i.e. 60K -> 400K for it to work.

[2018-06-29 07:45] klaren commented on #11739
That sounds way off the charts. Do you have a rough estimate of how many indexes you have?

[2018-06-29 10:11] fickludd commented on #11904
@ophileon This has been [fixed](https://github.com/neo4j/neo4j/commit/aed54d20c5f8f7a61ed0223424b17ba2887a803d#diff-d53d8bcd7957017281b2bc752328340c) in `3.3.6`. Patch and you should be fine 👍

[2018-06-29 10:11] #11904 closed, assigned to SaschaPeukert

[2018-06-29 11:02] #11941 closed, assigned to SaschaPeukert

[2018-06-29 13:29] charlieclose opened #11957 "Exception in org.neo4j.unsafe.batchinsert.BatchInserter on shutdown()"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-06-29 16:29] leorodriguez commented on #11956
the issue is also present in cycles of length > 1, is anyone else experiencing this?

[2018-06-29 17:02] codyAnivive commented on #11946
Im seeing the same behavior

[2018-06-29 19:51] rito-mg opened #11958 "Infinite loop during initial startup by systemctl"
## Bug report

Unless `~neo4j/bin/neo4j start` is run manually, the first time you launch a newly installed neo4j it infinite loops. For example, if you run `systemctl start neo4j` directly after installation (or indirectly if you had run `systemctl enable neo4j` and rebooted), the service loops with the `debug.log` giving no indication of what the problem is.

The problem appears to be that runni

[2018-06-29 20:39] amadfida commented on #11739
We have 1320 indexes (the number of rows from CALL db.indexes())  and our default index is lucene+native-1.0

[2018-07-01 13:22] charlieclose commented on #11957
An update. Yesterday I ran the same process on the same data using Neo4j 3.3.6 (the last 3.3 version) and it completed successfully.

[2018-07-02 06:07] dominics commented on #8832
Over in https://github.com/neo4j/neo4j/issues/5802#issuecomment-152961778, @boggle said this about future plans for supporting 2.12:

Scala 2.12 went stable in November 2016, and it's now July 2018 (i.e. 20 months later). That's a pretty long wait for "soon after". There's also this bit:

Well, that's no longer true either. 2.11.x was EOLd last year, and is no longer maintained. The release notes

[2018-07-02 09:54] fickludd commented on #11944
Hi there @algarsi3,

This query is just a you say something that should be index backed regardless of whether the predicate is specified in the `WITH` clause or directly in the `WHERE`. However, the planner is not always very clever about this, mostly because the semantic analysis which happens before planning has some architectural issues which are quite costly to fix. So unfortunately the short

[2018-07-02 09:54] #11944 closed, assigned to SaschaPeukert

[2018-07-02 11:18] NivTikolski commented on #11956
i have a similar issue, i think it caused from the same reason.
i upgrade my database(local, without cluster) from 3.2.9 to 3.4.0/3.4.1

i have: (a:Profile)-[:Test]->(b:Profile)
if i query:
match (a:Profile {id: 1})-[r:Follow]->(b:Profile {id:2})
return type(r)
**the result**: "Test"

more weird situation: if the two profiles add another relation, lets say Test2
so the result of the query will be:

[2018-07-02 20:53] feldoh commented on #11835
I'll make one. The issue is in https://github.com/neo4j/neo4j/blob/25bd3fa979ebd45938a422b55bf927bfdd849cf0/community/kernel/src/main/java/org/neo4j/unsafe/impl/batchimport/input/CachingInputIterable.java#L61 not the input cache itself. So you pass CachingInputIterable an input cache which contains relationships. But the iterator always caches nodes never relationships.

[2018-07-03 03:38] iaroslavn commented on #11923
I had the same problem with my managed plugin for Neo4j 3.4.1 running on Java 8.
I think that excluding asm and jetty dependencies is not correct as the standalone Neo4j server uses those jars (they can be found in ${NEO4J_DIR}/lib folder and their internals are compiled for <= Java 1.8 except module-info.class). Thus, I propose to just exclude `module-info.class` file from your plugin uber jar wi

[2018-07-03 06:48] MishaDemianenko commented on #11923
@iaroslavn as you already mentioned you do not need to exclude whole jars, which is wrong, you need only filter out module-info.class(es) since this is where your problem comes.

[2018-07-03 06:48] #11923 closed, assigned to nobody

[2018-07-03 07:44] klaren commented on #11739
As I mentioned earlier, the new index implementation uses a lot of file descriptors and for your high number of indexes (1000+ is more than avarage) hitting 60K is very likely. We are aware of this drawback and are working on a solution that will lower the resource usage.

In order to optimize I/O performance, we open multiple channels to all the files. The impact of this is highly depending on th

[2018-07-03 11:56] chrisvest commented on #11739
No, the number is the exponent to which 2 is raised.
So if `channelStripePower` is 5, then you'll get 2^5 = 32 stripes aka. file descriptors for every individual mapped file.
You can set it to 0 to have only one file descriptor per mapped file. Setting it to 1 will open 2 file descriptors, 2 will open 4, 3 opens 8, and so on.

[2018-07-03 23:53] ryguyrg commented on #11940
@gregcarlin suggest moving the issue over to the APOC issue tracker.  APOC is not part of the core Neo4j product and thus isn't covered by this repository. https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues.  of course, if you're not sure it's an issue, you an also post on stackoverflow.

[2018-07-04 11:52] SaschaPeukert commented on #11956
@leorodriguez @NivTikolski Thanks for reporting this problem. I will let you know when it is fixed

Best regards
Sascha, Neo4j Cypher Team

[2018-07-04 12:34] SaschaPeukert commented on #11956
In the meantime, if you are running on enterprise, I'd advice you to use
`CYPHER runtime=slotted` as a query prefix to get around this and get better performance than interpreted.

[2018-07-04 12:54] SaschaPeukert commented on #11938
For normal support cases, raising a ticket in https://support.neo4j.com/hc/en-us would be the right thing to do but you can also just send it to me for now ( sascha.peukert@neo4j.com ) :-)

[2018-07-04 13:14] SaschaPeukert commented on #11822
I just tried it again and It seems to be fixed in 3.2.12

[2018-07-04 13:15] #11822 closed, assigned to SaschaPeukert

[2018-07-04 13:29] SaschaPeukert commented on #11901
This should be fixed in the next release of 3.4 which is `3.4.2`

[2018-07-04 13:29] #11901 closed, assigned to SaschaPeukert

[2018-07-04 13:32] SaschaPeukert commented on #11687
This should now be fixed in `3.3.6`

[2018-07-04 13:32] #11687 closed, assigned to SaschaPeukert

[2018-07-04 13:34] #11444 closed, assigned to SaschaPeukert

[2018-07-05 09:31] Manish-Giri opened #11959 "Accessing components of Duration (Temporal value) provides conflicting results"
- Neo4j version: 3.4.1
- Operating system: Windows 10, Mac OS High Sierra
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z) Cypher
- **Steps to reproduce** - execute queries shown below

I have an entity with a property whose value is duration in days (ex: 36). I'm trying to get the value of this duration in milliseconds, so I can add this to another entity's property value (in epoc

[2018-07-05 12:31] tinwelint commented on #11888
@dterg do you have very large node IDs?

[2018-07-05 13:55] gregcarlin commented on #11940
Sounds good! Moved to https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/846

[2018-07-05 13:55] #11940 closed, assigned to nobody

[2018-07-05 14:54] fickludd commented on #11941
@kizhaev This is fixed by https://github.com/neo4j/neo4j/commit/54cec41387c024c5da3c9e68cd1b22420112d0f4, which will be a part of `3.3.7`

[2018-07-05 18:04] tinwelint commented on #11888
I managed to reproduce this. Fix coming shortly, and should go into some upcoming 3.4.x patch release.

[2018-07-05 20:38] kizhaev commented on #11941
Great! Thank you!

[2018-07-06 00:13] razaulhaq opened #11960 "Neo4j won't start after update"
There was a Neo4j update for like more than two months and I always skipped it but yesterday I installed it, now Neo4j won't start there nothing in logs not even a single line for new databases and for old ones there are only old logs nothing new is getting there I have even tried restarting system, currently I am using Neo4j 3.3.5 with Neo4j desktop 1.17 with windows 10

[2018-07-06 11:27] aryamaia opened #11961 "Relationship Types are not being posted into neo4j sandbox"
Hi,
Nodes are being posted, relationship Types are not being posted into neo4j sandbox through rest calls but being posted into desktop one, any help here?

[2018-07-07 23:03] dterg commented on #11888
Thank you and sorry but don’t have access to this at the moment. Can provide more details if required once I’m back from vacation.

[2018-07-08 10:40] NivTikolski commented on #11947
It happened to me too, all my triggers queries are null after the upgrading to 3.4.0.

[2018-07-08 12:50] AviAvni opened #11962 "Long running merge relationship"
We want to upgrade our production to use version 3.4.X
We have problem running query like this in 3.4.2 but it's ok on 3.2.9
[code]
but the query takes more then 2 minutes

when we are running it we are checking the locks and this is the result that we are getting
[code]

[2018-07-08 18:37] klobuczek commented on #8832
During last GraphConnect it sounded like we were very close to have Scala 2.12 supported. Apparently neo4j spark connector was holding things up. Since then there were several releases and one major release of neo4j and still nothing changed.

[2018-07-08 20:26] chrisvest commented on #11947
This sounds like an APOC issue. That's the library that gives you triggers, isn't it? Make sure you've upgraded APOC to a version that matches your Neo4j version, and then report the problem on the APOC repository is the problem continues.

[2018-07-08 21:46] InverseFalcon commented on #11962
Can you please supply the PROFILE plan of this query, with all elements of the plan expanded?

[2018-07-09 01:32] amadfida opened #11963 "Neo4j Debian repo SSL certificate has been expired"
SSL certificate for https://debian.neo4j.org/repo/stable/Package has been expired and needs to be updated.
<img width="730" alt="image" src="https://user-images.githubusercontent.com/2160973/42426506-5472047c-82dd-11e8-96a4-4061f87f89d1.png">

[2018-07-09 07:02] lorenz-nlp commented on #8832
I encountered the same problem when using TestGraphDatabaseFactory in my tests. The problem is that the classpath contains then the application to test, as well as Neo4j, which makes version conflicts of different libraries or Scala likely. I was recommended to use testcontainers instead, which let you spin up a Neo4j instance for each test in Docker. This works like a charm, and I only can recomm

[2018-07-09 07:38] NivTikolski commented on #11962
here is the plan:
![plan](https://user-images.githubusercontent.com/7282159/42436842-f78b5c4a-8363-11e8-91fa-2d7c56835b06.png)

as avi said, the problem is when we ran the query, there are some locks(we are the only the connected to the graph), when the locks release, the query ran and it "looks" like it take 30ms, but we waited 2-3 mintues.
@InverseFalcon

[2018-07-09 08:48] lucapaganotti commented on #11963
Yess, unable to update  :-(

[2018-07-09 08:55] EtienneMdG opened #11964 "bug with OPTIONAL MATCH and RETURN DISTINCT"
I have a database with Sessions followed by a chain of Visits. Each Visit point to a Page.

The structure of the data is as follow:

A Session is followed by a chain a Visit:

`(:Session)-[:FIRST]->(:Visit)-[:NEXT]->(:Visit)-[:NEXT]-> ... -[:NEXT]->(:Visit)`

Each Visit links to a Page:
`(:Visit)-[:CONSISTS_IN)->(:Page)`

I want to query for each Page the number of Sessions ending at this Page. I

[2018-07-09 09:29] jexp commented on #11962
Are there a lot of concurrent writes to these two profiles?

Are there other transactions that are not fully consumed or are still open/pending?

You can also list transactions in 3.4.x, please try to run `CALL dbms.listTransactions()` to see which other tx are ongoing

[2018-07-09 09:54] AviAvni commented on #11962
No transaction is running while running this transaction we have no traffic to this database

[2018-07-09 12:26] chrisvest commented on #11963
Thanks for notifying us. The certificate should be renewed now.

[2018-07-09 12:26] #11963 closed, assigned to nobody

[2018-07-09 12:42] razbar commented on #11947
I've opened the issue on the APOC repository.

[2018-07-09 12:42] #11947 closed, assigned to nobody

[2018-07-09 14:41] boggle commented on #8832
You are right, currently we do only support scala 2.11. We are looking into supporting 2.12, please stay tuned.

[2018-07-09 16:33] jexp commented on #11947
@chrisvest there might be an issue with updating graph properties though. This is the 2nd mention of it.

[2018-07-09 17:40] ellepannitto opened #11965 "Error: Could not find or load main class * when executing neo4j"
Neo4j version: don't know because I can't execute neo4j version
Operating system: Ubuntu 16.04 server
API/Driver: command line

**Steps to reproduce**
run neo4j version
Expected behavior
the version number is shown
Actual behavior
got this error: Could not find or load main class org.neo4j.server.CommunityEntryPoint

run neo4j-import [other parameters]
Expected behavior
the import process starts
A

[2018-07-10 12:06] NivTikolski commented on #11956
@SaschaPeukert
hi, you have a guess when it will be fixed?
this issue stops our upgrade to 3.4 in production.

thanks,
Niv.

[2018-07-10 15:09] billscheidel commented on #11946
Any update on this?  Not being able to perform incremental backups is a pretty big problem.

[2018-07-10 15:11] KeithOBrien-RGA commented on #11949
Was not able to reproduce the error when building a second server same os, config and dump files. Using `neo4j-admin load  --database=graph.db --from=/srv/neo4j-backups/graph.db.dump --force` consistently worked across versions.

[2018-07-10 15:11] #11949 closed, assigned to nobody

[2018-07-10 15:42] codyAnivive opened #11966 "Creation of index fails with java.io.IOException:org.neo4j.index.internal.gbptree.TreeInconsistencyException: Some internal problem causing out of bounds: pageId:324521"
The creation of large string unique constraint fails with java.io.IOException: org.neo4j.index.internal.gbptree.TreeInconsistencyException: Some internal problem causing out of bounds: pageId:324521

I have attempted to create the unique constraint several times and it fails consistently. The pageID number that is referenced as out of bounds changes every time the constraint creation is attempted.

[2018-07-10 20:05] codyAnivive commented on #11966
Following suggestions from andrew bowman I attempted index creation with lucene+native-1.0 which successfully created the constraint and accompanying index

[2018-07-10 22:32] panthershark opened #11967 "Cypher Bug/Regression 3.3.6 - pattern comprehensions fails when using path matching in WHERE clause"
- Neo4j version: 3.3.6, 3.4.1
- Operating system: Mac, Linux for sure. Did not test others
- API/Driver: Cypher

## bug report

Cypher has changed behavior since 3.3.5 and has a bug/regression. WHERE clause in pattern comprehensions are being ignored when attempting to match a path.

### Steps to reproduce

1. Setup an empty instance of neo4j 3.3.6.
2. Add a small graph like this:
`CREATE (a:kid {

[2018-07-11 04:34] calvinalvin commented on #7225
+1

[2018-07-11 06:08] cuigm85 opened #11968 "Neo4j Desktop: Failure to execute cypher query in Browser comes with Neo4j Desktop"
- Neo4j version: 3.3.5 to 3.4.1
- Operating system:  Windows 10
- API/Driver: Neo4j Desktop 1.1.7
- **Steps to reproduce**
1. import sample data :
[code]
2.1 Connect to neo4j with browser ( **Firefox, Chrome** etc.) and execute query and works.
[code]
2.2 Connect to neo4j with **browser comes with Neo4j Desktop** and execute same query and it fails to execute with error message.

[code]

This quer

[2018-07-11 08:29] jexp commented on #11968
Please restart/refresh your desktop, it fetches a browser version (3.2.5) that fixes this issue.
It was because of the new multi-statement support which was added recently and broke some queries. That feature is for the time being now enabled with a config setting in the sidebar.

[2018-07-11 08:29] #11968 closed, assigned to nobody

[2018-07-11 08:57] chrisvest commented on #7225
There are at least three parts to this: First is being able to index relationships. Second is being able to apply a constraint on the indexed relationships. And third extending the Cypher planner smarts to take relationships indexes and constraints into account for planning. The first part, indexing relationships, is being worked on to some extent, but it will still be a while before the support h

[2018-07-11 11:19] jexp commented on #11956
you can just set the default runtime to slotted in your server config for all queries

`unsupported.cypher.runtime=SLOTTED`

[2018-07-11 13:34] SaschaPeukert commented on #11967
@tommymessbauer Thanks for reporting this. I am happy to say that the problem has already been fixed ( https://github.com/neo4j/neo4j/issues/11941 ) and should be in the upcomming `3.3.7` and `3.4.4`

[2018-07-11 13:34] #11967 closed, assigned to nobody

[2018-07-11 13:54] panthershark commented on #11967
![Excellent!](https://media.giphy.com/media/l46CDHTqbmnGZyxKo/giphy.gif)

[2018-07-11 14:24] SaschaPeukert commented on #11956
@NivTikolski The fix was merged today. It should be part of the upcoming `3.4.5` release

[2018-07-11 15:31] sgehrig opened #11969 "Neo4j becomes completely irresponsive and freezes integration tests"
When running neo4j (3.4.1-enterprise and community) in a CI environment we sometimes (more often than not recently) stumble upon a deadlock when talking to the neo4j from our test suite. Before running the test suite a completely new neo4j instance is being setup (to overcome some problems we had with neo4j getting slower and slower over time). Then, with each test, parts of our applications’s sch

[2018-07-11 15:41] chrisvest commented on #11969
Would you be able to create an issue reproducer e.g. as a file that can be piped to `cypher-shell`?

[2018-07-11 15:45] sgehrig commented on #11969
@chrisvest Phew - that might be hard. There are about 3000 tests in the test suite of which about 400 - 500 talk to the Neo4j instance. The whole test suite normally runs for about an hour and it fails unpredictably. We only notice that it failed when checking the Jenkins jobs and seeing one that seems to be running for several hours. It's always on a different test that the process (including the

[2018-07-11 16:08] noamket commented on #11962
**@jexp is our savior!**
He has detected the cause of the issue,
It was our trigger that suffered from cypher regression in version 3.4.1 and made full db scans on each node update...

Please update this thread once the issue is resolved, we'll use @jexp workaround for now,
Thanks **Michael**!

[2018-07-11 17:14] mafshin commented on #11429
@ali-ince I'm getting the same error in 1.1.7

When I try to create a new db graph in Neo4j Desktop, I face "**Database failed to create: Error: Could not change password**" error.

### Steps to reproduce

- Create a new graph db in Neo4j Desktop

Log:
[2018-07-11 21:29:31:0808] [info] Executing 'D:\Neo4j\neo4jDatabases\database-2e8bdfd4-bf24-45dd-be36-0f10db2103c3\installation-3.4.1\bin\neo4j-adm

[2018-07-12 01:47] waxmittmann commented on #8832
@boggle Will the 2.12 compatibility fix include definitively solving the issues that made the upgrade from 2.11 -> 2.12 so difficult?

I ask because we're six months from 2.13, and if the 212 -> 2.13 upgrade will happen in a similar time frame then it's not going to be worth it for me, as I can't afford to rewrite all my tests a year in or stick with an obsolete version of Scala for a couple of ye

[2018-07-12 07:29] boggle commented on #8832
To get some feedback, would you prefer if we'd move to 2.13 right away once it's out, skipping 2.12 entirely?

[2018-07-12 07:31] boggle commented on #8832
Also what issue are you referring to? As we're shipping a database, we tend to follow a versioning policy for dependencies that's more towards the side of stability than recency.

[2018-07-12 07:59] Manish-Giri opened #11970 "Request - Improve error messages to specify actual issue"
I was writing a query in Cypher which uses a `case` statement to return a `commonPostScore` based on two items - `allPostCount`, `commonPostCount`. If `allPostCount` is 0, I want to return 0 as the final number, or else `commonPostCount/allPostCount`.

The relevant part of my query is shown below -

[code]
I was writing the query based on the documentation on [Cypher expressions](https://neo4j.com

[2018-07-12 08:16] waxmittmann commented on #8832
@boggle Thanks for your response :+1:

In an earlier comment ChrisVest wrote: "Upgrading to 2.12 is quite involved because we have binary dependencies on Cypher planners from older versions of Neo4j, as a means to preserve Cypher compatibility across versions".

If I had to choose 2.13 probably makes more sense to me than 2.12, but unless compatibility with the most recent version of Scala can be

[2018-07-12 08:31] sgehrig commented on #11969
@chrisvest I can provide a `query.log` that has been generated by a successful test suite run so that you can take a look at the queries executed. I also have a version of the `query.log` that only contains queries and their parameters. It contains about 46k queries. I cannot, however, share that log file publicly.

We also enabled query logging on the CI server to ensure that we get a `query.log`

[2018-07-12 08:36] mafshin opened #11971 "Store and its lock file has been locked by another process"
- Neo4j Desktop version: 1.1.7
- Neo4j Version: 3.3.5
- Operating system: Windows 10 64bit

**Steps to reproduce**
- Expected behavior: Neo4j db instance must run
- Actual behavior: 'Database failed to start, Startup timed out'

My Neo4j Desktop was frozen, I restarted the OS and since then I can't start the instance because of store lock exception:

**Log**

[code]

**What I have tried**
- Deleti

[2018-07-12 09:08] chrisvest commented on #11969
When Neo4j is frozen, grab a complete thread dump with `jstack` and post it here. That might help us narrow things down.

[2018-07-12 10:14] sgehrig commented on #11969
That's what we get from `jstack -F`:

[code]

Does not look so good to me.

[2018-07-12 10:50] boggle commented on #8832
@klobuczek you are right, this is also related to CAPS and the spark connector. Since spark hasn't updated to 2.12 (we had high hopes that would have happened by now), and CAPS and Neo4j share the front-end we were tied by that. We recently did the work of separating the cypher front-end from Neo4j and re-publish it under ASL via opencypher. So at least this stumbling block has been removed. The b

[2018-07-13 04:28] zhizh opened #11972 "Unexpected error detected in bolt session"
## Unexpected error detected in bolt session

- Neo4j version: 3.4.0, 3.4.1, 3.4.4  Enterpsise&Community
- This bug is not reproduced in the 3.3.6 and previous versions
- Operating system: Windows 10

### Steps to reproduce
1. neo4j console`
2. http://localhost:7474

### Expected behavior
No error message

### Actual behavior
D:\poc\neo4j-enterprise-3.4.1\bin>neo4j.bat console
2018-07-12 16:43:12.

[2018-07-13 06:42] klaren commented on #11638
@ct-jzarrelli Did any of the above solutions work for you?

[2018-07-13 06:42] Antti-Kaikkonen opened #11973 "[Feature request]Terminate query when HTTP request is aborted / timeout"
For example when using /db/data/transaction or /db/data/transaction/commit for a long-running query, it would be nice if the query was terminated when the HTTP request is aborted or times out.

I know it might be possible to achieve this using CALL dbms.listQueries(); and CALL dbms.killQuery(id); but I'm worried that it might not be possible to always determine which query to kill if there are mul

[2018-07-13 08:35] Antti-Kaikkonen commented on #11973
I figured I might be able to do what I want like this:

1) Create transaction with no statements
POST /db/data/transaction  (statements: [])

2) Add a long running query to transaction
POST /db/data/transaction/[transaction id from step 1] (statements: [statement:"match ..."])

3) Terminate the query by rolling back the transaction before step 2 is completed. Hopefully, it will terminate the query

[2018-07-13 09:58] lutovich commented on #11973
Hi @Antti-Kaikkonen,

Bolt connections are persistent TCP connections and database can detect their failures. Ongoing transaction will automatically be terminated. There is currently no such mechanism for the transactional endpoint. Your approach feels good to me.

[2018-07-13 10:19] lutovich commented on #11972
Hi @zhizh,

I think this error is logged because neo4j-browser tries to log in using credentials stored in browser's local storage. Username-password box is shown when credentials to not match and this error is logged. Local storage is per-page scheme, host an port. Auth information from local storage can thus clash if multiple different neo4j databases are started on the same machine with same HT

[2018-07-13 13:00] Antti-Kaikkonen commented on #11973
I think a TCP connection always persists during a single HTTP request so it should be possible to do the same thing with the transactional HTTP API.

I implemented the workaround that I described and it seems to work.

[2018-07-14 01:18] graphadvantage opened #11974 "WARN Low configured threads: (max={} - required={})={} < warnAt={} for {}"
Neo4j 3.4.1, 3.5a4
Neo4j Desktop MacOS, also Ubuntu

Hi

I'm seeing variations of this message

2018-07-14 00:48:50.795+0000 INFO  Server thread metrics has been registered successfully
2018-07-14 00:48:51.435+0000 WARN  Low configured threads: (max={} - required={})={} < warnAt={} for {}

And with apoc installed, looks like a race condition

2018-07-14 00:48:15.417+0000 INFO  Bolt enabled on 127.

[2018-07-14 03:14] zhizh commented on #11972
Hi @oskarhane

Thank you for the prompt reply. I was finally relieved. I thought it was a big problem for the new version.

Many thanks @oskarhane

[2018-07-14 03:14] #11972 closed, assigned to nobody

[2018-07-14 10:04] lutovich commented on #11974
Hi @graphadvantage,

This warning comes from the embedded Jetty which starts up as part of neo4j-server. Database has its own thread calculator for Jetty or uses configured value of `dbms.threads.worker_count` setting. The warning can safely be ignored. We will remove it in the next 3.4 release.

[2018-07-14 14:53] cleishm opened #11975 "Error when returning point types using bolt protocol (Neo4j 3.4.1)"
## Actual behavior

[code]

## Expected behaviour

Either:

a) Return a simple map instead (e.g. `{crs:'WGS84', latitude:334.34, longitude:18.25}`), which provides good backward compatibility; or
b) Provide a clearer error (e.g. "cannot return value of type Point as it is not supported by the connection protocol (Bolt V1)").

Providing backward compatibility (using a map) would be preferable until

[2018-07-14 15:05] cleishm opened #11976 "Incompatible point types are not rejected"
### Actual behavior

[code]

### Expected behavior

This should be an error, as incompatible positions have been specified using both latitude/longitude and x/y (which also should result in points from different coordinate systems).

[2018-07-14 15:20] cleishm opened #11977 "Confusing documentation for point type with no CRS"
### Actual behavior

[code]

### Expected behavior

According to [the documentation](https://neo4j.com/docs/developer-manual/current/cypher/functions/spatial/#functions-point-wgs84-2d), "If the coordinates are specified using `x` and `y`, then either the `crs` or `srid` field is required if a geographic CRS is desired.".

It would be clearer to word this in the same manner as for WGS-84 points, "I

[2018-07-14 15:45] xenoterracide opened #11978 "Feature: editable UI"
I like Neo4j, but what I've realized is that my initial use case for it isn't really as a database, but rather as an advanced mind map of sorts. A way to document complex node structures. Problem I encounter with using neo4j for this is that the Web UI view isn't editable, and that I'd have to write queries just to create simple relationships. I doesn't seem like it would be impossible to be able

[2018-07-14 18:22] cleishm opened #11979 "Distance between incompatible points is not an error"
### Actual behavior

[code]

[code]

### Expected behavior

An error, as the points are from different coordinate systems (example 1), or of different dimensions (example 2).

[2018-07-14 18:38] cleishm opened #11980 "Inconsistent error messages when applying function to incompatible types"
### Actual behavior

[code]
[code]

[code]
(note the extra space and missing type name for the string)

### Expected behavior

Error messages should be consistent. E.g.:

* "Cannot add Long and *Point*"
* "Cannot multiply Long and *Point*"
* "Cannot add Long and *Point*"
* "Cannot multiply Long and *Point*"
* "Cannot multiply Long and String"
* "Cannot multiply Long and String"

(Note: for consist

[2018-07-14 18:48] cleishm commented on #11979
When comparing a 2D point with a 3D point, both from the same CRS, it _may_ make sense to assume a hight of zero rather than returning an error.

[2018-07-14 19:10] fnopoku commented on #9175
By

 adding the line :
NEO4J_ULIMIT_NOFILE=60000
 in /etc/default/neo4j
 and restarting the server with:
sudo systemctl restart neo4j

 fixed my problem.

[2018-07-14 22:54] KleptoKat opened #11981 "Neo4j Browser copy parameter value to clipboard with a single click"
Currently it is very difficult to try and copy/paste long or hyphenated parameters on nodes in the browser. For example, if I have a node with a uuid it would look something like this: `id: 2e5b8eb0-87b6-11e8-8d0b-cf43cfb9e0ad` It is difficult to copy this object by double clicking it because of the hyphens. Similarly, when the parameter is very long it is difficult to copy the whole parameter.

I

[2018-07-14 23:58] cleishm commented on #11970
The error message results from the parser trying to calculate what the next valid token would be. Because the comma is missing, the next token is probably the start of a clause, like "RETURN", "WITH", "MATCH", "MERGE", "CALL", etc. And the "CA" matches the start of the "CALL" clause. Therefore, the only next valid letter after "CA" must be the "L" (or "l"), which is why the error is "expected 'l/L

[2018-07-16 08:16] akollegger commented on #11978
Thanks for the feature request @xenoterracide , it's sensible and something we agree is needed. We are starting to build up more client-side capability within Neo4j Desktop. The builtin web ui, Neo4j Browser, will continue to evolve as a developer or admin oriented tool. Applications like Neo4j Bloom will be more end-user oriented, featuring capabilities like code-free editing.

[2018-07-16 08:16] #11978 closed, assigned to nobody

[2018-07-17 01:43] cuigm85 opened #11983 "Cypher query returns wrong result for some pattern matching."
- Neo4j version: 3.4.1
- Operating system:  Windows 10
- API/Driver: Neo4j Desktop 1.1.7
- **Steps to reproduce**

1. create nodes :
[code]
2. test three queries:

[code]

[code]

[code]

- Expected behavior
All three queries should return the same result (a)--(b)--(c).

- Actual behavior
The first and third query return the same result but the second one returns nothing.

[2018-07-17 16:41] SOUMAJYOTI opened #11984 "Neo4j server stop operation takes unusually long time - Windows 10"
The Neo4j server on Windows 10 takes unusually long time to stop (3 to 4 minutes). Earlier it used to take just <5 seconds to stop but suddenly it is taking a long time to stop. The start operation works fine.
I have attached the log files from the system.

- Neo4j version: 3.2.12
- Operating system:  Windows 10
- API/Driver: Not Applicable
- **Steps to reproduce**

 Specific to this system.

Open

[2018-07-18 15:56] cleishm opened #11985 "Temporal type naming confusion"
It's confusing to figure out which temporal types are "local" (without a timezone) and which do include timezone information, as they do not seem to follow any common naming and the documentation is unclear.

Can someone clarify?

[2018-07-18 19:06] sswartzl commented on #11958
I can confirm this occurs on RHEL 7.5. Infinite loop on initial startup with systemctl. Rename the referenced auth.ini to auth, then neo4j starts successfully.

[2018-07-19 10:56] zhizh opened #11986 "Load CSV didn't complete even after 2 days or longer"
### Environment

    neo4j-enterprise-3.4.1-windows.zip & neo4j-enterprise-3.4.4-windows.zip
    neo4j.conf
        dbms.memory.heap.initial_size=5g
        dbms.memory.heap.max_size=5g
        dbms.memory.pagecache.size=7g
        # dbms.directories.import=import
    PC:  Surface Pro 4
    OS:  Microsoft Windows 10 Professional 64bit 10.0.15063
    CPU: Intel(R) Core(TM) i7-6650U CPU @ 2.20GHz 22

[2018-07-19 17:10] stefanneuhaus opened #11987 "Extract annotation processor classes to separate module/library"
## Request

Classes in the package "org.neo4j.kernel.impl.annotations" from the module "neo4j-kernel" define annotations and corresponding annotation processors. The request is to extract these classes from "neo4j-kernel" and provide them via separate modules for both the annotations and the annotation processors.

## Motivation
With the current dependency/library structure of neo4j there does not

[2018-07-19 18:42] colingoldberg opened #11988 "Neo4j Desktop update process misbehaving"
Hi,

Restarting my mac caused Neo4j Desktop (current version 1.1.7) to show a message indicating that version 1.1.8 was available. However, the message contained no buttons or links or any way to indicate that I wanted to update the version on my mac. And when I went to neo4j.com and clicked Download, it showed it would download 1.1.7.

![image](https://user-images.githubusercontent.com/2991417/42

[2018-07-19 19:07] InverseFalcon commented on #11988
Hi there,

This is a small visual bug, you should be able to zoom out (using the View menu) in combination with resizing the screen until the buttons are visible at the bottom of the dialog.

[2018-07-19 19:20] colingoldberg commented on #11988
Thanks - that worked. Needless to say, your solution is not intuitively obvious.

[2018-07-19 19:20] #11988 closed, assigned to nobody

[2018-07-20 00:38] j6k4m8 opened #11989 "[feat] Allow headers in all neo4j-admin import CSV files"
## Add a command-line flag to optionally ignore headers passed in subsequent CSV-import files.

As per discussion [in Slack](https://neo4j-users.slack.com/archives/C08J7ELUC/p1532041270000195), it would be very helpful to allow CSV headers in every `neo4j-admin import` file. For example, in the (truncated) command:

[code]

If I have only one file named `mynodes-0.csv`, then all works as planned.

[2018-07-20 02:41] zhizh commented on #11974
This warning still exists in 3.4.4.

[2018-07-21 03:52] sshzhang opened #11990 "some problems"
Problem description: after run some times,The error has occurred.

Caused by: org.neo4j.kernel.api.exceptions.TransactionFailureException: Database has encountered some problem, please perform necessary action (tx recovery/restart)
        at sun.reflect.GeneratedConstructorAccessor43.newInstance(Unknown Source)
        at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstru

[2018-07-21 08:33] AlaaAlHallaq opened #11991 "Distinct Result issue Neo4j 3.3.5 MacOS, on Neo4j Browser"
for the Nodes created using the following 2 queries:

`create (n:Person {name:'Tamer'})-[r:FriendsWith {since : 2004}]->(o:Person {name:'Samer'}) return n,r,o`

`create (n:Person {name:'Kamal'})-[r:FriendsWith {since : 2004}]->(o:Person {name:'Jamal'}) return n,r,o`

for the following 2 match queries:
`match ()-[r]-() return distinct(r).since`
`Result: `
            ` *                2004`
`match

[2018-07-21 09:50] #11991 closed, assigned to nobody

[2018-07-21 09:53] AlaaAlHallaq commented on #11991
sorry for the trouble -> With further reading and testing => distinct does not follow a function call syntax, but a unary operator syntax so the precedence is for the '.' member access.
so the `distinct(r).since` is equivalent to `DISTINCT (r.since)`

[2018-07-21 10:21] jexp commented on #11990
Without having much more details, no one can help you.

Please share your debug.log, neo4j.conf
What kind of operations have you been running?

You are also running a very old version, it would be good if you could upgrade to the most recent 3.4.4

[2018-07-21 10:32] sshzhang commented on #11990
Ok, Thank you

[2018-07-21 11:04] sshzhang commented on #11990
Here is the detail information

**###  dubug.log file content**
     2018-07-21 09:42:05.944+0000 ERROR [o.n.b.v.r.ErrorReporter] Client triggered an unexpected error [TransactionStartFailed]: Database has encountered some problem, please perform necessary action (tx recovery/restart), reference ae963963-b933-45c9-8625-98ad22ed6cc8. Database has encountered some problem, please perform necessary a

[2018-07-21 12:14] sshzhang commented on #11990
Here is the detail information

### dubug.log file content
2018-07-21 09:42:05.944+0000 ERROR [o.n.b.v.r.ErrorReporter] Client triggered an unexpected error [TransactionStartFailed]: Database has encountered some problem, please perform necessary action (tx recovery/restart), reference ae963963-b933-45c9-8625-98ad22ed6cc8. Database has encountered some problem, please perform necessary action (tx

[2018-07-21 23:38] arikan opened #11992 "Backup Error"
We've been having a backup error, details below. This process used to work, nothing changed regarding neo4j settings. We'd appretiate your help.

- Neo4j version: 3.3.1 (Enterprise)
- Operating system: Ubuntu 16.04
- API: Cypher

### Steps to reproduce
[code]

Also [setting HEAP_SIZE or pagecache ](https://neo4j.com/docs/operations-manual/3.4/backup/perform-backup/)throws the same error.
[code]

#

[2018-07-22 07:51] chrisvest commented on #11992
Is there a related stack trace in `debug.log`?

[2018-07-23 10:07] technige commented on #11973
Hi @Antti-Kaikkonen

We have discussed this feature internally and have decided not to go ahead with an implementation. While it may seem like a straightforward request, there are complexities and inconsistencies that it would introduce.

We do not want to bind the database state to the communication channel for HTTP. While this does make sense for a stateful protocol, such as Bolt, it does not ma

[2018-07-23 10:51] #11973 closed, assigned to nobody

[2018-07-23 13:38] sarmbruster commented on #10739
That is fixed in `cypher-shell` via commit https://github.com/neo4j/cypher-shell/commit/ca48b68f96df5efff02d3b552dd3de7808961646.
Either build cypher-shell locally from there or await next cypher-shell release.

[2018-07-23 13:38] #10739 closed, assigned to nobody

[2018-07-23 13:47] cmorgner opened #11993 "Neo4j 3.4.4: native string indexing fails for strings with length < 4096"
Neo4j version: 3.4.4
Operating system: (Kubuntu 18.04)
API/Driver: (Bolt Java Driver v1.6.1)

## Description
When creating a node with a large string property, the transaction fails even for strings with fewer characters than the documented limit. The transaction error message says `4096` characters while the documentation at https://neo4j.com/docs/operations-manual/current/performance/index-confi

[2018-07-23 13:57] cmorgner commented on #11993
Even worse: the error seems to be unrecoverable:

[code]

[2018-07-23 14:54] cmorgner commented on #11993
Additional info: the erroneous index entry seems to cause more problems later when accessing the node:

[code]

[2018-07-23 15:12] MishaDemianenko commented on #11993
@cmorgner thx for reporting.
@burqen can you please take a look?

[2018-07-23 15:35] cmorgner commented on #11993
Correction: the CursorException is caused by a value that did *not* cause the transaction to fail, e.g. 4074 or below.

[2018-07-24 05:29] folowpig opened #11994 "Feature Request: Cannot delete property with DETACH DELETE"
Using "DETACH DELETE" command, I was able to delete all node labels and relationships, but the properties were not deleted.
I wish that the DETACH DELETE command delete all data including the properties.

![image](https://user-images.githubusercontent.com/10948585/43118697-ed82c8dc-8f4d-11e8-88fa-490c17a93f55.png)
![image](https://user-images.githubusercontent.com/10948585/43118679-dfd375d8-8f4d-1

[2018-07-24 08:16] chrisvest commented on #11994
Properties are also deleted by `DETACH DELETE`. We just don't report how many were there, because then we'd have to go through the effort to count them.

[2018-07-24 08:16] #11994 closed, assigned to nobody

[2018-07-24 08:31] folowpig commented on #11994
Yes, you are right chris. The value of properties are deleted, but the property keys are still visible on the database information tab. Do you know how to delete those property keys?

[2018-07-24 09:13] prabin525 opened #11995 "Field with -- not read (example: Age--years)"
I had a field name Age--years in a product Node and i ran a query

`MATCH (a:Product)
RETURN max(a.Age--years)` but the query didn't run and threw an error

`
Neo.ClientError.Statement.SyntaxError: Variable `years` not defined (line 2, column 19 (offset: 36))
"RETURN max(a.Age--years)"
`

- Neo4j version: 3.4.3
- Operating system: Arch Linux
- API/Driver: Cypher and Python driver

[2018-07-24 09:18] burqen commented on #11993
@cmorgner I can confirm your observations. Thank you again for reporting. This will be addressed immediately.

[2018-07-24 09:27] chrisvest commented on #11995
You can quote the name with backticks, like this:

[code]

[2018-07-24 09:37] #11995 closed, assigned to nobody

[2018-07-25 15:10] mdfrenchman opened #11996 "date duration comparison doesn't factor in length of underlying months"
- **Neo4j version:** 3.4.0
- **Operating system:** WIndows 10
- **API/Driver:** browser
- **Steps to reproduce / Actual Behavior / Description**
Date and duration math isn't accurate. It appears to be each tied to each component of the date. Leading to potentially misleading results.

Below Cypher gives a good example
[code]
**╒═══════════╤═══════════╕
│"duration1"          │"duration2"

[2018-07-25 19:53] davidlrosenblum commented on #10067
I ran into this when I had to install Neo4j on an VM where LSB things were installed for other packages  that needed to run.   Since I was on a Red Hat related distro, I did not want to use the LSB scripts, so I just fooled the script into thinking that LSB is not installed by changing line 59 from
test -f "/lib/lsb/init-functions"
to
test -f "/lib/lsb/init-functionsx"
so it wouldn't find the LSB

[2018-07-26 08:48] Meatballs1 opened #11997 "Bolt connection [/127.0.0.1:51026] will be closed because the client did not consume outgoing buffers for 00:15:00.000 which is not expected."
Server version 3.4.1
Client Bolt Driver .NET 1.6.1

I was running a job that does post processing on my database.

Memory settings (128Gb machine)

[code]

I got the following error after my program ran for about 30 minutes:

Server debug log:
[code]

Client exception:

[code]

When trying to reconnect to bolt I got the following errors and I needed to restart neo4j to connect:

[code]

Don't have

[2018-07-26 10:45] Meatballs1 commented on #11997
If I roll back to 1.5.1 bolt driver I get:

[code]

but no error in neo4j debug.log

[2018-07-26 11:13] Meatballs1 commented on #11997
I tried a slightly simpler query and received the following after a short while:

[code]

[2018-07-26 13:35] SaschaPeukert commented on #11996
Hey @mdfrenchman ,

As funny as it sounds, this is actually correct behavior. Why is that? Using `duration.between` basically splits your value into logical chunks (months, days, hours,...). Applied to 45 days it would basically result in `1Month 15days` for example. But from this point onward, it assumes that every month in your duration values ("P1M8DT0S" and "P1M9DT0S" ) is 30 days. This means

[2018-07-26 13:35] #11996 closed, assigned to nobody

[2018-07-26 13:45] SaschaPeukert commented on #11985
This page explains exactly that: https://neo4j.com/docs/developer-manual/current/cypher/syntax/temporal/#cypher-temporal-introduction

Was that helpful for you?

[2018-07-26 14:01] SaschaPeukert commented on #11983
Hey @cuigm85 ,

The behavor you are seeing is actually correct. Your second query does not return anything because there are two things at play here:

- `MATCH` will only push results to the next operator if the whole pattern is found. This means that path1 and path2 both need to match something
- You cannot expand the same relationship twice in one `MATCH` clause. If you match on `(a:A)--(b)` for

[2018-07-26 14:01] #11983 closed, assigned to nobody

[2018-07-26 14:07] SaschaPeukert commented on #11980
Thanks for your feedback, I will make sure it reaches the right people

[2018-07-26 14:26] SaschaPeukert commented on #11979
I agree with you, that errors would be nice to have here. But at this point, it is a known limitation of our error handling system which won't be changed soon.

[2018-07-26 14:26] #11979 closed, assigned to nobody

[2018-07-26 14:27] mdfrenchman commented on #11996
Awesome! Thanks Sascha!

I didn’t see the duration.indays in the manual or on cypher ref. I see it in the procs though.  Exactly what I needed.

Thanks again!

From: Sascha Peukert [mailto:notifications@github.com]
Sent: Thursday, July 26, 2018 9:36 AM
To: neo4j/neo4j <neo4j@noreply.github.com>
Cc: French, Mike <Michael.French@calibresys.com>; Mention <mention@noreply.github.com>
Subject: Re: [neo

[2018-07-26 14:31] SaschaPeukert commented on #11977
Thanks for pointing that out. You are right, this sounds better! I'll make sure it gets updated

[2018-07-26 14:43] SaschaPeukert commented on #11976
Thanks for pointing this out. Currently, we allow those maps to have any number of keys, which might be useful in certain situations. But you are right - we need to find a solution for conflicting keys.
For your example, `cartesian` will always win at this moment.

[2018-07-26 14:56] Meatballs1 commented on #11997
3.4.4 & 1.6.1 seems to work fine though \o/

[2018-07-26 15:04] SaschaPeukert commented on #11996
Happy to help!

More information about temporal functions and the different ways of computing the duration between two temporal instants can be found in our developer manual:
https://neo4j.com/docs/developer-manual/current/cypher/functions/temporal/#functions-duration-computing

[2018-07-26 18:10] cleishm commented on #11979
Hi @SaschaPeukert! Thanks for taking a look at this!

I'm not sure it's a "limitation" however. This situation is handled explicitly in the function code, where it returns `NO_VALUE` rather than throwing an error: https://github.com/neo4j/neo4j/blob/3.5/community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherFunctions.java#L352-L355

Changing that line to throw an `InvalidArg

[2018-07-26 18:28] cleishm commented on #11985
Hi @SaschaPeukert! Yes, that page is great. The documentation I was reading wasn't as clear to me: https://neo4j.com/docs/developer-manual/current/cypher/functions/temporal/

Perhaps there shouldn't be two different pages for this?

[2018-07-26 18:29] cleishm commented on #11985
Although the page you mentioned is referenced from the one I read, so I guess shame on me for not reading that too :)

[2018-07-26 18:29] #11985 closed, assigned to SaschaPeukert

[2018-07-27 04:08] geronimus commented on #11429
I experienced this issue. The log was as follows:
[code]
There was a curly brace character in my password. Removing it cleared the error.

I think someone should look into this as it indicates there might be a vulnerability to statement injection attacks somewhere deep in the app.

[2018-07-27 05:57] cuigm85 commented on #11983
- You said "You cannot expand the same relationship twice in one MATCH clause", but I can not find this from developer manual. It just says that ["While pattern matching, Neo4j makes sure to not include matches where the same graph relationship is found multiple times in a single pattern."](https://neo4j.com/docs/developer-manual/current/cypher/introduction/uniqueness/)

- Even if you are right, t

[2018-07-27 08:17] SaschaPeukert commented on #11983
Maybe I did not choose the right words, but yes that is exactly the reason here:

For `MATCH` both parts together are considered "the pattern" and like I said, both parts need to return something to have it count as "the whole pattern returned something"

[2018-07-27 08:27] SaschaPeukert commented on #11979
It not quite as simple as that sadly. If we were to throw an error at this point, imagine the consequence on people running large complex queries on datasets that don't have a rigid schema. In this scenario, we'd throw and abort the whole query for one value that doesn't fit the others. Not a nice thing to do, right? The current solution works a bit better than that but can and will be improved in

[2018-07-27 08:37] SaschaPeukert commented on #11964
@EtienneMdG Thanks for this report. I could reproduce it with 3.3.6 and even 3.4.4. We will make sure that it will be fixed and let you know about it

[2018-07-27 08:43] SaschaPeukert commented on #11986
@zhizh Thanks for reporting this. We will have a look at it

[2018-07-27 11:44] cleishm commented on #11979
@SaschaPeukert While I have some sympathy for that argument, it is inconsistent with all other cypher functions.

E.g.:
[code]

Indeed, a quick review of https://github.com/neo4j/neo4j/blob/3.5/community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherFunctions.java shows this is the _only_ function that, rather than an error, returns `NO_VALUE` for incompatible arguments.

[2018-07-27 13:16] ali-ince commented on #11997
Hi @Meatballs1,

The error message `Bolt connection [/127.0.0.1:51026] will be closed because the client did not consume outgoing buffers for 00:15:00.000 which is not expected.
org.neo4j.bolt.v1.runtime.BoltConnectionFatality: Bolt connection [/127.0.0.1:51026] will be closed because the client did not consume outgoing buffers for 00:15:00.000 which is not expected.` states that the server stoppe

[2018-07-27 13:59] craigtaverner commented on #11979
The reason for this choice in behaviour is not arbitrary, but strongly tied to indexing. We want Cypher to behave the same with and without an index. The index will not contain entries for null properties, as null implies the property does not exist. This also means that `exists(n.prop)` can be solved by index scans. At the same time, we now have type specific indexes (Numerical indexes introduced

[2018-07-27 14:54] cleishm commented on #11979
Yup, you're right @craigtaverner. If that hierarchy isn't added, then you can't do transformations. For example, you can't assume that WGS84 can be converted to WGS84-3D by assuming a height of zero, as I suggested might be possible. So until then, I guess you'd just make it an error whenever they are mixed, as proposed.

(Note that the patch above doesn't try to do any transformation - it just re

[2018-07-27 20:10] InverseFalcon commented on #11956
3.4.5 is out, I believe that should have the fix.

If some can confirm here, we should be able to close this one.

[2018-07-29 02:43] waxmittmann commented on #8832
@boggle "Relying on the Scala version shipped with the db is somewhat of an antipattern" Is it though? All my other dependencies share my current version of scala. I've never successfully used a library that's built with a binary-incompatible scala version.
By the comments on this issue so far, I'm not sure anyone else has had much luck either. In scouring the web and stackoverflow the only advice

[2018-07-29 07:15] shahbhavind opened #11998 "Installation Problem"
Getting Following error at the time of installing neo4j

C:\Program Files\neo4j-community-3.4.5>bin\neo4j install-service
You must provide a value expression on the right-hand side of the '-' operator.
At C:\Program Files\neo4j-community-3.4.5\bin\Neo4j-Management\Get-Neo4jPrunsrv
.ps1:107 char:12
+       {$_ - <<<< in @("ServerInstallInvoke", "ServerUpdateInvoke")} {
    + CategoryInfo          :

[2018-07-29 19:04] klobuczek commented on #8832
Just to add to @waxmittmann said. The problem is not only with building a Scala 2.12 project using embedded neo4j but also with adding Scala 2.12 built jar files with neo4j server extensions or procedures to standalone server.

[2018-07-30 09:01] craigtaverner commented on #11979
@cleishm  Foolishly I deleted my first paragraph which deals with answering your original request, since it was off topic from the rest of my answer. But basically it described the fact that Cypher is, in most, but not all, places returning null instead of an error from situations like this. This is a deliberate direction taken years ago, but unfortunately not 100% consistently implemented in all

[2018-07-30 10:20] craigtaverner commented on #11986
In order to reproduce this we would need a sample data file. We also wonder if it is necessary to load this data in three LOAD CSV commands, instead of just one?

One other thing to try would be to test with smaller CSV files and see how the performance difference is for cases where the third command actually completes, so we can verify that this is a performance issue, not some other bug.

[2018-07-30 10:26] craigtaverner commented on #11938
The query is parameterized using `{UUID}` which will cause it to search different parts of the graph for different parameters. It is entirely possible that these have very different performance characteristics. You should run `PROFILE` for the query for paramters that perform well, as well as for parameters that perform badly, and see what the difference is. In cases like this is it likely that fo

[2018-07-30 11:37] zhizh commented on #11986
Sample data file is at
`
https://snap.stanford.edu/data/twitter-2010.txt.gz
`

Sure, it is not necessary to divide into three statements. But I tried to import this file using a single statement, and it ended in failure. It would be very appreciated if you could efficiently deliver it with a statement.

In addition, I have not stopped exploring the problem. I'm trying to complete this import with

[2018-07-30 14:23] cleishm commented on #11979
@craigtaverner What are other examples? I'm looking at the code, and trying examples, and it seems this is the only function returning null for incompatible arguments. Certainly not "most"!

Which would make sense. I recall the discussion years ago about null, and recall that the decision was to return null _when null is supplied as an input_. I.e. null in, null out.

I do agree that blowing up th

[2018-07-31 00:59] rickardoberg opened #11999 "MuninnPageCursor.assertPagedFileStillMappedAndGetIdOfLastPage throws NullPointerException and db goes into bugged state"
- Neo4j version: 3.4.3 and 3.4.5
- Operating system: Ubuntu 16.04
- API/Driver: Cypher with embedded API

We randomly get a NPE in MuninnPageCursor.assertPagedFileStillMappedAndGetIdOfLastPage, can't see any pattern in which specific query triggers it. Once this happens other queries start failing randomly, i.e. it looks like the database doesn't recover from this. A restart fixes it, but the issu

[2018-07-31 04:36] chrisvest commented on #11999
Are you doing funny things with threading, like getting a Cypher Result in one thread and consuming or closing it in another? We are suspecting the cursor caching. Nulling out that field is actually a safe guard against using closed cursors.

[2018-07-31 05:02] rickardoberg commented on #11999
Hi Chris!

Yes, I am doing exactly that. I have a wrapper on top of
GraphDatabaseService that runs queries in a thread pool and makes result a
CompletableFuture, so that we can easily do parallel queries, or do queries
that requires reading new state. Example: first query that returns lots of
rows, issue writes in a separate thread (we have single writer thread),
then be able to read those changes

[2018-07-31 05:08] rickardoberg commented on #11999
I'm going to check straight away if we can refactor away the cases where we need threading, and make same-thread usage the default instead.

[2018-07-31 05:23] chrisvest commented on #11999
The probabilities changed in 3.4 but the problem is also there in 3.3 and older. The REST server runs into it on occasion, though it’s quite rare. It’s being worked on.

[2018-07-31 05:25] rickardoberg commented on #11999
Ok, thanks. Then for now I will focus on changing our wrapper to be same-thread, and handle the cases where we need threading explicitly in client code, so that it has same-thread handling when it comes to Neo4j. Thanks!

[2018-07-31 08:25] craigtaverner commented on #11979
@cleishm The other situations are inequalities. For example, the query: `MATCH (n:User) WHERE n.id > 1000 RETURN n`. The predicate is actually three predicates on User nodes:

* User must have an `id` property (users without `id` property are ignored, with no error, the same behaviour as if n.id is null)
* The `id` property must be a Number (users with `id` properties that are strings are ignored,

[2018-07-31 08:45] NivTikolski commented on #11956
@InverseFalcon
checked, works!
thanks :)

[2018-07-31 10:24] jennyowen commented on #10067
Thanks for reporting this issue. There will be a fix in the next patch release.

[2018-07-31 10:24] #10067 closed, assigned to jennyowen

[2018-07-31 11:05] #10738 closed, assigned to nobody

[2018-07-31 11:05] #11888 closed, assigned to nobody

[2018-07-31 12:28] cleishm commented on #11979
Hey @craigtaverner,

In the case of:

You're right:

[code]

I'd disagree with null being returned in this case also. Especially given:

[code]

It seems numeric comparison and the distance function are two examples inconsistent with other functions, that should be changed to return an error (either immediate or an error object). Any others?

[2018-07-31 12:28] cleishm commented on #11979
Hey @craigtaverner,

In the case of:

You're right:

[code]

I'd disagree with null being returned in this case also. Especially given:

[code]

It seems numeric comparison and the distance function are two examples inconsistent with other functions, that should be changed to return an error (either immediate or an error object). Any others?

[2018-07-31 12:42] CelineLeduc commented on #11938
Hi there,

The thing is that running the query with the SAME `{UUID}` parameter results in very different execution times.
With the dataset and the query I provided via mail you can use 'e6e6499d-85f0-4485-915a-0969660864b8'. On my local machine, here are the results:
 - First execution: `Started streaming 3 records after 7527 ms and completed after 7533 ms.
`
 - Second execution: `Started streami