[2018-07-31 19:18] mdfrenchman opened #12000 "Possible regression bug: null property as variable going from 3.3 to 3.4"
Tested this out on both 3.3 and 3.4 and was able to reproduce trimming it down to the below error.

- **Neo4j version:** 3.4.0
- **Operating system:** WIndows 10
- **API/Driver:** C# driver, and Cypher via browser
- **Steps to reproduce**
Setup Cypher:
    `MERGE (:Unit)-[:RELATED]->(:Detail {StartDate: 20171001, EndDate: 20180101})`
Error Occurs here:
[code]
- **Expected behavior**
On version 3.3

[2018-08-01 09:06] petraselmer commented on #11977
Hi @cleishm there is now a PR for this at [https://github.com/neo4j/neo4j-documentation/pull/238](https://github.com/neo4j/neo4j-documentation/pull/238)

Thanks for drawing our attention to this.

[2018-08-01 09:06] #11977 closed, assigned to SaschaPeukert

[2018-08-01 11:25] ardan7779 commented on #7086
I have use the @spacecowboy tricks, but still have an error while starting neo4j on ubuntu (remote server)

systemctl restart neo4j
==== AUTHENTICATING FOR org.freedesktop.systemd1.manage-units ===
Authentication is required to restart 'neo4j.service'.
Multiple identities can be used for authentication:
 1.  Ubuntu (ubuntu)
 2.  neo4j
Choose identity to authenticate as (1-2): 2
Password:
==== AUTH

[2018-08-02 03:04] zhizh commented on #11986
The import was finally completed, and the following statement was used, which took 207060 seconds.

CREATE CONSTRAINT ON (person:Person) ASSERT person.id IS UNIQUE;

CALL apoc.periodic.iterate(
'CALL apoc.load.csv("file:///C:/poc/import/twitter-2010.txt.gz", {header:false, sep:" "}) yield list',
'WITH toInt(list[0]) as id0, toInt(list[1]) as id1 WHERE id0 IS NOT NULL and id1 IS NOT NULL'+
'  MERGE

[2018-08-02 10:48] yasirkk opened #12001 "Neo.DatabaseError.General.UnknownFailure"
I am trying retrieve the node using the query `MATCH (node:User) WHERE id(user) IN [1,2,3,4,....4000,4001,....n] RETURN n.user_data ` and encounter an error Neo.DatabaseError.General.UnknownFailure and i tried the same query `MATCH (node:User) WHERE id(user) IN {ids} RETURN id(n)` and id passed as parameter and now get the error invalid syntax. In my db there is more than 10000 users and it still

[2018-08-02 11:05] craigtaverner commented on #11977
We started making the suggested changes and realised they actually do not work. These suggetions make sense if the _considerations_ section was for a general section on the `point` function, which it is not. There are four sections, one for each of the CRS. The thinking is that each user would want to know how to make a point for their CRS of interest. The _consideration_ sections are all differen

[2018-08-02 11:32] sageantony commented on #11649
I got this error today. In my case, the JVM is auto-upgraded to v10, whereas,  the neo4j server require JVM v8. Once I pointed the JVM back to v8, the issue is solved.

[2018-08-02 14:05] nicolas-voigt opened #12002 "Neo4j 3.4.4 cold start: Failed to process a bolt message"
Hi, after an install and a cold start, the following error messages pop up on the console.
- Neo4j version: 3.4.4, same behavior on 3.4.4 community and 3.4.5 community
- Operating system: Ubuntu 18.04 LTS
- API/Driver: Web interface
- **Steps to reproduce**
Extract the neo4j tarball
Execute bin/neo4j console
Open http://localhost:7474 on a browser
- Expected behavior
As the browser just opened for

[2018-08-02 15:29] cmorgner opened #12003 "ConcurrentModificationException when setting properties while creating indexes"
A set property call via the Bolt Java driver sometimes fails, causing the transaction to be rolled back when indexes are created in a separate thread. The debug.log then shows a `ConcurrentModificationException`. See stack trace below.

**Neo4j Version:** 3.4.4
**Operating System:** Kubuntu 18.04
**API:** Bolt Java driver

### Steps to reproduce
I was not able to create an isolated test that provo

[2018-08-02 18:19] chrisvest commented on #12003
Yeah, that's definitely a bug. Thanks for reporting.

[2018-08-02 20:00] MishaDemianenko commented on #11649
@sageantony may I ask You to provide logs to see what exactly went wrong? Thx in advance!

[2018-08-03 02:46] go-spider commented on #7225
looking forward,it's really slow to query relationship.

[2018-08-03 07:04] sageantony commented on #11649
@MishaDemianenko Hi!  The logs were same as above. I knew that my neo4j.service file is right. And, I tried doing the below:

systemctl daemon-reload
systemctl stop neo4j
systemctl disable neo4j
systemctl enable neo4j
systemctl start neo4j

But still, the problem persisted. Then I checked my neo4j.conf file to find if any issues there. Everything seemed to be OK. Later, I realized that after the r

[2018-08-03 20:44] ikwattro opened #12004 "[Cypher] ORDER BY + LIMIT can throw an OOM with an empty database"
**Neo4j Version:** 3.4
**Operating System:** OSX
**API:** Any

ORDER BY + LIMIT will set the size of the PriorityQueue to the given LIMIT, even with the db is empty.
If the LIMIT is high, for eg INT_MAX, this will throw an OOM.

### Steps to reproduce

[code]

Or same query in browser :

![screen shot 2018-08-03 at 22 32 30](https://user-images.githubusercontent.com/1222009/43664912-d6074a38-976e-

[2018-08-06 13:51] Meatballs1 commented on #11997
@ali-ince Could it be that the neo4j server is taking 15 mins or longer to complete the query? I thought I'd seen some queries take longer than this (fairly complex query).

Anyway the actual client doesn't really care about the response - the query is used to compute a number of new edges and finishes with:

[code]

and is just run with:

[code]

I'm not bothered about the return value but would

[2018-08-06 14:09] Meatballs1 commented on #11997
[code]
?

[2018-08-06 14:47] Meatballs1 commented on #11997
Definitely can run a 15+ min query without calling Consume() on the result without it failing. However same query/different parameters sometime later gets this error

[2018-08-07 07:28] DrYort opened #12005 "Cannot view righthand edge of neo4j browser input/output windows on Mac OS X desktop version"
Bug report - neo4j Desktop running on Mac OS X

When I open the Neo4j browser I cannot see the right-hand side of the code input and output display windows, regardless of whether I resize the window by dragging the edge. Therefore I cannot close an output window, or click with a mouse/cursor on the execute code triangle button in the top right, as this part of the window is not visible.

Neo4j Des

[2018-08-07 08:36] Meatballs1 commented on #11997
Calling consume didn't appear to make any difference. I think it is probably something getting stuck server side tbh

[2018-08-07 09:11] Meatballs1 commented on #11997
The code in https://github.com/neo4j/neo4j/blob/97a961df92eae192fc1579d4995b81d69168b26a/community/bolt/src/main/java/org/neo4j/bolt/transport/TransportWriteThrottle.java#L77 is waiting for channel.isWritable(), which is going to depend on if we have fallen back past the low watermark (after hitting the high watermark).

It seems like we aren't removing stuff from the queue - but at this point my

[2018-08-07 15:46] mikernorton opened #12006 "Causal cluster has extra handshakes when node is restarted with new IP"
- Neo4j version: neo4j-enterprise 3.4.1
- Operating system: CentOS 7.5
- API/Driver: None
- Steps to reproduce:
I'm testing helm upgrade with no actual changes to the Neo4j software, using a causal cluster with 3 cores. This restarts the containers one by one. When restarted, each node gets a new IP address, but retains the same old cluster ID from persistent storage.
- Expected behavior
The conta

[2018-08-07 20:54] jorroll opened #12007 "FYI: Neo4jrb project maintainer transition"
Leaving this here because I don't know of a better way to ping Neo4j Inc but, FYI, I thought you may be interested to know that`@cheerfulstoic`, the maintainer of the great [neo4jrb gem](https://github.com/neo4jrb/neo4j), is retiring from the project after 4.5 years.

In the time I've been watching the repo, `@cheerfulstoic` has proven himself to be tirelessly friendly and welcoming, and gone ***w

[2018-08-08 08:39] chrisvest commented on #12003
A fix for this will be included in the next 3.4 release. Closing.

[2018-08-08 08:39] #12003 closed, assigned to nobody

[2018-08-08 09:09] LGraebner commented on #11998
Same problem happened to me. I dont know anything about powershell, but the error occured to me, because the in operator is supported only in version 3+ of powershell, and the windows server installation only has version 2. I actually just modified the powershell script (Get-Neo4jPrunsrv.ps1), the in operator in line 107 should be the same as the in the operator in sql, and the code in the body fo

[2018-08-08 10:27] shahbhavind commented on #11998
Thanks LGX9. Can you share the modified file please.

[2018-08-08 10:35] soetang opened #12008 "Would like date(null) to return null and not today?"
It seems that currently:
`Return date(null)`
returns today

I dont know if this is intentional, however i dont like it. Why should null = today ? I would prefer that it returns null. For people unaware of this, this might have problematic consequences.

The refcard: https://neo4j.com/docs/cypher-refcard/current/ currently states that:
"Arithmetic expressions, comparisons and function calls (except

[2018-08-08 13:23] Meatballs1 commented on #11997
I figured I would just catch the exception and retry, which made me realise that it wasn't where I thought it was!

* I have a query which returns a few hundred items from the DB
* I iterate over each of the item and perform a long running query on each item - sometimes this can be 30+ minutes to process each query.
* The outer query doesn't time out on first query that takes longer than 15 minute

[2018-08-08 14:09] ali-ince commented on #11997
Hi @Meatballs1,

Your detailed use case and what you have been experiencing makes sense.

It would be better if you get the first result into a list and iterate on this list rather than the `IStatementResult`. This way you will not run into this issue (because server will complete the query and will not try to send data to the client - which is busy executing queries in loop).

If your first query

[2018-08-08 14:30] Meatballs1 commented on #11997
@ali-ince Cool thanks,  I've gone for the List approach already and everything seems to be working. I'll keep in mind the blocking approach :D

I'm a bit confused why a long running query of 30+ mins doesn't cause the 15 minute timeout initially, but it maybe because we haven't yet triggered the highwatermark condition?

[2018-08-08 14:46] ali-ince commented on #11997
@Meatballs1 The server probably sends more than one record in each round-trip, so you already have some items buffered in the statement result and for the error to be propagated you need to get to a position where client asks for more data (after buffered ones are processed in this case).

[2018-08-08 14:53] Meatballs1 commented on #11997
Great, will close it then :)

[2018-08-08 14:53] #11997 closed, assigned to nobody

[2018-08-09 09:07] craigtaverner commented on #7257
For reference, Neo4j 3.4 includes an expansion to the Core API to support finding nodes on multiple properties in a way that supports composite indexes. See the java docs at https://neo4j.com/docs/java-reference/current/javadocs/org/neo4j/graphdb/GraphDatabaseService.html#findNodes-org.neo4j.graphdb.Label-java.util.Map-

[2018-08-09 16:40] abildgaard opened #12010 "New installation / launch of Neo4j browser interface results in 'bolt session' error"
- Neo4j version: 3.4.5 (community edition)
- Operating system: MacOS 10.13.4
- API/Driver: N/A

 **Steps to reproduce**

* install latest version of Ne04j 3.4.5

* change the following values in the neo4j.conf file:
     - dbms.connectors.default_listen_address=10.1.10.201
     - dbms.connector.bolt.listen_address=:6470
     - dbms.connector.http.listen_address=:7470
     - dbms.connector.https.li

[2018-08-09 16:44] abildgaard commented on #12010
Once I have successfully logged in using default password and changed the password then I don't see the errors again (so far)

[2018-08-10 02:45] lchrennew opened #12011 "Insert a node into a linked list causes heap overflow"
- **Steps to reproduce**
I want to insert a element into a linked list
[code]
- Expected behavior
If `c` EXISTS, then delete the relationship `(b)-[]-(c)` and create path `(b)-[]->(a)-[]->(c)`
If `c` NOT EXISTS, then just create the relationship `(b)-[]-(a)`

- Actual behavior
If `c` EXISTS, then it works. BUT if `c` NOT EXISTS, infinitely execution until heap overflow!

**Neo4j Version:** 3.4.4 E

[2018-08-10 09:22] LGraebner commented on #11998
That is what the file Get-Neo4jPrunsrv.ps1 of neo4j **3.4.4** looks like after doing the aforementioned changes

[code]

[2018-08-10 11:44] craigtaverner commented on #9055
We have fixed this in 3.2 and above with a new `eager` attribute for procedures. If the procedure author knows that the procedure is making changes to the database that could influence the behaviour of the incoming data stream, then they should annotate the procedure with `@Procedure( mode = WRITE, eager = true )` and the Cypher planner will plan an eager operation before calling the procedure. It

[2018-08-10 11:44] #9055 closed, assigned to sherfert

[2018-08-11 11:25] shahbhavind commented on #11998
Done.
Thank you very much for the kind help.
Regards

On Fri, Aug 10, 2018 at 2:53 PM, Laurent Gräbner <notifications@github.com>
wrote:

--
*BHAVIN SHAH*

[2018-08-11 13:29] #11998 closed, assigned to nobody

[2018-08-12 17:45] NtHawk101 opened #12012 "Can't connect Neo4j Database"
My first time here and attempting to get an instance of LogonTracer to run. Any suggestions would be much appreciated as I try to learn how to work in Debian.

- Neo4j version: 3.4.5
- Operating system: Debian 9.5
- API/Driver: Python 3.5.3
- **Steps to reproduce**
-Installed per direction here and get [IP address}:7474 to open correctly
-Then run Python3 logontracer.py -r -o -n xxx -p xxx -s [IP

[2018-08-13 08:01] soetang opened #12013 "Possible bug duration.inDays"
Possible bug:

On the slack channel i was asked to post this here:

- Neo4j version: 3.4.5
- Operating system: Ubuntu 16.04
- API/Driver: Python driver

Have a long query:

`match (r1:Regnskab{UUID:$UUID})<-[hr1:har_regnskab]-(v:Virksomhed) with v, xyz,... optional match (v)-[r:har_direktoer]->(p:Person) with avg(duration.inDays(r.fra, r.til).days) as avg_days_dir, xyz .. return avg_days_dir, xyz`

[2018-08-13 09:41] SaschaPeukert commented on #11938
Hi,

I run the query with the uuid @CelineLeduc provided and got similar execution times but the important part is, that those times were quite stable after the first execution.
Afterward, I tried to run `apoc.warmup.run` after starting the DB for the first time and then running the query. This got the execution times to
`Started streaming 3 records after 89 ms and completed after 95 ms.` for the

[2018-08-13 10:55] #11956 closed, assigned to SaschaPeukert

[2018-08-13 11:25] SaschaPeukert commented on #12013
@soetang Thanks for reporting this. We will take a look at it

[2018-08-13 12:11] SaschaPeukert commented on #12011
@lchrennew Thank you for reporting this. We will take a look at it!

[2018-08-13 12:19] SaschaPeukert commented on #12000
@mdfrenchman Thanks for reporting. I just tried it in `Neo4j 3.4.5` and it seems to be working there. Could you update to that and test your query with that version again?

[2018-08-13 12:27] SaschaPeukert commented on #12001
Hi @yasirkk

You are running on a quite old version of Neo4j that is not supported anymore. Could you update to any of the currently supported versions (I would recommend 3.4.5) and test if that fixes your problem? https://neo4j.com/download-center/#releases

[2018-08-13 12:48] SaschaPeukert commented on #12004
@ikwattro Thanks for reporting this. We will work on it and get back to you

[2018-08-13 13:10] SaschaPeukert commented on #12008
@soetang Thanks for reporting this. I am happy to say that we agree with you (it should return null) and have already fixed this issue. It will be included in the next release: `Neo4j 3.4.6`

[2018-08-13 13:10] #12008 closed, assigned to SaschaPeukert

[2018-08-13 13:33] donatelloOo commented on #11972
Instead of closing the issue, and scaring the users that encounter this error in logs, don't you think that:

org.neo4j.bolt.security.auth.AuthenticationException should be handled as a org.neo4j.bolt.v1.runtime.BoltConnectionAuthFatality in org.neo4j.bolt.v1.runtime.BoltStateMachine.handleFailure(BoltStateMachine, Throwable, Neo4jError)

?

[2018-08-13 14:36] rafaelctavares commented on #12002
I have faced the same issue with version 3.4.5 running on Docker (official Neo4j community image) on Debian GNU/Linux 9.

Also, in my case, when I keep the Neo4j browser open, I can see it is reconnecting all the time, and sometimes my queries fail due to this connection drops. I have a very small graph database, so I found this quite strange. Nevertheless, I have tried to raise the heap and page

[2018-08-13 15:24] sgehrig commented on #12000
Perhaps related to #11842? This has been fixed in 3.4.1.

[2018-08-13 15:25] sgehrig commented on #11969
Any news on this one or anything we can help with?

[2018-08-13 15:44] mdfrenchman commented on #12000
Very possible. I’ll upgrade and verify when I’m back to a computer.

From: Stefan Gehrig [mailto:notifications@github.com]
Sent: Monday, August 13, 2018 11:25 AM
To: neo4j/neo4j <neo4j@noreply.github.com>
Cc: French, Mike <Michael.French@calibresys.com>; Mention <mention@noreply.github.com>
Subject: Re: [neo4j/neo4j] Possible regression bug: null property as variable going from 3.3 to 3.4 (#12000)

[2018-08-14 09:07] protheusfr commented on #11938
Hello Sascha,

Thank you for your response.
This make sense except we didn’t meet the issue only on fresh started DB.
We got the same issue on production DB which is run since weeks or months.
Maybe page cache is too small then, how ca we check that?

Regards,

Bastien

[2018-08-14 11:08] NivTikolski opened #12014 "Neo4j 3.4.4 - no more threads available"
hi,
I upgrade the production(cluster) environment to neo4j 3.4.4 and .net driver 1.6.1 two weeks ago.
from then something like twice/three times a day i get lots of this error:
**Neo4j.Driver.V1.TransientException: There are no available threads to serve this request at the moment. You can retry at a later time or consider increasing max thread pool size for bolt connector(s).**

if i rollback the

[2018-08-14 11:39] SaschaPeukert commented on #11938
Hej Bastien,

This site should have the answers you seek (including examples how to configure your page cache to the right size): https://neo4j.com/docs/operations-manual/current/performance/memory-configuration/

[2018-08-14 11:54] ali-ince commented on #12014
Hi @NivTikolski,

Before 3.4.0 each established Bolt connection was assigned a dedicated thread on the server, whereas with 3.4.0 onward they are backed by a thread pool.

The error message tells that all threads in the thread pool are currently handling work from active connections and cannot handle more work. There're two points to consider here;

a. It could be the case that your client applica

[2018-08-14 12:13] NivTikolski commented on #12014
@ali-ince
-you can give an example of what you define as leaking transaction?
for every transaction we close the session.

-there is a way to check how much threads are in the pool? somehow to investigate this?
because everyday we have this and the production stops working for 10 minutes, it's a big problem for us of course.

thanks,
niv.

[2018-08-14 14:32] ragavendraselvam-fourkites commented on #7225
+1

[2018-08-14 15:17] ali-ince commented on #12014
If you're using transaction functions (i.e. `Session.ReadTransaction` and `Session.WriteTransaction`) you're mostly safe - however if you have places where you are making use of `Session.Run` or `Session.BeginTransaction` then it would be the case that you do not consume the results and/or close the transaction/session objects.

Below are very simple snippets showing a couple of possible scenarios

[2018-08-14 21:04] Oadegbite opened #12015 "neo4j listening port process not starting"
I'm trying to start a cluster with 2 servers on the same network both are running Neo4j enterprise 3.5 on Ubuntu Server 16.04 LTS. First I'm not sure if a Neo4j cluster can be started with 2 servers but the operations manual said that was the minimum number.

I've tested that I can connect and run both as single instances of neo4j but when I try to set up the cluster it gets stuck and this is the

[2018-08-15 00:36] calebebrim commented on #11972
Hi Guys...
Here the app stops to work when the error is shown on console.

Here is the log:
`2018-08-15 00:29:32.949+0000 INFO  Started.
2018-08-15 00:29:33.259+0000 INFO  Mounted REST API at: /db/manage
2018-08-15 00:29:33.375+0000 INFO  Server thread metrics has been registered successfully
2018-08-15 00:29:34.354+0000 INFO  Remote interface available at http://localhost:7474/
2018-08-15 00:29:4

[2018-08-15 00:41] ishaanmadan19 commented on #12002
I have the same issue as well.

[2018-08-15 07:06] sherfert commented on #12013
Hi @soetang . The fix for this will be included in the upcoming 3.4.6 release. Please let us know afterwards if there remains any problem.

[2018-08-15 07:06] #12013 closed, assigned to SaschaPeukert

[2018-08-15 07:43] LGraebner commented on #11838
In case you are still running on powershell 2, you could try the modified script without the in-operator in #11998

[2018-08-15 08:44] burqen commented on #11993
The fix will be included in 3.4.6. Closing issue.

[2018-08-15 08:44] #11993 closed, assigned to nobody

[2018-08-15 11:34] vrazdobudko opened #12016 "Neo4j 3.4.5 - shortestPath with node label filters causes database freeze"
- Neo4j version: 3.4.5,
- Operating system: Ubuntu
- Hardware: 128 GB RAM, SSD, CPU Intel Xeon E5-2650

### Sysinfo
![default](https://user-images.githubusercontent.com/16487496/44140134-37db40ec-a08a-11e8-9cbd-b60251a22984.png)

### Сonfig
NEO4J_dbms_memory_heap_initial__size=30G
NEO4J_dbms_memory_heap_max__size=30G
NEO4J_dbms_memory_pagecache_size=64G
NEO4J_dbms_jvm_additional=-XX:NewRatio=1

##

[2018-08-15 11:55] vigorouscoding opened #12017 "Cypher query returning node with wrong label"
I discovered that a cypher query returns a node that does not have all the labels that I have requested.
In my query I ask for `:NodeInterface:Principal` but the returned node has the labels `:NodeInterface:IndexedWord`.

**Neo4j Version:** 3.4.5
**Operating System:** Mac OS 10.13.4

### Steps to reproduce
1. Install Neo4j 3.4.5 (Enterprise)
2. Run the following Cypher statements

[code]

3. Query

[2018-08-15 18:50] muralimani commented on #12017
I tried the same steps above. It seems to be a bug, due to CREATE INDEX / indexing command.

[2018-08-15 20:16] calebebrim opened #12018 "AuthenticationException on query execution"
- Neo4j version: Tested With different Versions
- Operating system: OSX HighSierra
- API/Driver: Python Driver, neo4j Client
- **Steps to reproduce**

Error:
- Open client;
- Start Database;
- Open Browser;
- Run Query;
- Open Client Log;
- Then:

2018-08-15 20:02:01.030+0000 ERROR Unexpected error detected in bolt session '28cfe9fffe1df93f-0000d1c8-00000024-e9fb2b4f62ff4297-c7ee3141'. Failed to p

[2018-08-16 07:24] tinwelint commented on #11835
Thanks for noticing! It turns out that after recent changes to the importer the input caching isn't actually used anymore. I'll fix this anyway and leave it in because it may be used in the wild somehow, but I'll make ImportLogic not use it anymore.

[2018-08-16 08:46] NivTikolski commented on #12014
@ali-ince
thanks,
it looks like we working perfectly with the transactions.
i will add monitoring to the graphite and will check if can see something from there, because it is very weird problem, our traffic is low and the minimum threads are 400 and maximum 800, if we get to that it will be very strange.

thanks,
Niv.

[2018-08-16 11:20] prostokarablik commented on #7740
We are interested in a fix of this problem too.

[2018-08-16 13:25] xied75 opened #12019 "bin/Neo4j-Management/Get-Neo4jPrunsrv.ps1 is calling Get-WmiObject which is absent from Windows Nano Server"
Per the subject line, at
https://github.com/neo4j/neo4j/blob/e44bcd9044aceeb2c1fd5a9c90f77dc520cf87d3/packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Get-Neo4jPrunsrv.ps1#L97
We are calling Get-WmiObject, which is not supported on Windows Nano, as described here:
https://docs.microsoft.com/en-us/windows-server/get-started/powershell-on-nano-server

Besides, Nano SKU i

[2018-08-16 14:06] sherfert commented on #7740
The reason this does not use an index is because of `null` values. If any of your `Customer` nodes is missing the `ethnicity` property, you will have an extra row with `null`.

If you know that you do have this property on every `Customer` node you can change the query to

[code]
This will use a NodeIndexScan.

Please let me know if that solves your problem and if we can close the issue
@crichey @

[2018-08-16 14:38] xied75 commented on #12019
p.s. I've found that in fact prunsrv-amd64.exe doesn't really work on Windows Nano, so eventually the service won't be installed anyway. Feel free to close if you don't want to chase this Nano route.

[2018-08-16 19:25] lszumel commented on #11992
Was this issue resolved? I'm seeing the exact same behavior with Neo4j 3.3.5. There is no debug.log to look at; seems the target db folder is wiped after the backup failure.

[2018-08-16 20:40] tinwelint commented on #11966
This is a bug, have been reproduced and will be fixed as part of an upcoming 3.4.x release. I'll keep you posted.

[2018-08-16 20:56] #12007 closed, assigned to nobody

[2018-08-16 21:04] feldoh commented on #11835
Ah great 👍 Glad I could be of service. I'll have to check out the new code to see if I can switch my usage as well.

[2018-08-16 21:22] tinwelint commented on #11835
Hmm, I ended up removing the InputCache and all that entirely since nothing is using it anymore. Are you using this thing manually some way?

[2018-08-16 23:07] feldoh commented on #11835
I can't remember how I worked around it. I don't have access to the code from here so I'll have to check tomorrow. But even if I am I can easily change the code the project is still pre-prod.

[2018-08-17 17:48] lszumel commented on #11992
In our case this was caused by an insufficient file limit of 1024. After `ulimit -n 65535`, the neo4j-admin backup is successful.

If that's the same for you, then I think this issue is simply that the failure log message is insufficient. It's not relaying the root cause, which would be immediately apparent in the original exception.

[2018-08-17 20:36] mdfrenchman opened #12020 "Feature Request: Queue queries to execute in browser"
I have a dozen or so cypher statements I'd like to run (using the browser). Some of them lock nodes that other statements would want to add relationships and/or properties to, so I can't fire them all off at once.

It'd be really cool if there was a queue feature to add a bunch of statements and let it loop through them in sequence.

[2018-08-17 20:38] mdfrenchman commented on #12000
Confirm this is fixed in 3.4.5

[2018-08-17 20:38] #12000 closed, assigned to SaschaPeukert

[2018-08-18 08:26] joshuacheong commented on #8797
Yes I agree this is a extremely basic and necessary feature of the visualizer - even though I understand this is not the primary way to perform visualizations, it continues to be critical in my development tests. Please let me know if this feature has been included! Thank you!

[2018-08-19 05:02] smadurange opened #12021 "Can't logon to cypher shell if the password contains special characters"
I'm using Neo4j 3.4.5 Enterprise Edition. I have a user with a password that contains `!4`. When the user tries to logon to cypher shell with this password on a CentOS deployment, we get the error: `-bash: !4: event not found`.

We tried typing the password surrounded by "", but we still get the same error.

[2018-08-19 05:25] jexp commented on #12021
Try single quotes

[2018-08-19 07:12] smadurange commented on #12021
@jexp Oops, single quotes work. Thanks.

[2018-08-19 07:12] #12021 closed, assigned to nobody

[2018-08-19 11:14] smadurange opened #12022 "Failed to start Neo4J after configuring SSL for Bolt and HTTPS"
I'm using Neo4J Server version 3.4.6 Enterprise edition on 64 bit CentOS7 with OpenJDK.

I'm trying to configure SSL with the auto-generated keys (self-signed names neo4j.key and neo4j.cert). The SSL related configuration settings are as below:

[code]

Other related settings to SSL such as trusted directories are commented out (so, I reckon the defaults are used). I have already created the direc

[2018-08-19 12:18] jelinekb opened #12023 "neo4j-admin: ERROR! Neo4j cannot be started using java version 10.0.1."
## Guidelines
- Neo4j version: neo4j-desktop-1.1.8-x86_64.AppImage
- Operating system: Ubuntu 18.04
- API/Driver: Bolt/Python Driver
- Issue:
Attempting to start neo4j-admin results in the following error message:
`ERROR! Neo4j cannot be started using java version 10.0.1. `

[2018-08-19 14:52] #12022 closed, assigned to nobody

[2018-08-20 09:02] xied75 commented on #2073
4.5 years later, is this done or simply forgot to close?

[2018-08-20 09:17] oskarhane commented on #12020
Hi,
in recent versions of Neo4j Browser you can toggle the settings option "Enable multi statement query editor" which does just what you're asking for.

Btw, neo4j-browser has it's own repository and issue tracker, please see https://github.com/neo4j/neo4j-browser for future issues / questions.

[2018-08-20 09:17] #12020 closed, assigned to nobody

[2018-08-20 11:10] #11964 closed, assigned to SaschaPeukert

[2018-08-20 17:28] sanyalpp opened #12024 "Connection refused while trying to start neo4j shell."
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2018-08-20 20:17] sanyalpp commented on #12024
Started working all of a sudden!

[2018-08-20 20:17] #12024 closed, assigned to nobody

[2018-08-21 01:14] msafder commented on #12002
I too have the same issue. Any ideas yet?

[2018-08-21 11:37] ivan-kleshnin commented on #6282
This one really kills me. Two "obvious" solutions:

1) `JSON.stringify` + `JSON.parse`.
2) Convert objects to nodes

don't even pretend to scale.

For example, we have a REST API which **could** be the same for all objects, say *documents*, containing different sets of nested objects:

#### Expectation

[code]

#### Reality 1

With approach 1) you have to handle documents on different endpoints. O

[2018-08-21 13:32] smadurange opened #12025 "Received fatal alert: bad_certificate error with chained certificate"
I'm using Neo4j 3.4.5 Enterprise Edition deployed on a CentOS7 server. I have obtained a wildcard certificate from GoDaddy. I configured SSL in Neo4j as below:

1. Copied public.crt (which is a chained certificate with intermediate and root certificates) to `/certificates/default` and `/certificates/default/trusted` and set the permissions `-rw-r--r--`.
2. Copied private.key to `/certificates/defa

[2018-08-21 14:40] smadurange commented on #12025
Needed to set `dbms.ssl.policy.default.client_auth=NONE`

[2018-08-21 14:40] #12025 closed, assigned to nobody

[2018-08-22 05:21] ivan-kleshnin commented on #6282
Btw, guys, to not make an impression we can only ASK for things – I would be the first to donate my 100$ to speedup this feature shall you decide to go this route :)

[2018-08-22 07:15] Lojjs commented on #12017
@vigorouscoding Thanks for reporting. This turned out to be a bug in our cost planner about the combination of OR and two NodeIndexSeeks with different labels. We now have a fix for it that will be included in the next patch releases of all supported versions (3.2.13, 3.3.7, 3.4.7 and 3.5.0-alpha08).

Best regards Louise, Neo4j Cypher team

[2018-08-22 07:15] #12017 closed, assigned to nobody

[2018-08-22 11:06] #11835 closed, assigned to nobody

[2018-08-22 11:06] #11966 closed, assigned to nobody

[2018-08-22 18:19] #11984 closed, assigned to nobody

[2018-08-23 07:09] Zappes commented on #11821
I would expect the text of a a License to be subject to copyright, and the author probably has the right to forbid changes to the text. Without being a legal expert, I can't say if you may perhaps be allowed to copy the AGPL, add your clause and use the license under a different name like Neo4jPL - but I am quite sure that you can't change the text and re-publish it using the same name, i.e. "AGPL

[2018-08-23 11:18] lutovich commented on #11974
The fix was released in 3.4.5. Please feel free to update this issue if log message does not disappear.

[2018-08-23 11:18] #11974 closed, assigned to nobody

[2018-08-23 12:57] aghogre commented on #5028
Same error for me when am trying from Microsoft Azure's neo4j-docker instance:
"Multi-line fields are illegal in this context and so this might suggest that there's a field with a start quote, but a missing end quote."

It is working fine in my local system neo4j desktop application with win 10 OS.

[2018-08-23 14:12] akhmerov commented on #11821
@Zappes it's more strict than it just being not allowed to call the license AGPL. The header of AGPL clearly states that modifying it is a violation of the FSF copyright:

Therefore even using significant parts of AGPL is a copyright violation.

[2018-08-23 14:30] lsmith77 commented on #11821
also whatever the copyright situation might be, its important to communicate clearly, which I think is what the issue creator is asking for. if you want to use the AGPL, then use it without modification. if you want a mix of the AGPL and common clause, then make sure you do so in a clear and transparent manner.

[2018-08-23 16:59] vladkras commented on #9807
Seems to help for 3.4.1 too. I had this bunch of errors:

`The database has encountered a critical error, and needs to be restarted.`

`Error performing check point`

`Failed to rotate logs. Expected version: ..., actual version: ..., wait timeout (ms): ...`

and

`ERROR Failed to start transaction. The database has encountered a critical error, and needs to be restarted. Please see database logs

[2018-08-23 18:01] greve commented on #11821
I've given my take on the Commons Clause at https://twitter.com/ggreve/status/1032520322170462208 and https://twitter.com/ggreve/status/1032657522400866305.

TL;DR: This turns anything licensed under it into proprietary software with a very vague, wide reaching license that establishes serious legal liability for all developers and users. It is the end of the commons that is formed by an Open Sour

[2018-08-24 03:21] jmsuhy commented on #11821
I wanted to chime in too.  When the ticket was closed the way it was, I just gave up on it.

@greve , the other companies who adopted the 'commons clause' do not have AGPL licenses like Neo4j adopted for the enterprise edition, and which the clause was added to.

The other companies who adopted this 'commons clause' have non GPL licenses.

Redis: BSD
dGraph: Apache 2

The AGPL license states:  **I

[2018-08-24 11:05] #12004 closed, assigned to SaschaPeukert

[2018-08-26 11:11] beeme0 opened #12026 "Help me! automatically generate graph"
I have sample data 2 columns
![11](https://user-images.githubusercontent.com/42713474/44627597-36bccf00-a963-11e8-8ee0-dd305908fb8b.png)

I want build a graph similar this issue but I must create one by one line. Actually, I need automatically generate it because I have data more than 10K. I can't create one by one.
![12](https://user-images.githubusercontent.com/42713474/44627605-5c49d880-a963-11

[2018-08-26 16:49] jexp commented on #12026
Please ask these questions in https://community.neo4j.com/c/neo4j-graph-platform/import-export

GitHub issues are for reporting issues / bugs.

[2018-08-26 16:49] #12026 closed, assigned to nobody

[2018-08-27 07:10] #7740 closed, assigned to sherfert

[2018-08-27 12:25] philhoefer opened #12027 "license additions ineffective"
The “Commons Clause” you added (47d845925e639297ab2564965ba68105d897e818) to the AGPL licensed software (Neo4j Enterprise) is ineffective and could as well be removed.

The AGPL states that “[i]f the Program as you received it, or any part of it, contains a notice stating that it is governed by this License along with a term that is a further restriction, you may remove that term”.
Therefore the “

[2018-08-28 18:00] biwin commented on #9233
In my case this exception was thrown as I was bolting to port `7474` instead `7687`

[2018-08-30 22:23] beho opened #12028 "WITH LIMIT cardinality reduction prevents effects of preceding CREATE"
I'm trying to design a single query that creates a node including input/output links with possible linking to existing nodes. Creation stages are separated by cardinality reduction clauses using `LIMIT 1`. This method prevents creation of certain nodes in preceding `CREATE` clause,  however.

- Neo4j version: 3.4.6
- Operating system: macOs 10.13.6
- API/Driver: Cypher in neo4j browser

### Steps

[2018-08-31 22:03] sanyalpp commented on #2725
+1

[2018-08-31 22:52] sanyalpp commented on #2725
Just trying to bump this thread again so it attains some visibility, we need this functionality and this is something we would consider for our adoption of neo4j

[2018-09-01 11:10] paul-sym commented on #8797
+1

[2018-09-01 14:22] michaelmcmillan commented on #5028
Issue here as well.

[2018-09-02 14:44] fickludd commented on #12011
@lchrennew This turned out to be a problem in CREATE when either end-node was named but null. We do not want to change the existing behavior as some users might rely on getting exceptions in these cases, but we have now added a fix for this which will can be enabled through a configuration flag (https://github.com/neo4j/neo4j/commit/eae074c56b416d7d7d15d39694b44898d503dd63). From the next patch re

[2018-09-02 14:44] #12011 closed, assigned to SaschaPeukert

[2018-09-04 09:49] SaschaPeukert commented on #12028
Hej @beho ,

As the [developer manual states ](https://neo4j.com/docs/developer-manual/current/cypher/clauses/limit/)

That is true regardless of the fact that you do UNWIND before. It basically skips everything in your list after the first element because of `LIMIT 1`.

I can see, why you are doing this (and why you don't want to use `distinct` here), but maybe we can reformulate the query a bit.

[2018-09-04 11:00] hakami1024 opened #12029 "Problem with a logical expression"
I'm running the following query:
[code]
On
- Neo4j version: 3.1.3
- Operating system: Ubuntu 16.04
- Connecting through [http://localhost:7474/browser/]
it returns `false`. That looks OK.

But!
On
- Neo4j version: 3.4.7
- Operating system: ArchLinux
- Connecting through [http://localhost:7474/browser/]
it returns `true`.

This bunch of numbers is a heavily reduced part of my match-where query, whi

[2018-09-04 11:11] hakami1024 commented on #12029
Neo4j version: 3.4.1
Operating system: Ubuntu 16.04
Connecting through [http://localhost:7474/browser/]
-- also `true`

[2018-09-04 12:03] hakami1024 commented on #12029
[code]
-- `true, false, false, false` on 3.4.7

And on v. 3.3.2 no problem.

[2018-09-04 13:16] SaschaPeukert commented on #12029
Hej @hakami1024 ,

Thanks for reporting this. We will take a look!

Cheers,
Sascha

Neo4j Cypher Team

[2018-09-04 14:34] hdk commented on #12029
even shorter (in 3.4.0 and 3.4.7):

return  ( ( "a" IN ["a", "b"] ) AND false ) OR ( **"X"** IN ["c", "d"] ) ;
=> false

return  ( ( "a" IN ["a", "b"] ) AND false ) OR ( **"a"** IN ["c", "d"] ) ;
=> true

[2018-09-04 15:31] rmgpinto opened #12030 "Connection to the database terminated. This can happen due to network instabilities, or due to restarts of the database while I execute the following query"
I'm getting `Connection to the database terminated. This can happen due to network instabilities, or due to restarts of the database while I execute the following query`:

[code]

[code]

The file has only 54595 rows.
The the `cypher-shell` process exits, but the rows continue to be loaded.
I was expecting the `cypher-shell` to be blocked until the data load was completed.

- Neo4j version: 3.4.5-

[2018-09-04 16:30] rmgpinto commented on #12030
This issue only happens when connecting remotely, if I use the `cypher-shell` from the neo4j node it loads all the data correctly.
My suspicion is that `cypher-shell` does not have a TCP Keep Alive (like SSH).

[2018-09-05 02:46] yangop8 opened #12031 "How to Handle Mass Data Import Resulting in out of Memory?"
We convert our RDF data set to Nodes and Relationships. And then we use `neo4j-import` to import this data set.
Since we have change the _JVM_size_ and _dbms.memory.heap.initial_size_ and _dbms.memory.heap.max_size_ in `neo4j.conf`, and the available resources output is shown below:

However, when it comes to _Relationship counts_, **import failed** because of the following Error:

We know it's ab

[2018-09-05 11:11] jexp commented on #12031
What is the size of your dataset?

And do you just import RDF 1:1 into neo4j or do you transform it into a property-graph structure upfront?

Do you have duplicate nodes or non-existing relationships (i.e. where either start or end node is missing?)

Please share more details about the structure of the CSV files and the command you run for the import.

[2018-09-05 11:45] yangop8 commented on #12031
@jexp
The initial size of RDF dataset is 100 million triples, and about 14.66G.
We transform it into a property-graph structure, the entity size is 1G and the relationship size is 5.3G.

We create different IDs for different entities so there has no duplicate nodes. Since there are not many predicates, we simply assume all the nodes have all the properties.

We show the head of entities and relati

[2018-09-05 14:40] tinwelint commented on #12031
OK so interestingly it's during the Relationship count phase... could you share the entire stack trace? Also do you have lots of relationship types and different labels?

[2018-09-05 14:55] yangop8 commented on #12031
@tinwelint
I only saved this picture as below, the Relationship count phase has not finished:
![wechatimg139](https://user-images.githubusercontent.com/23276343/45101423-0264c200-b15e-11e8-96ef-c88cdb08feda.png)
Since our dataset is transformed from RDF, and the relationship types are only part of predicates, so it couldn't be so many. Maybe the labels are too much I think.
Another thing I need to

[2018-09-05 18:04] sclikaflon opened #12032 "Bug : "Given buffer is empty" under Linux only"
I think I've found a bug in neo4j when querying arrays properties.

- Neo4j version: community 3.3.1 to neo4j:latest (both pulled at 2018-09-05 16:00 UTC)
- Operating system: official neo4j docker image runned by Docker 18.06.1ce on Linux Debian 9, x86-64, fully updated
- API/Driver: neo4j embedded web interface or python driver (pip version as of 2018-09-05)
- Steps to reproduce : giving nodes wi

[2018-09-06 07:47] tinwelint commented on #12031
Thanks. You do have a lot of memory, so it should not be a problem regardless, unless you have millions of different label names and thousands of different relationship type ids. What's the neo4j version you're running?

[2018-09-06 09:21] yangop8 commented on #12031
@tinwelint
The neo4j version I running is _3.3.4_.
And I have counted the number of different label names and relationship types.
There are _**5212385**_ different label names and less than _**86**_ different relationship types( because I counted all the RDF predicates and  `the number of predicates = the number of properties + the number of relationships`).

Best Wishes!

[2018-09-06 15:47] vigorouscoding opened #12033 "Blocked read statement through Bolt Java Driver"
Neo4j version: 3.4.7
Operating system: Mac OS X 10.13.4 (and Ubuntu 18.04 LTS)
API/Driver: (Bolt Java Driver v1.6.2)

## Description

When querying a "big" result set (around 1000) nodes and then - in the same transaction - querying elements of this result set, Neo4j blocks the result completely and does not return at all when using the `.list()` function.

## Steps to reproduce

Run the following

[2018-09-06 20:57] jexp commented on #12031
You said you created a proper property graph model?
From what you're describing it doesn't look like that?

Normally domains have a few hundred or at most a thousand entity types.
Neo4j supports multi-labels so you don't have to combine them into cross-product-labels.

[2018-09-07 04:28] yangop8 commented on #12031
@jexp
Thanks. I know what you mean. Maybe what we created is not a totally proper property graph model, but there are two reasons for what we must do so:
First, since we need to transform RDF dataset to property-graph structure, we couldn't exactly distribute different labels because its huge cost of time.
Second, what we want to do is to compare neo4j and some other RDF-based graph database. So u

[2018-09-07 12:46] lutovich commented on #12033
Hi @vigorouscoding,

Thanks for reporting this problem!
I believe this is an issue in the Java driver related to network-level backpressure applied when receiving incoming records. However, blocking does not happen with this exact example on my machine.

Could you please run this example with `-DrecordBufferHighWatermark=10000` system property? And then change 1002 to 10002?

This system property

[2018-09-07 14:22] vigorouscoding commented on #12033
Hi @lutovich,

thanks for getting back to me - I just re-tested this and found that while cleaning up my test code I messed up. I'm really sorry about that!

The original code that fails looks like the following - the only difference is that I did not use `list()` to fetch the results. But now, reading more of the code, it seems this might be user error (`Results are valid until the next statement

[2018-09-08 10:24] testmkkm opened #12034 "Typo in comment in store/counts/KeyFormat"
Please note typo in comment:
[code]
should be replaced with

[2018-09-08 14:47] MishaDemianenko commented on #11638
Closing issue because of reporter inactivity. Please feel free to reopen this issue if it's still a problem.

[2018-09-08 14:47] #11638 closed, assigned to nobody

[2018-09-09 21:30] craigtaverner commented on #11979
Just a small update. I believe the cypher language group have been discussing the idea of allowing functions to behave differently when in predicate context and when not, so that they can, as you suggest, always generate null in predicate context, but errors in non-predicate context. For now, however, it is inconsistent, with the official position that they behave the same (as the distance functio

[2018-09-10 01:35] cleishm commented on #11979
This doesn't seem like a valid analysis. As far as I can see, with the exception of the _two_ cases we've identified, functions used in predicate context also cause failures. E.g.:

[code]

It seems that there are "some cases" where they are consistently returning `null` in predicate or non-predicate position (two cases identified so far). All other functions consistently cause an error in either

[2018-09-10 06:28] tinwelint commented on #12031
OK so with that many labels it's possible to get that OOM since each thread doing this calculation will have allocated memory for all labels and relationships, and combinations thereof. The importer (the counting stage) could check this and limit number of threads doing the counting if there isn't enough memory. It allocates one thread per available processor (including hyper threading).

[2018-09-10 08:20] frank-zsy commented on #11958
I also encounter this bug on CentOS 7.5 and rename the file makes another problem.

After run `systemctl start neo4j`, I still got infinite restart all the time with different log content like this,

[code]

After the `KernelDiagnostics.StoreFiles` ended, it seems that the server is started but several seconds later, got a message about locking implementation and something about requirement and th

[2018-09-10 11:33] lutovich commented on #12033
Hi @vigorouscoding,

Such nested queries within a single transaction should be supported and it is a bug in the Java driver. Mentioned PR should fix the problem.

Could you please try out the fix? It is located in [this branch](https://github.com/lutovich/neo4j-java-driver/tree/1.6-tx-with-nested-queries) which can be pulled in as a Maven dependency using [JitPack](https://jitpack.io/#lutovich/neo

[2018-09-10 13:30] vigorouscoding commented on #12033
Hi @lutovich,

this looks very good - I simply added the following configuration to my `pom.xml`, cleaned, re-compiled and it worked every time. I even went up to 10000 nodes to give it something proper to chew on - took a moment longer but worked just as well.
Only thing is that I had to use the short commit ID in the dependency - I couldn't get it to work otherwise.

[code]

and

[code]

Thanks

[2018-09-10 16:16] jmsuhy commented on #12027
This topic was brought up a while ago - see the following duplicate issue:   https://github.com/neo4j/neo4j/issues/11821

[2018-09-10 16:19] jbarrasa commented on #12031
Hi @yangop8, from your statement "There are 5212385 different label names" I understand you mean your data set has 5212385 different objects in triples of this type:
`<instance_uri> rdf:type <class_uri>`
Is this correct?

I also understand that you're modelling each different type as a label in Neo4j, right? Basically, you're converting triples of the form `<instance_uri> rdf:type <class_uri>` int

[2018-09-11 01:56] yangop8 commented on #12031
@jbarrasa
Thank you very much for suggesting. I will have a try. Because what we want to do is to compare neo4j and some other RDF-based graph database, we need to find the equivalence between SPARQL and Cypher. Hence, I don't know whether it works, but I will try it.
Thanks again.

[2018-09-11 07:55] tinwelint commented on #12031
@yangop8 I want you to try running this import with `--processors=16` or 8.

This is of course while waiting for the real fix, but I don't know when that could make it in.

[2018-09-11 08:41] jbarrasa commented on #12031
@yangop8

While they both use the graph as their underlying abstraction, the RDF model and the Property Graph model are **very different**. Similarly, RDF DBs (triple stores) and Native Graph DBs like Neo4j are **hugely different** in the way they store, query and manipulate data.

https://www.youtube.com/watch?v=OVweE--RJqM
http://bit.ly/howSemanticIsYourGraph

I am a bit skeptical when people tr

[2018-09-11 09:14] yangop8 commented on #12031
@tinwelint I will have a try, thank you.

[2018-09-11 09:33] yangop8 commented on #12031
@jbarrasa
Hey, JB. I have tried your method, it really works in importing dataset. But it remove the property **TYPE** to filter the result, and make the query very slow beyond imagination. I will try what @tinwelint said to do the experiment.
As to my thoughts on the comparison, I also think it pointless. Since the RDF model and the Property Graph model have different storages, different data str

[2018-09-11 10:07] jbarrasa commented on #12031
@yangop8
If you used my recommendation on modeling:
`( { uri: <instance_uri>} )-[:RDF_TYPE]->(:Class { uri: <class_uri> })`
All you need to do is create an index on the uri property on classes. Something like this:
`CREATE INDEX ON :Class(uri)` (adapt to your specific model)
Then query like the following should be super fast
`MATCH (:Class { uri : <your_class>})<-[:RDF_TYPE]-(x) RETURN x`

I'm asu

[2018-09-11 11:05] #12029 closed, assigned to SaschaPeukert

[2018-09-11 15:04] jennyowen commented on #11958
Thanks for writing such detailed reproduction steps @rito-mg !

There are a few different things to unpack here.

## infinite service restarts
The neo4j service is set to retry on failure, this is behaviour we don't want to change since it's likely lots of automated systems rely on that working.
The downside to that is that if something consistently prevents Neo4j from starting up, it'll restart,

[2018-09-11 15:06] jennyowen commented on #11958
@Frankzhaopku There could be any number of different things causing Neo4j to not start and it sounds like the cause for you is unrelated to this specific issue.

If you're making a bug report, could you please make a new github issue and include reproduction steps and the systemd log? You can get the log by running:
`sudo journalctl -u neo4j -n 100`

If you need help getting Neo4j to work, https:/

[2018-09-11 20:34] billscheidel commented on #11946
Could somebody confirm that Neo4j has seen this issue at least?  Or are incremental backups no longer supported?

[2018-09-12 07:28] TommyCabrelliSkilvioo commented on #2725
+1

[2018-09-12 09:27] phughk commented on #11946
@billscheidel Sorry about the delayed response, I am looking at this now. Thank you (and codyAnivive) for finding this, it must have slipped through.

[2018-09-12 10:19] lutovich commented on #12033
Hi @vigorouscoding,

The mentioned PR is now merged in both 1.6 and 1.7. Fix should be available in 1.6.3 version which will most likely be released this week. Thanks a lot for reporting this problem!

[2018-09-12 10:19] #12033 closed, assigned to nobody

[2018-09-12 13:02] 64BitAsura commented on #10941
@Lojjs may I know what status of this feature request ? :)

[2018-09-12 14:22] jennyowen commented on #11958
As of Neo4j 3.4.8, the installation will also create the `/var/lib/neo4j/data/dbms` folder, so that these permissions errors shouldn't come up again.

Closing the issue as fixed. Thanks for reporting the bug!

[2018-09-12 14:22] #11958 closed, assigned to jennyowen

[2018-09-12 16:25] 64BitAsura opened #12035 "File system for *store.db.* kept on growing after loading and deleting nodes, relations and property from same csv file again and again"
## Guidelines
- Neo4j version: 3.4.1
- Operating system: Docker image **neo4j:3.4.1**
- API/Driver: (Noe)
- **Steps to reproduce**
  Loading node and relation from CSV file about million of them and deleting them completely, repeat these step several times,

- Expected behavior
On insert of million node and relation
   /data/graph.db/neostore.nodestore.db ( size almost intact unless too much data

[2018-09-13 07:13] Lojjs commented on #10941
@sambathl This is on our long list of feature request but unfortunately it isn't considered of high enough priority to be worked on right now.

[2018-09-13 09:50] phughk commented on #11946
@billscheidel @codyAnivive could you confirm please if you are running the backup against a cluster or single instance? Also exact versions of 3.3 and 3.4 along with operating system would help in this case. Sorry for the difficulty this may be causing you.

[2018-09-13 12:44] vigorouscoding commented on #11739
I believe I found a solution for this. I also experienced this and the switch
`-Dorg.neo4j.io.pagecache.impl.SingleFilePageSwapper.channelStripePower=0` did not help even though my open file limit was very generous (see below).

There seems to be a limit to `10240` files for Java in Mac OS X. You need to supply a JVM option `-XX:-MaxFDLimit` (see https://www.oracle.com/technetwork/articles/java/vm

[2018-09-13 13:02] phughk commented on #11946
I have managed to reproduce the issue. It would seem it wouldn't be performing an incremental backup (either it is too out of date, or it's from a different database) so it has fallen back to full backup and that has failed due to a bug. Fixing this now. Thank you for your patience.

[2018-09-13 14:42] phughk commented on #11946
The latest 3.4 patch release doesn't reproduce this, if you could please provide full versions and OS that would be great. Will park this until that info is provided. Thanks

[2018-09-13 15:17] codyAnivive commented on #11946
@phughk We are using 3.4.1 inside the docker image provided on docker hub.

[2018-09-13 19:32] billscheidel commented on #11946
@phughk We are on 3.4.0 on Ubuntu 16.04 (single instance).  I've been checking the release notes and didn't see any mention that this issue had been resolved (or that it was even known). We can move to 3.4.7 if that resolves the issue.

[2018-09-14 10:08] phughk commented on #11946
@billscheidel please try upgrading and see if that is the issue. @codyAnivive the latest docker version is 3.4.7, could you try using that as well please? Also the client should be from 3.4.7 as well. Thanks.

[2018-09-14 10:38] philhoefer commented on #12027
That other issue was closed with a statement of intent to move Neo4j Enterprise away from the AGPL to a non-FLOSS one.
I think I'm in no position to question that intent and I don't want to raise that issue here.
This issue here is intended to address another issue; specifically that the license additions are ineffective and add unnecessary text to an already long license.
If you want to change th

[2018-09-14 11:42] chrisvest commented on #11739
Turns out this is MacOS specific. When `MaxFDLimit` is enabled, the JVM will query the OS for the maximum file descriptor limit, and request that it's current limit be set to that. On MacOS, the max limit can be _infinite_, and this is an invalid value to the current limit. So the JVM instead relies on an `OPEN_MAX` define, which is probably where that `10240` comes from. When you disable `MaxFDLi

[2018-09-14 11:48] vigorouscoding commented on #11739
I can not confirm this 100% - I have set multiple different open file limits because I was running into this issue. I tried `40000`, `64000`, `524288` and even `2524288` because the neo4j java process kept crashing with `Too many open files`. So I have never set this to `unlimited` (or `infinite` as you called it).

The only solution I found was what I wrote above. Maybe there is something else at

[2018-09-14 12:18] chrisvest commented on #11739
We'll add some text about this to the operations manual, so I'm closing this.

One more thing: setting `channelStripePower=0` can have a performance penalty, which is why it's not the default.

[2018-09-14 12:18] #11739 closed, assigned to klaren

[2018-09-14 12:23] chrisvest commented on #11739
@vigorouscoding I use the word "infinite" as a reference to `RLIM_INFINITY`. The details are here: http://hg.openjdk.java.net/jdk/jdk11/file/1ddf9a99e4ad/src/hotspot/os/bsd/os_bsd.cpp#l3312

[2018-09-14 13:06] vigorouscoding commented on #11739
Oh, my bad! I thought you meant with respect to `launchctl limit` where you can set limits to `unlimited`. Thanks for the clarification and sorry for the confusion!

[2018-09-17 08:40] SaschaPeukert commented on #12032
Hej @sclikaflon,

Thanks for reporting. Two questions from me before we can have a look at it:
- What did you mean by "neo4j:latest"? the latest in the 3.3 line or the latest 3.4?
- In the steps to reproduce, you wrote "giving nodes with a label X". You actually meant "label L", as shown in your query, right?

Cheers,
Sascha
Neo4j Cypher Team

[2018-09-17 16:11] davidrapin commented on #9683
Hi @technige, any news on this?

[2018-09-18 09:15] bingo919 opened #12036 "The type is a point query error"
hi
 neo4j version 3.4.0
The gps node contains three attributes:
   coordinates: point
   location: string
   type: string
eg:
coordinates: point({srid:4326, x:30.655691, y:104.081602}) ,location: shanghai ,type: gps

I encountered an error while querying:
curl http://IP:PORT/db/data/transaction/commit -u xxxx:xxxx -H  "Content-Type: application/json"
  -d "{
	"statements": [{
		"statement": "match

[2018-09-18 09:54] technige commented on #9683
Hi @davidrapin - sadly no more clarity on timings for this yet. It's definitely still on our roadmap though, and will remain there, so it's just a matter of _when_.

[2018-09-18 15:08] davidrapin commented on #9683
@technige Thank you for your feedback.

The HTTP API has been deprecated and I expect it to be disabled by default at some point in the future.
The tools we develop rely on backpressure when reading results from Neo4j, and we currently need to use the HTTP API for that (as backpressure is native to HTTP streaming).

I want to make sure that Bolt will implement backpressure *before* the HTTP API is

[2018-09-18 16:18] eebus commented on #12023
Hello @jelinekb
We do not support java version 10.
Please try with Java 8.
Here is the docs https://neo4j.com/docs/operations-manual/current/installation/requirements/

[2018-09-18 16:18] #12023 closed, assigned to nobody

[2018-09-18 16:27] eebus commented on #11981
Hello @KleptoKat
You might have bigger luck opening the issue in https://github.com/neo4j/neo4j-browser.
Thanks

[2018-09-18 16:32] eebus commented on #11960
Hello @razaulhaq
Have you followed https://neo4j.com/docs/operations-manual/current/upgrade/ ?

[2018-09-18 16:40] #11649 closed, assigned to nobody

[2018-09-18 16:40] #11435 closed, assigned to nobody

[2018-09-18 16:43] #11295 closed, assigned to eebus

[2018-09-18 16:43] eebus commented on #11298
Hello @444728248
I guess that you are running the query using Okami.
Please Reopen the issue at:  https://github.com/opencypher/cypher-for-apache-spark

[2018-09-18 16:43] #11298 closed, assigned to nobody

[2018-09-18 17:05] #9645 closed, assigned to eebus

[2018-09-18 17:06] #9473 closed, assigned to eebus

[2018-09-18 17:06] #9400 closed, assigned to nobody

[2018-09-19 07:21] #9750 closed, assigned to eebus

[2018-09-19 11:59] eebus commented on #9992
Seems to have been fixed with #10522

[2018-09-19 11:59] #9992 closed, assigned to nobody

[2018-09-20 09:16] phughk commented on #11946
@codyAnivive @billscheidel have you had any luck with the update? Or is this still an issue for you?

[2018-09-21 07:52] #9675 closed, assigned to eebus

[2018-09-21 20:00] be-rock commented on #266
3.4.7 is out now.  Can someone confirm if this feature now exists?  If so, can you refer us all to the appropriate Neo4j documentation?

And maybe most importantly is it or will it be included in the _Community Edition_?

Thanks.

[2018-09-21 20:41] chrisvest commented on #266
@be-rock Causal Clustering, which Multi-clustering relies on, is only available in the Enterprise Edition:
https://neo4j.com/docs/operations-manual/current/clustering/multi-clustering/

[2018-09-21 21:00] cyrilchapon commented on #266
That moment where you feel so good contributing with issues, ideas, software and product design on an open source project, and the feature is released in a commercial licensed edition.

[2018-09-22 01:47] vnikitch opened #12037 "Why neo4j doesn't support embedded attributes ?"
## Guidelines

Using neo4j-java-driver I can write:

boolean fl = session.readTransaction(new TransactionWork<Boolean>() {
        @Override
	public Boolean execute(Transaction tx) {
		tx.run("MATCH (c:Root) WHERE ID(c) = 10 SET c.myAttr= {value}", Values.parameters("value", attrValue));
		return true;
	}
});

Here "attrValue" may have a type according to this article https://neo4j.com/docs/develo

[2018-09-23 16:18] clayscode commented on #12022
What did you do to fix this problem because I'm running into exactly the same issue?

[2018-09-24 08:39] sherfert commented on #4402
Th original issue should have been resolved (long ago). Also we didn't get any more concrete queries on recent versions that resulted in a bad plan. I am closing this now, and feel free to reopen if I missed something.

[2018-09-24 08:39] #4402 closed, assigned to sherfert

[2018-09-24 08:56] sherfert commented on #11980
This is fixed in 3.4.7

[2018-09-24 08:56] #11980 closed, assigned to SaschaPeukert

[2018-09-24 08:59] sherfert commented on #12001
We haven't heard from @yasirkk in quite a while. Please reopen if this issue still exists for you on a newer, supported, version.

[2018-09-24 08:59] #12001 closed, assigned to SaschaPeukert

[2018-09-24 09:14] sherfert commented on #12028
It is unfortunately not defined what `LIMIT` does with a preceding update clause. And I agree with @beho that is should only influence the number of rows in the output, not the number of created rows.

One simply example to highlight this inconsistency:

Given a graph of 10 nodes:

[code]

will create 1 node, whereas

[code]

will create 10 nodes. This happens since the second `MATCH` forces the p

[2018-09-24 12:11] #9137 closed, assigned to nobody

[2018-09-24 12:30] #7066 closed, assigned to nobody

[2018-09-24 14:33] cmorgner opened #12038 "IndexCorruptionDetected: Index `Index( GENERAL, text )` has failed"
The exception occurs when Neo4j tries to CREATE an index for a string property (`text`) that has about 7,3k characters, so I assume that the index creation is not able to handle the property value that is too large for the index limit of about 4k characters.

### Expected behaviour

At least one of the following

- meaningful error message (property value too large for selected index type)
- grace

[2018-09-24 15:51] rafaelluna commented on #11946
It worked when I used neo4j user. Sorry.

[2018-09-25 06:29] phughk commented on #11946
thanks @rafaelluna , @billscheidel maybe privileges can resolve the issue?

[2018-09-25 07:11] billscheidel commented on #11946
I'll try using the neo4j user this weekend.  Is this a confirmed change in 3.4? Incrementals were working fine previously without using the neo4j user.

[2018-09-25 12:32] phughk commented on #11946
I can confirm that the fix I had added had been reverted, but I am re-adding it now, will keep you posted.

[2018-09-26 17:02] MichaelRBlack opened #12039 "Neo4j Desktop APOC Plugin Card Warning Applying to Remote Graphs"
## Summary

In the desktop, there's a card for the plugins that are installed. The APOC card is displaying a warning that it is not installed on all graphs in my project. My project has a remote graph defined. My remote graph does have APOC installed but I wouldn't expect Neo4j Desktop to know about remote graphs, but at the same time the APOC card shouldn't show a warning about a remote graph tha

[2018-09-27 00:01] themaco opened #12040 "Cannot wait for lock on unrelated relationship"
Hi, while creating new relationships concurrently, I get:
```org.neo4j.driver.v1.exceptions.TransientException: LockClient[8502] can't wait on resource RWLock[RELATIONSHIP(8527), hash=214738524] since => LockClient[8502] <-[:HELD_BY]- RWLock[RELATIONSHIP(8446), hash=1813255184] <-[:WAITING_FOR]- LockClient[8504] <-[:HELD_BY]- RWLock[RELATIONSHIP(8527), hash=214738524]```.

However, if I check for

[2018-09-27 03:50] sebastienjust commented on #266
So it's been 6 years we ask for that in workshops, emails, phone and still nothing. This is really annoying.
In our use case, we need to have one database per customer, for safety and legal reasons (GPRD). We need to deal with that kind of deployment now : deploying one instance per customer and making some weird things to allocate sets of ports per customer, trying to put as much as databases as

[2018-09-27 08:14] themaco commented on #12040
Sample code to recreate issue:

[code]

[concurrentRelationships.zip](https://github.com/neo4j/neo4j/files/2423107/concurrentRelationships.zip)

[2018-09-27 08:34] oskarhane commented on #12039
Thanks for reporting this issue @MichaelRBlack.
It does sound like we could handle the that in a better way not to confuse or worry users.

We have a [neo4j-desktop](https://github.com/neo4j-apps/neo4j-desktop) repo to capture issues. Would you mind creating a new issue [over there](https://github.com/neo4j-apps/neo4j-desktop/issues) instead?

[2018-09-27 08:34] #12039 closed, assigned to nobody

[2018-09-27 12:02] PawanWagh opened #12041 "Restore backup not working"
I am trying restore a backup of database using neo4j-admin but backups are not happening as expected. Tried shutting down neo4j still same issue.

**Neo4j Version:** 3.4.5 ( Entreprise )
**Operating System:** Ubuntu 16.04
**API:**

### Steps to reproduce
1. neo4j-admin backup --backup-dir=neo4j-backups --name=graph.db-backup --pagecache=4G
2. backup available here ~/neo4j-backups/graph.db-backup
3

[2018-09-27 13:09] cmorgner commented on #12038
The following error messages show up in the Neo4 debug log, but don't seem to have any functional impact..

**This is not related to too large string values since the error occurs for non-string indexes as well!**

Neo4j version is 3.4.7

[code]

[2018-09-27 13:51] chrisvest commented on #12041
If you are _certain_ that no Neo4j database is running on that store, then you can delete the `store_lock` file yourself and try again. It could be the file is a left over from a crash, or perhaps from a previous failing command. The `--force` is necessary when you are restoring into an existing non-empty database store directory.

https://neo4j.com/docs/operations-manual/current/backup/restore-ba

[2018-09-27 14:04] joelhandwell commented on #11728
For those who came via google here, you can suppress the warning by giving following JVM option or set ```JAVA_OPTS``` environment variable:

[code]

[2018-09-27 14:06] phughk commented on #11946
It should be included in the next 3.4 release. It can be tracked with this commit https://github.com/neo4j/neo4j/commit/d24d3491d62ddac31521cbdccba08dcf3e8db8bf

[2018-09-28 08:17] sherfert commented on #6584
The first version of an index-backed-order-by is available in the latest `3.5.0-beta01` . Please check the [release notes](https://github.com/neo4j/neo4j/wiki/Neo4j-3.5-changelog#350-beta01) to find out what queries are supported.

[2018-09-28 12:39] JonasR888 commented on #12005
I'm experiencing the same..

[2018-09-28 13:53] oskarhane commented on #12005
Sorry, we didn't see this one when it was created due to it's in the wrong repo.
Could any of you please open this again in the [neo4j-desktop](https://github.com/neo4j-apps/neo4j-desktop) repo instead?

Thanks

[2018-09-28 13:53] #12005 closed, assigned to nobody

[2018-09-28 14:07] DrYort commented on #12005
I've opened the issue again in the neo4j-desktop repo...

Note that I resolved it by deleting the instance of Neo4j on my laptop, and then re-installing it - which does not assist in determining the cause of the issue.

[2018-09-28 14:26] sherfert commented on #11962
The original regression in 3.4.1 has now been fixed. It will be included in 3.4.8

[2018-09-28 14:26] #11962 closed, assigned to nobody

[2018-09-30 04:39] smadurange commented on #12022
@clayscode Can try setting the following configuration settings:

`dbms.ssl.policy.default.client_auth=NONE`

There was a doc on not being able to set client_auth while using TLS but I can't find it right now.

[2018-10-01 09:47] algarsi3 opened #12042 "using index on multiple range conditions fails"
- Neo4j version: 3.4.7
- Operating system: Windows 10
- API/Driver: Cypher
- **Steps to reproduce**
Create 3 nodes with 1 numeric attribute:
[code]
Create an index on the attribute:
[code]
Profile a query that uses NodeIndexSeekByRange with 1 condition
[code]
Again, profile a query that uses NodeIndexSeekByRange, but with 2 conditions
[code]
Here the planner does not use NodeIndexSeekByRange but N

[2018-10-01 10:10] tinwelint commented on #12031
@yangop8 Does your project hinge on neo4j version 3.3.x specifically, or would it be allright to have fixed in 3.4.x and your moving to that version instead? The importer has had a couple of improvements in 3.4 compared to 3.3 already, so it should be better all around. Although I suspect that this specific problem should still be a problem in 3.4 though.

[2018-10-01 11:50] yangop8 commented on #12031
@tinwelint Thank you for still remembering my problem. I will try it on version 3.4. I have tried your approach by limiting the processors, but it also not worked. Also, I change the **Label** column to property, it only just set a trade-off between _import time delay_ and _query time delay_. So I will find out another effective way to solve this problem.
Thanks again for giving me a possible solu

[2018-10-01 12:28] SaschaPeukert commented on #12037
Hej @VitaliiNikitchyn ,

Thanks for your suggestion. I will make sure that we take it into consideration in the future.

Best wishes,
Sascha Peukert

Neo4j Cypher Team

[2018-10-01 16:56] bsquire0128 opened #12043 "Cant seem to get high-io to read True when using the Neo4j Admin import"
Cant seem to get high-io to read True when using the Neo4j Admin import. Here is my bash cmd:

~/../../../usr/bin/neo4j-admin import --nodes "import/uids-header.csv,import/uid_no." --nodes "import/identitylink-header.csv,import/idlink_no." --nodes "import/bluekai-header.csv,import/bk_no." --nodes "import/acxiom-header.csv,import/axm_no." --nodes "import/adobe-header.csv,import/adb_no." --nodes "im

[2018-10-01 19:19] tinwelint commented on #12043
Which Neo4j version is this on?

[2018-10-02 09:03] zhenlineo commented on #9233
Closing this issue as it is a bug not in neo4j and a workaround is provided to address this.

[2018-10-02 09:03] #9233 closed, assigned to nobody

[2018-10-02 09:05] zhenlineo commented on #8435
Closing this issue as it is too old version of server and driver. Pls be free to open a new ticket if the problem still exists in newer versions of server and driver.

[2018-10-02 09:05] #8435 closed, assigned to nobody

[2018-10-02 09:09] zhenlineo commented on #7344
We've added connection acquisition timeout, connection life timeout to address this problem. Pls update to the latest .net driver to use these features. More information can be find in neo4j documentations.

@MinhNguyenDev We've have tx timeout on the server side. also you can config this on the driver side since 1.7 driver series too.

[2018-10-02 09:09] #7344 closed, assigned to nobody

[2018-10-02 09:11] zhenlineo commented on #7313
Closing as the PR to fix this error has been merged (long time ago)

[2018-10-02 09:11] #7313 closed, assigned to nobody

[2018-10-02 09:13] zhenlineo commented on #7115
Closing this issue as it is too old. If anyone would like to reopen this, pls give more explanations.

[2018-10-02 09:13] #7115 closed, assigned to nobody

[2018-10-02 09:15] zhenlineo commented on #6959
Closing this issue as it should no longer be an issue.

[2018-10-02 09:17] zhenlineo commented on #6516
We will consider this feature request and we've added it to our future work list.

[2018-10-02 09:17] #6516 closed, assigned to nobody

[2018-10-02 09:23] SaschaPeukert commented on #12042
Hej @algarsi3 ,

Thanks for reporting. We will look into this.

[2018-10-02 09:24] zhenlineo commented on #12018
@calebebrim
We are missing a lot of information to help with this issue.
Could you give us more information that might be helpful you think to recreate the issue?

For example:
How did you got this error? Did you get it with our Neo4j browser? What version of the neo4j and browser? Is any driver related in this issue? Where did you got the error message you posted? Is it in Neo4j `debug.log` or `n

[2018-10-02 09:25] #12014 closed, assigned to nobody

[2018-10-02 09:29] zhenlineo commented on #12012
Hi @NtHawk101 ,

After reading your description, we do not think this is related to Neo4j or our official python driver directly.
Pls open an issue on `LogonTracer` project instead.

Regards,
Zhen

[2018-10-02 09:29] #12012 closed, assigned to nobody

[2018-10-02 09:31] ikwattro commented on #6959
@zhenlineo This is still an issue. Check https://github.com/neo4j/neo4j/blob/3.5/community/bolt/src/main/java/org/neo4j/bolt/v1/packstream/PackStream.java#L425

You are still checking for Short.MAX_VALUE when returning a 16 bytes map marker header, which is not correct.

[2018-10-02 09:33] ghost commented on #11955
My ubuntu neo4j server has encountered the same - 'The database has encountered a critical error, and needs to be restarted. Please see database logs for more details' . I too am using the neo4j python driver.

The python program writes quite happily into the database and then randomly hits the error, only a restart will suffice. This works well for a light job but will become intractable at scale

[2018-10-02 09:37] SaschaPeukert commented on #12036
Hej @bingo919 ,

Thanks for reporting this. We will have a look at it!

Cheers,
Sascha

Neo4j Cypher Team

[2018-10-02 09:41] zhenlineo commented on #10493
@cloudhuang Sorry for the long wait. We will look into this. Meanwhile, you might want to try our driver API, it provides a slightly better representation of `Path`.

[2018-10-02 09:43] ali-ince commented on #10518
Closing this as the new metrics related to `BoltConnection`s, which also include `connectionClosed`, are released as part of neo4j 3.4 series.

[2018-10-02 09:43] #10518 closed, assigned to nobody

[2018-10-02 09:43] zhenlineo commented on #11601
@billscheidel We've tried to run your query on our side but we cannot recreate the error you are describing. I think it might related to the data structure in your database. Would you try to give us more information to create this issue with a common dataset? Is there any error that you can see in your neo4j.log when the error happens?

[2018-10-02 09:52] zhenlineo commented on #10234
Hi @TomMaier1,
NeoJs is not maintained by us. If you have any problem to use NeoJs with Neo4j, maybe you want to raise the issue there https://github.com/PaulFreund/neojs?
Pls be free to reopen this issue if it is a issue related to Neo4j directly.

Cheers,
Zhen

[2018-10-02 09:52] #10234 closed, assigned to nobody

[2018-10-02 10:00] ali-ince commented on #7640
Closing this as `BYTES` type binary-data is supported since neo4j version 3.2 and driver versions 1.4.

[2018-10-02 10:00] #7640 closed, assigned to technige

[2018-10-02 10:01] zhenlineo commented on #10098
We've discussed within team and the the current behaviour is more clear in the general case that all errors shall be rollback. We aware that there might be some cases that your suggestion is really valid. We will take your suggestion and consider it in our development descriptions.

Thanks again for raising this issue.

[2018-10-02 10:01] #10098 closed, assigned to nobody

[2018-10-02 10:09] SaschaPeukert commented on #12030
Hej @rmgpinto ,

Thanks for reporting. We will have a look at it!

[2018-10-02 10:10] zhenlineo commented on #9994
Closing this issue as it was long time ago. Pls upgrade to latest versions of py2neo and latest neo4j if possible. If the problem still exists, pls re-open the issue with updated message.

Thanks again for raising this issue.

[2018-10-02 10:10] #9994 closed, assigned to nobody

[2018-10-02 10:36] zhenlineo commented on #9693
Hi @cjdaly,

We think the root cause of this issue is that neo4j is started after your installation and before you managed to set-init-password. The command `set-initial-password` could only be used before the the first time you run the neo4j. After you run then the auth files will be created and the way to change your password now is to open a new browser to connect to port 7474 to change the def

[2018-10-02 10:38] zhenlineo commented on #9551
Closing, pls reopen if there is more information to recreate.

[2018-10-02 10:38] #9551 closed, assigned to nobody

[2018-10-02 10:44] zhenlineo commented on #9412
Closing the issue as missing of more feedback to the solution suggested on this issue.

[2018-10-02 10:44] #9412 closed, assigned to nobody

[2018-10-02 10:45] #4430 closed, assigned to nobody

[2018-10-02 10:45] zhenlineo commented on #4430
Pls be free to reopen the issue if it still exists in more recent neo4j versions.

[2018-10-02 10:52] zhenlineo commented on #9378
Hi @kanghq @Prillan,
Sorry for late reply, but is this problem still exists in your development today?
We would like to look into this issue if it still exists in a more recent version of Neo4j.
Pls do reopen this issue if the problem still exists.

Cheers,
Zhen

[2018-10-02 10:52] #9378 closed, assigned to nobody

[2018-10-02 10:55] #10493 closed, assigned to zhenlineo

[2018-10-02 11:09] SaschaPeukert commented on #12016
Hej @vrazdobudko ,

Thanks for reporting this. We will have a look and get back to you.

[2018-10-02 11:10] SaschaPeukert commented on #12016
In the meantime, does the problem still exists with Neo4j 3.4.7?

[2018-10-02 11:28] SaschaPeukert commented on #11989
Hej @j6k4m8 ,

Thanks for your suggestion. I will make sure that it will be considered in the future development of neo4j-admin

Cheers,
Sascha

[2018-10-02 11:45] SaschaPeukert commented on #11975
I tried to reproduce this with the current version but it works without errors. So I would say that it is fixed in (at least) Neo4j 3.4.7

[2018-10-02 11:45] #11975 closed, assigned to nobody

[2018-10-02 12:25] codeseedr commented on #7652
I tried writing a custom function that would return Integer but that proved futile due to:
[code]

[2018-10-02 16:19] jexp commented on #7652
Why would you need that?
It's just a whole number

[2018-10-02 16:24] codeseedr commented on #7652
Because of the very issue this ticket describes. There's no cypher-level support for integer data type which you can use when using programmatic API. There's no way to update an integer property through cypher that would not get it promoted to long, breaking the code that tries to access it as integer.

[2018-10-02 17:50] billscheidel commented on #11601
I've since upgrade to Neo4j 3.4 and am no longer seeing this issue.  I'll reopen with a sample database if I start seeing it again.

[2018-10-02 17:50] #11601 closed, assigned to nobody

[2018-10-02 18:50] tomasonjo opened #12044 "LOAD CSV error when checking property keys"
I discovered the bug when I wanted to check the property keys of a csv to help me import all the relevant data. I tried it on a clean Neo4j to validate and the same problem persists. I also tried on a different CSV and it worked fine so it must be something do to with the specific csv file and specific query, because other queries work.

**Neo4j Version:** 3.4.7 Community edition
**Operating Syste

[2018-10-03 09:45] chrisvest commented on #6440
Another update, fall, 2018.

Since this has now been announced at GraphConnect: In 3.5, transaction state is going to be off-heap by default, so that's one source of large heap consumption off the list.

We still have (at least) transaction command generation, query eagerisation, and query joins, as potential OOME offenders. Also the transaction state for the new fulltext schema index will be on-h

[2018-10-03 10:27] andreikoval commented on #12041
@PawanWagh Did you try running `lsof` on that lock file to see if there's actually other process locking it?

[2018-10-03 10:57] mikesname commented on #11969
I have (seemingly) the same problem with 3.4.x (community.) For each test I set up a new impermanent DB, create indexes and constraints, run my code, and then shutdown the DB on teardown.

On Travis-ci Neo4j will at some seemingly random point hang on shutdown. I've attached a jstack dump obtained by debugging my Travis job.

I cannot reproduce outside the CI environment, even using the same Docke

[2018-10-03 13:20] PawanWagh commented on #12041
@chrisvest : @andreikoval : yeah. it did solve my problem.
I've upgraded neo4j to 3.4.7 from 3.4.5 with a fresh installation, and nothing is working. I mean neo4j restarts itself automatically in a loop. It's like start - starting - started - - - - start - starting - started - - - - going on.

[2018-10-03 13:23] andreikoval commented on #12041
@PawanWagh could you please send the logs with error messages?

[2018-10-03 13:53] PawanWagh commented on #12041
@andreikoval : This is all i've.
I tried deleting store_lock, kill neo4j process, but nothing seems to work.
[code]

[2018-10-03 14:01] PawanWagh commented on #12041
This is my log file..
[debug.log](https://github.com/neo4j/neo4j/files/2442300/debug.log)

[2018-10-03 14:05] PawanWagh commented on #12041
Just a note, after installation it worked okay. Even i've created db users with specific roles and implemented backup using `neo4j-admin`. But after that this whole issue came up.

[2018-10-03 14:32] PawanWagh commented on #12041
@andreikoval : @chrisvest :
This only happens after a backup is restored. What i did,
1. Restarted my ec2 instance
2. deleted graph.db
3. Started neo4j server
4. It started with issues, i've also created some nodes and relationships
5. took backup
6. Still no issues
7. But when i restore it from previously taken backup, above listed issue starts appearing

[2018-10-03 14:48] chrisvest commented on #12041
There's nothing to see in the debug log, except the shut down starts right after the metrics module starts initialising. Could be the metrics can't access its directory, but it's impossible to say for sure given that log. Try changing the log level to debug and see if we learn more: `dbms.logs.debug.level=DEBUG`

You can also try disabling metrics: `metrics.enabled=false`.

Could also be that some

[2018-10-03 18:42] bsquire0128 commented on #12043
Version: | 3.4.0

[2018-10-03 21:53] rmgpinto opened #12045 "The database is not cleanly shutdown. The database needs recovery, in order to recover the database, please run the old version of the database on this store."
I'm having a problem restoring a backup from neo4j 3.1.3 database into a fresh 3.4.7 causal clustering.

- Neo4j version: 3.4.7
- Operating system: Amazon Linux AMI 2018.03
- API/Driver: N/A

##Steps to reproduce
1. Backup 3.1.3 database:
[code]
2. Restore backup on 3.4.7 database:
[code]
3. neo4j.conf has:
[code]

I get the following error:

"The database is not cleanly shutdown. The database nee

[2018-10-04 08:11] chrisvest commented on #12045
It's annoying, but this can happen if the last backup was incremental. To fix it you have to first start the database up on 3.1.3, wait for it to complete recovery, and shut it down again. Then try starting it on 3.4.7 again.

[2018-10-04 08:19] rmgpinto commented on #12045
I did a full backup, I'm going to try starting the database in 3.1.3 and then upgrading it.
Thanks

[2018-10-04 08:53] rmgpinto commented on #12045
I have restored a backup from a 3.1.3 version in a single neo4j 3.4.7 instance successfully.

My problem is restoring in a causal cluster, I have 3 nodes, perform a restore on all 3 before starting neo4j. And after I start neo4j I have the error: "The database is not cleanly shutdown. The database needs recovery, in order to recover the database, please run the old version of the database on this

[2018-10-04 11:11] andreikoval commented on #12040
@themaco Thanks for reporting the issue, we are currently investigating it. Meanwhile, as a possible workaround I can suggest you retrying failed transaction.

[2018-10-04 11:15] PawanWagh commented on #12041
@chrisvest : Here.
I've my backup logs here, does that store_lock file in my backup has anything to do with this.

[code]

[debug.log](https://github.com/neo4j/neo4j/files/2446057/debug.log)

[2018-10-04 12:00] chrisvest commented on #12041
@PawanWagh No, nothing seems wrong about that. If the file lock on the store_lock file that matters, not the existence of the file.

I notice that you have an outdated APOC jar file in your plugins:

[code]

It's weird that there are no exceptions being logged, but try upgrading APOC to match your Neo4j version: 3.4.7.

[2018-10-04 12:41] burqen commented on #12038
@cmorgner Thank you for reporting! I'm looking into this and I've been able to almost recreate your stacktrace. I'm just doing
[code]
followed by
[code]
on a store with single node with single large string on "prop".

This is what my debug.log looks like. Do you have anything like `[o.n.k.i.a.i.IndexPopulationJob] Failed to populate index:`?
[code]
followed by something that looks a lot like yours

[2018-10-04 12:48] cmorgner commented on #12038
Sadly, no.. The sequence of errors in debug.log starts with the following lines, no other information:
[code]

The problem is not limited to string properties, in some instances it occurs for almost all indexes, and the error message seems to be informational only. We see no functional impact (at least we haven't seen one yet), but the log is full of these error messages.

I suspect that the probl

[2018-10-04 12:59] burqen commented on #12038
Okay, I'm not even close then. Too low hanging fruit apparently. I'll continue to dig.

[2018-10-04 13:28] burqen commented on #12038
Some additional questions:
- The stacktrace looks like an answer to some query. Do you have any idea what that query might be? It looks like it has something to do with index creation `org.neo4j.cypher.internal.compatibility.v3_4.ExceptionTranslatingQueryContext.addIndexRule(ExceptionTranslatingQueryContext.scala:98)`
- Do you have the possibility to send entire debug.log?

[2018-10-04 18:20] themaco commented on #12040
Thanks, I am retrying and for most cases it works at the first retry.

[2018-10-04 21:12] ddevault commented on #12027
Ignoring this problem seems folly - as it stands your license is ineffective and people can use it according to the AGPL license verbatim. You're relying on a falsehood to enforce the licensing terms of your project. If you want to use a restrictive nonfree license that's your choice to make, but currently you're not doing that. The AGPL gives users the right to disregard any extra clauses tacked

[2018-10-05 09:21] amorgner opened #12046 "neo4j.conf config line without newline has no effect"
A configuration line without newline character at the end of neo4j.conf seems to be ignored.

**Neo4j Version:** 3.4.7
**Operating System:** Ubuntu 18.04

### Steps to reproduce

1. Add a configuration line to neo4j.conf and omit newline at the end (just an example, the type or content of the configuration option doesn't matter):

    `dbms.jvm.additional=-Dfoo=bar`

3. Start Neo4j
4. Process comm

[2018-10-05 12:13] Lojjs commented on #12016
@vrazdobudko The reason for the different plans with and without `ALL (n IN nodes(p) WHERE n:Person OR n:Organization) ` is explained in https://neo4j.com/docs/developer-manual/current/cypher/execution-plans/shortestpath-planning/ . The start node, end node and relationship predicates can be checked as we go during the search for the shortest path while the node predicate needs the entire path to

[2018-10-05 15:19] oschlueter opened #12047 "Using STARTTLS breaks LDAP authentication"
### Abstract

I discovered that when I configure the LDAP Auth Provider to use STARTTLS authentication is broken, i.e. I can log into the Neo4j instance with any existing user account using arbitrary passwords.
Unencrypted LDAP connections (without STARTTLS) and LDAPS connections are not affected.

- Neo4j version: 3.4.4-enterprise (also reproduced with 3.4.7-enterprise)
- Operating system: Alpine

[2018-10-05 15:34] oschlueter commented on #12047
### Some additional insights from my LDAP log analysis

We can see why Neo4j permits access to any valid user by looking at the LDAP log (using an incorrect password), e.g.:

[code]

Compare this to a properly functioning setup (e.g. our company's TeamCity) with an incorrect password:
[code]

The authentication bind performed by TeamCity clearly shows the account alice used as BIND DN and the resu

[2018-10-06 00:36] cjdaly commented on #9693
@zhenlineo, thanks for the response!  I haven't looked at this in a while ... what I'm trying to achieve here is a scripted way of provisioning Neo4j on top of a new Raspbian image.

Right now, I am burning Raspbian 2018-06-27 "Stretch with Desktop" to a microSD to run on a rPi3B that I have here so I can try this again with the latest Neo4j version (Note: I want to run the rPi like a server, so I

[2018-10-06 11:30] hoptical opened #12048 "Subgraph Isomorphism Feature"
Hi,
Is there any plan for adding subgraph isomorphism and graph matching features in the Neo4j?
Thanks.

[2018-10-06 23:03] cjdaly commented on #9693
@zhenlineo, I am still not having success with this.

I ran the script from my last comment as described there.  Interestingly, things seemed to work at first.  The 'set-initial-password' command was successful and I was able to connect with `cypher-shell` using the `XXXX` (example) password.  So everything looked good, but then I did a reboot....

After the reboot, I am again getting "Connection

[2018-10-07 21:03] daniel78uk commented on #11955
Same happening to me. Restarting a database is something unheard to resolve this kind of problems.

[2018-10-08 07:06] burqen commented on #12038
Ping @cmorgner

[2018-10-08 08:02] cmorgner commented on #12038
Hi, sorry for not responding earlier!

Dropping the erroneous indexes seems to resolve the problem, which was caused by having too large strings values in the property for which the index was created.

Structr just does not drop indexes that are not recorded as "created", so we have to drop them manually.

Maybe you can improve the error message sent to the client so that the actual index is menti

[2018-10-08 08:16] chrisvest commented on #11955
`Caused by: java.nio.file.AccessDeniedException: /home/doug/Desktop/CitrusMediaWork-Ubuntu/teachingTools/dev/databases/databases/graph.db/schema/index/lucene_native-1.0/1/lucene-1.0/1/_315k.si`

Looks like either your file permissions are wrong, or you are starting the database with the wrong user account.

[2018-10-08 09:06] SaschaPeukert commented on #12044
Hej @tomasonjo,

Thanks for reporting this. We will take a look at it.

Cheers,
Sascha

[2018-10-08 09:18] meshmmanuel opened #12049 "Neo4J Shuts down by itself"
Neo4j 3.4.3 running on centos 4 shuts down by itself frequently.

I have a log from /var/log/neo4j/neo4.log.

I need help.

[root@000.000.000.000 neo4j]# nano neo4j.log
  GNU nano 2.0.9              File: neo4j.log

nohup: ignoring input
2018-08-26 16:31:50.520+0000 INFO  ======== Neo4j 3.4.6 ========
2018-08-26 16:31:50.546+0000 INFO  Starting...
2018-08-26 16:31:52.990+0000 INFO  Bolt enabled on

[2018-10-08 09:22] SaschaPeukert commented on #12048
Hej @hoptical,

Thanks for your feature request. We are most interested in both and will consider them for future development.

Best regards Sascha,
Neo4j Cypher team

[2018-10-08 12:22] hoptical commented on #12048
Hey @SaschaPeukert

Thanks for your answer.

[2018-10-08 12:24] #12048 closed, assigned to SaschaPeukert

[2018-10-08 14:33] burqen commented on #12038
@cmorgner Improving the error message will be done 👍

About "GENERAL". I just assumed that was one of your property keys or label names. Are you saying that is not the case? If so, that looks wrong and I'll fix that to.

I'm still interested in the non-string indexes that are reporting to be failed but seem to be online anyway. If there is anything more you can tell me about those, that would be g

[2018-10-09 10:35] pontusmelke commented on #12044
Hi @tomasonjo
Thanks for reporting this. I have fix for the issue, however just FYI the header of the file you are using ends with five consecutive `,` - which will be interpreted as `null` for the header name. Not sure if that is intentional?

[2018-10-09 13:53] ranlandau opened #12050 "Neo4j - Too Many Open files! Sudden Death!"
## Guidelines

- Neo4j version: 3.4.1
- Operating system: Ubuntu 18.04
- API/Driver: None
- **Steps to reproduce**
Failed to Start

Following Error:

Oct 09 13:47:11 ip-10-1-32-39 neo4j[1252]: 2018-10-09 13:47:11.123+0000 INFO  Starting...
Oct 09 13:47:12 ip-10-1-32-39 neo4j[1252]: 2018-10-09 13:47:12.416+0000 INFO  Initiating metrics...
Oct 09 13:48:14 ip-10-1-32-39 neo4j[1252]: 2018-10-09 13:48:

[2018-10-09 14:10] SaschaPeukert commented on #11927
Hej @YashMishra96,

Since there hasn't been an update for a while now, I am gonna close this and ask you to open another issue if you still have a problem. Please keep the comment from @InverseFalcon in mind when doing so.

Cheers,
Sascha

Neo4j Cypher Team

[2018-10-09 14:10] #11927 closed, assigned to nobody

[2018-10-09 15:13] pontusmelke commented on #12036
Hi @bingo919
I am looking at your issue. I am not able to reproduce the issue with a node with `coordinates: point({srid:4326, x:30.655691, y:104.081602})`, however with `coordinates: [point({srid:4326, x:30.655691, y:104.081602})] - i.e. an array of points rather than a single point - I seem to be getting the same error. Can you verify if this is what you have as well?

Best Regards,
Pontus

[2018-10-09 15:39] geirgp commented on #12035
Could this be a side-effect of the transaction log pointed out here? https://stackoverflow.com/questions/46771529/neo4j-store-size-increases-after-major-delete-operation

[2018-10-09 23:08] bsquire0128 commented on #12043
Ec2 info: r4.8xlarge 2TB EBS with 8000 IOPS

Ubuntu 16.04 LTS
Linux 4.4.0-127-generic #153-Ubuntu x86_64 x86_64 x86_64 GNU/Linux

[2018-10-10 01:26] bingo919 commented on #12036
HI @pontusmelke
When I use arrays, I still report the same error.

eg:
`CREATE (g:gps{type:"gps",location:"shanghai", coordinates:[point({srid:4326, x:30.655691, y:104.081602})] });`

[code]

Error is as follows：
"code": "Neo.TransientError.Network.CommunicationError",
"message": "Current context not an ARRAY but OBJECT",
"stackTrace": "org.codehaus.jackson.JsonGenerationException: Current context

[2018-10-10 06:48] pontusmelke commented on #12036
Yes I am able to reproduce the error when using arrays, however when not using arrays it works as expected. Are you sure you see the error also for single points? e.g. does this scenario fail for you?

[code]

[code]
?

[2018-10-10 06:52] bingo919 commented on #12036
yes

cypher must
`match (n:gps) return n `

**This error is only reported when "n" is returned.**

if return  n.coordinates it ok!!!!

Is your environment the same as mine?

neo4j version 3.4.0
linux os

[2018-10-10 07:23] pontusmelke commented on #12036
Yes I see the exact same thing - i.e. with `RETURN n` you get an error but `RETURN n.coordinates` works fine. I have found the error and have a fix for it. However the problem only manifests when you have arrays of points. Could it be that you have some nodes with arrays of points and some with single points, in that way the query `match (n:gps) return n` will hit on some nodes with a point array?

[2018-10-10 07:37] bingo919 commented on #12036
Thank you for reminding me. @pontusmelke

I did it according to the above. It is also wrong.

neo4j> CREATE (:NEW_LABEL{coordinates:point({srid:4326, x:30.655691, y:104.081602}) });
0 rows available after 9 ms, consumed after another 0 ms
Added 1 nodes, Set 1 properties, Added 1 labels
neo4j> match(n:NEW_LABEL) return n;
+---------------------------------------------------------------------------+

[2018-10-10 07:45] pontusmelke commented on #12036
Weird.

Thanks I have fixed the issue of arrays but I am not seeing that same error, but I'll continue to investigate.

Thanks for helping out!

[2018-10-10 08:00] chrisvest commented on #12043
@bsquire0128 does it work if you use lower-case `true`? The argument value matching might be too strict.

[2018-10-10 08:24] bingo919 commented on #12036
@pontusmelke  I remember it.

"resultDataContents": ["rest"]
resultDataContents must be "rest" ,
When it is "row" or "graph", it will not be wrong.

[2018-10-10 08:24] martinfurmanski commented on #12045
@rmgpinto Please follow the advice and "run the old version of the database on this store" (standalone instance) before you proceed with seeding a cluster.

[2018-10-10 09:07] pontusmelke commented on #12036
I see it now. It happens when you use `"resultDataContents": ["rest"]`.

Thanks!

[2018-10-10 14:05] oschlueter commented on #9807
Is there any information available on potential causes of this behaviour?

[2018-10-11 07:09] ontana opened #12051 "Problem with a logical expression"
Hi guys,
I am facing a problem with the neo4j cypher in version 3.4.8. I am running the following query:

[code]

On

- Neo4j version: 3.3.1-enterprise
- Operating system: Ubuntu 16.04
- Connecting through [http://localhost:7474/browser/]
- It returns a list of companies correctly.

However,
On
- Neo4j version: 3.4.8-enterprise
- Operating system: Ubuntu 16.04
- Connecting through [http://localhos

[2018-10-11 08:30] SaschaPeukert commented on #12047
Thank you so much for reporting this @oschlueter!
The fix for that problem ( https://github.com/neo4j/neo4j/commit/46de5d01ae2741ffe04c36270fc62c6d490f65c9 ) will go in all upcoming releases from 3.4.9 onwards.

Cheers,
Sascha

Neo4j Cypher Team

[2018-10-11 08:30] #12047 closed, assigned to nobody

[2018-10-11 09:34] zhenlineo commented on #6959
Hi @ikwattro,

It is on purpose designed on the server to pack and unpack the size of Map, List, Strings, and Bytes in this way. The idea is that we create a more "tolerance" server.

When packing a size in the range of `2^15 ~ 2^16-1`, we currently pack it as a int (using two extra bytes). If we change to pack it as a unsigned short, we will risk breaking clients that unpack the size as a signed

[2018-10-11 09:41] ikwattro commented on #6959
I'm not sure what I understand what is exactly you are trying to tell me ? Are you gonna apply the same fix in Neo4j itself as well ?

[2018-10-11 10:18] zhenlineo commented on #6959
@ikwattro No, we think there is nothing to fix on Neo4j Bolt server regarding the packing of Map size.
The server is on purpose to use `short.MAX_VALUE` when packing to support drivers that can unpack Map size as a unsigned value, as well as the drivers that can unpack Map size as signed value.

[2018-10-11 10:31] ikwattro commented on #6959
Ok, I think we are maybe not clear on the real effect of the issue.

As a driver author following the specification provided by Neo a while back and the following scenario :

I have to unpack a Map with a size of 32769 kv pairs :
The Neo4j server will return a marker header with `0xda` (2^15) which means that internally I can create a max-sized Map that has a max size of 2^15.

However, because 32

[2018-10-11 10:40] technige commented on #6959
Hey @ikwattro. Sounds like it might be easier to talk through the issue over a higher-bandwidth channel. I'll ping you a message off-GitHub and we can arrange a video call to work this through.

[2018-10-12 09:17] chrisvest commented on #12043
This is fixed in more recent versions of 3.4. I tried it on a 3.4.4 I had lying around, and it did not have this problem, so you just need to upgrade.

[2018-10-12 09:17] #12043 closed, assigned to nobody

[2018-10-12 09:23] cmorgner commented on #12038
The term `GENERAL` seems to come from Neo4j, we don't have any mention of it in our code or labels or properties with that name. That's what made me think the error message could be improved.

We don't know yet how the non-string indexes became corrupted. I keep you updated if I find new information.

[2018-10-12 09:34] chrisvest commented on #12038
GENERAL just means it's not a UNIQUENESS CONSTRAINT index.

[2018-10-12 09:57] tinylion1024 commented on #4935
There is something wrong with your file format. Please check it.

[2018-10-12 11:09] #12044 closed, assigned to SaschaPeukert

[2018-10-12 11:19] fickludd commented on #12042
@algarsi3 I agree with your sentiment that the planner should understand to use the index to perform two range seeks in this case. As the query does not return the wrong results however, we will not fix this in the 3.4 series, but defer fixing it until a later version (3.5 is close to being released, so it will not make that series either unfortunately).

You may close this issue if you want, or w

[2018-10-13 11:07] #12036 closed, assigned to SaschaPeukert

[2018-10-14 23:34] cjdaly commented on #9693
@zhenlineo and @technige, I made another pass on this where I re-imaged the microSD with Raspbian (still using 2018-06-27 "Stretch with Desktop") and did the initial setup (including the `/etc/security/limits.conf` changes identified in the previous comment) and then ran the script I pasted 2 comments ago (with: `sudo ./sudo-setup.sh`).

I did the above to try to reproduce the behavior I noted in

[2018-10-15 07:49] burqen commented on #12038
First two commits merged
https://github.com/neo4j/neo4j/commit/833dc6af9a207f2ee87f79a96e2b6093357f9698
https://github.com/neo4j/neo4j/commit/7570f4f57c2933a3a4b820a7f4346337bcfef35c

Waiting for one more to come that will also include failure cause when printing
[code]

[2018-10-15 12:10] jschmidtWK commented on #9541
@digitalstain Hi, is the issue being closed meaning it was resolved ?

We are still seeing this behavior crop up from time to time on our cluster despite an upgrade to 3.3.0.

[2018-10-15 12:27] digitalstain commented on #9541
No, apologies, I interpreted your last comment as you having found the cause. I'll revert this to open.

[2018-10-15 12:53] craigtaverner commented on #11986
The root issue here is that this is a very large amount of data with a large number of duplicate `Person` nodes, and the process of detecting duplicates requires an index lookup, which is of order log(n).

If you keep the current input file with one record per relationship and many duplicate persons, then the best approach is the one you have taken, which is to use `MERGE` on the nodes and `CREATE

[2018-10-15 12:53] #11986 closed, assigned to SaschaPeukert

[2018-10-16 09:13] technige commented on #10493
![](https://github.trello.services/images/mini-trello-icon.png) [Rejuvenate HTTP transactional endpoint](https://trello.com/c/ALFE4DKx/383-rejuvenate-http-transactional-endpoint)

[2018-10-16 20:25] maxlever commented on #12050
have you tried increasing your open files limit?
https://neo4j.com/docs/operations-manual/current/installation/linux/tarball/#linux-open-files
(change the two lines in step 2 to start with your username)

[2018-10-17 07:28] amyrprv commented on #7711
I use windows server, I tried Cygwin but nothing happened. it won't copy my old store to a new one.

[2018-10-17 08:25] technige commented on #9683
![](https://github.trello.services/images/mini-trello-icon.png) [Implement flow control and back pressure throughout Bolt stack](https://trello.com/c/T60XILkt/24-implement-flow-control-and-back-pressure-throughout-bolt-stack)

[2018-10-17 08:26] klichukb opened #12053 "Consistent growth of lucene_native-1.0 index"
- Neo4j version: 3.4.6
- Operating system: Docker (based on official ` neo4j:3.4.6-enterprise` image).
- API/Driver: Spring Neo4j OGM

Steps:
1. Create HA cluster of 1 master and 2 slaves.
  Each instance:
 AWS m5.large. Overall RAM available: 7.5GB.
 DB size after boot - around 800MB. 1 mil nodes.
SSD size of data volume - 20GB.

2. Connect with Neo4j OGM from a Spring microservices, write/read d

[2018-10-17 09:35] chrisvest commented on #12053
Lucene cannot remove old segments that may still be accessed by active index readers. Index readers are closed when their enclosing transaction is closed. So you should double-check that do not leak open transactions somewhere.

[2018-10-17 16:00] klichukb commented on #12053
Thanks @chrisvest.
Would my `:sysinfo` report show me a lot of open transactions? I always get maximum 2 (mostly 1). Not really sure where to start though, I'm using OGM.

`@Transactional` for services which use Neo4j repositories, not handling transactions manually at all. Anything I can share to get some help tracking this down?

[2018-10-17 19:02] mikeblum opened #12054 "Empty Transactions Blocking Queries"
- Neo4j version: 3.4.3
- Operating system: Ubuntu 16.04
- API/Driver:
[code]
Using the bundled OGM version:
OGM   |     Neo4j              |   Bolt   | SDN    | Spring Boot
3.0.0+ | 3.1.x, 3.2.x, 3.3.x | 1.4.0+ | 5.0.0+ | 2.0.0+

On two of our long running database instances (each c5.large on AWS) we periodically see transactions and queries wait a long time (if not never) to be executed. The issu

[2018-10-17 21:54] klichukb commented on #12053
At least to keep production safe, I started using `lucene_native-2.0`. Since my indexes used are all strings, native index in 2.0 would support them, without need to use regular lucene ones. Tried and I don't seem to be getting increasing amount of files in test environment. Tempted to try on production.

Still, just avoiding the issue, I believe.

[2018-10-17 23:56] graphadvantage opened #12055 "Feature Request: Row Number for RETURN"
Hi

A really useful feature for programatic control would be an introspectable row_number object as parameter for RETURN

or maybe row_number is a RETURN-able function like timestamp, this might be the cheapest way to implement.

Thanks

Michael

** added some notes below ***

[2018-10-18 09:20] ikwattro commented on #6959
So, after a cool chat with the drivers team, it seems that the issue is resolved. The header informs of the minimal bytes range supporting the value.

[2018-10-18 09:20] #6959 closed, assigned to zhenlineo

[2018-10-18 10:24] chrisvest commented on #12053
As long as you don't index arrays or booleans, don't use composite indexes, and don't use `contains` or `ends with` queries, or need to index strings with more than 4.000 or so characters, then `lucene+native-2.0` should be fine. There might be a bug with how Lucene is integrated in those index providers.

[2018-10-18 12:43] MishaDemianenko commented on #12053
Hi @klichukb

First of all thanks for the detailed report.

In case if you have only one transaction open for most of the time leaking transaction and related index readers should not be the root cause of the described behaviour.

Also, it sounds like you have a test environment where you can easily reproduce the problem.
In that case, would it be possible to start affected test environment with s

[2018-10-18 13:59] frant-hartm opened #12056 "Document behaviour for repeated keys in neo4j.conf"
It seems that when there is the same property key repeated multiple times in neo4j.conf, it uses the last value of the property.

I could not find anywhere in the documentation that this is the behaviour, but it seems to come from this impl of the config loader: https://github.com/neo4j/neo4j/blob/3.4.7/community/kernel/src/main/java/org/neo4j/kernel/configuration/Config.java#L375

This behaviour

[2018-10-18 17:21] ivan-kleshnin commented on #11955
Same problem:

https://gist.github.com/ivan-kleshnin/e07161828db50c0f94040a1b929a8443

Database just crashes after some time on a server with no visitors...
Centos 64-x, 1 Gib RAM, nothing fancy. I know that Neo4j wants more RAM but, come on, can't it just slow down or something. My database is a demo and takes almost no space:

[code]

Which logs I supposed to see if THAT message was taken from `

[2018-10-19 06:07] BrainAnnex opened #12057 "Could not find java at C:\Program Files (x86)\Java\jdk1.8.0_181\bin\java.exe"
The Neo4j server was starting just fine...  Then I uninstalled and re-installed Java (to deal with another issue), and now the Neo4j  server cannot even start!

- Neo4j version: Community Edition 3.4.9
- Operating system: Windows 10

- **Steps to reproduce**
1) Start the Windows10 Power Shell
2) Issue the command  `D:\neo4j\bin\neo4j console`  (  D:\neo4j  is my Neo4j install directory)
- Expected

[2018-10-19 07:40] BrainAnnex commented on #12057
I managed to hack my way around this issue by going into `NEO4J_HOME\bin\Neo4j-Management\Get-Java.ps1` and changing the line:
`$javaPath = ''`
to
`$javaPath = 'C:\Program Files\Java\jdk1.8.0_181'`   _(the actual location of Java in my machine)_

Is there a way for a user not to have to drill down into that file?  Could the $javaPath be set in the general configuration file?  Or better yet extract

[2018-10-19 12:59] fickludd commented on #10316
Pending a formalization from OpenCypher, we will not change the current Neo4j Cypher to support Pattern maps in `WHERE` clauses. The current syntax allows expressing the wanted query as

[code]

[2018-10-19 12:59] #10316 closed, assigned to nobody

[2018-10-19 16:07] technige commented on #12055
What would you want to do with that row number?

[2018-10-21 15:58] Fohlen commented on #11771
I am encountering this as well. weird.

[2018-10-22 07:45] sherfert commented on #10310
The problem with this is that whether the `NodeIndexSeek` is the best plan, depends on the length of `allowedIDs`. So a heuristic that always plans it can lead to regressions for longer lists. A cost evaluation of the alternatives would be the right thing to do here. Unfortunately, that is not so easy to include at this part. We decided, for now, not to fix this problem. I hope you understand.

[2018-10-22 07:45] #10310 closed, assigned to sherfert

[2018-10-22 07:46] sherfert commented on #10310
The problem with this is that whether the `NodeIndexSeek` is the best plan, depends on the length of `allowedIDs`. So a heuristic that always plans it can lead to regressions for longer lists. A cost evaluation of the alternatives would be the right thing to do here. Unfortunately, that is not so easy to include at this part. We decided, for now, not to fix this problem. I hope you understand.

[2018-10-22 08:05] oskarhane commented on #9846
We're unable to reproduce this. Please try it in recent versions of neo4j-browser and open an issue on https://github.com/neo4j/neo4j-browser if it still exists.

[2018-10-22 08:05] #9846 closed, assigned to nobody

[2018-10-22 08:05] oskarhane commented on #9846
We're unable to reproduce this. Please try it in recent versions of neo4j-browser and open an issue on https://github.com/neo4j/neo4j-browser if it still exists.

[2018-10-22 08:09] oskarhane commented on #9729
This is because they are stores in the web browsers local storage, and that storage is isolated to the url you're working on.
The solution is to use browser sync.

[2018-10-22 08:09] #9729 closed, assigned to nobody

[2018-10-22 08:09] phughk commented on #11946
@rafaelluna @billscheidel This is included in 3.4.8 but I would recommend jumping straight to 3.4.9. Please let me know this has resolved the issue for you so that we can close this.

[2018-10-22 08:09] phughk commented on #11946
@rafaelluna @billscheidel This is included in 3.4.8 but I would recommend jumping straight to 3.4.9. Please let me know this has resolved the issue for you so that we can close this.

[2018-10-22 08:16] oskarhane commented on #3112
This refers to 'web admin' which is retired since long now.
If this feature request still is valid, feel free to open it on https://github.com/neo4j/neo4j-browser

[2018-10-22 08:16] #3112 closed

[2018-10-22 09:03] #10717 closed, assigned to nobody

[2018-10-22 09:18] Lojjs commented on #10717
@thefliik As part of our effort to clean up old Github issues, I'll close this one now since we have separate tracking for the documentation card and you seemed happy with the explanation above.

[2018-10-22 09:18] Lojjs commented on #10717
@thefliik As part of our effort to clean up old Github issues, I'll close this one now since we have separate tracking for the documentation card and you seemed happy with the explanation above.

[2018-10-22 09:49] davidoliverSP2 commented on #6073
@mneedham Could you take a look at this question relating to Graph Algorithms?

[2018-10-22 09:51] fickludd commented on #12037
Hi @VitaliiNikitchyn,

This is something that is on the plate for some future Neo4j version, but as there is much interesting functionality waiting to be implemented, so we do not know when we'll actually get to it.

Feel free to close the issue or leave it open as you wish.

[2018-10-22 09:55] boggle commented on #12042
For this particular query, you can work around this issue using UNION.

[2018-10-22 09:57] fickludd commented on #12042
To elaborate, use `UNION` by doing:

[code]

[2018-10-22 10:01] mariascharin commented on #11073
@pumpadump Thank you, and apologies for the very late response!
We have actually removed platform-specific commands with the thought that a sys admin would know the appropriate commands for their particular platform.
For 3.4 and onwards, we use the `neo4j-admin memrec --database` for advice about sizing.
Regards,
Maria

[2018-10-22 10:01] #11073 closed, assigned to nobody

[2018-10-22 10:16] jennyowen commented on #11698
It looks like the `neo4j` service doesn't have permissions to write to `/var/log/neo4j/`.
What command are you using to start the service?

I assume you're running the reproduction steps as sudo user?

[2018-10-22 10:29] #12034 closed, assigned to nobody

[2018-10-22 10:30] andreikoval commented on #12034
Fixed

[2018-10-22 10:34] andreikoval commented on #12041
@PawanWagh any updates on this? did you manage to find out which process holds the lock on the file?

[2018-10-22 11:13] mariascharin commented on #11073
@pumpadump Thank you, and apologies for the very late response!
We have actually removed platform-specific commands with the thought that a sys admin would know the appropriate commands for their particular platform.
For 3.4 and onwards, we use the `neo4j-admin memrec --database` for advice about sizing.
Regards,
Maria

[2018-10-22 11:13] mariascharin commented on #11073
@pumpadump Thank you, and apologies for the very late response!
We have actually removed platform-specific commands with the thought that a sys admin would know the appropriate commands for their particular platform.
For 3.4 and onwards, we use the neo4j-admin memrec --database for advice about sizing.
Regards,
Maria

[2018-10-22 12:33] remyleone commented on #11698
I'm running this script as root. The script I gave you can reproduce the error. I didn't use any other command.

[2018-10-22 18:12] felipebn opened #12058 "UnknownError when querying the database"
When querying the database I'm getting the following error:

[code]

I'm not able right now to provide a small db/query to reproduce it.

Notes:
- Changing the database to run with CYPHER runtime INTERPRETED works fine.

**Neo4j Version:** 3.4.0-enterprise, 3.4.4-enterprise, 3.4.9-enterprise
**Operating System:** Ubuntu 18.04 / Windows 10 / Docker
**API:** Cypher

Neo4j debug log exception: https:

[2018-10-22 18:26] tinwelint commented on #11969
@mikesname your jstack.txt merely shows that the page cache is flushing dirty pages at closing time. Nothing frozen about it.

[2018-10-23 07:40] sherfert commented on #12058
Hi @felipebn  and thanks for the report.
Without knowing the query that caused this error, it will be very hard for us to pin it down. Is there any way for you to find the query that led to this error?

[2018-10-23 07:52] sherfert commented on #9917
We haven't heard back in quite a while. Please reopen if necessary.

[2018-10-23 07:52] #9917 closed, assigned to sherfert

[2018-10-23 07:53] sherfert commented on #10472
@sergejskovtuns or  @oskarhane Can you confirm this issue is fixed? (And close the issue in that case?)

[2018-10-23 07:54] sherfert commented on #11542
@fickludd Did your PR fix this issue?

[2018-10-23 07:56] sherfert commented on #11929
@h-oll Thanks for the report. Where is `_uuids` defined. That would help us reproduce.

[2018-10-23 07:58] sherfert commented on #11938
@protheusfr Did the page cache configuration help to alleviate the problem?

[2018-10-23 08:31] sherfert commented on #11959
@Manish-Giri In Table 3.42 of the documentation you linked the component group of each accessor is listed. `.days` belongs to the component group `Days` and `.milliseconds` belongs to the component group `Seconds`. These component groups are distinct and not automatically converted. This is admittedly quite confusing. In the example of `duration('P5M1.5D')` the `0.5 days` result in 720 minutes (pa

[2018-10-23 08:31] #11959 closed, assigned to nobody

[2018-10-23 08:40] protheusfr commented on #11938
Nop, same results.
I guess we had no options to rewrite entirely the request (and maybe the model)

[2018-10-23 09:01] mikesname commented on #11969
@tinwelint okay good to know! But it's sitting there using 100% CPU for an indefinite period of time whilst shutting down which seems strange to me... I will try and investigate further since this is blocking me updating to 3.4.

[2018-10-23 09:07] fickludd commented on #11542
@sherfert yes, this is fixed.

[2018-10-23 09:07] #11542 closed, assigned to nobody

[2018-10-23 09:44] mariascharin commented on #10254
@senica I apologize for the very late response on this issue!

All the connector configuration is available on the dedicated page https://neo4j.com/docs/operations-manual/3.1/configuration/connectors/ (or https://neo4j.com/docs/operations-manual/current/configuration/connectors/ for the most recent release).

Regards,
Maria

[2018-10-23 09:44] #10254 closed, assigned to nobody

[2018-10-23 09:44] sherfert commented on #12051
Hi @ontana thanks for the report.
This seems to be a bug that was introduced in the 3.4 series.

[2018-10-23 10:04] felipebn commented on #12058
Hi @sherfert

Many thanks for the quick reply!

I'm attaching a sample query that fails here https://gist.github.com/felipebn/6db8eac224c20d3354a3b8443894f3d5 .

Hints:

- If I remove the last `OPTIONAL MATCH` the query executes fine.
- Splitting the last `OPTIONAL MATCH` into two also works fine

Let me know if that helps further investigating the issue.

[2018-10-23 13:26] sherfert commented on #12058
@felipebn Thanks. It would be extremely helpful to have a (small) dataset to reproduce the error, since it does work fine on an empty database. Can you make such a dataset available to us?

[2018-10-23 16:08] themaco commented on #12040
Any light on this guys?

[2018-10-23 16:36] rafaelluna commented on #11946
@phughk I upgraded to 3.4.9 and it worked great, even using a different user other than neo4j. Thanks.

[2018-10-24 04:52] ontana commented on #12051
Hi @sherfert, thank you for your reply. Looking forward to hearing you soon.

[2018-10-24 07:58] jennyowen commented on #11954
Thanks for reporting this!
The fix will be released in versions 3.3.8, 3.4.10 and the 3.5 release candidate.

[2018-10-24 07:58] #11954 closed, assigned to jennyowen

[2018-10-24 08:20] h-oll commented on #11929
@sherfert : it's coming from an earlier part of the query: Either because it was user defined and passed as a parameter  (I usually put all the parameters at the top of the query inside a WITH {_uuids} AS _uuids) or as a result of a previous step and obtained via a `COLLECT`.

[2018-10-24 08:25] jennyowen commented on #11698
I tried reproducing this using neo4j 3.3.7 and found that I could only reproduce it if I used `sudo neo4j
start` to start the neo4j service instead of `systemctl`. The service didn't start automatically for me.

I think the problem is caused by the installer not creating all the necessary folders on installation, so when the neo4j service starts it creates those folders. If the service starts with

[2018-10-24 08:25] #11698 closed, assigned to jennyowen

[2018-10-24 10:44] GreenGood opened #12059 "Setting cypher.lenient_create_relationship doesn`t work"
It seems that setting `cypher.lenient_create_relationship=true` doesn't work. After restart server i still receive errors
`org.neo4j.kernel.impl.query.QueryExecutionKernelException: Failed to create relationship '  UNNAMED102', node 'm' is missing. If you prefer to simply ignore rows where a relationship node is missing, set 'cypher.lenient_create_relationship = true' in neo4j.conf`

My statement:

[2018-10-24 11:40] sherfert commented on #11929
The problem the planner encounters is this part: `OR _uuids = []`. To verify that, you can remove that part from the query, and then it will be solved with a `NodeIndexSeek` instead of `NodeByLabelScan`.

The index can only solve the predicate `en._uuid IN _uuids`. In the case where `_uuids` _is_ empty, the index cannot help in providing the results. This is why a `NodeByLabelScan` is needed.

[2018-10-24 15:44] treilhes opened #12060 "Disabling authentication on monitoring endpoint for ha or causal mode failed"
## bug report

Trying to monitor a causal cluster using ansible, i need to access monitoring endpoints without any authentication. Happy first to find it was a built-in feature then disapointed to find the configuration options were not effective

**Neo4j Version:** 3.4.6
**Operating System:** RedHat 7
**API:** REST in browser

### Steps to reproduce
1. turn on security : dbms.security.auth_enable

[2018-10-25 00:55] bsquire0128 commented on #12043
I tried using 3.4.9 and confirmed high-io = true works. 3.4.0 must not be able to do high-io import

[2018-10-25 07:41] h-oll commented on #11929
Well I thought I understood:

If I follow you correctly, when writing `WHERE en._uuid IN _uuids` the planner will correctly use the index even if it happens that `_uuids = []`.

So I imagined that adding to the `WHERE` clause a test on something not related to the matched nodes would not mess up the way the planner would behave on the first part of the clause. What's preventing the planner to work

[2018-10-25 08:43] jennyowen commented on #11074
Thanks for taking the time to report the issue.

I'm going to close this since it seems to be an Ubuntu bug that's since been fixed.
I tried installing 3.3.3 on ubuntu 14.04 and it installed as expected. I checked Neo4j 3.3.4 and it uses tar.gz compression on control instead of tar.xz.

[2018-10-25 08:43] #11074 closed, assigned to nobody

[2018-10-25 08:46] jennyowen commented on #10307
Closing this because it looks to have been implemented:
https://neo4j.com/download/other-releases/ :tada:

[2018-10-25 08:46] #10307 closed, assigned to nobody

[2018-10-25 08:58] sherfert commented on #11929
Setup:

[code]

Now this query will return 2 of the 4 nodes:

[code]

It will return the same removing `OR _uuids = []`
On the other hand, with this query, you will get all 4 nodes as the result, even the one that does not have the property:

[code]
If you remove  `OR _uuids = []` here, you will instead get no results (and these 0 results will come from the index).

Since it is not possible to fin

[2018-10-25 09:06] andreikoval commented on #12040
The root cause of the issue has been found and is related to a low level implementation detail. It only manifests itself in a rather specific conditions and should not be a problem in general, since it can be easily worked around by retrying failed transaction. I'm very sorry that you faced this problem, but at the moment there's no plan to fix it (it's in the backlog though). Once again, thanks a

[2018-10-25 09:06] #12040 closed, assigned to nobody

[2018-10-25 15:37] MishaDemianenko commented on #12050
Hi @ranlandau, please try to increase your system open file limit, as recommended above. I will close the issue but please feel free to reopen it in case problem persist after settings update.

[2018-10-25 15:37] #12050 closed, assigned to nobody

[2018-10-25 16:31] felipebn commented on #12058
I will prepare a dataset where it happens and share the graph.db folder with you until next week.

thx!

[2018-10-26 07:58] kdwykleingeld opened #12061 "Linkedin Oauth User Authentication did not work"
During install of desktop 1.1.10 i noticed that the "linkedin" federated oauth authentication method did not work. Nothing happend and i only saw a blank screen. Using the GitHub based oauth method worked fine. Something to test maybe.

BTW.. the upgrade process to 3.4.9 resulted in teh fact that i could not start the database anymore and had to de-install the desktop and reinstall it after which

[2018-10-26 09:41] crazyyanchao opened #12062 "neo4j-3.4.7 dump file to neo4j-3.4.9 error"

[2018-10-26 10:36] ujfjhz commented on #7225
+1

[2018-10-26 12:46] sonali1192 commented on #10657
Hello All ,

I have installed latest version of neo4j but while starting I am getting following error in log file

2018-10-26 12:28:56.956+0000 WARN  WARNING! Deprecated configuration options used. See manual for details
2018-10-26 12:28:56.959+0000 WARN  dbms.allow_format_migration has been replaced with dbms.allow_upgrade.
2018-10-26 12:28:56.983+0000 INFO  ======== Neo4j 3.4.9 ========
2018-10-

[2018-10-26 13:21] oskarhane commented on #12061
Hi and thanks for the report @kdwykleingeld!
Could you please open it in [the neo4j-desktop repo](https://github.com/neo4j-apps/neo4j-desktop) instead, since this is only for the database itself.

Thanks in advance.

[2018-10-26 13:21] #12061 closed, assigned to nobody

[2018-10-27 00:06] peidaqi opened #12063 "neo4j-admin import with --ignore-missing-nodes hangs on large csv file"
I'm trying to import several csv files for a graph of 30mln nodes and 61mln relations. The nodes have been filtered down to 340k so the relation file contains lots of missing nodes. For simplicity I'm using the new neo4j-admin tool instead of the deprecated neo4j-import, which supports a new parameter '--ignore-missing-nodes'.

However, the system always hangs at about 80% of the relation import w

[2018-10-28 04:29] ajit1234 commented on #9646
Not working in version 3.4.7 community

[2018-10-28 12:16] mahmoudafer commented on #9646
Not working in version 3.4.0, 3.4.1, nor 3.4.9 ( I tried only these) on Neo4j desktop 1.1.10. Anyone?

[2018-10-28 20:25] ali-ince commented on #9646
Hi @ajit1234 and @mahmoudafer,

Could you please provide more info about your environment?

1. What version of Windows are your running on?
2. Are you both running with Neo4j Desktop?
3. What is the folder Neo4j Desktop is configured to use? or what is the folder you're trying to run neo4j from?
4. Could you attach logs from Neo4j Desktop? If not on neo4j desktop, could you try adding `-verbose` a

[2018-10-28 20:36] mahmoudafer commented on #9646
Hello, I just uninstalled the desktop app and going to install it on ubuntu. However, I can give you the info hoping it helps others. I think it might be because of java version incompatibility:

1. Windows Version: 10 pro build 17134
 Neo4j Desktop App version: 1.1.10
Neo4j versions tested: 3.4.0, 3.4.1, & 3.4.9

2. Yeah desktop app

3.C:/users/USER_NAME/

4. It's deleted but I have written the e

[2018-10-29 07:34] sherfert commented on #12062
@crazyyanchao Could you provide a description of your error?

[2018-10-29 07:35] #10472 closed, assigned to Lojjs

[2018-10-29 07:54] crazyyanchao commented on #12062
@sherfert Hi, I am so sorry! It's ok after  just changed open files numbers. :)
open files                      (-n) 65536

[2018-10-29 08:54] sherfert commented on #12062
Thanks!

[2018-10-29 08:54] #12062 closed, assigned to nobody

[2018-10-29 09:33] SaschaPeukert commented on #12059
Hej @GreenGood ,

Thanks for reporting this. We will have a look at this problem.

Cheers,
Sascha
Neo4j Cypher Team

[2018-10-29 10:13] davidoliverSP2 commented on #268
Comment from @jennyowen:

`man neo4j-admin` tells you to check `neo4-admin help`.
`neo4-admin help` says you can do `neo4j-admin help <command>` to get more details on subcommands. Which seems to be true for backup.

I checked this on ubuntu 16.04, against the latest released 3.4.

-------

Closing issue.

[2018-10-29 10:13] #268 closed

[2018-10-29 10:16] technige commented on #12055
To expand on my question a little further, I'd like to understand whether you are asking for:

1. A counter for records in a result stream
2. A reference to some underlying store identifier
3. Something else

In the case of (1) this could easily be added by a client application, the driver would need to do nothing special.

For (2) it would be important to understand what remote identifier you wou

[2018-10-29 15:20] micuncang commented on #9726
The bug still exists in 3.4.7 community. VERY Confusing

[2018-10-29 23:47] themaco commented on #12040
Got it, thanks @andreikoval. Let me know if there's a way I could contribute!

[2018-10-30 01:11] shenGrant opened #12064 "solr search engine with Neo4j"
## Guidelines

Hi,
I have an issue about if Neo4j can be integrated with solr. My purpose is to add personal recommendation using graph calculations in searching. Are there some solutions for me to implement?

thanks a lot.

- Neo4j version: 3.4.9
- Operating system: windows 7

[2018-10-30 08:25] ajit1234 commented on #9646
Hello,
    I suspected if some windows updates had installed day before i saw this
issue. So i restarted the machine and found this issue gone.

Thanks,
Ajit

On Mon, Oct 29, 2018 at 2:06 AM mahmoudafer <notifications@github.com>
wrote:

[2018-10-30 10:08] chrisvest commented on #12064
In 3.4 you can use the (deprecated) explicit indexes to do fulltext search: https://neo4j.com/docs/developer-manual/current/cypher/schema/index/#explicit-indexes-procedures

In 3.5, there will be support for fulltext schema indexes: https://neo4j.com/docs/cypher-manual/3.5-preview/schema/index/#schema-index-fulltext

[2018-10-30 13:00] Lojjs commented on #12016
@vrazdobudko Since this isn't really a bug but more of a known performance limitation that can be enhanced (see my reply above), we have decided that we will not fix it in version 3.4. Also we are late in the release cycle for 3.5 but we have taken your feedback into account and an enhancement of shortest path that will allow your query to get a better plan will most probably come in the version a

[2018-10-30 13:00] #12016 closed, assigned to SaschaPeukert, Lojjs

[2018-10-30 14:24] aanastasiou opened #12065 "Query parser allows multiple pattern entities to bind to the same variable name"
The parser accepts and attempts to execute queries that have the same pattern variable bind to different entities.

**Neo4j Version:** 3.4.5 (Community)
**Operating System:** Ubuntu 16.10
**API:** Behaviour is consistent across the Browser and `cypher-shell`.

### Steps to reproduce
1. Load the Movie graph
2. Try to execute `MATCH (a:Person)-[:ACTED_IN]-(a:Movie) return a.name`

### Expected behav

[2018-10-30 15:04] jennyowen commented on #10028
I tested this with 3.4 and it seems to have been fixed since you reported the issue.
I've added tests so it shouldn't happen again.
Thanks for reporting the issue!

[2018-10-30 15:04] #10028 closed, assigned to jennyowen

[2018-10-30 16:55] aonamrata commented on #11429
I downloaded latest app today and still getting this error.. I tried to keep password simple as test123 still no luck. I tried setting the TMP env too and restart.

![image](https://user-images.githubusercontent.com/1792005/47735565-c6983580-dc92-11e8-98a2-1f8f470039ce.png)

[2018-10-31 10:06] CodeDogDream opened #12066 "Exception logs every 3 seconds server side"
One of our customer db has log entries every 3s, the origin is unknown.
Neo4j Version: 3.2.3 & 3.4.1
Operating System: Centos
API: JAVA
Actual behavior
`2018-10-31 09:49:12.078+0000 WARN [io.netty.channel.DefaultChannelPipeline] An exceptionCaught() event was fired, and it reached at the tail of the pipeline. It usually means the last handler in the pipeline did not handle the exception. Connectio

[2018-10-31 10:10] chrisvest commented on #12066
"Connection reset by peer" means that from the point of view of the server, it looks like the client closed the connection. In practice it could also be a firewall that terminated the connection. Firewalls sometimes terminate connections that idle for too long.

[2018-10-31 10:13] CodeDogDream commented on #12066
When we manually sent the request, there was no similar problem and it should not be a firewall problem

[2018-10-31 12:19] xiaozw123 commented on #11429
I also encountered such a problem, uninstall or reinstall the same error.

[2018-10-31 13:38] ali-ince commented on #9646
@mahmoudafer Does your password include some special characters like `{`, `}`, `[`, `]`, `&`, `"`, etc? If so, could you please try with an alternative one that doesn't contain such characters?

[2018-10-31 16:06] jennyowen commented on #10926
The fix for #11954 should also fix this issue. I verified this in Ubuntu 16.04 and Neo4j 3.3.8.
The fix is in 3.3.8 and will be in 3.4.10 and 3.5.0  when they are released.
Thanks for reporting the issue!

[2018-10-31 16:06] #10926 closed, assigned to nobody

[2018-10-31 16:50] mahmoudafer commented on #9646
@ali-ince no i tried several passwords with letters only and didn't work

[2018-11-01 11:07] #12059 closed, assigned to SaschaPeukert

[2018-11-01 14:37] craigtaverner commented on #12065
This is actually correct behaviour and can return real results with the appropriate graph. What the query means is that you are looking for a node that has both labels `:Person` and `:Movie` and has a relationship `:ACTED_IN` to itself.

Because nodes can have self-relationships and also can have multiple labels, this query can fulfil a real purpose in recognising those cases.

Here is an example

[2018-11-01 14:37] #12065 closed, assigned to craigtaverner

[2018-11-01 17:22] aanastasiou commented on #12065
That's great, thank you very much, I stand corrected :)

[2018-11-01 21:43] sranasir opened #12067 "Neo4j browser Not Reading database"
Using Neo4j 3.4.4, I am trying to read my local database on localhost:7474. The credentials are good and I am able to log in. The database, however, does not show up. `dbms.active_database` points to the correct database folder. This was working fine with Neo4j 2.x until I upgraded it to 3.x recently. This closed issue is similar in nature but the mentioned reasoning but does not seem to hold true

[2018-11-02 13:58] craigtaverner commented on #12067
I've notified the browser team to look into this, but could I check if you are sure of two things:

* Are you really using the latest browser that comes with the version of Neo4j you are running? Try go to http://localhost:7474 (not anything else, especially not the `/url` you hinted above) and also try force reload.
* Is is possible you are not entering the correct credentials for the login.

[2018-11-02 15:09] craigtaverner commented on #12049
The message `Neo4j Server shutdown initiated by request` indicates that the server was explicitly asked to shutdown, either by the neo4j script, or by a plugin or procedure. Are you very sure you are running in a secure environment with no additional code? If you are using plugins or procedures, make sure they never call `System.exit`.

[2018-11-02 15:18] craigtaverner commented on #12046
Since the mistake seems to be occurring before java is even being called, this is presumably a mistake in the bash script running neo4j. I would suspect lines 208-210 of the neo4j script which reads the neo4j.conf.

[2018-11-02 15:48] craigtaverner commented on #12032
I tested this on 3.4 by setting an empty string[] on a property, and was able to read this back fine with the above query. Perhaps this issue is fixed in later releases or is specific to the data setup. How did you add the empty array to the node property in the first place?

[2018-11-02 15:56] craigtaverner commented on #11965
Can I ask how you installed Neo4j? Normally when you install it you install a specific version (and get a download with the version number in the installation file), so in the normal case you would know the version. My suspicion here is that this was not installed in one of the normal ways, and perhaps as a result there are missing dependencies, or missing subdirectories, for example the contents

[2018-11-02 16:00] craigtaverner commented on #11960
@razaulhaq, I'm guessing this is an issue related to 'Neo4j Desktop'. Is that how you installed and upgraded Neo4j?

[2018-11-02 16:09] craigtaverner commented on #11933
3.1.3 is no longer a supported release. The website you linked above does have a 3.2.13 release for windows, and a link for the .zip file (see the link titled `Neo4j 3.2.13 (zip)`. If you specifically need 3.1.3, you could try the link https://neo4j.com/artifact.php?name=neo4j-community-3.1.3-windows.zip

[2018-11-02 16:09] #11933 closed, assigned to nobody

[2018-11-02 16:12] craigtaverner commented on #11921
This conversation was taken directly.

[2018-11-02 16:12] #11921 closed, assigned to nobody

[2018-11-02 16:15] craigtaverner commented on #11417
I believe the answer above regarding the lack of ssh tunnel for the bolt port is correct and am closing this issue. Please reopen with more details on the configuration of the ssh tunnels if and the open-stack configuration if the problem is persisting.

[2018-11-02 16:15] #11417 closed, assigned to nobody

[2018-11-02 16:18] craigtaverner commented on #10696
Hi @johnpatil. Sorry this issue has not received a response. I think it is because the github issues are usually where people report problems with the database, and questions like yours, data modeling questions, are usually handled in the community forums. Recently we created a new forum for community discussion, and I welcome you to ask any data modeling questions there.

See https://community.ne

[2018-11-02 16:18] #10696 closed, assigned to nobody

[2018-11-02 16:24] craigtaverner commented on #10225
@eastlondoner I don't see a PR or a change to the README. Perhaps more recent work to support newer JVM's has reduce the need. But feel free to make the PR or re-open this issue.

[2018-11-02 16:24] #10225 closed, assigned to eebus

[2018-11-02 16:39] craigtaverner commented on #9599
This issue has been lying dormant for a long time. I assume we can close it. Please re-open it if you are still having troubles.

Also, I noticed that you mentioned building your own geohash. You might take a look at Neo4j 3.4 which uses space-filling curves (a bit more efficient than geohashes, which are z-order curves). The space-filling curves were also implemented in the spatial library, but n

[2018-11-02 16:39] #9599 closed, assigned to nobody

[2018-11-02 16:43] craigtaverner commented on #9556
I notice that cypher internally depends on guava 20, while the procedure compiler depends on guava 18. It would make sense to upgrade to at least 20.

[2018-11-02 16:45] #9175 closed, assigned to eebus

[2018-11-02 19:09] michael-simons commented on #9727
Please have a look here:

https://community.neo4j.com/t/neo4j-ogm-spring-data-neo4j-spring-boot-compatibility/2760

On JDK 7 you are stuck with Spring Data Neo4j 4.2 and Neo4j-OGM 2.1.x.

We highly recommend upgrading to a more recent JDK release.

Please reach out on our community site with further question. You could ask them on the given topic abve.

[2018-11-02 19:09] #9727 closed, assigned to nobody

[2018-11-04 18:18] sranasir commented on #12067
Both of these are fine. The `/url` was a typo. I have corrected that.
The issue of database not showing up was resolved as the browser was pulling up the database from the default data directory which contained nothing.
However, the same bolt failure message is still showing up in the logs for some reason.

[2018-11-04 18:36] belarm commented on #11821
"Github issues probably aren't the best place to have detailed licensing discussions"

Then where is, exactly?

[2018-11-05 07:11] oskarhane commented on #2004
This is a very old issue we missed when we broke out neo4j-browser to it's own repo.
Feel free to open it in https://github.com/neo4j/neo4j-browser if the request still stands.
But I do not think we will display more than one property in a node in the viz in neo4j-browser.
Might be something for https://neo4j.com/bloom/ though.

[2018-11-05 07:11] #2004 closed

[2018-11-05 07:18] oskarhane commented on #12067
Currently neo4j-browser wants to know if the database has auth enabled so when it loads it will run a command without credentials to see if it's allowed in.
If you have auth enabled, then the above error massage is shown.
Calling that an 'error' in the logs is overreacting imho. Maybe a 'warning' would be appropriate.
Anyway, neo4j-browser might not do this in the future, and the log entires sever

[2018-11-05 07:18] #12067 closed, assigned to nobody

[2018-11-05 07:20] oskarhane commented on #11960
Could you please open the issue in Neo4j Desktops repository instead @razaulhaq?
https://github.com/neo4j-apps/neo4j-desktop

[2018-11-05 07:20] #11960 closed, assigned to eebus

[2018-11-05 07:22] oskarhane commented on #4806
As this refers to our old Neo4j Desktop and the new version shouldn't have this issue, I'm closing this.

[2018-11-05 07:22] #4806 closed, assigned to nobody

[2018-11-05 07:23] oskarhane commented on #6108
This should not be the experience in more recent versions of neo4j-browser. Feel free to open an issue in https://github.com/neo4j/neo4j-browser if it still exists.

[2018-11-05 07:23] #6108 closed, assigned to nobody

[2018-11-05 07:26] oskarhane commented on #9783
This sounds pretty cool and all, but I don't think this is something we (as in Neo4j, the company) will build.
Feel free to build it yourself by building a server extension.

[2018-11-05 07:26] #9783 closed, assigned to nobody

[2018-11-05 07:36] oskarhane commented on #3232
On the roadmap of neo4j-browser we do have an auto-detecting param's UI that will resolve / fulfill this feature request.
However, we have extracted neo4j-browser's codebase from neo4j's since this issue was posted and we must have missed to transfer this to the new repo.
Since we have this tracked already and this is the wrong repo now, I'm going to close this.
Feel free to open it in https://git

[2018-11-05 07:36] #3232 closed

[2018-11-05 07:53] Lojjs commented on #12051
@ontana Thank you so much for your bug report. We have now merged a fix which will be included in the next 3.4 patch release (3.4.10) as well as our upcoming 3.5 release.

Best regards Louise, Neo4j Cypher team

[2018-11-05 07:53] #12051 closed, assigned to sherfert

[2018-11-05 09:36] tinwelint commented on #12063
Do you have a thread dump or ability to show this and attach possibly obfuscated csv files?

[2018-11-05 09:40] jennyowen commented on #9467
Thanks for reporting this issue, sorry it took so long to address.
This should be fixed by the patch for #11954

[2018-11-05 09:40] #9467 closed, assigned to nobody

[2018-11-05 10:05] craigtaverner commented on #5901
This bug is specific to `neo4j-shell` which is deprecated and replaced by `cypher-shell`.

[2018-11-05 10:23] craigtaverner commented on #3125
Hi @cheerfulstoic, Neo4j 3.5 will have index-backed order by to a sufficient extent to support your idea. But I think that it would have worked to some extent in older versions, as long as you stop using `ORDER BY`.

This is what I think makes sense:

## Neo4j 3.4

With Neo4j 3.4 and earlier you can rely on the fact that index searches will return results in a reproducible order, although not a de

[2018-11-05 10:23] #3125 closed

[2018-11-05 13:15] craigtaverner commented on #5384
It looks like this feature was not included in the new cypher-shell released with Neo4j 3.x. We could consider this.

[2018-11-05 13:29] craigtaverner commented on #6374
This issue does not define what 'Live Queries' means. I did a search for 'live queries' and found two possible descriptions:

* pagination over large results, and suspect that is perhaps what this issue might be above.
* queries that block until a condition is met, and respond the moment that condition is met. See https://orientdb.org/docs//2.1.x/Live-Query.html

For pagination, I think the discus

[2018-11-05 13:32] craigtaverner commented on #6861
I believe this was supported in 3.0 as described in this comment on the related issue #2080:

[2018-11-05 13:32] #6861 closed, assigned to nobody

[2018-11-05 13:35] craigtaverner commented on #7028
The mouse wheel is already bound to scroll the inner-window in the browser.

[2018-11-05 13:40] craigtaverner commented on #7396
I'm guessing this refers to the OpenAPI specification for RESTful web services? If so, perhaps the fact that the REST API in Neo4j is deprecated in favor of BOLT means we will not consider this.

https://en.wikipedia.org/wiki/OpenAPI_Specification

I'll close this issue for now, but if people see value in it, they should feel free to re-open it with more details.

[2018-11-05 13:40] #7396 closed, assigned to nobody

[2018-11-05 13:46] cheerfulstoic commented on #3125
🎉

[2018-11-05 13:57] craigtaverner commented on #7552
Just trying to clarify the request. The two scenarios above both describe data being loaded using `neo4j-import` which is an offline data import tool that requires the database to be shutdown. This means we have a completely new copy of the database, and the only way to know the timestamps of that would be to record that somewhere as part of this offline data import process (perhaps write a timest

[2018-11-05 14:03] craigtaverner commented on #8183
Node level security has been under discussion for some time as an extension to the role-based access control introduced in Neo4j 3.1, and is under consideration. At the moment, however, the only option you have to achieve this is the procedure-based security model (also introduced in 3.1). This approach means that you give specific procedures access to the sub-graphs. The definition of the sub-gra

[2018-11-05 14:16] craigtaverner commented on #181
This issue is 6 years old and there has been no further discussion in the last six years. I'm closing it with the assumption that if there is demand for this, it will come up again.

[2018-11-05 14:16] #181 closed

[2018-11-05 14:21] craigtaverner commented on #7496
It is not clear if this is something that is a feature of the front-end application (eg. browser or cypher-shell), in which case that application will need the parse and edit the cypher query to inject the full set of labels in all the right places, or whether this is an aspect of the Cypher language itself, in which case it needs to be considered as part of the language design.

I will assume the

[2018-11-05 14:29] craigtaverner commented on #8431
This might be related to other language discussions around grouping by ties.

[2018-11-05 14:45] zhenlineo commented on #12018
Hi @calebebrim,
We are closing this issue temporarily because we are missing information from you to help us understand the error better.

Be free to reopen this issue if the problem still persists. When opening the issue, pls provide us more information regards:
[code]
Zhen

[2018-11-05 14:45] #12018 closed, assigned to zhenlineo

[2018-11-05 14:53] zhenlineo commented on #12055
Hi @graphadvantage,

We would like to follow up on this feature request. Could you give us more information by answering @technige 's question?

Zhen

[2018-11-05 16:10] chrisvest commented on #12056
This is unfortunately not supported behaviour. You cannot rely on it.

We will update the documentation to say so.

[2018-11-05 16:10] #12056 closed, assigned to nobody

[2018-11-05 19:30] oskarhane commented on #7028
We have decided to add zoom buttons in full screen view only, due to the already small size the the viz is in the stream of frames.
Feel free to open a feature request in the [neo4j-browser](https://github.com/neo4j/neo4j-browser) repo for the mouse wheel binding.

[2018-11-05 19:30] #7028 closed, assigned to nobody

[2018-11-05 22:23] obfischer commented on #5901
Hi @craigtaverner, does `cypher-shell` behaves differently?

[2018-11-06 02:18] kaerumy opened #12068 "neo4j-desktop segmentation fault when trying to start on Ubuntu 18.10"
- Neo4j version: neo4j-desktop-1.1.10-x86_64.AppImage
- Operating system: Ubuntu 18.10

Segmentation fault when trying to start
### Steps to reproduce

1. Start existing or newly downloaded App Image

~/dev$ ./neo4j-desktop-1.1.10-x86_64.AppImage

### Expected behavior
neo4j Desktop starts and opens
### Actual behavior
Segmentation fault (core dumped)

[2018-11-06 08:56] sherfert commented on #5901
Yes @obfischer :

[2018-11-06 08:57] sherfert commented on #11929
In lack of response I am assuming that my last response cleared out the confusion. Feel free to reopen if that was a premature assumption.

[2018-11-06 08:57] #11929 closed, assigned to sherfert

[2018-11-06 09:00] sherfert commented on #12058
@felipebn any news on that?

[2018-11-06 09:34] oskarhane commented on #12068
Hi, thanks for the report @kaerumy.
Could you please close this and open a new issue in the [Neo4j Desktop](https://github.com/neo4j-apps/neo4j-desktop) repo instead?

[2018-11-06 09:37] craigtaverner commented on #11779
@glaulom Thanks for reporting this. If no-one else has seen this error, and it is no longer occurring for you, I think we can close it for now, but feel free to re-open it if you see this problem again.

[2018-11-06 09:37] #11779 closed, assigned to nobody

[2018-11-06 09:41] craigtaverner commented on #11771
Can you clarify something for me? In the title of the issue and in the description the term `cypher-shell` is used. However in the actual command listed above you instead run `neo4j-shell`. That is a very different application, one that has been deprecated since Neo4j 3.0 in favour of `cypher-shell`. Before we can act on this issue it would be good to know which shell you really meant to run. If i

[2018-11-06 10:03] Fohlen commented on #11771
@craigtaverner for me it is the `cypher-shell`. I have found out what makes this error occur: if your Neo4j instance currently has load on it (say pending transactions) then `cypher-shell` will try to connect but somehow fail, exit, and prompt you with your actual shell again. As soon as all transactions are finished entering `cypher-shell` does work like a charm again.

[2018-11-06 11:25] felipebn commented on #12058
Hey @sherfert !

Sorry for the delay.

I have the same issue with another query, so I'm linking here:

- Query and stacktrace: https://gist.github.com/felipebn/88ccd551781252efa15720fea589e700
- Data set where it's possible to reproduce it: https://we.tl/t-UQCYFWGsXD

Thanks very much for the help!

[2018-11-06 13:57] obfischer commented on #5901
Hi @sherfert, in that case we could close the issue.

[2018-11-06 14:06] #5901 closed, assigned to nobody

[2018-11-06 14:35] chrisvest commented on #12064
I assume that answered your question. If not, then feel free to reopen and provide more detail on what you have in mind.

[2018-11-06 14:35] #12064 closed, assigned to nobody

[2018-11-06 22:22] craigtaverner commented on #11771
Hi @Fohlen. Your description sounds like a different bug than the one reported above, with a different command and different symptoms. Is it possible for you to open a separate issue for what you have observed? Bugs in cypher-shell or in cypher-shell connectivity are worked on by different teams than the bug here which appears to be an embedded database issue with offline use.

[2018-11-07 05:02] kaerumy commented on #12068
Filed issue in correct neo4j-desktop repo https://github.com/neo4j-apps/neo4j-desktop/issues/37

[2018-11-07 05:02] #12068 closed, assigned to nobody

[2018-11-07 15:00] Duanexiao opened #12069 "load csv to update new data into neo4j,but the memory consuming is increasing all the time"
where I use load csv to update new data into neo4j,the server memory consuming is increasing all the time.
At last,the server will left 3G (almost 1.2% ram) memory.Why? any methods to optimize it?
Another problem is that,When I apply the same cypher query,the returned results are all the same,while
the data should be different. Looking foraward your reply, thank you

[2018-11-07 16:34] craigtaverner commented on #6749
I believe this is no longer an issue, so I'm closing the issue. Please re-open if the problem is still there.

[2018-11-07 16:34] #6749 closed, assigned to nobody

[2018-11-07 16:35] craigtaverner commented on #6839
I'm under the impression this old issue no longer exists, but feel free to re-open it if it is still a problem.

[2018-11-07 16:35] #6839 closed, assigned to nobody

[2018-11-07 16:37] craigtaverner commented on #6941
If I understood this discussion above, this is no longer an issue. Please re-open if there are still problems.

[2018-11-07 16:37] #6941 closed, assigned to nobody

[2018-11-07 16:46] craigtaverner commented on #7052
Since this is not a Neo4j issue, and I've heard no concerns for newer versions of Ubuntu in the discussion above, can we close this issue? I think it can still be found with searches, so the useful content in the discussion above will not be lost.

[2018-11-07 16:52] craigtaverner commented on #7203
The PR attached above seems to be the one to fix the issue, so I'm closing this. Re-open it if that was not the case.

[2018-11-07 16:52] #7203 closed, assigned to nobody

[2018-11-07 16:56] craigtaverner commented on #7250
`Neo4j-import` is deprecated in favour of `neo4j-admin import` which does report on invalid arguments. I will close this issue but feel free to open it if the change to neo4j-admin is insufficient.

[2018-11-07 16:56] #7250 closed, assigned to nobody

[2018-11-07 17:01] craigtaverner commented on #11390
This issue appears closed in the linked issue above.

[2018-11-07 17:01] #11390 closed, assigned to nobody

[2018-11-07 17:05] craigtaverner commented on #11586
The issue details above appear to relate to an entirely different and resolved issue regarding write locks. The issue title appears to relate to Neo4j Desktop, which is not the product for which this issue tracker is for. I will close this issue, but if it is in fact a real issue, please reopen either in the Neo4j Desktop issues or here if it is not a Neo4j Desktop problem, and when re-openeing it

[2018-11-07 17:05] #11586 closed, assigned to nobody

[2018-11-07 17:37] andreylh opened #12070 "Unable to open Neo4j Browser on Fedora 29"
I'm unable to open Neo4j Browser on Fedora 29. I installed following the instructions https://neo4j.com/docs/operations-manual/current/installation/linux/rpm/.

**Neo4j Version:** 3.4.9
**Neo4j Browser Version:** 1.1.12
**Operating System:** Fedora 29 (KDE spin)

Error:

neo4j-desktop killed by SIGSERV - abrt

--- Running report_uReport ---
Problem comes from unpackaged executable. Unable to creat

[2018-11-07 18:51] craigtaverner commented on #63
This issue has grown so old without any further comments, I think it should be closed.

[2018-11-07 18:51] #63 closed

[2018-11-07 18:52] craigtaverner commented on #984
I suspect this part of the debian scripts has been re-written since then, and no further comments have occurred on this issue, so I'm closing it.

[2018-11-07 18:52] #984 closed

[2018-11-07 18:58] craigtaverner commented on #1432
Neo4j-shell was deprecated in 3.0 in favor of cypher-shell which uses bolt. It would be interesting to know if this problem also occurs with cypher-shell. I think however that neo4j-shell itself will be removed very soon and so this bug is almost certainly not going to be fixed. I will close the issue in the meantime.

[2018-11-07 18:58] #1432 closed

[2018-11-07 19:01] craigtaverner commented on #1588
Neo4j-shell has been deprecated since Neo4j 3.0, and is replaced by cypher-shell. Please try with cypher-shell and if the same problems exist there open a new issue. Neo4j-shell will be removed from the product soon.

[2018-11-07 19:01] #1588 closed

[2018-11-07 19:03] craigtaverner commented on #1820
Neo4j-shell has been deprecated since Neo4j 3.0 and removed from the code base in Neo4j 3.5.

[2018-11-07 19:03] #1820 closed

[2018-11-07 19:04] craigtaverner commented on #4050
Neo4j-shell has been deprecated since Neo4j 3.0 and will be entirely removed from the product in the next release.

[2018-11-07 19:04] #4050 closed

[2018-11-07 19:05] craigtaverner commented on #4157
Neo4j-shell has been deprecated since Neo4j 3.0 and will be removed from the product in the next release. Please try cypher-shell instead.

[2018-11-07 19:05] #4157 closed

[2018-11-07 19:08] craigtaverner commented on #5246
This issue seems to have gone stale, and appears more like a discussion than a real bug report. I will close it for now, but if this is causing actual problems, please feel free to re-open it with a description of the problem (ie. failing test).

[2018-11-07 19:08] #5246 closed, assigned to nobody

[2018-11-07 19:13] craigtaverner commented on #11920
The description of this issue does not match the title, and there are no further details describing how to reproduce the issue. If this is a real issue, please re-open with a new description that details which version of neo4j you are running, whether in a cluster or standalone and how to tried to edit the conf file and why you believe the editing did not work.

[2018-11-07 19:13] #11920 closed, assigned to nobody

[2018-11-07 19:18] craigtaverner commented on #12069
Please could you describe the problem in more detail. In particular we need to know the Cypher query you used to load the data, whether you used PERIODIC COMMIT or not and how large the CSV file is that you imported.

You have also reported a second issue with a second Cypher query. We also need to know what that query is in order to be able to provide any help.

[2018-11-08 05:14] Nareshkg opened #12071 "neo4j 3.4.1 startup failed with /neo4j.log: No such file or directoryne 417:"
bin/neo4j start
Active database: graph.db
Directories in use:
  home:         /opt/app/software/neo4j
  config:       /opt/app/software/neo4j/conf
  logs:         /opt/app/software/neo4j/logs
  plugins:      /opt/app/software/neo4j/plugins
  import:       /neo4j/data/import
  data:         /neo4j/data/db
  certificates: /opt/app/software/neo4j/certificates
  run:          /opt/app/software/neo4j/r

[2018-11-08 08:10] chrisvest commented on #12069
Also, have you configured the page cache and heap memory sizes? If you haven't, then do that first: https://neo4j.com/docs/operations-manual/current/performance/memory-configuration/

[2018-11-08 08:43] oskarhane commented on #12070
Hi @andreylh, could you please open this issue over in the [Neo4j Desktop](https://github.com/neo4j-apps/neo4j-desktop) repo instead?

[2018-11-08 08:43] #12070 closed, assigned to nobody

[2018-11-08 10:39] craigtaverner commented on #12071
Can I ask how you installed Neo4j, and whether you have edited the neo4j.conf file? It would be great to get a look at the contents of neo4j.conf. Also can you double check that whatever directory you set as the logs directory in neo4j.conf already exists and is writable?

[2018-11-08 10:42] craigtaverner commented on #9258
Hopefully the reference to the documentation above answered the question above. If not, please re-open the issue with more details.

[2018-11-08 10:42] #9258 closed, assigned to nobody

[2018-11-08 11:47] mariascharin commented on #9407
@jhb Thank you and apologies for the very late response!
The documentation has been updated with notes about this limitation in versions 3.2 and onwards.
Cheers,
Maria

[2018-11-08 11:47] #9407 closed, assigned to nobody

[2018-11-08 15:44] jhb commented on #9407
Could you possibly leave a link to the section of the documentation where the limit is mentioned?  Thanks a lot!

[2018-11-09 02:37] COMPIONEZHAO opened #12072 "When using the SDN only can one to one to inject the entities to the MVC container?"
When  I using the SDN's Java-config to configure the "org.neo4j.ogm.session.SessionFactory" to scan the doman packages and expect to inject the  entities to the mvc container,then come out a big error "Caused by: java.lang.ClassNotFoundException: org.neo4j.ogm.drivers.embedded.driver.EmbeddedDriver"!This is why?Thanks!

[2018-11-09 02:47] willvelida opened #12073 "Cannot choose path where I want to store application data in Windows 10"
- Neo4j version: 3.0.0
- Operating system: Windows 10 Pro

- **Steps to reproduce**
1. Download Neo4j for Desktop from website
2. Install as admin
3. Open Neo4j for Desktop.

- Expected behavior - Neo4j for Desktop starts normally
- Actual behavior - I can pick a path to choose to store application data, but I cannot confirm as the confirm button doesn't work.

[2018-11-09 07:47] chrisvest commented on #12073
Sounds like you are using the old Neo4j Desktop application, that has a single embedded Neo4j instance. Upgrade to the new one, which is the main download on https://neo4j.com/download/

[2018-11-09 07:47] #12073 closed, assigned to nobody

[2018-11-09 11:29] craigtaverner commented on #1771
Neo4j version 1.6 is no longer supported. I hope this issue was resolved back in 2014 when this issue was last commented on. If the issue still exists, please upgrade to a newer version of Neo4j, Neo4j-OGM and Spring Boot, as described at https://community.neo4j.com/t/neo4j-ogm-spring-data-neo4j-spring-boot-compatibility/2760

[2018-11-09 11:29] #1771 closed

[2018-11-09 14:12] Izhaki opened #12074 "Uniqueness: Relationships are filtered when cannot be the same"
This is not a bug per-se, but more of an optimisation issue.

- Neo4j version: 3.4.9
- Operating system: Mac
- API/Driver: Browser

**Steps to reproduce**
[code]
**Expected behavior**

It should not add the filter operator `not r1 = r2` after the second `Expand(all)` operator - these two relationships are directional and not opposite and hence can never be the same.

It should only filter if:

- D

[2018-11-09 15:24] craigtaverner commented on #12074
Hi @Izhaki. Thanks for the suggestion. However, it does not work in all cases. That query could match self-relationships where 'Adam' is a friend of 'Adam'. Even if there is only one node in the graph, the pattern you described above would match if we did not filter for r1!=r2.

Cypher has what is called 'edge isomorphism' which means we do not allow the same relationship to exist in two places in

[2018-11-09 15:24] #12074 closed, assigned to nobody

[2018-11-09 15:32] craigtaverner commented on #11961
I'm sorry, I am not able to understand your report. Can you clarify by describing exactly what REST calls you are making onto exactly what REST service? You mention the sandbox, does that mean you are running a Neo4j server on the sandbox service at https://neo4j.com/sandbox-v2/? Are you trying to post something to a REST endpoint on the Neo4j server? Please give the exact query you are posting an

[2018-11-09 16:24] craigtaverner commented on #6073
@Hassankashi This part of the Cypher documentation has been removed, and I see that this question was raised a long time ago, so I'm guessing it is no longer a priority. I will give a short answer and close the issue, but if you have followup questions or related ones, please feel free to re-open the issue or open new issues.

My view of why the equation uses both r1.times and H1, is because there

[2018-11-09 16:24] #6073 closed, assigned to nobody

[2018-11-09 16:27] craigtaverner commented on #6093
Hi @pdipietro, sorry this issue never got any attention, but I think that is because it looks like something for the Ruby library at https://github.com/neo4jrb/neo4j. If you are still having similar issues, could you open a new issue there?

[2018-11-09 16:27] #6093 closed, assigned to nobody

[2018-11-09 16:30] craigtaverner commented on #6575
Hi @rotten, I see this issue has not been active in a few years. I'm hoping that this issue is no longer occurring for you, and I will close the issue. If you are still experiencing this with a newer version of Neo4j, please feel free to re-open the issue.

[2018-11-09 16:30] #6575 closed, assigned to nobody

[2018-11-09 16:35] craigtaverner commented on #6578
Since this issue relates to the REST API for nodes which is deprecated and soon to be entirely removed, I will close this issue. If the problem is still important, feel free to re-open it.

[2018-11-09 16:35] #6578 closed, assigned to nobody

[2018-11-09 17:01] craigtaverner commented on #8142
This sounds like an issue with neo4j-elasticsearch dependencies clashing with graphware timetree dependencies. One option might be to look at the alternative https://github.com/graphaware/neo4j-to-elasticsearch.

I will also move this issue to neo4j-elasticsearch github repo in case they can fix it from their side.

[2018-11-09 17:10] craigtaverner commented on #8484
I'm hoping that @webtic answer is sufficient and will close this issue. If that is not sufficient, please feel free to re-open it.

[2018-11-09 17:10] #8484 closed, assigned to nobody

[2018-11-09 17:17] craigtaverner commented on #12010
Duplicate: https://github.com/neo4j/neo4j/issues/12002

[2018-11-09 17:17] #12010 closed, assigned to nobody

[2018-11-09 18:32] macheeto opened #12075 "Improve error reporting in cypher queries for invalid syntax"
For this query:
MATCH (person:Person{id:$personId})<-[:IS_GRANTED_TO]-(perm:Permission)-[:HAS_ACCESS_TO]->(item:DataItem)
OPTONAL MATCH (item)-[:IS_CHILD_OF]->(parent:DataItem{typeName:"Group"})
RETURN DISTINCT item, parent, perm

Neo4j console returns this error:
Neo.ClientError.Statement.SyntaxError: Query cannot conclude with MATCH (must be RETURN or an update clause) (line 1, column 1, (offset

[2018-11-09 20:43] Izhaki commented on #12074
OOOOOOH! I completely ignored relationship-to-self possibility.

Jolly brilliant this is!

Thanks so much for the reply and detailed explanation.

[2018-11-09 20:45] craigtaverner commented on #12074
Glad to help!

[2018-11-11 13:16] chrisvest commented on #11999
This should be fixed in 3.4.8 by "Remove cursor pooling on a page cache level" https://github.com/neo4j/neo4j/wiki/Neo4j-3.4-changelog#348

[2018-11-11 13:16] #11999 closed, assigned to nobody

[2018-11-12 09:20] zhenlineo commented on #7522
This could be an improvement to the usability of our product. However I think there is no reliable way to know when the server will be available. The only way to know is to continuously ping the port until a connection can be established. We've discussed this before and decided that it is an application concern to perform this ping rather than the database server itself.

For printing the real por

[2018-11-12 10:13] technige commented on #6374
This issue does not give enough detail about the feature request, therefore closing. Please reopen if you can provide a full description of what you'd like to see.

[2018-11-12 10:14] #6374 closed, assigned to nobody

[2018-11-12 12:44] Duanexiao commented on #12069
Hello,My Cypher command is below: USING PERIODIC COMMIT 1000 LOAD CSV WITH HEADERS FROM "file:///38640439_38644166_mid_neo4j_update_data.csv" as row merge (p:uidInfo {uid: row.uid}) merge (n:midInfo {mid:row.node_info}) merge (p)-[r:has]->(n)

[2018-11-12 12:45] Duanexiao commented on #12069
Thank you,I had configured them.Using the recommend setting by "neo4j-admin memrec --database=graph.db"

[2018-11-12 15:28] aanastasiou opened #12076 "Unpredictable behaviour when indexable node string property near its maximum key length"
# The problem

* Neo4J version: 3.4.5 (community)
* Operating System: Ubuntu 16.04
* API/Driver: Python driver 1.6.2

When a node string property participates in an index. Neo4J imposes a (reasonable) limit on its **byte** length. However, sometimes, even if one trims the string length to that limit, the transaction does go ahead, no problem is reported but the database is left at an unusable stat

[2018-11-12 15:54] PawanWagh commented on #12041
@andreikoval : @chrisvest : Hey sorry, i was away for a while on another product.
Nope. it's not working.
I am running on a production setup where only backups are happening from primary server but there's also a secondary server where restore process happens (currently failing) which is a failover server for our product.
Don't know what's going wrong. I've even shared debug logs and traces still

[2018-11-12 16:07] chrisvest commented on #12069
What settings are `neo4j-admin memrec --database=graph.db` giving you? Also, you have 3 GiB of RAM, correct? And how big is your `graph.db` folder, excluding the transaction logs (the `transaction.db*` files)?

[2018-11-12 16:07] PawanWagh commented on #12041
Even after deleting store_lock file, i've same error.
```Caused by: org.neo4j.kernel.StoreLockException: Unable to obtain lock on store lock file: /var/lib/neo4j/data/databases/graph.db/store_lock```

[2018-11-12 16:41] PawanWagh commented on #12041
Logs while backup -
[code]

[2018-11-12 21:14] galaxyware241 opened #12077 "java.io.IOException: Permission denied"
Hi ,
I have deployed a neo4j image on Azure Container instance with some default config with a database that is running happily on a local server.
I have configured the container uses Azure file share storage mapped to data ,logs and config.
if I send a simple match query over Cypher using the UI , I get the error even with a limited number of nodes( in some cases limit of 2 does the same). the DB

[2018-11-13 00:30] Duanexiao commented on #12069
The command tells me how to set the page cache size and initial and max heap memory size.My RAM is 256GB,graph.db folder excluding the transaction logs occupied 8GB

[2018-11-13 00:31] Duanexiao commented on #12069
belows are the recommend setting:

[code]

[2018-11-13 08:20] conorbdaly opened #12079 "debian.neo4j.org is down?"
Trying to run a neo4j install. Attempting to get the gpg key with
`wget -O - https://debian.neo4j.org/neotechnology.gpg.key | sudo apt-key add `
results in:

Attempting to access [https://debian.neo4j.org](https://debian.neo4j.org) gives me a 503 error: "This page isn’t working".

[2018-11-13 08:54] chrisvest commented on #12077
You get "Permission denied" when the database tries to read the store files, so you need to investigate the file permissions of the store files in your environment. I'm closing this because it's not really a problem in Neo4j, but in the environment. You can also try asking on Stackoverflow, or https://community.neo4j.com/

[2018-11-13 08:54] #12077 closed, assigned to nobody

[2018-11-13 08:57] galaxyware241 commented on #12077
I can read and write to the database using the query as i said above. the issue is if I have a query that returns result more than 2-3 nodes it throws the error like I above.

[2018-11-13 09:09] fickludd commented on #12076
Thank you for reporting this issue. The server should of course never be left unusable, so this seems like a serious issue. Could you paste an example of an offending string which you think should be indexable, but isn't?

According to the [documentation](https://neo4j.com/docs/operations-manual/current/performance/index-configuration/), the size limit is 4039 bytes btw, where did you find the `ke

[2018-11-13 09:21] apcj commented on #12079
Hi @conorbdaly thanks for raising this. We are working on a fix and expect to be able to give an ETA soon. I'll post back here when we have an update.

[2018-11-13 10:06] jennyowen commented on #12079
It should be all up and running again now.
Thanks for reporting it @conorbdaly !

[2018-11-13 10:06] #12079 closed, assigned to nobody

[2018-11-13 10:22] chrisvest commented on #12077
Do you get the exception if you do `match ()-[r]->() return r limit 1` but not if you do `match (n) return n limit 1`? The permission error is coming out of a read to the relationship store.

[2018-11-13 10:24] aanastasiou commented on #12076
Hi @fickludd, I am working on a copy of my `main.py` that uses the specific test cases that lead to the discovery of this issue and will get back to you on that one.

I am reporting here the `keyValueSizeCap` as it appears in the exception. I have posted a complete exception [here](https://github.com/aanastasiou/neomodlon/blob/master/src/main.py#L131). I could also attach an extract of `logs/debug

[2018-11-13 10:34] galaxyware241 commented on #12077
Thanks Chris .
match ()-[r]->() return r limit 1  👎 prodcues the above error .
MATCH (n1)-[r]->(n2) RETURN r, n1, n2 LIMIT 10 👍 returns results
match (n) return n limit 1 👎   produces the above error
it is worth mentioning that the storage is on Azure Storage exposed on SMB3 share which is used by the Azure Container instance. all the files are using the same priviledged access( full access)

[2018-11-13 10:34] chrisvest commented on #12069
Memrec says your data volume is 253 GiB (241600m), not 8 GiB. It also says that it leaves around 20 GiBs for the OS and other stuff, but I guess this isn't enough. So you can just reduce the `dbms.memory.pagecache.size` (and maybe the heap size) a little to get more head room.

[2018-11-13 11:22] aanastasiou commented on #12076
@fickludd , I have included a test case with specific inputs in [this](https://github.com/aanastasiou/neomodlon/blob/master/src/main_file_based.py) file. And also, [here](https://github.com/aanastasiou/neomodlon/blob/master/src/main_file_based_fix.py) is the same test case but with the trimming at the 4000 bytes limit which however still produces the same behaviour :/ (Please note, this limit is l

[2018-11-13 13:21] fickludd commented on #12076
Thank you for the additional info!

It turns out that we think this might be the same issue as was fixed by https://github.com/neo4j/neo4j/commit/f4bbad0b9ea92b35fd2779a270d8261f1ee15771, which was merged into `3.4.7`. Could you try upgrading to see if that solves the problem?

[2018-11-13 13:25] burqen commented on #12076
Hi @aanastasiou
I'll pick up this issue from @fickludd from here :)

In addition to try an upgrade to `3.4.7` (or later), can you also verify that the byte length is from a string encoded using `UTF8`?

[2018-11-13 13:47] aanastasiou commented on #12076
Hi @burqen & @fickludd , thanks for your help, yes, everything encoded in `utf-8` and upgrading to `3.4.9` seems to have fixed the behaviour I am reporting.

Any thoughts on point #3 from above? I.e. a way by which the index can use the first N bytes for indexing but still store the whole entry?

All the best

[2018-11-13 13:47] #12076 closed, assigned to nobody

[2018-11-13 13:55] burqen commented on #12076
I'm glad it worked 👍

Regarding #3, I think it's a reasonable feature proposition. I'll add it to our backlog :)

[2018-11-13 14:10] aanastasiou commented on #12076
Thank you very much. (didn't escape that hash symbol there :S )

In the meantime, is there a way to retrieve the key size programmatically? If I was to implement a trimming of the data entry for example, I could hard-wire a `4039`, or I could obtain it from some setting (?). Is this likely to change in the immediate future?

[2018-11-13 14:32] burqen commented on #12076
Oh, oops 😅

Unfortunately there is no way to retrieve key size programmatically right now. For now you would need to hard-wire `4039` (as long as you are using index provider lucene-native-2.0). For older index providers this limit is around 32k bytes. Documented here: https://neo4j.com/docs/operations-manual/3.4/performance/index-configuration/
The only way to influence index key size limit is to

[2018-11-13 14:41] aanastasiou commented on #12076
This is very useful, thank you very much.

All the best

[2018-11-13 14:42] burqen commented on #12076
All the best to you to :)

[2018-11-13 15:01] Fohlen commented on #11771
Hey @craigtaverner where would you like me to report this? This should also be quite easy to reproduce with the `neo4j` docker release!

[2018-11-13 19:18] heathermeeker commented on #11821
The provision in AGPL about removing restrictions (Section 7) does not conflict with Commons Clause, if the author of the AGPL code applies Commons Clause.  There may seem to be a conflict, but only when Section 7 is read out of context.

In AGPL, “you” refers to the recipient of the code, in other words, the licensee. (See Section 0, which says, “Each licensee is addressed as "you".”) Section 7 i

[2018-11-13 19:39] akhmerov commented on #11821
@heathermeeker can you please also comment on the statement in the preface of AGPL:

In your opinion, does the addition of the commons clause constitute a violation of FSF copyright? If not, can you please explain why?

---

Regarding the clause in Section 7: in your opinion, does "this License" refer to AGPL or AGPL + commons clause? The latter seems to contradict the definition in Section 0.

If

[2018-11-13 19:44] pdrangeid opened #12080 "When attempting to run a merge with a null variable the runtime error will not identify the line where the problem lies."
I run a query attempting to perform a merge operation and the variable used is null or non-existent.  If It is a particularly long or complex CYPHER query the lack of a specific line number or example of the failing command makes it difficult to identify what part of the query is providing a null value (which may need a CASE/WHEN or a coalesce to remediate the issue

- Neo4j version: 3.4.7
- Opera

[2018-11-14 07:33] Duanexiao commented on #12069
Sorry for mistaken copy.The dbms.memory.pagecache.size setting not used the recommended parameter,but 160GB,and that does not work.The recommended parameter also tried, also not work

[2018-11-14 11:12] chrisvest commented on #12077
Is that consistent? Maybe the permissions change while the database is running. Maybe something else is accessing the share, causing some state changes in file locks or permissions.

[2018-11-14 11:14] galaxyware241 commented on #12077
the shares are solely is used by the container no one else has access.   the issue is consistent.

[2018-11-14 20:02] felipebn commented on #12058
Hey @sherfert !

The sample dataset helped debugging this issue?

[2018-11-15 03:49] dahaynes commented on #9646
I'm running into this problem as well

Windows 10; Neo4j 3.3.2
`C:\Program Files\neo4j\installation-3.3.2\bin>neo4j start -verbose
VERBOSE: Neo4j Root is 'C:\Program Files\neo4j\installation-3.3.2'
VERBOSE: Neo4j Server Type is 'Enterprise'
VERBOSE: Neo4j Version is '3.3.2'
VERBOSE: Neo4j Database Mode is ''
VERBOSE: Start command specified
VERBOSE: Neo4j Windows Service Name is neo4j
VERBOSE: Sta

[2018-11-15 08:37] sherfert commented on #12058
Hi @felipebn. Yes it did! Thanks a lot for providing it.

A fix is already on its way, and will most likely make it to 3.4.11. I will close the issue as soon as the fix is merged.

[2018-11-15 12:03] #12058 closed, assigned to sherfert

[2018-11-15 20:47] fickludd commented on #12080
Hi @pdrangeid, it would be very helpful if you could provide a small sample query + graph that exhibits this behavior, and maybe an example of the error-message that you would like to get.

And a wild guess: are you aware that there is a config setting `cypher.lenient_create_relationship` that might be relevant to your problem? https://github.com/neo4j/neo4j/blob/3.5/community/kernel/src/main/java

[2018-11-16 00:58] Izhaki opened #12081 "Optimisation? Semantics? Consecutive (predicate-free) varLength pattern elements."
# Environment

- Neo4j version: 3.4.9

# Background

- Doubt anyone will write a query like this in practice.
- Very specific edge case:
    - Consecutive varLength relationships, with the same predicates (props, type - even if none).
    - The node between them involves no predicate (props, labels)

# Description

Consider:

    MATCH p = (:Person)-[*]-()-[*]-(:Movie)
    RETURN p

The plan will

[2018-11-16 06:34] zinnov-manu commented on #6895
As @apjanke said, appending + to the version will solve the issue.

[2018-11-16 06:46] apjanke commented on #6895
Hold on there: if Neo4J is not Java 9 compatible as @spacecowboy says, unfortunately it's a bit more complex, and just adding a "+" won't solve. Neo4j needs either Java 1.7 or 1.8, not earlier and not later. That requirement can't be exactly specified in a single `/usr/libexec/java_home` argument. Unfortunately, as things stand now, you probably have to do a couple calls to `/usr/libexec/java_home

[2018-11-16 07:11] zinnov-manu commented on #6895
As I see from neo4j 3.4.10, it checks for a version above 1.8 as can be seen below:

if [[ "${JAVA_VERSION}" < "1.8" ]]; then
    echo "ERROR! Neo4j cannot be started using java version ${JAVA_VERSION}. "
    _show_java_help
    exit 1

However in later part of the code it checks for a version that matches exactly 1.8

_find_java_home() {
  [[ "${JAVA_HOME:-}" ]] && return

  case "${DIST_OS}" in

[2018-11-16 07:29] BalazsBago opened #12082 "Delete node within a transaction is not atomic"
When I am accessing and reading the database from two separated processes sometimes the reader process does not find the requested nodes, however I refresh the database within a write transaction.

### Environment:
- Neo4j version: neo4j-community-3.4.9 (docker image: neo4j:3.4.9)
- Operating system: Ubuntu 18.04
- API/Driver: python3.6, neo4j-driver 1.6.2

### Steps to reproduce
1. Start the cont

[2018-11-16 09:15] technige commented on #9683
![](https://github.trello.services/images/mini-trello-icon.png) [Flow Control, Back Pressure & Reactive Drivers](https://trello.com/c/Q74jCr78/132-flow-control-back-pressure-reactive-drivers)

[2018-11-16 10:12] technige commented on #10493
![](https://github.trello.services/images/mini-trello-icon.png) [Bolt over HTTP: Full type system support and transaction semantics](https://trello.com/c/OIqgU81q/161-bolt-over-http-full-type-system-support-and-transaction-semantics)

[2018-11-16 12:44] meshmmanuel opened #12083 "Unexpected thread death"
**My neo4j server started to deny user access, restart and stop access. When I checked the log, I found this:**

  GNU nano 2.0.9                                                                  File: neo4j.log

2018-11-15 11:30:05.106+0000 INFO  ======== Neo4j 3.4.9 ========
2018-11-15 11:30:05.196+0000 INFO  Starting...
2018-11-15 11:30:09.036+0000 INFO  Bolt enabled on 0.0.0.0:7687.
2018-11-15

[2018-11-16 14:01] chrisvest commented on #12083
You need to either increase the heap.max_size, or make your transactions smaller (assuming that's where the memory was going, which might be an incorrect assumption), or have fewer transactions running concurrently. The last two points are about reducing peak heap usage.

There is no rule to tell you exactly how much memory you need for what. You'll need to look at your JVM monitoring (if you have

[2018-11-16 14:01] #12083 closed, assigned to nobody

[2018-11-16 16:52] norbusan opened #12084 "Starting without any transaction log is broken"
- Neo4j 3.4.9 docker image
- linux Debian/stable
- related issues #8681

I transfered a database from one computer to another, but have removed all transaction logs due to size. Before transferring I have properly shut down neo4j on the one server, and then copied over all of the `graph.db` directory. Restarting on the other server did not work out with:

[code]

Is this an unsupported operation?

[2018-11-17 19:06] vlamai opened #12085 "[neo4j-community-3.4.9-1] Server isn't start"
OS: Manjaro Linux x86_64
Kernel: 4.14.81-1-MANJARO
Neo4j : neo4j-community-3.4.9-1

<pre>23:45:35 | ~
----&gt; neo4j console
Active database: graph.db
Directories in use:
  home:         /home/kzoper/neo
  config:       /home/kzoper/neo/conf
  logs:         /home/kzoper/neo/logs
  plugins:      /home/kzoper/neo/plugins
  import:       NOT SET
  data:         /home/kzoper/neo/data
  certificates: /

[2018-11-18 10:34] tomersagi opened #12086 "Can't connect from GAE to GCS instance"
Hi,
I'm trying to connect from a Google Cloud App Engine (GAE) python flask application to a neo4j server installed from your google cloud image on a google cloud compute (GCE) instance (I followed [these instructions](https://neo4j.com/developer/neo4j-cloud-google-image/) to install the instance).

I'm getting the following error (host ip, user and password are obfuscated in the trace):

[code]
*

[2018-11-18 11:51] StevenMapes opened #12087 "Upgrade from Neo 2.3.10 to 3.4.10 fails due to Transaction logs prefix < 5"
- Neo4j version (from): 2.3.10
- Neo4j version (to): 3.4.10
- Operating system: Ubuntu 18.04
- API/Driver: N/A
- Following the instructions from https://neo4j.com/docs/operations-manual/3.4/upgrade/deployment-upgrading/
If you then run ```neo4j console``` the upgrade will appear to complete and you can connect to ```http://localhost:7474/browser/``` and can query the graph. However when you then t

[2018-11-18 23:52] moxious commented on #12086
@tomersagi I don't think this is related to Neo4j but to google's python SDK.  There's this related issue which seems to show the same behavior, and relates to the request library that they're using within the cloud SDK.  Did you try any of these resolutions?  https://github.com/googleapis/google-cloud-python/issues/3709

One Neo4j thing I should point out though is that via the default google ima

[2018-11-19 06:56] tomersagi commented on #12086
As far as I can see in googleapis/google-cloud-python#3709 , the only solution is to add the requests_toolbelt. I ddi so, and this changed the trace a bit, but still results in a 'Permission denied error'.

[code]

I'll try the certificate next.

[2018-11-19 07:07] oskarhane commented on #11608
Closing this since there have been several updates since April. If the issue still persists, please open a new issue in https://github.com/neo4j-apps/neo4j-desktop

[2018-11-19 07:07] #11608 closed, assigned to nobody

[2018-11-19 07:11] oskarhane commented on #11406
Since you have full control over the local database and can reset the password at any time I don't think it's necessary.
That being said, it's something people are used to, so we might consider that in coming versions.
However, since this issue is opened in the neo4j repo rather than https://github.com/neo4j-apps/neo4j-desktop I'm going to close this.
If you want to track the state of this I sugge

[2018-11-19 07:11] #11406 closed, assigned to nobody

[2018-11-19 07:13] oskarhane commented on #6810
Since old neo4j-desktop is unmaintained and replaced with a completely new application this issue is no longer relevant.

[2018-11-19 07:13] #6810 closed, assigned to nobody

[2018-11-19 07:17] oskarhane commented on #7806
This is fixed since then. Closing.

[2018-11-19 07:17] #7806 closed, assigned to nobody

[2018-11-19 07:18] oskarhane commented on #7510
This feature is implemented but we must have missed to close this issue.

[2018-11-19 07:18] #7510 closed, assigned to nobody

[2018-11-19 07:22] oskarhane commented on #9066
This is not the case in newer versions (since bolt started reporting query timings).

[2018-11-19 07:22] #9066 closed, assigned to nobody

[2018-11-19 07:24] oskarhane commented on #8321
This issue is very old now (and sorry for missing to follow up on it). Is this still an issue?
If so, please open a new issue over in https://github.com/neo4j/neo4j-browser

[2018-11-19 07:24] #8321 closed, assigned to nobody

[2018-11-19 07:27] oskarhane commented on #11935
This was actually a driver issue that should have been resolved with https://github.com/neo4j/neo4j-javascript-driver/pull/364 and work in later releases of the driver (and therefore in neo4j-browser).
If it still persists, feel free to open a new issue in the [neo4j-browser repo](https://github.com/neo4j/neo4j-browser

[2018-11-19 07:27] #11935 closed, assigned to nobody

[2018-11-19 07:54] PawanWagh commented on #12041
Please update regarding above issue or any workarounds.

[2018-11-19 09:56] chrisvest commented on #12084
Deleting transaction log files manually is not supported, no. The comments that told you it was are wrong.

You can reduce the transaction log data that you have to a minimum by setting `dbms.tx_log.rotation.retention_policy` to `keep_none`, starting the database up and then shutting it down again. The startup and shutdown will create a new checkpoint which will end with unnecessary log files bein

[2018-11-19 09:56] #12084 closed, assigned to nobody

[2018-11-19 18:19] skamansam opened #12089 "Prometheus reporting does not work as expected (or at all)"
According to this KB article: https://neo4j.com/developer/kb/how-to-monitor-neo4j-with-prometheus/ and this PR: https://github.com/neo4j/neo4j/pull/10613, the option `metrics.prometheus.enabled=true` should enable reporting on port 2004. However, when the server is started, the following gets logged:
[code]

- Neo4j version: 3.4.10 (this problem also exists for 3.4.9)
- Operating system: Google Cl

[2018-11-19 21:15] skamansam commented on #12089
It appears this feature is only available in the Enterprise Edition, along with all the other metrics. Could you add some documentation to the log or other sources that says this? Is there any way to get a list of metrics that are exported, for testing/evaluation ?

[2018-11-20 09:38] technige commented on #8580
@dhimmel Sorry for the delay in picking this up. Can you clarify whether this is still a problem with the latest versions of Neo4j and the driver?

[2018-11-20 16:48] dhimmel commented on #8580
Currently https://neo4j.het.io is running `neo4j:3.2.8-enterprise`. I just attempted the problematic query:

[code]

I got the following response in the browser (which did not crash):

[code]

I would say the issue is no longer present because the browser does not crash. Perhaps it is a separate issue that the error message is not displayed due to a "WebSocket connection failure"... not sure, have

[2018-11-20 19:51] tomersagi commented on #12086
I registered the GCE server on our DNS and assigned a certificate to it.
I then changed the GraphDatabase.driver() call to use the new hostname.
Still getting a permission denied error. Other connection methods still succeed.

[code]

[2018-11-20 20:58] moxious commented on #12086
This looks fishy because on one hand I can see you're using the python driver, but under the hood what's failing is some SSL code clearly within the google cloud sdk, which I don't think our python driver depends on.  (cc: @technige)

[2018-11-21 11:30] Legolash2o opened #12091 "Neo4j Web Interface not killing tasks"
Ubuntu 18.04.1
Neo4j 3.4.10

Nodes: 40m
Edges: 72m

Whenever I run a query and want to cancel it, it fails to do so.

**Query**
The query I ran was simply clicking on a property (boolean) on the left hand side. Not all 'Node' have the property.

**Actual**
I click the queries (:queries), select the task I want to kill but it never works and just keeps going. The only way to cancel it is to restart

[2018-11-21 13:00] tomersagi commented on #12086
I opened an issue at GAE too: https://issuetracker.google.com/issues/119838409
I hope the combined efforts will allow me to use neo4j with our GAE app soon or I will be forced to abandon one or the other. Thanks for staying with me on this.

[2018-11-21 15:47] jennyowen commented on #12085
How did you install Neo4j?
I guess from the path that you used the tarball to install, but the tarball doesn't install a neo4j service, so I'm not sure how you were able to start a service using `systemctl` unless you had a pre-existing installation or used a package installer.

Manjaro isn't one of the supported Linux operating systems (see: https://neo4j.com/docs/operations-manual/current/instal

[2018-11-21 16:09] #12085 closed, assigned to nobody

[2018-11-22 11:23] GerJeffrey opened #12092 "neo4j-3.5 compilation failure while running "mvn clean install -DskipTests""
hi:
   My java version is  java_11 and maven version is 3.6.0, when I compile neo4j_3.5 with command "mvn clean install -DskipTests", and then I get a Compilation failure:
Compilation failure:
[ERROR] /Users/lonthtech/neo4j-3.5/community/kernel/src/test/java/org/neo4j/test/rule/system/TestSecurityManager.java:[319,5] 方法不会覆盖或实现超类型的方法
[ERROR] /Users/lonthtech/neo4j-3.5/community/kernel/src/test/java

[2018-11-22 11:31] GerJeffrey commented on #12092
I think it's a compatibility problem, perhaps it's because that the java version is too high?  But I have already compiled my backend system with java 11. Please help me!

[2018-11-22 12:17] chrisvest commented on #12092
I'd recommend compiling Neo4j with Java 8, and then you can try running it on Java 11. You can also just get the pre-built jars from Maven or a Neo4j release download.

[2018-11-22 12:37] MishaDemianenko commented on #12092
@GerJeffrey neo4j can't be compiled with java 11 atm so please follow @chrisvest advise and compile it with java 8. Then you should be able to run it with Java 11 as your runtime environment without any problems.

[2018-11-22 12:42] rogererens commented on #8484
Sorry, it's not sufficiently clear to me :-/
I have the same issue that after playing with the Northwind Graph (using :play northwind-graph), I wanted to get rid of this demo data (using MATCH (n) DETACH DELETE n).

Now in the side bar, with the 'Database Information' tab selected, the sidebar still shows all labels that were used in the demo; also, all Property Keys are still shown in the side ba

[2018-11-23 01:14] GerJeffrey commented on #12092
I get it, TKS!

[2018-11-23 06:58] #12092 closed, assigned to nobody

[2018-11-23 09:40] burqen commented on #12089
Hi @skamansam
You are right in that metrics is an enterprise feature. You can find the documentation here: [metrics](https://neo4j.com/docs/operations-manual/current/monitoring/metrics/) and [monitoring](https://neo4j.com/docs/operations-manual/current/monitoring/). Under metrics you'll find what metrics are exposed 👍
The documentation chapter on metrics is marked with the `Enterprise Edition` lab

[2018-11-23 09:40] #12089 closed, assigned to nobody

[2018-11-23 17:00] belarm commented on #11821
Granted in all cases, but I believe you've missed something:
“If the Program as you received it, or any part of it, contains a notice
stating that it is governed by this License along with a term that is a
further restriction, you may remove that term.”

If 'you' in this sentence refers to the licensee, as you claim, then *I*
(the licensee) am free to remove that clause.

On Tue, Nov 13, 2018 at 2

[2018-11-25 10:04] pdipietro opened #12093 "Stack overflow running a query on the browser - In window 10/64"
I have to report an issue.

when executing a long but repetable query on the browser, the application dumped returning the stack overflow error reported here.

![cattura](https://user-images.githubusercontent.com/3890316/48977663-ee669780-f09e-11e8-80b6-f122ce2a533d.PNG)

I then followed the instructions, adding the `dbms.jvm.additional=-Xss2M` at the end of the config file.

As I'm running on a d

[2018-11-26 03:04] bluejoe2008 opened #12094 "why interfaces/classes of two similar versions exist?"
I want to introduce new property types into neo4j in my application, when I write code to pack/unpack custom values via bolt messaging, I am confused to find there are always TWO versions of interfaces/classes exist in `neo4j-bolt` and `neo4j-java-driver` project.

for example,
`neo4j-java-driver` defines an `org.neo4j.driver.internal.value.InternalValue`, while neo4j-bolt defines an `org.neo4j.dr

[2018-11-26 07:06] PawanWagh commented on #12041
@andreikoval @chrisvest : Hi.
Can you plz help me with this. Any workaround ?

[2018-11-26 09:16] zhenlineo commented on #12055
Hi @graphadvantage,
We are closing this issue now as we are missing the necessary information to understand this feature request. Please be free to open this issue once you are available to provide us more information for us to continue.

[2018-11-26 09:17] zhenlineo commented on #11961
@aryamaia Could you give us more information by answering @craigtaverner 's questions above for us to understand your problem more?

[2018-11-26 09:22] aryamaia commented on #11961
Solved it. Thank you for your time.

[2018-11-26 09:22] #11961 closed, assigned to nobody

[2018-11-26 09:56] technige commented on #12082
The behaviour demonstrated here is expected. The level of isolation observed is what is guaranteed in the absence of locking for read operations. This is not done by default in Cypher queries, which would require acquisition of read locks on every entity touched by a query.

To achieve this there are two commonly used remedies. One is to do a "dummy write" on every node used - like adding and remo

[2018-11-26 10:50] technige commented on #8580
Hi again @dhimmel. It's very likely that the problem you're seeing was fixed in a more recent version of the JS driver, which is used by the browser. From what I can see, you have browser version 3.1.2, which embeds the 1.4.1 JS driver. If it's possible to upgrade your server to the latest 3.2 patch release (3.2.13) then you'll receive the 1.6 driver instead. Alternatively, you can try accessing y