[2022-03-02 14:01] inmost-light commented on #12838
Hello @abc123000111,

I believe this is actually working as intended:
- There are no patterns matching `OPTIONAL MATCH (n2)-->(n3 :L3)`, therefore `n3` is always set to `NULL`.
- For `OPTIONAL MATCH (n5 :L2), (n3)` to match anything, all pattern parts must match something. Since `n3` is `NULL`, it can't ever match anything, therefore this `OPTIONAL MATCH` only output a single row.

[2022-03-02 16:10] arnefischereit commented on #12833
Hi @abc123000111,

Thank you for reporting another issue on `OPTIONAL MATCH`.

The issue described here seems to be caused by a bug that was fixed in Neo4j 4.2.
Since December 2021, we no longer support Neo4j 4.1 (see [the list of supported versions](https://support.neo4j.com/hc/en-us/articles/115013134648-Neo4j-Supported-Versions)).

We will therefore close this issue. Please comment, if we can h

[2022-03-02 16:10] #12833 closed, assigned to HannesSandberg

[2022-03-03 11:53] zulfi123786 commented on #12846
Thank you for the very quick fix, Totally understand as I am a developer myself :)

[2022-03-03 14:52] abc123000111 commented on #12838
Thank you! I found that the results returned by Neo4j and Memgraph are inconsistent, so I commit this issue on Memgraph Github (https://github.com/memgraph/memgraph/issues/344).

[2022-03-03 14:52] abc123000111 commented on #12839
Thank you! I found that the results returned by Neo4j and Memgraph are inconsistent, so I commit this issue on Memgraph Github (https://github.com/memgraph/memgraph/issues/363).

[2022-03-04 12:53] typinator opened #12848 "Grass Style Not Applied for 'node.Node.2nd_Label' CSS Selector But Works for 'node.2nd_Label.Node' CSS Selector"
** Neo4j version:** desktop / browser 4.4.3
** Operating system:** MacOS 10.15.7

I've found that when trying to apply a Grass style based on the presence of two labels, one of which is 'Node', the style applied depends on the order of the two selectors and only works for 'node.2nd_Label.**Node**' not 'node.**Node**.2nd_Label'.

### Steps to reproduce
1. Create some node elements
2. Add label = 'N

[2022-03-04 13:01] typinator opened #12849 "Browser PNG Export Uses Serif Font WHich Doesn't Match Displayed Serif Font"
**Neo4j version:** browser 4.4.3
** Operating system:** MacOS 10.15.7

When exporting the displayed graph using PNG the font used in the PNG is different from that displayed in the browser - it is a serif font whereas the browser displays a sans serif font.

### Steps to reproduce
1. Run CYPHER graph query
2. Export result as PG - 'Export PNG'
3. Preview / open expeorted PNG file at 3

### Expecte

[2022-03-04 15:19] hedengran commented on #12840
Hi @abc123000111! Thank you again for the report. The issue, as it seems, is not actually with `DISTINCT` but rather the `ORDER BY`. At some point in the planning process we do an optimization of the plan which ends up "destroying" the sort. After that, we try to plan an optimized `DISTINCT`-operator that requires that all incoming rows are already sorted.

I'm in the process of merging a fix, and

[2022-03-07 11:53] anthony-bet commented on #12789
Hello. The same problem is happening here. I tried to delete the `neostore.counts.db` file, but didn't work.

My problem started when I deleted a large amount of nodes (using `apoc.periodic.iterate()`), the process was completed, but after that the db crashed and when a tried to restart it entered on recovery mode, but could not complete the recovery due to some problem with a transaction log, so

[2022-03-07 13:55] HannesSandberg commented on #12847
Thanks! We will look into this.

[2022-03-07 14:12] tinwelint commented on #12789
@AnthonyAposta Hi. I don't think there's a possibility for a negative count as part of a rebuild. How did you get past the recovery problem? Does it now fail with the above during recovery, or rather right afterwards when it checkpoints? Or later on after running for a while after recovery completed? Also, which version of Neo4j did you hit this problem for?

[2022-03-07 14:43] anthony-bet commented on #12789
Hi @tinwelint  I'm using version 4.3.5

To solve the recovery problem I pruned the problematic transaction file using the byteOffset given by the debug.log, following this solution here https://community.neo4j.com/t/database-didnt-start-anymore-critical-error/15168/3

Now it fails right after the recovery, when it checkpoints:

[code]

[2022-03-07 15:43] tinwelint commented on #12789
@AnthonyAposta  Thanks. In recent versions there's another store that holds other types of counts and which is the one that fails here actually. So try to delete `neostore.relationshipgroupstore.degrees.db` and it should also be rebuilt.

[2022-03-07 18:02] anthony-bet commented on #12789
@tinwelint thanks for you help. I deleted (actually a just moved to another place) the `neostore.relationshipgroupstore.degrees.db` and now looks like the system gets stuck after the recovery:

tail from the debug log:
[code]

I waited 40 minutes and nothing happened, so I tried to restart the system and it got stuck in the same point again.

[2022-03-07 21:32] tinwelint commented on #12789
It could be due to a naive implementation of a rebuild of that store that you moved away. Can you grab a thread dump when it's stuck there and send that to me? You can capture a thread dump using `jstack <pid>`, for example:

`jstack 15432 > the-threaddump.txt`

or something like that. Oh and to figure out which pid your java process has you can use `jps -lm`

[2022-03-08 07:58] tinwelint commented on #12789
If you could confirm this suspicion that'd be great. I'll see if this rebuild can be sped up significantly.

[2022-03-08 11:15] anthony-bet commented on #12789
@tinwelint Hello. I left the database running all night and now it is up and ruining normally. I don't know what happened, but is working fine.

[2022-03-08 12:33] #12838 closed, assigned to HannesSandberg

[2022-03-08 12:34] #12839 closed, assigned to HannesSandberg

[2022-03-08 13:16] tinwelint commented on #12789
OK great to hear. I can see that this rebuild is a bit slow so I'm assuming the pause was in that rebuild. I'll work on improving this!

[2022-03-08 16:41] anthony-bet commented on #12789
@tinwelint Great. Thanks for your help :)

[2022-03-08 19:31] tinwelint commented on #12789
@AnthonyAposta I think I fixed it, the next release of 4.3.x and beyond will have this rebuild much much faster. Cheers 🙏

[2022-03-09 13:42] jacktang opened #12850 "java.lang.OutOfMemoryError: Java heap space"
Hi,

I encounter `OutOfMemory` error when I analyze one graph which contains 5450094 nodes and 15994408 relationships. Here is the error trace:

[code]

And my env variables

[code]

Should I increase `NEO4J_dbms_memory_heap_max__size` to fix the error?

[2022-03-10 01:58] jacktang commented on #12850
I increase var `dbms.memory.heap.max_size` in neo4j.conf and fix the error

[2022-03-10 01:58] #12850 closed, assigned to nobody

[2022-03-10 15:10] pelletier197 opened #12851 "Optimize condition evaluation and query planning based on parameters"
## Guidelines
## Feature request template

**Is your feature request related to a problem? Please describe.**
In my application, we have a few queries that take optional parameters as filters. To do so, I often pass optional parameters (nullable) to my neo4j query, and perform logic like

[code]

However, Cypher evaluation seems to omit the parameters in evaluation of a query plan, which causes gr

[2022-03-11 14:19] #12840 closed, assigned to HannesSandberg

[2022-03-12 07:22] abc123000111 opened #12852 "When executing the same queries, different versions of Neo4j return different results"
I discovered that when I execute the following queries on Neo4j 4.2.15, the result set contains 222 records. But when I execute the same queries on Neo4j 4.4.4, the result set contains 560 records.

[code]

**Neo4j Version:** 4.4.4, 4.2.15 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce

1. Start Neo4j 4.2.15 and 4.4.4, respectively.
2. Execute the men

[2022-03-12 07:30] abc123000111 opened #12853 "The following Cypher queries will trigger a database error on Neo4j 4.3.10"
Hi, I discovered that the following Cypher queries will trigger a database error (Neo.DatabaseError.Statement.ExecutionFailed). I wonder that if it is a bug. Thank you!

**Neo4j Version:** 4.3.10 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
Executing the following queries:

[code]

### Expected behavior
No error occurred.

### Actual behavior
**Neo.

[2022-03-14 16:14] donatelloOo opened #12854 "CVE-2019-20444 / CVE-2019-20445 / CWE-444 Inconsistent Interpretation of HTTP Requests ('HTTP Request Smuggling')"
## Vulnerability report

Neo4j latest 4.1 container image have 2 critical vulnerabilities, related to some kind of hidden OLD netty-3.10.6.Final.jar dependency from JBoss, which seems to not appear in neo4j POMs.

Maven artifact is:
[code]

This has been found by image scanning tool like Syft.

**Neo4j Version:** 4.1.11
**Operating System:** Container
**API:** Docker

### Steps to reproduce

[code

[2022-03-15 01:13] xglreal opened #12855 "Error about apoc.load.jdbc. Mysql password with special character."
I use the  query
**call apoc.load.jdbc('jdbc:mysql://12.13.14.15:3305/test? user=root&password=123456!@# ","table1") yield row**
to connect to mysql for data transfering.
But there is occuring a error when i excurer the query.
**Caused by: java.sql.SQLExceptionL Access denied for user 'root'@''**
It seems that the apoc.load.jdbc don't support password with special character, such as !@#$%^&*.

Is

[2022-03-15 05:45] abc123000111 opened #12856 "Using reserved words as variable names does not report any error."
Hello, when I execute the following query on Neo4j, no error is reported. But the official document says: "The reserved keywords are not permitted to be used as identifiers in the following contexts: Variables, Function names, Parameters". So I think Neo4j should report an error when executing the following query:
`MATCH (RETURN) RETURN RETURN
`

**Neo4j Version:** 4.4.4 Community
**Operating Syst

[2022-03-15 11:50] typinator opened #12857 "Obtain URL Scheme from Dsektop/ Browser to Provide Hyperlink to Specified Database/Query"
**Context**
I'm increasingly making development / analysis notes using markdown and using the likes of Hook (Mac) to link between different aertefacts, sometimes deep-links to specified locations within an artefact. Where I'm referring to specific databases or perhaps queries it would be useful to be able to easily obtain and link to parts of a Neo4J database.

**Describe the solution you'd like**

[2022-03-15 17:30] mnd999 commented on #12854
Thanks for the report! Unfortunately, Neo4j 4.1 is no longer supported so we would recommend you move to a supported version as soon as possible. You can see the list of supported versions and their end of support dates [here](https://neo4j.com/developer/kb/neo4j-supported-versions/).

[2022-03-15 17:30] #12854 closed, assigned to nobody

[2022-03-15 17:33] mnd999 commented on #12829
Closing this issue as it's been open for a while. If it's still an issue, please feel free to reopen.

[2022-03-15 17:33] #12829 closed, assigned to HannesSandberg

[2022-03-18 14:53] inmost-light commented on #12818
Hi @abc123000111, thanks for reporting.

This bug affects queries that match on a single node pattern with already bound variable, like `n1` in your first query. A fix has been implemented and should be available in the next patch release.

Until then, an easy workaround is to just omit such patterns, which are redundant and shouldn't affect the result:

[code]

[2022-03-18 14:53] #12818 closed, assigned to mnd999

[2022-03-18 14:54] inmost-light commented on #12834
See the comment in #12818.

[2022-03-18 14:54] #12834 closed, assigned to HannesSandberg

[2022-03-18 14:54] inmost-light commented on #12822
See the comment in #12818.

[2022-03-18 14:54] #12822 closed, assigned to mnd999

[2022-03-18 14:54] inmost-light commented on #12837
See the comment in #12818.

[2022-03-18 14:54] #12837 closed, assigned to HannesSandberg

[2022-03-18 14:54] inmost-light commented on #12847
See the comment in #12818.

[2022-03-18 14:54] #12847 closed, assigned to HannesSandberg

[2022-03-21 14:07] liebreksmjhf commented on #12793
We faced this problem massively: 2.5% of 900.000 edges got corrupt upon import using version 4.4.4.
Can you tell us when the bug was introduced? Above is stated that rollback to version 4.3.7. solved the problem. What is the latest version without this problem? Is 4.3.10 ok or maybe 4.4.3?

[2022-03-21 14:27] tinwelint commented on #12793
@liebreksmjhf the issue discussed above was fixed in 4.4.3 and it looks 4.4.0-4.4.2 has this issue. Version 4.3 never had it.

What you're seeing could be something else because it's about corrupted relationships. Could you include more details about what you mean by "corrupted"?

[2022-03-21 14:53] liebreksmjhf commented on #12793
In one of the relationshiptypes we prepared a property as an unique key. In the CSV-files at the end of the ETL pipeline this property is unique. After loading by neo4j-admin import we see 2.5% duplicates on this property. If you state it was solved in 4.4.3, is there an explanation on what we experience with 4.4.4?

[2022-03-21 15:02] tinwelint commented on #12793
@liebreksmjhf The issue was for nodes, not relationships.

I'm not sure how to help you unless I have the CSV files to reproduce on my own. Or if you could somehow provide some smaller piece of data that shows the issue. Basically you're certain that the CSV relationship data for a certain type have some property that unique across all relationships of that type and Neo4j doesn't think so after th

[2022-03-21 15:52] liebreksmjhf commented on #12793
I can be very certain on that. Unfortunately I cannot share the data because its sensitive.

[2022-03-23 10:23] wgevaert opened #12858 "Jolt response is inconsistent on property-arrays"
When working on the [Neo4j php client](https://github.com/neo4j-php/neo4j-php-client), especially [implementation of](https://github.com/neo4j-php/neo4j-php-client/pull/123) the [Jolt result format of the http driver](https://neo4j.com/docs/http-api/4.4/actions/result-format/#_jolt), we found that the following two queries give different responses:
[code]
[code]
The body of the first result is `{"

[2022-03-23 14:40] tinwelint commented on #12793
OK then it may be hard to get to the root cause of why this happens

[2022-03-23 14:55] mnd999 commented on #12856
Ideally, we would not allow this. However it's been the case for a very long time and changing it is very backward incompatible so I think it's here to stay for at least the 4.x series. As such I will close this issue as this behaviour is intentional.

[2022-03-23 14:55] #12856 closed, assigned to nobody

[2022-03-23 16:22] mnd999 commented on #12855
This seems like a duplicate of https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/2624 - I think we can deal with this in APOC.

[2022-03-23 16:22] #12855 closed, assigned to nobody

[2022-03-23 16:29] mnd999 commented on #12776
I think this has likely been overtaken by events. If it's still an issue, feel free to reopen.

[2022-03-23 16:29] #12776 closed, assigned to nobody

[2022-03-24 08:24] abc123000111 opened #12859 "How to get the code coverage and method call sequences of Neo4j source code after executing several Cypher queries?"
Hello, I want to get the code coverage and method call sequences of Neo4j source code after executing a series of Cypher queries. Is there any way to get them? Thanks!

[2022-03-26 02:16] transistive commented on #12858
@wgevaert,

The changes you are suggesting in point 4 are now updated.

Can you confirm it is not needed anymore?

[2022-03-26 10:14] wgevaert commented on #12858
Dear @transistive,

The change "suggested" in point 4 is only relevant if you are trying to reproduce this (neo4j-internal) issue using the php driver library. It adds a line of debug code that writes the jolt responses to the file `/tmp/output`, which is not something that is actually desired in the php driver.

The simpler way to reproduce the issue is using curl as described in point 2 above 0-

[2022-03-26 10:28] wgevaert commented on #12858
I believe the problem is that the [JoltListSerializer](https://github.com/neo4j/neo4j/blob/c3316350a9345cdd7bb36dcaec271573a9704887/community/server/src/main/java/org/neo4j/server/http/cypher/format/jolt/JoltListSerializer.java#L34) only accepts "Lists". However, per [this comment on property values](https://github.com/neo4j/neo4j/blob/c3316350a9345cdd7bb36dcaec271573a9704887/community/graphdb-api

[2022-03-28 07:31] HannesSandberg commented on #12851
Hello! Thanks for your suggestion, we will take a look at this and come back to you!

[2022-03-28 07:34] HannesSandberg commented on #12852
Thank you! We will take a look!

[2022-03-28 07:37] HannesSandberg commented on #12853
Thank you! We will look into if this is a bug and come back to you.

[2022-03-28 07:40] HannesSandberg commented on #12859
We will check and come back to you.

[2022-03-28 08:37] JackWang1230 opened #12860 "java doc error for v4.4"
here 'merge' should be rewritten as 'match'

![image](https://user-images.githubusercontent.com/45071261/160359799-1ad79cb4-5192-4b8c-adc0-3fee08a4ce8e.png)

[2022-03-28 11:34] wgevaert commented on #12860
I disagree, if the node `(:Company {name: $company_name})` does not exist yet, you do want it to be created.

[2022-03-29 01:48] JackWang1230 commented on #12860
alright, I understand

[2022-03-29 01:48] #12860 closed, assigned to nobody

[2022-03-29 15:19] mihairadulescu commented on #12695
is there any other way to handle this ?
how do you handle this in here ?
https://neo4j.com/docs/graphql-manual/current/pagination/cursor-based/

[2022-03-30 06:36] arnefischereit commented on #12853
Hi @abc123000111,

This is caused by the same problem as #12818 and a fix will be released with the upcoming 4.3.12 release.

[2022-03-30 06:36] #12853 closed, assigned to HannesSandberg

[2022-03-30 06:53] arnefischereit commented on #12851
Hi @pelletier197,

Thank you for raising your ideas about planning parameters.

With regards to the first profiled query, I would interpret the right hand side in the profile output (`Filter`, `Expand`, `Argument`) with its 0 rows and 0 db hits such that we do not fetch the accounts. So, I am not sure what in the profile output you base your conclusion on.

With regards to your second query: First

[2022-03-30 11:15] pelletier197 commented on #12851
Regarding the first query

What makes me think that neo4j does something for the accounts is that:
1. It's part of the plan. When I use a condition like 1=1, the accounts are not part of the plan at all.
2. In the extremely large query I talk about, When I use multiple large conditions like this and that all the filters are null, my query is extremely slow even though there is no filter to apply (

[2022-03-31 05:38] arnefischereit commented on #12851
Hi @pelletier197,

regarding the first part, it is hard for me to judge the query without more information. I would expect a similar query to be rather quick to execute.

The idea behind parameters is that one does not need to reparse/replan the query but reuse it for a number of different values. This is beneficial if the query does not change a lot depending on a particular value and yes, we can

[2022-03-31 10:47] pelletier197 commented on #12851
Alright then, thank you for your answer. I think I understand your point, although I still don't understand how my query becomes so slow when I add conditions that all evaluate to false because of the parameters. According to you, this query should not evaluate conditions unecessarily, so it doesn't seem normal.

But I guess that If you believe it's the author of the query that should optimize the

[2022-04-01 16:30] arnefischereit commented on #12852
Hi @abc123000111,

This is caused by the same problem as #12818 and a fix will be released with the upcoming 4.4.6 release.

[2022-04-01 16:30] #12852 closed, assigned to HannesSandberg

[2022-04-03 20:17] liebreksmjhf commented on #12793
Hi Mattias

It has turned out last friday that this observation was the result of a mistake.
True apologizes for this.
And thank you for the concerned responses.

Kind regards
Mario

[2022-04-04 12:12] tinwelint commented on #12793
@liebreksmjhf ok great, I'm happy to hear that. Cheers!

[2022-04-05 15:11] abc123000111 commented on #12795
Hello Bastien,

My message wasn't delivered because your email provider rejected it.

“Delivery has failed to these recipients or groups:
Bastien Louërat (bastien.louerat@neo4j.com)
Your message wasn't delivered because the recipient's email provider rejected it.
(mailto:b.louerat@gmail.com)
Your message wasn't delivered because the recipient's email provider rejected it.”

So I reply to you here:

[2022-04-08 09:48] blouerat commented on #12795
Hi @abc123000111 ,

I deleted your comment as it contained personal information, I'm still trying to figure what's up with the email situation, we'll get there. Bets luck with your exams hope it goes well!
Your question regarding why `+-3` and `--3` are considered valid numbers but `-+3` and `++3` are not, I don't have a good answer on top of my head, let me have a look.

Cheers,
Bastien

[2022-04-08 11:11] cosmeowpawlitan commented on #2973
This don't work if I would like to create new node, if an exact fork pattern doesn't exists but partial pattern exists.
For example, if (a)-(x)-(b) and (x)-(c) is already in the database.
All I want to do is to create node y for (a)-(y)-(b), (y)-(d) the first time I execute the transaction, match (y) if the patterns already exists.
Separated merge will behave as following:

![graph](https://user-i

[2022-04-08 15:09] asad1996172 commented on #12606
Hi @PetrJanouch, @alonho
I think I am facing a similar issue with neo4j import tool.
I am trying to import a large amount of data but the delta for loading nodes quickly goes to 0 and then very rarely goes up. I am running this on NFS FS as well. Tried to run it with the above mentioned export command as well but it's still getting stuck.

Neo4J version: 4.4.5
![Screen Shot 2022-04-08 at 8 08 09 A

[2022-04-11 07:56] tinwelint commented on #12606
@asad1996172 If you could provide a couple of thread dumps with a couple of seconds in between, I may be able to infer why this is happening. You can produce a stack trace using either:

`kill -3 <pid>`

or

`jstack <pid>`

and the java pid can easily be spotted using

`jps -lm`

Good luck.

[2022-04-11 09:04] InverseIntegral opened #12861 "Unit-based duration format behaviour differs from documentation"
The documentation on duration values specifies that the unit-based format expects `n` to denote an arbitrarily large number:

When I use large numbers, however, I get exceptions. Moreover, the exceptions seem to differ depending on the value that I supply.

**Neo4j Version:** 4.4.5
**Operating System:** 5.16.16 Arch
**API:** Java

### Expected behavior
No exception should be thrown according to th

[2022-04-11 15:18] mmopitz opened #12862 "Neo.DatabaseError.Statement.ExecutionFailed because of different query plans"
I get a `Neo.DatabaseError.Statement.ExecutionFailed` when I try to fire off a query.

Problematic Query:
[code]
Note: I know that the query could be simplified but I guess this could be a bug in neo4j

## System

**Neo4j Version:** 4.4.5
**Operating System:** Ubuntu 20.04
**API:** Neo4j-Browser

## Steps to reproduce

I had to use the northwind-example to reproduce the issue because I wasn't able

[2022-04-12 07:00] arnefischereit commented on #12859
Hi @abc123000111,

Thank you for your question. At Neo4j, we rely on our tools (like the IDE) to provide us with coverage information.

You could for example use [JaCoCo](https://www.jacoco.org/jacoco/) for this and there is [an article on Wikipedia](https://en.wikipedia.org/wiki/Java_code_coverage_tools) on Java code coverage tools.

Does this answer your question?

[2022-04-12 10:47] mnd999 commented on #12862
Thanks for the report, that looks like a bug. Wie'll look into it and let you know the fix.

[2022-04-12 11:27] arnefischereit commented on #12862
Hi @mmopitz,

This is caused by the same problem as #12818 and a fix will be released with the upcoming 4.4.6 release.

[2022-04-12 11:27] #12862 closed, assigned to nobody

[2022-04-12 15:01] drumcircle opened #12863 "4.4.5 ships with bloom 2.1.0"
### Steps to reproduce
1. Install db version 4.4.5
2. Configure Bloom like this: `cp /var/lib/neo4j/products/bloom-plugin-*.jar /var/lib/neo4j/plugins`
3. Install Neo4j desktop  (https://neo4j.com/download/)
4. Connect to server and open Bloom in desktop.

### Expected behavior
Bloom should connect and open

### Actual behavior
"Neo4J Bloom is not compatible with Neo4J Bloom Server (App version 2.

[2022-04-13 12:41] HannesSandberg commented on #12861
Thank you for the repport! We will look into this and come back to you.

[2022-04-13 13:26] mech opened #12864 "ORDER BY work for DESC, not not ASC"
I am having issues using simple ORDER BY in my query. It seems simple, but I am at a lost where it went wrong.

This work:

`MATCH (s:Skill) RETURN s ORDER BY s.name DESC LIMIT 3`

But not this (note: without the DESC direction):

`MATCH (s:Skill) RETURN s ORDER BY s.name LIMIT 3`

- Neo4j version: 4.4.4
- Operating system: macOS Monterey 12.3.1
- API/Driver: Using Neo4j Desktop v1.4.15

Provided

[2022-04-16 23:17] InverseIntegral opened #12866 "Regex throws an unexpected internal error"
[The documentation on regular expressions](https://neo4j.com/docs/cypher-manual/current/clauses/where/#query-where-regex) states that the syntax is inherited from the Java regular expressions. Therefore, I would assume the following query to be valid:

[code]

However, it  throws an "Unexpected internal error". My intuition is that this has to do with encoding of `\` or it might simply be an edge

[2022-04-19 20:42] inf3rnus opened #12867 "Direct Buffer Allocation Failure"
Issue:

We have a neo4j enterprise cluster (typical cloud provider 3 node setup) that from time to time runs into a Direct Buffer Memory issue, other services when trying to access the cluster via it's url (which uses the neo4j:// protocol), produce the following error: `Failed to read from defunct connection IPv4Address(('REDACTED.REDACTED.18.228', 7687)) (IPv4Address(('REDACTED.REDACTED.18.228',

[2022-04-20 07:15] czpmango opened #12868 "Variable definition check"
- Neo4j version: 4.2.4
- Operating system: mac
- API/Driver: cypher
- **Steps to reproduce**
[code]
- Expected behavior
The second query should not report an error because the variable n is visible to the list  comprehension expression.
These two should be semantically equivalent.

- Actual behavior
Report an error.

[2022-04-20 09:25] nithincnitc commented on #12798
We are experiencing same issue on upgrade. On an average cyphers are running 50% slower than 3.5.

[2022-04-20 23:24] InverseIntegral opened #12869 "Left function throws IndexOutOfBounds exception"
[The documentation](https://neo4j.com/docs/cypher-manual/current/functions/string/#functions-left) of the `left(original, length)` function states that:

However, the following query throws an exception:

[code]

[code]

**Neo4j Version:** 4.4.5
**Operating System:** 5.16.16 Arch
**API:** Java

### Expected behavior
No exception should be thrown and the original string value should be returned.

#

[2022-04-21 01:02] org-ci-cd commented on #12560
Still had to fork the newest helm-chart to achieve this today

![image](https://user-images.githubusercontent.com/55146028/164350922-904b1f38-a52a-411d-87a5-e0140b1a3d3a.png)

[2022-04-21 01:19] noxchaos opened #12870 "failed to create sample dbms"
[2022-04-21 08:59:24.395] [info]  Starting Neo4j Desktop 1.4.15 @ Windows_NT 10.0.22000
[2022-04-21 08:59:24.539] [info]  Initializing persistence
[2022-04-21 08:59:24.540] [info]  GraphQL server is running @ http://127.0.0.1:11001
[2022-04-21 08:59:24.543] [info]  Creating persistent store - projects
[2022-04-21 08:59:24.548] [info]  Creating persistent store - databases
[2022-04-21 08:59:24.551]

[2022-04-21 07:29] arnefischereit commented on #12859
I will now assume that the previous answer solved the problem and close this issue.

Please feel free to comment on this issue or open a new one, if your problem has not been addressed.

[2022-04-21 07:29] #12859 closed, assigned to HannesSandberg

[2022-04-21 08:11] InverseIntegral commented on #12869
A similar thing happens with the query:
[code]
which throws
[code]

[2022-04-22 03:30] behindblackwalls commented on #11971
I'm also experiencing this issue, any fix?

[2022-04-22 06:57] behindblackwalls opened #12871 "Can't run neo4j after stopping"
**Neo4j Version:** 4.0.12
**Operating System:** Ubuntu 20.04
**API:** Unsure

### Steps to reproduce
1. Restart computer and login
2. Open terminal and type neo4j console
3. Service starts as usual
4. Ctrl+Z to end the console session
5. Type neo4j console to run again
6. Following error occurs

`Directories in use:
  home:         /var/lib/neo4j
  config:       /etc/neo4j
  logs:         /var/log

[2022-04-22 07:08] behindblackwalls commented on #12871
Solution is to use

`ps aux | grep "org.neo4j.server`

Which will yield the running processes, then use

`sudo kill 9 <PID>`

To kill the process. Restarting works after.

[2022-04-22 07:08] #12871 closed, assigned to nobody

[2022-04-22 18:51] alphavector opened #12872 "403 ERROR when trying to download neo4j desktop"
I'm trying to download neo4j-desktop from https://neo4j.com/artifact.php?name=neo4j-desktop-1.4.15.dmg, but I get a 403 error

I guess why I'm getting this error, it's probably related to the refusal to cooperate with Russia due to recent events.
But I haven't seen any official statements that access to downloading will be limited, so I wanted to clarify the situation with this error.

[2022-04-24 10:05] SidneyLann opened #12873 "Can't get internal id"
var root = Cypher.node(IdeaValues.ENTITY_NAME).named("root");
var statement0 = Cypher.match(root).returning(Functions.id(root)).build();
var rootIds = neo4jTemplate.findAll(statement0, Long.class);

Why above code can't get the internal id? exception shown below:
java.lang.IllegalArgumentException: Cannot get or create persistent entity.
at org.springframework.util.Assert.notNull(Assert.java:201)

[2022-04-25 06:41] HannesSandberg commented on #12864
Thank you for your report! We will look into this and report back to you.

[2022-04-25 06:43] HannesSandberg commented on #12866
Thank you for your report! We will look into this and report back to you.

[2022-04-25 06:46] HannesSandberg commented on #12868
Thank you! We will look into this!

[2022-04-25 06:49] HannesSandberg commented on #12869
Thank you! We will look into this and come back to you.

[2022-04-25 06:50] Mats-SX commented on #48
Support for regular expressions is not a currently planned feature.

[2022-04-25 06:50] #48 closed

[2022-04-25 06:51] #57 closed

[2022-04-25 06:55] arnefischereit commented on #12864
I just tried to reproduce this scenario by recreating the nodes from the information available in the screenshots but failed to do so.

![image](https://user-images.githubusercontent.com/79841228/165035805-61e1c4f7-d007-4ffa-b0c3-1107274b411c.png)

Could you please provide us with the information how to set up the database, so that the problem occurs?

Also, it would be interesting, what the outpu

[2022-04-25 07:12] Mats-SX commented on #86
This is possible in current versions of Neo4j. Note that labels and properties of deleted elements are not accessible, but must be read before the deletion has semantic effect. For example:

[code]

[2022-04-25 07:12] #86 closed

[2022-04-25 07:13] Mats-SX commented on #98
Closing as inactive and not planned to be supported.

[2022-04-25 07:13] #98 closed

[2022-04-25 07:14] #12873 closed, assigned to nobody

[2022-04-25 07:22] mnd999 commented on #4334
Looks like a duplicate of #2000

[2022-04-25 07:30] mech commented on #12864
Ya this problem did not occur on my AuraDB instance also. But my local machine same dataset got this strange behaviour. Only occur if I use "ASC" ordering.

Here's the table view:

<img width="1286" alt="ASC" src="https://user-images.githubusercontent.com/5850/165040638-526b9463-3768-4110-a170-8612814162a8.png">

<img width="1282" alt="DESC" src="https://user-images.githubusercontent.com/5850/1650

[2022-04-25 09:10] InverseIntegral opened #12874 "Exception is thrown with null message"
When I run the following code something rather strange happens:

[code]

Initially, the query throws a `QueryExecutionException` with the message `/ by zero` as to be expected. But after a while the message of the exception becomes `null` and stays like that. So the above code always prints a sequence of `1`s followed by only `0`s. I would, however, expect the same query to throw the same exceptio

[2022-04-26 07:47] soda92 opened #12875 "Cannot build"
Windows: https://github.com/soda92/neo4j/runs/6171632857?check_suite_focus=true
Ubuntu: https://github.com/soda92/neo4j/runs/6171632771?check_suite_focus=true

[2022-04-28 10:06] fadesibert commented on #4211
Same here - even for things like simple case insensitivity (let along latin-1 collations or utf-8) - would be good to get a view on what the plan is with this...

[2022-04-28 13:13] cleishm commented on #4211
I haven't worked with Neo4j for about 6 years or more, so you may like to reach out to them directly.

[2022-04-29 07:27] arnefischereit commented on #12864
@mech You seem to have a lot of nodes with label `Skill` in your database.

Could it be that some of them do have the `name` set to something as silly as `#<Skill:0x…>` and through that `LIMIT 3` you only see them when sorting ascendingly. You would probably also see them when sorting descendingly but they would appear at the end of the list.

Let me know if that solves your issue.

[2022-04-29 09:07] mech commented on #12864
Okay, judging from the very similar Ruby object inspection code, I think you are right. It must be when I write to it, I write as object string. Sorry for causing the inconvenience 🥺

[2022-04-29 09:07] #12864 closed, assigned to HannesSandberg

[2022-04-29 11:42] loveleif commented on #12869
Thanks again for reporting this @InverseIntegral! We only support lengths in `left` and `right` up to 2^31-1, I've added a more user friendly error in cases like this, this issue will be closed when that PR is merged.

[2022-05-01 14:52] k2glyph commented on #9807
I also faced the same issue. But after @mrbungle733t comment. I check the files and folder permission and the issue was with logs folder was owned by root and right after I changed the folder owner to neo4j and restarted server. It started working fine now.

[2022-05-01 19:13] InverseIntegral opened #12876 "MATCH query throws InternalException"
The following query

[code]

throws an unexpected exception when executed by the Java driver:

[code]

**Neo4j Version:** 4.4.5
**Operating System:** 5.16.16 Arch
**API:** Java

### Expected behavior
I would expect the query to not throw any exception.

### Actual behavior
An exception is thrown.

[2022-05-02 06:38] HannesSandberg commented on #12874
Thank you for the report, we will look into this and come back to you.

[2022-05-02 06:40] HannesSandberg commented on #12876
Thank you for the report! We will look into this.

[2022-05-02 10:39] klaren commented on #12875
The windows build runs with the wrong version of Java, most likely 1.8.

I would suggest you use this instead:
[code]

The ubuntu one fails on licensing checks, it might be some error due to caching, I'll investigate further. In the meantime you can just pass `-Dlicensing.skip` to maven and it will completely skip this check.

[2022-05-02 11:09] arnefischereit commented on #12876
Hi @InverseIntegral,

This is a known issue and [fixed in 4.4.6](https://neo4j.com/release-notes/database/neo4j-4-4-6/).

Please let us know if that should not solve your problem.

Cheers,

Arne

[2022-05-02 11:09] #12876 closed, assigned to HannesSandberg

[2022-05-02 12:34] soda92 commented on #12875
ok, i'll try it.

[2022-05-02 12:46] InverseIntegral commented on #12876
Thank you for the fast reply @arnefischereit. The problem seems to be resolved :+1:

[2022-05-02 13:02] InverseIntegral commented on #12876
I did some more testing and the following query:

[code]

Seems to still throw an exception in the newest version (4.4.6):

[code]
Should I open a new issue so you can track this separately?

[2022-05-02 14:24] pontusmelke commented on #12874
Hi @InverseIntegral
I am not able to reproduce this one. If you replace `System.out.println("1")` with `throw e` what is being thrown?
Regards,
Pontus

[2022-05-02 14:45] arnefischereit opened #12877 "QueryExecutionException in query planner"
The following query:

[code]

Seems to still throw an exception in the newest version (4.4.6):

[code]

_Originally posted by @InverseIntegral in https://github.com/neo4j/neo4j/issues/12876#issuecomment-1114822276_

[2022-05-02 14:49] arnefischereit commented on #12876
Thank you for your thorough testing. I have opened a new issue #12877 and will continue investigation over there.

[2022-05-02 17:17] InverseIntegral commented on #12874
If I replace it, then I get the following exception:
[code]

[2022-05-02 18:16] InverseIntegral opened #12878 "Deletion of nodes throws QueryExecutionException"
When I run the following two queries:

[code]

A `QueryExecutionException` is thrown:

[code]

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the queries not to thrown any exception.

### Actual behavior
An exception is thrown when executing the second query.

[2022-05-03 07:38] loveleif commented on #12869
...I changed my mind, we won't error out in cases like this, might as well return the original string as you suggest.

[2022-05-03 07:38] pontusmelke commented on #12874
I think what you are seeing is the jit compiler kicking in and optimizing away the stack trace. See [here](https://www.oracle.com/java/technologies/javase/release-notes-introduction.html) for example:

See also:

- https://stackoverflow.com/questions/6538792/why-does-throwable-getmessage-occasionally-return-null
- https://stackoverflow.com/questions/1076191/nullpointerexception-stack-trace-not-ava

[2022-05-03 19:06] InverseIntegral commented on #12874
Thank you @pontusmelke, this indeed seems to be the issue. Thank you for finding this.

[2022-05-03 19:06] #12874 closed, assigned to HannesSandberg

[2022-05-04 08:41] mnd999 commented on #12827
Closing as we haven't heard anything on this issue for some time, also Neo4j 3.2.3 is no longer supported. Feel free to reopen if it's still an issue in a supported version of Neo4j

[2022-05-04 08:41] #12827 closed, assigned to mnd999

[2022-05-04 11:18] InverseIntegral opened #12879 "UnsupportedOperationException: TEXT index has no value capability"
When I run the following queries:

[code]

An `UnsupportedOperationException` is thrown:

[code]

Based on the tests that I performed it seems to have to do with the two indices on the same property. I'm not sure if this is simply not allowed or if the second index creation should in fact not create a new index.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### E

[2022-05-05 06:15] HannesSandberg commented on #12879
Thank you for the report. We will look into this and come back to you.

[2022-05-05 07:24] HannesSandberg commented on #12878
Thank you for the report! We will look into this and come back to you.

[2022-05-05 11:44] InverseIntegral opened #12880 "IllegalArgumentException: Comparison method violates its general contract"
When I run the following query on an empty database:

[code]

An `IllegalArgumentException` is thrown:

[code]

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the query not to thrown any exception.

### Actual behavior
An exception is thrown when executing the query.

[2022-05-05 14:19] ghost commented on #12633
@cn007b and @Roxling I see this is closed, but wondering if there is a work around to be able to get the new database to show up in an automated fashion:

1. use neo4j-import to load the data
2. [run some command to create the database?]

I'm new-ish to the neo4j world, and haven't been able to find a way to automate this for my builds. If there is a way to do this, I would very much appreciate be

[2022-05-05 14:42] Roxling commented on #12633
The best reference on how to use our tools can be found in the documentation: https://neo4j.com/docs/operations-manual/current/tools/neo4j-admin/neo4j-admin-import/

[2022-05-05 17:09] InverseIntegral opened #12881 "IllegalStateException: Did not find any type information for expression"
When I run the following query on an empty database:

[code]

An `IllegalStateException` is thrown:

[code]

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the query not to thrown any exception.

### Actual behavior
An exception is thrown when executing the query.

[2022-05-06 12:37] InverseIntegral opened #12882 "StackOverflowError when running MATCH query"
When I run the following query on an empty database:

[code]

A `StackOverflowError` is thrown:

[code]

I would expect the query to match all the nodes with label `L` and property `p` set to `true`.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the query not to thrown any exception.

### Actual behavior
An exception is thrown

[2022-05-09 12:50] InverseIntegral opened #12883 "NOT operator on NaN value is optimized away"
The following query

[code]
returns
[code]
I would expect the last column to be `true` but it seems that Neo4J optimizes the `NOT` as such:
[code]
Which seems incorrect but I might be wrong.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the last column to be `true`.

### Actual behavior
The last column is `false`.

[2022-05-09 15:25] InverseIntegral opened #12884 "MATCH query returns incorrect result set when an index is present"
The following
[code]
returns
[code]

When I remove the index
[code]
the result becomes
[code]

I would expect the result to be 0 since the condition evaluates to `null`.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.3 Arch Linux
**API:** Java

### Expected behavior
I would expect the second result to appear when running the queries with the index.

### Actual behavior
The result is 1.

[2022-05-09 20:31] jcuenod opened #12885 "`neo4j-admin import` on 4.4.6-community"
- Neo4j version: 4.4.6-community
- Operating system: Arch Linux (using a docker container)

**Steps to reproduce**
`docker build` this Dockerfile (with some nodes and relationships):
[code]

**Expected Behaviour**:
- Docker build/run produces expected output and prints info about created nodes and relationships
- Log in using neo4j/neo4j works
- See/query nodes and relationships in neo4j database

[2022-05-10 01:24] jcuenod commented on #12885
To be clear, I am getting this at the end of my `docker build` step:

[code]

[2022-05-10 10:00] InverseIntegral commented on #12883
Similarly, when I run the following queries on an empty database
[code]
I get:
[code]
But negating the result with `NOT` to `MATCH (x:L) RETURN NOT (-ceil(0.0) < (4-(0.0/0.0)) AND x.p)` prints:
[code]

[2022-05-11 12:19] HannesSandberg commented on #12880
Thank you! We will look into this.

[2022-05-11 12:20] HannesSandberg commented on #12881
Thank you! We will look into this and come back to you.

[2022-05-11 12:39] HannesSandberg commented on #12882
Thanks! We will look into this.

[2022-05-11 12:41] HannesSandberg commented on #12883
Thanks! We will look into this and report back to you.

[2022-05-11 12:43] HannesSandberg commented on #12884
Thank you! We will look into this.

[2022-05-12 10:35] tomocesnik opened #12886 "None.get error with aliasing the same name in CALL subqueries"
While auto-generating Cypher code, I have found a strange error with using aliases to the same variable name in subqueries.

- Neo4j version: 4.4.4
- Operating system: Docker image "neo4j:4.4.4-community" on WSL2 and Docker Desktop on MS Windows 10 Pro
- API/Driver: Cypher in Neo4j Browser
- Steps to reproduce:
Pull the docker image and start the database instance.
Use the following Cypher code in

[2022-05-12 14:27] InverseIntegral opened #12887 "MATCH query returns incorrect result set when an index is created"
The following
[code]
returns
[code]

When I then run the following:
[code]
the result becomes
[code]

I would expect the result to still be 1.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.6 Arch Linux
**API:** Java

### Expected behavior
I would expect the second result to be the same as the first one.

### Actual behavior
The result bcomes 0.

[2022-05-12 17:53] InverseIntegral commented on #12887
I did some more testing and this seems to only happen if `lTrim` appears in the boolean expression.

[2022-05-13 07:10] arnefischereit commented on #12884
Hi @InverseIntegral,

Thank you for raising this. The behaviour of the first query with index is wrong as [durations are incomparable](https://neo4j.com/docs/cypher-manual/4.4/syntax/operators/#cypher-ordering).

We are aware of this behaviour and will fix it in the next major release. However, as changing the semantics like that poses a breaking change, we will not do so in already released versi

[2022-05-13 07:10] #12884 closed, assigned to HannesSandberg

[2022-05-13 14:13] loveleif commented on #12866
Hi @InverseIntegral, backslashes needs to be escaped in Cypher strings. To get `\` you need `\\`. So your query becomes `CREATE ({ p: "" =~ "\\\\" })`.

[2022-05-13 14:13] #12866 closed, assigned to HannesSandberg

[2022-05-16 06:22] HannesSandberg commented on #12886
Thank you for your report! We will look into this and come back to you.

[2022-05-16 06:23] HannesSandberg commented on #12887
Thanks, we will investigate and come back to you!

[2022-05-16 14:53] arnefischereit commented on #12886
Hi @tomocesnik,

It seems to me like the problematic query you mentioned works in 4.4.6. Can you confirm?

[2022-05-16 19:32] tomocesnik commented on #12886
You are correct, this seems to be fixed on Neo4j 4.4.6 version. I guess you can resolve this issue?

[2022-05-22 12:04] ikwattro opened #12888 "Additional result column prevents countstore usage"
Counting labeled nodes should use the countstore, however having a Cypher statement that returns an additional column prevents the countstore to be used in the planner.

**Neo4j Version:** 4.4.5
**Operating System:** any
**API:** any

### Steps to reproduce

Run the following query on the movies db

[code]

### Expected behavior

It should use the countstore

### Actual behavior

It does a NodeByL

[2022-05-23 07:19] HannesSandberg commented on #12888
Thank you! We will investigate and come back to you.

[2022-05-23 12:45] sowmiyaEE commented on #11965
Yes that one helped @giorgioditizio Thanks

[2022-05-24 07:44] inmost-light commented on #12880
Thanks for reporting @InverseIntegral. A fix has been implemented and should be available in the next patch release.

[2022-05-24 07:44] #12880 closed, assigned to HannesSandberg

[2022-05-24 12:12] InverseIntegral opened #12889 "QueryExecutionException in query planner"
Running the following query on an empty database
[code]
throws
[code]
This might be a duplicate of #12877 but the query is slightly different so I reported it just in case.

**Neo4j Version:** 4.4.6
**Operating System:** 5.17.6 Arch Linux
**API:** Java

### Expected behavior
I would expect the query not to throw any exception.

### Actual behavior
An exception is thrown.

[2022-05-24 12:59] GrahamLea opened #12890 "`TransientError.Transaction.Outdated` no longer returned, unexpected data sent instead"
# Overview

In versions up to 4.1.11, if a node was deleted after a query had MATCHed it in a result set, but before the entity was returned to the client, a `Neo.TransientError.Transaction.Outdated` was sent to the client.

From 4.2.0, this doesn't happen, and instead some unexpected data is sent, which results in higher-level tools (OGM, in my case) attempting to hydrate objects in a way that br

[2022-05-24 13:39] injectives commented on #12890
Would you mind attaching 4.2 driver log please? Maybe we can follow it.

[2022-05-25 00:58] GrahamLea commented on #12890
Here's some logs.
What you'll be looking for will be near the end, but I've included a couple of successful iterations (where a delete didn't cause the error to occur in the retrieve) so that you can compare the difference...
<details>
<summary>Logs...</summary>
<pre>
...
.2022-05-24T22:42:46.351459 FINE org.neo4j.driver.internal.async.inbound.InboundMessageDispatcher - [0xc596a1b4][127.0.0.1:5036

[2022-05-30 07:04] HannesSandberg commented on #12889
Thank you for the report! We will look into this.

[2022-05-30 08:32] tanvp112 opened #12891 "OpenSSL stopped working"
- Operating system: Linux

[code]

Tested with `netty-tcnative-boringssl-static-2.0.0.Final-linux-x86_64.jar`, `netty-tcnative-boringssl-static-2.0.47.Final-linux-x86_64.jar` to `netty-tcnative-boringssl-static-2.0.52.Final-linux-x86_64.jar` and finally `netty-tcnative-2.0.52.Final-linux-x86_64.jar`; all failed with the the exception above.

Previously with neo4j 4.2.x and netty-tcnative 2.0.42 we

[2022-05-31 06:59] arnefischereit commented on #12888
@ikwattro: This will only be possible if the non-count column is constant, right? Is that a useful scenario?

I would not consider this a bug as the system returns the right result. But we could look into whether we can make the system a bit smarter to use the count store in more cases. That would, however, only make sense if this is the scenario that you actually want to achieve.

That is: Is you

[2022-05-31 07:33] ikwattro commented on #12888
Hi @arnefischereit Thanks for replying.

The real scenario is showing an overview of the graph schema and the counts per label :

![Screenshot 2022-05-31 at 09 29 44](https://user-images.githubusercontent.com/1222009/171117136-54bd177f-ecb9-48a5-b84b-51a28dce65e9.png)

We can of course make one query per label, but we have customers with large schemas ( 100 labels, 900 relationship types ) so it d

[2022-05-31 10:58] arnefischereit commented on #12888
That looks really nice.

Would this query be feasible for you?

[code]

In my environment, the system then comes up with this plan:

[code]

[2022-05-31 19:04] InverseFalcon commented on #12888
Also favor UNION ALL instead of UNION with queries like that, otherwise it will try to implicitly deduplicate the unioned results which can be unnecessarily costly, at least when the queries are more complex and many more rows are involved.

[2022-06-01 09:02] Dunfluff commented on #12882
Hi,
Thanks again for the report. It seems like the issue was due to a bug in our semantic checking. I have pushed a fix to the latest version and I'm currently backporting to all affected versions.

[2022-06-01 09:02] #12882 closed, assigned to HannesSandberg

[2022-06-01 12:27] mike-gormley commented on #12885
I've just been through a similar headache but found restarting neo4j after the import will show the nodes and relationships successfully. I did this with 4.4.7-community.

[2022-06-07 07:12] kalrashubham49 opened #12893 "NEO4JLABS_PLUGINS ENV in kuberenetes deployment not working"
I am using below code for neo4j deployment in my code , but Neo4j plugins that i am specifying is not getting downloaded

apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default

  labels:
    component: neo4j
  name: neo4j
spec:
  replicas: 1
  selector:
    matchLabels:
      component: neo4j
  strategy:
    type: Recreate
  template:
    metadata:
      namespace: default
      labe

[2022-06-07 09:22] arnefischereit commented on #12888
@ikwattro I assume that these hints have solved your issue and I will close the issue.
You can always reopen this issue or open a new one if this issue still persists.

[2022-06-07 09:22] #12888 closed, assigned to HannesSandberg

[2022-06-07 09:25] #12881 closed, assigned to HannesSandberg

[2022-06-07 10:29] klaren commented on #12875
@soda92 Do you need any more help?

[2022-06-07 20:00] aditya113141 opened #12894 "Need help with this apoc.load.json error"
Apologies if this isn't the right platform to ask this question. I am getting the error -

 Neo.ClientError.Procedure.ProcedureCallFailed: Failed to invoke procedure `apoc.load.json`: Caused by: java.lang.NoSuchMethodError: 'com.fasterxml.jackson.core.util.JacksonFeatureSet com.fasterxml.jackson.core.JsonParser.getReadCapabilities()'

while importing a file using apoc.load.json()

I had saved the

[2022-06-08 06:39] HannesSandberg commented on #12894
Hi, thanks for the report. We will investigate and come back to you!

[2022-06-09 14:00] zekefast commented on #2073
Is there any progress on it? It seems fit my use case quite ideally!

[2022-06-10 10:26] pjljvandelaar opened #12895 "Unexpected result"
Neo4j Desktop version: 1.4.15.

Given that the following queries return with the given answers.

[code]
[code]
[code]
[code]
[code]
[code]
I don't understand why
[code]
returns
[code]

Is this a bug?

[2022-06-13 04:07] rlch commented on #12695
@mnd999 Any word on whether a workaround is possible? Would be great to understand how the above was implemented.

[2022-06-13 06:12] HannesSandberg commented on #12895
Thank you for the report! We will investigate and come back to you.

[2022-06-13 06:25] arnefischereit commented on #12895
@pjljvandelaar: Could you please elaborate on your confusion?
I do not see a contradiction from the data that you have posted so far.

The most likely scenario that I could think of is that `*` in `-[:References*]-` does not resemble the [Kleene star](https://en.wikipedia.org/wiki/Kleene_star) in that it stands for 0 or more iterations but for 1 or more iterations:
https://neo4j.com/docs/cypher-ma

[2022-06-13 06:28] Lojjs commented on #12894
@aditya113141 APOC is a separate Github repo (although parts of it is shipped with Neo4j). There is a report about the same issue there https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/2861. Can you check if what is written there solves the issue for you and otherwise add a comment to that one instead?

[2022-06-13 06:28] #12894 closed, assigned to HannesSandberg

[2022-06-13 06:30] pjljvandelaar commented on #12895
Indeed I expected that + (Kleen plus) would be 1..* and * (Kleen star) would be 0..*.
But if Cypher has a different meaning for `*`: That is what confused me!

I leave it up to you to either close this issue, or
to make cypher more intuitive (and better linked to symbols used in other query languages).

[2022-06-13 06:51] arnefischereit commented on #12895
Traditionally, we did not consider the `0..` very useful and therefore made `1..` the default.
You will, however, be pleased to read that we are in fact re-working Cypher in that regard and will in the future have the semantics that you expected.
This needs to be done in such a way that it does not break backwards compatibility and we will also make the mechanism a lot more powerful. Stay tuned!

[2022-06-13 06:51] #12895 closed, assigned to HannesSandberg

[2022-06-13 10:27] ikwattro commented on #12888
Hi @arnefischereit ,

Sorry, I was travelling last week for GraphConnect.

It does yes, thanks a lot.

[2022-06-13 11:38] #12697 closed, assigned to nobody

[2022-06-13 11:41] gjmwoods commented on #12708
Closing due to inactivity. Please reopen if the issue still persists.

[2022-06-13 11:41] #12708 closed, assigned to nobody

[2022-06-13 11:41] gjmwoods commented on #12749
Closing due to inactivity. Please reopen if the issue still persists.

[2022-06-13 11:41] #12749 closed, assigned to nobody

[2022-06-13 11:42] gjmwoods commented on #12697
Closing due to inactivity. Please reopen if the issue still persists.

[2022-06-13 11:51] arnefischereit commented on #12888
No worries and thank you for the feedback. I hope you had a lot of fun :-)

[2022-06-13 14:16] PetrJanouch commented on #12891
Neo4j 4.4.7 ships with Netty 4.1.75 which is developed and tested with netty-tcnative 2.0.50.Final. Please try netty-tcnative 2.0.50.Final.

[2022-06-14 11:07] 2hdddg commented on #12885
Hi @jcuenod this is a docker issue, not a Neo4j issue. The base image will create the volumes and since you run the import during build after the volumes has been created everything you write to those volumes will be gone when you start the container.

As in this example:

RUN mkdir /avolume
RUN touch /avolume/works
VOLUME /avolume
RUN touch /avolume/gone

[2022-06-14 11:07] #12885 closed, assigned to nobody

[2022-06-14 21:36] InverseIntegral opened #12896 "sqrt of negative number is NaN"
Running the following query on an empty database
[code]
returns `NaN`. [The documentation](https://neo4j.com/docs/cypher-manual/current/functions/mathematical-logarithmic/#functions-sqrt) states that `sqrt` of any negative numerical expression should return `null` though. I guess `Math.sqrt` is called which simply returns `NaN` for negative numbers.

**Neo4j Version:** 4.4.8
**Operating System:**

[2022-06-15 10:17] #12651 closed, assigned to nobody

[2022-06-15 11:41] tanvp112 commented on #12891
Hi @PetrJanouch, I downloaded the netty-tcnative 2.0.50.Final jar from [here](https://repo1.maven.org/maven2/io/netty/netty-tcnative/2.0.50.Final/netty-tcnative-2.0.50.Final-linux-x86_64.jar), placed it in the plugin directory as usual and tried to startup:

[code]

As you can see the error remains. Can you advise do you get the jar from the same location and do you need to install any extra cryto

[2022-06-15 19:33] PetrJanouch commented on #12891
It looks like the netty-tcnative 2.0.50.Final jar is not discovered.
Could you go to debug log (but default located at <your installation>/logs/debug.log) and post the section beginning with

[code]

It is printed after each restart, so it might be there multiple times. Please, find the last one.
This section in the log lists all jars the server is aware of.

[2022-06-16 03:03] tanvp112 commented on #12891
It is on the classpath below: **_[classpath] /plugins/netty-tcnative-2.0.50.Final-linux-x86_64.jar_**

--------------------------------------------------------------------------------
                          [ JVM information ]
--------------------------------------------------------------------------------
VM Name: OpenJDK 64-Bit Server VM
VM Vendor: Oracle Corporation
VM Version: 11.0.15+10
JI

[2022-06-16 11:09] cnwangjie opened #12897 "java.io.IOException: Exception closing multiple resources."
Docker image: neo4j:4.4.5 (sha256:dda806294888780a1e32f44d9cb8729cf402d3962ba02e0ce75effeb013e6d43)

### Steps to reproduce

It will raise an error definitely when I run the following query. But it occurs on these parameters only. When I change the id or decrease the LIMIT below 3, It is fine.

[code]

<details>
<summary>error detail</summary>

[code]

</details>

[2022-06-16 14:20] PetrJanouch commented on #12891
@tanvp112 OK. I know what is wrong.

Netty project did some refactoring of their artefacts in 2.0.46 and they split the former netty-tcnative-boringssl-static* into two - netty-tcnative-boringssl-static and netty-tcnative-classes* .
So two jar need to be added to the plugin directory. I reproduced the issue when using netty-tcnative-boringssl-static-2.0.50.Final-osx-aarch_64.jar (of course you are

[2022-06-17 04:58] tanvp112 commented on #12891
Yes, you are right. Thank you very much for your time and supports, the issue is then resolved!

[2022-06-17 04:58] #12891 closed, assigned to nobody

[2022-06-17 07:24] Amit-krg commented on #12054
Is this resolved? I'm facing similar issue where a transaction with empty query is holding the lock and other transactions are waiting on that.

[2022-06-17 11:32] dotStart commented on #12867
Hey :wave:

generally there's a separation between the memory used by network operations (Direct buffer memory) and actual operational memory (Heap) so a disconnect in reporting is somewhat expected. Effectively it's possible to hit one limit without ever breaching the other thus leading to the impression that there is memory left. We provide a [documentation page](https://neo4j.com/docs/operation

[2022-06-20 04:17] ourdark opened #12898 "how to query a tree in graph dynamically with a schema tree"
I have a graph with cycles, and I want query the data in difference scenario according to a schema tree.

The data like this:

    Custom->Order->Product
                 ->Service
            ->Country

https://i.stack.imgur.com/ePF1s.png

and business want custom nation info and services, according to a schema tree.

    Custom->Order->Service
          ->Country
I can write a static query like

[2022-06-20 06:09] HannesSandberg commented on #12896
Thank you! We will look into this and come back to you.

[2022-06-20 06:12] HannesSandberg commented on #12898
Hello! We will look into this and respond back to you!

[2022-06-20 07:38] klaren commented on #12875
Closing due to inactivity. Feel free to open it again if the problem is still present.

[2022-06-20 07:38] #12875 closed, assigned to nobody

[2022-06-20 07:57] soda92 opened #12899 "Cannot build on Windows"
CI: https://github.com/soda92/neo4j/runs/6962505386?check_suite_focus=true

I use the solution here: https://github.com/neo4j/neo4j/issues/12875#issuecomment-1114712763

but it doesn't work.

[2022-06-21 07:29] HannesSandberg commented on #12898
@ourdark Thanks for the question but I recommend you to post it in the community forum https://community.neo4j.com/ instead since that is more suited for questions like this.

[2022-06-21 09:35] ourdark commented on #12898
@HannesSandberg sure, https://community.neo4j.com/t5/general-discussions/how-to-query-a-tree-in-graph-dynamically-with-a-schema-tree/td-p/56984.

[2022-06-21 09:35] #12898 closed, assigned to HannesSandberg

[2022-06-23 17:56] SeboCode opened #12900 "Inconsistency with unary arithmetic operations"
I discovered an inconsistency with unary arithmetic operations. I'm not sure if it is a bug or not, but the behavior is nonetheless very unintuitive.

**Neo4j Version:** 4.4.8
**Operating System:** Arch Linux 5.18.3
**API:** Java

### Steps to reproduce
The following query returns the value `1` as expected.
[code]
However, the query
[code]
results in an exception (same for combinations of unary ar

[2022-06-24 12:59] hikemachado opened #12901 "Neo4j cypher error when node property name contains \u for example: authentication\username"
Hi All,
I found the following strange behavior on neo4j 4.4

A graph where some types of nodes have a property name authentication\username
Example:
[code]
neo4j shows an error
[code]
But I'm not using unicode in there

it was never a problem working with neo4j 3.5 but now after migrate do neo4j 4.4 a cypher query like that is not working

- Neo4j version: 4.4.6
- Operating system: (for example Wi

[2022-06-27 06:41] HannesSandberg commented on #12900
Thank you for the report. We will investigate and report back to you.

[2022-06-27 06:44] HannesSandberg commented on #12901
Thank you! We will look into this and report back to you.

[2022-06-27 07:22] zhiburt opened #12902 "ByteBuf.release() was not called before it's garbage-collected"
Hi there;

I am not sure if I must report it;
I've just seen this in the logs.

[code]

I was using the latest docker image.

[2022-06-27 13:31] gem-neo4j commented on #12868
Hey! We have fixed the issue and it should be available on the next release :D

[2022-06-27 13:31] #12868 closed, assigned to HannesSandberg

[2022-06-28 06:49] saritatewari4 opened #12903 "After migration from neo4J 3.5.20 to neo4j 4.2.4, I am not able to restore data which was loaded before migration."
Hello,

I have migrated my application from java 8 to java 11 and upgraded neo4j vesrion from 3.5.20 to 4.2.4. I am not not able to connect to neo4J desktop using docker with neo4j 4.2.4. Please check pom dependencies:

[code]

This is application properties for neo4j:

[code]

This is my docker-compose file:

[code]

When I am running the application in my local , I am able to connect to neo4j De

[2022-06-28 08:37] mnd999 commented on #12903
Thanks for your report, unfortunately Neo4j 4.2 is no longer a supported. For information on supported versions and EOL dates, see [here](https://neo4j.com/developer/kb/neo4j-supported-versions/).

[2022-06-28 08:37] #12903 closed, assigned to nobody

[2022-06-29 15:34] arnefischereit commented on #12877
Hi @InverseIntegral,

Thanks for reporting the issue. We have implemented a fix for it which will be part of the next release, probably 4.4.9.

I am closing this issue, should the problem persist (after the release of 4.4.9) or reappear please reopen this issue or open a new one.

Regards,

Arne

[2022-06-29 15:34] #12877 closed, assigned to arnefischereit

[2022-06-29 15:41] arnefischereit commented on #12889
Hi @InverseIntegral,

As you have already guessed in your original comment, this is the same issue as reported in #12877, so it should also be fixed in release 4.4.9.

I am closing this issue. Should you have any more questions or should the issue persist after the release of 4.4.9, you are welcome to comment here or re-open the issue again.

Regards,

Arne

[2022-06-29 15:41] #12889 closed, assigned to HannesSandberg

[2022-07-01 12:11] grokpot commented on #7814
I arrived here because I want to use [node ID](https://neo4j.com/docs/cypher-manual/current/functions/scalar/#functions-id) to simplify operations (e.g., "connect ID X to ID Y" regardless of labels), but then I see the [warning here](https://neo4j.com/docs/cypher-manual/current/clauses/match/#get-node-rel-by-id) stating:
[code]
Fine - but then why can't I generate a unique constraint which either

[2022-07-03 01:45] bradenmacdonald commented on #12844
Hi @HannesSandberg and team,

I spent some more time digging into this issue today and I think I am closer to identifying the root cause.

1. My application has two triggers installed in the `before` phase which run some validation and throw an exception if certain conditions are not met, similar to triggers shown in the documentation.
    * For example, this is one of the triggers:
[code]
    * A

[2022-07-04 00:33] wuzhijin98 opened #12904 "Neo.ClientError.Security.AuthenticationRateLimit"
When I log in to the database, an error Neo.ClientError.Security.AuthenticationRateLimit: The client has provided incorrect authentication details too many times in a row pops up. Even if I delete the DBMS file, it is useless

[2022-07-04 11:45] #12879 closed, assigned to HannesSandberg

[2022-07-04 12:30] arnefischereit commented on #12831
Hi @abc123000111,

Thanks for reporting the issue. We have implemented a fix for it which will be part of the next release, probably 4.4.9.

I am closing this issue, should the problem persist (after the release of 4.4.9) or reappear please reopen this issue or open a new one.

Regards,

Arne

[2022-07-04 12:30] #12831 closed, assigned to HannesSandberg

[2022-07-05 08:17] blouerat commented on #12879
Thank you for raising the issue, I've just merged a fix for it, will be out with the next release

[2022-07-06 07:30] gem-neo4j commented on #12900
Hi there! Thank you for writing this in to us, we took a look and whilst it does seem strange, this is intentional behaviour. We decided to not allow the chaining of unary operators e.g ---+++-+-+---++2 which leads us to only allow one unary operator (+ or -). However, it is still possible to invert a number using a minus sign. This leads us to allow a unary operator and the minus sign e.g —1 or +

[2022-07-06 07:30] #12900 closed, assigned to HannesSandberg

[2022-07-06 08:24] tomocesnik opened #12905 "Eager query evaluation"
# System info

- Neo4j version: 4.4.6-community
- Operating system: Docker image on WSL2 and Docker Desktop on MS Windows 10 Pro
- API/Driver: Cypher in Neo4j Browser

# Steps to reproduce

1. Pull the docker image and start the database instance.
2. Use the following Cypher code in Neo4j browser on empty database:
[code]

# Expected behavior
The query is correctly executed and `false` is returned

[2022-07-08 12:50] arnefischereit commented on #12836
Hi @abc123000111,

We have looked into this issue and this is the same issue as reported in #12831, resulting in 4.1 returning the wrong number of results.

As 4.1 is [not supported anymore](https://neo4j.com/developer/kb/neo4j-supported-versions/), we will not provide a bugfix for this issue but ask you to upgrade to 4.4.9.

I am closing this issue. Should the problem persist on a supported versi

[2022-07-08 12:50] #12836 closed, assigned to HannesSandberg

[2022-07-08 19:59] aress31 opened #12906 "Java 18 Support?"
I currently have the following version of `Java` installed on my system:

[code]

For some reason it seems that `neo4j` does not support this version but instead only supports the older `Java 11` version, how come? And is there any plans to increase the support coverage?

[2022-07-11 07:17] HannesSandberg commented on #12905
Thanks for the report! We will investigate and come back to you.

[2022-07-11 07:27] HannesSandberg commented on #12904
Hello! Please make sure that you don't have another process that tries to connect with the wrong credentials (for example an open neo4j browser). You can try to start it up using a different port number to make sure nothing else is trying to connect.

[2022-07-11 07:31] arnefischereit commented on #12905
Hi @tomocesnik,

While we have not decided on what to do with this, you could use something like the following workaround to hide the type of `propValue` from the static analysis:

[code]

I hope this helps.

Regards,

Arne

[2022-07-11 07:37] mnd999 commented on #12906
I don't think we have any plans to support non-LTS (Long-Term-Support) versions of the JDK such as Java 18, no. Neo4j 3.x was on Java 8 (LTS), Neo4j 4.x uses Java 11 (LTS). The next LTS release was Java 17, so it is likely that will be supported for the Neo4j 5.x series.

[2022-07-11 07:37] #12906 closed, assigned to nobody

[2022-07-12 21:01] Xmaxer commented on #12695
I stumbled upon this when looking for cursor based pagination for Neo4J.

I saw the comment @mihairadulescu made and decided to do a bit of reverse engineering investigating into how this works: https://neo4j.com/docs/graphql-manual/current/pagination/cursor-based/

Either I am confused and am getting this wrong, or this isn't cursor pagination. It's literally offset pagination disguised as cursor

[2022-07-12 21:51] alexandre-le-borgne commented on #12695
I came to the same conclusion.

I also tried to understand how Apollo Graphql (neo4j client) does it but the method they use is not suitable either (forced to keep somewhere the ids of all the elements already retrieved).

https://github.com/apollographql/apollo-client/blob/73a4797747b9d3f5d961c910ad1d88d716a0e631/docs/source/pagination/cursor-based.mdx

## **POSSIBLE WORKAROUND HERE :**

I found

[2022-07-13 04:45] rlch commented on #12695
Hey all,
I actually came up with a (pretty thoroughly) tested solution for cursor-based pagination, which also supports reversing + sorting. This implementation only supports listing a single node, but I've also written another implementation generalizing over a path -- i.e. matching x in `(A)-[B]->(x)` and `(x)-[B]->(C)`. Let me know if you want me to post this as a gist or something.

[code]

Ap

[2022-07-13 12:13] Xmaxer commented on #12695
Hey @rlch could you post this as an end result cypher query (Or queries based on different conditions)? Just to remain language agnostic. I'd imagine others could then build their own implementations in whatever language to build the cypher query dynamically.

Thanks!

[2022-07-13 12:58] srishino1016 commented on #5444
Hi All, I am stuck in opening http://localhost:7474/browser/, following from the above discussion I deleted the auth file which was present to me at: $HOMEPATH$:.Neo4jDesktop\relate-data\dbmss\dbms-39c3c302-aef2-4752-97cc-e07143fd22bf\data\dbms.
Before deleting the file atleast the 7474/browser page was opening and asking for username(my input: neo4j) and password (my input: neo4j) but now the pag

[2022-07-14 15:46] kasicWu opened #12907 "load big csv file return error: connection reset"
- Neo4j version: 4.1.3 community
- Operating system: redhat7.6
- API/Driver: Python driver v4.2.1

neo4j config:
heap.max_size: 32g
heap.init_size: 32g
pagesize: 16g

existing data volume:
number of nodes: about 300 thousand
number of relationships: more then 400 million

load remote big csv file return connection reset error
csv size: 235m,more than 4 million lines
have index:NODE(ip)

use python

[2022-07-14 16:45] mnd999 commented on #12907
Unfortunately Neo4j 4.1 is no longer supported, so we suggest you upgrade to a supported version.
The issue is likely the transaction size is getting to large, please see the documentation for `USING PERIODIC COMMIT` [here](https://neo4j.com/docs/cypher-manual/current/clauses/load-csv/#load-csv-importing-large-amounts-of-data) to batch your transactions.

Generally we prefer to answer these types

[2022-07-15 09:09] adubkov commented on #12706
@rudolfschmidt I agree with you - this is basic feature, like authentication and I can't imagine community would not implemented it yet. But I don't think neo4j will accept any PR from community that will add missing "enterprise" features.

As workaround you can run multiple instances of database in containers and switch between them or if you stick with AWS just use Amazon Neptune instead. They e

[2022-07-15 19:02] Prometheus3375 opened #12908 "Neo4j container fails to start on next Docker startup if Docker engine was shut down while Neo4j was running"
## Description

If Docker is stopped while Neo4j container is running, on next Docker startup Neo4j will fail to start.

## Versions
Neo4j version: 4.4.8
Operating system: Windows 10 21H2
API/Driver: Docker

## Initial steps
1. Install Docker Desktop and follow [this guide](https://docs.docker.com/desktop/windows/wsl/) to enable WSL integration.
2. Launch Docker Desktop.
3. Log into WSL in termina

[2022-07-15 19:37] Prometheus3375 opened #12909 "Cypher expression `exists(() --> (node))` evaluates to false when actually it is true"
## Version

Neo4j version: 4.4.8
Operating system: Windows 10 21H2
API/Driver: Docker, Python 3.9, Python Neo4j driver 4.4.4.

## Steps to reproduce

- Deploy neo4j database somewhere, I am using Docker container.
- Run next Python script below. It is just for convenience, all transactions can be done in Neo4j web interface.

[code]

- You will get an error:
[code]
- Open Neo4j web interface and f

[2022-07-16 01:24] kasicWu commented on #12907
Thank you for your answer! @mnd999
I tried to use "using periodic commit", but it was still the same error

Today, I want to clean up invalid data and find that a node cannot be deleted and its relationship cannot be deleted
Executing the delete statement of this node does not return results, and it has been blocked for several hours without returning
Is there a deadlock? Where can I find the lock

[2022-07-16 02:20] kasicWu commented on #12907
open

[2022-07-16 15:20] kasicWu commented on #12907
Recover after restarting the database
I think the data should be deleted while importing the data, resulting in a deadlock.
There is no error when executing cypher program, and the lock is not released when the execution is finished.

[2022-07-16 15:20] #12907 closed, assigned to mnd999

[2022-07-17 15:43] tntsoft commented on #7814
I've started with Neo4j yesterday and already ran into this issue. It would be very useful to add a constraint on a combination of 2 or more labels.

[2022-07-18 07:10] HannesSandberg commented on #12909
Hi! Thanks for your report, we will investigate this and come back to you!

[2022-07-18 19:11] SeboCode opened #12910 "Wrong error statement when calling `localdatetime()` function with `DISTINCT`"
I found a bug in an error message when calling the function `localdatetime()` with the `DISTINCT` keyword.

- Neo4j version: 4.4.8
- Operating system: Arch Linux 5.18.3
- API/Driver: Java/Sandbox

### Steps to reproduce
Execute the wrong statement
[code]

### Expected behavior
Neo.ClientError.Statement.SyntaxError is thrown with error message:
[code]
### Actual behavior
Neo.ClientError.Statement.S

[2022-07-19 05:39] abhinavchawla07 commented on #12910
@SeboCode I would love to work on this issue.

[2022-07-19 15:03] SeboCode commented on #12910
@abhinavchawla07 Go for it. I'm currently busy with other projects, so I was not planning on fixing it myself 👍🏼

[2022-07-20 13:19] InverseIntegral opened #12911 "IllegalStateException whilst planning distinct union"
The following query
[code]
throws an unexpected exception:
[code]
I would expect the query to run without any exception.

**Neo4j Version:** 4.4.9
**Operating System:** 5.18.9 Arch Linux
**API:** Java

[2022-07-21 07:29] HannesSandberg commented on #12910
Thanks for the report! We will investigate

[2022-07-21 07:31] HannesSandberg commented on #12911
Thank you for the report! We will investigate and come back to you.

[2022-07-23 21:30] TWiStErRob commented on #12746
Could someone with access please do some or all of what's suggested in https://github.com/neo4j/neo4j/issues/12746#issuecomment-882697159?

Note: there's still no "changelog" for harness that I could find, this issue ranks first, is there a pointer we could put here to help future investigators?

[2022-07-23 21:40] TWiStErRob commented on #12746
Right now the only way I see for changes is:
 * Find the commit date for the old version: https://github.com/neo4j/neo4j/tree/4.2.4
 * Mar 12, 2021
 * Look for a commit just before that here (manually): https://github.com/neo4j/neo4j/commits/4.4/community/neo4j-harness
 * b830bf12cc50609d5c16bbcc8cc9bcd9ac832c6c
 * Look through each commit above it to see "changes"

[2022-07-26 09:34] mnd999 commented on #12904
We haven't heard anything back on this issue for a while so I will close for now. If it's still an issue, please feel free to reopen.

[2022-07-26 09:34] #12904 closed, assigned to HannesSandberg

[2022-07-27 14:46] gem-neo4j commented on #12883
Hey, we have resolved this issue and it should be available for the next major release :)

[2022-07-27 14:46] #12883 closed, assigned to HannesSandberg

[2022-07-31 17:35] Prometheus3375 commented on #12909
I actually got an error in live project even with condition `exists(()--(prop))`. For now I consider to do removal of orphan properties separately.

[2022-08-01 11:51] #12911 closed, assigned to HannesSandberg

[2022-08-02 09:24] surendragalwa opened #12912 "Spring boot embedded neo4j: Uable to connect from client when Neo4J is in docker container"
Hello all, I upgraded one of my spring boot application from java 8 . I was using spring boot version 2.1.5.RELEASE previously with these all dependencies:

[code]

Now upgraded that to java 11 with spring boot version 2.3.3.RELEASE with these dependencies:

[code]

I am running embedded neo4j on spring-boot application. It's working fine when running in local. I am not able to connect to database

[2022-08-02 22:09] markslater opened #12913 "Transactions with large deletes have badly performing merges"
When executing a transaction that begins by deleting a large amount of data, `MERGE` performance is very poor.

I suspect that the `DELETE` at the start of the transaction results in the indexes being unavailable to later statements in the transaction, resulting in table scans.

- Neo4j version: 4.4.8 Enterprise
- Operating system: N/A (reproduced in public sandbox)
- API/Driver: N/A

**Steps to r

[2022-08-03 08:10] phil198 commented on #12913
Hi @markslater  - thanks for letting us know about this and for the comprehensive description. We will investigate and get back to you.

[2022-08-03 13:04] nioertel opened #12914 "Processing dbms.jvm.additional broken since 4.4.9"
## Bug report

When upgrading to Neo4j 4.4.9 we realized that processing of the property `dbms.jvm.additional` is not working anymore for JVM parameters that contain spaces.

Extract from neo4j.conf:
`dbms.jvm.additional="-XX:+HeapDumpOnOutOfMemoryError" "-XX:HeapDumpPath=/tmp/" "-XX:OnOutOfMemoryError=/usr/bin/env handle-oom.sh %p /tmp/java_pid%p.hprof" "-Dlog4j.configurationFile=classpath:log4j2

[2022-08-03 13:25] nioertel commented on #12914
Probably related to this commit: neo4j/docker-neo4j@17c0acc598fab6765a5366164b056524eeaf8647
I will also raise a bug in the neo4j-docker repository.

[2022-08-04 11:26] sherfert commented on #12911
@InverseIntegral The fix will be part of the next 4.4 release.

[2022-08-05 21:30] umayaml opened #12915 "When using neo4j-admin to import from csv get "Unexpected node header type 'START_ID'""
- Neo4j version: 4.4.9
- Operating system: Ubuntu 16.04

Attempting to build neo4j database from csv files I previously used in neo4j 3.5.2.
Headers for node file is:
bodyID:ID(Body-ID),bodyId:long,pre:int,post:int,:LABEL
Relationship file is:
:START_ID(Body-ID),weight:int,:END_ID(Body-ID)
I get this error when using 4.4.9:
`org.neo4j.internal.batchimport.input.HeaderException: Unexpected node hea

[2022-08-06 02:43] #12915 closed, assigned to nobody

[2022-08-08 08:17] BrokenWingsIcarus opened #12916 "PrimitiveLongIntKeyValueArray in the source code may be invalid ,it does not use the parameter initialCapacity to assign members."
Constructor of the class org.neo4j.bolt.messaging.util.PrimitiveLongIntKeyValueArray is problematic, it does not use the parameter initialCapacity to assign members.
[code]
I use this unit test reproduce this error。
[code]
I was wondering if I could change the construct of this class to
[code]

Is anyone familiar with the relevant code, can I submit a pr with this。

[2022-08-11 14:44] chenjunyi1999 opened #12918 "Can't launch 'Neo4j Browser' while it has the 'UPDATE_DOWNLOADING' state."
When I quit the 'Neo4j Browser' for the first time , I can not open 'Neo4j Browser' in Neo4j Desktop any more. The errors messages says **"Can't launch 'Neo4j Browser' while it has the 'UPDATE_DOWNLOADING' state."** . However,  I can always open it in my chrome 'http://localhost:7474/browser/'  <br>

I am wondering if it is a bug or something wrong with my network/browser.

Neo4j version: 4.4.3
Op

[2022-08-17 11:48] ddaa2000 opened #12919 "Performance regression become slower in the new version"
I discovered that a query is much slower in the version4.4.10 compared with 4.3.17. I wonder if this is a performance defect?

**Neo4j Version:** 4.4.10 (compared with 4.3.17)
**Operating System:** Ubuntu 20.04
**API:** Java API

# Steps to reproduce
1. execute following queries to create the graph: [graph.txt](https://github.com/neo4j/neo4j/files/9359188/graph.txt)
2. execute the following query:

[2022-08-17 12:02] hikemachado commented on #12901
Hi @HannesSandberg , do you have any update on this?
Thanks

[2022-08-18 13:16] nadja-muller commented on #12901
Hi @hikemachado. I got around to having a look and there is definitely something wrong with this. I will update you as soon as we have a fix.

[2022-08-19 12:31] hikemachado commented on #12901
Hi @nadja-muller , thanks a lot for the update.
Its been amazing to work with Neo4j team , database and community.
Thanks  you all!!

[2022-08-19 18:09] alexgarel opened #12920 "Multiple database in community edition"
We start to use neo4j for an open source project where we will import graph, work on them, and dump them. We will have different graphs for each iteration and different iteration in parallel (those are taxonomies).

We begun working on the project with neo4j, it's cool, it match our requirements perfectly.
I was planning to have one database per taxonomy at a certain version.

But today I realized

[2022-08-20 17:42] alexgarel commented on #12920
Adding some less emotional explanations ;-)

[The project](https://github.com/openfoodfacts/taxonomy-editor/) is open source and needs to be reusable freely. That's why I don't want the project to depend on non open source feature of neo4j.

Really it's about pushing just a bit the cursor of functionality towards the community edition, at a level that seems reasonable to me and may help adoption (

[2022-08-22 07:14] HannesSandberg commented on #12919
Hi, thank you for bringing this up. We will investigate and report back to you!

[2022-08-22 11:38] shrivastavrk commented on #12919
@HannesSandberg  while cypher team is checking on this issue, My team is also facing some issue, we also upgraded from v4.2.5 to v4.4.10,

we found out.
1. set clause taking more db hits compare to v4.2.5
2. initial non-index based property filtering is also slower  in v4.4.10 compared to v4.2.5,
3. page caching is also not working perfectly here in latest version,

I am using windows neo4j deskto

[2022-08-22 16:20] DakotaSpencer commented on #12908
How do I fix this though?

[2022-08-22 19:26] Prometheus3375 commented on #12908
I was fixing this by re-creating the container.

[2022-08-23 02:24] psytron opened #12921 "Edit Node Properties in NEO4J Browser"
Would be great to quick edit node properties here:
<img width="999" alt="edithere" src="https://user-images.githubusercontent.com/7834453/186054780-86e9f013-37b6-4be7-99a8-a4333260fd0f.png">

[2022-08-23 04:22] zh-po1c opened #12922 "Incorrect paging results when sorting fields have the same value"
Neo4j Version: 4.4.10
Operating System: CentOS Linux release 7.4.1708
API: Java API
neo4j-java-driver: 4.4.9

### No data was added during execution.

### The same record[`node<10>`] exists on the first page and the second page.

### The same Cypher is executed in the neo4j  browser(version:4.4.10) and the correct result is obtained.

 [2022-08-23 11:36:23] [DEBUG] [org.springframework.data.neo4j.

[2022-08-23 14:07] loveleif commented on #12909
Hi @Prometheus3375, thanks again for taking the time to report this, and sorry to let you wait. I can reproduce the issue and as far as I can tell it's a bug in our kernel API, I'm sending the issue to our kernel team.

[2022-08-24 08:46] GaoDong666 opened #12923 "Asking for help on the storage engine of Neo4j"
Hello!
There is no doubt that Neo4j is a well-deserved mainstream graph database!
For experimental purposes, I need to modify Neo4j's storage engine and reimplement the underlying data structures like nodes, relationships and graphs in another way.  Could you please tell me which parts of the Neo4j's source code should I modify?
Thank You!

[2022-08-24 12:37] nanda-rani opened #12924 "How to create a relation between two nodes without any tag? Is it possible?"
I want to create a directed graph without any relationship info. I don't want any tag on edges connecting nodes. Is there anyway to do that? Please share Cypher code for the same. I'm unable to do that.

[2022-08-24 13:33] sylvester-depaiva opened #12925 "duration.inDays() does not return just days precision"
As the sample shows in the docs:

Compute the number of days between two Date values:
Query
RETURN duration.inDays(date('2014-10-11'), date('2015-08-06')) AS theDuration

Table 47. Result
theDuration
P299D
1 row

Instead I get this result (this test is done in the sandbox):
P9M29D

[2022-08-24 16:44] ddaa2000 opened #12926 "Suspicious lack of optimization in new version"
I discovered that a query runs more than 1000 times slower in 4.4.10 compared to 4.2.19

**Neo4j Version:** 4.4.10
**Operating System:** Ubuntu 20.04
**API:** java

# Steps to reproduce
1. Execute [graph.txt](https://github.com/neo4j/neo4j/files/9417838/graph.txt) to create the graph
2. Execute the following query:3.
[code]
or
[code]

# My discovery and assumption
The above two queries take more t

[2022-08-24 16:52] ddaa2000 opened #12927 "Worse performance in newer version when using relationships with dynamic length"
I discovered that when a query becomes slower when using 4.4.10 compared to 4.3.17

**Neo4j Version:** 4.4.10
**Operating System:** Ubuntu 20.04
**API:** Java

# Steps to reproduce
1. Execute following queries to create the graph:[graph.txt](https://github.com/neo4j/neo4j/files/9418005/graph.txt)2.
2. Then execute:
[code]

4.4.10 takes more than a minute while 4.3.17 only takes less than a second.

[2022-08-25 02:16] jmsuhy commented on #12920
I plan on releasing a plug-in that turns on multi database functionality in core (along with other ee features).  Of course if they do it in community,  then even better!

[2022-08-25 07:40] Roxling commented on #12923
Hello!
For experimental purposes I would suggest to modify the existing engine, as completely writing a new one is an undertaking that likely takes years to do properly, even with intricate knowledge of how it works. I would suggest the following starting point https://github.com/neo4j/neo4j/blob/4.4/community/record-storage-engine/src/main/java/org/neo4j/internal/recordstorage/RecordStorageEngine

[2022-08-25 08:23] jimwebber commented on #12920
Hi @alexgarel,

Presently there are no plans to move the multi-DB feature into community edition. Usually that feature is used by SaaS customers who are Enterprise users. There's good product-market fit there.

In your case, I see that you've discounted using labels, so I think you have perhaps two choices (at least):

1. Dockerise neo4j and treat it as container-per-user.
2. Script Neo4j so that

[2022-08-25 08:59] steve-solun opened #12928 "Neo4j graph blind search for any node and relationship containing an expression?"
I am trying to build a blind search, given an expression/string.

Using Python Neo4j driver I am running:

[code]
I know I need to add full text index to make it faster, please advise what is the best practice to define the full text index in Neo4j when I want to perform full graph search on the nodes/relations params? For example, I am searching for 'kuku' in my graph across all nodes and relatio

[2022-08-25 09:00] steve-solun commented on #12928
It's a question, not a bug, maybe worth adding this tag.

[2022-08-25 09:04] alexgarel commented on #12920
Hi @jimwebber I'm a bit sad for your answer of course.

Dockerizing per database seem too complex too me. I don't have a per user scenario but more "per version", the idea in this project is that you do a round of edition on the graph, then submit it, and the edition is collaborative. So it would mean launching instance "on demand" which means letting the project control docker launch, thus crossi

[2022-08-25 09:04] #12920 closed, assigned to nobody

[2022-08-25 10:36] GaoDong666 commented on #12923
@Roxling Thanks for your reply! I'm new to Neo4j and I wonder is there any source code analysis (such as tutorial or documentation) for Neo4j?

[2022-08-25 10:43] klaren commented on #12899
Hello,

According to the log, you are running `mvn -Dlicensing.skip --no-transfer-progress install`.
Maven expects the second argument to be a goal, so you have to specify `install` first.

E.g.
[code]

[2022-08-25 12:24] InverseIntegral commented on #12887
This seems to be fixed now in newer versions (confirmed on 4.4.10 enterprise).

[2022-08-25 12:29] Roxling commented on #12923
Neo4j has plenty of documentation here: https://neo4j.com/docs/
However, not much public documentation of how it works internally. The storage engine api is a fully internal api not really intended for the community to use and build their own storage engines. It has never been done as far as I am aware. Neo4j community edition is fully open sourced so you will have to read the code to figure out h

[2022-08-25 12:44] soda92 commented on #12899
No.
https://github.com/soda92/neo4j/runs/8016016097?check_suite_focus=true

[2022-08-25 13:16] klaren commented on #12899
Alright, appears to be an issue with PowerShell: https://stackoverflow.com/questions/31166828/how-to-handle-dots-in-powershell-commands

[2022-08-25 17:49] org-ci-cd commented on #12572
I don't have a solution no, still happening on 4.1.11.
I don't think we'll have an answer since 4.1 is out of life.

I'll revive the thread if I see the issue with 4.4.10 and above

[2022-08-28 04:57] soda92 commented on #12899
It finally runs, but failed.
https://github.com/soda92/neo4j/actions/runs/2933586723
It always fails... How do **You** build it? Is it fully open source? Or you release a BUGGED VERSION?

[2022-08-28 05:48] zh-po1c opened #13355 "Incorrect paging results when sorting fields have the same value"
The same record[node<10>] exists on the first page and the second page.

**Neo4j Version:** 4.4.10 Community
**Neo4j Mode**: Single instance
**neo4j-java-driver**: 4.4.9
**Operating System:** CentOS Linux release 7.4.1708

### Steps to reproduce
[code]

[code]

But, the same Cypher is executed in the neo4j browser(version:4.4.10) and the correct result is obtained.

### logs
[code]

[2022-08-28 21:10] Louissauvageau266790 opened #12929 "debug"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

Before creating a new issue, please check whether someone else has raised the same issue. You may be able to add context to that issue instead of

[2022-08-29 14:06] klaren commented on #12899
@soda92 There are a couple of test failures, which are flaky and will most likely pass the next run. We are trying to address all flaky tests but there will always be a few out of our 100000+ tests that will sporadically fail.

If you just want to build it you can run it with `-DskipTests`. This should always work.

Our internal pipeline looks like this:
1. Build the whole project with `mvn packag

[2022-08-30 07:15] HannesSandberg commented on #12925
Thank you for your report. I get the same result, we will investigate and come back to you.

[2022-08-30 07:21] HannesSandberg commented on #12924
Hello! Thanks for reaching out to us. That is not possible, you have to add a tag.

[2022-08-30 07:24] HannesSandberg commented on #12926
Hi! Thanks for your report. We will investigate this.

[2022-08-30 12:45] soda92 commented on #12899
OK. Thanks.

[2022-08-30 12:45] #12899 closed, assigned to klaren

[2022-08-30 14:12] Roxling commented on #12923
If you have any more questions, don't hesitate to reach out

[2022-08-30 14:12] #12923 closed, assigned to nobody

[2022-08-31 12:39] aandronikakis opened #12930 "Heap/Pagecache boundaries"
I am experimenting on an older version of neo4j (3.5) unfortunately because of the JVM restrictions (java v8). I am performing a memory profiling and I need to know which of the misses I am getting are from pagecache and which ones are from the heap. So i am trying to figure out which ones are the [memory boundaries of neo4j](https://neo4j.com/docs/operations-manual/3.5/_images/neo4j-memory-manage

[2022-08-31 13:07] HannesSandberg commented on #12927
Thank you! We will look into this and report back to you.

[2022-08-31 13:12] alexanoid opened #12931 "Failed to invoke procedure apoc.cypher.mapParallel2: Caused by: java.lang.RuntimeException: Error polling, timeout of 10 seconds reached"
I have the following Cypher Query:

    MATCH (dg:DecisionGroup {id: -3})-[rdgd:CONTAINS]->(childD:Vacancy )
     WITH collect(childD) as childDs
    CALL apoc.cypher.mapParallel2("WITH _ as childD  WHERE  (childD.`active` = true)  RETURN childD  "
    , {}, childDs, 4) YIELD value as value
    WITH value.childD as childD
    WITH childD
    ORDER BY childD.createdAt DESC SKIP 0 LIMIT 10 MATCH (dg

[2022-08-31 14:17] #12931 closed, assigned to nobody

[2022-09-01 21:11] TWiStErRob opened #12932 "Illegal reflective access using Lookup on org.neo4j.internal.unsafe.UnsafeUtil"
I was looking at my CI logs when I noticed this. Not entirely sure what's happening, or why. I'm reporting this because it wasn't mentioned before.

- Neo4j version: 4.4.10
- Operating system: Windows 10
- Java version: java-11.0.2-x64-openjdk
- API/Driver: `Neo4jBuilders.newInProcessBuilder().build().boltURI()` (I guess)

### Steps to reproduce
1. Clone https://github.com/TWiStErRob/net.twisterro

[2022-09-03 07:44] buyvtuygJW opened #12933 "Failed to build from current git source,PublicApi.txt, does not match the old signature in....."
To help us understand your issue, please specify important details, primarily:

- Neo4j version: direct git copy
- Operating system: Win10
- API/Driver: --
- **Steps to reproduce**
- Expected behavior compile perfectly
- Actual behavior,
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project neo4j-graphdb-api: Compilation failure
[E

[2022-09-04 17:14] buyvtuygJW opened #12934 "windows neo4j community could not find java even if its there."
##  bug report
a slightly memefied yt vid is made to demonstrate that there is actually a actual valid java binary there,https://youtu.be/qGIVJ2f_ASg

- Neo4j version: 4.4.10
- Operating system: win10

### Steps to reproduce
1. download the community installer,install it.
2. get the jdk ready in a console.use that console cd to the neo4j bin folder
3. run>neo4j

### Expected behavior

just run pro

[2022-09-04 17:17] buyvtuygJW commented on #12934
is should be a quick fix on powershell side and that should be ok.
though if someone can verify it works on other windows device,then it would means that there is some ps incompatible version or whatnot.

[2022-09-05 06:34] mnd999 commented on #12933
Can you check the Java version you are using? Neo4j 4.x requires Java 11.

[2022-09-05 09:17] nadja-muller commented on #12901
Hi @hikemachado.
We discussed how the escaping should work in Cypher and we decided that in general it would be correct to throw an exception when writing an invalid unicode. What we think we should fix is that we allow escaping the backslash by repeating it similar to what we allow in string literals. In the future, you would be able to create a node with `authentication\\username`.

This is unfo

[2022-09-05 11:48] klaren commented on #12932
Hello and thanks for reporting,

This is somewhat expected behavior and is related to https://openjdk.org/jeps/261#Relaxed-strong-encapsulation

Neo4j and the libraries we use do access some internal classes to optimize performance, not doing this would result in significant degradation. Unless the JDK evolves to accommodate these cases(which is happening, we are not there yet though) there is not

[2022-09-05 12:19] TWiStErRob commented on #12932
Do you know where this particular access is coming from? Is it only in `newInProcessBuilder` or that's a red herring? -- oh, never mind, [rtfm](https://openjdk.org/jeps/261#Relaxed-strong-encapsulation) 🎉:
[code]

[code]
and it also showed another one:
[code]

[2022-09-05 12:22] TWiStErRob commented on #12932
Note: it would be nice if we could write `--add-opens java.base/java.nio=neo4j`, so that it doesn't hide all the warnings, and it's possible to find and report other usages to other libraries.

[2022-09-05 12:25] klaren commented on #12930
Hello,

If the available JVM is based on OpenJDK 8u60 with [JDK-8072465](https://bugs.openjdk.org/browse/JDK-8072465) or later you should have `-XX:+PreserveFramePointer`. All allocations for the page cache will go through `org.neo4j.unsafe.impl.internal.dragons.UnsafeUtil#allocateMemory(long)` call which you might be able to filter on?

Internally we mostly use https://github.com/jvm-profiling-to

[2022-09-05 13:01] pontusmelke commented on #12919
@ddaa2000 I ran the query on 4.4.10 and and 4.3.17 and I couldn't find any measurable difference. In order to assess performance you probably need to run the query multiple times to make sure caches are populated and other processes on the machine are not affecting the performance.

When running the above query on a cold database I get around 60ms for the first execution whereas rerunning the quer

[2022-09-05 13:11] klaren commented on #12932
You could do that, the module in question would be `org.neo4j.unsafe`, i.e.
[code]
You can get the module name with `jar --file <jarFile> -d`.

My guess is that all library developers are well aware of this issue since they would also need to suppress the warnings in their builds. But for finding issues in your own code maybe you could do that.

Also, `All illegal access operations will be denied

[2022-09-05 14:01] klaren commented on #12934
Not entirely sure what goes wrong. The code is here https://github.com/neo4j/neo4j/blob/4.4/packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Invoke-Neo4jUtility.ps1#L128 and it looks like it checks `JAVA_HOME` first before going to the registry. Maybe you can follow the code and see if you can see where it fails? My Windows installation works as expected.

[2022-09-05 17:12] TWiStErRob commented on #12932
Thank you so much for the pointers, I learned 2 new things (`--illegal-access=debug` and `jar -d`) in this short interaction!

That's a good thing, builds would be breaking left and right I think.

[2022-09-06 06:55] InverseFalcon commented on #12927
Keep in mind this is a highly inefficient query, performing a cross product of every path matching the first match pattern with every single-relationship path in the graph `()-[]->()`. The planner has the ability to decide how to execute the query, and usually the more specific you can be with the pattern the more efficient it can be. Without anything to restrict the second part of that MATCH, it

[2022-09-06 09:07] buyvtuygJW commented on #12934
It doesnt seems to go through this function, https://github.com/neo4j/neo4j/blob/4.4/packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Invoke-Neo4jUtility.ps1#L128

I tried adding

echo 'ok,utility'
before the>
$javaPath = ''
    $javaCMD = ''

    $EnvJavaHome = Get-Neo4jEnv 'JAVA_HOME'

    # Is JAVA specified in an environment variable

No echo is seen in console.
I

[2022-09-06 09:11] buyvtuygJW commented on #12934
The only thing i know is if i change the neo4j.ps1 content to>
echo 'okneo4j'
Exit (Invoke-Neo4j -Verbose:$Arguments.Verbose -CommandArgs $Arguments.Args)

console>
okneo4j
Invoke-Neo4j : Unable to determine the path to java.exe
At D:\2ndProgramFiles\neo4j-community-4.4.10\bin\neo4j.ps1:22 char:7
+ Exit (Invoke-Neo4j -Verbose:$Arguments.Verbose -CommandArgs $Argument ...
+       ~~~~~~~~~~~~~~~~~~

[2022-09-06 09:30] buyvtuygJW commented on #12933
i use ri jdk18

openjdk version "18" 2022-03-22
OpenJDK Runtime Environment (build 18+36-2087)
OpenJDK 64-Bit Server VM (build 18+36-2087, mixed mode, sharing)

[2022-09-06 10:42] mnd999 commented on #12933
You need to use Java 11 (exactly that version) to build Neo4j 4.x. These errors are expected with other versions as the public API of JDK superclasses and interfaces changes on other JDK versions and this will affect the checks. There are also other incompatibilities on later Java versions.

[2022-09-06 11:36] klaren commented on #12934
You don't see the output because it is running in a sub-shell. Try using `Write-Host "my message"` instead.

[2022-09-06 12:12] pontusmelke commented on #12927
@ddaa2000 I have run the query both on 4.4.10 and 4.3.17 and in neither version does the execution finish in less than a second? When running the query with EXPLAIN I get identical plans in 4.4 and in 4.3.

How did you conduct your test? Are you sure the data is identical on both databases? What does the plan look like when you run with `EXPLAIN` on the two databases?

As @InverseFalcon this is a

[2022-09-06 15:49] #12844 closed, assigned to HannesSandberg

[2022-09-06 17:49] aandronikakis commented on #12930
Thank you very much for your response. Unfortunately, I can't use either of the suggestions because of the JVM I am using (Maxine VM). I've managed to run both PreserveFramePointer and async profiler on hotspot, but  I'll probably need to do it manually via the neo4j's code. I'll have a look on the `org.neo4j.unsafe.impl.internal.dragons.UnsafeUtil#allocateMemory(long)` I might figure it out with

[2022-09-07 09:21] MrDanLeaf opened #12935 "Wrong output when making neo4j-Admin command in Process .NET"
- Neo4j Desktop Version 1.4.15
- Win10

When using Microsoft Process Class in C# .NET and running neo4j-admin command (-dump or load)

the output stream ends up on wrong place.

Example code:

                    using (var p = new Process()
                                           {
                                               StartInfo = new ProcessStartInfo

[2022-09-07 10:21] zimmre commented on #12909
Hi @Prometheus3375 thank you again for raising the issue, I've just merged a fix for it, will be out with the next release

[2022-09-07 10:21] #12909 closed, assigned to HannesSandberg

[2022-09-07 15:03] olof-darinsky opened #12936 "Build fail, cannot build project with Neo4j procedure that returns a stream of records containing long arrays."
- Neo4j version: 4.0.0+
- Operating system: Debian 11 bullseye
- API/Driver: Java API
- Output of `java -version`
[code]

### Steps to reproduce
Clone https://github.com/ugglebowl/neo. Build with maven.
Or (perhaps more generally) build maven project with user defined neo4j procedure that returns a stream of records with fields containing long arrays.

### Expected behavior
Build should pass. Or a

[2022-09-08 06:55] pontusmelke commented on #12926
@ddaa2000 Yes you are right we did change this a little bit in 4.3. For cases where we now at planning time that a predicate is false, such as `MATCH (n) WHERE 1 < 0 RETURN 0` we used to plan a `DropResult` operation that basically did nothing, in 4.3 we changed this to instead insert a `LIMIT 0` which in most cases is equivalent. However for your particular query where there is an eager aggregati

[2022-09-08 06:55] #12926 closed, assigned to HannesSandberg

[2022-09-08 13:50] mnd999 commented on #12928
Thanks for the question! Generally we prefer to answer these types of questions in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster response there. Github is more setup for bug reports in the product.

[2022-09-09 01:56] mygdzs opened #12937 "Does this component bug need to be fixed? Impact on neo4j?"
Excuse me, neo4j has been scanned and found that httpclient has loopholes. Does neo4j need to be repaired?
Vulnerability number: CVE-2013-4366

[2022-09-09 02:04] mygdzs commented on #12937
and CVE-9999-0001、CVE-2017-7525、CVE-2017-15095，neo4j needs to be resolved? Looking forward to your reply, thank you

[2022-09-10 03:39] cybersam opened #12938 "Cannot assign a float to a duration property"
- Neo4j version: 4.4.11 (community)
- Operating system: Ubuntu 18.04.6
- API/Driver: Cypher

- **Steps to reproduce**

  - Have a relationship type containing an "interval" property of type `duration`.
  - Execute Cypher query using Neo4j Browser to replace the `duration` with an equivalent `float`:

        MATCH ()-[r:NEXT_TUNE]-()
        SET r.interval = r.interval.milliseconds/1000.0

- Expec

[2022-09-10 03:48] cybersam commented on #12938
I think I figured this out. I needed to use directional `MATCH` to avoid processing the same relationship twice, like so:

    MATCH ()-[r:NEXT_TUNE]->()

[2022-09-10 03:48] #12938 closed, assigned to nobody

[2022-09-10 13:34] ikwattro opened #12939 "[Fabric] Map projection of node/rel broken"
When using Fabric, map projections are broken if returned outside of a subquery call.

With the standard movies graph :

The following works :

[code]

As does the following :

[code]

But the following doesn't work

[code]

**Neo4j Version:** 4.4.11
**Operating System:** Mac OS
**API:** Docker

### Expected behavior

Map projections should work with Fabric

### Actual behavior
Map projections do

[2022-09-10 14:13] ikwattro opened #12940 "[Fabric] id of node different if returned from inside or outside of subquery"
Scenario with the standard movie graph.

Take the following query  :

[code]

However, move the `id(n)` to the last return clause

[code]

**Neo4j Version:** 4.4.11
**Operating System:** OS X
**API:** Docker

### Expected behaviour

Node ids should be the same independently from where they're returned

[2022-09-11 04:37] buyvtuygJW commented on #12934
you are right.
I now can confirm it at least reaches the write error in invokeneo4j

okneo4j
ok invoke,in begin
invoke,at catch writeerror
Invoke-Neo4j : Unable to determine the path to java.exe
At D:\2ndProgramFiles\neo4j-community-4.4.10\bin\neo4j.ps1:22 char:7
+ Exit (Invoke-Neo4j -Verbose:$Arguments.Verbose -CommandArgs $Argument ...
+       ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2022-09-12 08:55] michael-simons commented on #12940
👀

[2022-09-13 01:43] buyvtuygJW commented on #12933
after using JDK11 also still has error. but not public api problem.

.....
[WARNING] Tests run: 23, Failures: 0, Errors: 0, Skipped: 2, Time elapsed: 1.729 s - in org.neo4j.configuration.SettingMigratorsTest
[WARNING] Tests run: 20, Failures: 0, Errors: 0, Skipped: 3, Time elapsed: 1.856 s - in org.neo4j.configuration.GraphDatabaseSettingsTest
[ERROR] Tests run: 26, Failures: 0, Errors: 1, Skipped

[2022-09-13 12:54] SanderBiesmansTiming opened #12941 "Random connection time outs between Application and Neo4j"
Hi,

We are experiencing connection issues between our application on Azure VM 1 and Neo4j on Azure VM 2. After a long time of troubleshooting I am out of ideas what could be the underlying issue.

Neo4j version: 4.3.2 Enterprise
VM: Azure
Installation: Windows service

**What is happening?**

Several times through-out the day our application shoots a Cypher call to the Neo4j Bolt port. At this mo

[2022-09-13 14:31] buyvtuygJW commented on #12934
maybe i can try directly call the jar with the correct parameters as test?
If know the full cmd.it may help.

[2022-09-14 03:45] hagen666 opened #12942 "Unknown expression UnaryAdd in neo4j 3.5"
Semantic analysis error when executing cypher query: with +1 as p return p

- Neo4j version: 3.5.16, 3.5.35-SNAPSHOT
- Operating system: windows 10
- API/Driver: Cypher

### Steps to reproduce
1. Run Neo4j
2. Open Neo4j Browser
3. execute cypher query: with +1 as p return p

### Expected behavior
return 1 or other values.

### Actual behavior
Error in semantic analysis: Unknown expression UnaryAdd

[2022-09-14 06:37] #12932 closed, assigned to klaren

[2022-09-14 06:49] klaren commented on #12934
Are you certain that you have set up `JAVA_HOME` correctly?

If you do `echo %JAVA_HOME%` in cmd.exe what does it say?

[2022-09-14 08:26] ReeStick commented on #12872
I also think it is a error because of country, because i live in Russia and VPN solved the problem.

[2022-09-14 15:10] buyvtuygJW commented on #12934
"F:\Prog\RIJDKcollec\win"\jdk-11

[2022-09-14 15:11] buyvtuygJW commented on #12934
and if it setup my maven path>
F:\Prog\lateststableprog_crossapps_nonlua\Javabuildzone\maven>set PATH="%cd%\apache-maven-3.8.5\bin";%PATH%

F:\Prog\lateststableprog_crossapps_nonlua\Javabuildzone\maven>mvn
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------

[2022-09-14 15:12] buyvtuygJW commented on #12934
not sure if it helps though lol.i have no idea now.

[2022-09-14 15:14] buyvtuygJW commented on #12934
does neo4j has a *Batteries included/zipped(JRE included release)?
since I actually want to use a graph database instead of the inflexible old school sql.
Any temporary solutions would be awesome.

[2022-09-14 15:42] mnd999 commented on #12933
I would suggest building Neo4j with -DskipTests, as it will be significantly faster, and you will avoid platform issues and/or flakiness with some of the tests such as the above which seems to be caused by a permissions issue around creating symbolic links.

[2022-09-14 18:34] klaren commented on #12934
For managing a neo4j install on a developer computer I would recommend you give "Neo4j Desktop" a try. https://neo4j.com/product/developer-tools/

[2022-09-15 05:30] HannesSandberg commented on #12942
Thanks for your report. We will investigate and report back to you!

[2022-09-15 12:46] pontusmelke commented on #12913
@markslater The reason it is slower to perform the operations in a single transaction is that the merge operator must look at the deleted nodes in the transaction state in order to decide if the node should be created or not, and in order to verify that we don't break the constraints. So the more deleted nodes you have in the transaction state the slower the query will be.

In this case where you

[2022-09-16 05:09] hindog opened #12943 "Add `dbms.listActiveTransactionLocks` to get active locks by transaction id"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

**Is your feature request related to a problem? Please describe.**
Locks are held per-transaction, but  `dbms.listAct

[2022-09-16 08:54] markslater commented on #12913
Thanks for looking into this, @pontusmelke.  Although the example I gave could use `CREATE` instead of `MERGE`, the real life cases where I've encountered this cannot because the properties of an individual node can arrive in several statements within the transaction.

An interesting point to note is that manually adding and managing a 'logically deleted' property circumvents the problem (125 ms f

[2022-09-16 09:12] markslater opened #12944 "Neo4j Browser 'Export JSON' function does not escape backslash"
When exporting data as JSON from the Neo4j Browser UI, backslashes in the data are not escaped, resulting in invalid JSON.

 - Neo4j version: 4.4.10 Enterprise
 - Operating system: N/A (reproduced in public sandbox)
 - API/Driver: N/A

### Steps to reproduce

Create a node with a property that contains a backslash:

[code]

Retrieve the property:
[code]
Note that in the UI, the name is shown corre

[2022-09-17 15:28] RESDXChgfore9hing commented on #12933
it now has this new error instead>
[INFO] Neo4j - Community Cypher Build ..................... SUCCESS [  1.387 s]
[INFO] openCypher Front End Parent ........................ SUCCESS [  0.576 s]
[INFO] openCypher Test Utils .............................. FAILURE [  0.457 s]
[INFO] openCypher Utils ................................... SKIPPED
.....
[ERROR] Failed to execute goal net.alchim31.maven:s

[2022-09-17 15:30] RESDXChgfore9hing commented on #12933
the command with logs>mvn clean install -DskipTests
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Reactor Build Order:
[INFO]
[INFO] Neo4j - Build resources                                            [jar]
[INFO] Neo4j                                                              [pom]

[2022-09-17 16:18] peteneville opened #12945 "OutofMemory - StatementProcessorTxManager leak suspect"
## Bug report
After start-up we see an out of memory condition occurring within 24hrs usually, depending on max heap size set.
We have been taking period heap dumps using map. Using the Eclipse Memory Analyzer we can see the following info on a leak suspect:
One instance of ‘org.neo4j.bolt.transaction.StatementProcessorTxManager’ loaded by ‘jdk.internal.loader.ClassLoaders$AppClassLoader @ 0xe08f5

[2022-09-19 07:06] Mats-SX commented on #12936
@ugglebowl Hello and thanks for reaching out to us. Unfortunately, `long[]` is not a supported procedure return type. Please see the [JavaDoc](https://github.com/neo4j/neo4j/blob/026ce7d1374a40db49aab2af06638a99b030fc3a/community/procedure-api/src/main/java/org/neo4j/procedure/Procedure.java#L64-L83) for the `@Procedure` annotation to find all supported types.

In your case, I would recommend usin

[2022-09-19 07:10] klaren commented on #12945
Hello and thanks for reporting!

This looks very similar to an issue patched in 4.4.11, https://neo4j.com/release-notes/database/neo4j-4-4-11/

Namely the `Fixing an issue where ‘CALL { … } IN TRANSACTIONS’ could leak inner transactions when the outer transaction was terminated during execution, e.g by timeout`.

Are you certain that this happens in 4.4.11 as well?

[2022-09-19 07:45] klaren commented on #12930
Since we do allocations through malloc, like the JVM, all the "c-heap" will be managed by whatever lib provides the linked functions (probably GLIBC unless you override with `LD_PRELOAD`). So the neo4j pagecache pages will most likely interleave with the java-allocated heap TLAB:s. IO operations will also allocate temporary direct memory that lives in the same space, making it even more difficult

[2022-09-19 08:51] klaren commented on #12914
This should be fixed in 4.4.11, https://neo4j.com/release-notes/database/neo4j-4-4-11/ `Jvm additional setting should not split inside quoted values`. That in tandem with https://github.com/neo4j/docker-neo4j/pull/376

Can you verify this?

[2022-09-19 10:10] nioertel commented on #12914
Confirmed. Issue can be closed.

[2022-09-19 10:10] #12914 closed, assigned to klaren

[2022-09-19 10:56] peteneville commented on #12945
Hi,
Yes definitely 4.4.11, downloaded from https://dist.neo4j.org/neo4j-community-4.4.11-unix.tar.gz
Tried 4.4.10 and same.
Do you know which version this issued surfaced in, enabling us to go back to one before?
Please let me know if I can provide any further information to help.
Thanks,
Peter

[2022-09-19 15:49] olof-darinsky commented on #12936
@Mats-SX Thanks I realized that :). Was just confused by the weird error message.

[2022-09-19 15:49] #12936 closed, assigned to nobody

[2022-09-20 02:34] jievince opened #12946 "The doc about `in list predicates` is not correct"
The doc about in list predicates say:

[all()](https://neo4j.com/docs/cypher-manual/4.4/functions/predicate/)
[code]

It says *all() returns null if all of its elements are null*.
But the tested result is not as expect as it says.

### Actual behavior
![image](https://user-images.githubusercontent.com/38901892/191154493-829dea45-06ee-4446-a438-6d9e20f88ba5.png)
![image](https://user-images.githubu

[2022-09-20 07:14] Mats-SX commented on #12936
Yes, I agree that the error message was confusing. When I've made the same mistake myself I recall a more instructive error message. I'm not sure why there wasn't one this time.

[2022-09-20 10:49] gjmwoods commented on #12916
Fixed see: https://github.com/neo4j/neo4j/pull/12917. Thanks again @BrokenWingsIcarus

[2022-09-20 10:49] #12916 closed, assigned to nobody

[2022-09-20 15:01] peteneville commented on #12945
For info - I've switched to 4.3.18 to rule out 4.4. So far so good (running for 2hrs) as normally I'd have seen the issue by now.

[2022-09-21 06:55] arnefischereit commented on #12942
Hi @hagen666,

It seems like this is a bug in the version that you have specified.

Unfortunately, [we do not support version 3.5 any longer since May](https://support.neo4j.com/hc/en-us/articles/115013134648-Neo4j-Supported-Versions). We tested this query in later versions and it succeeded for us.

Beyond that, it seems like the query can easily be adapted to succeed: `with 1 as p return p`.

I w

[2022-09-21 06:55] #12942 closed, assigned to HannesSandberg

[2022-09-21 16:12] Frenchiest-Fry commented on #12894
Uninstalling Neosemantics (n10s) plugins resolves the issue.

[2022-09-22 13:09] anonyXmous opened #12947 "Collection index range is not returning correct result"
This is my neo4j version details:

- Neo4j Server version: [4.4.3] (enterprise)
- Operating system: macOS Monterey 12.5.1 (21G83)
- Neo4j Browser version: [4.4.2]

- **Steps to reproduce**
Create below nodes/relationships:
MERGE (h1:Hashtag {tag: '#tag1'})
MERGE (h2:Hashtag {tag: '#tag2'})
MERGE (h3:Hashtag {tag: '#tag3'})

MERGE (t1: Tweet {id: 1, postedTimeStamp: datetime({epochmillis: apoc.date

[2022-09-22 13:20] klaren commented on #12945
Thanks for the update. It might be that there is a similar issue to the one fixed in 4.4.11 in the HTTP(S) endpoint as well. The fix targeted the bolt server. I'll forward this to the appropriate team for investigation.

[2022-09-22 13:23] peteneville commented on #12945
Thank you - that makes sense. 4.3.18 now running for 48hrs and no sign of this issue.

[2022-09-22 13:24] anonyXmous commented on #12946
@jievince I CANNOT simulate this issue on my browser.  It is returning the correct result: true.
What is your neo4 version, OS and neo4j browser?

Neo4j Server version: [4.4.3] (enterprise)

Operating system: macOS Monterey 12.5.1 (21G83)

Neo4j Browser version: [4.4.2]

[2022-09-22 13:32] anonyXmous commented on #12928
@steve-solun , You can also post this question at https://stackoverflow.com/questions/tagged/neo4j

[2022-09-22 16:00] mnd999 commented on #12947
Thanks for getting in touch, if I understand the issue correctly you are expecting the following result to be `[1,2]`
[code]
Looking at [the documentation](https://neo4j.com/docs/cypher-manual/current/syntax/operators/#syntax-accessing-elements-in-a-list), "the square brackets will extract the elements from the start index 1, and up to (but excluding) the end index 3", so I believe the query to be

[2022-09-22 16:06] mnd999 commented on #12933
If you're just looking to try the database out, and do not intend to hack on it, I would suggest you give "[Neo4j Desktop](https://neo4j.com/product/developer-tools/)" a try, or [Neo4j Aura Free ](https://neo4j.com/cloud/aura-free/) for a cloud hosted managed environment.

[2022-09-22 16:43] anonyXmous commented on #12947
If you say list starts with index 1, then why below is happening?

WITH [1,2,3] as list RETURN list[1..3] will show [2,3].

Something is not correct, right?

[2022-09-22 16:47] #12947 closed, assigned to mnd999

[2022-09-23 02:08] jievince commented on #12946
Yeah, I mean the result `true` is correct.
But the document is wrong, it says the predicate will return null if all of the elements of the list is null.

[2022-09-23 02:09] jievince commented on #12946
Neo4j Server version: [4.2.1] (community)

Operating system: macOS Monterey 12.6 (21G83)

Neo4j Browser version: [4.2.0]

[2022-09-23 02:59] anonyXmous commented on #12946
I cannot simulate your issue and we have different results

[2022-09-23 05:18] sunilgsfdc opened #12948 "NEO4J randomly shutting down."
NEO4J randomly shutting down

{"time":"2022-09-23 05:10:24.806+0000","level":"WARN","message":"Use of deprecated setting dbms.security.ldap.authentication.use_samaccountname. It is replaced by dbms.security.ldap.authentication.search_for_attribute"}
{"time":"2022-09-23 05:10:24.808+0000","level":"WARN","message":"Use of deprecated setting unsupported.dbms.logs.format."}
{"time":"2022-09-23 05:10:2

[2022-09-23 11:58] HannesSandberg commented on #12946
Thanks for the report. We will look into this!

[2022-09-25 10:29] RESDXChgfore9hing commented on #12933
yeah i wanted to try the database out first,but I intend to call it from my homemade desktop app in future.I also plan to use it daily so I think having the knowledge to build it from source is critical.

[2022-09-25 13:26] Prophasi commented on #12908
I'm seeing this as well, on a MacOS 12.4 host and Neo4j Enterprise 4.4.9.

In my testing, 4.4.5 works as expected; 4.4.6-4.4.9 all have this issue where the container silently exits 15-20s after startup if Docker engine was shut down without the container being explicitly stopped first. If you explicitly stop the Neo4j container before the Docker engine, it'll start back up just fine.

This seems

[2022-09-26 18:19] InverseFalcon commented on #12948
Check your debug.log file for more info, usually that's much more detailed and it should have the reason for the shutdown.

[2022-09-27 08:26] burqen commented on #12935
Hi @MrDanLeaf Neo4j 4.1 is no longer maintained. Do you see the same issue with Neo4j 4.4?

[2022-09-27 08:35] burqen commented on #12929
Hi @Louissauvageau266790 Neo4j 3.0 saw end of life a long time ago and nothing will be fixed in that version. Please report if this problem is still present in Neo4j 4.4.

[2022-09-27 08:39] burqen commented on #12928
Since this question has been answered and there has been no reply I will go ahead and close it. Please open again if needed.

[2022-09-27 08:39] #12928 closed, assigned to nobody

[2022-09-27 12:29] MrDanLeaf commented on #12935
We are running and using neo4j desktop 1.4.15. I forgot to mention that in topic.

[2022-09-27 13:33] burqen commented on #12935
@MrDanLeaf I see. And what version of Neo4j are you using for the dbms?

Could you also provide the output that you get for both `OutputDataReceived` and `ErrorDataReceived`?

[2022-09-28 11:47] Prometheus3375 commented on #12908
Hm, yesterday I stopped container before exiting Docker. Today I started container and it stopped immediately. Version 4.4.11.

[2022-09-29 12:13] simondaudin opened #12950 "Empty results at startup with WHERE IN filters"
Hello there

I discovered a strange behavior with `WHERE * IN` at startup with neo4j 4.4.11, when making requests in a specific order, a request with `WHERE * IN` would always returns empty. I managed to find a small scenario that seem to reproduces the problem.

- Neo4j version: 4.4.11CE
- Operating system: Ubuntu 22.04

**Steps to reproduce**
1. In a new database (in my environment: `docker run

[2022-10-01 08:24] yachal-upson commented on #4334
Still an open issue?? I've ended up in the same situation as other commenters, and it feels like this should have been basic functionality since Neo4j launch. Basically all the data I'll be dealing with will be flat-file with dynamic labels.

Did apoc functionality just render a fix low priority?

[2022-10-01 20:29] sunilgsfdc commented on #12948
I didn't find much information in debug.log.
Can you help?
[debug.log](https://github.com/neo4j/neo4j/files/9691154/debug.log)
[neo4j.log](https://github.com/neo4j/neo4j/files/9691155/neo4j.log)

[2022-10-02 07:04] bnayae opened #12951 "Node Selector on K8s don't work"
I'm not sure that it's a bug.
Maybe I'm doing something wrong.

I have a K8s cluster with a few node groups.
I try to use Neo4j Helm in order to deploy it into the cluster.

Yet, when I try to execute the following helm:

[code]

I failed because it doesn't find a selector node, but when I execute `kubectl get nodes -o wide -l topology.kubernetes.io/zone=us-east-2a,node-class=db-workloads`, I get

[2022-10-02 12:19] Abhishekkr08 commented on #12106
now is there any progress in this ? or any alternative which makes it possible to do indexing on array of string ?? 😅

[2022-10-02 17:48] mnd999 commented on #12933
It seems from the above error that you have a permissions issue preventing the build from running a java virtual machine. I'm not a Windows expert unfortunately, so I don't think I can assist with this. I am able to build community locally on Windows using maven in powershell though.

If your working on an application that embeds Neo4j, we do publish releases to Maven central so you should be able

[2022-10-03 06:55] klaren commented on #12937
Hello,

The `httpclient` is only used in tests and is not shipped with the database. As for jackson, we use version [2.13.2.2](https://github.com/neo4j/neo4j/blob/4.4/pom.xml#L132) so I'm not sure where the scanner finds a version <2.8.11.

[2022-10-03 10:48] RESDXChgfore9hing commented on #12933
noted ,i guess its one of those windows suck reason.
will try out the maven deps way and maybe using fedora to build in future.

[2022-10-04 15:45] InverseFalcon commented on #12948
I'm not seeing anything in the debug logs to explain that. I think we would need to know more about how you are starting Neo4j, whether it's from a service or a script or something else, what commands you are using for this, whether termination of a session or something you might be doing could end up terminating the process.

[2022-10-05 07:53] rickardoberg opened #12952 "Neo4j module support"
Neo4j 4.x, embedded

It is currently impossible to use Neo4j 4.x in an embedded application, if you want to use the Java module system. The reason is that there are too many packages that are split between jar files, such as:
org.neo4j.dbms.api,org.neo4j.dbms.database,org.neo4j.dbms.identity,org.neo4j.dbms.systemgraph:
neo4j-4.x.x.jar and neo4j-graphdb-api-4.x.x.jar
org.neo4j.kernel.api,org.neo4j.

[2022-10-05 08:10] gjmwoods commented on #12945
Hello @peteneville. Many thanks for raising this issue. I was able to reproduce and fix the issue thanks to your clear description. The next release (4.4.12) will contain the fix which is scheduled for the end of this month.

Many thanks again.

[2022-10-05 08:10] #12945 closed, assigned to dotStart, klaren

[2022-10-05 09:23] xpilasneo4j commented on #11972
Hi. We have a client mentioning this error as a constant pollution in a v4.4.10 Entreprise.
"This error is completely harmless in such scenario. It can only pollute the log a bit." as per previous comment
Any chance it is/it has been fixed in the next versions ?

[2022-10-05 12:41] MrDanLeaf commented on #12935
Sorry for late answer. The problem is not the output. The problem is that all output comes in errorDataRecived. Regardless if the output is error or standard.

Version for dbms is 4.4.5

[2022-10-06 12:19] Prometheus3375 commented on #12908
This repeated again. After Neo4j container had terminated completely, docker showed status "Exited (137)", which it not normal (normal is "Exited"). Today container stops right after start.

[2022-10-06 15:02] WyrdNexus commented on #12106
There are a few ways to effect indexing list values, but there is still no way to index them directly.

1. Use connected nodes instead. ( [Community: ...Index a List property...?](https://community.neo4j.com/t5/neo4j-graph-platform/is-it-possible-to-index-a-list-property-in-neo4j/td-p/40239) )
2. Collapse the list, and put a full-text-index on the string property (see below)

[code]

The trouble w

[2022-10-07 10:31] rickardoberg commented on #12952
In the meantime, we have had to create our own shaded jar with Neo4j+Lucene+Shiro+Scala libraries (all of which were problematic from module point of view). Here's the POM to do it, for anyone else having these issues:
https://github.com/Cantara/neo4j-apoc-jpms-shaded

[2022-10-12 07:34] bnayae commented on #12951
I solve half of the problem.
It was about the availability zone, the volume & node should be in the same availability zone.

Now I'm facing a problem of `nodeSelector`.
When I try to match the selector against `nodeSelector.topology.kubernetes.io/zone=us-east-2a`
It doesn't find the node.
The error looks like:
[code]

This is how I try it:
[code]

[2022-10-12 08:05] bnayae commented on #12951
# Root Cause

After a few tests, I conclude that the error comes from the fact that the label has a '/'.
When I try it with a simple label it works.

I believe it should be fixed at `_helpers.tpl`

[code]

[2022-10-12 13:16] bnayae commented on #12951
Fixed:

It should be:

[code]

[2022-10-12 13:16] #12951 closed, assigned to nobody

[2022-10-12 17:30] alexhollis opened #12953 "Excessive CPU & Memory usage in long running K8S pods"
_Reporting an issue my colleague posted about in community forums here_: [post link]( https://community.neo4j.com/t5/neo4j-graph-platform/neo4j-k8s-pods-start-slowing-down-after-a-while/m-p/61078#M36154 )

### **Post details:**

Hello, our team is currently doing an implementation using Neo4j and we are facing some issues.

### **Short description**

Our structure is relatively simple:

- the node

[2022-10-14 07:21] HannesSandberg commented on #12950
Thanks for the report! We will investigate and come back to you.

[2022-10-14 13:32] arnefischereit commented on #12950
Hi @simondaudin ,
I tried to reproduce the issue on my machine running neo4j 4.4.11 in docker but without avail. This is my session in cypher-shell:

[code]

If you still can reproduce the issue, can you then please send the output of an `EXPLAIN` of the faulty query?

[2022-10-15 17:35] Prophasi commented on #12908
Similarly, just now I restarted a running 4.4.5 instance (which, as I said above, previously behaved properly) from the MacOS Docker dashboard... and it stopped immediately.

However, I can't repro on a new 4.4.5 container. Presumably the other had gotten into a state that couldn't survive a restart, but it's a single-user container on my desktop with low average load & nothing weird or custom. Re

[2022-10-17 18:39] InverseFalcon commented on #12950
As an additional suggestion, if the problem is still reproducible, see if prefixing the query with `CYPHER runtime=SLOTTED` results in correct behavior. Whether that mitigates this or not may give us a clue for where the problem is.

[2022-10-18 06:54] rickardoberg opened #12954 "Dynamic ACL and node swizzling support"
Currently on 4.4.x

We have a need to execute Cypher queries and do dynamic ACL checks on node, relationship, and property access. A few cases:
1) tenant separation, so ACL would check that node property "tenant_id" is same as parameter value for query
2) check if user has access to a particular node, using rules applied to the graph, so the rule has to do graph traversal to execute the check
3) t

[2022-10-19 09:32] amar1019 commented on #12637
Did u find any solution for this ? Facing the same issue.

[2022-10-19 10:21] jexp commented on #12637
You need to share your code or an reproducible example. Otherwise it would just be guesswork.

The OP said they were using extra threads so there are a lot of ways how memory can leak or be over-allocated or used wrongly by transactions from other threads hold onto tx data.

[2022-10-19 12:32] michael-simons opened #13356 "When pull handler discard messages due to fetch size or reactive flow, summary result is incorrect (especially DB names and bookmarks missing)"
See

[code]

This is broken in 4.4, 5.0 and 5.1

Also broken with non-default database names:

[code]

Running against 4.4.11 enterprise gives me:

[code]

[2022-10-19 13:43] michael-simons commented on #13356
Broken against 4.3.x, and 4.4.x server. Can't test any older due to the lack of Intel machines in this house.

[2022-10-19 23:00] anonyXmous opened #12955 "Calculate working days between 2 dates"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

**Is your feature request related to a problem? Please describe.**
This is related to this
https://stackoverflow.com/

[2022-10-20 09:07] michael-simons commented on #13356
Here's an updated test…   and also the full setup [general-driver-issues.zip](https://github.com/neo4j/neo4j-java-driver/files/9828139/general-driver-issues.zip)

It turns out, that if the number of records to be retrieved is lower than the configured fetch size, the result summary is incorrect.

I also updated the the title. There's something more to this issue.

Imperative:

[code]

Reactive:

[

[2022-10-20 18:56] injectives commented on #13356
Thank you for providing so many details.

I had a quick look with 4.4 server and have been able to reproduce it. It seems like `db` is missing in server's `SUCCESS` response to the `DISCARD` message. It should be there (https://7687.org/bolt/bolt-protocol-message-specification-4.html#request-message---discard). @gjmwoods, would you mind taking a closer look please?

[2022-10-21 22:35] leveraction opened #12956 "Version 5.1 breaks docker-compose container start"
I have been using the community edition (latest) for at least two years with docker compose without issues.  The version 5.1 community container will not start.  It complains that 0.0.0.0 cannot be validated as an http listening address. Previously, this was never a problem as version 4.4.12-community still works.

From docker-compose...
`
  graph_db:
    container_name: graph_db_container
    ima

[2022-10-22 04:47] YuanchengJiang opened #12957 "A potential performance bug (missing optimization)"
- Neo4j version: Tested with version 4.1.12 and verified with 4.4.12 online sandbox
- Operating system: Ubuntu 20.04
- API/Driver: Cypher
- Dataset: Pole(Crime analysis)

**A potential performance bug found by executing equivalent queries:**

## Query 1:
[code]
## Result 1:
[code]

## Query 2:
[code]
**Note that where id(a)>=0 is always True**

## Result 2
[code]

Not really sure why one redundant

[2022-10-24 06:58] HannesSandberg commented on #12957
Thank you for your report! We will investigate and come back to you

[2022-10-24 07:15] arnefischereit commented on #12957
Hi @YuanchengJiang

The additional predicate should not improve the performance as it is an additional operation that we undertake. I would suspect some other effects to be at play here such as the second query being faster because it can use the cached results from the first run.
Without further knowing the dataset, we also have no way of investigating the issue.

If you still think that the 2nd

[2022-10-24 07:25] YuanchengJiang commented on #12957
Hi, one easy way to reproduce is using the online sandbox: https://sandbox.neo4j.com/. I am using the built-in `crime analysis` dataset so you can easily set it up.

Or you can download and import the dataset from https://github.com/neo4j-graph-examples/pole.

I also tested two queries with [db.clearQueryCaches()](https://neo4j.com/docs/operations-manual/current/reference/procedures/#procedure_db_

[2022-10-24 07:42] arnefischereit commented on #12957
I ran the two queries on the crime investigation dataset and the one with the predicate seems to be a bit slower.

These are the results after a bit of warming up for each one of them:
![image](https://user-images.githubusercontent.com/79841228/197472995-190f45aa-fe53-4d58-a019-cb2bf05063ea.png)

When I run them on a fresh cache, they are at ~4 secs and ~2 secs respectively.

[2022-10-24 07:53] YuanchengJiang commented on #12957
Hi, I have similar results to yours but I do not think it is normal to execute queries with PROFILE...

Have you tried the queries without PROFILE? See my results below, PROFILE is OK but MATCH is problematic:

<img width="1467" alt="Screenshot 2022-10-24 at 3 47 44 PM" src="https://user-images.githubusercontent.com/52477242/197474758-20b3f4df-2864-48fd-86cc-44e0b74f23cd.png">

Is it possible that

[2022-10-24 08:32] arnefischereit commented on #12957
If you add the `PROFILE` prefix to the query, it will add some additional monitoring. That makes it a bit slower in general but should not distort the results. This is what I get without `PROFILE`:
![image](https://user-images.githubusercontent.com/79841228/197483043-5d9717c6-5632-4be7-a679-38d9a6a0bbbc.png)

How often did you run each query? Have you tried it in Sandbox?

[2022-10-24 09:36] YuanchengJiang commented on #12957
Hi, I just rerun queries on cypher 4.4 and 4.1.
I think the issue exists only in 4.1 so I upgrade it to solve it.

The sandbox is a bit unstable so I am not sure but cypher 4.4 does not give such a performance difference.

Thanks for your response.

[2022-10-24 12:50] LinneaAndersson commented on #12939
@ikwattro Thanks for reporting this issue. A fix has been merged and it will be released in the next version (4.4.14).

Again, many thanks - and let us know if you find any other issues
// Linnéa

[2022-10-24 12:50] #12939 closed, assigned to nobody

[2022-10-24 12:53] ikwattro commented on #12939
Thanks @LinneaAndersson , looking forward to the next version.

Cheers

Chris

[2022-10-24 13:39] arnefischereit commented on #12957
Thank you for the feedback.

Let me know if this issue is of any more use for you, otherwise i will close it.

[2022-10-25 01:30] YuanchengJiang commented on #12957
Hi, please close the issue

[2022-10-25 02:32] czpmango opened #12959 "[Optimization] Multiple match statements fail to select the optimal index"
- Neo4j version: 4.2.1
- Operating system: Ubuntu 16.04
- API/Driver: Cypher
- **Steps to reproduce**
   1. Load a dataset into db
   2. Create index: create index on: player(name)
![image](https://user-images.githubusercontent.com/26356194/197669129-d1b7b9c6-0c14-46d1-9776-6373b5d803f5.png)
   3. Profile this statement: optional match (v)--() match(v:player{name:"Tim Duncan"})-[:like]-(m)  return

[2022-10-25 04:59] YuanchengJiang commented on #12957
Just for your information, I notice that the call stack is different in 4.1 but as it is older version maybe no need to worry about.

The profile log in version 4.1:

[code]

[code]

[2022-10-25 06:54] arnefischereit commented on #12957
Thank you very much for that feedback. That explains a lot: Apparently, we find a suboptimal plan in 4.1 for the query without the predicate, which is fixed in 4.4.

As we do not support 4.1 any more, we will leave it at that.

[2022-10-25 06:54] #12957 closed, assigned to HannesSandberg

[2022-10-25 08:43] YuanchengJiang opened #12960 "A potential performance bug (missing optimization)"
Neo4j version: 4.4.12
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Pole(Crime analysis)
One easy way to reproduce is using the online sandbox: https://sandbox.neo4j.com/. I am using the built-in crime analysis dataset so you can easily set it up. Or you can download and import the dataset from https://github.com/neo4j-graph-examples/pole.

**I think it is a potential similar performa

[2022-10-26 02:54] YuanchengJiang commented on #12960
One more similar case:

[code]

[2022-10-26 07:05] verydemo opened #12961 "Apache Commons Text Security vulnerabilities"
![image](https://user-images.githubusercontent.com/29354679/197957359-8bfa0c70-fcfc-42c5-8fed-c201e11178df.png)
Hi, Apache Commons Text package needs to be updated, Thanks

[2022-10-26 07:14] verydemo opened #12962 "Apache Commons Text package needs to be updated"
![image](https://user-images.githubusercontent.com/29354679/197959042-4ae67dea-1b7a-4b00-a7c2-4e600b6be1b2.png)
Hi, Apache Commons Text package needs to be updated. Thanks.

[2022-10-26 08:01] jennyowen commented on #12962
closing because it's a duplicate of #12961

[2022-10-26 08:01] #12962 closed, assigned to jennyowen

[2022-10-26 08:05] jennyowen commented on #12956
Does it work if you use `localhost` instead of `0.0.0.0`?
Also can you share the actual error message please.

[2022-10-26 11:18] LiorKogan opened #12963 "round(x.5, 0, 'HALF_DOWN') - wrong result for negative values"
Neo4j Browser version: 4.4.6
Build date: 8/5/2022
Neo4j Server version: 4.4.12 (enterprise)

[code]

Expected result:
[code]

[2022-10-26 12:27] LiorKogan commented on #12963
Reference implementation for HalfDown, HalfEven, and AwayFromZero rounding.

[code]

[2022-10-26 12:55] mnd999 commented on #12963
That does look potentially incorrect. If there is a bug it is likely [here](https://github.com/neo4j/neo4j/blob/c3316350a9345cdd7bb36dcaec271573a9704887/community/cypher/runtime-util/src/main/java/org/neo4j/cypher/operations/CypherFunctions.java#L252)

[2022-10-26 13:10] mnd999 commented on #12963
On further investigation this may be a documentation issue. I've passed it to the right team who will take a look at it.

[2022-10-26 13:17] LiorKogan commented on #12963
_half-down rounding_ is a standard term, so I don't think it could be just a documentation issue.

On the other hand, other rounding type names are also used in a non-standard, misleading way:
- `DOWN` - Round towards zero.
- `UP` - Round away from zero.
- `FLOOR` - Round towards zero.

These descriptions are correct only for nonnegative values.

[2022-10-26 18:55] Prometheus3375 commented on #12908
Recorded this. I do not know how to reproduce the issue, it is random. Started to happen after updating to 4.4.11. No Docker restart required.

https://user-images.githubusercontent.com/35541026/198111800-781b0f82-35ae-4bc1-8db0-c3c8b174be54.mp4

[2022-10-26 20:18] leveraction commented on #12956
Full error with 'latest' container
Failed to read config /var/lib/neo4j/conf/neo4j.conf: Error evaluating value for setting 'server.http.advertised_address'. Failed to validate '0.0.0.0:7474' for 'server.http.advertised_address': advertised address cannot be '0.0.0.0'

I tried localhost and it also failed although IIRC localhost won't work in my use case because other containers can't communicate

[2022-10-27 07:52] abstract-liu opened #12964 "Stucked neo4j-admin import, related to duplicated node and IdMapper SortWorker"
- Neo4j version: 4.4.12-enterprise
- Operating system: ubuntu 22.04 Docker Mode

- **Steps to reproduce**
bin/neo4j-admin import --skip-duplicate-nodes --database=test  --nodes=a=import/20779588711874560/a_node_header.csv,import/20779588711874560/[0-9]*_a_node.csv --relationships=transfer=import/20779588711874560/transfer_relationship_header.csv,import/20779588711874560/[0-9]*_transfer_relationshi

[2022-10-27 10:07] simondaudin commented on #12950
Hi, unfortunately, I can't reproduce this specific test, even on my environment, I was quite confident at the time I posted the issue :thinking:
However, in our test environment, at least, we get the error every time.
4.4.11, 4.4.12 -> Error
4.4.10 -> There is no problem
I tried to trim as much as possible, but needed to run it 10 times to get the error once.
I cannot try `CYPHER runtime=SLOTTED`

[2022-10-27 11:41] HannesSandberg commented on #12960
Thank you! We will investigate this.

[2022-10-27 11:43] HannesSandberg commented on #12959
Thanks for your report! We will investigate and come back to you here.

[2022-10-27 12:23] arnefischereit commented on #12959
Hi @czpmango,

For the first query, you are right that this could internally be rewritten to `MATCH (v:player{name:"Tim Duncan"})-[:like]-(m)`, as the `OPTIONAL MATCH` is subsumed in the following `MATCH`.

For the third query, however, the semantics are a bit different: If we do not find `(v:player{name:"Tim Duncan"})-[:like]-(m)`, then we will still return the results for `(v)--()` and return `n

[2022-10-27 13:35] devineyfajr opened #12965 "support creating points from WKTs"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the proble

[2022-10-27 16:09] abstract-liu commented on #12964
finally, I manual merge duplicated nodes to acceptable level, and it go through node import very fast.
But I still wonder why it stucked at Sort Stage, to be specific, qsort-paritial step.
In my knowledge, it's nlogn time complex, even though billion level nodes, there should not have stuck so long

[2022-10-27 20:51] andrewlu0 opened #12966 "MATCH query returns no result after db dump"
hi Neo4j experts,

Some background:
I imported the AGROVOC dataset available [here](https://data.apps.fao.org/catalog/dcat/agrovoc-2022-10) using neosemantics plugin. I then fetched relevant DBpedia triples using this query:
[code]
At this point the graph is ~3M nodes and ~6.4M relationships. After dumping the DB to a .dump file, I reloaded it into Aura, which is when I encountered the following i

[2022-10-28 21:23] andrewlu0 commented on #12966
I tried duplicating the issue again by reimporting all the triples with the same queries, and the new dumped database does not have this issue, so closing this for now. Might have been a weird issue with just that specific dump file

[2022-10-28 21:23] #12966 closed, assigned to nobody

[2022-10-29 12:35] InverseIntegral commented on #12869
This seems to be fixed in the current version (5.1.0)

[2022-10-29 13:40] InverseIntegral opened #12967 "NoSuchMethodError when using a text index and a starts with clause"
When I run the following queries:

[code]

A `NoSuchMethodError` is thrown:

[code]

**Neo4j Version:** 5.1.0
**Operating System:** 6.0.2 Arch Linux
**API:** Java

### Expected behavior
I would expect the queries not to thrown any exception.

### Actual behavior
An exception is thrown when executing the last query.

[2022-10-30 14:52] MishaDemianenko commented on #12967
Hi, @InverseIntegral
would it be possible to share your `debug.log` or your classpath with us for investigation?
Thx in advance!

[2022-10-30 18:16] InverseIntegral commented on #12967
Hey @MishaDemianenko,
I think the issue was that a different dependeny (janusgraph) included lucene 8.9.0 whereas neo4j uses 9.3.0.
Removing said dependency fixed the problem.

[2022-10-31 06:04] YuanchengJiang opened #12968 "Unexpected DatabaseException: Exception closing multiple resources"
Neo4j version: 4.4.12
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Pole(Crime analysis), https://github.com/neo4j-graph-examples/pole.

I am using `cypher-shell --debug` to get exception logs

Bug:

`OPTIONAL MATCH p=(n)-->()--()-->()--()--()-->()<--(n) RETURN id(n) SKIP 2 LIMIT 1;` worksed.
However, changing the symbol from `n` to `a`:
`OPTIONAL MATCH p=(a)-->()--()-->()--()--()-->(

[2022-10-31 08:08] HannesSandberg commented on #12968
Thank you for your report! We will investigate this and report back to you.

[2022-10-31 10:47] czpmango commented on #12959
@arnefischereit Thanks a lot for reply!
My query is almost like this:`profile  match (n)-[*1..8]-(t:team) where not (t)-[:like]->() optional match (v)-[*2]-(q)--() match(v:player{name:"Tim Duncan"})-[]-(n)--(x) return distinct x`
The computation of pattern `(n)-[*1..8]-(t:team)` results in a lot of data overhead.
So, I was expecting to be able to select the index on player(name) without changing t

[2022-10-31 13:55] jennyowen commented on #12956
The error message:
[code]
Does that happen on starting the container or at some other point? Like when trying to connect with a browser?

The error message from when using `localhost` seems to be complaining about apoc version incompatibility. That might be because `latest` was  4.4.12 but is now 5.1, which will not work with the 4.4 apoc plugin you're mounting. You should try again with the lates

[2022-10-31 14:23] arnefischereit commented on #12950
Hi @simondaudin,

Thank you for getting back with some more feedback.

Some comments:
- I ran the first plan ("The plan associated to wrong answer") on the dataset that you described and it did correctly return an answer for the `collect` part of the query.
- As far as I can see, the plan that you describe to be returning the correct answer does not actually test whether `b` has the label `:Attrib

[2022-10-31 14:37] arnefischereit commented on #12959
As you have guessed, the queries have different semantics:
It very much depends on whether `v` is defined before the `OPTIONAL MATCH` or not. In the first query, we will not see any results if there is no `v`which fulfills `(v)-[*2]-(q)--()`, whereas the second query in those cases only sets `q` to `NULL`.

I know that `OPTIONAL MATCH` is a tricky beast. The most important thing to keep in mind is

[2022-11-01 19:06] #12967 closed, assigned to nobody

[2022-11-02 00:36] bradenmacdonald commented on #12844
^ The above commit closed this issue by mistake, but I am pleased to report that this bug was actually fixed in Neo4j 5.1 :)

[2022-11-02 10:51] Roxling commented on #12948
@sunilgsfdc
Hello!
The `Neo4j Server shutdown initiated by request` is normally seen when the Neo4j process has received a SIGINT or SIGTERM signal. It is much more likely that there is something in your setup that is sending those signals than Neo4j causing this on its own

[2022-11-02 12:34] Lojjs commented on #12905
Currently there is no clearly defined rules for when Cypher is statically typed or not. This failure happens in semantic checking, which for all functions and many expression do statical checks, like in this case checking that the input of toFloat() is of a valid type. These checks are performed regardless of if the code is later executed or not.

We do not plan to change this behaviour at the mom

[2022-11-02 13:32] simondaudin commented on #12950
Some more info

In the plan, I see `WHERE cache[b._type] IN $autolist_1 AND b:Attribute` -> **AND b:Attribute** this is were the label is tested, right ?

I'm not sure to fully understand. We usually create the data structure in the first place, and then populate the data.

Once I run a query that returned the wrong answer, I can wait 10min, it would still be false. Is it some kind of cache issue

[2022-11-03 10:08] mchccc commented on #12832
Is there any update on this? It seems important..

[2022-11-03 13:57] vikingUnet opened #12969 ""Movie Graph Guide" browser tutorial SyntaxError"
- Neo4j version: 4.3.19
- Operating system: Ubuntu 20.04.5 LTS
- API/Driver: http://localhost:7474/browser/ tutorial "Movie Graph Guide", step 3
- **Steps to reproduce**
- Expected behavior
- CREATE CONSTRAINT ON (n:Movie) ASSERT (n.title) IS UNIQUE
- CREATE CONSTRAINT ON (n:Person) ASSERT (n.name) IS UNIQUE
- Actual behavior
- CREATE CONSTRAINT FOR (n:Movie) REQUIRE (n.title) IS UNIQUE
- CREATE C

[2022-11-03 14:05] vikingUnet opened #12970 "Browser buttons text and table are changed places"
Neo4j version: 4.3.19
Operating system: Ubuntu 20.04.5 LTS
API/Driver: http://localhost:7474/browser/ tutorial "Movie Graph Guide", step 5
Steps to reproduce
Expected behavior
buttons table must show table and text must show text
Actual behavior
![image](https://user-images.githubusercontent.com/31891790/199741642-990a134e-dbab-425a-ae6b-e6876366864a.png)
![image](https://user-images.githubusercon

[2022-11-04 03:44] czpmango commented on #12959
@arnefischereit I get it. Thanks for your detailed answer!

[2022-11-04 03:44] #12959 closed, assigned to HannesSandberg

[2022-11-04 09:14] inmost-light commented on #12832
@cicuz This has been fixed, see the comment in https://github.com/neo4j/neo4j/issues/12818.

[2022-11-04 09:14] #12832 closed, assigned to HannesSandberg

[2022-11-04 09:42] Tom-python0121 opened #12971 "Neo4j@5.0.0 fails to be compiled using maven@3.8.2 and openjdk@17.0.3_7 on centos8_aarch64"
hello，I meet a problem:Neo4j@5.0.0 fails to be compiled using maven@3.8.2 and openjdk@17.0.3_7 on centos8_aarch64.
### Steps to reproduce the issue

[code]
Can you tell me how to solve this problem?

[2022-11-04 09:52] MishaDemianenko commented on #12971
Hi @Tom-python0121 looks like we missing the default set of options here. Thanks for reporting! That needs to be fixed and I will take a look at that!
In the meanwhile, you need to add the following options
[code]
to make it work

[2022-11-04 10:33] MishaDemianenko commented on #12971
Alternatively, you can create `jvm.config` file in NEO$J_BUILD_ROOT/.mvn folder. (It should already have extensions.xml there).
With the following content:
[code]
Those are all required options for maven to pick up.

PR to fix this permanently is on its way as well, but it will take some time to propagate and appear here. Sorry for any inconvenience.

[2022-11-04 13:45] israelcolomer commented on #12695
hi all, any progress on this?

[2022-11-05 09:22] jinhui-lai opened #12972 "round(-3.141592, 3, 'HALF_UP') = round(-3.141592, 3, 'HALF_DOWN') ?"
Neo4j Browser version: [5.0.0](https://github.com/neo4j/neo4j-browser/releases/tag/5.0.0)
Neo4j Server version: [4.4.5](https://github.com/neo4j/neo4j/wiki/Neo4j-4.4-changelog#445) (enterprise)
Build date: 2022/10/4
Operating System: win 11

The [document](https://neo4j.com/docs/cypher-manual/current/functions/mathematical-numeric/#functions-round2) in neo4j website descripes as follows.

- HALF_D

[2022-11-07 02:58] Tom-python0121 commented on #12971
@MishaDemianenko These configurations work. Can they be fixed in the next version?
![image](https://user-images.githubusercontent.com/77763324/200217303-4b227753-af79-45bf-9844-61a9f84cc94d.png)

[2022-11-07 05:27] YuanchengJiang opened #12973 "One equivalent query can help improve performance hundred of times"
Neo4j version: 4.4.12
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Pole(Crime analysis), https://github.com/neo4j-graph-examples/pole

Query 1:
[code]
It is a common query and takes more than one hour to finish on my PC.

Query 2:
[code]
This is an equivalent query to Query 1 which is wrapped by CALL. However, it is done within a few seconds.

Query 1 Profiles:
[code]

Query 2 Profil

[2022-11-07 15:46] suciokhan opened #12974 "neo4j-admin import regex failure"
## Regex Failure for neo4j-admin

Regex not detecting files along path, even though regex has successfully been tested on an online regex platform, as well as in Python. I have tried this regex with, and without double-quotes, and confirmed the path it's intended to represent is valid by successfully ingesting from the full-path.

- Neo4j version: 4.4.12
- Operating system: Ubuntu 20.04
- API/Driv

[2022-11-07 16:39] MishaDemianenko commented on #12971
The fix is already merged into the internal repo. Unfortunately, the next release X is almost at the end of the release pipeline so this patch will not gonna be included in that one. But the release X+1 will have this PR included.

[2022-11-08 08:39] vexos-io opened #12975 "CPU load is always 100% when idle ( version: 5.1.0 mac/linux jdk17)"
With 3 millions of NODES & 2 millions of RELATIONSHIPS

150 INDEXs are created.

[2022-11-08 09:28] #12975 closed, assigned to nobody

[2022-11-08 13:32] 59977 opened #12976 "Corrupt data when using continous checkpointing"
We load data into Neo4j using the .NET driver in batches using something like this:

[code]

The size of each batch is configurable. Total number of nodes is around two million and about 20 different labels. Different number of total nodes for each label.

This works well for us mostly but recently we tried this with dbms.checkpoint set to CONTINOUS and a batch-size of 1000.

Expected result:
Node

[2022-11-08 14:30] pontusmelke commented on #12968
Thanks @YuanchengJiang

We have investigated the issue and a fix will be provided in an upcoming release.

Best Regards,
Pontus

[2022-11-09 10:40] tinwelint commented on #12964
Hi, no it should definitely not get stuck. How many duplicates where there?

[2022-11-09 10:53] YuanchengJiang opened #12977 "One potential performance regression issue"
Neo4j version: 4.4.12, 5.1.0
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Recommendations, https://github.com/neo4j-graph-examples/recommendations

Testing Query: `MATCH p=()<--()<--()-->()<--()--() RETURN nodes(p)[0] LIMIT 10`.

**This query takes more than one minute to finish in version 5.1.0 while only takes a few ms in 4.4.12(same dataset and config)**

I am testing on the commu

[2022-11-09 10:58] YuanchengJiang commented on #12977
Interestingly, one similar query has the opposite performance:

Testing Query: `MATCH p=()-->()-->()<--()-->()--() RETURN nodes(p)[0] LIMIT 10;`

Version 5.1.0:
[code]

Version 4.4.12:
[code]

[2022-11-09 15:55] leveraction commented on #12956
It happens at start up.

"which will not work with the 4.4 apoc plugin you're mounting."    Which line is the apoc plugin?  One of these?

 - NEO4J_dbms_security_procedures_unrestricted=apoc.*,algo.*
 - NEO4J_dbms_security_procedures_whitelist=gds.*, apoc.*
If this is wrong, what should it be?

[2022-11-09 16:09] jennyowen commented on #12956
It's the apoc plugin you have in the `./plugins` folder you're mounting to `/plugins`.

[2022-11-09 20:13] leveraction commented on #12956
Ok, just as a test I commented out the plugins (which I don't think are even being used) and tried to start the container.  Without plugins, the 4.4.12-community starts, latest still does not start.

[2022-11-10 02:35] jexp commented on #12977
@YuanchengJiang @andyrobbins thanks for the report, we're looking into this.

![gh-12977-profile-plan-directed-relationship-scan](https://user-images.githubusercontent.com/67427/200986603-690a0411-a879-431c-99a0-bc5ab448b855.png)

if you split up the query to avoid the `DirectedAllRelationshipsScan `it is as fast as before:

`PROFILE MATCH (x) match p=(x)<--()<--()-->()<--()--() RETURN nodes(p)[0]

[2022-11-10 07:20] LukasRasmussen commented on #12961
Any progress? A bit suprised that there's updates on the Docker image but no fix yet.

[2022-11-10 07:44] HannesSandberg commented on #12972
Thanks! We will look into this!

[2022-11-10 07:47] HannesSandberg commented on #12973
Thanks! We will investigate this and report back to you.

[2022-11-10 10:12] jexp commented on #12977
@andyrobbins would you be able to identify the statement(s) in bloodhound import that are slow?

Not sure if you already have timings in your imports, otherwise you could also look at the query logs of an EE instance.

[2022-11-10 13:33] GregDThomas commented on #12844
Also 4.4.13 on the 4.x line

[2022-11-11 07:22] rickardoberg commented on #12952
I tried with Neo4j 5.1.0, and same problem. The jars now use Automatic-Module-Name, which is great, but there are split packages everywhere, so still unusable, forcing us to create a shaded jar with all the classes combined. Disappointed that this could not be fixed for 5.x, but hopefully by 6.x this might get fixed?

[2022-11-11 07:27] Roxling commented on #12935
@MrDanLeaf This is not a bug, but a design decision that is not an uncommon pattern in the world of command line tools on unix systems. The main reason for this is that tools often is used with a pipe into another tool. In this specific case the output of a `dump` command can be directed to the input of a `load` command (when `--to-stdout` & `--from-stdin` is provided). So printing all information

[2022-11-11 07:27] #12935 closed, assigned to nobody

[2022-11-14 08:01] 2hdddg commented on #12976
Hi @59977 would it be possible for you to provide a debug log from a run where you encountered this problem and the report from a consistency check of the database?
You might also try it out with a more recent version of the driver. Drivers follow the same versioning scheme as the database, so optimally use the 4.4 version of the driver (this is most probably not the cause of your problems).

[2022-11-14 11:29] klaren commented on #12961
Hello, the fix is in neo4j 4.4.14, https://github.com/neo4j/neo4j/wiki/Neo4j-4.4-changelog#4414

We do not use the affected `StringSubstitutor` class from Apache Commons Text, so we are not vulnerable to the security issue.

[2022-11-14 11:49] kixxalot commented on #12961
@klaren  :

1. Note that the most recent offline Neo4j Desktop (1.5.2) ships with Neo 5.1.0, which still comes with commons-text-1.9.jar

2. Can you be more specific about this: "Updates Apoc dependencies so that transitive dependency to commons-text does not get flagged as problematic for CVE-2022-42889." - is commons-text-1.9.jar still used, and if so: how does it not get flagged as problematic

[2022-11-15 09:33] YuanchengJiang opened #12978 "PROFILE provides inaccurate query time"
Neo4j version: 4.4.12 and 5.1.0
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Recommendations, https://github.com/neo4j-graph-examples/recommendations
Cache: `CALL db.clearQueryCaches()` is executed before profiling

Query 1: `PROFILE MATCH p=(n1)-[r1]->(n2)<--(n1) RETURN r1 UNION MATCH p=(n1)-[r1]->(n2)<--(n1) RETURN r1;`
Query 2: `PROFILE MATCH p=(n1)-[r1]->(n2)<--(n1) RETURN r1 UNI

[2022-11-15 10:03] YuanchengJiang commented on #12968
Hi,

It would be helpful if the fix commit can be linked here.

[2022-11-15 13:12] nacnudus opened #12979 "Fulltext 'cypher' index analyser does not work"
A fulltext index using the analyser that is called 'cypher' does not return any results.

I looked for a similar issue, but couldn't find any, perhaps because the name of the analyser is the same as the name of the query language.

- Neo4j version: 4.4.8 community
- Operating system: docker image neo4j:4.4.8-community
- API/Driver: Cypher

## Steps to reproduce

1. Create a node with `text` proper

[2022-11-15 15:26] 2hdddg commented on #12974
Hi @suciokhan the regex matching is done on the names of the data files in a single directory, if I interpret your example correct you are trying to match on subdirectories that contains the data files.

[2022-11-17 07:57] kikimo opened #12980 "Neo4j throw unexpected error executing a simple query"
The query below casue Neo4j to thow and unexpected exception:

[code]

if we change the where predicate from `WHERE (v0.id in [18, 15, 11, 7, 8, 17, 18]) AND ((0.980989 = 87))` to `WHERE (v0.id in [18, 15, 11, 7, 8, 17, 18])`, the query execute well and return expected result:

[code]

Neo4j version in test: neo4j-community-5.1.0

[2022-11-17 12:49] ashantiel commented on #12953
@alexhollis I've landed here looking for a solution to our problem, which seems to be pretty similar...
We have around 100k nodes and 500k relations, nodes has different properties (mostly 2 props, some small sets has up to 8 properties) and there is always one relation type. We are doing approx. 30 calls of small queries for different results per request. Our solution has 2GB memory on which 1.5G

[2022-11-17 19:22] hikemachado commented on #12901
Hi @nadja-muller
I´m eager for the next major release :)
Unfortunately the workaround will not work for me as the change impacts will be huge.

Thanks for all your support

[2022-11-18 03:56] YuanchengJiang commented on #12978
It also exists without `PROFILE`. Sometimes the given estimated time is not accurate.

[2022-11-18 08:22] klaren commented on #12930
Closing due to inactivity, feel free to reopen if you have more related questions.

[2022-11-18 08:22] #12930 closed, assigned to klaren

[2022-11-18 19:07] bradenmacdonald commented on #12920
Hey @alexgarel We have built a multi-tenant semantic knowledge base platform on top of a single Neo4j database, and it actually includes a taxonomy editor and a feature like "pull requests" where you can discuss changes to the taxonomy or data before they go live. See www.neolace.com . It's not yet completely open source, but we're planning to release the code soon. If you're still interested in t

[2022-11-21 08:07] HannesSandberg commented on #12979
Hi, thanks for your report. We will investigate this

[2022-11-21 08:09] HannesSandberg commented on #12980
Thank you for your report. We will look into this!

[2022-11-21 08:12] HannesSandberg commented on #12978
Thank you! We will investigate this.

[2022-11-21 09:05] kikimo commented on #12980
I can provide the dataset if needed.

[2022-11-21 11:59] klaren commented on #12961
1. Since we are not affected by this issue we will only update LTS releases, the current one is 4.4.
2. APOC is using commons-text, so there was a new release of APOC that used commons-text 1.10. The changelog refer to neo4j updating the bundled APOC version to the new release that uses 1.10.
3. You don't need to do anything. We do not use the vulnerable code so it's safe to ignore this warning. T

[2022-11-21 14:24] suciokhan opened #12981 "Neo4j-admin import "A Critical error occured! Shutting down the import"
This is similar to a closed issue for 4.4.0 (https://github.com/neo4j/neo4j/issues/12800), which indicated the problem was fixed in the next version. I suspect 4.4.14 qualifies as the next version, so perhaps the cause of this issue is different. Perhaps also relevant: I'm attempting to create the database on an external 5 TB HDD, and the source files (~670 GB of .tsv's) are on an internal 2 TB HD

[2022-11-21 15:52] arnefischereit commented on #12980
@kikimo Thank you for offering your help but I think we can reproduce the issue without the dataset.

[2022-11-21 16:00] arnefischereit commented on #12979
Hi @nacnudus,

It seems to me that there is no such `fulltext.analyser` as `cypher`: https://github.com/neo4j/neo4j/tree/5.1/community/fulltext-index/src/main/java/org/neo4j/kernel/api/impl/fulltext/analyzer/providers

Could you detail, why you think such an analyzer should exist?

[2022-11-21 16:29] nacnudus commented on #12979
Never mind, it was [removed](https://github.com/neo4j/neo4j/commit/dceaf877dc66591f383ada5bb14463f7c54c189b).  We would have relied on it.  Is there any lifecycle governance that would help us to decide whether to rely on any particular functionality of Neo4j?

[2022-11-22 02:52] kikimo commented on #12980
@arnefischereit ok

[2022-11-22 09:54] Lojjs commented on #12972
@jhIai This is actually not a bug, but our documentation could be clearer. We follow Java's rounding modes where a more accurate description of them can be found [here](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/math/RoundingMode.html). Both 'HALF_DOWN' and 'HALF_UP' means rounding to the nearest number of the given precision, unless there's a tie, when they round DOWN (towa

[2022-11-22 10:09] Lojjs commented on #12963
@LiorKogan We follow the rounding modes from Java, described [here](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/math/RoundingMode.html). But I can notice that our documentation is wrong in the case of `FLOOR`, it should say `Round towards negative infinity` and it is not very clear in the other cases either, so I will try to improve it. However, that `RETURN round(-1.5, 0, 'H

[2022-11-22 10:53] PetrJanouch commented on #12979
This particular analyser was used by an internal feature that was scrapped. We did not think through that it showed up in the listing of available analysers and someone might have started using it. Sorry for that. The analyser worked the same way as 'keyword' analyser so you can use that one instead.
We are generally careful about the backwards compatibility. This particular analyser was an incomp

[2022-11-22 10:53] #12979 closed, assigned to HannesSandberg

[2022-11-22 16:15] aokimio opened #12982 "Directed Relationship Index Seek Does Not Work"
## Directed Relationship Index Seek Does Not Work

I discovered that Directed Relationship Index Seek does not work in `optional match` circumstances properly.

**Neo4j Version:** 4.4.4
**Operating System:** Ubuntu 20.04 / Docker
**API:** Cypher

### Steps to reproduce
1. Add test data
[code]
2. Run a cypher query
[code]
3. Above cypher script executes very slow when the dataset is huge, but it sh

[2022-11-22 19:13] LiorKogan commented on #12963
Thank you @Lojjs
It is interesting to see that Java does not follow the more-or-less standard mathematical terminology.

[2022-11-22 20:10] nacnudus commented on #12979
Thank you for the explanation.

[2022-11-23 05:11] YuanchengJiang opened #12983 "Results/performance inconsistency when using different node names"
Neo4j version: 4.4.12.
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Recommendations, https://github.com/neo4j-graph-examples/recommendations

`MATCH p=(s0)<--(s2)-->()--()--(s1) RETURN DISTINCT s2 SKIP 8 LIMIT 4;` and
`MATCH p=(sowxkvik)<--(anmeyonb)-->()--()--(lhznpcro) RETURN DISTINCT anmeyonb SKIP 8 LIMIT 4;`
should share the same result and similar performance.
However, they outp

[2022-11-23 07:44] jhIai commented on #12972
Thank you!

[2022-11-23 07:45] jhIai commented on #12972
Thank you!

[2022-11-23 07:46] #12972 closed, assigned to HannesSandberg

[2022-11-23 14:46] pontusmelke commented on #12977
Thanks for reporting this @YuanchengJiang

It is not really a regression, as you noted sometimes it is faster in 4.4 and sometimes it is faster in 5. The reason is that the planner doesn't really have anything to work with in this query, no labels nor types or anything it can use to guide where in the graph it should start. Sometimes you get unlucky and have to go over a lot of nodes and relations

[2022-11-23 14:46] #12977 closed, assigned to HannesSandberg

[2022-11-23 16:36] YuanchengJiang opened #12984 "One possible performance regression"
Neo4j version: 4.4.12, 5.1.0
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Recommendations, https://github.com/neo4j-graph-examples/recommendations

**Query: MATCH p=(s2)<-[s4]-(s1:Person)--(s0:Movie)-->(s3:Person) RETURN id(s4) ORDER BY s2 DESC LIMIT 1**

Version 4.4:
[code]

Version 5.1
[code]

The following equivalent query:
`MATCH p=(s2)<-[s4]-(s1:Person)--(s0:Movie)-->(s3:Person)

[2022-11-23 16:39] YuanchengJiang commented on #12977
Hi @pontusmelke,

Sorry for the improper example, I agree that without guidance the performance would be a bit random.

I would like to share another query that has the node label and the `ORDER BY` clause which guides the query planner to scan the graph. There still exists some performance differences. As the issue is closed, I will open a new issue. See #12984

[2022-11-24 00:06] psytron opened #12985 "UUID Mode"
NEO4J is genius level product and along with pioneering OpenCypher is changing the way people think about data.

In the spirit of making graphs more resilient and durable we wonder about the default auto-incrementing integer as the key which powers the Relationships in NEO4J.

Right now Node "_id" or "identity" used for "start" and "end" on Relationships, is auto-incrementing Integer. This makes g

[2022-11-24 15:59] inmost-light commented on #12980
@kikimo
Thank you for reporting, this should be fixed in the next release.
This bug is triggered by a combination of variable-length relationship pattern (`[e0*0..0]`) with a predicate which statically evaluates to false (`0.980989 = 87`).

[2022-11-24 15:59] #12980 closed, assigned to HannesSandberg

[2022-11-25 14:53] arnefischereit commented on #12983
Hi @YuanchengJiang,

As Pontus mentioned in https://github.com/neo4j/neo4j/issues/12977#issuecomment-1325187268, if we do not have labels on the pattern, it becomes arbitrary, in which order we evaluate the query. If we then apply a `LIMIT`, to not look at all the results, running time may vary a lot.

In this particular case, we apparently make a different decisions, depending on the variables na

[2022-11-25 14:53] #12983 closed, assigned to nobody

[2022-11-25 15:03] arnefischereit commented on #12960
Hi @YuanchengJiang,

As mentioned in #12977 and #12983, if we do not have any labels on the pattern, then we have very little information in which order to solve the query.

In contrast to the other examples, these queries do not apply a `LIMIT`. But in this case the highest intermediate cardinality strongly influences the running time: Running query 1 leads to an intermediate cardinality of 20,86

[2022-11-25 15:03] #12960 closed, assigned to HannesSandberg

[2022-11-25 20:15] sungengyi opened #12986 "Match Existing Node Return None"

[2022-11-26 05:13] #12986 closed, assigned to nobody

[2022-11-28 12:52] abstract-liu commented on #12964
about 2 billion duplicates and 200 million unique
sorry for the mistake I make so many duplicates

[2022-11-29 04:31] jasperblues opened #12987 "Docs say dash character is allowed in DB name, CYPHER shell and Console Disallow this"
## Guidelines

- Neo4j version: 5.2.0
- Operating system: MacOS
- API/Driver: Javascript (only relevant for workaround)

## Steps to reproduce

Create a database via the Neo4j console or Cypher shell where the name has a dash character, example:

[code]

## Expected behavior

Database is successfully created

## Actual behavior
Error:

[code]

## Workaround

Issue the update via the JS driver, pas

[2022-11-29 12:29] YuanchengJiang opened #12988 "Using `OPTIONAL` and `DISTINCT` together with shortestPath() outputs an error"
Neo4j version: 5.1.0
Operating system: Ubuntu 20.04
API/Driver: Cypher
Dataset: Recommendations, https://github.com/neo4j-graph-examples/recommendations

This query `MATCH p=shortestPath((a:User)-[:IN_GENRE*]-(c:Genre)) RETURN DISTINCT p` tries to find the shortest path but nothing matched:
[code]
I want to make it output NULL instead. However, using `OPTIONAL` outputs the following errors:
[code]

[2022-11-29 17:04] InverseFalcon commented on #12982
You can force this, but you will need to remove any uses of pre-matched node variables in your OPTIONAL MATCH pattern (in this case, `port`) so that the planner cannot choose to expand from any previous matched nodes. We can use an equality filter to make sure the new variable (`port2`) is pointing to the same node.

[code]

That gives you a workaround, though I also feel the planner should be abl

[2022-11-30 09:39] mnd999 commented on #12985
Thanks for the detailed request, I've passed it on to our product team for consideration

[2022-11-30 11:14] YuanchengJiang commented on #12988
Server logs:
[code]