[2020-07-07 08:48] Roxling commented on #12541
Thank you for reporting this issue! A fix is on its way.

[2020-07-07 14:39] mnd999 commented on #12540
Can you provide the output of:
*  `call db.stats.retrieve("GRAPH COUNTS")`
* `call db.stats.retrieve("TOKENS")`

That would give us something to start from.

[2020-07-08 06:04] nslayer opened #12546 "Error finding shortest path using gds.alpha.shortestPath.stream"
- Neo4j version: 4.1.0
- Operating system: Ubuntu 20.04
- API/Driver: Cypher-shell 4.1.1
- neo4j.conf:
[code]

I have neo4j-graph-data-science-1.2.2-standalone.jar  in the plugins folder. I am not sure if I am missing any other plugins.

I am running the following code on cypher-shell from the Graph Algorithms book.

[code]

get this error:
`Failed to invoke procedure `gds.alpha.shortestPath.strea

[2020-07-08 07:51] tinwelint commented on #12513
Since I cannot reproduce this and you cannot provide further information I'll close this issue. Please reopen if you get back with more information on this.

Thanks

[2020-07-08 07:51] #12513 closed, assigned to nobody

[2020-07-08 12:10] deemeetree opened #12547 "Security flaw: neo4j-admin backup does not ask credentials when making a remote backup"
In Neo4J 3.x.x (up to the latest 3.5.17) when you are attempting to make a remote DB online backup using

[code]

the script connects to a remote database without any security credentials.

Effectively this means that when you have your DB open with the backup port open anybody could connect to your DB from the outside and copy all your data.

I raised this issue numerous times on Neo4J forums, bu

[2020-07-08 12:34] psikala commented on #12547
[documentation](https://neo4j.com/docs/operations-manual/current/configuration/ports/) suggest that remote access should be blocked.

[2020-07-08 13:25] szarnyasg commented on #12400
Hi -- my suspicion is that this may have been resolved with commit 1760f37bb26df96466ff6e95d884e6329518c4db that fixed #12498. Can you please confirm?

[2020-07-08 21:08] deemeetree commented on #12547
@psikala the same documentation suggests that you should do backups remotely. So how are you supposed to do them remotely if remote access is blocked?

[2020-07-09 10:25] jennyowen commented on #12544
Hi @pjljvandelaar thanks for the bug report! It looks like it's probably an issue with the APOC plugin.
Could you please copy this issue over to:
https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues
thanks.

[2020-07-09 10:25] #12544 closed, assigned to nobody

[2020-07-09 11:06] pjljvandelaar opened #12548 "Crash while idling"
I when away from my laptop for a break.
When I returned I got

![image](https://user-images.githubusercontent.com/18348654/87032391-d779a800-c1e4-11ea-9e71-5aaad63fc863.png)

To my knowledge no activity in neo4j.

I hope this error message helps in improving neo4j.

[2020-07-09 11:46] #12541 closed, assigned to Roxling

[2020-07-09 13:55] h4emp3 opened #12549 "Neo.DatabaseError.Statement.ExecutionFailed when matching on a `NODE KEY`-constraint after a `WITH DISTINCT`"
**Neo4j Version:** 4.1.0 (also tested with 4.0.x, where the error does not occur)
**Operating System:** Debian 10 and Windows 10
Neo4j was downloaded from neo4j.com and extracted from the tarball. The query was executed in the webinterface.

### Steps to reproduce
[code]

### Expected behavior
No exception but a result (or in this artificial example, no results).

### Actual behavior
An exception

[2020-07-09 19:02] lawrencerowland commented on #9726
Im experiencing this (I confess I'm still in 3.5.14)

[2020-07-10 02:15] linrl3 opened #12550 "Does it support TTL for edge(or relations)?"

[2020-07-11 06:57] psikala commented on #12547
@deemeetree true that.

I agree that there should be some kind of authenticatition, but personally, I don’t see that as a dealbreaker. Alltough, users has to be careful and know what they are doing. I think that remote backups are suggested that you don’t create extra load to the database servers.

You can, for example, have backup machines are in the same environment/tenant than database -servers

[2020-07-13 08:56] codingmiao opened #12551 "Optimization recommendations for transport and serialization"
## Feature request template

**Is your feature request related to a problem? Please describe.**
When I query the data using Procedure, the Bolt-JSON transfer consumes too much time

**Describe the solution you'd like**
Add a high-performance protocol like ProtoBuffer

**Describe alternatives you've considered**
Procedure still returns Stream, but serialization and transport by protoBuffer

**Addit

[2020-07-14 09:42] hugofirth commented on #12547
Hi @deemeetree & @psikala

If you wish to do remote backups securely, you should configure the backup server and client to use SSL/TLS, as documented [here](https://neo4j.com/docs/operations-manual/4.1/backup/planning/#backup-planning-ssl). There is, as yet, no concept of Neo4j user authentication when performing a backup, as backups are not considered to be a per-user process. Instead they are pe

[2020-07-16 00:52] achantavy opened #12552 "Query not returning expected data after upgrade from 3.5.16 community to 3.5.19 enterprise"
Hi there, I observed some unexpected query behaviors. Please see this [forum thread](https://community.neo4j.com/t/really-weird-query-not-returning-expected-data-after-upgrade-from-3-5-16-community-to-3-5-19-enterprise/21672) for full context.

3.5.19 Enterprise

Ubuntu 14.04.6 LTS

The script that fills my DB uses 1.7.6 of the Python driver

## Description

I recently upgraded my DB from 3.5.16 c

[2020-07-17 12:57] mnd999 commented on #12540
We had a look into this, and were able to generate the same plan as you. Unfortunately we were not able to reproduce the issue. There are some things you can try:
* Prefix your query with `CYPHER RUNTIME=interpreted`, and `CYPHER RUNTIME=slotted` see if it works with these runtimes.
* Increase your log level and retry e.g. set `dbms.logs.debug.level=DEBUG` in your neo4j.conf, make sure the query l

[2020-07-17 14:14] wadael commented on #12540
Awesome. Thanks Mark
Didnt think about changing the runtime.
The Q works with both slotted and interpreted.

I put an archive on the same gdrive I shared previously with the data.
A NPE occurred in org.neo4j.bolt.packstream.Neo4jPackV1$PackerV1.pack(Neo4jPackV1.java:116)
because of
ERROR [o.n.b.v.m.BoltResponseMessageWriterV3] Failed to write value null because: null

[2020-07-17 14:47] mnd999 commented on #12540
I had to delete that share from my drive without looking, we are not allowed to look at private customer databases without a support contract unfortunately. If you have a full stack trace are you able to add it to this ticket?

[2020-07-17 14:52] wadael commented on #12540
I understand.
It was for helping with the stability of the project.
I'm a big fan
Here are the logs I previously shared to you. No data here
[Issue_12540__logs_from_reporter.tar.gz](https://github.com/neo4j/neo4j/files/4938440/Issue_12540__logs_from_reporter.tar.gz)

[2020-07-18 07:32] innerforce opened #12553 "Database create /drop problem: reconcile state error"
- Neo4j version: 4.0.6 Enterprise trial
- Operating system: CentOS-7
- installation: RPM repo
- **Steps to reproduce**
1. in neo4j browser remove a working test database: drop database xxx
2. create a new test databases: create database xxx, create database yyy
3. Every new database I create will fail to go “online”, we have now no database to use besides “system”
note:
some operations before this

[2020-07-19 16:36] xmp00 commented on #7086
tarting Neo4j.
WARNING: Max 1024 open files allowed, minimum of 40000 recommended. See the Neo4j manual.
./bin/neo4j: line 451: /usr/share/neo4j/run/neo4j.pid: No such file or directory
./bin/neo4j: line 450: /usr/share/neo4j/logs/neo4j.log: No such file or directory

[2020-07-19 16:38] xmp00 commented on #7086
udo service neo4j start
Failed to start neo4j.service: Unit neo4j.service not found.

[2020-07-19 16:41] xmp00 commented on #7086
Created manually folders.
sudo neo4j start
Active database: graph.db
Directories in use:
  home:         /usr/share/neo4j
  config:       /usr/share/neo4j/conf
  logs:         /usr/share/neo4j/logs
  plugins:      /usr/share/neo4j/plugins
  import:       /usr/share/neo4j/import
  data:         /usr/share/neo4j/data
  certificates: /usr/share/neo4j/certificates
  run:          /usr/share/neo4j/run

[2020-07-19 16:42] xmp00 commented on #7086
systemctl start neo4j
Failed to start neo4j.service: Unit neo4j.service not found.

[2020-07-19 17:27] xmp00 opened #12554 "JDK(TM) 11 to run Neo4"
ERROR! Neo4j cannot be started using java version 1.8.0_212.
* Please use Oracle(R) Java(TM) 11, OpenJDK(TM) 11 to run Neo4j.
* Please see https://neo4j.com/docs/ for Neo4j installation instructions.
-==
I f*cked all day with this installation from 9 AM till now 7 PM...I don't know what to say because nothing to hell helped me what was found on the web...

[2020-07-19 17:43] xmp00 commented on #9349
/usr/share/neo4j/bin/neo4j: line 394: /var/log/neo4j/neo4j.log: Permission denied

[2020-07-20 04:34] cuigm85 commented on #12554
[code]
I think your jdk version is 8.

[code]
You should install jdk 11, if you want to use neo4j v4.

[Software requirements](https://neo4j.com/docs/operations-manual/current/installation/requirements/#deployment-requirements-software)

[2020-07-20 05:12] cuigm85 opened #12555 "url starts with "neo4j://" not stable"
## **Environment**

- Neo4j version: 4.1.1, 4.1.0, 4.0.6
- Operating system: Ubuntu 18.04
- API/Driver: Neo4j Browser

### **Steps to reproduce 1**

1. Create local cluster

Add the following settings to the bottom of `$NEO4J_HOME/conf/neo4j.conf` files:

cluster1:
[code]
cluster2
[code]
cluster3
[code]
2. Connected to server and select "neo4j://" as Connect URL

- Expected behavior
Execute query

[2020-07-20 18:21] innerforce commented on #12553
it is a root user command "systemctl start neo4j" should not be used on server.  i close the issue.

[2020-07-20 20:58] #12553 closed, assigned to nobody

[2020-07-21 01:54] zdYng opened #12556 "The test case reports a null exception"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 3.5.20
- Operating system: Windows 10
- API/Drive

[2020-07-21 01:54] zdYng commented on #12556
![image](https://user-images.githubusercontent.com/17880611/88003752-2eae3f80-cb38-11ea-8caf-c89ae61f0a94.png)
Test

[2020-07-21 08:57] sherwinNG opened #12557 "Who can tell me what's wrong?"
Traceback (most recent call last):
  File "/data/django-uwsgi/text_labeled/create_graph/build.py", line 44, in <module>
    create_label_node_and_rel()
  File "/data/django-uwsgi/text_labeled/create_graph/build.py", line 13, in create_label_node_and_rel
    _driver = GraphDatabase.driver(**NEO4J_CONFIG)
  File "/root/anaconda3/lib/python3.6/site-packages/neo4j/__init__.py", line 181, in driver

[2020-07-21 09:50] sherfert commented on #12395
We have changed the error message to:

"The `USE` clause is only available in the Fabric execution context. Enable Fabric using the setting `fabric.database.name=<name>`"

I hope that is better.

[2020-07-21 09:50] #12395 closed, assigned to nobody

[2020-07-21 12:02] OliviaYtterbrink commented on #12545
I followed your steps to reproduce, but at step 9 I get an empty result.

But following the notes in https://neo4j.com/docs/operations-manual/4.0/tools/dump-load/ which state:
`If the database used to load into doesn’t exist prior to loading, it must be created subsequently using CREATE DATABASE. See Section 6.2.1, “Administrative commands” for more information.`
Executing `CREATE DATABASE semmedd

[2020-07-21 12:02] #12545 closed, assigned to mnd999

[2020-07-21 14:24] gjmwoods commented on #12551
@codingmiao Thanks for the feature request. This is an interesting example, would you be able to share the complete setup so we can understand it fully and then discuss it within the team?

[2020-07-22 04:48] leng-lim opened #12558 "Get first related node query gives Neo.TransientError.General.StackOverFlowError"
## Environment

- Neo4j version: 4.0.0
- Operating system: Linux Mint 19.3 Cinnamon
- API/Driver: neo4j-graphql-java

## Steps to Reproduce

- Create the Movie Graph via the neo4j browser
- Run the following cypher query:

`MATCH (person:Person) RETURN person {actedIn:[(person)-[:ACTED_IN]->(movie:Movie) | movie { .title }][0]} AS person ORDER BY person.name ASC LIMIT 10`

## Expected Behaviour
A

[2020-07-22 06:50] sherfert commented on #12528
Please let me know if you can help us reproduce the issue.

[2020-07-22 06:50] #12528 closed, assigned to sherfert

[2020-07-24 01:00] achantavy commented on #12552
Just to add another data point, please see this post: https://community.neo4j.com/t/really-weird-query-not-returning-expected-data-after-upgrade-from-3-5-16-community-to-3-5-19-enterprise/21672/15?u=alexchantavy

Could this issue be related to full text indexing or something? Anyway, hope I'm not sending over a red herring, but thought it was worth noting the difference.

[2020-07-24 19:19] mnd999 commented on #12554
Yes, that is correct. Neo4j 4.0.0+ requires Java 11. Will close this one, if you have any further questions please re-open.

[2020-07-24 19:19] #12554 closed, assigned to nobody

[2020-07-25 21:19] ravening opened #12559 "Websocket connection timeout in browser"
## Bug report

- Neo4j version: 4.0.4
- Operating system: Ubuntu 16.04

- **Steps to reproduce**
Run a neo4j docker container on a remote machine, lets say with an in 10.11.113.101
[code]

The docker starts fine and all the firewall ports are open
When I login to browser, it tries to connect a websocket connection to localhost rather than 10.11.113.101 which is definitely not a good thing.

- Expe

[2020-07-27 08:33] OliviaYtterbrink commented on #12552
Hello @achantavy, I've looked into this a bit and think it's a browser/javascript-driver bug.
Could you try running the queries via cypher-shell?

[2020-07-27 18:00] achantavy commented on #12552
Hi @OliviaYtterbrink, wow you're right, the query works in cypher-shell but not in the browser!

[code]

[2020-07-28 12:41] pontusmelke commented on #12558
Hi @leng-lim , thanks for reporting this issue.

We have been able to reproduce the issue and fix the issue. So if you upgrade the database (to at least version 4.0.4) it should be working fine again.

I'll close this issue but please feel free to reopen or open a new one if the problem reappear.

Regards
Pontus

[2020-07-28 12:41] #12558 closed, assigned to mnd999

[2020-07-28 16:54] cashlalala commented on #7652
So, until today, there's still no way to set a integer value to a property via cypher?

[2020-07-28 17:30] codeseedr commented on #7652
Correct, no solution to this day. Unless anybody can prove otherwise.

[2020-07-30 15:11] JnMik opened #12560 "I would like to be able to redirect logs to somewhere else than the files (stdout, stderr)"
**Is your feature request related to a problem? Please describe.**
When deploying NEO4J with the helm chart, I'm having to craft tweaks to have the logs go to stdout so they are properly collected by the agents on the Kubernetes nodes collecting the container logs.

**Describe the solution you'd like**
In neo4j.conf, that would be nice if we could overwrite the destination of the log files.
Some c

[2020-07-31 07:56] #12543 closed, assigned to mnd999

[2020-08-01 18:58] waigitdas commented on #12059
this is not fixed in v 4.1

from Putty to my Neo4j VM on Azure

dastumpf@neo4jVM:~$ neo4j status
/usr/share/neo4j/bin/neo4j: line 196: export: `cypher_lenient_create_relationship = true': not a valid identifier

[2020-08-03 08:22] codingmiao commented on #12551
@gjmwoods
I uploaded a demo here,
https://github.com/codingmiao/bolttest
You can run it by referring to Readme.md

[2020-08-03 08:27] technige commented on #7652
@codeseedr As of Neo4j 3.0, which introduced Bolt and the official drivers, back in 2016, the core type system for the primary surface can be summarised as follows:

- Null
- Boolean
- Integer (signed 64-bit integer)
- Float (double precision floating point number)
- String (Unicode)
- Byte Array
- List
- Dictionary/Map

On top of this, there also exist Graph data types (Node, Relationship, Path),

[2020-08-03 08:58] technige commented on #12551
Hi @codingmiao

The Bolt protocol does not use JSON internally. It is designed using our on in-house syntax layer. When we designed this originally, we considered a wide range of options, including ProtoBuf, against a number of different criteria. As things stand now, while your measurements may indicate an improvement in pure on-wire transfer, this is rarely a bottleneck, and replacing our syntax

[2020-08-03 08:58] #12551 closed, assigned to nobody

[2020-08-03 09:13] AlexPresso opened #12561 "Multiple types for relationships (inheritance)"
**Is your feature request related to a problem? Please describe.**
Using Spring, I've made an inheritance class pattern for my entities / relationshipentities, the problem I'm facing is that relations doesn't support multiple labels / types, so when in example I'm creating a repository for a `BaseRelation`, all `findById` queries for a `TESTRELATION` will return null, even if this relation extends

[2020-08-03 09:42] bugzyz opened #12562 "Server no longer accepts writes during a large dataset load and create cypher statement"
We are using a 3 cores + 2 replicas in our scenario.
Now, We are trying to load a 300mb dataset file and create some edge based on the dataset file using a cypher statement shown below.
`
CALL apoc.load.csv("http://<ip>/datasets_incremental/output_100000000/edge.PHONE",{header:false, delimiter:","}) YIELD list AS lineMATCH (a:CUST_ID {id: line[0] }), (b:PHONE {id: line[2] })CREATE (a)-[r:PHONE]->(

[2020-08-03 11:25] #12549 closed, assigned to mnd999

[2020-08-03 12:04] umuzammil commented on #12530
Hello, any updates on this please? Quick note that this is _not_ limited to the first core that joins (or makes a failed attempt to join) a cluster. Once any/all members enter a state of waiting for others to join, shutdown times out (perhaps indefinitely) for any of them.

[2020-08-03 14:00] graphadvantage opened #12563 "Symmetric node index for Fabric"
It would be good to have the capability to index nodes across fabric shards that are semantically identical to support more sophisticated federated query capabilities. Most enterprise fabric scenarios will necessarily involve graph models with hierarchy that has to be shared across shards.

Idea would be to support a user-defined index that relates nodes that have identical properties existing in

[2020-08-03 22:46] micheljung opened #12564 "Crashes with `malloc(): invalid size (unsorted)`"
I'm trying to insert about 12mio nodes into an empty neo4j instance via Java, inserting chunks of 10k (one transaction per chunk). After about 3-4mio nodes, neo4j (running within a `neo4j:4.1.1` Docker container) crashes.

**Neo4j Version:** 4.1.1
**Operating System:** Fedora Core OS 32 (Docker)
**API:** Java API

### Steps to reproduce
1. Pull the image: `docker pull neo4j/neo4j:4.1.1`
1. Create

[2020-08-04 03:22] alexpghayes commented on #12073
New user here. Ran into this with a fresh download and install today.

`WMIC.exe` is present in `C:\Windows\System32\wbem\` for me. Adding `C:\Windows\System32\wbem` to my PATH resolved my issue. I'm on Windows 8. I also upgraded to a recent version of Powershell along the way.

[2020-08-04 04:38] graphadvantage commented on #12562
Try wrapping this in apoc.periodic.iterate, and set batchSize to 10000, parallel false

[2020-08-04 05:53] micheljung commented on #12564
With about ~4mio of those nodes added, the same crash happens when I query  `MATCH (c:City) RETURN c`

[2020-08-04 14:49] bugzyz commented on #12562
Hi! Thanks! It does work! 👍

I have two question about this procedure, that:
1. What's the reason that the “server xxx no longer accepts write operation” error interrupt this update operation that occurs before?
2. I used parallel:true on the node creation and it's fine. But when I use parallel:true on the edge creation, an error message shown as below picture. What's the reason that cause such er

[2020-08-04 19:48] micheljung commented on #12564
Couldn't reproduce with `3.5.20`

[2020-08-05 13:35] thatapplefreak commented on #12564
I am also having this issue trying to import data from a csv with approx ~2 million rows.

Neo4j Version: 4.1.1
Operating System: rancher
API: Web UI
Also running in a docker container

[code]

[2020-08-05 17:24] yarduza commented on #7814
I vote up the need for this.

[2020-08-06 05:41] bugzyz commented on #12562
The 3rd question is that,
How to deal with the cluster leader crash during the iteratively update since half of the creation are already available in the database before the crash?

[2020-08-06 22:28] ivangreene commented on #1640
What is the reason not to continue the Java API development? I would rather write this:
[code]
Than this:
[code]
Please let me know if there is an easier way to do this kind of operation in the Java API and gain access to the existing or created Node for creating relationships, etc

[2020-08-08 13:50] SimplicityGuy commented on #12564
Similar issue here, at about 1.2M nodes added I hit this issue.
Neo4j Version 4.1.1
Running in docker (using official image)
Host OS: mac OS Catalina

[2020-08-08 13:52] SimplicityGuy commented on #12564
Related: https://community.neo4j.com/t/java-memory-allocation-issue-with-bulk-upload-in-docker-neo4j-4-1-0/20990

Good suggestion in here: https://phpboyscout.uk/pre-populating-neo4j-using-kubernetes-init-containers-and-neo4j-admin-import/

Trying this: `docker exec -it neo4j neo4j-admin memrec`, and updating my `neo4j.conf` along with container restart.

UPDATE: I applied the settings recommended

[2020-08-08 17:40] SimplicityGuy commented on #12564
Besides the upgrade to neo4j, the docker image between 3.5.20 and 4.1.1 also has the upgrade from OpenJDK 8 to 11.

Is this issue specific to running in docker? e.g. if neo4j is installed on a VM, does this issue happen as well?

UPDATE: I have a small (2 vCPUs, 4gb RAM) running Debian 10 and Neo4j 4.1.1 (installed through the neo4j apt repo), and my import is working fine. OVer 5M nodes currently

[2020-08-10 07:30] freefallzhou commented on #9726
meet same bug, so sad

[2020-08-11 12:23] mnd999 commented on #12508
This issue should be resolved from Neo4j 4.0.5 onwards.

[2020-08-11 12:23] #12508 closed, assigned to sherfert

[2020-08-11 12:29] mnd999 commented on #12538
This issue should be fixed by https://github.com/neo4j/neo4j/commit/4d0f6be3d61da00a98852af9035bb80757c55874, it will be available in the next 4.1.x bugfix release. Please feel free to reopen if you're still having problems.

[2020-08-11 12:29] #12538 closed, assigned to nobody

[2020-08-11 12:34] mnd999 commented on #12352
This issue has been inactive for some time so I will close. If this is still an issue, please feel free to reopen.

[2020-08-11 12:34] #12352 closed, assigned to nobody

[2020-08-12 05:10] mattfysh opened #12565 "Query hangs when using GraphQL-style shorthand syntax"
Neo4j version: 4.1.0 Enterprise (via Neo4j Desktop 1.3.4)
Operating system: MacOS Catalina 10.15.6
API/Driver: the bundle Neo4j Browser

### Steps to reproduce

Run the following query to aggregate Forum->Thread->Post connections:

[code]

It works as expected, and then change the last line from:

[code]

to be:

[code]

And the query hangs while CPU runs at max (~700% on my macbook pro)

[2020-08-12 07:26] burqen commented on #12511
Closing inactive issue. Please, feel free to re-open if needed.

[2020-08-12 07:26] #12511 closed, assigned to nobody

[2020-08-13 03:30] xspeng95 opened #12566 "can not build neo4j-3.4"
Neo4j version: 3.4
Apache Maven 3.6.0
Maven home: /usr/share/maven
Java version: 11.0.8, vendor: Oracle Corporation, runtime: /usr/lib/jvm/jdk-1.8
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "5.0.0-38-generic", arch: "amd64", family: "unix"

I download the zip file and unzip
cd neo4j-3.4 file directory
mvn clean install -DskipTests

[INFO] ---------------------------

[2020-08-13 07:01] pontusmelke commented on #12540
Hi @wadael ,
we believe this issue should have been fixed in 4.0.7, if you have the opportunity please try upgrading.

I'll close this issue but don't hesitate to reopen or open a new issue should the problem reappear.

Regards,
Pontus

[2020-08-13 07:01] #12540 closed, assigned to mnd999

[2020-08-13 08:07] phoerious commented on #12139
This is a bug in both the Helm chart (see https://github.com/neo4j-contrib/neo4j-helm/issues/67) and apparently also Neo4j itself. Both assume the cluster domain to be `cluster.local`, which is probably never the case for any deployment beyond a local Minikube.

I fixed the bug for me in the Helm chart, which gives me a correct startup script, but the pod still hangs with

[code]

The docs at http

[2020-08-13 08:12] mnd999 commented on #12565
Thanks for the report, we'll look into it. It may help us if you can provide a little more information about your database. If you are able, can you run `call db.stats.retrieve("GRAPH COUNTS")` and share the results? This will let us know the makeup of your database.

[2020-08-13 08:14] mattfysh commented on #12565
Sure thing :)

[code]

[2020-08-13 08:22] phoerious commented on #12139
The only workaround is to revert the Helm chart to its buggy version where it ignores `{{ .Values.clusterDomain }}` and simply hard-codes `.cluster.local` into `DISCOVERY_HOST` and then add `cluster.local` to the CoreDNS ConfigMap as an additional cluster domain so that the name resolution works.

[2020-08-13 08:31] mnd999 commented on #12566
Thanks for your interest. We're not really supporting the 3.4 branch anymore, but of course community contributions are welcome.  I would suggest making sure your JAVA_HOME environment variable is correctly set and make sure you don't have any empty source directories left over after switching branches. I would also recommend using a more recent branch if possible.

[2020-08-13 14:51] wadael commented on #12540
Confirming the issue is solved with  v4.1.1
Thank you Mark and Pontus

[2020-08-14 07:57] eastlondoner commented on #12139
Sorry that this issue has not had any responses - this relates to a Neo4j Enterprise feature so please raise support requests via your enterprise support channel or your account manager so that we can help to investigate these issues properly.

We’ve got customers using this discovery type on self-hosted Kubernetes, Azure Kubernetes, AWS Kubernetes, GKE, OpenShift, and IBM who are using this succe

[2020-08-14 07:57] Right-ty commented on #12321
Hello, I also encountered the same problem。
ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@383f1975' was successfully initialized, but failed to start. Please see the attached cause exception "Requested index 631, but length is 1".

[2020-08-14 08:02] Right-ty commented on #12321
@tinwelint
Hello, I also encountered the same problem, how to solve it?

- Neo4j version: neo4j-enterprise-3.5.20

ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@383f1975' was successfully initialized, but failed to start. Please see the attached cause exception "Requested index 631, but length is 1".

[2020-08-14 08:03] Right-ty commented on #12321
@tinwelint
Hello, I also encountered the same problem, how to solve it?

- Neo4j version: neo4j-enterprise-3.5.20

`ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@383f1975' was successfully initialized, but failed to start. Please see the attached cause exception "Requested index 631, but length is 1".`

[2020-08-14 09:07] Right-ty opened #12567 "ERROR Failed to start Neo4j:Maximum id limit for RELATIONSHIP_TYPE_TOKEN has been reached"
- Neo4j version: neo4j-community-3.5.8

I failed to start Neo4j, RELATIONSHIP_TYPE_TOKEN exceeds the limit.

How can I delete the relationship type？

neo4j.log:

[2020-08-17 09:51] minicloudsky opened #12568 "how does neo4j implement graph visualization in browser"
## Guidelines

I want to implement neo4j data visualization in browser ,to show the neo4j data ,I found some solutions on github,however ,all of them does not match my demand , I want to implement neo4j data visualization as good as neo4j in browser client ,
so i want to know how does the neo4j browser client implemented the data visualizaion ,
 what should i do or which document should i read, an

[2020-08-17 11:11] Anunayth commented on #12431
I tried whatever is mentioned in #12427 . i have checked all the dependencies and no where i see a conflict. i am now trying this with neo4j 4.1.0. I am still facing the same error.

[2020-08-18 06:48] #12531 closed, assigned to nobody

[2020-08-18 18:57] fake0fan opened #12569 "Some questions about the code of GrabAllocator.java"
Recently, I read some source code of neo4j and have some questions.
In the file of neo4j/community/io/src/main/java/org/neo4j/io/mem/GrabAllocator.java

[code]

In this segment of code,  I guess it will have some problems if  ```grabSize == bytes```.
We are not sure that the ```head.canAllocate( bytes, alignment )```  is true, right?

So, I think this is a bug. and if I'm wrong, hope to get some i

[2020-08-19 00:47] JnMik commented on #12510
I have the same issue, my cluster just failed me !

Logs for neo4j-core-0  (kubectl logs -f neo4j-v1-core-v1-0-

[code]

If I run the same command to view the logs but with --previous flag, the last line is

[code]

[2020-08-19 14:23] PetrJanouch commented on #12564
We have been able to reproduce the issue and fix it. The fix will be available in the next released version (4.1.2).

This issue is dependent on the cache size ( dbms.memory.pagecache.size setting ) and the only size we have been able to observe it with is 512MB, which is unfortunately the default value for our docker images. So until 4.1.2 is released, you can try to set dbms.memory.pagecache.siz

[2020-08-19 20:29] ZachParkerDev commented on #12330
Any updates to this issue? Different setup, but getting the same error going through a similar process?

[2020-08-20 04:31] hoangphucITJP opened #12570 "EXCEPTION_ACCESS_VIOLATION"
I cannot start the database with Neo4j Desktop

### Setup
**Neo4j Version:** 4.1.1
**Operating System:** Windows 10 (64bit)
**API:** Neo4j Desktop 1.3.4

### Steps to reproduce
1. Download Ne4oj desktop
2. Migrate some data to database
[code]
3. For some unknown reason, it crashes when I start the database later

### Error output
[code]

### Error log
[hs_err_pid4420.log](https://github.com/neo4j/

[2020-08-20 07:41] alexlitvinenko opened #12571 "Expected a string value for `toUpper`, but got: NO_VALUE; consider converting it to a string with toString()"
It seems that when use  `toUpper(null)` in `WHERE` with `IN` operator then it fails.

See examples below:
`MATCH (p:Plant) WHERE toUpper(p.does_not_exist) IN ['US'] RETURN count(p)` - Neo.ClientError.Statement.TypeError
`MATCH (p:Plant) WHERE toUpper(p.does_not_exist) = 'US' RETURN count(p)` - WORKS!

**Neo4j Version:** 4.0.7 Enterprise
Operating system:  Docker neo4j:4.0.7-enterprise
apoc.version

[2020-08-21 05:28] JnMik opened #12572 "Neo4j cluster member launch may get confused in the order of lauching databases"
- Neo4j version: 4.1.1-enterprise
- Operating system: neo4j in containers
- Cluster of 3 core members, using the helm chart

### Steps to reproduce
1. Have more than 1 custom DB in your cluster [neo4j, system, db1, db2, db3....]
2. Have all the nodes shutdown
3. Boot the 3 containers at the same time (could happen with bare metal server, I don't know)
4. Inspect the logs of the 3 containers
5. rea

[2020-08-21 11:26] klaren commented on #12567
Hello and thank you for reaching out.

This is a known limitation in neo4j that we only support 65535 numbers of relationship types. If your data model requires this many types, you will have to change the model.

However, if you do have old relationship types that are no longer in use you should be able to repair the store. There are no ways to delete the relationship types that are already creat

[2020-08-21 20:09] SimplicityGuy commented on #12564
Great to hear! Thanks for addressing this. Can you link a PR for this? I'm curious what the fix looks like for this.

[2020-08-24 18:59] plasticfist opened #12573 "Error thrown accessing property of null relationship (e.g. after an OPTIONAL MATCH)"
- Neo4j version: 4.1.0 and 4.1.1
- Operating system: NA
- API/Driver: NA

- **Steps to reproduce**
Use the dataset from https://neo4j.com/docs/graph-data-science/current/alpha-algorithms/cosine/#algorithms-similarity-cosine-procedure-sample, or any trivial graph, just make sure there are null relationships coming back in the OPTIONAL MATCH

then run this cypher
//demonstrate bug
MATCH (p:Person),

[2020-08-25 09:50] jennyowen commented on #12559
If your Neo4j instance is running on another machine, you'll need to configure `dbms.default_advertised_address` to be the address of the machine running neo4j.
https://neo4j.com/docs/operations-manual/current/configuration/connectors/#connectors-defaults-for-addresses

In docker you can configure Neo4j with a conf file or with environment variables:
https://neo4j.com/docs/operations-manual/curren

[2020-08-25 09:50] #12559 closed, assigned to nobody

[2020-08-28 10:49] ravening commented on #12559
@jennyowen this worked. Thanks a lot :)

[2020-08-28 20:14] Govidnda opened #12574 "Checkpoint trigger is shutting down the neo4j server."
Below is the complete error log from the server, due to this error neo4j server is stopping. Could you please help us to fix this issue. Due to this issue, we are unable to proceed with our development and testing activities.

Neo4j version : 3.5.12 enterprise

2020-08-28 17:05:26.985+0000 WARN [o.n.b.r.MetricsReportingBoltConnection] The client is unauthorized due to authentication failure.
2020-

[2020-08-31 17:29] pelletier197 opened #12575 "Neo4j Harness - missing APOC Core libraries"
Hello!

I'm reaching out to you, because I encountered an issue while using `neo4j-harness 4.1.1`. If I understand well from the Readme of `APOC`, from this version, Neo4j comes bundled with [APOC Core Procedures](https://github.com/neo4j-contrib/neo4j-apoc-procedures).

However, Neo4j Harness seems to be lacking those core dependencies. Before this version of Neo4j, I used to register the require

[2020-09-01 07:11] mnd999 commented on #12573
Thanks for the report, we'll look into it

[2020-09-01 07:24] mnd999 commented on #12574
Thanks for the report, this looks like it might be a filesystem permissions issue. Does neo4j have write access to those directories?

[2020-09-01 07:26] #12566 closed, assigned to nobody

[2020-09-01 07:26] mnd999 commented on #12566
Closing this one as we haven't heard back. Fee free to re-open if it's still an issue.

[2020-09-01 13:11] pontusmelke commented on #12571
Hi,
thanks for reporting the issue. We have fixed the issue and it will be in the next release, probably 4.0.9. As a temporary workaround you can use `CYPHER runtime=slotted...` prepended to your query.

I am closing this issue, should the problem persist (after the release of 4.0.9) or reappear please reopen this issue or open a new one.

Regards,
Pontus

[2020-09-01 13:11] #12571 closed, assigned to nobody

[2020-09-02 01:34] hyybuaa opened #12576 "Neo4j can only import 6.5w type relationships ？"
Neo4j can only import 6.5w type relationships ？

[2020-09-02 08:05] Powersource commented on #12554
If any arch user like me ends up here then you probably need to manually switch to a newer java version https://wiki.archlinux.org/index.php/Java#Switching_between_JVM

[2020-09-02 11:52] PetrJanouch commented on #12564
@SimplicityGuy [It was fixed by this commit](https://github.com/neo4j/neo4j/commit/2786487bc350dec6065ea661bb1a5c179b60b9c2)

[2020-09-02 12:25] PetrJanouch commented on #12569
Yes, there was an issue. Actually the problem was not only for grabSize == bytes but for grabSize  in interval [bytes, bytes + maxOffset). [It was fixed by this](https://github.com/neo4j/neo4j/commit/2786487bc350dec6065ea661bb1a5c179b60b9c2) . Too bad you did not make this good observation a couple of days before. I could have saved me a lot of investigation.

[2020-09-02 12:25] #12569 closed, assigned to nobody

[2020-09-02 13:01] fake0fan commented on #12569
Yes, I know there are many different situations to trigger this issue. I just use the special one to make you realize that is a bug.

Since I can't see the pull code you mentioned, I didn't know you have fixed it already.

Hope I can help next time!

[2020-09-02 13:35] PetrJanouch commented on #12569
I have fixed the link

[2020-09-03 06:43] kethan6028 opened #12577 "Out of Memory - Java heap Space"
Neo4j version - 3.5.14
[code]
[code]
I have 112899 nodes and 5513742 relationships.When I run some queries over this data then neo4j throws above exception(this is not very often..only in some occasions) and there are some folders getting created with pattern neostore.transaction.db.*

![image (4)](https://user-images.githubusercontent.com/47622869/92080234-d331cb80-edde-11ea-9aef-6e2afa4518d1.png

[2020-09-03 12:41] mnd999 commented on #12576
Thanks for opening the ticket. I'm not sure I fully understand the issue from your question. Can you provide more detail and / or an example of the issue you are facing and we will try to look into it.

[2020-09-03 15:55] srinathganesh1 opened #12578 "Not distributing resource load equally with each replica"
- Neo4j version: 3.5
- Operating system: GKE Cluster (Linux Based)
- API/Driver: Python Packages `neo4j==1.7.2, neobolt==1.7.9, neotime==1.7.4`
- Kubernetes Helm Release

- **Steps to reproduce**
1. Start a Causal Cluster
2. Trigger a big work load to the Cluster

Sample Code Snippet
[code]

Observation: Causal Cluster does not divide the CPU load equally.
[code]

- Expected behavior: Each instanc

[2020-09-03 16:17] SomervilleTom commented on #12366
At a minimum, the documentation should reflect whatever choice was ultimately made. In Enterprise v1.1.1, the documentation asserts that hyphen ("-") can be used in a name. As documented here, an attempt to do so fails. No mention of back-tick is made in the documentation.

[2020-09-03 19:13] ivangreene opened #12579 "UserAggregationFunctions can write to parameter nodes"
UserAggregationFunctions are able to write using the transaction held within a Node that is passed to the function as a parameter.

- Neo4j version: 4.1.1
- Operating system: macOS 10.15.6
- API/Driver: Java driver

- **Steps to reproduce**
Run test `WriteInFunctionTest#shouldNotWriteInAggregationFunction` at https://github.com/ivangreene/neo4j-procedure-template/commit/3ce53bcb2200fdc69a8206ad590

[2020-09-04 12:06] ondravaculik opened #12580 "Unsuccesful loading of Reactome database to Neo4j"
I'm trying to load Reactome database into my Neo4j Desktop.

I downloaded the latest version of the database from Reactome website (https://reactome.org/dev/graph-database#GetStarted), version of my Neo4j Desktop is 1.3.4 and for the created database I'm using Neo4j 4.1.1 (tried 4.1.0 as well).

Afterwards, I extracted the tar.gz file and used the terminal in Neo4j Desktop to restore the data in m

[2020-09-05 10:38] jiangnanboy commented on #1878
"LockClient[13640] can't wait on resource RWLock[NODE(281315),

[2020-09-07 07:38] jexp commented on #12575
Sorry for the confusion, "bundling" here means that APOC-core of an appropriate, fitting version will be bundled in the binary distribution in a separate "labs" directory. That's it.

No binary dependency or maven dependency in/from Neo4j.
Sorry if that was not communicated clearly.

[2020-09-07 07:46] jexp commented on #12575
You can add an apoc dependency manually to your maven setup and use those then within your tests.

We will document that in apoc for now please consult the links attached to this issue

https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1656

[2020-09-07 08:03] mnd999 commented on #12580
Sorry to hear you're having difficulties. Could you attach the full debug.log and neo4j.log so we can see more of what is going on. I notice that backup is in Neo4j 3.4 format so it will require to go through the upgrade to start on 4.1.x.

[2020-09-07 09:57] nylqd opened #12581 "Streams Sink execution hang"
I discovered that when I config neo4j-streams sink to consume `cdc schema` event from kafka, the sink execution is not working properly.

**Neo4j Version:** 4.0.4 enterprise
**Operating System:** RHEL 7.4
**API:** neo4j-streams 4.0.3 (self build)

### Steps to reproduce
0. the neo4j instance using plugin sink, just use `neo4j-admin restore` to restore data from other db.
1. config plugin as sink,

[2020-09-07 10:02] #12581 closed, assigned to nobody

[2020-09-07 10:02] nylqd commented on #12581
sorry, wrong place

[2020-09-07 10:44] pelletier197 commented on #12575
Thank you for your answer. For now, I added the Jar manually to the projet, which does really please me, since having binaries in a git repository tend to make the repository heavier for no reason.

Is there really no way to use apoc core as a maven/gradle dependency and load the procedures manually? That's what I used to do and it worked well.

[2020-09-07 19:28] inmost-light commented on #12565
Hey, we've fixed the issue, so it should be working in the next release. Thanks for the report!

[2020-09-07 19:28] #12565 closed, assigned to nobody

[2020-09-08 14:19] ondravaculik commented on #12580
Hi, thanks for your reply. Here are the log files.
[debug.log](https://github.com/neo4j/neo4j/files/5188750/debug.log)
[neo4j.log](https://github.com/neo4j/neo4j/files/5188751/neo4j.log)

I haven't notice that backup is in a different format, can I upgrade it manually somehow in the Neo4j Desktop?

[2020-09-08 14:25] PetrJanouch commented on #12570
Hello, thanks for reporting this. This issue seems to have the same cause as https://github.com/neo4j/neo4j/issues/12564 . It has been fixed and the fix will be available in 4.1.2. In the meantime you can try the workaround described at the linked issue.

[2020-09-09 07:30] mnd999 commented on #12580
The upgrade happens automatically when the database comes up, provided `dbms.allow_upgrade=true` is set. Looking at the attached log files, the migration appears to have just started where they cut off.

[2020-09-09 08:05] ondravaculik commented on #12580
Yes, the problem is that I'm not even able to start the database with the `dbms.allow_upgrade=true`, it's killed immediately.

Any idea what can I try to deal with it?

[2020-09-10 15:16] vleipnik opened #12582 "Composite index causes "Cursor cannot be cast to class org.neo4j.kernel.impl.newapi.EntityIndexSeekClient" exception on certain queries"
**Neo4j version**: 4.1.1
**Operating system**: macOS Catalina
**API/Driver**: JavaScript

### Steps to reproduce

Add an index on two properties, like this `CREATE INDEX ON :obj(x, y)`.

Run this query:
`
match (:obj {x: 'x',y: 'y'})<-[:z]-(:obj {y: 'y'})-[:z]->(k {y: 'y'}) with collect(k) as ks match (:obj {x: 'x',y: 'y'}) return *
`

### Expected behavior

No errors.

### Actual behavior

This e

[2020-09-11 03:36] fguille94 commented on #9148
@ekkis did you manage to solve this issue in all this time? or did you abandon it? I am also having issues related to memory as well and haven't gotten around it. Upped the max heap size to 6 GB but still nothing changes, it just fails faster

[2020-09-11 15:35] arikan commented on #11992
We get this error when the data is somehow corrupted. The remedy is:

1.  Get a manual backup/copy of your `graph.db` directory
2. Run `bin/neo4j-admin check-consistency`, you will see the corrupt data problems.
3. Clean the db using store-utils https://github.com/jexp/store-utils
4. Replace the cleaned graph.db with the old one.

If you have to do this for a production database, good luck. You ha

[2020-09-11 20:05] deemeetree commented on #11992
@arikan I've tried to solve this with Neo4J support for months already and it's fair to say that online backups in Neo4J are simply not working and are unreliable. No matter what you do there will always be errors popping up. Here's the thread: https://community.neo4j.com/t/cant-backup-remote-database-using-neo4j/18332/36

The way we manage to resolve it is to occasionally make a dump of the db ma

[2020-09-11 22:12] ekkis commented on #9148
I abandoned Docker altogether

[2020-09-11 22:40] gpierrick commented on #12402
Was this fixed? We're still experiencing this issue in Neo4j 4.0.7 @chrisvest

[2020-09-12 06:49] chrisvest commented on #12402
@gpierrick yes it's fixed. Look at the error you're seeing in detail to make sure it's the same. If it is, try the mitigations above. Otherwise open a new issue.

[2020-09-12 17:08] gpierrick commented on #12402
@chrisvest we're still getting it in a staging environment using 4.0.7

[code]

[2020-09-12 17:16] gpierrick commented on #12402
Does that fix it? https://neo4j.com/developer/kb/explanation-of-error-db-fails-to-start-with-caused-by-org-neo4j-token-api-nonuniqueyokenexception-the-propertykey-namedtoken/

We're about to try this

[2020-09-13 17:25] grzegorz-aniol commented on #12573
:+1:
I confirm that issue and I'm voting for solving this

Here is the exception:
[code]

And here is the query from the documentation:
[code]

[2020-09-14 05:44] kimcs opened #12583 "Query produce false negative result when nested filtering is combined with map-projection in return clause"
Some queries containing nested comprehension pattern and filter expressions in the WHERE clause fail to find data when combined with map projections in RETURN clause.

I discovered this while playing with the new advanced filtering mechanisms of the translator in the neo4j-graphql-java project.

Please also find failing and working execution plans in my comments below, note that the working execut

[2020-09-14 05:47] kimcs commented on #12583
### FAILING PLAN with map-projection
![failing_plan](https://user-images.githubusercontent.com/6402881/93048119-6c25d980-f65e-11ea-9de6-6ee0c7a05423.png)
[code]

[2020-09-14 05:48] kimcs commented on #12583
### WORKING PLAN without map-projection
![working_plan](https://user-images.githubusercontent.com/6402881/93048199-95df0080-f65e-11ea-91d7-c2bc4682f579.png)
[code]

[2020-09-14 07:20] mnd999 commented on #12583
Thanks for the detailed report. We'll look into it and get back to you.

[2020-09-14 12:35] pontusmelke commented on #12582
Hi @vleipnik, thanks for reporting this. This problem was solved in a recent commit and should be available in the next point release of neo4j. As a temporary workaround you can run the query with `CYPHER runtime=slotted` prepended to your query.

I'll close this issue, but feel free to reopen or open a new one should the problem come back.

Regards,
Pontus

[2020-09-14 14:36] vleipnik commented on #12582
Thanks for the reply and the workaround @pontusmelke!

[2020-09-14 15:40] mnd999 commented on #11532
This is an old update which hasn't received any updates in some time so I will close it. If you're still having the issue, please feel free to reopen it.

[2020-09-14 15:40] #11532 closed, assigned to nobody

[2020-09-14 15:51] mnd999 commented on #8183
Neo4j 4.1 provides granular security for both reads and writes at node and property level which meets this requirement. For information on how to set this up, see:
 * https://neo4j.com/docs/operations-manual/4.1/authentication-authorization/access-control/

If you feel this does not meet the requirement, feel free to reopen this issue.

[2020-09-14 15:51] #8183 closed, assigned to nobody

[2020-09-15 20:51] cybersam opened #12584 "Relationship isomorphism bug"
- Neo4j version: 4.1.1
- Operating system: MacOS 10.15.6
- API/Driver: Cypher

### Steps to reproduce

First, create sample data:

    CREATE (a:X {id:'a'}), (b:X {id:'b'})
    CREATE (a)-[:BAR {id: 'ab'}]->(b)
    CREATE (b)-[:BAR {id: 'ba'}]->(a)

Then run this non-directional query:

    MATCH (:X)-[r]-(:X)
    RETURN r

And compare the results with the results from this directional query:

[2020-09-17 08:43] mnd999 commented on #12584
Hi @cybersam, thanks for the report. We've looked at it and we believe the current behaviour is correct. The query is non-directional so it will traverse the relationship in both directions. The results are thus:

[code]

Relationship isomorphism  applies at result record level, that is to say if one result record contains multiple relationships, e.g. because your query returns a path or RETURN r1

[2020-09-17 08:45] mnd999 commented on #12576
We haven't heard anything back so I will close this for now. If it's still an issue, please feel free to reopen the ticket.

[2020-09-17 08:45] #12576 closed, assigned to nobody

[2020-09-17 14:05] swakhandekar opened #12585 "Neo4j Test Harness with Scala 2.13"
- Neo4j test-harness version: 4.1.1
- Operating system: MacOS Catalina
- API/Driver: Java API
- Java version: 11

### Steps to reproduce
1 Create a new Scala project using SBT
2. Run the test using test-harness

build.sbt
[code]

Test.scala:
[code]
### Expected behavior
Test should fail with showing actual bolt URL of the created instance

### Actual behavior
Test crashes with following error:
[co

[2020-09-21 06:54] gabrielmateitoma opened #12587 "First CSV column not accessible if using apoc.load.csv"
The generic problem: give a csv with columns a,b,c,..., when using apoc.load.csv , the yielded map does display it's content of
map:{
"a":"value a",
"b":"value b",
"c":"value c"
}
but when trying to access the value of "a"  directly (map['a']), it always returns null

The issue has been confirmed by multiple people: https://community.neo4j.com/t/cannot-access-map-item-from-apoc-load-csv/25576

Whe

[2020-09-21 12:14] burqen commented on #12537
@vorpus Hello! Thank you for reporting. To investigate this problem further I would need the `debug.log` and `neo4j.log` that covers the relevant time period or if that can't be provided, the full stack trace might give some clues.

[2020-09-21 16:00] vorpus commented on #12537
Unfortunately this issue was a blocker for me; as a result I had to switch to an alternate db and all of my neo4j vm's are destroyed.

[2020-09-22 06:37] burqen commented on #12537
I understand. Before closing this issue, do you have time to answer a few questions?
- Cluster or single instance?
- Community or enterprise edition?
- Do you remember what patch release you used?

Thanks again for you help!

[2020-09-22 09:00] mnd999 commented on #12587
Thanks for the report, as this issue is with an apoc procedure, it should be raised in https://github.com/neo4j-contrib/neo4j-apoc-procedures. Unfortunately, I cannot transfer it as apoc has a different owner.

[2020-09-22 09:40] gabrielmateitoma commented on #12587
Thanks for feedback, Mark
I've opened a duplicate there, https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1674

Regards,
Gabriel

[2020-09-22 09:40] #12587 closed, assigned to nobody

[2020-09-22 16:34] mnd999 commented on #12585
Thanks for the issue. The current versions of Neo4j use Scala 2.12. Once the product supports 2.13 the harness will be upgraded to support it as well.

[2020-09-23 11:07] #12579 closed, assigned to nobody

[2020-09-23 16:48] mnd999 commented on #12574
As we haven't had a response on this issue, I'll close for now. Feel free to reopen if it's still an issue.

[2020-09-23 16:48] #12574 closed, assigned to nobody

[2020-09-24 07:26] mnd999 commented on #12573
This issue should be resolved in Neo4j 4.1.2. The release notes are here https://github.com/neo4j/neo4j/wiki/Neo4j-4.1-changelog#cypher. If this does not resolve the issue or you are still having problems feel free to reopen.

[2020-09-24 07:26] #12573 closed, assigned to nobody

[2020-09-24 07:27] #12582 closed, assigned to nobody

[2020-09-24 11:04] philastrophist opened #12589 "Matching anything beneath `apoc` calls triggers a Neo.DatabaseError.Statement.ExecutionFailed"
- Neo4j version: Desktop1.3.4, driver4.1.0 Enterprise
- Operating system: Windows 10 19041
- API/Driver: Cypher in Neo4jDesktop 1.3.4

## Expected behavior
Execution of query will produce either "no records" or a table of records.
### This query executes fine:
[code]
### Moving *any* MATCH under the `apoc` call will result in an ExecutionFailure
[code]

## Actual behavior
Exception is raised: Neo.

[2020-09-24 15:51] mnd999 commented on #12589
Thanks for the report. Please try prefixing your query with `CYPHER RUNTIME=slotted` and see if you get a better result.

[2020-09-24 18:50] davisford commented on #12560
I also want this big time, and I'll explain why.  First of all, we don't use helm, so I'll need to do this hack workaround by extending their container and doing my own init shell script.

I just traced down a horrible performance issue in our CI/test environment.  We were getting dismal perf on AWS `gp2` and so I dialed up logging quite a bit.  But the logging was configured to write to the same

[2020-09-24 22:51] daniel10012 commented on #10420
I have the same problem it keeps restarting, found any solution ?

[2020-09-25 06:35] klaren commented on #10420
@daniel10012 The problem in this issue can ultimately be fixed by restarting the computer/server. If it still fails to start, there is a different problem. If that is the case I recommend open a new issue.

[2020-09-25 13:30] pontusmelke commented on #12589
@philastrophist thanks for reporting this. This issue should have been fixed, could you please try with 4.1.3?

Regards,
Pontus

[2020-09-25 17:28] pelletier197 commented on #12575
Since I haven't had any help on this, I found a way to add the `apoc-core` dependencies as a JAR downloaded from the release repository of APOC.

Using this in my `build.gradle` (thanks to [this](https://stackoverflow.com/questions/23446233/compile-jar-from-url-in-gradle))
[code]
and added this dependency

[code]

Finally, I used this to register my apoc functions manually
[code]

[2020-09-27 07:25] Mintactus opened #12590 "Nothing match anymore, only the indexed things"
Neo4j Browser version: 4.1.2 Remote Session on Neo4j Desktop
Neo4j Server version: 3.5.21 (enterprise) Neo4j Desktop
Client OS : Linux mint 20
Server OS: Linux mint 20

API: I'm using neo4j Desktop Remote connection on the client

When I execute the most simple Cypher request like:

MATCH (p:Proprietaire:Quebec {postalCode:'G1W 0C1'})
RETURN p

RESULT : (no changes, no records)

EXPECTED RESULT: S

[2020-09-28 06:58] #12584 closed, assigned to mnd999

[2020-09-28 08:44] michael-simons commented on #12575
Hey @pelletier197 The scanning mechanism that automatically loads all the procedures does not work in an embedded scenario (which is basically what running the test harness is).

Here's one way to solve this:

[code]

From https://github.com/michael-simons/neo4j-sdn-ogm-tips/blob/master/examples/testing-ogm-against-embedded-with-apoc/src/test/java/org/neo4j/tips/testing/testing_ogm_against_embedde

[2020-09-28 09:26] PetrJanouch commented on #12564
4.1.2 was released last week. Please re-test with that version. I am closing this now, but feel free to reopen this issue if the issue is still present with 4.1.2.

[2020-09-28 09:26] #12564 closed, assigned to nobody

[2020-09-28 09:30] PetrJanouch commented on #12570
4.1.2 was released last week. Please re-test with that version. I am closing this now, but feel free to reopen this if the issue is still present with 4.1.2.

[2020-09-28 09:30] #12570 closed, assigned to nobody

[2020-09-28 09:35] PetrJanouch commented on #12580
The crash you experienced on start up was caused by a bug fixed in 4.1.2. Could you re-test with that version?

[2020-09-28 09:54] mikemoore24 opened #12591 "Cloning DB in Desktop App breaks original"
- Neo4j Desktop version: 1.3.8 (1.3.8.34)
- Operating system: MacOS Mojave 10.14.6
- API/Driver: Desktop Menu options (Cypher)
- Steps to replicate

1. Create a new database and populate with some data within the desktop application
2. Ensuring the database is stopped, open the context menu for that database and click 'Clone'
3. A new cloned database 'DBMS' should be created (this database works c

[2020-09-28 09:56] mmopitz opened #12592 "cypher toString(null) + regex throws exception in neo4j 4.0.8 and 4.1.2"
-  I tested with Neo4j versions: 4.0.0 & 4.0.8 and  4.1.0 & 4.1.2
- Operating system: ubuntu 18.04
- Neo4j Desktop 1.3.8

I'm currently migrating from neo4j 3.5 to neo4j 4.0 .

I found that the behavior of toString(null) + a regular expression throws an exception in neo4j 4.0 and 4.1 . In neo4j 3.5 it worked just fine. I don't know if that's intended.

### Steps to reproduce

Note: I used neo4j de

[2020-09-28 12:33] stone-ts15 opened #12593 "Fail to start neo4j service due to java.util.ServiceConfigurationError"
I failed to start neo4j service on my Ubuntu server.

Here is the error message in `neo4j.log` .

[code]

Some environment information:

**Neo4j Version:** 3.3.3
**Operating System:** Ubuntu 16.04.3 LTS
**Java:** Java 8

There are few discussions about `ServiceConfigurationError` in running neo4j server.

[2020-09-28 12:58] mnd999 commented on #12592
Thanks for the report, we'll look into it and let you know if we have a fix.

[2020-09-28 14:30] mnd999 commented on #12593
Thanks for the report. Unfortunately Neo4j 3.3.3 is no longer supported. Are you able to try one of the supported versions? See https://neo4j.com/developer/kb/neo4j-supported-versions/

[2020-09-28 14:45] klaren commented on #12567
Closing due to inactivity. Feel free to reopen if you need more directions.

[2020-09-28 14:45] #12567 closed, assigned to nobody

[2020-09-28 14:51] stone-ts15 commented on #12593
@mnd999 Thanks for the reply! I am sorry for reporting a wrong version of Neo4j. I just noticed the actual version above is 3.5.14, but `neo4j 3.3.3` was shown after I typed `neo4j version` .
Now I install Neo4j 3.5.22 instead, but the bug remains. Perhaps this bug is related to Java.

[2020-09-29 10:56] mnd999 commented on #12583
We have found the issue and should have a fix for it soon, most likely in the next patch releases.

[2020-09-29 11:17] mnd999 commented on #12593
If `neo4j version` is returning 3.3.3 but the package is 3.5.14 it may be that you have two versions (or the remnants of an old version) installed that are conflicting. I would suggest checking for any remaining configuration and jars from 3.3.3 and removing them.

Our Java requirements for 3.5.x are documented here: https://neo4j.com/docs/operations-manual/3.5/installation/requirements/#_software

[2020-09-29 19:49] Codelica opened #12594 "Invalid(?) mixed content warnings when browser is proxied (via NGINX)"
- Neo4j version: **4.1.2**
- Operating system: **Ubuntu 16.04.7 LTS under Docker**
- API/Driver: **Browser JS driver**

### Steps to reproduce

I'm looking to provide a secure proxy (via NGINX) to the Neo4j browser.  Neo4j is running configured as follows:

**http service** disabled.
**https service** exposed as 127.0.0.1:7473 using a looooong expiration self-signed cert.
**bolt service** exposed

[2020-10-01 06:58] burqen commented on #12537
Closing this issue because of no response.

[2020-10-01 06:58] #12537 closed, assigned to nobody

[2020-10-01 09:31] ondravaculik commented on #12580
Everything seems working with the latest version. Thanks!

[2020-10-01 09:31] #12580 closed, assigned to nobody

[2020-10-01 09:44] mnd999 commented on #12590
Thanks for the report, we would need a bit more information to look into this. Can you provide a plan for the working and non-working query (prepend `PROFILE` or `EXPLAIN`) to your working and non-working queries. Also, it's useful to look at the counts and indexes on the graph to see what is there. Can you provide the out put of `call db.stats.retrieve("GRAPH COUNTS")`?

[2020-10-01 11:45] dupeljan opened #12595 "Can't load dump due to open database which is actually closed"
I'm trying to load dump file using neo4j-admin load, but it's response is "database is in use -- stop Neo4"  despite the fact that neo4j have been stopped.

- Neo4j version: community 3.5.14
- Ubuntu 18.04.5 LTS

### Steps to reproduce
`sudo neo4j stop`
Stopping Neo4j.. stopped
`neo4j-admin load --from pole.dump --database pole.db --force true`

### Expected behavior
dump is loaded to poly.db

###

[2020-10-01 16:15] ewaldmire opened #12596 "install4j_linux_6_1_4.deb URL in README instructions is a dead link"
Trying to follow the instructions in the README.asciidoc I found that the install4j_linux_6_1_4.deb URL is a dead link.

### Steps to reproduce
curl -O https://download-keycdn.ej-technologies.com/install4j/install4j_linux_6_1_4.deb

### Expected behavior
install4j_linux_6_1_4.deb should be downloaded.

### Actual behavior
Could not resolve host: download-keycdn.ej-technologies.com; No address asso

[2020-10-01 17:56] Mintactus commented on #12590
Here is some more information about my issue, I have a weird feeling that it might be link to the pagecache.

![explain](https://user-images.githubusercontent.com/30415501/94844976-dc10bf80-03d3-11eb-8661-c265c4d58a17.png)
![profile](https://user-images.githubusercontent.com/30415501/94844984-df0bb000-03d3-11eb-97ef-269245a0eb9c.png)
[GraphCounts.csv.zip](https://github.com/neo4j/neo4j/files/53139

[2020-10-02 20:58] cybersam opened #12597 "PROFILE/EXPLAIN displays a direction for undirected relationship MERGE"
When PROFILE/EXPLAIN is asked to show the execution plan for the `MERGE` of an **undirected** relationship, the execution plan actually shows a **directed** relationship.

**Neo4j Version:** 4.1.2
**Operating System:** MacOS 10.15.6
**API:** Cypher

### Steps to reproduce
1. Execute this Cypher query (where the `BAR` relationship is undirected, and `EXPLAIN` can be replaced by `PROFILE`):

[code]

[2020-10-04 21:47] tklebanoff opened #12598 "poor write performance Neo4j 4.1.0"
Hello everybody, I am having some performance problems writing data to the neo4j database.

LOAD CSV queries take far longer than I expect (sometimes a few minutes for a batch of 1000, with less than 10,000 existing nodes in the database at the point of the batch write).

With a blank database, the first batch query of about 1000 entries takes over 12 seconds.
As I periodically add batches (each o

[2020-10-05 07:47] mnd999 commented on #12598
Thanks for the report. Do you have any indexes on the properties you're merging on - `row.src_pageid` and `row.dst_pageid`? If not, it's likely scanning the whole database which would explain poor performance.
It would be good to see the query plan, please prepend `EXPLAIN` to your query and share the results.

[2020-10-05 08:21] loveleif commented on #12592
Thanks again for reporting this @mmopitz! The fix has been merged to 4.2, 4.1 and 4.0 branches. It will be part of upcoming releases of these versions.

[2020-10-05 09:34] pontusmelke commented on #12590
Hi @Mintactus
Are you sure there are nodes that both have the labels `Proprietaire` and `Quebec`,  the pattern `(p:Proprietaire:Quebec {postalCode:'G1W 0C1'})` means that it matches node having both the labels `Proprietaire` and `Quebec` as well as having the provided postal code. From the execution profile it looks like there are no nodes that have both the labels.

Regards,
Pontus

[2020-10-05 09:58] SaschaPeukert commented on #12502
Thank you for reporting. We've published some documentation about our limitations around RBAC and FTS: https://neo4j.com/docs/cypher-manual/4.1/administration/security/limitations/#administration-security-limitations-indexes

[2020-10-05 09:58] #12502 closed, assigned to mnd999

[2020-10-05 10:01] SaschaPeukert commented on #12533
Thank you for reporting this. We have published some information about RBAC limitations in our documentation.  This should explain the unfortunate issue: https://neo4j.com/docs/cypher-manual/4.1/administration/security/limitations/#administration-security-limitations-db-operations

[2020-10-05 10:01] #12533 closed, assigned to mnd999

[2020-10-05 13:52] sherfert commented on #12597
Hi @cybersam and thanks for this report.

The semantic of `MERGE (a)-[:BAR]-(b)`, i.e. a `MERGE` clause with an undirected relationship are as follows:
* Try to find either `(a)-[:BAR]->(b)` or `(a)<-[:BAR]-(b)`. If found, return those.
* Else, create a new relationship, in any direction.

Remember that neo4j does not support undirected relationships, so it has to pick one of two possible directio

[2020-10-05 13:52] #12597 closed, assigned to nobody

[2020-10-05 16:59] tklebanoff commented on #12598
Ah, thank you for such a prompt reply.  I appreciate it! This immediately sounds like it could be the issue.
I'm going to make a quick sandwich, go for a run, and then come back and begin investigating.

I will post the results of the EXPLAIN query, along with some more detailed info as soon as I can.  thank you!!

[2020-10-05 17:34] tklebanoff commented on #12598
![plan](https://user-images.githubusercontent.com/48869587/95112805-6bd5a700-070f-11eb-9fbd-e1be7b489984.png)

Here is the exact query.  The batch has 1091 elements:

EXPLAIN
    LOAD CSV WITH HEADERS FROM "/tmp/csv/459/batch_n1091_53c74673-7440-44e3-a1b0-d81513b3d9d8" AS row
    MERGE (src:Page { pageid: row.src_pageid } )
    MERGE (dst:Page { pageid: row.dst_pageid } )
    SET
    src.length =

[2020-10-05 20:31] MichaelCDormann opened #12599 "Likely namespacing bug with unions, collect, and list comprehension being used together Neo4j 4.1.1"
I discovered that using unions, collect, and list comprehension together a certain way causes this error: `There was a cycle in names: Set(    val@0@0,   AGGREGATION297). This is likely a namespacing bug.`

**Neo4j Version:** 4.1.1
**Operating System:** Red Hat Enterprise Linux:7.8:GA:server

### Steps to reproduce
Run this query in the Neo4j browser for a 4.1.1 cluster.
[code]

### Expected behav

[2020-10-05 20:40] johannessen commented on #12336
The Trello stuff is private, and there don’t seem to be public changes to the documentation in question.

Could we please get an update about the current status of this issue?

[2020-10-05 22:46] Mintactus commented on #12590
Here is the request:

MATCH (p:Proprietaire:Quebec) RETURN p LIMIT 1

You can see the result of this request in the records.json file.

Here is another request to match the same node:

PROFILE
MATCH (p:Proprietaire:Quebec) WHERE p.codePostal = "G1R 5L5"
RETURN p LIMIT 10

You can see the result of this request in the plan.png file.

Am I crazy, is it me, my request or something is wrong.

Thanks

[2020-10-05 23:01] Mintactus commented on #12590
Attached files for the last message above.

![plan](https://user-images.githubusercontent.com/30415501/95140483-d85aa100-0723-11eb-8079-5eacef510f0a.png)
[records.json.zip](https://github.com/neo4j/neo4j/files/5330534/records.json.zip)

[2020-10-06 07:04] #12592 closed, assigned to nobody

[2020-10-06 07:27] mnd999 commented on #12599
Thanks for the report, we'll take a look into it.

[2020-10-06 07:59] mmopitz commented on #12592
Thanks a lot :-)

[2020-10-06 07:59] pontusmelke commented on #12590
Yeah that is weird. I am not able to reproduce that behavior though. Could you try prepending `CYPHER runtime=interpreted` to your query. Maybe also run the other query with profile, so run `PROFILE MATCH (p:Proprietaire:Quebec) RETURN p LIMIT 1. and paste the plan here?

[2020-10-06 12:12] Meatballs1 commented on #12030
Having to do a upgrade to 4.1 is a big leap due to the cypher driver support. Is there a workaround for 3.5? Mine is just doing a CSV import and its terminating even after a few seconds.

[2020-10-06 12:19] pontusmelke commented on #12590
Ah we found it now. In your records.json the space is not a normal space but a non-breaking space, so what you have stored in the node is actually something like `G1R[NBSP]5L5` but in your query you are looking for `G1R 5L5`.

Something probably went wrong when the node was created or at least when the property was set.

Regards
Pontus

[2020-10-06 13:00] davidoliverSP2 commented on #12336
Apologies. This was closed in error - I thought the actions on this were completed, but they are not.

[2020-10-06 14:08] kethan6028 opened #12600 "Node Count as Negative Number... Neo4j version:3.5.14"
<img width="504" alt="Screenshot 2020-10-01 at 5 12 03 PM" src="https://user-images.githubusercontent.com/47622869/95211964-d1f32480-080a-11eb-94b3-c270486caace.png">
When I try to fetch the number of nodes in my neo4j instance,its giving me a negative number.
Neo4j version:3.5.14
OS : Neo4j is running as a pod on openshift 4.3
Expected Result : 894
Actual Result: -901

[2020-10-06 20:15] MichaelCDormann opened #12601 "Optional match with allShortestPaths and list comprehension results in 'Expected NO_VALUE to be a path' Neo4j 4.1.1"
I discovered that when using an OPTIONAL MATCH with allShortestPaths and then doing some processing on the paths with list comprehension when the OPTIONAL MATCH does not produce a path it works up until about the 10th time the query is ran. After about the 10th time the query is ran the result is a `Neo.ClientError.Statement.TypeError: Expected NO_VALUE to be a path.` error from then on. If you mo

[2020-10-06 21:01] InverseFalcon commented on #12599
Note that you can avoid this by doing the collect() aggregation outside of the pattern comprehension.

[code]

In general, it's not a good idea to perform an aggregation within a pattern comprehension like this, as it can make it confusing or unclear what the grouping key is for the aggregation.

The bug should and will be fixed, but still the conditions to trigger it violate best practice.

[2020-10-06 22:13] tklebanoff commented on #12598
Hi everybody! Adding an index helped a bit at the beginning (when creating the database from scratch).
Unfortunately, now each batch commit of 4000 elements takes about 550 seconds.

Currently, there are 133981 nodes in the database.

Does anybody have an idea of what else can be done to improve batch write performance?

 If we could even get each batch write down to the 10 second mark, it would b

[2020-10-07 12:20] mnd999 commented on #12598
I think you want the index on `pageid` not `src_pageid` and `dst_pageid`.

From you plan, it isn't using the index as I see `NodeByLabelScan` which is a scan of all nodes with a particular label. When I create an index on pageid, I get a different plan with a `NodeIndexSeek`, which is what you want.
For more explanation of the plan components, check our documentation here - https://neo4j.com/docs/

[2020-10-07 13:26] mnd999 commented on #12591
Thanks for the report, this appear to be an issue with neo4j-desktop.  Can you re-raise it in that repository - https://github.com/neo4j-devtools/neo4j-desktop

Unfortunately it can't be transferred as it's a different repository

[2020-10-07 13:26] #12591 closed, assigned to nobody

[2020-10-07 20:22] Mintactus commented on #12590
Thank you for your support.

Indeed there was a non-breaking space in the postal code and some other
fields causing this weird behavior.
My data was coming from a HTML table grab from python read_csv function
from pandas module.
Case closed but I would like to add a detail who might improve the neo4j
browser app.

When I created the MATCH close, I took the value from the one shown on the
browser o

[2020-10-08 08:29] pontusmelke commented on #12590
no problem, I'll close this issue. Thanks for reaching out.
Regards,
Pontus

[2020-10-08 08:29] #12590 closed, assigned to mnd999

[2020-10-08 11:50] fbiville opened #12602 "NullPointerException with Procedure Compiler 4.1.3"
## Guidelines

### Stack

- Neo4j version: 4.1.3
- JDK: AdoptOpen JDK 11.0.8
- Operating system: Mac OS 10.15
- Component: Procedure Compiler

### Steps to reproduce

#### Actual behavior

When changing the type from `List<String>` to `String[]` [here](https://github.com/fbiville/neo4j-join-user-function/blob/a6ef9c589bb443aaaf3eb72c9d77cdffe6aaea05/src/main/java/example/Join.java#L11), the proced

[2020-10-09 08:10] mnd999 commented on #12600
Thanks for the report, this doesn't look correct. Are you able to provide us with some stats about your data using the `CALL db.stats.retrieve("GRAPH COUNTS")`?

[2020-10-09 13:01] mnd999 commented on #12602
Thanks for the report, we'll investigate and get back to you.

[2020-10-12 07:23] mnd999 commented on #12589
We haven't heard anything back on this issue for a while and we believe it to be fixed, so will close for now. Please feel free to reopen if it's still an issue.

[2020-10-12 07:23] #12589 closed, assigned to mnd999

[2020-10-12 07:38] tklebanoff commented on #12598
bingo!! thank you so much!! that was it!!

now, the database is cranking!! blazing fast!! the batch queries are now completing in milliseconds!! it is faster than anything I could have hoped for in my dreams! 👍
I suppose sometimes all it takes is a second pair of eyes.

I truly appreciate the time you have taken to help me find that bug.   I hope this message trail is helpful for anybody else in t

[2020-10-12 07:38] #12598 closed, assigned to mnd999

[2020-10-12 08:23] thobe opened #12603 "Textual formatting of duration values"
https://github.com/opencypher/openCypher/issues/453

- **Neo4j version:** 4.1.1
- **API/Driver:** Neo4j Browser

### Steps to reproduce

[code]

vs

[code]

### Expected behavior

Duration value should be formatted in a way fit for human consumption.

### Actual behavior

Duration value is formatted based on internal representation.

[2020-10-12 09:46] kethan6028 commented on #12600
@mnd999 thanks for responding..
[graph_count.txt](https://github.com/neo4j/neo4j/files/5364295/graph_count.txt)
I have attached a file with some stats on my data..since data changes in the db changes every hour..I couldn't give the exact information..
[https://stackoverflow.com/questions/64170948/neo4j-gives-node-count-as-negative](url)
Not just the node count but also node labels are not working

[2020-10-12 14:02] ikwattro commented on #12532
Thanks @mnd999 for the documentation, just leaving a note that for one customer, this limitation makes the `Neo4j browser` take an average of 2-3 minutes to load and for another customer Bloom is having same issues when both are not used with the default neo4j user.

[2020-10-12 14:23] mijosch opened #12604 "Forced to use wss:// when behind proxy from https to http"
- Neo4j version: 4.1.1
- Operating system: docker
- API/Driver: web interface

Using unsecured (http) neo4j via reverse proxy as a secured endpoint (https)

(client) - [https]- (reverse_proxy) - [http] - (neo4j)

- Expected behavior
the normal bolt -> ws:// interface is used

- Actual behavior
you are forced to use the bolt+s -> wss:// secure interface

I am trying to build an environment where yo

[2020-10-12 14:30] joelduerksen commented on #12558
Is it possible to get a little information on how/why this issue arose?  and/or the fix?
I'm seeing this error message randomly on neo4j 4.1.1, the same query will throw the error at times, and not others.
my db is a research non-production db with no other query traffic/load, and is static content

I know this may not help but it feels like there is a resource collector that gets behind.  I wait

[2020-10-12 14:39] NarasimharaoTeegala opened #12605 "Want Neo4j Trusted connector to access datasets in powerbi because autoreresh and schedule refresh are not working for non trusted neo4j third party connector"
While doing an auto-refresh or schedule refresh in power bi it is throwing an error because of non trusted neo4j connector so I want a trusted neo4j connector that supports power bi auto-refresh and schedule refresh can you please provide a neo4j trusted connector.

![Screenshot (55)](https://user-images.githubusercontent.com/46988973/95759009-cc905100-0cc6-11eb-9a0a-35ecee5f8710.png)
![Screenshot

[2020-10-13 07:54] tinwelint commented on #12600
Hello, I come to think of a bug which was recently fixed and that could result in counts less than expected, even negative when deleting self-relationships or deleting relationships for nodes that has self-relationships. But this query above shouldn't be affected by this since it's only looking at the number of nodes, not relationships.

May I take a guess and say that your counts store has become

[2020-10-13 09:22] tinwelint commented on #12600
Would you be able to run a consistency check on your store? You should be able to use something like `neo4j-admin check-consistency` for that check.

[2020-10-13 10:29] kethan6028 commented on #12600
@tinwelint thanks for responding.
Today we cleared everything(deleted the whole volume) then did a fresh installation then it started working..like u said counts.db.* must have corrupted.
But any idea on the scenarios when they get corrupted.
Thanks

[2020-10-13 12:45] tinwelint commented on #12600
The counts store should not become corrupted under any type of workload or scenario, so that's a bit odd. However the counts store has had a number of issues in its life time and was therefore rewritten in 4.0 and is now considered much more stable and safe.

So you don't have the corrupted database or counts store left somewhere for potential post-mortem forensics? That is if you would even be OK

[2020-10-14 08:03] alonho opened #12606 "neo4jadmin import is stuck"
Running neo4j-admin gets stuck deterministically. We can see using strace there's no system call running doing IO. All threads are stuck on Mutexes.
I suspect a potential dead lock or a thread dying.

**Neo4j Version:**  4.1.2 (also reproduced on previous two versions)

### Steps to reproduce

neo4j-admin import \
    --database=$DBNAME \
    --delimiter="|" \
    --nodes=REDACTED=${NODE_DIR}/REDA

[2020-10-15 06:54] tinwelint commented on #12600
If not then there cannot be much more done than to close this issue, wdyt?

[2020-10-15 10:30] mnd999 commented on #12593
We haven't had any updates to this issue for some time, so I will close it for now. If it's still a problem, please feel free to re-open.

[2020-10-15 10:30] #12593 closed, assigned to mnd999

[2020-10-15 15:02] RobinCaljouw93 opened #12607 "aggregation in subquery does not aggregate"
I have discovered that when I call an aggregation function in a subquery the result is not aggregated.

**Neo4j Desktop:** 1.3.8
**Neo4j Version:** 4.1.3
**Operating System:** Windows 10

### Steps to reproduce
1. Create a fresh database with 3 nodes 0,1,2 where node 0 has a relation to node 1 and node 1 has a relation to node 2
2. Execute a query with a subquery. As an example I find the nodes co

[2020-10-15 17:10] Bikeman868 opened #12608 "db.schema.visualization produces incorrect results"
- Neo4j version: 4.1.3
- Operating system: MacOS Catalina 10.15.7
- API/Driver: Neo4j Browser

The command db.schema.visualization contains loops suggesting that nodes have relationships with other nodes of the same type, but this it not the case in this graph.

I include a screenshot below in which you can see the output of db.schema.visualization and also a Cypher query showing that there are no

[2020-10-16 12:36] hedengran commented on #12602
We've investigated the issue and concluded that it arises due to an incorrect use of dependencies. The NPE thrown happens at compile time, while procedure compilation through ProcedureCompiler should be done at runtime. Removing the dependency below will resolve the issue.

[code]

[2020-10-17 14:01] ben749l opened #12609 "Failed to invoke function `apoc.cypher.runFirstColumn`: Caused by: java.lang.IllegalArgumentException: There is no such fulltext schema index:"
Hello, I'm trying to use full text search functionality in GRANDstack but I have an error.

 Important details:

- Neo4j version: Desktop, 4.1.0
- APOC version: 4.1.0.1
- Operating system: Windows 10

In Neo4j Desktop, in my db I did this: `CALL db.index.fulltext.createNodeIndex("articleIndex", ["ARTICLE"],["title"])`

Next, still in Desktop I tried a request and it works: `CALL db.index.fulltext.

[2020-10-18 11:18] madianas commented on #12139
@phoerious how do I add  `cluster.local` as an additional cluster domain?

[2020-10-19 06:32] sherfert commented on #12608
Duplicate of https://github.com/neo4j/neo4j/issues/9726

[2020-10-19 06:32] #12608 closed, assigned to nobody

[2020-10-19 06:40] sherfert commented on #12577
@kethan6028 Have you tried increasing the available heap space as described here: https://neo4j.com/developer/guide-performance-tuning/

If you did, and it still fails, there is not so much you can do about that in 3.5.
Starting in 4.0 and 4.1 there are more fine grained controls of how much memory may be consumed by the database and better error handling. Have a look here: https://neo4j.com/devel

[2020-10-19 07:29] phoerious commented on #12139
@madianas Edit the coredns config map in your kube-system namespace:

[code]

There you can add additional search domains:

[code]

Restart the CoreDNS deployment afterwards.

[2020-10-19 09:10] mnd999 commented on #12601
This has been resolved and will available in the next bugfix releases.

[2020-10-19 09:10] #12601 closed, assigned to nobody

[2020-10-19 11:53] eastlondoner commented on #12139
Yes, unfortunately you've got to use that workaround at the moment. However this is fixed in the upcoming release of Neo4j (4.2).

When Neo4j 4.2 arrives (which should be under one month from now) it will be possible to set `causal_clustering.kubernetes.cluster_domain=<your custom domain>` in your neo4j configuration.

n.b. If you are using the neo4j helm chart there will be a corresponding neo4j-

[2020-10-19 13:09] rom-burner opened #12610 "neo4j-admin import - Multiple csv files with Regex"
- Neo4j version: 4.1.3
- OS: Linux 4.14
- Command (simplified): neo4j-admin import --nodes=Mynodes=import/mynodesfile_h.csv,import/mynodesfile_\\\d{1,5}.csv
- Expected behavior:
Imports Mynodes from all files beginning 'import/mynodesfile_' and ending between 1 and 5 decimal digits followed by '.csv'

- Actual behavior:
Pattern matches only on files with two digits, 1to9 as first digit and 1or5 as

[2020-10-19 13:15] InverseFalcon commented on #12607
This isn't a bug, rather it's a result of the subquery executing upon the given scope.

(first let's clarify something...your setup needs to be more specific in that node 1 must have outgoing relationships to node 0 and node 2 in order for the matches in your queries to work)

Your subquery call is executing per `n, m` combination. Let's look at this step by step, using the query from your option

[2020-10-19 13:31] madianas commented on #12139
@phoerious This is the first of many things, that I've tried to do. Here is my CoreDNS config.

[code]
I am doing fresh install of current helm chart version 4.1.2-1,(kubelet version v.1.17.5) with the following settings:
[code]
Here is what I get from all three nodes and it continues indefinitely:
[code]

Ping and resolving `my.domain` works:
[code]

Resolving `cluster.local` domain does not work

[2020-10-19 13:44] phoerious commented on #12139
I think you are trying it the wrong way round. You can have your custom domain for everything else, but you MUST use cluster.local for Neo4j. The workaround is only for making Neo4j compatible with your cluster if you are ALREADY using a custom domain. It does not make Neo4j use the custom domain. It only enables Neo4j to resolve cluster.local if your DNS setup otherwise wouldn't (because you are

[2020-10-19 14:26] madianas commented on #12139
Yes, I am using my own custom domain in the cluster.
As you can see, I did not set clusterDomain in helm, it stays `cluster.local` by default.

By workaround, you mean adding `cluster.local` to coredns config, right?
What am I doing wrong?

[2020-10-19 14:29] phoerious commented on #12139
If you are using the standard Helm chart without any patches or custom domain settings, adding `cluster.local` to your DNS config should be enough to be able to start the causal cluster.

I had to recreate all five core pods after changing the DNS settings, though. Afterwards, they all passed their ready checks once all five were up:

[code]

Look for this log line in your core-0 output:

[code]

[2020-10-19 14:35] rom-burner commented on #12606
I too suffer neo4j-admin import getting stuck on v4.1.3, although it doesn't make it as far as @alonho .

My csv and neo4j files are on separate XFS volumes and the dataset is larger than the one described above but it gets stuck at prepare node index, the equivalent line 376 of the console log above, ie some way into the SORT stage.  It doesn't make it to DEDUP.

At that stage it's got plenty of

[2020-10-19 15:17] RobinCaljouw93 commented on #12607
Thank you very much for the information. I did not find this behavior of sub-query's described but maybe that is my fault, otherwise it might be good idea to add to the documentation.

I wanted to use sub-query's so I could do a relatively computationally heavy match only once in a single cypher statement. Now I know that if I want to do computations on entire result streams in a subquery I can bu

[2020-10-19 15:17] #12607 closed, assigned to nobody

[2020-10-20 04:59] madianas commented on #12139
Yes, I am already getting this log:

Here is what I get from all three nodes and it continues indefinitely:
[code]

It seems that this workaround does not work for me. Is there another way or should I create a separate issue for this?

[2020-10-20 05:56] phoerious commented on #12139
That's another issue. You wouldn't get the resolved line if they pods couldn't talk with each other.

[2020-10-20 09:49] mnd999 commented on #12605
Thanks for the report. Unfortunately, as it relates to the PowerBI connector it should be raised in the repository for that project (https://github.com/cskardon/Neo4jDataConnectorForPowerBi). As it has a different owner, I'm not able to transfer it so please re-raise it there.

[2020-10-20 09:49] #12605 closed, assigned to nobody

[2020-10-20 13:37] tinwelint commented on #12606
@alonho not that I'm sure it causes this issue, but reading the console.txt I see that number of processors is 1. Why is that the case? Could you try to set it to something higher using `--processors=8` or similar?

[2020-10-20 13:42] tinwelint commented on #12606
@rom-burner from that thread dump it looks like it's still running the sorting. Could be some weird case where it gets into some endless loop in the quick sort algo. Would you expect there to be lots of duplicates in your dataset?

[2020-10-20 14:04] alonho commented on #12606
@tinwelint we're going to retry with 8 processors. Anything in the stack trace tells where in the process the import is stuck?
I understand import is used for performance reasons as it's 8 times faster than Cypher. Do you think it's still the case with recent versions?
Are there any flags we can pass to provide more information to make it easier to debug? there are hardly any logs...

[2020-10-20 14:05] rom-burner commented on #12606
Yes there are duplicates, probably <1% of the nodes, across 2,000 1MB csv files with strings as node:IDs.  I know it's large but is that likely to be a problem for the quicksort implementation?

[2020-10-20 14:31] tinwelint commented on #12606
@alonho it looks somewhat strange and, as you say as if some thread is missing or something like that. It's in a fairly simple stage where it updates the nodes after it has defragmented the relationship group store. I'll try locally too with processors=1 and see if I can spot anything odd.

[2020-10-20 14:46] tinwelint commented on #12606
And no the performance ratio between Cypher loading and importer shouldn't have changed much in recent versions to my knowledge

[2020-10-20 21:39] tinwelint commented on #12610
I think this looks like a bug in the regex matching of the import command, I'll look into it. Thanks for reporting.

[2020-10-21 07:13] #12602 closed, assigned to mnd999

[2020-10-21 08:04] alonho commented on #12606
@tinwelint how can we turn on more debug logs to chase down the issue? we're willing to invest efforts as it easily reproduces, just not sure what to do next ):

[2020-10-21 08:07] mmopitz opened #12611 "Neo4j Desktop 1.3.8 : Graph-App: InjectedAPI path variable points to wrong location"
Hi there,
I don't know if this is the correct tracker for neo4j desktop tickets. But I'll just post it here :-)

For newly created databases a graph's path variable points to a wrong (outdated?) directory.

I read said path variable through the injectedAPI: https://neo4j.com/developer/graph-apps/building-a-graph-app/#_injected_api
When I say path variable I mean following variable: `neo4jDesktopAp

[2020-10-21 09:06] #12600 closed, assigned to nobody

[2020-10-21 09:21] tinwelint commented on #12606
Oh crap, I now see that one of the threads gets an exception and tries to cry panic to the import as a whole, but there's a problem on that execution path where it gets stuck doing so and therefore no exception gets printed and everything just locks up. I'll devise a fix so that the exception can propagate properly, which is step one of your problem... and we'll just see what comes out and how to

[2020-10-21 10:49] alonho commented on #12606
Thanks a lot! we'll be testing it as soon as you have the fix.

[2020-10-21 12:09] tinwelint commented on #12606
Alright so I have a fix for this now. Would you be OK with a patched jar file to test on until this is released in the next set of versions? If so, which version would you prefer, 4.1.2?

[2020-10-21 13:55] OskarDamkjaer commented on #12396
Thanks @jboler

[2020-10-21 13:55] #12396 closed, assigned to nobody

[2020-10-21 14:31] alonho commented on #12606
I'm fine with a patched jar on 4.1.2.

[2020-10-21 15:08] tinwelint commented on #12606
OK, I've built a jar of the component that has the changes. So replace the `neo4j-record-storage-engine-4.1.2.jar` with this one that I link to below and try the import again. You should now get the real thrown exception, hopefully :)

https://www.dropbox.com/s/xbvumkd7a7fj97s/neo4j-record-storage-engine-4.1.2-deadlock-fix.jar?dl=0

[2020-10-22 10:13] emmaholmbergohlsson commented on #12609
Hi @ludoben974
Does the request in Desktop still work after you get the error in GraphQL Playground? Or does that also get `There is no such fulltext schema index: articleIndex`?

My guess would be that the setup of your GRANDstack application includes a call to `apoc.schema.assert` with dropExisting true.
If dropExisting is true only the indexes/constraints provided in that call will exist afterw

[2020-10-22 12:37] stefanak-michal commented on #9726
Neo4j/4.1.3 still contains this problem

[2020-10-22 23:16] es50678 commented on #4334
I need to be able to do something just like what is described in the feature request:
[code]

Going to use the workaround @cellcoresystems points out for now.

[2020-10-23 08:46] mnd999 commented on #12611
Thanks for raising this. Unfortunately, this is not the correct repository for neo4j-desktop issues. Please re-raise the issue here - https://github.com/neo4j-devtools/neo4j-desktop/issues. I can't transfer it sadly as it's a different organisation.

[2020-10-23 08:46] #12611 closed, assigned to nobody

[2020-10-25 08:59] alonho commented on #12606
Thanks @tinwelint we now get a decent report of a corruption. We're debugging the storage layer at this point to find the root cause. The change you made should definitely go to the next version.

[2020-10-25 17:54] tinwelint commented on #12606
Great. Oh and when you say corruption you obviously spark my further interest. What is the error that you see? Or feel free to open another GH issue once you've gathered more information and you've boiled down the problem. Either one is fine by me.

[2020-10-26 09:04] burqen commented on #12537
This might be the same issue as: https://github.com/neo4j/neo4j/issues/12609

[2020-10-26 10:02] johannessen opened #12613 "Path meta data doesn’t include node labels or rel type (HTTP API)"
When Cypher statements returning paths are executed over the [Transactional HTTP API](https://neo4j.com/docs/http-api/4.1/actions/), the JSON results do not include the labels of the nodes in the path, nor do they include the types of the relationships in the path.

This issue just came up in a conversation with @fbiville. In https://github.com/neo4j/neo4j/issues/12306#issuecomment-536500387, @tec

[2020-10-26 11:19] technige commented on #12361
Just for the record, the Bolt protocol has _never_ actually been officially documented. The https://boltprotocol.org website was only ever a "fan site", built using internal draft documentation from the initial release (Neo4j 3.0). That information may or may not be accurate, and has never been controlled by Neo4j.

However, we can now give you access to official documentation for the messaging pr

[2020-10-26 11:57] johannessen commented on #12361
Thanks a lot for [7687.org](https://7687.org)! With that, I believe this issue is now resolved.

[2020-10-26 11:57] #12361 closed, assigned to nobody

[2020-10-27 13:48] a-pagano commented on #12575
We've hit the same issue with version `4.1.3` of the test harness (and version `4.1.0.2` of the apoc library). Specifying a dependency on the `org.neo4j.procedure:apoc` lib did not work. After trying multiple approaches, including the jar from the release page of the apoc repo as a direct dependency is the only thing that worked, so thanks a lot!

In case it could be helpful for someone, here is h

[2020-10-28 19:58] rbf22 opened #12614 "Loading data and upgrading"
I would like to load a graph database from a previous version. There are no instructions that I could find anywhere. Here is what has been tried. I am using the community edition.

1) Install neo4j
        brew search neo4j
        brew install neo4j

2) Dowload the database:
        https://reactome.org/download/current/reactome.graphdb.tgz
        untar the file into directory to: /usr/local/var

[2020-10-28 20:43] rbf22 commented on #12614
from the debug log:

WARN [o.n.k.d.Database] [graph.db] Exception occurred while starting the database. Trying to stop already started components. The database is not cleanly shutdown. The database needs recovery, in order to recover the database, please run the old version of the database on this store.

This is different from what was previously observed here:

https://github.com/neo4j/neo4j/iss

[2020-10-28 21:31] rbf22 commented on #12614
SOLVED: https://community.neo4j.com/t/migrate-data-from-3-5-1-community-to-4-0-0-community/14502

[2020-10-28 21:31] #12614 closed, assigned to nobody

[2020-10-29 09:33] alexlitvinenko opened #12615 "[neo4j 4.0.7] Failed to do consistency check on the backup"
- Neo4j version: 4.0.7
- Operating system: Docker neo4j:4.0.7-enterprise
- APOC: 4.0.0.17

- **Steps to reproduce**
I'm trying to do hot backup with the following command: `neo4j-admin backup`
It works but after several backups I'm getting:  `Failed to do consistency check on the backup`
[code]

Then I ran the following command: `neo4j-admin check-consistency --verbose --backup /data/graph.db`
[co

[2020-10-29 12:15] tinwelint commented on #12595
That error seems to come from observing that the store_lock file is locked by some other process. Can you check lsof to see which process has that file locked? Otherwise could this perhaps be a permission issue where the store_lock file has the wrong permissions? E.g. I see that you execute `neo4j start/stop` with `sudo`, but not the `neo4j-admin load` command.

[2020-10-29 14:42] alete89 commented on #7225
+1

[2020-10-30 00:27] sepehrafla opened #12616 "Community users can only store one model in the catalog"
We have a startup license but when trying to train we got this error:

Failed to invoke procedure `gds.beta.graphSage.train`: Caused by: java.lang.IllegalArgumentException: Community users can only store one model in the catalog

[2020-10-30 08:54] tinwelint commented on #12615
Hi, this is an issue that has been fixed in the upcoming 4.2 version. I will backport this to 4.0 and 4.1 so that it will end up in e.g. 4.0.9

[2020-10-30 08:57] alexlitvinenko commented on #12615
Cool! I'm  looking forward when it appears in 4.0.x.

[2020-10-30 10:43] tinwelint commented on #12610
@rom-burner The problem is that the comma

[code]

will be interpreted as a delimiter to another file just like the other comma e.g.

[code]

and split the last file which is a regex pattern in two and therefore not find the right files. I'm not sure how this should be solved best, but perhaps with something like:

[code]

i.e. the additional inner quotation with `'` to tell the import command par

[2020-10-30 10:45] tinwelint commented on #12610
As a workaround tho you could probably use a pattern like:

[code]

couldn't you?

[2020-10-30 12:42] rom-burner commented on #12610
ahh yes thanks mattias, if it's just a problem with mis-parsing the regex comma as a command comma i'm sure your regex match will fix it - just couldn't figure out how to squeeze a working regex in before i ended up just scripting the command - thanks for tracking it down!

[2020-10-30 12:42] #12610 closed, assigned to nobody

[2020-10-30 12:57] tinwelint commented on #12610
Cheers 🥇 :)

[2020-11-02 10:41] rom-burner opened #12617 "neo4j-admin import fails - CursorException: Expected record to be the first unit in the chain"
After I accidentally threadjacked issue #12606 I preprocessed my data to sort and dedup (took 10mins of single threaded runtime and 80G memory, not sure why neo4j-admin import got stuck on that for over a day), but now the import process fails later on with a CursorException, but I'm having a hard time finding from where in the source the thrown error message is coming.

- Neo4j version: 4.1.3 ent

[2020-11-02 12:29] riediger opened #12618 "Cypher ignores WHERE part"
I suspect a bug in the Cypher planner/optimizer. A whole part of the query mentioned below isn't included in the plan, resulting in an empty result.

I've tried to execute this query on a database that I can't provide here due to intellectual property issues. However, the bug is also reproducible on an empty database, an anonymized graph is provided as cypher export.

**Neo4j Version:** Neo4j Serv

[2020-11-02 22:01] rom-burner commented on #12617
Well if it wasn't a cosmic bitflip, either throwing a 24xlarge at the import seems to have solved the problem (<10hrs for ref) or changing the record format from high_limit to standard now I know the number of properties isn't pushing the limits.  Peak memory usage on successful import reported as 80GB so not sure where the problem lies.  Issue can be closed unless there's any other insight.

[2020-11-03 10:52] technige commented on #12613
@johannessen A new additional result format will be available in Neo4j 4.2. This should include more complete information, so will hopefully address your issue.

[2020-11-04 14:20] chasemc commented on #7641
This feature would be useful and, if possible, a flag for each import statement would be great. Currently pulling files from multiple locations, some have headers, some don't

[2020-11-04 15:41] bwinchester commented on #12528
This came down to understanding load csv statement taking a while for Neo4J to process the csv, but the cypher call returning a status that it received the cypher request and it appears to be valid. Like a fire and forget.

[2020-11-04 21:12] mnd999 commented on #12618
Thanks for the report. We’ll look into it and come back when we have a solution.

[2020-11-05 13:57] mnd999 commented on #12583
Fixed by https://github.com/neo4j/neo4j/commit/d0fba8ad98e64e7fa6e536ceebcf6b41609f4b4f
This fix will be present in the next bugfix releases.

[2020-11-05 13:57] #12583 closed, assigned to nobody

[2020-11-05 13:59] mnd999 commented on #12599
Fixed by https://github.com/neo4j/neo4j/commit/ee8e0601c5e0e0004700c1e03310e6fc17ac5370
This fix will be included in the next 4.1.x bugfix release

[2020-11-05 13:59] #12599 closed, assigned to nobody

[2020-11-05 14:10] mnd999 commented on #12560
Thanks for the feature request. I've passed this on to our product team who are looking into it.

[2020-11-05 17:14] grillorafael opened #12619 "Use index when there are multiple label options"
## Feature request template

**Is your feature request related to a problem? Please describe.**
I often have relationships that can happen at different node labels but I don't always know beforehand which node label it is.

When I run this:
[code]
neo4j does not use the id indexes that exist for GeneratingUnit or Continent but instead does a scan by label.

If I run a union all query it does behav

[2020-11-10 18:25] mnd999 commented on #12619
Thanks for the feature request, it certainly looks like something that could be useful. I've passed it to our product team who will look into it.

[2020-11-10 22:52] tinwelint commented on #12617
Hi, I know the cause of this and it will be fixed asap. It's mostly a check in a specific case that got stricter w/o the import code adapting to that properly. It's not a serious thing, although obviously serious enough to fail your import. I'll notify you when a fix is ready.

[2020-11-11 08:51] alonho commented on #12606
@tinwelint we see the following error:

`Import error: Node[2240785,used=false,created=false,rel=-1,prop=-1,labels=Inline(0x0:[]),light] not in use
Caused by:Node[2240785,used=false,created=false,rel=-1,prop=-1,labels=Inline(0x0:[]),light] not in use
org.neo4j.kernel.impl.store.InvalidRecordException: Node[2240785,used=false,created=false,rel=-1,prop=-1,labels=Inline(0x0:[]),light] not in use`

ca

[2020-11-11 11:16] tinwelint commented on #12606
Thanks, but please provide the entire stack trace.

[2020-11-11 12:26] alonho commented on #12606
`Write, started 2020-10-22 06:35:46.761+0000
[*>:26.80MiB/s------------------------------------------------------------------------|v:30.46]1.27M ∆1.27M
Done in 1s 101ms
Node --> Group, started 2020-10-22 06:35:47.921+0000
[>----------|*FIRST--------------------------------------------------------------|v:??--------] 376K ∆ 376K
Done in 424ms
IMPORT FAILED in 13m 53s 532ms.
Imported:
  97505320 no

[2020-11-12 03:13] shifeiluo opened #12620 "not founded neo4j 4.1.4 tag."
Since Neo4j 4.1.4 has released,  neo4j 4.1.4 tag not founded.

[2020-11-13 08:51] NielsonJ commented on #7814
I had like to use a constrain related to uuid's across several labels.

[2020-11-14 12:09] philastrophist commented on #11965
I'm having the same problem.

I've changed my conf file directories and the NEO4J_HOME and NEO4_CONF in order to have write permissions in the data directories but then `neo4j version` fails with the above error.

If I remove my environment variables, `neo4j version` runs correctly but then I can't write to anything so it fails later due to permissions.

Catch 22 situation.
Neo4j appears to lose w

[2020-11-14 20:17] alonho commented on #12606
@tinwelint  - is the above sufficient?

[2020-11-15 13:32] dllz commented on #12335
Awesome thank you.

[2020-11-15 13:40] dllz opened #12621 "java.io.exception: Read Failed crashing server"
Hey everyone. I got a really weird issue for you. My neo4j server keeps crashing with a:
2020-11-15 11:52:03.144+0000 ERROR [o.n.b.v.r.ErrorReporter] Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: java.io.IOException: Read failed after 0 of 8159 bytes from fileOffset 1955997865, reference b04c77f3-1b1e-4856-8503-da49c99a1f31.
2020-11-15 11:52:03.144+0000 ERROR [o.n.

[2020-11-16 08:48] jennyowen commented on #12620
It usually takes around 24 hours after we do a release before the image is available in docker. This is because it has to be manually submitted to the docker team through a github PR, then go through a test and approval process on their side.

Neo4j 4.1.4 is available on dockerhub now: https://hub.docker.com/_/neo4j?tab=description

Thank you for taking the time to report the issue though!

[2020-11-16 08:48] #12620 closed, assigned to nobody

[2020-11-16 09:06] jievince opened #12622 "Where are Predicate Functions defined in source code? Such as Any(), All(), Single() and Exists()?"

[2020-11-16 10:01] tinwelint commented on #12606
Thanks for the stack trace @alonho I'll ponder over this.

[2020-11-17 10:23] he7g opened #12623 "KernelTransactions did't unblockNewTransactions when EmbeddedDatabase shutdown"
My App load data by switch two DB, shutdown old DB, and start new DB.   I found the problem is that there is a lock own the thread and did't unlock, after shutdown old DB, and the new DB create new lock to own the thread.  Detail lock is as follows:

![image](https://user-images.githubusercontent.com/22008307/99377681-75068600-2901-11eb-8b14-d201b6ecdcd0.png)

![image](https://user-images.githubus

[2020-11-17 16:59] cn0047 opened #12624 "Missing apoc.export.csv.all."
## Guidelines

There is function [apoc.export.csv.all](https://neo4j.com/labs/apoc/4.1/overview/apoc.export/apoc.export.csv.all/) but no function [apoc.import.csv.all](https://neo4j.com/labs/apoc/4.1/overview/apoc.import/apoc.import.csv/),
and it's not clear how to import CSV file generated by func `apoc.export.csv.all`.

**Neo4j Version:** 4.1.1
**API:** Docker

[2020-11-17 17:57] philastrophist commented on #2973
Doesn't look like it. This issue is why I can't use neo4j at the moment

[2020-11-18 21:22] ghost opened #12626 "cypher order by DESC not effective with two USING INDEX"
- Neo4j version: 4.2.0
- Operating system: (Ubuntu 18.04)
- API/Driver: (Cypher)
- Expected behavior: ORDER BY DESC on both indices
- Actual behavior: ORDER BY DESC applied to first only, ORDER BY ASC to the 2nd one

[code]

![image](https://user-images.githubusercontent.com/5498561/99589588-31238780-29ba-11eb-8a71-1d70aa5ff6a1.png)

[2020-11-19 10:25] Lojjs commented on #12618
@riediger This was indeed a bug in the Cypher planner, which we have been able to reproduce on Neo4j 4.1. It is already fixed in Neo4j 4.2, which was released this week, so one option for you is to upgrade to 4.2. Meanwhile, we are looking into backporting the bug fix to 4.1 and including it in an upcoming maintenance release.

Best regards Louise, Neo4j Cypher team

[2020-11-19 10:31] riediger commented on #12618
Great, thank you 👍
Best wishes: Volker

[2020-11-19 11:09] he7g opened #12627 "rss is going up all the time"
neo4j version: 3.5.20

My app load data by switch DB, start new DB, and shutdown old DB.  But, I found the Resident Set Size (rss) is going up all the time, but jvm heap is normal, off-heap is also normal.  I don't know why...

BatchInserter is used to import data, and use embedded DB to load it.

This problem is still existing, after #12623 problem has been solved by the workaround way (Lifecycle

[2020-11-19 21:05] zhangx20 opened #12628 "Creating relationship with distinct match"
I am trying to create relationships between nodes that are distinct. Right now, I can only return distinct. Is there any way for me to match distinct or create distinct? For example:

match (p:Player), (n:Games) where p.id = n.id
create (p)-[:has_played]->[n]

There are player nodes with the same id and the query above is matching all the games to the duplicated player ids. Is there some way I can

[2020-11-20 08:32] johannessen opened #12629 "Typo in Jolt docs in strict mode media type"
<https://neo4j.com/docs/http-api/4.2/actions/result-format/#_strict_and_sparse> says:

According to [RFC7231](https://tools.ietf.org/html/rfc7231#section-5.3.2), a semicolon (`;`) is used to separate parameters from media types. The Jolt docs quoted above are using a colon (`:`). The Neo4j server does seem to follow the RFC here, so this is only a documentation typo as far as I can tell. But it ma

[2020-11-20 08:41] PetrJanouch commented on #12606
@alonho Hello, I think I know the cause. If I am right it is in a feature that can be disabled, so it is easy to verify. Could you re-run your test with executing `export JAVA_OPTS=-Dorg.neo4j.io.pagecache.impl.SingleFilePageSwapper.PREALLOCATE_MAPPED_FILES=false` before invoking the neo4j-admin?

[2020-11-20 08:46] johannessen commented on #12613
Jolt looks good to me. Nice job, thanks!

[2020-11-20 08:46] #12613 closed, assigned to nobody

[2020-11-20 08:47] johannessen commented on #12306
JFTR, Jolt doesn’t address this issue (although it may well make it irrelevant).

I’m leaving it open for you, but I myself will be using Jolt going forward and will no longer be needing a fix for this issue.

[2020-11-21 00:47] bradenmacdonald opened #12630 "Performance: Simple queries showing more "db hits" in Neo4j 4.2"
I am trying out Neo4j 4.2 and some performance tests in my project started failing because some very simple queries are now less performant in 4.2 compared to 4.1 - or at least, the `PROFILE` output says they require far more `db hits`.

- Neo4j version: 4.2.0
- Operating system: official docker image
- API/Driver: built-in web interface (Neo4j Browser)

## Steps to reproduce:

Starting with a bla

[2020-11-22 13:28] xue185 commented on #12057
I don't  have"C：\ Program Files（x86）\ Java \ jre1.8.0_231 \ bin \ client" this filies,So can I do what to solve the problem?

[2020-11-23 03:10] he7g commented on #12627
Use gperftools, the mem result are as follow files, `12.pdf` is twelfth dump file, `13.pdf` is thirteenth dump file, `12-13.pdf` is compare dump file between 12 and 13.  I think that memory is leaked.

[12.pdf](https://github.com/neo4j/neo4j/files/5580956/12.pdf)
[12-13.pdf](https://github.com/neo4j/neo4j/files/5580957/12-13.pdf)
[13.pdf](https://github.com/neo4j/neo4j/files/5580958/13.pdf)

[2020-11-23 03:14] he7g commented on #12627
@mnd999 Please take a look at this issue, and confirm whether it's a bug. Thanks!

[2020-11-23 07:47] sherfert commented on #12622
@jievince Thanks for your interest in our source code.
The functionality is a bit spread out, but I would recommend looking at [InList](https://github.com/neo4j/neo4j/blob/4.2/community/cypher/interpreted-runtime/src/main/scala/org/neo4j/cypher/internal/runtime/interpreted/commands/InList.scala) and exploring from there.

[2020-11-23 07:47] #12622 closed, assigned to nobody

[2020-11-23 07:51] sherfert commented on #12628
Hi @zhangx20
I am not 100 % sure I understand. I interpret your question as "Is there a way to remove the duplicates of players with same IDS _and then_ continue with `create`?"

If that interpretation is correct, try:

[code]

Does that help?

[2020-11-23 07:58] sherfert commented on #12630
Hi @bradenmacdonald and thanks for the question.

In the PROFILE output you can see that the difference in DB hits is in the `ProduceResults` operator.
In this case, that is actually not a performance regression, but more accurate counting. We always had those DB hits in `ProduceResults`, but only now in 4.2 started counting them. So the queries should do the same amount of work as in 4.1.

To giv

[2020-11-23 07:58] #12630 closed, assigned to nobody

[2020-11-23 08:44] mnd999 commented on #12626
Thanks for the report, we'll take a look at it and get back to you.

[2020-11-23 08:47] mnd999 commented on #12577
As we haven't heard anything back on this issue for a while I will close it for now. Feel free to reopen if it's still an issue.

[2020-11-23 08:47] #12577 closed, assigned to sherfert

[2020-11-23 08:47] tanvp112 opened #12631 "Missing log4j-core on the classpath when runnning neo4j 4.2.0"
To reproduce, execute:

docker run -it --rm --name="eval-neo4j" \
  --network=host \
  -v /import:/import \
  -v /export:/export \
  -v /data \
  -v /logs \
  -v /plugins:/plugins \
  -e NEO4J_dbms_security_procedures_unrestricted=apoc.\\\*,gds.\\\* \
  -e NEO4J_apoc_import_file_enabled=true \
  -e NEO4J_apoc_import_file_use__neo4j__config=false \
  -e NEO4J_apoc_export_file_enabled=true \
  -e NE

[2020-11-23 09:02] tanvp112 opened #12632 "Reporting in Halin and apoc.log.stream failed with neo4j 4.2.0"
To reproduce, execute:

docker run -it --rm --name="eval-neo4j" \
  --network=host \
  -v /import:/import \
  -v /export:/export \
  -v /data \
  -v /logs \
  -v /plugins:/plugins \
  -e NEO4J_dbms_security_procedures_unrestricted=apoc.\\\*,gds.\\\* \
  -e NEO4J_apoc_import_file_enabled=true \
  -e NEO4J_apoc_import_file_use__neo4j__config=false \
  -e NEO4J_apoc_export_file_enabled=true \
  -e NE

[2020-11-23 13:00] alonho commented on #12606
I can confirm this fixes the issue!! Thanks @PetrJanouch and @tinwelint.
@PetrJanouch  are you able to shed some light on why this breaks on NFS (version 3) otherwise?
Could it be neo4j uses fallocate to zero out a large region of a file and ignores silently if the FS doesn't support it or something like that?
Also worth adding it to the Neo4J docs.

[2020-11-23 16:24] mnd999 commented on #12632
Thanks for reporting this issue! This repo relates to the Neo4j database - the correct repository for Halin is https://github.com/moxious/halin

I had a chat with my colleagues who work on Halin though and work is still ongoing to make Halin compatible with Neo4j 4.2. If you wish can re-raise the issue in the Halin repo, but be reassured that the work to fix the issues on 4.2 is in progress and th

[2020-11-23 16:24] #12632 closed, assigned to nobody

[2020-11-23 16:47] bradenmacdonald commented on #12630
Thanks for the explanation, @sherfert! Glad to hear that.

[2020-11-24 01:27] tanvp112 commented on #12632
While the issue seems like Halin, you can get the same error by executing CQL; example execute apoc.log.stream('debug.log', {last:5}) via Neo4j browser.

I also noticed 4.2.0 seems not able to interpret the environment variables correctly. While not obvious with docker, but when runs with Kubernetes, there are error messages stating "Unrecognized setting." and these messages can be traced back to

[2020-11-24 07:41] tinwelint commented on #12595
@dupeljan any further progress or input on this?

[2020-11-24 09:10] sherfert commented on #12626
@ymzz277 Could you please post the complete PROFILE output? Preferably from using `cypher-shell` and not the browser, but from the browser would be OK, too.

[2020-11-24 09:53] emmaholmbergohlsson commented on #12631
Hi @tanvp112, thank you for reporting your problem.
This is a known issue and something that has been fixed for 4.2.1. This does not affect how Neo4j performs or writes to the logs in any way.
Please reopen the ticket if that patch doesn't solve your issue.

[2020-11-24 09:53] #12631 closed, assigned to nobody

[2020-11-24 09:57] burqen commented on #12609
Closing this issue since fix has been provided and further questions has been raised.

[2020-11-24 09:57] #12609 closed, assigned to nobody

[2020-11-25 07:54] cn0047 opened #12633 "Database not found after neo4j-admin import"
When import data with `neo4j-admin import --database mydb ...` database `mydb` is not present in databases list.

**Neo4j Version:** 4.1.1
**Operating System:** macOS Catalina
**API:** Docker

### Steps to reproduce
1. Ensure that data dir is empty:  `rm -rf .data/.docker/neo4j_41`

2. Run docker (don't start neo4j):
[code]

3. Import:
[code]
Output:
[code]

4. Run docker (and start neo4j):
[code]

[2020-11-25 10:03] he7g commented on #12627
The `dbms.memory.pagecache.size` has been set, but it does not like `MaxDirectMemorySize`, neo4j use `Unsafe` to `allocateMemory`, not `DirectByteBuffer`, So `MaxDirectMemorySize` won't trigger FGC when direct memory is overflow.  And it seems that `dbms.memory.pagecache.size` has not limiting function within `GrabAllocator`, so the off-heap is going up all the time...

Am i right? @tinwelint @Pet

[2020-11-25 10:34] he7g commented on #12627
And, i found other probable bug:
`UnsafeUtil.allocateMemory(long bytes, MemoryAllocationTracker allocationTracker)` will call `allocateMemory( bytes )` that calls `GlobalMemoryTracker.INSTANCE.allocated( bytes )`,  and `UnsafeUtil.allocateMemory(long bytes, MemoryAllocationTracker allocationTracker)`  also will call `allocationTracker.allocated( bytes );` ， so,  allocated will be tracker twice...

[2020-11-26 09:02] PetrJanouch commented on #12606
@alonho It is a good guess with fallocate. We use posix_fallocate(3) to extend files. This is the important extract from its man page:
"In the glibc implementation, posix_fallocate() is implemented using
       the fallocate(2) system call, which is MT-safe.  If the underlying
       filesystem does not support fallocate(2), then the operation is
       emulated with the following caveats:

[2020-11-26 19:46] EllieLockhart opened #12634 "Neo4j-admin backup from remote server, restore from file: cannot restart new imported Neo4j database from cypher-shell"
- Neo4j version: 4.2.0 (both systems; backing up from Neo4j Enterprise on Windows Server 2016 with remote backup enabled, to Ubuntu 20.04 running Neo4j Enterprise)
- Operating system: Ubuntu 20.04 (restoring/taking backup); Windows Server 2016 (source of backup); have also attempted with similar results on OS X 10.15.7 Catalina running Neo4j Desktop
- API/Driver: neo4j-admin command line, cypher-s

[2020-11-26 19:46] #12634 closed, assigned to nobody

[2020-11-26 19:47] EllieLockhart commented on #12634
This was incomplete - I apologize - I am going to repost with everything.

[2020-11-26 19:55] EllieLockhart opened #12635 "Neo4j-admin backup/restore does not permit restart of neo4j database after operations, locking user at restore point out of use of the software/cypher-shell"
- Neo4j version: 4.2.0 (both systems; backing up from Neo4j Enterprise on Windows Server 2016 with remote backup enabled, to Ubuntu 20.04 running Neo4j Enterprise)
- Operating system: Ubuntu 20.04 (restoring/taking backup); Windows Server 2016 (source of backup); have also attempted with similar results on OS X 10.15.7 Catalina running Neo4j Desktop
- API/Driver: neo4j-admin command line, cypher-s

[2020-11-27 08:45] tinwelint commented on #12627
Hi @hebelala I'll look into this, thanks for reporting!

[2020-11-29 11:31] davidoliverSP2 commented on #12629
Thank you @johannessen - good spot!

We've fixed this, and it'll be resolved in the next publishing build.

[2020-11-29 11:31] #12629 closed, assigned to davidoliverSP2

[2020-11-30 07:25] Roxling commented on #12633
@cn007b
Hello
I don't think there is a bug here, more a known limitation of the neo4j-admin commands (they can't automatically do administrative commands) in combination with some missing documentation.

Documentation taken from other neo4j-admin commands

If this works for you, please do let me know!

[2020-11-30 08:35] Roxling commented on #12621
@dllz Hello
We have investigated this issue and it looks like we're somehow reading outside of the file regardless of the checks we have for that. The most probable cause for this is some sort of corruption and given that we have not seen this error before, it is a pretty rare case. Is there any chance you have more information to share with us? If possible it would be great if you would share the

[2020-11-30 08:47] cn0047 commented on #12633
@Roxling Yes, it works, thank you!
But from user experience point of view:
if user specify database to load data into - user expects this database with loaded data,
so it would be nice if neo4j performs all steps... IMHO...

[2020-11-30 09:01] Roxling commented on #12633
I agree, but there are technical limitations preventing this as an "easy fix". I hope we can fix this in a future version, but for now we will just ensure that the documentation is up-to-date!

[2020-11-30 09:01] #12633 closed, assigned to nobody

[2020-11-30 11:00] eastlondoner commented on #12635
The most likely thing here is that you are calling the neo4j database before it has actually started up

`START DATABASE` is an asynchronous (non blocking) operation.
The `START DATABASE` command completing successfully just indicates that the database management system has received the instruction to start the database but it does not indicate that it has started.

There are two options available

[2020-11-30 12:23] he7g commented on #12627
How is it going on?

[2020-12-01 00:42] bradenmacdonald opened #12636 "Bug with path variables and subquery"
I found some strange behavior with Cypher queries that reference a path variable before and after a subquery, which looks like a bug. [I also posted about it on the forum](https://community.neo4j.com/t/strange-behavior-of-path-variables-with-call-subquery/29810).

- Neo4j version: 4.2.0
- Operating system: official docker image
- API/Driver: built-in web interface

**Steps to reproduce**:

Run thi

[2020-12-01 04:31] ghost commented on #12357
@Hunterness @izoratti Congratulations on the 4.2 release, looks like some great features were introduced. Did this feature make it into the release?

[2020-12-01 08:38] mnd999 commented on #12636
Thanks for reporting this one, will take a look at it and let you know what we find.

[2020-12-01 09:59] Roxling commented on #12623
@hebelala
Which version are you experiencing this issue in? (Also if it is Community or Enterprise edition)
I've been trying to reproduce this issue without success. Would you mind sharing the embedded code you use to stop/start the database after import?

The entire database lifecycle is recreated when the database is restarted so the `KernelTransactions` objects are never reused. Can you share a

[2020-12-01 11:25] he7g commented on #12623
Version: Community 3.5.20

[code]

After print three times `sleep...`, jstack dump as follows:

[code]

[jstack_after_3_sleep.txt](https://github.com/neo4j/neo4j/files/5622179/jstack_after_3_sleep.txt)

More loops, more locks...

[2020-12-01 16:44] Roxling commented on #12623
@hebelala
Hello
I've investigated this further and this is what I have found.
Not releasing locks before loosing the last reference is bad practice, but is not a problem in itself. The OpenJDK implementation is traversing the heap to find living locks, so when the finalizer is run (likely on the next GC) they should disappear. (As can be seen [here](https://github.com/AdoptOpenJDK/openjdk-jdk11/bl

[2020-12-01 20:52] cn0047 commented on #12633
Thanks @Roxling, would be nice to have it in future versions.

[2020-12-02 03:27] he7g commented on #12623
My app process RSS is growing up all the time ( link #12627),  I found this problem within troubleshooting.  I solved this by workaround way (LifecycleListener, Reflection to release lock), but RSS problem is still existing.   So this unlock problem is not the cause.
But my app is hard to full GC, ygc is enough because the business, so the lock references maybe exists with long time... As you said

[2020-12-02 03:32] he7g commented on #12627
I found, after `System.gc()`, the RSS goes down.   Neo4j embedded DB wont release memory when shutdown?    And all the unreleased memory wont trigger FGC?

[2020-12-02 10:39] alexlitvinenko commented on #12615
I've upgraded my neo4j to 4.0.9.
Full consistency check still fails but with new error:
[code]

[2020-12-02 11:42] tinwelint commented on #12615
Yet another problem with iterating over all Lucene index documents in the consistency checker... I think this iterator approach should be rewritten. Let me get to the bottom of this.

[2020-12-02 12:36] tinwelint commented on #12615
Is it a large database and can you share it?

[2020-12-02 13:34] alexlitvinenko commented on #12615
The db backup is ~1GB. Unfortunately I cannot share it.

BTW, Does this problem exist in v4.2.x?

[2020-12-03 09:53] tinwelint commented on #12615
Yes, almost certainly. As a workaround you can turn off consistency check during backup just to get past this issue until it's fixed.

[2020-12-04 01:54] ghost opened #12637 "Out of memory issue after 2G incremental memory usage despite plenty free memory available"
- Neo4j version: 4.2.1
- Operating system: Ubuntu 20.04
- API/Driver: (customized stored procedure)

After incurring about 2G of incremental memory usage (about 4000+ runs of my customized stored procedure), the db will experience out-of-memory error despite plenty memory available. Restarting the db results in cleaning up of indices.

root@479b6f0ffe68:/var/lib/neo4j# head -100 hs_err_pid6.log

[2020-12-04 02:05] ymzz277 commented on #12637
printouts from jcmd VM.native_memory summary.diff

Native Memory Tracking:
Total: reserved=62529298KB +17471680KB, committed=36638706KB +950536KB
-                 Java Heap (reserved=32514048KB, committed=32505856KB)
                            (mmap: reserved=32514048KB, committed=32505856KB)

-                     Class (reserved=1312826KB +7068KB, committed=310330KB +6684KB)

[2020-12-04 09:39] #12618 closed, assigned to mnd999

[2020-12-04 13:45] ghost commented on #12637
 Here are the things I have tried, none seemed to work:

1. Possible solutions suggested in the err file: 
a   Reduce memory load on the system.              — business requirements for performance
b   Increase physical memory or swap space      — added 50g swap space
c   Check if swap backing store is full                  — they are not used
d   Decrease Java heap size (-Xmx/-Xms)          — red

[2020-12-04 13:49] ghost commented on #12637
From jcmd xxxx VM.native_memory summary.diff

Native Memory Tracking:
Total: reserved=62529298KB +17471680KB, committed=36638706KB +950536KB
-                 Java Heap (reserved=32514048KB, committed=32505856KB)
                            (mmap: reserved=32514048KB, committed=32505856KB)

-                     Class (reserved=1312826KB +7068KB, committed=310330KB +6684KB)

[2020-12-04 20:04] lingvisa commented on #12388
I encountered this issue multiple times without manually copying anything. Sometimes I just restarted my computer and then tried to start neo4j and it got this mismatch id error message. I deleted all from data/databases and it seems working.

[2020-12-05 07:35] ogronome commented on #12388
You should delete data/transactions/*, not data/databases/* in such situations.

[2020-12-05 12:29] omerule opened #12638 "RasberryPi4 8GB command $neo4j-admin memrec gives available memory of OB (zero bytes)"
- Neo4j version: 4.2.1
Operating system: Debian version 10.6 32bit
Raspberry Pi 4 8GB

### Steps to reproduce
1.Install neo4j with apt-get install neo4j
2. run $neo4j-admin memrec

### Expected behavior
run $neo4j-admin memrec
See the Memory available on the System (8GB).

### Actual behavior
Assuming the system is dedicated to running Neo4j and has **0**B of memory, ....
....
Based on the above,

[2020-12-05 17:28] flpgrz opened #12639 "NOT PART OF CHAIN!"
**Neo4j version**: 4.1.1 (community edition)
**Operating system**: DEBIAN 7
**API/Driver**: Cypher/Python API/Browser/Desktop (I get the same error everywhere)

**Steps to reproduce**: I created several csv files to run `neo4j-admin import`. I can't share the files unfortunately. The import runs successfully without errors. In the graph there are: 8 different node labels, 3 relationship types, 700

[2020-12-07 09:50] mnd999 commented on #12357
@OpenCoderX Yes, the `dbms.listTransactions`,`dbms.killTransaction`,`dbms.killTransactions` procedures have been made available in community, see the following commit.

https://github.com/neo4j/neo4j/commit/98396f460949ce6fdf5fe345256ec741b8f97240

[2020-12-07 09:53] mnd999 commented on #11938
This issue has been inactive for some time, and relates to an unsupported version of Neo4j, so I will close for now. If it's still something we need to work on, please feel free to reopen.

[2020-12-07 09:53] #11938 closed, assigned to SaschaPeukert

[2020-12-07 19:56] lingvisa commented on #12388
@ogronome  deleting data/transactions gives me a different error:

[code]

This happens only when I restarted my computer. I don't know whether it can avoid this if I shut down the database before I restart my computer.

[2020-12-08 09:36] tinwelint commented on #12639
To me it looks like some issue with the importer, no idea of what yet. Could you share the whole command line, i.e. all the arguments to the import command?

[2020-12-08 10:47] flpgrz commented on #12639
Hello @tinwelint ,

Command:

[code]

I think I can actually share the files, if you're interested. Currently clarifying this point.

[2020-12-08 23:12] pelletier197 commented on #12575
@michael-simons Hello! I'm struggling a little with your solution. If i try to use apoc `4.1.0.4` with the following dependency
[code]
and your example to setup the plugin directory
[code]

I get the following
[code]

Any idea what this might be ?

I am trying to use the `apoc.uuid.install` prodedure defined [here](https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.1/full/src/main/java/

[2020-12-09 08:37] tinwelint commented on #12639
Thanks. Yes since I haven't seen this before it would be very useful to try to import it in a debugger locally!

[2020-12-09 11:57] chke opened #12640 "neo4j memory issue for large queries on low memory"
## Guidelines

**Neo4j version:** 4.2.1
**API:** Docker

### Description
We have seen a memory issue while running many different large queries on a neo4j with low memory (2GB)
The behaviour we assume is the query cache has consumed more and more memory until the neo4j was only perfoming garbage collection to free memory for the next query. Then the neo4j becomes unresponsive, until it is restarte

[2020-12-10 21:54] patrickkwang opened #12641 "`size(...) <= x` misbehaving"
**Neo4j Version:** 4.2.1
**Operating System:** MacOS 11.0.1
**API:** Docker, Neo4j Browser

### Steps to reproduce:
[code]

### Expected:
3

### Actual:
1

---

[code]
gives the expected 3 rows.

[2020-12-11 08:55] Roxling commented on #12623
The fixing PR https://github.com/neo4j/neo4j/pull/12625 is merged

[2020-12-11 08:55] #12623 closed, assigned to Roxling

[2020-12-11 12:08] filippomc opened #12642 "neo4j-admin import: Unable to parse header when relationship attribute type is specified"
When trying to assign attribute types to neo4j-admin headers in relationship I get an error "Unable to parse header".

- Neo4j version: 4.x.x (reproduced in 4.0.5 and 4.2.0)
- Operating system: Linux - Docker image
- API/Driver: neo4j-admin

## Expected behavior
Specifying relationship attributes in headers should work as in nodes: the attributed converted to the type specified and added to relati

[2020-12-11 13:14] #12642 closed, assigned to nobody

[2020-12-11 13:15] filippomc commented on #12642
closed: the error was related to other import files

[2020-12-11 13:18] RobertRijksen97 opened #12643 "Cypher shell instantly closes after starting (4.2.0 or higher)"
I discovered that when you start the cypher shell in a Neo4j version 4.2.0 or higher,
you get an error and the cypher shell instantly closes.
You can see the error for a split-second but no log-file is written therefore the error is untracable.

Does anyone else experience this issue?
In earlier versions this error does not occur , so I am assuming it's a bug.

[2020-12-11 20:40] eastlondoner commented on #12635
@EllieLockhart did that resolve your problems? Can I close this issue?

[2020-12-12 23:17] jaedag commented on #12609
What's the fix? I'm not seeing it, and I'm having the exact same issue

[2020-12-13 20:46] burqen commented on #12609
@jaedag As described by @emmaholmbergohlsson:

[2020-12-14 09:26] mnd999 commented on #12628
As we have not heard anything back on this for some time I will close it for now. If this is still an issue, please feel free to reopen it.

[2020-12-14 09:26] #12628 closed, assigned to sherfert

[2020-12-14 09:41] sherfert commented on #12626
@ymzz277

We can't really analyze if this is actually a bug without more information.

My assumption is that there has to be a `Sort` operator that comes after the `NodeHashJoin`.
Your full `ORDER BY` clause cannot be solved by joined `IndexSeek`s. Therefore a `Sort` becomes necessary, and then the planner is free to choose any index ordering since the rows will be re-sorted later anyway.

[2020-12-14 09:41] #12626 closed, assigned to mnd999

[2020-12-15 10:51] tinwelint commented on #12615
This has now been fixed and should be included in the next round of patch releases

[2020-12-15 11:33] mnd999 commented on #12641
Thanks for the report. We're investigating it now. Can you confirm whether you're using the Community or Enterprise editions?

[2020-12-15 14:02] patrickkwang commented on #12641
I'm using the Community edition.

[2020-12-16 06:55] johannessen opened #12644 "HTTP content negotation failing for clients preferring Jolt"
An HTTP User Agent that states a general preference for Jolt over JSON using [proactive content negotiation](https://tools.ietf.org/html/rfc7231#section-3.4.1) will always receive an HTML response instead of a JSON response upon querying the [Discovery API](https://neo4j.com/docs/http-api/4.2/discovery/) in Neo4j versions 3.5.25 and 4.2.1.

### Steps to reproduce

Supply the following headers with

[2020-12-16 10:17] mnd999 commented on #12641
Thanks, it definitely looks like a bug in the interpreted runtime which would be active for this query in the community edition. I see you have a workaround, but another would be to use the enterprise edition from Neo4j Desktop until we fix it.

[2020-12-18 00:50] EllieLockhart commented on #12635
I think it did - I appreciate the help.

[2020-12-18 00:50] #12635 closed, assigned to nobody

[2020-12-18 06:03] prasad12-02 opened #12645 "Apoc Text Procedures Not Available"
I am using Neo4j Desktop, and trying to work with apoc text procedures but it doesnt seem to be available in the database instance that i am working with. I have tried making changes in the configuration file, used a different jar file for apoc, uninstalled and installed Neo4j Desktop again and also tried the same on neo4j browser, still getting error like apoc.text.distance is not registered with

[2020-12-18 11:20] mnd999 commented on #12645
Thanks for your report, the correct repository to to raise issues relating to Neo4j Desktop is https://github.com/neo4j-devtools/neo4j-desktop. Please reopen your issue in that repository. Unfortunately, I am unable to transfer it there as it's a different organisation.

[2020-12-18 11:20] #12645 closed, assigned to nobody

[2020-12-18 11:29] mnd999 commented on #12624
Thanks for your report, the correct repository to to raise issues relating to APOC is https://github.com/neo4j-contrib/neo4j-apoc-procedures. Please reopen your issue in that repository. Unfortunately, I am unable to transfer it there as it's in a different organisation.

[2020-12-18 11:29] #12624 closed, assigned to nobody

[2020-12-20 18:55] corysimmons opened #12646 "Indentation of JSON in Neo4j Browser is off"
![image](https://user-images.githubusercontent.com/224636/102721787-fc616380-42ca-11eb-88be-13a6b8460481.png)

Hopefully this is just a simple JSON.stringify tweak on the frontend, but it'd make browsing values a lot nicer if it was indented correctly.

[2020-12-21 00:20] jexp commented on #12637
Could it be that your proc has a memory leak of some kind? Perhaps you can share the source code?

Alternatively create a heap dump of a smaller setup of your system and analyze it with the Eclipse Memory Heap Analyser.

[2020-12-21 08:29] tinwelint commented on #12595
Closing due to inactivity

[2020-12-21 08:29] #12595 closed, assigned to nobody

[2020-12-21 10:46] gjmwoods commented on #12230
Closing as resolved. Please reopen if necessary.

[2020-12-21 10:46] #12230 closed, assigned to nobody

[2020-12-21 10:51] gjmwoods commented on #12460
@SantaFlang Closing this due to inactivity. Please reopen (with the necessary details) if we can help further.

[2020-12-21 10:51] #12460 closed, assigned to nobody

[2020-12-21 11:00] gjmwoods commented on #12529
@caowencai This ought to have been resolved in the latest neo4j patch version. Closing for now, please feel free to reopen if the issue is still present.

[2020-12-21 11:00] #12529 closed, assigned to nobody

[2020-12-21 12:29] hedengran commented on #12636
This bug was found in the enterprise edition and has now been fixed. Thank you for reporting this @bradenmacdonald.

[2020-12-21 12:29] #12636 closed, assigned to mnd999

[2020-12-21 13:09] tinwelint commented on #12639
@flpgrz Not sure, but you may have run into an issue, which was fixed in 4.1.2 with the description:

`Fixes an ID allocation issue when importing a large amount of relationships so that double-record-unit allocation got enabled. This could result in some relationships getting one of their record units overwritten`

Could you try on latest 4.1 instead (4.1.5 at the time of writing this)?

[2020-12-21 13:58] tinwelint commented on #7641
To not make configuring this overly complicated, would it be OK with this approach:

`--auto-skip-header-line true` will automatically look at header lines for each file and if it looks like a header line it will skip it.

The reason it shouldn't always be true and always do that would be that a data line may accidentally, even tho very unlikely, look like a header line. Otherwise there would have

[2020-12-21 18:03] flpgrz commented on #12639
@tinwelint, I had some delays with sharing the files, sorry.

I installed the latest release (4.2 community edition). The problem is not occurring anymore. Also, I installed neo4j this time in a machine with a much bigger RAM. So there might be 2 possible causes that lead to the resolution:

- you fixed the issue in a later release (>4.1.1)
- I was running out of RAM and did not notice it 😁

[2020-12-21 18:03] #12639 closed, assigned to nobody

[2020-12-21 20:17] tinwelint commented on #12639
Allright, glad to hear. Cheers!

[2020-12-22 07:07] pontusmelke commented on #12641
@patrickkwang Thanks for reporting this. The bug has been fixed and will be rolled out with the next update. If you need an urgent (and for us somewhat embarrassing) workaround you can use `size( (`n`)-[]-() ) < 2` instead of `size( (`n`)-[]-() ) <= 1` in your query.

I'll close this now but don't hesitate to reopen or open a new issue if there are any other issues.

Regards,
Pontus

[2020-12-22 07:07] #12641 closed, assigned to mnd999

[2020-12-22 15:36] PetrJanouch commented on #12627
@hebelala Sorry for the long delay.

We use direct memory for page cache and currently the page cache memory is released in phantom reference handling. It is done so, because when the server is used in an embedded deployment as a library if someone shuts down the DBMS it is very hard for us to check that there is no way the page cache memory cannot be touched. An example would be if an application

[2020-12-23 03:09] he7g commented on #12627
@PetrJanouch "An example would be if an application thread shuts down the DBMS while another application thread still uses its transaction" -- The situation wont be happened in my app, because we switch DBMS **gracefully**, the code is as follow:
[code]

In my opinions, the old shutting down DBMS should recycle itself stuff. The API should provide the ability to shutdown gracefully at least. The i

[2020-12-24 11:53] Northwo opened #12647 "The eager operator causes a huge unnecessary waste of resources in the query of matching two points and creating edges"
## The eager operator causes a huge unnecessary waste of resources in the query of matching two points and creating edges
In my graph ,there are 60,047,435 nodes，i want to find two nodes to create a edge between them,but it cost a long time to finish this job. the i find out this query will product a large Cartesian product result which includes 3,605,694,450,079,225 node pairs. but acually one no

[2020-12-24 19:03] shammakh2 commented on #12643
How are you using shell? Did you download the zip? Did it come with the server?
Do you still face this issue? Where did you download from? Did you try getting it again? What driver version are you using it with?
Did you try setting up another server and using cypher with it?
Please give more details.

[2020-12-24 19:46] shammakh2 commented on #12473
I have seen you raise the same issue in 3 different places (including neo4j community forums) .
I have also looked at the example code and error message you provided.
It appears that it is not the 'same' application as you say it is because I have looked into it and have not found any issues with it.
You must have modified it (or perhaps used another version (which is unlikely)).
The error is tell

[2020-12-28 20:45] glitchgirl opened #12648 "Run in browser buttons don't launch neo4j Browser"
When on [cypher shell](https://neo4j.com/docs/operations-manual/current/tools/cypher-shell/#cypher-shell-syntax) the Neo4j browser won't launch
- Neo4j version: N/A - on website
- Operating system: Mac Catalina + Chrome

## Expected behavior
When I click "Run in Neo4j Browser" the application opens and runs the appropriate command for that example.

## Actual behavior
When I click "Run in Neo4j Br

[2020-12-29 07:05] shayantabrizi opened #12649 "Case insensitive indexes"
If normal indexes on attributes support case-insensitive indexing, it may allow case-insensitive lookups without the burdens of full text search.

[2020-12-29 09:20] Makunda opened #12650 "Clear text password : Neo4j Browser"
Hello team!
First of all, thank you for the Neo4j project, it's a lot of work and the result is excellent and reliable.
I just got a feature request that I think can be useful to everyone.

I haven't seen any similar opened issues or feature request , but let me know if it's a duplicate.

Anyway, have a nice end of year!

## Feature Request

**Security: Neo4j web session**
When using the Neo4j bro

[2020-12-30 13:49] johannessen opened #12651 "Neo4j Status Codes “Effect on transaction” docs incorrect"
I think this is a documentation bug.

According to [Neo4j Status Codes](https://neo4j.com/docs/status-codes/4.2/), all `ClientError`s cause a **rollback** on transactions. But as of Neo4j 4.2.1, this is not in fact the case.

### Steps to Reproduce
1. Begin new HTTP transaction.
2. Try to access the new transaction without the correct credentials.
3. Try to access the new transaction _with_ the co

[2020-12-31 13:19] LLyaudet opened #12652 "Reversible matrices, labelled graphs, and labelled 2 structures"
Hello,

I am from a background in graph theory and I discovered graph databases recently.
I wrote a research article with my functional point of view instead of the classical relational point of view in graph theory logic.
I tried to make the introduction of my article as friendly and easy to grasp the core concepts as possible.
I wanted to share my article with you :
https://web.archive.org/web/2

[2020-12-31 13:20] LLyaudet commented on #12652
I choose feature request because I thought that maybe you would want to implement and benchmark some of my ideas.

[2021-01-01 19:18] swilly22 opened #12653 "Implicit group key when mixing aggregation and none-aggregation functions in a single expression"
Neo4j version: 4.2.1

`docker run -p7474:7474 -p7687:7687 -e NEO4J_AUTH=neo4j/s3cr3t neo4j`

Initial graph:
`CREATE (:N {v:2}), (:N {v:1}), (:M {v:2}), (:M {v:3})`

Query 1:
`MATCH (n:N), (m:M) RETURN n.v + m.v + count(m)`
Result: `[6, 6, 4]`

Query 2:
`MATCH (n:N), (m:M) RETURN n.v + count(m) + m.v`
Result: `[6, 6, 4, 5]`

Expecting both queries to return the same result-set `[6, 6, 4]` Assuming

[2021-01-03 20:32] Mintactus opened #12654 "SHOW DATABASES and the default database access"
Important details, primarily:

- Neo4j 4.2.1
- Linux Mint 20
- Neo4j Desktop 1.3.11

- **Steps to reproduce**
- **IMPORTANTE NOTE : Might be a behavior not a bug but it strange**

The command SHOW DATABASES does not work when the user doesn't have the privilege to read the default database.
You can reproduce this by many ways.

- Actual behavior
The SHOW DATABASES result in an error for users with

[2021-01-04 09:56] mnd999 commented on #12654
Thanks for the report, we'll take a look at it and get back to you.

[2021-01-04 09:56] mnd999 commented on #12653
Thanks for the report, we'll take a look at it and get back to you.

[2021-01-04 10:00] mnd999 commented on #12643
As the previous commentator suggests, we need a bit more information to investigate this further, can you let us know a bit more about your environment / operating system, Java versions, Neo4j setup, whether you are using desktop or standalone etc that might be useful to help us reproduce the issue.

[2021-01-04 10:00] mnd999 commented on #12647
Thanks for the report, we'll take a look at it and get back to you.

[2021-01-04 10:29] swilly22 commented on #12653
http://www.opencypher.org/articles/2017/07/27/ocig1-aggregations-article/

[2021-01-04 13:26] mnd999 commented on #12654
Could you provide us with a little more information about this - What error are you getting?  What permissions does that use have on the default database? Which database is the user connected to when attempting to run `SHOW DATABASES`? Has the default database been changed?

[2021-01-04 23:23] nioertel opened #12655 "Custom log4j2 configuration not working with Neo4j 4.2.x"
## Bug report
Since Neo4j 4.2.x (specifically commit 321386148360427c5f167f72821682a3648040f3 which was probably part of the changes related to #12631) custom Log4j 2 configurations don't work anymore.
This may be also related to [this Log4j 2 issue](https://issues.apache.org/jira/browse/LOG4J2-673) and [this Stack Overflow thread](https://stackoverflow.com/questions/48033792/log4j2-error-statuslo

[2021-01-05 00:05] Marcono1234 opened #12656 "LogPruningImpl.cleanupCheckpointLogFiles() performs unintended String concatenation"
It appears the method `LogPruningImpl.cleanupCheckpointLogFiles()` performs unintended String concatenation:
https://github.com/neo4j/neo4j/blob/d12182c8faa09aea2f37debf5d08e3951b7d57c8/community/kernel/src/main/java/org/neo4j/kernel/impl/transaction/log/pruning/LogPruningImpl.java#L119

The current implementation is equivalent to:
[code]
The code should likely print the result of `highestVersionT

[2021-01-05 06:05] Mintactus commented on #12654
As an example:

I described some details here but you can Go to the I THINK I FIGURE IT OUT section bellow directly.

This is a SHOW USER neo4j PRIVILEGES response ( neo4j user is not admin anymore ):

access | action | resource | graph | segment | role | user
-- | -- | -- | -- | -- | -- | --
1 | "GRANTED" | "access" | "database" | "DEFAULT" | "database" | "PUBLIC" | "neo4j"
2 | "GRANTED" | "match

[2021-01-05 15:41] sherfert commented on #12647
@Northwo

When I execute the following query `PROFILE MATCH (m), (n) CREATE (m)-[r:R]->(n) RETURN r LIMIT 1` in neo4j 4.2 I get this profile output:

[code]

There is no `Eager` operator. Are you worried about the performance of the `CartesianProduct`?

---

As a side node: The amount of relationships this query creates is non-deterministic in 4.2. It will usually only create one relationship, but

[2021-01-05 15:41] #12647 closed, assigned to mnd999

[2021-01-06 12:40] philastrophist opened #12657 "Collect in a simple query fails: `Should not reach await until tracking is complete, cancelled or out-of demand`"
Neo4j raises a weird error that I can't google when collecting nodes in a very simple query

- Neo4j version: 4.2.0
- Operating system: Windows 10 - 19041.630
- API/Driver: Cypher - Neo4jDesktop

# Steps to reproduce:

[code]

# Expected behavior
Returns rows of `ob` and `exposure` lists

# Actual behavior
Raises error:
`Neo.DatabaseError.Statement.ExecutionFailed`
`Should not reach await until tr

[2021-01-06 12:42] philastrophist commented on #12657
`neo4j.log` reads: `2021-01-06 12:40:49.567+0000 ERROR Client triggered an unexpected error [Neo.DatabaseError.Statement.ExecutionFailed]: Should not reach await until tracking is complete, cancelled or out-of demand,
count: 1, cancelled: false, demand: 50, reference 894d6c8f-62b7-40bd-9ea1-4073c41d1c60.`

`debug.log` reads:
[code]

[2021-01-06 17:14] philastrophist commented on #12657
New discovery:

I can introduce a `limit` of any size I like and the query will run.

RUNS:
[code]

If I remove the `limit`, the query produces the same error

ERRORS:
[code]

So it looks like it's a planner problem. And indeed, the planner produces different strategies when using a limit:

## No limit
![nolimit](https://user-images.githubusercontent.com/14169057/103800468-6193b380-5044-11eb-8723-

[2021-01-07 09:37] mnd999 commented on #12657
Thanks for the report, it certainly looks like a bug at first glance. We'll take a look and let you know what we find.

[2021-01-08 08:27] mnd999 commented on #12654
Thanks for all the detail, yes I think that is the issue. Will let you know when we have a solution.

[2021-01-11 07:51] mcclown opened #12658 "v4.2.x no longer accepts "True" or "False" as label names."
- Neo4j version: 4.2.2
- Operating system: Windows 10 Pro - 1909
- API/Driver: Cypher
- Use the cypher query `CREATE (:False)`
- Expected behavior: A new node called False is created
- Actual behavior: An error, as per below

`Invalid input ':': expected "shortestPath", "allShortestPaths" or "(" (line 1, column 9 (offset: 8))
"CREATE (:False)"`

This also occurs for `CREATE (:True)`

This has work

[2021-01-11 08:54] mnd999 commented on #12658
Thanks for the report, we'll take a look at it. If you need a workaround in the interim, you can get the old parser behaviour in 4.2 by setting `unsupported.cypher.parser=PARBOILED` in your `neo4j.conf`. This is an unsupported setting though so it may be removed in a future release.

[2021-01-11 09:16] mcclown commented on #12658
@mnd999 thank you for the quick response. I was only investigating an upgrade, so it's not pressing yet.

[2021-01-11 09:46] PetrJanouch commented on #12627
I am not disputing that you use the API correctly, but we cannot punish the users who don't by segfaulting.

[2021-01-11 10:02] tinwelint commented on #12621
It shouldn't be caused by either negative or too high page id at least due to these checks:

- [MuninnReadPageCursor.java#L54](https://github.com/neo4j/neo4j/blob/3.5/community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/MuninnReadPageCursor.java#L54)
- [MuninnWritePageCursor.java#L79](https://github.com/neo4j/neo4j/blob/3.5/community/io/src/main/java/org/neo4j/io/pagecache/impl/muninn/Mun

[2021-01-11 10:23] tinwelint commented on #12656
You are absolutely right, thanks for reporting

[2021-01-12 06:42] royston-bowmaker commented on #6282
Here to back support my for Nested properties in Neo4J!

[2021-01-12 16:44] tomaszalusky commented on #12151
I had similar problem and finally understood I cannot invoke `neo4j-admin import` if database has been once used, which is documented [here](https://stackoverflow.com/a/65688089/653539).
The import tool just needs db unlocked. [Here is my investigation.](https://stackoverflow.com/a/65688089/653539)
Anyway, still I don't get why manual [advises](https://neo4j.com/docs/operations-manual/current/dock

[2021-01-12 21:02] nioertel commented on #12655
I also added a minimal reproduction case to this repo: https://github.com/nioertel/neo4j-log4j2

[2021-01-13 14:41] rjbaucells commented on #12657
Same error here but not related to `COLLECT()`:

[code]

Removing the `OPTIONAL` keyword avoids the error, but not a solution in our case.

Failed to replicate it in an empty database with only the data traversed by the query.

Neo4J: 4.2.2 enterprise

[2021-01-13 16:25] johannessen commented on #12658
Adding an unused variable seems to work around this issue: `CREATE (n:False)` succeeds for me.

[2021-01-13 18:58] johannessen opened #12660 "Jolt returns byte arrays in Hex rather than Base64 encoding"
Jolt doesn’t return byte arrays in the format that is documented in the HTTP API docs.

### Steps

1. Create a node with a property containing the byte array `new byte[] { 0x46, 0x6f, 0x6f }` (= Foo).
   (It doesn’t seem to be possible yet to create byte arrays via HTTP, so e. g. the Java Driver needs to be used.)
2. Run a Cypher query via HTTP returning that property in Jolt format.

### Expected

[2021-01-15 09:58] mrksph opened #12662 "Full-Text indexes not working when an analyzer is specified."
I discovered that when creating a Full-Text index if a config parameter is passed to specify which analyzer to use then the Full-Text index won't work, although it will be shown as ONLINE when querying :schema.

- Neo4j version: 4.2.0
- Operating system: Windows 10 (Neo4j Desktop)
- API/Driver: Cypher (Neo4j Browser)

### Steps to reproduce
I've already reported this bug in Neo4j Community's forum

[2021-01-16 21:06] johannessen opened #12663 "Jolt is not a JSON Text Sequence"
Neo4j 4.2.2 sends Jolt with a media type of `application/vnd.neo4j.jolt+json-seq`.

According to [RFC 8091](https://tools.ietf.org/html/rfc8091#section-3), the `+json-seq` structured syntax suffix SHOULD be used when parsing a resource as an [RFC 7464](https://tools.ietf.org/html/rfc7464#section-2.1) JSON Text Sequence leads to a meaningful result.

This is not in fact the case for Jolt responses

[2021-01-18 07:25] burqen commented on #12662
Hi @mrksph! Thank you for reporting.
Do you have a few example of what the code property could look like, to help reproduce the issue?

[2021-01-18 08:24] LianxinGao opened #12664 "neo4j4.1.2 browser 404"
start neo4j server in IDEA,  my code , conf and dependency are as follows
[code]
[code]

[code]
It started successfully, but I can't access the web ' http://localhost:7474/'

[2021-01-18 10:02] mrksph commented on #12662
Hi @burqen
Sure

Here's the output of for "Client" nodes "code" property

[code]

And here's a fragment of the cypher script I use to create the schema and load the data.

Note: This FTS index worked in Neo4j v3.5. In my database I have nodes with label "Client". All "Client" nodes have one more label of 3 possibles.

[code]

[2021-01-18 10:04] mrksph commented on #12662
I can reproduce this bug easily from the Neo4j browser.
1. Create the Uniqueness Constraint on the property
2. Create the FullText Index specifying analyzer on the same property
3. Query the nodes using the FTS index.
4. Note no results are returned.
5. Drop the FTS index
6. Create it again, this time without the analyzer
7. Run the same query using the FTS index
8. Watch returned nodes.

[2021-01-18 11:26] #12656 closed, assigned to nobody

[2021-01-18 11:59] technige commented on #12663
Hi @johannessen. Thanks for raising this - we've had a look and you're absolutely right that the `+json-seq` suffix points to the incorrect generic format for Jolt. We have actually designed for newline-delimited json, so it sppears this mime type should in fact read `application/vnd.neo4j.jolt+x-ndjson`. We'll look at patching the server to correct the mime type.

[2021-01-18 12:08] johannessen commented on #12663
`+x-ndjson` is not a standard suffix, and is not likely to ever become one. According to [RFC 6838](https://tools.ietf.org/html/rfc6838#section-4.2.8), it SHOULD NOT be used.

Just `application/vnd.neo4j.jolt` should be fine!

[2021-01-18 13:18] technige commented on #12663
Alright, we'll continue to look into it.

Either way, it's likely that we'll introduce negotiation for the correct mime type, but retain deprecated support for the old one for a while.

[2021-01-18 19:35] uevora428 commented on #12638
I am having the same issue.

`/var/logs/neo4j/neo4j.log` gives me the following error:

2021-01-18 19:30:44.198+0000 ERROR Invalid memory configuration - exceeds physical memory. Check the configured values for dbms.memory.pagecache.size and dbms.memory.heap.max_size

changing the conf file to have the recommended memory settings by `neo4j-admin memrec --memory=4g` does not appear to have any affe

[2021-01-19 16:00] mnd999 commented on #12664
On the face of it this what you have seems to be be okay, although if you want the neo4j user interface to appear you will also need the neo4j-browser dependency.

Is anything listening on port 7474  when you run your code?

[2021-01-19 16:13] mnd999 commented on #12643
We've not heard anything back on this for a while, so I will close it for now. If it's still an issue, please feel free to re-open.

[2021-01-19 16:13] #12643 closed, assigned to mnd999

[2021-01-20 00:57] LianxinGao commented on #12664
you mean, the org.neo4j doesn't include the browser's dependency? No listening on 7474  also I changed the port , the browser still doesn't work.....

[2021-01-20 08:11] burqen commented on #12662
@mrksph I've been able to reproduce the issue with your steps and working on a solution 👍

[2021-01-20 08:55] mnd999 commented on #12664
Correct, not all customers embedding Neo4j in their application want the browser experience, so it's an optional dependency. If you do not include it as a dependency, the HTTP APIs will still work, but not the browser.

If you just want to run Neo4j locally, I would recommend the Neo4j Desktop product which will allow you to easily get the browser up and running.

[2021-01-20 09:20] LianxinGao commented on #12664
Got it, thanks a lot!

[2021-01-20 09:20] #12664 closed, assigned to mnd999

[2021-01-20 10:30] mrksph commented on #12662
@burqen Thanks for the feedback, I started thinking it was a problem on my side! I'll keep an eye on it.

[2021-01-20 14:34] #12627 closed, assigned to nobody

[2021-01-21 14:16] PetrJanouch commented on #12606
The fix for this is now included in the most recent 4.1 and 4.2 releases.

[2021-01-21 14:16] #12606 closed, assigned to nobody

[2021-01-22 13:08] mskyttner commented on #12151
I also don't understand how to use `neo4j-admin import` on a running container. The documentation at https://neo4j.com/docs/operations-manual/current/tutorial/neo4j-admin-import/ says "The neo4j-admin import command can be used on the local Neo4j instance even if the instance is running or not.", which sounds promising and in line with what some other RDMS containers support (such as the official

[2021-01-22 13:13] mskyttner commented on #12151
And perhaps this issue should be reopened if this issue is not resolved when using docker?

[2021-01-24 09:10] ToeFungi commented on #12657
Seem to be experiencing the same issue. Any further information on this?

[2021-01-24 09:37] ToeFungi commented on #12657
I have to almost identical queries, the only difference being a filter parameter, the one query works while the second doesn't.

count: 1, cancelled: false, demand: 1000

[code]

[code]

[2021-01-24 17:09] mnd999 commented on #12657
A fixed has been developed for this issue, and is in the process of being merged. It will be included in the next 4.2.x release. Until then, as a workaround prefixing queries with `CYPHER runtime=slotted` should avoid the issue.

[2021-01-25 11:32] #12657 closed, assigned to nobody

[2021-01-25 11:32] #12658 closed, assigned to nobody

[2021-01-25 13:43] taraspos commented on #12514
I'm having a similar issue:
[code]

And no info at all. In the server debug logs I can see the following:
[code]
and that is it.

[2021-01-25 14:09] adnane-nemri opened #12665 "Unable to access values from mapping after xml import"
Hello,
Posted the following issue on https://community.neo4j.com/t/unable-to-access-values-from-mapping-after-xml-import/31252 and was advised to make an issue out of it
Running v4.2 on ubuntu 20.10

I had code that ran 2 years ago on version 3.4 but doesn't anymore on version 4.2. The error message further below occured on several occasions. So I managed to rewrite some of it to go around but I'm

[2021-01-25 18:09] smkhalsa commented on #12106
Has anyone made any progress on this? I'm trying to use fulltext search on several different properties, one of them being an array of strings.

[2021-01-25 22:40] InverseFalcon commented on #12653
The article is a good one.

I ran your query and actually got back a slightly different result set, so you may want to double-check your nodes and results:

[code]

Your misassumption is that `n.v + m.v` is the grouping key; it is not.

In the second query, there are two components to the grouping key: `n.v` and `m.v`, and this is also why there are 4 result rows instead of 3.

We can see this if

[2021-01-26 06:15] Rtut654 opened #12666 "Knn search for images embeddings"
Hey!  I'm curious whether it is possible to store image embeddings (256-float each) in neo4j? Basically, I'm interested in searching for nearest neighbors in embedding database, so the question is for both store and search parts. In documentation I found necessary operations only for 3d point data type, so multidimensional data is still unavailable?

[2021-01-26 10:26] sherfert commented on #12658
A fix has been merged and will be included in the version 4.2.3.

[2021-01-26 16:02] fabio-s-franco commented on #12405
Has anyone taken a look at this @sherfert? This keeps coming back when we have some complex cypher issues to deal with.

[2021-01-26 23:46] graphadvantage commented on #12106
@smkhalsa Not yet, the work around is to convert your array to a string property, and then it can be indexed.

[2021-01-27 03:01] yyseik opened #12667 "Show Current Configuration setting"
HI,

Is there any way to show current configuration? Eg, like what we can do on mysql "SHOW VARIABLES;"
Because I try to use SSL on both BOLT and HTTPS. After I added the certificate, I am not sure am I using SSL on the connection or not.

Thanks

[2021-01-27 07:01] Roxling commented on #12638
Neo4j on RasberryPi is not a supported platform, see the [documentation](https://neo4j.com/docs/operations-manual/current/installation/requirements/). The memory recommendations are dependent on a correct reporting of the memory by the `OperatingSystemMXBean` so my guess would be that the JVM you are using does not support that feature.

We do welcome community pull requests if you find this impor

[2021-01-27 07:01] #12638 closed, assigned to nobody

[2021-01-27 07:37] emmaholmbergohlsson commented on #12655
Thank you for reporting. We were able to reproduce the issue with the provided steps, and have found a fix. It will be included in the 4.2.4 version.

[2021-01-27 07:37] #12655 closed, assigned to nobody

[2021-01-27 08:20] sherfert commented on #12405
A shorter syntax for disjunction of node labels is planned.
When we will deliver it I can't say at this point.
It is not gonna be part of 4.3, after that it is possible we'll include it.

[2021-01-27 08:46] thobe commented on #12653
@swilly22 As you have seen from the 2017 article, the inference of what the grouping key is when the result of an aggregation function is part of a larger expression ranges from confusing to ambiguous. It also breaks commutativity of normally commutative operators.

Evidently this problem has been known for quite a while without being adressed. This is because it has mainly been a theoretical prob

[2021-01-27 09:57] timurgen commented on #12572
@JnMik  Hi, did you find a solution for this problem?

[2021-01-27 10:35] BugGambit commented on #12572
@JnMik Same here

[2021-01-27 15:18] OliviaYtterbrink commented on #12665
Hi @adnane-nemri
You are using `MATCH (variable) WHERE ...` with a bound variable that is not a Node, you should instead use `WITH variable WHERE ...`. `MATCH` should only be used when actually matching on nodes and not parts of a map.
Here's a rewrite of your query

[code]

Hope this explains things and helps you with your other queries as well.

[2021-01-27 15:18] #12665 closed, assigned to nobody

[2021-01-28 09:40] omerule commented on #12638
Thanks for the reply,

There seem to be some regression with OpenJDK determin RAM and when cgroup memory is disabled:
"
8257746: Regression introduced with JDK-8250984 - memory might be null in some machines by poonamparhar · Pull Request #2269 · openjdk/jdk · GitHub
"
When looking at $ cat /proc/cgroups Memory is not enabled.
In found this thread on Ask Ubuntu:
"
raspberrypi - Raspberry Pi 4 Ubun

[2021-01-28 20:37] swilly22 commented on #12653
Thank you @InverseFalcon , @thobe
I think this is a good compromise

Can we expect a formal definition describing what is considered legal aggregated expression e.g. `sum(n.a) + count(n.b)` ?

Would you consider enforcing this at the grammar / parser level or would you consider this to be a query validation?

[2021-01-29 08:45] thobe commented on #12653
@swilly22 that is a very useful question.

Since both `sum(n.a)` and `count(n.b)` are aggregations, neither of them would be part of the inferred grouping key, even if stated separately and not composed through addition as in your example.

This means that the grouping key would be the same for:

[code]

 as it would for:

[code]

in both cases the inferred grouping key would be `x, y, z`.

Becaus

[2021-01-29 12:37] burqen commented on #12662
@mrksph The fix has been merged and back-ported to 4.0 and forward and will be part of next patch on all of those releases. Thank you again for reporting!
I'm closing this issue here, please feel free to re-open if needed.

[2021-01-29 12:37] #12662 closed, assigned to nobody

[2021-01-29 13:12] mrksph commented on #12662
@burqen thanks! I can't see any commits regarding this issue, just out of curiosity why is that? I'd like to see the changes if possible.

Thanks!

[2021-01-29 14:05] burqen commented on #12662
@mrksph They are merged to the private repo and will be mirrored to the public one soon. Commit message is "Fulltext StandardFoldingAnalyzer correctly normalize search string"

[2021-01-30 09:59] beslu opened #12668 "Neo4j ETL Tool struggles with complex datamodels"
Hi, I have tried to use the ETL tool (1.5.1) to create a mapping to our legacy system running on Oracle db.
The seems to be that the ETL tool tries to analyze every table and relations/constraints in the database that has 800+ tables and countless constraints.

The analyze process times out or have to be killed before producing a result. I think it would be sensible to break up the analyze part in

[2021-01-30 17:27] uevora428 commented on #12638
@omerule I really appreciate this. Your steps worked for me. Thanks!

[2021-01-31 07:36] unbekanntes-pferd commented on #12638
Thanks a lot, @omerule – your Ask Ubuntu hint worked for me as well (I had to change /boot/firmware/nobtcmd.txt, as /boot/cmdline.txt did not work)!

[2021-01-31 16:14] mnd999 commented on #12668
Thanks for the report. Unfortunately though, it looks like it relates to the neo4j-etl labs tool. This tool lives in a separate repository, so please re-raise your issue there: https://github.com/neo4j-contrib/neo4j-etl/issues

Unfortunately, due to it being in a separate org, I am not able to transfer this issue across. If this is incorrect, please feel free to re-open this issue and we will inve

[2021-01-31 16:14] #12668 closed, assigned to nobody

[2021-02-02 13:00] fabio-s-franco commented on #12405
Thanks a lot for the info. Look forward to it.

[2021-02-02 14:31] mrksph commented on #12662
@burqen Hey I just saw the commit. We were planning to use 4.2.1 in production before this bug. In which version is this bug fixed?

[2021-02-03 04:56] matiasmorant opened #12669 "Wrong results for Cypher query after renaming variable"
I discovered a Cypher query that produces wrong results. It returns a wrong value for the property of a node. This seems to be related renaming variables

**Neo4j version:** 4.2.3
**Operating system:** Windows 10
**API/Driver:** Cypher

### Steps to reproduce

1- create a new graph:
[code]
2- run this query:
[code]

### Expected behavior
[code]
### Actual behavior
[code]
note it gets the wrong nam

[2021-02-03 14:25] burqen commented on #12662
@mrksph The bug is fixed in upcoming 4.2.4 patch.

[2021-02-03 18:34] mustfkeskin commented on #8912
Hello i have same problem

I copy my csv in docker container
`docker cp my.csv  testneo4j:/var/lib/neo4j/import/
`
My Config:
`dbms.directories.import=import`
`dbms.security.allow_csv_import_from_file_urls`
This work for me

[2021-02-04 16:41] mnd999 commented on #12669
Thanks for the report. That certainly looks like something is wrong at first glance. We'll investigate further and let you know what we find.

[2021-02-05 06:34] ninjakx commented on #12392
I am getting now `AttributeError: 'NoneType' object has no attribute 'pool'`

[code]

**Traceback:**
[code]

[2021-02-08 10:28] technige commented on #12392
Hi @ninjakx. This is a separate issue which will need its own issue number, and will need to be raised on the Python driver repository rather than here. Before you do that, however, please check that you are using the latest version of the driver, as this may have already been fixed.

[2021-02-08 10:46] User-SecU opened #12671 "Windows Service installs but does not start if %JAVA_HOME% is not set"
## Bug report

When the %JAVA_HOME% environment variable is not set, for example, after the default installation of JDK 11, Neo4j will install the Windows service successfully but it will not start. The error given when trying to start the service from Services.msc is
![image](https://user-images.githubusercontent.com/68689334/107206458-f9dfd800-69f6-11eb-8b3a-5ffbd95332aa.png)

neo4j-service.[DAT

[2021-02-08 17:55] cartwrightian opened #12672 "debug.log warnings about dbms.memory.heap.max_size and dbms.memory.heap.initial_size when they are actually provided"
- Neo4j version: 4.2.1
- Operating system: macos 10.15.7
- API/Driver: java embedded
- **Steps to reproduce**

DatabaseManagementService managementService = new DatabaseManagementServiceBuilder( graphFile ).
setConfig(ExternalSettings.initial_heap_size, "100m").
setConfig(ExternalSettings.max_heap_size, "200m").
build();
GraphDatabaseService graphDatabaseService = managementService.database(DEFAUL

[2021-02-11 04:57] matiasmorant opened #12673 "Wrong result for cypher query"
I discovered a cypher query that returns wrong results in Neo4j versions `4.2.x`, and returns the correct result in Neo4j versions `4.1.x`

**Neo4j Version:** `4.2.x`
**Operating System:** Windows 10
**API:** Cypher

### Steps to reproduce
1. create 3 nodes
[code]
2. execute the following query (the first  `CALL` subquery is only a complex way of returning `0` for every node)

[code]
### Expected

[2021-02-11 20:42] fabio-s-franco opened #12674 "Merge no longer prevents duplication during race condition on Neo4j 4.2.2"
We have upgraded our Neo4j instances from 4.1.3 to 4.2.2 and since then MERGE no longer prevents duplication of Nodes while concurrent queries are being executed. It is as if the MERGE operation can no longer hold a write lock with the specified condition.

Example query that trigger the problem:

[code]
I am not sure what changed, but since our upgrade it can be consistently reproduced in every s

[2021-02-13 07:20] bbenzikry commented on #12572
Encountered this as well while upgrading to 4.2.2

[2021-02-15 07:58] klaren commented on #12672
Hello @cartwrightian and thanks for reporting.

This behavior is expected. All settings in `ExternalSettings` are read by our startup scripts and passed into the JVM that Neo4j launches, and have no effect on an embedded deployment. If you don't use the Neo4j service scripts you will have to specify `-Xmx` and `-Xms` yourself. Those values cannot be changed after the JVM is started so the best thi

[2021-02-15 08:18] horak90 opened #12675 "Read query throws a DatabaseException only on Neo4j enterprise version"
Hello,

I would like to declare a potential bug for Neo4j 4.1.5-enterprise.

When I try to run the following query: `MATCH (n:NODE) WHERE n.id = $left OR n.id = $right RETURN (n);` I get a DatabaseException: `Index cursor cannot have transaction state with values and without values simultaneously`. This happens only for the enterprise version, the community version runs the query without any error

[2021-02-15 10:25] mnd999 commented on #12675
Thanks for the report, as a workaround I would suggest prefixing your query with `CYPHER RUNTIME=slotted`. We will look into the bug and let you know when we have a fix.

[2021-02-15 10:31] mnd999 commented on #12673
Thanks for the report, we're looking into it in conjunction with https://github.com/neo4j/neo4j/issues/12669

[2021-02-15 13:00] tuftedocelot opened #12676 "Apple Silicon support - jna version bump"
## Feature request template

I'd like to (officially, quasi-officially?) run neo4j on Apple Silicon machines

**Describe the solution you'd like**
JNA 5.7.0. recently released, has support on Apple Silicon machines. I've run APOC and neo4j instances with the updated library version to seemingly no ill effect. https://github.com/java-native-access/jna/blob/master/CHANGES.md

**Describe alternatives

[2021-02-16 11:32] OliviaYtterbrink commented on #12673
A workaround for this issue would be to prepend the query with `CYPHER runtime=slotted` till the bug has been fixed.

[2021-02-17 10:41] cartwrightian commented on #12672
Thanks for responding, that makes sense, however I'm not sure the warning messages quite hit the mark - I am setting those values but I get the warning message.

[2021-02-18 09:22] inmost-light commented on #12674
Hello @fabio-510 ,

I think this is working as expected and I can reproduce duplication on both 4.1.3 and 4.2.2.

On an empty database, initial `MERGE (s:Tenant:Service{identity:'683b0e50-debf-4e69-b3df-8b22b4068f4c'})` might create duplicates. To avoid that you _must_ add a uniqueness constraint.

The second `MERGE` acquires lock on the `s` node, but that doesn't help with duplicate Pipelines if

[2021-02-18 10:48] sherfert commented on #5002
On the original issue:

[code]

is planned with two `NodeByLabelScan`, joined together with a `Union` followed by a `Distinct`.
This has been the produced plan for years now.

In the upcoming 4.3 release, we will improve upon that by taking advantage of the `NodeByLabelScan`s being ordered by node id, to specialize the `Union` and `Distinct` implementations.

I will close this issue since the orig

[2021-02-18 10:48] #5002 closed, assigned to Lojjs

[2021-02-18 21:01] MichaelCDormann opened #12677 "Optional match with allShortestPaths, list comprehension, and head results in 'Expected NO_VALUE to be a list' Neo4j 4.1.4+"
I discovered that using an `OPTIONAL MATCH` with `allShortestPaths` and then wrapping a `head` around some list comprehension on the result eventually fails when the `OPTIONAL MATCH` does not produce a path. After about the 10th time the query is ran the result is a `Neo.ClientError.Statement.TypeError: Expected NO_VALUE to be a list` error from then on. If you modify the query in any way it works

[2021-02-20 23:19] fabio-s-franco commented on #12674
Hi @inmost-light , thanks for your reply. As I mentioned and it may have not been clear, I am able to spawn a fresh environment (with a single command with a CLI we developed) with the neo4j version of my choice, this means, that in about 10 minutes I am able to create an environment that is roughly composed of the following steps:

1 - Create Kubernetes cluster
2 - Setup all 3rd party services (n

[2021-02-21 12:00] rom-burner opened #12678 "Using unbound return values from multiple REDUCE calls returns wrong/undefined Cypher result"
Using the unbound return values of multiple calls to the `reduce` function in a single expression results in wrong/undefined behaviour that is different between running the same Cypher query in the browser versus using python drivers:
- Neo4j version: 4.1.3, 4.2.2

Steps to reproduce:
[code]
Expected Behaviour:
10

Actual Behaviour:
14

Workaround:
[code]

Obviously my query invoking multiple `red

[2021-02-22 09:18] technige commented on #12678
Hi @rom-burner

I can categorically state that the Python driver has zero knowledge of the _content_ of a Cypher query. In that regard, it is identical to the other drivers, including the JS driver used in the browser. The only parts of the stack that read and parse the Cypher string itself exist on the server side. The results of the query are then shipped back across the network.

So something e

[2021-02-22 10:08] rom-burner commented on #12678
OK thanks i''ll try generate a toy example to replicate the issue with your instrumentation - in the meantime, and this may be a separate issue and for team-cypher, is the 14vs10 result of the addition operator on the return values from the `reduce` function calls expected behaviour?

[2021-02-22 10:53] inmost-light commented on #12674
@fabio-510

It would be useful to compare the output of `EXPLAIN` to see if there are any differences.

`MERGE` only locks nodes that are part of the pattern and were matched earlier in a query. Variable `s` is just introduced in the first `MERGE`, so we don't have anything to lock at that point. It really works just like a combination of `OPTIONAL MATCH` and `CREATE`.

You should see `LockNodes`

[2021-02-22 11:47] klaren commented on #12676
Hello,

We can certainly bump the version and this will be done in the next minor release of Neo4j. As for having official support, currently, we have no plans. That being said, I still think we can strive to have as wide support as possible so if you find anything else that needs to be updated please let us know.

[2021-02-22 11:55] klaren commented on #12672
I can see that. What do you think about:

And similar to the initial heap value.

[2021-02-22 13:18] tuftedocelot commented on #12676
Will do! I appreciate the time and response 👍

[2021-02-22 13:18] #12676 closed, assigned to klaren

[2021-02-23 16:21] rom-burner commented on #12678
So I think there are two issues, the main one being with Cypher and my double use of the `reduce` function.  Secondarily the driver issue I'm encountering stems from running the same query sequentially in a simple loop with an incrementing query parameter in the same session, and returns a different value for a collection after 10 iterations than running the query manually 10+ times in the browser

[2021-02-23 17:17] elR1co opened #12680 "Add lastBookmark method in org.neo4j.graphdb.event.TransactionData"
## Feature request

**Is your feature request related to a problem? Please describe.**

I would like to create a kernel extension, implementing `TransactionEventListener`, to be able to perform actions in before or after commit phases. I would like to create a similar extension to Neo4j streams, but with Rabbitmq as a sink instead of Kafka. In the message I would like to send to Rabbitmq, I would

[2021-02-24 14:55] cartwrightian commented on #12672
Yes, that makes things clear. Thanks!

[2021-02-25 18:00] nhziga opened #12681 "Importing data fails due to non-valid typeId, 53"
- Context: I am importing bitcoin blockchain to neo4j using this tutorial: https://neo4j.com/blog/import-bitcoin-blockchain-neo4j/
- Neo4j version: 3.5.14 *and* 3.5.26, both community version
- Operating system: Ubuntu 18.04.4 LTS
- API/Driver: openjdk-11-jre-headless
- Importing bitcoin block `0000000000000000000abe8a96e397d16173809138ca1b327416386d5cd2f8e1`, transaction `43202883c4e9721c522330b1

[2021-02-27 23:17] matiasmorant opened #12682 "failing query"
I discovered a cypher query that fails in Neo4j versions 4.2.x, and runs in Neo4j versions 4.1.x

Neo4j Version: 4.2.3
Operating System: Windows 10
API: Cypher

## Steps to reproduce

1. create 2 nodes

`CREATE (:person)-[:knows]->(:person)`

2. execute the following query
[code]
## Expected behavior
the query should return a result

## Actual behavior
The query fails with  `ERROR: Neo.DatabaseErr

[2021-03-01 13:25] hagen666 opened #12683 "StackOverFlowError occurs when reducing a List<List<Node>>"
I wanna merge some list like this:

match p = (n)-[*3..3]-(m) where id(n)=164
with collect(nodes(p)) as set1
with reduce(c = [], x in set1| c + x) as fromNodes
unwind fromNodes as x return x

when size of set1 increasing, more than 15000, stackoverflow occurs, the stack is at org.neo4j.values.virtual.ListValue$ConcatList.size(ListValue.java:442) ~[neo4j-values-4.2.3.jar:4.2.3].

I think the size o

[2021-03-01 13:31] hagen666 commented on #12683
The following statement can reproduce the error:

unwind range(0,15000) as xxx
with collect([xxx]) as set1
with  reduce(c = [], x in set1| c + x) as fromNodes
unwind fromNodes as x return x

[2021-03-02 17:50] Mintactus opened #12684 "Neo4j browser 4.2.3 sucks"
Sorry to be rude but

Everything about the recently new updated version of the Neo4j browser is wrong

- Deleting a query is longer
- Show and edit a favourite is longer
-  The query font text sucks for readability ( Most important point )

It's not great at all, it might be a matter of opinion, but I don't think so, something is really wrong with this update.

[2021-03-02 21:39] fabio-s-franco commented on #12674
Thanks again @inmost-light . Sorry for taking so long, had other things to attend to. Anyways. Here it goes:

There is only two differences in the explain for both explains:
1 - Different versions for cypher/planner (4.1 vs 4.2)
2 - The Filter@elements step has its conditional clauses order swapped between the two versions:
  - In 4.1: `s:Service AND s.identity = $autostring_0`
  - In 4.2: `s.iden

[2021-03-04 14:42] sherfert commented on #12678
@rom-burner

I have investigated the issue. Please update to the latest patch versions of 4.1 and 4.2. The bug was fixed in 4.1.7 and 4.2.3, respectively.

You can always double check the changelog to see if recent changes could affect your issue. In this case the corresponding [changelog](https://github.com/neo4j/neo4j/wiki/Neo4j-4.1-changelog) message was: "Fix bug where using aggregation in a r

[2021-03-04 14:42] #12678 closed, assigned to nobody

[2021-03-04 17:17] mnd999 commented on #12683
I agree, the function stack should not depend on the dataset. This looks like a bug, we'll investigate further.

[2021-03-05 04:21] gentlementlegen opened #12685 "No error status when the cypher query was not run through cypher-shell"
When running a cypher query through cypher-shell using a file, no feedback is provided in the console output if the request was successful or not. The `--debug` flag doesn't bring any more details either.

For queries that don't yield output such as SET, it can be troublesome since the user cannot know if the query ran successfully, eg.
```CREATE (n:MyNode) SET n.prop = 'Value'``` => the query wil

[2021-03-08 09:58] LinneaAndersson commented on #12673
@matiasmorant Thanks for reporting this. The bug has been fixed and will be rolled out with the next update. Until then you can use the workaround @OliviaYtterbrink suggested.

I'll close this now but don't hesitate to reopen or open a new issue if there are any other issues.

Regards,
Linnéa

[2021-03-08 09:58] #12673 closed, assigned to nobody

[2021-03-08 11:30] #12672 closed, assigned to klaren

[2021-03-08 11:30] #12675 closed, assigned to mnd999

[2021-03-08 15:13] emmaholmbergohlsson commented on #12681
Hi @nhziga ,
Thanks for reporting this, it seems like you might have run into a problem we haven't seen before. We need some more info to be able to start investigating this.

Does this happen every time you try to import?, and does it fail on the same thing?
Can you provide us with the entire stacktrace of the error?
Some more information about the affected index would also be useful, run `CALL d

[2021-03-08 18:59] pontusmelke commented on #12677
Thanks @MichaelCDormann for reaching out and for the exemplary issue description. We have verified and fixed the issue and a fix should be in the next point release. As a temporary fix you can either do it the way you propose or by appending `CYPHER runtime=slotted expressionEngine=interpreted` to your query.

I'll leave this issue open until a new release is out.

[2021-03-09 00:56] amaaradji commented on #340
It is actually possible to do this using apoc.create.relationship function in APOC, here is an exemple (on the offshore leaks database after importing the csv files)

[code]
there is a SO thread on this too https://stackoverflow.com/questions/38324104/using-parameters-for-create-relationship-in-neo4j

[2021-03-10 08:59] inmost-light commented on #12674
@fabio-510

It's only for `s` actually. The first line of `LockNodes` box shows you all currently available symbols, the second line shows nodes that are being locked. And if we actually end up in that branch during query execution, that means `pipeline` is currently `NULL`.

I don't think so, it would produce the same `NodeByLabelScan`, but you would have to do the branching `MERGE` logic by hand

[2021-03-10 10:00] robobenklein opened #12686 "Theoretically constant-time node insertions always eventually lead to BookmarkTimeout"
When inserting nodes and relationships directly specified by internal IDs, I would expect the amount of time required to insert to be mostly linear with respect to the number of nodes being inserted in that query, however after reaching very large data sizes the insert operations always result in a BookmarkTimeout. (30 minutes to insert 100 nodes times out more than half of the attempts made)

- N

[2021-03-10 15:46] Dacit opened #12687 "Neo4J Scala 2.13 Support"
Neo4j currently doesn't support scala 2.13 (the cypher evaluator breaks):
[code]
This reflects in other issues as well: #12585

Is `2.13` support planned? For which release? Is it going to take as long as the 2.11->2.12 upgrade (#8832)?

[2021-03-11 13:26] survivant opened #12689 "Kubernetes 1.20/Containerd : Invalid memory configuration - exceeds physical memory. Check the configured values for dbms.memory.pagecache.size and dbms.memory.heap.max_size"
I created a new cluster with kubernetes 1.20 and containerd 1.5.0-beta3 and 1.4.4.  I'm trying to deploy neo4j helm chart on that cluster and I'll obtain a crashloop.    The same settings work on my another cluster using docker instead of containerd.

[code]

A created a file : values-test.yaml
[code]

helm install neo4j . -f values-test.yaml

I downloaded the Helm chart from here : https://github

[2021-03-11 13:27] survivant commented on #12689
[code]

I think that config should be enough, I start with a empty database.

[code]

[2021-03-12 22:30] rmacd commented on #10941
I take it `neo4j-admin copy` didn't make it into 4.0.4 (or version after 4.0.4 for that matter)? ;-)

[2021-03-15 11:28] #12683 closed, assigned to nobody

[2021-03-15 13:15] WhoIAmm opened #12690 "Graph draws more nodes and relationships than"
![微信图片_20210315210904](https://user-images.githubusercontent.com/45116001/111158649-3fce2400-85d3-11eb-814a-90757027efe5.png)

As my picture shows up there, I do the query then I get 322 results(rows), but in the Graph window, it seems that all the relationships between n1 and n2 are drawn. How could I just let it draws the 322 results I want rather than all relationships, it would be great that y

[2021-03-15 13:16] WhoIAmm commented on #12690
![Uploading QQ截图20210315211551.jpg…]()

[2021-03-15 13:21] WhoIAmm commented on #12690
I just want 322 to see, but it gives me 900+, please help, please, please

[2021-03-16 00:14] gwvandesteeg commented on #7653
computed properties and triggers sound exactly as to what I'm looking for, but as an FYI joining names with a space.. good luck..
https://shinesolutions.com/2018/01/08/falsehoods-programmers-believe-about-names-with-examples/

[2021-03-16 03:35] WhoIAmm commented on #12690
anyone can help? please.

[2021-03-16 21:55] jacksonps4 opened #12692 "Neo4j doesn't build or run on the arm64 M1 Macs"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

**Is your feature request related to a problem? Please describe.**
I have an M1 Mac with an arm64 processor and I'm u

[2021-03-17 06:36] NAVEENKUMARSKPN opened #12693 "in Security can I DENY TRAVERSE except particular nodes"
Hi Team !!

I have a use case where i have to deny traverse except a particular nodes
lets say i have a nodes Customer A, Customer B and so on here i have to grant traverse only to customer A other than Customer A i have to deny Traverse I dont even know other customer in this case how will grant permission

is there any option like Deny Traverse except Nodes CustomerA

1. Creating role as copy of

[2021-03-17 09:21] arnefischereit commented on #12682
Hi @matiasmorant, I just ran that example you have provided on an empty database using the [docker images](https://hub.docker.com/_/neo4j/) (to make sure it has nothing to do with my environment) of the versions

- 4.2.3
- 4.2.2
- 4.2.1
- 4.1.7

For all versions, the query returns
[code]
of which two rows correspond to the part of the query before the `UNION` and one row to the part after.

[2021-03-17 11:04] varunsharma27 opened #12694 "[Neo.ClientError.Statement.EntityNotFound]:Unable to load NODE with id -22."
Do you no longer support JDBC for latest Neo4j versions?
- Neo4j version: 4.2.3
- Operating system: Remote Paradise Papers by ICIJ from `sandbox.neo4j.com`
- Client OS: Ubuntu 18.04.4 LTS
- API/Driver: Neo4j JDBC Driver [v4.0.1](https://mvnrepository.com/artifact/org.neo4j/neo4j-jdbc-driver/4.0.1)
- **Steps to reproduce**
  - Use statement: `call db.schema.visualization()`
- Expected behavior
  -

[2021-03-18 20:00] kozak-codes opened #12695 "Cursor based pagination with SKIP in Cypher"
**Is your feature request related to a problem? Please describe.**
Implementing cursor based pagination in neo4j is very hard, and numeric pagination with SKIP/LIMIT is limiting. For example, if data updates in the time that the user retrieved the previous data, data could be shown twice. Cursor based pagination is a modern standard which I feel neo4j should also support OOTB, however it does not.

[2021-03-22 07:50] nhziga commented on #12681
Hi @emmaholmbergohlsson,

This happens every time I try to import this specific transaction (`43202883c4e9721c522330b1304bd4c6ee98e85c63991bbde62f721137675a17`) in this specific block (`573479`) in this specific file (`blk01615.dat`), starting at position `37197215`.

[code]

Index 24:
[code]

If there is anything else I can provide please let me know.

[2021-03-22 11:48] mnd999 commented on #12693
Have you tried using GRANT instead of deny? Create a role that needs just CustomerA and only grant TRAVERSE on customer A to that role.

If you are creating a copy of admin, you would need to REVOKE GRANT to remove the existing blanket MATCH permissions.

[2021-03-22 14:04] mnd999 commented on #12687
Thanks for the request, Scala 2.13 is  certainly something we've been discussing but I don't have an answer for when just now.

[2021-03-22 14:08] mnd999 commented on #12692
Thanks for the request, I've raised it with our product team and will let you know what the plan is here when I find out more.

[2021-03-22 21:53] titanous opened #12696 "import fails with IndexOutOfBoundsException in idmapping OffHeapByteArray"
When running `neo4j-admin import`, this error occurs during the node sort phase:

[code]

I'm importing a few hundred million nodes, with `--id-type=INTEGER`. I tried increasing the `HEAP_SIZE` to 70G, but the exact same error ocurred.

**Neo4j Version:** 4.2.3
**Operating System:** Debian buster
**Java:** openjdk 11.0.10

Let me know if there's other information that would be helpful, I can also

[2021-03-23 10:37] mnd999 commented on #12692
Neo4j 4.3, expected mid-year, will be M1 compatible.

[2021-03-23 14:50] elR1co commented on #12680
No feedback so far. Does this feature make sense ?

[2021-03-23 16:18] mnd999 commented on #12695
Thanks for the detailed feature request. I've passed it on to our product team.

[2021-03-24 10:54] emmaholmbergohlsson commented on #12681
@nhziga
The error you are seeing occurs when reading something that has been imported in an earlier step.
One option is of course to start over from the beginning, but that shouldn't be necessary.

So I think that what we should do is rebuild the index instead.
Indexes are auxiliary structures, they can be recreated from the rest of the data in the database.
Since the error occurs when reading fro

[2021-03-24 16:23] nguyenhuuloc304 opened #12697 "Sometimes I got "Failed to obtain a connection from pool within 00:01:00" exception"
Hi All,

I sometimes got "Failed to obtain a connection from pool within 00:01:00" exception from Dotnet Core application. I think this might be issue from NEO4J DB, Therefore, I posted here. I have reviewed code of dotnet driver NEO4J.Driver which I am using. I saw this exception at line 373 https://github.com/neo4j/neo4j-dotnet-driver/blob/1.7/Neo4j.Driver/Neo4j.Driver/Internal/ConnectionPool.cs

[2021-03-25 10:23] rfreydi commented on #12575
Is it normal that in version `4.2.0.0+` of APOC  the file `apoc/ApocConfig` has been moved into `apoc/config/Config` ?
As I try to implement your solution, it still throw me an Error about not finding the file...

![image](https://user-images.githubusercontent.com/21192766/112457689-4b041b00-8d5c-11eb-8a31-4956fca42bf4.png)

And if in my code I try to use `apoc/ApocConfig` it just show me an Error

[2021-03-25 14:08] SaschaPeukert commented on #12669
Hej @matiasmorant,

Once again thank you for reporting this issue. We have fixed the problem in the already released version 4.2.4 and it will also be part of the upcoming release of 4.1.9

I'll close this now but don't hesitate to reopen or open a new issue if there are any other issues.

Regards,
Sascha

[2021-03-25 14:08] #12669 closed, assigned to mnd999

[2021-03-27 08:13] jacksonps4 commented on #12692
Thank you.

[2021-03-29 07:09] arnefischereit commented on #12682
@matiasmorant, we would like to close this issue.
If you still experience this problem, we would need a reproducible test case to proceed.

[2021-03-29 08:04] jennyowen commented on #12692
@jacksonps4 There are actually experimental docker ARM images available here: https://hub.docker.com/r/neo4j/neo4j-arm64-experimental

They're not available on our official docker hub because they're untested (although people report being able to successfully use them).

[2021-03-29 13:57] matiasmorant commented on #12682
I was experiencing this last time I checked. I changed the query I was using to avoid this error. Feel free to close.

[2021-03-30 07:35] arnefischereit commented on #12682
Alright. Thanks for the feedback.
Don't hesitate to reopen or open a new issue once you encounter such a problem again.

[2021-03-30 07:35] #12682 closed, assigned to nobody

[2021-03-30 09:21] klaren commented on #12671
Hello and thanks for reporting,

I've tried to reproduce this on my end, but I do get an exception during installation of the service:

[code]

Judging by the code, we do fall back to other ways of locating java, https://github.com/neo4j/neo4j/blob/4.2/packaging/standalone/src/main/distribution/shell-scripts/bin/Neo4j-Management/Get-Java.ps1#L88 and in my case, it finds it by locating `java.exe` i

[2021-03-30 18:47] andygout commented on #12441
I have encountered this error, both using the Neo4j Desktop browser and the [`neo4j-driver`](https://www.npmjs.com/package/neo4j-driver) npm package (as part of a Node.js application).

### Environment
- Neo4j version: 4.2.1 Community, default runtime (`slotted`)
- Neo4j Desktop 1.4.1
- Operating system: macOS Catalina Version 10.15.7

### Steps to reproduce

Clear Neo4j database:
`MATCH (n) DETAC

[2021-03-31 00:51] zhanghaoipp opened #12698 "run in lustrefs?"
- Neo4j version: neo4j-community-3.5.3
- Operating system: Centos7

The file system in my sever is lustrefs, when I run "neo4j console", it alsways showed error below. I checked the manual, NFS is nt recommended, does it mean lustrefs is not availible? I have not root access in the sever, is it any other way to run neo4j in this sever? Thank you very much!

Active database: graph.db
Directories in

[2021-03-31 04:19] cuigm85 opened #12699 "Some query can make database offline"
- Neo4j version: 4.2.3 and 4.2.4
- Operating system: Linux (RedHat 8)
- API/Driver: cypher-shell
- **Steps to reproduce**

I executed the query below, and the database was down. There are a lot of  `SentenceToDo` node (more than 100,000,000) with `sentence` property.
[code]
At first it works fine, but when I return office next day the database was offline with

`Database "database_name" is unavail

[2021-03-31 07:41] andygout commented on #12441
The issue can be fixed by removing the label in this line:
`OPTIONAL MATCH (person)<-[writerRel:WRITTEN_BY]-(material:Material)`

so that it looks like:
`OPTIONAL MATCH (person)<-[writerRel:WRITTEN_BY]-(material)`

The `:Material` label was used in the initial `MATCH` statement used to identify materials that were then collected into `materials`, so it is a given that each `material` in the `UNWIN

[2021-03-31 15:50] rjbaucells opened #12700 "Neo4j server fails to execute statement with "java.lang.IllegalStateException: NoLock[Pipeline[3]] is already locked""
- Neo4j version: 4.2.4-enterprise
- Operating system: Linux (docker)
- API/Driver: Neo4J Browser

Steps:

* Make sure you have a working docker installation

* Download the [database](https://dcr3gddjqn6ms.cloudfront.net/neo4j-local.zip) (~250MB)

* Unzip package

[code]

* Start neo4j database server

[code]

* Open [neo4j browser](http://localhost:7474/browser/), username: `neo4j`, password: `ne

[2021-03-31 21:11] szarnyasg commented on #12400
Hi, this seems to have been resolved, can you please confirm?

[2021-03-31 23:07] pirate commented on #7225
This issue is getting a bit stale, but I just want to bump it and say there's still a desire for it.

Is there any hope for getting `UNIQUE CONSTRAINT` allowed on relationship properties?

For example in our model we have `(:USER)` nodes that can `[:TIP]`->`(:ARTIST)` nodes, and the TIP edges have a `{uuid}` property that we need to enforce at the database level. This is just one example, but actu

[2021-04-01 06:54] burqen commented on #7225
Hello everyone! Here's an update on this topic. We are far along with the work to have indexes on relationships. This is a necessary stepping stone to have uniqueness constraints on relationships although we haven't started work on that part yet.
I will keep this thread updated.
Thank you so much for your requests!

[2021-04-01 08:03] jiangying000 opened #12701 "Wrong info in console when changing dbms.default_listen_address to 0.0.0.0"
- Neo4j version: 4.2.4
- Operating system: Ubuntu 18.04
- API/Driver: N/A

**Steps to reproduce**
- set `dbms.default_listen_address=0.0.0.0` in neo4j.conf
- start neo4j with `neo4j console`

Expected behavior
- see  `INFO  Remote interface available at http://0.0.0.0:7474/` stdout

Actual behavior
- see `INFO  Remote interface available at http://localhost:7474/` in stdout

[2021-04-01 10:29] ykostsik commented on #12238
Having similar issue with dockerized neo4j:4.2.4
When trying to restore a dump taken from this container, it returns the error:
**Unable to load database: NoSuchFileException: /var/lib/neo4j/data/transactions**
Steps to reproduce:
-dump
`docker run --rm -it  -v "${workdir}"/data:/data    \
                    -v "${workdir}"/import:/import \
                    -v "${workdir}"/logs:/logs     \

[2021-04-03 18:30] acmeguy commented on #12127
apoc is good for dynamic types but useless in some scenarios.
Using it with foreach is - for example - impossible.
It produces a 'Invalid use of CALL inside FOREACH' error

Dynamic typing with MERGE etc. would simplify importing with complex json structures a lot.