[2021-04-06 12:37] mnd999 commented on #12700
Thanks for the report, it looks like a bug s we will investigate and let you know when we have a fix. In the interim, it looks like prefixing your query with `CYPHER runtime=slotted` will work as a workaround.

[2021-04-06 16:04] abbas-gadhia commented on #12575
I get this exception when i use neo4j 4.2.3 with apoc 4.2.0.2

[code]

[2021-04-07 18:13] ivangreene opened #12702 "TransactionImpl#nodesByLabelAndProperties scans all nodes with label if no index matches properties exactly"
The [current implementation of `TransactionImpl#nodesByLabelAndProperties`](https://github.com/neo4j/neo4j/blob/4.2/community/kernel/src/main/java/org/neo4j/kernel/impl/coreapi/TransactionImpl.java#L744-L772) will scan all nodes with a label if there are no indices that include all of the query properties and no other properties. It should be optimized to use partially matching indices (indices wh

[2021-04-07 18:24] ivangreene commented on #12702
I am testing out an internal workaround for this issue, but it only uses indices which contain a subset of the query properties (and not indices which contain properties not in the query): I was unable to find a way to build an index query where some fields could be missing or have any value. That might be a speedbump in the way of using indices which have extra properties

[2021-04-09 14:07] lycheese opened #12703 "Add documentation for proxy settings"
**Is your feature request related to a problem? Please describe.**
When using neo4j behind a proxy, it is necessary to configure the JVM to use it with `dbms.jvm.additional=-Dhttp.proxyHost=<proxy host> -Dhttp.proxyPort=<port>`.
There seems to be no documentation for that and it took me quite some time to get from the "connect timed out" error when using `apoc.load.json` to the solution above.

**

[2021-04-09 14:57] craigtaverner commented on #12702
If you use Cypher, you will get the advantages of a more advanced query planner, which should use the index you expect. From the java API this might look like:

    transaction.execute("MATCH (n:Person) WHERE n.given_name = 'foo' AND n.surname='bar' RETURN n");

The lower level API for `findNodes` is not quite that clever. This could be a performance enhancement for them to consider, but would not

[2021-04-09 15:19] ivangreene commented on #12702
@craigtaverner thanks for the suggestion. While I haven't tried executing Cypher like this as a drop in replacement for findNodes, the reason we are using these Java APIs instead of executing Cypher is mostly for performance reasons. In this case, I am using findNodes as part of a re-implementation of MERGE semantics, because I found that calling `transaction.execute("MERGE (n:Person { ... }")` wa

[2021-04-09 15:32] craigtaverner commented on #12702
@ivangreene The thing is that `MERGE` is slow for a reason. It is pretty hard to ensure that `MERGE` will never create duplicate nodes in a high-concurrency server environment, so a lot of extra work is involved in multiple index lookups and taking locks. If you do not need that level of assurity, then handling the merge in your own code could be fine, and would certainly be faster. But if you wan

[2021-04-09 15:40] ivangreene commented on #12702
@craigtaverner thanks for the insight. I will definitely experiment with this when I get a chance. As of now our merge reimplementation has been sufficient, but Andrew on the neo4j Slack gave me some ideas on how to make it more robust, which I haven't gotten around to testing yet

[2021-04-10 09:30] cmorgner opened #12704 "MATCH with multiple labels returns node with wrong label in Neo4j 4.1 & 4.2"
We are running multiple parallel integration tests against a Dockerized Neo4j database. Each test adds and removes a very similar set of nodes that only differ in one label (a random "tenant identifier"). With Neo4j 4.x we see random test failures that I tracked down to receiving a Neo4j Record with a wrong label coming from the below query.

Neo4j versions: 4.1.8, 4.2.5 (Docker versions 4.1, 4.2,

[2021-04-12 09:21] abbas-gadhia commented on #12575
Here's how i got it to work

[code]
This is a section of my build.gradle.

[code]

[code]

[2021-04-12 11:26] #12685 closed, assigned to nobody

[2021-04-16 08:30] BugGambit opened #12705 "Complains we are writing to two different databases in the same transaction"
## Environment info
- Neo4j version: 4.2.1-enterprise (Docker)
- Operating system: Container-Optimized OS with Docker (cos)
- API/Driver:  neo4j-driver (js) 4.1.2
- **Steps to reproduce**: We are not able to reproduce the error consistently.

## Logs

[code]

It's hard to make sense of the error message as the `databaseName` and `uuid` equals in those two statements, but the `graphId` does not.

W

[2021-04-16 11:41] rudolfschmidt opened #12706 "Cannot create demo database movies"
- Neo4j version: 4.2.2-1
- Operating system: Arch
- API/Driver: Cypher
**Steps to reproduce**
[code]
- Expected behavior

Database creation

- Actual behavior

[code]

[2021-04-17 14:23] mnd999 commented on #12706
The `CREATE DATABASE` command is not available in the community edition, as only a single database is supported. The movies dataset can be loaded into the default neo4j database, or the name can be changed using the configuration file. Further details are here:
https://neo4j.com/docs/operations-manual/current/manage-databases/configuration/#manage-databases-configuration

[2021-04-18 04:28] strangeman375 opened #12707 "Failed to invoke procedure gds.alpha.scc.write: Caused by: java.lang.ArrayIndexOutOfBoundsException: -1"
Hi.
I've got an error:
Failed to invoke procedure gds.alpha.scc.write: Caused by: java.lang.ArrayIndexOutOfBoundsException: -1

Version of Neo4j: 3.5.26
Lib versions:
neo4j-graph-algorithms-3.5.11.0
neo4j-graph-algorithms-3.5.14.0
neo4j-graph-data-science-1.1.6

Just now i'm trying to collect additional info.
Neo4j log do not contain error and stack trace.

Give me some advice, how to collect more

[2021-04-19 07:20] dotStart commented on #12663
Thanks again for raising this issue!

We've addressed the problem in version 4.2.5. You should now be able to request both `application/vnd.neo4j.jolt` and `application/vnd.neo4j.jolt+json-seq` via the `Accept` header to get the correct formats respectively.

[2021-04-19 07:20] #12663 closed, assigned to nobody

[2021-04-19 08:23] mnd999 commented on #12707
Thanks for the report, this repository is for the core database. The correct repository for this issue is graph-data-science and I see you already opened an issue there. Therefore I will close this one.

If you believe this to be incorrect, please feel free to reopen this issue.

[2021-04-19 08:23] #12707 closed, assigned to nobody

[2021-04-19 08:25] mnd999 commented on #12693
As we have not heard anything back on this for some time, I will close for now. Feel free to reopen it if you are still having problems.

[2021-04-19 08:25] #12693 closed, assigned to mnd999

[2021-04-19 09:24] strangeman375 commented on #12707
Thanks @mnd999
It is not clear to me, what causes the error, so I opened an issue in both places, just in case.

[2021-04-19 10:03] johannessen commented on #12663
That’s great news, thanks!

FYI, it seems that the [Jolt docs](https://neo4j.com/docs/http-api/current/actions/result-format/) haven’t yet been amended to reflect this change. (See also #12660 for another Jolt docs issue.)

[2021-04-19 14:21] tinwelint commented on #12696
Thanks for reporting. First of all, would you mind trying the import without changing any CSV data and no arguments, exception instead using `--id-type=STRING`?

[2021-04-19 14:27] tinwelint commented on #12696
I'll see if I can hand you a patched version which could provide more insight

[2021-04-20 08:52] mnd999 commented on #12705
Thanks for the report, I think I've been able to reproduce the issue by creating a new database concurrently with a transaction performing multiple writes. Is it possible this is the issue you have observed?

[2021-04-20 10:14] PetrJanouch commented on #12702
@ivangreene
I think the question about index selection in core API has 2 parts:

1. why do we not select a composite index that partially matches?
For example there is a composite index on a last_name and first_name and just last_name is used in find method.
The reason why we cannot use such index has a technical background. Currently our indexes don't contain null values. So a user with just last

[2021-04-20 10:45] loveleif commented on #12704
Thanks for reporting this @cmorgner and sorry for the inconvenience! We're investigating. Could you provide some details about the creates and removes that you mentioned is part of your testing?

[2021-04-20 14:22] BugGambit commented on #12705
@mnd999 Can you describe that further?
Is this correct: a transaction `A` creates a new database `X` while transaction `B` is performing multiple writes to another database `Y`?

[2021-04-20 15:09] ivangreene commented on #12702
@PetrJanouch thanks for the explanation.

1. This makes a lot of sense. It would indeed be bad to miss data, and given this limitation it sounds like there is currently no possible benefit to using an index with other properties not included in the query, because to ensure accuracy we would have to scan through all nodes to find those with missing values anyway.

2. The distinction between Core AP

[2021-04-20 15:36] mnd999 commented on #12705
Yes, that's correct. The create database has to occur between two writes in the other transaction as far as I can tell. This is definitely a bug and I will merge a fix for it which will go into the next 4.2.x release.

I'm hoping this is the same issue you are observing so I want to check whether you have operations affecting the database catalog going on when you saw the errors. If you did, it's

[2021-04-21 09:01] HansonZhu-bd opened #12708 "Server can't consume tcp receive queue data cause client connect fail!"
When I use Java Driver to connect neo4j server and write data with exactly-once cypher query,the client often fail to connect server after sender write cypher query block.And use cypher-shell run client print block query string, it blocks too.

- Neo4j version: 4.2.2
- db.memory.config
![image](https://user-images.githubusercontent.com/45021836/115524062-4df11d80-a2c0-11eb-986e-b187894bc0b6.png)

[2021-04-21 15:12] cmorgner commented on #12704
Hi, thank you for investigating the issue!

Here is the full output (with Cypher logging enabled) for the two tests. Each test class is run in a different JVM, and each test class determines a random label string that is added to all queries, working as a kind of a tenant identifier. After each test method, the database is wiped using the following statement:

    MATCH (n:UBNUMLKBWX) DETACH DELET

[2021-04-22 01:18] HansonZhu-bd commented on #12708
![image](https://user-images.githubusercontent.com/45021836/115641266-46c32180-a34b-11eb-995a-1cf38852d5db.png)
Or this config is the reason of blocked connect?

[2021-04-22 16:25] loveleif commented on #12704
Hi again @cmorgner, thanks for being so cooperative! We made a quick and naive attempt to reproduce this in our own load testing, but failed. I would like to make a more serious effort and mirror your setup more closely and let that run for a longer period. If you have the time I would greatly appreciate any more information you could provide to increase the chance of reproducing the error.

## Un

[2021-04-22 18:57] cmorgner commented on #12704
Hi @loveleif here are my answers to your questions, and some additional info:

## Answers

### What hardware is used?
We are running our tests on our local machines and our CI server. Mine is an Intel Core i7-5820K, our CI server is an Intel Xeon E5-1620 v3. There are some other machines where the tests run, but those two are the main machines used to run the tests.

### A code snippet how you int

[2021-04-23 10:49] dotStart commented on #12663
Sorry about that! Seems like our documentation deployment lagged a bit behind the actual product release. Everything should be updated with the new behavior now. :smile:

[2021-04-23 14:04] rudolfschmidt commented on #12706
Would be great if you could add this info into the demo description to get less confusion. Also adding multiple databases should be supported in the community version because it's a crucial and basic operation.

[2021-04-23 17:25] lifeisbard commented on #10941
Please implement `neo4j-admin copy` in the Community Edition. The unused properties that appear in the Neo4j Browser autocomplete and "Property Keys" section of the "Database" tab are clutter. A tidy virtual workspace supports efficiency. Thank you in advance.

[2021-04-25 14:44] cmorgner commented on #12704
@loveleif I was testing the new 4.3.0-alpha01 Java driver today (it still has the bug), and I managed to capture the erroneous state in the database, so I now have an archive of the data/ folder that shows the bug.

## Steps to reproduce:
- copy the data.tar.gz archive into a newly extracted Neo4j Enterprise 4.2.5 folder
- extract the archive
- start the database
- log in with neo4j/admin
- run th

[2021-04-26 07:32] loveleif commented on #12704
Thank you @cmorgner! We're prioritising this, I will post updates here.

[2021-04-26 07:41] cuigm85 opened #12709 "Neo4j browser can not display backslash"
- Neo4j version: 3.5.28, 4.2.4, 4.2.5
- Operating system: Linux
- API/Driver: Browser
- **Steps to reproduce**
![](https://github.com/cuigm85/box/blob/neo4j/neo4j_backslash.png?raw=true)
- Expected behavior
`RETURN "\\"` should return `"\"`
- Actual behavior
`RETURN "\\"` return `""`

[2021-04-26 08:51] FrancescoSaverioZuppichini opened #12710 "Neo4j import folder not linked in Docker volume"
- Neo4j version: latest from Docker hub
- Operating system: Ubuntu 20.04 with Docker/Docker-compose
-
## Bug report
If I mount a volume to `/import` the data doesn't appear in the container and if I write in the `/import` folder in the container nothing appears in the host folder.

This is my docker-compose file
[code]
### Steps to reproduce
1. Pull the image: `docker pull neo4j:latest`
2. Create

[2021-04-26 08:51] loveleif commented on #12704
The database dump fails our database consistency check (which is no big surprise). The question remains how it ended up in this state. We (the cypher team) have handed the issue to our kernel team for further investigation. Thanks again!

[2021-04-26 10:52] mnd999 commented on #12706
Sure, are you able to link the relevant example in the docs and we'll take a look and see what needs to be updated? We have a lot of tutorials so I'm not sure which one you are using.
Whether to allow multiple databases at the same time in community is a product level decision - I'll pass on your feedback to the product team.

[2021-04-27 08:03] Roxling commented on #12101
An attempt to reproduce this shows that the error message now is `CommandFailedException: You do not have permission to load the database.` which is accurate. This has probably been the case since 4.0, but only verified on the latest version. I consider this solved.

[2021-04-27 08:03] #12101 closed, assigned to nobody

[2021-04-27 10:30] conker84 commented on #12694
@varunsharma27 please switch to the jdbc bolt driver in order to overcome that problem

[2021-04-27 10:32] conker84 commented on #12694
@varunsharma27 in order to use the bolt driver you must simply change the connection string from `http://` to `bolt://` or `neo4j://`

[2021-04-28 09:24] FrancescoSaverioZuppichini opened #12711 "How to correct share between host and the container the `import` folder"
Dear all,

I am wondering how to correctly write and read from my host user and the docker neo4j image the `import` folder.

This is my `docker-compose` file

[code]

When the container starts the `import` folder is created but from my host user I cannot write and read data in it. Is there a possible solution?

Thank you.

Cheers,

Francesco

[2021-04-28 18:07] manueldeprada opened #12712 "Illegal reflective access in embedded neo4j 4.2.5 official example."
Running the example EmbeddedNeo4j from your examples prints an illegal reflective access warning.

- Neo4j version: 4.2.5
- Operating system: Ubuntu 20.04, OpenJDK 11
- API/Driver: Neo4j Embedded 4.2.5 from Maven

Open a new project, include neo4j:4.2.5 from maven and copypaste the official Neo4j example from your github page: https://github.com/neo4j/neo4j-documentation/blob/4.3/embedded-examples

[2021-04-28 18:23] rjbaucells commented on #12700
Any progress on this?

I cannot use the workaround since my CYPHER queries are dynamically generated and I do not have control over it.

[2021-04-28 18:32] laxmimerit opened #12713 "Parallel Connection in Neo4j Community Version"
Hi,
I am evaluating the Neo4j community version with the data which have millions of nodes and relationships. I wrote a thread application to write data in parallel. Four threads are working parallel and total update time reduced by 4 times but updated
 the number of nodes is also reduced by 4.
Seems like parallel writing is not happening. There are no dependencies between data running in each thr

[2021-04-28 21:22] varunsharma27 commented on #12694
Well, our connector is designed for Neo4j HttpDriver so bolt connection with `org.neo4j.jdbc.bolt.BoltDriver` causes a fair amount of issues. Would you recommend moving over to a bolt connection rather than http?

Using the `db.schema.visualization()` query:
[code]

Validate Request (this ):
[code]

[2021-04-29 09:12] conker84 commented on #12694
@varunsharma27 You cannot use the http driver to make that call because of the limitation of the HTTP endpoint.

Just remove `START n=NODE(*)` from your query

[2021-04-30 09:51] cvanelteren opened #12714 "Neo4j does not start"
# Problem
`neo4j start` yields errors
<details> <summary> output </summary>
<p>

[code]

</p>
</details>

# System info
- Neo4j version: 4.2.2-1
- Operating system: Linux 5.11.16 sway

# steps to reproduce
`yay neo4j-community && sudo neo4j start`

# Expected behavior
It runs a neo4j server

[2021-04-30 14:21] mnd999 commented on #12714
Is looks like, from your steps to reproduce you are using Arch Linux AUR packages. Unfortunately, we do not produce official packages for Arch Linux, so you may wish to follow up with the AUR package maintainer and see if they can help.

Our official Linux installation instructions can be found here:
https://neo4j.com/docs/operations-manual/current/installation/linux/

[2021-04-30 17:17] fssrepository opened #12715 "apoc.import.json importing style"
I'm generating lots of test data to try out how apoc library works, but apoc.import.json function is importing a json file, which is not a json format.

It imports a jsonArray, however jsonArray is like

[{},{}]

format,

but it's loading from

{}
{}

format, which i can't even format with VsCode.

Can you pls. fix this, to load a jsonArray instead. You can cut square brackets and commas, but it w

[2021-04-30 17:27] fssrepository commented on #12715
Other thing is, i'm not sure what this method is doing behind the scene, but i was generating the 1000 record at least 1000 times faster, than the time what was needed to load. We are talking about some seconds, but it took me milliseconds to generate it.
Very likely i'm able to make the in-memory graph way faster than to save something to neo4j db. At the moment as graph dbs are a tottally differ

[2021-04-30 19:06] ahmadalfy commented on #12692
Even that doesn't work:

[code]

[2021-05-01 07:12] cvanelteren commented on #12714
Ah ok I will contact the maintainers and in try the tar install. Just for my understanding the error refers to a java sdk error, do you have any pointers where I myself may look? I have java 11 set as active.

[2021-05-02 21:50] jsmith commented on #12692
@ahmadalfy the experimental version worked for my (simple) app :)

[code]

[2021-05-03 07:01] emmaholmbergohlsson commented on #12681
@nhziga Closing this issue since a solution has been provided and we haven't heard anything in a while. If for some reason this didn't solve your problem, then please reopen this issue again.

[2021-05-03 07:01] #12681 closed, assigned to nobody

[2021-05-03 08:12] cvanelteren commented on #12714
For others with the issue; neo4j-desktop works fine on aur. Closing this issue!

[2021-05-03 08:12] #12714 closed, assigned to mnd999

[2021-05-03 09:21] henriknyman commented on #12700
@rjbaucells A fix has already been merged some time ago and will be included in the upcoming 4.2.6 release. Unfortunately I cannot give you a release date yet, but you could reach out to Neo4j Support.

[2021-05-03 10:58] tinwelint commented on #12704
Hi @cmorgner I'm looking into this now. I initially tried to reproduce this and got the tests running and I tried to run two different JVMs, one running AccessControlTest and the other PermissionResolutionTest on and on until failure and they ran for a very long time without failing.

@loveleif previously stated that the database dump you sent had inconsistencies, but that's not true since the inc

[2021-05-03 11:22] cmorgner commented on #12704
Hi Mattias,

I just downloaded the data.tar.gz from https://structr.com/public/share/data.tar.gz, extracted the archive in a newly extracted neo4j Enterprise 4.2.5, started the database with `bin/neo4j start` and got the following output when executing `MATCH (n:NodeInterface:AJSNPSDMWP:SchemaNode:NodeInterface) where n.name = "MailTemplate" return n`.

![Screenshot_2021-05-03 neo4j bolt localhost

[2021-05-04 07:50] jennyowen commented on #12692
@ahmadalfy we don't push a `latest` tag to the experimental branch, so you need to specify the version you want when pulling. That's why `neo4j/neo4j-arm64-experimental:4.2.5-arm64` will work but `neo4j/neo4j-arm64-experimental:latest` will not.

[2021-05-04 12:58] mnd999 commented on #12715
@fssrepository  Thanks for the report, can you open this issue against APOC as this issue belongs that library. This is the correct repository https://github.com/neo4j-contrib/neo4j-apoc-procedures.

[2021-05-04 12:58] #12715 closed, assigned to nobody

[2021-05-04 13:06] mnd999 commented on #12711
This sounds more likely a docker-compose question than a neo4j core database one. You might be better asking on our neo4j-[community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j).

[2021-05-05 07:51] mnd999 commented on #12705
Should be resolved by bb5542e2e4ea3d3ea0df693bfc9182591805de7d / Neo4j 4.2.6

[2021-05-05 07:52] #12705 closed, assigned to mnd999

[2021-05-05 10:10] mnd999 commented on #12713
I don't think we can help to investigate this without more information, we would at least need to look at your query and schama (what indexes / constraints you have).

[2021-05-05 11:52] BugGambit commented on #12705
Thanks

[2021-05-05 12:42] magaton opened #12716 "Temporal Functions are not Locale sensitive"
**Is your feature request related to a problem? Please describe.**
Currently, all temporal functions work only according to ISO standard, which is how weeks are calculated in Europe, but not in US, Canada, etc.

**Describe the solution you'd like**
I would like the temporal functions to accept user.country and user.language environment variables and resolve the first day of the week and when the f

[2021-05-05 12:43] klaren commented on #12671
Closing due to inactivity. Feel free to open it if the problem still persists.

It might work with https://github.com/neo4j/neo4j/commit/63aaea8a116b5f782a2fd7090a454cfa23d1d841 which will be in the next release.

[2021-05-05 12:43] #12671 closed, assigned to klaren

[2021-05-05 13:36] mnd999 commented on #12716
Thanks for the feature request, I have passed it to the product team.

[2021-05-05 14:27] magaton commented on #12716
I have demoed here how env variables are picked up when constructing default locale and change the week order number (result)
https://github.com/magaton/week-number

[2021-05-06 02:11] DachuanZhao opened #12717 "Cypher expression parser does't translate type when the type is node's class name"
## Guidelines
- Neo4j version: 4.2.5
- Operating system: docker
- API/Driver: neo4j 4.2.1 python3.8

[code]
- Expected behavior
```c:type``` should be translated to ```c:Compound``` , ```c:Disease``` and ```c:Protein```

- Actual behavior
- ```c:type``` isn't translated to  ```c:Compound``` , ```c:Disease``` and ```c:Protein```

[2021-05-06 07:29] mnd999 commented on #12717
This is expected, labels form part of a structural type and as such cannot be set in this way. Please see the types documentation here:

https://neo4j.com/docs/cypher-manual/current/syntax/values/#structural-types

If you reach out to our neo4j-community forums or on our [discord](https://discord.gg/neo4j) you should be able to get some help with your data load.

[2021-05-06 07:29] #12717 closed, assigned to nobody

[2021-05-07 04:23] jaedag commented on #12609
Thanks @burqen that was exactly the issue. Sorry it has taken so long for me to respond.

[2021-05-07 13:36] OtsoHelenius commented on #12479
I would also appreciate support for constraints that are more akin to OCL, and also not tied to just the CREATE statement but any transaction that attempts to change the property values. Support for enum-like assertions and bounding values would both be tremendously helpful.

[2021-05-08 16:08] TonyHenrique opened #12719 "Is the heap not being released?"
I am having a problem with Neo4j:

I start the neo4j database and it looks good, handles all the queries with no apparent problem:
![image](https://user-images.githubusercontent.com/6307623/117547093-227e6a80-b004-11eb-80da-a3ce1a26c203.png)

But the heap usage keeps growing. The minimum on the chart of the used Heap grows slowly every time; After some hours the graph looks like this:
![image](htt

[2021-05-09 09:37] adnanmuttaleb opened #12720 "Mishandling of properties upon creation Cypher"
When I create a new Node of specific type, a property that I did not specify get added and one I did specify is deleted.

Example Cypher query (taken from "**Code**" tab of `PROFILE`):

[code]

While  In the "**Text**" tab I have:

[code]

Notice that `attachment_types `does not exist anymore and it is replaced by `links_clickable`.

- Neo4j version: 3.5.23
- Operating system: Ubuntu
- API/Driver:

[2021-05-10 06:13] #12700 closed, assigned to nobody

[2021-05-10 07:04] cmorgner commented on #12704
@tinwelint any update on this? I checked the uploaded archive again, and I'm pretty sure that it contains the labels AJSNPSDMWP or SMKCPECNKG, can you confirm or deny that?

[2021-05-10 11:12] tinwelint commented on #12704
Thanks for the tenant IDs there, I haven't had time to work on this, but hopefully some time this week!

[2021-05-11 14:44] ctytgat opened #12721 "performance issue after upgrade 3.5 => 4.2"
This issue is described in following community thread:

https://community.neo4j.com/t/weird-performance-issue-after-upgrade-3-5-4-2/31464

Looks like a query-planner related problem.

It's still there with Neo4j 4.2.6.

[2021-05-12 02:15] ghost opened #12722 "gds.list is unavailable because it is sandboxed and has dependecies outside of sandbox"
my neo4j version is 4.2.5 and gds version 1.5.1
neo4j config file already added this:
dbms.security.procedures.unrestricted=gds.*,apoc.*
but still got this error

can somebody help?

[2021-05-12 02:32] ghost commented on #12722
I fixed this error by changing the config to:
dbms.security.procedures.unrestricted=jwt.security.*,apoc.*,gds.*

[2021-05-12 02:32] #12722 closed, assigned to nobody

[2021-05-12 06:22] mnd999 commented on #12720
Thanks for the report. Firstly, have you tried running the consistency checker? Does it pass?
https://neo4j.com/docs/operations-manual/current/tools/consistency-checker/

[2021-05-12 08:51] mnd999 commented on #12721
Thanks, we'll take a look.

[2021-05-12 11:10] pelletier197 commented on #12575
@abbas-gadhia 's solution worked. The important part is

[code]

With the classifier "all"

More details can be found on [this issue](https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1825).

And I'll be closing this, since there is [an issue](https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1656#issuecomment-770720804) that aims to add better documentation.

Thank you all

[2021-05-12 11:10] #12575 closed, assigned to nobody

[2021-05-12 17:26] BrettKnoss opened #12723 "Feature Request Integration to Jupyter or Pluto Notebooks"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

Notebook environments, where I can enter markdown or real format text, along with being able to code and visualize da

[2021-05-12 19:12] rjbaucells opened #12724 "Be able to assume roles in connection when appropriate permissions allows it"
Neo4J 4.x allows the creation of fine-granted access control on graphs (or subgraphs) but in order to enforce it requires users to connect to the database using its own credentials. This can be a solution for a small set of users (and or desktop applications), but in a web application with thousands of users this can be a problem. Normally in web applications all connections use only one user to c

[2021-05-13 07:26] mnd999 commented on #12723
Thanks for the feature request, I've passed it on to the product team

[2021-05-13 07:27] mnd999 commented on #12724
Thanks for the feature request, I've passed it on to the product team

[2021-05-13 17:23] mnd999 commented on #12096
This is a very old issue we haven't heard anything back on for some time so I will close for now. If it's still a problem, feel free to reopen.

[2021-05-13 17:23] #12096 closed, assigned to Hunterness

[2021-05-14 07:59] Hunterness commented on #12287
So an update from the Cypher team:
* We updated the Cypher command for index creation in 4.0 (to introduce naming indexes, name is optional and will get generated if left out) which also included starting to throw errors for creating the same index twice: `CREATE INDEX index_name FOR (n:Label) ON (n.prop)`
* We also introduced a new drop command to drop by the name which throws an error when dropp

[2021-05-14 10:50] marcello-dev opened #12725 "Creating a user (in Java) with an invalid name returns no error"
Running the following query in the Neo4J sandbox (or Neo4j server in general) returns this error:

![image](https://user-images.githubusercontent.com/55074569/118261348-fc663800-b4e5-11eb-948f-d52d7f583fa7.png)

But running the same query in Java **does not** return an error:

![image](https://user-images.githubusercontent.com/55074569/118259801-2880b980-b4e4-11eb-886a-8fc798153304.png)

`UserRepo

[2021-05-14 14:41] mnd999 commented on #12725
As per the [naming rules ](https://neo4j.com/docs/cypher-manual/current/syntax/naming/), the username 'a-b' is legal, but it needs to be escaped using backticks, e.g. `CREATE USER `a-b` SET PASSWORD 'pass';` I am not familiar with the Java library you are using, but I would expect it is doing the correct escaping behind the scenes.

[2021-05-14 14:41] #12725 closed, assigned to nobody

[2021-05-17 08:08] tinwelint commented on #12704
Hi again, I believe I've found an issue in our low-level cursors where a node cursor may sometimes incorrectly say "true" for a hasLabel(label) call. Investigating further!

[2021-05-17 09:50] tinwelint commented on #12704
I have a fix and it's confirmed to work on your example database too. I'll ping you on this issue when it's been merged.

[2021-05-17 12:41] cmorgner commented on #12704
That's great news, thank you very much! :)

[2021-05-17 15:08] sherfert commented on #12721
@ctytgat

This sounds indeed like a problem related to replanning, but is going to be very hard for us to reproduce.

As has been asked in the linked thread already: Can you turn that into a reproducible test?
Ideal for us is a Java test using [TestDatabaseManagementServiceBuilder ](https://github.com/neo4j/neo4j/blob/4.2/community/community-it/it-test-support/src/main/java/org/neo4j/test/TestData

[2021-05-18 03:05] czpmango opened #12726 "Integer overflow check"
**Neo4j Version:** 4.2.4
**Operating System:** MacOs
**API:** Cypher

### Steps to reproduce
[code]
### Expected behavior
`return --9223372036854775808` and ` return 9223372036854775808` behave the same.

### Actual behavior
`return --9223372036854775808` did not throw an error.

[2021-05-18 06:31] adnanmuttaleb commented on #12720
@mnd999  Thanks for the response, I run it yesterday and it passes successfully

[2021-05-18 07:17] adnanmuttaleb commented on #12720
@mnd999 After restarting all neo4j nodes, the problem was solved. But we could not locate the true cause of the problem.

[2021-05-18 14:33] tinwelint commented on #12704
The PR has now been merged, but not yet sure (nor in control of) when next 4.2.x release comes out

[2021-05-18 14:48] cmorgner commented on #12704
Ok, thanks for the notification! When the next version comes out, I will change our test setup back to 4.2 and let you know the results! :)

[2021-05-18 16:58] tinwelint commented on #12704
OK, and if you wonder 4.1 and 4.3 will also get this fix applied (earlier versions didn't have this issue)

[2021-05-19 01:18] InverseFalcon commented on #12719
As of Neo4j 4.2.x, I believe, the community edition should allow you to use `:queries`, `CALL dbms.listQueries()`, and `CALL dbms.listTransactions()`. If you use those, can you see if the transactions linger or build up as the memory appears to leak? If so, then there's an issue here on either long-running queries (likely requiring tuning) or on properly consuming the results and closing resources

[2021-05-19 01:26] TonyHenrique commented on #12719
After all day today, right now I ran this

`CALL dbms.listTransactions()`

[code]

`CALL dbms.listQueries()`

[code]
Right now the Halin shows me this Heap usage, is not getting below 1.2G. If I restart the Database then the Heap starts to getting to minimum about 300MB

![image](https://user-images.githubusercontent.com/6307623/118743387-a7e5f400-b828-11eb-90f0-425d64c39c5f.png)

About the (bad)

[2021-05-19 06:31] samakshjain commented on #12330
Bump

[2021-05-19 07:30] aldearle commented on #4334
I would like to be able to do this too, for similar reasons. I am going to generate strings containing the label parameters. This is clearly a hack to get around incompleteness in the design since you could do this for all the parameters not just the labels.

[2021-05-19 07:56] mnd999 commented on #12726
Interesting, it looks like it's not  applying the `--` and treating it as `-`. If I do `RETURN 0--9223372036854775808` it does become an expression and I get the error.

[2021-05-19 08:07] mnd999 commented on #12720
I don't think there is much more we can do to investigate if the problem has gone away. Unless there is a copy of the database in the 'bad' state. Shall we close this for now? Please reopen if the problem reoccurs and we need to investigate further.

[2021-05-19 14:17] TonyHenrique commented on #12719
Today, the Database was Restarted the Heap minimum was about 200 and 300MB and now, under user load, this is the Heap chart, with minimum between 400 and 500 MB
![image](https://user-images.githubusercontent.com/6307623/118828464-adc4ef00-b893-11eb-87cd-837408419b29.png)

By my experience I know that after about 30 hours under this load, the Heap will grow until it gets OOM.

[2021-05-20 15:40] TonyHenrique commented on #12719
I had to put a scheduled task to restart the database every day at dawn.
I would like a solution on this because it is requiring to have a instance with too much RAM to handle those requests, but based on the heap usage incrementally not being released I guess that when this get fixed I could have much lower memory requirement.

[2021-05-20 23:24] TonyHenrique commented on #12719
How can I export the data so I can import into neo4j 3.x again?
Is there a way using the neo4j browser to download the whole data as a TXT file with all the Cypher commands that we could use to recreate the whole graph data in a blank database?
I was using neo4j 3.x and upgraded to 4.x . I believe that downgrading the database would allow me to have more Heap available, because I suspect that this

[2021-05-21 10:19] mnd999 commented on #12719
You could certainly try `db.clearQueryCaches` to see if that helps, otherwise it may be a case of taking a heap dump and seeing what is filling up the heap.

[2021-05-21 13:04] TonyHenrique commented on #12719
Hey!
`CALL db.clearQueryCaches();`
It looks like this solved the issue! Now the Heap looks good.
I will put it as a scheduled task and monitor for the next day and see if this solution stabilizes.

Thank you very much! Now it is looking good! Graphs are awesome.
![image](https://user-images.githubusercontent.com/6307623/119141315-7a14d100-ba1b-11eb-8719-4951fe711baf.png)

[2021-05-22 02:07] TonyHenrique commented on #12719
I tried it all day, but it does not seems to solve the issue.
I make a lot of requests using JMeter, then `CALL db.clearQueryCaches` but the Heap never returns to the initial levels. So in about 30 hours the Database would hit an Out of Memory.
This would require a bigger RAM, but I would like a way to the Heap to return to initial levels so I do not need to have increase the RAM just because the

[2021-05-23 00:09] TonyHenrique commented on #12719
Well after some hours running, today is saturday and we have few users and queries, even after `CALL db.clearQueryCaches` a few times, the Heap does not fall to original levels about 100MB anymore. So to run safely (requiring a restart every dawn), I will have to increase RAM. I would like a solution for this Heap issue.

![image](https://user-images.githubusercontent.com/6307623/119243931-ba6e6f0

[2021-05-23 19:20] 19barsav opened #12727 "Desktop 1.4.5 will not run installation or open after download."
Which versions of our products are you using?
**Neo4j Desktop V. 1.4.5**
What operating system are you on?
**Windows 10 Home - all updates installed**
Are you working with a cluster or on a single machine?
**Single Machine**
What errors are you seeing and what solutions have you tried already?
**I can't open it at all. I installed it yesterday and it opened after it installed and prompted for the

[2021-05-24 06:36] pymatffm opened #12728 "Please see the attached cause exception "/var/lib/neo4j/certificates/neo4j.cert (No such file or directory)""
I'm starting neo4j from Docker. What worked for months, no longer works. Coincidently I had storage issues with my Macbook pro, so I did some cleaning. Not too sure of the sequence of events what I did, however I am now getting this traceback:

**_Starting Neo4j.
2021-05-24 06:07:19.740+0000 INFO  ======== Neo4j 3.5.28 ========
2021-05-24 06:07:19.763+0000 INFO  Starting...
2021-05-24 06:07:39.645

[2021-05-24 11:29] #12704 closed, assigned to loveleif

[2021-05-25 07:28] LinneaAndersson commented on #12720
@adnanmuttaleb  Thanks for the report. I wasn't able to reproduce it and as it seems to have been solved I will close this issue for now. As @mnd999 writes, feel free to reopen it if the problem reoccurs.

[2021-05-25 07:28] #12720 closed, assigned to nobody

[2021-05-25 08:36] mnd999 commented on #12727
Thanks for the report. Unfortunately,  this is not the correct repository for Neo4j Desktop. Please head over to https://github.com/neo4j-devtools/neo4j-desktop and open an issue there.

[2021-05-25 08:36] #12727 closed, assigned to nobody

[2021-05-25 14:01] panosprotopapas commented on #7203
Since the neo4j image doesn't include  `curl` by default, I would suggest the use of `wget` (which is included) if curl is not otherwise needed. Especially for CI/CD situations where customizing a public image might require some more work.

[2021-05-26 16:46] TonyHenrique commented on #12719
I put a scheduled task to clear the Query Cache every 15 minutes and then all requests got working well with no Heap issues or Database Out of Memory errors. This allowed me to use a smaller and more viable machine for the same database.
Thank you very much for your help, Mark @mnd999  !

[2021-05-27 07:24] mnd999 commented on #12719
If the query caches are filling up, it might be worth examining your queries to see if you can make better use of parameters, this may also reduce the amount of work the planner has to do and make things faster overall.

[2021-05-27 12:28] klaren commented on #12712
Hello and thank you for reporting.

This warning is printed by the JVM because neo4j accesses internal JDK APIs, for example compiling queries to machine code to make them fast. This is just a warning and does not affect the functionality, and can safely be ignored.

The statement about `All illegal access operations will be denied in a future release` will be java 17.

If you really want to hide

[2021-05-27 12:30] klaren commented on #12621
Closing due to inactivity. Feel free to open it if you have more information to share.

[2021-05-27 12:30] #12621 closed, assigned to nobody

[2021-05-27 13:56] tdoan2010 commented on #9726
Is there any news? Version 4.2.4 still has this bug.

[2021-05-27 14:12] topher235 opened #12729 "Cannot set up causal cluster using docker-compose when services have underscores in their name"
I discovered that when I define a Neo4j Core service name in docker-compose with an underscore, the Cores are not able to find each other. For example, when I find and replace all `neo4j_core01` -> `core1`, `neo4j_core02` -> `neo4j_core2`, and `neo4j_core03` -> `core3`, the services are able to find each other and the cluster starts.

I tried letting it run for ~5 minutes, but the only log I saw w

[2021-05-27 16:30] maniappan opened #12730 "neo4j.service: Main process exited, : java.lang.VerifyError: Cannot inherit from final class"
Hi,
Neo4j fails to start after working for couple of days, no change in environment or plugins to Neo4j.

- Neo4j version: 4.1.9 Community edition
- Operating system: Ubuntu 20.04 on a 32GB AWS instance
- Open JDK 11

- **Steps to reproduce**
Installed using the debian package. Service was working fine for couple of days after installation. We started ingesting data and suddenly stopped working.
E

[2021-05-27 17:27] AndrewHannigan commented on #6281
@spacecowboy Is this still the case?

[2021-05-28 19:57] nashid commented on #12692
I faced the same problem. But `neo4j/neo4j-arm64-experimental`do work.

[2021-05-28 22:30] jhanggi commented on #12692
The experimental branch seems to only be the community edition. I was able to build the enterprise edition by cloning the repo and following these directions: https://github.com/neo4j/docker-neo4j/blob/master/DEVELOPMENT.md (note there are special instructions for the arm64 images).

Then the other secret sauce was to re-tag it so it matched my project's docker-compose: `docker image tag test/4991

[2021-05-31 07:28] klaren commented on #12719
You can also lower the configuration value `dbms.query_cache_size` so neo4j will cache fewer queries. Default is 1000.

[2021-05-31 11:29] #12726 closed, assigned to nobody

[2021-06-01 08:07] mnd999 commented on #12719
Will close this one for now as it seems like the problem is resolved, please feel free to reopen if you're still having issues.

[2021-06-01 08:07] #12719 closed, assigned to mnd999

[2021-06-02 16:00] timkofu opened #12732 "Error when compiling 4.2.7 from source."
Hi,

When compiling `4.2.7` from source with `mvn clean install`, I get the error:

[code]

[code]

[code]

[2021-06-03 07:06] mnd999 commented on #12732
Sorry you're having difficulties. I would suggest trying Java 11, this is the supported Java version for this branch.

[2021-06-03 11:59] timkofu commented on #12732
@mnd999 Worked. Thanks!

[2021-06-03 11:59] #12732 closed, assigned to nobody

[2021-06-04 14:40] pjljvandelaar opened #12733 "Upgrade 1.4.3 to 1.4.5 crashes"
- Neo4j version: 1.4.3
- Operating system: Windows 10

Within Neo4j accept the option to upgrade to new version.

- Expected behavior
Ne04j is upgraded

- Actual behavior
Neo4j crashes.

Additionally, include (as appropriate) log-files, stacktraces, and other debug output.

![Neo4j_update_failed](https://user-images.githubusercontent.com/18348654/120818624-13cb9a80-c553-11eb-8aa3-ebcdc0799e01.jpg)

[2021-06-09 00:41] lingvisa opened #12734 "Java String Exception thrown when exporting data"
Neo4j 4.6 Community/Neo4j Driver 4.3.1/Python 3.8

Neo4j 4.0.4 has the same issue. The description of the issue is  here:
https://community.neo4j.com/t/java-string-exception-thrown-when-exporting-data/39556

The log message from neo4j.log:

[code]

[2021-06-10 11:54] manueldeprada commented on #12712
Thank you for the clarification. However, I can't use the org.neo4j.internal.unsafe.IllegalAccessLoggerSuppressor.suppress(), cannot find the IllegalAccessLoggerSuppressor class. I'm using the latest 4.2.7 Maven Community build. Is it maybe a feature of the paid version??

[2021-06-11 11:11] mnd999 commented on #12733
Thanks for the report. This is not the correct repository for Neo4j-Desktop though, please raise your issue in this repository, as this is the correct one for Neo4j-Desktop: https://github.com/neo4j-devtools/neo4j-desktop

If you think this is incorrect, please feel free to reopen and we will investigate further.

[2021-06-11 11:11] #12733 closed, assigned to nobody

[2021-06-14 06:34] klaren commented on #12712
It can be found in
[code]
but this is the hacky solution to hide it. The correct thing would be to tell the JVM that you want to allow access to the internal classes by adding the following to the java command line
[code]
This should cover all of the current JDK internal classes we use.

[2021-06-14 08:18] mnd999 commented on #12728
It looks like something related to SSL certificates. I'm not sure of your configuration, but It appears that you have `dbms.directories.certificates` set to `/var/lib/neo4j/certificates` and that SSL is enabled on the bolt connector. The server is attempting to generate a self-signed certificate in this folder so you may want to take a look at the permissions here.

[2021-06-14 09:28] tinwelint commented on #12696
@titanous Did it work with --id-type=STRING?

[2021-06-15 09:00] manueldeprada commented on #12712
Thank you for your time. Now it works both ways! For someone reaching this issue looking for a solution, let me summarize the options available:

1. Hide the "Illegal reflective access" warning. This is fine until Java 17. To do so, you must import the dependency neo4j-unsafe and call: `org.neo4j.internal.unsafe.UnsafeUtil.disableIllegalAccessLogger();` before instantiating neo4j. Note that the ca

[2021-06-15 09:00] #12712 closed, assigned to klaren

[2021-06-15 10:17] sherfert commented on #12721
Please reopen this issue with the reproducible test we asked for if you still need us to investigate this issue.

[2021-06-15 10:17] #12721 closed, assigned to mnd999

[2021-06-15 14:00] LinshanYu opened #12735 "how to use detach delete and delete in one cypher matcher?"
such as : match(a:user) match(b:dog) match (a) -[]->(b) detach delete a and delete b

I want to express detach delete and delete  in one cypher , help me

[2021-06-16 09:21] mnd999 commented on #12735
The syntax you have is fine apart from the 'and' - this would work:
`match(a:user) match(b:dog) match (a) -[]->(b) detach delete a delete b`

Generally we prefer to answer these types of questions in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster response there. Github is more setup for bug reports in the product.

[2021-06-16 09:21] #12735 closed, assigned to nobody

[2021-06-16 09:27] LinshanYu commented on #12735
thk, bro

[2021-06-16 11:55] zqw961025 opened #12736 "Hi, I want to back up the Neo4j 3.5 database to version 4.0, I backup my data in offline mode, neo4j-admin dump and neo4j-admin load, However, when I start my 4.0 Database after backing up the Database, I get a Browser error "Database "neo4j" is unavailable, its status is "offline."""
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

Before creating a new issue, please check whether someone else has raised the same issue. You may be able to add context to that issue instead of

[2021-06-16 11:57] zqw961025 opened #12737 "Hi, I want to back up the Neo4j 3.5 database to version 4.0, I backup my data in offline mode, neo4j-admin dump and neo4j-admin load,However, when I start my 4.0 Database after backing up the Database,,Iget a Browser error,Database "neo4j" is unavailable, its status is "offline.""
Hi, I want to back up the Neo4j 3.5 database to version 4.0, I backup my data in offline mode, neo4j-admin dump and neo4j-admin load,However, when I start my 4.0 Database after backing up the Database,,Iget a Browser error,Database "neo4j" is unavailable, its status is "offline."

[2021-06-16 11:58] #12736 closed, assigned to nobody

[2021-06-17 01:59] Tom-python0121 opened #12738 "mvn test is not complete in neo4j@4.2.7"
Hello,I meet a problem about mvn test is not complete in neo4j@4.2.7.
[code]
I want to know why neo4j does not finish running, test several times is this result, is my test method a problem, can anyone help to see?

### Information on your system
[root@localhost ~]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretizer:** o

[2021-06-17 18:40] burqen commented on #7225
Good news everyone! As of Neo4j 4.3 you can index your relationships!

[Relationship Type Lookup Index](https://neo4j.com/docs/cypher-manual/current/administration/indexes-for-search-performance/#administration-indexes-create-a-relationship-type-lookup-index) will let you find all relationships of a given type with a single index scan. This will help immensely for queries where the type of the rel

[2021-06-17 18:40] #7225 closed, assigned to nobody

[2021-06-17 18:43] burqen commented on #12507
This issue should be solved with the new Relationship Type Lookup Index in Neo4j 4.3.
Thank you for reporting!

[2021-06-17 18:43] #12507 closed, assigned to nobody

[2021-06-18 09:35] mnd999 commented on #12734
Thanks for the bug report, it appears to be a bug in the error handling. We'll investigate further.

[2021-06-18 09:48] mnd999 commented on #12737
I'm having a hard time understanding this report, please can you remove the parts of the example that are not relevant, and provide the information on your environment we suggest. In this case I suspect `neo4j.log` and `debug.log` would be useful.

[2021-06-21 01:20] zqw961025 commented on #12737
Hi, I want to back up the Neo4j 3.5 database to version 4.0, I backup my data in offline mode, neo4j-admin dump and neo4j-admin load,However, when I start my 4.0 Database after backing up the Database,,Iget a Browser error,Database "neo4j" is unavailable, its status is "offline.". I just wanted to say this, didn't realize the error in the report

[2021-06-21 06:14] klaren commented on #12738
Hello Tom and thanks for reporting.

Which version of java and maven do you have installed? You can list this with `mvn -version`.

[2021-06-22 07:32] Tom-python0121 commented on #12738
@klaren Here's how I use the Maven version and the Java version.
[code]

[2021-06-22 12:28] klaren commented on #12738
@Tom-python0121 There are a few deadlocks in the OpenJDK implementation that was fixed in version 11.0.8, do you have a possibility to update the java version and try again?

[2021-06-23 02:19] Tom-python0121 commented on #12738
@klaren Only java@11.0.6 or java@1.8.0_292 can be installed in my spack. I do not know how to manually install other versions of OpenJDK. Do you have any suggestions?

[2021-06-23 03:54] Tom-python0121 commented on #12738
@klaren  I used the latest version of neo4j@4.3.0 and found：
[code]
How do I fix it?

[2021-06-23 08:54] klaren commented on #12738
@Tom-python0121 If you are unable to update java I don't think you can run the tests reliably.

I noticed that you run on arm64 CPU as well, which is not a supported platform, meaning that we do not run any tests on that platform.

Also, the last error indicates some connectivity issues
[code]

[2021-06-24 14:41] Hunterness commented on #12028
As per Neo4j 4.3 the behaviour have changed so that `LIMIT` does not affect the updates but only the returned rows.

[2021-06-24 14:41] #12028 closed, assigned to SaschaPeukert

[2021-06-25 03:48] Tom-python0121 commented on #12738
@klaren
[code]
How do I fix this bug?

[2021-06-25 11:38] MishaDemianenko commented on #12738
Hi, @Tom-python0121 please use java 11 to build 4.2.x Currently You are using java 16: `java version "16.0.1" 2021-04-20`.

[2021-06-26 06:15] Tom-python0121 commented on #12738
@MishaDemianenko
Thank you for your warning and help. I've solved it.
[code]

[2021-06-26 06:15] #12738 closed, assigned to klaren

[2021-06-28 14:14] PetrJanouch commented on #12702
@ivangreene Sorry I missed your answer in 4.3 completion frenzy.
The Core API is not meant to be a high level API with many convenient utility methods for common tasks like for instance ORMs/OGMs . Maybe the mistake was giving findNodes method with property parameters such a generic name. People have false hopes about what it does. A better name would be findNodesUsingIndexOverSubmittedProperties

[2021-06-28 15:31] AnkitBagaria24 opened #12739 "Error while running junit : Error starting neo4j database server at '...\data\database'"
Below is the code I am using to start neo4j database server while running Junit test: (Note the machine is windows 10)

[code]

It terminates with error. Part of error stack is below.

[code]

[2021-06-29 08:34] mnd999 commented on #12737
As above, |I don't think we have enough information to help with this. please provide the information on your environment  and relevant log files or I don't think we can progress this any further.

[2021-06-29 08:57] rajvaj commented on #12177
I used label still very slow
MATCH (a:Source), (b:Domain) WHERE a.Name = "X" AND b.Name = "Y"  CREATE (a)-[r: SRC_IMPACTED_BY]->(b)  RETURN a,b;

[2021-06-29 13:29] jexp commented on #12177
Did you create an constraint on :Source(Name) and :Domain(Name)?

[2021-06-29 15:24] mnd999 commented on #12739
Thanks for the report. Can you provide the full stack trace, the version of Neo4j you are running and anything else that could help us to diagnose the cause of the failure.

[2021-06-30 10:02] apexskier commented on #12728
I just started experiencing this as well. I run a local neo4j instance using the docker image `neo4j:3.5.11`, which has worked for months.

A quick minimal reproduction is running `docker run neo4j:3.5.11`

[2021-06-30 10:40] apexskier commented on #12728
I noticed some other docker containers running into disk full errors. After cleaning out docker and freeing up space, I'm no longer experiencing this issue.

[2021-06-30 12:12] alizadehei commented on #12304
Hi,
We've installed the 4.2.0.4 release and it seems that this is still a problem:

[2021-07-01 06:43] zqw961025 opened #12740 "Neo4j does not have a mysql-like binlog?"
Neo4j does not have a mysql-like binlog??

[2021-07-02 08:20] mnd999 commented on #12713
This issue has been inactive for some time so I will close for now. Please feel free to reopen if it's still an issue.

[2021-07-02 08:20] #12713 closed, assigned to mnd999

[2021-07-02 10:51] yacineBR commented on #12695
+1

[2021-07-02 15:15] mnd999 commented on #12677
Closing this issue as it appears it was fixed some time ago.

[2021-07-02 15:15] #12677 closed, assigned to nobody

[2021-07-02 15:23] jexp commented on #12692
Did you see this?

https://astr0baby.wordpress.com/2021/06/26/compiling-and-running-native-neo4j-on-apple-m1-arm64/

[2021-07-03 23:15] advaitkulkarni8 commented on #12030
Do we know what is going on with this error? I continue to get this issue almost everyday. None of the solutions like Java driver version, SSH removal (https) or reducing the amount of data seemed to be working

[2021-07-04 12:53] AnkitBagaria24 commented on #12739
Hi,

I am getting this error while running unit test case using org.neo4j.harness.Neo4jBuilders library, not while starting Neo4j desktop.

(OS is windows NT 10) - let me know if I should provide with anyother information. WIll be very grateful for any help.

Below is the error trace:

java.lang.RuntimeException: Error starting Neo4j database server at C:\Users\ADMIN\AppData\Local\Temp\5e96958087a

[2021-07-05 06:51] zqw961025 opened #12741 "Neo4j to Elasticsearch"
Hi, what I need to do now is to synchronize data in Neo4j to Elasticsearch in real time, that is, any changes in Neo4j will synchronize to Elasticsearch, I have referred to the method here: https://neo4j.com/developer/elastic-search/, when I found these plug-ins are too old, many also for secondary version 4.0 + does not support, for example, secondary - elasticsearch, I want to ask if there is a

[2021-07-06 02:13] davidlrosenblum commented on #12737
Hi,
I don't think this is a bug.  Also I think this kind of question would be better answered in community.neo4j.com, but none the less...
Stop the database
In your 4.x database make sure you set `dbms.allow_upgrade = true` in neo4j.conf
https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/#config_dbms.allow_upgrade
After you do the `neo4j-admin load --database=yourdbn

[2021-07-06 02:16] zqw961025 commented on #12737
thinks for you help

[2021-07-06 02:17] zqw961025 commented on #12737
Thank you for your help

[2021-07-06 09:11] gregoryking opened #12742 "Maintain scroll position in documentation index"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I scroll down the docs content on the LHS, click on a section and the content section auto scrolls back to the top.  This makes clicking through items in a particular section involve a lot of scrolling.

**Describe the solution you'd like**
Maintain scroll position of index after click

**Describe alternatives y

[2021-07-07 12:15] mnd999 commented on #12741
I would suggest opening an issue in https://github.com/neo4j-contrib/neo4j-elasticsearch to see if it can be updated.

Alternatively, ask in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) as there may be others in the community with the same problem. Github is more setup for bug reports in the product.

[2021-07-07 12:15] #12741 closed, assigned to nobody

[2021-07-08 15:52] davidoliverSP2 commented on #12742
Reopened in the Docs-UI repo: https://github.com/neo4j-documentation/docs-ui/issues/73

[2021-07-08 15:52] #12742 closed, assigned to nobody

[2021-07-09 07:38] mnd999 commented on #12737
Closing as this appears to be resolved, if you still believe this to be an issue, feel free to reopen.

[2021-07-09 07:38] #12737 closed, assigned to mnd999

[2021-07-09 08:54] cartwrightian opened #12743 "ExternalSettings class is gone in 4.3.2 , no obvious replacement?"
Neo4j version: 4.3.2
Operating system: all
API/Driver: community edition

**Steps to reproduce**
4.2.6 Code compiles
Update to 4.3.2 code does not compile. ExternalSettings is not longer present, no obvious javadoc or similar explaing what replaces it? Not seeing anything in https://github.com/neo4j/neo4j/wiki/Neo4j-4.3-changelog or earlier change logs.

I'm guessing I missed some docs, apologies.

[2021-07-09 10:10] s348268281 opened #12744 "how can i improve efficiency for using load csv?"
To help us understand your issue, please specify important details, primarily:

- Neo4j version: 3.5.8
- Operating system:centos7
- API/Driver: Cypher
- **Steps to reproduce**
I use neo4j Deploy with Docker and execute in docker (using cypher-shell),my cypher like:

USING PERIODIC COMMIT
LOAD CSV WITH HEADERS FROM "file:///edge_fp.csv" AS row
MATCH (u:U {name: row.source_name})
MATCH (p:P {name: r

[2021-07-09 12:58] cartwrightian commented on #12743
So I was setting these heap parameters via JVM parameters anyway, so I am assuming this is the right thing to do instead of using this (removed) settings?

[2021-07-11 03:16] zaheeruddinfaiz commented on #12692
@mnd999 Hi! Could you please tell the status? It is already mid year :)

[2021-07-11 08:23] victorconan opened #12745 "Docker volume mount doesn't seem to work"
I try to run docker mounting a user-defined path to database as below on Ubuntu:

[code]

The docker is running, but when I checked
[code]
It said:
[code]

When I tried:
[code]
it showed:
[code]
So it seems the mount is not working. And the neo4j failed because of:
[code]

[2021-07-12 09:55] MishaDemianenko commented on #12743
Hi @cartwrightian

ExternalSettings is gone in 4.3.x. And indeed it's not mentioned in public documentation/javadoc anywhere.
All of that because that was that class was never part of the official public surface.

And indeed using JVM parameters is the correct thing to do anyway since those external settings in the way you used them in your provided sample were noop anyway.
So just remove those an

[2021-07-12 13:17] #12734 closed, assigned to mnd999

[2021-07-13 07:13] mnd999 commented on #12692
We are not aware of any issues preventing running Neo4j 4.3 on Apple Macs with the M1 chip.

[2021-07-13 11:02] dotStart commented on #12734
Hey, we've addressed the issue and the fix should be rolling out with the next 4.0, 4.1, 4.2 and 4.3 releases respectively.
Thanks again for reporting this issue! Since it may have hidden the actual problem, feel free to open a new issue if anything unusual pops up.

[2021-07-14 08:40] zaheeruddinfaiz commented on #12692
I can run Neo4j desktop application.
I was wondering if I could run the docker image on Apple Macs with the M1 chip?

[2021-07-14 08:54] jennyowen commented on #12692
@zaheeruddinfaiz there still are not official neo4j docker images for ARM.
There are unofficial ones we publish here though: https://hub.docker.com/r/neo4j/neo4j-arm64-experimental

so you can do: `docker run [arguments] neo4j/neo4j-arm64-experimental:4.3.2-arm64` and get the latest neo4j on your mac.

[2021-07-14 14:56] mnd999 commented on #12728
I haven't heard anything back on this issue for some time, so will close for now. If this is still a problem, feel free to re-open.

[2021-07-14 14:56] #12728 closed, assigned to mnd999

[2021-07-14 15:16] mnd999 commented on #12745
In docker `/var/lib/neo4j/data` is symbolic link to `/data`, so mounting your databases under `/data` should be fine.

As to the error message, do you have another neo4j instance running on the machine using the files you're mounting under `/data`?

These types of questions are generally best asked in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j

[2021-07-15 12:53] MishaDemianenko commented on #12743
Closing. Please feel free to reopen if you still have any questions.

[2021-07-15 12:53] #12743 closed, assigned to nobody

[2021-07-15 12:58] odair-pedro commented on #12692
The latest experimental arm image is not working here :(

I got the following error:
`manifest for neo4j/neo4j-arm64-experimental:latest not found: manifest unknown: manifest unknown`

To solve.. i had to use the image neo4j/neo4j-arm64-experimental:4.2.5-arm64, that has worked.

[2021-07-16 08:49] #12744 closed, assigned to nobody

[2021-07-18 00:04] TWiStErRob opened #12746 "Doc: harness release notes, breaking changes?"
- Neo4j version: 4.2.0
- Operating system: N/A
- API/Driver: `org.neo4j.test:neo4j-harness:4.2.0`

In my code testing Neo4J related stuff I used
[code]
and when I updated from 3.5 to 4.2 I get compile errors, with a lot of searching I found some replacements, but not all:
[code]
Putting it all here for SEO, if someone else is looking for this.

**Expected behavior**
Deprecation cycle, documentatio

[2021-07-19 07:59] jennyowen commented on #12692
yeah there isn't a `latest` tag on that repo, you have to specify the version. The tags list on https://hub.docker.com/r/neo4j/neo4j-arm64-experimental/tags?page=1&ordering=name is in a weird order, but if you sort Z - A you can see all the latest versions are available.

[2021-07-19 09:10] davidoliverSP2 commented on #12746
Hi @TWiStErRob

Thanks for raising this - had you discovered this documentation? [Neo4j Upgrade and Migration Guide](https://neo4j.com/docs/upgrade-migration-guide/current/)

This document should have coverage of all breaking changes between 3.x and 4.

[2021-07-19 10:49] mingodad opened #12747 "Grammar railroad diagram"
Using this tool https://www.bottlecaps.de/convert/ (after fix several empty templates like `new ArrayList<>()`) we can see a railroad diagram for the grammar in `community/cypher/front-end/javacc-parser/src/main/java/org/neo4j/cypher/internal/parser/javacc/cypher.jj` copy and paste the EBNF shown bellow on https://www.bottlecaps.de/rr/ui in the tab Edit Grammar then switching to the tab View Diagr

[2021-07-19 16:44] TWiStErRob commented on #12746
Wow, that's actually awesome @davidoliverSP2, please link [that](https://neo4j.com/docs/upgrade-migration-guide/current/migration/surface-changes/java-api/) at the top of https://github.com/neo4j/neo4j/wiki/Neo4j-4.0-changelog !

Also maybe make the notes on top of https://github.com/neo4j/neo4j/wiki/Changelog link to https://neo4j.com/docs/upgrade-migration-guide/current/migration/surface-changes

[2021-07-19 16:47] TWiStErRob commented on #12746
I tried testing if Google would find those pages, but no luck, I picked a class on that page and then search for it "TransactionEventHandler neo4j 4.0" or "TransactionEventHandler neo4j 4.0 breaking" or "TransactionEventHandler neo4j 4.0 breaking migration", but not found.

I think in the end the issue could be in https://neo4j.com/robots.txt 🤯!
[code]

[2021-07-19 16:49] TWiStErRob commented on #12746
Also
[code]
because as it turns out https://neo4j.com/docs/migration-guide is redirected, but I guess robot rules don't redirect.

[2021-07-19 16:58] MishaDemianenko commented on #12746
@TWiStErRob migration page does not contain some classes that you mentioned since they were never part of neo public API and will never be. Sometimes it's, let's say not that clear, what is part of public API and what is not but we try to improve that over versions and time.

In 4.x we have a `@PublicApi` that marks classes that are included in public API. In 3.x those are some subset of packages.

[2021-07-19 17:44] TWiStErRob commented on #12746
Oh, I see, so https://neo4j.com/docs/java-reference/3.5/javadocs/ doesn't contain `TestServerBuilders` and `ServerControls`, so they're internal API. In 4.x `Neo4j` and `Neo4jBuilders` are also not listed. In 3.x there was no supported way of using the test harness (even though the classes were public), but now there's a Rule/Extension 🎉 . Did I get this right?

[2021-07-19 17:44] TWiStErRob commented on #12746
Thank you for the responses, it helps a lot to understand this. Sorry if the tone was a bit strong, I was really upset not finding any documentation on the breaking changes. Please make sure the robots.txt issue is fixed, right now copying text from the migration guide and pasting into Google doesn't find it.

[2021-07-19 17:58] MishaDemianenko commented on #12746
So, some parts of the harness were the way how some of our end-users and colleagues (mentioned spring data, as an example) were testing neo4j even if that was not public.
Also, I would say, it's sort of expected that there will be some supported testing primitives and surface so that's why we introduced and promoted a new rule and extension to be part of our public surface.

[2021-07-20 07:55] sherfert commented on #8173
Error messages include the line number from the CSV file from neo4j version 4.0 and newer. I hope that resolves the issue. (And yes, we should have notified you that this behavior was in place slightly earlier).

[2021-07-20 07:55] #8173 closed, assigned to sherfert

[2021-07-20 07:59] #10393 closed, assigned to sherfert

[2021-07-21 10:42] aabrodskiy commented on #9726
4.3.2 bug is still there. it's very confusing and I wasted so much time trying to troubleshoot what was going wrong with relationships, while in fact nothing was wrong.

[2021-07-24 15:09] nadavpld opened #12748 "AuthorizationViolationException while calling apoc.cypher.parallel with spatial.intersects"
- Neo4j version: 4.2.3 Community
- Operating system: (for example Windows 95/Ubuntu 16.04)
- API/Driver: node neo4j-driver 4.2.2

Running a worker service which calculates intersections of points with polygons

During init phase :

[code]

following with loading polygons from the database  :
[code]

The above works great.

Upon event of new points detection I'm running the following :

[code]

whe

[2021-07-26 10:36] tatva122 opened #12749 "Neo4jError: Connection was closed by server"
I am getting connection was close by server error in some time of intervals.

Here is Node JS console logs.
###Query
MATCH (rbs0:test_Struct {test_struct_id: "Object"})
CALL {
  WITH rbs0
  CALL apoc.path.expandConfig(rbs0, {relationshipFilter: "HAS_TEST_STRUCT_CHILD>"})
      YIELD path
      CALL {
          WITH path
          WITH nodes(path)[-1] AS rbs
          MATCH (rbs)-[:HAS_TEST_STRUCT_

[2021-07-26 14:44] craigtaverner commented on #12748
Do you have access to the neo4j.log and debug.log files? It would be interesting to see more information behind the failure. Since `apoc.cypher.parallel` is running multiple threads, that involves creating new transactions which themselves need to be setup with a security context. It is quite possible something in the APOC security context is conflicting with the spatial procedure.

[2021-07-26 15:43] nadavpld commented on #12748
Thanks for your answer !

I forgot to mention I'm running in a dockerized neo4j container (official 4.2.3)

I couldn't find neo4j.log file, only had debug.log, I've encountered [this post](https://community.neo4j.com/t/where-is-neo4j-log-in-the-official-neo4j-docker/34407/3)

The output for `docker logs neo4j` seems to be very minimal. (attached below)
I have changed the log level to debug with no

[2021-07-27 05:40] czpmango opened #12750 "[Question] runtime type check"
I found some inconsistencies in the runtime type checking.

---
I create some nodes as following.
[code]
---
These tests are as expected, and it makes sense to report an error if the type check fails.
[code]
---
But the following two tests seem confusing and inconsistent. How can I make sense?
[code]

[2021-07-27 09:51] ka1n4t opened #12751 "Failed to write value Path"
Hi, I got the following error when I used `call apoc.algo.allSimplePaths()` to query.

[code]

And my neo4j browser turns gray:

![image](https://user-images.githubusercontent.com/22983012/127133782-c5b81fc6-2723-4a3f-858b-0239932524d5.png)

[2021-07-28 09:49] gjmwoods commented on #12667
Hi @yyseik. Firstly sorry about the long delay in responding.

You can get the general configuration of the server by calling `CALL dbms.listConfig()`. It essentially shows you what is configured in `neo4j.conf` (see more here https://neo4j.com/docs/operations-manual/current/configuration/).

You can be sure you're using encryption if you successfully hit the `https` endpoint or, for bolt, you use

[2021-07-28 09:55] gjmwoods commented on #12694
Hi @varunsharma27. Since this one has been quiet for a while I will close it for now. Feel free to reopen if you need anything else.

[2021-07-28 09:55] #12694 closed, assigned to nobody

[2021-07-28 10:05] gjmwoods commented on #12697
Hi @nguyenhuuloc304. Firstly sorry for the delay in responding.

Seeing that error is due to the driver reaching the limit on the number of connections that are in use. If the connection pool is completely busy, new operations will wait for an existing connection to finish before being able to run. The new operation waits for 1 minute by default which explains the error that you are seeing.

You h

[2021-07-28 10:28] gjmwoods commented on #12701
Hi @djy0. Firstly sorry for the delay in responding.

The log line displays the value that is set for `dbms.default_advertised_address` since there can be a difference between the address you want to bind to and the address that you wish to advertise as the address you should use to connect.

If you set that to the same value as the listen to address then you should see what you are expecting.

Ho

[2021-07-28 11:18] gjmwoods commented on #12708
Hi @HansonZhu-bd. Firstly sorry for the delay in getting back to you.

It appears that something is preventing the bolt messages from being processed by the server. To figure out why this is  would you mind attaching:
 - the complete `neo4j.conf` file
 - the `debug.log` file
 - the driver log file

 Many thanks!

[2021-07-28 15:38] gjmwoods commented on #12651
Hi @johannessen. Firstly, many apologies for the long delay in getting back to you on this one.

I agree this is an issue with the docs. The one you've linked to appears to be a more generic one that doesn't apply completely to HTTP. We'll update the docs with something more specific section in the HTTP docs.

In case you're curious, this happens because each request that is received first passes

[2021-07-28 15:42] gjmwoods commented on #12660
Hi @johannessen. Again apologies for the delay in responding.

This is indeed an oversight in the docs and we have a fix for this in the docs currently going through the review process.

You're right that we don't currently expect large blobs to be stored/retrieved in the database. In hindsight, base64 would have been the more flexible choice should this change. We'll revisit this if it does.

Man

[2021-07-29 05:15] DimBottom opened #12752 "Why did I successfully compile neo4j when started and browser displays 404?"
## Guidelines

I followed the README process to compile the 4.x version and then released the `dbms.connectors.default_listen_address=0.0.0.0` comment in the configuration.

[code]

I started the application from the `neo4j console` in the bin directory。When I visit to the browser, the browser response 404, hint I can't find the corresponding web page with the link below: `http://127.0.0.1:7474/br

[2021-07-29 11:01] gjmwoods commented on #12644
Hi @johannessen, again many apologies for the delay in getting back to you on this one.

This one requires a bit more investigation as to why adding an accept header for jolt causes an unexpected redirect to the browser.

[2021-07-29 13:49] johannessen commented on #12651
Hey @gjmwoods, thank you for getting back to me! The details you mention in your explanation are very helpful. It makes sense to me that a 401 gets special treatment.

[2021-07-29 16:19] jbhurruth commented on #12721
For what its worth, I'm seeing this behaviour too

[2021-07-30 07:47] cx-lukas-salkauskas-x commented on #12692
any updates on this one? when could we expect non experimental support?

[2021-07-31 15:52] alesten opened #12753 "Server no longer accepts writes, during apoc.trigger.add"
Hi,

We have 3 cores and are trying to add a trigger via the `apoc.trigger.add` method. The cypher we are using looks like this `CALL apoc.trigger.add('<name>', 'UNWIND apoc.trigger.nodesByLabel($assignedNodeProperties, "<node>") AS node CALL rabbitmq.event("<queue>", labels(node), node) return count(*)', { phase: 'before' })`

We have a custom apoc that puts any changes to nodes onto a rabbitmq q

[2021-08-02 05:23] shayantabrizi opened #12754 "Different analyzers in index-time and query-time"
I want to request a feature on full text search, and to do so let me first explain an example.

Assume that the query is "Javad" and we want to retrieve a document if it contains, e.g., "Javad" or "MohammadJavad" or "Javadi" or "SeyedJavad". But we do not want to retrieve a document if it only contains, e.g., "Java". This may be a reasonable expectation for search in a language like Persian. Or, f

[2021-08-02 06:43] mnd999 commented on #12752
[Neo4j Browser](https://github.com/neo4j/neo4j-browser) is a separate project and thus must be built separately. As you've seen, the official builds from the website include neo4j and neo4j-browser.

[2021-08-02 06:43] #12752 closed, assigned to nobody

[2021-08-02 14:42] mnd999 commented on #12745
I haven't heard anything back on this one for some time so I will close for now. Please feel free to reopen if it is still and issue.

[2021-08-02 14:42] #12745 closed, assigned to nobody

[2021-08-03 07:52] mnd999 commented on #12751
It looks like from the logs, that the browser is disconnecting from the server, so moving this one to browser for now.

[2021-08-03 07:56] mnd999 commented on #12739
Apologies for the slow reply, looks like maybe a dependency issue. Perhaps you are able to share a simple testcase we would be able to use to reproduce the issue and determine if there is anything we need to fix?

[2021-08-03 08:01] mnd999 commented on #12698
For proper ACID behavior, the filesystem must support flush (fsync, fdatasync), as documented [here](https://neo4j.com/docs/operations-manual/current/installation/requirements/#deployment-requirements-filesystem).

I am not aware of any testing having been done on lustrefs, but do let us know if you have some success. Will close this for now as I think this answers the question, but do feel free t

[2021-08-03 08:01] #12698 closed, assigned to nobody

[2021-08-03 08:17] mnd999 commented on #12754
Thanks for the request, I've passed it to the product team.

[2021-08-03 23:30] palanquinpeace commented on #9726
Many thanks in advance to the folks who resolve this. I am quite grateful to know this is a bug and not my cypher. I did spend time trying to troubleshoot, but I don't consider it time wasted...not entirely wasted, anyway :)   especially since adding this comment motivated me to join github.  Blessings all!

[2021-08-04 11:24] nadja-muller commented on #12748
The procedure apoc.cypher.parallel is running in read mode, whereas spatial.intersects is a write procedure. This is why you are not allowed to call it within the apoc.cypher.parallel procedure call. If you rewrite the call with apoc.periodic.iterate, it should work.

[2021-08-04 11:41] ikwattro opened #12755 "JSON log format not applied for http.log"
The setting  `dbms.logs.default_format=json` is not taken into consideration for the `http.log`

**Neo4j Version:** 4.3.1
**Operating System:** OSX
**API:** Tarball

### Steps to reproduce
1. Download Neo4j Community 4.3.1
2. Add the setting `dbms.logs.default_format=json`
3. Enable http logging : `dbms.logs.http.enabled=true`
4. Start Neo4j
5. Open the `http.log` file after having connected with

[2021-08-06 12:01] vilisch opened #12756 "Status bar missing in fullscreen mode from Graph view of Neo4j Browser"
Hi,

I recently updated to Neo4J version 1.4.7 and the status bar of the Neo4j Browser, Graph view has disappeared in fullscreen mode.
In normal window mode it is ok.
![StatusBar_Ok](https://user-images.githubusercontent.com/7656475/128507296-f3a54a9f-3a53-45d0-85ba-dad5f8b753fa.png)
![StatusBar_Missing](https://user-images.githubusercontent.com/7656475/128507317-3e99f0d2-2726-4143-81e5-93ca956d94

[2021-08-06 12:31] tinwelint commented on #12696
@titanous I've gotten no response from you since reporting this in March. I cannot progress if there's no discussion and will close this issue

[2021-08-06 14:48] flaviuratiu opened #12757 "`key not found: VariableSlotKey` error thrown from query using OPTIONAL MATCH with a predicate function after a MATCH returning no results"
The following query throws an error instead of returning no results, when the initial `MATCH` returns no results:

[code]

If `OPTIONAL MATCH` from line 2 is replaced with `MATCH`, the query returns no results, as expected.
Also, the query works fine with `OPTIONAL MATCH` on line 2, but without a predicate function as condition for the `OPTIONAL MATCH`.

**Neo4j Version:** 4.3.2-enterprise or 4.2-

[2021-08-07 13:42] big-c-note opened #12758 "Downloading Linux Desktop, Can't Start AppImage"
### Steps to Reproduce:

Starting from https://neo4j.com/download/

Takes you to https://neo4j.com/download-thanks-desktop

Downloading for Linux, Ubuntu 20.04, CDN: https://s3-eu-west-1.amazonaws.com

Two files are downloaded:
`neo4j-desktop-1.4.7-x86_64.AppImage`
`neo4j-desktop-1.4.7-x86_64.AppImage.part` (partial file)

Running
[code]

Clicking `neo4j-desktop-1.4.7-x86_64.AppImage` brings up a

[2021-08-07 13:47] big-c-note commented on #12758
Trying a third time, I managed to get it. Feel free to close.

[2021-08-08 09:18] maximAtanasov opened #12759 "Fixed-length path expansion performance issue"
- Neo4j version: 4.3.1
- Operating system:  Windows 10 1909
- API/Driver: Neo4j Browser

Using the LDBC-SNB dataset with a scale factor of 10 and running the following query:
`MATCH (p1:Person {id: $personId})-[:KNOWS*3]->(p2:Person) RETURN DISTINCT p2`
causes it to take an enourmous amount of time. The query planner seems to start the expansion from `p2` and not `p1`. The following is the result

[2021-08-09 06:36] mnd999 commented on #12758
Closing as requested

[2021-08-09 06:36] #12758 closed, assigned to nobody

[2021-08-09 06:58] mnd999 commented on #12757
Thanks for the report, we'll take a look and get back to you.

[2021-08-09 07:28] sherfert commented on #12674
We have added a paragraph to our [documentation](https://neo4j.com/docs/cypher-manual/current/clauses/merge/#query-merge-introduction) to improve awareness of this behavior.

[2021-08-09 07:28] #12674 closed, assigned to nobody

[2021-08-09 12:22] tinwelint commented on #12730
I don't see information about which class this is about, but it has to be some environment change, i.e. some version changed or JDK or the classpath.

[2021-08-09 16:16] maniappan commented on #12730
We didn't change anything, we just ran it with the add-on's and service stopped, anyway we are past it. Since we didn't any response for this issue in realistic time frame, we have put this DB on standby due to stability reason and went ahead evaluating another one..

Mani.
________________________________
From: Mattias Finné ***@***.***>
Sent: Monday, August 9, 2021 5:52 PM
To: neo4j/neo4j ***@**

[2021-08-09 16:36] mnd999 commented on #12759
Thanks for the report, we'll investigate and get back to you.

[2021-08-09 19:49] matiasmorant opened #12760 "wrong order in cypher query"
I discovered a cypher query that returns results in wrong order

Neo4j Version: 4.2.3
Operating System: Windows 10
API: Cypher

##  Steps to reproduce

1- create a graph

`CREATE ({num:2})-[:r1]->({num:0})-[:r2]->({num:1})`

2- execute the following query

[code]
(the CALL matches all edges but shouldn't change the result. needed to reproduce the bug)

##  Expected behavior

the query should retur

[2021-08-10 14:31] InverseFalcon commented on #12740
Hello, this sounds like our Transaction Logs, which are used to capture changes to the db (their format is such that they aren't person-readable) and are used to replicate changes to the rest of the nodes in the cluster. They are also used in recovery operations (applying changes to the pagecache in-memory graph representation) and checkpointing (flushing changes represented in the transaction log

[2021-08-11 06:25] burqen commented on #12740
@zqw961025 Before we forward this to our product team it would be useful if you could provide your use case for this feature.

[2021-08-12 08:46] pontusmelke commented on #12757
@flaviuratiu Thanks for reporting this. We have identified the problem and the fix will hopefully be part of the next point release. As a temporary workaround you can prepend `CYPHER runtime=interpreted` to your query.

Best regards,
Pontus

[2021-08-12 10:33] henriknyman commented on #12750
@czpmango This is a case where Neo4j Cypher takes a relaxed approach to failing with an error when evaluating `AND` or `OR` predicates. It will succeed if any of the terms satisfies the predicate as if it was the first in a short-circuit evaluation. A reason for this is to get consistent results irrespective of the ordering of the terms, while still enabling the performance benefits of short-circu

[2021-08-13 09:12] hedengran commented on #12759
Thank you again for the report. I've investigated and reached the following conclusion.

This seems to be an unfortunate case where our cost-model gets things wrong.

The cost model was between version `4.2` and `4.3` updated to better reflect the cost of accessing properties, which is why starting on `p2` now seems cheaper according to the model (we do the filtering much later in that case, so th

[2021-08-13 09:12] #12759 closed, assigned to nobody

[2021-08-13 12:13] flaviuratiu commented on #12757
Thanks @pontusmelke. Prepending `CYPHER runtime=interpreted` to the query does solve the issue with this simplified example. I'll try it in my service as well.

[2021-08-13 14:50] RyanSnodgrass commented on #7203
For those googling this- here's what worked for me.

The healthcheck definition goes in the neo4j service where it will query against itself to determine readiness. Use wget as commented above since the base neo4j image does not come with curl. Then your dependent service (web app, API, etc) depends on the neo4j service to be healthy.

In my experience I found the http adapter to be the consistent

[2021-08-13 20:32] emdax opened #12761 "Easy add node button"
NEO4J is the best data model prototyping tool ever.
It would be even faster if the cool GUI had a simple button to quick add a node.
Right now it requires a lot of typing to build new query to add node.
Quick add node button would make playing in the GUI more fun and fast.

[2021-08-15 08:05] SimplyComple0x78 commented on #4211
Hey @cleishm,
is this topic still on your roadmap for like 6 years?
In my case all uppercase-letters are sorted before the lowercase ones and the Umlauts are at the very end. That can't be an open issue since 2015, right? Have I missed some update or option?

[2021-08-16 02:50] jiangying000 commented on #12701
thanks

[2021-08-16 02:50] #12701 closed, assigned to nobody

[2021-08-16 11:12] hadyrashwan commented on #7814
I don't know if that's the same or not.
let's say I have

- company label with properties of:
   - uuid
   - name
- employee label
   - uuid
   - name

with `HAS_EMPLOYEE` relationship.

I want to have a constrain that says only one employee in one each company can have `name` as  `Alice`.

[2021-08-16 11:38] #12757 closed, assigned to nobody

[2021-08-16 14:46] henriknyman commented on #12760
@matiasmorant Thanks for reporting!

Cypher does not actually guarantee the order in this case unless you explicitly put an `ORDER BY x.num` also on the final RETURN-clause, as explained here:

https://neo4j.com/docs/cypher-manual/current/clauses/order-by/#order-with
"The order is not guaranteed to be retained after the following clause, unless that also has an ORDER BY subclause."

But unfortunat

[2021-08-18 15:21] maximAtanasov commented on #12759
I understand. Thank you for looking into this.

[2021-08-18 16:51] matt-ward-airwalk commented on #12692
Looks like the container images (experimental) are working fine on my M1 Macbook, but the container won't start when I introduce plugins. i.e

https://github.com/neo4j-contrib/neo4j-graph-algorithms/releases/download/3.5.4.0/graph-algorithms-algo-3.5.4.0.jar
https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/download/4.2.0.5/apoc-4.2.0.5-all.jar

I get the following error

Caused by:

[2021-08-18 18:08] jexp commented on #12692
You need to use the correct versions of those plugins. They need to match the neo4j version.

Best use this
https://neo4j.com/docs/operations-manual/current/docker/operations/#docker-neo4jlabs-plugins

[2021-08-19 09:54] czpmango commented on #12750
@henriknyman Thanks for your reply! That makes sense and I verified it(`OR(42, FALSE)->throw type error`) with the following test:
[code]

[2021-08-19 10:21] Mooner97 opened #12762 "Neo4j-Gremlin could not directly write and query double or float values."
#### Environment

Version : 3.5.27

OS : CentOS8

Storage Backend: in-memory

Data size: 100 vertices, 200 edges

Neo4j-Gremlin

#### Bug description

Neo4j-Gremlin could not directly write and query double or float values. We need to specify the detailed type of the property value.
However, we can do this in TinkerGraph or from Java API.

#### Current behavior

[code]

#### Expected behavior

Whe

[2021-08-22 09:16] Mooner97 opened #12763 "Neo4j-Gremlin could not order vertex/edge without specified property"
#### Bug description

We expect to get the vertexes/edges ordered by their ID using gremlin *order* query without specified property like `"g.V()/E().order().by(asc/desc)"` in Neo4j-Gremlin, as we can get the result by the same query in JanusGraph.

#### Environment

Version : 3.5.27

OS : CentOS8

Storage Backend: in-memory

Data size: 100 vertices, 200 edges

Neo4j-Gremlin

#### Current behavior

[2021-08-23 07:16] Roxling commented on #12730
@maniappan The exception ` java.lang.VerifyError: Cannot inherit from final class` thrown from inside the classloader (`java.lang.ClassLoader`) shows that its an issue with incompatible jar files. The component inside Neo4j crashing, the `GlobalProceduresRegistry` is loading any custom plugins and procedures. It is very likely that there is an installed plugin (like apoc or similar) that is compil

[2021-08-23 07:32] tghdy opened #12764 "How to resume a stopped or cancelled import"
- Neo4j version: 4.3.2-enterprise
- Start with docker

**A running import was canceled, How to resume it?**

1. There is an error displaied while visitting the database: Database "***" is unavailable, its status is "offline".

2. I can only find this from neo4j document: https://neo4j.com/docs/operations-manual/current/tools/neo4j-admin-import/#import-tool-resume . But it doesn't help.

3. It seem

[2021-08-23 10:02] mnd999 commented on #12739
I haven't heard anything back on this for some time, so will close for now. Feel free to reopen if it's still an issue.

[2021-08-23 10:02] #12739 closed, assigned to mnd999

[2021-08-23 12:45] mnd999 commented on #12762
This issue appears to be related to neo4j-gremlin which I am not familiar with, although a quick google suggests it's part of the Apache Tinkerpop project. If that is the case, you should probably open an issue there as this repository is for bug reports against the Neo4j Graph Database itself. If this is incorrect please let me know and we can investigate further, in this case a testcase using th

[2021-08-23 18:42] ibsmfar commented on #12434
However, we can readily configure them if we want to right?

[2021-08-24 01:37] #12763 closed, assigned to nobody

[2021-08-24 01:40] Mooner97 commented on #12762
Thanks for that. I would open an issue in Apache Tinkerpop project and close the issue.

[2021-08-24 08:16] #12750 closed, assigned to nobody

[2021-08-24 10:18] gjmwoods commented on #12660
Hi @johannessen. Updates to the docs have now been published.

[2021-08-24 10:18] #12660 closed, assigned to nobody

[2021-08-24 12:27] burqen commented on #12740
I'm closing this issue due to lack of information. Please open again if needed.

[2021-08-24 12:27] #12740 closed, assigned to nobody

[2021-08-25 16:45] henriknyman commented on #12760
@matiasmorant A fix was included in the Neo4j 4.2.10 release (changelog: https://github.com/neo4j/neo4j/wiki/Neo4j-4.2-changelog#4210). It is only a fix to make sure it gets the correct result however, and it could do so by planning an extra full sort, so it may be that in your particular case it may still be more efficient to run with `runtime=slotted`. In Neo4j 4.4 we are looking at the possibil

[2021-08-25 16:46] #12760 closed, assigned to nobody

[2021-08-26 12:09] moweigel opened #12765 "Expand nodes when zoomin in"
I'm currently looking for an option to explore huge graphs more intuitive. I really like the visualization of Bloom and I thougt about the feature to automatically expand neigboured nodes and relations when zooming in (maybe while the mouse hovers over the desired node). Like an equivalent of zooming on a geographical map: the further u zoom in - the more detailes u receive of the specific area wi

[2021-08-27 07:46] Tom-python0121 opened #12766 "neo4j@4.3.3:unknown tzid 'GMT+08:00' when mvn test on suse15_aarch64"
Hello,I meet a problem:neo4j@4.3.3:unknown tzid 'GMT+08:00' when mvn test
[code]
Can you tell me how to overcome it?

[2021-08-27 13:04] jamesdhope opened #12767 "neo4j-admin restore to a directory rather than to the running instance"
It would be useful if neo4j-admin could restore to a path.

For example, if running neo4j-admin restore in a initContainer, you would want the restored database to be persisted to a volume mount ready to be mounted into the neo core rather than in the ephemeral initContainer being used to run the restore command.

[2021-08-27 13:05] jamesdhope opened #12768 "neo4j admin online restore"
It would be useful if neo4j-admin restore would allow for an online restore (like neo4j-admin backup).

[2021-08-27 20:06] jpluscplusm commented on #12560
Any movement on this @mnd999? The ability to log to stdout/stderr is pretty ingrained in the wider container ecosystem, and it'd be great to have a route towards not using these kind of workarounds! :-)

[2021-08-28 17:06] majensen opened #12769 "Auto-upgrade of older dump file does not occur when loading to a non-default database"
When using neo4j-admin load to a non-default database:

`neo4j-admin load --from=boog.dump --database=boog`

and the dump file requires migration to the latest format, even if

`dbms.allow_upgrade=true`

in conf/neo4j.conf, the upgrade does not occur automatically. However, when
loading to the default database (`neo4j`), the upgrade does occur as expected.

**Neo4j Version:** 4.3.3 community
**Ope

[2021-08-30 12:34] TWiStErRob opened #12770 "SLF4J: Class path contains multiple SLF4J bindings."
I was recently upgrading from 3.x to 4.x and ran into this issue. It looks like https://github.com/neo4j/neo4j/commit/2f55744a21e4a6cb3f7dd909ac5612f7a410c270 disabled the ability to cleanly have SLF4J together with neo4j embedded as a dependency. Luckily there's a workaround, but it may not be a trivial one. (see expected)
The repro is through test, but I think it would have the same effect if em

[2021-08-31 08:35] Tom-python0121 commented on #12766
Core dump and Corrupted STDOUT by directly writing are reported when the Maven package software is compiled. Solution: https://bbs.huaweicloud.com/forum/thread-95499-1-1.html:The maven-surefire-plugin version is changed from 2.22.2 to 2.9. The test is successful.
![image](https://user-images.githubusercontent.com/77763324/131470437-5e47a35d-9c81-41dd-8297-5292eaf61f07.png)
The problem has been res

[2021-08-31 08:35] #12766 closed, assigned to nobody

[2021-08-31 11:40] tinwelint commented on #12764
What's the error you get? An import should be resumed if tried again, i.e. if it completed importing nodes/relationships, but failed/got cancelled at a later point it should resume from there.

[2021-08-31 12:14] tghdy commented on #12764
Thank you for the responses. My node/edge did not complete the import, and the import was aborted. Can import be resumed in this case?

I tried to use neo4j-admin tool for the second load, the error content is as follows,

WARNING Import failed. The store files in /data/databases/test are left as they are, although they are likely in an unusable state. Starting a database on these store files will

[2021-08-31 12:42] tinwelint commented on #12764
It will be restarted from the beginning in that case.

There should be more output higher up shouldn't there? That is the last that is printed in case of failure.

[2021-08-31 12:44] mnd999 commented on #12765
Thanks for the suggestion, but this is not the correct repository for Bloom. Please make your feature request in the [Bloom repository here](https://github.com/neo4j-devtools/neo4j-bloom).
I will close this one for now, please feel free to repopen if you think this is incorrect.

[2021-08-31 12:44] #12765 closed, assigned to nobody

[2021-08-31 12:51] tghdy commented on #12764
Yes, the full error log is as follows:
Import error: null
Caused by:null
java.lang.NullPointerException
        at org.neo4j.internal.batchimport.staging.HumanUnderstandableExecutionMonitor.endPrevious(HumanUnderstandableExecutionMonitor.java:226)
        at org.neo4j.internal.batchimport.staging.HumanUnderstandableExecutionMonitor.start(HumanUnderstandableExecutionMonitor.java:191)
        at org

[2021-08-31 13:03] tinwelint commented on #12764
Thanks, hmm looks like a bug related to resuming an import, let me try to figure this out.

[2021-08-31 13:29] #12667 closed, assigned to nobody

[2021-08-31 13:41] gjmwoods commented on #12749
Hi @tatva122, The most common cause for seeing this error is if your connection gets interrupted whilst a query is running. We recommend that you use transaction functions: https://neo4j.com/docs/javascript-manual/current/session-api/#js-driver-async-transaction-fn. Using these will allow your transactions to be retried if the connection drops. (For more background see: https://medium.com/neo4j/tr

[2021-08-31 14:41] tinwelint commented on #12764
Yup, found the bug. I'll provide a fix for it.

[2021-08-31 15:29] tghdy commented on #12764
Thank you for your help. I'll try again later.

[2021-09-01 06:15] tinwelint commented on #12764
And of course in the meantime you can simply delete the database directory containing the half-imported data and run it again from the beginning.

[2021-09-01 12:41] #12764 closed, assigned to nobody

[2021-09-06 08:09] mnd999 commented on #12748
We've not heard anything back on this issue for some time, so will close for now. Please feel free to reopen if necessary.

[2021-09-06 08:09] #12748 closed, assigned to nobody

[2021-09-06 09:38] #12702 closed, assigned to nobody

[2021-09-06 11:00] hedengran commented on #12619
Hi, sorry for not getting back sooner. This feature has been implemented and merged in version 4.3.

[2021-09-06 11:00] #12619 closed, assigned to mnd999

[2021-09-06 11:09] grillorafael commented on #12619
Thanks @hedengran

[2021-09-07 10:16] asishallab commented on #6734
Dear neo4j developers,

thanks for developing such a useful tool that is neo4j. This issue somehow remains a problem, as regular expressions are typically not implemented expecting whole string matches, except in Java and neo4j that is. In most other query languages to match whole strings you'd have to explicitly use the `^` and `$` operators. Hence Cypher regular expressions are counter intuitive

[2021-09-08 10:14] KienPM opened #12771 "Node properties have no guaranteed order"
According to [this stackoverflow article](https://stackoverflow.com/questions/18318491/can-neo4j-property-order-be-controlled), Neo4j node properties have no guaranteed order.
Any body know how Neo4j order the properties and how to keep order like when we set?
Thank you so much!

[2021-09-14 07:30] aoleiReiz opened #12772 "client is unauthorized due to authentication failure"
### I create container use this command
`docker run -p7474:7474 -p7687:7687 --name neo4j_container -e NEO4J_AUTH=neo4j/AIRocks -v C:/Users/aolei.bao/neo4jdata/data:/data`

then I use python try to connect, it failed
from py2neo import Graph

g = Graph("bolt://localhost:7687", auth=("neo4j", "AIRocks"))

print(g)

py2neo.errors.ClientError: [Security.Unauthorized] The client is unauthorized due to

[2021-09-16 07:25] SJTucker commented on #12172
I second the highlighting use case.  The lucene index has the metadata; it would be really useful to be able to access it with cypher.  currently having to get back the results and determine manually.  seems like search term highlighting wouldn't be an uncommon need for full text search.

[2021-09-17 16:14] jhpoelen commented on #9121
For what it is worth, I similar issues in (see https://github.com/globalbioticinteractions/globalbioticinteractions/issues/701)

For some reason, after disabling read_only mode, the issues went away -

from ```/etc/neo4j/neo4j.conf``` -

[code]

[2021-09-17 16:15] jhpoelen commented on #9121
@jastax did you happen to work with a read only graph db also?

[2021-09-17 16:32] jhpoelen opened #12773 "dbms.read_only = true causes neo4j v3.4.18 to become unresponsive and report "this IndexReader is closed" after org.apache.lucene.store.AlreadyClosedException exceptions"
First thanks for helping to build, use, and maintain neo4j . I've been gratefully using it for years now, and have been impressed by the care with which the neo4j codebase has been maintained and improved.

- Neo4j version: 3.4.18
- Operating system: Ubuntu 18.04 LTS
- API/Driver: errors are reported via http cypher endpoints as well as bolt /cypher-shell

## steps to reproduce:
1. install neo4j v

[2021-09-17 16:32] jhpoelen commented on #9121
Also see https://github.com/neo4j/neo4j/issues/12773 .

[2021-09-19 20:36] jastax commented on #9121
No, it was not in read-only mode. Seems to be a different problem

[2021-09-20 07:48] #12696 closed, assigned to nobody

[2021-09-20 07:51] jennyowen commented on #12772
`NEO4J_AUTH` only sets the initial password. If the data was already created with another password then `NEO4J_AUTH` will do nothing (otherwise, that would of course be a huge security hole).
Basically, the database in `C:/Users/aolei.bao/neo4jdata/data` was created with a password that is NOT `AIRocks` and so you're denied access.

[2021-09-20 07:51] #12772 closed, assigned to nobody

[2021-09-24 14:05] mnd999 commented on #12769
The community edition only allows one database to run at a time, so you would need to switch the default database in neo4j.conf for it to be upgraded and brought online.

[2021-09-27 05:50] Roxling commented on #12730
Closing due to inactivity

[2021-09-27 05:50] #12730 closed, assigned to nobody

[2021-09-27 06:10] Roxling commented on #12773
@jhpoelen Hello!
3.4 has reached its end-of-life and we are no longer patching/maintaining that branch. We have done many improvements over the years and it is very likely it has already been fixed in a later version. If you can reproduce this issue on a later version we actively maintain (preferably the latest), we will investigate it. You can find a list of supported (actively maintained) versio

[2021-09-27 10:37] AlexiosP opened #12774 "Using WITH DISTINCT combined with OPTIONAL MATCH leads to exception"
While trying to optimize & troubleshoot a more complex query,
I found the issue that `distinct` is throwing an error when used with `optional match`.

- Neo4j version: 4.2.3 Enterprise
- Operating system: macOS Mojave 10.14.6
- API/Driver: Cypher
### Steps to reproduce
Run cypher query
[code]
### Expected behavior
`[]` or `[null]` on an empty database (in a database with data, a distinct list of t

[2021-09-27 14:23] mnd999 commented on #12774
Thanks for the report, that appears to be a bug. We'll investigate and get back to you.

[2021-09-27 14:43] AlexiosP commented on #12774
Thanks! Just a correction, first I was trying to report the below
[code]

so the expected behavior I have written in the original post was for the above query.
Afterwards I realized I could simplify the query that causes the exception further.
Without the `collect` the expected behavior would be `null` in case of an empty database, or (in a database with data) multiple rows instead of a list.

[2021-09-27 14:47] jhpoelen commented on #12773
@Roxling thanks for taking the time to respond. I understand that maintaining older versions is quite laborious, and you'll have to draw a line at some point.

Can you please mark this issue as "do not fix"? For some reason, I was unable to assign labels to this issue.

Closing issue.

[2021-09-27 14:47] #12773 closed, assigned to nobody

[2021-09-29 03:32] huhudiedie opened #12775 "No matching TransactionManager bean found for qualifier 'reactiveTransactionManager' - neither qualifier match nor bean name match!"
The following error occurred when I used springboot (2.4.2) to connect neo4j:
[code]
application.yml:
[code]

test:
[code]

pom:
[code]

Please tell me the reason or solution of the problem. Thank you very much

[2021-09-29 08:04] sherfert commented on #12774
@AlexiosP

This has been fixed in [4.2.10](https://github.com/neo4j/neo4j/wiki/Neo4j-4.2-changelog#4210) and [4.3.3](https://github.com/neo4j/neo4j/wiki/Neo4j-4.3-changelog#433).

[2021-09-29 08:04] #12774 closed, assigned to nobody

[2021-10-01 16:56] ooker777 commented on #85
the link is dead now

[2021-10-01 19:30] jexp commented on #85
https://neo4j.com/docs/cypher-manual/current/functions/scalar/#functions-startnode

@davidoliverSP2 for redirects of previous docs

[2021-10-04 07:41] eidens commented on #12730
@Roxling Here's a minimal working example where the neo4j docker image fails to start with the stacktrace in the original report:

[code]

It seems to be the specific combination of neo4j:4.1 and the two plugins, apoc & n10s. Change the neo4j image version or remove one of the plugins and it works. The detailed versions are neo4j @ 4.1.10, apoc @ 4.1.0.10 & n10s @ 4.1.0.1 (as seen in the logs belo

[2021-10-04 21:14] xxks-kkk opened #12776 "Build Neo4j with latest commit 6d87a0f47ae2ce5082f5a3e21f9f8411123088a3 fail"
Build Neo4j with the latest commit

[code]
has the following error

[code]

Platform

- Ubuntu 20.04
- java version

[code]
- maven version

[code]

### Steps to reproduce
1. Download the latest source code with the commit listed above as the head
2. `mvn clean install`

### Expected behavior
Build pass

### Actual behavior
Build fail

[2021-10-05 00:25] xxks-kkk opened #12777 "Neo4j 4.3.4 Build failure with org.apache.maven.surefire.booter.SurefireBooterForkException"
Build Neo4j 4.3.4 with the latest commit

[code]
has the following error

[code]

Platform

- Ubuntu 20.04
- java version

[code]
- maven version

[code]

### Steps to reproduce
1. Download the latest source code with tag 4.3.4
2. `mvn clean install`

### Expected behavior
Build pass

### Actual behavior
Build fail

[2021-10-05 10:22] Roxling commented on #12730
@eidens Hello! This is not an issue with neo4j, but an incompatibility between those two plugins. Apparently they both depend on (different versions of) `com.google.common.collect.BoundType`. I've reached out to the maintainers of those plugins to and notified them of this issue. If you want you can open issues on the plugins corresponding repositories https://github.com/neo4j-labs/neosemantics/ &

[2021-10-05 15:23] process0 commented on #4334
+1 for this feature.  To note, using `apoc.merge.node/relationship` will not report accurate query updateStatistics

[2021-10-05 15:23] process0 commented on #12127
+1 for this feature. To note, using `apoc.merge.node/relationship` will not report accurate query updateStatistics

[2021-10-05 16:11] Tammo-Feldmann commented on #12172
+1 on the highlighting use case. Has there been any progress on this feature or is there a common workaround that you could recommend?

[2021-10-06 06:19] jhpoelen commented on #12773
Note that, after upgrading to neo4j v3.5.29, the issue "this IndexReader is closed" has not appeared yet. This suggests that the issue has been fixed in some neo4j version after v3.4.18 .

[2021-10-07 06:14] iyuiasd7 opened #12778 "Neo4j-admin import failed"
I used the neo4j-admin command to import the csv file to initialize the database, but an exception occurred when I executed the command. The exception message indicates that the **:TYPE** column is a empty value, but I checked all the csv files, and no empty value was found.

**Neo4j Version:** 4.3.2-enterprise
**Operating System:** RHEL7 (physical server)
**JDK:** 11.0.12, Name:OpenJDK 64-Bit Ser

[2021-10-07 20:56] inf3rnus opened #12779 "Full text search Fuzzy scores are different between 4.0 and 4.3"
## Guideline

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 4.0.3 and 4.3.2
- Operating system: Ubuntu 18.04 LTS
- API/Driver: N/A
- **Steps to reproduce**

1. Download neo4j desktop
2. Create a project that uses db 4.0.3
3. Create a project that uses db 4.3.2
4. Clone the recommendations repo for import by doing: ```git clone https://github.com/n

[2021-10-07 20:58] inf3rnus commented on #12779
I assume this is related to the version of lucene being used having changed on neo4j versions 4.0 and 4.3 to  <lucene.version>8.2.0</lucene.version> and <lucene.version>8.8.0</lucene.version> respectively.

What I'm trying as a workaround right now is to create a custom analyzer using <lucene.version>8.2.0</lucene.version>, but I don't know what the viability of that will be given that the neo4j j

[2021-10-11 01:22] iyuiasd7 commented on #12778
sorry for that, I missed a file and there are some carriage returns in this file. Import is successful after removing the carriage return

[2021-10-11 01:22] #12778 closed, assigned to nobody

[2021-10-11 08:31] mnd999 commented on #12775
Neo4j Graph database does not use the spring framework so I'm not really sure what this query relates to. If you are looking to integrate your application with Neo4j then these types of questions are best asked in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster response there. Github is more setup for bug reports i

[2021-10-11 08:37] mnd999 commented on #12769
I have not heard anything back on this for some time so will close for now. Feel free to reopen if you need more information.

[2021-10-11 08:37] #12769 closed, assigned to mnd999

[2021-10-13 21:40] briansanteliz commented on #11955
Any update on the bug? I get the error  Using the version 4.2.3 of neo4j through docker. I suspect it is due to lack of space or RAM memory

[2021-10-14 10:44] yehohanan7 commented on #12779
This is not a bug,  this was an improvement done to in 4.1.0, please have a look at the change long here - https://github.com/neo4j/neo4j/wiki/Neo4j-4.1-changelog

[code]

[2021-10-14 12:20] #12779 closed, assigned to nobody

[2021-10-15 02:22] inf3rnus commented on #12779
Sweet, that was super useful, thank you!

[2021-10-15 02:32] czpmango opened #12780 "[Optimizer] Column Pruning"
The following statement can crop column `b` to optimize performance:
[code]
Currently this statement has the same overhead as the following statement, they all do cartesian products. Is this expected?
[code]
IMHO, the first statement should be equivalent to the following:
[code]

**Describe the solution you'd like**
IMO, the optimizer can provide RBO-like rules to submit column clipping requests b

[2021-10-17 11:46] joancafom opened #12781 "Source code tarball unavailable for latest releases"
Every time a new Neo4j version came out in the past, we could find it tagged in the GH [releases page associated with the repo](https://github.com/neo4j/neo4j/releases). These tags came along with both a tarball and a zip file containing the source code snapshot that was used in the release, which made it easily traceable for those of us interested in building from source.

Nevertheless, it seems

[2021-10-25 08:08] mnd999 commented on #12771
That is correct, there is no guaranteed order for node properties in Neo4j, although you can of course order them in the return clause. For help using Neo4j  we prefer to answer these types of questions in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster response there. Github is more setup for bug reports in the pr

[2021-10-25 08:09] mnd999 commented on #12775
Will close this for now, feel free to reopen if it is still an issue.

[2021-10-25 08:09] #12775 closed, assigned to nobody

[2021-10-25 08:11] KienPM commented on #12771
yes, thanks for your response

[2021-10-25 13:50] gasparkazarian commented on #12695
+1

[2021-10-25 16:18] maysara commented on #6375
although closed, I'm still facing a nightmare unable to control the quoting of all fields. this should at least be configurable in the neo4j conf.

[2021-10-26 01:00] iNoSec2 commented on #11965
still not fixed??? if someone have find a fix, i will be happy to read it :)

[2021-10-26 06:42] #12771 closed, assigned to nobody

[2021-10-26 08:12] jennyowen commented on #11965
@iNoSec2 no-one replied with the diagnostic information I asked for :disappointed:

`Could not find or load main class ....` generally means the required library jars are not on the java classpath. It's not really a neo4j specific problem, more neo4j reacting badly with whatever java environment you have set up.

Maybe this means that you don't have java 11 as the default, or maybe you override th

[2021-10-26 08:37] iNoSec2 commented on #11965
I will be on my PC later and will give you allbinfo you need ;)
I have tried multiple Java version from 8 to 16 xD and same exact result for all. Im on arch and i used yay to install it.
The systemctl start the service with no error and even a tool "bloodhound" can connect to the database, the error comes into play when i try to use the CLI, just neo4j version command doesnt work and show me the e

[2021-10-26 09:44] jennyowen commented on #11965
@iNoSec2 OK, you need java 11 for 4.0.0 and higher, and java 8 for 3.x.x. No need to try all the combinations :+1:

Anyway, sorry but we don't support arch linux and we don't actually manage or produce the packages that are available on AUR. Those are done by someone unaffiliated with us. Someone else reported similar problems with the yay install: https://github.com/neo4j/neo4j/issues/12714
There

[2021-10-26 11:49] iNoSec2 commented on #11965
Thanks a lot for your help

[2021-10-27 07:11] arnefischereit commented on #12780
To be clear, the two queries

[code]
and
[code]

are not equivalent unless you have exactly one node with the label `team` in your graph. Otherwise, the first one have each of the rows of the second one multiplied by the number of `team` nodes.

Therefore, we will have to know how many `team` nodes there are.

We do some optimizations for some cases like `MATCH (n) RETURN count(n.prop)` which we c

[2021-10-27 08:18] mnd999 commented on #12780
I have passed this one on to the product team for evaluation.

[2021-10-28 07:10] armensanoyan commented on #7814
Any news about this topic ? Is there chance to get a functions to add constraint for multiple labels ?

[2021-10-30 02:21] dongandi opened #12782 "I would like to inquire about the multiple Cypher statement"
I have a need to know one entity and two relationships, first get the other entity through one entity and one relationship, and then get the final answer through the obtained entity and the other relationship. (我有一个需求，就是知道一个实体和两个关系，首先通过一个实体一个关系得到另一个实体，然后通过得到的这个实体和另外一个关系去得到最后的答案)
![无标题](https://user-images.githubusercontent.com/59283713/139517144-7bcb2cc4-1a67-4ce0-89cd-578c51feba66.png)
This is my

[2021-11-01 10:01] gjmwoods commented on #12755
@ikwattro A fix for this has now been released in 4.3.6. The `http.log` should now be in json if you configure `dbms.logs.default_format=json`. We also introduced a specific `dbms.logs.http.format` setting like the other logs should you wish to override the defaults.

Thanks very much for reporting the issue.

[2021-11-01 10:01] #12755 closed, assigned to nobody

[2021-11-01 21:55] mikesname opened #12783 "Deleted node still found in index, but only if referenced in more than one index..."
I've discovered a change in behaviour in Neo4j 4.3 that looks like a bug to me. At least I can't see anything documented and the current behaviour looks like it could catch people out.

**Neo4j version:** 4.3.6
**Operating system:** Ubuntu 20.04
**API/Driver:** Java API

### Steps to reproduce

1. Create a unique constraint on a property key for a given label
2. Create _at least one additional sta

[2021-11-02 14:52] emmaholmbergohlsson commented on #12783
@mikesname Thank you for reporting, and especially for the nice tests that helped me find the bug in minutes.
This is definitely a bug and a fix is on the way. The problem is actually not because you have several indexes but because the node has several properties. For nodes and relationships that have several properties and are created and deleted in the same transaction, there were some cases wh

[2021-11-04 02:21] czpmango commented on #12780
ACK, I misunderstood.

I think it's also very useful.

Thanks a lot for your reply!

[2021-11-06 11:58] Otterpohl commented on #9726
4.3.6 and unfortunately the bug is still there 😢

[2021-11-06 19:49] tomzeppenfeldt opened #12784 "Neo.DatabaseError.General.UnknownError : Expected a sorted plan related to ORDER BY"
Neo4j 4.3.*

A query ending with

[code]

triggers the error.

![image](https://user-images.githubusercontent.com/3007812/140621958-4de1f7dc-1e19-4562-9aa8-2342f65afbf6.png)

removing one of the ORDER by fields

[code]

returns the expected result
![image](https://user-images.githubusercontent.com/3007812/140621939-df83e772-d84e-4acf-84fd-410c1777ec27.png)

[2021-11-07 12:19] albertolovato commented on #12575
I tried to do the same for GDS, in particular I'm interested in calling PageRank in test harness, but it doesn't seem to work

[code]

When I try to call the function I get an Exception:
[code]

[code]

Am I missing something?

Thank you

[2021-11-07 12:36] pelletier197 commented on #12575
I have never used the plugin_dir configuration personally, so I wouldn't know, but your code seems to be good for what you wish to do.

You can maybe try to add the jar with your procedure to your classpath and import only the procedures you need manually if plugin_dir gives no success.

I have personally stopped using Harness because I was facing too many issues with the plug-ins. I went with a T

[2021-11-07 22:11] albertolovato commented on #12575
I've added all of the GDS jars in pom.xml, but I too am having troubles with harness, so I'll check out TestContainer.

Thank you very much!

[2021-11-07 23:17] mq1n opened #12785 "Cannot set data path in desktop app for Windows 11"
- **Neo4j version**: 4.3
- **Operating system**: Windows 11 Insider 22494
- **Steps to reproduce**
- Download Neo4j desktop app
- Install as administrator
- Open Neo4j application
- **Expected behavior**:
- Starts and works normally
- **Actual behavior:**
- Can not set path for store application data in first launch dialog

After than Windows 11 build 22483, "wmic.exe" process removed officially i

[2021-11-08 10:14] mnd999 commented on #12784
Thanks for the report , we'll investigate and get back to you.

[2021-11-08 10:16] mnd999 commented on #12785
Thanks for the report. This repository is for bug reports for the database itself. For the Neo4j desktop application, [this](https://github.com/neo4j-devtools/neo4j-desktop). Is the correct repository. Please open an issue there.

[2021-11-08 14:31] #12785 closed, assigned to nobody

[2021-11-09 09:26] arnefischereit commented on #12784
Thanks, @tomzeppenfeldt, for handing this in.

To make it easier for us to investigate, could you also provide us with the rest of the query, which we apparently could not sort?

[2021-11-09 11:55] tomzeppenfeldt commented on #12784
this is the complete query. You should be able to run it on any store, no specific labels are required.

I have the issue mainly on Aura

It takes these params. ids => array of node ids   length => for the apoc.path.expand

[code]

error occurs also when `ORDER BY patternLength DESC`

[code]

[2021-11-09 16:48] emmaholmbergohlsson commented on #12783
@mikesname The fix is included in 4.3.7 that has just been released

[2021-11-09 16:49] #12783 closed, assigned to nobody

[2021-11-10 11:02] khelkun commented on #12700
After updating neo4j Desktop to 1.4.9 all my local databases cannot be started.

The Upgrade tab of each database says:

But even after trying [upgrade instructions.](https://neo4j.com/docs/upgrade-migration-guide/current/migration/migrate-to-4.0/migrate-single-instance/#upgrade-single-instance).  The issue and the errors reported in the log files remain the same.

Desktop log.log reports:
[code]

[2021-11-10 13:36] arnefischereit commented on #12784
Thanks @tomzeppenfeldt!

We could reproduce the issue and will prioritize it in our upcoming work.

[2021-11-11 13:58] mikesname commented on #12783
@emmaholmbergohlsson excellent, works great now. Thanks for that :+1:

[2021-11-11 15:49] mnd999 commented on #12782
I'm not sure I fully understand the request, but it's certainly possible to do a multi-hop statement in Cypher e.g. `MATCH (a)-[:A]->(b)-[:B]->(c) WHERE a.prop='prop' AND b.prop='prop' RETURN c`.

Generally we prefer to answer these types of questions in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster response ther

[2021-11-12 12:29] Mooner97 commented on #12762
@mnd999 I have open an issue in Apache Tinkerpop project. Accroding to their answer, they think it should be solved by Neo4j.
I think it might be a bug and hope for your reply.
The Tinkerpop issue: https://issues.apache.org/jira/browse/TINKERPOP-2607

[2021-11-14 21:12] Hermann-Archambaud opened #12786 "Error while installing Neo4j Desktop on macOS"
Hello everyone,

I get this error "Initialization error: Error: net::ERR_CONNECTION_REFUSED" while installing Neo4j Desktop on MacOS.
Please, has anyone ever encountered this error ?

If Yes, how can I resolve it ?

Thanks in advance.

[2021-11-15 09:21] FraPazGal commented on #12781
It seems this is now also affecting the new patch version `4.3.7`, as no tag has been created for this release. I saw that tags for `4.3.5` and `4.3.6` were created, are you planning in doing so for the new version `4.3.7`?

[2021-11-15 19:35] InverseFalcon commented on #11747
Since this is coming up again, such a constraint should probably allow both specified and unspecified direction for the relationship, to allow flexibility.

Tangentially, a request for a degree constraint would be useful for cases when a unique constraint would not be correct (for example, in a family tree graph, limit a :Person to only degree 2 for outgoing `:HAS_PARENT` relationships). That is m

[2021-11-16 10:22] mnd999 commented on #12786
Thanks for the report. This repository is for bug reports for the database itself. For the Neo4j desktop application, [this](https://github.com/neo4j-devtools/neo4j-desktop) is the correct repository. Please open an issue there.

[2021-11-16 10:25] mnd999 commented on #12781
There seems to be a bug in some of our release process which we are looking into. It is definitely the intent to keep the existing behaviour of tagging the releases.

[2021-11-16 16:04] RobertoSannino opened #12787 "Relationship, where condition for property existence and neo4j id check, cannot be done togheter"
Running a query using conditions on a relationship, both for property existence and id check, as the following one:

`MATCH p=()-[r:KNOWS]->() WHERE id(r) = 0 AND r.prop IS NOT NULL RETURN p`

raise a **Neo.DatabaseError.General.UnknownError**:
`'boolean org.neo4j.cypher.operations.CursorUtils.relationshipHasProperty(org.neo4j.internal.kernel.api.Read, org.neo4j.internal.kernel.api.RelationshipSca

[2021-11-17 10:31] birsbear opened #12788 "Load CSV use command ":auto USING PERIODIC COMMIT" get wrong merge result"
I want to load CSV to create node and relationship by "id" . In csv there are 50238 row and 2227 node.
When I use :
`:auto USING PERIODIC COMMIT 700 `
`LOAD CSV WITH HEADERS FROM 'file:///clean_20210625_t.csv' AS line`
`MERGE (ipa:IP{ip:line['sa']})`
`MERGE (ipd:IP{ip:line['da']})`
`MERGE (ipa)-[c:connect{id:line.id}]->(ipd)`
I expected I can get 50238 relationship, actually it has 52703 relations

[2021-11-17 11:24] mnd999 commented on #12787
I think this is already fixed in a later 4.2.x, I was not able to reproduce on 4.2.7 or 4.3.7. If you need to stick with 4.2.3, I think CYPHER RUNTIME=slotted should also work as a workaround.

[2021-11-18 11:02] RobertoSannino commented on #12787
Using slotted runtime solved the issue, however it would be nice to have the CYPHER_RUNTIME_DEFAULT property both in config and docker env variable

[2021-11-18 16:04] erdelmaero opened #12789 "Neo.TransientError.Database.DatabaseUnavailable after recovery of corrupted database"
- Neo4j version: 4.3.7
- Operating system: Ubuntu host system but used in DOCKER
- API/Driver: neo4j browser

After power cut-off of my computer I restarted the database, tried to go on the neo4j browser. If I try to connect to the database I first get the warning:

**Could not connect with the "neo4j://" scheme to this Neoj server. Automatic retry using the "bolt://" scheme in a moment...**

Afte

[2021-11-19 07:09] kalmdy commented on #12776
you can try run : mvn clean install -Dlicensing.skip=true

[2021-11-22 07:49] tinwelint commented on #12789
Hi, would it be possible to share the store and transaction logs to allow for an RCA to be done? After that, as a work-around you could stop the db, delete the `data/databases/neo4j/neostore.counts.db` file and start again.

[2021-11-23 01:03] jdpedrie commented on #12695
Any update @mnd999?

[2021-11-23 10:45] abc123000111 opened #12790 "Neo.DatabaseError.Statement.ExecutionFailed is reported when executing the Cypher query: OPTIONAL MATCH (n0) MATCH (n0) OPTIONAL MATCH (n0) RETURN n0"
I discovered that when I executed the following Cypher query, a database error occurred.

**Neo4j Version:** 4.3.6 Community
**Operating System:** Windows 11
**API:** Cypher/Java API

### Steps to reproduce
Execute the following Cypher query:
OPTIONAL MATCH (n0) MATCH (n0) OPTIONAL MATCH (n0) RETURN n0

### Expected behavior
Return the nodes that satisfy the query.

### Actual behavior
**Error: Ne

[2021-11-23 13:49] mnd999 commented on #12790
Thanks for the report. That looks like a bug, we'll take a look and get back to you with our findings

[2021-11-26 08:41] klaren commented on #12781
There was an issue in our automated release process that failed to properly tag the releases. This should be fixed now, and I have pushed all the missing tags from old releases. Thank you for reporting and sorry for the inconvenience.

[2021-11-26 08:41] #12781 closed, assigned to klaren

[2021-11-30 07:21] newmanrs commented on #12762
This appears to be  a type error resulting in gremlin using `java.math.BigDecimal`  as the default type and not `double`.   Having to cast to data types supported by Neo4j (in this case double) would seem to be the expected behaviour here for using these tools together.

[2021-11-30 09:34] mnd999 commented on #12782
I have not heard anything back on this for some time so will close for now. Please feel free to reopen if it is still an issue.

[2021-11-30 09:34] #12782 closed, assigned to nobody

[2021-12-02 10:46] geoghegk opened #12791 "WARNING saying IBM Java is not a supported Java Runtime"
When running Neo4J community with IBM Java, a WARNING is displayed in the logs suggesting the Java runtime is not supported.

**Neo4j version**: 4.3.7
**Operating system**: All
**API/Driver**: Docker

### Steps to reproduce
  - Start NeoJ community 4.3.7 using IBM Java 11 (AKA Semeru) (from https://www.ibm.com/support/pages/java-sdk-downloads)

### Expected behavior
  -  NeoJ starts normally witho

[2021-12-02 15:02] okpalan opened #12792 "Error: Neo.ClientError.Procedure.ProcedureNotFound"
I am running neo4j from the windows teminal, and trying to execute a cypher script from the terminal at page  54 in chapter 4.I receive this error:
[code]
![Neo4jBug](https://user-images.githubusercontent.com/89138089/144447252-4fe2caea-361e-421c-8e6c-2880cf2b8a28.PNG)
What plugins are needed to resolve this error message?.

[2021-12-02 16:30] mnd999 commented on #12792
Do you have the GDS library installed? Instructions for doing so are [here](https://neo4j.com/docs/graph-data-science/current/installation/). You don't mention where to find the example you refer to, but the algorithm you refer to is alpha so may have changed in the version of GDS you have installed.

Generally we prefer to answer these types of questions in [our community forums](https://communit

[2021-12-04 10:32] petermartens1992 opened #12793 "neo4j-admin import generated duplicate id's after upgrade to 4.4"
- Neo4j version: 4.4
- Operating system: centos
- API/Driver: neo4j-admin import

Hi,

After upgrading to neo4j 4.4 I noticed that my neo4j-admin import generated duplicate id's, about 15 on a total of 6M or so nodes.

After further investigation it looks like some of the records from the csv's were misinterpreted, whereby fields from different records were combined, causing these duplicate id's.

[2021-12-05 17:06] jexp commented on #12793
Can you please share the CSV files with the team?

[2021-12-05 18:43] petermartens1992 commented on #12793
Sure. I will have a look first if I can reproduce the error myself, both with the original csv files and with a subset of them

[2021-12-06 10:34] klaren commented on #12791
Hello and thank you for the report.

IBM is not considered to be a supported runtime. For a list of supported ones have a look at https://neo4j.com/docs/operations-manual/4.3/installation/requirements/#deployment-requirements-software

Supported means that we run extensive testing on that particular JVM. Currently, we have no specific tests for IBM Semeru, but odds are that everything will work an

[2021-12-06 10:34] #12791 closed, assigned to klaren

[2021-12-06 19:45] jnnks opened #12794 "neo4j-admin import relationships with list property"
## Feature request template

**Is your feature request related to a problem? Please describe.**
I would like to import large amounts of relationships/nodes each with a list property.

**Describe the solution you'd like**
consider the following csv file:
[code]
Ideally the admin import tool has two additional parameters that denominate the start and end of a list. The `--delimiter` can be reused as

[2021-12-06 22:49] TheMellyBee commented on #9726
Neo4j Aura version 4 this still exists. What is the apoc that works right now?

[2021-12-07 07:06] rikveenboer commented on #9726
[CALL apoc.meta.graph()](https://neo4j.com/labs/apoc/4.1/overview/apoc.meta/apoc.meta.graph/)

[2021-12-07 20:17] petermartens1992 commented on #12793
Hi @jexp,

I did another test with 4.4 and this time there were 16 duplicates, but all of them were different than the first list of duplicates. Both lists have in common that the identifiers are very long (> 35 characters). About 4k of the 6M records have long identifiers so most of them are processed just fine.

Could you let me know how I can share the csv files (400MB) with the team?

[2021-12-07 20:37] jexp commented on #12793
If you can zip it and put it on gdrive/dropbox/s3 that would be great.

[2021-12-08 08:37] petermartens1992 commented on #12793
Thx, I just sent the link to github@jexp.de

[2021-12-08 13:11] abc123000111 opened #12795 "Neo.DatabaseError.Statement.ExecutionFailed is reported when executing the Cypher query: MATCH (n0),(n1) OPTIONAL MATCH (n0)--(:L0),(n1) RETURN n0 LIMIT 0"
I discovered that when I executed the following Cypher query, a database error occurred.

**Neo4j Version:** 4.3.6 Community
**Operating System:** Windows 11
**API:** Cypher/Java API

### Steps to reproduce
Execute the following Cypher query:
MATCH (n0),(n1) OPTIONAL MATCH (n0)--(:L0),(n1) RETURN n0 LIMIT 0

### Expected behavior
Return an empty result set.

### Actual behavior
**Error: Neo.Databa

[2021-12-09 02:42] ghost commented on #9726
@jexp Can you weigh in on this problem. It would be very useful to output an accurate and reliable schema graph.

[2021-12-09 21:53] AurelienData commented on #9726
For me, this method works `CALL apoc.meta.graph()` in contrary of `CALL db.schema.visualization`

<img width="1348" alt="good" src="https://user-images.githubusercontent.com/95886578/145481570-99879cf7-209a-43fa-bc56-3020a9545c58.png">

<img width="1345" alt="wrong" src="https://user-images.githubusercontent.com/95886578/145481597-5edfd1dc-be39-4c0b-b0b4-9fa0f46584f0.png">

[2021-12-10 09:44] jexp commented on #9726
I can't say much except that it's been long known and we fixed it in apoc many years ago.

The solutions is to post-validate after getting the unioned information from the database statistics to see which relationships are false positives.

Of course that makes the apoc version a bit slower but more correct (you can also configure the sample size to make it faster again).

There are also

* apoc.m

[2021-12-10 11:37] michalstutzmann opened #12796 "RCE 0-day exploit in log4j2"
https://www.lunasec.io/docs/blog/log4j-zero-day/
https://www.cve.org/CVERecord?id=CVE-2021-44228

Neo4j uses vulnerable version of log4j2: https://github.com/neo4j/neo4j/blob/4.3/pom.xml#L138

Possible interim fix: `dbms.jvm.additional=-Dlog4j2.formatMsgNoLookups=true`

Update: the above fix does not work for Neo4j version 4.2.11. Please see the  following thread for possible solutions.

[2021-12-10 12:33] stanislav-a-frolov opened #12797 ""Variable ` NODE0` not defined" in query with aliasing inside nested CALL"
- Neo4j version: 4.3.3; official docker image
- API/Driver: Neo4j Browser

Hi,

I've recently came into a strange bug while executing programmatically generated cypher. I reduced my query to reasonable minimum (that's why it looks strange):

[code]

When I execute the query from neo4j browser on empty (or not) database, I get:

[code]

If I remove aliasing in inner CALL:

[code]

everything is OK

[2021-12-10 12:55] mnd999 commented on #12797
Thanks for the report, we'll take a look and get back to you.

[2021-12-10 12:57] mnd999 commented on #12795
Thanks for the report. That looks like a bug, we're looking at it together with #12790

[2021-12-10 14:28] harmjanblok commented on #12796
Versions 4.0 and 4.1 seem to use `slf4j-log4j12`. Version 4.2 introduces using `log4j2`: https://github.com/neo4j/neo4j/blob/4.2/pom.xml#L140

[2021-12-10 15:39] emmaholmbergohlsson commented on #12796
@michalstutzmann and @harmjanblok Thank you for reaching out, this affects version 4.2 and forward.
We are working on a fix, meanwhile please use the configuration setting
`dbms.jvm.additional=-Dlog4j2.formatMsgNoLookups=true` which mitigates the problem.

[2021-12-10 18:21] jnnks commented on #12794
Updated my stackoverflow post.

Was looking for anything "*list*" instead of array-delimiter

[2021-12-10 18:21] #12794 closed, assigned to nobody

[2021-12-10 20:52] davcamer commented on #12796
On the 4.0 branch, the `slf4j-log4j12` dependency is scoped to test, and looking around a neo4j 4.0.4 docker image, I don't see the slf4j-log4j12 jar. I see commons-logging and slf4j, but no backends for either. How do 4.0 and 4.1 log?

log4j 1.x may still be vulnerable unless JMS appenders are disabled. If you could confirm whether log4j 1.x is used, then a similar config change may be able to di

[2021-12-11 16:27] Bashayr29 commented on #12796
Hi @emmaholmbergohlsson I'm using helm chart neo4j version 4.3.2 how to add this in my setting?

[2021-12-12 03:21] kevin-external opened #12798 "App becomes very slow after upgrade from neo4j 3.5 -> 4.3"
- Neo4j version: 4.3.2 Community
- Operating system: CentOS 7.0
- API/Driver: Javascript Driver 4.3.1
- Server: CPU 8 Core, Memory 64GB
- Neo4j Heap Size 16GB, Page Cache: 32GB

- **Steps to reproduce**
- Expected behavior
The overall cypher performance in 4.3.1 should be similar with 3.5
- Actual behavior
In the performance testing, the system performance decreases more than 50%. Especially Neo4j

[2021-12-13 06:09] backtrackshubham commented on #12796
Hi @emmaholmbergohlsson Does it affect 3.3.9
Thanks.

[2021-12-13 09:52] emmaholmbergohlsson commented on #12796
@davcamer
Before 4.2 Neo4j had its own custom logging framework
Log4j 1.x is not shipped with Neo4j, not now and not before 4.2 either

[2021-12-13 09:53] emmaholmbergohlsson commented on #12796
@backtrackshubham 3.3.9 is not affected. It is not a supported version anymore either though, so an update is recommended

[2021-12-13 10:28] backtrackshubham commented on #12796
Sure thanks

[2021-12-13 10:28] backtrackshubham commented on #12796
Can you point me to possible migration doc

[2021-12-13 10:40] enys commented on #12796
Following : https://community.neo4j.com/t/log4j-cve-mitigation-for-neo4j/48856 and mitigation above I am able to mitigate in 4.3.7 but still have the problem in 4.2.9.

Anyone else seing this ?

[2021-12-13 14:38] emmaholmbergohlsson commented on #12796
Hi @enys, can you give us more information about your setup and how you set the setting?

[2021-12-13 14:57] emmaholmbergohlsson commented on #12796
@backtrackshubham You can first upgrade to 3.5 with https://neo4j.com/docs/operations-manual/3.5/upgrade/planning/
and then from 3.5 you can either do a sequential or a direct migration https://neo4j.com/docs/upgrade-migration-guide/current/supported-paths/

[2021-12-13 15:51] enys commented on #12796
@emmaholmbergohlsson
I have tried quite a few versions now, using the mitigation:
[code]

Example docker-compose stack can be found :  https://github.com/Linkurious/docker-neo4j/pull/10/files
The results being:

- 4.3.7 : Mitigation OK
- 4.2.2: Mitigation OK
- 4.2.4 and 4.2.11 Mitigation is Not OK

The fact that setting the env var : NEO4J_dbms_jvm_additional squashes all defaults makes it unpract

[2021-12-13 16:38] rogomdi commented on #12796
Hi @enys @emmaholmbergohlsson in Neo4j 4.3.2 I've tried to use `NEO4J_dbms_jvm_additional=-XX:+ExitOnOutOfMemoryError -Dlog4j2.formatMsgNoLookups=true -Dlog4j2.disable.jmx=true`

However, it didn't work, I needed to use `JAVA_TOOL_OPTIONS=-Dlog4j2.formatMsgNoLookups=true -Dlog4j2.disable.jmx=true` to mitigate the vulnerability. In case you want to try another approach to mitigate it in every versi

[2021-12-13 16:56] frehler commented on #12796
Hi all, can anyone give me a tip on how to check if the configuration changes mitigate the vulnerability on my neo4j server?

[2021-12-13 17:07] enys commented on #12796
@rogomdi Thanks, I can confirm that your approach with:
[code]
is much better, with neo4j 4.3.7.

on Neo4j 4.2.11, as with the other way ( via jvm_additional, it doesn't work)

[2021-12-13 19:03] rogomdi commented on #12796
@frehler You can run `jcmd -l` to check which PID has Neo4J and, after that, you can run `jcmd <PID> VM.system_properties | grep log4j` and see if your process has the applied properties.

To check the vulnerability itself, to explain it briefly, you will need to send something as `${jndi:ldap://URI}` with an URI of a server that you have access to, and check if you received a request from a Java

[2021-12-13 20:28] michalstutzmann commented on #12796
@enys FYI, running Neo4j 4.2.11 in Docker with `NEO4J_dbms_jvm_additional=-Dlog4j2.formatMsgNoLookups=true`.

Seems the setting is effective:

[code]

[2021-12-13 20:46] wdroste commented on #12796
In order to mitigate 4.2.11 we removed the JndiLookup.class from neo4j-logging-4.2.11.jar

        rm -rf /tmp/cve-2021-44228 /tmp/neo4j-logging-4.2.11.jar
        mkdir -p /tmp/cve-2021-44228
        cd /tmp/cve-2021-44228
        unzip -q /usr/share/neo4j/lib/neo4j-logging-4.2.11.jar
        find /tmp/cve-2021-44228 -name JndiLookup.class -print | xargs rm -f
        cd /tmp/cve-2021-44228

[2021-12-13 20:47] enys commented on #12796
@michalstutzmann I can confirm the setting is passed in to the JVM also. But I can confirm it's still exploitable. Just shove a magic string in the 'user' field in the neo4j webbrowser for example, in 4.2.11.

[2021-12-13 20:59] wdroste commented on #12796
When we looked at it, 4.2.11 does `shaded` jar for logging and probably missed a `META-INF/services` because Log4j has an Environment concept that loads its properties and therefore is missing the service that says load all the system properties. Basically the **-Dlog4j2.formatMsgNoLookups=true** does *not* work for 4.2.11.

[2021-12-13 21:08] michalstutzmann commented on #12796
@enys @wdroste I can confirm your discovery. Have managed to send a remote JNDI request via the 'user' field in the Neo4j browser.

[2021-12-14 05:08] michalstutzmann commented on #12796
Based on @wdroste solution, here's a version that works with the official Docker image (community & enterprise edition):

[code]

[2021-12-14 09:09] tinwelint commented on #12793
Hi @petermartens1992 what's the contents of the header CSV file?

[2021-12-14 09:23] jexp commented on #12793
I got them. Will add to the card.

[2021-12-14 10:26] tinwelint commented on #12793
I found the issue and a fix for it. It should be included in the next 4.4.x release.

[2021-12-14 10:39] petermartens1992 commented on #12793
Many thanks @tinwelint and @jexp for this super-quick fix!

I will soon reactivate the auto-updates again in yum.

[2021-12-14 10:39] #12793 closed, assigned to nobody

[2021-12-14 10:53] tinwelint commented on #12793
Cheers! And thanks for being responsive and for sharing the necessary data to trigger this 🙏

[2021-12-14 21:11] enys commented on #12796
Looks like 4.2.12 is out ! Tested and was unable to reproduce the exploit via login field for example

[2021-12-15 08:47] enys commented on #12796
but : https://www.lunasec.io/docs/blog/log4j-zero-day-update-on-cve-2021-45046/ meaning we actually need an upgrade to log4j2 2.16.0

[2021-12-15 12:01] geoghegk opened #12799 "Neo4j fails to start on a FIPS environment"
Neo4j fails to start on an environment that has FIPS enabled.
An exception (see below) is thrown suggesting an issue related to the JDK.

Neo4j version: 4.3.7
Operating system: Red Hat Enterprise Linux CoreOS release 4.8 (Worker node on RedHat OpenShift OCP 4+  with FIPS enabled)
API/Driver: Docker

Based on the issue referenced below, I suspect this is not limited to Neo4J container running on Re

[2021-12-16 07:27] chlumper commented on #12796
With the updated information (https://github.com/lunasec-io/lunasec/issues/316) for `CVE-2021-45046` the upgrade to `log4j2 2.16.0` should only be necessary to mitigate the less impactful denial of service (DOS) part of the CVE.
The Log4Shell (RCE) part of `CVE-2021-45046`/`CVE-2021-44228` should not apply to `log4j2 2.15.0` from my understanding.

Regardless it would be interesting if there is a

[2021-12-16 07:54] #12790 closed, assigned to nobody

[2021-12-16 10:13] mnd999 commented on #12786
Have not heard anything further on this issue, so closing for now.

[2021-12-16 10:13] #12786 closed, assigned to nobody

[2021-12-16 10:17] mnd999 commented on #12692
Neo4j 4.4 has official docker images for ARM64 so I think we can close this now.

[2021-12-16 10:17] #12692 closed, assigned to mnd999

[2021-12-16 11:40] irene221b commented on #12796
We are working on `2.16.0` based update, will update the guidance as soon as it's available.

[2021-12-16 12:53] michalstutzmann commented on #12796
Seems the patch release for the 4.2 series (4.2.13) is already released https://neo4j.com/release-notes/database/neo4j-4-2-13/ but a Docker image is not yet available: https://hub.docker.com/_/neo4j?tab=tags&page=1&name=4.2.13

[2021-12-16 13:09] daniellobrunello opened #12800 "Neo4j-admin import fails on specific ID duplicates"
Hey there,

I stumbled while importing data via the neo4j-importer using CSV files that contain duplicates.
It seems like there is an issue with the length and/or the character set of the used IDs. I ran several tests to find a specific pattern, but I can't see any. Maybe you guys do, or maybe there are other restrictions regarding the IDs that I'm not aware of.

## System:
[code]

## The command

[2021-12-16 13:11] daniellobrunello commented on #12800
Crossposting: [https://community.neo4j.com/](https://community.neo4j.com/t/neo4j-admin-import-fails-on-specific-id-duplicates/49108)

[2021-12-16 15:41] emmaholmbergohlsson commented on #12796
4.4.2, 4.3.9 and 4.2.13 that uses Log4j 2.16.0 are in the process of being released.

If you for some reason can't upgrade right now dbms.jvm.additional=-Dlog4j2.formatMsgNoLookups=true does not mitigate the CVE completely for all logs on all versions. See https://neo4j.com/security/log4j/ for more information and the additional recommended settings. But please note that upgrading is the safest op

[2021-12-16 15:44] emmaholmbergohlsson commented on #12796
In 4.3.5 we fixed a bug for multi-arg jvm-additional (multiple arguments declared on one line) (changelog: https://github.com/neo4j/neo4j/wiki/Neo4j-4.3-changelog#435) That affects only 4.3.0-4.3.4.

[2021-12-16 23:24] enys commented on #12796
Thanks, upgrading is fine. Thanks for all the work, during this long week!

[2021-12-18 17:24] mullerhai opened #12801 "How to convert org.neo4j.values.storable.Value obj to org.neo4j.driver.Value obj ?"
HI Dear Neo4jer:
             In my java project ,I use org.neo4j.cypher.internal.runtime.interpreted.pipes.LoadCsvIterator  load csv file to   org.neo4j.driver.{Record, Result} Record and Result, but first  I need use LoadCsvIterator generate  org.neo4j.values.storable.Value,but  in 4.3.7  actually  generate string , Now   I finally need to Generate  import org.neo4j.driver.{Record, Result} Recor

[2021-12-18 21:46] coffeegist opened #12802 "APT Installation Issues: Could not find or load main class"
## apt installation failing to load neo4j

My sincerest apologies if this is not the proper place to report this since it may be an issue with the package and not neo4j's core codebase. It seems as though launching the neo4j service (or the binary at `/usr/bin/neo4j` directly) doesn't work proeprly, and reports the error `Could not find or load main class org.neo4j.server.CommunityEntryPoint`

- N

[2021-12-18 22:39] coffeegist commented on #12802
I _BELIEVE_ the issue may be the following line in `/usr/bin/neo4j`

[code]

This makes sense for the default to be /var/lib/neo4j, given that the neo4j user is added with a home directory of /var/lib/neo4j as seen in /etc/passwd

[code]

But I believe my `NEO4J_HOME` should actually be `/usr/share/neo4j`. See the directory differences below:

Below is a directory comparison

[code]

And it seems

[2021-12-18 23:04] coffeegist commented on #12802
As a temporary stop-gap, anyone else running into this issue should do the following to resolve:

1. Change the neo4j user's home directory (not sure this is required)
`usermod -d /usr/share/neo4j neo4j`

2. Run `systemctl edit neo4j` and modify the NEO4J_HOME var. An example can be seen below:

[code]

3. You may also need to run `systemctl daemon-reload` to force the new settings

Of course, I w

[2021-12-19 10:22] michalstutzmann commented on #12796
@emmaholmbergohlsson there is already a new patch release of log4j covering issues in 2.16.0. Are you planning to release a new patch for Neo4j? https://logging.apache.org/log4j/2.x/security.html

[2021-12-20 08:54] hedengran commented on #12790
Hi, I accidentally auto-closed this issue without leaving a response, sorry about that.

Anyways, thank you again for the report. This is indeed a bug, and I've merged a fix in our development branch. Currently back-porting this to all effected versions and it should be included with the next patch for those versions.

[2021-12-20 09:39] hedengran commented on #12797
Hi, thanks again for the report. This is indeed a bug, which seems to happen when a variable that has previously been assigned to a path is used again later in a query. I've merged a fix in our development branch. Currently back-porting this to all effected versions and it should be included with the next patch for those versions.

[2021-12-20 09:39] #12797 closed, assigned to nobody

[2021-12-20 18:15] Maadhav commented on #12613
I am not sure if I am missing something, but on neo4j 2.4.1 I still don't see any labels information in the meta property of the response. Are there any future plans for adding them?

[2021-12-21 02:47] abc123000111 commented on #12790
Thanks a lot!

[2021-12-21 08:59] fbiville commented on #12613
@Maadhav I assume you mean Neo4j 4.2.1, right?
Have you checked out https://neo4j.com/docs/http-api/current/actions/result-format/#_jolt?

[2021-12-21 12:49] Maadhav commented on #12613
@fbiville I have never worked before with jolt, and all my frontend apps, are using the JSON response from the rest of API. Just wanted to know if it would be possible to add the labels key in the meta field of the response in the future.
Thanks.

[2021-12-21 15:49] Irrefahrt opened #12803 "Too many concurrent transactions on load csv command"
After installing the newest community server 4.4.2 on a new instance, my code to load a graph DB via a python script using a sequence of 'LOAD CSV from file' commands now fails intermittently with too many concurrent transactions error.   Each  LOAD CSV command is issued from python via session.run() within a 'with ... session:' block.   Only one LOAD CSV  command is running at any point in time a

[2021-12-22 09:48] emmaholmbergohlsson commented on #12796
@michalstutzmann https://neo4j.com/security/log4j/ will keep being updated with the latest news, so you can check there.
Here is an excerpt of the current staus

[2021-12-22 11:09] jcubells commented on #12798
I also noticed a drop in performance for some queries, specifically when using relations depth (at least that's where we noticed it). From experience, some modifications in requests drastically reduced the drop, so I wonder if some new limitations appeared on some syntax ?

I'll put one example of a statement with issues for context (and to show the huge delta in computation time), but it's not th

[2021-12-22 14:01] fbiville commented on #12613
@Maadhav I'm fairly confident this won't happen. You will need to switch to Jolt.

[2021-12-23 08:30] ngcps999 opened #12804 "log4j2 has another 0-day CVE-2021-45105"
Log4j2 has another vulnerability.
suggestion for repairing：upgrade to log4j2-2.17.0

[2021-12-23 18:16] johannessen commented on #12613
As pointed out in the initial report, labels and types are available in JSON as part of the `graph` result if requested. Correlating the meta data this way on the client side seems a bit of a hassle though. I’d say Jolt should be considered the solution here.

Also, Jolt is much faster than JSON. ⚡️

[2021-12-24 11:22] mullerhai opened #12805 "Can not batch create the relationship use the nodeEntity.createRelationshipTo() java api method?"
HI Neo4j Officer:
	   I meet one bug [not sure,maybe it's not correctly call the method ],I want to batch create relationship from two category labels,when the foreign key is same ,will crate the relation .but when I run the Java application or scala application to create  the relationship like create successfully and the same process can query and find them,but when the java application shutdown

[2021-12-24 11:24] mullerhai commented on #12805
use  mac  latest operation system

[2021-12-27 12:33] tinwelint commented on #12800
Hello and thanks for reporting. This issue has already been fixed and will likely be available in the next patch release of 4.4

[2021-12-28 23:35] attritionorg commented on #12804
2.17.1 was released today fixing another (much lower priority) vuln, FYI.

[2021-12-29 11:54] WJHPRO opened #12806 "How to run the source code on win10？"
There are lot of errors When I open source cod with Idea.Could you please wirte a file to help us run the source code with Idea on win10

[2021-12-30 06:01] aleksanderlech opened #12807 "Neo4j transaction log did not rotate"
## Bug report

Hello, we recently had to restart the database that went into unhealthy state and recovery process started that took 2days.
When I checked the transaction logs directory it turned out that we have one file there with 250MB and another one reaching around 5TB.

I was confused since I thought the database uses default rotation of 250MB. Whats more it should only log transactions withi

[2021-12-31 01:51] in3rsha opened #12808 "Neo4j-admin import not importing :ID fields correctly."
Neo4j version: 4.4.2
OS: Ubuntu 20.04

When running `neo4j-admin import` the `:ID` fields are not being imported correctly. A handful of them seem to become duplicated for some reason.

Here's the CSV file:

[code]

And this is the command I'm using:

[code]

The import works correctly if I remove `:ID` from the CSV header. But if you assign `:ID` to the first field they do not get imported as exp

[2021-12-31 02:55] mullerhai opened #12809 "how to use pure java api insert node and relationship by bolt api connect ,not. cypher api ?"
HI. Neo4j Officer:
          Now. I have achieve batch insert node and relationship by use pure java api ,like createRelationshipTo()  and tx.createNode(Label.label(label)).asInstanceOf[NodeEntity], but now only can insert when the neo4j server is shutdown ,because of sock_lock,so only can make local embedded neo4j server. effect ,now I would like insert the data use the bolt api for remote server

[2021-12-31 13:59] #12098 closed, assigned to nobody

[2021-12-31 17:54] in3rsha commented on #12808
This is a similar issue to #12793 and #12800.

"I found the issue and a fix for it. It should be included in the next 4.4.x release." - https://github.com/neo4j/neo4j/issues/12793#issuecomment-993395961

[2021-12-31 17:54] #12808 closed, assigned to nobody

[2022-01-07 02:37] wangcccchen opened #12811 "The transaction has been closed."
I have successfully executed the command shown in the figure below several times, but when I execute it again, an error is reported.
![image](https://user-images.githubusercontent.com/70743874/148482276-f455f935-334e-4690-b27b-d2c237ecc8eb.png)
Looking forward to your reply

[2022-01-08 18:48] maiieul opened #12812 "Feature request: Index-backed ORDER BY without WHERE clause"
**Is your feature request related to a problem? Please describe.**

Currently, we have to add a where clause if we want an index-backed ORDER BY to work properly, even when the WHERE clause is not needed. It's not easy to understand at first, especially since the syntax is a bit hidden in the docs: https://neo4j.com/docs/cypher-manual/current/query-tuning/advanced-example/#advanced-query-tuning-ex

[2022-01-08 22:39] maiieul opened #12813 "Index being used but not efficient with multiple Index-backed ORDER BYs"
## Example bug report

I found odd behavior when using multiple index-backed `ORDER BY`.

With 2 indexes for `(p:Post)` on `(p.numberOfUpvotes)` and `(p.numberOfViews)`, with a 10 000 posts dataset,

This first query
[code]

gives following profile output
![neo4jbug2](https://user-images.githubusercontent.com/45822175/148661789-b949abea-1454-491c-99ae-588b700e67bc.png)

Which works as intended.

B

[2022-01-10 10:56] mnd999 commented on #12811
Thanks for the report - is there anything relating to this error in neo4j.log or debug.log on the server?

[2022-01-10 11:00] emmaholmbergohlsson commented on #12807
Hi @aleksanderlech
The provided debug log only seems to cover the recovery, but some observations.
There seems to have been a lot of transactions recovered (16675239), to cut down on any recovery time you could look into you checkpoint strategy. Fewer transactions between checkpoints would reduce the recovery time.
To keep two transaction log files when `NEO4J_dbms_tx__log_rotation_retention__poli

[2022-01-10 20:15] acmeguy opened #12814 "There is no procedure with the name `apoc.map.merge` registered"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

Before creating a new issue, please check whether someone else has raised the same issue. You may be able to add context to that issue instead of

[2022-01-10 20:40] #12814 closed, assigned to nobody

[2022-01-10 20:41] acmeguy commented on #12814
functions, not processes :)

[2022-01-11 02:40] czpmango opened #12815 "operator associativity"
**Environment**
- Neo4j version: 4.2.4
- Operating system: macOS
- API/Driver: cypher-shell

**Steps to reproduce**
- Expected behavior
[code]
- Actual behavior
[code]

[2022-01-11 02:42] czpmango commented on #12815
If the operator priorities are the same, shouldn't the default operator associativity be left-first?

[2022-01-11 07:59] burqen commented on #12812
@maieulChevalier Thank you for reporting!
Short answer
If you add existence constraint on Post(numberOfUpvotes) Cypher will know to use the index without explicitly adding `IS NOT NULL` where clause every time.
`CREATE CONSTRAINT FOR (n:Post) REQUIRE n.numberOfUpvotes IS NOT NULL`

Long answer
Here is the problem: The semantics of Cypher is such that `ORDER BY` does not exclude null values. So if

[2022-01-11 09:16] maiieul commented on #12812
Thank you for your reply @burqen. I understand the issue now.

Actually I should have implemented the existence constraint anyway so I will go for this solution on my side. Maybe the docs should explain the issue a little bit and hint to the existence constraint solution.

[2022-01-11 11:19] mnd999 commented on #12813
I see someone responded to this issue on #12812, does that resolve this one?

[2022-01-11 11:31] burqen commented on #12812
@maieulChevalier Yes, that's a good suggestion. I will pass it forward to the documentations team 👍
Are you ok with me closing this issue for now?

[2022-01-11 11:43] aleksanderlech commented on #12807
Hey,
That's correct, unfortunately, the original log was deleted by admins to save space when it was running out :(
I am sure that this rotation.size setting was not there as I did not even know about it before.

After restarting the database and recovery being done it did not delete the file even after forcing checkpoint. After some time it was pruned though - maybe it's not the checkpoint but so

[2022-01-11 11:46] #12812 closed, assigned to nobody

[2022-01-11 11:51] maiieul commented on #12813
@mnd999 Hmmm I don't think it does. The issue here is that the second query does a NodeIndexScan like the first query, so the index is used in both cases, but it doesn't seem to be used properly in the second query, since there are so many db hits.

[2022-01-11 12:10] emmaholmbergohlsson commented on #12807
Log pruning is triggered by checkpointing, but no logs would be pruned if there only existed 2 transaction log files. A minimum of two files are kept, so log pruning would only happen after log rotation had created a third transaction log file. A write transaction can trigger log rotation. So I would guess a transaction triggered log rotation and then the oldest transaction log file was deleted af

[2022-01-11 16:46] gauravbansal98 opened #12816 "Unable to validate constraint"
I am trying to put a constraint on a node property but getting the following error - Unable to validate constraint Constraint( UNIQUE, :USER(ID) )

Configuration-

[code]

EDITION=community

[2022-01-12 05:48] abc123000111 opened #12817 "Neo.DatabaseError.Statement.ExecutionFailed is reported when executing the Cypher query: MATCH (n0:L0) WHERE (((n0.k0) < (n0.k1)) XOR ((n0.k0) < (n0.k1))) RETURN *"
I discovered that when I executed the following Cypher query, a database error occurred.

**Neo4j Version:** 4.4.3 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
Execute the following Cypher query:
MATCH (n0:L0) WHERE (((n0.k0) < (n0.k1)) XOR ((n0.k0) < (n0.k1))) RETURN *

### Expected behavior
Return the result set that satisfy the query.

### Actual

[2022-01-12 06:01] abc123000111 opened #12818 "The following two Cypher queries will trigger database errors"
Hi, I discovered that the following two Cypher queries will trigger database errors (Neo.DatabaseError.Statement.ExecutionFailed). I wonder that if they are the same bug. Thank you!

**Neo4j Version:** 4.4.3 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
Executing each of the following queries will trigger a database error:
OPTIONAL MATCH (n1), (n2)<-

[2022-01-12 08:25] emmaholmbergohlsson commented on #12796
4.4.3, 4.3.10 and 4.2.14 that uses Log4j 2.17.1 have been released. See https://neo4j.com/security/log4j/ for recommendations on what to do if an upgrade is not an option for you right now.

Since these versions address all of the CVEs discussed here I'm closing this issue.

[2022-01-12 08:25] #12796 closed, assigned to nobody

[2022-01-12 08:26] emmaholmbergohlsson commented on #12804
4.4.3, 4.3.10 and 4.2.14 that uses Log4j 2.17.1 have been released. See https://neo4j.com/security/log4j/ for recommendations on what to do if an upgrade is not an option for you right now.

[2022-01-12 08:26] #12804 closed, assigned to nobody

[2022-01-12 17:49] maiieul opened #12819 "Feature request: lock bound nodes and relationships in pattern when deleting relationship, to set properties on bound nodes without duplication on concurrent writes"
**Is your feature request related to a problem? Please describe.**

For better indexing, I'd like to increment a property on a node everytime a relationship is merged and decrement the same property everytime the relationship gets deleted.

Here is an example:

If I understand correctly, the following `MERGE` query effectively sets the properties ONLY ONCE on create, even on concurrent writes [by

[2022-01-13 03:24] jmpews opened #12820 "M1 neo4j can't run at embedded mode"
neo4j cant' run at embedded mode

[code]

**Neo4j Version:** 4.4.0
**Operating System:** macOS 12.1(M1)
**JDK:** zulu-11

[2022-01-13 03:34] #12820 closed, assigned to nobody

[2022-01-13 08:53] mnd999 commented on #12817
Thanks for the report, this does look like a bug. We'll investigate and let you know when we have a fix.

[2022-01-13 09:03] mnd999 commented on #12816
Thanks for the the report, can you share the Neo4j version you are using, and the command you are using to create the constraint. Also, is the constraint valid for the data that already exists in the database, if any?

[2022-01-13 10:51] mnd999 commented on #12818
Thanks for the report, I tried both of these queries on 4.4.3 and they planned okay for me. To diagnose things further we would need to know a little more about the database itself such as the amount of data, and any indexes or constraints that are present that could influence the behaviour of the planner.
One way to do this would be to run `call db.stats.retrieve("GRAPH COUNTS")` and share the re

[2022-01-13 23:39] maiieul commented on #12819
Oh and just like `MERGE`, [performing another match afther locking on bound elements would be necessary to avoid race conditions.](https://neo4j.com/developer/kb/understanding-how-merge-works/#_merge_acquires_locks_on_nodes_and_relationships_in_the_pattern_when_resulting_in_pattern_creation)

You can reproduce the decrementing issue by doing the following:

1. create user, post and merge relations

[2022-01-14 01:56] abc123000111 commented on #12818
Thanks a lot! I upload the retrieved data after running  `call db.stats.retrieve("GRAPH COUNTS")` :
[GRAPH COUNTS.txt](https://github.com/neo4j/neo4j/files/7867079/GRAPH.COUNTS.txt)

![image](https://user-images.githubusercontent.com/34190313/149438051-f866a527-5d0c-4d50-8a11-01630f47c456.png)

[2022-01-14 16:17] mughetto opened #12821 "Issues with PropertyRecord ?"
On a local deployment of Neo4J CE with private data we're seeing that sometimes queries that explicitly refers to an identifier, eg:
match (n) where n.ident="ENSEMBL:ENSG00000184292" return n

Fail with:
org.neo4j.io.pagecache.CursorException: PropertyRecord[832187] claims to have more property blocks than can fit in a record. additionalBlocks:1, recordSize:41, cursorOffset:6929, offsetAtBeginning

[2022-01-14 20:32] maiieul commented on #12819
After more investigation, I found that the issue actually comes from wanting to increment, then decrement, then increment, etc., through `SET` after a `MATCH` clause.

I found another use case where I need to lock before a match without any `DELETE` clause. To reproduce:

1. create user, post and merge relationship

[code]

2. Same as above, you can run it concurrently to see it increment or decre

[2022-01-15 08:06] abc123000111 opened #12822 "Executing the same Cypher queries on different versions of Neo4j returns different results."
I discovered that when I execute the following queries on Neo4j 4.2.14, the result set contains 37 records. But when I execute the same queries on Neo4j 4.3.10, the result set contains 1369 records.

[code]

**Neo4j Version:** 4.2.14 and 4.3.10 Community Server
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.2.14 and 4.3.10, respectively.
2. Exe

[2022-01-16 13:44] maiieul commented on #12813
I found a workaround:
[code]
It effectively uses the index for `p.numberOfUpvotes` and then applies the `ORDER BY` with `p.numberOfViews DESC`.

Still I think that it should work properly without this workaround, shouldn't it?

[2022-01-17 08:56] mnd999 commented on #12809
One way to do this would be to write the Java code as a [procedure](https://neo4j.com/docs/developer-manual/current/extending-neo4j/procedures/l) and invoke it remotely using CALL. Also take a look at [APOC](https://neo4j.com/developer/neo4j-apoc/), particularly the apoc.load procedures as there may already be a procedure that does what you want.

[2022-01-17 15:34] maiieul opened #12823 "Locking behavior when setting properties conditionally with `MATCH` and `SET` leads to data being set unreliably on concurrent writes"
I discovered that locking behavior when setting properties conditionally with `MATCH` and `SET` can lead to data being set unreliably on concurrent writes.

**Neo4j Version:** 4.4.0
**Operating System:** Linux Mint 20.1 Cinnamon
**API:** Neo4j Aura

### Steps to reproduce

1. Launch a blank neo4j sandbox; create following graph

[code]

2.  Run following query concurrently (you have 15 secs to run

[2022-01-17 15:47] maiieul commented on #12819
Closing, as I opened #12823 for clarity.

[2022-01-17 15:47] #12819 closed, assigned to nobody

[2022-01-18 00:07] alisomay commented on #7203
@RyanSnodgrass Thank you <3

[2022-01-18 07:01] arnefischereit commented on #12813
Hi @maieulChevalier,
Thank you for raising this issue.

## What happens in this case?
I have had a look at your case and it looks to me that the effect you are seeing comes from the very particular data in your graph: Both `numberOfUpvotes` and `numberOfViews` are constant.

The index can guarantee us that the results are ordered with regards to the properties the index is based on. In the first c

[2022-01-18 08:51] tinwelint commented on #12821
Hey @mughetto is this something that is consistent e.g. on this particular identifier in this dataset, or does it happen sporadically on different identifiers randomly?

[2022-01-18 10:06] mughetto commented on #12821
Hey @tinwelint, it is not sporadic as far as we can tell. For example I just retried the query in the initial post and got the same error (same size and offsets).

edit: in parallel I'm trying to check wether this identifier is supposed to be in the DB or not with one of our users.

[2022-01-18 10:55] mughetto commented on #12821
So just for additional info, if I run:
MATCH (n:GeneTarget) return n.ident

and download the resulting CSV, I can retrieve the identifier ENSEMBL:ENSG00000184292

[2022-01-18 12:31] arnefischereit commented on #12784
Hi @tomzeppenfeldt,
Thank you again for reporting this issue. We [have merged a fix](https://github.com/neo4j/neo4j/commit/ba8d72fbc67095b37a9f417bbc6dd06064a27d52) for this bug and made it publicly available [as part of version 4.3.8](https://github.com/neo4j/neo4j/wiki/Neo4j-4.3-changelog#cypher-2).

[2022-01-18 12:31] #12784 closed, assigned to nobody

[2022-01-18 13:33] tobias-johansson commented on #12815
Hi, @czpmango
This is actually the expected behavior. Chains of `=` and `<>` are treated [in a special way](https://neo4j.com/docs/cypher-manual/current/syntax/operators/#cypher-operations-chaining) in Cypher.

This means that  `1=1=true` is equivalent to `1=1 AND 1=true` and not `(1=1)=true` nor `1=(1=true)`

[2022-01-18 19:50] maiieul commented on #12813
@arnefischereit thank you for your thorough explanation.

This was supposed to be Mock data and I now realise it was not very realistic to set all values to 1. It's true that sorting by similar values twice doesn't really make sense... Everything works as expected when trying with more realistic values.

And thanks also for pointing out that my workaround wasn't even valid :smile:

I'm closing the

[2022-01-18 19:50] #12813 closed, assigned to nobody

[2022-01-18 19:55] tinwelint commented on #12821
@mughetto OK this is indeed has a bit of mystique about it. Apparently that identifier is fine if it's accessed one way, but not another. I'd bet it's a product issue of some sort and am interested in iron it out, or at the very least try to understand it more.

You mention it's private data, as in that you're unwilling to share your database with me for investigation? It would be the best option

[2022-01-18 21:06] chasemc opened #12824 "Help deciphering "Tried to put multiple groups with same type" error message"
I'm not sure this is a bug because the error message seems to be arising at the conditional https://github.com/neo4j/neo4j/blob/4fe5e8b568b8f399193e2c8e74e56f8fb17ca82a/community/record-storage-engine/src/main/java/org/neo4j/internal/batchimport/RelationshipGroupCache.java#L201

[code]
However I am at a loss at what is causing the issue and since there's ~70GB of the relationship TYPE I was trying

[2022-01-18 21:12] chasemc commented on #12824
Note- that relationship is broken into ~2GB files and * expansion used in the `--relationships` flag

[2022-01-19 07:38] mughetto commented on #12821
Hi @tinwelint, it's really that I can't share it. We are in the process of open-sourcing this KG but part of it are licensed or sensitive data so we have to sort out IP issues first... Very sorry, I wish I could make it easier for you.

I think we'll have  to go the jar route.

[2022-01-19 13:17] mnd999 commented on #12787
Closing as this is fixed in latest patches.

[2022-01-19 13:17] #12787 closed, assigned to mnd999

[2022-01-19 13:23] mnd999 commented on #12788
Sorry for the slow response on this one. Do you have any constraints on the database?

[2022-01-19 14:07] mnd999 commented on #12822
Thanks for the report. We'll take a look and get back to you.

[2022-01-19 15:45] tinwelint commented on #12821
Hi, OK I can provide a jar or two you can replace in your lib/. It can log additional text debug output when hitting this problem to the debug.log with a certain class prefix that could give me more hints. I'm building them for 4.3.9 as you state in your ticket.

[2022-01-20 06:49] DonggookKim opened #12825 "neo4j fail to start without error log"
## Guidelines
- Neo4j version: 3.5.22
- Operating system: kubernetes. given neo4j helm chart.
- When start neo4j, neo4j core discover other cores but do nothing after that. In my opinion, it should do raft algorithm and find leader and follower, but it doesn't do raft algorithm, even any logs. Is there any possible to check some where?

## error log
[code]

[2022-01-20 07:54] HannesSandberg commented on #12823
Thanks for the report. We'll take a look and get back to you.

[2022-01-20 12:21] tinwelint commented on #12821
@mughetto btw what is the full stack trace that you get?

[2022-01-20 16:08] stefanak-michal opened #12826 "Wrong datetime format with timezone id after toString"
- Neo4j version: 4.4.3
- Operating system: Windows 10 x64
- API/Driver: Browser

## Bug report

I discovered when you execute this query with toString on datetime with timezone id you will get wrong format of date as result.

[code]

## Current result:
[code]

## Expected result:

[code]

[2022-01-21 00:11] DonggookKim commented on #12825
it caused by apoc plugin version. thax

[2022-01-21 00:11] #12825 closed, assigned to nobody

[2022-01-21 02:53] choeoe opened #12827 "bug of gremlin api "has()""
- Neo4j version: X.Y.Z
- Operating system: (for example Windows 95/Ubuntu 16.04)
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z)
- **Steps to reproduce**
- Expected behavior
- Actual behavior

## bug

Error occurred when querying "has()" on properties if the data has INFINITY field.

**Neo4j Version:** 3.2.3 tinkerpop:3.4.10
**Operating System:** windows wsl
**API:** gremlin

###

[2022-01-21 04:49] stanislav-a-frolov opened #12828 "Different results for UNWIND with and without inner CALL"
- Neo4j version: 4.3.3; official docker image
- API/Driver: Neo4j Browser

Hi,

Steps to reproduce:
Run query on **empty** database:

[code]

Return values:
[code]
Then, run this query on **empty** database (query is the same, but actions are inside CALL):
[code]
Return values:
[code]

The latter is an expected behaviour for me after reading docs.

[2022-01-21 10:25] longtran84 opened #12829 "How to get node's id with cypher request?"
{
  "identity": 10,
  "start": 176457,
  "end": 1,
  "type": "WORKS_AT",
  "properties": {

  }
}

how i can get value all that fields?

[2022-01-21 13:40] tinwelint commented on #12821
@mughetto So I've added more information to the exception that you get and it will also be logged with full stack trace in your `debug.log` along with the raw data contents of that property record when it happens. You can reach the file at https://sprend.com/download?C=b7402dbf06da4e6a8b57e156e18030fe

It's `neo4j-record-storage-engine-4.3.9-debug.jar` and you should move away your existing `lib/n

[2022-01-23 05:18] abc123000111 opened #12830 "Neo.DatabaseError.Statement.ExecutionFailed occurred when executing the query: MATCH (n0), (n1)--(n2) OPTIONAL MATCH (n0)--(n3:L1), (n1) RETURN * LIMIT 0"
I discovered that when I executed the following query, a database error occurred.

**Neo4j Version:** 4.3.10 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
Execute the following query:
MATCH (n0), (n1)--(n2) OPTIONAL MATCH (n0)--(n3:L1), (n1) RETURN * LIMIT 0

### Expected behavior
An empty resultset should be returned.

### Actual behavior
**ERROR: N

[2022-01-23 07:18] abc123000111 opened #12831 "Different results returned when executing the same queries on different versions of Neo4j"
I discovered that when I executed the following queries on different versions of Neo4j, different results were returned:

[code]

**Neo4j Version:** 4.4.3 and 4.2.14 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.2.14 and 4.4.3, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result sets

### Expected be

[2022-01-24 06:03] aleksanderlech commented on #12807
I agree that it might be hard to reproduce that so I don't mind closing and reopening when it happens again.
It was set to default so it should and does maintain files of maximum size of 250MB when I checked the last time.

[2022-01-24 08:22] HannesSandberg commented on #12828
Thanks for the report. We'll take a look and get back to you.

[2022-01-24 08:44] emmaholmbergohlsson commented on #12807
Okay, lets go with that, please reopen if it happens again

[2022-01-24 08:44] #12807 closed, assigned to nobody

[2022-01-24 08:52] mughetto commented on #12821
@tinwelint Thanks a lot! I'll have a look at all this today and report back!

[2022-01-24 09:04] HannesSandberg commented on #12826
Thanks for the report. We'll take a look and get back to you.

[2022-01-24 09:55] arnefischereit commented on #12830
Hi there,

Thanks for reporting another issue on `OPTIONAL MATCH`.

The issue described here seems to have the same cause as #12795. We will therefore handle the issue there.

Let me know if you have any more questions.

[2022-01-24 11:12] czpmango commented on #12815
ACK and thanks for reply!

[2022-01-24 11:12] #12815 closed, assigned to nobody

[2022-01-24 12:40] abc123000111 commented on #12830
Thanks a lot! I would have thought that issue #12795 was fixed in the new release of Neo4j 4.3.

[2022-01-24 13:36] arnefischereit commented on #12828
Hi there,

Thank you for your raising this issue.

The difference in the results that you observed stems from different semantics on how these two queries are executed.

In general, Cypher behaves as if each of the clauses is (fully) executed one after the other. That is,
- we first produce three rows with column `a`,
- then for each row we execute the optional match, finding nothing,
- then for e

[2022-01-24 14:45] abc123000111 opened #12832 "When executing the same queries, different versions of Neo4j return different results"
I discovered that when I execute the following queries, Neo4j 4.4.3 returns 13 records, and Neo4j 4.2.14 returns 65 records.
[code]

**Neo4j Version:** 4.4.3, 4.2.14 Community
**Operating System:** Windows 11
  **API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.2.14 and 4.4.3, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result sets

### Expected

[2022-01-24 16:33] arnefischereit commented on #12830
Hi @abc123000111,

The fix for #12795 is currently in the process of being backported from our main development branch to the previous releases and will be available in an upcoming release.

More to that on that issue.

[2022-01-24 16:33] #12830 closed, assigned to nobody

[2022-01-24 22:26] InverseFalcon commented on #12831
4.4.3 seems correct for the operations executed.

In the last statement, no matter how many rows get generated by the matches in the first half of that statement, the `WITH n3 WITH DISTINCT *` will bring rows back to 18 distinct rows of nodes, and the `n3` variable bound for each of those.

`OPTIONAL MATCH (n3), (n5)` gets you 18 (input rows corresponding with `n3`) * 18 (since `n5` will do a cart

[2022-01-24 23:32] abc123000111 commented on #12831
Thanks a lot! Of course it starts with an empty graph. Here is the PROFILE of execution from 4.2.14:
![plan (2)](https://user-images.githubusercontent.com/34190313/150882572-e234bddb-9814-415b-a62f-5ac7a3ac09a1.png)

And here is the PROFILE of execution from 4.4.3:
![plan (1)](https://user-images.githubusercontent.com/34190313/150882608-4f75d934-a8cb-448a-9aa0-3319391102fb.png)

[2022-01-25 07:20] mughetto commented on #12821
Hej Mattias,

here are the logs, there seems to be consistency issues at the very least, and I apologize for the debug.log being crippled by conf warnings:
[debug.log](https://github.com/neo4j/neo4j/files/7931396/debug.log)
[consistency.log](https://github.com/neo4j/neo4j/files/7931398/consistency.log)

Thanks again for your help!

[2022-01-25 08:58] tinwelint commented on #12821
Thanks for the consistency check log. It's pointing to _some_ issue, but don't quite see yet how it would be this exact issue. Also about the debug.log you sent... it covers 15 seconds worth of logs. Just a start/stop, right? Did you try to trigger the issue again during that time?

[2022-01-25 09:01] mughetto commented on #12821
Of course I didn't 😬😬 On my way back to the cluster :x

On Tue, Jan 25, 2022 at 9:58 AM Mattias Finné ***@***.***>
wrote:

--
Michaël Ughetto

[2022-01-25 09:51] mughetto commented on #12821
And now the debug .log with an error triggered by:
`MATCH (n:Compound) WHERE n.desc='CHEMCONNECT:208835394' RETURN n`

[debug.log](https://github.com/neo4j/neo4j/files/7932470/debug.log)

I tailed it and it contained the error I'm seeing in the browser so it shoudl be ok now.

[2022-01-25 13:09] tinwelint commented on #12821
Thanks, I see it now. It's strange, it's as if the string property in that record was partly damaged somehow, making it look like it's empty and that there are other properties in there, but that's just random garbage basically. Is it possible to share the transaction logs for closer inspection?

[2022-01-25 13:15] mughetto commented on #12821
Sure, which file is it in data/<db> ? I have a `checkpoint.0` and a `neostore.transaction.db`. I assume this won't perspire any actual data?

[2022-01-25 14:57] tinwelint commented on #12824
@chasemc you seem to have hit a bug in the importer. Could you try to run this with `--verbose` option and provide the output here?

[2022-01-25 15:27] tinwelint commented on #12821
The structure is usually:

[code]

The files that would be interesting are, as you pointed out the `neostore.transaction.db.*` They do contain actual data however. But only the data that have been changed transactionally, not from the initial import (if you've done such).

[2022-01-25 15:35] mughetto commented on #12821
Ok, We normally don't change anything after the initial import so that'd be OK. I have screwed my existing deployment so I need to reimport, will keep you updated.

[2022-01-25 23:24] InverseFalcon commented on #12831
Thanks for the PROFILE plan.

The 4.2.14 plan looks flawed in that the AllNodesScan for n3 in the upper right branch of the plan is incorrect, and is adding an unnecessary multiplication of rows as a result.

Interestingly, both in SLOTTED and PIPELINED runtimes (available only in Enterprise edition), the planner corrects the number of rows at the NodeLeftOuterHashJoin step. But the INTERPRETED ru

[2022-01-26 07:38] HannesSandberg commented on #12832
Thanks for the report. We'll take a look and get back to you.

[2022-01-26 09:49] tinwelint commented on #12821
Oh so that means the property was broken at import. Interesting...

[2022-01-26 14:07] loveleif commented on #12823
Hi @maieulChevalier, thanks again for reporting this issue and for doing so in such a clear manner!

One thing to note is that transactions in Neo4j use a read-committed isolation level by default, which means they will see data as soon as it has been committed and will not see data in other transactions that have not yet been committed. As you have noted, one can manually acquire write locks on n

[2022-01-26 14:12] loveleif commented on #12823
I'm closing the issue, as I believe the observed behaviour is correct. My previous comment also contains a solution to achieve what's wanted. Feel free re-open or create a new issue if anything is unclear.

[2022-01-26 14:12] #12823 closed, assigned to HannesSandberg

[2022-01-26 20:57] loveleif commented on #12788
Thanks for reporting this @birsbear! We've been able to reproduce the issue and are working on a fix.

[2022-01-26 21:52] loveleif commented on #12788
I was able to reproduce it in 4.3.3, but not in 4.3.10 or 4.4 versions using my data. Please update version and raise a new issue if problems remain @birsbear.

[2022-01-26 21:52] #12788 closed, assigned to nobody

[2022-01-27 08:24] mnd999 commented on #12829
Thanks for your question, to return the id of a node or relationship, use the `id()` [function](https://neo4j.com/docs/cypher-manual/current/functions/scalar/#functions-id). e.g `MATCH (n) RETURN id(n)`.

Generally we prefer to answer these types of questions in [our community forums](https://community.neo4j.com/) or on our [discord](https://discord.gg/neo4j) and you will likely get a faster respo

[2022-01-27 08:28] mnd999 commented on #12816
I haven't heard anything back on this for a while so will close for now. Feel free to reopen if it's still an issue.

[2022-01-27 08:28] #12816 closed, assigned to nobody

[2022-01-27 11:08] mughetto commented on #12821
So turns out that reimporting everything in a fresh deployment on a fresh volume has fixed things for now... Users are on the watch for new errors of that kind but it definitely looks like at some point an import went bad.

Really sorry for the noise since I can't reproduce the original issue anymore for now :(

Thanks agains for your help, I'll close the ticket for now and reopen if we see the er

[2022-01-27 11:08] #12821 closed, assigned to nobody

[2022-01-27 11:45] loveleif commented on #12823
It might also be possible to re-calculate number of upvotes. Something like:

[code]

[2022-01-27 13:42] chasemc commented on #12824
I don't have the input, but am planning on regenerating it tonight anyways. Will see if the error occurs again

[2022-01-27 15:02] tinwelint commented on #12821
OK cheers! I may have spotted that you use an NFS mount for neo4j, is that true? There are known issues in some corner cases with such a setup. If that's not the case then ignore this comment.

[2022-01-28 05:22] abc123000111 opened #12833 "Neo.DatabaseError.Statement.ExecutionFailed is reported when executing the query: MATCH (n0) OPTIONAL MATCH (n1) MATCH (n1) WITH * MATCH (n2) OPTIONAL MATCH (n3) OPTIONAL MATCH (n2) RETURN *"
I discovered that when I executed the following Cypher query, a database error occured.

**Neo4j Version:** 4.1.11 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
Execute the following Cypher query:
MATCH (n0) OPTIONAL MATCH (n1) MATCH (n1) WITH * MATCH (n2) OPTIONAL MATCH (n3) OPTIONAL MATCH (n2) RETURN *

### Expected behavior
Return the result set t

[2022-01-28 11:19] abc123000111 opened #12834 "Different results are returned when excuting the same queries on different versions of Neo4j"
I discovered that when I execute the following queries, Neo4j 4.1.11 returns no records, but Neo4j 3.5.30 returns one record.
[code]

**Neo4j Version:** 4.1.11 , 3.5.30 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.1.11 and 3.5.30, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result sets

### Expecte

[2022-01-29 21:20] igrmk opened #12835 "`:params` incorrectly processes big numbers"
- Neo4j version: 4.4.0
- Operating system: Aura
- API/Driver: Cypher
- **Steps to reproduce**
  - Run `:params {"TooBigNumber": 637790870791443682}`
  - Check the result
- Expected behavior
[code]
- Actual behavior
[code]

[2022-01-30 02:43] abc123000111 commented on #12834
Another example:

I discovered that when I execute the following queries, Neo4j 4.1.11 returns no records, but Neo4j 3.5.30 returns one record.
[code]

**Neo4j Version:** 4.1.11 , 3.5.30 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.1.11 and 3.5.30, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result

[2022-01-30 02:56] abc123000111 opened #12836 "Executing the same Cypher queries on different versions of Neo4j returns different results."
I discovered that when I execute the following queries, Neo4j 4.1.11 returns 23328 records, but Neo4j 3.5.30 returns 1296 records.
[code]

**Neo4j Version:** 4.1.11 , 3.5.30 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.1.11 and 3.5.30, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result sets

### Ex

[2022-01-31 10:32] HannesSandberg commented on #12834
Thanks! We will look into this and get back to you.

[2022-01-31 10:34] HannesSandberg commented on #12833
Thanks for the report! We will take a look.

[2022-01-31 10:38] HannesSandberg commented on #12836
Thanks, we will take a look and come back to you.

[2022-01-31 11:36] arnefischereit commented on #12828
I will close this issue for now. If you do not think this is resolved, please comment here or open a new issue, referencing this case.

[2022-01-31 11:36] #12828 closed, assigned to HannesSandberg

[2022-02-01 00:45] chasemc commented on #12824
Update: Didn't get to this the other day.....regenerating tonight

[2022-02-01 13:39] blouerat commented on #12795
Hi @abc123000111,
This issue has now been fixed an backported, it will be out in the next release. Thank you for raising with us in the first place.
It looks like you have opened other similar issues, in neo4j as well as in other projects. The queries all look interesting if a bit unusual. May I ask whether you use some kind of automated generator? If so, would you be interested in discussing it w

[2022-02-01 13:39] #12795 closed, assigned to nobody

[2022-02-01 14:39] hedengran commented on #12817
Hi and thanks again for the report. This is indeed a bug. A fix has now been merged  and I'm in the process of backporting the fix to all older supported versions as well.

[2022-02-01 14:39] #12817 closed, assigned to mnd999

[2022-02-02 01:17] abc123000111 opened #12837 "Different results returned when executing the same queries on Neo4j 4.1.11 and 3.5.30, respectively."
I discovered that when I executed the following queries on different versions of Neo4j, different results were returned:

[code]

**Neo4j Version:** 4.1.11 and 3.5.30 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.1.11 and 3.5.30, respectively.
2. Execute the mentioned queries on each version.
3. Compare the result sets

### Expected

[2022-02-02 06:46] abc123000111 commented on #12795
Thank you so much! I'm a software testing researcher currently working on finding bugs in graph databases. My collaborators and I design and implement a prototype of an automated generator and plan to publish a paper this year. We are glad that this work can help you improve the stability of Neo4j (which is awesome and well-known). We are also looking forward to your feedback, which will be the st

[2022-02-02 14:35] abc123000111 opened #12838 "Wrong results are returned when executing the Cypher queries"
I discovered that when I execute the following queries, 144 records are returned. But actually it should return 288 records.
[code]

**Neo4j Version:** 4.3.10, 4.2.14 Community
**Operating System:** Windows 11
**API:** Cypher query

### Steps to reproduce
1. Start Neo4j 4.3.10 or 4.2.14
2. Execute the mentioned queries
3.  The result sets are returned
![plan](https://user-images.githubusercontent.

[2022-02-02 15:03] abc123000111 opened #12839 "When executing the following Cypher queries, incorrect results are returned."
I discovered that when I executed the following queries, only one record (1, null, null) is returned.
[code]
But it should return the three records as:
(1, false, null)
(1, null, null)
(1, true, null)

**Neo4j Version:** 4.3.10, 4.2.14 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j
2. Execute the mentioned queries
3. The wrong results a

[2022-02-03 08:21] imparassharma commented on #12073
I am facing the same issue. I tried to update my PATH variable also but there is no WMIC.exe file present anywhere in my system..

[2022-02-03 09:45] HannesSandberg commented on #12837
Thanks! We will look into this and come back to you.

[2022-02-03 09:47] HannesSandberg commented on #12838
Thanks for the report! We will look into this.

[2022-02-03 09:48] HannesSandberg commented on #12839
Thanks for this report! We will look into the issue and come back to you.

[2022-02-04 09:49] OliviaYtterbrink commented on #12826
This is working as intended.
The result with the offset is the correct output as shown here https://neo4j.com/docs/cypher-manual/current/functions/string/#functions-tostring

[2022-02-04 09:49] #12826 closed, assigned to HannesSandberg

[2022-02-08 11:08] abc123000111 opened #12840 "Incorrect results are returned when executing the Cypher queries."
Hello! I discovered that when I execute the following queries, 648 records are returned. But actually it should return 2 records.

[code]

**Neo4j Version:** 4.3.10 Community
**Operating System:** Windows 11
**API:** Cypher / Java API

### Steps to reproduce
1. Start Neo4j 4.3.10
2. Execute the mentioned queries
3. The result sets are returned

### Expected behavior
Only 2 records should be return

[2022-02-10 12:10] tinwelint commented on #12824
No news?

[2022-02-10 12:16] marcingrzejszczak opened #12841 "Provide observability via Micrometer 2.0.0 & Micrometer Tracing"
# Introduction

With Micrometer 2.0.0 we're introducing a concept of an `Observation` ([you can read more about it here](https://micrometer.io/docs/tracing)). An `Observation` wraps an action that we would like to measure. A measurement can be wrapping it in a `Timer` (metrics), creation of a `Span` (tracing) or any other custom behavior such as e.g. logging.

Let's check the following example

[c

[2022-02-10 12:53] mnd999 commented on #12811
I have not heard anything back on this issue for some time, so will close for now. Please feel free to reopen if it is still an issue.

[2022-02-10 12:53] #12811 closed, assigned to mnd999

[2022-02-10 12:58] mnd999 commented on #12827
Thanks for the report. I'm not very familiar with the Tinkerpop gremlin driver, but it appears to be translating the query to Cypher, resulting in a parsing error. Is it possible to provide an example of the generated Cypher created by the gremlin driver so that w can narrow down where the issue is?

[2022-02-11 15:08] chasemc commented on #12824
Just finished regenerating the data and importing and it worked so it seems like it was irreproducible or the previous data was somehow corrupted.

[2022-02-11 15:09] chasemc commented on #12824
This is likely not the last dataset like this I'll be generating so I'll keep watch for this error

[2022-02-11 15:09] #12824 closed, assigned to nobody

[2022-02-12 08:13] Farxial commented on #10941
If the property key deletion is too difficult to implement, why not implement property key rename?
Usage scenario:
1. Remove the deprecated property from all entities
2. Review property-related constraints
3. Rename the property key to give it a new life
4. Enjoy :)

[2022-02-14 07:45] HannesSandberg commented on #12840
Thank you for the report. We will look into this.

[2022-02-14 17:10] UmamaheswarKalagotla opened #12842 "4.4.3 Enterprise Version"
- Neo4j version: 4.4.3
- Operating system: Amazon Linux2)
- API/Driver: (Apoc)
- **Steps to reproduce**
- Expected behavior
- Actual behavior

Configuration override prefix = bimodalv3_neo4j_replica_0
Starting Neo4j READ_REPLICA 0 on bimodalv3-neo4j-replica-0.bimodalv3-neo4j-replica.neo-dev.svc.cluster.local
chown: changing ownership of '/var/lib/neo4j/certificates/neo4j_ldap.jks': Read-only file

[2022-02-17 02:41] birsbear commented on #12788
Thanks for fix this issues. It can import file correctly in 4.3.3 also in 4.3.10 and 4.4 versions.

[2022-02-17 15:01] HannesSandberg commented on #12842
Hi! Since we mostly use github issues for bugg reports. Could you open a support ticket instead? As that will get you better help from our support team with setting up the configuration for LDAP properly.

[2022-02-17 18:57] frdougal opened #12843 "Question about maintaining provenance data"
Hello, I plan on loading data into a neo4j graph and I want to associate it with some provenance data.  Specifically, I want to track when it was loaded, source file(s) used to generate the data, what code was used to load it, etc.  I will be pulling several data sources together into one graph and I want to track their origin.  Most of the datasources will contain on the order of 10-100k nodes.

[2022-02-18 12:54] abc123000111 commented on #12795
Hello Bastien,

My message wasn't delivered because your email provider rejected it. So I reply to you here:

My name is Wei Lin, a Ph. D student at Peking University. Thank you very much for your suggests, and I think they will be a great help in our research. I sincerely hope that our work can contribute to the development of Neo4j.

We are writing the paper now. If we find new bugs in Neo4j, I

[2022-02-21 06:07] bradenmacdonald opened #12844 "Transaction issues with Neo4j 4.4: Client triggered an unexpected error"
I have been trying to upgrade my application from 4.3 to 4.4 since 4.4 was announced, and I try again every time there's a new point release, but I've been hitting issues every time. This weekend I took time to try to investigate what's going on, using Neo4j 4.4.4, and was able to work around some of the issues, but I still seem to be hitting a recurring issue of flaky `Client triggered an unexpec

[2022-02-21 09:32] HannesSandberg commented on #12844
Hi! Thanks for your report! We will look into this and report back to you.

[2022-02-21 09:42] zimmre commented on #12841
HI, we have reviewed your feature request and decided not to proceed with it.

[2022-02-21 09:42] #12841 closed, assigned to nobody

[2022-02-23 13:04] Farxial opened #12845 "Rename property keys"
1. This ability can help get rid of [remove key](https://github.com/neo4j/neo4j/issues/10941) implementation problem: just reuse the stale key with a new name and forget about garbage in your DB forever.
2. Of course, this ability can also be used to correct naming mistakes, moving properties along with data. Not all developers immediately clearly understand how exactly they should name some new o

[2022-02-23 15:54] zulfi123786 opened #12846 "Neo4j Bloom Node Size per Rules shows inverse Sizes"
Team,

In Neo4j Bloom Desktop version I was trying to set Custom Node Sizes based on Bigint field Range with Minpoint set to 0.25x and MaxPoint set to 4x. It showed the inverse with nodes having small values in bigger size and those with higher values in smaller size. This has wasted my 2 days worth of evaluation of multiple Graph Visualization tools as this silly coding mistake by Neo4j Developer

[2022-03-01 03:12] abc123000111 opened #12847 "A database error occurred when executing the following Cypher queries on Neo4j 4.4.4"
I discovered that when I executed the following Cypher queries, a database error occured.

Neo4j Version: 4.4.4 Community
Operating System: Windows 11
API: Cypher / Java API

###Steps to reproduce
Execute the following Cypher query:
[code]

###Expected behavior
Return the result set that satisfy the query.

###Actual behavior
**Error: Neo.DatabaseError.Statement.ExecutionFailed**
Expected
RegularS

[2022-03-01 11:06] giorgioditizio commented on #11965
I was in a similar situation as @philastrophist. In my case, it seems it failed because by changing the NEO4J_HOME folder it cannot find the jar files in the Lib folder used by default by neo4j.
I solved by:
1)Creating the environmental variables NEO4J_HOME and NEO4J_CONF (both are needed) pointing respectively to the new home folder of neo4j and the folder containing the neo4j.conf file.
2)Modifi

[2022-03-01 12:38] joknelid commented on #12846
Hi,

Thanks for reporting this issue - it was indeed pretty easy to fix and we will be making a patch release sometime in the next few days.

We definitely don't want to waste someones time but sometimes these things happen sometimes :) But we will add some automated testing to catch these kinds of things in the future.

Hope that helps,
Jens

[2022-03-02 13:50] inmost-light commented on #12839
Hello @abc123000111,

I believe this is actually working as intended:
- There are no patterns matching `OPTIONAL MATCH (n1 :L2)-[r0 *]-(n2 :L3)`, therefore `n1` is always set to `NULL`.
- For `OPTIONAL MATCH (n3 :L1),(n1)` to match anything, all pattern parts must match something. Since `n1` is `NULL`, it can't ever match anything, therefore `n3` is also always `NULL`.

To get your expected result