[2018-11-27 12:41] KDean-Dolphin commented on #2521
You can transform the line before process using one of the following methods. Which one you choose depends on whether or not your file has headers and therefore whether or not the line is returned as a map or a list.

**Without headers**

This one is pretty straightforward; we use list comprehension to unbundle the line into its component values, replace every empty string with null, and rebuild t

[2018-11-27 15:59] zhenlineo commented on #11040
Hi @gotomgo,
The result you got `{"results":[{"columns":["true"],"data":[]}],"errors":[]}` is returned when `match` and `where` find 0 row to return.

For example, for query
`MATCH (n) RETURN true LIMIT 1`
returns
[code]
and another query
`MATCH (n) RETURN true LIMIT 2`
returns
[code]
So if no row is found, it only returns
[code]

However you mentioned that you could receive 0 row even if where co

[2018-11-27 15:59] #11040 closed, assigned to zhenlineo

[2018-11-28 08:20] tinwelint commented on #12093
In order to diagnose this I believe we have to have access to the full query. If you're worried about not exposing private data you could obfuscate actual data values in the query as long as the structure remains intact.

[2018-11-28 08:21] tinwelint commented on #12093
Also, does the query work when run via some driver (trying to get at if the error is in browser or cypher parsing)?

[2018-11-28 11:42] purplemana opened #12104 "Concurrent transactions hang the client AND server."
A prior issue search didn't result in a match so here you go...

A minimal repo is available [here](https://github.com/purplemana/neo4j-concurrent-transactions).

Basically, two concurrent transactions (unrelated in my case), cause the client AND Server to hang, until the connection is terminated.

My setup info:
Neo4j: 3.4.6 Ent on Windows 10.
Client neo4j-driver: 1.7.2
Dev env: Ubuntu on Windows

[2018-11-28 12:13] breitmark opened #12095 "Neo4j 3.5.0 fails to start on Linux"
2018-11-28T08:44:54.901012+01:00 markus neo4j[2721]: 2018-11-28 07:44:54.900+0000 ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@3b96c42e' was successfully initialized, but failed to start. Please see the attached cause exception "org.neo4j.kernel.impl.logging.LogService". Starting Neo4j failed: Component 'org.neo4j.server.databas

[2018-11-28 12:13] breitmark commented on #12095
debug.log:
2018-11-28 09:33:00.176+0000 INFO [o.n.i.d.DiagnosticsManager] --- SHUTDOWN diagnostics END ---
2018-11-28 09:33:02.412+0000 WARN [o.n.i.p.PageCache] The dbms.memory.pagecache.size setting has not been configured. It is recommended that this setting is always explicitly configured, to ensure the system has a balanced configuration. Until then, a computed heuristic value of 12623050752 b

[2018-11-28 12:52] sarmbruster commented on #12095
how did you deploy neo4j? tar.gz, deb, rpm, docker?

[2018-11-28 13:03] chrisvest commented on #12095
If you are using extensions such as APOC or Graph Algorithms, you need to make sure that you use versions of those extensions that are built for your specific Neo4j version. If you have custom extensions, you need to upgrade those to support 3.5.

[2018-11-28 14:07] purplemana commented on #12104
Inspecting the neo4j client and server logs, the second transaction statement never gets fired, so this could be a connection pool related issue.

[2018-11-28 14:32] zhenlineo commented on #12104
Hi @purplemana ,
I checked out your GH project and got this following output:
[code]
Also I have the node with id 1 and also "CONSTRAINT ON ( book:Book ) ASSERT book.isbn IS UNIQUE" in my database.

I directly run with your script with a clean db. Could you help me understand more what is the error? or if I used your script wrongly to reproduce the error? The script output and db status look all g

[2018-11-28 15:16] zhenlineo commented on #12104
Hi @purplemana,

I can recreate your issue with a second run of your script with my new db. So it needs some data in the db first. I will have more look into your problem and come back to you.

[2018-11-28 15:21] josh-porter opened #12096 "Inconsistent behavior of query planner with respect to indexed property"
Because of a quirk in my data model, I'm doing manual query optimization using apoc.cypher.run(). In the process, I've discovered some strange query planner behavior.

**Neo4j Version:** Enterprise 3.4.5
**Operating System:** Red Hat Enterprise Linux Server release 6.8 (Santiago)
**API:** Cypher

### Steps to reproduce
I first create an index on the UUID property of Person nodes:
`CREATE INDEX ON

[2018-11-28 16:59] zhenlineo commented on #12104
Hi @purplemana ,

We have looked into your problem. It is not really related to Js driver. It is probably something wrong with the cypher execution engine on the server side. We've reported your problem to related teams to handle from there. Hopefully they will come back to you and give you more details.

For a quick work around, if you move `await transactionOne.commit();` before constraint query

[2018-11-29 08:51] technige commented on #12094
Hi @bluejoe2008. The two sets of classes exist in the two separate projects: the server and the client. Each is optimised for use in that environment and the driver and server are managed, built and released on separate schedules.

Why are you trying to add new property types though? Adding types to the type system is an extremely complex piece of work and would generally require support through t

[2018-11-29 08:56] andreikoval commented on #12041
@PawanWagh as I mentioned before, did you try using `lsof` to identify the process locking that file? I suspect that when you shutdown neo4j, there's a daemon automatically restarting it.

[2018-11-29 10:09] zhenlineo commented on #9541
Hi @jschmidtWK ,

Is it true that you are using the REST `/transaction/{id}` endpoint to execute the queries you shared? Will it help if you rollback the transaction after it fails?

Does this error only happen in a HA cluster? Can you also try to simulate in a single instance Neo4j server to see if you also receive the same issue?

Cheers,
Zhen

[2018-11-29 12:18] tomersagi commented on #12086
According to GAE. The problem is not theirs:

[2018-11-29 12:20] elR1co commented on #11649
Hi,

following my discussion with @jexp [here](https://community.neo4j.com/t/neo4j-community-compatability-with-java-11/2537/19), I have the same problem described here.

I am able to run Neo4j with Java 11 on a brand new Amazon Linux 2 instance, but it fails to start again after instance reboot. And I get the same error message than [above](https://github.com/neo4j/neo4j/issues/11649#issue-317415

[2018-11-29 12:59] thedataist commented on #12041
I'm seeing the same "lock on store_lock" error (and infinite systemctl restart) on a standalone 3.4.9 Enterprise instance (on Ubuntu 16.04 on an Azure VM) following neo4j-admin load of a backup graph.db dump and overwriting with --force. No processes have a lock on graph.db/store_lock. I've tried deleting store_lock but this has no effect.

The same graph.db dump we are using works with neo4j-admi

[2018-11-29 13:53] zhenlineo commented on #10223
Hi @bradnussbaum,

It might be related to a bug in jetty version `9.2.22.v20170606` we used in 3.3 Neo4j.
We upgraded jetty to `9.4.11.v20180605` in 3.4. I run the same test against the latest 3.4 server, it gives me no error. The browser page also is loaded normally.

I do not think we will upgrade jetty versions in 3.3 server. So I would suggest you to upgrade to 3.4 or our latest 3.5 servers wh

[2018-11-29 13:53] #10223 closed, assigned to nobody

[2018-11-29 14:43] tomzeppenfeldt opened #12097 "TIMESTAMP() returns error , timestamp() does not"
- Neo4j version: 3.5.0
- Operating system: (Mac OS)

- In Neo4j Browser

[code]

- Expected behavior

Both should work

- Actual behavior

[code]
returns error

[code]

[2018-11-29 14:48] breitmark commented on #12095
It was an APOC 3.4. A message showing the problem instead of a crash would be great

[2018-11-29 16:21] zhenlineo commented on #7608
Hi all,
Sorry for the long delay to come back on this issue. The docs about using bolt with embedded is out-of-date now. We have a card to update it.

I think the issue described here is no longer valid with the latest server. So I am closing this thread. If you have any further problems pls be free to open a new issue.

[2018-11-29 16:21] #7608 closed, assigned to nobody

[2018-11-29 18:17] klobuczek commented on #8832
Today neo4j 3.5.0 has been released and guess what? It is still on scala 2.11. By now this is much more than disappointing.

[2018-11-29 18:48] Dcanzano commented on #12097
@ophileon  thanks for reporting and i have also reproduced using bin/cypher-shell such that 'return timestamp();` succeeds but `return TIMESTAMP();`  errors.   ill update the cypher team

[2018-11-29 19:18] neurofoo opened #12098 "Neo4j Desktop: Neo4j 3.5.0 Fails to start on mac mojave after upgrade from 3.4.9"
Using Neo4j Desktop Version 1.1.13 (1.1.13.1058)

Upgraded database from 3.4.9 to 3.5.0 using the desktop app upgrade tools (manage > upgrade). I don't think that I clicked the additional option checkbox that I recall being there.

Upgraded the plugins (APOC v3.5.0.1, Graph Algorithms v3.5.0.1, GraphQL v3.5.0.1).

On start, fails with the error message below.
I have 3 indexes that are apparently (

[2018-11-29 20:16] neurofoo commented on #12098
Am able to reproduce this.
- Create a new db version 3.4.9 in desktop
- install the noted plugins
- open browser

[code]

close browser, shutdown database.
Go to manage, upgrade.
Upgrade to 3.5.0 and do no check the migration checkbox.
Upgrade looks okay.
Latest plugins there.

Start it. Boom, hello error message (as before):

[code]

[2018-11-29 20:20] neurofoo commented on #12098
Make new 3.4.9 database.
Do as above.
This time click the 'migration' checkbox.
Upgrade fails with following error message:

[code]

[2018-11-29 20:24] neurofoo commented on #12098
Use the new db (from previous post).
Start. Go to browser. Drop index.
Try upgrade with migration again.
Fails as before.

[2018-11-30 06:24] DFoxinator opened #12099 "Query breakage starting with 3.5.0 (returns unknown error)"
Hi,

I'm testing out a query that was working on 3.4.10 on 3.5.0, and it causes a weird kind of cryptic error.

The high-level error that is returned/shows up in the Neo4j Browser when I run the query is: `Neo.DatabaseError.General.UnknownError: key not found: SymbolUse(r@105)`

Stack trace from debug.log is:
[code]

And the query is:
[code]

Please let me know if you have any questions/need any a

[2018-11-30 10:10] methyl commented on #6584
As 3.5.0 is now released and I can't really find it in the changelog, is ORDER BY now using indexes properly without limitations such as only ASC order being supported?

[2018-11-30 10:17] Lojjs commented on #6584
@methyl DESC order is supported but all queries are not supported yet, we are still working on improvements to this feature. To see what is supported in 3.5.0, please read the documentation here: https://neo4j.com/docs/cypher-manual/current/query-tuning/cypher-index-values-order/

[2018-11-30 10:59] Anishx commented on #5444
Any idea as to how this is done on windows ?

[2018-11-30 11:00] chrisvest commented on #12095
In this case APOC is using the internal _kernel extensions_ API. Such extension are assumed to be critical to the safe and correct operation of the database, and as such failure to load them cannot be ignored. We can only improve the error message.

[2018-11-30 11:05] sarmbruster commented on #12095
Indeed APOC uses kernel extensions for couple of things. IMO its fine that Neo4j does not start with incompatible extensions. However the error message should be improved e.g. "could not load kernel extension org.neo4j.contrib.apoc.SomeClass due to ..."
Would also be good if that error message not just gets traced to debug.log, but also to neo4j.log. The latter is exposed as log when running via d

[2018-11-30 12:13] chrisvest commented on #12095
It is already in the neo4j.log. At least in 3.5.

[2018-11-30 18:41] InverseFalcon commented on #12099
Hi, looks like the problem is with lines 4 and 5, ordering using a variable which isn't present in the preceding WITH clause. By changing your WITH to:

[code]
I'm seeing the problem go away.

As you said we had no issues with this kind of thing in 3.4.x, we'll investigate.

[2018-11-30 19:22] DFoxinator commented on #12099
@InverseFalcon thanks for the info, good find. I'll definitely change it to that for the 3.5.0 testing I'm doing.

From my understanding of Cypher (I might be wrong) is that either WITH or RETURN should be able to include items in the ORDER BY that are not in the WITH or RETURN list, so I'm thinking maybe the 3.4.x behavior is the correct one.

[2018-12-03 04:37] purplemana commented on #12104
Hi @zhenlineo, apologies for a late reply and thanks for analyzing this issue.

So it this deadlock situation specific to constraints only? My actual requirement is to have a data-migration code to handle constraints and data `up` and `down` migrations for my application as it evolves. I first create a book-keeping `App` node in a virgin instance. Then the `up` migrations run one after the other t

[2018-12-03 07:11] tomersagi commented on #12086
I tried spinning up a GraphStory neo4j instance and I'm getting the same problem.
connection from browser works fine. conencting from the GAE dev_app server.py fails with Permission denied.

[2018-12-03 07:27] tolomaus opened #12100 ""Did not find any type information for expression" error after upgrading to 3.5"
Hi,

I have loaded my neo4j database via `neo4j-admin import`, one of the source datasets is AnnualAccount with id reference (field name in the csv file: `reference:ID(AnnualAccount)`)

I got the following error when executing a cypher query with `OPTIONAL MATCH (company)-[:HAS]->(annualAccount:AnnualAccount) WHERE company.annualAccountReference = annualAccount.reference`

This has always worked j

[2018-12-03 08:12] pangguoming commented on #5444
@Anishx just delete data/dbms/auth file

[2018-12-03 09:15] zhenlineo commented on #12094
Closing this as it is not related to any bug report or feature request. If any further question, pls discuss in http://neo4j.com/slack for example.

[2018-12-03 09:15] #12094 closed, assigned to nobody

[2018-12-03 09:18] zhenlineo commented on #12082
Actually I am going to close this issue as there is no bug to fix for this particular case.

[2018-12-03 09:18] #12082 closed, assigned to nobody

[2018-12-03 10:25] pontusmelke commented on #12097
@ophileon Thanks for reporting this. The issue has been fixed and will be part of the next 3.5 release.

Thanks again!

[2018-12-03 10:25] #12097 closed, assigned to nobody

[2018-12-03 11:11] jschmidtWK commented on #9541
Hi Zhen,
We are using the Neo4J community client (https://github.com/Readify/Neo4jClient/) which, AFAIK, targets the transaction endpoint.

Under normal circumstances, no transaction is left open, they are either committed or rolled-back.

I've only seen this error on an HA cluster, never on a standalone server.

Best Regards,
Jonathan

[2018-12-03 12:40] jberends opened #12101 "No sudo rights on `neo4j-admin load` gives wrong feedback string"
- Neo4j version: 3.4.10
- Operating system: Ubuntu 18.04

## feature request report

I discovered many small annoyances regarding management of the neo4j server, including amoungst others the `neo4j-admin load ...` message that is shown without the correct rights.

Without the proper rights you get: `command failed: the database is in use -- stop Neo4j and try again` which is not the case if you d

[2018-12-03 13:12] ali-ince commented on #9646
Hi @dahaynes,

Neo4j 3.3.2 is a fairly old release, and the fix I've mentioned above (PR #11469) should be included in the latest versions (it should at least be 3.3.5 for 3.3 versions). Please update to one of the latest patch versions and retry the same setup.

@mahmoudafer we're not able to reproduce the error in our environments. It would be awesome if you could provide us with reproduction st

[2018-12-03 16:18] dhimmel commented on #8580
@technige are you talking about the `WebSocket connection failure`?

I tested out upgrading to 3.2.13 locally and I no longer got the `WebSocket connection failure`. However, the query seemed to go on forever, which also is not the expected behavior. Need to investigate this more. Will update if I get around to this.

[2018-12-03 16:20] InverseFalcon commented on #12093
We're troubleshooting this one on the [community site here](https://community.neo4j.com/t/setting-the-stack-size-doesnt-seems-to-work/3524).

This is a > 5700 line query that is explicitly and improperly using separate variables for each individual set of values to be processed rather than properly using batching of input data. Ideal form will be 2 separate 12-line (or so) queries.

We'll ensure t

[2018-12-03 22:24] mahmoudafer commented on #9646
Hi @ali-ince I'm really sorry as I already ditched windows and set it up on aws ubuntu instance and working like a charm.
Thanks for your efforts!

[2018-12-04 11:02] purplemana commented on #12104
The transactions are created with different sessions, would they still share locks?

[2018-12-04 11:08] #12031 closed, assigned to nobody

[2018-12-04 13:56] zhenlineo commented on #12104
Hi @purplemana,

The locks are taken on the database side to ensure the consistency of your data so that there will be no two transactions trying to modify the same thing. The deadlock was actually cause by the fact that two transactions (started by the driver) waiting on the same locks on the server side. To remove the deadlock, you need to commit the first transaction to release the locks it hol

[2018-12-05 01:21] srinathgudimetla opened #12102 "Unable to find transaction 1 in any of my logical logs"
I am setting up Neo4j cluster with 2 core nodes and few Read Replicas. For now, I have not added any Read Replicas. Using Neo4j Enterprise edition 3.5.0 and OS on all nodes is Ubuntu 18.x. No data has been loaded yet into the database.

[code]

I have configured the neo4j.conf file as described in this link: https://neo4j.com/docs/operations-manual/current/clustering/setup-new-cluster/#causal-clus

[2018-12-05 04:21] purplemana commented on #12104
Thanks a ton @zhenlineo for your inputs. Do you want me to close this issue now?

[2018-12-05 17:19] ali-ince commented on #9646
I'm re-closing this issue since the original issue has been resolved and I would kindly ask anyone running into a similar problem to create a new issue with as much information as possible describing the problem (and their environment as well).

Thanks.

[2018-12-05 17:19] #9646 closed, assigned to eebus

[2018-12-06 15:09] methyl commented on #6584
I'm playing with it and it seems it doesn't handle my usecase:
[code]
In my case, there can be hundreds of thousands of movies for some actors so full scan is not reasonable, that's why I really count on having this feature in place, otherwise I have to resort to SQL database to get it done.

Is this something you will support eventually?

This uses indexes just fine:
[code]

[2018-12-07 08:35] sherfert commented on #6584
@methyl
Does it work if you add `USING INDEX m:Movie(box_office_earnings)` to the first query?

Broader answer: Yes, we want to support such queries to choose the cheaper index automatically because of ordering in the future, but it didn't make it into 3.5. Right now it will (unless you provide hints) solve this part of the query `(p:Person {name: "Tom Hanks"})-[:ACTED_IN]->(m:Movie) WHERE m.box_o

[2018-12-07 10:08] Clooney24 opened #12105 "Issue with WITH DISTINCT on 3.5.0 throwing 'key not found' error for existing keys"
We are facing a strange behaviour in our 3.5.0 test database. The following cypher returns as expected one existing Uuid:

[code]

Almost the same cypher just including DISTINCT in the WITH clause:
[code]

returns the following error:

This happens on our test db (3.5.0) running a backup from the live db (3.4.7) - so same data.

Executing the same cypher on our live db (3.4.7) on the same data wor

[2018-12-07 10:08] methyl commented on #6584
@sherfert when I add using index, it seems to stop using index for `p:Person`, so that it still takes forever. Adding two using index:
[code]

does not seem to solve issue either, it won't load even if I don't order anymore.

[2018-12-07 10:45] sherfert commented on #6584
To use both indexes, the planner needs to realize that the cheapest plan that does not require sorting, is a HashJoin with `m` on the right-hand-side. That, unfortunately, you will not get to work, even with hints, in 3.5. Hopefully 4.0 will have that capability.

[2018-12-07 15:21] zhenlineo commented on #9795
Hi @fbiville
Sorry for coming back to you a bit late. But could you explain more about the issue you have?
If you want to config a bolt connector, then you need to specify that the connector is for bolt by stating that `dbms.connector.another_bolt.type=BOLT`. The connector name could be anything you like such as bolt (dbms.connector.bolt.enabled=true) or 0 (dbms.connector.0.enabled=true).

Could y

[2018-12-07 16:30] fbiville commented on #9795
Hi @zhenlineo, digging up the old Liquigraph pull-request, it seems I had to configure the connectors differently depending on Neo4j 3.x version (see the short diff here: https://github.com/liquigraph/liquigraph/pull/187/files).

Is there a way that works consistently for all 3.x versions of Neo4j?

[2018-12-07 16:30] fbiville commented on #9795
It hasn't been a problem in 3.3. I need to test 3.4 and 3.5 though.

[2018-12-07 17:16] zhenlineo commented on #9795
Hi @fbiville,
Thanks for your quick reply. I feel sorry that you need to test the server version to decide what config option to use in your code. I now see your problem. So by default we turn on bolt connector, while the names of the default bolt connector differs in different versions.

But as 3.1 and 3.0 are EOL now, I probably will not fix this in these two versions. I think we did a refactor

[2018-12-09 15:40] graphadvantage opened #12106 "3.5 full text search - support for array searching"
Neo4j 3.5

Be great to also index array strings -

CALL db.index.fulltext.createRelationshipIndex('role_index', ['ACTED_IN'], ['roles'])

CALL db.index.fulltext.queryRelationships("role_index", "Neo") YIELD relationship, score RETURN *

Yields null result

MATCH (m:Movie)<-[r:ACTED_IN]-()
SET r.role = r.roles[0]

CALL db.index.fulltext.createRelationshipIndex('role_one_index', ['ACTED_IN'], ['role

[2018-12-09 15:44] graphadvantage opened #12107 "3.5 full text search - call db.indexes() output"
Just a little thing

CALL db.indexes()

the type of index for relationships is listed as node_label_property, might be better listed as relationship_type_property for clarity

"INDEX ON RELATIONSHIP:ACTED_IN(role)" | "role_one_index" | ["ACTED_IN"] | ["role"] | "ONLINE" | "node_label_property" | 100.0 | {   "version": "1.0",   "key": "fulltext" } | 9

[2018-12-09 20:55] graphadvantage commented on #12055
Hi Zhen

Sorry I wasn’t able to get back to you sooner - what I’m looking for is the ability to introspect the sort order rank on final row sets, as an integer reference on the record stream.

Currently this is accomplished through something like this, a bit of a long walk

MATCH (n:Movie)
WITH COLLECT([id(n),n.title]) AS rows
WITH apoc.coll.zip(RANGE(1,SIZE(rows)),rows) AS enumerated_rows
UNWIND

[2018-12-10 09:05] Hunterness commented on #12105
Hi, thanks for reporting. We will investigate and fix this.

[2018-12-10 09:18] Hunterness commented on #12104
Hi, we will investigate the problem further and get back to you.

[2018-12-10 09:22] zhenlineo commented on #12055
Hi @graphadvantage,

I would like to know if you want this feature to be a Cypher language feature or a client side driver [reactive streams](http://www.reactive-streams.org/) feature?

Given a stream of 100 records, do you want the Cypher to provide a way to describe that you want to have the 11th to 50th records (only a part of the result) to return?

Or do you only want a way to consume the rec

[2018-12-10 09:31] zhenlineo commented on #8580
Hi @dhimmel,

As your original problem raised in this issue is already solved and considering this issue has been for 3.1 which is a pretty old db version, I am closing this issue. Please be free to open a new one if you have any new problems with any newer versions of the database.

[2018-12-10 09:31] #8580 closed, assigned to nobody

[2018-12-10 09:38] chrisvest commented on #12107
Hi, thanks for reporting. It's one of those little things we didn't get to in time for GA.

[2018-12-10 09:46] Hunterness commented on #12098
Hi, thanks for reporting this problem. We will look into it and get back to you.

[2018-12-10 09:46] chrisvest commented on #12106
Hi. We didn't add fulltext indexing of anything other than plain strings, because other types don't have a single obvious and unambiguous way that they should work wrt. FTS.

It sounds like you want String array entries to be indexed and searched for independently, as if they are separate properties? In other words, no ability to create a query that matches across entry boundaries, such as the end

[2018-12-10 10:13] #12093 closed, assigned to nobody

[2018-12-10 10:15] Hunterness commented on #12099
Hi, we have confirmed the error and will look into it and get back to you.

[2018-12-10 10:21] Hunterness commented on #12081
Good idea, thanks for the input. We will consider it for future development.

[2018-12-10 10:26] Hunterness commented on #12080
Hi @pdrangeid, did @fickludd comment help to fix your problem?

[2018-12-10 10:32] Hunterness commented on #12100
Hi, thanks for reporting. We will look into it and get back to you.

[2018-12-10 10:37] tolomaus commented on #12100
I got this error while using the neo4j java driver (from scala) version 1.6.1. I just checked and it turns out that neo4j 3.5 is only supported from version 1.7 on. As soon as I have some time I will do another test

[2018-12-10 10:55] Hunterness commented on #12075
Hi, you are in luck, this is already fixed. If you upgrade to 3.4.10 you will get the more relevant and correct error message.

[2018-12-10 10:55] #12075 closed, assigned to nobody

[2018-12-10 11:10] Hunterness commented on #11970
Hi, this seems like a nice idea but like @cleishm stated, this is not straight forward work but we will take it into consideration.

[2018-12-10 12:21] Hunterness commented on #11939
Hi, is this still a problem?

If so, could you provide additional informations such as the queries and/or some dataset to reproduce the problem?

[2018-12-10 12:25] Hunterness commented on #11931
Good idea, thanks for the input. We will consider it for future development.

[2018-12-10 12:36] Hunterness commented on #12096
Hi, could you try to run the query with the newest Neo4j 3.4 (3.4.10) and see if your problem is solved.

If not, could you supply us with some dataset where you observe the problem so we can try and reproduce it?

[2018-12-10 12:52] Hunterness commented on #11870
Hi, as to my knowledge there is no way to influence the Lucene types in current Neo4j. We will keep your suggestion in mind for further development.

[2018-12-10 12:52] #11870 closed, assigned to nobody

[2018-12-10 13:00] Hunterness commented on #9758
Hi, is this still an issue in newer versions?

[2018-12-10 14:07] Hunterness commented on #8009
Hi, is this still an issue for you in newer Neo4j versions?

[2018-12-10 14:11] Hunterness commented on #7601
Hi, @haoyangnz  is this still an issue for you in newer Neo4j versions?

[2018-12-10 14:27] nosoccomtothom commented on #12099
Hi there,
Same issue here. Was working fine until upgraded to 3.5.0. Was working fine on 3.2.6

[code]

Drops

`Neo.DatabaseError.General.UnknownError: Unknown variable `ts`.`

Adding `CYPHER 3.1` runs as before but fails when setting 3.4 or 3.5

[2018-12-10 14:27] chrisvest commented on #12095
We'll have a fix with an improved error message out in the next 3.5 release.

[2018-12-10 14:27] #12095 closed, assigned to nobody

[2018-12-10 14:29] Hunterness commented on #7446
Hi, since you seem to have solved this I'm closing the issue.

[2018-12-10 14:29] #7446 closed, assigned to sherfert

[2018-12-10 14:34] Hunterness commented on #9556
Hi @fbiville, if you want to make a PR you are welcome to.

[2018-12-10 21:43] graphadvantage commented on #12106
Yes - agreed, esp on the unambiguous part.

Since the procedures are returning the full node or the full relationship, being able to index all of the strings in an array might be good enough for now.

Here's a little workaround for the simple case:

MATCH (m:Movie)<-[r:ACTED_IN]-()
SET r.roles_str = trim(reduce(s='',el IN r.roles | s + el + ' '))

CALL db.index.fulltext.createRelationshipIndex('ro

[2018-12-11 07:23] fickludd commented on #11931
Hi @ophileon,

Richer pattern comprehensions would indeed be pleasant, but this functionality will be added as part of true subqueries, which is in the works at a language level. Feel free to help out with comments and feedback on the relevant Cypher improvement proposal: https://github.com/opencypher/openCypher/pull/217.

We are closing this issue as it essentially duplicates that effort.

[2018-12-11 07:23] #11931 closed, assigned to Hunterness

[2018-12-11 07:35] fickludd commented on #11970
Hi @Manish-Giri ,

The cypher parser can indeed generate very confusing error messages for some broken queries. However, solving this for the general case is very hard, as it often amounts to _guessing what the user intended_. This is unfortunately not something that we currently can prioritize, so we will have to suffer the inconvenience of confusing error messages for now.

[2018-12-11 07:35] #11970 closed, assigned to Hunterness

[2018-12-11 07:47] fickludd commented on #12081
Hi @Izhaki

Thank you for this interesting corner case. As this is such a narrow use case I feel that our performance efforts are better spent on other things, also given that it is easy to hand optimize a query from one form to the other if it is a bottleneck for some use case.

If you are interested in the subtle nuances of patterns, I encourage you to participate in the ongoing OpenCypher work

[2018-12-11 07:47] #12081 closed, assigned to Hunterness

[2018-12-11 08:58] tomersagi commented on #12086
ok, I'm being ignored here. I'm pulling this project from GAE. We'll run it on AWS.

[2018-12-11 09:01] Lojjs commented on #12105
@Clooney24 This is an unfortunate bug that sneaked into 3.5.0. A fix has just been merged and will be included in 3.5.1.

Best regards Louise, Neo4j Cypher team

[2018-12-11 09:01] #12105 closed, assigned to Hunterness

[2018-12-11 10:29] Lojjs commented on #12099
@nosoccomtothom I'm not able to reproduce your error on an empty 3.5.0 graph. Have you written the query exactly like you posted it here? Do you have any indexes?

[2018-12-11 12:23] RagnarW commented on #9541
Hi @jschmidtWK

Could you verify that this is still an issue on 3.5?

[2018-12-11 12:54] Hunterness commented on #12100
Hi again, for us to be able to look into this we need a sample database where the problem occurs. Could you provide us with that?

[2018-12-11 14:31] tolomaus commented on #12100
Hi Hunterness,

I tested with the new neo4j java driver 1.7.2 and the issue hasn't come resurfaced so I'm going to close the issue. Thx

[2018-12-11 14:31] #12100 closed, assigned to Hunterness

[2018-12-11 16:13] cleishm commented on #11970
@fickludd / @Hunterness: to be fair to @Manish-Giri, while this isn't easily solvable _in general_, it would be fairly straightforward to solve this specific case (that of a missing comma in the return clause).

[2018-12-12 10:35] Icrush commented on #7225
+1 for index on relationship

[2018-12-12 10:54] chrisvest commented on #7225
In 3.5, the new fulltext schema indexes can index relationships. So some of this functionality is now available. Support in normal schema indexes and constraints will come later.

[2018-12-12 11:02] graemerocher opened #12108 "Random Could not compile query due to insanely frequent schema changes errors in our build"
With the latest version of the driver we get random errors like the following:

[code]

This did not occur in earlier versions of the driver.

**Neo4j Version:** 3.5.0 Community
**Neo4j Mode**: Single instance
**Driver version**: Java driver 1.7.2
**Operating System:** Mac OS X

### Steps to reproduce
1. git clone git@github.com:grails/gorm-neo4j.git
2. ./gradlew grails-datastore-gorm-neo4j:test
3

[2018-12-12 11:19] ali-ince commented on #12066
Hi @CodeDogDream,

There's nothing we can do about `connection reset by peer` errors because those are operating system generated errors on receipt of `TCP Reset (RST)` package from the other end of the connection. You can find a good explanation of the situation at https://stackoverflow.com/a/1434592.

We however introduced the fix where these errors are caught early and logged explicitly by rela

[2018-12-12 11:19] #12066 closed, assigned to nobody

[2018-12-12 11:34] zhenlineo commented on #12108
This is very likely not a driver issue as the driver does not process the query string. Could you run with your tests with 3.5 neo4j and 1.6 java driver to verify that is is not a driver issue?

P.S. I tried to reproduce it locally, but I got some missing test dependency errors:
[code]
I am confused why it does not go to [maven central](http://repo1.maven.org/maven2/org/neo4j/neo4j-kernel/3.5.0/)

[2018-12-12 11:40] graemerocher commented on #12108
as mentioned the issue started occurring after upgrading the driver from 1.6 to 1.7

[2018-12-12 13:02] MobiusF commented on #7225
@chrisvest : to add to the stack: for spatial indexes ( currently spatial is worked on to add it to the core!!! , I mean actual spatial, not just fiddling with points ), we need the (rtree) indexes of nodes and relationships to JOIN.

[2018-12-12 14:24] chrisvest commented on #7225
@MobiusF that's a separate feature, not related to this issue.

[2018-12-12 15:29] KeatsPeeks commented on #11969
@mikesname have you found a solution ?

I think I have the exact same issue : test suite in docker, neo4j 3.4, 100% CPU at some seemingly random point.

[2018-12-12 16:12] zhenlineo commented on #12108
Hi @graemerocher This `DatabaseException` indicates that this error happened on the database side. Could you have a look at the database log to see if there is any error messages related to the driver error?

Also this new error message was added in 3.5.0, so it is likely that it is something changed in the Cypher execution engine in 3.5.0. It would be really appreciated if you can try 3.4 databas

[2018-12-12 16:14] graemerocher commented on #12108
I will try out 3.4 and report back. Thanks

[2018-12-12 19:25] mikesname commented on #11969
@KeatsPeeks I'm afraid not, and it's so difficult to debug since only happens on Docker/Travis I'm basically fumbling in the dark.

Fortunately, 3.5.0 seems not to have to issue so I'm thinking I'll just skip straight to that version.

[2018-12-12 20:14] cleishm commented on #11970
As I'm not one to make flippant comments without backing them up, here's an example approach:

[code]

[2018-12-13 05:01] archenroot opened #12109 "[question] - beyond limits of 34.4 billion nodes, 34.4 billion relationships"
Hello,

in the FAQ section available at https://github.com/neo4j-contrib/neo4j-faq I found first topic regarding limitations of neo4j.

Q: When do you plan to go beyond these limitations, any realistic road map available?

[2018-12-13 05:55] jexp commented on #12109
Yes, sorry. That faq is outdated.

Neo4j enterprise has a high-limit mode that removes those limits

[2018-12-13 05:56] #12109 closed, assigned to nobody

[2018-12-13 06:17] archenroot commented on #12109
@jexp - cool, I was under impression that the info is already obsolete, thx for confirmation.

[2018-12-13 15:34] bradnussbaum commented on #12109
@jexp Neo4j Enterprise is now closed source and propriety as of 3.5. I think it’s best to represent what is now possible with open data formats only that don’t lock users into a proprietary database format.

[2018-12-14 04:53] haoyangnz commented on #7601
@Hunterness I haven't been using neo4j recently so have no idea. I will close this.

[2018-12-14 04:53] #7601 closed, assigned to nobody

[2018-12-14 12:44] ghost opened #12110 "neo4j-admin import hanging during relationship linking phase"
## Slow neo4j-admin import

I was trying to import a large dataset (900 mln nodes, 3 bln properties, 4 bln relationships) of CSV to Neo4j using neo4j-admin import tool. I could see both nodes and relationships import (phase 1 and 2) completed very fast in less than an hour, but relationship linking phase slows down at 40% and eventually making the process very slow and the whole import completed i

[2018-12-14 15:44] craigtaverner commented on #12098
@neurofoo My impression from reading this is that there might be two versions of the procedure library in the plugins folder. Since you are using Neo4j Desktop to manage your plugins, I'm expecting this is a bug in Neo4j Desktop, and have changed the labels accordingly, so that team can investigate.

In the meantime, could you see if you can find the relevant plugins folder and verify if there are

[2018-12-14 15:52] neurofoo commented on #12098
@craigtaverner thanks! that was the issue.

I went to the plugins dir and found the previous version of the apoc, graphql, and graphalgos there in addition to the new ones for 3.5.

Once I removed the previous versions, the db booted up fine.

Thanks!

[2018-12-14 15:57] craigtaverner commented on #11870
Explicit indexes have been deprecated for a long time (replaced by Schema indexes in neo4j 2.0). However they are still possible to access using APOC (as you tried here). They will no exist at all (not even via APOC, I believe) in 4.x releases. I strongly recommend you move to schema indexes.

However, if you really need to use explicit indexes, I did find some documentation relating to the config

[2018-12-17 12:47] dbarton-uk opened #12111 "Different results - same query and data."
## Guidelines

- Neo4j version: 3.4.10
- Operating system: MacOS Mojave 10.14.2
- API/Driver: Neo4j Desktop Browser 3.2.15

Running the same Cypher query returns a smaller resultset on the first run, to all subsequent runs. The subsequent resultset give the expected result.
### Steps to reproduce

1.  From a clean neo4j instance. Create some example nodes:

[code]

2. Run the following query:

[co

[2018-12-17 14:04] Lojjs commented on #12099
@DFoxinator Your error was due to a bug in our semantic checking. A fix  has been merged and will be included in the 3.5.1 release.

[2018-12-17 14:04] #12099 closed, assigned to Hunterness

[2018-12-17 14:28] zhenlineo commented on #9622
Hi, The copyFrom method requires the source directory to have sub-folders `databases/graph.db` in which the source store files are located. We've fixed the test and also changed the API doc of the method about the directory structure requirement.

Thanks very much for reporting this issue to us.

[2018-12-17 14:28] #9622 closed, assigned to nobody

[2018-12-17 15:05] zhenlineo commented on #11951
Hi @abhi2495,

This is not a bug report or feature request but a discussion for how to setup HTTP/bolt server with Nginx. Please refer to https://community.neo4j.com/ for questions like this.

Before you raise a question in community, check if you have encryption handled. Your Nginx config cannot handle any encrypted data which bolt client is have encryption on by default.

Cheers,
Zhen

[2018-12-17 15:05] #11951 closed, assigned to nobody

[2018-12-17 15:13] zhenlineo commented on #9795
Hi @fbiville ,

I am closing this issue with the assumption that there is no such issue since 3.2 neo4j, which is the oldest version we support today. Please re-open the issue if there is more to this issue.

Cheers,
Zhen

[2018-12-17 15:13] #9795 closed, assigned to zhenlineo

[2018-12-17 17:20] jhomarolo commented on #12095
Remove the old APOC (inside plugins folder) and install the newer version of APOC 3.5

[2018-12-18 05:20] DFoxinator commented on #12099
Thanks @Lojjs!

[2018-12-18 08:18] graphadvantage commented on #12055
Hi Zhen

In consulting with our team the thinking is an integer on the record stream, that is accessible by calling rownum() function in Cypher.

SKIP and LIMIT provide sufficient functionality for slicing the record set.

Thanks

Michael

[2018-12-18 08:25] nosoccomtothom commented on #12099
Thanks @Lojjs !!
Sorry for the late reply. The query was not running on 3.5.0 nor 3.4 therefore had to enforce 3.1. Indeed the query uses indexes.

[2018-12-18 10:20] technige commented on #12086
From what I can see, this problem is chiefly related to some aspect of GAE and/or Google's SDK. I'm not familiar with the platform myself but in terms of sockets and SSL/TLS, we're doing nothing unusual inside the Python driver: we're using only the standard library API.

It's interesting also to note several StackOverflow articles relating to this error message, in particular ones relating to _Re

[2018-12-18 10:20] #12086 closed, assigned to nobody

[2018-12-18 12:59] Lojjs commented on #12099
@nosoccomtothom 3.5.1 will come shortly. When it is out, can you test again with that version? If it still doesn't work, please open a separate Github issue with as much info that you have about your setup (patch release, indexes and if possible a sample database).

Best regards Louise

[2018-12-18 17:28] nosoccomtothom commented on #12099
@Lojjs Certainly will do. Thanks for the hard work!!

[2018-12-19 12:43] fickludd commented on #12104
Hi @purplemana,

Thank you for taking the time to report this issue.

This turned out to be a bug in locking on node set property (which is done by the merge when the node does not exist), which would unnecessarily lock all constraints. This would force your `CREATE CONTRAINT` query to wait for the `MERGE` to commit before continuing. A fix is incoming, and should make it for `3.4.12`.

[2018-12-19 15:28] jschmidtWK commented on #9541
As we are currently transitioning to Causal clustering and the error, while crippling, is extremely uncommon, I'm not sure I'll be able to get back to you on this test. We will upgrade to 3.5 and I'll let you know if we encounter it or switch to Causal, whichever comes first.

[2018-12-19 18:12] Icebreaker454 opened #12112 "Strange behavior of aggregations, aliased in WITH clause"
## Strange behavior of aggregations, aliased in WITH clause

**Neo4j Version:** 3.4.0
**Operating System:** Fedora 26

Hello!

I've been using Neo4j for quite a while, and noticed some strange behavior regarding aggregations, aliased in the WITH clause of the Cypher query.

I have the following node setup in Neo4j:
![image](https://user-images.githubusercontent.com/6199897/50238039-0e9c2480-03c7-1

[2018-12-19 18:18] senica opened #12113 "3.4.10 -> 3.5.0 Differing results. Bad Cartesian?"
***Note** that I am using docker in all the version references below*

Original question posted here: [https://community.neo4j.com/t/3-5-0-ent-cartesian-error/3935/11](https://community.neo4j.com/t/3-5-0-ent-cartesian-error/3935/11)

- Neo4j version: **3.5.0-enterprise** (latest known working version is **3.4.10-enterprise** and down to 3.3.3 which is what we are upgrading from)
- Operating system

[2018-12-19 21:15] drew-moore opened #12114 ""Did not find any type information for expression" on strict equality comparisons of prop values in WHERE clauses"
**Neo4j Version:** 3.5.0
**Operating System:** Ubuntu 18.04
**API:** Cypher via neo4j-browser (v 3.2.13)

### Steps to reproduce

run:

[code]

run:
[code]

see resulting error:
[code]

This problem does **not** occur when replacing the `WHERE` clause by either:

[code]

(replacing `=` by `>=`), or
[code]

The same error occurs in #12100, also involving a strict equality comparison of node prop va

[2018-12-20 04:02] purplemana commented on #12104
Thanks @fickludd! Due to the lock, I had removed transactions for my migration utility code while creating constraints. After this issue is fixed, I would retry the strategy.

FYI, the migration approach is to keep one `up` method which creates constraints and data and one `down` method which removes constraints and data. To make the migration consistent, the `up` method must create all constraint

[2018-12-20 08:23] jexp commented on #12112
This is correct behavior as you're aggregating **with `g,y,p` as grouping keys**, so the cardinality for each of those groups is 1.

To achieve what you want to do is to leave off p and g from the grouping.
**Unless you have duplicate names for `y` you will never get a count > 1**

[code]

[2018-12-20 08:40] #12112 closed, assigned to nobody

[2018-12-20 09:02] Lojjs commented on #12113
@senica This sounds like a bug, we will investigate and come back to you.
Best regards Louise, Neo4j Cypher team

[2018-12-20 11:36] jennyowen commented on #10398
For the `neo4j start No such file or directory` issues, they are fixed by:
https://github.com/neo4j/neo4j/issues/11954

I was not able to reproduce the `neo4j console` error but I've added tests which should hopefully prevent it being an issue in the future.

[2018-12-20 11:36] #10398 closed, assigned to jennyowen

[2018-12-20 21:30] InverseFalcon commented on #8832
We're still on track for updating this with the next major release (4.0) within 2019.

I think there was some confusion earlier mistaking our minor releases for major releases. As we use `major.minor.patch` versioning, we haven't had any major releases since 3.0 several years ago.

I believe as a consequence this will require some changes to how backwards compatibility works with previous Cypher v

[2018-12-21 13:22] fickludd commented on #12104
@purplemana so even with the fix, transactions will lock labels that they write to, and transactions that create constraints on such a label will still have to wait. That however we cannot change because it it required to ensure consistent data.

It is not possible to both write data and create constraints/indexes in one transaction, and this is not something we can change, you will have to use tw

[2018-12-21 13:22] #12104 closed, assigned to Hunterness

[2018-12-21 17:05] tricepat commented on #12084
In the case that all transaction logs were deleted, how do I get around the "no check point" error?

[2018-12-21 18:01] tricepat opened #12115 "Recovering from transaction log wipeout"
I accidentally removed all neostore.transaction files. My neo4j instance is now in a restarting loop, with the error: No check point found in any log file from version 14 to 14.

I am reading now that at least one transaction file is required for recovery (I assume the shutdown was not clean). Given I do not have the checkpoints anymore, how do I resolve this?

**Neo4j Version:** 3.4.1
**Operating

[2018-12-21 18:07] senica commented on #12113
@Lojjs I built 3.5.1 this morning and tested and it seems to be working correctly in the release from yesterday. I'll leave open for now just in case anyone was exploring anything related.

[2018-12-21 20:00] senica commented on #12113
Hmmm, actually, I need to do a little more testing...the test case above passed, but our dataset is still having an issue. I tried to just do a rolling upgrade, would I have to "allow_upgrade" or anything to go from 3.5.0 to 3.5.1?

[2018-12-22 18:58] folterj opened #12116 "randomUUID not working with Centos 6"
randomUUID() not recognised after yum install of NEO4J (community edition) on CentOS6

- Neo4j version: 3.5.1
- Operating system: CentOS 6

Reproduce: after yum install, perform CALL dbms.functions() to assert randomUUID is not listed

[2018-12-23 03:52] VictorAlonsoCM commented on #7086
Optional solution:
Go and edit the next file:
[code]
uncomment the line 9
**dbms.active_database=graph.db**
This should works, *if you have problems with the database connection.*

[2018-12-23 10:54] mikesname commented on #12099
Hi - another example here of a (contrived) query which runs on 3.4 but fails on 3.5.1:

    MATCH (n1:Label1)-[:TEST]-(n2:Label2)
    OPTIONAL MATCH (n2)-[:TEST2]-(n3)
    WHERE n3 IS NULL OR n3 <> n1
    RETURN n1.prop1, n2.prop2;

On 3.5.1 this fails with `key not found: Variable(n3)`.

If you remove the `OR n3 <> n1` part of the `WHERE` clause it runs okay. There are no indexes that exist for t

[2018-12-26 12:38] Navbar opened #12117 "Unable to start neo4j after migrating CSV data over K8S"
Trying to activate Neo4j (aiming for enterprise and production use after POC)
over K8S (3 Cores 3 Replica nodes)
Build neo4j-enterprise-3.5.0-unix.tar.gz and enterprise edition docker
All was running correctly (OS:4.14.19-coreos) - created DB using the Cypher shell & displayed correctly using the GUI.

After loading CSV (header + data) using the import (both admin and import) tools (to default gra

[2018-12-27 20:43] jcornaz opened #12118 "TestGraphDatabaseFactory is not available in 3.5"
Since Version 3.5 of neo4j-kernel (test-jar) the class `org.neo4j.test.TestGraphDatabaseFactory` is no longer available.

### Environment
- Neo4j version: 3.5.1
- Operating system: Windows 10
- API/Driver: Java API

### Steps to reproduce
  1.  Create a project with the dependency: `org.neo4j:neo4j-kernel:3.5.1:tests`
  2. Write a simple (empty) class and the following import: `import org.neo4j.te

[2018-12-28 03:36] rmasrani commented on #9726
Still here.

[2018-12-29 09:19] folterj opened #12119 "Neo4j 3.5.0 Dump after moving to 3.5.0 failing"
We've been working with NEO since around 3.4.0, using dump/load to backup/restore our database. After moving from version 3.4.11 to version 3.5.0 (or 3.5.1), I can no longer dump after a load (without making any changes or even running the database).

- Neo4j version: 3.5.0
- Operating system: Neo4j Desktop

neo4j-admin load --from=data\db.dump --database=graph.db

neo4j-admin dump --database=grap

[2018-12-31 20:13] firebovine commented on #12114
We're also encountering this issue. Weirdly, we found:

[code]

works fine,  which is logically equivalent to our original statement:

[code]

This original statement being equivalent to the above bug, and triggers the same exceptions.

[2019-01-02 03:11] gpierrick opened #12121 "After upgrading to 3.5.1 from 3.3.x HA fails to show size and sysinfo - [Neo.DatabaseError.General.UnknownError]"
- Neo4j version: 3.5.1
- Operating system: Ubuntu 16.04

Followed this https://neo4j.com/docs/operations-manual/current/ha-cluster/upgrade/ to upgrade to latest version

- I started the master
- I started each slave with an empty database folder
- Cluster starts syncing and starts successfully **but** the following fails to show

![image](https://user-images.githubusercontent.com/1524537/50579310-

[2019-01-02 10:07] rheusinkveld commented on #12121
Hi @gpierrick. I have exactly the same issue after upgrading to 3.5.1 and also have the exact same stack traces in the log file. All cypher queries seem to be working fine. I'll create a support case with Neo4j and post back if I hear from them.

[2019-01-02 11:26] Navbar commented on #12117
I solved the issue - you can close it.

[2019-01-02 11:26] #12117 closed, assigned to nobody

[2019-01-02 12:16] rheusinkveld commented on #12121
Neo4j support responded to my case and it seems to be happening for all HA environments. It's reported to engineering requesting a fix.

[2019-01-02 12:51] gpierrick commented on #12121
Hi @rheusinkveld thanks for your response and submitting a ticket! I guess I'll be waiting for a fix and run Neo4j in single for now

[2019-01-02 14:14] hugofirth commented on #12118
So it looks like this class has been moved, and maven doesn't handle transient `test-jar` dependencies. If you depend upon the `org.neo4j.community.it-test-support` module directly you should be able to import the class. **However** you should note that `TestGraphDatabaseFactory` is not part of our public api, so unfortunately it may change again at any point in the future.

[2019-01-02 14:15] hugofirth commented on #12119
Hi @folterj  - what happens if you follow the instructions (i.e. start and stop)?

[2019-01-02 15:00] richcoles commented on #12114
**Neo4j Version**: 3.5.0
**API:** Cypher via neo4j-browser (v 3.2.13)

We also see this issue and the same error message when one property in the exact comparison does not exist (a.otherProperty)

[code]

This works in 3.4.0.

[2019-01-02 15:21] jcornaz commented on #12118
Thank you very much for the tip of using `org.neo4j.community.it-test-support`.

Please write that down in the documentation.

`TestGraphDatabaseFactory` *is* part of the public API:
* Official documentaion: https://neo4j.com/docs/java-reference/current/tutorials-java-embedded/#tutorials-java-unit-testing
* Usage example referenced by the official documentation : https://github.com/neo4j/neo4j-doc

[2019-01-02 15:46] MishaDemianenko commented on #12118
Hi @jcornaz classes that are public API are part of javadoc that are available at https://neo4j.com/docs/java-reference/current/javadocs
and there is no point to mark any class that is not a public API that its not part of it.

But I agree that as soon as it already sneaked into documentation examples those pages should be properly updated with instructions on how to write tests in a supported way

[2019-01-02 15:54] gpierrick commented on #12121
Is the preferred way to set up a cluster now causal?

[2019-01-02 16:02] jcornaz commented on #12118
@MishaDemianenko, i would not expect it to appear be in that javadoc, since it is from another artifact. No matter if it is public API or not.

But since:
1. It is mentionned in https://neo4j.com/docs/java-reference/current/
2. The class is *public* (and not package protected)
3. The class does not have a naming suggesting it is internal (like finishing by `Impl` or `Internal`)
4. The class is not

[2019-01-02 16:21] MishaDemianenko commented on #12118
@jcornaz provided javadoc is neo4j global public java doc. For example, it includes `org.neo4j.jmx` which is not part of kernel artifact, but still, its included.

Let me answer point by point as well:
1. Valid point.
2. The fact that some class is public does not mean that its part of public API of any sort. Only classes that included into javadoc is part of public API. Class is public for our ow

[2019-01-02 17:06] jcornaz commented on #12118
Thanks @MishaDemianenko

I just quickly want to say two things:

The need of public visibility internally doesn't mean that there is no way of making sure users don't use it by indavertance. Naming, package-name, documentation and annotations, can help for that.

I understand the codebase is large, and may not be perfect. But it doesn't mean it cannot be improved. If I open this issue and explains

[2019-01-03 12:07] tinwelint commented on #12063
@peidaqi I was able to reproduce the issue you had. It's caused by the "bad relationship" reporting queue growing indefinitely due to the massive amounts of bad relationships. This fills the heap and blocks everything from progressing. This will be fixed by introducing back pressure in that queue. This issue will be notified when it's fixed. Thank you.

[2019-01-03 14:54] bonesyo opened #12122 "Neo4j 3.5.1 Optional Match Returning Null"
Version: 3.5.1
OS: Debian 8

Queries containing OPTIONAL MATCH are failing. They were working well in 3.4.9, but are returning null in 3.5.1. Below is an example of a query that returns null for "s":

[code]

If I change the OPTIONAL MATCH to a standard MATCH, it works as expected.
[code]

^^ works^^
This is happening in both our production API and in the web browser. There are indexes on both roo

[2019-01-04 13:54] Lojjs commented on #12099
@mikesname Thanks for your feedback. As far as I can see, that seems to be a separate bug, appearing both in 3.4 and 3.5. If it works in 3.4 for you, I guess the Cypher planner chooses another plan for your db than for my simple example database. However, I've made a fix for it, so from 3.4.12 and 3.5.2 it should be working again.

[2019-01-04 14:25] mikesname commented on #12099
@Lojjs My apologies, I should indeed have put 3.3 as the working version - thanks for the fix!

[2019-01-04 14:40] gpierrick commented on #12121
Any updates on this? @rheusinkveld

[2019-01-04 14:45] rheusinkveld commented on #12121
Latest I got from support is that a fix will probably be included in the next release (3.5.2).
They also let me know that the HA cluster setup is deprecated and will be removed in Neo4j 4.0. See also https://neo4j.com/docs/operations-manual/current/ha-cluster/

[2019-01-04 14:59] peidaqi commented on #12063
@tinwelint You're welcome. Glad we found where the issue is and look forward to the next release of Neo4j.

[2019-01-04 15:00] gpierrick commented on #12121
Thanks @rheusinkveld . Did they give you any timelines? Are you currently HA regardless of this bug?

[2019-01-05 14:34] cloudwheels opened #12123 "Basic permissions settings to get started with Debian install"
Forgive me for ignoring the template, there is no bug, just lack of understanding.

I've made a Debian install as per instructions but I can't find a simple explanation of exactly what and how to set up permissions. I get permissions errors after, in theory, changing ownership of relevant directories to neo4j. If I run as root I get the lockfile error mentioned elsewhere, but can't resolve that ei

[2019-01-06 05:30] kfiz opened #12124 "Neo4j 3.5.1 enterprise download. SHA-256 checksum doesn't match."
Hi,

the SHA-256 checksum on the 3.5.1 enterprise release doesn't match.

Neo4j Version:3.5.1
Operating System: OSX

### Expected behavior
Matching checksums.

### Actual behavior
[code]

Best
<img width="1051" alt="screenshot 2019-01-06 at 06 23 37" src="https://user-images.githubusercontent.com/5100646/50732483-8cf51680-117c-11e9-94eb-9edf78523c94.png">

[2019-01-06 11:56] folterj commented on #12119
Thanks for the reply @hugofirth - indeed one of the first things I tried, the issue persists.
It seems there are various problems trying to upgrade from pre-3.5 to 3.5 according to the log using Neo4j Desktop (on Windows).
All of which were resolved by loading the same dump into the Linux server version, then backing up (dump) from there, instead of using Neo4j Desktop.

PS: Suggest adding 'Neo4j

[2019-01-07 07:19] oskarhane commented on #12091
Hi and sorry for the late response @Legolash2o.
Are you positive that the queries never aren't killed?
The query killing isn't instant, if the server is under heavy load it can take some time.

[2019-01-07 07:47] glindroth commented on #12124
Hey,
I tried to reproduce this locally but ended up with the same checksum as the one posted on the web site.

I thought for a while that your file name with only ".tar" rather than ".tar.gz" could be the culprit but when I tried that locally I also ended up with the same checksum as on the website.

Are you sure you do not have a damaged file? Have you tried to download it again and retried?

<im

[2019-01-07 08:20] jennyowen commented on #12123
On installation, the Neo4j folders are automatically chown'd to a user `neo4j` (this user is created if it doesn't already exist). It's not necessary to manually set up permissions yourself if you're just using a simple setup.

A list of Neo4j files/folders is given here:
https://neo4j.com/docs/operations-manual/current/configuration/file-locations/

I'd recommend uninstalling Neo4j and deleting f

[2019-01-07 10:56] FDU-SE-LAB opened #12125 "Your project neo4j/neo4j is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-07 11:42] InverseFalcon commented on #12099
@mikesname Just letting you know, even with a bug fix this isn't quite a correct query. The null check should not be part of the WHERE clause here, since the WHERE clause is part of the preceding OPTIONAL MATCH. Instead, since the intent is to filter just to rows where n3 is null or something different than n1, a WITH clause should be used instead (so the WHERE clause is now paired with the WITH i

[2019-01-07 12:19] rheusinkveld commented on #12121
@gpierrick They didn't give me a specific date. The indication they gave me was late January to mid February. For us it only impacts our test environment, so we still have that running in HA setup.
We probably look into migrating to a causal cluster instead of waiting for the fix.

[2019-01-07 13:35] gpierrick commented on #12121
Thanks @rheusinkveld

[2019-01-07 14:19] Lojjs commented on #12113
@senica We have just made a fix for the bug that you experienced, which will be including in the next 3.5 patch release. Since it was a bug in the slotted runtime, you can try to prepend your query with `CYPHER runtime=interpreted ` meanwhile.

For your rolling upgrade question, it is not my area of expertise but you can read more about it here https://neo4j.com/docs/operations-manual/current/upgr

[2019-01-07 14:31] MishaDemianenko commented on #12118
pull request that will update manual with new instruction and deprecation created (in a separate repo) and will be published as part of the next 3.5.x release.

[2019-01-07 17:04] CharlieDigital opened #12126 "Neo.DatabaseError.General.UnknownError: key not found: Variable(k)"
Error occurs in 3.5.1 with a blank database and easily reproducible with the following nonsense query:

[code]

Even simpler version:

[code]

- Neo4j version: 3.5.1
- Operating system: Windows Server 2016
- API/Driver: None; browser client
- **Steps to reproduce**
  - In empty 3.5.1 database, paste the query above and execute
  - Observe the error
  - Remove the first `OR` condition
  - Observe t

[2019-01-07 17:32] Legolash2o commented on #12091
Positive. I have Auto-Refresh on as well as manually refreshing and opening up a new tab.

It was the only thing running, even with a fresh restart of the server/service.

[2019-01-07 21:40] kfiz commented on #12124
Weird. Maybe this is a a problem local to my machine.
Would you like to check the file?
https://www.dropbox.com/s/ludfo10dx9fqr3x/neo4j-enterprise-3.5.1-unix.tar?dl=0

[2019-01-08 07:42] jcornaz commented on #12118
Can you share the link please?

[2019-01-08 08:32] yanwii opened #12127 "Please support dynamic label when create relationship using UNWIND"
`UNWIND $data as row`
`MATCH (news:News) WHERE news.title=row.title`
`MATCH (entity:Entity) WHERE entity.name=row.name`
`CREATE (entity)-[:row.relationship]->(news)`

This above is not supported using pacakage **neo4j-driver==1.6.2**

[2019-01-08 09:09] kcrimson commented on #12127
@yanwii are you talking about JavaScript driver I assume?

[2019-01-08 10:04] chrisvest commented on #12124
Maybe you somehow gunzipped the file without otherwise unpacking the tar archive?

[2019-01-08 14:06] nosoccomtothom opened #12128 "Query breakage when using timestamp() along OPTIONAL clause"
Hi,
Coming from #12099 , when performing a query using timestamp function along an OPTIONAL clause the query breaks.

- Neo4j version: 3.5.1
- Operating system: Ubuntu 16.04.2 LTS
- API/Driver: Neo4j Browser 3.2.13
- Expected behavior
Return the proper results.
- Actual behavior
The query breaks (although works on CYPHER 3.1)

[code]

Dump on debug.log

[code]
The query performs without issues usi

[2019-01-08 14:06] nosoccomtothom commented on #12099
Hi @Lojjs
Upgraded to 3.5.1 but the error still continues. Created the #12128 as suggested.

[2019-01-08 21:12] kfiz commented on #12124
Don't think so. But even if that were the case, judging from
https://github.com/neo4j/neo4j/issues/12124#issuecomment-451848390 that shouldn't have mattered, right?
Anyway, something must have gone wrong, but If this was a real problem it should have occurred again, which it didn't (at least on one occasion). So I suggest we close this issue. Thanks for the quick replies.

Best

[2019-01-09 07:35] pontusmelke commented on #12116
Hi @folterj
I tried on fresh install on fedora 29 and it is listed and I can call the function, are you sure you are running the correct version of Neo4j.

This is what I did:
- Follow the instructions to set up [repo](https://neo4j.com/docs/operations-manual/current/installation/linux/rpm/)
- run `>yum install neo4j-3.5.1` as root
- start `neo4j`
- go to neo4j browser or cypher-shell and run  `CA

[2019-01-09 07:47] Hunterness commented on #12128
Hi, since it's still there in 3.5.1 we will look into it :)

[2019-01-09 07:51] Hunterness commented on #12126
Hi, thanks for reporting, we will look into it.

[2019-01-09 07:54] Hunterness commented on #12122
Hi, thanks for reporting, we will look into it.

[2019-01-09 08:02] Hunterness commented on #12114
Hi all, thanks for reporting, we will look into this.

[2019-01-09 08:07] Hunterness commented on #12111
Hi, thanks for reporting, we will look into it.

[2019-01-09 09:40] technige commented on #12127
@kcrimson Why the `team-drivers` label? This is clearly a Cypher feature request.

[2019-01-09 09:42] kcrimson commented on #12127
My mistake, it was set correctly for the first time, sorry will set it back to cypher team.

[2019-01-09 10:15] chrisvest commented on #12124
In https://github.com/neo4j/neo4j/issues/12124#issuecomment-451848390 the file was simply renamed. Not decompressed. That's why the SHA-256 is the same in both outputs.

It sounds like you downloaded the file again and got a correct checksum? If that's the case, then maybe something really did go wrong during the downloaded. Anyway, will close.

[2019-01-09 10:15] #12124 closed, assigned to nobody

[2019-01-09 10:37] folterj commented on #12116
Correct, Neo4j version 3.5.1 on CentOS 6.
I used 'yum install neo4j', and confirmed installed version after completion.
As this was a major issue with no apparent solution we decided to move to CentOS 7.

[2019-01-09 14:26] pontusmelke commented on #12116
Sorry I just saw your post on the community site. I'll continue to investigate.

[2019-01-09 16:12] pontusmelke commented on #12116
We have checked on CentOS 6 as well now and we are not able to reproduce the issue. Maybe something was wrong with your installation or something I am unaware of was fixed somehow. Anyway I'll close this issue since we cannot reproduce it and you already moved on to CentOS 7. However do not hesitate to reopen this issue or open a new one if you're seeing more issues.

Best Regards,
Pontus

[2019-01-09 16:12] #12116 closed, assigned to nobody

[2019-01-09 16:40] g3rd opened #12129 "Cypher Regex matching with slashes"
## Bug report

After upgrading from Neo4j 3.4.x to 3.5.x, regex now needs to be escaped.
Also, the python driver no longer binds regex values correctly.

The following query example has worked on Neo4j since I believe 3.1ish, both community, and enterprise. Python 2.7, 3.6, and 3.7.

**Neo4j Version:** 3.5.1 EE and 3.5.0 EE
**Operating System:** Neo4j provided docker image & Ubuntu 18.04.1 LTS
**A

[2019-01-09 17:16] bonesyo commented on #12122
@Hunterness Thank you! This was a major breaking issue for our app. So please let me know if you need any more info.

[2019-01-09 20:18] anacarlagb commented on #11429
Hello guys.
 I have found encountered the same problem in Windows 8.
 How to fix this problem?
Thank you.

[2019-01-09 23:41] InverseFalcon commented on #12122
@bonesyo Does that entire pattern in the OPTIONAL MATCH exist in the graph? If it does then this is likely a bug. If the pattern doesn't exist (whether the node for `s` exists or not) then the OPTIONAL MATCH is behaving correctly.

[2019-01-09 23:58] bonesyo commented on #12122
@InverseFalcon It does exist, like I said if I run the second query where I replace the OPTIONAL MATCH with MATCH, it runs correctly, which means that the entire pattern exists.

[2019-01-10 00:09] InverseFalcon commented on #12122
@bonesyo Thanks, I think I misread your queries initially. Possible bug, but please run a [consistency check](https://neo4j.com/docs/operations-manual/current/tools/consistency-checker/) on your db so we can see if anything else is in play.

[2019-01-10 03:21] chrstnb opened #12130 "Heap size environment variable is overwritten by default config setting in docker"
When trying to run `bin/neo4j-admin import` with `HEAP_SIZE=16gb` in a docker container with `neo4j:3.5.1`, the Java memory option for the heap size is overridden by the default config value for the max heap size.

**Neo4j Version:** 3.5.1
**Operating System:** Ubuntu 16.04.5
**API:** Docker

### Steps to reproduce
1. Pull the image: `docker pull neo4j:3.5.1`
2. Run `docker run -it --memory 30gb -

[2019-01-10 09:42] chrisvest commented on #12130
The `bin/neo4j-admin` script doesn't read heap memory options from `neo4j.conf`, but `bin/neo4j` does. The `setup_heap` function is called just prior to calling the `call_main_class` at the bottom of the script. Does it work for you if you try it without docker?

[2019-01-10 09:44] saleel opened #12131 "Neo4J crashed while running and failing on restart"
Got this error when NEO4J was running

[code]

When attempted to restart, the following error came

[code]

- Neo4j version: 3.5.0
- Operating system: CentOs/ docker
- API/Driver: Initial error while using Javascript Driver, restart was tried from cli

Could not find details on `Quota exceeded | GB+Tree` error anywhere. Is this related to disk space or memory limit?

### Steps to reproduce
N/A as

[2019-01-10 10:49] kcrimson commented on #12131
Is your database running on NetApp storage? This seems to be an error from NetApp about disk size limit/quota.

[2019-01-10 14:07] StefanoBelloni opened #12132 "big different performances of i/O intensive query on server and client side"
## General

- Neo4j version: 3.5
- Operating system: Debian 9
- API/Driver: REST and Python Driver

I create a project to reproduce the issue:
https://github.com/StefanoBelloni/TestNeo4jBoltDriverProfiler.git
The project try to reproduce an easier situation of our current use-case.
The simple case is as follows

1.  We load in the graph a large number of nodes (more then 1M nodes):
   - There are

[2019-01-10 19:05] Sobitan commented on #5637
Yes this really helped.
Its solves the error "java.lang.NoSuchMethodError" or "No Source Found Error" in eclipse.
Which occurs on the method newEmbeddedDatabase.
The clear solution is use the pom.xml file to add all the required neo4j dependencies as opposed to adding them manually to the external libraries in the project. The pom.xml fill will automatically download them and your code will work p

[2019-01-10 20:39] chrstnb commented on #12130
Yes, the non-docker version doesn't have the options appended to `neo4j.conf` that set a default for `dbms.memory.heap.max_size`, so the environment variable will be used. Of course, a workaround to the docker issue is to make changes to and import a custom conf file, but for the environment variable to not work with a fresh docker image seems like unexpected behavior.

[2019-01-10 22:19] vmandrychenko opened #12133 "Running 2 instances of embedded neo4j, store and its lock file has been locked by another process"
We run embedded db for dev purposes on our development computers, at the same time we are also starting embedded db to run integration tests (think Scalatest or JUnit) on our development machines. It seems that new lock behaviour in 3.5 is preventing us from using two separate embedded dbs in different directories (see below) on different ports in parallel. This is blocking the upgrade from 3.4 to

[2019-01-11 09:42] chrisvest commented on #12130
Sounds like it's probably the same issue as https://github.com/neo4j/docker-neo4j/issues/159 - can I ask you to add details to that issue?

[2019-01-11 10:54] frant-hartm opened #12134 "Drop fulltext index fails when normal index exists"
- Neo4j version: 3.5.1 (both community and enterprise)
- Operating system: linux
- API/Driver: browser
- **Steps to reproduce**
[code]
- Expected behavior
Should drop the fulltext index
- Actual behavior
fails with
[code]

But following works:
[code]

[2019-01-11 12:00] tim-hanssen opened #12135 "Returns different property key then created"
We have encountered a really strange behaviour in our production db. When we create a specific property it's returned as another property. A match query will work on both names (the wrong one, and the property key we created).

- Neo4j version: 3.4.10 (Causal cluster)
- Operating system: Ubuntu 18.04.01 LTS
- API/Driver: PHP via BOLT (or Neo4j browser directly)
- We runned a consistency check to c

[2019-01-11 14:08] chrisvest commented on #12134
A fix for this was merged yesterday, so this shouldn't be a problem in the next upcoming 3.5.

[2019-01-11 14:08] #12134 closed, assigned to nobody

[2019-01-11 15:34] zhenlineo commented on #12132
Hi @StefanoBelloni

I have a few questions regarding how you calculated these numbers.
Have you warmed up your test environment before running the real test?
Have you repeated the tests and get an average number as the final result?
Is the server and client running environment totally isolated, a.k.a. sharing no resource?

Suppose that the server and client share no resource (such as the same limi

[2019-01-11 16:12] makpcheng commented on #7225
+1 for index on relationships

[2019-01-11 16:26] vmandrychenko commented on #12133
When we create a DB we store it in the temp directory with timestamp to avoid clashing:
`/var/folders/hg/wb_rmvqd4cvbjsyv3l8msprm0000gn/T/EmbeddedNeo4jDB4307589988154436220104461888733163`

Store lock file is located here:
`/private/var/folders/hg/wb_rmvqd4cvbjsyv3l8msprm0000gn/T/store_lock`

Note `private` and also, why is store lock not in the same directory as DB directory?

[code]

[2019-01-11 21:11] StefanoBelloni commented on #12132
Hallo and thanks for the quick response,

I have to say sorry if I mislead then point with a bit of confusion in the issue description:

The test does not go in the direction of different performances of the query on server or client side, but only about the big discrepancy between the time measure on the server side and the one measured on the client side of a single request which calls a self de

[2019-01-12 16:59] ikwattro opened #12136 "[FullText Schema] Cannot drop index when normal schema index exist"
- Neo4j version: 3.5.1
- Operating system: any
- API/Driver: any

### Steps to reproduce
[code]

[code]

NOTE : If you create first the fulltext index and then the normal schema index, then you can drop the fulltext index without issue.

### Expected behavior
exception is thrown

### Actual behavior
should not throw exception

[2019-01-13 06:26] saleel commented on #12131
We are using EFS from AWS. There is no disk quota issue as well.

It started working on redeploy. Closing the issue for now.

[2019-01-13 06:34] #12131 closed, assigned to nobody

[2019-01-13 12:59] ali-ince commented on #11429
Hi @geronimus,

Thanks for pointing out the statement injection problem you've experienced.

This is now addressed with commits https://github.com/neo4j/neo4j/commit/78bc19699ea292041eb8dcb925dadac782ee17f8 and https://github.com/neo4j/neo4j/commit/d86a4f5d4aeeacdabf2e4456a2d5194ab8fb9ff5 which will be included in upcoming 3.5 releases.

Thanks again.

Ali

[2019-01-13 13:10] ali-ince commented on #11429
@aonamrata, @xiaozw123 and @anacarlagb - a similar issue is already being tracked in neo4j-desktop project site at https://github.com/neo4j-apps/neo4j-desktop/issues/40. It would be really helpful if you could also post your configuration and verbose log outputs as suggested in the issue.

I'm closing this once since the original issue (MSDOS8.3 path string not being recognised) and the statement

[2019-01-13 13:10] #11429 closed, assigned to ali-ince

[2019-01-14 07:39] burqen commented on #12136
Hi @ikwattro
This issue is solved by this commit which will be part of next patch release. https://github.com/neo4j/neo4j/commit/b0a23b8dc5faf610007600aff84c92fb63a23194
Thank you for reporting 👍

[2019-01-14 07:49] mdealer commented on #5246
Why reinvent the wheel? We're already under .Net, so why can't exceptions be used or something for all the details. The top process should return a simple integer because that's like 99% of how the subsystem error handling works. Things like this are just another reason to never use PS.

[2019-01-14 08:10] Lojjs commented on #12126
@CharlieDigital We have got another report about this issue and thus already fixed it. The fix will be included in the 3.5.2 release which will most likely be available sometime during this week.

[2019-01-14 08:10] #12126 closed, assigned to Hunterness

[2019-01-14 14:51] tim-hanssen commented on #12135
We have the same issue with a relationship label, "ENTRY_TITLE" changes to "UPDATED_PUBLICATION" and both give the same match query result.

--

After some digging we discovered that one of our core servers did not respond to the wrong label or param. So it just showed the wrong one, but would not match on the one we created. After this we restarted all core servers one by one, deleting de graph.d

[2019-01-15 09:21] #12136 closed, assigned to nobody

[2019-01-15 09:28] chrisvest commented on #12133
As part of preparing to natively support multiple databases at runtime, the store lock file has been moved to the parent directory of the individual database directories. For backwards compatibility, we cannot change how pointing the embedded graph database factories at a directory, will start a database in that directory. You'll have to move your databases down one directory level to work around

[2019-01-15 09:28] #12133 closed, assigned to nobody

[2019-01-15 12:11] Lojjs commented on #12114
@drew-moore, @firebovine and @richcoles This is a known bug which has recently been fixed. The fix will be included in the soon to come 3.5.2 release.

Best regards Louise, Neo4j Cypher team

[2019-01-15 12:11] #12114 closed, assigned to Hunterness

[2019-01-15 12:29] Lojjs commented on #12128
@nosoccomtothom  I still cannot reproduce your error neither on 3.5.0 or 3.5.1 with an empty database. If you can send me which plans you are getting for the queries that does work and if possible a database/small example dataset for which the error occurs that would be helpful.

[2019-01-15 14:27] vmandrychenko commented on #12133
Thanks for a quick response, I will give it a shot.

[2019-01-15 15:12] craigtaverner commented on #12122
Is it possible to provide a small database or a Cypher query to generate the data, where this problem can be reproduced, because the behaviour of optional match is well tested, and so we suspect there must be something very specific about this case that triggers the bug, and we would need data to help reproduce it.

[2019-01-16 08:51] Hunterness commented on #12127
Hi, we will keep this in mind going forward.
- Team Cypher

[2019-01-16 10:17] nosoccomtothom commented on #12128
Hi @Lojjs
I have performed the tests on the 3.4.11 Enterprise sandbox [https://neo4j.com/sandbox-v2/] with similar results when combining timestamp() and OPTIONAL MATCH (Neo.DatabaseError.General.UnknownError: key not found: ts).

I tried as well on the 3.5alpha09 (3.5.0 Enterprise) and worked. Bear into mind I use the Community Edition.

You may create some sample data as

merge (:Artist {name:'J

[2019-01-16 16:08] technige commented on #12132
Overall, the performance you see will vary enormously depending on a large number of factors, such as the backend server topology, the shape and size of your query, the data types sent and received, the client software stack (and whether that is compiled or interpreted), the protocol you're using, other processes running on the database server, other processes running on the application server, ot

[2019-01-16 20:08] StefanoBelloni commented on #12132
Many thanks for the answer and the suggestion of _community.neo4j.com_: i will try to forward my questions there.

[2019-01-16 20:08] #12132 closed, assigned to nobody

[2019-01-17 06:45] darkl0rd opened #12137 "Unable to connect to bolt://localhost:7687 through web interface behind https."
I am running Neo4J in Docker behind a reverse proxy (Traefik) which performs SSL termination. I would expect to be able to connect to bolt://localhost:7687.

**Neo4j Version:** 3.5.1
**Operating System:** Ubuntu 18.04
**API:** Docker

### Expected behavior
Browsing to https://neo4j.my.domain.com shows the web interface and I am able to connect to bolt://localhost:7687 in the web interface.

### Ac

[2019-01-17 07:01] rickardoberg opened #12138 "ORDER BY requires property to be RETURNed as well"
Neo4j version: 3.5.1 Community
OS: OSX dev, but same in Ubuntu 16.04 prod
API: embedded Cypher

Steps:
We have a query that looks up a few nodes and does a WITH (one node is computed hence the WITH), then an immediate RETURN and ORDER BY. The catch is that the order by is two properties, the first of which is a property on a node which is not RETURNed (the computed node), the property is only used

[2019-01-17 10:48] jgrobbel commented on #12137
This is a limitation in traefik. They have not yet added TCP support which bolt relies on. As you note http[s] is what they support.

https://github.com/containous/traefik/issues/10

[2019-01-17 10:59] darkl0rd commented on #12137
They also support ws/wss, but that's not the problem I am facing here.
I am not exposing 7687 to the outside world through traefik, only 7474; the web interface.
Through the web interface, I am trying to connect directly to localhost:7687 (that is inside the container itself, this traffic does not go over traefik) - which fails.

[2019-01-17 21:22] bonesyo commented on #12122
@craigtaverner how can I reach you to send over a backup of my development database, as well as a query that is not returning the expected results?

[2019-01-18 15:58] jgrobbel commented on #12137
I don't fully follow.
It sounds like you are successfully downloading the browser over http[s] from your remote container. If you then try to connect to `localhost:7687` it will look for something client-side, i.e. on your machine not the pod.

[2019-01-18 20:18] darkl0rd commented on #12137
What I didn't realize when I started setting this up, is that the connection which is being setup through the Neo4J UI is built-up from the client (browser) and not initiated from the server. That is "localhost" is not the container, but the client on which the browser session runs.

[2019-01-18 23:42] mikernorton opened #12139 "Can't start Neo4j using K8S discovery type"
- Neo4j version: 3.5.1 enterprise (rpm)
- Operating system: Centos 7.6 Container in Helm/Kubernetes
- **Steps to reproduce**
Install 3 core PODS using helm chart, the configuration of each is like:
[code]

- Expected behavior
The three cores form a cluster and run.
- Actual behavior
All three cores roll continuously with the following in the debug.log:
[code]

I am trying to K8S move from DNS beca

[2019-01-19 00:10] Arashrohani opened #12140 "Neo.DatabaseError.General.UnknownError: Kernel API returned non-existent relationship type: -1"
I'm getting this error after upgrading to 3.5.1 with the following query:

<pre><code>MATCH (n1:Node1)<-[:Rel1]-()<-[:Rel]-(n2:Node2)
WITH distinct n2, n1
MATCH (n2)<-[Rel:Rel2]-(n3:Node3)
WITH Rel, n3, n2, n1
MATCH (n3)-[:Rel3]->(n4)
WITH n3, n2, Rel, n4, n1
MATCH (n5:Node5)
WHERE (n5.id = "...")
OPTIONAL MATCH (n5)-[:Rel4]->(n6:Node6)
WITH n3, n5, n6, n4, Rel, n2, n1
OPTIONAL MATCH (n5)-[:Rel5*1

[2019-01-20 10:32] jgrobbel commented on #12137
Correct, happy to close this then?

[2019-01-20 11:20] #12137 closed, assigned to nobody

[2019-01-20 21:01] MS-AvivG commented on #2725
Looking forward that feature too

[2019-01-21 07:34] Hunterness commented on #12138
Thanks for reporting, we will look into it.

/Team Cypher

[2019-01-21 11:22] amitsuryavanshi opened #12141 "Unexpected behaviour with Cypher where clause conditions"
**Neo4j Version:** 3.5.1-enterprise
**Operating System:** OSX-10.13.6
**API:** Query Browser

### Steps to reproduce
1. Open Query Bowser at `localhost:7474`
2. Execute following cypher
[code]

### Expected behavior
[code]
Expecting above cypher to not return any nodes, but it returns all the nodes with `User` label.
The condition ` true OR false AND false` inside `WHERE` clause should evaluate to

[2019-01-21 15:26] craigtaverner commented on #11532
Can you provide the apoc and cypher queries, in particular the contents of the files defined by:

* exportAllBatchSize10000
* importCypherShell

[2019-01-21 16:02] craigtaverner commented on #12127
Support for dynamic relationship types is not part of the Cypher language spec. To get this supported it is best to make a request to the openCypher group. See https://github.com/opencypher/openCypher

However, I can say that what you want is possible in Neo4j using the APOC library. See the docs for creating relationships at https://neo4j-contrib.github.io/neo4j-apoc-procedures/#_creating_data

[2019-01-22 02:46] markmssd opened #12142 "3.5 FTS: Support composite indexing and RETURN both nodes"
Hi!

I'm currently using the deprecated indexing to perform Full Text Search on my entries. My query looks like this:

[code]

Where Room.code and Building.code properties have been indexed with:
[code]

Now I'm trying to move over to the new 3.5 FTS. From the doc, I could use [here](https://neo4j.com/docs/cypher-manual/current/schema/index/#schema-index-substring-search-using-contains-single-prop

[2019-01-22 08:21] pontusmelke commented on #12129
Hi @g3rd, thanks for reporting this. Just to be sure you meant to write

[code]
right?

The escaping looks like it was needed at least from 2.3 but maybe there has been some driver change. I'll continue investigating.

Regards,
Pontus

[2019-01-22 08:45] chrisvest commented on #12142
It should return a mix of Room and Building nodes. Any node with one or both of those labels, that has a matching property should be returned. How do you query your full text index? Do you have any other mapping layer (SDN, OGM) between your query result and your code?

[2019-01-22 10:35] Hunterness commented on #12138
Hi @rickardoberg, could you perhaps supply us with some sample data? This would greatly help the investigation :)

Thanks,
Cypher Team

[2019-01-22 12:16] technige commented on #12129
Hi @g3rd.

While I completely agree that backslash escaping can be confusing and messy, I've so far been unable to recreate any functional differences between the handling of regular expressions in 3.3.0, 3.4.0 and 3.5.0, in either the browser or the Python driver (I'm using the 1.7 driver).

Let me try to dig through the detail...

My tests use a slightly adapted version of your query, in two for

[2019-01-22 14:06] craigtaverner commented on #12122
@bonesyo Perhaps you can send it to me on the neo4j-users.slack.com, my user there is 'craig.taverner'.

[2019-01-22 14:39] Lojjs commented on #12128
@nosoccomtothom Since the error seems to be thrown at runtime, can you try to prepend the broken query with `explain` instead of `profile` and send me the plan you get?

Because with the example data you provided, I still cannot reproduce any error for browser version 3.2.13 and server 3.5.1 community. With that data, I get this plan:

![plan](https://user-images.githubusercontent.com/7222590/5153

[2019-01-22 14:51] nosoccomtothom commented on #12128
Hi @Lojjs

Please find attached the explain output and the warning thrown.

[explain_name_optional.txt](https://github.com/neo4j/neo4j/files/2783248/explain_name_optional.txt)

The warning thrown is
[code]

Using Browser 3.2.15 on 3.5.1 community
![explain_name_optional](https://user-images.githubusercontent.com/391717/51543261-74178100-1e5d-11e9-86d0-83afb58f5972.png)

[2019-01-23 02:35] markmssd commented on #12142
Thanks I will give it another try and let you know!

To answer your question, yes I do have a custom OGM, borrowed from an old Neo4J client, but I doubt it’s my issue, I have a ton of unit test passing through this OGM.

(I will post how I query it shortly)

[2019-01-23 11:07] #12063 closed, assigned to nobody

[2019-01-23 11:36] drpump commented on #6575
Have also seen this error today. Specifics in https://github.com/neo4jrb/neo4j/issues/1522 (neo4j ruby gem). TL;DR - it's occurring on the standalone server (v3.4.1) for queries that require serialization of a `datetime` property.

[2019-01-23 14:28] vjramirez commented on #9726
![image](https://user-images.githubusercontent.com/24277356/51613308-79d79a00-1f23-11e9-83a9-caf146273827.png)
Version 3.5.1, same bug.

[2019-01-23 14:36] drpump commented on #6575
From further investigation, v3.5.0 fixes this. It serializes `datetime` and `localdatetime` properties as iso8601 strings, but note that the serialization is dropping the seconds component of `datetime` property values.

[2019-01-24 01:55] peterfarabaugh opened #12144 "3.4+ error can't get just created node by id"
EDIT: removing the disableLosslessIntegers from the driver initialization stops this issue, but then any integer data I retrieve comes back as {low: 10, high: 0} type structures which breaks my entire application.

this issue exists on 3.4 and 3.51 (maybe other post 3.3). I am running on a AWS Ubuntu with neo4j bundled. I am using 1.7.2 of the neo4j-driver for node (although 1.7.0 failes the same

[2019-01-24 03:31] markmssd commented on #12142
**UPDATE:** Here is how I am running the search query:

[code]

If I query only for `H`, I get back the building with code `H`. If I query only for `420`, I get back the room with code `420`.

What I need is the equivalent of
[code]

Maybe I've misunderstood the capabilities of FTS, and it's not meant for my use case?

Thanks!

[2019-01-24 12:43] kueckermann opened #12145 "Cannot create new users in web dashboard."
Tested on Neo4j 3.4.1 and 3.5.2
-> Issue was present running from Docker on clean AWS Linux 2 & Bitnami instance from AWS store.
-> Logged in as initial user (neo4j).
-> Attempt to list users.
-> Throws error and need to reload page.
    Firefox 64.0.2 Windows: "TypeError: n is undefined" and the application can't recover.
    Chrome 71.0.3578.98 Windows: "TypeError: Cannot read property 'indexOf'

[2019-01-24 12:59] youb93 commented on #12108
Hello,
have the same error with neo4j 3.4.9 and neo4j-java-driver 1.7.0.

With this on the database side :

`2019-01-24 12:48:43.823+0000 INFO  Bulk operation succeeded`
`2019-01-24 12:55:05.720+0000 ERROR Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: Could not execute query due to insanely frequent schema changes, reference 45213471-f08d-4f1f-9c1c-df1b555df9cd.`

[2019-01-24 15:37] Lojjs commented on #12111
@dbarton-uk, I have looked a bit into your query and it is unfortunately an expected behaviour/known limitation of procedures that you have run into.

On the first run your MERGE will lead to a write (CREATE) before the procedure read, but since our planner doesn't know that your procedure will touch the relationships you just created, it doesn't plan an eager between them. This means that all wri

[2019-01-24 16:24] dbarton-uk commented on #12111
Thanks @Lojjs for the clarity of your explanation. I will look to implement using the workarounds you suggest. Best wishes, Dave.

[2019-01-25 12:37] felipebn commented on #12140
Hi, I'm also having this error message with  Neo4j server 3.5.2-enterpise on Docker.

[2019-01-25 22:02] craigtaverner commented on #12111
We thought this through a while back when this was first discovered, but it was not reported again until now, so no action has been taken. I thought however to present some of the ideas here in case you have opinions or preferences:

* Make all procedures require an Eager. This seems like a bad idea because it will increase the memory requirements of all queries that use procedures. Since this iss

[2019-01-25 22:02] #12111 closed, assigned to Hunterness

[2019-01-26 21:57] gpierrick commented on #12121
Was this fixed in 3.5.2?

[2019-01-28 07:29] Hunterness commented on #12140
Hi, thanks for reporting, we will look into it.

/Team Cypher

[2019-01-28 07:48] Hunterness commented on #12141
Hi @amitsuryavanshi,

I don't believe this is the wrong behavior, AND do have a higher precedence than OR which makes the WHERE clause evaluate to `true OR (false AND false)` which is true. This is also the behavior in java (as can be seen in the precedence table here https://docs.oracle.com/javase/tutorial/java/nutsandbolts/operators.html).

If you want it to be false you can add parenthesis arou

[2019-01-28 08:02] #12141 closed, assigned to nobody

[2019-01-28 10:51] amitsuryavanshi commented on #12141
@sherfert Thanks for looking into this.
I predominantly work in ruby, where `true or false and false`  is evaluated as `false`. hence the confusion.

[2019-01-28 13:05] MishaDemianenko commented on #12115
Hi @tricepat, thx for Your report.

I have tried to reproduce reported behaviour over multiple version (different 3.4 and 3.5 versions) and so far I do not see a way that will prevent database to start in the case when transaction logs are not there.

Also, please note that in the provided stacktrace You can see the message "No check point found in any log file from version 14 to 14". That means t

[2019-01-28 13:55] gkostkowski opened #12146 "Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: head of empty list, reference 8fbc6196-5d99-41e5-98d7-524da14cc84e"
I have constantly received logs about error "head of empty list" every few days. Usually it occurs during executing time-consuming query, but I cannot exactly point out what it may cause it, because it happens during various types of operations - usually it's during adding something to database, sometimes during query which alter changes some data or just selects to present. As a result, performan

[2019-01-28 15:36] Nareshkg commented on #12071
I had installed using tar ball. And yes, the directory has all the permissions.

[2019-01-28 16:00] chrisvest commented on #12146
Do you see any stack trace if your search for that reference in the `debug.log`?

[2019-01-29 11:13] fhureau opened #12147 "Database load (neo4j-admin load --force) fails with EOFException: null"
- Neo4j version: Docker container neo4j:3.3.2
- Operating system: Container-Optimized OS on GCP (based on Chromium OS)

Hello,
I have a daily database dump exported via the following command:

[code]
And when I try to load it in another instance (same version of the container) with the following command:

[code]
I systematically get the following error : `command failed: unable to load database: E

[2019-01-29 17:50] causaly1 opened #12148 "Neo4j 3.5.2 `key not found` error"
After upgrading Neo4j to 3.5.1 (and then 3.5.2), we found that a query no longer works as expected (see "Steps to reproduce").  Instead of returning successfully, the following error is returned: `error: Neo4jError: key not found:   a@7`.

It is possible to avoid this error by replacing `sa` on line 11 with another name that is unique to the query.  The error can also be avoided by removing either

[2019-01-30 10:14] Lojjs commented on #12148
@causaly1 This is most likely a bug, since we have seen a few similar ones introduced by the new index-backed-order-by feature in 3.5. However, I'm not able to reproduce you problem on an empty database in neither 3.5.1 nor 3.5.2 so it would be helpful if you could send over your data or an smaller example dataset where the problem occurs.

Best regards Louise, Neo4j Cypher team

[2019-01-30 10:21] causaly1 commented on #12148
@Lojjs unfortunately we are not able to share this data with third parties.

[2019-01-30 11:31] gkostkowski commented on #12146
Oh, I missed the fact that _journalctl_ gives incomplete log. I updated logs in the issue.

I attached two stack traces, rest is the same - error occurs in _CommunityExpressionConverter.scala:197_ or _CommunityExpressionConverter.scala:204_

[2019-01-30 12:24] #12113 closed, assigned to Lojjs

[2019-01-30 12:24] Lojjs commented on #12113
The fix for this is included in the 3.5.2 patch release

[2019-01-30 12:39] Lojjs commented on #12122
@bonesyo Thanks for the additional data that you sent. I have investigated a bit today and it turns out that the issue you are seeing is not about OPTIONAL MATCH after all, but is a bug in the slotted runtime with aggregations (in your case `collect`) with many grouping keys. It is the same bug that was reported here: https://github.com/neo4j/neo4j/issues/12113, so it is already fixed.

To get the

[2019-01-30 12:39] #12122 closed, assigned to Hunterness

[2019-01-30 15:25] otgitelr opened #12149 "Neo4J 3.5 : Query Execution Failure when using List Expansions in Where Clauses on Indexed Properties"
## Query Execution Failure when using List Expansions in Where Clauses on Indexed properties

When using a list expansion in a where clause on an indexed property, Neo4J throws an error: Neo.DatabaseError.Statement.ExecutionFailed.  Removing the index/constraint allows the query to execute successfully.  Prefix the query with `CYPHER runtime=interpreted` and it also executes successfully.

**Neo4j

[2019-01-30 15:38] in3rsha opened #12150 "Neo4j slow startup time for large database (1200GB, 60mins+)"
I have a large Neo4j database that is roughly 1200GB. The average startup time when running `sudo neo4j start` is around 60 minutes (or more).

Michael Hunger asked if I could share some details about my startup times. Here's my server and Neo4j config:

[code]

[code]

And here's the output from `/var/log/neo4j/neo4j.log` for my most recent starts of Neo4j:

**1. 110 mins** (after a hard-kill)

[

[2019-01-30 16:10] chrisvest commented on #12150
Try profiling with FlightRecorder/Java Mission Control, or VisualVM, to see what it's doing. It'd be useful if you could share those profiles. Also try setting the log level to debug: https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/#config_dbms.logs.debug.level

[2019-01-30 17:43] bonesyo commented on #12122
@Lojjs To be clear the initial issue I posted here was something that did happen in our production database, however I was not able to re-create it in my development database. So I still think something funky is going on.

[2019-01-30 20:52] in3rsha commented on #12150
Thanks @chrisvest. I haven't profiled using FlightRecorder, but I set `dbms.logs.debug.level=DEBUG` in `neo4j.conf` and restarted Neo4j.

It looks like the delay is taking place during `Initiating metrics...`, but unfortunately doesn't give any detailed information about what's going on:

**5. 44 mins**

[code]

Looks like I'll need to profile using FlightRecorder to get more information.

A quick

[2019-01-31 05:01] tlxnithin opened #12151 "Import error in Docker Container"
- Neo4j version: 3.4.9
- Environment: Docker

- **Steps to reproduce**
Bring up the docker container. Copy some CSV files to container to import.
[code]

- Expected behavior
Should be importing the data.
- Actual behavior
Getting the below exception.

[code]

[2019-01-31 09:32] chrisvest commented on #12150
If you use Oracle JDK 8, then you can instruct the JVM to grab a flight recording after a certain delay from the startup, and have it dump the result to a path of your choice: https://docs.oracle.com/javacomponents/jmc-5-4/jfr-runtime-guide/run.htm#JFRUH164

Flight Recorder is built into the Oracle JDK. It is not included in Open JDK (technically, it is from Java 11 onwards, but don't use that jus

[2019-01-31 11:53] tlxnithin commented on #12151
I took the 3.5.2 version for Linux and installed. Not the docker version. But still getting the same error.
Is it because the neo4j browser is connected to the DB?? If that is connected will we not be able to use neo4j-import?

If not what I am doing wrong here. Need some advice and help.

[2019-01-31 12:28] tlxnithin commented on #12151
I was able to import after I did [this](https://stackoverflow.com/questions/44757181/store-and-its-lock-file-has-been-locked-by-another-process-var-lib-neo4j-data). (Not resolved in Docker though)

So if browser is connected, we will not be able to use the import tool on the same database.
Also once we import, we can not do it again for a different CSV on the same database, Is it?

I have a use ca

[2019-01-31 13:18] NanisTe commented on #266
I definitely agree with your comment @sebastienjust .

[2019-01-31 15:04] #12045 closed, assigned to nobody

[2019-01-31 20:41] cyrilchapon commented on #266
@sebastienjust, they released it under commercial license on enterprise edition, which basically proves the work is already done, choices are already made and nothing is gonna happen in this issue.

That joky project would deserve anyone to fork the whole stuff and implement it faster and better than them, à la io.js

[2019-02-01 04:04] #12151 closed, assigned to nobody

[2019-02-01 18:03] lhannest opened #12152 "Map Comprehensions"
There are list comprehensions:
`[x IN xs WHERE p(x) | f(x)]`

It would also be nice to have map comprehensions, maybe with the following syntax:

`{k, v IN map WHERE p(k, v) | f(k) : g(v)}`

This would be useful for loading CSV's, e.g.:

[code]
[code]

[2019-02-02 00:38] cleishm commented on #266
@cyrilchapon I don't believe "Multi-Clustering", which is the feature in the enterprise version, allows one to "manage multiple 'databases' in one host", as @sebastienjust (and this PR) is requesting.

[2019-02-02 10:24] cyrilchapon commented on #266
Oh Well. Ok then I agree with his PoV

[2019-02-02 12:33] jexp commented on #12152
Great idea.

as a _workaround_ you can use:

`[k IN keys(map) WHERE p(x, map[k]) | [ f(k), g(map[k]] ]`

and you could apoc.map.fromPairs() to turn it back into a map

[2019-02-03 14:24] davidbarnhill opened #12153 "using % operator with long value causes Neo.DatabaseError.General.UnknownError: Cannot produce a double from java.lang.Long"
**Neo4j Version:** desktop 3.5.1
**Operating System:** windows
**API:** Cypher

### Steps to reproduce

Create node with long value for a key.
create (n:Node {Pk:79094469075707465})
Then try to match on the node and return the modulus of the key:
match (n:Node) return (n.Pk % 4)
This returns:
Neo.DatabaseError.General.UnknownError: Cannot produce a double from java.lang.Long
If you run this instea

[2019-02-04 07:30] Hunterness commented on #12148
Hi @causaly1,

Is it possible for you to construct an example set of made up data where the problem occur? It would greatly help our investigation and enables you to not share any real data with us.

Best regards Therese, Neo4j Cypher team

[2019-02-04 07:36] Hunterness commented on #12146
Hi @gkostkowski, thanks for reporting, we will look into it and get back to you.

Best Regards,
Team Cypher

[2019-02-04 07:46] Hunterness commented on #12153
Hi @davidbarnhill, thanks for reporting this. We will look into it.

Best Regards,
Team Cypher

[2019-02-04 07:52] Hunterness commented on #12149
Hi @otgitelr, thanks for reporting. We will look into this.

Best Regards,
Team Cypher

[2019-02-04 08:21] rheusinkveld commented on #12121
Hi @gpierrick. I've upgraded to 3.5.2 and can confirm that this was fixed.

[2019-02-04 13:45] gpierrick commented on #12121
Thanks for confirming @rheusinkveld !

[2019-02-04 13:45] #12121 closed, assigned to nobody

[2019-02-04 14:49] sherfert commented on #12146
This bug was fixed in 3.4.11

Updating to 3.4.11 or newer will resolve this issue. However, your queries will still fail, but get a nicer error message. The reason is that in some of your queries you are probably calling `min()` or `max()` without providing an argument to the function, which is forbidden.

[2019-02-04 14:49] #12146 closed, assigned to Hunterness

[2019-02-04 16:10] craigtaverner commented on #12055
Hi Michael,

We've discussed this in the Cypher team and we think it is a feature that is highly unlikely to get prioritized anytime soon for many reasons, not least of which is the fact that is will work badly (perhaps unpredictably) with the parallel runtime and ordering (or combinations of the two). The impression we have is that this is something that is most easily implemented by the client.

[2019-02-04 16:10] #12055 closed, assigned to nobody

[2019-02-05 10:59] Lojjs commented on #12138
@rickardoberg Even if I cannot reproduce your error without any data, I've looked a bit into the plans for your query on different versions. It looks like you have ran into a known bug for order by of a mixture of aliased and unaliased columns. This has been fixed in 3.5.2, so an upgrade to that version should fix your problem. If it doesn't, feel free to reopen this issue.

Best regards Louise, N

[2019-02-05 10:59] #12138 closed, assigned to Hunterness

[2019-02-05 11:05] Lojjs commented on #12153
@davidbarnhill This turned out to be a bug in our compiled runtime, which I now have merged a fix for. The fix will be included in 3.5.3. For the time being you can either use the workaround query that you provided or prepend your query with `CYPHER runtime=slotted` (if you run enterprise) or `CYPHER runtime=interpreted`.

Best regards Louise, Team Cypher

[2019-02-05 11:05] #12153 closed, assigned to Hunterness

[2019-02-05 11:29] in3rsha commented on #12150
### **EDIT: Fixed it.** Just changed the path to `/tmp/myrecording.jfr`

Thanks. Just getting a small error and thought I'd ask here as I couldn't find anything after a quick search.

I've added these settings to `/etc/neo4j/neo4j.conf`:

[code]

I'm seeing when I run `sudo service neo4j start`:

[code]

Sorry to have to ask, but do you have any suggestions on fixing this **not able to write to fi

[2019-02-05 11:39] #12107 closed, assigned to nobody

[2019-02-05 12:10] Lojjs commented on #12128
@nosoccomtothom Thanks for the report of the `epochMillis` warning. It turned out that this warning is due to how we implement the timestamp function internally and is always thrown when calling the timestamp function in 3.5. That is of course not correct behaviour, so I have merged a fix for that which will be included in 3.5.3.

Unfortunately, this is not related to your original problem. I have

[2019-02-05 12:59] pontusmelke commented on #12140
Hi @Arashrohani and @felipebn
I have so far not been able to reproduce. Are you running community or enterprise? Could you run the query with EXPLAIN and paste the plan here? Also maybe you could describe how you created your graph?

Do you have more of the error message, maybe you can look in `debug.log` and see if there is a stack trace there?

Best regards,
Pontus

[2019-02-05 13:35] chrisvest commented on #12150
The command you have will start a recording as soon as the JVM is able, I think. Since your startup is taking upwards 40 minutes, it'd also be nice to have a recording from later into the startup, like 20 minutes or so. You can use `jcmd $PID JFR.start duration=60s filename=/tmp/myrecording-2.jfr` to do that.

[2019-02-05 13:58] nosoccomtothom commented on #12128
Hi @Lojjs
Again let me thank your support. I really appreciate you diving into the details. I tend o think it might all be related to the way OPTIONAL MATCH handles variables.

[code]

The example before fails.

If we try to bypass the `epochMills` so to define a constant for the 'ts' variable, the same error appears.`epochMills` then has nothing to do with the error as you pointed out on the prev

[2019-02-05 15:35] GittiHab commented on #12091
I am experiencing similar issues. I have the feeling that neo4j has trouble killing heavy queries in general. Also neo4j won't stop using `neo4j stop` if the memory runs too low.

[2019-02-06 07:32] sherfert commented on #12149
We've just merged a fix. I expect that to be part of 3.5.3.

[2019-02-06 07:32] #12149 closed, assigned to Hunterness

[2019-02-06 09:52] Lojjs commented on #12148
@causaly1 Can you confirm that you have an index on `:A(f1)`? With such an index and a simple example graph with your labels and properties I seem to be able to reproduce the bug without any data from your side. Will investigate the cause and make a fix during this week.

[2019-02-06 10:37] causaly1 commented on #12148
Hi,
@Hunterness we are also not able to provide our data model, however we can try providing a minimal working example if you would find that helpful.

@Lojjs you are correct.

[2019-02-06 10:59] Lojjs commented on #12148
Perfect, then you don't need to provide any more data to us at this point.

[2019-02-06 11:52] in3rsha commented on #12150
Thanks again. I just did a stop/start under normal conditions and Neo4j loaded in **1 minute**. Typical!

It seems as though the slow startup happens when I have to hard-kill Neo4j because the server is suffering from memory problems (i.e. swap memory fills up and the server starts thrashing). This is a separate issue of mine where too much of the Neo4j `pagecache` gets moved to swap memory and ex

[2019-02-06 12:18] jexp commented on #12150
Please configure your heap plus pagecache so that it doesn't exceed the physical memory.

[2019-02-06 12:38] chrisvest commented on #12150
If you have time, you can try giving it a `kill -9` to simulate a generic crash, and see if it's the recovery that generally takes a long time.

[2019-02-06 14:29] in3rsha commented on #12150
Hi Michael (@jexp). I have `128GB` of RAM, and these are my settings:

[code]

Over time, I find that some of the Neo4j `pagecache` gradually gets moved to swap memory until it fills up completely (32GB). Ideally I'd like to stop this from happening, but I don't know how. Here is the thread I posted: https://community.neo4j.com/t/is-it-possible-to-reduce-the-amount-of-swap-space-that-neo4j-uses/47

[2019-02-07 21:03] rimmmmm opened #12154 "java.lang.ClassNotFoundException: org.neo4j.cypher.internal.frontend.v3_4"
Hi all
I would like to run a scala code which uses CAPS (cypher for spark)
I added many jars including
_ neo4j-cypher-frontend-3.3-3.3.4.jar
_neo4j-cypher-frontend-3.4-3.4.0-alpha08.jar
but none resolves the following not found class
java.lang.ClassNotFoundException: org.neo4j.cypher.internal.frontend.v3_4.semantics.SemanticFeature$Cypher10Support$
best

[2019-02-08 15:15] in3rsha commented on #12150
### Minor Update

As is typical with testing, I haven't been able to recreate the slow startup time just yet. Here are my failed attempts so far:

**1. Neo4j `stop` and `start` when the server is running smoothly.**

Neo4j starts up in around **1 minute**.

**2. `kill -9` when the server is running smoothly.**

Killing Neo4j when the server isn't having any memory problems doesn't seem to affect t

[2019-02-08 16:45] efruttero opened #12155 "Neo4j 3.5.1->4 (embedded): Wrong relationships when traversing PathFinder result & Node.getRelationships(Direction, RelationshipType)"
**Neo4j Version:** Community-Edition, 3.5.1 and 3.5.2
**Operating System:** Windows 10 Pro
**API:** Java API

Hello,

I have a problem that appeared in 3.5.1 and 3.5.2.
3.4.12 and 3.5.0 are OK.

I can't share my dataset, but I am **very willing** to assist you asserting/probing the problem.
I have built the same dataset, for each Neo4j version.
The following script runs fine on 3.4.12 and 3.5.0 (i

[2019-02-08 20:17] jexp commented on #12150
Thanks a lot Greg for all your efforts

[2019-02-08 20:17] jexp commented on #12150
Thanks a lot Greg for all your efforts

[2019-02-08 23:47] Romulus79 commented on #8484
If you have constraints or indexes related to the empty nodes label, they'll be displayed. After deleting those constraints, indexes etc , the labels will disappear.  I encountered this issue myself.

[2019-02-10 02:09] RayaanKhatau commented on #12140
Also running into this error when updating to 3.5.2
Will return with more details as I read through the debug log but here is the stack trace I am seeing:
[code]

[2019-02-11 12:40] tinwelint commented on #11952
I know I've seen XFS allocation deadlocks myself before. Often caused by heavily fragmented disk. See some more elaborate investigation e.g. https://blog.codecentric.de/en/2017/04/xfs-possible-memory-allocation-deadlock-kmem_alloc/

I'm not sure this is a Neo4j issue

[2019-02-11 15:09] pontusmelke commented on #12140
@RayaanKhatau are you using community or enterprise? If possible please paste a plan, i.e. run the query with `EXPLAIN` prepended.

Regards,
Pontus

[2019-02-11 16:48] efruttero commented on #12155
I created a minimal 3.5.3 obfuscated and without properties version (besides the Segment/Booth part) of my dataset. It's 30 MB zipped.
Let me know if you're interested to get it and how to proceed.

Thanks

[2019-02-12 06:37] heipark opened #12156 "neo4j 2.2.3 can't start after crashed"
- Neo4j version: neo4j-community-2.2.3
- Operating system: centos 5.7

neo4j 2.2.3 can't start after crashed，message below：
(i remove neostore.transaction.db.* and retry，but not work.)

2019-02-12 06:17:33.667+0000 INFO  [o.n.k.i.DiagnosticsManager]: --- INITIALIZED diagnostics END ---
2019-02-12 06:17:47.376+0000 INFO  [o.n.k.i.a.i.IndexingService]: IndexingService.init: index 1 on :label[0](prop

[2019-02-12 07:19] BrokenWingsIcarus opened #12157 "neo4j source problem"
I downloaded the source code of neo4j. But I want to start it directly by running main instead of by building. When I run Community Entry Point, all kinds of class not foundation errors always pop up. Who can help me? Thank you

[2019-02-12 07:20] BrokenWingsIcarus commented on #12157
o(╥﹏╥)o  Pain.

[2019-02-12 11:31] dimitriSpb opened #12158 "Fail to configure remote address ip backup"
Hi all,

I host my own neo4j db (version 3.4.9 - Edition entreprise) .  (single server, NOT cluster)
It's running on CentOS Linux release 7.5.1804 (Core)

I running backup from a separate server (https://neo4j.com/docs/operations-manual/current/backup/standalone/#backup-standalone-separate) and it's work fine.

This is my configuration for backup (neo4j.conf)
[code]
Problem is my backup is not sec

[2019-02-12 12:56] flavianmissi commented on #266
parachuting in here but have we considered proposing this feature on [the ONgDB fork](https://github.com/GraphFoundation/ongdb) instead?
not sure what are their plans regarding features which are absent from the original code base, but might be worth the try anyway. this is such a basic feature.

[2019-02-12 13:11] chrisvest commented on #12156
Don't do that. I suggest you restore from backup if you have one.

What you could have tried was removing or renaming the `/schema` directory. Something somewhere appears to be interrupting threads in the database as it is starting up. If you have any plugins or extensions, or if you are running the database in embedded mode, then you need to look for the source of thread interrupts, and eliminate

[2019-02-12 13:49] chrisvest commented on #148
The fulltext schema indexes added in 3.5 do case insensitive querying by default. Auto- and manual-indexes are deprecated for removal in 4.0.

[2019-02-12 13:49] #148 closed

[2019-02-12 14:06] chrisvest commented on #7556
The fulltext schema indexes added in 3.5 can be configured with a custom analyzer: https://neo4j.com/docs/cypher-manual/3.5/schema/index/#schema-index-fulltext

The auto-indexes are deprecated for removal in 4.0.

[2019-02-12 14:06] #7556 closed, assigned to nobody

[2019-02-12 14:41] chrisvest commented on #9125
Failing and flaky tests come and go all the time. Since issue is quite old, and that test look like it has since been removed, I'll assume it's not relevant any more.

[2019-02-12 14:41] #9125 closed, assigned to nobody

[2019-02-13 06:26] fantaga commented on #12157
me too,branch 3.4 snapshot, project were imported into IDEA,but when I run CommunityEntryPoint#main method,the project builds and lots of errors poped up.

[2019-02-13 09:13] heipark commented on #12156
can't start also, and not import clue，so.. i finally init db.  thx

[2019-02-13 09:13] #12156 closed, assigned to nobody

[2019-02-13 15:29] MishaDemianenko commented on #12118
@jcornaz Now latest updated documentation is available at https://neo4j.com/docs/java-reference/current/tutorials-java-embedded/#tutorials-java-unit-testing

[2019-02-13 15:45] MishaDemianenko commented on #12053
@klichukb 3.4.12 or 3.5.2 includes the fix that closing leaked index readers that were causing exactly described behaviour. I'm pretty sure, so far, that you were facing the same issue. So as soon as you will upgrade indexes growth should be under control. It should be easy to verify new behaviour by checking the number of files in a particular index. Now it should be _reasonable_.

I will gonna c

[2019-02-13 15:45] #12053 closed, assigned to nobody

[2019-02-13 15:51] jcornaz commented on #12118
Thank you @MishaDemianenko

[2019-02-13 15:51] #12118 closed, assigned to nobody

[2019-02-13 21:18] efruttero commented on #12155
Hello,

I would have thought that this bug is in the "**_Ho ? Interesting.._**" category.
Looking quite core/essential to me. :)

[2019-02-13 21:55] jeymer opened #12159 "Error building latest neo4j"
- Neo4j version: Latest commit (also tried release 3.5.3)
- Operating system: MacOS
- API/Driver: Java

I am attempting to build neo4j using Maven but have errors in all versions that I try, even old releases.

[code]

### Steps to reproduce
[code]

[2019-02-13 23:22] jeymer commented on #12159
I had an outdated version of the JDK. Updating my JDK to the latest version fixed the issue.

[2019-02-13 23:22] #12159 closed, assigned to nobody

[2019-02-14 07:46] Hunterness commented on #12154
Hi, thanks for reporting, we will look into it.

/Team Cypher

[2019-02-14 09:04] BrokenWingsIcarus commented on #12157
Who can give me a reply? It's low.

[2019-02-14 11:08] #11945 closed, assigned to nobody

[2019-02-14 11:32] chrisvest commented on #11987
We've moved the annotation processors to a separate module as of the next 3.5 patch release.

[2019-02-14 11:32] #11987 closed, assigned to nobody

[2019-02-14 17:02] jeymer commented on #12157
What version of JDK are you using?

[2019-02-15 02:47] fantaga commented on #12157
jdk-8u121-windows-x64

[2019-02-15 08:53] chrisvest commented on #12157
This works fine for me. You need to make sure that the classpath for your run configuration is correct. I opened it as a Maven project in intellij and set the JDK and language level to be Java 8, and then Intellij gets the classpath right on its own. Maybe it helps to do `mvn clean install -DskipTests` first.

[2019-02-15 08:53] #12157 closed, assigned to nobody

[2019-02-15 09:11] BrokenWingsIcarus commented on #12157
Yeah... I did that. But something went wrong. The JDK version was the normal "8u191" and the MVN version was 3.5.4...

[2019-02-15 09:28] BrokenWingsIcarus commented on #12157
Is there any relevant information (blog, document....)? Of course it's very low, but I haven't found any valid documents outside the Chinese environment. Can you help me?

[2019-02-18 07:22] redplane opened #12160 "in-memory database for .Net driver"
## Environment

- Neo4j version: 3.5.0
- Operating system: Windows 10
- API/Driver: .Net Driver

### Request

At the moment, I have done a small project using `.Net Core 2.2` and `Neo4j` database and [Neo4j for .NET Developers](https://neo4j.com/developer/dotnet/).

After having completed my project, I wanted to do some unit tests. I spent hours searching for solution but only found tutorials for

[2019-02-18 08:33] fantaga commented on #12157
Install scala sdk,and mark scala directory as source directory.Some classes wrote by scala.

[2019-02-19 00:41] antonyscerri commented on #12106
Hi

This post suggests it might be possible in 3.5 to do this somehow but left out any real details. https://community.neo4j.com/t/multi-valued-field-indexing/3873/2

So as of now is it possible to use indexes in anyway to speed things up? I have several properties with high cardinality so adding nodes for the values would create a lot more nodes and the edges to them. So before going that routes

[2019-02-19 02:15] BrokenWingsIcarus commented on #12157
It is recommended that code after release be used instead of using the latest submission, which is error-prone.

[2019-02-19 06:19] BrokenWingsIcarus commented on #12157
http://www.k6k4.com/blog/show/aaavurkwu1547605733514 提供给想要阅读源码的中文学习者

[2019-02-19 09:22] chrisvest commented on #12106
You can do it with the manual indexes, but the fulltext schema index does not support it.

[2019-02-19 13:38] harshayalburgi commented on #12050
The  lsof | grep -i lucene | wc -l
249120
in RHEL 7.2 and neo4j 3.4.1

Even after restart - its same in numbers

[2019-02-19 13:41] tomerh2001 commented on #11429
has anyone managed to fix the problem?
i am trying to get started with neo4j for my company and i can't start because i can't even create a graph to start using the program....

i've been searching for a solution for a couple of hours without even starting with neo4j beacuse i just cant...

[2019-02-19 15:37] aonamrata commented on #11429
Hey @tomergt45 I was able to get this working with latest neo4j desktop version and have my own local database created from UI on windows.
[code]
and database with `Neo4j 3.4.9 `  Try https://neo4j.com/download/

[2019-02-19 15:37] mafshin commented on #11429
You can use it with Docker, it's easier to setup than on Windows

https://neo4j.com/developer/docker

On Tue, Feb 19, 2019, 5:11 PM Tomer horowitz <notifications@github.com
wrote:

[2019-02-19 20:42] chrisvest commented on #12050
@harshayalburgi Try upgrading to 3.4.12: https://github.com/neo4j/neo4j/wiki/Neo4j-3.4-changelog#3412

[2019-02-20 03:12] makpcheng opened #12161 "ResourcesService.java references a non existent resource"
- Neo4j version: Community Edition 3.5.0
- Operating system: Any OS
- API/Driver: in the neo4j-server-3.**.jar file
- **Steps to reproduce**
1) Include neo4j jar and dependency jars in any war files WEB-INF/lib directory.
2) Deploy the war file in Websphere 8 or higher.
3) Websphere then attempts to preload all classes with JAX-RS annotation which ResourcesService.java falls into this category.
Th

[2019-02-20 04:30] Arashrohani commented on #12140
Hi @pontusmelke, I'm running the enterprise edition and I'm not getting that error after upgrading to 3.5.2, it was happening in 3.5.1 for me. I created a test graph based on the query that I pasted here. maybe those who get the error in 3.5.2 can provide more info. let me know if you still haven't been able to reproduce the error then I may be able to create the graph but you need to run it again

[2019-02-20 08:44] Lojjs commented on #12128
Can you confirm that if you open an **empty** 3.5.1 community instance, run the 2 lines of setup query that you sent me

[code]

and then run

[code]

or

[code]
you can see the error?  If not, you must have something else in your setup that you haven't told me about, e.g. other data or indexes. If you cannot send me any data (your real data set or an example one where this error does occur) withi

[2019-02-20 10:13] fickludd commented on #12154
Hi @rimmmmm,

It seems like `SemanticFeature.Cypher10Support` was some temporary solution that was not released, [removed in march 2018](https://github.com/neo4j/neo4j/commit/a8a6411d6a6a9639400cda585bdd3228137089c9#diff-21483d3aad688278a781d86c61f7bcce). What CAPS version are you using? Also: are you separately depending on some Neo4j version?

[2019-02-20 12:37] s1ck commented on #12154
Hi @rimmmmm
Why don't you use the front-end version that CAPS ships with?
This would be `org.opencypher:front-end-9.0:9.0.20181030`

What is it you want to achieve? Are you using Neo4j and CAPS in the same project?

@fickludd The flag is not a temporary solution and is still part of the current front-end: https://github.com/neo4j/neo4j/blob/3.5/community/cypher/front-end/ast/src/main/scala/org/neo

[2019-02-20 13:09] antoniocicchetti opened #12162 "Fresh installation of Neo4J 3.5.3 Community Edition does not work"
I just downloaded and uncompressed the TAR archive for Mac OS systems containing the Neo4J Sever Community edition version 3.5.3. As per instructions, I set an appropriate environment variable for NEO4J_HOME and tried to run ./bin/neo4j console, however I get the following error, that seems related to SSL configuration. I tried to run the command as root, re-download the TAR, and also to download

[2019-02-20 16:07] Lojjs commented on #12148
@causaly1 This turned out to be a bug with `DISTINCT` together with index-backed property lookup which was added in 3.5 (https://neo4j.com/docs/cypher-manual/current/query-tuning/cypher-index-values-order/ in case you are interrested in the details). A bug fix is now merged and will be included in the next 3.5 patch release (3.5.4). So from then on your query will not just work but hopefully also

[2019-02-20 16:07] #12148 closed, assigned to Hunterness

[2019-02-20 20:46] ghost opened #12163 "Tell issue creators to use Speed OSS to add reward to Github Issues!"
Add this text to ISSUE_TEMPLATE.md:

`ADD A REWARD using [Speed](speedoss.com) to SOLVE this issue QUICKLY and SUPPORT this project.`

[2019-02-20 22:10] chrisvest commented on #12163
No, we have our own paid support channels for this purpose.

[2019-02-20 22:10] #12163 closed, assigned to nobody

[2019-02-21 05:55] graphadvantage opened #12164 "Neo4j 3.5.1 Azure Marketplace Template - Bolt Connection Browser Fails, Due to TLS Setting"
#### Neo4j version: 3.5.1 Single Node Azure Marketplace Image
#### Operating system: Ubuntu 16.04.5 LTS
#### API/Driver: Bolt

#### Steps to reproduce:
1. Deploy Azure Marketplace Image 3.5.1 Single Node
2. Config administrator login, SSH key pair, register public key
3. Open Neo4j Browser, connect on Bolt ==> connection fails "Due to security constraints on your browser..."

#### Expected behavio

[2019-02-21 08:56] rimmmmm commented on #12154
Hi all
thank you for your replies,
I would like to run the examples from command-line how to do? and which version I can use for Neo4j ?
as following
scala -J-Xmx5g -classpath $jars org.opencypher.spark.examples.CaseClassExample
such that $jars contains all required jars: caps, scala, spark, neo4j
best

[2019-02-21 09:25] DachuanZhao opened #12165 "How to add a base prefix to Neo4j bolt port?"
[https://stackoverflow.com/questions/49822502/adding-a-base-prefix-to-neo4j-bolt-port](https://stackoverflow.com/questions/49822502/adding-a-base-prefix-to-neo4j-bolt-port)

[2019-02-21 12:12] Sceurpien commented on #11429
I had the same issue, and I wrote a simple article how you can manage to start Neo4j on a Win10 computer.

https://www.linkedin.com/pulse/how-kill-neo4j-soon-you-start-g%C3%A1bor-imre-bata-kov%C3%A1cs/

I hope it helps.

[2019-02-21 12:46] ma2ts opened #12166 "Neo4j Desktop 1.1.15 installs OK but will not start on Windows 7 Ultimate N SP1"
Have been happily running Neo4j Desktop 1.1.10 (with its various updates) since October 2018.

Updated today through the GUI to version 1.1.15 and now Neo4j Desktop will not launch at all. Or to be more precise, the "Neo4j Desktop.exe" process(es) do start (2 are listed in Task Manager, one using c.82K memory, one using c.5K memory) but the GUI itself simply does not appear.

Tried rebooting PC (m

[2019-02-21 13:05] oskarhane commented on #12166
Hi, I'm sorry to hear that @ma2ts.
This is however the wrong repo for Neo4j Desktop issues.

Could you re-open this issue over in https://github.com/neo4j-apps/neo4j-desktop and also add more info on your environment (Windows version, account type etc) and we'll try to figure out what's going on.

[2019-02-21 13:05] #12166 closed, assigned to nobody

[2019-02-21 16:13] nosoccomtothom commented on #12128
Hi @Lojjs
Thanks for your interest.
I tried on a fresh 3.5.1 Community environment and with those two records worked fine.
I have removed on my local database the impacted indexes and rebuilt them with no change.
Sadly the current database is around 17Gb so is quite challenging to pass you all the data.
Tried reducing the involved nodes only to 'Artist' and the error kept appearing but didn't whtn

[2019-02-21 20:03] vjoks commented on #10941
during development phase especially query initial testing is done on the browser.  As time goes on, all the unused property keys clutter the cached values in the browser, including the ones with typos.  Please provide a way to either repopulate the cache or delete specific ones.

As the project and the team get bigger, it is a nightmare to see these unused/incorrect property keys which no longer a

[2019-02-22 02:18] xffighting opened #12167 "Get Plugin failed to install. Error: net::ERR_CONNECTION_RESET while install Apoc plugin in Neo4j Desktop 3.5.0"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2019-02-22 14:14] Mats-SX commented on #12152
Hello @lhannest and thank you for this suggestion.

I have created a CIR (Cypher Improvement Request) on the `openCypher` repository, where language changes are tracked and managed: https://github.com/opencypher/openCypher/issues/352

If you have further comments, please engage with us on that issue.

[2019-02-22 14:14] #12152 closed, assigned to nobody

[2019-02-22 21:11] averza opened #12168 "Incorrect Cypher query result when relationship type is specified"
- Neo4j version: 3.5.2
- Operating system: Windows 10
- API: Cypher

### Steps to reproduce
1. Start Neo4j with the example Cineasts database (https://neo4j.com/developer/example-data/#_data_sets).
2. Open localhost:7474 and execute these queries:
2a. match (a)-[:DIRECTED]-(b)--(c) where a.id="6593" and c.id=a.id return c.id
2b. match (a)-[:DIRECTED]-(b)-[:DIRECTED]-(c) where a.id="6593" and c.id=

[2019-02-23 15:17] florinpatrascu commented on #12162
@antoniocicchetti - it seems to work. I followed exactly the steps you described above, and the server started properly. Excerpt:

[code]

My Java version:
[code]

[2019-02-23 15:22] florinpatrascu commented on #10041
@liketemple - what version of Bolt.Sips, are you using?

[2019-02-24 20:20] tinwelint commented on #11952
@dysuwen  I'll close this issue if no response in a week or two

[2019-02-25 07:53] Hunterness commented on #12168
Hi, thanks for reporting. We will look into it.

/Team Cypher

[2019-02-25 09:37] Lojjs commented on #12168
@averza This is not a bug but intended behaviour. When running your first query, you get the result shown in the attached image. The variables `a` and `c` will both map to the same node namely `John Huston` and you will get 2 results since you have 2 different `b` nodes. The relationship between `a` and `b` will be the `DIRECTED` and the one between `b` and `c` will be `ACTED_IN`.

In your second

[2019-02-25 09:37] #12168 closed, assigned to Hunterness

[2019-02-25 11:27] InverseFalcon commented on #12168
@averza Here's a section in the docs where we discuss the uniqueness of a relationship per path:

https://neo4j.com/docs/cypher-manual/current/introduction/uniqueness/

[2019-02-25 20:23] dmsolow opened #12169 "neo4j-admin import tool hanging"
Here's the bit at the starting:

[code]

It hangs during node import at 45%. Here's the full stack trace: https://gist.github.com/dmsolow/44933dbf39dba01866ea482da24c4726

The only RUNNABLE thread that looks interesting is:

[code]

Any ideas on how to approach this?

[2019-02-25 20:56] InverseFalcon commented on #12169
Which version of Neo4j are you using?

[2019-02-25 21:54] dmsolow commented on #12169
This was a bug on my end. I was including an extra field in the header. Surprised that the import tool didn't complain earlier, but when I fixed the bug it started working.

[2019-02-26 08:28] pontusmelke commented on #12140
That's good to hear @Arashrohani

I am going to close this issue, there has been one fix that went in 3.5.3 that might cause this. @RayaanKhatau and @felipebn please try out 3.5.3, if there is still an issue please reopen this issue or open a new one. Please provide plan description (just run the query with EXPLAIN), and if you are running community or enterprise, and any other information that wi

[2019-02-26 08:28] #12140 closed, assigned to Hunterness

[2019-02-26 08:30] pontusmelke commented on #12129
@g3rd I am going to close this issue now. Feel free to reopen or open a new one if you are still having problems.

Best Regards,
Pontus

[2019-02-26 08:30] #12129 closed, assigned to Hunterness

[2019-02-26 15:29] fickludd commented on #12154
@rimmmmm this does not seems to be an issue with Neo4j, but rather with Cypher for Apache Spark. Since it seems like I cannot move issues to another github repository yet, you'll have to re-open the issue [against Cypher for Apache Spark instead](https://github.com/opencypher/cypher-for-apache-spark/issues), and I'm sure @s1ck and friends can help you further.

[2019-02-26 15:29] #12154 closed, assigned to Hunterness

[2019-02-27 02:39] BrokenWingsIcarus opened #12170 "IllegalAccessError from executing the algorithm"
When I use neo4j for source learning, I put the plugin into the folder of neo4j's plugin. I throw an error when calling the algorithm 'Neo.ClientError.Procedure.ProcedureCallFailed: Failed to invoke procedure `algo.spanningTree.minimum`: Caused by : java.lang.IllegalAccessError: tried to access class org.neo4j.kernel.impl.newapi.Read from class org.neo4j.kernel.impl.newapi.InternalReadOps'
Neo4j s

[2019-02-27 02:39] BrokenWingsIcarus commented on #12170
why?

[2019-02-27 12:29] jastax opened #12171 "Fulltext Index Allow Leading Wildcards"
Leading wilcards are not allowed on the fulltext index yet. It would be nice if they were allowed :-)
i. e.

**SimpleFullTextIndexReader.java**

 @Override
    public ScoreEntityIterator query( String queryString ) throws ParseException
    {
        MultiFieldQueryParser multiFieldQueryParser = new MultiFieldQueryParser( properties, analyzer );
        **multiFieldQueryParser.setAllowLeadingWildc

[2019-03-01 20:01] harryhoch opened #12172 "Expose db.index.fulltext index to Lucene API"
The Lucene fulltext index capabilities are really great, but they're also limited. I'd love to get at the guts of the index, to pull out term frequency, document frequency, etc. as generated through the indexing process and accessible (in the general case) through Lucene APIs.

Extensions exposing more of the Lucene functionality through db.index.fulltext would be ideal.

I have tried to connect t

[2019-03-03 19:54] alecmuffett commented on #5384
+1 - I just came up with a really good use-case for this feature, only to find that is doesn't exist yet. :-(

edit: and, yes, I would like parameters for `LOAD CSV` as well as being able to pass them into `cypher-shell`, please

[2019-03-04 07:35] jexp commented on #12170
Try to update the plugin to the last version for 3.4.x

There is not 4.3.12 so I guess that’s a typo.

[2019-03-04 20:40] cleishm commented on #5384
@alecmuffett This is possible with [neo4j-client](https://neo4j-client.net/) as follows:

[code]

It simply evaluates the inline string (`:export x="hello world"`) before sourcing the input file. I'll consider adding a more obvious '--export` option to simplify this.

[2019-03-05 09:17] chrisvest commented on #12171
Thanks for the suggestion. We will take a look.

[2019-03-05 09:22] chrisvest commented on #12172
Can you pin down more precisely what features you would like to see? We can't expose database internals on principle, so every feature we add will need to have an API designed for it.

[2019-03-05 13:55] harryhoch commented on #12172
Fair question.

Ideally, I'd like to be able to take my own applications written against the Lucene API, and to connect directly to the Lucene index crated by db.index.fulltext. This would let me do what I want, without requiring a full-blown pass-through layer.

I assume this is what you mean that you can't do when you're saying that you "can't expose database internals on principle." If that's t

[2019-03-06 08:06] #11952 closed, assigned to nobody

[2019-03-06 10:01] sel-fish commented on #11990
@sshzhang It seems that you have opened too many file handles, maybe you can modify the limitation by 'ulimit -n' to work around the problem.

[2019-03-06 12:17] toshiro92 opened #12173 "Cannot set variable with a number at the beginning"
Hi !

When I've tried to add a node with variable `04061960804`, like below:

`CREATE (04061960804:Person { name: "Emil", from: "Sweden", klout: 99 })`

I have the following error:

But when I add a chart in front of the numeric variable:

`CREATE (s04061960804:Person { name: "Emil", from: "Sweden", klout: 99 })`

The node is added into neo4j:

Is it an excepted behavior ?

My Neo4j version is:

[

[2019-03-06 13:13] chrisvest commented on #12173
Yes, this is expected behaviour. Variable names must start with an alphabetic letter: https://neo4j.com/docs/cypher-manual/current/syntax/naming/

[2019-03-06 13:13] #12173 closed, assigned to nobody

[2019-03-06 20:09] antoniocicchetti commented on #12162
@florinpatrascu thanks for your feedback. I have updated the OS to Mojave and installed JDK version 11, but I had no luck. I still get the same issue with SslPolicyConfig, I wonder if I should clean-up some Neo4J configuration files to get it to work.

Thanks,
                                                      Antonio

[2019-03-06 21:00] florinpatrascu commented on #12162
can you try starting neo4j with its original config file (conf/neo4j.conf)? Maybe your current SSL policy configuration is borked? Here's the relevant section from a default neo4j.conf file, for brevity:

[code]
HTH

[2019-03-06 21:10] antoniocicchetti commented on #12162
I am already running Neo4J with the default configuration file.

[2019-03-07 03:34] makpcheng opened #12174 "COST planner query sometimes creates query plan that is very slow, compared to RULE planner and other property graph databases in certain queries"
- Neo4j version: Community Edition 3.5.3
- Operating system:  RHEL 7.6
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z)

While investigating whether to adopt Neo4j and comparing Neo4j to other property graph databases, we noticed some queries in Neo4j is much slower compared to other databases such as JanusGraph.  The query being executed with the the default cost planner, it is tr

[2019-03-07 14:05] antoniocicchetti commented on #12162
As an update, I have made several tries and it looks like that when I set NEO4J_HOME to a **different** path than the one neo4j is installed, the server succeeds to run. I have tried on different paths, I have always the same phenomenon. Maybe some permission issue?

Regards,
                                                                    Antonio

[2019-03-07 14:39] florinpatrascu commented on #12162
@antoniocicchetti - are you still trying to install it in `/Applications`, as per your earlier screenshot?  If so, I am afraid that `/Applications` has a different type of permissions constraints than your own (user) folders i.e. such as the ones in `/Users/<your_user_name>`. If you insist your app to be in `Applications` folder, then at least use your own applications folder, as in `$HOME/Applica

[2019-03-07 15:17] antoniocicchetti commented on #12162
@florinpatrascu - as written before I made several different tries, as suspecting the same problem that you described. I also noticed that when I run the server I get Neo4J version 3.2.0 running (please see the screenshot attached). Might it be some file of the old version that is creating this mess? I have tried to remove everything about the old installations but apparently something is still th

[2019-03-07 17:02] blackjackkent commented on #12160
+1

Very hard to find resources on any way to unit test in .NET. Would be very helpful to be able to run an in-memory copy and verify results of queries.

[2019-03-11 08:08] fickludd commented on #12174
Hi @makpcheng,

The COST planner has many benefits but it is by no means perfect, and sometimes it makes mistakes. That said, it's great for us to see cases where it fails, and improve the situation if possible. Could you run `curl -H accept:application/json -H content-type:application/json -d '{"statements":[{"statement":"CALL db.stats.retrieve(\"GRAPH COUNTS\")"}]}' http://_________:7474/db/data

[2019-03-11 12:08] technige commented on #12160
There are no plans to release an in-memory database for .NET. This would be quite a serious diversion from our product suite.

In terms of testing though, we are starting to work more and more with Docker, which is incredibly powerful and flexible. I'd recommend looking into that.

[2019-03-11 14:20] protheusfr opened #12175 "can't backup on Kubernetes"
Environment  :
- Neo4j version: neo4j:3.3.6-enterprise
- Operating system: Docker version
- Kurbernetes : v1.13.3

From a container with the same image as Neo4j server (neo4j:3.3.6-enterprise) execture a command like :
`/var/lib/neo4j/bin/neo4j-admin backup --from $NEO4J_HOST --backup-dir=/backup/ --name=test.backup`

- Expected behavior
Doing the backup

- Actual behavior
Backup command fail with

[2019-03-11 15:24] cdornfeldnj commented on #10941
This would be a welcome "quality of life" improvement for our team, too.

[2019-03-11 15:52] jschmidtWK commented on #10941
I strongly support this as well. As the project grows this can induce critical mistakes.

Having auto-completion is useful, but if half the time the provided completion is false or deceptive (like case issues or typos), it can lead to significant delays and troubles.

[2019-03-11 17:37] makpcheng commented on #12174
@fickludd

I've attached the results of the graphCounts.json in the attached zip file.

Thanks

[graphCounts.zip](https://github.com/neo4j/neo4j/files/2953528/graphCounts.zip)

[2019-03-11 23:04] dmsolow opened #12176 "JVM bug causes wrong number of cores on import tool"
I'm trying to run the neo4j import tool (`neo4j-admin import`) in Kubernetes. The issue I'm running into is that the import tool uses `Runtime.getRuntime().availableProcessors()` to get the number of cores, and there's a JVM bug where this returns the wrong value in a Docker container.

There is a java setting (`XX:ActiveProcessorCount`) to override this value, and it works in my environment. So I

[2019-03-12 09:55] redplane commented on #12160
@technige , according to what you said, wouldn't be any solutions for unit testing in .Net  without using Docker ? :(

[2019-03-12 11:51] happymishra opened #12177 "Creating relations ships is very slow. I have 50, 000 nodes in the same label and creating relations ships is taking 20 minutes"
Neo4j version: 4 i.e. latest one

Node structure: id:1; child: 2, 3, 4;

I have index on id

Create Relationship query:
         MATCH (n), (b)
        WHERE b.id IN n.child
        CREATE (n) - [:MADE_FROM] -> (b)

Here I have not mentioned the label in the Match as I have only one Label.

This is the warning I am getting:

This query builds a cartesian product between disconnected patterns.
If a

[2019-03-12 13:21] jexp commented on #12177
But you don't use labels in your query so the index is not used:

try

[code]

[2019-03-12 13:45] happymishra commented on #12177
@jexp Thanks for the prompt reply. It does solves the issue and reduces the time considerably.
Thanks once again.

[2019-03-12 14:05] #12177 closed, assigned to nobody

[2019-03-13 10:32] ksonbol opened #12178 "Did you remove the enterprise edition code?"
I cannot find the enterprise edition code in this repo anymore, but it still mentioned in the project README.md file. Did you decide to close-source the enterprise edition code or was it moved to another location? I am specifically interested in the causal clustering code that was available earlier.

[2019-03-13 10:37] jimwebber commented on #12178
Hello @ksonbol

Please see: https://neo4j.com/open-core-and-neo4j/

I'll update the readme now, thanks for flagging it.

[2019-03-13 10:59] #12178 closed, assigned to nobody

[2019-03-13 14:45] bradnussbaum commented on #12178
@ksonbol The Graph Foundation is continuing forward development of open source enterprise under the ONgDB Project. You can read TGF response to Neo4j Inc taking enterprise closed here: https://www.graphfoundation.org/neo4j-is-open-core-now-what-ujah7ein5mis/

Open Enterprise codebase for 3.5 can be found here: https://github.com/graphfoundation/ongdb
Status of ONgDB Licensing: https://github.com/g

[2019-03-13 15:11] craigtaverner commented on #12128
Is it possible to share your database with us for us to try debug? We have created an S3 bucket for you to upload to, which will handle that size database. Please message me directly on the neo4j-users.slack.com channel and I will share the bucket address with you for this purpose. My slack name is 'craig.taverner'.

[2019-03-13 15:46] bradnussbaum commented on #12178
So let's get this straight. After 10 years you delete open source code because "that was always what was intended" and then you delete comments from the community that challenge that? Unreal.

[2019-03-13 15:51] bradnussbaum commented on #12178
Neo4j Enterprise was ALWAYS open source. Let's not start pretending that removing it is anything but unethical by any measure and anyone that disputes that has already reached the pinnacle of corruption. You gained popularity because of open source. Don't forget that. Don't hate us because you turned your back on the community that made you.

[2019-03-13 15:52] bradnussbaum commented on #12178
The Graph Foundation is continuing forward development of open source enterprise under the ONgDB Project. You can read TGF response to Neo4j Inc taking enterprise closed here: https://www.graphfoundation.org/neo4j-is-open-core-now-what-ujah7ein5mis/

Open Enterprise codebase for 3.5 can be found here: https://github.com/graphfoundation/ongdb
Status of ONgDB Licensing: graphfoundation/ongdb#3
ONgDB

[2019-03-13 17:28] ali-ince commented on #12160
Just as a materialisation of @technige's response, below you can find a very simple implementation of `Neo4jContainer` based on [testcontainers-dotnet](https://github.com/testcontainers/testcontainers-dotnet) that you can use in your xunit tests.

[code]

[2019-03-13 17:32] jmsuhy commented on #12178
They removed enterprise code starting at 3.5 - The Open Native Graph Database (ONgDB) fork by Graph Foundation, adds the enterprise code back into Neo4j core.

[2019-03-13 18:30] bradnussbaum commented on #12178
So let's get this straight. After 10 years you delete open source code because "that was always what was intended" and then you delete comments from the community that challenge that? Unreal.

[2019-03-13 18:30] bradnussbaum commented on #12178
Neo4j Enterprise was ALWAYS open source. Let's not start pretending that removing it is anything but unethical by any measure and anyone that disputes that has already reached the pinnacle of corruption. You gained popularity because of open source. Don't forget that. Don't hate us because you turned your back on the community that made you.

[2019-03-13 18:57] jexp commented on #12175
did you see: https://medium.com/neo4j/how-to-backup-neo4j-running-in-kubernetes-3697761f229a

perhaps that helps.

[2019-03-13 19:47] moxious commented on #12164
@graphadvantage as of 3.5.3 on azure we're making tls_level optional, and including extra messages if memory serves about TLS settings.  In general it's strongly recommended to configure valid SSL certs, which are ultimately up to the deployment as they are DNS specific.  Making tls optional can help get past the unfortunate error, which is caused by a combination of how Neo4j Browser is built, an

[2019-03-13 22:42] protheusfr commented on #12175
Thank you Michael, but unfortunately no.
I had read this article, but it's not really useful.

I've not found the code portion that log `Backup failed: BackupClient could not connect from ` in the repo.
I assume this part is probably not open sourced.
I would like to understand why the log mention "null" as local hostname.

Can you post (or send me) just the part of code that surround this message

[2019-03-14 11:35] FinancialAIGhost commented on #12095
`
from py2neo import Graph,Node,Relationship,http

import neo4j

graph = Graph('http://localhost:7474',username='neo4j',password='neo4j')
`

i try to do this.but i have trouble:

File "C:/Users/Bai'rong/PycharmProjects/untitled10/1.py", line 7, in <module>
    graph = Graph('http://localhost:7474',username='neo4j',password='neo4j')
  File "C:\ProgramData\Anaconda3\lib\site-packages\py2neo\graph.py

[2019-03-14 11:41] FinancialAIGhost opened #12179 "AttributeError: type object 'GraphDatabase' has no attribute 'uri_schemes'"
**my code:**
`
from py2neo import Graph,Node,Relationship,http

import neo4j

graph = Graph('http://localhost:7474',username='neo4j',password='neo4j')
`

**my issues**

i try to do this.but i have trouble:

File "C:/Users/Bai'rong/PycharmProjects/untitled10/1.py", line 7, in
graph = Graph('http://localhost:7474',username='neo4j',password='neo4j')
File "C:\ProgramData\Anaconda3\lib\site-packages\py

[2019-03-16 05:23] happymishra opened #12180 "Sharding in Neo4j is it possible"
I have asked these question on stackoverflow. We are doing evaluation of database for our enterprises and would like to know if Neo4j supports these. Can you guys please respond

1. https://stackoverflow.com/questions/55193568/does-neo4j-supports-sharding
2. https://stackoverflow.com/questions/55163615/need-to-get-data-recursively-in-graphql

[2019-03-16 07:41] Augustinian opened #12181 "Why does Taiwan appear in the country's options?"
Why does Taiwan appear in the country's options?？？？？？？？！

[2019-03-16 17:53] pdrangeid opened #12182 "FOREACH CASE /MERGE after query/match using apoc.load.jsonParams generates ExecutionFailed error"
- Neo4j version: 3.5.3
- Operating system: Windows 10
- API/Driver: Neo4J Browser

If I run this with the "FOREACH" line commented out, it runs just fine. If I leave the FOREACH in I receive this error:
Neo.DatabaseError.Statement.ExecutionFailed: Expressions need to be registered with it's owning Pipe, so the profiling knows where to report db-hits

### Steps to reproduce
Run a query as below and

[2019-03-16 18:19] unoperwironegoro commented on #88
Please do this, I have an exam question which would be made so much easier if this was implemented.

[2019-03-17 07:25] billscheidel commented on #11946
@phughk  I'm running into similar issues after upgrading to **neo4j 3.5.3** now.  The first time I run the backup, it works as expected. The second time it creates a **.err.0** file and a **.temp.0** file, then then third time I run it it errors out with **unexpected error: Can only perform a full backup into an empty directory but /var/backups/neo4j/neo4j-backup.temp.0 is not empty**.

Here is th

[2019-03-17 07:45] billscheidel commented on #11946
@phughk I also just confirmed that I'm seeing the same results on **neo4j 3.4.9** on an empty database.

[2019-03-17 16:05] tonyanytime commented on #2046
It has been years, any progress on this....

[2019-03-17 18:29] billscheidel commented on #11946
@phughk Looksl like 3.5.3 is back to only working if the backup is done as the **neo4j** user. If I run

[code]

It works as expected.  It also works if the backup command is run as root.

[2019-03-18 15:21] fickludd commented on #12170
Hi @chinausers,

Since you have not written back, I'm going to assume @jexp suggestion solved your problem. Please reopen the issue if that is not the case.

[2019-03-18 15:21] #12170 closed, assigned to nobody

[2019-03-18 16:38] detmitchell opened #12183 "Neo4j Cluster Fails to Cluster After Restoring from Backup"
- Neo4j version: 3.2.2 Enterprise
- Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-1075-aws x86_64)
- Java
###Expected Behavior
Cluster should start and form after restoring from backup.
###Actual Behavior
Cluster fails to start and form after restoring from backup.

###Steps to reproduce
- Created Neo4j cluster with 3 CORE and 1 READ on EC2s
- Cluster started and clustered successfully with empty graph DB
-

[2019-03-18 17:44] Gudahtt commented on #12149
Which commit was this fixed in? Did this make it into 3.5.3?

Edit: Oh, I'm guessing this change was in a private repository.

[2019-03-19 04:25] FinancialAIGhost commented on #12179
oh my god,somebody can help me

[2019-03-19 05:45] SreenijaK opened #12184 "uninstall neo4j"
First time i installed neo4j i changed it to bolt. later i uninstalled it and re-installed but still gives me bolt connector. How do i get it to default

[2019-03-19 13:33] thobe commented on #88
This is tracked in the openCypher repository as [CIR-2017-179 - Support for Regular Path Queries](https://github.com/opencypher/openCypher/issues/179).

[2019-03-19 16:29] chrisvest commented on #12181
What are you referring to?

[2019-03-19 16:39] chrisvest commented on #12161
Thanks for the report. It'll be removed in the next 3.5 release.

[2019-03-19 16:39] #12161 closed, assigned to nobody

[2019-03-21 05:08] farlofayle commented on #266
I'm making recommendations for a customer and the fact that Neo4j is still missing this feature after 6 years is pretty surprising and somewhat disappointing. I wonder if it's a business/revenue decision that is blocking this as opposed to a technical one? This is such a critical feature for multi-tenant installations where you want to keep the graphs completely isolated

[2019-03-21 09:20] Bierbarbar opened #12185 "Update from 3.4.11 to 3.5.3 is a breaking change?"
- Neo4j version: 3.4.11-enterprise & 3.5.3-enterprise
- Expected behavior
We have some queries & plugins (on 3.4.11) that are using the `db.indexes()` procedure in the following way: `call db.indexes() yield labels`
- Actual behavior
Now we were thinking about updating our database to 3.5, but when I started evaluating 3.5 i got an error message while calling `call db.indexes() yield labels` becau

[2019-03-21 11:43] gustavosizilio opened #12186 "[QUESTION] Where I can find the CI service?"
Is this project using continuous integration services (e.g., Travis-CI or Jenkings)? Or has it used at any point of its lifetime?

[2019-03-21 11:46] jimwebber commented on #12186
Hello @gustavosizilio,

Neo4j is under Continuous Integration by the Neo4j core committers (mostly Neo4j employees). Any releases of the product are predicated on a green pipeline which includes a plethora of non-functional tests as well as functional and unit testing.

The CI service and test infrastructure is not public however.

[2019-03-21 11:46] #12186 closed, assigned to nobody

[2019-03-21 11:53] gustavosizilio commented on #12186
Thank you very much!

[2019-03-21 12:15] chrisvest commented on #12185
It was a necessary breakage because 3.5 introduced fulltext schema indexes, which can be so-called _multi-token_ indexes, which means that they can apply to a _set_ of labels and relationship-types.

Because relationship-types can now also be used for defining the schema of an index, "label" isn't really fitting any more. If we kept a "label" column, it would be mis-named for indexes on relationsh

[2019-03-21 14:09] Bierbarbar commented on #12185
Ok fine, i can understand this all, but why you are namning this as neo4j 3.5.X? Your Versioning Schema pretend that you are using [semantic versioning](https://semver.org/) aren't you ? If you using a semantic versioning a change in the minior version part would mean that all that worked with prior 3.X versions should work with the new one without any problems. I would especially expect from ente

[2019-03-21 14:15] chrisvest commented on #12185
We follow semantic versioning as closely as we can. Version numbers are not free, though. They have a lot of value in marketing. Going through major versions too quickly also reflects poorly on a product.

[2019-03-25 07:26] Hunterness commented on #12182
Hi, thanks for reporting, we will look into it.

/Team Cypher

[2019-03-25 09:37] #12160 closed, assigned to nobody

[2019-03-25 10:40] boggle commented on #57
This is being worked on as part of Cypher 10 and GQL.

[2019-03-25 10:40] boggle commented on #77
This is being worked on as part of Cypher 10 and GQL.

[2019-03-25 10:42] #2973 closed

[2019-03-25 10:42] boggle commented on #2694
Set operations between graphs and tables are being worked on as part of Cypher 10 and GQL.

[2019-03-25 10:43] boggle commented on #2473
This is possible since 3.1: https://neo4j.com/blog/cypher-graphql-neo4j-3-1-preview/

[2019-03-25 10:43] #2473 closed

[2019-03-25 10:44] boggle commented on #2000
This is under consideration for Cypher 10 and GQL

[2019-03-25 10:44] boggle commented on #2073
Dynamic label parameterizaion is under consideration for Cypher 10 and GQL; this is a natural part of that.

[2019-03-25 10:45] boggle commented on #340
Dynamic label parameterization is under consideration for Cypher 10 and GQL.

[2019-03-25 10:46] boggle commented on #140
This is being worked on as part of Cypher 10 and GQL.

[2019-03-25 10:46] boggle commented on #108
This is being worked on for Cypher 10 and GQL.

[2019-03-25 10:48] boggle commented on #98
Could you please give an example of what you'd like to achieve? The elements in a list may be deleted using something like `MATCH ... WITH collect(...) AS list UNWIND list AS elem DELETE elem`

[2019-03-25 10:49] boggle commented on #7065
More advanced patterns (including simple paths) are being worked on as part of Cypher 10 and GQL.

[2019-03-25 10:49] boggle commented on #6584
@craigtaverner @sherfert Any update on this in light of recent changes?

[2019-03-25 10:51] boggle commented on #4470
Thank you for the suggestion. Updating clauses only work on persisted data (graphs, nodes, edges). Maps and lists cannot be updated but new maps and lists may be derived from existing ones, e.g. using map and list comprehensions. We'll look into wether to add `+` operator for maps.

[2019-03-25 10:52] boggle commented on #4334
Dynamic label parameterization is being worked on as part of Cypher 10 and GQL.

[2019-03-25 15:47] craigtaverner commented on #12182
Is it possible to provide a simplified query with sample data so we can reproduce this?

[2019-03-25 17:13] gparissis commented on #9726
3.5.3 same bug.

[2019-03-26 06:15] #12181 closed, assigned to nobody

[2019-03-26 10:14] craigtaverner commented on #12128
Since we cannot reproduce this without data, we're closing the issue. If this becomes a problem again, please re-open the issue and provide sample data.

[2019-03-26 10:14] #12128 closed, assigned to Hunterness

[2019-03-26 10:45] tutolmin commented on #12115
I am experiencing the same issue. After DB start new transaction log was created but it is only 16 bytes in size. Neo4j version 3.5.3

I created a RAM disk in order to put transaction logs there and mounted it to /ramdisk mount point.
Then changed dbms.directories.tx_log=/ramdisk in config and tried to start the DB.

/ramdisk/neostore.transaction.db.9 file was created and there was a log message s

[2019-03-27 07:43] jastax commented on #12171
Will this be included in the next update?

[2019-03-27 09:52] ismaeladra opened #12187 "cannot update any node"
i have a neo4j casual cluster with 3 nodes i can't update nodes attributes or create new relation any query will last forever and locks will still active

**Neo4j Version:3.4.12
**Operating System:** centos 7.5

[2019-03-27 10:12] jexp commented on #12187
How do you try to update data?
Do you use a driver with the bolt+routing protocol?
And do you use a WRITE transaction/session?

[2019-03-27 10:28] ismaeladra commented on #12187
i tried three ways

1. neo4j browser
2. cypher shell
3. python py2neo with bolt+routing

[2019-03-27 11:26] jexp commented on #12187
What does your query look like and are there any messages in the debug.log files of the cluster member.

Are you sure the cluster has formed? Please check that first.

[2019-03-27 11:46] ismaeladra commented on #12187
my query  : `match (u:users) where u.user_id = 100  set u.username = 'test' `
cluster is formed
and there are no error messages or anything suspicous in debug.log

[2019-03-27 13:58] jexp commented on #12187
And your db is empty to start with?

or do you already have users? If you do, make sure to have a constraint like:

`create constraint on (u:users) assert u.user_id is unique`

[2019-03-27 13:59] jexp commented on #12187
Can you share the output of `call dbms.listQueries()` and `call dbms.listActiveLocks('your-query-id')`

[2019-03-27 14:22] ismaeladra commented on #12187
my db is not empty and i already have users and i have this constraint created before

[listqueries.xlsx](https://github.com/neo4j/neo4j/files/3013588/listqueries.xlsx)

| queryId | username | metaData | query | parameters | planner | runtime | indexes | startTime | protocol | clientAddress | requestUri | status | resourceInformation | activeLockCount | elapsedTimeMillis | cpuTimeMillis | waitTime

[2019-03-27 14:39] jexp commented on #12187
Can you show the output of `CALL dbms.cluster.overview()`

[2019-03-27 14:42] jexp commented on #12187
Also if possible the status of your indexes:
`call db.indexes`

Do you have any other plugins / extensions installed/running that could affect this? E.g. some tx-event-handlers?

[2019-03-27 15:25] jexp commented on #12187
You could also try https://halin.graphapp.io and see if there is anything unusal.

[2019-03-27 21:15] graphadvantage commented on #12172
Piling on here - yes it would be great to at least get the array of term positions in the string for highlighting etc  :)

[2019-03-28 07:17] ismaeladra commented on #12187
cluster overview result is :

![clusteroverview](https://user-images.githubusercontent.com/9849471/55137432-a2555d80-5139-11e9-9102-2befb5130174.PNG)

result of call db.indexes :
[indexes.xlsx](https://github.com/neo4j/neo4j/files/3016610/indexes.xlsx)

i don't have any plugin and i can't use this monotring tool becuase the db is not connected to internet and its inside my company intranet
can i u

[2019-03-28 08:35] jexp commented on #12187
You can also install halin for offline use with Neo4j desktop.

[2019-03-28 09:41] martinfurmanski commented on #12187
@ismaeladra1 This sounds very odd and possibly hard to diagnose for a regular end user, but you could try to get a thread dump and see if there are "bolt workers" actively processing the queries that you are submitting, and if so how they are blocked.

When getting the thread dump you have to do that on the instance to which the query was routed. To figure that out either you can use direct bolt c

[2019-03-28 11:51] jindrazak opened #12188 "Neo4j crashes after repeated PageRank calls"
Using Java driver I want to run Pagerank repeatedly in a loop. However, after certain number of iterations neo4j crashes.

### Steps to reproduce:
1. create single node
2. run PageRank (from Graph Algorithms) repeatedly in an infinite loop
3. after certain number of iterations neo4j crashes

### Here is my Java class:

[code]

### Java log:

[code]

## Neo4j logs:
debug.log:
https://pastebin.com/5

[2019-03-28 13:34] jexp commented on #12188
can you please move this issue to https://github.com/neo4j-contrib/neo4j-graph-algorithms/issues ?

Thanks a lot.

[2019-03-30 00:22] nhooey opened #12189 "Improve error messages for `neo4j-admin`"
I know this probably doesn't follow the bug guidelines, but this error message needs improvement.

When trying to set a default user for Neo4j, I get this error:
[code]
It should say how to create a user, and the Homebrew instructions should mention how to get Neo4j set up when it's first installed.

The Homebrew recipe may not be maintained by you guys, but someone should make sure that it's easy

[2019-03-30 00:26] nhooey commented on #12189
I get an authentication failure when trying to login immediately after setting the password:
[code]
How is this possible?

[2019-03-30 00:31] nhooey commented on #12189
Ultimately I restarted the server and was able to login, but it didn't work the first time.

When setting the initial password, `neo4j-admin` should mention that changes may not take effect until restart. If that's not the issue, then there's likely another problem.

[2019-03-30 07:58] slothkong commented on #12130
lol I wasted a good 6 hours becuase of this. Guess Ill just try rollingback version until my configs are applied...

[2019-04-02 09:32] ggservice007 opened #12190 "How do the cypher execution plan to run?"
In the org.neo4j.cypher.internal.ExecutionEngine

[code]

I want the change the disk file to memory by using distributed memory.

I can not understand how the execute method invoke the functions related to disk.

Any ideas?

[2019-04-02 09:48] chrisvest commented on #12190
The store accesses happen at a _much_ lower level. You probably want to build an alternative implementation of `org.neo4j.io.pagecache.PageCache`, and make `PlatformModule.createPageCache` return your implementation.

[2019-04-02 09:48] #12190 closed, assigned to nobody

[2019-04-02 10:07] ggservice007 commented on #12190
I have read the source code for about two weeks.
The PageCache does not meet our requirements.

Actually, I want to change the disk store with memory like RedisGraph.

[2019-04-02 10:13] chrisvest commented on #12190
Then I guess you want to reimplement the Kernel API: `org.neo4j.internal.kernel.api.Kernel`.

[2019-04-02 10:18] ggservice007 commented on #12190
For example，
[code]

After I debug, the program run to executableQuery.execute(context, preParsedQuery, combinedParams).

I can not find which class or method is invoked in the org.neo4j.internal.kernel.api.Kernel package.

[2019-04-02 10:43] Jackge1979 commented on #12190
I also have this demand. @ggservice007 Is there any good idea? @chrisvest

[2019-04-04 19:30] HaigBernard commented on #12073
closed but doesn't solve issue

[2019-04-05 08:06] jlislas commented on #12139
I got the same error, and in debug mode it shows the following line, after it identified the service:

I tried to identify what other setting was missing.

[2019-04-06 06:36] Manish-Giri opened #12191 "Neo.DatabaseError.General.UnknownError: Connection has been shutdown: javax.net.ssl.SSLException: SSL peer shut down incorrectly"
I'm trying to import large datasets into Neo4J using Cypher. Because the datasets (csv files) are quite large (~100-200MB each), I use `USING PERIODIC COMMIT 100` statements in each query.

I was able to import 3 csv files, with each import taking about 6 minutes on average. However, starting from the 4th csv file, the spinner just keeps spinning and after about 10 minutes or so, I get the error -

[2019-04-06 07:14] jexp commented on #12191
Can you share EXPLAIN plan of your statement?

[2019-04-06 23:32] bsquire0128 opened #12192 "Neo4j-Admin Import actual id-type slower than id-type interger on load"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2019-04-06 23:38] bsquire0128 opened #12193 "Neo4j Admin Import didn't report with id-space collision occurred"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2019-04-08 07:01] bsquire0128 commented on #12193
I was reviewing my import cmd and found it had created one of the node files twice such as:
`~/../../../usr/bin/neo4j-admin import --nodes "import/uids-header.csv,import/uid_no." --nodes "import/ga-header.csv,import/ggl_no." --nodes "import/ga-header.csv,import/ggl_no." --nodes "import/citystate-header.csv,import/city_no." --relationships:OBSERVED_WITH "import/rels-header.csv,import/ggl_li.* --rel

[2019-04-08 09:51] tonicebrian opened #12194 "Misinformative exception when disk is full during an import"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.  If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

If you want to make a feature request then there is no guideline, so feel free to stop reading and open an issue. If you have a bug report however

[2019-04-08 10:40] sinanoezdemir opened #12195 "Tried to map bad logical plan. LHS and RHS must never be the same"
## Tried to map bad logical plan

I am receiving a database error by executing the following cypher statement.

**Neo4j Version:** 3.5.0
**Operating System:** Docker -> Alpine Linux 3.9.2
**API:** Cypher

### Steps to reproduce
1. Fill the database with a domain specific data. As of right know I can not provide that data here.
2. Execute query:
MATCH (a:SomeLabel)<-[relA:someRelation]-(c)
MATCH (b

[2019-04-08 15:29] efruttero commented on #12155
Still there in 3.5.4

[2019-04-08 23:49] Manish-Giri opened #12196 "Abnormally long time startup time (during "Initiating metrics..." phase) for large DBs"
I'm using Neo4j for my thesis research, for which I have to work with large dataset sizes. For the current dataset size (10GB), I had imported only 1 node/entity type (`Comment`), which seemed to take up 16GB space (I checked this in the left pane on Neo4j Browser).

The next time when I started up Neo4j desktop again to import more nodes, I noticed it was stuck on the "Initiating metrics..." for

[2019-04-09 09:50] chrisvest commented on #12194
Can you try running it again with the `NEO4J_DEBUG=1` environment variable set? That should make it include the stack trace in the console output. You might also be able to find a stack trace in the log files you have already.

[2019-04-09 09:53] tonicebrian commented on #12194
Sorry, I resized disks and then the whole import ran without any issues. I cannot reproduce the problem now because it was solved just by adding more space.

[2019-04-09 11:54] chrisvest commented on #12196
This sounds similar to #12150, where we didn't manage to get any flight records of the slow startup. Can you give that a try?

[2019-04-09 14:13] v1shwa commented on #12041
Hey @PawanWagh , Did you find any solution for this? Facing the similar issue.

[2019-04-09 14:48] PawanWagh commented on #12041
@v1shwa: Nope. So, we hacked a workaround.

Steps:
1. Download backup from s3
2. Unzip it
3. Stop neo4j instance
4. Copy all contents of unzipped backup (in my case `/home/ubuntu/neo4j-backup`) directory to actual db directory
5. Restart neo4j

[2019-04-09 16:35] bsquire0128 opened #12197 "Need progress bar on Neo4j-Admin Dump"
This is a request.

Neo4j-admin dump can take a really long time. I have a 660 GB store size without any indexes added yet and don't have any idea when neo4j-admin dump will finish.

Can a progress bar or read out like neo4j admin import be added to make it clear where the loading is at?

Also a page-cache, heap size recommendation for the dump like mem-rec would be useful.

[2019-04-09 17:00] mikernorton commented on #10792
Any status on this? Last time I checked it was still an issue. It seems we'll be using IPv6 soon and this will be higher priority.

[2019-04-10 06:35] Jorik5702 commented on #8832
Is there a date when the problem will be fixed?

[2019-04-10 07:05] v1shwa commented on #12041
@PawanWagh Ah, Interesting! I will give this a try today. Thanks mate!

[2019-04-10 08:33] chrisvest commented on #12197
Not a bad idea with a progress bar.

The dump command doesn't use any page cache memory, and very little heap memory. The performance is likely bound by either IO, or the performance of its gzip compressor.

[2019-04-10 14:47] boggle commented on #8832
This will be fixed in the next release of Neo4j. I will inform here once the first milestone is out. Sorry for the delay on this, as already described upgrading this was difficult due to supporting multiple versions of Cypher as a binary dependency.

[2019-04-10 14:52] MathReynaud commented on #340
We need it too ! Looking forward for Cypher 10 then ;)

[2019-04-10 19:22] sreejithag commented on #12041
@pawanWagh Thanks alot it just worked

[2019-04-11 06:29] Jorik5702 commented on #8832
The issue is no over two years old. It would be very nice if you could make a statement when this issue will be fixed.

[2019-04-11 07:33] Tvaroh commented on #8832
What about Scala 2.13? :)

[2019-04-11 07:41] lctm2005 commented on #12117
I have meet the same issue, how can I solve it?
Thanks.

[2019-04-11 10:09] mvanderkroon commented on #9807
We are seeing similar errors on our Read Replicas. I would love to hear any clues on how to debug this particular error.

[code]

[2019-04-12 10:31] crazyyanchao opened #12198 "Install user-defined plugin error"
version: ($NEO4J_HOME/plugin/)
apoc-3.4.0.1-all.jar
graph-algorithms-algo-3.4.7.0.jar
zdr_neo4j_workshop-1.0.0.jar (my jar)
[code]

zdr_neo4j_workshop-1.0.0.jar (my jar)
pom.xml
[code]
ELSE ， I found a warning when I executed maven install
[code]

[2019-04-12 11:07] algarsi3 commented on #12042
Thanks for all the responses.

@fickludd, @boggle unfortunately my use case contains more complex logic and this is not a solution a the moment.

Has there been any progess regarding the issue?

[2019-04-12 21:26] backnotprop commented on #6440
@chrisvest any 2019 updates around this? Seeing awesome hype after Next

[2019-04-13 08:34] chrisvest commented on #6440
@mdramos 3.5 is still our latest release series. So nothing new to report.

[2019-04-13 10:55] jexp commented on #6440
@mdramos
Today you can update about 1m records per 2G heap.

With the apoc.periodic.iterate procedure which batches internally there is no limit. It can also run many types of updates in parallel

See

https://m.youtube.com/watch?v=t1Nr5C5TAYs&list=PL9Hl4pk2FsvXEww23lDX_owoKoqqBQpdq&index=7&t=0s

[2019-04-14 01:02] axe-me opened #12199 "neo4j admin import stuck"
- Neo4j version: 3.5.4
- Operating system: debian-9-x86
- API/Driver: neo4j-admin
- **Steps to reproduce**
Try to import 30GB(after zipped) csv data to fresh installed neo4j,
command i ran:

[code]
nodes import done in 30 minutes, but then the command stuck on this 'Prepare node index'stage for 2 days already:
[code]

some sample data:
[code]

those csv files are generate from a SQL database, as y

[2019-04-14 03:18] axe-me commented on #12199
and one weird thing is cpu usage is quite low, but memory usage is almost 100%
[code]

[2019-04-14 12:11] jexp commented on #12199
Yes unfortunately the deduplication implementation is not great yet, could you please try to de-duplicate upfront and then try again? Then it should finish really quickly as 30G are not a lot of data.
Sorry for that.

[2019-04-14 13:40] axe-me commented on #12199
@jexp thanks for reply. I will try preprocess my data then. those data are generated from multiple tables of multiple databases, not very easy to de-dup them, but i have to do it i guess.

[2019-04-15 07:24] sherfert commented on #12195
Thanks for the bug report. We'll look into it.

[2019-04-15 08:31] sherfert commented on #12195
@sinanoezdemir By simply creating the right amount of nodes, relationships, and the index that I see must exist from the log, I cannot reproduce the error. I am getting a different plan.

Could you run

[code]

and share that json file (after anonymizing it)? It will contain statistical information that the planner has access to, so we can use that to reproduce the same code path.

Edit: I see you

[2019-04-15 12:14] chencjiajy commented on #5901
I use like :`cypher-shell -u username -p password < ~/Downloads/comment.cypher`  or `cat  ~/Downloads/comment.cypher |  cypher-shell -u username -p password`
both commands can't get result, and there is no error. (my comment.cypher mainly include "create like cypher"
@sherfert

[2019-04-15 14:33] axe-me commented on #12199
i've dedup all my data and seems the import is kinda finished, however there is an exception at the end.
here the out put:
[code]
as you can see there is a `IOException` error at the end, not sure what does that mean? does it mean run out of disk space? but i checked the disk usage seems fine to me:
[code]
oh i just noticed that the disk I mounted my data set is full at  `/dev/sdb`, this is prob w

[2019-04-15 14:45] chrisvest commented on #12199
The import might have stopped when it ran out of space on the device. If you set the `NEO4J_DEBUG=1` environment variable before running the import, it should print a stack trace for you, which will indicate where it stopped. I would not expect that import to have finished in an orderly way.

[2019-04-15 14:49] axe-me commented on #12199
@chrisvest Thanks for help, I will rerun my import again since I forgot set the id type to int, btw, would int id type better than string id in terms of indexing/querying speed?
I prob should set the output file path to somewhere else too when rerun.

[2019-04-15 14:57] axe-me commented on #12199
well wont let me set to id for some reason:
[code]

here is my command:
[code]
anything wrong ?

[2019-04-15 15:36] sherfert commented on #5901
@chencjiajy Can you post your `comment.cypher` here?

[2019-04-15 17:20] neils-s opened #12200 "Feature Request: Command-line plug-in manager"
The Neo4j Desktop UI has a wonderful, OS-agnostic, easy-to-use tool for installing plugins at either the system or database level.  For instance, installing APOC in my new instance of Neo4j only takes a few mouse clicks.  I don't need to specify any versions or URLs, and the Neo4j.conf file is automagically updated for me.
It would be *awesome* if similar functionality were exposed through a comma

[2019-04-15 17:45] chrisvest commented on #12197
Next 3.5 version should have much faster `dump` and `load` commands, with progress output.

[2019-04-15 17:45] #12197 closed, assigned to nobody

[2019-04-15 19:32] axe-me commented on #12199
looks like not much differences between integer and string id, https://neo4j.com/developer/kb/using-the-actual-data-type-with-neo4j-import/
i will keep using string id then.

[2019-04-15 20:08] #12199 closed, assigned to nobody

[2019-04-16 01:05] Manish-Giri opened #12201 "[The database has encountered a critical error, and needs to be restarted] during importing relationships"
I'm suddenly encountering this error while importing relationships into neo4j using cypher -
[code]

Here's the complete section from the log file -
[code]

Here is a screenshot -

![Screen Shot 2019-04-15 at 8 58 21 PM](https://user-images.githubusercontent.com/11348778/56174696-bdd9b880-5fc1-11e9-9084-757f95c119d2.png)

---

I have 16GB RAM and 1TB storage space, out of which around 600GB is fre

[2019-04-16 01:57] Manish-Giri commented on #12201
Note - this seems to be happening more frequently now. For instance, in this screenshot, I imported one csv file and the same error popped up at the very next csv import -

![Screen Shot 2019-04-15 at 9 52 15 PM](https://user-images.githubusercontent.com/11348778/56176410-faf57900-5fc8-11e9-9ffc-93ebcc88574d.png)

I even tried changing the memory configs to:
[code]

but it didn't do much good.

My

[2019-04-16 04:04] nb1987 opened #12202 "Neo4j throws java.lang.UnsupportedOperationException: Cannot write a raw node reference"
I discovered that calling APOC's `apoc.path.subgraphNodes` function, when using Neo4j 3.5.3 and the Neo4j Java driver, can, on a second _read_ query, trigger the error `org.neo4j.driver.v1.exceptions.DatabaseException: Cannot write a raw node reference`

**Neo4j Version:** 3.5.3-enterprise
**APOC Version** 3.5.0.2
**Operating System:** macOS High Sierra (v10.13.6)
**API:** Java driver v1.7.3 (Scal

[2019-04-16 04:36] chencjiajy commented on #5901
Sorry, It's all my fault, **I didn't add `;`** between `create` commands (create node directly) and `LOAD CSV` command(create load from csv file). So when I use cypher-shell ,there is no response.
ps: Could you please write the [cypher-shell doc](https://neo4j.com/docs/operations-manual/current/tools/cypher-shell/)  about how to execute a cypher file more specific?

[2019-04-16 06:08] sherfert commented on #12174
I think I got to the bottom of why the planner decides the way it does. It has essentially two attractive alternatives: starting with `shapeInstance` or starting with `testPlanProjectConcept`, both of which can use an index seek.

The index on :artifact(`http://jazz.net/ns/lqe/merge/mergeShape.string`) has a size of 1242 with 9 estimated unique values. That gives 138 rows on average, assuming the

[2019-04-16 06:08] #12174 closed, assigned to nobody

[2019-04-16 07:32] chrisvest commented on #12201
If you search your `debug.log` file for those reference UUIDs, do you find any stack traces?

[2019-04-16 08:36] rmgpinto commented on #12187
I have the same problem, did you solve this?

[2019-04-16 18:35] scottmanny commented on #12202
This is a big problem for us on the Bayer account.  Sure would be sweet if we could see some action on it.  We (they) pay for the enterprise edition.

[2019-04-17 07:46] sherfert commented on #12182
This will be fixed in the next patch releases of 3.4 and 3.5

[2019-04-17 07:46] #12182 closed, assigned to Hunterness

[2019-04-18 03:00] wangqingbin commented on #12106
how to use the manual indexes to solve the problem? Could you give some details about it?

[2019-04-18 06:38] wangqingbin commented on #12106
Have you solve the problem by indexing method?

[2019-04-20 20:54] jexp commented on #12202
@scottmanny did you raise a Zendesk support ticket too?

[2019-04-22 04:40] timholds commented on #12201
I have also been getting this error while importing several GB worth of nodes from multiple files.

I'm not sure if it is of any use, but this is from the `debug.log` file. Is there any other information I can provide that would be helpful?
<img width="1680" alt="Screen Shot 2019-04-21 at 9 37 41 PM" src="https://user-images.githubusercontent.com/24782018/56483313-f6740900-647d-11e9-8783-87b59017d

[2019-04-22 19:09] jameswweis commented on #12201
+1 @chrisvest any potential solution/next steps to address/debug this?

[2019-04-22 21:07] Manish-Giri commented on #12201
@chrisvest Here is the snippet from my `debug.log` file when the first exception was thrown -
[code]

I searched for the UUIDs from the error message in `debug.log`, and here are a few of them -

First one -
[code]

Second one -
[code]

I can share the complete `debug.log` file using Google Drive, if it helps things.

[2019-04-23 00:12] InverseFalcon commented on #12202
@scottmanny @nb1987  We're working on this ticket-side, but just to let you know we can replicate this in 3.5.3 using just the Neo4j browser. We were not able to replicate it using cypher-shell in 3.5.3, or the browser or cypher-shell in 3.5.4

For this error, it looks as if this has to do with the yield part at the end of the procedure call: `YIELD node`.

I found in 3.5.3 if I added an additiona

[2019-04-23 11:15] rakeshpatri commented on #12102
Any update on this issue?? I am also facing the same issue in my neo4j cluster running on kubernetes.

[2019-04-23 11:50] zaferad commented on #12195
Hi @sherfert,

I've run the procedure against different setups in our database. The bug comes up with

| Neo4J | APOC | Graph Algorithms |
| --- | --- | --- |
| 3.5.0 | 3.5.0.1 | 3.5.0.1 |
| 3.5.1 | 3.5.0.1 | 3.5.1.0 |
| 3.5.2 | 3.5.0.1 | 3.5.2.0 |
| 3.5.3 | 3.5.0.3 | 3.5.4.0 |
| 3.5.4 | 3.5.0.3 | 3.5.4.0 |

The APOC and Graph Algo versions were suggested by Neo4J Desktop 1.1.17.

The bug seems to

[2019-04-24 01:02] benrudolph commented on #10398
I also get this on a fresh install of 3.5.4 (enterprise and community)

[2019-04-24 04:47] dineshlt opened #12203 "dbms.security.changePassword"
Hi,

[code]

I am getting the above error While I migrate docker and neo4j using the below command

`sudo docker-compose exec neo4j migrate`

my docker and docker compose versions both are same which one is given below

`Docker version 18.09.5`

Kindly give me any needful suggestion.

Thanks...

[2019-04-24 07:30] jennyowen commented on #10398
@benrudolph Could you file a new issue with more details about error message, reproduction steps, OS and java version installed? Thanks.

[2019-04-24 11:49] burqen commented on #12201
Thank you for reporting @Manish-Giri This indeed look frustrating. Let's try and figure out what's going on.

**First**
what version of Neo4j are you on?

**Second**
This part of the stack trace means we are doing cleanup in at least one of the indexes and that the cleanup job for some reason got stuck (or progressed very slowly). We need to figure out what it's doing.
Can you provide a JFR record

[2019-04-24 13:23] kamathsachin7 opened #12204 "COnfigure neo4j bolt URL on Loadbalancer"
Hi All,

Is there a way to configure neo4j bolt URL on loadbalancer ?

[2019-04-24 17:49] benrudolph opened #12205 "Failure to start Neo4j on fresh install"
- Neo4j version: 3.5.4
- Operating system: Ubuntu 16.04
- API/Driver: Python driver (haven't installed this yet)
- **Steps to reproduce**

1. Install java8
[code]
2. Install neo4j
sudo apt-get install neo4j-enterprise=1:3.5.4

- Expected behavior

Expect neo4j binary to work

- Actual behavior

[code]
5. Stop the container: `docker stop neo4j-test`

### Expected behavior
`write.lock` should be rem

[2019-04-24 17:53] benrudolph commented on #12205
need to be `neo4j` user in order to start the process

[2019-04-24 17:53] #12205 closed, assigned to nobody

[2019-04-25 07:33] burqen commented on #12201
How about you @timholds and @jameswweis, would it be possible for you to provide a JFR recording with thread dumps?

[2019-04-25 07:47] Manish-Giri commented on #12201
@burqen Thank You for taking a look at this! My master's thesis is on Neo4J, so any help would be appreciated.

I'm using Neo4J version `3.5.3`, it's also at the beginning of the log file that I [posted on my first comment](https://github.com/neo4j/neo4j/issues/12201#issue-433539004).

I tried posting a JFR recording, but I had some trouble getting it to work last time. It threw errors about inval

[2019-04-25 07:59] calvindoro commented on #11649
Hi Douglas, could u explain what do u mean by just changing the folder name ?

[2019-04-25 08:07] DouglasLapsley commented on #11649
Sure.  In file /etc/neo4j/neo4j.conf you specify the location of your database file.  It's an entry something like this, depending on what your setup is:

`# Paths of directories in the installation.
dbms.directories.data=/home/doug/Desktop/myWorkingFolder/someSubfolder`

I just had the wrong path in there.  Updating that to the correct location worked (I had just been working with other DBs).

[2019-04-25 08:15] chrisvest commented on #12201
To use JFR, you need to be running an Oracle JDK 8 (JFR is not included in OpenJDK until Java 11 or something), and you need to start the JVM with these flags: `-XX:+UnlockCommercialFeatures -XX:+FlightRecorder`.

A link to the official docs on flight recorder, for the record: https://docs.oracle.com/javacomponents/jmc-5-4/jfr-runtime-guide/run.htm#JFRUH164

[2019-04-26 04:02] eastlondoner opened #12206 "Neo4j Browser reports misleading query times"
- Neo4j version: 3.5.4
- Operating system: OSX
- API/Driver: Neo4j Browser
- **Steps to reproduce**
Run any query in the browser which is a simple query but expensive to commit
E.g. DETACH DELETE lots of nodes
- Expected
The time reported by the browser for the query should match the time it takes to run
- Actual behaviour
The time reported by the browser for the query can be orders of magnitude s

[2019-04-27 17:42] maxh65000 commented on #11955
I got this error when I was out of disk space. Try shutting down Neo4j, freeing up some disk space, and restarting it.

[2019-04-30 01:26] MrDNA2018 commented on #12191
i have the same story: Neo.DatabaseError.General.UnknownError: Connection has been shutdown: javax.net.ssl.SSLException: SSL peer shut down incorrectly
USING PERIODIC COMMIT 10
LOAD CSV WITH HEADERS FROM "https://raw.githubusercontent.com/************************-reportorname.csv" AS row
MERGE (c:Persons {name: coalesce(row.reportorname,'is_empty')})

[2019-04-30 21:19] rmetzler opened #12207 "NullPointerException in org.neo4j.bolt.v1.transport.ChunkedOutput.close(ChunkedOutput.java:231)"
https://github.com/neo4j/neo4j/blob/4a8518da491df99ca31fb48b76210a042693c67c/community/bolt/src/main/java/org/neo4j/bolt/v1/transport/ChunkedOutput.java#L228-L233

#### Stacktrace

[code]

### Version

[code]

[2019-05-01 02:58] scottmanny opened #12209 "Neo4J Version 3.5.4 Doesn't Use Index"
We have enterprise edition of 3.5.4 installed in a 5 core cluster (and/ 4 read nodes).  With this version we have noticed that Neo does not use the index whenever the parameters are in the WHERE IN clause of the query.  Please see the attached document for a very detailed and simple example.

The strange thing here is that we did not experience this slowness until just recently.  And now our entir

[2019-05-01 10:39] jexp commented on #12209
Thanks a lot for the update.

It seems that for the query in 3.5 a different runtime is used, perhaps that's the reason.

Could you also share the expanded query planes (double arrow in lower right corner)

As a workaround, can you add an `USING INDEX myPartyInstance:PartyInstance(globalPartyIdentifier)`
after the MATCH statement?

Is it correct that those are not constraints but just indexes?

Be

[2019-05-01 14:58] scottmanny commented on #12209
Dropping and re-creating the indexes solved our problem!  Thank you so much for the fast response.

A couple of side notes
* Before the fix we did try specifically telling Neo to use the index to no avail.
* The index mentioned above was just an index (not a constraint)
* Since it's now working, I can't give you the expanded query planes, but they were complete label scans and were scanning tens o

[2019-05-01 14:58] #12209 closed, assigned to nobody

[2019-05-01 16:04] jexp commented on #12209
I guess something went wrong with the migration. Eg wrong selectivity information in your index. If you still have it around the not working store would be useful.

[2019-05-01 20:32] borick opened #12210 "headers incorrect order after apoc csv export in enterprise edition 3.5.4, 3.5.5"
- Neo4j version: >= 3.5.4 - only happens in the enterprise edition, not the community edition! (also happens on 3.5.5)
- Operating system: Tested on MacOSX, Ubuntu
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z) - apoc-3.5.0.3-all.jar
- steps to reproduce -

1) We have a specific database here when we do an apoc query similar to this:
`CALL apoc.export.csv.query("MATCH (n:Document

[2019-05-01 23:31] jexp commented on #12210
For apoc can you raise the issue at github.com/neo4j-contrib/neo4j-apoc-procedures
In APOC recently implemented a feature request to sort headers, but that was only meant for the graph export not for queries.

[2019-05-02 06:53] Hunterness commented on #12198
Hi, thanks for reporting. We will look into it :)

[2019-05-02 08:29] chrisvest commented on #12198
@crazyyanchao Looking at the exception:

This appears to be saying that your JAR file, or one of its dependencies, is compiled and built with Java 11 (or at least version 9 or greater) and you are starting Neo4j with Java 8. Make sure that you are actually using Java 8 when building the JAR file, make sure you don't have any module-info.java files, and look through your dependencies to make sure t

[2019-05-02 13:58] borick commented on #12210
I have raised it there as https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1188 - thank you. let me know if anything else is needed.

[2019-05-02 14:12] #12210 closed, assigned to nobody

[2019-05-02 23:09] coreb1t opened #12211 "Neo4j uses vulnerable bootstrap version"
Neo4j is using a vulnerable bootstrap version 3.3.7.

Neo4j version: neo4j-community-3.5.5
Operating system: linux

## Steps to reproduce
1) Download the latest  neo4j version
2) run the server: `./bin/neo4j start`
3) Navigate in browser `http://127.0.0.1:7474/browser/main.chunkhash.bundle.js`
4) The file contains bootstrap version 3.3.7
Output

[code]
This version is affected by four XSS vulnerab

[2019-05-03 08:19] faaizshah commented on #8484
@Romulus79 is very much righ.
I did solve my problem as well.
Just type in neo4j browsers  `:Schema` . It will display list  as below.

`Indexes`
  `ON :Label1(id) ONLINE `
  `ON :Label2(id) ONLINE`

Now drop If there are no nodes in Label1, then you can simply drop it by

`DROP INDEX ON :Label1(id)`

This worked for me!

[2019-05-03 08:51] ch-egli opened #12212 "Occasional "Found no solution for block with size 0""
Since Version 3.5.1 we have occasionally the following error:
` Found no solution for block with size 0,
Vector() were the selected candidates from the table IDPPlanTable(numberOfPlans=3, largestSolved=1)`

This problem did never occur with version 3.5.0.

- Neo4j version: 3.5.1, 3.5.2, 3.5.3, 3.5.4 and 3.5.5
- Operating system: Windows 10 and Redhat Enterprise Linux 7
- API/Driver: Cypher/Java AP

[2019-05-04 05:38] crazyyanchao commented on #12198
Idea can be used when compiling.It work on Java 8.Just,It reported an error while I packaging the plug-in for installation.

[2019-05-04 05:39] crazyyanchao commented on #12198
@chrisvest Thanks for your reply.

[2019-05-04 14:24] eastlondoner commented on #12206
Moved to neo4j-browser: https://github.com/neo4j/neo4j-browser/issues/929

[2019-05-04 14:24] #12206 closed, assigned to nobody

[2019-05-06 01:53] zhujiajunup opened #12213 "How to use gremlin plugin in neo4j 3.x?"
gremlin-plugin only support neo4j 2.x，I want to use gremlin plugin for neo4j server 3.4.11，how can I get a plugin for this version.

[2019-05-06 12:48] umuzammil commented on #12202
Hi @scottmanny @nb1987. We managed to reproduce using the clean instructions, and found a rare bug that could happen to some queries when executed over Bolt using the slotted runtime. A fix will make the next 3.5 patch (3.5.6). It's possible to work-around though using `runtime=interpreted` if this is a blocking problem.

[2019-05-07 06:29] Hunterness commented on #12212
Hi, thanks for reporting. We will look into it

/ Team Cypher

[2019-05-07 06:43] jastax commented on #12171
@chrisvest any update on this? I feel like this is a small but very important issue. I can't use the new indexes without this.

[2019-05-07 08:16] martinfurmanski commented on #12102
I am aware of one case where this can happen, which is the case when you for some reason have cluster-state but no database (graph.db). It is not clear how you would get into such a state though. What you can do is to run `neo4j-admin unbind` (which currently only deletes cluster-state).

[2019-05-07 11:55] chrisvest commented on #12171
It's on the backlog. We have a lot of indexing related work going on.

[2019-05-07 14:32] kcrimson commented on #12194
@tonicebrian I am closing this issue because it cannot be reproduced

[2019-05-07 14:32] #12194 closed, assigned to nobody

[2019-05-07 14:34] kcrimson commented on #12184
how do you installed neo4j? From zip? or a package manager (like apt or yum)? Please also share OS details and version of neo4j.

[2019-05-07 15:03] kcrimson commented on #12176
JAVA_OPTS="-XX:ActiveProcessorCount [number of processors]" ./neo4j-admin import should help

[2019-05-07 15:06] kcrimson commented on #12180
Neo4j does not support sharding. For high availability, the enterprise edition supports causal clustering, which supports a number of read-write "core servers" and multiple read-only "replica servers".

[2019-05-07 15:17] kcrimson commented on #12204
@kamathsachin7  Can you be more specific and provide more details? What load balancer? What is your setup and what you are trying to achieve at the end?

[2019-05-07 17:45] Manish-Giri commented on #12201
@burqen @chrisvest Hi! Sorry to bug you again with this, but could you maybe help me run the flight recorder to collect the dumps you asked for?

I've followed [this article](https://dzone.com/articles/using-java-flight-recorder-with-openjdk-11-1) and was able to generate a successful `myrecording.jfr` file for the sample `OOMEGenerator` class used in that article. But since my Cypher queries are

[2019-05-08 08:21] kcrimson commented on #12213
I see that you have opened the same issue at https://github.com/neo4j-contrib/gremlin-plugin/issues/43, I am closing this here, as neo4j-contrib is the right place to ask these kinds of questions

[2019-05-08 08:21] #12213 closed, assigned to nobody

[2019-05-08 08:23] kcrimson commented on #12203
Can you, please, follow our guidelines regarding issue reporting, we need more details to be able to help you. You will find issue template here, https://github.com/neo4j/neo4j/blob/3.5/ISSUE_TEMPLATE.md.

[2019-05-08 08:25] kcrimson commented on #12191
if this is possible can you share EXPLAIN statement output and debug.log file?

[2019-05-08 08:31] kcrimson commented on #12147
Can you share logs?

[2019-05-08 19:42] Manish-Giri opened #12214 "Enabling Flight Recorder in Neo4j Desktop Settings"
I'm trying to enable the usage of Flight Recorder to collect thread dumps for every 10 seconds. But in the 'settings' tab (configuration file) in Neo4j desktop, the recommended flight recorder options are unrecognized and throw an error during startup.

I'm using Oracle JDK 11.

These are the commands I entered in the file -
[code]
and these throw an error when I startup the DB -
[code]
A screensh

[2019-05-09 08:03] oskarhane commented on #12214
Thanks for opening this @Manish-Giri!
This seems more related to Neo4j Desktop than to Neo4j itself. Would you mind closing this and open it over at https://github.com/neo4j-apps/neo4j-desktop instead?

Thanks,

[2019-05-09 12:10] noorbakerally commented on #88
Is it possible now to express this type of query ?

[2019-05-09 14:23] aguyhasnoname commented on #12117
What was the solution @Navbar ?

[2019-05-10 09:58] technige commented on #12179
@FinancialAIGhost Py2neo is a community Python Driver and not part of Neo4j's official suite of products. As such, this is entirely the wrong place to raise your issue.

However, as you're here...

You don't mention what version of py2neo you are using, but given that you have a `py2neo/http.py` file as part of your stack trace, I can only assume it's not the latest version. I would therefore reco

[2019-05-10 09:58] #12179 closed, assigned to nobody

[2019-05-12 08:53] Navbar commented on #12117
Migration directly on multi core cluster is not supported. It was required to perform the migration on a single node and load the output to every node on cluster...