[2019-05-15 07:13] stuartsimpson commented on #266
@cleishm - First off i would like to say I love working with Neo4j.  From my 20+ years as a Data Architect and Applications designer perspective, it is one of the more exciting data repositories out there.  With that said, this request has more activity on it than any other feature request and it has been on the list for over 6 years.  Why has there been no progress on this feature?  I keep runnin

[2019-05-15 12:05] DeltaBravo commented on #266
This is the point at which conspiracy theories begin to develop because the reality of the situation is just too difficult to comprehend or accept.

An otherwise seemingly professional database with no multi-tenancy, no (official) PHP support, mediocre documentation (it's really close to being good...but isn't), etc. It seems to me that Neo4j is content to cater to large enterprises and is not at

[2019-05-15 15:41] fhureau commented on #12147
Thanks for your reply.

I solved my problem by removing the -id flag when dumping the database and replacing it with --rm, and now the dump is clean and normally loadable.

So closing the issue, thanks!

[2019-05-15 15:41] #12147 closed, assigned to nobody

[2019-05-16 07:18] tinwelint commented on #12192
Hi @bsquire0128 so there are a couple of issues raised here simultaneously and I'll try to summarize them:

- (1) `--id-type=ACTUAL` is perceived to be slower than `--id-type=INTEGER/STRING` contrary to expectation
- (2) Import fails with `--id-type=ACTUAL` on an issue creating a node with id `4294967295`
- (3) Import fails with `--id-type=INTEGER` on a node ID collision

(1)
This is really strang

[2019-05-16 08:11] bingo919 opened #12215 "The distance function does not reach the index"
Neo4j version:3.4.1
Operating system: centos6.5

eg1:**When there are more than five pieces of data, you can't go to the index with distance**

[code]
eg2:  When the data is less than 5, you can walk to the index using distance

[code]

[2019-05-16 11:46] sherfert commented on #12195
We have merged a fix for the issue which will be released in 3.5.6. Thanks again for reporting it!

[2019-05-16 11:46] #12195 closed, assigned to sherfert

[2019-05-17 16:33] Draluy opened #12216 "Different behavior between Windows Neo4j and docker version when using UNION"
Using neo4j version 3.5.5, if I play a certain request on an empty database, I end up with a different node count between windows and the docker image.

The windows version is the one embedded with Neo4J desktop  1.1.22, which is 3.5.5
The docker version is pulled using a docker compose image with the command `image: neo4j:3.5.5`

In both cases I used the Neo4J browser : http://localhost:7474/brow

[2019-05-18 04:53] lmei33 opened #12217 "Window 10 cannot confirm path to store application data"
-Neo4j version: desktop_offline_1.1.22

-Operating system: Windows 10 Pro

-Steps to reproduce

-Download Neo4j for Desktop from website
-Install as admin
-Open Neo4j for Desktop.
-Expected behavior - Neo4j for Desktop starts normally
-Actual behavior - I can pick a path to choose to store application data, but I cannot confirm as the confirm button doesn't work. I'm sure that I downloaded the lat

[2019-05-18 10:32] kuncao opened #12218 "can not create the node with same name"
Noe4j:3.1.4
In broswer:
{
  "props" : [ {
    "name" : "Andy",
    "position" : "Developer"
  }, {
    "name" : "Michael",
    "position" : "Developer"
  } ]
}

UNWIND $props AS map
CREATE (n)
SET n = map
the following errors message occur:
Invalid input '{': expected <init> (line 1, column 1 (offset: 0))
"{"
 ^
what's the reason?
thanks a lot.
relate url:
https://neo4j.com/docs/cypher-manual/curr

[2019-05-18 10:48] kuncao commented on #12218
{"props" : [ {    "name" : "Andy",    "position" : "Developer"  }, {    "name" : "Michael",    "position" : "Developer"  } ]}
UNWIND $props AS map
CREATE (n)
SET n = map;
---can not resolve the issue

[2019-05-20 04:47] kuncao commented on #12218
https://stackoverflow.com/questions/56198319/how-to-quickly-create-the-nodes-in-neo4j-with-out-provide-the-node-ids

[2019-05-20 04:47] #12218 closed, assigned to nobody

[2019-05-20 06:27] #12202 closed, assigned to nobody

[2019-05-20 06:35] #12188 closed, assigned to nobody

[2019-05-20 06:37] #12185 closed, assigned to nobody

[2019-05-20 06:38] #12180 closed, assigned to nobody

[2019-05-20 06:39] #12176 closed, assigned to nobody

[2019-05-20 06:42] oskarhane commented on #12217
Hi @lmei33, could you open this issue over in https://github.com/neo4j-apps/neo4j-desktop instead and this is about Neo4j Desktop and not Neo4j itself.
Thanks.

[2019-05-20 06:42] #12217 closed, assigned to nobody

[2019-05-20 06:46] sherfert commented on #12167
This is our issue template from https://github.com/neo4j/neo4j/blob/3.5/ISSUE_TEMPLATE.md

[2019-05-20 06:46] #12167 closed, assigned to nobody

[2019-05-20 06:51] #12164 closed, assigned to nobody

[2019-05-20 08:55] chrisvest commented on #12171
Our next 3.5.x release will have this.

[2019-05-20 08:55] #12171 closed, assigned to nobody

[2019-05-20 16:47] id8ai commented on #340
Yes please for Cypher 10 - makes some great opportunities for pipeline and integration

[2019-05-21 01:56] mdfrenchman opened #12219 "Feature Request: Optional Name for Schema Indexes"
I noticed in looking at indexes for fulltext and explicit that they're named, and that schema ones show up with null for the name **on version 3.4.0** and in version 3.5.5 have place holder names like 'index_1' . It **might** (or might be a bag of worms) be useful to allow for regular property and composite indexes to be explicitly named as well. It would be an added benefit, in some cases, for sc

[2019-05-21 02:10] mdfrenchman commented on #340
We do parameterized types prior to sending it across the neo4j-dotnet-driver connection.

Our typical usage is for temporality:
[code]

The plus side, is it still allows us to take advantage of the query cache.

[2019-05-21 07:56] chrisvest commented on #12219
Yeah, our end-goal is to make the name mandatory.

[2019-05-21 09:34] craigtaverner commented on #12215
With only 5 or 6 nodes both an index or a label scan are probably about the same cost, so it is possible that the planner is not able to tell the difference and can choose either. However, if we see a label scan when there are hundred or thousands of nodes, then we would see this as a bug. Can you confirm the behaviour with hundred or thousands of points?

[2019-05-21 09:39] Hunterness commented on #12216
Hi, thanks for reporting, we will look into it

/Team Cypher

[2019-05-21 12:39] mdfrenchman commented on #12219
Excellent! Should I close this issue then?

[2019-05-22 03:14] bingo919 commented on #12215
when  there are hundred or thousands of nodes ，the  bug still exists.
Because I have a lot of data in my production system, I can't reach the index with distance function.
thank you @craigtaverner

[2019-05-22 05:50] gs-npawar1 commented on #12212
Can you let us know by when this will be fixed?

We are hitting outage because of this error and are unable to figure out which query caused this issue

[2019-05-22 06:49] craigtaverner commented on #12215
Thanks for the report @bingo919 , we'll start investigating internally. Can you verify if this same behaviour is happening if you do not have the unique constraint, but only a normal index on `:City(location)`?

[2019-05-22 07:29] bingo919 commented on #12215
[code]

###   **CREATE index ON :City(location);**

### **When I build a normal index on :City(location) , I can go to the index.**

[2019-05-22 09:23] sumitbit2005 opened #12220 "one of neo4j causal cluster - follower node not getting up"
Neo4j Version: 3.5.4

When Starting neo4j causual cluster - one of the follower node did not start up.

Below are the log from neo4j.log file:

2019-05-15 10:56:25.166+0000 ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabase@1d01dfa5' was successfully initialized, but failed to start. Please see the attached cause exception "Must appen

[2019-05-23 07:04] burqen commented on #12201
@Manish-Giri Hi! Sorry for taking so long coming back to you.

First of all you need to run neo4j with oracle jdk together with the jvm flags `-XX:+UnlockCommercialFeatures -XX:+FlightRecorder`. You can add those to your config like this:
[code]
 Desktop is using Zulu jdk so you will need to start neo manually. This is really easy.
1. cd to your project folder. It should contain
[code]
and some ot

[2019-05-23 08:00] sumitmanes commented on #12220
Need information -
1.  In what scenerio this Error can come.
2. What is the way to resolve it
3. What actually this Error Means

[2019-05-23 18:42] aguyhasnoname commented on #9693
@cjdaly did you ever come up with a script way of handling a reboot? My use case is in Kubernetes, if a neo4j node falls over if falls into a failed crashloop and can't self heal, possibly because of the "detected users". With single instance I manually delete the auth file and restart but I can't do that with a Neo causal cluster via the init commands. If you found a solution I'd love to hear abo

[2019-05-24 14:45] ScOut3R opened #12221 "Discovery binds on docker0"
Experimenting with setting up a causal cluster on AWS ECS (the docker container runs with host networking mode) and having issues with the discovery service binding on a specific interface (IP) rather than on the wildcard address.

According to the debug log the discovery service is configured to bind on the wildcard address:

[code]
But it binds on a specific IP, which in my case is docker's brid

[2019-05-24 14:50] Lojjs commented on #12215
Hi @bingo919 . I'm currently looking into you bug report. I'm not sure this is the entire problem, but I just wanted you to know that your distance query `WHERE distance(c.location, point({ x:104.585997, y:  30.342134 }))< 200` will always produce null since this point will be in the cartesian coordinate system by default while your other points are in WGS-84. For more info, see considerations und

[2019-05-24 21:50] cjdaly commented on #9693
@aguyhasnoname, I haven't looked at this since my last comment... my guess (based on the history here) is this issue is specific to the apt-get way of installing Neo4j.  I suspect if you get a zip file download for Neo4j, unzip, configure, and then go through normal start/stop/reboot/start/...  cycles that you will not have this problem.

[2019-05-25 08:25] eastlondoner opened #12222 "metrics location not listed in neo4j startup"
## Guidelines

- Neo4j version: 3.5+

- **Steps to reproduce**
start neo4j
observe log output

- Expected behavior
Neo4j lists all directories in use

- Actual behavior
metric directory is missing from list

<img width="377" alt="image" src="https://user-images.githubusercontent.com/8148776/58366760-6d664c80-7ed7-11e9-90d0-ad363a4186eb.png">

[2019-05-25 08:26] eastlondoner commented on #12222
there is a subsequent log message
<img width="722" alt="image" src="https://user-images.githubusercontent.com/8148776/58366766-8242e000-7ed7-11e9-8f24-48fffcedda5a.png">

[2019-05-26 23:49] ScOut3R commented on #12221
Looks like [this](https://stackoverflow.com/questions/49559150/unable-to-discover-other-neo4j-causal-cluster-instances-in-docker-swarm) explains a similar situation using Docker Swarm.

Hazelcast binds to a specific interface rather than listening on all of them.

[2019-05-27 10:50] ScOut3R commented on #12221
I was able to reproduce it locally using plain Docker, no Docker level cluster orchestration.

[2019-05-28 05:33] bingo919 commented on #12215
Thank you for reminding me @Lojjs
but I still can't get to the index with  points are in WGS-84

[code]
eg:  distance(c.location, point({ srid:4326, x:104.585997, y:  30.342134 }))< 200
thanks

[2019-05-28 06:47] #12192 closed, assigned to nobody

[2019-05-28 09:00] InverseFalcon commented on #12216
Not on the Cypher team, but I don't think we've provided any guarantees about the order of execution when performing a UNION of multiple queries.

It generally isn't advised to have this kind of query, where one query in the union depends on the data added in the execution of the other query. I'd chalk this up to a misuse of UNION here. In this case you should probably execute these as two separat

[2019-05-28 13:21] cissecedric commented on #7225
Hi,
Just to get some news about this feature "Support indexes on relationships"..
I'm new to neo4j, I'm wandering, has it be done/is it planned ?
It seems (not sure...) that query that involves relationships are not the fastest, it should be fatser if we could define indexes on relationships ?

[2019-05-28 13:24] bluejoe2008 opened #12223 "error on mvn install neo4j-io"
when run unit tests on neo4j-io
an error happens:
[code]
it seems that `File.setReadonly()` failed

Environment:

- Neo4j version: branch 3.5
- Operating system: CentOS Linux release 7.5.1804 (Core)

### Steps to reproduce
1.  cd community/io/
2. mvn clean install

[2019-05-29 17:22] bsquire0128 opened #12224 "Min() is broken?"
To help us understand your issue, please specify important details, primarily:

- Neo4j version:
3.5.5 Enterprise
- Operating system: Linux
- **Steps to reproduce**
In some cases min always returns first position. This is especially problematic with instances where you want the min between two nodes such as the last example.
###Doesn't work
return min(6,4)
6
###Works
return min(6.0,4.0)
4.0
###Wor

[2019-05-29 20:14] jexp commented on #12224
`min` is an aggregation function it should only take a single parameter.

There is no traditional min function, you can use `apoc.coll.min([1,2,3])`

[2019-05-29 20:52] bsquire0128 commented on #12224
well it does not give an error when multiple values are given and when they are specified as floats with .0 then it gives the correct answer. Not sure if that is intended.

[2019-05-29 20:53] jexp commented on #12224
nope that's the actual bug :)

[2019-05-30 06:56] frant-hartm opened #12225 "Cost planner prefers 2 NodeIndexSeek and CartesianProduct to Expand(All"
The cost planner fails to produce viable query plan on following query:

[code]

where there are indexes on Keyword(value) and Tweet(created_date)

**Neo4j Version:** 3.5.5 (both community and enterprise)
**Operating System:** Ubuntu 18.04
**API:** Browser

### Steps to reproduce

Create indexes on
[code]

Generate some random data
[code]
Get some of the generated values, pass to followoing query

[2019-05-30 20:10] bsquire0128 opened #12226 "add a row_number() to Native cypher"
There is multiple instances where row_number could be useful, particularly with setting id properties based on a numeric number for particular nodes. In order to get something similar I had to do this ugly work around.

[code]

Can you add a row_number function for data that is returned?

[2019-05-31 10:23] Lojjs commented on #12215
@bingo919 After some further investigation, we found out that there was indeed a bug in planning of NodeUniqueIndexSeekByRange (the uniqueness constraint counterpart to NodeIndexSeekByRange) in the case of spatial points. A fix will be included in the next maintenance releases of 3.4 and 3.5 (3.4.15 and 3.5.7).

[2019-05-31 10:23] #12215 closed, assigned to Hunterness

[2019-05-31 10:58] AlanLongYu commented on #11971
because the web program http://localhost:7474/browser/ locked the graph.db. we need import to another database

[2019-06-03 06:57] sherfert commented on #12224
Hi @bsquire0128
We are aware of the situation that min/max can take more than 1 parameter. Unfortunately we cannot fix it in 3.5 without breaking queries where people did pass in multiple arguments (although it is likely that then the query does not what they want).
It will be fixed in the next mayor release, 4.0.

[2019-06-03 06:57] #12224 closed, assigned to Hunterness

[2019-06-03 07:06] Hunterness commented on #12225
Hi, Thanks for reporting this. We will look into it.
/Team Cypher

[2019-06-03 11:19] technige commented on #9683
To keep this thread up to date: reactive drivers, plus a fully reactive stack all the way through the Cypher engine, will be released as part of Neo4j 4.0.

[2019-06-03 12:20] InverseFalcon commented on #7225
@cissecedric It's implemented, here's the [docs for usage](https://neo4j.com/docs/cypher-manual/current/schema/index/#schema-index-fulltext-search). Note that this uses procedures to create and query the index, so it isn't quite as easy to use as the regular schema indexes.

That said, it does allow case insensitive lookup, allows indexing across nodes of multiple labels and properties (for the fu

[2019-06-03 14:38] boggle commented on #12226
Thank you for reporting this. We are aware of this feature request but won't priorize it high at this time as generation of row ids (esp. for result rows) can be achieved through various other means.

[2019-06-05 09:38] chrisvest commented on #12223
This passes on Fedora 29, and on all of our CI machines. Can you verify that `mvn clean` removes the relevant `target` directory? Maybe you ran a build earlier as a different user who now owns the directories and prevent files from having their permissions changed.

[2019-06-05 11:54] Lojjs commented on #12225
@frant-hartm When looking at your plans we can see that the estimated number of rows for the NodeIndexSeekByRange over Tweet(created_date) is 0. That could indicate that the index statistics have not been updated for some reason. Could you try to add `CALL db.prepareForReplanning` after your data generation to help us confirm that this is the issue?

The procedure will resample the indexes and cle

[2019-06-05 21:04] milfar commented on #8878
Hi, were you able to fix this issue? If so how did you fix it. I am running into the same issue, upgrading to 2.3.12

[2019-06-06 18:56] ian-cannon commented on #11965
I am seeing the same issue.

Neo4j version: don't know because I can't execute neo4j version
Operating system: Ubuntu 18.04
API/Driver: command line
Neo4j version: neo4j 3.5.6

Installed neo4j using apt-get

[2019-06-07 11:24] swayam18 opened #12228 "Pagecache warmup significantly slower on v3.5.5"
After upgrading to 3.5.5 from 3.4.14 pagecache warmup takes considerably longer. I investigated this using iostat and I'll show my findings here:

Neo4j version: 3.5.5 (enterprise)
OS: Ubuntu 18.04

### Steps to reproduce
1. Setup neo4j 3.4.14
2. Seed neo4j with atleast 100GB of data
3. Stop neo4j
4. Start neo4j, while running `iostat -m 1 -x`
5. Note down `r/s, rMB/s, aqu-sz, rareq-sz` (read iops

[2019-06-07 11:27] sumitmanes commented on #12220
Any update on the issue.

[2019-06-07 12:04] sherfert commented on #12216
@Draluy The comment above is completely right. You cannot make any assumptions about which side of a UNION gets to get executed first, or even if the executions are intermingled. Even when the assumption that the left side executes before the right side holds _often_, it does not hold in general.
If you write queries where the left side and the right side of a union have dependencies on each other

[2019-06-07 12:04] #12216 closed, assigned to Hunterness

[2019-06-07 17:24] Draluy commented on #12216
Understood, thx.

[2019-06-08 03:07] ghost opened #12229 "Edge ID is the same if two nodes are connected multiple times"
Neo4j Desktop 1.1.15

### LIST API call on relationships

[
    {
        "id": "104",
        "a_uid": "bf1b364d8b084f46ac42083a8a75ad95",
        "b_uid": "e22d5b5b577a400faf93b724aafa23b1"
    },
    {
        "id": "104",
        "a_uid": "bf1b364d8b084f46ac42083a8a75ad95",
        "b_uid": "e22d5b5b577a400faf93b724aafa23b1"
    },
    {
        "id": "104",
        "a_uid": "bf1b364d8b084f46a

[2019-06-10 06:15] sherfert commented on #12229
Hello @HashRocketSyntax . Are you referring to the REST API, i.e. http://localhost:7474/db/data/node/xx/relationships/all ? Or is it another API you are using? Please also provide whatever commands you ran previous, or instructions how to get the database into the state it is in. Otherwise it is impossible for us to reproduce this.

[2019-06-10 08:27] jennyowen commented on #11965
@ian-cannon what does `java -version` return? Is it the same as `$JAVA_HOME`?
What command do you use to start neo4j?

[2019-06-10 12:40] MishaDemianenko commented on #12223
@bluejoe2008 Thx for your report.

The most probable reason for this failure is the lack of permissions to change test file access permissions.
To be able to run neo4j tests you need to make sure that your user has a full set of privileges and or your underlying file system support used functionality.
As @chrisvest already mentioned we run tests continuously on a variety of platforms and setups an

[2019-06-10 12:40] #12223 closed, assigned to nobody

[2019-06-11 02:09] ariffewear commented on #12121
Hi guys, I'm new to neo4j and have install 3.5.3 enterprise with HA enable but still facing the exact problem. It is save to use HA in this kind of situation?

[2019-06-11 02:10] avdkishore commented on #2725
👍 for this feature

[2019-06-11 07:30] rheusinkveld commented on #12121
Hi @ariffewear. I know it was fixed in 3.5.2, but I'm not sure if it was broken again in 3.5.3.
We switched away from HA to causal clustering. If you are just starting with a new cluster I would suggest to do the same. It's the recommended way nowadays:
https://neo4j.com/docs/operations-manual/current/clustering/

If that's not an option I would suggest to create a new issue or to raise the issue

[2019-06-11 11:30] detmoo commented on #9693
Hello, (think I have the same problem as @cjdaly and @aguyhasnoname) my experience is as follows:

openjdk version "1.8.0_212"
OpenJDK Runtime Environment (build 1.8.0_212-8u212-b03-0ubuntu1.18.04.1-b03)
OpenJDK 64-Bit Server VM (build 25.212-b03, mixed mode)

Ubuntu 18.04, with Neo4J community edition provisioned via bash "apt-get"

I find the installation works completely as expected immediately

[2019-06-12 01:55] ariffewear commented on #12121
thanks man @rheusinkveld. I will explore and implement causal clustering then. Other than 3.5.2 is there other version which are more latest  that fix this bug?

[2019-06-12 08:28] rheusinkveld commented on #12121
Not sure @ariffewear. I guess that's a question for the Neo4j team.

[2019-06-13 15:02] SaschaPeukert commented on #12212
The fix will be included in the upcoming release of 3.5.7.

Thanks again for reporting!

[2019-06-13 16:30] conker84 opened #12230 "[Neo4j-Harness] Neo4jRule don't work with https enabled"
## Guidelines

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 3.5.6

## Steps to reproduce

[code]

### Expected behaviour

Should work.

### Actual behaviour

Throws the following exception

[code]

But I don't want to install the certificate for a test database

[2019-06-14 06:49] ch-egli commented on #12212
Thank you. We are looking forward to use a recent version again... :-)

[2019-06-17 09:50] #12212 closed, assigned to Hunterness

[2019-06-18 04:03] swayam18 commented on #12228
Did the kernel team manage to reproduce this problem @sherfert ?

[2019-06-19 08:15] LarsKumbier opened #12231 "Cannot set port of advertised address"
When starting neo4j, I would like to preseed the browser connection url. This is done through the parameter "dbms.connectors.default_advertised_address". However, the server fails to check for a port in the url, so I am unable to change that. This is necessary to e.g. make the browser and neo4j-database accessible through a kubernetes ingress controller and "nodePort" is not an option.

**Neo4j Ve

[2019-06-19 09:05] matthew-s-miller opened #12232 "bug with OPTIONAL MATCH and DISTINCT"
I've discovered a query that uses OPTIONAL MATCH and DISTINCT for which cypher returns the wrong result

**Neo4j Version:** 3.5.6
**Operating System:** Windows 10
**API:** Cypher

### Steps to reproduce
1. Create the following data (note the different `:Bar`, `:Baz` labels used)
[code]
2. Run this query:
[code]

### Expected behavior
The result should be a count of **1**

### Actual behavior
 a co

[2019-06-20 08:15] Lojjs commented on #12225
@frant-hartm Since we have not heard back from you about the additional information we asked for 2 weeks ago, I will close this issue. If you still have problems, you are very welcome to re-open it with further information included or create a new issue.

[2019-06-20 19:50] hkelley commented on #9257
I ran this cmdlet after a Java update and it seems to have cleared up my errors:
`\neo4j-community-3.5.2\bin\neo4j.ps1 update-service`

I had been getting this error in the neo4j-service  log

[2019-06-21 03:58] jameswweis commented on #12201
@burqen @chrisvest Thanks for your attention to the above. This error, at least for me, is becoming so frequent that it has made Neo4j utilization quite difficult--I'm continually encountering `CriticalError`s during graph modifications (typically node creation or relationship creation) that require database restart (and occasionally database rebuild). One example below:

[code]

I'm also attachin

[2019-06-21 09:28] chrisvest commented on #12201
@jameswweis That’s different; unrelated to this issue. You’re getting EIO from fsync(2) so something outside of the database is bad. Maybe you have a full drive or a bad sector. Try asking or searching the support channels for your OS.

[2019-06-21 13:02] jameswweis commented on #12201
Thank you @chrisvest. I will look into it. However, it looks like it is not just me that is experiencing this issue (i.e. #11955).

[2019-06-22 08:16] jipjip opened #12233 "Unexpected behavior when performing query stored in node property"
Copy / Paste stackoverflow post (https://stackoverflow.com/questions/56694788/unexpected-behavior-when-performing-query-stored-in-node-property):

**In short:**
I work in a graph database (neo4j)
I wrote a query that checks if 2 characters in a string, at a given position, are the same. (WHEN rc1=rc2 THEN...) If so: remove one of them.
Finally it will create a node with the new string.

The query,

[2019-06-22 12:14] Ashwanthkumard opened #12234 "Neo.DatabaseError.General.UnknownError: NOT PART OF CHAIN!"
I am facing the following issue when trying to run a simple query as follow:
`MATCH (s)-[:HAS_PROFILE]->(p)
WHERE p.id='XXXX' RETURN s`

Issue:
`Neo.DatabaseError.General.UnknownError: NOT PART OF CHAIN! RelationshipTraversalCursor[id=70577, open state with: denseNode=false, next=70577, mode=regular, underlying record=Relationship[70577,used=false,source=68813,target=71331,type=14,sCount=26,sNext=

[2019-06-23 22:32] jameswweis commented on #11955
Same error here; plenty of disk space:

[code]

I'm also attaching a full debug.log file for your review. I know @timholdsworth has this error as well.
[debug.log](https://github.com/neo4j/neo4j/files/3318642/debug.log).

[2019-06-24 09:05] technige commented on #12231
Hi @LarsKumbier

The issue that you're seeing is actually correct behaviour. The `dbms.connectors.default_advertised_address` settings can accept only the host (host name or IP address) portion of the full socket address, since different ports are appended for each protocol.

The exception `Malformed IPv6 address at index 8: bolt://[example.com:80]:7687` is thrown because `example.com:80` contains

[2019-06-24 11:27] fickludd commented on #12234
Hey @Ashwanthkumard,

That error could indicate that you have a corrupt store. Could you run the consistency checker and report any findings here? https://neo4j.com/docs/operations-manual/current/tools/consistency-checker/

[2019-06-24 14:11] LarsKumbier commented on #12231
Thanks, @technige - that makes a lot more sense to me now. I'll try to get it running in the way you described.

It would still be nice to have a separate configuration option for prefilling specifically the browser URL, as this might be different than the cluster addresses. In my specific usecase, I'm making the frontend (Neo4j browser) available through a kubernetes ingress controller. But if I

[2019-06-24 20:52] InverseFalcon commented on #12232
Able to replicate this, and yes it looks like expected label filtering isn't happening.

If we do a MATCH first to `foo` then an OPTIONAL MATCH for the rest then we seem to get the right count:

[code]

That seems to work whether there's an index present on :Foo(uuid) or not.

This can be used as a workaround for the time being.

[2019-06-25 01:20] matthew-s-miller commented on #12232
Thanks for that. Interestingly you can also start with an OPTIONAL MATCH too!
[code]

[2019-06-25 02:20] matthew-s-miller commented on #12232
Another interesting observation is that in the failing query the planner chooses to start at `Bel` and work backwards. Whereas the successful queries all start with `Foo`.

Our workaround queries essential enforce that the planner starts at `Foo` also.

[2019-06-25 08:48] Ashwanthkumard commented on #12234
@fickludd
Here is the consistencty checker report:

[code]

How can I fix this???

[2019-06-25 13:23] cosminmerlusca opened #12235 "When using ArrayList for relationships, the order of the first two entities is wrong"
-Neo4J version: 3.4.0
- Operating system: Windows 10
- API / Driver : Java API
- Steps to reproduce:

If I define the following:

@NodeEntity
public class Entity1 {
  @Id @GeneratedValue private Long id;
  @Relationship(type = "MY_RELATIONSHIP", direction = Relationship.OUTGOING)
  private ArrayList<MyRelationship> entries;
}

@NodeEntity
public class Entity2 {
  @Id @GeneratedValue private Long i

[2019-06-25 19:19] CoolHandLuke88 commented on #2725
+1

[2019-06-26 03:23] codyAnivive commented on #12084
Any update on this?

[2019-06-26 10:47] sumitmanes commented on #12220
please provide update to the issue.

[2019-06-26 11:16] LarsKumbier commented on #12231
Works as expected. @technige, issue can be closed if you don't want to keep it for reference for the action items you issued?

[2019-06-26 11:22] LarsKumbier opened #12236 "Documentation mistake"
In the [documentation](https://neo4j.com/developer/guide-create-neo4j-browser-guide/#browser-guides) is a small mistake:

[code]

result in a "command not found" due to a missing colon (`:`). Instead it should say:

[code]

Funny enough, the method via the url parameter works fine:

[code]

Visiting this url will properly start the northwind-guide after pressing enter.

[2019-06-26 13:49] taraspos commented on #12221
I'm experiencing the same issue. Running Neo4J on the AWS ECS with the `awsvpc` networking mode.
While log says:
[code]

`lsof` says:
[code]

Running from docker image: `neo4j:3.5.6-enterprise`.

[2019-06-26 16:04] taraspos commented on #12221
More to it, it seems to LISTEN on the random network interface.

## Real data from one of the launches below

<details><summary><b>NODE 1</b> (click here)</summary>
<p>

[code]
From the *debug.log*:
[code]
</p>
</details>

<details><summary><b>NODE 2</b> (click here)</summary>
<p>

[code]
From the *debug.log*:
[code]
</p>
</details>

<details><summary><b>NODE 3</b> (click here)</summary>
<p>

[cod

[2019-06-26 21:17] mdw00d commented on #1199
This results in a regrettable inconsistency between nodes and edges/relationships.  When the neomodel library is used with neo4j, class inheritance for nodes is modeled by associating a label with a node corresponding to each inherited class.  It would be desirable if this same behavior happened for relationships, allowing the inheritance structure to be represented within the graph.

[2019-06-27 04:24] kant111 opened #12237 "Why neo4j clustering is not part of open source?"
Why neo4j clustering is not part of open source? A lot of databases like Cassandra, Hbase etc..all offer to clustering out of the box.

Without clustering, it is very hard to prove that neo4j would scale for any use case specific workloads.

[2019-06-27 10:37] Lojjs commented on #12232
@matthew-s-miller It turned out to be a bug in the rewriter step of optional match which only caused problems with distinct and when the expand start from the `:Bel` node, which your alternative queries don't fulfill. As you noticed, the filter of the label predicates were dropped, which is wrong. I have now merged a fix for the bug which just made 3.5.7, which will be released within the next few

[2019-06-27 10:37] #12232 closed, assigned to Lojjs

[2019-06-27 11:58] nicorikken commented on #12237
Neo4j as a query engine and GUI is nice, but Neo4j as a database is quite immature compared to other products. And so they probably need an income to improve their database features like clustering. Pretty much a business decision I'd say.

[2019-06-27 12:13] nicorikken opened #12238 "Automatically initialize database when loading a dump"
I'm building a solution to start a Neo4j Docker container and have it initialize from a dump.
When I load the dump in a 'cold' container, there is no graph.db and so the command fails:

**Command**
[code]
**Output**
[code]

The subsequent `neo4j start` command will initialize a new container.

I've worked around this by first initializing the graph.db using:
[code]

Other workarounds might be to w

[2019-06-27 20:41] kant111 commented on #12237
@nicorikken what are the other graphdb products that are mature and opensource?

[2019-06-27 20:47] bradnussbaum commented on #12237
@kant111 Neo4j Enterprise was closed source as of 3.5. Open source development continues under The Graph Foundation.

Open source project with clustering here: https://github.com/graphfoundation/ongdb

Download for distirbutions are here: https://www.graphfoundation.org/projects/ongdb/

[2019-06-27 20:59] kant111 commented on #12237
@bradnussbaum When you say open source you mean it's AGPL? is clustering AGPL?

[2019-06-27 21:01] bradnussbaum commented on #12237
@kant111 Yes, it has same AGPLv3 license that it's had since 2008.

[2019-06-28 00:44] kant111 commented on #12237
okies we treat AGPL as closed source and we stay away from it as far as possible. Thanks for your response.

[2019-06-28 10:42] rmetzler commented on #12207
closed in 691622eb5ae70ba5e3e7d5e3750189bdcbb27f74

[2019-06-28 10:42] #12207 closed, assigned to nobody

[2019-06-28 13:53] #12102 closed, assigned to nobody

[2019-06-28 14:35] bradnussbaum commented on #12237
@kant111 completely agree that AGPLv3 is not the right license and any contributions by the Graph Foundation will be going in under Apache2. We cannot change the AGPL license on any code where we don't hold a copy-right. As the foundation projects move forward it will get more open from contributors, not less.

[2019-06-28 14:45] LWprogramming opened #12239 "Cypher version does not match docs"
According to the [Cypher Query Language Reference](https://s3.amazonaws.com/artifacts.opencypher.org/openCypher9.pdf), the standard Cypher version is Cypher 9 (page 196). However, when running some queries, I noticed that this resulted in errors and wanted to clarify what's going on with versioning.

For instance:

[code]
results in `Neo.ClientError.Statement.SyntaxError: Invalid input '9': expect

[2019-06-28 18:08] kant111 commented on #12237
"We cannot change the AGPL license on any code where we don't hold a copy-right." I would think it would be better to write from scratch. Also ongdb has lot of references to neo4j including the binary names etc to the point where it confuses me if I am using neo4j or ongdb.

openCypher is great work! Love the language. not sure if I can say the same with neo4j.

[2019-06-30 04:34] safizn commented on #6282
I was very disappointed to find that the graph does not support nested properties (nested objects). Will this be worked on any time soon. Without this feature, an unnecessary complexity is added in modeling data that isn't part of the graph, yet needed in queries matching.
Take a look at RethinkDB as an example:
- https://www.rethinkdb.com/docs/nested-fields/javascript/
- https://www.rethinkdb.com

[2019-07-01 06:37] sherfert commented on #12235
@cosminmerlusca Can you please reopen the issue in https://github.com/neo4j/neo4j-ogm ?

[2019-07-01 06:37] #12235 closed

[2019-07-01 23:10] VeryHardWorker commented on #12237
@bradnussbaum I don't see graphfoundation named here [https://www.pacermonitor.com/public/case/26298162/Neo4j,_Inc_v_PureThink,_LLC_et_al] but is graphfoundation affected?

[2019-07-02 07:12] sherfert commented on #12239
Hi @LWprogramming
I totally understand the confusion and I think this is something we can improve in the neo4j documentation. In [our official documentation](https://neo4j.com/docs/cypher-manual/current/query-tuning/query-options/#cypher-version) we specify that neo4j accepts `2.3`, `3.4`, and `3.5` as language version values.

This obviously deviates from what openCypher dictates. The reason is t

[2019-07-02 07:12] #12239 closed, assigned to sherfert

[2019-07-03 08:42] nicorikken commented on #12237
@kant111 I don't know the whole space of graphdb products. I do know that database like MariaDB and PostgreSQL are much more mature in their operational features. Sure, that has been built up over time, but Neo4j is lacking here. I expect more. That's what I'm referring to. For example AgensGraph and JanusGraph stand on the shoulders of database giants, and I therefore assume they'll do a better j

[2019-07-03 09:33] kant111 commented on #12237
@nicorikken Thanks for the response! I am new to Neo4j and I like it. Any idea why all of a sudden Neo4j went closed source? and what is the point of going closed source now and opening up in the future? Answers to this will help us(our team) pick the right tech stack so please let me know

[2019-07-03 11:53] nicorikken commented on #12237
@kant111 I don't know, but I assume it is a similar situation as other database projects like MongoDB and Redis. AWS started offering their project as a hosted service, not giving back improvements, and thereby stripping the project from a revenue-stream. Neo4j enterprise can be found in the AWS Marketplace, but in that case the revenue-stream flows back to the Neo4j project.
This is also why I'm

[2019-07-03 13:58] nicorikken commented on #12238
I found quite a simple workaround: simply creating the database directory:
[code]
So perhaps Neo4j should just create this directory, if this is all it takes.

[2019-07-03 14:31] taraspos commented on #12221
Could anyone, please, look into this issue? @jexp @sherfert @mneedham

More info about the problem on the [forum](https://community.neo4j.com/t/causal-cluster-discovery-port-listen-0-0-0-0-5000-doesnt-work/8343)

Thanks!

[2019-07-04 10:25] tolik505 commented on #12191
I also have the problem
`{
  "statement": {
    "text": "explain USING PERIODIC COMMIT 1000 LOAD CSV WITH HEADERS FROM 'https://...' AS csv_line FIELDTERMINATOR '|' FOREACH (sth IN CASE WHEN csv_line.FREF_SECURITY_TYPE IN ['ADR', 'ALIEN', 'DR', 'GDR', 'NVDR', 'PREF', 'PREFEQ', 'RIGHT', 'SAVING', 'SHARE', 'STRUCT', 'TEMP', 'UNIT', 'WARRANT'] THEN [1] END | CREATE (:Security {uuid: csv_line.UUID, cu

[2019-07-04 14:03] whwang1996 opened #12240 "neo4j-admin import stuck at Relationships counts"
## Guidelines

- Neo4j version: 3.5.6
- Operating system: Windows 10, 64G RAM, AMD R1700
- API/Driver: neo4j-admin import
- **Steps to reproduce**
I tried to import 40M nodes, 260M nodes properties and 300M relationships.
The number of node labels is about 40,000, and a node may have more than one label.
The number of relationship types is about 1,100, and a relationship haves only one type.

The

[2019-07-05 12:52] sdmrnv opened #12241 ""Triadic Selection" on larger patterns"
Hello!

There is DataSet at my Notebook’s Virtual Machine:

2 millions unique Customers [:VISITED] 40000 unique Merchants.
Every [:VISIT] has properties: amount (double) and dt (date).
Every Customer has property “pty_id” (Integer).
And every Merchant has mcht_id (String) property.

One Customer may visit one Merchant more than one time. And of course one Customer may visit many Merchants. So ther

[2019-07-06 13:53] FirefoxMetzger opened #12242 "Match quotation escape behavior in LOAD CSV and neo4j-admin"
In the documentation for the `neo4j-admin import` feature it states that:

Character to treat as quotation character for values in CSV data. Quotes can be escaped by doubling them, for example "" would be interpreted as a literal ". You cannot escape using \. Default: " ((source)[https://neo4j.com/docs/operations-manual/current/tools/import/options/])

And the `LOAD CSV` command would like to have

[2019-07-06 14:13] #7138 closed, assigned to nobody

[2019-07-08 00:41] kant111 commented on #12237
@nicorikken I am not sure if anyone in the community appreciates MongoDB's move! But I certainly think other projects were able to solve this problem better. A notable example would be https://www.confluent.io/blog/license-changes-confluent-platform

If the problem is about SaaS providers then the solution should be targeted towards that but not everyone else!

Now speaking of Neo4j I believe its

[2019-07-08 06:58] sherfert commented on #12204
Hi @kamathsachin7 . Without more information there is little we can do here. Please reopen this issue with more information.

[2019-07-08 06:58] #12204 closed, assigned to nobody

[2019-07-08 07:00] sherfert commented on #12203
Hi @dineshlt
Without more information there is little we can do here. Please reopen this issue with more information.

[2019-07-08 07:00] #12203 closed, assigned to nobody

[2019-07-08 07:02] sherfert commented on #12184
Hi @SreenijaK  . Without more information there is little we can do here. Please reopen this issue with more information.

[2019-07-08 07:02] #12184 closed, assigned to nobody

[2019-07-08 07:08] sherfert commented on #12150
Hi @in3rsha
Do you feel it would be OK to close this issue until you are able to reproduce the slow startup and provide a .jfr file for us to analyze?

[2019-07-08 07:10] sherfert commented on #12130
Closing since we have https://github.com/neo4j/docker-neo4j/issues/159

[2019-07-08 07:10] #12130 closed, assigned to nobody

[2019-07-08 07:20] sherfert commented on #12241
Could you share the output of `PROFILE <your-query>` when executed from Cypher-shell or Neo4j browser, but preferably Cypher-shell?

[2019-07-08 08:48] sdmrnv commented on #12241
I have this one only in browser:

![plan](https://user-images.githubusercontent.com/13831386/60796511-2de97c00-a176-11e9-8616-6143e15eca58.png)

[2019-07-08 10:21] technige commented on #12233
Hi @jipjip

I'm afraid I can't actually understand the problem you're highlighting here, or actually what your code is trying to achieve. Can you summarise the exact problem more clearly please?

As far as the drivers are concerned (both the Python driver and the JS driver in the browser) the Cypher string is opaque. Therefore, Cypher will be parsed and executed in _exactly_ the same way through a

[2019-07-08 11:52] in3rsha commented on #12150
Yes. I haven't been able to reproduce this slow start since I opened this issue (typical!).

My best guess would be that whatever was causing the slow start up after killing Neo4j due to memory issues was fixed in the upgrade to Neo4j 3.5.2+.

I have left the FlighRecorded in place just in case it happens again. Thank you to everyone for all the help.

[2019-07-08 11:52] #12150 closed, assigned to nobody

[2019-07-08 12:51] chrisvest commented on #12228
You should have an INFO log line that looks like `Page cache warmup completed. %d pages loaded. Duration: %s.` Can you find it in the debug.log?

[2019-07-08 13:10] chrisvest commented on #12228
Pretty much the only thing that changed in the page cache warmup code between 3.4 and 3.5, is that we now print that log line.

I'm thinking that perhaps the upgrade misplaced the profile files, and therefore don't know what to read back in during warmup.

[2019-07-08 13:40] sherfert commented on #12241
@sdmrnv Thanks! What is taking most of the time in your query is `WHERE
NOT (c)-[:VISITED]->(m)` with 938,553,808 DB hits.

The way _we_ could speed this up is by caching the relationships `m` when we do the first `Expand` and use that to solve the `WHERE` clause, instead of recomputing the relationships again. This feature request has come up before and unfortunately has not had high enough prior

[2019-07-08 16:12] kant111 opened #12243 "MERGE operation brings down performance significantly."
I have a total of 200,001 nodes out of which one node joins with 200,000 other nodes. so 200,000 relationships total.

All these nodes are coming from Kafka so my Kafka Consumer reads a set of nodes(a batch) from Kafka and applies the following operation.

[code]
And this takes forever to build 200,001 relationships both with index or without index on id and key. If I change `Merge` to `CREATE` th

[2019-07-08 17:59] ghost commented on #9726
3.5.5. same issue

[2019-07-08 19:29] jipjip commented on #12233
Hi @technige

I'll try to explain with less noise around the actual issue I'm running in.

Let's start with the queries by itself.
When I run this query directly (in the Neo4j Browsers editor), the results are as expected:
[code]

The results:
c = ***'not equal'***
rc1 = 'n'
rc2 = 'e'

Then I store this query in a Node by using the following query (for reasons as described above):

[code]

Now I u

[2019-07-08 19:45] aaronjwood opened #12244 "Upgrading from 3.5.3 to 3.5.7 fails"
- Neo4j version: 3.5.3 -> 3.5.7
- Operating system: [Debian](https://github.com/kubernetes/kops/blob/master/docs/images.md#debian)
- API/Driver: Cypher
- Environment: Official neo4j container running on kubernetes 1.11.8

## Expected behavior:
Use a stateful set and upgrade the stateful set from 3.5.3 to 3.5.7 without failures.

## Actual behavior:
When upgrading the stateful set the new pod will

[2019-07-08 20:04] jipjip commented on #12233
I don't know if this might help, but I tested entering the query directly in my find and execute function:
[code]

results:

[code]
The result 'equal' is **false**.

Then I replaced 'var_word' with the value of the variable 'test_word':
[code]

and the results are as expected:
[code]
The result 'not equal' is **true**.

Hopefully this additional information gives some other clue

[2019-07-08 22:24] hfmm99 commented on #9726
Still existing on Neo4j 3.5.7

[2019-07-08 22:46] kant111 commented on #12243
**Neo4j is built similar to MySQL, run on a single machine with a global mutex lock to ensure full ACID-compliant transactional model. Dgraph is a distributed system built for low latency, high throughput query execution. It picks pages from Google’s Bigtable and Facebook’s Tao, both of which achieve high scalability at the cost of lack of full ACID compliant transactional support. Also see: Note

[2019-07-09 12:11] sdmrnv commented on #12241
@sherfert Thank you very much for your answer! At stackoverflow was suggested the next solution:

[code]
It increases performance of original query very good.

[2019-07-09 16:56] mangesh001 opened #12245 "OPTIONAL keywords not working as expected."
- Neo4j version: 3.2.15
- Operating system: mac
- **Steps to reproduce**
This are my two query :
Query 1
`OPTIONAL MATCH (persons:Person)
                                    -[:HAS_ORDER]->(orders:Order)
RETURN COUNT(DISTINCT orders)`
and Query 2
`MATCH (persons:Person)
                                    -[:HAS_ORDER]->(orders:Order)
RETURN COUNT(DISTINCT orders)`

both are giving different resul

[2019-07-10 05:15] crazyyanchao opened #12246 "How can I execute 'apoc.cypher.doIt' by HTTP-API?"
URL: http://localhost:7474/db/data/transaction/commit
PARAS:
[code]
RESULT:
[code]
I can do it this way:
[code]

[2019-07-10 10:14] valentingregoire commented on #2725
+1

[2019-07-10 21:04] igorclark commented on #5851
This just bit me pretty hard. If I pass in e.g.

[code]

and then try to do anything with `UNWIND $data.one`, it'll work fine right up 'til when I subsequently try to do something with `UNWIND $data.two`. At that point the rest of the entire query will fail because all the identifier and parameter bindings have been dropped, not because there was an `OPTIONAL MATCH` but because a particular nested

[2019-07-12 08:18] hijan94 opened #12247 "Wrong results using LIMIT in RETURN (non-deterministic)"
I discovered that when I use the LIMIT operator in the RETURN, the database returns invalid results sometimes (non-deterministic) - but only on large size patterns/quiers. I.e: Altough there are 4 matches in the database, the database returns no matches when using LIMIT 1 (or 2,3), but 4 when using LIMIT 4. After restarting the database the error disappears sometimes - but sometimes not.

Has this

[2019-07-12 12:56] aryashekhar commented on #2725
Please Unsubscribe me.

Thanks
Shekhar Arya

On Wed, Jul 10, 2019, 6:14 AM valentingregoire <notifications@github.com>
wrote:

[2019-07-13 00:57] jotadepicas commented on #12041
Probably not, but just in case here it goes. I stumbled upon this issue because I was getting the same "database is in use, please stop neo4j" message, although the database was indeed stopped, and it was a permissions thing. I just needed to run neo4j-admin with sudo and that was it. Like I said, probably not that in this case, but I thought I'd share it anyways.

[2019-07-13 01:05] jotadepicas commented on #11958
This startup loop error is still happening to me with version 3.4.12 and ubuntu 16.04

[2019-07-14 16:09] benjamin-rood commented on #2554
I'm sad that this very sensible proposal has been ignored in one form or another for 5 years.

[2019-07-15 06:40] sherfert commented on #12245
Hi @mangesh001.

How did you setup the graph? Could you provide a `CREATE` query or upload the dataset?

[2019-07-15 06:44] sherfert commented on #12246
@crazyyanchao Can you please provide a better description of your problem?

If you are just asking a question on API usage, this is the wrong place and you should ask that on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead.

[2019-07-15 08:43] InverseFalcon commented on #12247
Hello, you're using a rather old version 3.5.x, could you instead try this out with 3.5.7, the current latest version?

I wasn't able to replicate your issue on this, so I would venture that whatever bug is at work here has since been fixed.

If you're still able to replicate this, could you PROFILE the query and (after expanding all elements of the plan using the double-down arrows in the bottom

[2019-07-15 08:53] InverseFalcon commented on #5851
I don't believe the Cypher team considers the current behavior a bug, even though this is surely a common pitfall.

At the least we could consider an OPTIONAL UNWIND which leaves a null result and doesn't filter out rows, providing desired functionality without changing the behavior of the original UNWIND.

[2019-07-15 08:57] InverseFalcon commented on #2725
@aryashekhar

I don't believe we have that ability, but you should be able to unsubscribe yourself from the page for this github issue. Scroll down just a bit until you see the Notifications section on the right, there should be an Unsubscribe button there you can use.

[2019-07-15 09:47] Pruxis commented on #6349
Is there any progress on this? It has been 3 years

[2019-07-15 10:19] hijan94 commented on #12247
Okay, i have updated to version 3.5.7. The problem is still present - but now the query from above returns 0 matches either when LIMIT is used or not.

![plan](https://user-images.githubusercontent.com/48552288/61209686-b5953480-a6fa-11e9-85b1-1f1cd02c91fc.png)

[2019-07-15 13:18] hijan94 commented on #12247
Note: When executing the query to find all 2x2 size fields (instead of the 3x3 size field query from above), Neo4j finds all matches successfully without any problems. Could it be that the problem is a too big pattern, such not all possibilities can be considerd correctly?

[2019-07-15 16:17] ravwojdyla commented on #12169
I run into this issue as well. I believe this shouldn't have been closed, Neo4j should handle this issue and possibly throw exception on inconsistency between header and row size, otherwise it just hangs forever. Neo4j version I run into this issue: 3.4.8

[2019-07-15 16:18] ravwojdyla commented on #12169
@dmsolow or @InverseFalcon could you please reopen?

[2019-07-15 23:00] jotadepicas commented on #11958
Hi again, it turned out my start loop was due to a permissions issue (neo4j was not the owner of the graph.db directory, added to a misconfiguration in the dbms path in neo4j.conf).

[2019-07-16 13:08] craigtaverner commented on #12243
@kant111 The performance of MERGE in your query is strongly dependant on the number of relationships that the two bound nodes have. If there are very few, MERGE will be fast because it is quick to check if the relationships already exist or not. If there are very many, it will take longer to make this check. This means that MERGE is sensitive to so-called 'super-nodes'. Sometimes it is possible to

[2019-07-16 16:07] kant111 commented on #12243
@craigtaverner Just to be clear those are not my comments. I am quoting the text from the dgraph link cited above.

More discussions on this thread.
https://community.neo4j.com/t/creating-200k-relationships-to-a-node-is-taking-a-lot-of-time-in-neo4j-3-5/8621/12

While this is concluded that it is indeed a bug I am very surprised that the query engine couldn't do this basic thing. I hope the fix ha

[2019-07-17 21:11] theheedfulcoder opened #12248 "Running more than one database in different https port address at the same time"
In modern era, working with more than one database at the same time is a necessity. In few other query languages we can work with many database at the same time simultaneously even we can do connection and fire query and work with different database at the same time. So, I will look forward for this feature to get added. In this case each database can run in their own port address of localhost.

[2019-07-17 23:37] craigtaverner commented on #12243
I think the community forum you referred to is the the right place for discussions like this. Since the performance improvements are part of an ongoing project on store formats, and not related to the query planner as such, I think this issue can be closed.

[2019-07-17 23:37] #12243 closed, assigned to nobody

[2019-07-19 08:37] hs750 opened #12249 "Neo.DatabaseError.General.UnknownError when using property replacement/mutation operator"
I have a database that is currently populated with around 2000 nodes. I am trying to insert a data that was exported from APOC as plain cypher form another instance of the database.

The following statement is the one that fails:
`UNWIND [{_id:48, properties:{password:"asdf", authToken:"6a4e0954-3d78-4601-bd7f-0825f9838841", screenName:"asdf", uuid:"96c5e031-8b6c-11e9-9c7e-f8b156dff1f6", username:

[2019-07-19 14:16] sherfert commented on #4470
The _Practical example_ can be solved by a [map projection](https://neo4j.com/docs/cypher-manual/current/syntax/maps/#cypher-map-projection).

That would look like this:
[code]

That does not solve the general problem of "merging" two maps. Plus is already too overloaded in Cypher. We do not want to add yet another meaning to it. Therefore, a function (or set of functions) would be better.

[APOC]

[2019-07-19 14:16] #4470 closed, assigned to nobody

[2019-07-22 00:55] crazyyanchao commented on #12246
Just java-driver

[2019-07-22 00:55] #12246 closed, assigned to nobody

[2019-07-22 06:54] technige commented on #12248
Hi @dipayan6ghosh. Multidatabase functionality will arrive with our 4.0 release later this year. In terms of connectivity though, all client connections will be made through the same port (for a given protocol). This is because you will be connecting to the DBMS, and then over that connection, selecting a database on which to run your query.

For more information, keep your eye out for our 4.0 pre

[2019-07-22 07:00] theheedfulcoder commented on #12248
Hi @technige
Fantastic !! Looking forward for such update

[2019-07-22 07:04] sherfert commented on #6349
@Pruxis There has been no progress in this.

[2019-07-23 15:15] alexaverbuch commented on #12249
@hs750 are you able to provide us with a store that will cause these queries to fail?
i.e., a store that will cause the failure when we run
[code]
and not cause the failure when we run
[code]
As you wrote, the issue does not happen if the database is empty, so it's difficult to investigate without such a store.

Thanks

[2019-07-24 15:18] Hoekz opened #12250 "Write Transaction Interfering with Reads"
### Summary
We started seeing an issue in our applications where data was sometimes not returned from API calls. While investigating, it appeared to be an issue where write transactions happening in one application that destroys and recreates a node in the database interfere with the read transactions from the APIs. This seems to violate the expectation that the write transaction should be self-co

[2019-07-26 11:44] ppoliani opened #12251 "Neo.TransientError.Transaction.Outdated Error"
I get an error from a query that used to run correctly.

**Neo4j Version:** 3.5.8-enterprice
**Operating System:**  MacOS Mojave
**API:** Docker

### Steps to reproduce

1. Create a new `HAS_PERSONAL` relationship

[code]

2. After the previous query is successful (and it is because I can see it in the Neo4j browser) I try to delete it

[code]

### Expected behavior
The relationship should be remo

[2019-07-26 12:55] sherfert commented on #7764
Reduce works with any accumulator, what is missing from Cypher is a way to to merge maps. For this I refer to this feature request: https://github.com/neo4j/neo4j/issues/4470

But, since [APOC](https://neo4j-contrib.github.io/neo4j-apoc-procedures/#map-functions) already provides such functions:

apoc.map.merge(base, patch)
apoc.map.updateTree(tree, key, value)

we currently don't consider adding

[2019-07-26 12:55] #7764 closed, assigned to nobody

[2019-07-26 14:02] luanne commented on #12225
@Lojjs I'm investigating this at the moment. I could not find a `db.prepareForReplanning` so instead did both `call db.resampleOutdatedIndexes()`, `call db.resampleIndex(":Keyword(value)")`
and `call db.resampleIndex(":Tweet(created_date)")`.

The issue persists. To be sure that the `Keyword` index was being picked up, I dropped the `Tweet` index and profiled the query- works as expected by doing

[2019-07-26 14:05] Hoekz commented on #12250
To pull the context of the repo into this conversation: The write app continually runs this transaction:

[code]

The read node continually runs this transaction (underlying query alter slightly from original to return whole node rather than just the name property):
[code]

When running these two in concurrent/parallel apps, we see `None` get returned from the read transaction intermittently when

[2019-07-26 14:26] SaschaPeukert commented on #12247
Hej @hijan94

Thanks for reporting this. We will have a look and get back to you!

Cheers,
Sascha

Neo4j Cypher Team

[2019-07-26 19:19] chrisvest commented on #12251
It occurs because your query is returning the deleted relationship, and the relationship object is not materialised (fully populated with properties, etc) until the result is being serialised, which, if you are using automatic rather than explicit transactions, happens after the transaction commits.

[2019-07-26 19:46] ppoliani commented on #12251
@chrisvest thanks for the answer. Pardon my ignorance, but does it mean that you can return a deleted relationship? Is there a suggested alternative. The thing is that the same query works fine on version 3.3.3 but not in 3.5.8.

[2019-07-29 09:09] SaschaPeukert commented on #12245
+1 on what @sherfert said, please provide us with any means to reproduce the problem.

Also @mangesh001 , could you please tell us if you were using Community or Enterprise edition?

[2019-07-29 14:27] InverseFalcon commented on #12251
If you need to return the properties of the relationship, you can project those out before your delete and return those:

[code]

If you want the graph ID of the relationship too (and anything else you might need) you can use map projection first before the deletion:

[code]

[2019-07-29 14:40] InverseFalcon commented on #12250
This is an odd thing and bears some investigation. Neo4j should be read committed, so reads should only be seeing the committed state and not an in-between state from another transaction in-flight.

If you do need full exclusion between reading and writing then you may want to synchronize on a separate node made explicitly for that purpose. Since your use case involves deleting the node in questio

[2019-07-29 16:27] sherfert commented on #12250
Hi @Hoekz

I think what you observe is a non-repeatable read anomaly. That means that the read transaction can happen to read the node id before the node was deleted, but then when it tries to return the node (and therefore read its properties), the node does not exist any longer. It is more likely to happen the more write transactions you have, which is why you see the anomaly more often with low

[2019-07-29 17:38] Hoekz commented on #12250
Hi @sherfert,

We tried running with the snapshot flag and while it lessened the frequency of the observed issue, it was still present. What you're describing sounds like Neo4j does not meet ACID compliance (specifically Isolation).

Our situation in the real world is far more complex than the simple example. It's a cluster of 5 core nodes and 3 read nodes with several ingestion apps writing data

[2019-07-29 19:23] zhenlineo commented on #12233
Hi @jipjip,

Thanks for your description. In short, your problem is that you have two different results when running
A:
[code]
and B:
[code]

This is nothing to do with python driver, as there is no client side cypher parsing.
Can you run the following code via browser:
C:
[code]
and D:
[code]
You shall find the results are the same as the results you got via python driver.

If that is the case, p

[2019-07-30 10:59] poppingtonic commented on #12087
This is late, but there's a specific upgrade process that you should use if you're running neo4j in Ubuntu. It requires you to upgrade to neo4j 3.2 first, then to the latest version. Here's the link: https://neo4j.com/docs/operations-manual/current/installation/linux/debian/#debian-upgrade

[2019-07-30 12:40] #12087 closed, assigned to nobody

[2019-07-30 12:45] KamalMalik commented on #12133
@vmandrychenko and @chrisvest is this issue going to resolved in future neo4j release. currently trying to upgrade to 3.5.8 facing the same issue.

Why store_lock file has been moved the parent directory to the databases, not allowing to create new database in same parent directory.

Any quick fix solution for the same will be appreciated.

[2019-07-30 13:50] sherfert commented on #12250
Hi @Hoekz

I tried reproducing your issue. If I set `unsupported.dbms.query.snapshot` to `true`, the reason that we still see `*****NOT FOUND*****` is because of the test setup. I [made some modifications](https://github.com/Hoekz/NeoTransactionInvestigation/pull/1) so that we create the node in a separate setup step and don't delete it after the 30 seconds. After that, I got `Missing 0 / 27298 ti

[2019-07-30 15:41] Hoekz commented on #12250
Ok, thank you for the explanation, it feels a little weird that a `MATCH` and a `RETURN` are considered separate reads though (If I'm understanding you correctly).

We will try using the snapshot flag in our test environments to see if it solves our issue enough without too much of a performance hit.

[2019-07-30 18:09] chrisvest commented on #12250
Sorry for being pedantic, but it's non-repeatable reads. A "dirty read" is seeing writes from _uncommitted_ transactions, which is not what is happening. Just wanted to make that clear.

[2019-07-30 18:25] tinwelint commented on #12234
Which version was this produced on? Also was this store migrated or similar?

[2019-07-30 22:13] michelle-rascati-sp commented on #12238
I'm having the same issue, except I believe it should be loading into `$NEO4J_HOME/data/databases`, I can't figure out why it is trying `/data/databases`. My `NEO4J_HOME` is `/var/lib/neo4j`

[2019-07-31 06:25] sherfert commented on #12250
@Hoekz the reason that the `MATCH` and the `RETURN` are separate reads is because in the `MATCH` we only fetch the node id, nothing else. Since you are returning the node, we need to "populate" it with all its properties and labels (which we look up by node id), and that happens in the `RETURN`. Moreover you also have a `WHERE a.id = '1234567890'` hidden in your `MATCH`, and that property read is

[2019-07-31 06:25] #12250 closed, assigned to nobody

[2019-07-31 21:01] InverseFalcon commented on #12250
Just to note, the proposal to use a separate node as a synchronizer is still viable, though you will need to ensure both reads and writes of the node(s) in question first take locks on the separate synchronizer node to ensure mutual exclusion for all operations on the node, including the reads from a MATCH.

As previously mentioned, if it's at all possible to avoid deleting the node entirely, and

[2019-07-31 22:38] LWprogramming opened #12252 "MATCH vs. OPTIONAL MATCH ordering"
When attempting to run this query on a database with `Animal` type vertices:

[code]

I encountered the following error: `Neo.ClientError.Statement.SyntaxError: MATCH cannot follow OPTIONAL MATCH (perhaps use a WITH clause between them) (line 2, column 1 (offset: 33)) "match(n:Animal)" ^` but didn't find any explicit mention in the documentation forbidding this, so I wanted to check if there are a

[2019-08-02 15:11] #12231 closed, assigned to nobody

[2019-08-02 22:11] noorbakerally opened #12253 "Neo4j server not starting"
I am trying to start the neo4j 3.5.7 server but failing to start on on Ubuntu 18.04. It says the the file /var/lib/neo4j/data/databases/graph.db/neostore  doesn't exist while it does and with the right permission.  Log is below

nohup: ignoring input
2019-08-02 22:01:47.050+0000 INFO  ======== Neo4j 3.5.7 ========
2019-08-02 22:01:47.061+0000 INFO  Starting...
2019-08-02 22:01:48.166+0000 ERROR Fa

[2019-08-03 02:19] crazyyanchao commented on #6248
The probability of this problem decreases after I index the attributes of the node.

[2019-08-05 03:34] osddeitf opened #12254 "Support for counting db hits in user-defined procedures"
## Preface (TL;DR)
I have a large, raw and complex graph data, it's not easily extract data from it. So I've ended up reduce a lot of information. Mostly by hand, and I deleted a lots (in the future, programmatically). But a problem arise when I have to remove bunch of subtree from my graph (my graph is a forest of trees). This have large amount of nodes and relationships. It's took a long time to

[2019-08-05 06:23] sherfert commented on #12245
This has been opened for 4 weeks without providing instructions for reproduction. Feel free to re-open at any time with further instructions.

[2019-08-05 06:23] #12245 closed, assigned to sherfert

[2019-08-05 06:28] sherfert commented on #12251
@chrisvest The error message `... overlapping committed transaction ...` is not very accurate though. Any chance on improving that?

[2019-08-05 09:39] Hunterness commented on #12252
Hi, thanks for reporting.

I believe that this error is the expected behavior, but that we should at least look into if the documentation needs to be updated to cover this case better.

Best Regards,
Therese, Team Cypher

[2019-08-05 12:00] chrisvest commented on #12251
@ppoliani The semantics of returning deleted entities are not well defined in the current Cypher versions. A [proposal has been put forward](https://github.com/opencypher/openCypher/pull/332) that pins down the semantics in this area, but the current versions of Cypher do not yet implement it. Until then, we'll improve the error message.

[2019-08-05 12:34] ppoliani commented on #12251
@chrisvest Thanks for the reference. Will @InverseFalcon solution work at the moment?

[2019-08-05 13:52] chrisvest commented on #12251
@ppoliani Yes, capturing the properties with a `WITH` prior to deleting the relationship works.

[2019-08-05 13:54] ppoliani commented on #12251
Fantastic! Shall we remove the bug label and close this issue?

[2019-08-06 06:08] #12251 closed, assigned to nobody

[2019-08-06 09:37] Lojjs commented on #12247
@hijan94 We are currently investigating this and, as you pointed out, the problem is only occurring when the pattern is big enough. The cause seems to be a bug with combining 2 complex patterns with a hash-join in the slotted runtime (which is the default runtime in 3.5). As a workaround you can try to prepend your query with `CYPHER runtime=interpreted `. Please let us know whether that solves yo

[2019-08-06 10:11] hijan94 commented on #12247
@Lojjs Thanks for your help.

Your suggested workaround works fine on my computer and has fixed the problem so far.
All matching processes (with or without using LIMIT) now return the correct results.

[2019-08-06 14:46] Lojjs commented on #12247
@hijan94 That is great to hear! A fix for the slotted runtime will be included in the next patch release of Neo4j (3.5.9)

[2019-08-07 06:55] ChangbingChen opened #12255 "create index too slow, any help?"
neo4j version: 3.5.4
index type：native-btree-1.0
dbms.memory.heap.max_size=40g
dbms.memory.pagecache.size=10g

We want to create an index on the property of a Label. The count of this Label node is about two billions, and the property value is 32-byte md5 string. Nearly 20 hours passed, the status of this index is still populating, and the rate of progress is 36.7%(by call db.indexes).

Is there s

[2019-08-07 07:42] severos opened #12256 "Fail to build the source code, Could not read licensing requirements file"
I've installed a fresh copy of Ubuntu 18.04.2 Desktop AMDx64 in a VBox virtual machine (same problem happens on Windows, WSL, none VM installation of Ubuntu on 2 different machines)
-Installed git, maven, openjdk-8-jdk
-git clone  https://github.com/neo4j/neo4j.git
-changed java version to 1.8.0_222 using update-alternatives
-cd into the directory
-mvn clean install

However, it fails to compile a

[2019-08-07 08:15] lazyonemax commented on #12084
In the case that all transaction logs were deleted, how do I get around the "no check point" error?

[2019-08-07 08:53] chrisvest commented on #12084
If you have a support contract, you should ask for help via that channel first.

Otherwise, you can try to set `unsupported.dbms.tx_log.fail_on_corrupted_log_files=true` in `neo4j.conf`. There will likely be inconsistencies in the data after this, though.

[2019-08-07 09:00] chrisvest commented on #12256
Sounds like a problem inside the plugin :man_shrugging:  Try with `-Dlicensing.skip=true`.

[2019-08-07 10:16] fickludd commented on #12225
@luanne Thank you for trying all those things.

I am investigating this issue now, and the problem turned out to be caused by two surprising things in combination.

1) Are you aware that with this setup, all `Tweet`s get the same `created_date`, because `timestamp()` uses the query/statement clock? If you want each `Tweet` to get a slightly different `created_date`, use `datetime.realtime().epochM

[2019-08-07 12:31] Tarasovych opened #12257 "Trying to run Neo4j in Docker - ServerStartupException"
- Neo4j version: 3.5.8
- Operating system (host): Ubuntu 18.04
- API/Driver: Cypher 3.5.8
- **Steps to reproduce**
- Expected behavior
[code]
runs the server.
- Actual behavior
Exception is being thrown:
[code]

Additionally, include (as appropriate) log-files, stacktraces, and other debug output.
`docker-compose`, according to [docs](https://neo4j.com/developer/docker-run-neo4j/#docker-run):
[cod

[2019-08-07 14:28] #12257 closed, assigned to nobody

[2019-08-07 14:39] hiiwave opened #12258 "Can NOT recover data after encountering "too many files" error"
I encountered "too many files error" upon starting my database, which had run over months, just as #12050. However, it's not possible for me the increase the hard-limit of opened files (`ulimit -Hn`), which is set to 10240, as I'm not the administrator of the server I'm using. That it, I'm facing the same situation as [this thread](https://groups.google.com/forum/#!topic/neo4j/wKFAD2lqv-M).

Theor

[2019-08-07 14:52] Legolash2o opened #12259 "Request: Commas in node and relation count"
HI,

No idea where to put requests.. Is it possible to add thousand separator comma's on the node and relationship please?

It will make it so much easier to read.

![Image](https://user-images.githubusercontent.com/34819291/62632966-468eb280-b92b-11e9-9745-6b9f63cbb7f0.png)

[2019-08-07 15:29] barnesmcfc commented on #12077
Hi @galaxyware241, I have a situation like yours where I'm working with Neo4J Azure Container Instances and store the database in an Azure File Share, when I try to get relationships and nodes from some database I got the Permission denied error. Doing a research I couldn't find anything but this post, so did you find a solution?

[2019-08-08 02:26] lazyonemax commented on #12084
cannot start yet set unsupported.dbms.tx_log.fail_on_corrupted_log_files=true

`
2019-08-08 02:24:28.782+0000 WARN [o.n.k.NeoStoreDataSource] Exception occurred while starting the datasource. Attempting to close things down. Component 'org.neo4j.kernel.recovery.Recovery@795fd838' failed to initialize. Please see the attached cause exception "No check point found in any log file from version 107 to

[2019-08-08 04:31] lazyonemax commented on #12115
I have this issue to,Neo4j process be killed manual & delete all transaction logs ,so can not startup now
Version:3.5.7
Error Message
2019-08-08 02:24:28.782+0000 WARN [o.n.k.NeoStoreDataSource] Exception occurred while starting the datasource. Attempting to close things down. Component 'org.neo4j.kernel.recovery.Recovery@795fd838' failed to initialize. Please see the attached cause exception "No

[2019-08-08 04:33] lazyonemax commented on #12115
sometimes neo4j cannot stop by command ./neo4j stop , will kill process manual (kill -9 pid) , restart load transaction log slowly .......

[2019-08-08 07:39] severos commented on #12256
I guess you're right, skipping the license made it pass that stage.
Now it's failing in the native index project because GBPTreeTest.cleanJobShouldNotLockOutClose and
GBPTreeTest.cleanJobShouldNotLockOutWriter are timing out (time elapsed is 5 seconds).
Should I close this issue and open another one for the new error?

[2019-08-08 08:08] chrisvest commented on #12256
We monitor and fix test failures in our own build matrices internally, so reporting them as bugs is not very interesting. Your virtual box might just be too slow. If they are blocking your work, you can increase their time-out, or disable them, in your branch.

[2019-08-08 08:08] #12256 closed, assigned to nobody

[2019-08-08 08:36] kohtianan opened #12260 "Regular expression not capturing for certain string"
this is with reference to a post i have in stackoverflow
https://stackoverflow.com/questions/50523643/neo4j-cypher-regular-expression-not-matching/57408131#57408131

To match this string in one of the edge's property:
TargetObject: hklm\\software\\microsoft\\windows\\currentversion\\run\\xyz

This regular expression does not work:
MATCH (n)-[r]->(m) where r.TargetObject=~'hklm\\\\s.*' return n, r,

[2019-08-08 08:41] galaxyware241 commented on #12077
Hi .  We gave up on using containere. was told is Azure storage whilst I believe we needed more flexibility on neo4j to understand the root cause. we ended up having IAS VM with VHD stored with Ubuntu disk .

[2019-08-08 15:35] banned007 commented on #12077
I am having the same problem.. this is nonsense (Azure), how is it possible that if I run it on a local vm it works wonders and Azure blocks the permission for some arbitrary reason....

[2019-08-09 04:05] crazyyanchao opened #12261 "How to set up remote debug?"
Such as this [Elasticsearch - Remote Debug](https://blog.csdn.net/superman_xxx/article/details/97810061)

[2019-08-09 07:06] crazyyanchao opened #12262 "fulltext search - I try to search numeric field,but I get nothing by lucene query string."
[code]
How can I do it?

[2019-08-09 07:31] kingrocy commented on #12191
i also have the same problem,but i slove it.
The reason for this problem is because your command may not be correct, which causes neo4j to need a lot of resources to execute.
I will explain my problem as a sample.
There is a 60,000 line csv file. I need to take him to do the following

`
LOAD CSV WITH HEADERS FROM 'https://xxxxx/xx.csv' AS LINE
merge(:CarModel{
	name:line.model_name,
	model_code:l

[2019-08-09 08:33] chrisvest commented on #12262
Full-text schema indexes only index strings for the time being, because it's the only data type where there's no ambiguity in how to index and query them for full-text.

If you want to query numbers, the regular schema indexes are much better equipped.

[2019-08-09 11:15] crazyyanchao commented on #12262
@chrisvest Thanks for your reply!
I need search nodes by lucene query,but numeric range is a condition.
The following query,what is the diffrence between query-one and query two?Is it the same effect?
[code]
OR
[code]

[2019-08-09 12:15] chrisvest commented on #12262
This query does the full-text search and then filters the results:

[code]

This query doesn't work since full-text indexes only indexes strings, but if it did, the `update_time_mills` predicate would be pushed into the index search, which would incur fewer property reads and have higher index selectivity:

[code]

The two queries might produce different scores, and the node might be returned in a

[2019-08-09 20:33] banned007 commented on #12077
I found a solution to this problem. As @chrisvest said it is the environment that is denying neo4j permissions to write in the ```/neo4j/data/databases/graph.db/``` directory in my case the file-shares that I create in order to initialize the containers are read-only, and when neo4j tries to write in the cache files, this gets permission denied exception. My workaround is posted in this issue:
htt

[2019-08-10 19:32] ray6080 commented on #12256
I encountered the same problem. Is there any solution for the plugin?

[2019-08-12 03:25] crazyyanchao commented on #12262
@chrisvest If I can filter data by time range by db.index.fulltext.queryNodes (Not using where parameters) ,It great!

[2019-08-12 03:38] crazyyanchao opened #12263 "Run the source code test to report an error - Lack of calss"
Lack of calss
[code]
neo4j source code version:
[code]

[2019-08-12 06:44] #12262 closed, assigned to nobody

[2019-08-12 06:47] sherfert commented on #12263
Please look at the guideline how to format a bug report and which information to provide: https://github.com/neo4j/neo4j/blob/3.5/.github/ISSUE_TEMPLATE/bug_report.md

[2019-08-12 06:48] sherfert commented on #12261
Have a look at the documentation for this: https://neo4j.com/docs/java-reference/current/server-debugging/

In the future, please ask usage questions in neo4j-users slack or on stackoverflow.

[2019-08-12 06:48] #12261 closed, assigned to nobody

[2019-08-12 06:57] crazyyanchao commented on #12263
@sherfert  As your say,it's not a bug.Just source code test not run.

[2019-08-12 07:15] crazyyanchao commented on #12261
@sherfert Thanks for your reply! :)

[2019-08-12 07:47] Hunterness commented on #12260
Hi, this seems weird, thanks for reporting. We will look into it.

/Therese, Team Cypher

[2019-08-12 08:09] chrisvest commented on #12256
I'm told Ubuntu by default has a fairly strange build of openjdk, and that the plugin don't know how to cope with that. You could try installing Java from a more respectable vendor. For instance, Azul Zulu, AdoptOpenJDK, RedHat, or Oracle.

[2019-08-12 17:52] shalini-nambiar-icf opened #12264 "Trouble with APOC and Algorithm plugin installation in Neo4j installed in Ubuntu 14.0"
I'm trying to get the APOC and graph algorithm plugins on an Ubuntu neo4j installation. As per various other threads I've made sure that the following jar files are in the plugin in folder-

The config file has been updated as follows-

**updated**:

**un-commented** :

**checked the accuracy of**:

After restarting the server I'm testing the installation by running the query algo.list() and am re

[2019-08-13 07:56] chrisvest commented on #12264
You need to use a graph algorithms library version that matches your Neo4j version, so for Neo4j 3.5.8, you need a 3.5.8.x version of the graph algorithms library. Version mismatches can prevent the library from being loaded, and then the procedures won't be available.

[2019-08-13 09:57] catslink opened #12265 "[io.netty.util.ResourceLeakDetector] LEAK: ByteBuf.release() was not called before it's garbage-collected."
- Neo4j version: neo4j-community-3.4.7
- Operating system: 3.18.6-2.el7.centos.x86_64
- API/Driver: Cypher with neo4j-java-driver:1.7.5
- Memory configuration:
//Lucene indexes: 2380.0
//Data volume and native indexes: 5500m
dbms.memory.heap.initial_size=16g
dbms.memory.heap.max_size=16g
dbms.memory.pagecache.size=80g
- Expected behavior
No leak in debug.log
- Actual behavior
After 26 hour since I

[2019-08-13 11:00] sherfert commented on #12249
@hs750 We unfortunately still need additional information to be able to act on this bug report. Please reopen the issue with a store or help us otherwise reproduce it.

[2019-08-13 11:04] sherfert commented on #8832
`Neo4j 4.0.0-alpha09mr02` has been released and can be downloaded [here](https://neo4j.com/download-center/). It uses scala 2.12

[2019-08-13 11:04] #8832 closed, assigned to nobody

[2019-08-13 11:26] sherfert commented on #1094
This has been solved in Neo4j 3.4.

[2019-08-13 11:26] #1094 closed

[2019-08-13 12:42] shalini-nambiar-icf commented on #12264
Thanks Chris, but these were the latest releases I could find and I was under the impression that only the first 2 digits needed to match. Could you point me into the direction where I could find the 3.5.8 jar files?

[2019-08-13 12:49] Hunterness commented on #12260
Hi,

I'm currently looking at this and what I think is happening is that the query string rewrites the \ into fewer \\'s.  For a target string `hklm\\software` the regex, once rewritten need to have double \ when being evaluated. From what I find when trying it out we do two rewrites, first once for the query and then once for the regex itself:

In the non-working query, the regex `hklm\\\\s.*`  i

[2019-08-13 12:51] noorbakerally opened #12266 "Storing subgraph in embedded database"
I have a query that gives me a subgraph as a result from a Neo4j database. I want to store the subgraph as I need to perform several queries on it. **Is there a way to directly store the result of a query into an embedded database ?** While It is possible to iterate on the results and re-create the subgraph in a new Neo4j embedded database, I want to avoid this.
[code]

[2019-08-13 14:03] chrisvest commented on #12264
On our download page: https://neo4j.com/download-center/

[2019-08-13 14:51] shalini-nambiar-icf commented on #12264
I've replaced the jar file with the one below from the download page and still receiving the same error.

[2019-08-13 15:38] kenahoo commented on #3466
FWIW, and I know this is an old thread, but I think the way @thobe designed it in the first place is correct.  The output of the tool is shown on `stdout` and status/alerts to the person running it are shown on `stderr`.  It just so happens that the purpose of this tool is to find "inconsistencies", i.e. "errors", but that doesn't mean its output should be on `stderr`.

[2019-08-13 16:03] kenahoo opened #12267 "cypher-shell outputs prompts on STDOUT"
The `cypher-shell` tool uses `stdout` to prompt the user for connection info (e.g. username, password), rather than `stderr`.

This means that if I'm redirecting the output to a file (to export some data from the database), there are problems:

1. I don't see the prompt or my typing on the terminal screen - if you don't know what's going on, it looks like the process is hung;
2. The prompt and inp

[2019-08-13 16:13] MikeBenza commented on #3466
The purpose of the tool is to check the consistency of the data store.
Errors should go to stderr.

On Tue, Aug 13, 2019, 10:39 AM Ken Williams <notifications@github.com>
wrote:

[2019-08-13 20:30] raduvanciu opened #12268 "cypher query returning UnknownError: node [...] not connected to this relationship[...]"
I discovered that some cypher queries using shortest path fail for specific input, while at the same time work well with others.

- Neo4j version: 3.5.4, 3.5.5, 3.5.8
- Operating system: Ubuntu 16.04 and Docker. I tried both both Community and Enterprise edition
- API: Cypher
- **Steps to reproduce**
- Expected behavior
the following queries are expected to complete without errors

QUERY1
`WITH [5

[2019-08-14 08:40] chrisvest commented on #12268
@raduvanciu Can you find the complete stack trace for the failed query in the `debug.log`?

Also, are there any other transactions/queries running on the database at the same time?

[2019-08-14 09:24] kohtianan commented on #12260
Hi Therese,

Thank you for the update.

i did apply what you have suggested by adding the additional set of \'s to the regex to become `hklm\\\\\\\\s.*`. It works and does return the expected strings.

[2019-08-14 09:28] Hunterness commented on #12260
Hi Kohtianan,

That's great, then I'll close this issue :)

I also answered on stack overflow (so others that find it can get a good answer as well)

/Therese

[2019-08-14 09:28] #12260 closed, assigned to Hunterness

[2019-08-14 13:08] raduvanciu commented on #12268
@chrisvest Thank you for your quick reply. There are no other transactions running at the same time. Here is the stack trace using version 3.5.5 Enterprise edition

2019-08-14 13:02:41.703+0000 ERROR [o.n.b.v.r.ErrorReporter] Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: Node[10573] not connected to this relationship[38722245], reference 3bbcba65-38ca-40e6-aa8c-d10

[2019-08-14 14:12] klaren commented on #12253
The exception is `FileNotFoundException` but the cause of that is `Permission denied`.

If you could provide us with the `debug.log` and the output of
`ls -al /var/lib/neo4j/data/databases/graph.db/`
that would help to pinpoint the cause.

Thanks for reporting!

[2019-08-14 14:32] klaren commented on #12258
To optimize IO performance we open multiple file descriptors per file. You can disable this by passing:
[code]
to the JVM. Hopefully, this is enough so that you can actually start the database again.

[2019-08-14 15:04] hiiwave commented on #12258
@klaren Thanks for advising. Could you elaborate how I can do this? I'm currently start the database via command `bin/neo4j console`. I don't know how I can pass this option to the JVM.

[2019-08-14 15:22] chrisvest commented on #12258
Modify `neo4j.conf` to add another `dbms.jvm.additional` setting.

[2019-08-14 18:10] raduvanciu commented on #12268
@chrisvest Thank you again for looking into this. I have some additional info, which may help.

The bug seems to be related to the fact that one of the source nodes (i.e., {geneId:54494}) has no outgoing edges of type ACTIVATION. It is however surprising that that the exception is not thrown for QUERY2, which includes the same source node.

I found a workaround by rewriting the query. Filter first

[2019-08-14 20:31] kant111 opened #12269 "Support for index on generated columns."
Would be great to have indexing available for generated columns. For example take a look at [this](https://www.postgresql.org/docs/current/indexes-expressional.html)

https://community.neo4j.com/t/will-the-index-be-used-on-the-generated-columns

[2019-08-14 20:33] kant111 opened #12270 "Throughput for creation of nodes in Neo4J 3.5.7 decreases significantly with the number of properties"
I am doing an A/B testing to measure the throughput for the Creation of nodes in Neo4J. And I find throughput for creation of nodes decreases significantly as the number of properties increase.

**Setup:** Neo4j cluster 3.5.7 (3 core instances where one is the leader and the rest two are followers). Tried the same experiment in a single node as well and I observe the same behavior. But all the res

[2019-08-15 02:29] catslink commented on #12265
Finally server OOM:
==neo4j.log
[code]
==debug.log
[code]

[2019-08-15 07:17] hiiwave commented on #12258
This works like a charm. Thanks a lot.

[2019-08-15 07:17] #12258 closed, assigned to klaren

[2019-08-15 11:41] ThirdLibResearch opened #12271 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-16 08:55] crazyyanchao commented on #375
@jakewins Now,is it work?

[2019-08-18 05:09] luanne commented on #12225
@fickludd thanks for investigating. The `timestamp()` is indeed something I was not aware of, thanks for pointing that out.
Good to know about the fix for the index selectivity in 3.5.9!

[2019-08-18 11:07] luanne commented on #12225
@fickludd sorry, I have a few more observations. Assuming that we did indeed have many tweets with exactly the same timestamp, providing the index hint only partially solves the issue.

In my test database, the keyword is related to exactly one tweet which matches the date filter:
![image](https://user-images.githubusercontent.com/1242476/63223578-db659b80-c1c8-11e9-9265-601e295b2dd9.png)

So, I'd

[2019-08-19 06:45] sherfert commented on #12263
@crazyyanchao I do not understand the issue you are describing. What source code test is not run?

[2019-08-19 06:57] sherfert commented on #12225
@luanne I expect both of these plans to change in 3.5.9 with the bugfix. Could you verify that when 3.5.9 is out?

[2019-08-19 07:08] bsquire0128 commented on #12255
Try:
dbms.jvm.additional=-Dorg.neo4j.kernel.impl.index.schema.GenericNativeIndexPopulator.blockBasedPopulation=true

also see:
https://community.neo4j.com/t/indexing-a-string-property-is-taking-several-days-and-it-doesnt-seem-near-to-completion/6696/2

[2019-08-19 08:51] noorbakerally opened #12272 "Install Neo4j on Ubuntu 14.04"
I am unable to install Neo4j on Ubuntu 14.04. I am getting the following error:

[code]

My current java version is:
[code]

[2019-08-19 14:34] InverseFalcon commented on #12270
Noting that this question has been asked in several places, including Stack Overflow, our users slack, and our community site.

Here's the [discussion on the community site](https://community.neo4j.com/t/throughput-for-creation-of-nodes-in-neo4j-3-5-7-decreases-significantly-with-the-number-of-properties/9415/), we should probably keep discussion going there, and reserve github issues for if/when

[2019-08-19 19:12] bsquire0128 opened #12273 "Neo4j Transaction Retention Policy not adhering to setting; Enterprise 3.5.7"
neo4j version: 3.5.7 Enterprise
neo4j.log and debug.log
I changed my configuration file to have the following transaction retention policy to avoid filling up my disk with old transactions.
`
dbms.tx_log.rotation.retention_policy=15 files
`
Here is what my graph.db folder currently looks like:
`
-rw-r--r-- 1 root root 259M Aug 19 16:00 neostore.transaction.db.1410

[2019-08-20 05:11] chrisvest commented on #12273
Do you monitor your `check_point` metrics? Check points need to happen before transaction logs can be retired. There are also `debug.log` messages printed every time a check point happens. Try finding those. Log pruning happens immediately after a check point, so you might see messages about that as well.

The manual entry on check point metrics: https://neo4j.com/docs/operations-manual/current/mo

[2019-08-20 09:51] burqen commented on #12201
@Manish-Giri I'm continuing this digging. What type of disk are you using?

[2019-08-20 11:25] martinfurmanski commented on #12270
@kant111 Do you agree that that it might be better to keep the discussion on the community site and close this issue?

[2019-08-20 11:29] martinfurmanski commented on #12272
@noorbakerally I suspect that this is an issue with your particular environment. You can google the phrase "you have held broken packages" and get some guidance on what might be wrong. This seems to be a reasonable link with a few suggestions: https://askubuntu.com/questions/223237/unable-to-correct-problems-you-have-held-broken-packages

[2019-08-20 11:34] klaren commented on #12255
As @bsquire0128 suggest you can try to use the block-based index population, which is an experimental feature. However, to get the full value out of it you have to have at least 3.5.7.

[2019-08-21 15:10] chrisvest commented on #12273
It could be that you have a very large page cache, and that your work load has a very high rate of dirtying pages in the page cache, meaning that many pages have to be flushed in a check point.
Since you are using Enterprise Edition, it could be that you are running with the default check point IOPS limit of 300, which can make your check points take a long time. It's a dynamic setting that you ca

[2019-08-22 00:26] Manish-Giri commented on #12201
@burqen Thank You for still investigating this issue! If you're referring to the hard drive, it's a regular (non-flash) HDD -

![Screen Shot 2019-08-21 at 8 18 57 PM](https://user-images.githubusercontent.com/11348778/63477111-aae46280-c451-11e9-8969-e75627894028.png)

I was away for a few weeks, but I'll now try to get the logs of thread dumps you had earlier asked for.

[2019-08-22 06:55] burqen commented on #12201
@Manish-Giri I think I have an idea on what might be wrong. The index cleaner job that looks like it's stuck stuck uses too many threads which put a lot of contention on the HDD and slow down IO by a lot. This together with a somewhat hard "no progress" limit results in the behaviour you see.

An attempt at fixing this will be up soon on 3.5. It would be fantastic if you could try it out to verify

[2019-08-22 08:24] luanne opened #12275 "Failed to start Neo4j when the neo4j database is stopped"
Neo4j fails to start up when multiple databases are created (and online), and the neo4j database is stopped, and thereafter, Neo4j is shut down.

- Neo4j version: Neo4j 4.0.0-alpha09mr02
- Operating system: macOS 10.14.5
- API/Driver: n/a

- **Steps to reproduce**

`create database tweets`
`create database blogs`
`stop database neo4j`

Then stop Neo4j, and try to start it up again.

### Expected b

[2019-08-22 08:28] luanne opened #12276 "Continuous "Client triggered an unexpected error" when the system database is in use"
When the system database is in use, there's a continuous stream of "Client triggered an unexpected error"

- Neo4j version: Neo4j 4.0.0-alpha09mr02
- Operating system: macOS 10.14.5
- API/Driver: n/a

- **Steps to reproduce**

`:use system`
Monitor the console

### Expected behavior
No unexpected errors

### Actual behavior

Continuous stream of these errors on the console, every 15 seconds or so

[2019-08-22 08:32] luanne opened #12277 "`org.apache.commons.lang3.reflect.FieldUtils` warnings"
**Is your feature request related to a problem? Please describe.**
It would be nice to address or suppress the warnings that show up when starting up Neo4j 4 (Neo4j 4.0.0-alpha09mr02)

Specifically:

[code]

**Describe the solution you'd like**
No warnings

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2019-08-22 09:40] noorbakerally opened #12278 "Random occurence of AmbiguousBaseClassException Error"
I am getting this error on I must say random occurrence. Because on successive 10 runs without changing anything in the code, this problem can appear 4 to 5 times. The reason why this problem is occurring is because of the existence of a node having two labels and when querying the node, I cast the result to a class and then this error generates. The problem is that no where in my codes am I creat

[2019-08-23 20:39] WyrdNexus commented on #12106
I'm on the hunt for a very similar implementation of array searching. Can anyone suggest a good starting point?

[2019-08-25 15:50] eastlondoner opened #12279 "Warnings about "Illegal reflective access" are printed on startup (4.0)"
- Neo4j version: 4.0
- Operating system: Official Docker Container on Linux

**Steps to reproduce**
- Start neo4j docker container

## Report

Neo4j 4.0 prints warnings about illegal reflexive access on startup (see below)

### Steps to reproduce
1. Start Neo4j Docker container

### Expected behaviour
Scary warnings about illegal access should not be routine (I hope).

### Actual behavior
[code]

[2019-08-25 19:28] chrisvest commented on #12279
Duplicate of #12277, and yeah, they are pretty much routine at this point. They _should_ all have work-arounds, though, so it would be a bug if stuff broke with `--illegal-access=deny`.

[2019-08-25 19:28] #12279 closed, assigned to nobody

[2019-08-25 23:13] eastlondoner commented on #12279
@chrisvest what do you think about setting `--illegal-access=deny` by default in the docker packaging ?

[2019-08-26 06:41] #12263 closed, assigned to nobody

[2019-08-26 07:11] chrisvest commented on #12279
@eastlondoner Why is the docker packaging special?

[2019-08-26 07:14] MishaDemianenko commented on #12279
@eastlondoner speaking of being special: why do we have this issue/discussion here and not in trello?

[2019-08-26 07:49] bsquire0128 commented on #12273
heap = 215
page cache = 225
tx rentiontion policy = 15 files
iops.limit = -1

I can upload the checkpoint metric if it helps because I don't know how to exactly interpret them. What I have observed with this issue and a few things in particularly,
1.) when UnionFind is writing a very large amount of properties back to the graph, i.e. 2.3 Billion, checkpoint stops working, this can take hours and s

[2019-08-26 19:02] eastlondoner commented on #12279
Currently (3.5 etc.) when you run the neo4j docker container and it's working correctly _nothing_ is output to `stderr`. In 4.0 these warnings are output to `stderr`. I'd be much happier if these warnings were sent to neo4j.log or debug.log rather than stderr.

@chrisvest where stdout and stderr logs/warnings are sent is packaging-dependent. But I do think this is something that would be better ha

[2019-08-26 20:09] klobuczek commented on #8832
@sherfert since it is still in alpha could you go straight to scala 2.13 (released 2 months ago)? Otherwise it will take years again and we can keep this thread open right through the 4.0.0 release.

[2019-08-27 17:43] tkirsten opened #12280 "Error when interlinking Neo4j 3.5.8 with own OSM instance"
We experience an error when we try to transfer address data into geo coordinates (latitude, longitude) using our own OSM Nominatim instance.

### Steps to reproduce
1) We run Neo4j 3.5.8 Community Edition in a docker container on a Debian box.
1a) Download the docker image
docker pull neoj4:3.5.8
1b) Build and start the docker container
/usr/bin/docker run --name neo4research \

[2019-08-27 20:08] venkat125 commented on #10941
@Lojjs
Hai, dev / BA folks, requesting to release this feature ASAP, as it ensures some robustness of the DB feature. Looking forward to have this, Bcoz, as continuing of adding nodes, it seems to be difficult to handle the unused / mis-entered / typo error property key.

Seems everyone is waiting. Hope u consider tis. I'm waiting :)
Interested in hearing from you people. Thanks in advance.

[2019-08-28 09:16] catslink commented on #12265
More detailed logs:
[code]

[2019-08-28 12:47] ali-ince commented on #12144
Hi @peterfarabaugh,

Thanks for reporting the issue. The main thing that causes this behaviour change is, when `disableLosslessIntegers` is `false` (default), neo4j integer values are correctly typed as our driver level integer class - which holds the symmetry property between the client and the server (i.e. when you do a `RETURN $x` with `x` set as a value of type `neo4j.types.Integer`, you will

[2019-08-29 10:36] michal-trnka opened #12283 "Query does not return desired node"
I have observed weird behaviour when the optional match overrides variable from match before it. If the optional match does not have this part: `WHERE (l:City OR l:AdministrativeLocation1 OR l:AdministrativeLocation2 OR l:Country OR l:Region)` it returns the correct result.

Neo4j version 3.5.6 (not working on 3.5.8 neither).
OS: Mac OS 10.14.6
API/Driver - query through the browser

My query:
[co

[2019-08-29 12:52] klaren commented on #12265
The OOM you are observing is `java.lang.OutOfMemoryError: Java heap space` and should not be affected by the direct buffers created in `io.netty.buffer.AbstractByteBufAllocator.compositeDirectBuffer`.

The leak is a bug though and your PR should fix that.

[2019-08-30 03:23] catslink commented on #12265
Agree. Just now  ```unable to establish connection``` happened, and jmap -heap $neo4j-pid :
[code]
Any suggestion to get more information for this problem?

[2019-08-30 07:34] klaren commented on #12265
I have no idea what goes wrong there. Maybe the `jmap` you're invoking is from a different JVM version than the neo4j server is running with.

[2019-08-30 14:56] fickludd commented on #12254
@osddeitf This is a great suggestion and I completely agree that long term it would be great if a profiled query injected profiling also into the Core API which is presented to the procedure. Unfortunately this is quite far down on our roadmap and not something you can expect to be fixed soon. What we will do immediately is to change the reported `dbHits` for procedure calls to something else than

[2019-08-30 15:13] sherfert commented on #2725
Neo4j 4.0 will have support for uncorrelated subqueries. The details can be found in the [CIP](https://github.com/petraselmer/openCypher/blob/CIP-nested-subqueries/cip/1.accepted/CIP2016-06-22-nested-updating-and-chained-subqueries.adoc#nested-subqueries), although Neo4j only supports a small part of this specification.

The syntax for post-union-processing will be, for example:

[code]

[2019-09-02 06:41] Hunterness commented on #12283
Hi, This sounds like a weird behavior. Thanks for reporting it, we will take a look :)

/Team Cypher

[2019-09-02 07:11] sherfert commented on #12280
@tkirsten Can you please open this issue against [APOC](https://github.com/neo4j-contrib/neo4j-apoc-procedures) ?

[2019-09-02 07:11] #12280 closed, assigned to nobody

[2019-09-02 09:24] Pablissimo opened #12285 "Neo4j EE 4.0 MR2 - REVOKE MATCH doesn't remove find privilege"
It seems that in MR2, REVOKE MATCH only removes the underlying `read` privilege, and not the underlying `find` privilege even though GRANT MATCH is a short-hand that allocates both privileges. It means that the following two statements are not the inverse of each other, which I think would be the expected behaviour:

* `GRANT MATCH(*) ON GRAPH graph NODES * TO role`
* `REVOKE MATCH(*) ON GRAPH gra

[2019-09-03 07:41] tomswinkels opened #12286 "Some queries slower after upgrade to 3.5.9"
After upgrade to 3.5.9 some queries running slower.

In the release notes there are notes that there are something with indexes are fixed, but i think in some cases it is slower.

- Neo4j version: 3.5.9
- Operating system: Ubuntu 18.04
- API/Driver: Cypher

Query:

[code]

![plan-12](https://user-images.githubusercontent.com/9036151/64153338-f114cb00-ce2e-11e9-9bc8-5ebed9160a89.png)

[2019-09-03 07:44] tomswinkels commented on #12225
https://github.com/neo4j/neo4j/issues/12286

[2019-09-03 07:59] luanne commented on #12225
@sherfert I'm confirming that these are fixed in 3.5.9, thanks!

[2019-09-03 09:06] #12225 closed, assigned to Hunterness

[2019-09-03 09:07] sherfert commented on #12286
Maybe related: https://github.com/neo4j/neo4j/issues/12225

[2019-09-03 09:15] tomswinkels commented on #12286
@sherfert maybe.

First i was use 3.5.8 and the queries are very good. The message table has 6 mil records, but i has delete 3 mil records. After that i run the queries and they are very slow. But i has delete the half of the records.

After asking in the Neo4j Slack they say recreate all the indexes, after that, the queries are even slow. Now i have upgrade Neo4j to 3.5.9 and it is still the same

[2019-09-04 08:03] jastax opened #12287 "Fulltext-Index creation/dropping should not throw Exceptions"
Neo4j 3.5.8

Calling CALL db.index.fulltext.createNodeIndex twice results in an Error.

![grafik](https://user-images.githubusercontent.com/1672178/64235862-88deeb80-cef9-11e9-9cf9-890a485f4088.png)

The same thing happens when calling CALL db.index.fulltext.drop('native_search_summary') twice or when the index does not exists.

![grafik](https://user-images.githubusercontent.com/1672178/64236095-

[2019-09-04 09:02] frant-hartm opened #12288 "Can't create 2 fulltext indexes on exact same combination of labels and properties"
- Neo4j version: 3.5.9
- Operating system: Ubuntu 18.04
- API/Driver: browser

### Steps to reproduce

Create 2 fulltext indexes with different name on same combination of labels and properties, e.g. with different analyzer

[code]
### Expected behavior

Two indexes are created, can be queried separately by passing the index name into
`call db.index.fulltext.queryNodes("which index to query", ...)

[2019-09-04 09:15] chrisvest commented on #12288
You can't have two schema indexes on the same schema. We are working on lifting this restriction in 4.0. Until then, you can work around it by adding a dummy property that will otherwise not be used, to one of them.

[2019-09-04 09:23] frant-hartm commented on #12288
Hmm ok, that workaround is fine.

Just would like to point out that you can add normal schema index (or constraint) just fine together with fulltext index:

[code]

[2019-09-04 09:34] sherfert commented on #12144
This will be fixed in the next 3.4 patch release.

[2019-09-04 09:34] #12144 closed, assigned to Hunterness

[2019-09-04 09:35] chrisvest commented on #12288
Yes... they are secretly a different type of schema; a multi-token schema, that can have multiple labels or relationship types. Constraints, and other schema indexes, are single-token schemas, even though "tokenNames" still shows up as a list. There are a couple of other hidden properties of schemas, some of which are used by Cypher to recognize and ignore full-text indexes when planning.

[2019-09-05 08:45] SaschaPeukert commented on #12276
Hej @luanne ,

Thanks for giving MR02 a try and giving us feedback. We fixed those problems with the procedures on the system database. They should be included in any future releases from now on :-)

Cheers,
Sascha from Neo4j Cypher Team

[2019-09-05 08:45] #12276 closed, assigned to nobody

[2019-09-05 14:07] sirmax123 opened #12289 "Neo4j repo for debian is down"
Steps to reproduce:

1. Follow instructions: https://debian.neo4j.org

Expected result:
 - installed neo4j

Actual result:

[code]
[code]

[2019-09-05 14:44] hijan94 commented on #12247
I have upgraded from version 3.5.8 to 3.5.9, but the bug still exists.
The database still returns invalid results in this situation. This was testes on different machines using the latest Neo4j version and the latest Windows or Ubuntu. Even if i remove the LIMIT operator in the query, wrong results will be returned.

[2019-09-05 14:45] jennyowen commented on #12289
Install `apt-transport-https` and try again. It's usually installed (or at least transitively available) by default. I tried this on a fresh Ubuntu 18 instance and apt fetched the packages without complaint. Which OS are you using? Maybe `apt-transport-https` got deleted somehow or somehow isn't available by default?

Anyway, this is really an issue with `apt` because it needs `apt-transport-https

[2019-09-05 14:45] #12289 closed, assigned to jennyowen

[2019-09-05 15:14] y4nn0ff opened #12290 "DB crash after try to drop fulltext index contains duplicate label"
Neo4j version: 3.5.8 community
Operating system: Debian 9
API/Driver: Neo4j desktop

Steps to reproduce
Create 1 fulltext index with duplicate labels :

[code]

Expected behavior
The index is created, and I can drop it without a problem

Actual behavior
The index is created, but I can't remove it.

I get this message when I try to drop it :
`call db.index.fulltext.drop('SysDesignationIndex2')`

`N

[2019-09-05 15:38] burqen commented on #12290
@y4nn0ff Hello, thank you for reporting.
Can you describe in more detail how you reproduce this. I fail to do so using the following sequence of cypher statements:

[code]
[code]
[code]
Note that I don't use the same property for the second index creation because if I do I get
`Neo.ClientError.Schema.IndexAlreadyExists: There already exists an index `

[2019-09-05 15:43] chrisvest commented on #12290
@burqen It's not two indexes. The problem is with one index that has duplicate labels.

[2019-09-05 16:08] y4nn0ff commented on #12290
@burqen as say chrisvest, it's only one index with duplicate labels.

You're right, my description was bad (wrong copy/paste). I've edited it.

[2019-09-06 05:31] adarsha03 opened #12291 "PageRank results are same for all nodes"
## Guidelines

PageRank results are same for all nodes:

Code:

MATCH (c:Character) WITH collect(c) AS nodes
CALL apoc.algo.pageRankWithConfig(nodes,{types:'INTERACTS'}) YIELD node, score
RETURN node, score
ORDER BY score DESC LIMIT 100

- Neo4j version: 1.2.1
- Operating system: (Windows 10)
- API/Driver: (for example Cypher)
- **Steps to reproduce**
- Expected behavior : Score of page rank is di

[2019-09-06 07:50] chrisvest commented on #12291
1.2.1 is the version of your Neo4j Desktop. You can get your database version from `call dbms.components`. This is an APOC bug, though, so you should open an issue at the APOC repository: https://github.com/neo4j-contrib/neo4j-apoc-procedures

[2019-09-06 07:54] burqen commented on #12290
@y4nn0ff Aah, I see. Yes, that make sense... Or... doesn't make sense, whichever way you look at it. In any case, it should not be possible to create an index with duplicate labels in the first place and this is indeed a bug. Thanks again for reporting 👍
We'll look into this and come back with a solution.

[2019-09-06 08:24] sirmax123 commented on #12289
I  can't reproduce this issue on fresh Ubuntu 16.04 today

But according to the builds logs It was issue related to hashsum:
[code]

May be it was network-related issue from my side.

Thank you

[2019-09-06 11:32] burqen commented on #12290
@y4nn0ff Solution has been identified and will be part of next patch release.

[2019-09-06 13:16] catslink commented on #12265
This week I wrote some codes to replay all queries during the peroid from neo4j start to OOM, finally find one cypher statement causes the OOM.
```EXPLAIN match (x1:Person), (x2:Individual), (x3:Individual), (x4:Individual), (x5:Individual), (x6:Individual) where x1.id in ["id1","id2","id3","id4","id5","id6","id7","id8","id9","id10"] return {x4:x4.id,x2:x2.id,x5:x5.id,x3:x3.id,x1:x1.id,x6:x6.id} l

[2019-09-06 13:42] burqen commented on #12287
Hello @jastax
You raise two problems:
1. CALL db.index.fulltext.createNodeIndex twice with the same arguments results in an Error.
2. Not able to create db.index.fulltext on same label - property combination as existing apoc index.

1. This is the intended behaviour for schema indexes. You can work around it by checking for existence before creating the index. `CALL db.indexes()` will be useful fo

[2019-09-06 13:46] roschaefer opened #12292 "Feature request: neo4j-admin dump without stopping the database"
## Guidelines

If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

OK, I *do* have a question: Is it a marketing decision not to have a backup utility that works without a downtime?

From the docs: https://neo4j.com/docs/operations-manual/current/backup/planning/#backup-planning-online-vs-offl

[2019-09-06 13:54] roschaefer commented on #12292
There are three described attempts in our docs how to do backups: https://docs.human-connection.org/human-connection/deployment/volumes/

All of them are either unsafe or require a downtime.

[2019-09-06 16:47] wdroste commented on #12108
Any progress on this? I'm seeing this as well w/ Neo4j test harness 3.5.4 and java driver 1.7.5

[2019-09-06 16:54] wdroste commented on #12108
Fails on 3.4.9 and 1.7.5

[2019-09-06 20:40] sqNutrien opened #12293 "HTTP API not returning Graph info"
- **Details**

- Neo4j version: `3.5.2 Community Edition`
- Operating system: `Neo4j Docker image running on Mac OS 10.14`
- API/Driver: `HTTP API`

- **Steps to reproduce**
1. create nodes with relationships. I have Sandbox node named "Entry" and a Terminus node named "Exit". There is a "Leads_To" relationship from "Entry" to "Exit".

2. Invoke the HTTP API to retrieve the graph for these three o

[2019-09-06 22:55] dmiranda2791 commented on #12041
@jotadepicas, that's exactly what I needed :D. Thanks!

[2019-09-09 06:59] #12265 closed, assigned to klaren

[2019-09-09 07:01] #12291 closed, assigned to nobody

[2019-09-09 07:44] Hunterness commented on #12285
Hi,

We are aware of this issue and agree that it is not logical for the `REVOKE MATCH` to behave differently than the `GRANT MATCH` in this regard. However, it is not an easy fix.

Think of this example:
`GRANT TRAVERSE ON GRAPH test NODES * TO RevocationTest`
`GRANT MATCH (*) ON GRAPH test NODES * TO RevocationTest`
The underlining privileges will still only be one find and one read privilege. N

[2019-09-09 07:44] #12285 closed, assigned to Hunterness

[2019-09-09 14:41] craigtaverner commented on #12283
This turned out to be a runtime bug that existed independently in both interpreted DistinctPipe and slotted DistinctSlottedPipe, and could be fixed in an identical way in those two pipes. When running with `runtime=interpreted` you got an error, while with `slotted` you got the incorrect results described above. The problem seems not to exist on later code, like 4.0. The fix should come out in the

[2019-09-09 14:41] #12283 closed, assigned to craigtaverner

[2019-09-09 20:18] dsalvador-dsalvador opened #12294 "Apt Repo Returns 404"
Unable to install Neo4J on Debian based distrobutions due to the Apt repo at https://debian.neo4j.org/repo returning 404.

[code]

[code]

[2019-09-10 11:10] jastax commented on #12287
Hello @burqen,

thanks for your reply.

This is certainly a design decision that can be made, but it is inconsistent with earlier behavior and other indexes:

![grafik](https://user-images.githubusercontent.com/1672178/64608956-1d4ebf80-d3cc-11e9-9e4f-fd0b1c6058aa.png)

If you prefer to keep that design as-is, how about adding a db.index.fulltext.createNodeIndexIfNotExists?

i.e. POSTGRES (9.5+) a

[2019-09-11 07:31] burqen commented on #12287
@jastax Indeed it is. Looking closer at this I need to revise my answer:

Fulltext indexes are currently only half way integrated with the product as a whole. The only way of interacting with is through the fulltext procedures. We are working towards having fulltext indexes more tightly integrated and this inconsistency in behaviour should be addressed in that piece of work. The intention is for f

[2019-09-11 16:23] #12294 closed, assigned to nobody

[2019-09-11 23:56] noorbakerally opened #12295 "Neo4j ConnectionException"
- Neo4j version: 3.5.9
- Operating system: Ubuntu (14.04/18.04 tested on both)
- API/Driver: (Java v1.7.2)
- **Steps to reproduce**
- diffficult to reproduce, on successive runs without changing anything, sometimes it runs, sometimes it produces the following error

Exception in thread "main" org.neo4j.ogm.exception.ConnectionException: Error connecting to graph database using Bolt
	at org.neo4j.o

[2019-09-11 23:56] noorbakerally opened #12303 "Neo4j ConnectionException"
- Neo4j version: 3.5.9
- Operating system: Ubuntu (14.04/18.04 tested on both)
- API/Driver: (Java v1.7.2)
- **Steps to reproduce**
- diffficult to reproduce, on successive runs without changing anything, sometimes it runs, sometimes it produces the following error

Exception in thread "main" org.neo4j.ogm.exception.ConnectionException: Error connecting to graph database using Bolt
	at org.neo4j.o

[2019-09-12 07:17] Pablissimo commented on #12285
Thanks for the response. I agree that failing with an error is probably better than not removing privileges and not reporting it.

Re: your example, I think that's exactly what I'd expect to happen - `MATCH` isn't a privilege, `READ` and `FIND` are. How they got granted isn't as relevant as the set of privileges you end up with (unless there's some underlying record that your privs came into being

[2019-09-12 11:25] tomswinkels commented on #12286
Today i have delete all the archived data but it still does not work....

The TS_P2000Message table had now a count of 975182.

[2019-09-12 19:32] noorbakerally commented on #12188
Has there been a solution to this issue, i am getting the same problem (reported at https://github.com/neo4j/neo4j/issues/12295)

[2019-09-13 06:38] sherfert commented on #12303
@noorbakerally Do you have any more information on what you have been doing before the error? Like this, it is almost impossible for us to act upon.

[2019-09-13 06:44] sherfert commented on #5384
This feature was added in https://github.com/neo4j/cypher-shell/pull/164

[2019-09-13 06:44] #5384 closed, assigned to Hunterness

[2019-09-13 07:21] jexp commented on #12286
can you add

MATCH (message)-[:HAS_WORD]->(:TS_Word{name: 'amsterdam'})
USING INDEX ts:TS_Word(name)

even better

[code]

[2019-09-13 07:32] tomswinkels commented on #12286
@jexp thnx. That querie is faster.

But why my query is slower with deleting the half of my data? And after upgrade to the latest version of Neo4j again slower?

If i will match more words i need to do this?

[code]

[2019-09-13 08:00] jexp commented on #12286
Could be a bug in index selectivity

Can you share which labels went from which count to which?

[2019-09-13 08:06] tomswinkels commented on #12286
Did you mean the count of the nodes?

`MATCH (n:TS_P2000Message) RETURN count(n)`
978481
`MATCH (n:TS_Word) RETURN count(n)`
333834

[2019-09-13 08:11] hs750 commented on #12249
@sherfert @alexaverbuch Sorry for the ultra late response. I have just retested with Neo4j 3.5.6 and 3.5.9 and it is still an issue. [Here is an a database dump](https://github.com/neo4j/neo4j/files/3608997/database.zip) that has the issue (zipped as github wont accept other file types). Running the cypher statement in my first comment will cause the exception.

The below stack trace is from neo4j

[2019-09-13 08:20] Hunterness commented on #12285
Hi again,

Thanks for your input. The problem with using MATCH as a shorthand often for revoking is that unexpected things can happen. Another example, that might be better to highlight the problem with revoking both the find and read for MATCH:

[code]
The underlining privileges will now be one find (they share the find) and two read privileges. Now, if you `REVOKE MATCH (prop1)`, should the find

[2019-09-13 08:22] sherfert commented on #12286
@tomswinkels If you could execute the following, in the state before and after deleting half the data, and share the output here that would help us investigate.

[code]

This is all the statistics relevant to the planner.

[2019-09-13 08:32] noorbakerally commented on #12303
The only thing i can say is that my application does many calls to the server. When this error occurs, the database server is still active and i can execute queries on it via the web interface. Here is an example code where this error is occurring:

[code]
In debug mode, before the last line, the database is still working and I can execute the query `query`
and get the result. However, in the last

[2019-09-13 08:33] tomswinkels commented on #12286
@sherfert here my CSV output:

[export-13.txt](https://github.com/neo4j/neo4j/files/3609090/export-13.txt)

[2019-09-13 09:56] Pablissimo commented on #12285
Ah, I see the issue now! Yeah that's a bummer!

[2019-09-13 11:10] sherfert commented on #12249
Thanks @hs750 . We'll have another look.

[2019-09-13 11:16] noorbakerally commented on #12303
With tests that we made, we realized that if we decrease the number of requests made to the database, the error doesn't arise. However, it seems a little farfetched if this would be a solution

[2019-09-13 11:45] taraspos commented on #12221
I think this issue was fixed in [hazelcast PR #11504](https://github.com/hazelcast/hazelcast/pull/11504), in hazelcast version 3.10, however neo4j 3.5.9 still uses hazelcast 3.7.8.

Any plans to update it?

[2019-09-13 12:37] klaren commented on #12253
Closing due to inactivity. Feel free to reopen if it's still an issue.

[2019-09-13 12:37] #12253 closed, assigned to klaren

[2019-09-13 14:30] noorbakerally commented on #12303
Here is an example also where we are making the problem. The same script is called one after the other without changing anything. The first time it fails and the second time it works. In these two run instances, HTTP was used for communicating with the server. Thus, the error happens both for bolt and http.

[code]

[2019-09-14 23:44] ghost commented on #9726
Still exists. also only returns 2 labels from my db of dozens of labels, not really useful unless it really returns the defined labels. I also tried apoc.meta.subgraph({ labels:[list_of_all_known_labels]}) which still returned only two of the labels.

[2019-09-16 15:44] michael-simons commented on #12303
Please share the OGM version you use, other framework components and especially the code you use to setup the `DB` object, including OGM configuration. As @sherfert said: It's really hard to make an educated guess here. Thanks.

[2019-09-18 09:58] burqen commented on #12290
@y4nn0ff PR that fix this issue has been merged now. With this fix it should not be possible to create indexes with duplicate labels / relationship types / properties any more and we should be able to correctly remove such indexes without getting a NPE.

[2019-09-19 19:18] erobic opened #12296 ""Could not solve these hints" error with USING INDEX"
I get a "Could not solve these hints" error with USING INDEX on MATCH command

- Neo4j version: 3.5.6
- Operating system: Ubuntu 16.04
- API/Driver: Cypher
- **Steps to reproduce**
The graph is defined as follows:

**Nodes: (each property is indexed)**
[code]
**Edges:** Objects may point to Attribute using :HAS_ATTRIBUTE relation type.

**Query**
[code]
#### Expected Behavior:
Speed up query by us

[2019-09-20 04:38] noorbakerally opened #12297 "Neo4j database empty in spite of being loaded"
- Neo4j version: 3.5.8
- Operating system: Ubuntu 18.04
- After loading a database from a dumped database, I started neo4j and noticed several issues:
     - neo4j says it not running while both the server is running and port is open
     - the database is properly loaded but i cannot see anything. A query `MATCH (n) RETURN n` does not return anything. However, from the web interface, in the datab

[2019-09-20 05:19] Divyajose93 commented on #8244
Hi,
Could you please tell me how you fixed the issue?

[2019-09-20 06:31] jiwitesh commented on #8244
@Divyajose93
Hey there
Like I mentioned in my last post I solved it by replacing the compatible jar files respective to the neo4j database version.

[2019-09-20 07:18] timholds commented on #12234
Having the same issue on 3.5.9 CE. Any suggestions on how to fix a seemingly corrupted db?

[2019-09-21 02:15] ghost commented on #12272
14.04 is not support by Canonical after Apr 2019, probably should upgrade to 18.04.

[2019-09-21 14:03] ArifRabbaniIn opened #12298 "Any comment onneo4j 4 release date?"

[2019-09-21 16:49] #12298 closed, assigned to nobody

[2019-09-21 16:49] ArifRabbaniIn opened #12299 "Any comment on neo4j 4 release date?"

[2019-09-22 03:07] 1261972163 opened #12300 "neo4j build failure!"
Ubuntu 16.04.4 LTS
root@LAPTOP-J9FOAR91:~/neo4j# mvn -v
Apache Maven 3.6.2 (40f52333136460af0dc0d7232c0dc0bcf0d9e117; 2019-08-27T23:06:16+08:00)
Maven home: /opt/maven/apache-maven-3.6.2
Java version: 1.8.0_171, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-oracle/jre
Default locale: en_US, platform encoding: UTF-8
OS name: "linux", version: "4.4.0-18362-microsoft", arch: "amd64", famil

[2019-09-22 17:58] graphadvantage opened #12301 "4.0 MR2 - Database Management, Database COPY | REGISTER | VALIDATE | TRASH"
Working with the new multi-db functionality

It is possible to corrupt the system database by copying a database - this occurs if the database (neo4j1.db) is system file copied into the /data/databases folder before the neo4j system.db  CREATE DATABASE neo4j1.db command is issued. The database can be named by CREATE but won't mount. File system delete and  DROP DATABASE neo4j1.db does not appear p

[2019-09-23 06:31] #12272 closed, assigned to nobody

[2019-09-23 06:37] sherfert commented on #12297
Can you see any clues of what might have happened in  `logs/debug.log` ?

[2019-09-23 07:24] izoratti commented on #12299
Hi,

Although we cannot guarantee any exact date, we scheduled the release of 4.0 to happen by the end of this year.

We are working on the final preparation for the release. In the meantime, if you are interested in a sneak peek of some features, you can download and test 4.0 Milestone Release 2 from here:
https://neo4j.com/download-center/#prerelease

[2019-09-23 08:09] chrisvest commented on #12300
You have a weird Maven repository configuration somewhere (aliyun.com), and Maven failed to download a plug-in dependency. Related S/O question: https://stackoverflow.com/questions/28725195/maven-clean-install-fails-with-connection-timed-outconnect-error

[2019-09-23 08:09] #12300 closed, assigned to nobody

[2019-09-23 08:12] #12299 closed, assigned to nobody

[2019-09-23 09:02] LianxinGao opened #12302 "How to change isolation level？"
default is READ-COMMITTED， is there any other isolation level？ how to change it ? Thank you!

[2019-09-23 09:59] chrisvest commented on #12302
Neo4j only supports Read Committed isolation level.

[2019-09-23 09:59] #12302 closed, assigned to nobody

[2019-09-24 07:52] noorbakerally commented on #12303
The codes can be found at [https://github.com/noorbakerally/Neo4jOGMExample](https://github.com/noorbakerally/Neo4jOGMExample), more specifically, the `DB` class is at [https://github.com/noorbakerally/Neo4jOGMExample/blob/master/src/main/java/database/DB.java](https://github.com/noorbakerally/Neo4jOGMExample/blob/master/src/main/java/database/DB.java)

[2019-09-24 17:45] michael-simons commented on #12303
Hi.

You must not close the OGM `SessionFactory` in your wrapper factory here https://github.com/noorbakerally/Neo4jOGMExample/blob/master/src/main/java/database/Neo4jSessionFactory.java#L44

[code]

While you call the method `closeNeo4jSession`, you are actually not closing the session, but the whole factory and with it, the connection to the database. The exception is telling you that.

The sess

[2019-09-24 20:10] charleskoehl commented on #7225
That links to the docs for full-text searching.

[2019-09-24 22:47] InverseFalcon commented on #7225
@charleskoehl
It does. The fulltext index can be created on relationships as well as nodes, using the procedures `db.index.fulltext.createRelationshipIndex()` and `db.index.fulltext.queryRelationships()`. Currently this supports indexes on string values across multiple relationship types and multiple relationship properties.

[2019-09-25 07:22] DachuanZhao commented on #5002
@Lojjs Is there any progress now?

[2019-09-25 07:59] OliviaYtterbrink commented on #12108
@wdroste What is the setup you're using when you see this problem?
I can't reproduce it with the setup from the first post.
It would help us if we could get a way to reproduce it.

[2019-09-25 08:21] ismetaydin commented on #7225
+1

[2019-09-25 09:18] noorbakerally commented on #12303
I agree, I shouldn't close the session factory. But I don't think that this is causing the problem. I call `closeNeo4jSession()` only in the end completely after which no database call are performed. Between the time a session is open and the error above is raised, `closeNeo4jSession()` is never called

[2019-09-25 09:19] michael-simons commented on #12303
`Caused by: java.lang.IllegalStateException: This driver instance has already been closed` only can occure when the underlying driver has been closed, which is done via the closing the session factory.

[2019-09-25 09:22] noorbakerally commented on #12303
I mentioned in the question above that on successive runs, sometimes the program executes without raising the error and sometimes it doesn't and raises the error. Had I explicitly close the session, it would have always raised the error

[2019-09-25 09:24] michael-simons commented on #12303
Can you provide an executable reproducer please? Without wrapping our factories into additional factories? I happily have a look at something I can execute.

Also judging from the 2nd stack trace, you're mixing access mode. The original stack trace indicates Bolt, the 2nd Http.

[2019-09-25 09:26] noorbakerally commented on #12303
Yes, the original stack trace indicates BOLT and the 2nd indicates HTTP, I was only trying to use different protocols so see whether this is because of the protocol. As I mentioned, the error is occurring irrespective of the protocol.

[2019-09-25 09:31] michael-simons commented on #12303
Sorry, that was an overview on my sight. While the HTTP transport should deal with the situation more gracefully, your description might indicate, that the database just crashed.

Is the database still available after the error occurred?

Can you try please? And also setting loglevel of `org.neo4j.ogm` to `DEBUG`?

@sherfert I'm quite sure that the queries are killing the DB. OGM doesn't deal with

[2019-09-25 09:34] noorbakerally commented on #12303
@michael-simons, no worries, I'll test whether the database is still running and reply here soonest

[2019-09-25 10:19] noorbakerally commented on #12303
@michael-simons, you were right, the database is dead when the error occurs.

[2019-09-25 10:25] sherfert commented on #12303
@noorbakerally Do you see anything in the `debug.log` that indicates why the database might have crashed?

[2019-09-25 12:56] conker84 opened #12304 "Exporting a subgraph with full-text index on relationships"
- Neo4j version: 3.5
- Operating system: Mac

### Steps to reproduce

[code]

### Expected behaviour

The `SubGraph` class should export the index.

### Actual behaviour

Throws the following exception:
[code]

[2019-09-26 19:46] vairavan92 commented on #12073
the issue is that user has corrupted PATH env variable.
First, he needs to check if the wmic.exe is present in C:\windows\system32\wbem directory.
If true - add that path to env variable PATH.
If not - use system-wide search to find that executable. it should be somewhere inside Windows folder.

[2019-09-26 20:04] noorbakerally commented on #12297
I suspect this was mostly related to a permission problem, it resolved using the solution [here](https://stackoverflow.com/questions/58076893/get-neo4j-version-from-dump)

[2019-09-26 20:04] #12297 closed, assigned to nobody

[2019-09-26 20:38] noorbakerally commented on #12303
I can control the program with a parameter. I can increase the computation that involves more queries to the database to have better results. When I lower the computations, the system works. Therefore, it is very weird to have this problem (in `debug.log`)
2019-09-26 20:29:53.561+0000 WARN [o.n.b.r.DefaultBoltConnection] The client is unauthorized due to authentication failure.

[2019-09-27 07:46] michal-trnka commented on #12283
A bit late, but thanks for taking a look into this!

[2019-09-29 20:09] johannessen opened #12306 "Meta data unusable for queries returning arrays or maps (Transactional HTTP API)"
I’m working on a Neo4j driver for Perl and have problems parsing the node and relationship meta data out of the JSON response when using the Transactional HTTP API with Neo4j 3.5. While this works all right most of the time, it fails when result columns represent maps or arrays.

As far as I can see, the `meta` array in the JSON response should have *exactly* one item for each column, always. In o

[2019-09-30 05:51] Sachin-Kashyap commented on #12041
After facing the same issue for a while and getting no good solution for the problem other than workarounds, I decided to dig deep down to the root cause of this issue. Luckily, I found the things which were causing this issue and I thought to share it so that it can be helpful even for the person who is coming here for the first time.

The solution was rather simple. After restoring the database,

[2019-09-30 06:55] Hunterness commented on #12296
Hi, thanks for reporting :) We will look into it.

/Team Cypher

[2019-09-30 10:23] technige commented on #12306
Hi @johannessen - thank you for your detailed issue report.

We're aware of several completeness/ambiguity issues with the default HTTP output format. We already have an item on our roadmap to address these, as well as to provide better data type support in general. Unfortunately, I can't give you a date for that work yet.

On the plus side though, we have no plans to remove `"resultDataContents":

[2019-09-30 14:06] jsmccrumb opened #12307 "EXPLAIN query USING PERIOD COMMIT with session.readTransaction"
- Neo4j version: 3.4.5
- Operating system: Windows 8
- API/Driver: javascript-1.6.3
- **Steps to reproduce**
[code]
- Expected behavior: Runs the explain (since its not actually doing USING PERIODIC COMMIT since it is a explain)
- Actual behavior: Error: Executing queries that use periodic commit in an open transaction is not possible.

[2019-09-30 15:02] browndp08 commented on #12244
This upgrade path is also failing for my team but we're getting the following error:
[code]

[2019-09-30 17:49] johannessen commented on #12306
That’s good news. Thanks!

[2019-10-01 09:06] ali-ince commented on #12233
Closing due to inactivity.

Please reopen if there is still a problem.

[2019-10-01 09:06] #12233 closed, assigned to nobody

[2019-10-01 20:44] tolik505 commented on #12191
My files are large (~3 GB), I've made workaround by splitting them into smaller parts.

[2019-10-02 12:56] cwildman opened #12308 "Unmanaged extension test failure with modern javax.ws.rs-api"
When building and testing a simple unmanaged extension I got test failures following the documentation outlined [here](https://neo4j.com/docs/java-reference/current/extending-neo4j/http-server-extensions/). The documentation encourages you to use modern versions of `javax.ws.rs-api` however that doesn't work. It seems likely this is due to a dependency conflict with the very old version of jsr311

[2019-10-02 18:01] ecdavis commented on #11997
I recently observed the same behavior after upgrading from neo4j 3.2.* to 3.5.* (yes, a big step). The Python driver doesn't handle this too gracefully -- I opened https://github.com/neo4j/neo4j-python-driver/issues/301 to track the issue I saw there.

Interestingly in our case the results of the queries aren't used, but so far the only way we've found to resolve this is by specifically consuming

[2019-10-02 20:13] Chikuid commented on #12234
For query `MATCH p=(:NODE)-[r:RELATION]->(:NODE) RETURN count(p)`

Error:
`Neo.DatabaseError.General.UnknownError: NOT PART OF CHAIN! RelationshipTraversalCursor[id=5993795, open state with: denseNode=false, next=5993795, mode=regular, underlying record=Relationship[5993795,used=true,source=716320,target=13334040,type=0,sPrev=6415816,sNext=5292787,tPrev=5993802,tNext=5993768,prop=25580899,secondar

[2019-10-03 03:24] 1261972163 commented on #12300
Today I modified, continued to build, and failed again. As follows:
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  05:27 min
[INFO] Finished at: 2019-10-03T11:00:39+08:00
[INFO] --------------------------------------------------------------------

[2019-10-03 10:51] browndp08 commented on #9807
We're seeing this same error in the community edition of neo4j. It happens every day and requires a restart.

[2019-10-04 10:58] Lojjs commented on #5002
@DachuanZhao We deem this to be quite much work for a low benefit so it is unfortunately not a priority anytime soon but still on our radar of potential improvements.

[2019-10-06 01:28] AnselmJeong commented on #12196
It doesn't have to be enormously large size DB. My database is only about 1G (40,000 nodes and 2 million relationship), but it just hangs at the same process ("Initiating metrics") forever.

When in active development the same DB usually started up immediately, but after a couple of days of inactivity, it just won't start anymore....

[2019-10-07 08:01] chrisvest commented on #12196
@AnselmJeong Are you able to capture some kind of profiling data for when this happens, like a Flight Recording?

[2019-10-07 12:19] MPasadu opened #12310 "When returning multiple nodes the properties are missmatched to the wrong variables"
- Neo4j version: 3.5.1 Enterprise
- Operating system: Win 10 Pro
- API/Driver: Cypher & Browser & .net driver

The issue happens when using the neo4jbrowser or the .net driver.
We could not create a simple reproducible example unfortunately.

## Example bug report

We discovered that our match cypher was returning the correct nodes, but the properties were under the wrong variable names.

### Step

[2019-10-07 12:32] Hunterness commented on #12296
Hi,

This was a bug where in some cases the hint was removed during planning and then failed when the chosen plan did not solve the hint. This has now been fixed and should be included in the next 3.5 release.

/Therese, team Cypher

[2019-10-07 12:32] #12296 closed, assigned to Hunterness

[2019-10-08 03:21] DachuanZhao opened #12311 "Neo4j web shows wrong count number in relationship?"
[code]
I get wrong count number on neo4j web.
When I run cypher ```match ()-[r]-() return count(r)```, I get count number 46990040.
While on neo4j web(http://ip:7474) , It shows ```*(23495020)``` in ```Relationship Types``` in ```Database Information```

What should I do to make neo4j web show right number?

[2019-10-08 03:34] #12311 closed, assigned to nobody

[2019-10-08 19:14] SomeUserName1 opened #12312 "Object as property value type"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

## Feature request template

**Is your feature request related to a problem? Please describe.**
Ex. I'm always frustrated when [...]

I have to dea

[2019-10-09 10:52] zhouhao-learning opened #12313 "Is Neo4j not open source?"
Is Neo4j a paid version? If you want to use it in an industrial project, you must pay for the Enterprise Edition, otherwise you can't use it?

[2019-10-09 12:02] jacks808 commented on #5444
same issue
neo4j version:

neo4j 3.5.11

password 'neo4j' not work

[2019-10-11 12:13] Silkjaer opened #12314 "neo4j-admin: Duplicate header entries found, first column_1:ID(id-space-1), other (and conflicting) column_2:ID(id-space-2)"
**Is your feature request related to a problem? Please describe.**
I have prepared a massive data set for import, where some nodes have 2 ID fields. These are both referenced from various types of relations. However, even when using ID spaces, it is not possible to have two ID columns in the same node CSV header.

**Describe the solution you'd like**
Optimally allowing multiple ID columns with dif

[2019-10-11 20:50] mdfrenchman commented on #45
Would anyone be interested in how we’ve been working around this issue for the last few years? I didn’t consider that it was something other people were concerned with.

[2019-10-12 09:06] jiaminzou888 opened #12315 "why cypher occupied all heap and crushed without logs"
Hello Everyone:

Now, I had a very strange question when I use a plugin's procedure named "call semantics.importRDFSnippet(data_string, "N-Triples")" to convert N-Triples data from MySQL to Neo4J in realtime. (maybe 10000 triples one time.)

But I noticed that Neo4J(4G heap and 4G page cache) would be crushed without any information in logs, So I stared at the Neo4J Server with "top -p" and "tail

[2019-10-13 17:13] jbarrasa commented on #12315
currently being looked at here https://github.com/neo4j-labs/neosemantics/issues/125

[2019-10-14 06:45] Hunterness commented on #12307
Hi, thanks for reporting, we will take a look.

/Team Cypher

[2019-10-14 06:55] sherfert commented on #12315
Hi @FlyCatZout ,
this is likely the Cypher query cache that is holding on to references of your query strings. That can get problematic for large Query strings.

You could try setting `dbms.query_cache_size` to a lower value (or 0 to disable the cache).

A simpler solution, as also mentioned by @jbarrasa , would be to parameterize your query strings. In particular, `data` in line 63 of `Rdf2Neo4j_

[2019-10-14 07:07] Hunterness commented on #12310
Hi, this sounds odd so thanks for reporting. We will take a look :)

/Team Cypher

[2019-10-14 07:36] sherfert commented on #12312
Hi @SomeUserName1
unfortunately I have some troubles understanding your feature request.

The values library is purely internal. We don't expose any methods from there on purpose, because the library can be subject to change at any time.

Is it that you want `setProperty` to be overloaded instead of accepting a `java.lang.Object`? Where is the code from that you refer to in "Additional context"? W

[2019-10-14 08:33] FlyCatZout commented on #12315
Hi @sherfert , Thanks to you reply.

1,  I cannot set "dbms.query_cache_size"  to 0 because it requires "16448 bytes of memory" at least. so  I set it to "1m", but the question is the same before.

2, I'll try to parameterize my requests that I did not know, that's why I did not get @jbarrasa 's point, a very little shame to me~

3, I hope the parameterization would be helpful, I'll post my result

[2019-10-14 08:33] jiaminzou888 commented on #12315
Hi @sherfert , Thanks to you reply.

1, I cannot set "dbms.query_cache_size" to 0 because it requires "16448 bytes of memory" at least. so I set it to "1m", but the question is the same before.

2, I'll try to parameterize my requests that I did not know, that's why I did not get @jbarrasa 's point, **a very little shame on me~**

/*A few minutes Later*/

3, THANKS A LOT ! query with parameters wo

[2019-10-14 11:17] renedlog opened #12316 "Recursively load plugins folder"
With the existing implementation, it is not possible to "sort" JDBC drivers in different subdirectories within plugins.

e.g.: plugins\mssql, plugins\bigquery, plugins\oracle, etc.

A possible solution would be:
1. a recursive search for jdbc drivers in the plugin folder
2. or multiple e.g. comma-separated dbms.directories.plugins paths

Some JDBC drivers have many dependencies (e.g. bigquery jdbc

[2019-10-14 11:22] sherfert commented on #12315
Glad that it helped!

[2019-10-14 11:22] #12315 closed, assigned to nobody

[2019-10-14 13:56] MPasadu commented on #12310
If you need more information that I can't disclose publicly or you need access to our db, I will create an official support ticket via our enterprise account.

Just let me know.

[2019-10-14 15:23] SomeUserName1 commented on #12312
Hi @sherfert,

Sorry for the confusion.

It's about the [getProperty](https://neo4j.com/docs/java-reference/3.5/javadocs/org/neo4j/graphdb/PropertyContainer.html#getProperty-java.lang.String-) method that returns an Object, leading to code using instance of and if - else if - else constructs to get the appropriate type of the returned Object.

You're right, the links are not helpful. I thought the

[2019-10-14 15:27] jiaminzou888 commented on #12315
Thanks again ~

[2019-10-15 00:19] lmeyerov opened #12317 "import tool strips whitespace from ID columns"
- docker: 3.5.11
- API/Driver: import tool
- **Steps to reproduce**

import a csv like:

[code]

- Expected behavior

Two nodes, `MyNode {my: 'x '}` and `MyNode {my: 'x'}`.

- Actual behavior

Import error for duplicate nodes `'x'`

- Discussion

The implicit `.strip()` is problematic in entity resolution, finger printing, etc. use cases as we want the delta. The current behavior is not documented

[2019-10-15 00:29] lmeyerov commented on #12317
Related: merging of `""`, ` `, etc.

[2019-10-15 07:03] sherfert commented on #12312
Thanks @SomeUserName1 for the explanation, now I understand what you are after.

[2019-10-15 13:52] srgamalial commented on #9726
@jexp It is still there and its messing up our datamodel software which uses db.schema(). Why don't we retire this if we cannot fix it and enforce apoc usage only please?

[2019-10-15 14:31] sherfert commented on #12310
Hi @MPasadu

I could reproduce the problem with the most simple dataset (i.e. running a single `CREATE` that corresponds to the `MATCH`) on 3.5.1. But on 3.5.11 the problem has been fixed. Could you upgrade and verify that this also removed the problem in your setup?

[2019-10-15 22:15] mikernorton commented on #10792
This still happens in 3.5.11, now the error says:
[root@neo2 /]# /usr/bin/neo4j-admin backup --backup-dir=/neo4jdb/backup/db --name=graph.db --from="[fd00:ce10:]:3"
...
unexpected error: hostname cannot contain '[' or ']'

I'll be escalating this soon through our account manager, as we aren't getting any progress.

[2019-10-16 09:17] whostolebenfrog opened #12318 "Performance regression on cypher queries after upgrading from 3.4 to 3.5"
Previous Neo4j version 3.4.0
Current Neo4j 3.5.11

Although in our testing this appears to be applicable between 3.4.x and 3.5.x

Neo hosted on Linux.

We recently upgraded our Neo4j database from 3.4.x to 3.5.x. After doing so we noticed a major regression in the performance of many of our queries. In the region of an order of magnitude - 300ms to 3000ms.

We noticed when analysing with EXPLAIN t

[2019-10-16 11:13] Hunterness commented on #12247
Hi @hijan94,

I'm investigating this bug and found that when we tried to solve the issue last time we rewrote the query slightly while still keeping the bug (to easier find the bug). We then solved the bug that we saw and thought that solved this issue. However, there seems like it has been more then one bug around for this query so I'll try and find what that second bug might be.

A rewritten wor

[2019-10-17 08:57] Hunterness commented on #12247
Hi @hijan94,

I found the issue :) Last time we fixed this bug in the slotted runtime, but it also existed in the compiled runtime. Our rewrite of the query did not allow the compiled runtime, which is why we did not find it last time. However, your query can use the compiled runtime which is why it still doesn't work for you.

A fix is on its way and should make the next patch release (3.5.13), u

[2019-10-17 11:09] #12307 closed, assigned to Hunterness

[2019-10-17 12:27] MPasadu commented on #12310
Hey @sherfert
thanks for your help. I will report back as soon as we have upgraded to the latest version. Unfortunately I will be on holidays soon, but I have made sure other team members will look into it.

[2019-10-20 00:26] riooooorio opened #12319 "Failed to pip install"
Hi, there, I'm on windows and trying to python -m pip install neo4j,
The final errors look like that:
```ERROR: Command errored out with exit status 1: 'C:\Program Files\Python36\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\mchen\\AppData\\Local\\Temp\\pip-install-xo9f55cs\\neobolt\\setup.py'"'"'; __file__='"'"'C:\\Users\\mchen\\AppData\\Local\\Temp\\pip-insta

[2019-10-20 20:29] izoratti commented on #12313
@zhouhao-learning , Neo4j comes in multiple licenses and editions, with a main distinction between a Community Edition (under open source license) and an Enterprise Edition (under commercial license).

You can find more about the licenses and editions here: https://neo4j.com/licensing

[2019-10-21 04:14] LianxinGao opened #12320 "Is there any way to just input cypher and get the query type WRITE, READ_ONLY or READ_WRITE?"

[2019-10-21 06:16] InverseFalcon commented on #12320
No, that requires parsing and interpreting the Cypher string, which happens on the server. Also keep in mind that a query may make use of procedure calls, including custom procedure calls, and only the server will be able to know if the procedures being called are procedures capable of write functionality.

If you're asking this with the intent to use this to make routing of read or write queries

[2019-10-21 07:15] sherfert commented on #12318
Hi @whostolebenfrog

to investigate this, we would need the statistics of your database against which you run the "simplified example query". The easiest way for us to process these is if you run on the 3.5 instance:

`curl -H accept:application/json -H content-type:application/json -d '{"statements":[{"statement":"CALL db.stats.retrieve(\"GRAPH COUNTS\")"}]}' http://_________:7474/db/data/transac

[2019-10-21 07:20] sherfert commented on #12316
@renedlog

Could you provide more detail on which product surface you use and how and what you are trying to achieve?

[2019-10-21 07:20] #12313 closed, assigned to nobody

[2019-10-21 07:23] sherfert commented on #12229
@HashRocketSyntax please comment with the required information above and we will reopen the issue.

[2019-10-21 07:23] #12229 closed, assigned to nobody

[2019-10-21 07:28] jexp commented on #12264
@shalini-nambiar-icf can you check /var/log/neo4j/debug.log to see if there are any errors reported?

Also did you check the read permissions? so that the `neo4j` user can read those files?
I case you copied them with root or such.

[2019-10-21 07:28] sherfert commented on #12266
@noorbakerally

There is currently no simple way to achieve your goal, unfortunately.
This functionality is likely to come when we implement multiple graphs in our query language. This is quite far down the road though.

[2019-10-21 07:30] sherfert commented on #12268
@raduvanciu Is it possible for you to attach the raw csv file here so that we can investigate?

[2019-10-21 07:31] #12270 closed, assigned to nobody

[2019-10-21 07:39] sherfert commented on #12303
There must be a reason for the database to die and I would assume that the reason turns up in the `debug.log`, even if you can only trigger that by increasing the load.

If there is nothing to be found there, could you provide access to a graph and an application (either the original or an example graph/app) that reproduces the problem?

[2019-10-21 14:19] raduvanciu commented on #12268
@sherfert
Thank you for looking into this. Unfortunately, I cannot share with you here all the raw csv files, which are larger than 25MB. Here is a subset which has all the nodes and one type of edges. Since the problem is non deterministic, as described above, we will need to find another query that fails after loading the data.

[genes_activation_archive.zip](https://github.com/neo4j/neo4j/files

[2019-10-21 14:37] LianxinGao commented on #12320
got it.Thank you very much！

[2019-10-21 14:37] #12320 closed, assigned to nobody

[2019-10-22 17:44] SecPrez commented on #12249
We are hitting the same callstack when we try to insert data into a graph that has a full text search index. Without the index the inserts work, with the full text index we get the exception above.

[2019-10-22 20:38] linder05 commented on #12244
We're seeing the same error as the original post, but we've found another strange symptom. When we checked k8s for info we found that the store_lock file is being treated as having different permissions across the two versions.
` 3.5.12
  -rw-r--r--    1 neo4j    neo4j            0 Oct 22 19:17 store_lock

  3.5.1
  -rwxr-xr-x    1 neo4j    neo4j            0 Oct 22 19:17 store_lock`
Is this expec

[2019-10-22 22:15] #12319 closed, assigned to nobody

[2019-10-23 05:34] karezi opened #12321 "Maximum id limit for RELATIONSHIP_TYPE_TOKEN has been reached"
I have a large neo4j database with 11061285 nodes and 13635924 relationships, but cannot show the relationship types with Neo4j because maximum id limit.

** Neo4j version: neo4j-enterprise-3.5.11
** Operating system: MacOS 10.15
** API/Driver: Cypher or Java API

Reproduce and behavior
- Use Cypher
[code]
I got the error:
[code]
neo4j.log:
[code]

- Use Java API
I tried to connect to db with Java

[2019-10-23 08:18] chrisvest commented on #12321
@karezi You have run out of the available relationship _types_. This is indicative of a problem with how you model your domain in the graph. Problems like this can show up when people encode relationship properties in their relationship types.

Since changing the data model is a lot of work, you can try upgrading to the `high_limit` format in the mean time, by adding settings like this to your `ne

[2019-10-23 08:56] karezi commented on #12321
@chrisvest Thanks for your helping. I have tried to upgrade my db files using new settings as you say. Unfortunately, new errors occured during upgrading and now I cannot start neo4j.
This is my logs:
[code]

[2019-10-23 11:58] OliviaYtterbrink commented on #12108
Since we cannot reproduce this without data, we're closing the issue. If this becomes a problem again, please re-open the issue and provide sample data.

[2019-10-23 11:58] #12108 closed, assigned to Hunterness

[2019-10-23 12:51] MPasadu commented on #12310
@sherfert
Everything is running fine! Cheers!

[2019-10-23 12:51] #12310 closed, assigned to Hunterness

[2019-10-24 11:36] whostolebenfrog commented on #12318
Hi @sherfert I've attached the stats below. Please do let me know if there is anything else I can do to help you recreate this issue. Renamed to .txt as github doesn't allow json.

[counts.txt](https://github.com/neo4j/neo4j/files/3767277/counts.txt)

[2019-10-25 02:14] Th3-Muffin-Man commented on #8912
SOLUTIONS:
----------

This is a security feature that is auto-enabled in neo4j 3.0 and above. It disallows files to be loaded from anywhere in the filesystem.

You have 2 Solutions/Options:

 1. Leave the setting as is and simply place all CSV files to be read in the "import" directory(folder) located in the install directory(folder).
 2. Change the security feature to allow the importation of CS

[2019-10-25 07:53] OliviaYtterbrink commented on #12275
Thank you for reporting, a fix for this will be available in the next milestone release.

[2019-10-25 07:53] #12275 closed, assigned to nobody

[2019-10-26 02:00] Th3-Muffin-Man commented on #9992
Alternatively you can include the following instruction (WHERE n<>r) to ensure that the End Nodes and Start Nodes are Not the same:

[code]

[2019-10-26 21:58] hijan94 commented on #12247
Hi @Hunterness ,

thanks a lot for your help. The improved query and the unimproved query with the slotted runtime works on my machine as well.

Since we auto-generate our queries, we are limited in optimizing the queries. So we can not tell how to split our pattern into different MATCHes, but we will try to remove the duplicate labels in future :-)

[2019-10-27 01:58] ghost opened #12323 "Next level algorithms."
1. All graph algorithms can handle edge, node, and null values.
2. Fractal pattern detection.

[2019-10-27 08:44] vishal8228 opened #12324 "Neo4j - 3.3 - Not supporting pagecache reservation for more than 510G"
Hi,

I have a server with 750G of RAM (centos 7) and I am trying to reserve pagecache for neo4j with 600GB of memory, but unfortunately it is crashing. I have also given heap reservation of 64G. Even I tried without the heap reservation as well, but no luck.

Its a new server, we don't have anything running on it.
Is there any cap from the memory perspective for neo4j ? Any comments/suggestion pls

[2019-10-27 21:10] chrisvest commented on #12324
This bug was fixed 2 years ago: https://github.com/neo4j/neo4j/issues/10468

Upgrade to a newer version.

[2019-10-27 21:10] #12324 closed, assigned to nobody

[2019-10-28 07:10] applesline opened #12325 "why does neo4j unsupport create node via http-api in Causal Cluster？"
As the title says，I was tried to create a new node via http-api  in Causal Cluster，but neo4j web browser always response  ‘can't create node，because current role is follower’，How can I do for this problem？

[2019-10-28 07:25] Hunterness commented on #12247
@hijan94 That's good to hear that our first fix helped for the slotted runtime at least, even if we did miss the compiled runtime in the first round :)

That sounds good :)

[2019-10-28 07:25] #12247 closed, assigned to SaschaPeukert

[2019-10-28 13:23] Shib4 opened #12326 "Expired key for debian.neo4j.org"
I have an issue while following the [documentation](https://neo4j.com/docs/operations-manual/current/installation/linux/debian/#debian-add-repository). It seems the key used to sign the packages is expired.

- Operating system: Ubuntu 16.04

[code]

[2019-10-29 09:03] jennyowen commented on #12326
@Shib4 @achantavy The key is now updated. You can redo
`wget -O - https://debian.neo4j.org/neotechnology.gpg.key | sudo apt-key add -`

or to update the apt keys list from the keyserver:
`sudo apt-key adv --recv-keys --keyserver keys.gnupg.net  D37F5F19 01182252`

Could you try that and let me know if it worked?

[2019-10-29 09:44] Shib4 commented on #12326
@jennyowen I confirm you it works now.

[code]

Thanks for taking a look into this!

[2019-10-29 09:46] #12326 closed, assigned to jennyowen

[2019-10-29 10:47] Marc-Roth commented on #12171
I also stumble very often across that one and can't find any notes about "fulltext starting with wildcard" in the change log [https://github.com/neo4j/neo4j/wiki/Neo4j-3.5-changelog](url)
Is it already released?

[2019-10-29 15:23] ronoBalaga opened #12328 "(<boolField> = true OR <boolField> = false) returns nothing"
## Bug report

* when I ran
`MATCH (entity:RULE)
WHERE ( entity.disabled = false)
RETURN entity`
 100 results returns

* when I ran
`MATCH (entity:RULE)
WHERE ( entity.disabled = true)
RETURN entity`
 100 results returns

* when I ran
`MATCH (entity:RULE)
WHERE ( entity.disabled = false OR  entity.disabled =true)
RETURN entity`
 *0 results returns*

**Neo4j Version:** 3.5.5
**Operating System:** A

[2019-10-30 08:58] sherfert commented on #12318
@whostolebenfrog The Cypher query above does not parse. I can make guesses at what it should look, but to be sure, can you please correct it?

[2019-10-30 10:17] maksbotan opened #12329 ""Found no solution for block ..." with complex queries"
Complex queries on some data sets lead to errors like this one:

[code]

We experienced such errors on 3.5.3, then discovered https://github.com/neo4j/neo4j/issues/12212, upgraded to 3.5.11 and the problem seemed solved.

However, it appeared again with slightly more complicated query. And it reproduces only on fairly large datasets.

Here's an example of such query:

[code]

This particular probl

[2019-10-30 10:46] whostolebenfrog commented on #12318
@sherfert I've just retried and it does parse correctly for me.

That is I copied the params into the a neo4j query browser and ran that to set the params.

[code]

Then I copied the query into the browser window and ran that. Both queries run.

[code]
![Screenshot from 2019-10-30 10-45-08](https://user-images.githubusercontent.com/1108776/67851465-6dabe900-fb02-11e9-8420-3758a6988d60.png)

What's

[2019-10-30 11:04] sherfert commented on #12318
My apologies, it was just me and my IDE getting confused over the line breaks and `|` characters. It does parse indeed.

[2019-10-30 13:11] sherfert commented on #12252
This has been fixed in neo4j 4.0, where a beta version is already available.

[2019-10-30 13:11] #12252 closed, assigned to Hunterness

[2019-10-30 13:54] LWprogramming commented on #12252
Hi,
To clarify, do you mean that having a match clause after an optional match clause is now allowed in neo4j 4.0, or that the documentation will specify that it's not allowed?

[2019-10-30 14:27] Hunterness commented on #12219
Hi,

In 4.0 there will be possible to give schema indexes (and constraints) names, but not yet mandatory to do so. We have also updated the syntax for creating indexes and deprecated the old syntax.

The syntax will be (with the name being optional):

[code]

There will also be possible (and preferred) to drop indexes and constraints using their names

[code]

All the old `DROP` commands using the

[2019-10-30 14:27] #12219 closed, assigned to nobody

[2019-10-30 14:40] sherfert commented on #12252
Right, I should have mentioned that. It is now allowed.

[2019-10-30 16:07] mdfrenchman commented on #12219
That's SO much nicer! Thanks!

[2019-10-31 15:09] M9T opened #12330 "Import with neo4j-admin load does not work"
- Neo4j version: 3.5.12
- Operating system: Windows 10 (export graph database), Docker (import graph database //Debian GNU/Linux 10 Docker Image official neo4j:3.5.12
- API/Driver: (for example Cypher/Java API/Python driver vX.Y.Z)
- Steps to reproduce
1. Export graph db (local Neo4j Desktop)
`C:\Users\user\.Neo4jDesktop\neo4jDatabases\database-5d50749e-ccb3-4143-9783-8b13743c632e\installation-3.5

[2019-10-31 16:37] CecilLew commented on #12244
We are using neo4j enterprise in Kubernetes using a statefulset and had a similiar problem trying to upgrade. Sometimes we got strange errors about a lock file but usually it would hang right after the Starting Neo message. A colleague determined the problem was due to permission errors. **Both the old and new images used "neo4j" user but the actual user id, UID, was different**. The database was

[2019-10-31 20:31] jsoref opened #12331 "Typos: instad in causal clusters"
- Neo4j version: 3.5.0

### Steps to reproduce
1. Load https://neo4j.com/docs/operations-manual/current/backup/causal-clusters/#backup-causal-clusters-core
2. Search for "Instad,"

### Expected behavior
English words in complete understandable sentences.

### Actual behavior

[2019-11-01 11:33] boggle commented on #5002
Shouldn't it be possible to at least solve this with two label scans where on one of the scans nodes that have both labels are removed to avoid duplicates as an interim improvement?

[2019-11-01 11:35] boggle commented on #5002
In order to make an educated guess wether that's reasonable (in comparison to the all nodes scan) one could look at per-label cardinalities. Or rather the query planner will do that already when comparing both plans.

[2019-11-01 12:57] lutovich commented on #10792
Hi @mikernorton,

Sorry for the delayed response!

I can reproduce the described problem. It is caused by an attempt to resolve a default backup address in case no `--from` is provided. Resolution logic reads `dbms.backup.address` setting from `neo4j.conf` and is not prepared to handle IPv6 addresses.

A temporary workaround would be:

[code]

It creates a temporary fake config file for the backup

[2019-11-01 16:52] Tvaroh commented on #8832
@sherfert are 2.12 artifacts published anywhere? Can't see them in Maven.

[2019-11-01 20:48] maksbotan commented on #12329
Can you please take a look at this patch (on top of 3.5.11 a55901af4f0a8f1ebeca5d3696644c4cbefc22ea)?

[code]

It seems to fix our problem, does not break our other queries and does not break `cypher-planner` test suite. I did not, though, run full neo4j test suite, nor did I check for performance degradation (it doesn't look degraded judging with my eyes, but maybe additional tests are required).

[2019-11-04 07:56] technige commented on #12325
Within a cluster core, only the leader can perform writes. Followers are read-only.

You can read more about leadership here:
https://neo4j.com/docs/operations-manual/current/clustering/setup-new-cluster/#elections

[2019-11-04 08:27] Hunterness commented on #12329
Hi,

The error you see comes from the planner not finding any plan at all and changing the number to a 1 is not a valid solution. We have plans to at least get a better error message to explain the issue at hand instead of this weird `Found no block of size 0`.

We also have seen this error for several issues and fixes them as they come up. We have recently done more fixes in this area to hopefull

[2019-11-04 08:27] #12329 closed, assigned to nobody

[2019-11-04 08:37] maksbotan commented on #12329
Sorry, but "fix as they come up" does not sound as a solid plan for me. To me, this looks like a fundamental issue somewhere in the planner that is being swept under the rug by ad-hoc fixes.

Actually, I was able to reproduce this even on 3.5.12 with other queries, so if I can provide you more info about my data and queries, please tell me what to look for. I am very much interested in this fixed.

[2019-11-04 09:14] Hunterness commented on #12328
Hi,

This looks wrong, thanks for reporting. We will take a look.

Best Regards,
Therese
Team Cypher

[2019-11-04 09:24] Hunterness commented on #12329
Hi again,

For now we have "fixed them as they come up" since we need to do a bigger refactoring of the whole planner to get to the real bottom of this. We plan to invest some time in the upcoming months for this but it has not been prioritized for the 4.0 release.

If you have a query and example data that shows the exception, please open a new issue with that so we can try and fix it as well. Be

[2019-11-04 09:57] craigtaverner commented on #12329
@maksbotan We absolutely agree that it is not acceptable for the IDP planner to fail entirely to find a solution. The design and intent of this algorithm is to speed up planning at the risk of finding less optimal solutions but always find some solution. However there are an infinite number of possible Cypher queries that could exist, and it turns out that in a few rare cases of very complex queri

[2019-11-04 12:59] lutovich commented on #10792
Hi @mikernorton,

The fix has been merged into the private part of the 3.5 branch. It will be available in the next 3.5.13 release. Please feel free to update this issue if the problem persists.

[2019-11-04 12:59] #10792 closed, assigned to nobody

[2019-11-04 13:35] conaku commented on #12199
Was this problem solved finally? I am facing similar issue loading csv file.

[2019-11-05 09:31] Lojjs commented on #12268
@raduvanciu An additional question, do you have any indexes/constraints when you run the query?
Also do I understand you correctly if you cannot reproduce the error with the smaller dataset that you sent us (the one in the zip-file with only one relationship type)?

Best regards Louise, Neo4j Cypher team

[2019-11-05 19:32] raduvanciu commented on #12268
@Lojjs

There is one unique constraint and index on node  Gene(geneId).
You are correct, I cannot reproduce the error by using only the data in the zip file. Unfortunately, I cannot share the whole data publicly. I am happy to provide additional information as needed.

For Query1, here is the plan as exposed by EXPLAIN, the planner attempts to use only one index.

[code]

[2019-11-06 11:17] pjljvandelaar opened #12333 "User specified order of attributes"
## problem
I would to quickly and easily obtain info about nodes.
Currently, I get the attribute info when my mouse hovers over an node in a fixed order.
See e.g.
![image](https://user-images.githubusercontent.com/18348654/68293700-cba27880-008e-11ea-9b71-c4d3cc577b25.png)
The order in the screenshot is `id`, name, shortname, and type.
The order is not the order I would like.
Furthermore, the posi

[2019-11-07 00:15] aaronjwood commented on #12244
Thanks for the pointers @CecilLew. I was able to layer my own Dockerfile over the official Neo4j one and use my own image to work around the permissions issue:
[code]

The user `_apt` has UID 100 which is why I'm removing it before assigning 100 back to the user `neo4j`. Pretty hacky right? :)

With this we were able to do a seamless upgrade of Neo4j from 3.5.3 to 3.5.12.

[2019-11-07 14:10] dllz opened #12335 "malloc.c:2401 assertion failed / jvm as detected a fatal error - unable to startup"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 3.5.12
- Operating system: Ubuntu 18.04 LTS
- API/

[2019-11-07 15:40] chrisvest commented on #12335
Do you have an `hs_err` file for this crash?

What is the reason you set `dbms.memory.heap.max_size=48G`, as in, why 48 gigabytes specifically?

[2019-11-07 16:22] raduvanciu commented on #12268
@Lojjs Thank you for looking into this I hope to hear back from you soon. If the information above does not help, what would be a good way to share the whole database dump privately? The size of the file is ~2.7GB.

[2019-11-07 20:39] lukaslueg opened #12336 "Neo4j JSON-format for HTTP-endpoint is unspecified"
The [only](https://neo4j.com/docs/http-api/3.5/introduction/) documentation on Neo4j's HTTP-endpoint is given by a set of examples. As far as I can see there is no formal specification of the JSON-responses a request might result in. This makes writing a driver for the HTTP-endpoint guesswork. For example, the `graph` structure contains a `relationships`-keys, which is a sequence of objects, which

[2019-11-07 21:11] dllz commented on #12335
No hs_err files that I know off but if you can direct me where to look, I
will check it out.

Server is running 64gb of ram, 48gb+10gb for page cache leaves 6gb for OS.

On Thu, 07 Nov 2019 at 17:40, Chris Vest <notifications@github.com> wrote:

--
Daniel Lotz

[2019-11-08 00:18] gpierrick opened #12337 "Inconsistency report NullPointerException consistency after full backup"
Hi,

Running into this issue every night when the full backup runs. It's only been happening for the past 7 days (since adding a fulltext index is my guess)

- Neo4j version: 3.5.3 enterprise Single instance
- Operating system:Ubuntu 16.04

**Steps to reproduce**
- Performing a full backup

Additionally, include (as appropriate) log-files, stacktraces, and other debug output.

[code]
**Neo4j Versi

[2019-11-08 06:02] chrisvest commented on #12335
The `hs_err` file would be placed in whatever the working directory was of the JVM that crashed, if it had write permissions to that directory.

Compressed object references are disabled in the JVM, when the heap is bigger than somewhere around 32 GiB. I would suggest lowering the max heap size to 30G.

Since you are getting assertion errors and segfaults related to the system malloc, it could be

[2019-11-08 08:00] dllz commented on #12335
Hi there, the issue still persists with my heap at 30G and the extra configuration parameter added.
I found a 3 hs_err files, way less than the number of times I have not been able to start up:
https://gist.github.com/dllz/49f6ee12da8d46b02d86523071e61de1

[2019-11-08 08:35] dllz commented on #12335
So I ran neo4j-admin check-consistency and got some interesting results:

2019-11-08 08:31:53.235+0000 INFO [o.n.k.i.s.f.RecordFormatSelector] Format not configured. Selected format from the store: RecordFormat:StandardV3_4[v0.A.9]
Full Consistency Check
....................  10%
....................  20%
....................  30%
....................  40%
....................  50%
...............

[2019-11-08 08:58] chrisvest commented on #12335
Have you done any whole system reboots in between getting these errors, or tried running on a different physical machine?

[2019-11-08 09:01] dllz commented on #12335
I have not tried running on a different physical machine but I have done whole system reboots.

[2019-11-08 10:14] chrisvest commented on #12335
Since it stays the same across reboots, it's probably not hardware issue, like faulty RAM. I would switch to a different JVM, like Azul Zulu, Oracle, or Red Hat.

You can (on a copy of the database) try removing the indexes and see if the database can rebuild them again. If it finishes that, you can try running a consistency check again.

If you have a support contract, you should probably use it.

[2019-11-08 10:16] chrisvest commented on #12337
We've merged a fix for this, which will be part of the next 3.5 release.

[2019-11-08 10:16] #12337 closed, assigned to nobody

[2019-11-08 12:59] dllz commented on #12335
So, I swapped to Zulu JVM, I deleted the indexes, error is persisting. I think the database itself is corrupted as now inconsistency reports are really long with a lot of issues which can be found here: https://anonymousfiles.io/kHnijz80/
I can go back to a week old backup that works however since this is the second time in a week the corruption has happened, I would like to get to the bottom of i

[2019-11-08 15:59] gpierrick commented on #12337
Thanks!

[2019-11-11 14:23] klaren commented on #12293
It looks like you have a space in the `"resultDataContents "` at the end. Removing the space should resolve your issue.

[2019-11-11 14:40] #12293 closed, assigned to klaren

[2019-11-12 06:24] hshrimp opened #12341 "create relations"
**Neo4j Version:** 4.3.0
**Operating System:** macOs 10
**API:**

Hello,  i have a question.
i have two relations which have same start node and end node and also the relation type. When i want to create this two relations by graph.create(), it run MERGE method but not the CREATE method, so the second relation will not to be create in the graph. why is MERGE?
thanks

[2019-11-12 09:33] Stubatiger opened #12342 "Upgrading from 3.5.5 to 3.5.6 with Docker Image fails with permission denied"
If i try to upgrade neo4j in my dockerfile from 3.5.5 to 3.5.6, i can not start the container again because it fails with the message:

**Neo4j Version:** 3.5.6
**Operating System:** Ubuntu 16.04.6
**API:** Docker (Docker version 19.03.4, build 9013bf583a)

### Steps to reproduce
1. Pull the image: `docker pull neo4j:3.5.6`
2. Start it: `docker run -it neo4j:3.5.6`

### Expected behavior
Neo4j con

[2019-11-12 10:17] prashant-shahi commented on #12253
I had a similar issue.

Changing the owner of `graph.db` folder resolved it,
[code]

[2019-11-12 11:13] #12318 closed, assigned to Hunterness

[2019-11-12 16:51] craigtaverner commented on #12268
@raduvanciu Since you are using the enterprise edition, perhaps you are a paying customer of Neo4j, and therefore you could also register an official support ticket with customer support and they can help provide you with a way to upload a large dataset privately.

[2019-11-12 18:36] raduvanciu commented on #12268
@craigtaverner Unfortunately, the support does not extend to the startup program, so we are not eligible for customer support.

I can provide, via email, a private url to download the database.  At the time of writing the comment, no developer is assigned to this issue.

[2019-11-12 19:31] craigtaverner commented on #12268
Hi @raduvanciu, perhaps if you could message me directly on the neo4j-users.slack.com we can discuss how best to proceed.

[2019-11-12 21:07] tinwelint commented on #12317
You're using `neo4j-admin import` right? In 3.5 there are two import surfaces, although they're using the same importer in the end. `neo4j-admin import` will always tell the CSV parser to trim strings, whereas in `neo4j-import` (deprecated in 3.5) the default is `false` whereas it can be controlled with the `--trim-strings` option. This option does not exist in the `neo4j-admin import` surface in

[2019-11-12 21:32] lmeyerov commented on #12317
Yes, we worked around. I filed this because this is one of the areas you don't want a pain-inducing bugs: the beginning of a neo4j project and the induced data quality.

[2019-11-13 08:13] tinwelint commented on #12317
This will not change in 3.5 at this point, but 4.0 will have this fixed. I don't see more to do here, is it OK to close this issue?

[2019-11-13 08:57] lmeyerov commented on #12317
Yes, we (painfully) worked around the data corruption - this was more for you guys

[2019-11-13 09:02] tinwelint commented on #12317
Cheers, and thanks!

[2019-11-13 09:02] #12317 closed, assigned to nobody

[2019-11-13 09:56] tinwelint commented on #12321
Interestingly `java.lang.ArrayIndexOutOfBoundsException: Requested index 631, but length is 1` <-- `length 1` there indicates that the store thinks that there are no relationship types in it. Would it be possible to get a look at your:

- `neostore.relationshiptypestore.db`
- `neostore.relationshiptypestore.db.id`
- `neostore.relationshiptypestore.db.names`
- `neostore.relationshiptypestore.db.nam

[2019-11-13 11:12] #12328 closed, assigned to Hunterness

[2019-11-13 11:56] klaren commented on #12304
It should be fixed by #12338 and will be in the next 3.5 release.

Thank you for reporting this!

[2019-11-13 11:56] #12304 closed, assigned to klaren

[2019-11-13 12:09] klaren commented on #12255
Closing due to inactivity, feel free to reopen if this did not address your problem.

[2019-11-13 12:09] #12255 closed, assigned to klaren

[2019-11-13 13:35] noorbakerally opened #12344 "ServiceUnavailableException when executing query"
- Neo4j version: 3.5.8 (Community)
- Operating system: Ubuntu 18.04
- API/Driver: Java 1.7.5

- expected behaviour: execute the following query:
[code]

- actual behaviour:
[code]

[2019-11-13 14:23] chrisvest commented on #12249
This will be fix in the next 3.5 release.

[2019-11-13 14:23] #12249 closed, assigned to nobody

[2019-11-14 12:34] horak90 opened #12345 "hasRelation method returns wrong result"
Hello,

I am getting a not consistent behavior of the hasRelation method when used by my custom stored procedure.

`Stream<Node> filterNodesByRelationType(List<Node> nodes) {
        return nodes.stream().filter(node -> node.hasRelationship(Direction.OUTGOING, RelationshipType.withName("myRelation")));
    }`

The problem is that at some point the hasRelation method returns true for a node that do

[2019-11-14 13:35] klaren commented on #8420
Should be solved by https://github.com/neo4j/neo4j/pull/12343

[2019-11-14 13:35] #8420 closed, assigned to nobody

[2019-11-15 09:36] dstibbe commented on #8832
Why on earth is this still an issue? This is basically going on since 2016 :(

[2019-11-15 12:49] dllz commented on #12335
Reverting from the enterprise edition to community edition fixes it for anyone who is in this situation.

[2019-11-16 05:37] jgaskins opened #12346 "NPE when setting label during a MERGE with a native + fulltext index"
- Neo4j version: 3.5.12
- Operating system: macOS Catalina 10.15.1
- API/Driver: [Neo4j.cr](https://github.com/jgaskins/neo4j.cr)

## Steps to reproduce

1. `CALL db.index.fulltext.createNodeIndex('foo', ['Account'], ['id', 'display_name', 'handle'], { analyzer: 'english' })`
2. `CREATE INDEX ON :Person(id)`
3. `MERGE (person:Person { id: "test" }) SET person:Account`

## Expected behavior

It ups

[2019-11-16 15:06] chrisvest commented on #12346
Thanks. We have already merged a fix for this, which will be part of the next 3.5 release.

[2019-11-16 15:06] #12346 closed, assigned to nobody

[2019-11-16 15:07] chrisvest commented on #12346
Originally reported in https://github.com/neo4j/neo4j/issues/12249

[2019-11-16 15:37] jgaskins commented on #12346
I saw that issue but I didn't think it was related. I just had a second look and [this comment](https://github.com/neo4j/neo4j/issues/12249#issuecomment-545075880) does seem to cover it. Thanks!

[2019-11-18 08:25] LiFool opened #12347 "v 3.5.12 : org.neo4j.cypher.internal.v3_5.util package not found"

[2019-11-18 08:31] #12347 closed, assigned to nobody

[2019-11-18 10:37] tinwelint commented on #12345
That is indeed very strange because (also looking at the code) both `hasRelationships` and `getRelationships(Direction)` delegates to `getRelationshipSelectionIterator` and so what ever happens in one also happens in the other. Would it be possible for you to provided a reproducible test case showing this problem?

[2019-11-18 13:14] horak90 commented on #12345
I just sent you an email with all the data to reproduce the issue.

[2019-11-18 14:34] tinwelint commented on #12345
Thanks

[2019-11-18 14:55] mariascharin commented on #7381
This issue was raised two and a half years ago so I will assume the question is outdated. Apologies for this.

In any case, here is the answer I've got for the functionality in the upcoming release:
In 4.0 the API for the database service and transaction is changed in a way that all methods that require transaction are actually invoked on the transaction object itself. All methods that are left ar

[2019-11-18 14:55] #7381 closed, assigned to nobody

[2019-11-19 14:12] burqen commented on #12201
@Manish-Giri Hi, sorry for leaving this issue for so long. I think this fix is what you need. It is part of 3.5.11 and later. Would you care to try it out?
https://github.com/neo4j/neo4j/commit/557fa002aa7092e822720c2e428092a2b6db3227#diff-2482ee2a5462c489ab1b8bcdf6668021

[2019-11-19 14:31] chrisvest commented on #12273
The reason the logs are kept around is because we cannot delete them until the check points have caught up. So the solution is to make the check points happen faster.
Disabling the IOPS limit (as you have done) is one step towards that. Using `continuous` or `volumetric` check pointing policy ( https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/#config_dbms.checkpoin

[2019-11-19 14:31] #12273 closed, assigned to nobody

[2019-11-19 15:18] burqen commented on #11969
@sgehrig Is this still a problem for you? It seems like @mikesname successfully overcome the problem by upgrading to 3.5. Would that work for you?
If not, to continue investigation we will need a stack trace. The problem that you see looks very similar to the one described here https://bugzilla.redhat.com/show_bug.cgi?id=1095504. Does that help you get the stack trace?

[2019-11-19 15:53] chrisvest commented on #12345
@horak90 Thank you for the material you sent us. We have identified a bug and are working on a fix.

[2019-11-19 19:14] karezi commented on #12321
@tinwelint
[code]

[2019-11-20 04:23] Manish-Giri commented on #12201
@burqen Thanks a bunch for persisting with this! I'll download the latest available version (3.5.12) and report back in a few hours.

[2019-11-20 06:47] sgehrig commented on #11969
@burqen I must admit that I haven't followed up on this issue recently because we are currently not working on our project any more that uses Neo4j. So I think it's fair to say that you can suspend this issue for now. I'll check the issue with the most recent Neo4j version as soon as I manage to find some spare time.

But thanks for keeping an eye on that one. Your support is much appreciated.

[2019-11-20 07:50] burqen commented on #11969
@sgehrig If you're happy, I'm happy 😄
Closing this issue for now then.

[2019-11-20 07:50] #11969 closed, assigned to nobody

[2019-11-20 10:40] aijcoa commented on #12345
just pointing out that the issue # is 12345.

[2019-11-20 22:55] tinwelint commented on #12345
@f7n my word, how could we have missed that. Quite notable, cheers

[2019-11-21 03:15] Varun199090 opened #12348 "Could not locate JVM.DLL at C:\Program Files (x86)\Java\jre1.8.0_201\bin\server\bin\server\jvm.dll"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](http://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: X.Y.Z
- Operating system: (for example Windows 95/

[2019-11-21 03:16] Varun199090 commented on #12348
I got an error while installing neo4j community edition-
![image](https://user-images.githubusercontent.com/43841374/69300152-6fb42400-0c38-11ea-9c01-9fb71d90c9d0.png)

I downloaded jvm.dll from internet and copied file to bin of java folder and it worked for me
![image](https://user-images.githubusercontent.com/43841374/69300894-822f5d00-0c3a-11ea-8ea5-04f7a3344d1e.png)

[2019-11-21 09:07] tinwelint commented on #12234
I'm sorry to have dropped this issue. Any chance to get access to corrupted database plus transaction logs for investigation? I realize the chance is slim at this point tho.

[2019-11-21 09:09] tinwelint commented on #12240
Hi, sorry for the delay. Did this work out in the end? If not what's your machine specs w/ regards to memory and number of CPUs. Also, have you tried the latest 3.5.x version?

[2019-11-21 09:42] openmindgap commented on #12057
I was getting "Could not locate JVM.DLL at C:\Program Files (x86)\Java\jre1.8.0_231\bin\server\jvm.dll" and resolved it by:

Making a copy of the "C:\Program Files (x86)\Java\jre1.8.0_231\bin\client" folder and renaming it "C:\Program Files (x86)\Java\jre1.8.0_231\bin\server"

Problem went away

[2019-11-21 10:12] chrisvest commented on #12348
This looks like a duplicate of #12057 so I will close this one.

[2019-11-21 10:12] #12348 closed, assigned to nobody

[2019-11-21 10:15] tinwelint commented on #12240
What was the I/O numbers during that time of virtually no CPU work? By the looks of it it's fairly high. I'd guess since you have so many labels it will cause node labels in the store to be stored less efficiently and in the importer there's only a small page cache and will therefore cause lots of page eviction over and over.

Yup, this case where there are lots and lots of labels isn't handled ve

[2019-11-21 13:02] tinwelint commented on #12242
I understand your pain. The basis for this change is that the "proper" CSV quotation (https://tools.ietf.org/html/rfc4180) is double quotes, but for legacy reasons i.e. when first writing the parses it supported `\"` too. One example of reason `\"` is not ideal is that it would be difficult/impossible to convey certain combinations of characters in your data, see `"""abc\"""` where you would like

[2019-11-21 13:13] tinwelint commented on #12321
Thanks, I meant the actual files, perhaps email me them directly if possible?

[2019-11-21 13:39] bobbymychen1 commented on #9693
Try to check the conf dbms.connectors.default_listen_address, if it is not 0.0.0.0,make it. Then restart the neo4j and try again.

[2019-11-21 14:48] chrisvest commented on #12345
We have merged a fix for this, which will be out in the next 3.5 release.

[2019-11-21 14:48] #12345 closed, assigned to nobody

[2019-11-21 16:18] stavmic opened #12349 "Feature: Eigenvector Centrality Algorithm for Weighted Graphs"
The Eigenvector Centrality algorithm currently supports only unweighted graphs, are there plans to support also weighted graphs in the near future?

[2019-11-22 07:59] tinwelint commented on #12240
@whwang1996 When reproducing this locally I could also see relationship counts stage taking a very very long time in the very end. This is when it would build the counts store. And due to how the counts store updating works in 3.5 it would be very inefficient to do and require lots of heap... but it would eventually complete. In 4.0 this counts store building problem is fixed already. This is of c

[2019-11-22 11:11] Silkjaer opened #12350 "Access to record Node[] went out of bounds of the page"
Neo4j shut down unexpectedly during data import using the JS driver and apoc.periodic.iterate. It was importing relations in batches of 2.500.000, divided into smaller batches to avoid parallel deadlock issues, and has been importing billions of relations without any errors.

- Neo4j version: 3.5.11
- Operating system: Ubuntu 18.04.3 LTS

Output from debug.log:
[code]

[2019-11-23 04:03] whwang1996 commented on #12240
Thanks for your detailed explanation. And since it has been fixed, just close it.

[2019-11-24 15:34] #12240 closed, assigned to nobody

[2019-11-25 08:28] UnreleasedCode opened #12351 "NEO4J in a docker does not use TLS via bolt"
### Steps to reproduce
1. Run a NEO4J with docker-compose (NOT local)
2. Set up SSL with Certbot
3. Install NEO4J and connect to a remote graph using "Encrypted Connection"

### Expected behavior
Encrypted Connection should be established

### Actual behavior
`Unable to establish remote connection: Database is unreachable with specified configuration.` and
`Unable to establish remote connection: S

[2019-11-25 09:28] sherfert commented on #12349
Please re-open this question against https://github.com/neo4j-contrib/neo4j-graph-algorithms
Thank you.

[2019-11-25 09:28] #12349 closed, assigned to nobody

[2019-11-25 10:33] #12325 closed, assigned to nobody

[2019-11-25 10:51] sherfert commented on #12344
Hi @noorbakerally

Is this problem particular to the Cypher query you are running, or does it occur with other queries as well?

Were there any errors on server startup that can observe from the log files that would indicate the server is not running?

[2019-11-25 10:55] sherfert commented on #12341
Hi @hshrimp

You are referring to `graph.create()`. Could you specify which API you are referring to? Is that a driver or a server API? Which version of neo4j are you using - you specified 4.3.0, but that version does not exist.

[2019-11-25 13:40] burqen commented on #12201
@Manish-Giri I don't want to stress you, but it has been a few hours now ;)

[2019-11-26 05:24] Manish-Giri commented on #12201
@burqen Sorry, I ran into Dropbox sync issues when I tried to "share" my CSV files, so I could use them in Cypher's `LOAD CSV` queries. See [this thread](https://www.dropboxforum.com/t5/Installs-integrations/Dropbox-performing-one-time-update/td-p/372597).

I'll have the results for v3.5.12 by later tonight.

---

@burqen Update 1 - So I've imported all the nodes for my 10GB dataset -

![Screensho

[2019-11-26 07:02] kaiqiangmeng opened #12352 "Load JDBC (RDBMS) Support for Hive with Kerberos Auth"
## Guidelines
- Neo4j version: neo4j-community-3.4.17
- Operating system: (centos 7)

- Actual behavior
WITH 'jdbc:hive2://host:10000/db;principal=hive/host@VCREDIT.IDC;auth=kerberos;kerberosAuthType=fromSubject' AS url
CALL apoc.load.jdbc(url,'SELECT appcode) FROM tab limit 5')
YIELD row
RETURN row;

## Example bug report
Neo.ClientError.Procedure.ProcedureCallFailed
Failed to invoke procedure `a

[2019-11-27 20:05] efruttero commented on #12155
Fixed by 3.5.13.

Thanks ! :)

[2019-11-27 20:05] #12155 closed, assigned to nobody

[2019-11-28 19:22] ogonbat opened #12353 "Degraded Performances with MERGE and RELATIONSHIPS"
Hi ALL

i need to import a very larga dataset, more millions of nodes.
some of that nodes have relationships
So, i have first uploaded 6M of nodes ( :Artist ) and after that i have to create relationships between the :Artist nodes
from my python code i run:
`

    list_query = [
        [
           {
              'artist': 1234356,
              'aid': 1234356
           }
           ....... # a

[2019-11-29 15:04] klaren commented on #12244
Thank you for reporting. This looks like a docker problem. I'm forwarding this to the right team.

[2019-11-29 17:12] lukaslueg commented on #12336
Allow me to bump since the [thread on the forums](https://community.neo4j.com/t/neo4j-json-format-for-http-endpoint-is-unspecified/11855), the [SO-question ](https://stackoverflow.com/questions/58701162/neo4j-json-format-for-http-endpoint-is-unspecified)and this issue remained unreplied for two to three weeks.

[2019-12-02 07:25] davidoliverSP2 commented on #12331
thanks @jsoref for reporting.

This has been fixed, and will be updated on the next publish.

[2019-12-02 07:25] #12331 closed, assigned to davidoliverSP2

[2019-12-02 07:29] davidoliverSP2 commented on #12336
Thanks @lukaslueg for reporting.

I've created a card for us to investigate this, and we will work with our Drivers team on improving this content. We'll update this ticket when there has been progress.

[2019-12-02 08:05] sherfert commented on #12352
Hi @kaiqiangmeng
From the cause exception type, I would guess that this is more likely an error with Hive than with neo4j.

[2019-12-02 08:18] sherfert commented on #12353
Hi @ogonbat

There are two things to speed up your use-case.

* `MERGE` is slow and ineffcient compared to `CREATE`. Rewrite the `MERGE` clause to `CREATE (a)-[r:ALIAS]->(b)`, if that is possible.
* Queries that mutate a lot of data (like yours), have to accumulate a lot of state for the Transaction they run in. I would suggest reading through https://neo4j.com/developer/data-import/ to find out a

[2019-12-02 08:18] #12353 closed, assigned to nobody

[2019-12-02 14:14] burqen commented on #12201
@Manish-Giri The story looks promising so far. Does it have a happy ending?

[2019-12-03 02:58] hshrimp commented on #12341
Oh, I am so sorry, my mistake. The problem was found in py2neo. The neo4j is a helpful and powerful product, thank you for your reply.

[2019-12-03 02:58] #12341 closed, assigned to nobody

[2019-12-03 17:16] chrisvest commented on #12228
I will close this for now. Please reopen if it is still an issue and there is more information to shed light on the problem.

[2019-12-03 17:16] #12228 closed, assigned to nobody

[2019-12-04 08:19] oskarhane commented on #12351
Hi @UnreleasedCode,
thanks for reporting this.

Could you send us your Desktop log file? (ctrl+k in desktop, and type 'log' and select desktop log)
If you don't want to share it publicly, feel free to send it directly to me at oskar.hane at neo4j.com

[2019-12-04 13:09] tinwelint commented on #12234
Any response or possibility of the store(s) still in existence? Otherwise I'll close this.

[2019-12-04 13:10] tinwelint commented on #12242
Just a heads-up that I'll close this card in a couple of days if there's no response.

[2019-12-04 16:45] iMoses commented on #6282
Almost 4 years since this issue was opened and other than @spacecowboy hint that this is something you'd like to consider - just a big nothing and silence...
NoSQL databases are becoming better and with better scalability, yet it seems that with Neo4J time has stopped by and none of this matter.. Such a shame :\

[2019-12-06 08:12] FirefoxMetzger commented on #12242
Yes, please go ahead and close this issue.

[2019-12-06 09:46] #12242 closed, assigned to nobody

[2019-12-06 09:47] tinwelint commented on #12321
Do you think we can make more progress on this issue, or can we close it?

[2019-12-06 16:11] bdm83 opened #12354 "neo4j-admin import fails when node has >20 labels"
The `neo4j-admin import` tool will fail to import a CSV file when an entry has more than 20 labels.

**neo4j-admin Version:** 3.5.8

### Steps to reproduce
1. Download the attached [example.txt](https://github.com/neo4j/neo4j/files/3933009/example.txt) and rename to `example.csv`
1. Run `neo4j-admin import`:
[code]
1. Verify that the import failed
1. Edit `example.csv` and remove a single label an

[2019-12-07 05:42] jiangxjcn commented on #12110
I meet the similiar problem.
Have you found a solution?

[2019-12-09 12:21] swilly22 opened #12355 "Range with negative interval"
`docker run --rm -p7687:7687 -p7474:7474 --env=NEO4J_AUTH=none neo4j`
Neo4j Version: 3.5.13

From http://127.0.0.1:7474/browser/
Run: `RETURN range(2, 8, -1)`
I'm getting `-5` as a result.
Similar to: `WITH range(2, 8, -1) AS x RETURN x`

I was expecting either a runtime or compile-time error.

[2019-12-09 13:53] Pablissimo opened #12356 "Query planner can't see through WITH alises to indexable properties"
It seems the Neo4j query planner can't 'see through' `WITH` statements where a variable is renamed in the same way it can if the variable name remains the same. This isn't a super likely query, but it's easily doable during refactoring and not user-obvious why the performance profile of the two queries would be radically different.

Given a sample graph:

[code]

While the following query with a r

[2019-12-09 14:38] Hunterness commented on #12356
Hi, I agree that this seems wrong so thanks for reporting. We will look into it.

/Therese, Team Cypher

[2019-12-10 09:34] chrisvest commented on #12350
A fix for this has been merged, and will be part of the next 3.5 patch release. Be aware, however, that this bug caused wrong data to be written to the transaction log if you use the high_limit format _and_ have transactions that modify a particular range of a large store. The wrong data only matter if recovery is needed, but when that is the case recovery will break with the exception you see. Wh

[2019-12-10 09:34] #12350 closed, assigned to nobody

[2019-12-10 09:38] Lojjs commented on #12356
This is not strictly speaking a bug since you get the correct result for your query, but I agree that the planner could be smarter about this. It is not a quick fix, but we have added it to our backlog of performance improvements.
Best regards Louise, Neo4j Cypher team

[2019-12-10 10:14] tinwelint commented on #121
I'm sorry, none of the supported releases has the webadmin surface/endpoint anymore, so will close this.

[2019-12-10 10:14] #121 closed

[2019-12-10 12:37] tinwelint commented on #544
6,5 years later I read this issue and notice that `AncestorUtil` and that `lowestCommonAncestor` algorithm is gone, so I can do no more than close this card. Sorry.

[2019-12-10 12:37] #544 closed

[2019-12-10 12:44] tinwelint commented on #1640
The Java API will not see continued development like this. Please use Cypher, or the `execute` work-around as Anton suggests.

[2019-12-10 12:44] #1640 closed

[2019-12-10 12:54] tinwelint commented on #7029
Apparently the future arrived and Neo4j 4.0 will have Lucene version 8.2.0 in it.

Eventuality has it that this issue will be closed one way or another and whereas this hasn't been fixed to your exact suggested Lucene version it sort of has been fixed. Cheers!

[2019-12-10 12:54] #7029 closed, assigned to nobody

[2019-12-10 13:01] tinwelint commented on #7325
This would be a very impactful change and the Java API will generally not be further developed or changed in big ways... in favor of the goal of everything-Cypher.

[2019-12-10 13:01] #7325 closed, assigned to nobody

[2019-12-10 14:49] tinwelint commented on #7575
In 3.5 there are two surfaces of the importer:

- the deprecated `neo4j-import` surface where by default the `--bad-tolerance` is 1000. The first 1000 bad entries will be logged and the 1001th will fail the import. Bad logging can be skipped completely with `--skip-bad-entries-logging`.
- the `neo4j-admin import` surface where by default it fails on first bad entry, but if configuring it to not fa

[2019-12-10 14:49] #7575 closed, assigned to nobody

[2019-12-10 14:56] tinwelint commented on #12354
This is fixed in 3.4 and forwards.

[2019-12-10 14:56] tinwelint commented on #8161
This is fixed in 3.4 and forwards.

[2019-12-10 14:56] #8161 closed, assigned to nobody

[2019-12-10 14:58] tinwelint commented on #8162
This has been fixed for 3.4 and forwards.

[2019-12-10 14:58] #8162 closed, assigned to nobody

[2019-12-10 15:04] tinwelint commented on #8419
This has been fixed in 3.4 where this piece of memory isn't allocated on the heap at all.

[2019-12-10 15:04] #8419 closed, assigned to nobody

[2019-12-10 15:14] tinwelint commented on #8687
As for the initial issue, the lucene OOM... this is mostly fixed due to the native indexing that started in 3.3 and replaced the majority of indexing needs in 3.5. The native index uses a tiny fraction of heap memory compared to Lucene, virtually constant regardless of amount of writes.

@Aurelsicoko your issue is very different, even if it results in OOM too. Your issue is related to how transact