[2019-12-10 15:14] #8687 closed, assigned to nobody

[2019-12-10 15:16] tinwelint commented on #8912
This turned into a KB entry, which is great. In any case it doesn't need to be an open issue anymore, closing.

[2019-12-10 15:16] #8912 closed, assigned to nobody

[2019-12-10 15:52] ghost opened #12357 "Backport query management features to community."
Not having tools to view and kill runaway queries with community edition while testing Neo4j or evaluating Neo4j for a large project or for a small project that may always remain on community (in the case EE features are not required) makes it almost unusable without great frustration.

Almost always when learning new tech we make bad decisions with regard to data traversals, having to kill the pr

[2019-12-10 19:05] ghost commented on #9726
@srgamalial Does the apoc version work for you? I do not get accurate results.

[2019-12-11 08:32] tinwelint commented on #8186
Did you try the importer (neo4j-import)? It's magnitudes faster than LOAD CSV for initial bulk-loading data, see https://neo4j.com/docs/operations-manual/3.5/tools/import/. And generally the "launcher", currently called the Desktop does better at allocating proper amounts of memory.

Since this is 3y old and I believe there are solutions to your problems I'm closing this issue.

[2019-12-11 08:32] #8186 closed, assigned to nobody

[2019-12-11 08:38] tinwelint commented on #9121
Sorry @jastax I missed your question on that PR and only saw it now when going through old open issues. Did it fix this issue :) ?

[2019-12-11 09:42] tinwelint commented on #9352
This was initially fixed in 3.2, so now such a transaction will not be able to commit.

[2019-12-11 09:42] #9352 closed, assigned to nobody

[2019-12-11 09:53] jastax commented on #9121
No problem ;-)
I'm not sure whether it's fixed as it's not an issue for us anymore. We migrated to the new full-text index which works just fine. Feel free to close this.

[2019-12-11 10:55] tinwelint commented on #9357
I could reproduce this in 3.1, however I tried this in 3.5 now and it works, it neither block nor times out, so it seems to have been fixed.

[2019-12-11 10:55] #9357 closed, assigned to nobody

[2019-12-11 10:57] tinwelint commented on #9364
This is no longer the case in 3.4 and forwards.

[2019-12-11 10:57] #9364 closed, assigned to nobody

[2019-12-11 11:04] tinwelint commented on #9739
Neo4j has had problems with corrupted transaction log on disk-full cases, but there have been improvements in that area. As this is a very old issue, improvements have been made and your database is very likely gone I think we can close this issue, or do you have additional information to provide here @PavelNiedoba ?

[2019-12-11 11:32] tinwelint commented on #9757
I tried this on 3.5 and it works, so it has been fixed. Closing.

[2019-12-11 11:32] #9757 closed, assigned to nobody

[2019-12-11 11:36] tinwelint commented on #10393
There's not quite any actionable information on this issue. Can more be provided, or has the problem gone away?

[2019-12-11 11:47] tinwelint commented on #11771
For the original issue, using `neo4j-shell -path ...` would not even try to connect to a running instance but always try to start the database itself and if it was already running you would get that exception about the store lock. Just make sure that the database isn't running and you should be fine. The neo4j-shell is no longer present in all currently supported versions, either.

[2019-12-11 11:47] #11771 closed, assigned to nobody

[2019-12-11 12:27] tinwelint commented on #11953
If there's no stack trace about the actual issue causing the database to panic then we can't help I'm afraid. Simply restarting the database should help.

[2019-12-11 12:27] #11953 closed, assigned to nobody

[2019-12-11 12:31] PavelNiedoba commented on #9739
Yes, you can close this, I watch disk space and have no problems since then

On Wed, Dec 11, 2019 at 12:04 PM Mattias Finné <notifications@github.com>
wrote:

[2019-12-11 12:48] tinwelint commented on #11957
This looks like there was a problem populating indexes/constraint indexes during shutdown and the batch inserter didn't properly close indexes on failure... however this was fixed in 3.4.5. Unfortunately the open index files masked the actual error, but it could simply be that some uniqueness constraint index turned spotted non-unique values and therefore failed. In 3.5 shutdown() won't even fail

[2019-12-11 12:53] tinwelint commented on #11971
Any further information? Have you tried with a more recent version, like 3.5? It seems strange that this would occur if all java/neo4j processes were closed before trying to start. Is the neo4j process running with a user that has write permission to that file and directory?

[2019-12-11 12:56] tinwelint commented on #11989
This is basically a duplicate of https://github.com/neo4j/neo4j/issues/7641 so I'm closing this issue but the feature request remains, cheers

[2019-12-11 12:56] #11989 closed, assigned to nobody

[2019-12-11 13:00] tinwelint commented on #11990
Yes it could very well be a file handles limitation issue. Did you try to increase that limit? On another note version 4.0 will have a rewritten counts store which doesn't have the problem of switching between a/b files like that.

[2019-12-11 13:04] tinwelint commented on #12032
@sclikaflon just a ping that this issue will be closed if there's no further information that you can provide so that we can help you.

[2019-12-11 13:11] petriusus opened #12358 "Installation fails on Ubuntu 18.04 - neo4j : Depends: cypher-shell (< 1.2.0)"
Neo4j version: 3.5.11
Operating system: Ubuntu 18.04.3 LTS (GNU/Linux 4.15.0-72-generic x86_64)
Fresh OS installation (same happens with a VM that installed Neo4j normal a few weeks ago).

I just cannot get around this problem.

### Expected behavior
Normal installation

### Actual behavior
**First:**
[code]
_All good soo far_

**But then**
[code]

[2019-12-11 13:30] tinwelint commented on #12035
I take it that the transaction logs size isn't included since you mention the `*store.db*` pattern.

tl;dr this is a known issue which will be fixed in 4.0

Up to and including 3.5 record reuse is circumstantial and most record stores will not reuse ids until after a clean restart - this is why you see an ever growing database. Also if the database isn't cleanly shutdown in the restart the .id fil

[2019-12-11 13:30] #12035 closed, assigned to nobody

[2019-12-11 13:40] #12038 closed, assigned to nobody

[2019-12-11 13:48] tinwelint commented on #12041
@Sachin-Kashyap that's a great piece of information. I've created a card for investigating if Neo4j can detect ownership problems and say that in the error message, because it would be very helpful for those having this issue. I'll close this issue, but this issue could be good to link to for those with the same problem.

[2019-12-11 13:48] #12041 closed, assigned to nobody

[2019-12-11 13:56] tinwelint commented on #12049
It could also be that your OS decides to shut it down to preserve system stability if e.g. the neo4j process uses most of the machine memory. Can that be the case?

[2019-12-11 14:19] tinwelint commented on #12054
The stack trace shows a couple of transactions/queries, all awaiting node locks:

- a query awaiting exclusive node lock for setting property data
- a query awaiting exclusive node lock for setting label data
- two queries awaiting exclusive node lock doing some merge operation

Both stack traces show the same thing. However, a stack trace doesn't contain lock information and if there's some unclo

[2019-12-11 14:20] tinwelint commented on #12101
We are working on providing a better error message on permission problems.

[2019-12-11 14:23] Sachin-Kashyap commented on #12041
Thank you very much for your reply. I'm happy knowing that you find my
solution helpful and worthy enough to have that included in Neo4j itself.

Thanks & Regards,
Sachin Kashyap

On Wed 11 Dec, 2019, 7:19 PM Mattias Finné, <notifications@github.com>
wrote:

[2019-12-11 14:24] tinwelint commented on #12110
This is very likely due to one of the phases where it will read the relationship store backwards and do relationship chain linking (the former pass goes forward). Reading a file backwards is, on an OS/FS level apparently way slower. This has been fixed in a development version for release later, but it may be considered for back-porting.

[2019-12-11 14:31] tinwelint commented on #12119
So, what is the root cause of this, upgrading 3.4.11 to 3.5? Have you gotten past this issue?

[2019-12-11 14:39] tinwelint commented on #12169
The importer does report if there are more data columns than header columns or if nodes/relationships are missing mandatory fields, see https://neo4j.com/docs/operations-manual/3.5/tools/import/ . Other mismatches are hard to do 100% accurately. What's an example of header line and data line that you had problems with?

[2019-12-11 14:47] tinwelint commented on #12115
This will be fixed in 4.0, but until then you'll have to delete the transaction log, start and shutdown cleanly once to get on track again.

[2019-12-11 14:47] #12115 closed, assigned to nobody

[2019-12-11 15:04] Chikuid commented on #12234
Unfortunately I do not have corrupted database. You can close this if you want to.

[2019-12-12 05:36] jiangxjcn commented on #12110
I have solve my problem.
I have too many relationships TYPE for the first time , and when i set all the relationships the same type,the import time reduce to 10 minutes from around 20 hours.
The total number of my graph including around 5000W nodes and 3.5E relationships.

[2019-12-12 09:42] #9121 closed, assigned to nobody

[2019-12-12 09:43] #9739 closed, assigned to nobody

[2019-12-12 09:51] tinwelint commented on #12110
Right OK then it's most of a memory issue, you see the importer will need a piece of memory _per relationship type_ when linking them together and it will try to fit as many types as possible per pass through the relationship store and go multiple rounds through the relationship store until all types have been processed. If you would have had more memory available (not heap memory, but just more m

[2019-12-12 10:35] #12110 closed, assigned to nobody

[2019-12-12 13:34] tinwelint commented on #12193
As of 3.5 there's a check for supplying input files multiple times, which will result in warnings printed out. Due to the parallel nature of the csv file reading it's technically a bit challenging to get precise line numbers, but I'm sure it should be possible. File name and byte position would be simple :) would that be enough?

[2019-12-12 13:41] tinwelint commented on #12196
@AnselmJeong This isn't necessarily about metrics. During db startup multiple internal components go through _init_ phase and then they all go through _start_ phase. `Initiating metrics...` is printed in _init_ whereas ` Sending metrics to CSV...` is printed in start. In between those two are a whole lot of components that get their _start_ phase done. It's quite difficult to even guess which one

[2019-12-12 13:45] tinwelint commented on #12234
OK, then there's nothing I can I'm afraid

[2019-12-12 13:45] #12234 closed, assigned to nobody

[2019-12-12 14:58] tinwelint commented on #12354
Thanks, I found the issue and it will be fixed in the next 3.5.x release

[2019-12-12 15:04] Huskar-d opened #12359 "Fake concurrency in one process using one driver"
neo4j version:_neo4j-community-3.5.3_
Using one driver in one process ,and let multi thread to run cypher. It turns out to be almost the same with single thread way. Here is the code:
[code]
Next, run the code in backend way, continuously:
[code]
Here is the result:
[code]
Using one thread and multi thread cost almost the same time, but multprocess can really work well，“true” concurrency.
This is

[2019-12-12 16:15] petriusus commented on #12358
I was able to install version 3.5.5, but not higher.

Did Neo4j forget to release updated version of cypher-shell in their repo? [Seems like it is not the first time](https://stackoverflow.com/questions/43745678/cypher-shell-not-installable-ubuntu-16-04).

[2019-12-12 17:01] jdefolter commented on #12119
Thanks for the response @tinwelint - our issue disappeared some time ago, I believe in particular with the new storage format, however we continue to prefer DUMP from our main server to ensure data integrity.

[2019-12-12 17:03] folterj commented on #12119
Thanks for the response @tinwelint - our issue disappeared some time ago, I believe in particular with the new storage format, however we continue to prefer DUMP from our main server to ensure data integrity.

[2019-12-13 10:30] tinwelint commented on #12321
You don't have the files then @karezi ?

[2019-12-13 10:47] UnreleasedCode commented on #12351
Hi @oskarhane ,
thanks for your message.

I looked again into the logs directory and now I have found this (file: User\AppData\Roaming\Neo4j Desktop\sentry\scope.json):
```"timestamp":1576232096.259,"category":"console","level":"info","message":"[11:14:56.0258] [info] session error - ServiceUnavailable: Neo4jError: Server certificate is not trusted. If you trust the database you are connecting to,

[2019-12-13 12:07] oskarhane commented on #12351
Thanks @UnreleasedCode.
We have found the reason for this and it'll be fixed in next release of Neo4j Desktop.

[2019-12-13 12:59] UnreleasedCode commented on #12351
You are welcome @oskarhane and thanks too

[2019-12-13 12:59] #12351 closed, assigned to nobody

[2019-12-13 14:25] qomhmd commented on #340
I also need it.

[2019-12-15 07:12] robotgryphon opened #12360 "Attempting to create a 4.0-rc1 in Desktop Canary 1.2.4-dev.0 results in error"
![image](https://user-images.githubusercontent.com/8529636/70858557-0b505180-1ed2-11ea-86eb-95c87a45e20f.png)

- Neo4j version: 4.0-rc01
- Operating system: Windows 10 Professional
- API/Driver: Desktop Canary build 1.2.4-dev.0

Trying to download and run the release candidate of Neo4J 4 in the latest canary desktop client results in the error seen above. I have tried the following to mitigate thi

[2019-12-16 07:59] sherfert commented on #12355
Hi @swilly22
I agree that this is not expected behavior.
We'll look into it.

[2019-12-16 08:19] sherfert commented on #696
I just tried with neo4j 3.5.13 to run the following through the browser:

[code]

There is a text output error in the browser that shows `NaN` as `null` in the tabular view, but otherwise this worked. I reported that error to our browser team.

So it is possible to store `NaN`, and infinities in arrays of doubles, at least in neo4j 3.5.13.
There is no constant for these values, i.e. `Double.NaN`,

[2019-12-16 08:19] #696 closed

[2019-12-16 08:33] jennyowen commented on #12358
Hi @petriusus  this has been my pain for the past few days :disappointed:
This is because we released cypher-shell version 4.0.0 last week and `apt` just doesn't seem to be able to cope with the idea that some packages might have a dependency on _not_ the latest version of another package.
Doing:
[code]
you can see that the necessary cypher-shell packages are available and known to apt, it just ch

[2019-12-16 10:02] chrisvest commented on #12142
Hi, sorry it took so long to get back to this.

In your query with the full-text index, the match clause doesn't have the effect I think you want. The full-text index query will produce results for the whole index -- the results will not be restricted to what the preceding match clause returns. Also, I think the index will be queried for each row returned by the match clause.

The full-text query

[2019-12-16 10:06] chrisvest commented on #12142
Teaching Cypher how to use full-text indexes to answer STARTS WITH, ENDS WITH and CONTAINS is on the road map, and should make it easier to write these sorts of queries, but until then you will have to rewrite your queries to either find the rooms first or the buildings first, and then perform a graph traversal from there to match your pattern.

[2019-12-16 10:06] #12142 closed, assigned to nobody

[2019-12-16 10:45] chrisvest commented on #8142
We do not control what plug-ins include in their jar files. To avoid this problem, the plug-ins should either coordinate their dependency versions, or shade with class-relocation: https://maven.apache.org/plugins/maven-shade-plugin/examples/class-relocation.html

[2019-12-16 10:45] #8142 closed, assigned to nobody

[2019-12-16 12:46] Pushplaybang commented on #340
This would drastically reduce the number of queries I have to maintain around create/merge/delete.

I think its a nonissue for MATCH etc.

[2019-12-16 13:27] petriusus commented on #12358
Love that inliner, thank you!

[2019-12-16 13:27] petriusus commented on #12358
Love that inliner, thank you!

[2019-12-16 15:36] izoratti commented on #12357
@OpenCoderX - thanks for your comments, I personally think your point is valid and the Community Edition should have some ability to manage queries and transactions.
We are going to work on a viable solution, doing our best to provide to provide it in a reasonable time.

Thank You.

[2019-12-16 15:36] #12357 closed, assigned to nobody

[2019-12-16 17:12] markmssd commented on #12142
Thanks a lot for this very complete answer @chrisvest , really appreciate it!

[2019-12-17 13:24] #7397 closed, assigned to nobody

[2019-12-17 13:24] #12354 closed, assigned to nobody

[2019-12-17 18:24] johannessen opened #12361 "Documentation of the Bolt protocol, versions 3 and 4"
There are several software projects (e. g. [libneo4j-client](https://neo4j-client.net/#libneo4j-client)) that implement the [only documented version](https://boltprotocol.org/) of the Bolt protocol, version 1.

Neo4j 4 drops support for Bolt version 1 with https://github.com/neo4j/neo4j/commit/9ff0780b3458fd2f6abcbe90d61a513c3a30e956. As a consequence, Neo4j 4 no longer supports the only version o

[2019-12-18 12:11] malafeev opened #12362 "application with neo4j-harness 4.0 doesn't compile with jdk 1.8"
[code]

- Neo4j version: 4.0
- Operating system: Ubuntu 14.04.5 LTS
- API/Driver: Java neo4j-harness
- **Steps to reproduce**
try to compile app which uses neo4j-harness 4.0 on jdk 1.8

[2019-12-18 12:40] MishaDemianenko commented on #12362
Hi, @malafeev thank you for your report!
Neo4j 4.0 requires at least JDK 11. That will be reflected in documentation when 4.0 will be released officially and documentation will be published.

[2019-12-18 12:40] #12362 closed, assigned to nobody

[2019-12-18 12:42] malafeev commented on #12362
thanks @MishaDemianenko , I didn't find that in docs so was curious.

[2019-12-18 12:46] MishaDemianenko commented on #12362
@malafeev So far only preview version of the documentation is available here: https://neo4j.com/docs/operations-manual/4.0-preview/installation/requirements/#deployment-requirements-software It's not final but in terms or requirements, it should be really close to the final version. I hope it helps!

[2019-12-18 16:29] seyeda opened #12363 "algo.similarity.jaccard throws ArithmeticException"
**Server spec:**
- Neo4j version: 3.5.12
- Graph algorithms version: 3.5.12.0 or 3.5.13.0
- Operating system: macOS Sierra

**Steps to reproduce:**
1. Install neo4j with the above spec. Don't forget to add the graph algorithms jar file.
2. Run the following cyphers to create a small sample graph
[code]
3. Find jaccard similarity between nodes `a` and `b`:
[code]

**Expected behaviour:**
Returns ja

[2019-12-18 21:16] tjbrockmeyer opened #12364 "Neo4j Go Driver does not return errors when unique constraints are violated"
I posted this issue in the `neo4j/neo4j-go-driver` repository a couple weeks ago, but got no reply, so I am posting it here now. I have been experiencing this issue for the entire time, and I have no workarounds. Any help would be greatly appreciated.

**Neo4j Version:** 3.5.9 Community
**Neo4j Mode**: Single instance
**Driver version**: Newest stable version (just updated with `go get -u`)
**Oper

[2019-12-18 22:29] ogroppo commented on #11577
Hi, I am running neo4j 3.5.14 with browser 3.2.26 and still get a similar error... Just wondering if this fix has been included in the versions after 3.3. Thanks

[2019-12-19 13:27] felipebn opened #12365 "Neo4j Error: Expected to find a node at long slot 0 but found NO_VALUE instead"
Our application has one query that fails with the error below:

[code]

- Neo4j version: 3.5.**13**-enterprise , 3.5.**14**-enterprise
- Operating system: Docker on Windows and Docker on Linux
- API/Driver: Cypher

# Steps to reproduce

Just run the query below on the provided database.

Note that when starting the query with `OPTIONAL MATCH`  instead of `MATCH` this error does not occur.

Also wh

[2019-12-19 14:02] jennyowen commented on #12358
I've fixed this by removing the cypher-shell 4.0 deb from the repository for now.
A more permanent solution coming soon...

[2019-12-19 18:24] #12321 closed, assigned to nobody

[2019-12-20 14:10] burqen commented on #12201
@Manish-Giri I'm closing this issue assuming that your problem has been solved. Feel free to re-open if that's not the case 👍

[2019-12-20 14:10] #12201 closed, assigned to nobody

[2019-12-21 00:47] Manish-Giri commented on #12201
@burqen I *just* finished executing all my queries against this (10GB) dataset last night. All the relationships were imported successfully, and the queries executed without a hitch -

![Screenshot 2019-11-26 16 41 18](https://user-images.githubusercontent.com/11348778/71300288-35d25c80-2361-11ea-8e08-31539313bbff.png)

I'm now moving on to my next dataset (30GB), and hope everything works well th

[2019-12-22 06:32] pricklywiggles commented on #12030
Any news on this?

[2019-12-23 10:48] MishaDemianenko commented on #12277
Hi, @luanne
Warnings should not be visible anymore in the latest available 4.0.

[2019-12-23 10:48] #12277 closed, assigned to nobody

[2019-12-23 11:51] ikwattro opened #12366 "[Neo4j 4.0] CREATE DATABASE with name containing dash fails"
Following the documentation : https://neo4j.com/docs/operations-manual/4.0-preview/manage-databases/configuration/#manage-databases-administration

One should be able to create a database with a name containing a dash, however

[code]

yield

[code]

However

[code]
works.

Though it's not really straightforward to have to enclose a name containing a dash for creating a database while you don't ha

[2019-12-23 15:44] Mats-SX commented on #12363
Hello @seyeda and thank you for your very extensive bug report.

I think we caught you also on the Neo4j community forums, but I'll reply similarly here. We have productised an algorithm dubbed `Node Similarity` which is designed to replace the algorithm you're reporting on here. It is our recommendation to try and use the Node Similarity algorithm instead, to try and get away from the errors.

We

[2019-12-23 15:57] borick opened #12367 "NullPointerException in inconsistencies report file from backup filling up hard-drive"
when our neo4j backup runs daily, it seems to be generating inconsistency checker report files in the /root folder filling up space

**Neo4j Version:**  3.5.7
**Operating System:** Ubuntu 18.04.2 LTS

### Steps to reproduce
1. Install neo4j 3.5.7
2. Take backups nightly until problems arise

### Expected behavior
Backups should work, consistency checker should not be getting NullPointerExceptions

[2019-12-23 16:12] seyeda commented on #12363
Hi @Mats-SX
Thanks for your reply. Based on what you said and the responses I got in the community forums, I am going to try `Node similarity` algorithm and see how it goes. At least from its description I can say it will work.

[2019-12-23 21:52] borick commented on #12367
Forgot to add the example of the actual NullPointerException before. It's causing a new 3~ GB file to be created every day.

[2019-12-23 22:00] Mats-SX commented on #12363
Very good. I will close this issue for now, but you can always reach back here if anything else fails.

[2019-12-23 22:00] #12363 closed, assigned to Mats-SX

[2019-12-24 04:49] Bestulo opened #12368 "Something went wrong: "TypeError: n.props.status is undefined" and the application can't recover."
- Neo4j version: 3.5.13 (Community)
- Operating system: Debian 9
- API/Driver: Browser App on http://localhost:7474/browser/

Going to the browser app on localhost, if you click Database, then go to Connected as and click the "user list", you'll get `Something went wrong: "TypeError: n.props.status is undefined" and the application can't recover.`

![image](https://user-images.githubusercontent.co

[2019-12-24 14:57] technige commented on #12359
What you observe is not a bug, and is not specifically related to Neo4j or the driver. The performance difference in Python between single-threaded and multi-threaded code is typically negligible because of the Global Interpreter Lock (GIL).

There is a lot of reading material about this online, but here's a good place to start:
http://jessenoller.com/blog/2009/02/01/python-threads-and-the-global-

[2019-12-24 14:57] #12359 closed, assigned to nobody

[2019-12-25 10:45] Huskar-d commented on #12359
But this occurs in java also.

[2019-12-25 10:52] Huskar-d commented on #12359
And it's an IO oriented  program, I change the cypher to "match(n) return n"
[code]
The result still remains the same：

[code]

[2019-12-25 17:49] ghost commented on #12357
Excellent, Thank You! @Hunterness

[2019-12-27 05:15] Phosphor-zhl opened #12369 "Query exception"
When the disk space is insufficient and the service fails, restart the service.I execute the following query and the results I don't want are shown in the figure.

match (s:stock) where s.ucc='19001000195906' return s

Please help to see what is the problem.

Thanks!

**Neo4j Version:** 3.5.4
**Operating System:Windows 10

![Query](https://user-images.githubusercontent.com/17038799/71502462-429808

[2019-12-29 00:00] Manish-Giri opened #12370 "Neo4j desktop - Initialization error: TypeError: Cannot read property 'name' of undefined"
Two days back, I deleted some unused projects from Neo4j Desktop (to create more space to load my next dataset). Today, when I tried to start up Neo4j Desktop again, I get this error -

![Screen Shot 2019-12-28 at 6 28 23 PM](https://user-images.githubusercontent.com/11348778/71550565-a13fae00-29a1-11ea-829c-6947f96d13d9.png)

I tried restarting Neo4j Desktop several times, and each time, it's the

[2019-12-29 22:06] wilsonmar commented on #11429
I'm encountering the same error message, but I'm on MacOS Mojave, trying with neo4j/3.5.12/ installed from brew. I don't see a client folder in /Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home/bin

[2019-12-30 08:14] Roxling commented on #12367
Did you add a fulltext index around the time when you first saw this issue? If so, it is likely the same as https://github.com/neo4j/neo4j/issues/12337 and the fix was part of the 3.5.13 release

[2019-12-30 15:40] borick commented on #12367
I've confirmed that we do have a full text index in the graph that is presenting the problem while none of the other graphs have a full text index and are not failing in the same way

[2020-01-02 00:31] Manish-Giri opened #12371 "Neo.DatabaseError.General.UnknownError: Connection has been shutdown: javax.net.ssl.SSLException: SSL peer shut down incorrectly"
Same error as #12191. Since there has been no update on that issue, I'm creating a new one. This time I have the query execution plan (`EXPLAIN`) for the current query and the `debug.log`, as was requested in the previous issue.

The error -
[code]

Error screenshot -

![Screen Shot 2020-01-01 at 6 13 20 PM](https://user-images.githubusercontent.com/11348778/71647615-88980680-2cc7-11ea-8b1f-d59ae4

[2020-01-02 08:53] Roxling commented on #12367
Then it is very likely it is the same issue. Please upgrade to the latest 3.5 release and verify that it fixes your problem, so that this issue can be closed.

[2020-01-02 09:43] sherfert commented on #12365
Thanks for the bug report @felipebn
Well look into it!

[2020-01-02 09:45] sherfert commented on #12365
In the meantime, you can likely circumvent the error by prepending `CYPHER runtime=interpreted` to your query.

[2020-01-02 09:54] sherfert commented on #12370
Please open this issue on the [neo4j-desktop repository](https://github.com/neo4j-apps/neo4j-desktop).

[2020-01-02 09:54] #12370 closed, assigned to nobody

[2020-01-02 10:05] sherfert commented on #12369
Hi @Phosphor-zhl
What steps can we follow to get a database into the same state and recreate the issue?
Have you run [consistency checker](https://neo4j.com/docs/operations-manual/current/tools/consistency-checker/) after the service failure?

[2020-01-02 10:20] technige commented on #12364
Hi @tjbrockmeyer - thanks for highlighting the issue and providing us with some detailed analysis. We've added this to our backlog to investigate further. I'll close this particular issue though, as it's a duplicate of https://github.com/neo4j/neo4j-go-driver/issues/71

[2020-01-02 10:20] #12364 closed, assigned to nobody

[2020-01-02 10:45] sherfert commented on #12371
@Manish-Giri Thanks for the new information. Since this seems indeed to be the same problem, it would be more helpful for us if you added this as a comment to #12191 instead of creating a new issue.

The comments on that thread seem to be correct in the sense that this is likely a networking error, which might be caused by the server taking too long. Is it possible to download the CSV files to the

[2020-01-02 14:06] craigtaverner commented on #12366
@ikwattro This is an unfortunate side-effect of the fact that we use pure Cypher syntax for the `CREATE DATABASE` command. In Cypher there were two possible literals that could be used for the database name, a string (which requires quotes all the time) or a variable (identifier) which usually does not require quotes, but when it does (to escape illegal identifier characters) it uses back-tick quo

[2020-01-02 14:06] #12366 closed, assigned to craigtaverner

[2020-01-02 15:20] technige commented on #12361
We have an item on our roadmap to pick up protocol documentation again at some point in the future, but I cannot give you any timescales on this right now.

[2020-01-02 15:24] technige commented on #9683
Closing this issue as a reactive driver has now been published with Neo4j 4.0.

https://www.npmjs.com/package/neo4j-driver/v/4.0.1

[2020-01-02 15:24] #9683 closed, assigned to technige

[2020-01-02 15:26] technige commented on #12165
@DachuanZhao We have no plans to implement configuration for this, but be aware that since the browser files are static, it should be possible to serve them from elsewhere by simply copying them.

[2020-01-02 15:26] #12165 closed, assigned to nobody

[2020-01-02 15:29] technige commented on #9693
Adding `team-packaging` and removing `team-drivers` label as this appears to be related to packaging rather than the driver itself.

[2020-01-02 15:33] technige commented on #9541
Closing due to tumbleweed. Please reopen if tumbleweed blows away.

[2020-01-02 15:33] #9541 closed, assigned to zhenlineo

[2020-01-02 17:19] bradleygore opened #12372 "Possible bug on path matching"
I'm still new to neo4j, but this may be a bug in the path matching mechanism. Or, I could just be misunderstanding how it works :)

**Neo4j Version:** 3.5.9 Enterprise
**Operating System:** MacOS Catalina 10.15.2
**API:** neo4j Browser 3.2.20

### Steps to reproduce
We have a setup such that part of our graph contains `:User` labels, that own `:Email` labels, and may be members of `:Role:System` l

[2020-01-02 22:16] bradleygore commented on #12372
Update:

Found that if I range over the path, extract the nodes, then unwind it all, and then collect it all into a distinct set, that we get all the nodes we want to exclude from obliteration:

[code]

It seems to me that `p` is a listing of every unique path. That makes sense. What I don't understand is if there is, or even if there should be, a simpler way to capture all the individual nodes re

[2020-01-03 03:41] Phosphor-zhl commented on #12369
Hi @sherfert  This is difficult to reproduce.In the end, I deleted my index, re-created the index, and it returned to normal.
thanks!

[2020-01-03 08:08] sherfert commented on #12369
In this case the reason would have been an inconsistency in the index. It would still be nice to know how the index got into that state. If you find out what happened, please reopen this issue, so we can investigate.

[2020-01-03 08:08] #12369 closed, assigned to nobody

[2020-01-03 09:45] AisTop commented on #9807
Neo4j version: 3.5.12
Operating system: Centos 6.6
We are seeing similar errors on our Read Replicas. I would love to hear any clues on how to debug this particular error. thinks !
error info :
ERROR [o.n.k.i.t.l.c.CheckPointerImpl] Error performing check point Failed to rotate logs. Expected version: 25698, actual version: 5, wait timeout (ms): 600001
org.neo4j.kernel.impl.store.kvstore.RotationT

[2020-01-03 11:10] mrbungle733t commented on #9807
@AisTop I had a similar issue after database crash (crash was caused as there was not enough space for transaction logs)
After investigation, i found out that in **graph.db** folder last **neostore.transaction.db** the file is owned by root, not a **neo4j** service account
Also, there was ownership issue with **neo4j.log** and **debug.log**. After fixing file ownership and restarting the server wa

[2020-01-03 13:44] sherfert commented on #12365
@felipebn The download is not valid any more. Could you re-upload it somewhere?

[2020-01-04 23:49] swaechter opened #12373 "GraphDatabaseService is not injected in the unmanaged server extension"
## Background

I am in the process of writing an unmanaged server extension and used the 3.5.14 community version (Both Neo4j server & Java dependencies). I wrote a really small extension that worked:

## Steps to reproduce

A simple server extension:

[code]

And the following Gradle file:

[code]

The System is a Debian Testing with the following Java version: `OpenJDK Runtime Environment (build

[2020-01-05 02:27] robotgryphon commented on #12360
Additional information:
- Installing the 4.0.0-rc1 inside a docker container and running it mapped allows Desktop to connect and open a browser successfully
- Running a few queries inside the browser after connecting is successful (following the Northwind tutorials from the 3.x series)

[2020-01-06 01:00] ghost opened #12376 "cypher projection doesn't work?"
`$ pip3 show neo4j` = 1.7.6

Script
[code]

Error
[code]

I think it's looking for the 3rd argument to the label projection as seen below, which runs successfully.
[code]

[2020-01-06 02:11] ghost commented on #12376
cypher projection docs here
https://neo4j.com/docs/graph-algorithms/current/projected-graph-model/cypher-projection/

[2020-01-06 02:43] ghost commented on #12376
In the meantime, I'm going to use class inheritance of django-neomodel in order to give my nodes multiple labels so that I can use label propagation

[2020-01-06 09:17] jschmidtWK commented on #9541
My apologies for not getting back to you. We transitioned successfully to Causal Clustering and haven't encountered the issue again since.

[2020-01-06 15:31] InverseFalcon commented on #12372
I don't believe the behavior you saw is a bug, and it looks like you figured out a means to get what you wanted by using UNWIND and collect() to ensure you're only working with a single list rather than separate lists across multiple rows (with your MATCH and filtering being performed per row, each one using a separate list of nodes to exclude).

An alternative approach is to use optional connecti

[2020-01-06 16:01] bradleygore commented on #12372
@InverseFalcon - Thank you! I really like your solution. I didn't realize how the optional relations worked. Just to make sure I understand this properly, here's my understanding of this query:

[code]

That look correct to you? Thanks again!!

[2020-01-07 05:30] meshmmanuel opened #12374 "Cannot connect to Neo4j 3.5.14 Community Edition server"
Good day,

I have been trying to connect to Neo4j 3.5.14 community edition on my server but I have not been able.

I installed a fresh version of neo4j on my namecheap centos7 vps yesterday.

neo4j 3.5.14
openjdk version "1.8.0_232"
OpenJDK Runtime Environment (build 1.8.0_232-b09)
OpenJDK 64-Bit Server VM (build 25.232-b09, mixed mode)

Below is my config file:

[code]

Below is my netstat result

[2020-01-07 07:48] sherfert commented on #12372
Indeed, your understanding is correct @bradleygore.

[2020-01-07 07:48] #12372 closed, assigned to nobody

[2020-01-07 08:07] Roxling commented on #12367
Closing this, as it is most likely the same issue and already fixed. If you can reproduce the issue in the latest 3.5 version (3.5.14), please reopen the issue.

[2020-01-07 08:07] #12367 closed, assigned to Roxling

[2020-01-07 09:39] jennyowen commented on #9693
The error `/usr/share/neo4j/bin/neo4j: line 418: /var/run/neo4j/neo4j.pid: No such file or directory` was fixed in 3.5 on the 22nd August 2019 (admittedly after all these bug reports). Basically the `/var/run` folder is volatile and folders often get deleted between reboots. Our startup script wasn't checking for the /var/run/neo4j folder's existence before trying to write a file there, and conseq

[2020-01-07 09:39] #9693 closed, assigned to technige

[2020-01-08 10:13] Silkjaer opened #12375 "Sub-indexes"
In a large growing dataset, indexes are great at locating and ordering results on a specific node/property combination.

However, when a single node is very dense with many neighbors, the indexes can't be used to speed up querying and sorting of neighbors.

E.g.
`MATCH (a:NodeTypeA {IndexedProperty:"xxx"})` will use index NodeTypeA(IndexedProperty)
but
`MATCH (b:NodeTypeB {IndexedProperty:"xxx"})-

[2020-01-08 11:22] #12355 closed, assigned to Hunterness

[2020-01-09 12:44] sherfert commented on #12030
@pricklywiggles @rmgpinto
This was fixed in 3.5 quite a while ago, but we forgot to close the issue. Can you please verify on a recent 3.5 version that you don't get this error any more?

[2020-01-09 12:50] sherfert commented on #11577
@ogroppo This particular fix has been included in newer versions of neo4j as well. If you get a similar error, that is likely a different bug.

Could you please open a new issue where you post the query, the error message and also any necessary setup so we can reproduce the issue?

[2020-01-10 09:59] zhenlineo commented on #12376
Hi @HashRocketSyntax
Try the following:
[code]

[2020-01-10 10:01] #12373 closed, assigned to nobody

[2020-01-12 18:49] ghost commented on #12376
@zhenlineo thank you for the response. It results in the following:

[code]

[2020-01-13 07:42] sherfert commented on #12375
Hi @Silkjaer

Thanks for your feature suggestion. Except for the part where suggest to keep an index per node-id, this sounds very much like path indexes, which index a pattern. We have been investigating this topic previously. Since it is quite complex and generic with many trade-offs, we have not prioritized it so far.

---
For the particular query in your example, depending on statistics, the p

[2020-01-13 08:00] Silkjaer commented on #12375
Thank you @sherfert

Adding more concrete information to the specific case I am facing.

[code]

In the above query I do not specify the label of `tx`, to skip a `Filter`.

I have tried to force a `NodeHashJoin` by using an Index to do the sorting, like this:

[code]

Profile of the query:

![image](https://user-images.githubusercontent.com/51490/72240866-a0378f00-35e5-11ea-8e93-fc46a150509f.png)

[2020-01-13 09:47] technige commented on #12376
Transferred issue as this is not driver-related.

[2020-01-13 11:39] martinfurmanski commented on #12221
@Trane9991 No plans to update Hazelcast, but in later versions of neo4j Hazelcast will no longer be used.

[2020-01-13 16:16] s1ck commented on #12376
@HashRocketSyntax There are two variants of label propagation in the library (at least in the version you're using): `CALL algo.labelPropagation(STRING, STRING, STRING, MAP)` and `CALL algo.beta.labelPropagation(STRING, STRING, MAP)`. If you use the latter, it should work as expected.

That being said, we're currently working on an improved API that will be released soon, docs will of course be al

[2020-01-13 23:48] ghost commented on #12376
@s1ck Thank you for letting me know. Is that API a Q1 thing?

I've been formatting projection calls based on these docs
https://neo4j.com/docs/graph-algorithms/current/projected-graph-model/cypher-projection/

[2020-01-14 09:53] burqen commented on #12375
@Silkjaer Hi! Like you said and as @sherfert confirmed, a good way of addressing this issue would be with a "path index", which is something that has beed discussed before. I'm adding this issue as a datapoint in favour for such feature.
Thank you for reporting! 👍

[2020-01-14 16:45] gjmwoods commented on #12308
Hi @cwildman,

Firstly, many apologies for the delay in getting back to you and many thanks for the detailed ticket and example repo.

I think that you have unfortunately discovered an error in the documentation. Whilst it recommends to use the `javax.ws.rs-api:2.0` dependency, version 3.5.x of Neo4j only supports `JAX-RS v1` and is therefore incompatible with the `javax.ws.rs-api:2.0` (or `JAX-RS

[2020-01-14 16:45] #12308 closed, assigned to nobody

[2020-01-15 00:07] ghost commented on #12376
For now, I am just going to use a cypher query to `SET` many longitudinal `:labels`. Then use those to run the `label propagation` method. Then pull the labels off again because neomodel does not like them.

[2020-01-15 12:28] Hajerinspirations commented on #12030
I still get the same error. I tested this morning with the version 3.5.14.

[2020-01-15 14:14] MortalFlesh opened #12377 "Wierd behaviour in cypher property value"
Hello,
I've discovered a wierd behaviour when using a `&` char in property value.

- Neo4j version: 1.2.1.1042
- Operating system: macOS Mojave (10.14.6)
- API/Driver: Cypher
- **Steps to reproduce**
[code]
- Expected behavior
**Table** output
[code]
- Actual behavior
**Table** output
[code]

It is also wrong in the **Graph** output.

But it is correct in the **Text** output and in the matching.
[

[2020-01-15 15:12] zhenlineo commented on #12030
There is something in your dev env that kills the connections between server and driver. It is not the driver or server not want to keep the socket alive. It is likely some firewall settings that kills long running connections when there is no application message, which `socket_keep_alive` will not really help in this case. If you query is a long running cypher query without any return for a long

[2020-01-16 10:14] Mats-SX commented on #12376
@HashRocketSyntax Yes, Q1.

[2020-01-16 12:13] selvarajendran commented on #7225
Could you please let me know, where I can check the example of db.index.fulltext.createRelationshipIndex() and db.index.fulltext.queryRelationships(). I am looking for one. Thanks in advance.

[2020-01-17 05:42] luanne opened #12378 "Subqueries: returning values behaves inconsistently"
Returning values from subqueries seems to work inconsistently across nodes and properties

**Neo4j Version:** 4.0.0

### Steps to reproduce

[code]
works as expected but

[code]

produces
[code]

### Expected behavior
Returning `m.title` should not produce an error

### Actual behavior
This error is returned
[code]

[2020-01-17 17:17] jmsuhy commented on #266
Multiple databases will be in ONgDB 4.   You will be able to switch dbs, etc.

[2020-01-17 18:56] senica commented on #12351
I'm getting this same error. Neo4j Desktop 1.2.3.

This was always working for me but recently stopped. I'm using neo4j docker as well.

What are the steps to resolve this?

[2020-01-17 19:23] InverseFalcon commented on #12378
I don't believe we allow `m.title` as a valid variable name within a query. This fails for example because a period isn't allowed in the variable name:

[code]

As a convenience, in a RETURN, we do allow a projection expression to be used as the variable name, but it's not allowed as a valid variable in any other circumstance (where it could possibly be referenced elsewhere in the query).

I think

[2020-01-17 19:27] InverseFalcon commented on #12377
This sounds like a display issue in the Neo4j Browser, not in the actual database.

Could you close this up and create a new issue [here](https://github.com/neo4j/neo4j-browser/issues)?

[2020-01-19 08:20] Jaggar2018 opened #12379 "neo4j will fail to start when using other's graph"
I discover that when I try to open others' graph by use their databases and dbms to overwrite mine,
neo4j will fail to start. (running on the server)

**Neo4j Version: 3.4.17
**Operating System: CentOS Linux release 7.5.1804 (Core)

### Steps to reproduce
1. Load others‘graph by using their dmbs and databases file to overwrite my data file.
(PS: I can start the neo4j successfully when I use my own

[2020-01-19 19:19] oskarhane commented on #12351
@senica You'll need Desktop 1.2.4 for this to work.
If you use MacOS, you'll need to download Neo4j Desktop from neo4j.com again (we've paused the auto-update on MacOS for now).

[2020-01-20 04:42] luanne commented on #12378
@InverseFalcon okay, thanks. Would be great to have this in the docs for subqueries

[2020-01-20 07:36] sherfert commented on #12378
I think we should enforce aliasing in `RETURN` clauses inside of subqueries to generate better error messages. Thanks for the bug report @luanne !

[2020-01-20 07:40] sherfert commented on #12379
Your error message says "Too many open files". This in an OS problem. Please try following these steps: https://neo4j.com/developer/kb/number-of-open-files/

[2020-01-20 07:40] #12379 closed, assigned to nobody

[2020-01-20 07:42] Jaggar2018 commented on #12379
Solved by setting the open files number limit of server.
Thanks!

[2020-01-20 07:42] Jaggar2018 commented on #12379
Solved by setting the open files number limit of server.
Thanks!

[2020-01-20 08:06] burqen commented on #7225
Here is full-text indexes described in documentation :)
https://neo4j.com/developer/kb/fulltext-search-in-neo4j/
https://neo4j.com/docs/cypher-manual/current/administration/indexes-for-full-text-search/

[2020-01-20 08:55] sherfert commented on #12365
Please reopen this issue with the data again. Thank you.

[2020-01-20 08:55] #12365 closed, assigned to sherfert

[2020-01-20 12:50] benjaminh opened #12380 "Neo4j 4.0 Java IOException User limit of inotify watches reached"
On a fresh install of Neo4j 4.0 on an ubuntu 18.04 distrib, I get the following error when starting the server : `java.io.IOException: User limit of inotify watches reached`

- Neo4j version: 4.0.0
- Operating system: Ubuntu 18.04
- **Steps to reproduce**
  * go to neo4j server directory
  * start the server `./bin/neo4j start`
- Expected behavior : server starting and Neo4j browser accessible at

[2020-01-20 18:32] bionicles opened #12381 "Is this project dead?"
To know there’s momentum on a project as an engineer I check the commit history. This project has no commits for nearly 2 months, is Neo4j dead? Or just resting?

[2020-01-20 18:32] bionicles commented on #12381
Never mind. Must be a branch issue

[2020-01-20 18:49] senica commented on #12351
Thanks! Yes, I downloaded 1.2.4 from the website and all is working. Thank you.

[2020-01-21 11:37] nglgzz commented on #12381
Hey @bionicles.

This project is definitely not dead. There are quite a few engineers working on it daily. This repository is a mirror of the open source part of our internal codebase, so the latest commit here doesn't reflect the latest activity on the project.

The commit you're mentioning is the latest release for the 4.0 branch. If it's any use for you, the actual latest commit in this project

[2020-01-21 11:37] #12381 closed, assigned to nobody

[2020-01-21 17:06] bionicles commented on #12381
OK, thanks for the heads up @nglgzz -- did major parts of the open source code wind up in other repos like openCypher/front-end etc?

[2020-01-21 17:06] bionicles commented on #12381
just curious because Neo4j is really cool!

[2020-01-22 08:17] luanne opened #12382 "Isolation issue in Neo4j 3.5.8"
**Neo4j Version:** 3.5.8

### Steps to reproduce
1. Set up a test which concurrently executes two Cypher queries under load- one that deletes nodes, and the second that reads nodes and relationships  (we used JMeter and Blazerunner)
2. Record the results

### Expected behavior
Zero failures

### Actual behavior
The read query fails intermittently.

Here are the results of testing on two different

[2020-01-22 09:52] selvarajendran commented on #7225
Thank you.

[2020-01-22 09:58] selvarajendran commented on #7225
@burqen

I tried below with full text index as below

CALL db.index.fulltext.queryNodes("index1", "x") YIELD node as node1, score as score1
With collect({id: node1.id, score: score1}) as rows1
CALL db.index.fulltext.queryNodes("index2", "name:Y") YIELD node as node2, score as score2
With collect({id: node2.id, score: score2}) as rows2, rows1
return rows1 + rows2 as final

The above returns result

[2020-01-22 11:20] digitalillusion commented on #11971
I have the same problem after building a new image with the following dockerfile:
[code]
running it as follows:
[code]
It's maybe worth noticing that my $HOME/neo4j directory contains data from a docker.io/neo4j:3.4.5 installation.

**It turns out that $HOME/neo4j became somehow owned by root and simply chown back to me solved the issue**

[2020-01-22 12:12] nglgzz commented on #12381
The repos in openCypher are still from Neo4j, but the scope is limited to Cypher the query language rather than the DB itself.

You can find more info about the project at https://www.opencypher.org/

[2020-01-22 15:27] burqen commented on #7225
@selvarajendran I would love to help but this is sliding discussion is sidetracking away from topic a bit.
For specific help with queries can I recommend you seeking out
- The community site https://community.neo4j.com/
- Neo4j user slack channel https://neo4j-users-slack-invite.herokuapp.com/
Both of those spaces have lot's of people helping out with this type of questions :)

[2020-01-22 15:36] andreycha opened #12383 "[Question] Random transaction timeouts"
Hi,

We have following query which returns around 200k entries:

[code]

Indices for `Id` and `IsActive` are in place. Usually query execution takes 1-2 seconds, but from time to time it spikes to more than 5 seconds and transaction gets timed out (we have `dbms.transaction.timeout` and `dbms.lock.acquisition.timeout` both set to `5s`):

The only thing I've checked so far is CPU memory consumption

[2020-01-22 19:23] pdrangeid opened #12384 "Neo4j default .conf file using deprecated dbms.connectors.default_listen_address configuration item"
- Neo4j version: 4.0.0
- Operating system: Windows Server 2016
- API/Driver: n/a
- Clean install of neo4j - uncomment the example line for Network connector configuration:
"# To accept non-local connections, uncomment this line:
#dbms.connectors.default_listen_address=0.0.0.0"

- Expected behavior
The default included config file commented line SHOULD be updated to reflect the new configuration db

[2020-01-23 09:01] simonalexander2005 commented on #9726
The same issue exists in 4.0.0

[2020-01-23 10:23] klaren commented on #12384
Hi @pdrangeid and thank you for reporting this!

This is already fixed by https://github.com/neo4j/neo4j/commit/5661e90c209a532613c5eea6ea93836e5a777a09 and will be part of the next update.

[2020-01-23 10:23] #12384 closed, assigned to klaren

[2020-01-23 13:27] szarnyasg commented on #2725
The query in @sherfert's last comment indeed works in 4.0.0, see the documentation of [`CALL`](https://neo4j.com/docs/cypher-manual/4.0/clauses/call-subquery). Thanks!

[2020-01-23 15:33] xwkuang5 commented on #12374
Hi, I am having a similar issue with the 4.0 edition. Did you resolve the issue that you were having? If yes, what did you do? Thanks!

[2020-01-23 16:22] ryandaugherty commented on #11971
Plus one. Same issue in docker container, neo4j 3.5.14. Only workaround that seems viable (other than messing with lock file) is to use cypher-shell to do a LOAD CSV statement.

[2020-01-23 21:38] mojo2go opened #12385 "Neo4j Server should return error message when cypher-shell is wrong version"
## Neo4j Server should only accept connections from a matching version cypher-shell

I started using a small widget app to make it more speedy for me to switch between servers:
https://community.neo4j.com/t/a-wrapper-for-cypher-shell-with-profiles/12573
But it's naive in this early version in that it does not try to match the cypher-shell version with the server version.  It uses what ever local c

[2020-01-24 11:58] inmost-light commented on #12286
@tomswinkels Could you try upgrading to a newer version? We think this issue might have been fixed in 3.5.12.

[2020-01-24 12:05] tomswinkels commented on #12286
@inmost-light I have the newest version of Neo4j 3.5 and i dont have anymore issues. But i have changed a lot, the whole database are now in the ram. I dont no if the bug is fixed in the version 3.5.12, but for now close this issue.

[2020-01-24 12:05] #12286 closed, assigned to Hunterness

[2020-01-24 13:13] #2725 closed

[2020-01-25 02:01] DFoxinator commented on #12383
Did you check the GC logs? Also, your query can probably be optimized by adding a direction when you query the IN_SPORT relationship.

[2020-01-27 08:18] sherfert commented on #12385
Hi @mojo2go
This sounds rather like a bug in Neo4j 3.5.8 than a version mismatch between Cypher-shell and the server. Did you try running the same query (on a database before the label "aliasing") via e.g. browser and it did not behave that way?

Did you try a newer version of 3.5?

If possible, you you create a small `.cypher` script that reliably reproduces the aliasing issue in Neo4j 3.5.8?

[2020-01-27 08:29] sherfert commented on #12380
Did increasing the limit (like described [here](https://stackoverflow.com/questions/47075661/error-user-limit-of-inotify-watches-reached-extreact-build) for example) help?

[2020-01-27 19:03] MishaDemianenko commented on #12382
Hi, @luanne thx for your report.
So far described behavior looks quite similar to https://github.com/neo4j/neo4j/issues/12250  Linked issue comes with explanations and describes a way how query execution engine can be configured to execute queries in a snapshot mode.

[2020-01-28 17:39] benjaminh commented on #12380
I had to delete the content in the data repository (otherwise, the Neo4j server silently crashes again, and the logs tell me that it is complaining about missing transaction logs), but yes, increasing the limit to 524288 (according to your source) does help !

[2020-01-29 08:37] sherfert commented on #12380
@benjaminh
That's nice to hear. Is there anything you would want us to investigate with the complaint about missing transaction longs or should we close this issue?

[2020-01-29 09:20] fickludd commented on #12378
We have now (effective from `4.0.1`) changed the sub-query semantics to require an alias for any sub-query return item which it not a simple variable. This will generate a much better error message (`Expression in CALL { RETURN ... } must be aliased (use AS)`) for this query, which should help anyone else running into this problem.

Thanks again for reporting, I'm closing the issue.

[2020-01-29 09:20] #12378 closed, assigned to sherfert

[2020-01-29 09:50] benjaminh commented on #12380
@sherfert I'm not sure, but wouldn't it be better if the command line output tells that the server crashes rather than saying that it has started and available at `localhost:7474` ? Because if we look at `./bin/neo4j status`, it says that `Neo4j is running` so this is confusing. Looked like an issue to me, but maybe this is just a feature ?
Plus : maybe the installation doc should mention this pos

[2020-01-29 12:27] andresest83 commented on #9838
@tinwelint This is really a great find, thanks to this I was finally able to connect through the Gremlin console using a pre-existing Neo4j database. Thank you sir!

[2020-01-29 16:59] andreycha commented on #12383
Hi @DFoxinator ,
Thanks for your reply. I've enabled GC logs. Here is a new transaction timeout:

(Weird thing now is that although transaction timeout, as I mentioned before, is set to 5 seconds, query took 103997 ms according to logs. I also see couple of entries where it was even 200000ms. Usually I see time just a bit greater than 5 seconds.)

Assuming that query really took 1 minute and 44 se

[2020-01-29 20:30] marcusze commented on #8667
Is there a solution to this available in the graph algorithm package?
I need to find a work-around to force the algorithm to leave the start/finish node.
``//Shortest path search
MATCH (start:USD), (end:USD)
CALL algo.shortestPath.stream(start, end, 'rate')
YIELD nodeId, cost
RETURN labels(algo.asNode(nodeId)) AS name, cost
//returns (no changes, no records)``

[2020-01-30 14:35] ghost opened #12386 "Cypher queries with scientific notation fail"
I'm using Neo4j 3.4.1 on Ubuntu.  I find that the queries
[code]
succeed _but_
[code]
fails with the error
[code]
It seems that the floating-point decimal parser does not accept a "+" preceding the exponent, but I believe that this "+" is required by the C standard (*), it is certainly implemented in this way in all C compilers that I have used, so will find its way into the formatted output of an

[2020-01-31 08:34] LilaRest opened #12387 "Bulb : Neo4j integration for Django, and much more tools to deploy consequent websites..."
Hi !

Recently, I have finished to develop an open-source project named Bulb, which is **Neo4j integration for the Django framework** (wrote in Python). It contains also much more tool to deploy consequent websites. I thought that it could be great if it could appear on the Neo4j website, it could be beneficial for the project and beneficial for the Neo4j's community.

That's the github page of bu

[2020-01-31 17:47] davisford commented on #12361
Shouldn't documentation of a change to an open protocol like this be a bit higher on the list?  I'm willing to try to help fix the client, but any documentation you can provide on the new protocol changes would be very helpful

[2020-01-31 18:40] luanne commented on #12382
Thanks @MishaDemianenko, I'll try that. It is unfortunate though that this occurs within the boundary of a single Cypher query, and is quite unexpected that the internal detail of MATCH and RETURN being separate reads surface.

[2020-01-31 18:40] #12382 closed, assigned to nobody

[2020-02-01 04:14] DFoxinator commented on #12383
I think those GC times/logs look fine.

Did you do a profile on the Cypher query, and also, did you try directing that relationship in the query>

[2020-02-02 17:52] ogronome opened #12388 "Unable to start server. "Mismatching store id" on newly created DB."
Hello! I have rather good experience with neo4j 3.X and jre8, but struggle to migrate to jre11 and neo4j.

I always recreate DB with neo4j-admin from csv (about 40GB)
DB path is custom and set in /etc/neo4j/neo4j.conf
The issue is not related to permissions. I tried to chown and to create everything by neo4j user.

I get NO errors on neo4j-admin (except for missing nodes), but when I start neo4j,

[2020-02-02 18:25] ogronome commented on #12388
Problem solved by deleting system database. Sorry.

[2020-02-03 07:46] sherfert commented on #8667
@marcusze I'd recommend asking that question over in https://github.com/neo4j/graph-data-science

[2020-02-03 13:54] andreycha commented on #12383
Specifying direction didn't help unfortunately, I still get timeouts: sometimes after 7 seconds, sometimes after longer period of time, up to 5 minutes (again, timeout is set to 5 _seconds_). During that period I get almost no GC-related logs in Neo4j (which still look fine). From resource consumption perspective both Neo4j and client app look like nothing is going on (CPU and RAM stay low). E.g.

[2020-02-04 14:55] andreycha commented on #12383
It seems that timeouts that are significantly longer than specified threshold are [caused](https://neo4j.com/developer/kb/understanding-transaction-and-lock-timeouts/) by disabled `dbms.lock.acquisition.timeout` setting. Which hints me towards the guess that "normal" timeouts also happen because of transaction waiting for a lock acquisition.

So my next question would be how can I debug this to un

[2020-02-04 18:19] lukaslueg commented on #12336
Any updates since 4.0 is out now? The new docs [mention data structures that are part of a response](https://neo4j.com/docs/http-api/4.0/actions/begin-a-transaction/) only in passing, for example, `meta` in

[code]

[2020-02-05 11:17] technige commented on #12336
Hi @lukaslueg. Thanks for raising this, and you're absolutely right that there are some significant gaps in our documentation for this area. I've been in your position myself, having to reverse engineer the output, and it's hard work.

We have on our roadmap for this year an overhaul of the output format for HTTP. This will be fully documented, and will clean up some of the ambiguities of this leg

[2020-02-05 12:57] andreycha commented on #12383
Having these two settings in place weirdly didn't help with long running transactions:

[code]

I still get transaction timeouts which last up to 10 minutes. When I call `dbms.listTransactions()`/`dbms.listQueries()` during such a transaction it only returns me the query itself in the status "running", no other queries which can potentially lock data.

Any further ideas?

[2020-02-05 14:22] webtic opened #12389 "Cypher query fails on 4.0"
- Neo4j version: 4.0
- Operating system: macOS 10.13.6
- API/Driver: localhost:7474

**Steps to reproduce**

While this query ran fine on 3.5 :

[code]
It fails on 4.0 with this error:

```class org.neo4j.values.storable.NoValue cannot be cast to class org.neo4j.values.virtual.VirtualNodeValue (org.neo4j.values.storable.NoValue and org.neo4j.values.virtual.VirtualNodeValue are in unnamed module of

[2020-02-05 18:30] jsoref opened #12390 "CLA email contact in developer/cla is inconsistent insecurely references pdf"
### Steps to reproduce
1. Visit https://neo4j.com/developer/cla/
1. Read the [Summary](https://neo4j.com/developer/cla/#cla-summary) section:

   We require all source code that is hosted on the Neo4j infrastructure to be contributed through the [Neo4j Contributor License Agreement](http://dist.neo4j.org/neo4j-cla.pdf?_ga=2.152426169.1436183593.1580752901-1926302927.1572545456) (CLA).

   ...

[2020-02-06 13:25] luanne opened #12391 "Denying Access on copies of admin roles permits access"
Following the steps at https://neo4j.com/docs/cypher-manual/current/administration/security/administration/#administration-security-administration-dbms-custom

especially
[code]

still allows a user with role usermanager to access other databases, create nodes (without a label), and query them.
Verified using both cypher-shell and the browser.

**Neo4j Version:** 4.0.0

### Steps to reproduce
1. F

[2020-02-07 10:04] klaren commented on #12390
Hello,

As the text states: `send a mail to cla (@t) neo4j dot com if you have any other questions `.
And later: `When you’ve read through the CLA, please send a mail to cla (@t) neotechnology dot com. Include the following information:`

They are two different addresses because one is for questions and one if for sending in your agreement. The later will keep a copy of all the agreements for lega

[2020-02-07 10:04] #12390 closed, assigned to nobody

[2020-02-07 14:35] jennyowen commented on #12358
I've now fixed this by completely changing the structure of our debian repository. This also meant I had to migrate the repository to debian.neo4j.**com** instead of .org so that I didn't break everything for users still on the old repository.

To be able to access 4.0 linux packages you need to use debian.neo4j.com or yum.neo4j.com. There is no way I can publish those new packages into the old re

[2020-02-07 14:35] #12358 closed, assigned to jennyowen

[2020-02-07 14:36] #12123 closed, assigned to jennyowen

[2020-02-07 16:17] graphadvantage commented on #12301
Hi - another nice enhancement would be to add a config file entry to manage which databases are started

[code]

which could have values like
[code]

Other registered databases that are not started at startup can then be started manually as needed.

[2020-02-07 21:24] pjuangph opened #12392 "Neo4J community server Connection issue (Says it's ssl but it's a trap)"
#12208  Neo4j version: 4.0.0
Operating system: Red Hat Enterprise Linux 7
API/Driver: neo4j 1.7.6 Python api
## Steps to reproduce
Step 1. You can create a new environment with anaconda or any python. Install the neo4j library.

Step 2. Run this code. Enter in your database ip address
[code]

## Expected behavior
IF I am using version 3.5, i can connect without any problems.
In the new version 4.0

[2020-02-07 22:24] JensMadsen commented on #12392
same experience going from neo 3.5 to 4.0. Using python 3.8.1

[2020-02-08 00:59] zhuge-ei commented on #12392
same here
3.5.12 work perfect but 4.0 seems broken

[2020-02-08 01:01] zhuge-ei commented on #12392
same here
3.5.12 work perfect but 4.0 seems broken
but with nodejs
``neo4j.driver(
  process.env.DB_URL,
  neo4j.auth.basic(process.env.DB_USER, process.env.DB_PASSWORD)
);``
`Neo4jError: Client network socket disconnected before secure TLS connection was established`

[2020-02-08 09:02] ogronome commented on #12388
Please, help! Next time deleting data/databases/system didnt help.

So, once again:

1. wipe everything from data/databases/
2. create DB with neo4j-admin from csv. No errors in import log except for missing nodes or duplicate nodes.
In debug.log after import there is the same error "Mismatching store id. Store StoreId"
3. systemctl start neo4j fails with the same error.

All permissions are fine.

[2020-02-08 21:26] ogronome commented on #12388
Created correct db on Centos with 3.5.14, copied it to Debian 4.0.0 and now getting the same error. RuntimeException: Mismatching store id

Something is very broken. But it is a freshly installed Debian, neo4j installed from official repo.

Another check: generic community server from tar.gz works OK.

[2020-02-09 22:08] mneedham commented on #12392
I was getting this error as well, and found that I needed to set `encrypted=False` to get it working locally:

[2020-02-10 05:11] luanne opened #12393 "Allow management of users and roles at the database level"
**Is your feature request related to a problem? Please describe.**
When using Neo4j 4 in a multi tenant environment, user and role management cannot be constrained to a database (tenant), and remains at the `system` level. This means that the overhead of managing users and roles for all tenants remains with the global DBA instead of each tenant (we don't want each tenant admin to mess with other t

[2020-02-10 08:30] Hunterness commented on #12391
Hi,

There was an initial bug in 4.0 allowing access if you had it both granted and denied. It has already been fixed and will be included in the 4.0.1 release.

Best Regards,
Therese, Team Cypher

[2020-02-10 08:30] #12391 closed, assigned to Hunterness

[2020-02-10 08:52] Hunterness commented on #12389
Hi, thanks for reporting. We will look into it.

/Team Cypher

[2020-02-10 17:07] luanne opened #12394 "Cypher-shell: Bookmark for unexpected database encountered"
When using the cypher-shell with fabric, one has to first switch to the system database to be able to then switch to the fabric database

**Neo4j Version:** 4.0.0
**Operating System:** MacOS Mojave

### Steps to reproduce
1. Configure fabric e.g. `fabric.database.name=example`
2. Start the cypher-shell
3. Try `:use example`

### Expected behavior
Should switch to the `example` database

### Actual

[2020-02-10 17:13] luanne opened #12395 "Cypher-shell and Fabric- unexpected error with USE on a user database"
The error message when querying with USE and Fabric on a user graph could be more explanatory.

[code]
Took a while to figure out that this query needed to be executed on the `example` database.

**Neo4j Version:** 4.0.0
**Operating System:** MacOS Mojave

### Steps to reproduce
1. Configure fabric e.g. `fabric.database.name=example`
2. Run cypher-shell
3. On the default database, execute `use exa

[2020-02-10 19:42] michaelzxu opened #12396 "Browser uses localhost for bolt connection by default"
Include as much information as you can in any request you make:

- Which versions of our products are you using?
  - 4.0
- Which language (and which version of that language) are you developing with?
  - N/A
- What operating system are you on?
  - amazon linux
- Are you working with a cluster or on a single machine?
  - single machine
- What code are you running?
  - neo4j start
- What errors are

[2020-02-12 15:44] jsoref commented on #12390
@klaren your response overlooks the contradictory text in the PDF.

[2020-02-13 08:59] bilguungombodorj commented on #7086
[code]
My problem fixed by making run & logs directory within /usr/share/neo4j directory.
After mkdir logs & mkdir run it works fine.
[code]

[2020-02-13 14:31] mskhan1403 opened #12397 "Neo4j Docker - LOAD CSV - Couldn't load the external resource"
Neo4j (with Docker) Version: 3.1.7
Operating System: Xubuntu 16.04
API: Python

Created Neo4j Docker with the following:
sudo docker run \
        --restart=unless-stopped \
        --memory=9g \
        --net=dnet01 --ip=1*******1 \
        --volume=/production/data/neo4j/db:/var/lib/neo4j/data \
        --volume=/production/analytics/Docker/neo4j/conf:/var/lib/neo4j/conf \
        --volume=/etc/

[2020-02-13 15:47] Brakebein opened #12398 "Query cache issue when querying optional nodes and toString()"
**Neo4j Version:** 4.0.0
**Operating System:** Windows 10 / Windows Server 2012 R2
**API:** neo4j-driver 4.0.1 (nodejs)

I am facing an issue that after the Neo4j instance has been running for a while, a special cypher query fails to execute. After some testing and considering the error log, I think I could narrow it down to these lines of the cypher query:

[code]

`date0` represents a timespan a

[2020-02-14 06:33] i4never commented on #9726
It's misleading. I've spend much time checking my source data.

[2020-02-14 08:54] mskhan1403 commented on #8912
I have the same problem on ubuntu 16.0.4 with Neo4j Docker version: 3.1.7
I tried both Options 1 & 2 but still not able to get it running..

[2020-02-14 11:12] fabio-s-franco opened #12399 "Neo4j 4.0 enterprise "Can't coerce `(1)` to Map""
I ran to an issue after upgrading our single node neo4j-enterprise instance to neo4j 4.0. I am upgrading from 3.5.1-enterprise. One of our queries are inconsistently executed, meaning that it succeeds after a few attempts and then starts giving an error that I cannot see anywhere googling around:

I also verified that a fresh neo4j database also has the issue I also tried in three different deskto

[2020-02-14 11:17] zhaklinab commented on #12030
I have version 3.5.14 of neo4j and I am experiencing the same error when I try to pull the neo4j image in a docker container.

[2020-02-14 13:07] fabio-s-franco commented on #12399
I can confirm that the issue is related to the query cache. Adding the following line to the env variables prevents the issue:

[code]
This is the link to the documenation: [Table A.173. dbms.query_cache_size](https://neo4j.com/docs/operations-manual/current/reference/configuration-settings/#config_dbms.query_cache_size)

Of course this is just a temporary workaround so we can keep on migrating to

[2020-02-14 13:13] fabio-s-franco commented on #12398
I think our issues are related and maybe you can confirm you have a cache issue, by applying the same workaround, which is to disable the query cache entirely:

https://github.com/neo4j/neo4j/issues/12399#issuecomment-586280196

After that the problem does not happen again.

[2020-02-14 15:57] Brakebein commented on #12398
I just did some additional tests and I can confirm that the problem disappears after disabling the query cache by setting `dbms.query_cache_size=0` in the config as @fabio-510 suggested in #12399 .

Our cypher queries are indeed very similar: we have both an `OPTIONAL MATCH` clause in combination with a map projection in `WITH` or `RETURN` section.

I also have counted the number of query executio

[2020-02-17 14:45] pontusmelke commented on #12399
Hi @fabio-510
Thanks for the nice and detailed bug report. A fix for this has just been [merged](https://github.com/neo4j/neo4j/commit/2bf2cc59b827ba6c003bf9fed597a6409db99c6d) and should go out in an upcoming patch release soon. As a workaround you can do `CYPHER expressionEngine=INTERPRETED [YOUR QUERY GOES HERE]`.

Setting the `query_cache_size=0` will affect your performance significantly sinc

[2020-02-17 14:45] #12399 closed, assigned to Hunterness

[2020-02-17 15:01] pontusmelke commented on #12398
@Brakebein and @fabio-510 thanks a lot for reporting this. Your issues are similar but not exactly the same and I haven't verified we have fixed this issue yet.  Setting the `query_cache_size=0` will significantly reduce throughput since we will always replan which adds a big overhead to each execution of the query. As a temporary workaround you can prepend `CYPHER expressionEngine=INTERPRETED` to

[2020-02-18 10:09] Lojjs commented on #12386
@jjg-dressipi Thanks for reporting. This was a missing feature in the server-side parsing. It sounds useful, so support for this will be included in the next minor Neo4j release (Neo4j 4.1).

Best regards Louise, Neo4j Cypher team

[2020-02-18 10:09] #12386 closed, assigned to nobody

[2020-02-18 10:14] ghost commented on #12386
Thanks! (Having fun coding against Neo4j BTW, lovely piece of work.)

[2020-02-18 17:06] akopchinskiy commented on #2973
@cleishm Any related changes after 6 years?

[2020-02-18 17:49] LSaldyt commented on #12392
`encrypted=False` works from a client connecting to a 4.0 server, too, but ideally we can get a fix to use encryption?

[2020-02-19 09:13] chrisvest commented on #6440
In 4.0, transaction state is now off_heap by default. See the related family of settings: https://neo4j.com/docs/operations-manual/4.0/reference/configuration-settings/#config_dbms.tx_state.memory_allocation

This means that transactions that use too much memory will be aborted.

There's still query state and transaction application that can use a lot of heap. Future releases will have stronger ac

[2020-02-19 09:39] conker84 opened #12400 "[admin-import] Strange behavior when data is imported into a non default db"
## Guidelines

The `neo4j-admin import` produces an odd import if we try to import data into a non-default db.

- Neo4j version: 4.0.0 (via Neo4j Desktop)
- Operating system: MacOs Catalina
- **Steps to reproduce**
- Expected behavior
- Actual behavior

## Example bug report

The `neo4j-admin import` produces an odd import if we try to import data into a non-default db.
**N.b.** it works perfectly

[2020-02-19 11:59] DachuanZhao opened #12401 "neobolt.exceptions.DatabaseError: Tried to read a field larger than buffer size 2097152"
When I run
[code]
, I get this error . There are some very long rows in my csv . What can I do to increase the limit ```2097152``` ?

- Neo4j version: 4.0.0
- Operating system: CentOS7
- API/Driver:  Python driver v1.7.6

[2020-02-19 19:10] chrisdostert opened #12402 "4.0.0 enterprise cluster becomes irreparably corrupt from working 3.5 statement"
- Neo4j version: 4.0.0
- Operating system: `neo4j:4.0.0-enterprise`docker image
- API/Driver: cypher

I'm still trying to narrow down the exact repro but a cypher create/merge statement that was working in 3.5, caused our prod cluster to become corrupt in 4.0.

The cluster had been migrated from 3.5.12 a few weeks ago and running reliably until this particular statement was run (it's an infrequent

[2020-02-19 19:18] chrisdostert commented on #12402
Further information so far gathered: If I run the same statement against the same restored backup but without clustering enabled it succeeds without issue.

[2020-02-19 19:29] InverseFalcon commented on #12402
Information the upgrade process would help here.
Here is the section in the docs for the 4.0 upgrade:
https://neo4j.com/docs/operations-manual/current/upgrade/causal-cluster/#cc-upgrade-guide

This should have been an offline upgrade (no rolling upgrade support to 4.0).

SINGLE mode should have been used for the actual upgrade part. After the upgrade is completed on the single instance, the instan

[2020-02-19 19:34] chrisvest commented on #12402
Please include the complete and unedited stack traces.

In one of the stack traces on the community site, there is this message:

I'm curious if you tried that. And if it didn't help, I wonder what new errors might've shown up.

[2020-02-19 20:05] mikeblum opened #12403 "Neo4j 4.0.0 ~ Cypher-Shell: can't create / drop database"
In the neo4j browser I can create a database but in cypher-shell it throws an error and after upgrading from the release candidate to 4.0.0 I can no longer create and destroy databases.

**Neo4j Version:** 4.0.0 Enterprise
**Operating System:** Ubuntu 18.04
**API:** Docker + Cypher-Shell 4.0.0

### Steps to reproduce

1. Create a database against the `system` database:
[code]

2. Destroy the datab

[2020-02-19 20:18] chrisdostert commented on #12402
@InverseFalcon thanks, I can confirm those were the steps followed.

@chrisvest yes I did try it individually on all 3 instances in (single mode) see attached
[debug.log](https://github.com/neo4j/neo4j/files/4227239/debug.log)
for complete log of that failing (from startup to failure) on one of them

[2020-02-19 20:39] mikeblum commented on #12403
This appears to have been changed in the 4.1 branch of cypher-shell: https://github.com/neo4j/cypher-shell/commit/299ee388708ce1e5a0fd923e4ce3976acd0a4547

[2020-02-19 21:13] chrisdostert commented on #12402
Another thing possibly relevant, the statement that causes the kaboom is NOT being executed as a transaction.

[2020-02-19 21:48] MishaDemianenko commented on #12402
@chrisdostert thanks for the debub.log! Is there any way You can share transaction logs (ideally on a state where they are detected as corrupted ) with us?

[2020-02-19 22:53] jexp commented on #12400
does it work when you import first and create the database in the systemdb second?

that's what I tried it in the past successfully

[2020-02-20 00:42] chrisdostert commented on #12402
@MishaDemianenko sure thing. What's the recommended way to do that?

[2020-02-20 00:46] chrisdostert commented on #12402
`/data/transactions/neo4j` files seem to be binary format; are those what you need? Guessing they may contain sensitive information?

[2020-02-20 01:08] MishaDemianenko commented on #12402
@chrisdostert
Correct: `/data/transactions/neo4j` is a directory that contains transaction logs for `neo4j` database.

Our transaction log files contain whole transaction changeset with additional undo, redo information.
This means that data that was part of some transaction that is present in a particular transaction log can be extracted. And if Your transactions contain/may contain some sensitiv

[2020-02-20 02:26] chrisdostert commented on #12402
got it; sensitive data is present so not readily achievable unfortunately.

[2020-02-20 08:59] conker84 commented on #12400
Yes in that way it works

[2020-02-20 11:42] chrisvest commented on #12402
The debug.log has nothing on this issue. There are no stack traces or exceptions in it, and it doesn't mention the property key token  you were having problems with.

Do you have a more relevant archived log, or a log from a different instance if this is a clustered deployment. Also, how did you perform the upgrade, as in, what are the precise steps you took in upgrading your deployment from 3.5.x

[2020-02-20 20:48] chrisdostert commented on #12402
@chrisvest my mistake; I accidentally grabbed the log file of the restored node. The correct one is attached.
[debug.log](https://github.com/neo4j/neo4j/files/4232935/debug.log)

[2020-02-20 21:13] mikeblum opened #12404 "Neo4j 4.0 - Unbind a database"
Unbinding a voting core member or read replica of a cluster doesn't allow for unbinding a particular database. Incidentally the verbosity of unbind is quite mute.

**Neo4j Version:** 4.0.0-enterprise
**Operating System:** Ubuntu 18.04 + Docker
**API:** Docker

### Steps to reproduce
1. Create a casual cluster via docker a/o the 4.0.0-enterprise tarball
2. Evoke unbind:
https://neo4j.com/docs/opera

[2020-02-21 14:13] chrisvest commented on #12402
I tried recreating your scenario as described: have an existing 3.5.14 database in a cluster, with data and with some indexes. Then upgrade the cluster members to 4.0.0 (following the guides in the manual and all that jazz). Start up the cluster, and run a transaction that causes a new token to be allocated. All of this worked fine, so there must be something else going on. Perhaps it's not relate

[2020-02-21 14:21] #12290 closed, assigned to nobody

[2020-02-21 14:30] chrisvest commented on #12238
Is this problem Docker specific? Seems to work fine on a fresh install of 3.5.14.

[2020-02-21 14:51] chrisvest commented on #12292
Best work-around on community edition is if your file system can do atomic snapshots of directory trees. Those volume snapshots don't look atomic, though, so the second best thing would be to somehow pause all traffic to the neo4j instance, wait for all running transactions to finish, run `call dbms.checkpoint`, then take the snapshot. Too many moving parts in that approach to say how bullet proof

[2020-02-21 16:33] zhenlineo commented on #12392
Hi,

Neo4j 4.0 has encryption turned off by default. You need to explicitly turn encryption back on for Bolt server in server config file. Then you shall be able to connect using 1.7 python driver with default settings.

The following is an example of how you can turn encryption back on Bolt Server with
`private.key` and `public.crt` in directory `$neo4jHome/certificates/bolt`.

[code]

You can ch

[2020-02-21 16:33] #12392 closed, assigned to nobody

[2020-02-21 17:06] chrisdostert commented on #12402
Thanks, the logs initially posted including the “NonUniqueTokenException” happened first. Those were the cluster changing from healthy to heart attack. The debug.log uploaded later was Re: what I got when trying to restart with 'unsupported.dbms.tx_log.fail_on_corrupted_log_files=false'.

[2020-02-24 08:23] sherfert commented on #12401
You can increase the limit with the setting `dbms.import.csv.buffer_size`.

[2020-02-24 08:23] #12401 closed, assigned to nobody

[2020-02-24 08:26] sherfert commented on #12403
It has also changed in the 4.0 branch: https://github.com/neo4j/cypher-shell/commit/665fd669cf370ae62ada38658b6d2bd7d7778090

This fix will be included in the next patch release of neo4j 4.0

[2020-02-24 08:26] #12403 closed, assigned to nobody

[2020-02-24 11:04] MishaDemianenko commented on #12383
Hi @andreycha
Have You been able to figure out what's going on? Or do You still need some help?

[2020-02-24 11:31] chrisvest commented on #12402
@chrisdostert Okay. Do you have the debug log that contains the original `NonUniqueTokenException`? There's nothing in the log you linked in your earlier [comment](https://github.com/neo4j/neo4j/issues/12402#issuecomment-588428561).

[2020-02-24 18:16] andreycha commented on #12383
Hi,

I'm currently in contact with Neo4j support (for a reference: http://support.neo4j.com/hc/requests/8435), but no outcome yet. Once I have smth, I'll also post it here (and optionally close the issue).

[2020-02-25 01:55] chrisdostert commented on #12402
I don’t unfortunately. Only what was included in the initial issue (which was from  stdout/stderr not debug.log)

[2020-02-25 01:56] chrisdostert commented on #12402
The cluster was running in kubernetes so debug.log was ephemeral

[2020-02-25 16:01] jetsloan opened #12405 "Match Labels with Or like relationships."
Current problem. Want to MATCH a node with one or another label.

Desired solution:
MATCH(n:One|:Two)--(n1)

This would match the relationship OR functionality and would provide a clean easy to read query without the need of a WHERE or a UNION.

[2020-02-25 17:10] mikeblum opened #12406 "4.0.0 Enterprise: remote backup transaction failures"
Remote backups with 4.0.0 appear to fail sporadically even with ample pagecache and a separate backup process.

Neo4j Version: 4.0.0-enterprise
Operating System: Ubuntu 18.04 + Docker
API: Docker

### Steps to reproduce
1. Pull the image: `docker pull neo4j/neo4j:4.0.0-enterprise`
2. use a docker volume for the neo4j database
3. pass in the following env variables to enable remote backup:
[code]
i

[2020-02-26 08:56] technige commented on #7522
As per @zhenlineo's reply, I'm closing this as a _wontfix_. While the output could arguably be improved in places, this particular script is not intended to provide structured output for consumption by another process, nor is it intended to block until the server - or indeed the entire cluster - is ready (for some definition of "ready"). In many real-world cases, this script actually executes as p

[2020-02-26 08:56] #7522 closed, assigned to nobody

[2020-02-26 09:01] technige commented on #7052
Closing this issue, as per @craigtaverner's recommendation from Nov 2018. This appears to be unrelated to Neo4j.

[2020-02-26 09:01] #7052 closed, assigned to benbc

[2020-02-26 09:09] mjmare commented on #7522
My point was not to indicate that the server is available for connections but that the port mentioned (7474) may not the actual port when changed in the config. So IMO it would be nicer to (new) users to indicate the actual port used (helpful diagnostics) or mention more clearly that the port might have been changed in the config.

Just like the helpful "There may be a short delay until the server

[2020-02-27 02:42] ghost commented on #12376
Here is a use case to help advocate for cypher projection.

I've run into a situation where I need to dig my weight out of a json field `{"0": weight, "1": weight, "2": weight}` (greatly over simplified). I'll either need to query it out somehow with a cypher projection, or refactor my Object Graph Model to create a node for each of those 0,1,2 and reconstruct the edges of the whole network around

[2020-02-27 11:42] jetsloan commented on #5002
MATCH (n:Female | Male)
RETURN n

We really need this functionality for our system.
Imagine a user has predefined labels and he wants to find his data.
When querying  his data, if he wants to see/act on the data within his defined labels. Either using one or another or multiple labels.
Current solutions include UNION and WHERE clauses. This means we need to write basically double the query every t

[2020-02-27 12:00] niiakrong commented on #11638
I am facing a similar challenge. Following the steps you outlined didn't solve the problem though.
Here's the output from running the consistency checker on top of the store I tried to migrate

[root@74811b0ef9c0 neo4j-community-3.5.11]# bin/neo4j-admin check-consistency
2020-02-27 11:53:07.982+0000 INFO [o.n.k.i.s.f.RecordFormatSelector] Selected RecordFormat:StandardV2_3[v0.A.6] record format fr

[2020-02-27 19:06] dvklopfenstein opened #12408 "Unsuccessful load of Reactome graph database into Neo4j"
I am not able to load the Reactome graph.db database into Neo4j, similar to https://github.com/neo4j/neo4j/issues/12388.
Previously, this worked with an older version of Neo4j and Reactome.

**Neo4j Version:** neo4j-community-4.0.1
**Operating System:** Ubuntu 16.04.4 LTS

### Steps to reproduce
I have also had a rather good experience with neo4j-community-3.4.7 and jdk1.8_0_192, but struggle to m

[2020-02-27 19:09] dvklopfenstein commented on #12408
Tagging @fabregat in case he can help

[2020-02-27 20:16] fabregat commented on #12408
Hi there!

I’m not longer maintaining Reactome’s graph database. So please email help@reactome.org (or wait until someone in charge comes back to you).

I hope you are doing very well and still enjoy this great graph database!

[2020-02-27 20:47] chrisvest commented on #12408
The reactome database you downloaded might be a simple store directory tar.gz from an earlier version of Neo4j. In 4.0 the transaction logs were moved to a separate directory. This might be what's upsetting your 4.0.1 installation. The `neo4j-admin dump` and `... load` tools take care of details like that. Try moving the logs to the correct directory, or see if you can get a dump file produced by

[2020-02-27 21:57] Incara opened #12411 "Neo4j /db/{databaseName} REST endpoints unavailable using community 4.0.0 docker image"
I am attempting to connect to the service root endpoint in the neo4j community edition. But I receive a 404 for `/db/neo4j` in the latest docker image.

I am able to connect to `http://localhost:7474` which returns:

[code]

I am also able to POST a new transaction via `http://localhost:7474/db/neo4j/tx`

Let me know if I'm routing this question to the wrong place or if there's documentation that

[2020-02-27 23:07] dvklopfenstein commented on #12408
@fabregat , Thank you for suggesting the help@reactome.org. I will give it a try. It was working so well before. Can't wait to get it working again.

Thank you @chrisvest for the lead. I will check it out.

[2020-02-28 02:38] Morty-se opened #12412 "Some dependencies contain CVEs"
I noticed some of your libraries contained CVEs. I suggest a library update to avoid potential risks. See below for details:
* **Vulnerable Library Version:** org.apache.lucene : lucene-core : 5.5.0
  **CVE ID:** [CVE-2017-3163](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-3163)
  **Import Path:** community/lucene-index-upgrade/pom.xml
  **Suggested Safe Versions:** 6.4.1, 6.4.2, 6.5.0,

[2020-02-28 08:35] chrisvest commented on #12412
Thanks. Both of those are actually Apache Solr vulnerabilities, and have no impact on our use of Lucene.

We do regular scans internally, and monitor our dependencies for vulnerabilities, and we have already looked into and cleared these a long time ago.

[2020-02-28 08:35] #12412 closed

[2020-02-28 08:37] chrisvest commented on #12412
If these are causing troubles for your own automated scans, then I can recommend upgrading to Neo4j 4.0, which uses a much more recent version of Lucene.

[2020-02-28 13:47] Mats-SX commented on #12376
@HashRocketSyntax We now have another location for issues relating to the GDS library: https://github.com/neo4j/graph-data-science

The new API you asked about is available in a preview release which you can find there. The preview documentation can be found at https://neo4j.com/docs/graph-data-science/preview/

I would kindly ask that you raise a new issue at that repository and then we will proc

[2020-02-28 13:47] #12376 closed, assigned to nobody

[2020-02-28 14:50] lavkan commented on #12059
Hi,

I face the same issue with version 3.5. Is this issue being addressed?

[2020-02-28 15:08] jexp commented on #5002
You should be able to do in 4.0

[code]

[2020-02-28 15:36] jetsloan commented on #5002
Yes this is a good solution, but it forces you to return on every single sub query.
Secondly what if you doing pattern matching in a where clause? You'll have to write that out for every pattern that you want to match:
i.e.
[code]
The reason I would need to duplicate the pattern where is this query is generated based on a users allowed labels. I am aware you could do this outside the union. This a

[2020-02-28 15:55] jexp commented on #5002
It's a sensible request, I was just pointing out variant that doesn't need full duplication right now.

You can pull all the other operations after the union.

[code]
you can also just spell it out like this:

[code]

[2020-02-28 16:03] jetsloan commented on #5002
Yes I understand that it can be done writing the query out manually like that.
My problem is not with the manual writing of the query, I am generating a cypher based on one or more labels the user has selected.

So they may want to query based on 1 or another label and then create something with both of those labels. This level of dynamism would enable a huge amount of flexibility.
I've been tryin

[2020-02-28 19:01] dvklopfenstein commented on #12408
FYI: Reactome support suggested trying Neo4j version 3.5.6.

I tried both Neo4j version 3.5.6 and Neo4j 3.5.15, but no luck so far.

Can't wait to use the Reactome graph database in Neo4j again, but not sure how to get it loaded again.

[2020-02-28 21:27] jexp commented on #5002
The Where OR solution is very well suited for generation

[2020-02-28 22:15] jetsloan commented on #5002
It's not when you have pattern matching in the WHERE and the pattern needs to have an OR on the label as well as the original node that you're MATCHing.
You have to use brackets to capture all the possibilities. It becomes complex, ugly to read and difficult to script.
An | in the MATCH would make this exponentially simpler and easier to read.
And would follow the same pattern for ORing on a relat

[2020-02-29 22:13] szarnyasg commented on #12400
I also got this error when importing to the default DB, `neo4j`. I used the [LDBC import script](https://github.com/ldbc/ldbc_snb_implementations/blob/7e972c8edf24d864309be241d7add69015f4c736/cypher/load-scripts/import-to-neo4j.sh) that has been updated for 4.0 which does not (yet) specify a database name.

Interestingly, the labels are there: while `MATCH (n:Person)` does not return any results,

[2020-03-01 13:29] kaifeng-h opened #12413 "Inconsistent library versions reminder."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 2 inconsistent libraries and 2 false consistent libraries.

Take org.apache.commons:commons-lang3 for example, this library is declared as version 3.8 in community/cypher/runtime-util, 3.7 in community/cypher/front-end/frontend and etc... Such version inconsistencies may cause unnecessary maintenance effort

[2020-03-01 16:47] mikeblum opened #12414 "4.0.0: gc log configuration error"
Configuring gc logs causes the database to fail to start up properly.

**Neo4j Version:** 4.0.0 Enterprise
**Operating System:** Ubuntu 18.04 + Docker
**API:** Docker

### Steps to reproduce
1. Following this guide on configuring garbage collection:

https://neo4j.com/developer/kb/enabling-gc-logging/

2. neo4j.conf looks like this:

[code]
3. start the database

### Expected behavior
gc log can b

[2020-03-01 20:50] ehx-v1 commented on #7225
Since fulltext indexes cover this, is there any point in keeping the issue open?

[2020-03-02 00:24] InverseFalcon commented on #7225
Fulltext schema indexes only allow indexes on string properties of relationships, so either this should remain open, or a new issue created for more general indexes on relationship properties regardless of the property type.

[2020-03-02 09:38] Hunterness commented on #9758
Since there has been no answer in over a year I'm going to close this issue, if the issue persists please reopen it.

/Therese, Team Cypher

[2020-03-02 09:38] #9758 closed, assigned to Hunterness

[2020-03-02 09:45] Hunterness commented on #12059
Hi,

It should have been fixed in https://github.com/neo4j/neo4j/commit/418e0b5795a732eb4aede1769ff4f83b25df1222, so you might see a different error with the same behavior.

Please open a new issue detailing your issue and setup and we will look into it again.

Cheers,
Therese
Neo4j Cypher Team

[2020-03-02 10:55] stefanak-michal commented on #12361
I really like Neo4j. Also i've own socket PHP code and suddenly isn't working with new V4, because of this issue. I will really appreciate to get access to updated bolt protocol documentation. How can I help?

[2020-03-02 23:45] jsoref opened #12415 "Failed to locally commit a transaction that has already been committed to the RAFT log. This server cannot process later transactions and needs to be restarted once the underlying cause has been addressed."
- Neo4j version: 3.5.12
- Operating system: debian
- API/Driver: Cypher/Java API

### Steps to reproduce
Running neo4j in a kubernetes cluster w/ 3 core servers and one read replica
Beyond this, I don't know.

### Expected behavior
1. Don't crash
2. Make it clear what to expect in which log file.

### Actual behavior
[debug.log](https://github.com/neo4j/neo4j/files/4278562/neo4j.debug.log)

[code]

[2020-03-03 10:10] klaren commented on #12414
Thanks for reporting!

It appears to be a problem with the settings expecting a `long` when it really should be a `String`. I've issued a fix that should be in the next release, 4.0.2.

If you don't need to change rotation size from `20m`, you could just comment that line and everything should work. `20m` is the default.

You could also work around this by specifying the `-Xlog` setting as an addi

[2020-03-03 16:49] fbiville opened #12416 "Allow a single Cypher extension to read/write AND update schema"
I am currently developing a set of Cypher extensions to ease the use of [Liquigraph](https://www.liquigraph.org/).

When Liquigraph executes as a CLI / Maven plugin / core Java lib, it makes sure there is no other ongoing execution against the same target database. Let's call this "concurrent execution guard".
It does so by creating a unique constraint on a particular Node label/property and tries

[2020-03-03 19:48] numericOverflow opened #12417 "db.schema.visualization() displays nonexistent relationships"
- Neo4j Server version: 4.0.0 (community)
- Operating system: Windows server 2012R2
- API/Driver: Cypher console web browser (Neo4j Browser version: 4.0.1)

**NOTE**:  Neo4j Browser version: 4.0.3/Neo4j Server version: 4.0.1 (community) (latest version as of right now) also exhibits the same behavior described below.

1. Load data
2. Run call db.schema.visualization()
The example DB at neo4j conso

[2020-03-03 19:50] jsoref opened #12418 "LifecycleInstance.stop fails w/ failed to stop "The applier has panicked""
- Neo4j version: 3.5.12
- Operating system: debian
- API/Driver: Cypher/Java API

### Steps to reproduce
Running neo4j in a kubernetes cluster w/ 3 core servers and one read replica

#12415 has already happened on an instance in the cluster (I suspect that at the time it was the leader -- and given that it's a raft problem, it was probably also not quite the leader).

I'm not precisely sure who is

[2020-03-04 07:24] tinwelint commented on #11971
Have you checked that the permissions of the database folder and the `store_lock` file matches the user that runs the Neo4j process?

[2020-03-04 09:45] zhenlineo commented on #12411
Hi @Incara,

There is no such path `http://localhost:7474/db/neo4j`. As you listed, the supported paths are:
[code]

This path `http://localhost:7474/db/neo4j` look like a path to a database called `neo4j`. We would like to reserve the purpose of this path until we have figured out the best use of it. So in 4.0, it is not considered as a "service root".

Thanks for you input, however this issue is

[2020-03-04 10:41] victorenator commented on #12402
I have a similar issue with a single community server 4.0.1.
I run the statement that creates a new property `size`:
[code]

I get the error:
[code]

Debug log:
[code]

After restarting the server а database is not available:
[code]

[2020-03-04 10:54] chrisvest commented on #12402
@victorenator Can you share the entire debug.log, and describe the history of the store, like what versions have you been running and upgraded through?

[2020-03-04 10:56] chrisvest commented on #12402
@victorenator Also, can you confirm that the store has never been in a cluster? Neither Causal Cluster nor HA? It would be helpful if we can exclude those areas from the bug-hunt.

[2020-03-04 11:04] victorenator commented on #12402
Yes, only a single instance.

[2020-03-04 11:04] ghost commented on #12395
@luanne

Just change your database to example, then run your query.

Example:
use example.customer
MATCH (c:User)
RETURN c.name AS Name
UNION
use example.product
MATCH (c:User)
RETURN c.name AS Name

Regards,
Sathish Vasu.

[2020-03-04 11:19] gsviteri commented on #12408
@dvklopfenstein I am sorry to hear you can't enjoy this great graph database.
Let's get down to the solution - I installed neo4j 4.0.1 alpha and jdk11 and at the first run I got the same behaviour. Nothing had appeared. After checking the $neo4j_home/logs/debug.log

[code]

As recommended, I set  'dbms.allow_upgrade' to 'true'  in $neo4j_home/conf/neo4j.conf and I reloaded the Neo4j process. You c

[2020-03-04 11:20] #12414 closed, assigned to klaren

[2020-03-04 11:22] chrisvest commented on #12408
@dvklopfenstein I installed Neo4j Desktop locally (so that I can easily get the Enterprise Edition on developer license, which has the `neo4j-admin restore` command) and then I downloaded and unpacked the reactome archive to my Downloads folder, and in Neo4j Desktop I created a new database called Reactome, where I then clicked "Manage" and opened a terminal to do the following:

[code]

As you ca

[2020-03-04 13:30] chrisvest commented on #12408
Between me and @gsviteri I think this one has been answered. Feel free to reopen if not.

[2020-03-04 13:30] #12408 closed, assigned to nobody

[2020-03-04 14:09] chrisvest commented on #12402
@victorenator Can you share the entire debug.log, and describe the history of the store, like what versions have you been running and upgraded through?

[2020-03-04 15:01] Incara commented on #12411
Yes, `neo4j` is the default database name using the docker server. I understand not being able to see a service root, but I'm not sure what that means for querying via REST. The end goal of seeing a service root is understanding what REST capabilities I have in 4.0. Am I still able to query via REST? Is there documentation for how that works in 4.0 that I am missing?

[2020-03-04 18:49] dvklopfenstein commented on #12408
Thank you so much. I am up and running.

[2020-03-04 20:49] victorenator commented on #12402
23 Jan I update the database from 3.5.14 to 4.0.0, and on Feb 28 — to 4.0.1.

[debug.log.gz](https://github.com/neo4j/neo4j/files/4289590/debug.log.gz)
Log contains:
- starting a server
- running the statement with error
- restarting a server with error

[2020-03-04 20:51] chrisdostert commented on #12402
@chrisvest just to make sure this isn't missed; for me the issue ONLY occurs with causal clustering enabled. I have been unable to reproduce it with single instance mode.

[2020-03-05 11:24] zhenlineo commented on #12411
Hi @Incara,

The RESTful endpoints are removed in 4.0. There is only the transaction endpoint left for query via Cypher. Here is the [docs](https://neo4j.com/docs/http-api/current/introduction/) for the supported endpoints in 4.0.

If you are looking for these [RESTful endpoints](https://neo4j.com/docs/rest-docs/3.5/) in 3.5. They are no longer available.

[2020-03-05 13:26] Incara commented on #12411
Thank you for your help!

[2020-03-05 13:26] #12411 closed, assigned to nobody

[2020-03-06 08:02] mohseen1196 commented on #10420
Killing this process Id is restarting it again and again

Eg - sudo kill -9 11458 --> Kills this process but when i run ps aux | grep "org.neo4j.server"

It creates another process

ps aux | grep "org.neo4j.server"
neo4j    11529 85.0 10.9 3054108 897060 ?      Ssl  08:01   0:00 /usr/bin/java -cp /var/lib/neo4j/plugins:/etc/neo4j:/usr/share/neo4j/lib/*:/var/lib/neo4j/plugins/* -server -Xms2G -Xmx2

[2020-03-06 08:54] Brakebein commented on #12398
Has this issue been fixed in the `4.0.1` release? The changelog states:

https://github.com/neo4j/neo4j/wiki/Neo4j-4.0-changelog

The issue number should probably be 12398 and this issue can be closed?

[2020-03-06 14:21] elR1co commented on #6823
Hello.
Do you have an idea when the fully supported stronger isolation level is expected ?
Thanks.

[2020-03-06 20:26] dvklopfenstein opened #12423 "Reactome graph database loaded into Neo4j yesterday, but not today"
Using the helpful advice from https://github.com/gsviteri in https://github.com/neo4j/neo4j/issues/12408#issuecomment-594464431, I was able to load the Reactome database into Neo4j yesterday. Today I unsuccessfully tried all the same steps as in https://github.com/neo4j/neo4j/issues/12408.

I am extremely motivated to use the Reactome database and hope to load it successfully. I have successfully

[2020-03-06 21:31] dvklopfenstein commented on #12423
I did this and it just worked now:

1. shut off my machine. Then turned it back on.
2. deleted the neo4j files extracted from the downloaded tar file
3. deleted the Reactome graph.db directory (included in step 2)
4. Extracted all the neo4j files.
5. Edited the neo4j.conf file as advised by @gisviteri
6. Extracted the Reactome graph.db and moved it to data/databases
7. neo4j start

So I think all

[2020-03-06 21:31] #12423 closed, assigned to nobody

[2020-03-07 13:55] nhakim commented on #12057
Check your JAVA_HOME system variable. The path may have changed.

Check how to do so here:
https://www.google.com.sg/amp/s/javatutorial.net/set-java-home-windows-10/amp

[2020-03-09 07:30] applesline commented on #12325
thanks

[2020-03-09 07:49] sherfert commented on #12417
Duplicate of https://github.com/neo4j/neo4j/issues/9726

[2020-03-09 07:49] #12417 closed, assigned to nobody

[2020-03-09 07:55] sherfert commented on #12398
@Brakebein indeed!

[2020-03-09 07:55] #12398 closed, assigned to Hunterness

[2020-03-10 14:34] vvvasilev opened #12424 "When starting, a message pops-up saying "Password has been changed" - Neo4j Desktop 1.2.4"
- Neo4j version: 1.2.4
- Operating system: Windows 10 Enterprise
- API/Driver: N/A
- **Steps to reproduce**:
1. Clean installation of Neo4j Desktop
2. Add local graph, enter password
3. Start the graph
- Expected behavior:
The graph is started
- Actual behavior
Receiving the warning below
![image](https://user-images.githubusercontent.com/31281528/76323081-80ba9b00-62e4-11ea-94ae-12495a948d82.png)

[2020-03-10 15:01] vvvasilev opened #12425 "Neo4j Python Bolt driver 1.7 cannot connect to local graph version 4.0.0 and 4.0.1"
- Neo4j version: 4.0.0 and 4.0.1
- Operating system: Windows 10
- API/Driver: python driver 1.7

- **Steps to reproduce**
1. Create new graph 4.0.0 or 4.0.1
2. Run the webapp

- Expected behavior
the application starts

- Actual behavior
File "C:\Users\nb67ab\Envs\virtualobeya4dec\virtualobeya\models.py", line 15, in <module>
    driver=GraphDatabase.driver(neo4j_local_uri,auth=(dbuser,dbpass))

[2020-03-10 19:11] restlesswind opened #12426 "Neo4j cluster discovery failed using NodePort service in k8s"
I have a 3-node kubernetes cluster where I deploy a 3-core neo4j cluster using the public neo4j chart: https://github.com/helm/charts/tree/master/stable/neo4j

The 3-core neo would come up correctly using the DNS discovery type through the default headless service.

What I have been trying to achieve however is to have cluster members discover themselves through the NodePort services as a proof of

[2020-03-12 09:06] jlarteaga commented on #12402
I'm dealing with the same problem as @victorenator. I updated the database from 3.5 to 4.0.1 one month ago and it worked in production without any issues until a new backend version forced some changes in the structure of the nodes.

The flow is the same as described before: Trying to perform an insertion query causes:
[code]

The second time the query is executed, it causes no problem at all, but

[2020-03-12 15:11] jboler commented on #12402
I'm seeing the same issue. Once on my local development instance that had a freshly created neo4j v4.0.1 DB:
[code]
And then again on our application's staging environment backup run after upgrading the store from 3.5.14 to 4.0.1:
[code]

[2020-03-12 20:45] jboler commented on #12396
I fixed this by adding this to my neo4j.conf:
[code]

[2020-03-15 13:20] StrangeTcy opened #12427 "Neo4j 4.0.1 gets initialized, but fails to start"
Running `neo4j start` without any plugins enabled (an empty `/var/lib/neo4j/plugins` folder) works fine, but adding any plugin leads to the following error:

- Neo4j version: 4.0.1
- Operating system: Ubuntu 18.04

[2020-03-16 07:51] sherfert commented on #12427
Seems like the root cause comes from the drivers somewhere: `org.neo4j.driver.internal.handlers.pulln.AutoPullResponseHandler can not implement org.neo4j.driver.internal.handlers.PullAllResponseHandler, because it is not an interface`

[2020-03-16 09:02] StrangeTcy commented on #12427
Ok; so, can you suggest any debugging measures to take? Should I try different versions of the jdbc driver? Anything else?

[2020-03-16 09:13] chrisvest commented on #12427
Which plugins did you add, specifically? If one or more of those contain a driver, it could be the source of the class version conflict.

[2020-03-16 09:42] chrisvest commented on #12402
@jboler Can you attach the complete debug.log for the database that was created afresh? It's helpful that we are able to narrow down where the bug can hide.

[2020-03-16 10:35] desmap opened #12428 "lacking docs re binary UUIDs + clumsy docker config/tedious defaults"
This on cyper-shell: `CALL apoc.uuid.install('User', {addToExistingNodes: true, uuidProperty: 'uuid'}) yield label, installed, properties, batchComputationResult;`

leads to

`Unknown procedure output: 'batchComputationResult' (line 2, column 118 (offset: 118))
"CALL apoc.uuid.install('User', {addToExistingNodes: true, uuidProperty: 'uuid'}) yield label, installed, properties, batchComputationResu

[2020-03-16 12:13] StrangeTcy commented on #12427
I started with `neo4j-jdbc-driver-3.4.0.jar`, which proved to be enough. Disabling it and trying others one by one (`apoc-4.0.0.4-all.jar`, ` neo4j-graph-data-science-1.0.0-standalone.jar`) has similarly led to error.

[2020-03-16 12:51] martinfurmanski commented on #12428
Hello @desmap!

This issue report should go to: https://github.com/neo4j-contrib/neo4j-apoc-procedures
Can you kindly move it there and close this one?

BR
/Martin

[2020-03-16 14:12] desmap commented on #12428
@martinfurmanski done, however would keep the rest issue watched, the docs[1] re UUID are subpar and as said lacking, binary UUIDs + a documentation if they are lacking or not are a must for a  DB with this price tag

[1] the docs re UUID feel like a official neo4j thing despite the feature comes from apoc

[2020-03-16 14:35] martinfurmanski commented on #12397
@mskhan1403 I think you're supposed to use `/var/lib/neo4j/import/test-file.csv` in the command because `/production/analytics/Temp/test-file.csv` is outside your container if I understand this setup correctly.

[2020-03-16 17:01] martinfurmanski commented on #12428
@desmap I'm not sure there is anything for the core of the neo4j product here. Could you perhaps be a bit more specific or perhaps point to places in the current documentation where you think the changes you imagine would fit? Otherwise perhaps this isn't actionable and I wouldn't know where to triage it.

[2020-03-16 17:36] jexp commented on #12428
I agree with @martinfurmanski

this belongs to the apoc repo the UUID handler is all apoc and not Neo4j core product.

please raise the docker issues in https://github.com/neo4j/docker-neo4j

[2020-03-16 17:37] jexp commented on #12428
We will take your feedback on uuid's as a feature request.

[2020-03-16 19:48] desmap commented on #12428
@jexp as said, i raised the issue there already. re binary uuids: they are a must for every DB in 2020, especially if your actual ids are broken and reused (=> neo4j) and your price tag is one of the highest.

Users don't care if this is the apoc repo or whatever (btw they even don't care what apoc is and why you called apoc apoc): It's in the official docs of Neo4j https://neo4j.com/docs/labs/apo

[2020-03-17 00:36] JLT032 commented on #12030
Same issue connecting from dbeaver to neo4j on localhost over jdbc/bolt

[2020-03-17 09:13] zhenlineo commented on #12427
Hi @StrangeTcy,

The jdbc driver depends on a 1.6.1 neo4j java driver inside based on this [changelog](https://github.com/neo4j-contrib/neo4j-jdbc/releases/tag/3.4.0).

The server depends on a 4.0.0 neo4j java driver. So when you have both of them, maven will fail to load them correctly.

You could ask jdbc driver project whether they want to shade the driver. I can help you ask if neo4j would lik

[2020-03-17 09:56] AlexKeySmith opened #12429 "Open ID Connect built in support"
**Is your feature request related to a problem? Please describe.**
Integrating with Azure Active Directory isn't simple and requires a LDAP middleman such as Active Directory Domain Services. Single Sign on is often a security prerequisite for large organisations, but requiring LDAP (and it's baggage) is a hurdle to adoption.

**Describe the solution you'd like**
First class support for OpenID Con

[2020-03-17 12:06] andreycha commented on #12383
**TLDR: driver is not guilty.**

I already mentioned that during timeouts both Neo4j and client application seemed to do nothing. Detailed analysis confirmed it: Neo4j was waiting for write buffer to be consumed by client, and client was doing nothing. That resulted in timeouts up to 30 minutes long. Here is threaddump from Neo4j where it waits for client to consumer data:

Some more checks showed

[2020-03-17 12:06] #12383 closed, assigned to nobody

[2020-03-19 10:33] Anunayth opened #12430 "Neo4j Harness ServerControls not found"
I am trying to migrate from neo4j 3.5.14 to neo4j 4.0.1. I am trying to write test harness.
In 3.5.14 i was able to use org.neo4j.harness.ServerControls to create the embedded data server. But in v4.0.1 i am not able to use it. It throws error of import not found.
Please help me out where to find the ServerControls or alternative to create the test-harness for 4.0.1.

Java version : 11

The pom co

[2020-03-19 10:38] Anunayth opened #12431 "Not able to start neo4j 4.0.1 with custom procedure JAR"
I am trying to trying to run neo4j with custome procedure jar. The jar is built with JDK -11. On running neo4j, i get the following error message :

2020-03-19 08:44:55.797+0000 ERROR Failed to start Neo4j: Starting Neo4j failed: Component 'org.neo4j.server.database.LifecycleManagingDatabaseService@66b962b4' was successfully initialized, but failed to start. Please see the attached cause exception

[2020-03-20 14:49] chrisvest commented on #12402
The problem has been identified and will be fixed in an upcoming version. A mitigation strategy appears to be to move/rename/neutralise the `neostore.propertystore.db.index.id` file immediately after upgrading from 3.5 to 4.0.0, 4.0.1, or 4.0.2.

[2020-03-20 15:10] chrisvest commented on #12402
For those who have already upgraded, you can mitigate using the `neo4j-admin copy` command from the Enterprise Edition. Use that command to copy the database to a new location. The command will actually crash at the end, trying to print the schema information, but this is fine; the database is copied allright, but all the schema information will be gone, so you have to recreate all indexes and con

[2020-03-20 15:11] jboler commented on #12402
@chrisvest Thanks for the fix! Do I have to stop neo4j then delete or delete without stopping?

[2020-03-20 15:18] chrisvest commented on #12402
First stop, then remove the file.

[2020-03-20 19:53] ikwattro opened #12432 "[4.0.2][Security] Deny then Grant access to system db prevents user from connecting"
When we deny access to the `system` db to a role, it prevents a user having that role to connect to the neo4j server.
When granting again access to the db for the same role, the same user is still unable to connect to the neo4j server

**Neo4j Version:** 4.0.2
**Operating System:** OSX
**API:** cypher-shell

### Steps to reproduce

CREATE USER charlie SET PASSWORD 'secret1' CHANGE NOT REQUIRED;
CR

[2020-03-20 20:21] jlarteaga commented on #12402
@chrisvest Thank you so much!

[2020-03-21 10:31] chrisvest commented on #12402
Furthermore, the upcoming fix in 4.0.3 will include runtime checks that prevent the "non unique token" exception from happening even if the store was migrated from 3.5 by a 4.0.0, 4.0.1, or 4.0.2 version of Neo4j. This means the mitigations mentioned above will no longer be necessary for databases that haven't observed that exception yet.

If the "non unique token" _has_ occurred, however, then a

[2020-03-21 15:00] Brakebein opened #12433 "Neo4jError: Can't coerce `NO_VALUE` to Map"
**Neo4j Version:** 4.0.2
**Operating System:** Windows Server 2012 R2
**API:** neo4j-driver 4.0.1 (nodejs)

I found another bug that is very related to #12398 and #12399 . The query also uses `OPTIONAL MATCH` and map projections. And again, the error is thrown after executing the query 10 times. After clearing the query cache it will work another 10 times. The error output is slightly different:

[2020-03-22 18:56] PetrJanouch commented on #12427
Hi @StrangeTcy,

What do you mean by "Disabling it and trying others one by one" ? Do you mean physically removing the jar from plugins directory?

As has already been mentioned, the error you are getting is caused by two incompatible Neo4j java drivers on the class path. The information provided by @zhenlineo is not 100% correct as Neo4j server itself does not contain java driver, so it must be t

[2020-03-23 07:35] InverseFalcon commented on #12432
This is intended behavior, a GRANT and a DENY do not cancel each other out. When there is a simultaneous GRANT and DENY of access to something, the DENY will take precedence.

If you want to undo a DENY, then [REVOKE](https://neo4j.com/docs/cypher-manual/current/administration/security/subgraph/#administration-security-subgraph-revoke) the DENY.

This is noted at the bottom of [this section of the

[2020-03-23 08:06] sherfert commented on #12413
Thanks. We'll have a look into this!

[2020-03-23 08:09] sherfert commented on #12397
@mskhan1403 Does the suggested idea work for you? If not, please reopen this issue.

[2020-03-23 08:09] #12397 closed, assigned to nobody

[2020-03-23 08:17] #12432 closed, assigned to nobody

[2020-03-23 08:25] sherfert commented on #12430
The equivalent classes in 4.0 are `org.neo4j.harness.Neo4j`,  `org.neo4j.harness.Neo4jBuilder`, and `org.neo4j.harness.Neo4jBuilders`. You will start will `Neo4jBuilders.newInProcessBuilder().build()`

[2020-03-23 08:25] #12430 closed, assigned to nobody

[2020-03-23 10:51] shahadp commented on #12433
Hi,
As per the above
I can see the below issue is still not fixed in 4.0.2.
https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1427
4.0.2 Issue Log Fix
Fixed bug in compiled expressions where a null path from an OPTIONAL MATCH inserted into nested functions lead to an unexpected error.

[2020-03-23 14:05] fabio-s-franco commented on #12433
I can also confirm this has not been fixed in 4.0.2. Also getting it.

[2020-03-23 20:05] folterj commented on #12119
On version 4.0.2 again this same issue. This is a persistent bug.
I found many references to this and FINALLY found out why. As far as I know this is caused when stopping a database on neo4j Desktop by simply pressing the stop button.

I found this work-around:

- shutdown database
- open terminal
- run bin/neo4j console
- after startup, hit Ctrl+C to shutdown database
- run neo4j-admin dump

(Sou

[2020-03-24 09:11] izoratti commented on #12428
Hi @desmap, thanks for submitting this issue. I will take care of it as a request to add UUIDs procedures and as exposed IDs in graph elements.

[2020-03-24 09:12] #12428 closed, assigned to izoratti

[2020-03-24 09:22] izoratti commented on #12429
Hi @AlexKeySmith, thanks for raising this issue. We are planning to provide support for more authentication methods in future versions of Neo4j, I added your request to the list.

[2020-03-24 09:22] #12429 closed, assigned to izoratti

[2020-03-24 09:25] fabio-s-franco opened #12434 "Missing doc for config "unsupported.cypher.idp_solver_table_threshold""
I am getting this error:

However I cannot find these settings in the documentation configuration reference. The only reference about this config that I found was here: https://neo4j.com/developer/kb/manually-migrating-configuration-settings-from-neo4j-2x-to-neo4j-3x/

- Neo4j version: 4.0.2 enterprise
- Operating system: Origianl neo4j docker image
- API/Driver: NodeJS 4.0.1
- **Steps to reproduc

[2020-03-24 13:21] zhenlineo commented on #12431
Hi @Anunayth,
Your issue looks very like this one https://github.com/neo4j/neo4j/issues/12427#issuecomment-602255161.

Pls check if you have multiple java driver in your dependencies.

[2020-03-24 14:57] chrisvest commented on #12402
Fix has been merged and will be released soon.

[2020-03-24 14:57] #12402 closed, assigned to chrisvest

[2020-03-26 12:16] ielatif opened #12438 "Existential subquery and OR in WHERE clause cause UnknownError"
https://stackoverflow.com/questions/60678772/existential-subquery-and-or-in-where-clause-cause-unknownerror

Issue already fixed by @Lojjs https://github.com/neo4j/neo4j/commit/dc2065943bdfa236ccc87bdb5e051cce4f8bf523

Reporting this issue to share that it is known and solved.

[2020-03-27 11:24] #12433 closed, assigned to nobody

[2020-03-27 20:19] fabio-s-franco commented on #12433
Why is this closed? There is no pull request, no new release in the change logs and the referred commit is just a test scenario.
@sherfert any light on this? When should we expect this to be delivered?

[2020-03-28 07:54] malikalimoekhamedov commented on #12402
Awesome!

[2020-03-29 04:35] hariseldon78 opened #12439 "Unable to start neo4j docker image 3.5.17 - Plugin jar file: /var/lib/neo4j/plugins/apoc-3.5.0.9-all.jar corrupted."
When trying to use the last neo4j docker image 3.5.17 it doesn't start saying that the apoc jar file is corrupted.
I know for certain that it is not because it runs just fine with the 3.5.16 image. I also tried with an older jar of the plugin and get the same 'corrupted' error.

Here is the debug.log file

2020-03-29 04:27:36.609+0000 INFO [o.n.g.f.m.e.CommunityEditionModule] No locking implementa

[2020-03-29 12:22] bachmanm commented on #12389
+1

My query is it helps:

[code]

[2020-03-30 07:12] sherfert commented on #12433
Hi @fabio-510
The bug lived in the closed-source components of neo4j, which is why only the test scenario made it into the publicly visible commit.

The fix missed 4.0.3, but will be included in the 4.0.4 patch release, and will be visible in the changelog.

In the meantime, you should be able to work around it by writing `CYPHER expressionEngine=interpreted ...` in front of your queries.

[2020-03-30 07:38] sherfert commented on #12389
This has been fixed in 4.0.2

[2020-03-30 07:38] #12389 closed, assigned to Hunterness

[2020-03-30 07:48] sherfert commented on #12438
The fix will be included in the 4.0.4 patch release.

[2020-03-30 07:48] #12438 closed, assigned to nobody

[2020-03-30 09:08] conker84 opened #12440 "Query returns org.neo4j.cypher.internal.physicalplanning.ast.NullCheckReference"
In the Neo4j Spark Connector we have the following query in order to generate a test dataset that always worked:

[code]

https://github.com/neo4j-contrib/neo4j-spark-connector/blob/0ace7dbf8a7bf8c43800dca3fc6587d7cb9b914c/src/test/scala/org/neo4j/spark/Neo4jSparkTest.scala#L18-L26

**Neo4j Version:** 4.0.2
**Operating System:** Mac OS Catalina, but I used Docker Image `neo4j:enterprise`
**API:**

[2020-03-30 11:32] szarnyasg opened #12441 "Execution of complex query fails using the slotted runtime"
### Environment

- Neo4j version: 4.0.1 Enterprise, default runtime (slotted)
- Operating system: Ubuntu 18.04
- JDK: OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.4+11)
- API/Driver: web UI

### Steps to reproduce

The following query fails:

[code]

The error is:

[code]

Remarks:
* I was originally working on an LDBC dataset but the error can be reproduced in an empty database.
* I tried

[2020-04-01 14:11] manuelprinz commented on #12439
Also affected by this. Let me know if I can help with debugging!

[2020-04-01 14:24] SaschaPeukert commented on #12434
Hej @fabio-510,

Thanks for reporting this issue. We don't want to publicly advertise using those config settings because unnecessarily tweaking them could result in unfavorable planning behavior (e.g. longer planning times). Thus we would like to not add them to the documentation as indicated by the `unsupported` prefix.

Having said that, I would like to take a look at this query that triggers t

[2020-04-01 14:25] theethicalcoder81 commented on #12030
Hi I am getting this error "Connection to the database terminated. This can happen due to network instabilities, or due to restarts of the database", while I am trying to set up the database plugin to export a model from Archimate into Neo4j. Any ideas on how I can go about troubleshooting this ?

[2020-04-01 16:27] chrisvest commented on #12335
@dllz Do you use ZFS in your Ubuntu installation?

[2020-04-01 18:41] dllz commented on #12335
Hi, No I do not.
I think it is running on a normal drive, not even something in raid, we have 2 machines so it is hard to remember which one Neo4j was on back then.
One was a normal SSD the other is was running a standard ubuntu RAID.

[2020-04-02 15:20] fixbravo commented on #12363
Hello @Mats-SX ,

May I suggest that you do keep algo.similarity.jaccard in the future versions of the library ? The ability to do an index-based property filtering of the nodes before running the algorithm is quite useful given the fact that the complexity of the algorithm is quadratic.

Best regards,

Fix

[2020-04-03 07:10] Mats-SX commented on #12363
Hello @fixbravo

We have now opened up our open source repository for the GDS library here: https://github.com/neo4j/graph-data-science. If you don't mind, please create an issue there if you have feature requests or bug reports, and we will process them.

For `algo.similarity.jaccard` we have opted to keep the function version around, which you can read about in the [GDS Manual](https://neo4j.com

[2020-04-06 06:59] sherfert commented on #12440
Thanks @conker84
We will look into the problem!

[2020-04-06 07:10] sherfert commented on #12441
We merged a fix for this, which will be available in the 4.0.4 release.

[2020-04-06 07:10] #12441 closed, assigned to nobody

[2020-04-06 07:38] sherfert commented on #12440
We merged a fix, which will be included in the upcoming 4.0.4 release.

[2020-04-06 07:38] #12440 closed, assigned to nobody

[2020-04-06 09:17] jennyowen commented on #12439
@hariseldon78 @manuelprinz It seems to work if I use the (admittedly not yet documented) `NEO4JLABS_PLUGINS` flag feature.
For example:
[code]

so you can supply an environment variable `NEO4JLABS_PLUGINS` which should be a json list of the names of standard neo4j libraries. For 3.5.17 those are `"apoc", "streams", "graphql", "graph-algorithms", "n10s"`.

Anyway, when I ran that code snippet it do

[2020-04-06 12:54] janekdb commented on #9556
@fbiville On the 4.0 branch guava is now at 28.1-jre. Does this allow this issue to be closed or if not closed then updated with changed details?

[2020-04-06 14:19] fbiville commented on #9556
Thanks for the reminder, but I don't actually remember why I opened the issue in the first place :/
Let me close it and I will re-open it if something comes to mind. Thanks!

[2020-04-06 14:19] #9556 closed, assigned to Hunterness

[2020-04-06 21:31] janekdb opened #12453 "Turn on GitHub automated security updates"
The Neo4j repo is eligible for configuration with automated security updates.

https://help.github.com/en/github/managing-security-vulnerabilities/configuring-automated-security-
updates

Here is an example of the kind of pull requests that will be generated,

https://github.com/janekdb/neo4j-inspect/pull/1

Having this turned on does not appear to have a downside apart from needing to review the

[2020-04-06 23:19] hariseldon78 commented on #12439
$ md5sum apoc-3.5.0.9-all.jar
973b0e2fa4f1d4250952d1a33f00d9db  apoc-3.5.0.9-all.jar

$ sha1sum apoc-3.5.0.9-all.jar
8e93f820534f46d83782e1cfcc50626d3dbb3de2  apoc-3.5.0.9-all.jar

And you are right, with the NEO4JLABS_PLUGINS variable it seems to work fine. And the hashes do match, so it's definitely the same file. The only difference i can find is that the file downloaded automatically in the co

[2020-04-07 07:54] chrisvest commented on #12453
Those PRs interfere with our CLA check. We also don't need them. We already have periodic automated security scans, and each notice is manually investigated. We also regularly bump dependencies, which is not always as trivial as dependabot thinks.

It's a good idea for smaller projects, but it's not for us.

[2020-04-07 07:54] #12453 closed, assigned to nobody

[2020-04-07 07:56] conker84 commented on #12440
@sherfert thanks!

[2020-04-07 09:17] janekdb commented on #12453
Thanks for explaining this!

[2020-04-07 09:22] kaplan441 opened #12454 "org.neo4j.driver.exceptions.ClientException Unknown function 'ID'"
I cloned the belowing example code.
https://github.com/neo4j-examples/movies-java-spring-data-neo4j

I started same application in my computer then it throwed an exception.

org.neo4j.driver.exceptions.ClientException Unknown function 'ID'

-Neo4j version : 3.5.16
-Spring boot example code and pom.xml dependency are same in GitHub link
-Computer language is Turkish

Please help me.

[2020-04-08 02:03] SantaFlang opened #12460 "Failed to receive any data from the connected address"
I developed an app with using neo4j service at Linux server. And I can normally use browser to access the service. But I discovered that when use java driver in Android app, it throws the error ServiceUnavailableException: Failed to receive any data from the connected address...... I have tried the Windows Neo4j 4.0.1 edition and Linux 4.0.3, 3.5.17edition. They were all reported the same error.

[2020-04-08 11:13] martinfurmanski commented on #12404
@mikeblum There is currently no way of unbinding a single database and there is other work that needs to be done before that can be made available safely. For your use case of restoring a backup you should be able to use `DROP DATABASE` to get rid of all state associated with that particular database. Then you can `neo4j-admin restore` on all instances and after that do `CREATE DATABASE`.

[2020-04-08 11:32] janekdb opened #12461 "Float converted to double in 1/2 case - bug or intended?"
Can I have some guidance on whether this is a bug or intended behaviour,

[code]

From the 4.1 branch,

`Values.floatValue` is not used for `case f: Float` but `Values.floatArray` is used for `case "float"`

[code]

The method,

[code]

[2020-04-08 11:33] janekdb commented on #12461
michael.neo suggested asking here.

[2020-04-09 13:27] Anurag690 opened #12466 "Neo4j java cpu utilisation reaches 400%. Why?"
I am performing a load test on my server which internally hits neo4j server (configs below).
I am maintaining a single driver throughout the application. Just inside neo4j sessions i am executing queries.
Now when I increase the load to some 1000 requests per 60 seconds, then I observe in my server through the command "top" that the java cpu usage goes upto 400% and I start to receive 504 upstream

[2020-04-09 14:49] zhenlineo commented on #12466
Can you share your test code with us too? What kind of query you were running? Can you provide us some code that could recreate your problem?

[2020-04-09 15:35] Anurag690 commented on #12466
@zhenlineo
1. query
`with self.neo4j_instance._driver.session() as session: match (c:ABC {{id: '{}'}}), (t:XYZ {{id: '{}'}}), (pi:DEF {{is_active:1, my_id: '{}'}})
 with c,t,pi limit 1
 match (c)-[p:PROFILED]-(t)
 match (t)-[r:RELATED_TO]-(o:Oeoe {{is_active:1, is_image_available: 1}}) where not t:N_S and not o:DEPRECATED and not o.p_i in {}
 match (o)-[a:A_T]-(s:SC {{is_active:1}})
 {}
 match (s)

[2020-04-09 20:57] janekdb opened #12467 "Neo4j Browser randomises relationships list after colon is entered"
Neo4j Desktop 1.2.6

![image](https://user-images.githubusercontent.com/1123855/78939549-45121d00-7aac-11ea-8cf8-45504a61711a.png)

Windows 10

 **Steps to reproduce**

With the Movie DB open enter this query and press ctrl-space to show the completion list,

![image](https://user-images.githubusercontent.com/1123855/78939673-7db1f680-7aac-11ea-9733-8cb2358c7af6.png)

The relationship types are li

[2020-04-10 05:42] Anurag690 commented on #12466
@zhenlineo can you help me out?

[2020-04-10 10:18] aravindkota opened #12468 "Not able to run neosemantics in the neo4j 4.0.3 version."
Hi all,

I have added the procedure for semantics by downloading the latest jar file from neolabs repo. But When running the following command 'call n10s.graphconfig.init()' I am getting 'Neo.ClientError.Procedure.ProcedureNotFound' error message.

I am new to neo4j and am trying to load rdf data into the databse. Any help would be appreciated.

[2020-04-10 18:40] shathor opened #12469 "Licensing the repository"
Hello,
You could add the license GPLv3 to the github repository instead of just mentioning it in the README.asciidoc.

See: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/licensing-a-repository

Kind regards,

Shathor

[2020-04-11 09:21] SantaFlang commented on #12460
Well, it seems like no one would reply me...And finally, by accident, I changed one line in neo4j.conf, dbms.connectors.default_advertised_address = My server's IP address. The connection turned into  perfect. By the way, the default setting is localhost, and you can't use browser to visit Neo4j database remotely. Then when I have changed it into 0.0.0.0, the browser worked well, but bolt connecti

[2020-04-11 15:06] chrisvest commented on #12335
We've identified the bug, and merged fixes which will be included in the next releases of 3.5 and 4.0.

[2020-04-11 15:06] #12335 closed, assigned to nobody

[2020-04-12 13:14] SantaFlang commented on #12460
Well, I have solved my problem by using org.neo4j.driver:neo4j-java-driver:1.6.0. I have tried 1.0.5, 1.4.4, 1.5.0, 1.6.1, 1.7.2, 4.0.0 and 4.0.1. Maybe there are limits between the different version. Hope someone can figure this out.

[2020-04-14 07:05] sherfert commented on #12454
Hi @kaplan441
That repository is no longer maintained. Can you please try https://github.com/neo4j-examples/spring-data-neo4j-intro-app instead?

[2020-04-14 07:05] #12454 closed, assigned to nobody

[2020-04-14 07:09] sherfert commented on #12460
Hi @SantaFlang .
You can find the Java driver compatibility matrix here: https://github.com/neo4j/neo4j-java-driver/wiki

With your Neo4j Version 3.5.17 I would expect it to work _at least_ with Driver 4.0 and 1.7.
Can you confirm that this works?

[2020-04-14 07:19] sherfert commented on #12461
Hi @janekdb
This is a valid question. The Cypher type system does not distinguish between `float` and `double`. The class `FloatValue` should behave the same as `DoubleValue`, but could have a lower memory comsumption. I believe not using ` case f: Float => Values.floatValue(f)` is a simple oversight, but not a bug, because the behavior should be the same. You are very welcome to open a PR :)

[2020-04-14 07:27] sherfert commented on #12468
Hi @aravindkota
I see that you have opened and resolved the same issue here: https://github.com/neo4j-labs/neosemantics/issues/155

[2020-04-14 07:27] #12468 closed, assigned to nobody

[2020-04-14 08:19] asashour commented on #12413
I quickly looked into branch `4.1`, and I guess it is already fixed.

[2020-04-14 08:22] sherfert commented on #12413
@asashour it is partially fixed, and I have a PR under review to fix the remainder

[2020-04-14 08:44] technige commented on #12431
Closing due to inactivity. Please reopen if this is a different issue.

[2020-04-14 08:44] #12431 closed, assigned to nobody

[2020-04-14 09:10] janekdb commented on #12461
@sherfert Running local build on change and then will request pull.

[2020-04-14 09:26] SantaFlang commented on #12460
@sherfert Thank you for your advice.
I have tried Driver 1.7.0 and 4.0.0. The good news is 1.7.0 can work perfectly. However, 4.0.0 can't even build successfully, and it throws the error: neo4j Library source does not match the bytecode for class HandshakeHandler. And when I check I find I can't import io.netty.buffer.ByteBuf, maybe Neo4j Version 3.5.17 doesn't match the Driver 4.0.

[2020-04-14 10:55] janekdb commented on #12461
@sherfert I agree this is not a bug - there was no known incorrect behaviour. When creating an issue there was a choice between bug and feature request so it had to be bug!

[2020-04-14 11:25] sherfert commented on #12461
@janekdb Yes. We deliberately opted out of having a "question" category for issues, because we previously got overwhelmed with neo4j _usage_ questions that are better placed on, e.g. Stackoverflow or https://community.neo4j.com/

Questions about our code are obviously a different kind of question and we are happy to have them here.

[2020-04-14 11:50] #12413 closed, assigned to sherfert

[2020-04-14 12:36] kaplan441 opened #12473 "org.neo4j.driver.exceptions.ClientException Unknown function 'ID'"
I cloned the belowing example code.
https://github.com/neo4j-examples/spring-data-neo4j-intro-app

I started same application in my computer then it throwed an exception.

org.neo4j.driver.exceptions.ClientException Unknown function 'ID'

-Neo4j version : 3.5.16
-Spring boot example code and pom.xml dependency are same in GitHub link
-Computer language is Turkish

Please help me.

[2020-04-15 08:52] zhenlineo commented on #12460
@SantaFlang It looks like your original problem has already been resolved. But however you are seeing a new error when using java-driver 4.0.0 driver with Neo4j 3.5.17. Could you restate your problem following the issue template such as versions, steps to reproduce, expected behaviour?

[2020-04-15 15:25] gogolevao opened #12474 "SemanticError: Cannot merge node using null property value for key."
## Info

**Neo4j version:** 4.0.3. Enterprise Edition
**Java**: spring-data-neo4j
**Driver:** bolt-driver v3.2.9

Hello!
I want to create node entity with a composite id, but I have an exception after save entity into repository. I hope for your answer

### Steps to reproduce

1. Create a node entity, id, CompositeAttributeConverter and repository:

**ENTITY:**

@NodeEntity
@CompositeIndex(value =

[2020-04-15 16:06] Legolash2o opened #12475 "Can't login with fresh 4.0.3 install"
I have just installed a fresh neo4j-enterprise 4.0.3 on a Ubuntu server but I can't log in via the 7474 page. After entering neo4j user/pass it gets stuck connecting with the following messages in the console.

WebSocket connection to 'ws://localhost:7687/' failed: Error in connection establishment: net::ERR_CONNECTION_REFUSED

I can putty into the server and use cypher-shell fine.

- Neo4j versio

[2020-04-15 17:45] Legolash2o commented on #12475
Why is it trying to connect to localhost instead of the server address? :/

I've also tried changing the conf to include these:

[code]

[2020-04-15 18:06] Legolash2o commented on #12475
I had to change the conf to this to get it to work:

[code]

**Questions**
1. How do I get it so that I don't have to specify the IP address
2. Why do I now have to specify the IP address and not just :_7687_?
3. Why aren't the new 'advertised' settings not in the conf file by default.

Thanks.

[2020-04-17 06:39] asashour opened #12476 "Running built project"
- Branch `4.1`

On trying to run the built project, using the instructions in [README](https://github.com/neo4j/neo4j#running-neo4j), there are two issues. Also, I am trying to directly use IntelliJ.

1. `mvn compile exec:java` in `community/server` after full `mvn clean install -DminimalBuild` gives:

2. Going to `packaging/standalone/target` after `mvn clean install`, and running the server from

[2020-04-17 17:09] Muzosh commented on #10941
Hello, any new progress on this request?

[2020-04-17 20:10] fah opened #12479 "Add: CREATE CONSTRAINT ON (...) ASSERT n.value IN ('v1,'v2')"
## Feature request

**Problem:**
On CREATE I want to limit possible values of a property to a certain range.
This is a basic database functionality I'm missing in Neo4j.

**Solution:**
Add an additional constraint that allows generic test expressions like in WHERE clause.

**Example 1:**
I want to limit possible values of the property "type" to either "A","B" OR "C"
I add a constraint:
[code]

CRE

[2020-04-17 21:09] mmx003 commented on #7653
The issue is still open but are there any plans for it? It's been a long time since the last message

[2020-04-18 05:26] lingvisa commented on #4334
Hi, Is this feature has been implemented yet?  A common use case for this would be that, you want to create database based on a data model, where data model serves as the parameters for the graph creation code. In that case, labels, relationships and properties will be read from a csv file as usual but they will be all variables, parameters passed to the graph creation function. You don't want to

[2020-04-18 14:58] chrisvest commented on #10941
In 4.0 you can do this off-line with `neo4j-admin copy --skip-properties propA,propB,propEtc ...`

[2020-04-20 01:28] rlytleatrel8edto commented on #12440
Is there a release date planned for this?  It's fairly significant in scope, failing some pretty simple aggregations after our upgrade to the 4.0 platform.

[2020-04-20 06:49] sherfert commented on #4334
@lingvisa This has not been implemented yet.

[2020-04-20 06:50] sherfert commented on #7653
@mmx003 Hi and thanks for your interest. This feature is currently not prioritized, which also explains why there was such a long time since the last message. That still means we will consider it in the future, but not in the near future.

[2020-04-20 09:25] sherfert commented on #12385
I will close this issue because we cannot reproduce the issue without further information.

[2020-04-20 09:25] #12385 closed, assigned to nobody

[2020-04-20 12:33] Tin-Nguyen commented on #12030
I'm getting this error from Neo4j Sink Connector, the connector task stopped working after that `Connection to the database terminated. This can happen due to network instabilities, or due to restarts of the database`
Neo4j: 3.5.14

[2020-04-20 14:35] Muzosh commented on #10941
@chrisvest This doesn't seem to be an option for `neo4j-admin` command
![image](https://user-images.githubusercontent.com/30979983/79763894-ee66d780-8324-11ea-98c8-52d6ddacd5d5.png)

[2020-04-20 21:00] chrisvest commented on #10941
@muzos07 Your version only has `neo4j-admin copy` in the Enterprise Edition, but we're moving it to Community Edition in, like, 4.0.4 I think.

[2020-04-23 03:49] joehoeller opened #12482 "Enterprise & Community v3.5.16: Log our and cant log back in"
After I create a user or use default user after forced password change, in either community or enterprise, I’d I log out of UI with ‘:server disconnect’, I cannot log back in.

This is very problematic and should be addressed ASAP. NOT in the mood for developer pedantry either. Let’s just admit it’s a problem and fix it.

[2020-04-23 09:58] tomswinkels commented on #12361
Any update?

[2020-04-24 13:01] sherfert commented on #12440
@rlytleatrel8edto The 4.0.4 release is gonna come sometime next week or the week after. Ill report here again once it is published.

[2020-04-24 13:29] Andy2003 opened #12484 "Neo.DatabaseError.General.UnknownError Unfortunately, the planner was unable to find a plan within the constraints provided."
Given: Movie example Dataset
Cypher:

    MATCH
      (movie:Movie)
    OPTIONAL MATCH
      (movie)<-[:DIRECTED]-(a:Person),
      (movie)<-[:DIRECTED]-(b:Person)
      WHERE a.name = "Lilly Wachowski" AND b.name = "Lana Wachowski"
    OPTIONAL MATCH
      (movie)<-[:DIRECTED]-(c:Person)
      WHERE c.name = "Clint Eastwood"
    WITH
      DISTINCT movie,
       count(a) as countA,
       count(b

[2020-04-24 13:29] Andy2003 commented on #12484
cc @jexp

[2020-04-25 04:21] SUBHAMILA commented on #12198
Hi,
I am getting similar error, can you help me with it.
Thanks.
below is the error :
 recent version of the Java Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0".
	at org.neo4j.server.exception.ServerStartupErrors.translateToServerStartupError(ServerStartupErrors.java:45)

[2020-04-25 22:09] SebastianKG commented on #12361
Hi, I'm just checking in on this too. The Haskell Neo4j package `hasbolt` has been great to work with, but the maintainer can't easily make the library compatible with Neo4j 4 without documentation of the new protocol. See more here: https://github.com/zmactep/hasbolt/issues/21.
It would help greatly to know what the status of this work is.

[2020-04-26 10:09] dwanboweb opened #12486 "For several given points, how to quickly find their common points, and sort the Common points?"
I want to use neo4j to store structured medical diagnostic records.
![image](https://user-images.githubusercontent.com/17172451/80303488-29fd1800-87e3-11ea-97ac-995d618dc2a8.png)
The green node represents a medical report, the red node represents the structured report data (each report is a tree),and  the blue node are medical concepts(abount 20,000 to 30,000), and are used to indicate the meaning

[2020-04-26 18:41] Darthpathos opened #12488 "Neo4j - Dark mode causes Results text to be hard to read"
Hi all

Just started using Dark mode and thought I was overtired - results were being returned but i couldn't see them; realized it was because I couldn't see them <facepalm>.  I think this issue is fairly straightforward but please let me know if you need anything further.

- Neo4j version: 3.0.1 Community Edition
- Operating system: Mac OS Catalina 10.15.4

- **Steps to reproduce**
- Expected be

[2020-04-27 07:31] technige commented on #12475
@Legolash2o Thanks for raising this. The problem is already on our backlog and we are working on improving the experience here.

Firstly, note that if you use a `bolt://` URI to connect, instead of a `neo4j://` URI, you will work around the issue, by avoiding the internal routing table mechanism.

Connecting with a `neo4j://` URI in general requires setting the advertised address, which allows the

[2020-04-27 07:42] Legolash2o commented on #12475
Thanks for the response.

Within the C# code I do use bolt, but it was when I was trying to see the graph within the browser and the console showed errors. If an IP address is not provided in the config, I think by default it should try the same address entered in the address bar instead of 127.0.0.1.

Again, thank you for the response.

[2020-04-27 07:46] technige commented on #12475
Yes, that will ultimately be what it does when we have applied our update. The work will be to transmit this value from client to server.

[2020-04-27 07:59] chrisvest commented on #12198
This is always the same: you are asking an older JDK to load classes compiled with a newer JDK.

Either you are running Neo4j 4.0 on Java 8, or you are running Neo4j 3.x on Java 8, but you added a plug-in or extension that is compiled with Java 11.

The solution is to either downgrade or recompile that plug-in to work on Java 8 if you are using Neo4j 3.x, or to upgrade the JDK you are deploying on

[2020-04-27 07:59] #12198 closed, assigned to nobody

[2020-04-27 07:59] Legolash2o commented on #12475
Thanks!

[2020-04-27 07:59] #12475 closed, assigned to nobody

[2020-04-27 08:04] asashour commented on #12486
The [community](https://community.neo4j.com/) is the right place to ask similar questions.

[2020-04-27 08:05] dwanboweb commented on #12486
OK thanks

[2020-04-27 08:05] #12486 closed, assigned to nobody

[2020-04-27 09:36] mnd999 commented on #12484
Hi Andy,
We attempted to reproduce this by spinning up new 4.0.3 databases for both enterprise and community, loading the movies dataset using `:play movies` and running your query above. In both cases the query executed okay.
Could you share you `neo4j.conf` and let us know if we've missed anything in our steps to reproduce. If your movies dataset has been modified can you share the modifications

[2020-04-27 10:04] SaschaPeukert commented on #12434
Since there was no update, I am gonna close this for now. Reopen it if you want to pursue this further.

[2020-04-27 10:04] #12434 closed, assigned to SaschaPeukert

[2020-04-27 10:47] Andy2003 commented on #12484
I completely forgot that I had created two indices:

    CREATE INDEX person_name FOR (n:Person) ON (n.name)
    CREATE INDEX movie_title FOR (n:Movie) ON (n.title)

With these indices applied you will get the error mentioned in the issue.

[2020-04-28 09:28] ghost opened #12494 "Setting Neo4j up on goorm"
Hi there,

I am using goorm ide as my cloud ide, as I work from many different places and I do not want to set up tons of machines....
I am fairly new to neo4j but I wanted to fiddle around a little bit, before actually using it later ...

So yesterday, I created a new goorm container, nodeJS project on Ubuntu 18.04 and did as follows
`apt-get update
apt get upgrade`

Then I concluded to set up my

[2020-04-28 11:57] chrisvest commented on #12494
Try asking on our community site: https://community.neo4j.com
I think you have better odds of finding someone who's tried to use Neo4j with goorm on there, than this Neo4j specific issue tracker.

[2020-04-28 12:51] #12461 closed, assigned to sherfert

[2020-04-28 17:10] nikosantis commented on #12440
same error with:

`
const cypher = `
            MATCH (user:User {id: $user.id})
            MATCH (company:Company {id: $company.id})
            CREATE (form:Form)
            MERGE (user)-[:CREATED_A]->(form)
            MERGE (company)-[:HAS_FORM]->(form)
            SET form += $args
            SET form.id = randomUUID()
            SET form.haveCampaign = false
            SET form.created

[2020-04-28 23:49] jcrogel commented on #12392
Hey guys, is there a way to get a non-ssl connection to work with this?

Otherwise there's zero ways for someone to test and build prototype applications if its making everything hypercomplicated.

[2020-04-30 17:52] asashour commented on #12230
Is this still relevant?

The following code works:

    @Rule
    public Neo4jRule neo4j = new Neo4jRule()
            .withConfig( HttpsConnector.enabled, true )
            .withConfig( HttpsConnector.listen_address, new SocketAddress( "localhost", 0 ) )
            .withFixture( "CREATE (u:User)" )
            .withConfig( GraphDatabaseSettings.db_timezone, LogTimeZone.SYSTEM )
            .wit

[2020-05-01 08:05] amitabak-MA opened #12498 "neo 4.0.3 - labels not usable after bulk import"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: 4.0.3
- Operating system: (for example Windows 95

[2020-05-01 12:48] amitabak-MA commented on #12498
Additional info:  It seems that the root cause is some hoe related to the sequences of action I take when importing data using "neo4j-admin import"
IF I create a brand new DB and without EVER login in to it , I run the import.. all is well and the data becomes usable
ELSE if I even login once to the DB.. data ends up corrupted  and unusable .

Question: is this the expected result current state of

[2020-05-01 23:16] OscarSouth commented on #12361
Also checking in with an interest in `hasbolt` (https://github.com/zmactep/hasbolt/issues/21)

[2020-05-02 02:10] ozgursoy opened #12499 "Adding Multiple Limit for Cypher Queries"
Hi, Adding multiple "LIMIT" into queries would be great feature to create much more efficient queries.

Ex: I want to find only one node then use it with "WITH"

MATCH (artist:Artist)<-[similarRelation:SIMILAR]-(artist2:Artist)<-[:ON]-(music:Music)
return music, COUNT(similarRelation) as countRelation
ORDER BY countRelation DESC
LIMIT 1
WITH music, countRelation
......
LIMIT 10

in this example, s

[2020-05-02 11:20] luanne opened #12500 "Neo4j Desktop - Frequent JS errors"
JS errors (see attached screenshot) pop up very frequently

**Neo4j Desktop Version:** 1.2.7 (1.2.7.1676)
**Operating System:** MacOS Mohave

Steps to reproduce
1. Open Neo4j Desktop
2. Perform usual operations- start a database, use the browser etc.

### Expected behavior
No errors pop up

### Actual behavior
The following error frequently pops up
![image](https://user-images.githubusercontent.co

[2020-05-02 12:49] luanne commented on #12500
Sorry, just found the neo4j desktop repository, moving this there.

[2020-05-02 12:49] #12500 closed, assigned to nobody

[2020-05-03 08:12] luanne opened #12501 "db.labels() does not list all labels accessible by a user"
When READ and TRAVERSE privileges are granted on a specific label, only that label is returned in `db.labels()` and also shown in the browser Database Information->Node Labels section.
It should also return labels of nodes which have multiple labels, including the one which has been granted permissions.

Either that, or allowing access to a node with multiple labels where the user has privileges t

[2020-05-03 11:52] ikwattro opened #12502 "[Security][FullTextSearch] FTS not yielding any results when fine-grained access control is used"
When using fine-grained access control, FTS is not yielding any results even if a logged in user has access to some of the attributes of a given node label.

**Neo4j Version:** 4.0.3
**Operating System:** OSX
**API:** Browser

### Steps to reproduce

[code]

Log in as `tina`

[code]
0 results

### Expected behavior

FTS should return results matching on properties the logged in user is granted to

[2020-05-04 08:33] sherfert commented on #12499
You can specify multiple consecutive `LIMIT`s in a query. How about changing your query like this:

[code]

Or maybe I did not fully comprehend what you were trying to achieve? A full query with `collect` or `CALL` that does what you want would maybe help me.

[2020-05-04 14:55] sherfert commented on #12440
@rlytleatrel8edto @nikosantis
[Neo4j 4.0.4](https://neo4j.com/download-center/) has been released. Could you please verify that your bug is fixed in this version?

[2020-05-04 15:04] nikosantis commented on #12440
@sherfert we are updating our enterprise
Thanks!!!

[2020-05-04 15:14] tim-hanssen commented on #12361
It's hard to fix a driver without docs. Any progress on this?

[2020-05-04 19:57] jrsperry opened #12503 "OGM Session does not execute apoc.cypher.runFile"
To help us understand your issue, please specify important details, primarily:

- Neo4j version: 4.0.0
- Operating system: (Ubuntu 18.04)
- API/Driver: Java 4.0.0

Steps to reproduce
- I have a  OGM repository that needs to make an apoc.cypher.runFile call
- I have propositionRepository, PropositionRepositoryCustom, and PropositionRepositoryCustomImpl all in a project
- when I add a query (simple,

[2020-05-04 20:19] jrsperry commented on #12503
I couldn't seem to get the <code> to work properly. Sorry for the formatting. gave up after 15 minutes.

[2020-05-04 20:22] jrsperry commented on #12503
I could not for the life of me get the code formatting to work. Here are the 2 screenshots of the 2 code sections.
![image](https://user-images.githubusercontent.com/43385427/81009913-b4143480-8e12-11ea-94fb-86d6dd237712.png)
![image](https://user-images.githubusercontent.com/43385427/81010021-e2920f80-8e12-11ea-84be-ad30be305447.png)

[2020-05-05 04:16] raymondlinnn opened #12504 "Got this weird error when trying to connect Neo4j database with PHP"
Fatal error: Uncaught GraphAware\Bolt\Exception\HandshakeException: Handshake Exception. Unable to negotiate a version to use. Proposed versions were [1,0,0,0] in /Users/raymondlin/Downloads/411project1/vendor/graphaware/neo4j-bolt/src/Driver.php:165 Stack trace: #0 /Users/raymondlin/Downloads/411project1/vendor/graphaware/neo4j-bolt/src/Driver.php(151): GraphAware\Bolt\Driver->throwHandshakeExcep

[2020-05-05 06:12] asashour commented on #12504
The location for PHP questions is [here](https://community.neo4j.com/c/drivers-stacks/php/35).

Please post it there, and specify more details, like the driver version and Neo4J server version.

[2020-05-05 13:22] ofraiwan opened #12505 "Usage of parameters of type list"
List parameters cannot be indexed in neo4j 4. Whenever you try to take an element from a parameter of type list, this error is thrown:

[code]

Neo4j Version: 4.0.3
Operating System: Ubuntu 18.04.3 LTS
DB Mode: Causal Cluster

An example query to reproduce the issue is:
[code]

$range is the parameter in question with an example value [100, 200]

This error does not happen in the previous neo4j ve

[2020-05-05 15:45] jamesvrt commented on #12073
I'm having the same problem using the installer I downloaded using @chrisvest's link (`neo4j-desktop-offline-1.2.7-setup.exe`). I am also on Windows 10 Pro.

@vairavan92's tip didn't resolve the issue. `wmic.exe` was already accessible via `PATH`.

[2020-05-05 18:00] fbiville opened #12506 "[4.x] Cannot create database with test harness"
## Guidelines

- Neo4j version: 4.0.4
- Operating system: Mac OS
- API/Driver: Test harness

### Steps to reproduce

1. Clone https://github.com/fbiville/neo4j-harness-multi-db
2. Run the test with `mvn test`.

### Expected behavior
I expect a database to be created and the test to pass.

### Actual behavior
The test fails with the following error:
[code]

[2020-05-05 20:28] fbiville commented on #12506
Silly me, multi-database is an enterprise-only feature.

[2020-05-05 20:28] #12506 closed, assigned to nobody

[2020-05-06 08:04] martinfurmanski commented on #266
With the release of 4.0 which includes both multi-database and fabric support I think it is safe to call this issue finally resolved. Note that these are enterprise features. Please see https://neo4j.com/blog/neo4j-graph-database-4-0-ga-release/ for an in-depth discussion.

[2020-05-06 08:04] #266 closed

[2020-05-06 09:05] chrisvest commented on #12494
Closing due to inactivity, and also the reporter deleted their Github user account.

[2020-05-06 09:05] #12494 closed, assigned to nobody

[2020-05-06 09:20] fabio-510 commented on #12434
Apparently the issue was on a cypher just before that one:

`MATCH (m:Elements:`09d39560-3ef6-4add-b7a8-8b66d75fa051`:Creation:Model{polyglotID:$polyglotID})`

We dynamically inject the label "09d39560-3ef6-4add-b7a8-8b66d75fa051" and apparently using a verbatim string triggers this problem. Removing the backticks resolved the issue. So I guess that's the real issue behind it. This should throw a

[2020-05-06 09:20] fabio-510 commented on #12434
/reopen

[2020-05-06 13:28] kayrus commented on #266
time to switch to orientdb https://orientdb.com/orientdb-vs-neo4j/

[2020-05-06 13:57] averza opened #12507 "Relationship query can be very slow on a large database"
I imported Stack Overflow database (https://neo4j.com/developer/example-data/) into Neo4j 4.0.4. It has 123M relationships, mostly of type ANSWERED, POSTED, and ACCEPTED. There are also some TAGGED relationships but they are rare. When I click on TAGGED relationship type in the Neo4j browser, the query MATCH p=()-[r:TAGGED]->() RETURN p LIMIT 25 takes forever to execute (I waited for several hours

[2020-05-06 13:57] DeltaBravo commented on #266
Yeah, Neo4j seems to have abandoned FOSS--just early days PR to get the business going. They are chasing 'big data' and big money. It's a shame as graph databases are such a good fit for Web development today.
I invested four years into Neo4j and built a business and a product on top of it. : (
I am currently looking into TerminusDB.

[2020-05-06 18:34] cybersam commented on #12505
See https://stackoverflow.com/a/61642699/974731 for a couple of workarounds. They might help to debug this issue.

[2020-05-07 09:39] SpraylnlPray commented on #2073
Any update here?

[2020-05-07 10:31] tinwelint commented on #12498
I would that guess this is a counts store issue, since labels that have 0 usage count will be excluded from that list. So you're saying that:

1 create database
2 log in to it
3 run an import onto it
--> no labels in listing

If you skip (2) you get labels in listing?

[2020-05-07 10:45] tinwelint commented on #12498
@amitabak-MA OK I actually found the problem. In your case it's just the `neostore.counts.db` that is wrong after the import, you can shut down the db, remove that file and start again and it will be rebuilt. The next 4.0.x version will include this fix. Cheers

[2020-05-07 19:30] ofraiwan opened #12508 "[Neo.DatabaseError.General.UnknownError]: Tried to invalidate a cached property CachedProperty"
A strange exception was thrown by neo4j 4, the same query is being used on neo4j 3.5 without any unexpected behavior.

The exact exception is:
`ERROR Client triggered an unexpected error [Neo.DatabaseError.General.UnknownError]: Tried to invalidate a cached property CachedProperty(a,Variable(a),PropertyKeyName(uploaded),NODE_TYPE) but no slot was found for the entity name in SlotConfiguration(long

[2020-05-07 20:13] Joshfindit commented on #12475
*Please* make "running dockerized on a VPS" one of the top-level user scenarios.

Many of us are running VPS setups at home for local dev, and not running locally at all, and still more of us are spinning up throwaway cloud instances for dev.

And, as a personal request: let the browser be comfortable with having a different port number 'outside the container' such as `--publish=7400:7474 --publis

[2020-05-08 14:19] fabio-s-franco opened #12509 "Planner was unable to find a plan within the constraints provided"
Initially reported in #12434 as a way to report an error in doc, but after more diligence (and clarifying from neo4j team), it may be indeed a bug.

I am getting this error immediately after I try to run a cypher query:

**Neo.DatabaseError.General.UnknownError**

Try increasing the config values unsupported.cypher.idp_solver_table_threshold
and unsupported.cypher.idp_solver_duration_threshold to

[2020-05-09 02:12] ghost commented on #12357
Was this request completed?

[2020-05-11 11:42] Hunterness commented on #12357
@OpenCoderX I'm sorry but this does not seemed to have been done. It is however in the plans for Neo4j 4.2 at the moment, from the looks of it.

@izoratti probably have a clearer view of its status and plans for it.

[2020-05-11 11:58] andreycha commented on #12383
One more update. Specifying exact fields to be returned (`RETURN e.Id, e.IsActive, e.Name`) instead of returning nodes (`RETURN e`) helped to decrease query duration by 3-4x on average.

Quite a surprising imrovement to be honest. I knew that additional metadata is returned with nodes, but difference seems to be too big for that.

[2020-05-11 14:02] DFoxinator commented on #12383
@andreycha thanks for keeping us updated with your findings, it's greatly appreciated so everyone can learn. Do you have any strings/arrays on the node as properties? I think those get loaded separately so a large string value getting combined in the all prop fetch could maybe impact the load time.

[2020-05-11 19:12] #12503 closed, assigned to nobody

[2020-05-11 19:12] jrsperry commented on #12503
apoc.cypher.runfile works. something else is up with my code.

[2020-05-11 19:48] pricklywiggles commented on #12509
I started getting this in our app (built on aura)  after I added an index. I deleted the index for now. Let me know if another example would be useful.

[2020-05-12 08:22] sherfert commented on #12507
@averza is that an issue specific to version 4.0, or is that the same in 3.5?
Could you post here the output of `EXPLAIN MATCH p=()-[r:TAGGED]->() RETURN p LIMIT 25` ?

I would assume this is a query that would greatly benefit from having a relationship scan operator. Such a thing is in planning currently.

[2020-05-12 08:28] sherfert commented on #12508
Thanks for the bug report. We'll look into it.

[2020-05-12 08:29] sherfert commented on #12505
Thanks for the bug report. We'll look into it.

[2020-05-12 08:49] mnd999 commented on #12509
Thanks, for the report. We're investigating and should have a fix soon.

[2020-05-12 10:12] ofraiwan opened #12510 "Failed to restart discovery system"
Starting with **neo4j 4**, some core members of the Causal Cluster will hang at some point of time, and cannot be stopped until terminating it from the OS.
I looked over the logs and noticed that a message pointing that the cause cluster discovery system cannot be restarted for some reason.

**Setup**:
Neo4j Version: 4.0.3
Operating System: Ubuntu 18.04.3 LTS
DB Mode: Causal Cluster

Moreover, as

[2020-05-12 15:32] deemeetree commented on #11992
Was this resolved? I'm getting the same error in 3.3.3
https://community.neo4j.com/t/cant-backup-remote-database-using-neo4j/18332/8

[2020-05-13 09:09] technige commented on #12504
@raymondlinnn From the error detail you have provided, GraphAware's PHP driver supports Bolt version 1, which is available in all Neo4j releases between 3.0 and 3.5 inclusive. For Neo4j 4.0 and above, which I assume you are using, a later version of the protocol is required.

So your best bet will be to raise this issue with GraphAware directly, as this isn't software that is provided or supported

[2020-05-13 09:09] #12504 closed, assigned to nobody

[2020-05-13 09:16] asashour commented on #12510
There is `OutOfMemoryError`, did you try to increase the memory?

Please look into [Memory configuration](https://neo4j.com/docs/operations-manual/current/performance/memory-configuration/)

[2020-05-13 09:53] ofraiwan commented on #12510
The default neo4j JVM memory configuration is dynamic based on the running machine, each core server has an 8-GB RAM.

[code]

[2020-05-13 10:40] dj9966 opened #12511 "Neo4j hangs by a heavy write operation"
- Neo4j version: Community3.5.7
- Operating system: RedHat 7.2
- API/Driver: (Spring Data Neo4j)

Dear all,
We met a big problem recently. Sometimes when user commit a heavy write operation(about create/remove 30000 relationship),the neo4j instance hangs and could not accept request anymore, can't even login from the command line.We have to restart the instance.
After monitoring the linux system,w

[2020-05-13 13:16] averza commented on #12507
@sherfert Same issue in 3.5.17. Here is the "Code" output. If you like, I can provide a screenshot of "Plan" output.
`
Server version	Neo4j/4.0.4
Server address	localhost:7601
Query	EXPLAIN MATCH p=()-[r:TAGGED]->() RETURN p LIMIT 25
Summary
{
  "query": {
    "text": "EXPLAIN MATCH p=()-[r:TAGGED]->() RETURN p LIMIT 25",
    "parameters": {}
  },
  "queryType": "r",
  "counters": {
    "_stats":

[2020-05-13 14:46] sherfert commented on #12507
Alright, there is nothing unexpected with this plan. It's an `AllNodeScan -> Expand -> Limit -> Projection -> ProduceResult`.

The only thing to speed this query up without changing it, would be the aforementioned relationship scan operator. (I am treating this issue as a feature request for that now).

If you want to tweak the query, providing labels on the nodes, if you know what kind of nodes a

[2020-05-13 18:10] averza commented on #12507
OK, thank you! I hope it gets fixed because it is a sample database available on Neo4j webpage and the query is also generated by Neo4j.

[2020-05-15 00:42] nghiahhnguyen commented on #12030
I'm having this issue as well when my query is running for too long.

[2020-05-15 09:36] a-pagano commented on #12304
Hi,
We've installed the latest 3.5.X release (3.5.18) along with the latest apoc-all release (3.5.0.11) and it seems that this is still a problem:

assuming a fulltext relation index on `REL_TYPE` relations:

`MATCH p=(p1:Label1)<-[r:REL_TYPE]-(p2:Label2)
WITH collect(p1) + collect(p2) as collected_nodes, collect(r) as collected_rels
CALL apoc.export.cypher.data(collected_nodes,collected_rels,'/tm

[2020-05-15 16:48] andreycha commented on #12383
@DFoxinator not really. Nodes of this type consist of 5 properties: 3 integer properties, 1 boolean, and 1 string (with max length of 1000 characters, on average below 50 characters).

[2020-05-16 00:42] Tin-Nguyen commented on #6584
hi @sherfert , I'm back to this discussion thread here, as we upgrade to use the latest version of 3.5 (3.5.14). I'm wondering if you have any documentation related to how to use new indexing to speed up the query?

[2020-05-16 10:14] beingsagir commented on #12030
I am getting this issue too.

[2020-05-16 10:34] nghiahhnguyen commented on #12030
For what it's worth, I am reporting the cause of my issue. Because my query was using too much memory, my server ran out of memory, and `neo4j` is killed. I know this might not be true for everyone, but you can try and check if you are facing the same scenario.

I fixed it by using [periodic commits](https://neo4j.com/docs/labs/apoc/current/graph-updates/periodic-execution/).

[2020-05-17 13:02] ghost commented on #12511
Related issue: https://github.com/neo4j/neo4j/issues/12357

[2020-05-18 07:11] sherfert commented on #6584
Here is the documentation @Tin-Nguyen https://neo4j.com/docs/cypher-manual/current/query-tuning/advanced-example/#advanced-query-tuning-example-index-backed-order-by

Also, the broad scope of this feature is done in 3.5 and even more in 4.0. I am closing this issue. If anyone finds a query that should use index ordering, but doesn't, please open a new issue.

[2020-05-18 07:11] #6584 closed, assigned to Lojjs

[2020-05-18 07:11] ande8331 opened #12512 "Empty Response to ":sysinfo" in Browser"
To help us understand your issue, please specify important details, primarily:

- **Steps to reproduce**. *Not including reproduction steps will mean your bug will take considerably longer to investigate and fix. Please don't skip this*.
Start image: docker run --name testneo4j -p7474:7474 -p7687:7687 -d --env NEO4J_AUTH=neo4j/test neo4j:4.0.3
Open web browser to localhost:7474, login
Run ":sysinf

[2020-05-18 07:15] #12499 closed, assigned to sherfert

[2020-05-18 07:24] sherfert commented on #12388
In your log, we see

[code]

Maybe @chrisvest can help out here?

[2020-05-18 07:30] sherfert commented on #12323
@HashRocketSyntax Hi and sorry for replying so late. Could you elaborate ob your feature request?

[2020-05-18 07:31] #12316 closed, assigned to nobody

[2020-05-18 07:32] sherfert commented on #12303
Feel free to re-open if you can help us reproduce the issue please.

[2020-05-18 07:32] #12303 closed, assigned to nobody

[2020-05-18 07:33] sherfert commented on #12264
Please attach the debug.log and then reopen the issue. Thanks,

[2020-05-18 07:33] #12264 closed, assigned to nobody

[2020-05-18 07:34] sherfert commented on #12248
@theheedfulcoder Check this page out to get started with multiple databases in neo4j: https://neo4j.com/developer/manage-multiple-databases/

[2020-05-18 07:34] #12248 closed, assigned to nobody

[2020-05-18 07:45] MishaDemianenko commented on #12388
@ogronome Exception that you see means that you have a set of database files that you most probably copied manually as you describe above and set of transaction logs that do not belong to that set of database files.

To avoid getting this please try to avoid manual copying/removing database files and use database or admin command if those are available for the corresponding operations. Those will

[2020-05-18 10:53] aaron-dsouza-zz commented on #5444
@Anishx Its located at %HOMEPATH%\.Neo4jDesktop\neo4jDatabases\database-xxxxxx\installation-xxx\data\dbms

[2020-05-18 12:14] tim-hanssen commented on #12135
Hi Guys,

We're experiencing the issue again. The db returns paramters that don't exists, and is setting params that dont need to be set. As speciified about.

MATCH (:Environment)-[:HAS_PUBLICATION]->(n:Publication)-[rel:CONTAINS]->(r)
WHERE EXISTS (rel.TimelineConstraintHash)
RETURN rel.ElementId, rel.TimelineConstraintHash

The Element.Id doenst exists if i look at the object (it should exists)

[2020-05-18 14:12] ogronome commented on #12388
Well, 3.5 months has passed.

"solved" problem in march with:
dbms.recovery.fail_on_missing_files=false
rm -r /opt/neo4j/data/databases/s*
rm -r /opt/neo4j/data/transactions/*

This is definitelly sort of regression, because neo4j 3.5 didn't need these steps.

[2020-05-18 14:12] #12388 closed, assigned to nobody

[2020-05-18 16:39] ghost commented on #12323
you can close it. i took it up in a more defined way with the graph data science team.

[2020-05-18 16:39] #12323 closed, assigned to nobody

[2020-05-18 22:05] ozgursoy commented on #12499
I solved with apoc, just in case someone encounter the same problem
Thanks @sherfert

MATCH (u:User {name: "Bugra"})
WITH u
CALL apoc.cypher.run('
	MATCH (u)-[:LIKE]->(artist:Artist)
    WITH rand() as random, artist
    return artist
    ORDER BY random ASC
    LIMIT 3
',{u:u}) YIELD value
WITH value.artist as artist
CALL apoc.cypher.run('
    MATCH ...
    RETURN a2
    ORDER BY counter DESC

[2020-05-19 03:39] skmami opened #12513 "Import tool allowed duplicate records when they are only two characters long"
I am using neo4j-admin import command to load data from csv files.
I have some duplicate records in my CSV file and I passed the flag to skip duplicate records. It did skip records when the ID field is longer than two character length but some how able make into the neo4j when my ID length is only two characters long.

I caught these duplicate when I try to run constraint on my node.

[code]

[2020-05-20 11:04] asashour commented on #7814
Is there a real-life use case for a multi-label constraint, which could be shared with others?

[2020-05-20 12:43] naraesk commented on #7814
The use case is the same as for any other unique constraint. The question is, do you want to create the super type D (referring to the comment of spacecowboy ) or not? In my case, you would add the label D to tens of thousands of nodes, which would not be used in any query afterwards. This makes the database more complex than it should be.

[2020-05-20 21:33] jsoref opened #12514 "neo4j-admin 3.5 backup does not explain it could not connect to server"
- Neo4j version: 3.5.14
- Operating system: macOS / Linux
- API/Driver:
- **Steps to reproduce**
1. Do not run a neo4j server (or any other server) on `127.0.0.1:6462`
1. Ask `neo4j-admin` to perform a backup from that address:
[code]

- Expected behavior
    An error message indicating that no server responded from `127.0.0.1:6462`.
    Bonus points for an exit code that distinguishes between "sp

[2020-05-21 12:55] mnd999 commented on #12484
This should be fixed by https://github.com/neo4j/neo4j/commit/5db461fe8b64d42004e8f74181536548868a649e. This should be included in the next set of patch releases.

[2020-05-22 18:42] fabio-s-franco commented on #12509
Any update @mnd999?

[2020-05-24 15:40] germain05 commented on #11779
i have the same problem actually

[2020-05-25 11:22] #12498 closed, assigned to nobody

[2020-05-25 16:08] flip111 commented on #12326
Didn't work for me. Still getting this message.

[code]

[2020-05-26 07:53] jennyowen commented on #12326
@flip111 The repository moved to  https://debian.neo4j.com from .org, but the old one should still work. Our tests are all passing and I tried it just now and it seems to work? Perhaps the keyservers were down or something?
Can you try re-importing the key again?

[code]
Full debian installation instructions are here:
https://neo4j.com/docs/operations-manual/current/installation/linux/debian

[2020-05-26 15:24] mnd999 commented on #12509
Yes, I think we have a fix in 5db461f. This should be included in the next set of patch releases.

[2020-05-27 12:36] #12505 closed, assigned to sherfert

[2020-05-27 12:52] flip111 commented on #12326
Hi @jennyowen initially after i tried the commands i got about 20 lines of errors that look like

[code]

after removing all lines but the last one it worked well ! thanks for support

[2020-05-28 14:30] fssrepository commented on #12198
You are uploading released versions compiled with java 11, which does not work with latest community edition fuck sake.

[2020-05-28 14:52] burqen commented on #12511
@dj9966 Hi! Thank you for reporting.

The thread currently holding the lock on the synchronous community lock manager is in progress of releasing locks and most of the other threads are waiting for this to finish. They are not necessarily waiting for the locks help by this thread but they are waiting to access the lock manager itself. The thread holding that structure does not seem to be stuck how

[2020-05-29 00:32] cellcoresystems commented on #4334
@lingvisa I searched like hell and finally found it out.
you can do it like that:

[code]

The JSON looks like that:
[code]

[2020-05-30 23:23] darshanmehta10 opened #12515 "Unable to connect to Neo4j using Neo4j browser"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests.
If you have questions on how to use Neo4j, please ask on [StackOverflow](https://stackoverflow.com/questions/tagged/neo4j) instead of creating an issue here.

To help us understand your issue, please specify important details, primarily:

- Neo4j version: X.Y.Z
- Operating system: (for example Windows 95

[2020-05-31 02:50] xxks-kkk opened #12516 "Unable to build on Mac OS"
I try to build neo4j with branch `4.1` with commit ID: b6c5ce3699705b62f2813f321de666b0bda55b24 on Mac OS 10.14.6 with following Java version

[code]

and Maven version

[code]

I run the command `mvn clean install -T 8` and obtain the following error:

[code]

Do you know what might be the issue here? Thanks!

### Steps to reproduce
See above

### Expected behavior
Build pass

### Actual behavior

[2020-05-31 04:14] xxks-kkk commented on #12516
If I update `pom.xml` like following:

[code]

Then, I hit the error with `mvn clean install -T 8`

[code]

[2020-05-31 23:12] darshanmehta10 commented on #12515
**Update**

I tried to re-run the container with https (by performing steps mentioned in [this](https://github.com/neo4j/docker-neo4j/issues/225#issuecomment-622417422) comment). I also made chrome accept the certificate to get rid of the warning.

Now, when I open the browser at `https://my-ip:7473/browser`, chrome shows it as being secured. However, when I try to login, I still get the following

[2020-06-01 00:19] xxks-kkk commented on #12516
I disable tests in `/packaging/standalone/src/tests/shell-scripts/run-tests.sh` and
`/packaging/standalone/src/tests/shell-scripts/test-config.sh`

and it takes roughly takes 12 hours to finish the build (also there is a failure) with MacOS of the following specification

[code]

[code]

Does it take this long to finish the build process? Also, are all these unit tests failure expected?

Thanks!

[2020-06-01 13:29] genemishchenko opened #12517 "Vote An underscore in a parameter name causes a syntax error in Neo4j Browser 4.0.X"
This was encountered in Neo4j Community 4.0.4.

Trying to set a parameter name in the Neo4j Browser:
`:param doc_name => '...'`

Getting the following error:
[code]
This does not happen when using Cypher parameters in a driver session and it does not happen when using an older version 3.2.20 of the Browser.

Please see this [community post](https://community.neo4j.com/t/an-underscore-in-a-paramete

[2020-06-01 15:30] PetrJanouch commented on #12427
No response since 22nd March.

[2020-06-01 15:30] #12427 closed, assigned to nobody

[2020-06-02 11:21] deemeetree opened #12518 "Neo4J Online Backup Does Not Work"
- Neo4j version: 3.3.3 Enterprise
- Operating system: Ubuntu

- **Steps to reproduce**
- Expected behavior
Running
[code]
Online backup should work .

- Actual behavior

[code]

I've been trying to deal with it for 1(!) month already. Here's a thread on Neo4J forum. I tried everything, nothing worked.

https://community.neo4j.com/t/cant-backup-remote-database-using-neo4j/18332/33

It looks like Ne

[2020-06-03 08:01] asashour opened #12519 "Github latest release is not updated"
With "Feature Preview" in Github, the latest marked release is 3 years old.

![image](https://user-images.githubusercontent.com/2410127/83611206-f307e800-a580-11ea-87ca-c19bfe1a26ce.png)

[2020-06-03 08:09] mnd999 commented on #12476
I think you are starting neo4j in the correct way, and we've updated the README to reflect that `exec:java` is no-longer supported.

The password change error looks like a bug which I've passed on to the browser team for them to look at. As a workaround it's possible to change the password and log into the database using a cypher-shell.

[2020-06-03 09:32] mnd999 commented on #12518
Seems like this being looked into in the forum for the moment

[2020-06-03 19:58] xxks-kkk commented on #12263
I run into similar issue I believe, when I load source code of neo4j into intellij, the IDE shows that
`import org.neo4j.cypher.internal.runtime.QueryStatistics;` is not found for `RuntimeResult.java`. Do you have any suggestion what might happen here? @sherfert Thanks!

Neo4j commit id: 1a9468b0c3ee9c6070c68c33c6786ed01e11184c

[2020-06-04 12:46] p-buglewicz commented on #12119
Same here:
with version 4.0.4 shutting down with following script:

[code]
still sometimes produces the same issue.

Workaround with opening console does not apply here as I want to dump with a script within a docker container.

[2020-06-04 13:50] folterj commented on #12119
Another work-around after making changes:

- Stop
- Start
- Stop

[2020-06-04 14:02] iamFIREcracker opened #12527 "Web admin does not automatically re-connect to the database after a page refresh"
Neo4j version: 4.0.4
Set up: Docker image

**Steps to reproduce**
- Navigate to the Web admin URL (e.g. http://my-domain:7474/browser/)
- Fill in the Connect URL field (e.g. `bolt://my-domain:7687`)
- Select `Username / Password` from the Authentication type dropdown
- Fill in Username (e.g. `neo4j`)
- Fill in Password (e.g. `neo4j`)
- Submit -- it successfully logs you in / no errors on the brows

[2020-06-04 18:54] bwinchester opened #12528 "v4.0.4, Query completed after time is incredibly wrong."
Neo4J Search results timer when using called procedures is orders of magnitude off from the truth. Im loading CSV data. When I create load statements to merge/create 2 nodes and 1 relationship off each record, using native cypher/just no subqueries, the search results time to complete the search/statement appears accurate. When you use called procedures in your statement, the search/statement migh

[2020-06-05 07:31] caowencai opened #12529 "v.4.0.4, always add 'neo4j' in front of the url intead of the used 'bolt'"
the connect url has been set to blot, but the default curl head (version3.5 ) is set to 'bolt', but in verison 4.0.4, it is set to 'neo4j' which can not be connected rght.
So I  have to change it manually.
![image](https://user-images.githubusercontent.com/7457523/83847716-4b84e400-a73f-11ea-9838-88c5dccb2184.png)

[2020-06-05 10:43] iamFIREcracker commented on #12529
Yeah, I flagged the same yesterday -- https://github.com/neo4j/neo4j/issues/12527

[2020-06-06 10:37] luanne opened #12530 "Cannot shut down a Neo4j instance that forms the first member of a cluster"
I configured the first instance of a causal cluster and started it up.
As expected, it reports:

[code]

I tried to shut it down to change some config but I cannot. Tried `neo4j stop` as well as killing the process when I start it with `neo4j console`. I was forced to kill the process by pid in both cases.

The logs report:

[code]

- Neo4j version: 4.0.5
- Operating system: OSX
- API/Driver:N/A
-

[2020-06-08 08:11] martinfurmanski commented on #12530
@luanne Could you get us a stack trace of it after you have called stop?

[2020-06-08 13:00] technige commented on #12306
![](https://github.trello.services/images/mini-trello-icon.png) [#12306 Meta data unusable for queries returning arrays or maps (Transactional HTTP API)](https://trello.com/c/RdLaT7gm/452-12306-meta-data-unusable-for-queries-returning-arrays-or-maps-transactional-http-api)

[2020-06-08 13:37] technige commented on #12030
These will likely be fixed by the opt-in NOOP message introduced in 4.1.

[2020-06-08 13:37] #12030 closed, assigned to SaschaPeukert

[2020-06-08 16:15] luanne commented on #12530
Sure

[code]
Let me know if you want me to send you the debug.log somehow

[2020-06-09 14:02] SaschaPeukert commented on #12501
Hej,

This is actually intended behavior. But I will make sure that we improve our documentation around this.

[2020-06-09 14:02] #12501 closed, assigned to nobody

[2020-06-11 22:07] fabio-s-franco commented on #12509
I tested with neo4j v4.0.5 and apoc 4.0.0.12 and it seems to have fixed the issue, at least for this scenario and repro steps.

[2020-06-11 22:07] #12509 closed, assigned to mnd999

[2020-06-12 20:33] bensiron-wwt opened #12531 "neo4j hangs on shutdown then is forcibly terminated due to long running checkpoint process"
### Neo4j version:
3.5.9

### Operating system:
Ubuntu 16.04.6 LTS

### API/Driver:
N/A

### Steps to Reproduce
Not certain, has been occurring more and more often as the database has been growing in size.  This is a large database (72GB of data) running on 5 core servers and 3 read replicas.  Each machine is a r4.4xlarge AWS instance having EBS HDD disk space of about 500 GB and 122 GB of RAM.  3

[2020-06-15 12:08] ikwattro opened #12532 "[RBAC] user with reader role cannot use `db.stats.retrieve` procedure"
Following the [documentation](https://neo4j.com/docs/operations-manual/current/authentication-authorization/manage-procedure-permissions/#auth-manage-procedure-permissions-configure-procedure-permissions), a user with the role `reader` should be able to access `READ` procedures.

Following the [documentation for built-in procedures](https://neo4j.com/docs/operations-manual/current/reference/proced

[2020-06-16 07:26] Lojjs commented on #12532
@ikwattro Apart from the concept of procedure modes (READ/WRITE/SCHEMA/DBMS), there is also an `@Admin` annotation which says whether you have to be admin to run a procedure. This concept seems undocumented, at least in those places you linked to. The `db.stats.retrieve` procedure is one of the few procedures with mode READ which must be run by an admin, so the behaviour is expected. But I agree w

[2020-06-16 12:34] technige commented on #12306
![](https://github.trello.services/images/mini-trello-icon.png) [HTTP interface improvements](https://trello.com/c/ALFE4DKx/383-rejuvenate-http-transactional-endpoint)

[2020-06-16 12:35] technige commented on #12336
![](https://github.trello.services/images/mini-trello-icon.png) [HTTP interface improvements](https://trello.com/c/ALFE4DKx/383-rejuvenate-http-transactional-endpoint)

[2020-06-16 16:56] mnd999 commented on #12484
Neo4j 4.0.5 has now been released, and this issue is resolved. Will close this, but feel free to re-open if you have any issues.

Thanks for the report!

[2020-06-16 16:56] #12484 closed, assigned to mnd999

[2020-06-17 12:14] tinwelint commented on #12513
@skmami Hi and thanks for the report.

Strange, I tried the duplicate detection for a couple of two-character node IDs and it could detect them. What did your CSV data look like? Do you have a minimal CSV data set that can reproduce this? Also which Neo4j version?

[2020-06-18 19:05] casclayton commented on #12173
@chrisvest thank you very much

[2020-06-19 20:44] ikwattro opened #12533 "[RBAC] NodeCountFromStore is very slow when user doesn't have admin role"
Given a database named `people` with the following data :

20 million `:Person` nodes
10 million of them have the `Source1` label
10 million of them have the `Source2` label

And a role having the following permissions on the graph :

[code]

If the Neo4j admin would perform the following query :

[code]

It yields a plan with a NodeCountFromStore as first step and it is very fast ( generally 1ms

[2020-06-20 06:29] wangrui0 opened #12534 "How to build community clusters?"
How to build community clusters？

[2020-06-22 20:01] ELI7VH opened #12535 "session.writeTransaction does not support types even though it is a generic."
I am trying to use a generic type so I can use my transactions in a typed manner.

doing something like this:
[code]
gives me the following error (the red line us under `tx.run(query, formData)`):
[code]
the error goes away if i remove the `ScheduleRecord` from the `writeTransaction` generic argument.

[2020-06-23 20:06] teddylee123 opened #12536 "Neo4J Desktop Cypher Query - Parts of Labels Registering as KeyWords"
Hi there,

First time poster and Neo4j Desktop User - trying to upload and convert a csv file but parts of my query keep registering in Cypher/DesktopQuery as keywords making my code unusable. Please see screenshot of both my code and example Neo4J code attached - neither of which work properly.
<img width="1147" alt="Screenshot 2020-06-23 at 21 00 25" src="https://user-images.githubusercontent.co

[2020-06-24 20:30] fabio-s-franco commented on #12433
@sherfert  this bug keeps popping up again and again. We see the issue on 4.0.5 but it relates to path projection. It's going to take a while until I can get a repro working, meanwhile we are using again the "CYPHER expressionEngine=interpreted".

Now I am considering not removing it again, but I still don't understand the impact of it. There is no documentation I could find that explains what it

[2020-06-25 00:15] InverseFalcon commented on #12534
Hello,

Neo4j clustering (HA and causal clustering) are both enterprise-only features, so this is not available in community edition.

You might want to look into [Neo4j Aura](https://neo4j.com/neo4j-aura/), our db-as-a-service offering, for a fast way to leverage a causal cluster without needing to manage it yourself.

[2020-06-25 04:49] vorpus opened #12537 "Fulltext indexes are dropped randomly"
- Neo4j version: 3.5 and 4.0
- Operating system: Docker + Ubuntu 18
- API/Driver: Cypher

- **Steps to reproduce**
Create fulltext index, eg
1. `CALL db.index.fulltext.createNodeIndex("personFT",["Person"],["name", "username", "email"])`
1. `:schema` shows index (as expected)
1. Wait some amount of time (I have seen this happen sometimes in minutes, sometimes after a day)

- Expected behavior
1. f

[2020-06-25 06:50] sherfert commented on #12433
@fabio-510
I am sorry you keep running into this issue, that is really unfortunate.
We have fixed a couple of issues around this area, but apparently we must have missed something. If you find a way to reproduce, please reopen the issue! We want to find and remove the new problem you found as well.

There are two ways of executing expressions (like map-projections) in the `slotted` runtime. The `i

[2020-06-25 08:10] #12091 closed, assigned to nobody

[2020-06-25 10:03] vlasta-kus opened #12538 "Multiple ANY in WHERE clause fail to match: local variable issue"
**Neo4j Version:** 4.1.0
**Operating System:** macOS Catalina 10.15.3
**API:** Cypher

### Steps to reproduce
Create test nodes:
[code]

Task: match this pattern provided that you have for each node a list of desired strings, any of which is enough to match the node

### Expected behavior
This query should return the pattern:
[code]

### Actual behavior
It doesn't.

However, renaming local variabl

[2020-06-25 18:53] fabio-s-franco commented on #12433
Thanks for the clarification @sherfert , appreciate it. As soon as I am able to reproduce it I will create a new issue (I don't have the power to reopen an issue). The reason I do not open the issue right now is that I cannot simply share my database. So I need to create a data model that will trigger it and you can run on your side.

Having that said, it's good to have this as a setting, makes it

[2020-06-28 00:50] BlueDrink9 commented on #5668
This was helpful to me also. With neo4j versions > 3, the [config file and name has changed](https://neo4j.com/developer/kb/manually-migrating-configuration-settings-from-neo4j-2x-to-neo4j-3x/).

The new config lines that worked:
[code]

[2020-06-28 04:02] mikechengwei opened #12539 "Does the community version have CPU startup restrictions？max four core?"
- Neo4j version: 3.5.18

Does the community version have CPU or memory limit?

[2020-06-28 17:06] wadael opened #12540 "Query fails when using ORDER BY and LIMIT"
A quite simple query fails to return results, giving a Neo.DatabaseError.Statement.ExecutionFailed
when combining ORDER BY and LIMIT clauses at the same time in a Q that already uses NOT, CONTAINS

At first I thought it was related to aliases given to return values. Its not.

[ORDERLIMIT_issue.docx](https://github.com/neo4j/neo4j/files/4842603/ORDERLIMIT_issue.docx)

Attached documents provides th

[2020-06-29 06:15] 2hdddg commented on #12535
@ELI7VH you need to write the code to create a ScheduleRecord from a Result within the transaction function. Like:

session.writeTransactiuon<ScheduleRecord>((tx) => {
    var result = tx.run(query, formData);
    // Your code to construct a ScheduleRecurd from a result...
   ...
   return scheduleRecord;
})

[2020-06-29 06:34] Roxling commented on #12531
@bensiron-wwt I suggest to configure [dbms.checkpoint](https://neo4j.com/docs/operations-manual/3.5/reference/configuration-settings/#config_dbms.checkpoint) to either `volumetric` or `continuous` and increase the [dbms.checkpoint.iops.limit](https://neo4j.com/docs/operations-manual/3.5/reference/configuration-settings/#config_dbms.checkpoint.iops.limit) significantly. With a huge page-cache (in t

[2020-06-30 09:08] Xakim1c opened #12541 ""Database unavailable" if start in "read_only" mode after creating full_text index"
"Database unavailable" if start in "read_only" mode after creating full_text index (CALL db.index.fulltext.createNodeIndex)

read_only=false (it work's)
read_only=true (it doesn't work)

Exception: "Can not write to index statistics store while in read only mode."

Version 4.0 (Community edition)
![Screenshot from 2020-06-29 18-40-00](https://user-images.githubusercontent.com/49779328/86107372-8cc

[2020-06-30 10:00] byrneciaran commented on #12433
I have been running into this same issue. I thought if I used COALESCE it would resolve matters but it hasn't.

I am using the Neo4j.Driver 4.1.0 for my .NET Core Project.

Here is my cypher query:

[code]

It's definitely a show stopper for me, unless there is a workaround ?

[2020-06-30 11:19] sherfert commented on #12433
@byrneciaran
Could you please share you to setup the database before running the query and which neo4j version your are using?

For a workaround, please find detailed explanations above.

[2020-07-01 09:15] sherfert commented on #12528
![Screenshot from 2020-07-01 11-13-18](https://user-images.githubusercontent.com/22634484/86226433-f3999b80-bb8b-11ea-8cc9-484aac1fd37b.png)

I tried with `apoc.util.sleep()` and could not reproduce the problem. Could you @bwinchester provide a CSV file and the exact Cypher you are running so that I can reproduce the issue?

[2020-07-01 09:22] mnd999 commented on #12518
I haven't seen any replies on the forum thread for a little while so I will assume this is resolved, feel free to re-open if this is not the case.

[2020-07-01 09:22] #12518 closed, assigned to nobody

[2020-07-01 14:04] tinwelint commented on #12513
Have you managed to reproduce this on some sort of minimal data set somehow?

[2020-07-02 12:46] mnd999 commented on #12540
Thanks for the report, I've had a brief look at this but was unable to reproduce the issue immediately. I have only created a few nodes though and I am getting a very different plan to you so that is likely the reason. I note that you're using enterprise edition, so if you have a support contract in place already please consider raising this via that route as any NDAs etc. we may need to examine y

[2020-07-02 20:04] ELI7VH commented on #12535
@2hdddg ah gotcha. Thank you :)

[2020-07-02 20:04] #12535 closed, assigned to nobody

[2020-07-02 20:53] mikernorton opened #12542 "Neo4j 4.1.0 uses backup-dir as home dir"
I'm testing backup processing, and I'm getting an error on backup that it can't find the certificate files. They exist, and are set in the certificates directory of the neo4j home dir. Neither executing the command from neo4j's home dir or setting dbms.directories.neo4j_home helps. Setting an absolute path for each of the dbms.ssl.policy.*.base_directory does work, but should not be required.

- N

[2020-07-04 16:05] mnd999 commented on #12532
Closing this issue, feel free to re-open if you have any further issues.

[2020-07-04 16:05] #12532 closed, assigned to mnd999, Lojjs

[2020-07-05 22:50] wadael commented on #12540
Hello Mark,

Fortunately, I retrieved the stats before I cleared the QUERIES part, for if I run the failing Q, I get nothing as a result of
CALL db.stats.retrieve('QUERIES')

(no changes, no records)

The CALL db.stats.collect('QUERIES') (I did before) displayed true

I use the enterprise edition with Neo4jDesktop, I have no support contract.
I report to help the project.

I encountered this issue

[2020-07-06 07:14] jennyowen commented on #12519
hmm that's weird. Thanks for reporting the issue. I will investigate.

[2020-07-06 07:22] #12534 closed, assigned to nobody

[2020-07-06 08:04] jennyowen commented on #12539
Hi @mikechengwei the community edition does not come with any restrictions on resource usage.

This documentation page might be relevant for you:
https://neo4j.com/docs/operations-manual/current/performance/disks-ram-and-other-tips/

[2020-07-06 08:04] #12539 closed, assigned to nobody

[2020-07-06 08:12] K-Lovelace opened #12543 "Query planning throws error with COLLECT/UNWIND on Neo4j 4.1.0"
I discovered a bug on Neo4j 4, when using a combination of COLLECT/UNWIND and three or more WHEREs.

- Neo4j version: Tested on 4.1.0 and 4.0.4
- Operating system: Ubuntu 18.04
- **Steps to reproduce**
I tested it on the movie example database in Neo4j Desktop (Neo4j 4.0.4)
Here is the request:

[code]

I simplified it to the maximum so it's easy to reproduce.
It also fails with EXPLAIN keyword in

[2020-07-06 10:44] pjljvandelaar opened #12544 "Null pointer exception on Edge without a data node"
### Version Info

- Neo4j Desktop version: 1.29
- Neo4j version: 4.1.0
- Operating system: Windows 10 (64 bits)
- APOC: 4.1.0.0

### Steps to reproduce
1. Add a new database.
2. Install the APOC plug-in
3. Add to settings
[code]
4. Create File "test.graphml" in directory
`C:\Users\<name>\.Neo4jDesktop\neo4jDatabases\database-<id>\installation-<neo4j-version>\import\`
with content
[code]
5. Load fi

[2020-07-06 11:03] tomasonjo opened #12545 "Unable to get a routing table for database 'foo' because this database does not exist"
To help us understand your issue, please specify important details, primarily:

- Neo4j version: neo4j:4.0.6-enterprise
- Operating system: CentOS Linux 8 (Core)
- API/Driver: cypher-shell

### Steps to reproduce
1. Pull the image: `docker pull neo4j:4.0.6-enterprise`
2. Create a directory on the host that will be a mount for the data: `mkdir neo4j/backup`
3. Copy a database dump to `/home/backup`